[2020-11-16 11:25] lukos opened #6107 "Blank solution template not present"
The page talks about creating a blank solution but this is not present in my "Create a new project" dialog. I can't imagine that it wouldn't be installed by default but the article should say what to do if the template is not present/available when you search for it.

I have VS 16.8.0 on Windows 10

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2020-11-16 13:35] Jacquers opened #6108 "Breakpoint Visual"
It looks like the visual has changed?

The arrow looks bigger and it doesn't look as nice as before.

![image](https://user-images.githubusercontent.com/31434053/99258468-4d3ff100-2821-11eb-896b-0abc10f8411f.png)

* This is for C#

[2020-11-16 17:56] prnadago commented on #6104
That's odd. Can you tell us what steps you took to get to that state so we can reproduce if it's a bug?

Also please try opening the repo from top level menu Git -> Local Repositories. You should see your repo in that list. Thanks!

[2020-11-16 17:58] #5809 closed

[2020-11-16 19:06] MrCull opened #6110 "The README file in this repo has a bad link - [404:NotFound]"
The markup version of the readme that is displayed for the main page in this repo contains the following link:
Status code [404:NotFound] - Link: https://github.com/Microsoft/vsdocs

In the readme the comment after the link says "Traffic to the old URLs is redirected here."
However this is not the case and 404 happens instead of a redirect.

Perhaps this comment just needs removing?

[2020-11-16 19:52] brmallon opened #6112 "Zip file can't be downloaded"
The link to the Zip file is localhost/assets/app.zip

It can't be download, which means no tutorial. Can someone fix this issue. Thank you.

Brian Mallon

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 38a38919-b557-4723-7ea9-b0fbafbfdc52
* Version Independent ID: 2117c374-eda9-906e-392e-c55e1ebf8060
* Content: [Docker

[2020-11-16 20:13] jotheman0303 opened #6113 ""Migration" option is not an actual migration option, please make a migration possible!"
You mention the option to "migrate" an existing tenant to the M365 licensing. This is *not* a migration option but simply recreating the tenant. When is an actual migration option coming? Still waiting to apply a Microsoft 365 license to my existing (O365 Developer) tenant...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2020-11-16 23:19] WilliamAntonRohm commented on #6101
@weiyinjuan -- thank you for your feedback.  This issue is being tracked in https://github.com/MicrosoftDocs/visualstudio-docs/issues/5998.

cc @ghogen for awareness

[2020-11-16 23:19] #6101 closed

[2020-11-16 23:21] WilliamAntonRohm commented on #6110
@MrCull -- Mark, thank you for your prompt action.

I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2020-11-16 23:21] #6110 closed

[2020-11-16 23:22] WilliamAntonRohm commented on #6112
@brmallon -- thank you for your feedback. This issue is being tracked in #5998.

cc @ghogen for awareness

[2020-11-16 23:22] #6112 closed

[2020-11-16 23:26] WilliamAntonRohm commented on #6108
@Jacquers -- thank you for your feedback.  Are you following a particular docs.microsoft.com article?

[2020-11-16 23:29] WilliamAntonRohm commented on #6113
@jotheman0303 -- thank you for your feedback.

@evanwindom -- please look into this issue.

[2020-11-17 00:18] evanwindom commented on #6113
@jotheman0303 - Thanks for reaching out.  The terms of the offer and the behavior of the tenant are determined by the Office team.  I checked with them, and you do need to create a new tenant because of the way free offers like this are set up.  To my knowledge, there are no immediate plans to change how this works, but if it does change we will update the article.

[2020-11-17 00:18] evanwindom commented on #6113
@please-close

[2020-11-17 00:19] evanwindom commented on #6113
#please-close

[2020-11-17 00:19] #6113 closed

[2020-11-17 00:33] asklar opened #6115 "CPreprocessOptions should include /E"
If you are specifying a non-empty CPreprocessOptions, it should include /E to actually pre-process the idl file

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c9801fb-3278-8e3d-e11a-19cfc07b903c
* Version Independent ID: e5900f57-a15f-19be-eb93-51da01b3ad1b
* Content: [MIDL Task - Visual Studio](https://docs.microsoft

[2020-11-17 06:12] Jacquers commented on #6108
Guess I should have left it on VS feedback. Got here via a link on the last VS release notes page.

[2020-11-17 17:30] WilliamAntonRohm commented on #6108
@Jacquers -- here's a feedback link:
- Suggest a feature, track product issues, and find answers in the [Visual Studio Developer Community](https://developercommunity.visualstudio.com/).

I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2020-11-17 17:30] #6108 closed

[2020-11-17 17:34] #6056 closed

[2020-11-17 18:00] Rockies98 commented on #5609
My apologies at taking so long to get back to you on this. As the Visual Studio product has evolved considerably since the 2012 version, the VS 2019 product is quite different. I suggest you visit https://docs.microsoft.com/en-us/visualstudio/install/workload-and-component-ids?view=vs-2019 to gain info on the Workloads and Components that are offered in VS2019. From there you can work with your de

[2020-11-17 18:03] AllenD-MSFT commented on #5609
Additionally, let me apologize for my post above which was posted using my personal GitHub account. That should have come from this MSFT account.

[2020-11-17 19:19] kendrahavens commented on #6012
@EricAllen-tr Thank you for bringing this up we will work on updating the documentation. In the meantime, this format should work:
[code]

Make sure to have a space between `TestCategory` and `[SchemaUpdateBasic]`. Let me know if you still have any issues.

[2020-11-17 19:24] xcITs-Xian opened #6119 "Really? This page disregards all instructions from the docs."
I don't get it. There is a very good best practice page https://docs.microsoft.com/en-us/dotnet/core/testing/unit-testing-best-practices#avoid-logic-in-tests and this page makes all the "bad" things which are described on that page.
I don't think this is helpful for new devs.

I think the documentation needs a little more unit testing itself ... ;-)

---
#### Document Details

⚠ *Do not edit this

[2020-11-17 19:47] EricAllen-tr commented on #6012
@kendrahavens : Thank you for your reply. I have tried the syntax indicated, but the results are that my Test Window shows no tests available (there should be 68 matching tests), and that a "Run All" runs no tests.

See attached screenshot.
![Playlist-Syntax-Results](https://user-images.githubusercontent.com/52718058/99439853-bc7e1980-28e3-11eb-9b45-d3026ac351ae.png)

[2020-11-17 20:05] TerryGLee commented on #6088
@vpereira01 To follow up, we've updated the [Requirements](https://docs.microsoft.com/en-us/visualstudio/xaml-tools/xaml-designtime-data?view=vs-2019#troubleshooting) section of the _Use Design Time Data with the XAML Designer in Visual Studio_ page to include the information that you pointed out was missing. We'll close this issue now, with our thanks to you for helping us improve the documentati

[2020-11-17 20:05] #6088 closed

[2020-11-17 20:14] TerryGLee commented on #6107
@lukos Thanks for letting us know about your experience. After testing, we've discovered that after you install a workload or two, there are more templates for you to choose from, which pushes the Blank Solution template to the **Other results based on your search** section of the list. We've updated the page by adding a Tip note that indicates this. We'll close this issue now, with our thanks for

[2020-11-17 20:14] #6107 closed

[2020-11-17 21:52] evanwindom commented on #6063
@clerckjo - Thanks for reaching out.  I apologize for the delayed response.  The option to use Azure Active Directory groups is available for "trusted" agreements only.  If your company is using an agreement like Open or Select, the option is not available to use Azure AD groups.  The limitation is listed in the blue "Important" section displayed just above the video in the article.

[2020-11-17 21:52] evanwindom commented on #6063
#please-close

[2020-11-17 21:52] #6063 closed

[2020-11-17 22:07] Mikejo5000 commented on #6119
@xcITs-Xian Thanks for bringing this up! I will be interested to look at the best practices, and see about making some updates.

[2020-11-17 22:13] kendrahavens commented on #6012
Sorry

[2020-11-17 22:15] sayedihashimi commented on #5275
@WilliamAntonRohm I'm no longer working with Visual Studio for Mac. I think this would be better assigned to @jmatthiesen.

[2020-11-17 22:16] sayedihashimi commented on #4863
I'm no longer working with Visual Studio for Mac. I think this would be better assigned to @jmatthiesen.

[2020-11-17 22:16] ornellaalt commented on #5609
Closing out this issue as it doesn't require a documentation change.

[2020-11-17 22:16] #5609 closed

[2020-11-17 22:16] kendrahavens commented on #6012
Could you share the new playlist syntax you are using?

Something that tripped me up was specifically not including a space between `TestCategory` and the value. If you don't have that space it will show the `No tests found` message. I don't think you need the `Match="Contains"`, but I can run it by our team again.

[2020-11-17 22:17] sayedihashimi commented on #4276
I'm no longer working with Visual Studio for Mac. I think this would be better assigned to @jmatthiesen.

[2020-11-17 22:17] sayedihashimi commented on #4254
I'm no longer working with Visual Studio for Mac. I think this would be better assigned to @jmatthiesen.

[2020-11-17 22:18] EricAllen-tr commented on #6012
My first pass was copy paste from your post above (I didn't want to risk a typo). I'll try with the contains.

[2020-11-17 23:35] kendrahavens commented on #6012
Ah, I'm sorry I had been using the xUnit category. I just re-read and realized you were on MSTest. The syntax is indeed slightly different. Please try the below.

[code]
![image](https://user-images.githubusercontent.com/8293542/99463339-58ab1f00-28ea-11eb-913d-4ed0caf78e30.png)

[2020-11-17 23:44] kendrahavens commented on #6012
Also, if you could share the version of VS you are using that would be helpful! You can find this in Help > About in the top-level menu.

[2020-11-18 02:24] WilliamAntonRohm commented on #5139
@jmatthiesen -- Jordan, thank you for your assistance.

[2020-11-18 02:24] #5139 closed

[2020-11-18 02:26] #3692 closed

[2020-11-18 02:37] #6098 closed

[2020-11-18 13:24] dombat opened #6122 "How about an example in Code analysis solution property page?"
It would be helpful if this page contained an example.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: efd1e8a4-67b0-57f9-7026-dab24253f7a9
* Version Independent ID: b04dd946-edef-3bbc-ebd1-b6ac43d19689
* Content: [EditorConfig versus analyzers - Visual Studio](https://docs.microsoft.com/en-gb/visualstudio/code-quality/

[2020-11-18 13:59] StephenHodgson opened #6123 "Missing visual studio for mac terminal installation documentation"
[Enter feedback here]
No information about how to install visual studio for mac via terminal.
Similar articles exist for windows:

https://docs.microsoft.com/en-us/visualstudio/install/use-command-line-parameters-to-install-visual-studio?view=vs-2019

https://docs.microsoft.com/en-us/visualstudio/install/command-line-parameter-examples?view=vs-2019

---
#### Document Details

⚠ *Do not edit this s

[2020-11-18 15:33] agribot2 opened #6124 "visual studio 2019 arguments for python scripts"
On the web page that explains how to run python code, it would be helpful to mention how to enter arguments that are passed to the script.

Also ... I have a question ;- I have 3 different python script files in my 1 project. Each script requires at different set of script arguments.

Is it possible to set and store 3 different script arguments so that when I switch   from one script to another, t

[2020-11-18 17:56] EricAllen-tr commented on #6012
Unfortunately, I am in the process of having my machine wiped and reset, so visual studio is currently uninstalled. I know I had initially logged the issue on Oct 23 while running 16.7.3 visual studio (I write this stuff down) and I was on version 16.7.7 before my machine got reset yesterday. Your syntax you suggested [above](#issuecomment-729277937) is one variation I had tried originally, before

[2020-11-18 19:06] kendrahavens commented on #6012
Thank you! We appreciate it and I hope we can get to the bottom of the issue soon.

[2020-11-19 15:53] paulomorgado opened #6127 "Missing documentation for Intrinsic Functions"
This page is missing documentation for some functions defined in https://github.com/dotnet/msbuild/blob/master/src/Build/Evaluation/IntrinsicFunctions.cs

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 82a1a083-bea0-e53e-dc9e-78f201ac1314
* Version Independent ID: 904dae68-65cb-ec55-2fb3-1075ceaf6f1c
* Content: [Propert

[2020-11-19 16:36] rainersigwald commented on #6127
I'll take a crack at this @ghogen.

[2020-11-19 17:48] WilliamAntonRohm commented on #6122
@dombat -- Dominic, thank you for your question.  Please clarify the kind of example you'd like to see.  Meanwhile, consider these resources:
- [Visual Studio on Q&A](https://docs.microsoft.com/en-us/answers/products/vs)
- [Visual Studio MSDN Forum](https://social.msdn.microsoft.com/Forums/vstudio)
- [Stack Overflow](https://stackoverflow.com/search?q=%22visual+studio%22)
- [Reddit](https://www.re

[2020-11-19 17:50] WilliamAntonRohm commented on #6123
@StephenHodgson -- Stephen, thank you for your question.  Please consider these resources:
- [Visual Studio on Q&A](https://docs.microsoft.com/en-us/answers/products/vs)
- [Visual Studio MSDN Forum](https://social.msdn.microsoft.com/Forums/vstudio)
- [Stack Overflow](https://stackoverflow.com/search?q=%22visual+studio%22)
- [Reddit](https://www.reddit.com/r/VisualStudio)

@heiligerdankgesang -- Do

[2020-11-19 17:54] WilliamAntonRohm commented on #6124
@agribot2 -- Agribot, thank you for your feedback and questions.  For your questions, please consider these resources:
- [Visual Studio on Q&A](https://docs.microsoft.com/en-us/answers/products/vs)
- [Visual Studio MSDN Forum](https://social.msdn.microsoft.com/Forums/vstudio)
- [Stack Overflow](https://stackoverflow.com/search?q=%22visual+studio%22)
- [Reddit](https://www.reddit.com/r/VisualStudio

[2020-11-19 19:22] StephenHodgson commented on #6123
Yeah... None of those links addresses the problem.

We're missing supplementary documentation that is provided for the windows installer but not for the mac one as described in the description.

See:
https://docs.microsoft.com/en-us/visualstudio/install/use-command-line-parameters-to-install-visual-studio?view=vs-2019

https://docs.microsoft.com/en-us/visualstudio/install/command-line-parameter-ex

[2020-11-19 19:33] WilliamAntonRohm commented on #6123
@StephenHodgson -- Stephen, thank you for clarifying.

[2020-11-19 22:06] TerryGLee commented on #6091
@prnadago FYI on this

[2020-11-19 22:10] corob-msft commented on #5891
Closing, as this issue seems covered by specific guides such as [this one](https://docs.microsoft.com/visualstudio/test/how-to-use-microsoft-test-framework-for-cpp?view=vs-2019#object_files).

[2020-11-19 22:10] #5891 closed

[2020-11-19 23:09] prnadago commented on #6091
Hi @lucasgl. We've recently built a new integrated GitHub account picking experience inside VS. Please check out https://devblogs.microsoft.com/visualstudio/github-accounts-are-now-integrated-into-visual-studio-2019/ for more information.

[2020-11-19 23:26] #6097 closed

[2020-11-19 23:27] WilliamAntonRohm commented on #6097
Thank you for your feedback.  I have updated the documentation and it should be live by tomorrow.

[2020-11-19 23:28] WilliamAntonRohm commented on #6106
Thank you for your feedback.  I have updated the documentation and it should be live by tomorrow.

[2020-11-19 23:28] #6106 closed

[2020-11-20 02:12] lucasgl commented on #6091
Cool, that was what I was looking for @prnadago, I had my team disable the new experience for the time being, now I can share this with them, hope to see this information integrated with the documentation as well. (nudge 😉 )

[2020-11-20 15:49] vskotatko opened #6131 "vs build output directory"
I'm using Xamarin Forms. It generates a tremendous amount of output, some for each platform. I need a single preference setting to set the location for this output. Currently, according to [How to: Change the build output directory](https://docs.microsoft.com/en-us/visualstudio/ide/how-to-change-the-build-output-directory?view=vs-2019) I have to set it for each project in each solution, which is w

[2020-11-20 16:22] Rixius44 opened #6132 "Missing file"
Hello!
In the "Install the sample application," the sample files are missing from Github  and the Microsoft website. I had to use my own sample file (the matching game tutorial project) to finish this tutorial...

Not a big deal, just a minor annoyance, I guess.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a5db8407-c

[2020-11-20 17:51] #6067 closed

[2020-11-20 19:35] prnadago commented on #6091
Happy to say that we recently added that content to the docs! https://docs.microsoft.com/en-us/visualstudio/ide/work-with-github-accounts?view=vs-2019

[2020-11-20 19:39] #6091 closed

[2020-11-21 00:00] WilliamAntonRohm commented on #6131
@vskotatko -- thank you for your detailed feedback.  Please consider these resources:
- [Visual Studio on Q&A](https://docs.microsoft.com/en-us/answers/products/vs)
- [Visual Studio MSDN Forum](https://social.msdn.microsoft.com/Forums/vstudio)
- [Stack Overflow](https://stackoverflow.com/search?q=%22visual+studio%22)
- [Reddit](https://www.reddit.com/r/VisualStudio)

You are welcome to add your ou

[2020-11-21 00:00] #6131 closed

[2020-11-21 00:13] pimmelpansen opened #6134 "Ja mei"
[Enter feedback here]

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5508e68f-2e84-0889-1d10-3b538ca5238f
* Version Independent ID: ec2cda03-7d77-f33c-eda5-df7dc461e07a
* Content: [Create JavaScript apps in Visual Studio](https://docs.microsoft.com/en-gb/scripting/)
* Content Source: [scripting-docs/index.md](https://g

[2020-11-21 00:22] vskotatko commented on #6131
@ghogen why are you closing it ? I presume there are many people who need this feature. I'm not saying it should be high priority.

[2020-11-21 00:30] WilliamAntonRohm commented on #6131
@vskotatko -- thank you for your followup.  This repo is solely for documentation issues, and this issue appears to be a request for a new product feature.  Please add it in the [Visual Studio Developer Community](https://developercommunity.visualstudio.com).

[2020-11-22 13:52] shlomoartsi opened #6136 "Need some examples for the "Move" MSBuild task"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9173583f-630e-9237-4cf3-a4bac3cf63b0
* Version Independent ID: 010403be-f593-5ec7-3e74-1942cf669693
* Content: [Move Task - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/msbuild/move-task?view=vs-2019)
* Content Source: [docs/msbuild/mo

[2020-11-22 15:28] ffMathy commented on #3968
The documentation doesn't document the TestCaseFilter setting in the runsettings file though.

[2020-11-23 12:24] JimBobSquarePants commented on #5656
Not visible in 16.8.2

[2020-11-23 16:58] mrlife opened #6140 "Using CSFile to exclude a file from the build only works if the code in the file compiles"
The following way to exclude a file from the build doesn't work if the code doesn't compile. If excluded files must compilate, can something be added to that effect?

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30273668-658c-d411-5b6d-7f58256bb0f3
* Version Independent ID: c8812ae3-0fb1-a30f-02dd-ebc2d28b9dc8

[2020-11-23 17:13] #6134 closed

[2020-11-23 21:05] mrlife commented on #6140
This is technically [visual-studio-mac/prod]

[2020-11-23 22:18] WilliamAntonRohm commented on #6136
@shlomoartsi -- thank you for your feedback.  Please consider these resources:
- [Visual Studio on Q&A](https://docs.microsoft.com/en-us/answers/products/vs)
- [Visual Studio MSDN Forum](https://social.msdn.microsoft.com/Forums/vstudio)
- [Stack Overflow](https://stackoverflow.com/search?q=%22visual+studio%22)
- [Reddit](https://www.reddit.com/r/VisualStudio)

[2020-11-23 22:24] WilliamAntonRohm commented on #6140
cc @jmatthiesen, @heiligerdankgesang for awareness per previous comment

[2020-11-24 00:55] WilliamAntonRohm commented on #386
#assign:WilliamAntonRohm

[2020-11-24 00:55] WilliamAntonRohm commented on #386
#unassign:WilliamAntonRohm

[2020-11-24 19:42] WilliamAntonRohm commented on #3968
@ffMathy -- Mathias, thank you for your observation.

[2020-11-24 20:16] ffMathy commented on #3968
I made a PR for it recently. Can't remember the ID though.

[2020-11-24 21:11] ffMathy commented on #3968
Here it is: https://github.com/MicrosoftDocs/visualstudio-docs/pull/6139

[2020-11-25 19:47] #6074 closed

[2020-11-26 00:20] Mrkarral commented on #2592
I have install Visual stdio 2019 and (integration services projects ) is not fully compatible some SSIS like REST Source tools are missing any one can guide me

[2020-11-26 08:12] woutervanranst opened #6146 "Environment variables in commandLineArgs"
The behavior of commandLineArgs is inconsistent vs other launch profiles. Eg I can pass an environment variable in the commandLineArgs, like

[code]

However with Docker this yields a different result, in effect "literally" passing %ACCOUNT_KEY% and not its value.
I tried getting the environment variable in the container so that ```echo $ACCOUNT_KEY``` yields the value, but it doesn't work.
Is the

[2020-11-26 10:41] dombat commented on #6122
The code below links to another page. When you go there, nothing is mentioned about code analysis, so we don't know how to create one.

An example CodeAnalysisRuleSet  block would be helpful.

[2020-11-26 14:56] pekkah opened #6147 "Too short names used"
Examples use n,m,o etc. as item names makes it very hard to read and understand. Could you add more context to the examples and use proper names in examples.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8f4e1ec1-6ed7-f665-8a44-5aaf88423b78
* Version Independent ID: 7befa37a-60c0-8023-c247-4f5d7510ece2
* Content: [Ite

[2020-11-26 16:12] godrejgpi opened #6148 "Publish custom images to Existing ACR with Visual Studio 2019"
I get below error when I try to publish DotNet 3.1 web app via Visual Studio 2019 to ACR.
I followed this [link's](https://github.com/MicrosoftDocs/visualstudio-docs/blob/master/docs/containers/includes/vs-2019/container-tools.md) instructions to publish but instead of creating new one, I selected existing ACR from list.

**My Docker Desktop is of version - 2.5.0.1 and VS version is - 16.7.6**

Ge

[2020-11-26 16:40] Boubalou commented on #5139
We are now on build 41 and still not any fix regarding the missing node "Connected Services".  This is a deal-breaker for Mac developers if you ask me.

[2020-11-27 14:09] vikas0380 opened #6150 "No Javascript console in Visual Studio 2019"
Javascript console has been removed from Visual Studio 2019
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 94e35a50-ce68-c40b-fc74-1c30ca1f0d77
* Version Independent ID: 6300dc91-429e-cb7e-df48-c9e40843d5c1
* Content: [Debug a WebView control (UWP) - Visual Studio](https://docs.microsoft.com/en-us

[2020-11-30 21:27] WilliamAntonRohm commented on #5139
cc @jmatthiesen for awareness

[2020-11-30 21:29] WilliamAntonRohm commented on #6122
@dombat -- Dominic, thank you for clarifying.

cc @ghogen for awareness

[2020-11-30 21:30] #6093 closed

[2020-11-30 21:45] ambalakandy123 opened #6153 "React-native development need more flexible way for testing."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d8664d15-b038-4d16-3a83-c7c3354997c1
* Version Independent ID: 04a14caf-8611-d997-8ab7-9b4ac6db7730
* Content: [Create a Windows Forms app with Visual Basic - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/ide/create-a-visual-basic-winfo

[2020-11-30 23:20] jmatthiesen commented on #5139
@Boubalou I don't recall the exact build number, but with v8.7 or later of Visual Studio for Mac you should be able to see the Connected Services node for ASP.NET Core projects. Have you tried one of the newer releases and do you see it there?

[2020-11-30 23:56] JoshuaPartlow commented on #5925
Hi @Richard210363 - Following the topic, my experience was that pylint was recognized without using the launcher with module flag. Perhaps your experience was because the pylint package wasn't installed for your default global environment?

[2020-12-01 00:45] WilliamAntonRohm commented on #6153
@ambalakandy123 -- Ranjith, thank you for your feedback.  Please clarify your intended task.  Meanwhile, consider these resources:
- [Visual Studio on Q&A](https://docs.microsoft.com/en-us/answers/products/vs)
- [Visual Studio MSDN Forum](https://social.msdn.microsoft.com/Forums/vstudio)
- [Stack Overflow](https://stackoverflow.com/search?q=%22visual+studio%22)
- [Reddit](https://www.reddit.com/r/

[2020-12-01 00:47] WilliamAntonRohm commented on #6146
@woutervanranst -- Wouter, thank you for your question.  Please consider these resources:
- [Visual Studio on Q&A](https://docs.microsoft.com/en-us/answers/products/vs)
- [Visual Studio MSDN Forum](https://social.msdn.microsoft.com/Forums/vstudio)
- [Stack Overflow](https://stackoverflow.com/search?q=%22visual+studio%22)
- [Reddit](https://www.reddit.com/r/VisualStudio)

[2020-12-01 01:00] WilliamAntonRohm commented on #6148
@godrejgpi -- thank you for your feedback.  This repo is solely for documentation issues, and this appears to be product-related.

- The WARNING seems to indicate you're using `--password` with a value, in your docker login command, and the preferred option is `--password-stdin`.  Please try `--password-stdin` instead.

Also, consider these resources:
- [Visual Studio on Q&A](https://docs.microsof

[2020-12-01 01:00] #6148 closed

[2020-12-01 09:29] axelande opened #6155 "Comment that python 3.8 is not supported!"
Tried to follow this guide, spend a rather long time trying to get it to work before I release that Python 3.8 wasn't supported in this mode.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 40e3b6b1-a3d2-f4f2-b1ad-dd654a062343
* Version Independent ID: b2418b84-04f4-60d2-ec1d-291a5d4d0c51
* Content: [Write C++ extension

[2020-12-01 12:19] abdekker opened #6156 "Negative consequences to enabling mixed-mode debugging?"
The article discusses enabling mixed-mode debugging (to allow a managed app to call into a native DLL and vice versa). The article, however, is missing what (if any) are the consequences of enabling this feature.

For example, is build time, or files hitting disk or debugging performance negatively affected?

And if there are no significant negatie consequences, is it safe to enable this for all p

[2020-12-01 12:32] gkeongit opened #6157 "Unclear instructions"
I do not understand, what "Reference the Microsoft.Build.Locator package" means in section "Binding redirects". What is the difference to "Add package reference for Microsoft.Build.Locator" later on? E.g. how would I reference the Locator package if not using a package reference already?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2020-12-01 15:18] Possibility454 opened #6158 "Where do you set EnableNETAnalyzers property to true?"
[Enter feedback here]
This page does not explain where or how to set EnableNETAnalyzers property to true, which is the whole point of the page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 04393392-f11e-4825-2d02-ba41e6c6d882
* Version Independent ID: c86598c1-1363-d11b-df15-ca32bf970de5
* Content: [Enable or install

[2020-12-01 17:44] Mikejo5000 commented on #6150
@vikas0380 Thanks. If you switch the VS version selector in the upper left from VS 2017 to VS 2019, you get a message indicating the page does not exist in VS 2019 (because the feature was removed).

[2020-12-01 17:44] #6150 closed

[2020-12-01 18:56] woutervanranst commented on #6146
Thanks - is this a "works as designed" or "known issue" or "unknown issue" type of thing?

[2020-12-01 19:20] benjaminhigginsliquid opened #6160 "Wrong template tag illustrated, should be "static""
Instructions indicate that you can use `{% load staticfiles %}` to then run `{% static 'site.css' %}`, but the declared template tag is "static", not "staticfiles". Following the instructions verbatim will result in an error from python indicating that "staticfiles" is not a defined tag.

All mentions of the phrase "staticfiles" in this article should be replaced with "static" to remedy this
---
#

[2020-12-01 19:32] WilliamAntonRohm commented on #6157
@gkeongit -- thank you for your feedback.  Please consider these resources:
- [Visual Studio on Q&A](https://docs.microsoft.com/en-us/answers/products/vs)
- [Visual Studio MSDN Forum](https://social.msdn.microsoft.com/Forums/vstudio)
- [Stack Overflow](https://stackoverflow.com/search?q=%22visual+studio%22)
- [Reddit](https://www.reddit.com/r/VisualStudio)

@ghogen -- please look into this issue.

[2020-12-01 19:42] WilliamAntonRohm commented on #6155
@axelande -- Axel, thank you for your feedback.  For future reference, see [The Python Environments window](https://docs.microsoft.com/visualstudio/python/managing-python-environments-in-visual-studio?view=vs-2019#the-python-environments-window).

There is a Note in [Install Python interpreters](https://docs.microsoft.com/visualstudio/python/installing-python-interpreters?view=vs-2019):
-  Visual

[2020-12-01 19:49] benjaminhigginsliquid commented on #6160
Further review indicates that the "staticfiles" tag was deprecated post Django 2.1 and removed in Django 3 (consolidated into "static"). I believe the VS project type(s) associated with Django inherently pull the latest version of Django, so in addition to the doc updates (assuming the doc is desired to reflect Django 3), a separate issue should be considered to update the related VS templates

[2020-12-01 23:21] WilliamAntonRohm commented on #6156
@abdekker -- thank you for your questions.  Please consider these resources:
- [Visual Studio on Q&A](https://docs.microsoft.com/en-us/answers/products/vs)
- [Visual Studio MSDN Forum](https://social.msdn.microsoft.com/Forums/vstudio)
- [Stack Overflow](https://stackoverflow.com/search?q=%22visual+studio%22)
- [Reddit](https://www.reddit.com/r/VisualStudio)

@Mikejo5000 -- please look into this is

[2020-12-01 23:26] WilliamAntonRohm commented on #6158
@Possibility454 -- thank you for your question.  Please see this section:
- [MSBuild reference for .NET SDK projects](https://docs.microsoft.com/dotnet/core/project-sdk/msbuild-props#enablenetanalyzers)

I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

cc @Mikejo5000 for awareness

[2020-12-01 23:26] #6158 closed

[2020-12-02 00:50] #6044 closed

[2020-12-02 18:17] WilliamAntonRohm commented on #6060
@Rixius44 -- how was your experience with this tutorial?

[2020-12-02 18:43] ornellaalt commented on #5285
@mjcavallari can you please look into this issue?

[2020-12-02 22:43] mjcavallari commented on #5285
When a layout has multiple archive folders, it is assumed that the collection of catalogs covers the collection of packages in the layout.  When using the clean operation, the installer will enumerate the packages listed in the catalog version beign removed unless they show up in one of the catalogs being left.

With that in mind, I can confirm that if the catalog is removed before doing a cleanup

[2020-12-02 22:54] #5285 closed

[2020-12-02 22:55] ornellaalt commented on #6102
In Step 4 [here](https://docs.microsoft.com/en-us/visualstudio/install/build-tools-container?view=vs-2019#create-and-build-the-dockerfile), this line includes the wait command:
`# Install Build Tools with the Microsoft.VisualStudio.Workload.AzureBuildTools workload, excluding workloads and components with known issues.
RUN C:\TEMP\vs_buildtools.exe --quiet --wait --norestart --nocache`

[2020-12-02 23:01] teeks99 commented on #6102
I don't believe that does the same thing, unless executed with `start /wait` the `--wait` flag won't actually do what you think it will.

[2020-12-03 01:24] gstech99 opened #6164 "PlatformTarget vs TargetPlatform"
The article refers to the target platform (similar to target framework)  but the xml file has <PlatformTarget>.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1a80e5d7-2db7-48c0-e8b6-ca8c3ff30017
* Version Independent ID: ad64635b-06d5-1b87-8f02-80cf25c12520
* Content: [MSBuild Target Framework an

[2020-12-03 12:40] william3n opened #6165 "This page does not give extensive details on merging branches using the new Git experience"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3fb36e99-33ae-20a2-a12d-a3e5d056a153
* Version Independent ID: b5a43c4a-c8bb-2c8a-56b3-09b12a713e58
* Content: [The Git experience in Visual Studio](https://docs.microsoft.com/en-us/visualstudio/ide/git-with-visual-studio?view=vs-2019)
* Content Sourc

[2020-12-03 15:14] #5780 closed

[2020-12-03 15:21] #5370 closed

[2020-12-03 17:31] heiligerdankgesang commented on #6123
At the moment, Visual Studio for Mac does not officially support a command-line installation.

#please-close

[2020-12-03 17:31] #6123 closed

[2020-12-03 18:01] heiligerdankgesang commented on #5623
This seems to work for me.

@tiny-dancer - thanks for the patience. I see you mentioned "visual studio code for mac", but this documentation is for Visual Studio for Mac (different to Visual Studio Code). Seeing as this has been open for a while and I can't reproduce, I'll close this issue. If you're still seeing this in Visual Studio for Mac, please let me know and I'll follow up with you.

#plea

[2020-12-03 18:01] #5623 closed

[2020-12-03 18:06] heiligerdankgesang commented on #5504
We cannot reproduce this issue and haven't heard back since our last comment. I'm closing this issue. Please reach back out if you have any questions.

#please-close

[2020-12-03 18:06] #5504 closed

[2020-12-03 18:30] heiligerdankgesang commented on #4688
This doesn't seem to manifest in the latest version of Docker. Please reach out if you're still experiencing this issue.

#please-close

[2020-12-03 18:30] #4688 closed

[2020-12-03 21:56] WilliamAntonRohm commented on #6164
@gstech99 -- thank you for your feedback.  I see the inconsistency you mention, between the prose description and the XML property name.  Even with that hiccup, the article seems clear on the usage.

cc @ghogen for awareness

I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2020-12-03 21:56] #6164 closed

[2020-12-03 22:01] WilliamAntonRohm commented on #6165
@william3n -- William, thank you for your feedback.  Please clarify your intended task.  Meanwhile, consider these resources:
- [Visual Studio on Q&A](https://docs.microsoft.com/en-us/answers/products/vs)
- [Visual Studio MSDN Forum](https://social.msdn.microsoft.com/Forums/vstudio)
- [Stack Overflow](https://stackoverflow.com/search?q=%22visual+studio%22)
- [Reddit](https://www.reddit.com/r/Visua

[2020-12-04 00:21] TerryGLee commented on #6165
@william3n Thanks for your feedback. We are in the process of updating our docs.microsoft.com content to include more scenario-based content for the new Git experience. We'll keep this issue open for now, and we'll close it after we document the scenario that you've described.

FYI: @Taysser-Gherfal @prnadago

[2020-12-04 13:37] Sephizor opened #6168 "Has the VSTO runtime 2010 reached end-of-life?"
Hi,

After reaching out to support contacts at Microsoft, I have been told that the VSTO runtime 2010 has reached end-of-life as of July 14th 2020, and is no longer supported. All of the pages relating to VSTO add-in development still reference this runtime as being the version that should be used and there is no indication of an upgrade path. I am building a Word add-in project that is already in

[2020-12-04 15:09] LanderVe opened #6169 "Debugging with isolation doesn't seem to work"
Any REST API call to `http://landerve-5ce9.bikeapp.gateway.20.62.235.126.nip.io/api` returns a 404. Not sure if this is a product issue, or if this document doesn't contain the steps to make it work. The (cloned) ingress does have a rule for this URL.

[code]

And the Gateway application does seem to do the header forwarding.
What am I missing?

---
#### Document Details

⚠ *Do not edit this secti

[2020-12-04 15:24] itango27 opened #6170 "How do I include the VSTO installation step in the Setup project?"
So I am trying to learn how to deploy Excel Add-in VSTO solutions.

I have followed all the steps described in the document to implement a Windows Setup project, and only by chance did I discover that it is necessary to install the .VSTO manifest by double-clicking it in Windows Explorer.

Since I am wanting to deploy my solution to other users, I need to be able to automate this step - presumably

[2020-12-04 18:05] JuanZamudioGBM opened #6171 "Specify if we have to change the analyzers even if we are not targeting net5.0"
It's not clear if we can change to the new SDK analyzers even if we are targeting 3.1

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72cc081c-b26c-cea8-a551-16a9f01dd077
* Version Independent ID: acf5c283-76c3-ae95-5f2b-d0282a8d05d1
* Content: [Migrate from FxCop analyzers to .NET analyzers - Visual Studio](https://doc

[2020-12-04 19:40] John-Hart commented on #6168
@Sephizor the VSTO 2010 runtime is still supported.  I'm sorry you were told differently.

It ships with Visual Studio 2019 and Office 2019 and will follow the support lifecycle of these products.

[2020-12-04 20:18] Sephizor commented on #6168
@John-Hart Thanks for the incredibly prompt response! We'll inform our customers that they have no need to worry 👍

[2020-12-04 20:18] #6168 closed

[2020-12-04 21:08] WilliamAntonRohm commented on #6171
@JuanZamudioGBM -- Juan, thank you for your feedback.  Please consider these resources:
- [Visual Studio on Q&A](https://docs.microsoft.com/en-us/answers/products/vs)
- [Visual Studio MSDN Forum](https://social.msdn.microsoft.com/Forums/vstudio)
- [Stack Overflow](https://stackoverflow.com/search?q=%22visual+studio%22)
- [Reddit](https://www.reddit.com/r/VisualStudio)

@Mikejo5000 -- Mike, please

[2020-12-04 21:36] WilliamAntonRohm commented on #6170
@itango27 -- thank you for your question.  This repo is solely for documentation issues, with limited support options.  Please consider these resources:
- [Visual Studio on Q&A](https://docs.microsoft.com/en-us/answers/products/vs)
- [Visual Studio MSDN Forum](https://social.msdn.microsoft.com/Forums/vstudio)
- [Stack Overflow](https://stackoverflow.com/search?q=%22visual+studio%22)
- [Reddit](htt

[2020-12-04 21:36] #6170 closed

[2020-12-04 23:38] WilliamAntonRohm commented on #6169
@LanderVe -- thank you for your feedback and question.  This repo is solely for documentation issues, with limited support options.  Please consider these resources:
- [Visual Studio on Q&A](https://docs.microsoft.com/en-us/answers/products/vs)
- [Visual Studio MSDN Forum](https://social.msdn.microsoft.com/Forums/vstudio)
- [Stack Overflow](https://stackoverflow.com/search?q=%22visual+studio%22)
-

[2020-12-05 21:54] Rixius44 commented on #6060
so far all the tutorials have been great! a few minor inconveniences like missing example files on the microsoft website but nothing that can't be bypassed with a trick or two or a little google search. the worst there is is just some typos but it's overall perfect.

[2020-12-06 07:18] rdeago opened #6175 "Property evaluation time is explained incorrectly"
This statement is confusing, as only `PropertyGroup`s outside targets are evaluated before any target runs. When a `PropertyGroup` is inside a target, all the properties it contains are evaluated at target execution time. This should be clearly stated in the documentation, possibly including a link to the explanation of [property and item evaluation order](https://docs.microsoft.com/visualstudio/m

[2020-12-06 08:33] rdeago opened #6176 "Outdated explanation - twice"
The first paragraph contains the same sentence twice:

This may have been true in 2016, when the page was last edited. Now, however, 64- vs. 32-bit is far from the only defining characteristic of a build or target environment. For example, I can use an Intel-based Mac and a Windows-X64 CI server to develop Linux applications for the Raspberry Pi; I certainly do not expect to be able to run a task

[2020-12-06 11:21] kaplandani opened #6177 "What about using debug/release references ?"
how can I use debug references in dev machine - but deploy release references when publishing ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1ab2b85e-d741-293c-b994-8673ebf9ec2b
* Version Independent ID: a3697a8f-ea35-c2ca-9cb3-fd15c6bd5ca3
* Content: [Manage references in a project - Visual Studio](https://docs.micr

[2020-12-06 18:17] karakartal1881 opened #6178 "[Enter feedback here]"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6c50729d-6836-feee-b306-cfab96b36d17
* Version Independent ID: afec4f9e-ac95-d414-62d7-c6a654721f5b
* Content: [Find and install extensions - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/ide/finding-and-using-visual-studio-extensions?v

[2020-12-07 07:24] JanKinable opened #6179 "Visual studio 2019 Django tutorial out of date"
The documentation on Django tutorial presented doesn't match the visual studio environment anymore.
Example: setting the environment, whilst on page https://docs.microsoft.com/en-us/visualstudio/python/managing-python-environments-in-visual-studio?view=vs-2019 the documentation is correct.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2020-12-07 14:24] rfresh commented on #6168
@John-Hart Please could you direct me to a page where the official support lifecycle for VSTO 2010 is published?

We have customers who are unwilling to install our software as they are convinced that it is now out of support. They reference the following page - https://docs.microsoft.com/en-us/lifecycle/products/visual-studio-2010 - and claim that it has been out of support since July since the p

[2020-12-07 15:30] Boubalou commented on #5139
Actually, this is not a core project, that might be the issue there! We only have access to the node "Connected Services" under a Windows 10 development VM through Parallels Desktop. It works for our needs, but that is far from ideal.

[2020-12-07 18:05] WilliamAntonRohm commented on #5139
@Boubalou -- Mathieu, thank you for clarifying.
- You are welcome to suggest a feature, track product issues, and find answers in the [Visual Studio Developer Community](https://developercommunity.visualstudio.com).

[2020-12-07 18:07] John-Hart commented on #6168
Here's the support information for Visual Studio 2019 and Office 2019.   These do not specifically mention the VSTO runtime but since VSTO runtime ships with both of these products it will follow the support lifecycle of these products.

I've also included the Visual Studio lifecycle page that mentions VS 2010 support in connection with VSTO.

https://docs.microsoft.com/en-us/lifecycle/products/mi

[2020-12-07 18:15] WilliamAntonRohm commented on #6178
@karakartal1881 -- thank you for opening this issue.  Please clarify your task.  Meanwhile, consider these resources:
- [Visual Studio on Q&A](https://docs.microsoft.com/en-us/answers/products/vs)
- [Visual Studio MSDN Forum](https://social.msdn.microsoft.com/Forums/vstudio)
- [Stack Overflow](https://stackoverflow.com/search?q=%22visual+studio%22)
- [Reddit](https://www.reddit.com/r/VisualStudio)

[2020-12-07 18:49] warrenspe commented on #6102
To add to the above, running the command from the documentation returns immediately for me (which does not seem to work with docker builds, as none of the files which the process is supposed to create have been created by the time it moves on to the next step

However adding the start /wait command as indicated above seems to solve the problem

[2020-12-07 18:58] warrenspe commented on #4915
For those suffering with this, try the suggestion here: https://github.com/MicrosoftDocs/visualstudio-docs/issues/6102
You may have to play with quotations to encapsulate the buildtools.exe command in the wait command;
something like the following might work
    start /wait 'C:\TEMP\vs_buildtools.exe --quiet --wait --norestart --nocache     --installPath C:\BuildTools  ...<flags_here>... || IF "%E

[2020-12-07 19:07] ornellaalt commented on #6102
Reopening to investigate further.

[2020-12-07 20:28] paulomorgado opened #6181 "Missing list of components"
https://docs.microsoft.com/en-us/visualstudio/install/workload-and-component-ids?view=vs-2019 has the following note:

There is no list of components at https://docs.microsoft.com/en-us/visualstudio/install/workload-and-component-ids?view=vs-2017&preserve-view=true

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a6f80d9

[2020-12-07 20:38] ornellaalt commented on #6102
I just confirmed with the engineering team that adding the start /wait command is the right way to solve the problem. I will update the documentation accordingly - should be live this afternoon. Thanks for your comments and contributions.

[2020-12-07 20:39] #6102 closed

[2020-12-07 21:35] EricAllen-tr commented on #6012
I apologize for the long turnaround; my laptop got replaced. The syntax shown below did work for me on my new laptop with Visual Studio 16.8.2; I'm afraid I can't say how much is new laptop and how much is the version of VS2019.
[code]

[2020-12-07 21:58] kendrahavens commented on #6012
No worries! I'm glad it is working and thank you for following up.

I've added an example here: https://github.com/MicrosoftDocs/visualstudio-docs-pr/pull/7494
but didn't call out that different test frameworks use different syntax. It's been on the back of my mind to add so I appreciate the reminder.

[2020-12-07 22:07] shixilun opened #6182 "example does not work with "dotnet msbuild""
This does not work on MacOS when "msbuild" is replaced by "dotnet msbuild".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09bc6800-41dc-a7a4-5942-0f103a290cf9
* Version Independent ID: 56b974f2-30d2-ae79-2b78-7eb073ec7cd1
* Content: [Create an MSBuild project file from scratch - Visual Studio](https://docs.microsoft.c

[2020-12-07 22:21] WilliamAntonRohm commented on #6177
@kaplandani -- Dani, thank you for your question.  Please consider these resources:
- [Visual Studio on Q&A](https://docs.microsoft.com/en-us/answers/products/vs)
- [Visual Studio MSDN Forum](https://social.msdn.microsoft.com/Forums/vstudio)
- [Stack Overflow](https://stackoverflow.com/search?q=%22visual+studio%22)
- [Reddit](https://www.reddit.com/r/VisualStudio)

[2020-12-07 22:31] WilliamAntonRohm commented on #6181
@paulomorgado -- Paulo, thank you for your feedback.  On that [second page](https://docs.microsoft.com/en-us/visualstudio/install/workload-and-component-ids?view=vs-2017&preserve-view=true), please try clicking on one of the Editions (such as [Visual Studio Enterprise 2017](https://docs.microsoft.com/en-us/visualstudio/install/workload-component-id-vs-enterprise?view=vs-2017&preserve-view=true)),

[2020-12-07 22:36] WilliamAntonRohm commented on #6182
@shixilun -- thank you for your feedback.  Please consider these resources:
- [Visual Studio on Q&A](https://docs.microsoft.com/en-us/answers/products/vs)
- [Visual Studio MSDN Forum](https://social.msdn.microsoft.com/Forums/vstudio)
- [Stack Overflow](https://stackoverflow.com/search?q=%22visual+studio%22)
- [Reddit](https://www.reddit.com/r/VisualStudio)

You are also welcome to use the [Report

[2020-12-07 22:36] #6182 closed

[2020-12-08 06:13] JmlSaul opened #6184 "File Nesting for Library Projects"
File Nesting seems only available for Web Projects? how about Library and Console?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2d25dd44-f173-dd83-3afc-d6608613d450
* Version Independent ID: e121cedc-5cbe-a399-e2a8-5d192aaea770
* Content: [File nesting rules for Solution Explorer - Visual Studio](https://docs.microso

[2020-12-08 14:50] EricAllen-tr commented on #6012
@kendrahavens : Glad to help with the reminder of syntax variations.

I cannot see the PR, it shows a 404 (may be a permissions thing).

Looking at the latest page on docs.microsoft.com I see the example which I believe is for a different framework. Also, I note that the doc earlier on the page calls out `TestCategoryAttribute` as <q>without a value</q>. But, in fact, it has a required string in i

[2020-12-08 18:22] paulomorgado commented on #6181
@WilliamAntonRohm, that's the list of workload IDs, not component IDs.

Component IDs are something like this:

[code]

Even the list of workloads is not complete. These are missing:

[code]

[2020-12-08 18:29] ornellaalt commented on #6181
@paulomorgado, when you click on one of the editions, i.e. Visual Studio Enterprise 2017, [this page](https://docs.microsoft.com/en-us/visualstudio/install/workload-component-id-vs-enterprise?view=vs-2017&preserve-view=true#components-included-by-this-workload-1) has all of the components included by each workload along with their component IDs. Which edition are you looking for specifically?

[2020-12-08 20:17] paulomorgado commented on #6181
Thanks, @ornellaalt. That was not obvious to be at all.

Now I'm even more confused about the note on the Visual Studio 2019 page. Why am I being asked to go to the 2017 page when I can do the same in the 2019 page?

[2020-12-08 20:33] ornellaalt commented on #6181
@paulomarquesc if you access the workloads and component IDs page from the table of contents, it will default to the 2019 page. Lots of folks miss the drop down menu on the left hand side of the page that switches the info to the 2017 version, so we added the note to let folks know that if they want this information for 2017 versions, it's available using the link in the note. Workload and compone

[2020-12-08 20:36] WilliamAntonRohm commented on #6060
@Rixius44 -- thank you for your great review!  If you have the time, please let us know the details of any glitches so we can address them.

[2020-12-08 20:44] WilliamAntonRohm commented on #6181
@ornellaalt -- Ornella, thank you for clarifying.

I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2020-12-08 20:44] #6181 closed

[2020-12-08 22:20] WilliamAntonRohm commented on #6184
@JmlSaul -- thank you for your questions.  Please consider these resources:
- [Visual Studio on Q&A](https://docs.microsoft.com/en-us/answers/products/vs)
- [Visual Studio MSDN Forum](https://social.msdn.microsoft.com/Forums/vstudio)
- [Stack Overflow](https://stackoverflow.com/search?q=%22visual+studio%22)
- [Reddit](https://www.reddit.com/r/VisualStudio)

@AngelosP -- please look into this issue

[2020-12-08 22:32] AngelosP commented on #6184
That is correct, currently File Nesting is only supported in Web projects.

[2020-12-08 22:37] WilliamAntonRohm commented on #6184
@AngelosP -- Angelos, thank you for clarifying.

[2020-12-08 22:37] #6184 closed

[2020-12-09 01:19] kendrahavens commented on #6012
Yeah, I had only added xUnit a couple weeks ago. My new PR adds the MSTest xml as well. Thank you for updating the StackOverflow post!

 Sorry, I forgot the PR is on an internal repo we use for staging. When the change is merged it will auto-close this ticket and the change will be visible in a couple days on docs.microsoft.com.

Thank you for the TestCategory catch. I believe you are correct, the

[2020-12-09 07:14] WeihanLi opened #6187 "Could we remove `dotnet build`, just use dotnet publish in the dockerfile"
For now, the Dockerfile generated by vs is like follows:

[code]

I'm wondering what's the main purpose of separate build and publish, could we remove build stage, just publish then copy the published assets to final image?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6dd3515a-c60f-141c-a27a-6a22bc47ad1e
* Version In

[2020-12-09 11:06] jigartailor1984 opened #6188 "Issue installing VS Build Tools in Docker Container"
This works fine however when we use default path for installation that is

C:\Program Files(x86)\Microsoft Visual Studio\2019\BuildTools, Installation completes without and Error and creates Image also.

### **Dockerfile**
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b91a4a43-5353-97cf-7532-7644aa3b497f
* Vers

[2020-12-09 22:45] WilliamAntonRohm commented on #6187
@WeihanLi -- Weihan, thank you for your question.  Please consider these resources:
- [Visual Studio on Q&A](https://docs.microsoft.com/en-us/answers/products/vs)
- [Visual Studio MSDN Forum](https://social.msdn.microsoft.com/Forums/vstudio)
- [Stack Overflow](https://stackoverflow.com/search?q=%22visual+studio%22)
- [Reddit](https://www.reddit.com/r/VisualStudio)

[2020-12-10 00:53] WeihanLi commented on #6187
Thanks, I'll close this.

[2020-12-10 00:53] #6187 closed

[2020-12-10 05:59] txwizard opened #6193 "The "example" for opening an existing Word document is incomplete and unusable."
The page at [https://docs.microsoft.com/en-us/visualstudio/vsto/how-to-programmatically-open-existing-documents?view=vs-2019](url) is a single statement. There is nothing in it about how to create the this object upon which it relies, or its type. As it stands, the example is incomplete on its own.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2020-12-10 09:01] elangelo opened #6194 "Manual build of the debug containers of visual studio"
I'm hoping to be able to build the same container image like Visual studio uses to debug a visual studio project.
I know how i can build a normal docker image, out of the Dockerfile that visual studio added, so that is not my question.

Following the instruction on this page i think I'm supposed to run:

`msbuild /p:SolutionPath=<solution-name>.sln /p:Configuration=Release docker-compose.dcproj`

[2020-12-10 13:46] SankethJain opened #6195 ""Multiple containers using Docker Compose" instructions for docker-compose do not work when I choose Windows Container"
I am not sure if there are any other issues, but even though the API container is running, I am unable to connect to it to get the web working.

I have double checked all the steps on this page, with the only exception being that I chose Windows instead of Linux, as my docker is currently running with Windows Containers.

Can someone help me out why this is the case, or make a tutorial for windows

[2020-12-10 17:25] meziantou opened #6196 "Suggest using the package when you enable all rules"
In my case, I use rules that are not enabled by default using `<AnalysisMode>AllEnabledByDefault</AnalysisMode>` ([doc](https://docs.microsoft.com/en-us/visualstudio/code-quality/migrate-from-fxcop-analyzers-to-net-analyzers?view=vs-2019)). If I use the package from the SDK, I won't get bug fixes for these rules as explained by Manish Vasani in these comments https://github.com/dotnet/roslyn-analy

[2020-12-10 17:41] #6195 closed

[2020-12-10 21:59] ghogen commented on #6169
@LanderVe Not sure, I contacted @greenie-msft for insight.

[2020-12-10 22:29] pragyamehta commented on #6169
@LanderVe Thanks for reaching out to us!
If you look at the gateway code, you can see that /api is not supported on this microservice. So neither http://landerve-5ce9.bikeapp.gateway.20.62.235.126.nip.io/api nor http://bikeapp.gateway.20.62.235.126.nip.io/api would actually work.

To hit the stable version of the app, you should try hitting the endpoint http://bikeapp.bikesharingweb.20.62.235.126.

[2020-12-10 23:07] WilliamAntonRohm commented on #6193
@txwizard -- David, thank you for your feedback.  There appears to be a missing code example in the [Compile the code](https://docs.microsoft.com/en-us/visualstudio/vsto/how-to-programmatically-open-existing-documents?view=vs-2019#compile-the-code) section.

@John-Hart -- John, please look into this issue.

[2020-12-10 23:13] #6012 closed

[2020-12-10 23:23] WilliamAntonRohm commented on #6194
@elangelo -- Samuel, thank you for your feedback.  The error message seems to be about a missing file `Newtonsoft.Json`.  This repo is solely for documentation issues, with limited support options.  Please consider these resources:
- [Visual Studio on Q&A](https://docs.microsoft.com/en-us/answers/products/vs)
- [Visual Studio MSDN Forum](https://social.msdn.microsoft.com/Forums/vstudio)
- [Stack O

[2020-12-10 23:23] #6194 closed

[2020-12-11 08:33] LanderVe commented on #6169
@pragyamehta Thank you for your response.
What you are telling me confirms my idea of how Bridge to Kubernetes is supposed to work.
Let me clarify things:

I never make calls to http://.../api myself. I do exactly as you say. I  go to  [http://bikeapp.bikesharingweb.20.62.235.126.nip.io](http://bikeapp.bikesharingweb.20.62.235.126.nip.io) for the "stable" version and [http://landerve-5ce9.bikeapp.

[2020-12-11 20:02] leslierichardson95 commented on #4721
Thanks for submitting your feedback and we apologize for the delayed response.  Due to current resourcing and substantial extensibility changes we are currently working on that will result in significant doc changes, we are closing this lower priority issue.  We will return to this issue on a later date and address it based on it's relevance after those extensive extensibility updates are made. Fe

[2020-12-11 20:02] #4721 closed

[2020-12-11 20:06] leslierichardson95 commented on #4713
Thanks for submitting your feedback and we apologize for the delayed response.  Due to current resourcing and substantial extensibility changes we are currently working on that will result in significant, structural doc changes, we are closing this lower priority issue.  We will return to this issue on a later date and address it based on it's relevance after those extensive extensibility updates

[2020-12-11 20:06] #4713 closed

[2020-12-11 20:07] leslierichardson95 commented on #4701
Thanks for submitting your feedback and we apologize for the delayed response.  Due to current resourcing and substantial extensibility changes we are currently working on that will result in significant, structural doc changes, we are closing this lower priority issue.  We will return to this issue on a later date and address it based on it's relevance after those extensive extensibility updates

[2020-12-11 20:07] #4701 closed

[2020-12-11 20:09] leslierichardson95 commented on #4641
Thanks for submitting your feedback and we apologize for the delayed response.  Due to current resourcing and substantial extensibility changes we are currently working on that will result in significant, structural doc changes, we are closing this lower priority issue.  We will return to this issue on a later date and address it based on it's relevance after those extensive extensibility updates

[2020-12-11 20:09] #4641 closed

[2020-12-11 20:12] #4489 closed

[2020-12-11 20:14] leslierichardson95 commented on #3186
Thanks for submitting your feedback and we apologize for the delayed response.  Due to current resourcing and substantial extensibility changes we are currently working on that will result in significant, structural doc changes, we are closing this lower priority issue.  We will return to this issue on a later date and address it based on it's relevance after those extensive extensibility updates

[2020-12-11 20:14] #3186 closed

[2020-12-11 20:15] leslierichardson95 commented on #3168
Thanks for submitting your feedback and we apologize for the delayed response.  Due to current resourcing and substantial extensibility changes we are currently working on that will result in significant, structural doc changes, we are closing this lower priority issue.  We will return to this issue on a later date and address it based on it's relevance after those extensive extensibility updates

[2020-12-11 20:15] #3168 closed

[2020-12-11 20:15] leslierichardson95 commented on #3167
Thanks for submitting your feedback and we apologize for the delayed response.  Due to current resourcing and substantial extensibility changes we are currently working on that will result in significant, structural doc changes, we are closing this lower priority issue.  We will return to this issue on a later date and address it based on it's relevance after those extensive extensibility updates

[2020-12-11 20:15] #3167 closed

[2020-12-11 20:16] leslierichardson95 commented on #3141
Thanks for submitting your feedback and we apologize for the delayed response.  Due to current resourcing and substantial extensibility changes we are currently working on that will result in significant, structural doc changes, we are closing this lower priority issue.  We will return to this issue on a later date and address it based on it's relevance after those extensive extensibility updates

[2020-12-11 20:16] #3141 closed

[2020-12-11 20:16] leslierichardson95 commented on #3086
Thanks for submitting your feedback and we apologize for the delayed response.  Due to current resourcing and substantial extensibility changes we are currently working on that will result in significant, structural doc changes, we are closing this lower priority issue.  We will return to this issue on a later date and address it based on it's relevance after those extensive extensibility updates

[2020-12-11 20:16] #3086 closed

[2020-12-11 20:17] leslierichardson95 commented on #3079
Thanks for submitting your feedback and we apologize for the delayed response.  Due to current resourcing and substantial extensibility changes we are currently working on that will result in significant, structural doc changes, we are closing this lower priority issue.  We will return to this issue on a later date and address it based on it's relevance after those extensive extensibility updates

[2020-12-11 20:17] #3079 closed

[2020-12-11 20:18] leslierichardson95 commented on #3058
Thanks for submitting your feedback and we apologize for the delayed response.  Due to current resourcing and substantial extensibility changes we are currently working on that will result in significant, structural doc changes, we are closing this lower priority issue.  We will return to this issue on a later date and address it based on it's relevance after those extensive extensibility updates

[2020-12-11 20:18] #3058 closed

[2020-12-11 20:19] leslierichardson95 commented on #3044
Thanks for submitting your feedback and we apologize for the delayed response.  Due to current resourcing and substantial extensibility changes we are currently working on that will result in significant, structural doc changes, we are closing this lower priority issue.  We will return to this issue on a later date and address it based on it's relevance after those extensive extensibility updates

[2020-12-11 20:19] #3044 closed

[2020-12-11 20:20] leslierichardson95 commented on #2929
Thanks for submitting your feedback and we apologize for the delayed response.  Due to current resourcing and substantial extensibility changes we are currently working on that will result in significant, structural doc changes, we are closing this lower priority issue.  We will return to this issue on a later date and address it based on it's relevance after those extensive extensibility updates

[2020-12-11 20:20] #2929 closed

[2020-12-11 20:22] leslierichardson95 commented on #4344
Thanks for submitting your feedback and we apologize for the delayed response.  Due to current resourcing and substantial extensibility changes we are currently working on that will result in significant, structural doc changes, we are closing this lower priority issue.  We will return to this issue on a later date and address it based on it's relevance after those extensive extensibility updates

[2020-12-11 20:22] #4344 closed

[2020-12-11 20:23] #4306 closed

[2020-12-11 20:23] leslierichardson95 commented on #4285
Thanks for submitting your feedback and we apologize for the delayed response.  Due to current resourcing and substantial extensibility changes we are currently working on that will result in significant, structural doc changes, we are closing this lower priority issue.  We will return to this issue on a later date and address it based on it's relevance after those extensive extensibility updates

[2020-12-11 20:23] #4285 closed

[2020-12-11 20:25] leslierichardson95 commented on #4202
Thanks for submitting your feedback and we apologize for the delayed response.  Due to current resourcing and substantial extensibility changes we are currently working on that will result in significant, structural doc changes, we are closing this lower priority issue.  We will return to this issue on a later date and address it based on it's relevance after those extensive extensibility updates

[2020-12-11 20:25] #4202 closed

[2020-12-11 20:30] gewarren commented on #5893
Consider adding a see also link to https://docs.microsoft.com/en-us/dotnet/core/compatibility/windows-forms/5.0/automatically-infer-winexe-output-type.

[2020-12-11 20:31] leslierichardson95 commented on #3805
Thanks for submitting your feedback and we apologize for the delayed response.  Due to current resourcing and substantial extensibility changes we are currently working on that will result in significant, structural doc changes, we are closing this lower priority issue.  We will return to this issue on a later date and address it based on it's relevance after those extensive extensibility updates

[2020-12-11 20:31] #3805 closed

[2020-12-11 20:32] leslierichardson95 commented on #3770
Thanks for submitting your feedback and we apologize for the delayed response.  Due to current resourcing and substantial extensibility changes we are currently working on that will result in significant, structural doc changes, we are closing this lower priority issue.  We will return to this issue on a later date and address it based on it's relevance after those extensive extensibility updates

[2020-12-11 20:32] #3770 closed

[2020-12-11 20:33] leslierichardson95 commented on #3707
Thanks for submitting your feedback and we apologize for the delayed response.  Due to current resourcing and substantial extensibility changes we are currently working on that will result in significant, structural doc changes, we are closing this lower priority issue.  We will return to this issue on a later date and address it based on it's relevance after those extensive extensibility updates

[2020-12-11 20:33] #3707 closed

[2020-12-11 20:35] leslierichardson95 commented on #3444
Thanks for submitting your feedback and we apologize for the delayed response.  Due to current resourcing and substantial extensibility changes we are currently working on that will result in significant, structural doc changes, we are closing this lower priority issue.  We will return to this issue on a later date and address it based on it's relevance after those extensive extensibility updates

[2020-12-11 20:35] #3444 closed

[2020-12-11 20:37] leslierichardson95 commented on #3238
Thanks for submitting your feedback and we apologize for the delayed response.  Due to current resourcing and substantial extensibility changes we are currently working on that will result in significant, structural doc changes, we are closing this lower priority issue.  We will return to this issue on a later date and address it based on it's relevance after those extensive extensibility updates

[2020-12-11 20:37] #3238 closed

[2020-12-11 20:37] leslierichardson95 commented on #3187
Thanks for submitting your feedback and we apologize for the delayed response.  Due to current resourcing and substantial extensibility changes we are currently working on that will result in significant, structural doc changes, we are closing this lower priority issue.  We will return to this issue on a later date and address it based on it's relevance after those extensive extensibility updates

[2020-12-11 20:37] #3187 closed

[2020-12-11 20:45] leslierichardson95 commented on #2818
Thanks for submitting your feedback and we apologize for the delayed response.  Due to current resourcing and substantial extensibility changes we are currently working on that will result in significant, structural doc changes, we are closing this lower priority issue.  We will return to this issue on a later date and address it based on it's relevance after those extensive extensibility updates

[2020-12-11 20:45] #2818 closed

[2020-12-11 20:49] leslierichardson95 commented on #2808
Thanks for submitting your feedback and we apologize for the delayed response.  Due to current resourcing and substantial extensibility changes we are currently working on that will result in significant, structural doc changes, we are closing this lower priority issue.  We will return to this issue on a later date and address it based on it's relevance after those extensive extensibility updates

[2020-12-11 20:49] #2808 closed

[2020-12-11 20:50] leslierichardson95 commented on #2782
Thanks for submitting your feedback and we apologize for the delayed response.  Due to current resourcing and substantial extensibility changes we are currently working on that will result in significant, structural doc changes, we are closing this lower priority issue.  We will return to this issue on a later date and address it based on it's relevance after those extensive extensibility updates

[2020-12-11 20:50] #2782 closed

[2020-12-11 20:51] leslierichardson95 commented on #2614
Thanks for submitting your feedback and we apologize for the delayed response.  Due to current resourcing and substantial extensibility changes we are currently working on that will result in significant, structural doc changes, we are closing this lower priority issue.  We will return to this issue on a later date and address it based on it's relevance after those extensive extensibility updates

[2020-12-11 20:51] #2614 closed

[2020-12-11 21:02] leslierichardson95 commented on #2502
Thanks for submitting your feedback and we apologize for the delayed response.  Due to current resourcing and substantial extensibility changes we are currently working on that will result in significant, structural doc changes, we are closing this lower priority issue.  We will return to this issue on a later date and address it based on it's relevance after those extensive extensibility updates

[2020-12-11 21:02] #2502 closed

[2020-12-11 21:09] #2242 closed

[2020-12-11 21:10] leslierichardson95 commented on #2234
Thanks for submitting your feedback and we apologize for the delayed response.  Due to current resourcing and substantial extensibility changes we are currently working on that will result in significant, structural doc changes, we are closing this lower priority issue.  We will return to this issue on a later date and address it based on it's relevance after those extensive extensibility updates

[2020-12-11 21:10] #2234 closed

[2020-12-11 21:11] leslierichardson95 commented on #2201
Thanks for submitting your feedback and we apologize for the delayed response.  Due to current resourcing and substantial extensibility changes we are currently working on that will result in significant, structural doc changes, we are closing this lower priority issue.  We will return to this issue on a later date and address it based on it's relevance after those extensive extensibility updates

[2020-12-11 21:11] #2201 closed

[2020-12-11 21:13] dotMorten commented on #4641
Why close it if it hasn't been addressed and will be later? That just seems counter intuitive and a bit demoralizing for submitters

[2020-12-11 21:49] leslierichardson95 commented on #2056
Thanks for submitting your feedback and we apologize for the delayed response.  Due to current resourcing and substantial extensibility changes we are currently working on that will result in significant, structural doc changes, we are closing this lower priority issue.  We will return to this issue on a later date and address it based on it's relevance after those extensive extensibility updates

[2020-12-11 21:49] #2056 closed

[2020-12-11 21:50] leslierichardson95 commented on #2055
Thanks for submitting your feedback and we apologize for the delayed response.  Due to current resourcing and substantial extensibility changes we are currently working on that will result in significant, structural doc changes, we are closing this lower priority issue.  We will return to this issue on a later date and address it based on it's relevance after those extensive extensibility updates

[2020-12-11 21:50] #2055 closed

[2020-12-11 21:51] leslierichardson95 commented on #2009
Thanks for submitting your feedback and we apologize for the delayed response.  Due to current resourcing and substantial extensibility changes we are currently working on that will result in significant, structural doc changes, we are closing this lower priority issue.  We will return to this issue on a later date and address it based on it's relevance after those extensive extensibility updates

[2020-12-11 21:51] #2009 closed

[2020-12-11 21:54] leslierichardson95 commented on #1945
Thanks for submitting your feedback and we apologize for the delayed response.  Due to current resourcing and substantial extensibility changes we are currently working on that will result in significant, structural doc changes, we are closing this lower priority issue.  We will return to this issue on a later date and address it based on it's relevance after those extensive extensibility updates

[2020-12-11 21:54] #1945 closed

[2020-12-11 21:56] leslierichardson95 commented on #1823
Thanks for submitting your feedback and we apologize for the delayed response.  Due to current resourcing and substantial extensibility changes we are currently working on that will result in significant, structural doc changes, we are closing this lower priority issue.  We will return to this issue on a later date and address it based on it's relevance after those extensive extensibility updates

[2020-12-11 21:56] #1823 closed

[2020-12-11 21:57] leslierichardson95 commented on #1701
Thanks for submitting your feedback and we apologize for the delayed response.  Due to current resourcing and substantial extensibility changes we are currently working on that will result in significant, structural doc changes, we are closing this lower priority issue.  We will return to this issue on a later date and address it based on it's relevance after those extensive extensibility updates

[2020-12-11 21:57] #1701 closed

[2020-12-11 21:58] leslierichardson95 commented on #1695
Thanks for submitting your feedback and we apologize for the delayed response.  Due to current resourcing and substantial extensibility changes we are currently working on that will result in significant, structural doc changes, we are closing this lower priority issue.  We will return to this issue on a later date and address it based on it's relevance after those extensive extensibility updates

[2020-12-11 21:58] #1695 closed

[2020-12-11 22:00] leslierichardson95 commented on #1622
Thanks for submitting your feedback and we apologize for the delayed response.  Due to current resourcing and substantial extensibility changes we are currently working on that will result in significant, structural doc changes, we are closing this lower priority issue.  We will return to this issue on a later date and address it based on it's relevance after those extensive extensibility updates

[2020-12-11 22:00] #1622 closed

[2020-12-11 22:00] leslierichardson95 commented on #1599
Thanks for submitting your feedback and we apologize for the delayed response.  Due to current resourcing and substantial extensibility changes we are currently working on that will result in significant, structural doc changes, we are closing this lower priority issue.  We will return to this issue on a later date and address it based on it's relevance after those extensive extensibility updates

[2020-12-11 22:00] #1599 closed

[2020-12-11 22:01] leslierichardson95 commented on #730
Thanks for submitting your feedback and we apologize for the delayed response.  Due to current resourcing and substantial extensibility changes we are currently working on that will result in significant, structural doc changes, we are closing this lower priority issue.  We will return to this issue on a later date and address it based on it's relevance after those extensive extensibility updates

[2020-12-11 22:01] #730 closed

[2020-12-11 22:01] leslierichardson95 commented on #718
Thanks for submitting your feedback and we apologize for the delayed response.  Due to current resourcing and substantial extensibility changes we are currently working on that will result in significant, structural doc changes, we are closing this lower priority issue.  We will return to this issue on a later date and address it based on it's relevance after those extensive extensibility updates

[2020-12-11 22:01] #718 closed

[2020-12-11 22:06] leslierichardson95 commented on #625
Thanks for submitting your feedback and we apologize for the delayed response.  Due to current resourcing and substantial extensibility changes we are currently working on that will result in significant, structural doc changes, we are closing this lower priority issue.  We will return to this issue on a later date and address it based on it's relevance after those extensive extensibility updates

[2020-12-11 22:06] #625 closed

[2020-12-11 22:07] leslierichardson95 commented on #604
Thanks for submitting your feedback and we apologize for the delayed response.  Due to current resourcing and substantial extensibility changes we are currently working on that will result in significant, structural doc changes, we are closing this lower priority issue.  We will return to this issue on a later date and address it based on it's relevance after those extensive extensibility updates

[2020-12-11 22:07] #604 closed

[2020-12-11 22:08] leslierichardson95 commented on #559
Thanks for submitting your feedback and we apologize for the delayed response.  Due to current resourcing and substantial extensibility changes we are currently working on that will result in significant, structural doc changes, we are closing this lower priority issue.  We will return to this issue on a later date and address it based on it's relevance after those extensive extensibility updates

[2020-12-11 22:08] #559 closed

[2020-12-11 22:09] leslierichardson95 commented on #401
Thanks for submitting your feedback and we apologize for the delayed response.  Due to current resourcing and substantial extensibility changes we are currently working on that will result in significant, structural doc changes, we are closing this lower priority issue.  We will return to this issue on a later date and address it based on it's relevance after those extensive extensibility updates

[2020-12-11 22:09] #401 closed

[2020-12-11 22:14] leslierichardson95 commented on #863
Thanks for submitting your feedback and we apologize for the delayed response.  Due to current resourcing and substantial extensibility changes we are currently working on that will result in significant, structural doc changes, we are closing this lower priority issue.  We will return to this issue on a later date and address it based on it's relevance after those extensive extensibility updates

[2020-12-11 22:14] #863 closed

[2020-12-11 22:20] Pxtl opened #6199 "No information on how to install profiling tools"
The attached documentation page does not include information on how to install profiling tools.  Since it is not part of the default Visual Studio installation, and this is the "getting started" page, I'd expect a link to an article on how to find the correct package in the very long list of packages in VS_INSTALLER.

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required

[2020-12-11 22:21] leslierichardson95 commented on #1557
Thanks for submitting your feedback and we apologize for the delayed response.  Due to current resourcing and substantial extensibility changes we are currently working on that will result in significant, structural doc changes, we are closing this lower priority issue.  We will return to this issue on a later date and address it based on it's relevance after those extensive extensibility updates

[2020-12-11 22:21] #1557 closed

[2020-12-11 22:38] leslierichardson95 commented on #1544
Thanks for submitting your feedback and we apologize for the delayed response.  Due to current resourcing and substantial extensibility changes we are currently working on that will result in significant, structural doc changes, we are closing this lower priority issue.  We will return to this issue on a later date and address it based on it's relevance after those extensive extensibility updates

[2020-12-11 22:38] #1544 closed

[2020-12-11 22:39] leslierichardson95 commented on #1541
Thanks for submitting your feedback and we apologize for the delayed response.  Due to current resourcing and substantial extensibility changes we are currently working on that will result in significant, structural doc changes, we are closing this lower priority issue.  We will return to this issue on a later date and address it based on it's relevance after those extensive extensibility updates

[2020-12-11 22:39] #1541 closed

[2020-12-11 22:39] leslierichardson95 commented on #1523
Thanks for submitting your feedback and we apologize for the delayed response.  Due to current resourcing and substantial extensibility changes we are currently working on that will result in significant, structural doc changes, we are closing this lower priority issue.  We will return to this issue on a later date and address it based on it's relevance after those extensive extensibility updates

[2020-12-11 22:39] #1523 closed

[2020-12-11 22:54] leslierichardson95 commented on #1415
Thanks for submitting your feedback and we apologize for the delayed response.  Due to current resourcing and substantial extensibility changes we are currently working on that will result in significant, structural doc changes, we are closing this lower priority issue.  We will return to this issue on a later date and address it based on it's relevance after those extensive extensibility updates

[2020-12-11 22:54] #1415 closed

[2020-12-11 22:54] leslierichardson95 commented on #1357
Thanks for submitting your feedback and we apologize for the delayed response.  Due to current resourcing and substantial extensibility changes we are currently working on that will result in significant, structural doc changes, we are closing this lower priority issue.  We will return to this issue on a later date and address it based on it's relevance after those extensive extensibility updates

[2020-12-11 22:54] #1357 closed

[2020-12-11 22:55] leslierichardson95 commented on #1334
Thanks for submitting your feedback and we apologize for the delayed response.  Due to current resourcing and substantial extensibility changes we are currently working on that will result in significant, structural doc changes, we are closing this lower priority issue.  We will return to this issue on a later date and address it based on it's relevance after those extensive extensibility updates

[2020-12-11 22:55] #1334 closed

[2020-12-11 22:56] leslierichardson95 commented on #1597
Thanks for submitting your feedback and we apologize for the delayed response.  Due to current resourcing and substantial extensibility changes we are currently working on that will result in significant, structural doc changes, we are closing this lower priority issue.  We will return to this issue on a later date and address it based on it's relevance after those extensive extensibility updates

[2020-12-11 22:56] #1597 closed

[2020-12-11 22:56] leslierichardson95 commented on #1568
Thanks for submitting your feedback and we apologize for the delayed response.  Due to current resourcing and substantial extensibility changes we are currently working on that will result in significant, structural doc changes, we are closing this lower priority issue.  We will return to this issue on a later date and address it based on it's relevance after those extensive extensibility updates

[2020-12-11 22:56] #1568 closed

[2020-12-11 22:56] leslierichardson95 commented on #1277
Thanks for submitting your feedback and we apologize for the delayed response.  Due to current resourcing and substantial extensibility changes we are currently working on that will result in significant, structural doc changes, we are closing this lower priority issue.  We will return to this issue on a later date and address it based on it's relevance after those extensive extensibility updates

[2020-12-11 22:56] #1277 closed

[2020-12-11 22:57] leslierichardson95 commented on #1219
Thanks for submitting your feedback and we apologize for the delayed response.  Due to current resourcing and substantial extensibility changes we are currently working on that will result in significant, structural doc changes, we are closing this lower priority issue.  We will return to this issue on a later date and address it based on it's relevance after those extensive extensibility updates

[2020-12-11 22:57] #1219 closed

[2020-12-11 22:58] leslierichardson95 commented on #1210
Thanks for submitting your feedback and we apologize for the delayed response.  Due to current resourcing and substantial extensibility changes we are currently working on that will result in significant, structural doc changes, we are closing this lower priority issue.  We will return to this issue on a later date and address it based on it's relevance after those extensive extensibility updates

[2020-12-11 22:58] #1210 closed

[2020-12-11 22:59] leslierichardson95 commented on #1194
Thanks for submitting your feedback and we apologize for the delayed response.  Due to current resourcing and substantial extensibility changes we are currently working on that will result in significant, structural doc changes, we are closing this lower priority issue.  We will return to this issue on a later date and address it based on it's relevance after those extensive extensibility updates

[2020-12-11 22:59] #1194 closed

[2020-12-11 22:59] leslierichardson95 commented on #1184
Thanks for submitting your feedback and we apologize for the delayed response.  Due to current resourcing and substantial extensibility changes we are currently working on that will result in significant, structural doc changes, we are closing this lower priority issue.  We will return to this issue on a later date and address it based on it's relevance after those extensive extensibility updates

[2020-12-11 22:59] #1184 closed

[2020-12-11 23:01] leslierichardson95 commented on #1179
Thanks for submitting your feedback and we apologize for the delayed response.  Due to current resourcing and substantial extensibility changes we are currently working on that will result in significant, structural doc changes, we are closing this lower priority issue.  We will return to this issue on a later date and address it based on it's relevance after those extensive extensibility updates

[2020-12-11 23:01] #1179 closed

[2020-12-11 23:02] leslierichardson95 commented on #1157
Thanks for submitting your feedback and we apologize for the delayed response.  Due to current resourcing and substantial extensibility changes we are currently working on that will result in significant, structural doc changes, we are closing this lower priority issue.  We will return to this issue on a later date and address it based on it's relevance after those extensive extensibility updates

[2020-12-11 23:02] #1157 closed

[2020-12-11 23:03] leslierichardson95 commented on #1099
Thanks for submitting your feedback and we apologize for the delayed response.  Due to current resourcing and substantial extensibility changes we are currently working on that will result in significant, structural doc changes, we are closing this lower priority issue.  We will return to this issue on a later date and address it based on it's relevance after those extensive extensibility updates

[2020-12-11 23:03] #1099 closed

[2020-12-11 23:05] leslierichardson95 commented on #968
Thanks for submitting your feedback and we apologize for the delayed response.  Due to current resourcing and substantial extensibility changes we are currently working on that will result in significant, structural doc changes, we are closing this lower priority issue.  We will return to this issue on a later date and address it based on it's relevance after those extensive extensibility updates

[2020-12-11 23:05] #968 closed

[2020-12-11 23:05] leslierichardson95 commented on #889
Thanks for submitting your feedback and we apologize for the delayed response.  Due to current resourcing and substantial extensibility changes we are currently working on that will result in significant, structural doc changes, we are closing this lower priority issue.  We will return to this issue on a later date and address it based on it's relevance after those extensive extensibility updates

[2020-12-11 23:05] #889 closed

[2020-12-11 23:06] leslierichardson95 commented on #882
Thanks for submitting your feedback and we apologize for the delayed response.  Due to current resourcing and substantial extensibility changes we are currently working on that will result in significant, structural doc changes, we are closing this lower priority issue.  We will return to this issue on a later date and address it based on it's relevance after those extensive extensibility updates

[2020-12-11 23:06] #882 closed

[2020-12-11 23:06] leslierichardson95 commented on #820
Thanks for submitting your feedback and we apologize for the delayed response.  Due to current resourcing and substantial extensibility changes we are currently working on that will result in significant, structural doc changes, we are closing this lower priority issue.  We will return to this issue on a later date and address it based on it's relevance after those extensive extensibility updates

[2020-12-12 06:48] kgreed opened #6201 "Instructions not quite right?"
[Enter feedback here]
"To disable the Diagnostic Tools, start a debugging session, choose Tools > Options > Enable Diagnostic Tools, and deselect the option."

I think this should read "Tools > Options > Debugging > Enable Diagnostic Tools while debugging"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39f7e6c9-3f47-4c

[2020-12-12 11:31] DataJuggler opened #6202 "Is there a way to suppress a Warning in Visual Studio and never show it in any project? If yes, update your docs please I can't find it."
[Enter feedback here]
I would prefer you add an option to Visual Studio 'Never show this message again' instead of making me suppress each error.
Great for people that want these warnings, but in some places your warning of 'assignment is unnecessary', causes an error that it was used without a value.

RIght Click 'Never Show Again' is what I want for most of your warnings.

---
#### Document Deta

[2020-12-14 21:13] WilliamAntonRohm commented on #6199
@Pxtl -- Martin, thank you for your feedback.  Please consider these resources:
- [Visual Studio on Q&A](https://docs.microsoft.com/en-us/answers/products/vs)
- [Visual Studio MSDN Forum](https://social.msdn.microsoft.com/Forums/vstudio)
- [Stack Overflow](https://stackoverflow.com/search?q=%22visual+studio%22)
- [Reddit](https://www.reddit.com/r/VisualStudio)

@Mikejo5000 -- Mike, please look int

[2020-12-14 21:18] WilliamAntonRohm commented on #6202
@DataJuggler -- thank you for your feedback.  Please add it here:
- Suggest a feature, track product issues, and find answers in the [Visual Studio Developer Community](https://developercommunity.visualstudio.com).

Here are some other resources for research:
- [Visual Studio on Q&A](https://docs.microsoft.com/en-us/answers/products/vs)
- [Visual Studio MSDN Forum](https://social.msdn.microsoft.co

[2020-12-14 21:18] #6202 closed

[2020-12-14 21:19] #6153 closed

[2020-12-15 00:29] TerryGLee commented on #6201
@kgreed We appreciate your feedback. We've updated the text based on your suggestion, so we'll close this issue now, and extend to you our thanks for helping us improve the documentation!

[2020-12-15 00:29] #6201 closed

[2020-12-15 02:45] aybiss opened #6205 "Oh, yes, why don't I just go set up a database :-D"
What if I want to use something other than a database? How can that possibly be the simplest example?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e1351cc8-f703-27a2-32c7-904256cb9e82
* Version Independent ID: 7a6912ef-da8d-6690-6da9-cc741fd5acde
* Content: [Create Data-Driven Unit Tests - Visual Studio](https://docs

[2020-12-15 17:23] mrward opened #6206 "Beta extensions for VS Mac"
How would an extension be published to the beta channel? Or will all extensions only be published to the Stable channel now?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 152afd6c-f908-0041-064d-4513daa7426a
* Version Independent ID: 63210f12-2bb8-515a-f65e-c56930a74d37
* Content: [Troubleshooting: How do I release a

[2020-12-15 20:08] lbelloq opened #6208 "Indicate to remove 'Target' property when 'Scope' is set to 'module'"
Hi,

It would avoid weird errors if the _Module suppression scope_ section explains that the `Target` property must be removed/commented out if the `Scope` property is set to `module`. It's not that hard to deduce, but having it in the documentation would make it easier.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5

[2020-12-15 22:02] WilliamAntonRohm commented on #6205
@aybiss -- thank you for your feedback and questions.

For your first question, please consider these resources:
- [Visual Studio on Q&A](https://docs.microsoft.com/en-us/answers/products/vs)
- [Visual Studio MSDN Forum](https://social.msdn.microsoft.com/Forums/vstudio)
- [Stack Overflow](https://stackoverflow.com/search?q=%22visual+studio%22)
- [Reddit](https://www.reddit.com/r/VisualStudio)

You

[2020-12-15 22:05] WilliamAntonRohm commented on #6206
@mrward -- Matt, thank you for your questions.  Please consider these resources:
- [Visual Studio on Q&A](https://docs.microsoft.com/en-us/answers/products/vs)
- [Visual Studio MSDN Forum](https://social.msdn.microsoft.com/Forums/vstudio)
- [Stack Overflow](https://stackoverflow.com/search?q=%22visual+studio%22)
- [Reddit](https://www.reddit.com/r/VisualStudio)

@heiligerdankgesang -- Dominic, ple

[2020-12-15 23:14] gewarren commented on #5888
The option has been added, so closing this issue.

https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/ca1051#exclude-structs

[2020-12-15 23:14] #5888 closed

[2020-12-15 23:43] Mikejo5000 commented on #5907
Currently this rule only exists in the legacy analyzers.

[2020-12-16 00:03] Mikejo5000 commented on #5883
Updated content links.

[2020-12-16 00:08] Mikejo5000 commented on #5853
Updated content links

[2020-12-16 00:11] Mikejo5000 commented on #5797
Updated links

[2020-12-16 00:12] Mikejo5000 commented on #5796
Updated links

[2020-12-16 00:14] Mikejo5000 commented on #5778
Updated content links

[2020-12-16 00:17] Mikejo5000 commented on #5755
Updated content links

[2020-12-16 00:18] Mikejo5000 commented on #5683
Updated content links

[2020-12-16 00:20] Mikejo5000 commented on #5580
Updated content links

[2020-12-16 00:21] Mikejo5000 commented on #5248
Updated content links

[2020-12-16 00:24] Mikejo5000 commented on #4996
Updated content links

[2020-12-16 00:25] Mikejo5000 commented on #4342
Updated content links

[2020-12-16 00:27] Mikejo5000 commented on #3860
Updated content link

[2020-12-16 00:28] Mikejo5000 commented on #3851
Updated content links

[2020-12-16 00:29] Mikejo5000 commented on #3728
Updated content links

[2020-12-16 00:30] Mikejo5000 commented on #3629
Updated content links

[2020-12-16 00:32] Mikejo5000 commented on #3228
Updated content links

[2020-12-16 00:33] TerryGLee commented on #5908
@CLIRResearch We've added information about the solution folder, here: https://docs.microsoft.com/en-us/visualstudio/ide/solutions-and-projects-in-visual-studio?view=vs-2019#solution-folder. We hope that this information proves useful, and regret that it wasn't available when you needed it. That being said, we'll close this now, with our thanks to you for helping us improve the documentation!

[2020-12-16 00:33] #5908 closed

[2020-12-16 00:36] Mikejo5000 commented on #3139
Updated content links

[2020-12-16 00:37] Mikejo5000 commented on #2548
Updated content links

[2020-12-16 00:39] Mikejo5000 commented on #2393
Updated content links (C++ rule)

[2020-12-16 00:42] Mikejo5000 commented on #5863
Updated content links

[2020-12-16 03:55] Markemp opened #6210 "Debugging docker containers not supported with VS for Mac"
Is this possible with VS for Mac 2019 to debug a linux docker container running an asp.net core app?  If not, there should probably be a note saying attaching to docker containers using VS for Mac isn't supported yet.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b816d9aa-344b-6956-11e9-2f58d24f604c
* Version Independ

[2020-12-16 07:24] shaikh123456 opened #6211 "Hot restart is not working in vs 16.8.3"
Hot restart is not working in vs 16.8.3 Severity	Code	Description	Project	File	Line	Suppression State Error		Error running hotrestart: 'An unexpected error occurred and the process has been terminated'. Command: 'sign -i="C:\Users\Shakil\AppData\Local\Temp\Xamarin\HotRestart\Bundles\16.8.000.260\e0eb8730\iRentalAppOffline.iOS.app" -p="C:\Users\Shakil\AppData\Local\Xamarin\iOS\Provisioning\Profiles

[2020-12-16 07:24] shaikh123456 opened #6212 "Hot restart not working"
Hot restart is not working in vs 16.8.3 Severity	Code	Description	Project	File	Line	Suppression State Error		Error running hotrestart: 'An unexpected error occurred and the process has been terminated'. Command: 'sign -i="C:\Users\Shakil\AppData\Local\Temp\Xamarin\HotRestart\Bundles\16.8.000.260\e0eb8730\iRentalAppOffline.iOS.app" -p="C:\Users\Shakil\AppData\Local\Xamarin\iOS\Provisioning\Profiles

[2020-12-16 17:55] Mikejo5000 commented on #5883
Ported issue to .NET.
Closing this in favor of [https://github.com/dotnet/docs/issues/22030](https://github.com/dotnet/docs/issues/22030)

[2020-12-16 17:55] #5883 closed

[2020-12-16 17:59] Mikejo5000 commented on #5866
Moved issue from Visual Studio to .NET
Closing this in favor of [https://github.com/dotnet/docs/issues/22031](https://github.com/dotnet/docs/issues/22031)

[2020-12-16 17:59] #5866 closed

[2020-12-16 18:07] Mikejo5000 commented on #5863
Moved issue to .NET
Closing this in favor of [https://github.com/dotnet/docs/issues/22032](https://github.com/dotnet/docs/issues/22032)

[2020-12-16 18:07] #5863 closed

[2020-12-16 18:10] Mikejo5000 commented on #5853
Moved issue to .NET
Closing this in favor of [https://github.com/dotnet/docs/issues/22033](https://github.com/dotnet/docs/issues/22033)

[2020-12-16 18:10] #5853 closed

[2020-12-16 18:13] Mikejo5000 commented on #5797
Moved issue to .NET
Closing this in favor of [https://github.com/dotnet/docs/issues/22034](https://github.com/dotnet/docs/issues/22034)

[2020-12-16 18:13] #5797 closed

[2020-12-16 18:16] Mikejo5000 commented on #5796
Moved issue to .NET
Closing this in favor of [https://github.com/dotnet/docs/issues/22035](https://github.com/dotnet/docs/issues/22035)

[2020-12-16 18:16] #5796 closed

[2020-12-16 18:20] Mikejo5000 commented on #5778
Moved issue to .NET
Closing this in favor of [https://github.com/dotnet/docs/issues/22036](https://github.com/dotnet/docs/issues/22036)

[2020-12-16 18:20] #5778 closed

[2020-12-16 18:22] Mikejo5000 commented on #5755
Moved issue to .NET
Closing this in favor of [https://github.com/dotnet/docs/issues/22037](https://github.com/dotnet/docs/issues/22037)

[2020-12-16 18:22] #5755 closed

[2020-12-16 18:27] Mikejo5000 commented on #5683
Moving issue to .NET
Closing this in favor of [https://github.com/dotnet/docs/issues/22038](https://github.com/dotnet/docs/issues/22038)

[2020-12-16 18:27] #5683 closed

[2020-12-16 18:31] Mikejo5000 commented on #5580
Moved issue to .NET
Closing this in favor of [https://github.com/dotnet/docs/issues/22039](https://github.com/dotnet/docs/issues/22039)

[2020-12-16 18:31] #5580 closed

[2020-12-16 18:38] Mikejo5000 commented on #5433
Docs have been updated in regard to the VSIX and .NET5 changes, so we could probably close this.
Regarding third-party solution for Unity, @kamyker, does .NET5 eliminate the need to use the third-party package for Unity?

[2020-12-16 18:46] Mikejo5000 commented on #5248
@dotpaul Is it OK to close this issue? If the security issue mentioned in the doc is still valid, we can close this out.

[2020-12-16 18:50] Mikejo5000 commented on #4342
Moved issue to .NET
Closing this in favor of [https://github.com/dotnet/docs/issues/22040](https://github.com/dotnet/docs/issues/22040)

[2020-12-16 18:50] #4342 closed

[2020-12-16 18:54] Mikejo5000 commented on #3860
Moved issue to .NET
Closing this in favor of [https://github.com/dotnet/docs/issues/22041](https://github.com/dotnet/docs/issues/22041)

[2020-12-16 18:54] #3860 closed

[2020-12-16 18:58] Mikejo5000 commented on #3851
Moved issue to .NET
Closing this in favor of [https://github.com/dotnet/docs/issues/22042](https://github.com/dotnet/docs/issues/22042)

[2020-12-16 18:58] #3851 closed

[2020-12-16 19:02] Mikejo5000 commented on #3728
Moved to .NET
Closing this issue in favor of [https://github.com/dotnet/docs/issues/22044](https://github.com/dotnet/docs/issues/22044)

[2020-12-16 19:02] #3728 closed

[2020-12-16 19:09] Mikejo5000 commented on #3629
Moved issue to .NET
Closing this in favor of [https://github.com/dotnet/docs/issues/22045](https://github.com/dotnet/docs/issues/22045)

[2020-12-16 19:09] #3629 closed

[2020-12-16 19:13] Mikejo5000 commented on #3228
Issue moved to .NET
Closing this in favor of [https://github.com/dotnet/docs/issues/22046](https://github.com/dotnet/docs/issues/22046)

[2020-12-16 19:13] #3228 closed

[2020-12-16 19:16] Mikejo5000 commented on #3139
Moved issue to .NET
Closing this in favor of [https://github.com/dotnet/docs/issues/22047](https://github.com/dotnet/docs/issues/22047)

[2020-12-16 19:16] #3139 closed

[2020-12-16 19:21] Mikejo5000 commented on #2548
Moved issue to .NET
Closing this in favor of [https://github.com/dotnet/docs/issues/22048](https://github.com/dotnet/docs/issues/22048)

[2020-12-16 19:21] #2548 closed

[2020-12-16 19:24] Mikejo5000 commented on #2393
Moved issue to C++
Closing this in favor of [https://github.com/MicrosoftDocs/cpp-docs/issues/2662](https://github.com/MicrosoftDocs/cpp-docs/issues/2662)

[2020-12-16 19:24] #2393 closed

[2020-12-16 20:58] WilliamAntonRohm commented on #6210
@Markemp -- Heffay, thank you for your question and feedback.  Please consider these resources:
- [Visual Studio on Q&A](https://docs.microsoft.com/en-us/answers/products/vs)
- [Visual Studio MSDN Forum](https://social.msdn.microsoft.com/Forums/vstudio)
- [Stack Overflow](https://stackoverflow.com/search?q=%22visual+studio%22)
- [Reddit](https://www.reddit.com/r/VisualStudio)

@Mikejo5000 -- Mike,

[2020-12-16 20:59] WilliamAntonRohm commented on #6212
Duplicate of #6211

[2020-12-16 20:59] #6212 closed

[2020-12-16 21:00] WilliamAntonRohm commented on #6211
@shaikh123456 -- thank you for your feedback.  Are you following a particular docs.microsoft.com article?  Meanwhile, please consider these resources:
- [Visual Studio on Q&A](https://docs.microsoft.com/en-us/answers/products/vs)
- [Visual Studio MSDN Forum](https://social.msdn.microsoft.com/Forums/vstudio)
- [Stack Overflow](https://stackoverflow.com/search?q=%22visual+studio%22)
- [Reddit](https

[2020-12-16 21:40] paolovalladolid opened #6216 "No actual instruction in how to remove references"
The article title says "How to: Add or remove references..." but there is no instruction on how to actually remove a reference

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 55284369-f16f-2748-2a55-8cd24a06b940
* Version Independent ID: f7b0c577-b584-98dc-90a2-4efcf095b35d
* Content: [Add references in the Reference Ma

[2020-12-16 22:04] WilliamAntonRohm commented on #6216
@paolovalladolid -- thank you for your feedback.  Please consider these resources:
- [Visual Studio on Q&A](https://docs.microsoft.com/en-us/answers/products/vs)
- [Visual Studio MSDN Forum](https://social.msdn.microsoft.com/Forums/vstudio)
- [Stack Overflow](https://stackoverflow.com/search?q=%22visual+studio%22)
- [Reddit](https://www.reddit.com/r/VisualStudio)

@TerryGLee -- please look into th

[2020-12-16 23:06] Mikejo5000 commented on #6196
@mavasani Manish, I can update doc with this suggestion if that sounds OK. Probably make the change in just the migration doc.

[2020-12-16 23:14] Mikejo5000 commented on #6171
@JuanZamudioGBM As I read the note in the doc, it sounds like you can target earlier versions. like netcoreapp3.1. Can you be more specific on what needs clarification? Thanks!

[2020-12-16 23:15] mavasani commented on #6196
@Mikejo5000 To clarify, `I won't get bug fixes for these rules` from the .NET SDK is not true, the correct statement being you will get the bug fixes much quicker if you are consuming the analyzers via the NuGet package as opposed to getting them from the .NET SDK itself. You will _eventually_ get all the bug fixes even if you are consuming the analyzers from the SDK. However, the cadence of new .

[2020-12-16 23:42] Mikejo5000 commented on #6196
Updating the note in the install doc

[2020-12-16 23:50] Mikejo5000 commented on #6196
The update to the install doc should go live by end of day.

[2020-12-16 23:50] #6196 closed

[2020-12-17 00:13] Mikejo5000 commented on #6122
The doc on custom MSBuild settings doesn't have many scenario-specific examples.

We do have an example here: https://docs.microsoft.com/en-us/visualstudio/code-quality/using-rule-sets-to-group-code-analysis-rules?view=vs-2019#specify-a-rule-set-for-a-project

I will add a link to this in the doc.

[2020-12-17 00:28] Mikejo5000 commented on #6122
Doc fix should be live by noon, 12/17

[2020-12-17 00:28] #6122 closed

[2020-12-17 00:32] Mikejo5000 commented on #5972
Doc has been updated.

[2020-12-17 00:32] #5972 closed

[2020-12-17 12:50] kamyker commented on #5433
NET5 is not supported in Unity, I've switched to Rider so issue not related to me anymore.

[2020-12-17 17:42] WilliamAntonRohm commented on #5433
@kamyker -- Kamil, thank you for clarifying.

I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2020-12-17 17:42] #5433 closed

[2020-12-17 18:29] jzabroski opened #6219 "devinit Tool List page out of date"
This doc: https://github.com/MicrosoftDocs/visualstudio-docs/blob/master/docs/devinit/devinit-tool-list.md

Does not match what's in schemastore: https://github.com/SchemaStore/schemastore/blob/b9549315d4e08a4099e6b725d5fa3d67ead73368/src/schemas/json/devinit.schema-4.0.json

It seems as if it is one major version behind.  Happy to submit a PR to fix and add all associated missing pages.

[2020-12-17 22:11] Mikejo5000 commented on #5907
Thanks for the feedback! Updating sample. It should go live by end of day, 12/17.

[2020-12-17 22:20] Mikejo5000 commented on #5872
Page has been updated for 16.8 and .NET5, so the screenshots have been removed.
The page also has links to two migration docs, which might be relevant:
- [Migrate from legacy analysis](https://docs.microsoft.com/en-us/visualstudio/code-quality/migrate-from-legacy-analysis-to-net-analyzers)
- [Migrate from FxCop analyzers to .NET analyzers](https://docs.microsoft.com/en-us/visualstudio/code-quality

[2020-12-17 22:20] #5872 closed

[2020-12-17 22:26] #5907 closed

[2020-12-17 22:34] Mikejo5000 commented on #5838
Moved issue to .NET
Closing this in favor of [https://github.com/dotnet/docs/issues/22074](https://github.com/dotnet/docs/issues/22074)

[2020-12-17 22:34] #5838 closed

[2020-12-17 22:45] Mikejo5000 commented on #5248
@dotpaul Closing this out, as it appears the security issue is likely valid, according to @Evangelink

[2020-12-17 22:45] #5248 closed

[2020-12-17 23:05] Mikejo5000 commented on #5777
Looks like the doc needs to be updated for VS 2019; existing content is probably VS 2017.
The content is for legacy rulesets, however, so lowering to Pri3.

[2020-12-17 23:17] Mikejo5000 commented on #5777
Test this on 16.8.3 for a .NET Framework 4.7.2 project, and it looks possible there was a UI problem in 16.7.2. If so, it has been resolved since. I see the Active Rules drop-down, and can select Browse to find a ruleset.

From your screenshot, it looks like you have a .NET Core or .NET Standard project, which doesn't support this procedure. I will update the note that mentions .NET Core / Standar

[2020-12-17 23:20] ajblackie opened #6220 "Add Azure AD Group for VS Subscription Management Not an Option"
I was looking for better ways to automate Visual Studio subscriptions for our employees that need it and was hopeful when I found this page about utilizing Azure AD Groups to do so but I couldn't find that option in our admin portal.
When I reached out to support they informed me that feature had been removed, but it's still on the page.

Either remove it from the page, or re-enable the feature
ht

[2020-12-17 23:21] zmarty opened #6221 "Please explain where the git command line went after introducing this new Git Changes tab"
Please explain where the git command line went after introducing this new Git Changes tab

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3fb36e99-33ae-20a2-a12d-a3e5d056a153
* Version Independent ID: b5a43c4a-c8bb-2c8a-56b3-09b12a713e58
* Content: [The Git experience in Visual Studio](https://docs.microsoft.com/en-us/v

[2020-12-17 23:26] TerryGLee commented on #6221
@zmarty Thanks for your inquiry; we'll circle back with you, soon.

@prnadago @Taysser-Gherfal FYI

[2020-12-17 23:26] Mikejo5000 commented on #5777
Doc fix should be live by end of day, 12/17

[2020-12-17 23:28] #5777 closed

[2020-12-17 23:49] WilliamAntonRohm commented on #6220
@ajblackie -- thank you for your feedback.

@evanwindom -- please look into this issue.

[2020-12-18 13:29] TomGeske opened #6223 "bridge-quickstart.sh fails with This chart location is deprecated"
When following steps as described:

[code]
I'm getting the following message as result:

[code]
seems like the wrong chart repo is being referenced.

#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25b96907-35cf-ff1f-d7ad-a231aa78418b
* Version Independent ID: 620e59a0-5658-9a05-c177-8d0687656e2a
* Content: [Use Bridge to Ku

[2020-12-18 13:51] RobL371 opened #6224 "No "Show Derived Classes menu option"."
The page says to click "Show derived classes" but that menu option is unavailable.  I can see "Show base classes".  Is this simply a doc error?

Even if I add derived classes to the diagram, that option doesn't show up when selecting a class.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c4254b3

[2020-12-18 17:21] evanwindom commented on #6220
@ajblackie - Thanks for reaching out.  The feature is still active.  As mentioned in the article, it's only available for trusted agreements.  Do you know if your organization has a trusted agreement?

[2020-12-18 18:12] ajblackie commented on #6220
Thanks Evan, I'm embarassed that I missed that!

I would have assumed we did, but we must not if that feature isn't showing up.

What's the easiest way for me to check that? I have access to our azure admin portal
________________________________
From: evanwindom <notifications@github.com>
Sent: Friday, December 18, 2020 11:21 AM
To: MicrosoftDocs/visualstudio-docs <visualstudio-docs@noreply.githu

[2020-12-18 18:33] JuanZamudioGBM commented on #6171
@Mikejo5000 the current version its noticeably clear about the versions and the target frameworks.

Thanks

[2020-12-18 18:42] Mikejo5000 commented on #6171
Great, thanks! Closing.

[2020-12-18 18:42] #6171 closed

[2020-12-18 19:32] evanwindom commented on #6220
@ajblackie  - No worries.  :)  You're definitely not the first person to ask that question.  In fact, I'm in the process of tweaking the article to include this issue in the FAQ.  To see what kind of agreement you have, you can log into the admin portal at https://manage.visualstudio.com/ and click on the agreement details tool, which is the second icon from the top at the far left.

[2020-12-18 19:46] Mikejo5000 commented on #5740
@SayusiAndo Doc may have been updated; there's a section here on building the command-line that talks about the requirements:
[Command-line usage](https://docs.microsoft.com/en-us/visualstudio/code-quality/use-roslyn-analyzers?view=vs-2019#command-line-usage).
Looks like a minor update is needed to clarify that this also works for both the NuGet package and the .NET 5 SDK. I will open a PR. @mavas

[2020-12-18 19:51] mavasani commented on #5740
Please see https://docs.microsoft.com/dotnet/fundamentals/code-analysis/overview#code-style-analysis for details of enabling IDE code style rules on build.

[2020-12-18 19:53] mavasani commented on #5740
@Mikejo5000 This already exists on VS docs as well: https://docs.microsoft.com/visualstudio/ide/code-styles-and-code-cleanup?view=vs-2019#enforce-code-styles-on-build

[2020-12-18 19:56] Mikejo5000 commented on #5740
Thanks, Manish. I'll add a link to that to the PR for code styles.

[2020-12-18 19:59] mavasani commented on #5740
@Mikejo5000 I think the FAQs at https://docs.microsoft.com/en-us/visualstudio/code-quality/analyzers-faq?view=vs-2019 already cover that EditorConfig and Rulesets are equivalent. Feel free to clarify as appropriate.

[2020-12-18 20:03] evanwindom commented on #6220
@ajblackie - You can also tell if your agreement is trusted by checking to see if you are able to over-allocate subscriptions.  If not, the agreement is not a trusted type.  To see overallocations, click the "Overview" button, which is the top one of the four on the far left.

I've just submitted several changes to the article to clarify this issue.  Thanks for bringing it to my attention!

[2020-12-18 20:18] Mikejo5000 commented on #5740
My main concern is that the "Command-line usage" section in this doc lists requirements, which can be confusing when they're not complete (yes/no?). Given the scenario, it seems like a link to your first link would be appropriate here, for code style support.

[2020-12-18 20:28] ajblackie commented on #6220
Thanks for the clarifications! Looks like we're setup with Pay-As-You-Go Visual Studio, which I assume is not a trusted agreement.

Part of my confusion came from my chat with support stating that the option had been disabled for VS as a whole, but maybe I had misinterpreted what they were saying:

[cid:9a9f8763-1d44-4bed-8e31-cc6cfc536704]

[cid:05ba511f-27b3-470d-9bb8-559b798230bb]

____________

[2020-12-18 22:24] #5740 closed

[2020-12-19 10:18] imamitjain opened #6232 "Download the ZIP link points to localhost"
`Download the ZIP` link points to localhost URI. It should suppose to be repository link.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 38a38919-b557-4723-7ea9-b0fbafbfdc52
* Version Independent ID: 2117c374-eda9-906e-392e-c55e1ebf8060
* Content: [Docker tutorial - Part 1: Build and run the todo list sample app](https

[2020-12-20 11:05] txwizard commented on #6193
Thank you, @WilliamAntonRohm for your prompt and succinct response. To you and @John-Hart, let me add that I eventually worked it out on my own, and am making great progress on the project.

[2020-12-20 12:02] Luferta commented on #2592
He instalado la extensión de Microsoft Reporting Services Projects en Visual Studio 2019, pero es imposible crear un nuevo proyecto de informes. No sale la opción de crear ese tipo de proyectos.
Muchas gracias.

[2020-12-21 05:31] msebolt commented on #6232
@imamitjain Thank you for the feedback.

Please review the step 1 information that states, `The install process makes the ZIP file containing the sample available at the localhost address`.

If there are still issues, please comment below and we can investigate further.

[2020-12-21 08:40] imamitjain commented on #6232
@msebolt Following steps has worked for me.

1. I installed docker using [Docker for Windows installation documentation](https://docs.docker.com/docker-for-windows/install/)
2. Run `docker run -d -p 80:80 docker/getting-started` as stated in [Getting started](https://docs.microsoft.com/en-us/visualstudio/docker/tutorials/docker-tutorial) to get `app.zip`

I think, current documentation for Step 1.

[2020-12-21 09:34] audunsolemdal opened #6233 "License notifications using AAD group sync"
Hello, specific question regarding email notifications

When users are synced with AAD groups as opposed to adding individual users - do users still get email notifications for newly assigned/unassigned licenses?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8ac6f4b8-da9d-5b7b-0c18-b6ed1f85433a
* Version Independent I

[2020-12-21 15:17] LazerFX commented on #6205
I fail to see the point of this question - this is a *Data Driven Test* - a *data*base is a source and repository of data and the most likely data source for a data driven test.  This is not like an xUnit class/function/parameter based `Theory` test, this is for large-scale testing of significant volumes of data, or complex data types that are better expressed with a data store.

[2020-12-21 16:57] Mikejo5000 commented on #6205
Yes, this doc covers a particular scenario; it's difficult to cover every scenario, but please make a suggestion if you see an important gap.
Meanwhile, see this doc for a more common unit testing scenario:
[https://docs.microsoft.com/en-us/visualstudio/test/walkthrough-creating-and-running-unit-tests-for-managed-code?view=vs-2019](https://docs.microsoft.com/en-us/visualstudio/test/walkthrough-cre

[2020-12-21 17:35] greenie-msft commented on #6223
This has been addressed by the product team: https://github.com/microsoft/mindaro/commit/199b26ce8a40472a692be0113266b70365bc2648

[2020-12-21 21:11] aybiss commented on #6205
@WilliamAntonRohm I was searching for data driven tests when I arrived here. Perhaps if there are other ways you could link to them from this page?
@LazerFX Perhaps I'm just old fashioned but perhaps you've never come across other ways of handling data other than in a relational database. For example we sometimes use the memory of a computer to store information directly, rather than going through

[2020-12-21 21:23] #6178 closed

[2020-12-21 21:25] Mikejo5000 commented on #6205
Thanks for the suggestion. I'll take a look at that.

[2020-12-21 21:28] WilliamAntonRohm commented on #6232
@imamitjain -- Amit, thank you for your follow-up.  As this is working for you, I am closing this issue.  You are welcome to @ mention me for any further information.

cc @ghogen for awareness -- see also issue #5998.

[2020-12-21 21:28] #6232 closed

[2020-12-21 21:30] WilliamAntonRohm commented on #6233
@audunsolemdal -- Audun, thank you for your question.

@evanwindom -- Evan, please look into this issue.

[2020-12-21 22:11] #6060 closed

[2020-12-21 23:01] mattfrear commented on #5777
Cool, thanks @Mikejo5000. Yes you are correct, I am using a .NET Standard project.

[2020-12-22 11:18] nfnpmc opened #6236 "Step "1. Select + Add Environment ... ". This does not exist."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 563f476d-a91b-58c7-9e32-b238756cc97d
* Version Independent ID: 0a0e9cac-a8dc-47a1-14e1-1dacc3441613
* Content: [Manage Python environments and interpreters - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/python/managing-python-environme

[2020-12-22 11:29] nfnpmc commented on #6236
From the page https://docs.microsoft.com/en-us/visualstudio/python/managing-python-environments-in-visual-studio?view=vs-2019

[2020-12-22 11:52] KalleOlaviNiemitalo opened #6237 "MSBuild Exec task implements undocumented UseUtf8Output parameter"
A `UseUtf8Output` parameter was added to the `Exec` task in <https://github.com/dotnet/msbuild/pull/442> but that has not been documented.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bb479ee7-d34c-dd5d-6843-4abdec6c3894
* Version Independent ID: 40cd6644-b061-335e-7bd4-6beede753c5d
* Content: [Exec Task - Visual Stu

[2020-12-22 18:05] evanwindom commented on #6233
@audunsolemdal - Hi, Audun.  Thanks for reaching out.  It's my understanding that the assignment triggers the notification, regardless of whether the assignment is individual, bulk, or Azure AD linked.  But I'll verify that with our engineering team.  Given that we're in the midst of the holidays, though, there may be a delay in the response.

[2020-12-22 23:17] cleicester opened #6238 "Publish to Azure from Visual Studio 2019 for Mac Not Covered"
The document doesn't cover an equivalent way to import a downloaded Azure deployment settings into Visual Studio 2019 for Mac. It would be useful if this were included in a section on this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a4cdce0-fb0c-5c4f-13a3-b24d39662b64
* Version Independent ID: 70146337-d649-c

[2020-12-23 08:37] Rishi5583 opened #6240 "Not able to install Win10SDK_10.0.18362 via visual studio installer"
I have updated Visual studio ,for cmake instal;ing opencv ,cuda version.After updating , showing that win10SSDK__10.0.18362 ,is not installed properly.
I have tried with after uninstalling and showing , installation couldn't  continue , your machine is installing a program other than Visual Studio
I am trying to solve this issue from last 2 days ,please tell me is there other way to install sdk se

[2020-12-23 20:25] gewarren opened #6242 "Add see also link to SDK properties reference"
Consider adding a link to https://docs.microsoft.com/en-us/dotnet/core/project-sdk/msbuild-props. I see there's a see also link to https://docs.microsoft.com/en-us/dotnet/core/project-sdk/msbuild-props on the common msbuild *items* page, but I think it should be on this properties page instead.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2020-12-23 20:50] WilliamAntonRohm commented on #6240
@Rishi5583 -- thank you for your question.  This repo is solely for documentation issues, with limited support options.  Are you following a particular docs.microsoft.com article?  Meanwhile, please consider these resources:
- [Visual Studio on Q&A](https://docs.microsoft.com/en-us/answers/products/vs)
- [Visual Studio MSDN Forum](https://social.msdn.microsoft.com/Forums/vstudio)
- [Stack Overflow

[2020-12-25 23:31] albertrw83 opened #6245 "F11 to enter or exit fullscreen"
[Enter feedback here]
I think it's actually F11 to exit fullscreen mode. not alt+shift+enter

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 68544507-42a5-6364-b7e2-17115bd5c88d
* Version Independent ID: e588245e-c033-32a1-18b8-8bb81d7461fe
* Content: [Full screen and virtual space mode - Visual Studio](https://docs.mic

[2020-12-26 11:27] paulomorgado opened #6246 "$pragma directives missing in suppressions"
`#pragma warning` directives can be used to suppress code analysis violations.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 517e8321-aa13-0814-3398-9606d7c2664b
* Version Independent ID: 59efa3c4-ceaf-a384-94af-0f76584efe3f
* Content: [Suppress code analysis violations - Visual Studio](https://docs.microsoft.com/en-u

[2020-12-26 12:11] billyhigdon opened #6247 "Wording for Dependency vs Reference"
Under #5 on 'Add a new Project' the step states

As the first project was made using .Net Core, Visual Studio doesn't refer to 'References' on the sidebar but 'Dependencies'.  You can just make out the tail-end of 'Dependencies' on the screenshot, however the text is a bit inconsistent.  Not a huge thing, but might confuse somebody new.

---
#### Document Details

⚠ *Do not edit this section. It i

[2020-12-26 17:44] HSNHK opened #6248 "Outdated method"
Hello
Django documentation prefers now {% load static %}.

{% load staticfiles %} works but I think it is deprecated.

https://docs.djangoproject.com/en/dev/ref/templates/builtins/#static

Unfortunately, this method does not work in newer versions of Django and causes errors.
The error is as follows:
TemplateSyntaxError at /
'staticfiles' is not a registered tag library
---
#### Document Details

[2020-12-26 22:21] TomGeske commented on #6223
In my case I also needed to remove:

`--version 1.85.0`

![image](https://user-images.githubusercontent.com/3658893/103160055-dc510900-47d0-11eb-8e8f-f3387f0ab8ec.png)

[2020-12-27 01:28] ghogen commented on #6242
@gewarren Thanks, will add that.

[2020-12-27 07:49] rgl opened #6249 "How to customize visual studio from command line?"
I want to automate the customization of the Visual Studio settings; after installation, the first time VS is started, it shows several windows:

![image](https://user-images.githubusercontent.com/43356/103165989-4049f080-4816-11eb-8194-3e6f8dc302fd.png)
![image](https://user-images.githubusercontent.com/43356/103166002-5788de00-4816-11eb-983c-809160851499.png)

How do we reply to those windows wit

[2020-12-27 12:55] ddobric opened #6250 "Strange function names with performance profiling of unit tests"
I'm profiling unit tests with VS2019 16.8.2. Open Test Explorer, right mouse click on the unit tests and then 'Profile'.

Profiler starts, but it ends up with the following not useful result:
![image](https://user-images.githubusercontent.com/1756871/103171239-d7c93680-484a-11eb-9d58-a3853227e5e9.png)

I have enabled full PDB and tried both configurations Debug and Release.

[2020-12-27 13:39] rgl commented on #6249
I was able to use [`devenv /NoSplash /ResetSettings General /Command Exit`](https://docs.microsoft.com/en-us/visualstudio/ide/reference/resetsettings-devenv-exe?view=vs-2019) and a xsl to modify the `CurrentSettings.vssettings` settings file at https://github.com/rgl/visual-studio-community-vagrant/commit/1b387cc3e5a185ffc215a3b1f6a79d543db575b3 with:

[code]

Is this the recommended way of config

[2020-12-27 21:33] eunminlee opened #6253 "this doesn't work anymore"
[Enter feedback here]

web app for react+redux with docker container is not working.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e768b602-cd33-99b5-f15a-e510b5144cf8
* Version Independent ID: aa3332f0-f192-b9e2-dad1-4d81aa1cc194
* Content: [Deploy an ASP.NET Core Docker container to Docker Hub - Visual Studio](https:

[2020-12-28 08:23] wyasin opened #6254 "attach"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b4faf174-cdfd-e0d5-3eaf-e2c47d6d8f70
* Version Independent ID: 3464f7d8-21bc-b920-93a8-f5447b835b82
* Content: [Debugging an Azure cloud service or virtual machine - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/azure/vs-azure-tools-deb

[2020-12-28 08:23] #6254 closed

[2020-12-28 08:24] wyasin commented on #6254
opened by error

[2020-12-28 18:45] tanicFilip opened #6255 "Download link returns a 404 error :)"
Download installer link returns a 404 error. Perhaps the page was not updated soon? :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a35176f2-ca94-7bb8-08a5-9e415d364ef3
* Version Independent ID: a9f184a6-78b9-315b-4a02-1c93bd4c3940
* Content: [Getting Started with Visual Studio Tools for Unity](https://docs.microsoft

[2020-12-28 22:09] WilliamAntonRohm commented on #6250
@ddobric -- Damir, thank you for your feedback.  This repo is solely for documentation issues, with limited support options.  Are you following a particular docs.microsoft.com article?  Meanwhile, please consider these resources:
- [Visual Studio on Q&A](https://docs.microsoft.com/en-us/answers/products/vs)
- [Visual Studio MSDN Forum](https://social.msdn.microsoft.com/Forums/vstudio)
- [Stack Ove

[2020-12-28 22:16] WilliamAntonRohm commented on #6255
@tanicFilip -- thank you for finding that typo.  I believe the intended link is [Install Visual Studio](https://docs.microsoft.com/en-us/visualstudio/install/install-visual-studio?view=vs-2019) and I am updating this article.

[2020-12-28 22:20] WilliamAntonRohm commented on #6253
@eunminlee -- Eunmin, thank you for your feedback.  Please provide additional details for this issue.  Meanwhile, consider these resources:
- [Visual Studio on Q&A](https://docs.microsoft.com/en-us/answers/products/vs)
- [Visual Studio MSDN Forum](https://social.msdn.microsoft.com/Forums/vstudio)
- [Stack Overflow](https://stackoverflow.com/search?q=%22visual+studio%22)
- [Reddit](https://www.redd

[2020-12-28 22:25] eunminlee commented on #6253
@WilliamAntonRohm the react+redux template that visual studio provides does not work on the default docker setup. Is it something I have to wait for the update?

[2020-12-28 22:31] WilliamAntonRohm commented on #6249
@rgl -- Rui, thank you for your considered questions.  Please consider these resources:
- [Visual Studio on Q&A](https://docs.microsoft.com/en-us/answers/products/vs)
- [Visual Studio MSDN Forum](https://social.msdn.microsoft.com/Forums/vstudio)
- [Stack Overflow](https://stackoverflow.com/search?q=%22visual+studio%22)
- [Reddit](https://www.reddit.com/r/VisualStudio)

@ornellaalt -- Ornella, plea

[2020-12-28 22:37] WilliamAntonRohm commented on #6253
@eunminlee -- Eunmin, thank you for clarifying.  This repo is solely for documentation issues, and this issue appears to be product-related instead.  Please add your feedback here:
- Suggest a feature, track product issues, and find answers in the [Visual Studio Developer Community](https://developercommunity.visualstudio.com).

I am closing this issue now.  You are welcome to @ mention me for any

[2020-12-28 22:37] #6253 closed

[2020-12-29 08:40] averywu opened #6256 "翻譯問題"
「如果您尚未這麼做，請開啟終端機並移至 app 具有的目錄 Dockerfile 。」

這句應該翻成 「如果您尚未這麼做，請開啟終端機並移到您下載並解壓縮後的 app 目錄中去建立 Dockerfile 檔案」

---
#### 文件詳細資料

⚠ *請勿編輯此區段。 這是 docs.microsoft.com ➟ GitHub 問題連結的必要項。*

* ID: 38a38919-b557-4723-7ea9-b0fbafbfdc52
* Version Independent ID: 2117c374-eda9-906e-392e-c55e1ebf8060
* Content: [Docker 教學課程-第1部分：建立和執行 todo 清單範例應用程式](https://docs.microsoft.com/zh-tw/visualstudio/docker/tutorials/y

[2020-12-29 10:50] ddobric commented on #6250
Hi @WilliamAntonRohm ,

thanks for you response. None of provided forums describes this issue. Or at least I didn't find anything related to it.
I'm also not sure that this is not a documentation issue. Working with profiler is very shortly documented and the mentioned issue might be a documentation gap. If not, please let me know which repo might be more suitable and I will repost the issue.

Tha

[2020-12-29 11:51] vbaderks opened #6257 "MSBUILDEMITSOLUTION=0 doesn't work, environment variable needs to be removed"
It may be useful to add the remark that MSBUILDEMITSOLUTION=0 doesn't work. The environment variable needs to be removed completely. See also: https://github.com/dotnet/msbuild/issues/5166

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 50dca6ea-13b0-25a5-5610-15528bb97b0d
* Version Independent ID: 2dbcef84-bad9-310b-89

[2020-12-29 16:55] WilliamAntonRohm commented on #6257
@vbaderks -- Victor, thank you for your feedback.  For your suggestion to remove that environment variable, please consider:
- Suggest a feature, track product issues, and find answers in the [Visual Studio Developer Community](https://developercommunity.visualstudio.com).

@ghogen -- Gordon, please look into this potential remark.

cc @rainersigwald for awareness

[2020-12-29 17:04] WilliamAntonRohm commented on #6256
(Bing translation)
"If you haven't already done so, open the terminal and move to dockerfile, which the app has." 」

This sentence turns into "If you haven't done that yet, open the terminal and move to your next app and solve it壓縮 to create a Dockerfile file"

@averywu -- Avery, thank you for your feedback.

@ghogen -- Gordon, please look into this potential clarification.

[2020-12-29 20:53] WilliamAntonRohm commented on #6250
@ddobric -- Damir, thank you for the follow-up.  In your first message, do you mean the function names are in hex rather than plain text?  If so, please add that here:
- Suggest a feature, track product issues, and find answers in the [Visual Studio Developer Community](https://developercommunity.visualstudio.com).

Please add a link to the profiler documentation you're working with, so I can inve

[2020-12-30 10:42] ddobric commented on #6250
Hi @WilliamAntonRohm . yes I mean exactly that.
However, this is feature almost 10 years old. And I also right now have examples when that works well (as expected).
I think it is a documentation gap, or possibly a bug.

[2020-12-30 18:47] WilliamAntonRohm commented on #6250
@ddobric -- Damir, thank you for clarifying.  For a bug, please report it here:
- [Report a Problem](https://docs.microsoft.com/visualstudio/ide/how-to-report-a-problem-with-visual-studio)

Are you in the vicinity of [Run unit tests with Test Explorer](https://docs.microsoft.com/visualstudio/test/run-unit-tests-with-test-explorer)?

[2021-01-02 09:39] ReportDataCode opened #6261 "Opening a project from Github Repo shows a "Git Failed with fata Error""
[Enter feedback here]
Here is the error dialog box's content.
Git failed with fatal error.
'
![image](https://user-images.githubusercontent.com/69062810/103454669-47469680-4d21-11eb-80fe-b6e6ab8d4365.png)

I repaired my visual studio after this happen still not fix

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 01e6eab

[2021-01-02 09:43] ReportDataCode commented on #6261
Within my knowledge,the problem seems to be about SSL and certifications.This is a odd for me at least consideration that Cloning a repo is state as "Getting Started".
For my reasons,Getting started should note the SSL and certification for people such as me,a beginner will be informed,

[2021-01-03 17:34] MySixSenses opened #6262 "Download Visual Studio is broken"
The link https://docs.microsoft.com/en-us/docs/install/install-visual-studio.md is broken and leads to a 404
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a35176f2-ca94-7bb8-08a5-9e415d364ef3
* Version Independent ID: a9f184a6-78b9-315b-4a02-1c93bd4c3940
* Content: [Getting Started with Visual Studio Tools for Unity](h

[2021-01-04 03:15] rainersigwald commented on #6257
The product-side fix was rejected as low-priority in that MSBuild bug.

I feel like this line in the doc covers the request:

But we could consider changing the doc to say "look in the binlog" instead. Though that's a bigger change.

[2021-01-04 14:37] therealjohn commented on #6262
I think this is a dupe of #6255 and will be fixed as soon as a pending PR is merged.

Thanks!

[2021-01-04 17:42] gewarren opened #6263 "Where is the explanation of the severity levels?"
---
**Issue moved from dotnet/docs#22178**
- Please respond to @StingyJack.

---

_From @StingyJack on Tuesday, December 29, 2020 5:24:57 PM_

On the TextEditor -> C# -> CodeStyle -> Formatting -> Naming config page there is a “Refactoring Only” option for Severity. What does it do?
![image](https://user-images.githubusercontent.com/15381181/103302098-d0339a00-49d0-11eb-85be-51f7f7cb0fdc.png)

---

[2021-01-04 17:42] gewarren commented on #6263
---
**Issue moved from dotnet/docs#22178**
- Please respond to @dennistouchet.

---

_From @dennistouchet on Wednesday, December 30, 2020 9:40:45 PM_

I will check this out as soon as I have a moment, but my first guess would be that maybe it is an option that only appears in the `Context Menu` under `refactor`.
I agree severity levels could use more detail in the docs.

[2021-01-04 17:42] gewarren commented on #6263
---
**Issue moved from dotnet/docs#22178**
- Please respond to @gewarren.

---

_From @gewarren on Monday, January 4, 2021 5:11:35 PM_

This info would be more appropriate in the VS docs, perhaps in [this section](https://docs.microsoft.com/en-us/visualstudio/ide/code-styles-and-code-cleanup?toc=%2Fvisualstudio%2Fcode-quality%2Ftoc.json&view=vs-2019#code-styles-in-the-options-dialog-box). Also, th

[2021-01-04 17:42] gewarren commented on #6263
---
**Issue moved from dotnet/docs#22178**
- Please respond to @StingyJack.

---

_From @StingyJack on Monday, January 4, 2021 5:15:41 PM_

@gewarren  that page does have some of the info I needed but I still dont see what "Refactoring Only" means or does.  When searching for "Refactoring Only" in all of MS VS IDE documentation this article is the only mention of it.

[2021-01-04 17:42] gewarren commented on #6263
---
**Issue moved from dotnet/docs#22178**
- Please respond to @gewarren.

---

_From @gewarren on Monday, January 4, 2021 5:29:26 PM_

Here's the [VS descriptions](https://github.com/MicrosoftDocs/visualstudio-docs-pr/blob/release-16.7/docs/ide/editorconfig-language-conventions.md#severity-levels) that have since been deleted. The "Refactoring Only" option corresponds to "silent" in this table.

[2021-01-04 17:42] gewarren commented on #6263
---
**Issue moved from dotnet/docs#22178**
- Please respond to @Mikejo5000.

---

_From @Mikejo5000 on Monday, January 4, 2021 5:32:18 PM_

Looks fine to transfer this, Genevieve.

[2021-01-04 19:53] TerryGLee commented on #3775
@crojasd00 Thanks for your feedback and apologies that it's taken some time for us to respond. As of today's date, we can report that we've revaluated this page and its related pages. We’ve confirmed that the intent of this page is to introduce solutions and projects at a conceptual level and then link to related pages that include in-depth information. However, to respond to your feedback that th

[2021-01-04 19:53] #3775 closed

[2021-01-04 20:00] StingyJack commented on #6263
@gewarren  that last link is 404
https://github.com/MicrosoftDocs/visualstudio-docs-pr/blob/release-16.7/docs/ide/editorconfig-language-conventions.md#severity-levels

[2021-01-04 20:22] gewarren commented on #6263
Thanks, should be fixed now.

[2021-01-04 20:31] zaphodikus opened #6265 "MSTest nor NUnit tests get discovered by the test runner"
After struggling to create a unit test project using NUNIT, I came to the page https://docs.microsoft.com/en-us/visualstudio/test/getting-started-with-unit-testing?toc=%2Fvisualstudio%2Fget-started%2Fcsharp%2Ftoc.json&bc=%2Fvisualstudio%2Fget-started%2Fcsharp%2Fbreadcrumb%2Ftoc.json&view=vs-2019&tabs=mstest and followed the exact steps, which in my past experience of these guides will work. Howeve

[2021-01-04 21:01] RafaelLiendo2409 opened #6266 "The publication to Aszure does not work"
I ran the image in my local machine and worked fine, but when I am trying to publish it to Azure, I got:

Gravedad Código Descripción Proyecto Archivo Línea Estado suprimido
Error No se pudo ejecutar el comando de Docker. Código de salida: 1.
The command 'cmd /S /C dotnet restore "DockerAppPrueba/DockerAppPrueba.csproj"' returned a non-zero code: 1 DockerAppPrueba C:\Users\usuario\source\repos\Doc

[2021-01-04 21:53] #6211 closed

[2021-01-04 21:55] WilliamAntonRohm commented on #6262
@MySixSenses -- thank you for raising this issue.  As @therealjohn mentioned, there is a previous issue (#6255) on this same topic, which is in process now.

I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2021-01-04 21:55] #6262 closed

[2021-01-04 22:02] WilliamAntonRohm commented on #6266
@RafaelLiendo2409 -- Rafael, thank for your feedback.  This repo is solely for documentation issues, with limited support options.
 Please consider these resources:
- [Visual Studio on Q&A](https://docs.microsoft.com/en-us/answers/products/vs)
- [Visual Studio MSDN Forum](https://social.msdn.microsoft.com/Forums/vstudio)
- [Stack Overflow](https://stackoverflow.com/search?q=%22visual+studio%22)
-

[2021-01-04 22:02] #6266 closed

[2021-01-04 22:05] WilliamAntonRohm commented on #6265
@zaphodikus -- Conrad, thank you for your feedback.  Please consider these resources, and let me know your results:
- [Visual Studio on Q&A](https://docs.microsoft.com/en-us/answers/products/vs)
- [Visual Studio MSDN Forum](https://social.msdn.microsoft.com/Forums/vstudio)
- [Reddit](https://www.reddit.com/r/VisualStudio)

[2021-01-04 22:35] Mikejo5000 commented on #6265
@zaphodikus Conrad, were you able to see the NUnit template, and you used the NUnit template to create the unit tests? What VS workloads do you have installed? @kendrahavens @AbhitejJohn in case they have some ideas on this.

[2021-01-04 22:57] heiligerdankgesang commented on #6206
@mrward - good catch! My impression is that the new publishing process doesn't publish to the beta channel, but ultimately, this would be a question for @slluis.

CCing @jmatthiesen as I'll be out when Lluis gets back.

[2021-01-04 23:24] TerryGLee commented on #6261
@ReportDataCode Thanks for your feedback; I'm working on updating this page for the new [Git experience in Visual Studio](https://docs.microsoft.com/en-us/visualstudio/ide/git-with-visual-studio?view=vs-2019) and will add the [GitHub sign-in](https://docs.microsoft.com/en-us/visualstudio/ide/work-with-github-accounts?view=vs-2019) info to it, too. I'll report back and close this issue after the up

[2021-01-05 00:14] #6255 closed

[2021-01-05 00:17] TerryGLee commented on #6245
@albertrw83 Unfortunately, I cannot reproduce the behavior you describe by pressing F11. Only **Alt**+**Shift**+**Enter** works to enter or exit full screen mode. Visual Studio reserves the F11 function key for debugging or build actions (see the [Default keyboard shortcuts in Visual Studio](https://docs.microsoft.com/visualstudio/ide/default-keyboard-shortcuts-in-visual-studio?view=vs-2019) page

[2021-01-05 00:17] #6245 closed

[2021-01-05 00:31] WilliamAntonRohm commented on #6262
@MySixSenses -- thank you for your feedback.  I have updated the documentation and it should be live by tomorrow.

@therealjohn -- thank you for your assistance.

[2021-01-05 01:24] StingyJack commented on #6263
In case of future link rot, here is the relevant table from that page.

## Severity levels

A language convention severity specifies the level at which to enforce that style. The following table lists the possible severity values and their effects:

Severity | Effect
:------- | ------
`error` | When this style rule is violated, show a compiler error.
`warning` | When this style rule is violated, s

[2021-01-05 01:49] gewarren opened #6268 "Enforce code style in CI/CD pipeline"
Does that statement need to be updated to say that [it is possible with the .NET 5 SDK](https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/overview?view=vs-2019#code-style-analysis)?

"Conventions that are set in an EditorConfig file cannot currently be enforced in a CI/CD pipeline as build errors or warnings. Any style deviations appear only in the Visual Studio editor and Error L

[2021-01-05 07:34] AbhitejJohn commented on #6265
@zaphodikus : I'd recommend using the nunit template as Mike pointed out. You'd want to make sure that the project has a reference to the nunit test adapter as well, which is a separate package from the framework. The template takes care of all of this for you. Also, most troubleshooting information is put out in the Output->Tests pane and verbosity can be toggled from the the top level menu, Test

[2021-01-05 12:26] shockylemi opened #6269 "include `"compileOnSave": true` in tsconfig.json"
tsconfig.json example better include `"CompileOnSave": true` by default.

change the tsconfig.json code snippet with this one:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 68483bc8-45dc-fc2e-b289-2901a70461ff
* Version Independent ID: 5167502a-bd55-8927-5656-1c4f107884d7
* Content: [Create an ASP.NET Core app

[2021-01-05 23:47] #5076 closed

[2021-01-06 05:11] woutervanranst commented on #6146
@ghogen any update?

[2021-01-06 12:42] sabindangol opened #6272 "Download the Zip does not work"
The link to download the zip under `Get the App` section does not work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 38a38919-b557-4723-7ea9-b0fbafbfdc52
* Version Independent ID: 2117c374-eda9-906e-392e-c55e1ebf8060
* Content: [Docker tutorial - Part 1: Build and run the todo list sample app](https://docs.microsoft.

[2021-01-06 14:10] TomGeske commented on #6223
Just tested latest version and it worked for me. Thanks for fixing it!

[2021-01-06 14:10] #6223 closed

[2021-01-06 14:31] audunsolemdal commented on #6233
@evanwindom  any updates?

[2021-01-06 15:25] davrob01 opened #6273 "New Git Experience and Azure Dev Ops"
The New Git Experience documentation does not mention how to properly Publish a new local repo to Azure Dev Ops. In the old system, there was a convenient button and menu for this purpose in Team Explorer. I expected to see something similar in the new Git Experience. But instead I am finding Git Hub integrations only. So I think you either need to add the integrations, or at least mention the ste

[2021-01-06 16:16] stpatrick2016 opened #6274 "TreatAsLocalProperty seems like has no effect in SDK format csproj files"
When running msbuild from the command line and specifying property with **-p**, it overrides project properties. It is possible to cancel such behavior by setting TreatAsLocalProperty. It works correctly with the old csproj format but seems has no effect on projects with the new SDK format.

Tried that with VS2017 and property OutDir

---
#### Document Details

⚠ *Do not edit this section. It is r

[2021-01-07 01:25] #6240 closed

[2021-01-07 01:32] WilliamAntonRohm commented on #6273
@davrob01 -- David, thank you for your well-considered feedback.

@TerryGLee -- Terry, please look into this issue.

[2021-01-07 01:46] WilliamAntonRohm commented on #6272
@sabindangol -- thank you for your feedback. This issue is being tracked in #5827.

cc @ghogen

[2021-01-07 01:46] #6272 closed

[2021-01-07 06:37] ghogen commented on #6272
@sabindangol That link references a localhost zip which is installed when you complete step 1 and install Docker.

[2021-01-07 22:13] gewarren opened #6277 "Convert to FAQ page type"
Consider converting this page to the new FAQ page type for SEO.

https://review.docs.microsoft.com/en-us/help/contribute/contribute-how-to-faq-guide?branch=master

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: efd1e8a4-67b0-57f9-7026-dab24253f7a9
* Version Independent ID: b04dd946-edef-3bbc-ebd1-b6ac43d19689
* Content:

[2021-01-07 22:15] gewarren opened #6278 "Convert to FAQ page type"
Consider converting this page to the new FAQ page type for SEO.

https://review.docs.microsoft.com/en-us/help/contribute/contribute-how-to-faq-guide?branch=master

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ca23766-4d28-9392-2119-1ed933c82ced
* Version Independent ID: c5bd6fc4-161d-f1b7-6aa2-9fc1af46a8b4
* Content:

[2021-01-08 01:22] richard-hgs opened #6280 "DIA SDK - IDiaDataSource::loadDataFromIStream"
In C++ there is a sample of how to load a .PDB file from a remote server inside the DIA SDK interface? loadDataFromIStream can be used? I can't find the answer in any place over the internet.

Thanks in advance.

[2021-01-08 02:18] richard-hgs commented on #6280
I solved it, thanks again in advance!

[2021-01-08 02:18] #6280 closed

[2021-01-09 03:48] jgwinner opened #6282 "F1 leads to this page, which is irrelevant. Help seems to be badly broken."
[Enter feedback here]
Whenever I hit "F1" in a Visual Studio 2019 IDE window, while a C++ identifier  is highlighted, instead of getting help on that keyword, I end up here on "Work with solutions and projects" which isn't so useful.

Most versions of Visual Studio had a robust help system, where hitting F1 on an API call, for example, would show the MSDN documentation on that API call. VERY usefu

[2021-01-09 23:13] vskotatko opened #6283 "This doesn't seem to move the obj directory. How do I put the object directory somewhere outside of my source tree ?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e9422755-824a-b8b0-3da4-063b10ecaf44
* Version Independent ID: d4bfd8d2-d97c-1a71-579f-d677cdae6b94
* Content: [How to: Build to a common output directory - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/ide/how-to-build-to-a-common-outp

[2021-01-09 23:17] vskotatko commented on #6283
Via project > properties > build, I can set the "output path." However, when I build, it still create an obj directory in my source tree.

How do I route **all** build output outside  of my source tree ?

The reason for this is to simplify source backup, which happens daily. I don't want to put generated files on my backup store.

[2021-01-10 19:23] zaphodikus commented on #6265
I found the root cause at least of the general troubles with NUnit and Core. I have installed VS2019 community to D: , It's D: I made the  default location for applications to d: Installing to C: to dno resolve, but setting an environment variable
DOTNET_ROOT=D:\Program Files\dotnet\
Sorted it out when I finally focused on the Test output window by pressing CTRL+ALT+O , I had been struggling to co

[2021-01-11 03:08] rstambach1-coder opened #6284 "Cannot find Polls Django Web Project template"
[Enter feedback here]

On this page in step 6-1it says;
2. In the new project dialog, search for and select the Polls Django Web Project template, call the project "DjangoPolls", and select OK.

But there does not appear to be a "Polls Django Web Project template". I have searched for it from the Extensions Manager and online and cannot find it. Is this template no longer available?

---
#### Docu

[2021-01-11 08:41] AbhitejJohn commented on #6265
@zaphodikus : Glad you got that working. Looks like that is the recommendation from here: https://github.com/dotnet/sdk/issues/12359

[2021-01-11 16:58] Mikejo5000 commented on #6265
So, sounds like the issue is .NET Core and not much to do with NUnit, and there's no doc update here. Sound right?

[2021-01-11 17:20] AbhitejJohn commented on #6265
@Mikejo5000  That's correct.

[2021-01-11 17:21] Mikejo5000 commented on #6265
Thanks!

[2021-01-11 17:21] #6265 closed

[2021-01-11 19:39] TerryGLee commented on #6282
@jgwinner Thanks for your feedback; we'll investigate and report back.

[2021-01-11 20:30] ghogen commented on #6282
@jgwinner Are you seeing this issue with a specific subset of identifiers, or for all identifiers you've tried.  The functionality appears to work in general in my VS 2019 instance, but the behavior is dependent on metadata that relates to each individual string, be it an identifier, language keyword, operator, etc. I tried with "printf" and "GetFileAttributes" in the windows API and both gave the

[2021-01-11 20:44] jgwinner commented on #6282
All identifiers.

Huh - I just tried printf(), and it actually went to the printf page.

*sigh* I can't duplicate the bug now.

I will say that my FireFox and Edge browsers were occasionally acting weird - refusing to open pages, etc. I had plenty of system RAM. I have noticed (I have a LOT of open web pages) that when this happens, some resource - often handles - are leaked, and the system gets,

[2021-01-11 20:44] #6282 closed

[2021-01-11 20:48] ghogen commented on #6282
@jgwinner Check the focus in the IDE. It has to be on the editor window. We are seeing data that suggests that this is a common issue, with focus being on some other window, like Solution Explorer.

[2021-01-11 21:05] WilliamAntonRohm commented on #6283
@vskotatko -- thank you for your questions.  Please consider these resources:
- [Visual Studio on Q&A](https://docs.microsoft.com/en-us/answers/products/vs)
- [Visual Studio MSDN Forum](https://social.msdn.microsoft.com/Forums/vstudio)
- [Stack Overflow](https://stackoverflow.com/search?q=%22visual+studio%22)
- [Reddit](https://www.reddit.com/r/VisualStudio)

@ghogen -- please look into this poten

[2021-01-11 21:08] WilliamAntonRohm commented on #6284
@rstambach1-coder -- thank you for your feedback.  Please consider these resources:
- [Visual Studio on Q&A](https://docs.microsoft.com/en-us/answers/products/vs)
- [Visual Studio MSDN Forum](https://social.msdn.microsoft.com/Forums/vstudio)
- [Stack Overflow](https://stackoverflow.com/search?q=%22visual+studio%22)
- [Reddit](https://www.reddit.com/r/VisualStudio)

@JoshuaPartlow  -- please look i

[2021-01-11 21:10] ghogen commented on #6283
For C# projects, you can edit the project file

<IntermediateOutputPath>..\path\obj\</IntermediateOutputPath>

The obj folder will still be created. You can delete it, though. See this StackOverflow post for information:
https://stackoverflow.com/questions/261422/visualstudio-how-to-save-the-obj-folder-somewhere-else

[2021-01-11 21:11] ghogen commented on #6283
We should update the docs with this information. Thanks for the feedback.

[2021-01-11 22:06] jgwinner commented on #6282
It was solidly in the IDE, I had just double clicked to highlight the keyword.

Honestly - I was surprised it worked as I'm using some API's that are in the "don't use this" internal windows headers. But they did!

I'll do more work if I can duplicate it again when the system gets crufted up.

        == John ==

[2021-01-11 22:18] WilliamAntonRohm commented on #6269
@Mikejo5000 -- Mike, please review [private PR 7715](https://github.com/MicrosoftDocs/visualstudio-docs-pr/pull/7715).

[2021-01-12 02:02] #6269 closed

[2021-01-12 08:47] KalleOlaviNiemitalo opened #6288 "Duplicate documentation of LogStandardErrorAsError in ToolTaskExtension parameters"
The documentation of the Exec task lists the LogStandardErrorAsError parameter twice in the list of ToolTaskExtension parameters. That seems to come from [docs/msbuild/includes/tooltaskextension-base-params.md](https://github.com/MicrosoftDocs/visualstudio-docs/blob/03429e95199d99d3f47549ab7ac89bd7ae92a5b1/docs/msbuild/includes/tooltaskextension-base-params.md) added in <https://github.com/Microso

[2021-01-12 16:53] Anand-Moghe opened #6289 "What is the difference between pre-production and production inventory?"
The documentation does not give a definition of pre-production inventory. What is the difference between pre-production and production inventory? Licenses are assigned to users to use them. Where is the concept of pre-production inventory coming in?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 356558a8-2479-d26d-7d80

[2021-01-12 21:43] Mikejo5000 commented on #1226
Closing this as using VSIntr is deprecated (VS 2017 only). In VS 2019, there is an Instrumentation tool (Debug > Performance Profiler, choose Instrumentation).
For a little info on the changes, see: https://docs.microsoft.com/en-us/visualstudio/profiling/profiling-feature-tour?view=vs-2019#analyze-performance-legacy-tools

[2021-01-12 21:43] #1226 closed

[2021-01-13 00:27] WilliamAntonRohm commented on #6289
@Anand-Moghe -- Anand, thank you for your questions.

@evanwindom -- Evan, please look into this issue.

[2021-01-13 00:46] evanwindom commented on #6289
@Anand-Moghe - Hi Anand.  Thanks for your question.  It may be helpful to think of it as "non-production" rather that "pre-production".  With a few exceptions, the software included with the subscriptions - along with the Azure credits, are licensed for development and testing use only.  The licenses do not cover production use.  The full terms of the license can be found at https//aka.ms/licensin

[2021-01-13 16:38] Anand-Moghe commented on #6289
@evanwindom Thanks for the explanation. I think there should be an explanation in a info note somewhere on the page why we are calling it as pre-production or non-production. Because the title will be somewhat incomprehensible to someone who is coming to this page and doesn't really understand Microsoft inherent licensing conditions/terms.

[2021-01-13 17:56] TerryGLee commented on #3121
https://github.com/MicrosoftDocs/visualstudio-docs/issues/3121

[2021-01-13 18:25] TerryGLee commented on #2947
@hgunter Apologies that it's taken us some time to report back. As a colleague responded, we understand the bigger picture that you conveyed in your comments. Unfortunately, we do not have a page available that fully addresses your concerns, but we have added your request for a page that does so to our backlog to address at a future date.

Meanwhile, we have added the `project.addnewitem` F1 keywo

[2021-01-13 18:25] #2947 closed

[2021-01-13 18:48] #6250 closed

[2021-01-14 14:16] NicolasPrivatViseo opened #6294 "Typo in documentation"
A 's' is missing in the text
"x64 designates a 64-bit Windows operating system that is running on an Intel x64 processor or it equivalent."
=> "x64 designates a 64-bit Windows operating system that is running on an Intel x64 processor or **its** equivalent."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1a80e5d7-2db7-

[2021-01-14 18:27] evanwindom commented on #6289
@Anand-Moghe Thanks for the suggestion.  I've annotated the article as follows:
"Visual Studio subscriptions software is not licensed for production environments, including any environment accessed by end users for more than acceptance testing or feedback, an environment connecting to a production database, supporting disaster recovery or production backup, or used for production during peak perio

[2021-01-14 18:27] evanwindom commented on #6289
#please-close

[2021-01-14 18:27] #6289 closed

[2021-01-15 00:50] Mikejo5000 commented on #3434
As noted previously, doc priority is on the ASP.NET Core and Node.js scenarios. NuGet or tsc are recommended over the TypeScript SDK, as noted in the docs.

Recent docs have provided more details on TS installation / build /configuration:

https://docs.microsoft.com/en-us/visualstudio/javascript/compile-typescript-code-nuget?view=vs-2019
https://docs.microsoft.com/en-us/visualstudio/javascript/com

[2021-01-15 00:50] #3434 closed

[2021-01-15 01:31] TerryGLee commented on #2186
@Nk54 Apologies that it's taken us some time to report back. Per our colleague's earlier suggestion, we've added a work item to our backlog queue to copy the settings mapping from [this section for VS 2017](https://docs.microsoft.com/en-us/visualstudio/ide/reference/options-text-editor-csharp-formatting?view=vs-2017#format-document-settings) to [this section about Code Cleanup in VS 2019](https://

[2021-01-15 01:31] #2186 closed

[2021-01-15 02:47] thiru2911 opened #6299 "admin login form"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 95ecd145-51ba-c1ea-312d-69c3c8a6221f
* Version Independent ID: 69b3580e-7066-6df2-decc-afe2e5f8cfc3
* Content: [Create a Windows Forms app with C# - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/ide/create-csharp-winform-visual-studio?v

[2021-01-15 17:47] Mikejo5000 commented on #3286
Removing the doc. The scenario doesn't appear to be supported anymore.

[2021-01-15 17:47] #3286 closed

[2021-01-15 18:40] WilliamAntonRohm commented on #6299
@thiru2911 -- thank you for your feedback.  Please clarify the nature of your task.  Meanwhile, consider these resources:
- [Visual Studio on Q&A](https://docs.microsoft.com/en-us/answers/products/vs)
- [Visual Studio MSDN Forum](https://social.msdn.microsoft.com/Forums/vstudio)
- [Stack Overflow](https://stackoverflow.com/search?q=%22visual+studio%22)
- [Reddit](https://www.reddit.com/r/VisualStu

[2021-01-15 18:59] Mikejo5000 commented on #3600
Updating this doc. Fix should be live by end of day, 1/15/21

[2021-01-15 19:12] Mikejo5000 commented on #5346
@WardenGnaw Andrew, do you have a suggestion on how to resolve the issue of third-party dependency management, as described here?

[2021-01-15 19:16] ghogen commented on #1578
We're going to go ahead and close this issue, because we have other documentation that helps with MSBuild. Having already implemented a few concrete suggestions on this, we want to close old, open-ended issues to keep a manageable backlog.

[2021-01-15 19:16] #1578 closed

[2021-01-15 19:17] WardenGnaw commented on #5346
We have someone currently reviewing this problem on this [feature request](https://developercommunity.visualstudio.com/content/idea/1046755/improve-ease-dependency-management-for-custom-visu.html).

[2021-01-15 19:35] ghogen commented on #1738
Closing out issues in older technology areas. Users are advised to consider using newer data access technologies such as Entity Framework.

[2021-01-15 19:35] #1738 closed

[2021-01-15 19:37] ghogen commented on #2886
The scope of the documentation doesn't include creating MSBuild SDKs, only consuming them. This could be a good project for a whitepaper or third-party blog.

[2021-01-15 19:37] #2886 closed

[2021-01-15 19:41] ghogen commented on #4403
Closing this issue, which is really a work item that hasn't been scheduled yet. Eventually, this work will be done, but no need to track this as an issue.

[2021-01-15 19:41] #4403 closed

[2021-01-15 19:42] ghogen commented on #4620
This was done a long time ago.
https://docs.microsoft.com/en-us/visualstudio/msbuild/solution-filters?view=vs-2019

[2021-01-15 19:42] #4620 closed

[2021-01-15 19:43] ghogen commented on #5259
Closing out issues on older technology areas. Consider using newer data technology areas such as Entity Framework.

[2021-01-15 19:43] #5259 closed

[2021-01-15 20:08] #3600 closed

[2021-01-15 20:28] #6288 closed

[2021-01-15 20:29] #6294 closed

[2021-01-15 21:50] #3620 closed

[2021-01-15 21:50] Mikejo5000 commented on #3620
Suggested Note looks good. Added to the docs. Should be live by end of day, 1/15/21

[2021-01-15 22:03] #6242 closed

[2021-01-15 22:43] Mikejo5000 commented on #5346
We had some offline discussion; classifying this as a product issue, no doc update planned.

[2021-01-15 22:43] #5346 closed

[2021-01-15 23:31] KalleOlaviNiemitalo opened #6301 "Csc task has many undocumented parameters"
The documentation of the Csc task omits several parameters that are however set by the "CoreCompile" target in Microsoft.CSharp.Core.targets:

- AdditionalFiles
- Analyzers
- ChecksumAlgorithm
- CodeAnalysisRuleSet
- EmbedAllSources
- EmbeddedFiles
- ErrorEndLocation
- ErrorLog
- Features
- HighEntropyVA
- Instrument
- PathMap
- PublicSign
- Prefer32Bit
- PreferredUILang
- ProvideCommandLineArgs
-

[2021-01-16 15:08] ddobric commented on #6250
Yes @WillBrown2000 . Use it for many years now. Great features, no question.
This is why raised this issue. I use profiling for more than 10 years I guess.

Thanks

[2021-01-16 17:18] zspitz commented on #5346
@Mikejo5000

As I noted [above](https://github.com/MicrosoftDocs/visualstudio-docs/issues/5346#issuecomment-633129596), as long as it hasn't been fixed in the product, the documentation is still lacking.

For the visualizers I've written, I tried a number of solutions that were all incredibly fragile and difficult to debug before settling on [this](https://github.com/zspitz/Periscope.Debuggee/blob

[2021-01-17 19:23] StingyJack opened #6303 "Where is the configuration of remote branches?"
I have to revert to the old view to be able to configure things like this.

Its kind of silly that I cant have both the old and the new git experiences enabled at the same time.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3fb36e99-33ae-20a2-a12d-a3e5d056a153
* Version Independent ID: b5a43c4a-c8bb-2c8a-56b3-09b12a71

[2021-01-18 21:44] adegeo opened #6304 "COMReference section is out of date"
**COMReference** section is missing `EmbedInteropTypes` and **WrapperTool** doesn't list `primary` as a value.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 97e663f7-3bac-61af-28bb-f0e471dcdca6
* Version Independent ID: 97985f56-e0ac-a03d-f651-b86cc2b85804
* Content: [Common MSBuild Project Items - Visual Studio](http

[2021-01-18 23:17] YoungWanHeeMOng opened #6305 "can I solve it?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 881accef-12e1-8454-43d3-66c5bde591c8
* Version Independent ID: a30e8d7e-be4e-8f31-cf0a-b2732324d8b0
* Content: [Private data for problem reports - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/ide/developer-community-privacy?view=vs-201

[2021-01-18 23:18] #6305 closed

[2021-01-19 12:53] VelizarHristov opened #6306 "Running JavaScript tests inside a .csproj doesn't seem supported, contrary to what the doc says"
I've been following the linked doc as I have a .csproj which has Vue.js code set up to work with Jest. This JS code is under the ClientApp subdirectory.

Multiple places of the Node JS test adapter code assume that I am running a JS project:
under F:\Programs\Microsoft Visual Studio\2019\Professional\Common7\IDE\Extensions\Microsoft\NodeJsTools\TestAdapter\TestFrameworks
there are two files: find_

[2021-01-19 20:12] WilliamAntonRohm commented on #6306
@VelizarHristov -- Velizar, thank you for your detailed feedback.  Please consider these resources:
- [Visual Studio on Q&A](https://docs.microsoft.com/en-us/answers/products/vs)
- [Visual Studio MSDN Forum](https://social.msdn.microsoft.com/Forums/vstudio)
- [Stack Overflow](https://stackoverflow.com/search?q=%22visual+studio%22)
- [Reddit](https://www.reddit.com/r/VisualStudio)

@Mikejo5000 -- M

[2021-01-19 21:35] TerryGLee commented on #6104
@plipowczan Thanks for sending your feedback to us. We've asked for additional feedback from you, but we haven't received it yet. We hope that the potential answer we provided for you has solved the issue. If not, here are a few alternative resources that might be of help:

- [Visual Studio on Q&A](https://docs.microsoft.com/en-us/answers/products/vs)
- [Visual Studio MSDN Forum](https://social.ms

[2021-01-19 21:35] #6104 closed

[2021-01-19 23:40] DerekLiang opened #6308 "'Download the ZIP' link is broken"
The link for `Download the ZIP` is broken.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 38a38919-b557-4723-7ea9-b0fbafbfdc52
* Version Independent ID: 2117c374-eda9-906e-392e-c55e1ebf8060
* Content: [Docker tutorial - Part 1: Build and run the todo list sample app](https://docs.microsoft.com/en-us/visualstudio/docker

[2021-01-20 00:33] prnadago commented on #6303
Hi @StingyJack - all configuration of branches has been moved to the new Git experience. You can use the left pane in the Git Repository window to see and interact with the branch tree view. The top level menu Git -> Settings has all your settings, including the ability to set 'prune remote branches during fetch'. Is there something else that you're looking for? Please let us know.

[2021-01-20 15:25] StingyJack commented on #6303
@prnadago  - yes, per the title; Where can I configure remote branches in the new UI?  This is where it was before
![image](https://user-images.githubusercontent.com/15381181/105195794-f7c9de00-5b08-11eb-854b-2408c9399f48.png)

... and is what I'm looking for in the new git tool window (aka "experience")

There aren't any menus available in the new window, just the DDL, linkbuttons, etc.

[2021-01-20 18:23] holc-tkomp opened #6311 "Listing files/projects to be imported for given project?"
[`MSBuild.exe`](https://docs.microsoft.com/en-us/visualstudio/msbuild/msbuild-command-line-reference) provides [`-targets`](https://docs.microsoft.com/en-us/visualstudio/msbuild/msbuild-command-line-reference#:~:text=-targets) argument which allows you to list [`Targets`](https://docs.microsoft.com/en-us/visualstudio/msbuild/msbuild-targets) available within given project.

Is it possible to do so

[2021-01-20 19:50] TerryGLee commented on #3164
@Liversage Apologies that it's taken us a while to circle back with you on this issue. I've taken a look at the settings for Quick Actions in the current-as-of-today's-date, [version 16.8.4](https://docs.microsoft.com/en-us/visualstudio/releases/2019/release-notes?view=vs-2019#16.8.4) of Visual Studio 2019, and noted the following:

![image](https://user-images.githubusercontent.com/23244653/10522

[2021-01-20 19:50] #3164 closed

[2021-01-20 23:27] fab2903 opened #6312 "Error in Demo Zip download link"
I was trying to follow this tutorial but the Zip download link (with the code content) is broken and redirects to a localhost path.
Please bind it to the correct download path so everyone can download the demo and follow the example.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 38a38919-b557-4723-7ea9-b0fbafbfdc52
*

[2021-01-20 23:30] fab2903 commented on #6312
Please disregard, I had Docker installed on my computer so I skipped step 1 but after reading carefully, I needed to start the getting-started container to be able to download the zip folder

[2021-01-20 23:30] #6312 closed

[2021-01-21 01:23] prnadago commented on #6303
Thanks for sharing the image, that clarifies what you're looking for. You can manage your remotes from **Tools -> Options**.
![image](https://user-images.githubusercontent.com/30607258/105261183-05e92000-5b44-11eb-9bdf-bb46fb7144d2.png)

It's easy to access from the Git menu by clicking on **Manage remotes**.
![image](https://user-images.githubusercontent.com/30607258/105261191-0aadd400-5b44-11eb-

[2021-01-21 03:16] Smith-Rick opened #6314 "Incorrect Code in the Timer"
There is a section of code in the example that should read either  "timeLeft = timeLeft - 1;" or it should read "timeLeft = --timeLeft;"

The incorrect code is written in the tutorial as "timeLeft = timeLeft - 1;"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f87fb21b-1d37-f2a8-0d32-5fa2ff83a563
* Version Independent

[2021-01-21 04:51] StingyJack commented on #6303
It does, and thank you.

I'm probably still going to leave the old experience enabled though. I want to go to one place for dealing with Git, not a tool window _and_ a main menu (on opposite sides of the UI, with duplicated functionality - mostly =/   have the last 30 years of UI design lessons been forgotten in Redmond?) I also dont want to increase amount of times "git" is displayed within VS wh

[2021-01-21 04:51] #6303 closed

[2021-01-21 17:33] evanwindom commented on #6233
@audunsolemdal - Hi Audun.  Sorry for the late response.  I did confirm that the assignment triggers a notification, regardless of how the assignment is done.

[2021-01-21 17:33] evanwindom commented on #6233
#please-close

[2021-01-21 17:33] #6233 closed

[2021-01-21 17:34] evanwindom commented on #6220
#please-close

[2021-01-21 17:34] #6220 closed

[2021-01-21 18:10] WilliamAntonRohm commented on #6308
@DerekLiang -- Derek, thank you for your feedback. This issue is being tracked in #5998.

I am closing this issue now. You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2021-01-21 19:03] WilliamAntonRohm commented on #6311
@PRMerger12 -- Sebastian, thank you for your questions.  Please consider these resources and let me know if they help:
- [Visual Studio on Q&A](https://docs.microsoft.com/en-us/answers/products/vs)
- [Visual Studio MSDN Forum](https://social.msdn.microsoft.com/Forums/vstudio)
- [Stack Overflow](https://stackoverflow.com/search?q=%22visual+studio%22)
- [Reddit](https://www.reddit.com/r/VisualStudio

[2021-01-21 19:05] WilliamAntonRohm commented on #6314
@Smith-Rick -- Rick, thank you for your feedback.  I am looking into this article.

[2021-01-21 19:05] #6308 closed

[2021-01-21 20:10] WilliamAntonRohm commented on #6311
@holc-tkomp -- Sebastian, thank you for your followup.

@ghogen -- Gordon, please look into this issue.

[2021-01-21 21:07] TerryGLee commented on #3641
@gewarren This looks to be a duplicate now. OK to close? (If not, I'll reassign to @mikadumont.)

[2021-01-21 21:39] v-kydela opened #6315 "What are the different types of solutions?"
When I right-click Visual Studio on the taskbar to view the available solutions, the solutions have different icons:

![image](https://user-images.githubusercontent.com/41968495/105415516-ad6e5d00-5bed-11eb-871f-ca6b1f9e7ee6.png)

What do these icons mean?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b057a09a-e208-8d

[2021-01-21 21:45] gewarren commented on #3641
@TerryGLee Yes that's fine.

[2021-01-22 00:34] WilliamAntonRohm commented on #6315
@v-kydela -- Kyle, thank you for your questions.  I believe the "16" icon refers to a 16-bit solution.  Please consider these resources:
- [Visual Studio on Q&A](https://docs.microsoft.com/en-us/answers/products/vs)
- [Visual Studio MSDN Forum](https://social.msdn.microsoft.com/Forums/vstudio)
- [Stack Overflow](https://stackoverflow.com/search?q=%22visual+studio%22)
- [Reddit](https://www.reddit.

[2021-01-22 00:34] #6315 closed

[2021-01-22 00:51] savitaverma opened #6317 "Unused variable/line of code"
[Enter feedback here]
The Python Code Snippet in Step 1 has an unused variable/line of code. It declares a variable "rad" and assign it radians(x), but rad is not used anywhere.
In Code Snippet, Line 5: rad = radians(x)

Either remove Line 5
Or
use "rad" in Line 6 as
numspaces = int(20 * cos(rad) + 20)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2021-01-22 01:10] JoshuaPartlow commented on #6317
Hi @savitaverma - Thanks for pointing out the unused local variable. I've updated the code sample and the change should be reflected in the documentation in an update soon.

[2021-01-22 01:10] #6317 closed

[2021-01-22 04:19] davisnw opened #6318 "Explain relationship with git for Windows"
Previously, I've always installed git for Windows (https://git-scm.com/download/win) to enable git in a command line - and I fact previous Microsoft documentation recommended installing it. However, this page mentions command line equivalents without mentioning anything about getting git configured on the command line.

Perhaps related to #6221 although that seems to be implying a command line lau

[2021-01-22 13:06] jvanlangen opened #6319 "Rename in the light bulb icon menu is very counter productive."
Hi there.

The most worse  light bulb icon menu action is the Rename action. It's even worse... it's the default action!    #fail
It's probably invented by someone who doesn't use the product.

It would be great if there was an option to remove it from the menu.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d231e9f6-7

[2021-01-22 17:54] v-kydela commented on #6315
@WilliamAntonRohm - What is a 16-bit solution? My searches reveal no evidence of such a thing. Does it have to do with which version of Visual Studio was used to create the solution?

[2021-01-22 19:13] WilliamAntonRohm commented on #6319
@jvanlangen -- Jeroen, thank you for your feedback.  Please add your concern here:
- Suggest a feature, track product issues, and find answers in the [Visual Studio Developer Community](https://developercommunity.visualstudio.com).

I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2021-01-22 19:13] #6319 closed

[2021-01-22 20:35] TerryGLee commented on #6318
@davisnw Visual Studio does not require that you install Git for Windows separately, but if you want to use the command line, then you'd want to do so. We mention the command-line examples in the topic because we want people to see how the UI relates to the equivalent command-line function. We'll close this now, with our thanks for your feedback.

FYI @Taysser-Gherfal @prnadago

[2021-01-22 20:35] #6318 closed

[2021-01-22 20:49] WilliamAntonRohm commented on #6315
@v-kydela -- Kyle, thank you for your followup.  It appears the 16 does refer to the Visual Studio version, and not the compiled file's bit width.  Version 16 is Visual Studio 2019.

[2021-01-22 20:53] v-kydela commented on #6315
@WilliamAntonRohm - Is that just a guess, or were you able to look up that information somewhere?

[2021-01-22 21:06] WilliamAntonRohm commented on #6315
@v-kydela -- Kyle, thank you for your question.  I asked a local expert who told me the 16 is indicates VS 2019.

[2021-01-22 22:12] atniomn opened #6321 "Missing Parameters"
[Enter feedback here]

Microsoft.Common.CurrentVersion.targets has this invocation:

[code]

This document does not describe "LauncherBasedDeployment"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 74c1a488-7180-9404-b96a-50420da0ff05
* Version Independent ID: e5252643-45c5-f18e-2a1d-286ae8ef8cbb
* Content: [GenerateAp

[2021-01-22 23:47] WilliamAntonRohm commented on #6321
@atniomn -- thank you for your feedback.  Please consider these resources:
- [Visual Studio on Q&A](https://docs.microsoft.com/en-us/answers/products/vs)
- [Visual Studio MSDN Forum](https://social.msdn.microsoft.com/Forums/vstudio)
- [Stack Overflow](https://stackoverflow.com/search?q=%22visual+studio%22)
- [Reddit](https://www.reddit.com/r/VisualStudio)

@ghogen -- please look into this issue.

[2021-01-24 17:24] KalleOlaviNiemitalo commented on #6030
.NET 5 additionally has [UnconditionalSuppressMessageAttribute](https://docs.microsoft.com/dotnet/api/system.diagnostics.codeanalysis.unconditionalsuppressmessageattribute?view=net-5.0) from <https://github.com/dotnet/runtime/pull/35387> for ILLink.

[2021-01-24 18:15] prnadago commented on #6221
You can open the command line through the Git menu option -
![image](https://user-images.githubusercontent.com/30607258/105639403-04ae4080-5e2d-11eb-9c37-0778e63c3b76.png)

[2021-01-24 18:20] prnadago commented on #6273
Thanks @davrob01, you're correct about using the Existing remote option. We have that documented with the line - 'Or, you can link your repository with any existing empty remote repository on any other Git provider by using the Existing remote option.'
But maybe @TerryGLee, we can further clarify by mentioning Azure DevOps specifically in this sentence.

With regards to implementing the functional

[2021-01-25 11:45] triangletrianglesquareplusx opened #6324 "Issue with creating custom snippets"
According to the documentation itself when creating and then editing a custom snippet you do not need to re-import to your directory. However this was not the case with my vs 2019 and only when I re-imported it did it show author, shortcut etc..
Just letting you know.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77c7

[2021-01-25 19:44] KGBurton opened #6325 "The application runs but I never see anything. What did I miss?"
I am brand new to VS and am doing the tutorial. I have worked through to step 9 and it runs without errors, but I never see the actual application window. It flashes and disappears.

What did I miss that would keep the window active so I can see it?

Thanks
Ken
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2021-01-25 20:20] extensibleseth opened #6326 "git stash"
Please include instructions on stashing files.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3fb36e99-33ae-20a2-a12d-a3e5d056a153
* Version Independent ID: b5a43c4a-c8bb-2c8a-56b3-09b12a713e58
* Content: [The Git experience in Visual Studio](https://docs.microsoft.com/en-us/visualstudio/ide/git-with-visual-studio?view

[2021-01-25 22:45] TerryGLee commented on #6326
@extensibleseth Thanks for your feedback; we'll look into this and report back.
@Taysser-Gherfal @prnadago FYI on this request.

[2021-01-26 00:04] WilliamAntonRohm commented on #6314
@ornellaalt -- Ornella, please review [private PR 7755](https://github.com/MicrosoftDocs/visualstudio-docs-pr/pull/7755).

[2021-01-26 00:22] WilliamAntonRohm commented on #6325
@KGBurton -- thank you for your question.  Please consider these resources:
- [Visual Studio on Q&A](https://docs.microsoft.com/en-us/answers/products/vs)
- [Visual Studio MSDN Forum](https://social.msdn.microsoft.com/Forums/vstudio)
- [Stack Overflow](https://stackoverflow.com/search?q=%22visual+studio%22)
- [Reddit](https://www.reddit.com/r/VisualStudio)

@ornellaalt -- please look into this pos

[2021-01-27 00:27] TerryGLee commented on #4956
It doesn't look like there is extra info in this issue that would inform a page update, and the original question asked has been answered, so I am closing this issue now. Thanks for your feedback; we hope to hear from you again if you have suggestions on how we can improve our documentation.

[2021-01-27 00:27] #4956 closed

[2021-01-27 11:13] mehul19851 opened #6330 "Deprecated link - Getting Started with Unity tutorial"
Hello Team,

I was just starting to go through documentation for "Get started with Visual Studio and Unity" and there is a note on top part of the page wherein it says below:

![image](https://user-images.githubusercontent.com/3696360/105983156-4bff3000-60be-11eb-9850-1db31f85a6f3.png)

As seen in above image, there is text at end saying "**Getting Started with Unity tutorial**" which has a hyperl

[2021-01-27 14:54] #6330 closed

[2021-01-27 19:09] TerryGLee commented on #4092
@xiejiang2014 You're right; and in fact, @Jcardif reported the same issue. Since then, we've updated the screenshot on the [**Draw shapes and paths**](https://docs.microsoft.com/visualstudio/xaml-tools/draw-shapes-and-paths) page to reflect the issue that you both reported. Thanks for helping us improve the documentation!

(As an FYI, there is a related  [**Developer Community**](https://developer

[2021-01-27 19:09] #4092 closed

[2021-01-27 19:44] TerryGLee commented on #4537
@sguitardude Thanks for your feedback, and apologies that it's taken us so long to respond. You are absolutely right; the Note on the [Walkthrough: Debug an XSLT style sheet](https://docs.microsoft.com/en-us/visualstudio/xml-tools/walkthrough-debug-an-xslt-style-sheet?view=vs-2019) required updating. We have a PR in the queue to change it so that it says "The XSLT debugger is only available in the

[2021-01-27 19:44] #4537 closed

[2021-01-27 21:33] xtianus79 opened #6333 "the download zip isn't real"
[Enter feedback here]

the file project isn't a real file path
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 38a38919-b557-4723-7ea9-b0fbafbfdc52
* Version Independent ID: 2117c374-eda9-906e-392e-c55e1ebf8060
* Content: [Docker tutorial - Part 1: Build and run the todo list sample app](https://docs.microsoft.com/en-us/

[2021-01-27 21:35] ygoe opened #6334 "Missing options in search dialog"
My search dialog has these options:

* Suchen in (search in: document, project, solution etc.)
    * Externe Elemente einschließen (include external elements)
    * Sonstige Dateien einschließen (include other/misc. elements)
* Dateitypen (file types)

The two options in the middle of my list are not explained. What are they good for? Why was the first unchecked and the second prechecked?

I have

[2021-01-28 00:39] WilliamAntonRohm commented on #6333
@xtianus79 -- thank you for your feedback.  This issue is being tracked in #5998.

cc @ghogen @nebuk89 for awareness

[2021-01-28 00:39] #6333 closed

[2021-01-28 00:46] ghogen commented on #6333
@xtianus79 The link references a file that's installed on localhost by Docker for Windows  - so once you install that, it should be there.

[2021-01-28 16:28] martingbrown opened #6337 "This cheat sheet isn't a sheet and it isn't downloadable"
I came to this page from here https://visualstudio.microsoft.com/vs/features/net-productivity/ by clicking on the "Download cheat sheet link". I was expecting to download a PDF that could be printed to give me a summary of Visual Studio 2019's keyboard shortcuts. Something like this one for VS Code https://code.visualstudio.com/shortcuts/keyboard-shortcuts-windows.pdf. But alas all I ended up with

[2021-01-28 19:34] WilliamAntonRohm commented on #6337
@martingbrown -- Martin, thanks for your feedback; we appreciate it. You can submit issues related to overall site experience, or suggestions for improved site functionality or design, at [https://aka.ms/sitefeedback/](https://aka.ms/sitefeedback).

[2021-01-28 19:34] #6337 closed

[2021-01-28 22:11] TerryGLee commented on #6334
@ygoe Thanks for your feedback. We are working on updating our documentation and should have it published very soon. Meanwhile, please see the [Modernizing Find in Files](https://devblogs.microsoft.com/visualstudio/modernizing-find-in-files/) blog post for more information about the Find in Files feature changes.

[2021-01-29 09:14] ygoe commented on #6334
Thanks for the info. And, oh well, those are bad descriptions in the UI.

Let me suggest the following alternatives that might avoid the user's way to the documentation altogether:

* Include opened documents not part of the solution
* Include referenced files not part of the solution

Because who knows what somebody was thinking of when writing "miscellaneous" and "external". It could be anything

[2021-01-29 14:19] danielksmith opened #6339 "Can't access Zip file."
On this page: https://docs.microsoft.com/en-us/visualstudio/docker/tutorials/your-application there is a link to a zip file. The URL points to localhost/assets/app.zip. Is it possible to change the URL please? I can't get the zip file and therefore can't work alongside the tutorial. This is a shame as the tutorial is really nicely written and easy to follow.

---
#### Document Details

⚠ *Do not e

[2021-01-29 17:33] #6299 closed

[2021-01-29 19:06] Straightly opened #6340 "Document out dated. Visual Studio 2019 installer cannot download files."
Trying to install Visual Studio but the installer hangs and then time out claiming no internet connection.  Browser works just fine, obviously as I was able to download the installer.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 228076d1-94bf-c502-c018-08f7c0faf377
* Version Independent ID: c64a5cd5-6236-4192-2bfc-92

[2021-01-29 19:39] tdykstra opened #6341 "How to prevent VS to Default set new items to Compile?"
---
**Issue moved from dotnet/docs#22298**
- Please respond to @johan-dahlgren.

---

_From @johan-dahlgren on Monday, January 11, 2021 9:45:28 AM_

How do I prevent Visual Studio to set new Items to Compile.
Have version 16.8.3 and every time I start a new project and add new items i got this error.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2021-01-29 19:39] tdykstra commented on #6341
---
**Issue moved from dotnet/docs#22298**
- Please respond to @tdykstra.

---

_From @tdykstra on Tuesday, January 26, 2021 12:39:55 AM_

@TerryGLee is there a doc that can help with this?

[2021-01-29 19:39] tdykstra commented on #6341
---
**Issue moved from dotnet/docs#22298**
- Please respond to @ghogen.

---

_From @ghogen on Friday, January 29, 2021 7:05:02 PM_

@tdykstra Can we transfer this issue to the https://github.com/MicrosoftDocs/visualstudio-docs repo?

[2021-01-29 19:54] WilliamAntonRohm commented on #6339
@danielksmith -- Daniel, thank you for your feedback. This issue is being tracked in #5827.

cc @ghogen for awareness

[2021-01-29 19:54] #6339 closed

[2021-01-29 19:55] WilliamAntonRohm commented on #6340
@Straightly -- thank you for your feedback.  Please consider these resources:
- [Visual Studio on Q&A](https://docs.microsoft.com/en-us/answers/products/vs)
- [Visual Studio MSDN Forum](https://social.msdn.microsoft.com/Forums/vstudio)
- [Stack Overflow](https://stackoverflow.com/search?q=%22visual+studio%22)
- [Reddit](https://www.reddit.com/r/VisualStudio)

@ornellaalt -- please look into this p

[2021-01-29 21:28] ghogen commented on #6339
@danielksmith The localhost zip file should be created when you install Docker for Windows. Let us know if that's not the case in your installation.

[2021-01-30 19:42] Ofer-Gal opened #6343 "search always returns 7,480 items"
No matter what I search for, it returns 7,480 items
how can you find anything?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7254052d-2d37-509e-e6c8-d5674ea775ca
* Version Independent ID: a2acc423-07d3-409c-7de1-21dd88e3cdcd
* Content: [Report a problem: States and FAQ - Visual Studio](https://docs.microsoft.com/en-us

[2021-02-01 17:20] madskristensen commented on #6343
We're in the process of replacing the backend of Developer Community which will bring in a new search that is a lot more accurate. The current search is unfortunately pretty bad, as you experienced. It will take some months before the new search is taking over the current one.

[2021-02-01 20:29] fx-practic opened #6347 "No "Run" button when *.cs file opened"
I've created a separate _.cs_ file with a class and static Main() method.
If I opening it it in _VisualStudio_ - no "**Run**" button available. There is only "**Attach**" button.
<img width="618" alt="msdn_doc_lie_about_running_cs_code_form_single_file" src="https://user-images.githubusercontent.com/34125991/106514316-c1169f00-64dc-11eb-9ec6-0b9f3183f4e1.png">


[2021-02-01 21:11] WilliamAntonRohm commented on #6343
@Ofer-Gal -- Ofer, thank you for your feedback.

@madskristensen -- Mads, thank you for your clarification.

I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2021-02-01 21:11] #6343 closed

[2021-02-01 21:13] WilliamAntonRohm commented on #6347
@fx-practic -- thank you for your feedback.  Are you following a particular docs.microsoft.com article?  Meanwhile, please consider these resources:
- [Visual Studio on Q&A](https://docs.microsoft.com/en-us/answers/products/vs)
- [Visual Studio MSDN Forum](https://social.msdn.microsoft.com/Forums/vstudio)
- [Stack Overflow](https://stackoverflow.com/search?q=%22visual+studio%22)
- [Reddit](https:/

[2021-02-01 23:17] Ofer-Gal commented on #6343
Thank you all

[2021-02-02 01:47] Bortronx commented on #1248
Hello.
I followed step by step of C++ unit tests and I get a "error LNK2019: unresolved external symbol" Using Google Test as the test project.

As depicted here: https://docs.microsoft.com/en-us/visualstudio/test/unit-testing-existing-cpp-applications-with-test-explorer?view=vs-2015#objectRef.

Any tips would be greatly appreciated.

I created a test project to assure me it wasn't my C++ solution

[2021-02-02 03:24] Oscar1973528 opened #6349 "MICROSOFT LUMIA 950 32 & 64 BITS WIN10 ARM"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 077d6a7d-90de-4207-c84e-3bd0cf9f4a57
* Version Independent ID: 44b9080a-b1c4-e5ce-e88c-6e60a5302454
* Content: [Debug an installed UWP app package - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/debugger/debug-installed-app-package?view

[2021-02-02 17:49] WilliamAntonRohm commented on #6349
@Oscar1973528 -- thank you for your feedback.  Please clarify your issue.  Meanwhile, consider these resources:
- [Visual Studio on Q&A](https://docs.microsoft.com/en-us/answers/products/vs)
- [Visual Studio MSDN Forum](https://social.msdn.microsoft.com/Forums/vstudio)
- [Stack Overflow](https://stackoverflow.com/search?q=%22visual+studio%22)
- [Reddit](https://www.reddit.com/r/VisualStudio)

[2021-02-02 18:32] Bortronx opened #6350 "Missing step to run C++ unit tests on .objs?"
Hello,

I have a similar issue to #1248

I followed step by step of C++ unit tests and my unit test disappear saying "Build the solution" message.

As depicted here: https://docs.microsoft.com/en-us/visualstudio/test/unit-testing-existing-cpp-applications-with-test-explorer?view=vs-2015#objectRef.

https://docs.microsoft.com/en-us/visualstudio/test/how-to-use-google-test-for-cpp?view=vs-2019

I cr

[2021-02-02 18:52] WilliamAntonRohm commented on #6314
Thank you for your feedback.  I have updated the documentation and it should be live by tomorrow.

[2021-02-02 18:52] #6314 closed

[2021-02-02 21:22] acangialosi commented on #5639
Tried to move to leslierichardson95 but didn't have permission to add new assignee.

[2021-02-02 22:12] WilliamAntonRohm commented on #6350
@Bortronx -- Leonardo, thank you for your well-researched feedback.  Please consider these resources:
- [Visual Studio on Q&A](https://docs.microsoft.com/en-us/answers/products/vs)
- [Visual Studio MSDN Forum](https://social.msdn.microsoft.com/Forums/vstudio)
- [Stack Overflow](https://stackoverflow.com/search?q=%22visual+studio%22)
- [Reddit](https://www.reddit.com/r/VisualStudio)

@jillre -- Jil

[2021-02-02 23:21] acangialosi commented on #4774
Reassign to leslierichardson95 to triage and resolve.

[2021-02-02 23:22] acangialosi commented on #4735
Reassign to Dante Gange to triage and resolve.

[2021-02-02 23:45] acangialosi commented on #3204
Assign to vixmix for followup.

[2021-02-02 23:48] acangialosi commented on #3590
Reassign to Dante Gange.

[2021-02-03 06:11] explorest opened #6352 "No mention of "Sdk" as an attribute of Project element in the table"
The Sdk is mentioned as an element in the table  which is fine.  But there is no mention of "Sdk" in Attributes column for Project Element.

Since the  "Sdk" attribute is the key and default way for mentioning sdks in modern project files, I was expecting it to be mentioned there.
It should either be mentioned in the Attributes column
--OR--
a little note (somewhere on the page) should tell us the

[2021-02-03 13:45] V4A001 opened #6353 "Kubernetes debugging to other containers in different namespaces in same pod"
I have 1 pod running with 2 namespaces. I want to debug container 1 which calls container 2. I to a post like this, but the request times out. Is this a limitation of kubernetes debugging or do I need to use something else? ip's or cluster ip do also time out.

http://<container service name>.<namspace container 2>.svc.cluster.local:8080

[Enter feedback here]

---
#### Document Details

⚠ *Do not

[2021-02-03 18:25] Sagar-S-S commented on #6011
Hey @DickBaker thanks for your feedback! Do you mind clarifying what you mean by name in results and how that relates to this particular doc's theme of optimizing profiling settings?

[2021-02-04 01:35] leslierichardson95 commented on #1216
Thanks for submitting your feedback and we apologize for the delayed response. Due to current resourcing and substantial extensibility changes we are currently working on that will result in significant doc changes, we are closing this lower priority issue. We will return to this issue on a later date and address it based on it's relevance after those extensive extensibility updates are made. Feel