[2018-12-31 15:04] RNiss commented on #460
I have a follow up question to @heaths's answer. Microsoft Visual Studio Installer (MSVI) is listed in Windows 10 the apps list. Simply deleting the Installer folder, will not clear it from the list.
It seems that the deletion-type solution is not win10-oriented.
Do you know of another way that will also clear it from the app list?
Thanks!

![image](https://user-images.githubusercontent.com/462826

[2018-12-31 17:40] #2146 closed

[2019-01-01 11:52] IFinnimore opened #2149 "Examples"
Add missing example for EnumerateLiteral function
Change "Example" Titles to be specific to individual function, so the "In this article" doesn't just list "Example" "Example" "Example"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 87786dea-7de0-a5c1-cbeb-d551219f38c5
* Version Independent ID: ef34ed8f-8e9d-ee55-3dfd-

[2019-01-01 16:57] heaths commented on #460
We do write the necessary registry to show up here so it can be easily removed via the Settings app. This question was in the context of containers and clearing space, so if you're seeing that you're not in a container. The registry values we write should be no more than 1KB.

This isn't about how to complete remove the installer. If you want to do that in a physical or virtual machine, use the en

[2019-01-02 01:48] mvladd1 opened #2150 "I have a problem!"
i have this problem when i press LOCAL WINDOWS DEBUGER :
Error	MSB6006	"CL.exe" exited with code -1073741515.

And i don t know how to resolve it. Some ideas?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b9b755e9-4fe2-7d3d-b593-1b89cc53c858
* Version Independent ID: e126e7d0-a1c4-d6cd-4e68-8916cc57c6e9
* Content: [To

[2019-01-02 10:44] vilu85 opened #2151 "VS2017/2019 F1 documentation in C# Interactive lands here"
Highlighting any keyword, text, etc. in C# Interactive window (View -&gt; Other Windows -&gt; C# Interactive) and pressing F1 lands here.

This was the code I used in case you want to reproduce the problem:

[code]
&gt; long time1 = DateTime.Now.Ticks / TimeSpan.TicksPerMillisecond;
&gt; Console.WriteLine("time1.GetHashCode() = " + ((int)(time1.GetHashCode() ^ 0xfffff)));
time1.GetHashCode() = 549

[2019-01-02 17:54] abuchholtzau commented on #2125
Andrew Cheung owns this now - although I'm not sure what his GitHub username is.
As far as I know, there isn't a command like this. We only move forward - although it should wrap back around if you skip selection enough times!

[2019-01-02 20:37] VashJuan opened #2152 "How to refactor HTML/CSS?"
Can Visual Studio refactor CSS & HTML files? This page should list (or link to) all about refactoring, not a tiny paragraph that lists one minor aspect...C/C++.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e8ce42b1-5ca3-2bba-be51-172e0ad715fd
* Version Independent ID: 3e28ccb0-f87e-bb74-c4f0-ed0ed2f1b364
* Content: [

[2019-01-03 17:20] mwisebaker opened #2155 "Rationale For Metrics Values?"
My team uses code metrics extensively, and I'm curious how you arrived at the 0-9, 10-19, 20+ guidelines. Based on my experience these numbers are incredibly low. We consider anything below 60 a must-fix, and based on some of our own code I've seen at the 30-40 level I can't understand how that can be considered "acceptable" complexity.

In addition, it would be great to be able to customize the g

[2019-01-04 14:36] jv42 commented on #1134
Here's another bit of info, maybe useful: I'm not using .NET Standard but .NET Framework 4.7.2, so this doesn't seem limited to one or the other.

@gewarren Any updates on your side?

[2019-01-04 14:56] CeciAc opened #2158 "See also "FxCop rules implemented with Roslyn analyzers on GitHub" not available"
@DanielHWe commented on [Fri Jan 04 2019](https://github.com/MicrosoftDocs/visualstudio-docs.de-de/issues/33)

Link https://github.com/dotnet/roslyn/tree/master/src/Diagnostics/FxCop is no more available

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist für die Verknüpfung von docs.microsoft.com zum GitHub-Artikel erforderlich.*

* ID: 3c7753cc-f0b0-a3a3-1531-0a1eb6d62d06

[2019-01-04 14:57] CeciAc commented on #2158
Hi team,
I'm moving this here since the link at the bottom leads to a 404 page
best

[2019-01-04 15:02] mavasani commented on #1134
@jv42 Indeed seems like a bug in the analyzer - it should warn on missing `GC.SuppressFinalize` only if the type has a finalizer. Filed https://github.com/dotnet/roslyn-analyzers/issues/1974 to fix the analyzer.

[2019-01-04 15:04] jv42 commented on #1134
@mavasani Ok thanks! I'll monitor that issue then.

[2019-01-04 15:18] mavasani commented on #1134
@jv42 - https://github.com/dotnet/roslyn-analyzers/pull/1975 should fix it

[2019-01-04 15:22] jv42 commented on #1134
@mavasani Awesome, this was very quick indeed! Looking forward to the update then.

[2019-01-04 16:55] mleesago opened #2159 "VSTU for Mac & Symlinked Script Files"
When using Visual Studio Mac as code editor for Unity and opening scripts that have been symlinked to be exposed to Unity project, intellisense does not recognize the script file to be part of the solution. So initially opening the symlinked script (by double clicking on the script file inside Unity Editor) using Visual Studio, you will see that intellisense does not work but if you search for the

[2019-01-04 19:56] mleesago commented on #2159
Also tried to launch manually via command line "/Applications/Visual Studio.app/Contents/MacOS/VisualStudio" <PATH_TO_RESOLVED_SYMLINKED_FILE_PATH>;0;0 and this basically produces the same effect. So it seems that Visual Studio for Mac itself does not quite work well with symlinked files.

[2019-01-06 06:29] pps83 opened #2160 "."
I did not expect it to post to github, on top of that I cannot delete the issue posted on my behalf.

[2019-01-06 06:37] #2160 closed

[2019-01-06 20:06] mommaroodles opened #2162 "No Tools > Options to select"
I don't have a  Tools &gt; Options.  Theres no Tools menu item nor Option

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39f7e6c9-3f47-4caa-b69f-ae6393bde555
* Version Independent ID: dc59c52a-163f-40fb-c84d-ba7b1b8118b4
* Content: [Tips to improve performance - Visual Studio](https://docs.microsoft.com/en-us/visualstu

[2019-01-07 01:56] salomonsk8r2003 commented on #1779
Looks good to me. Must have been fixed.

[2019-01-07 03:44] BrianCook opened #2163 "Missing reference"
The SVsServiceProvider class can't be accessed unless you also add a reference to Microsoft.VisualStudio.Shell.Framework. Without it I could not proceed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bb4ce0ea-fd74-c3f1-5154-00db7cacab01
* Version Independent ID: 110c664a-cf94-0b5b-4052-3c96c5816452
* Content: [Walkthr

[2019-01-07 17:06] kraigb commented on #2147
@naseefo Thanks for the report. I'll be investigating your issue later in the week.

[2019-01-07 18:36] gewarren commented on #2162
@mommaroodles Which version of Visual Studio are you using, and are you on Windows or Mac?

[2019-01-07 18:46] gewarren commented on #1134
@mavasani Thanks for fixing this, and @jv42 thanks for the additional information on the issue.

[2019-01-07 18:46] #1134 closed

[2019-01-07 18:57] gewarren commented on #2155
@mavasani Can you comment on this question/feedback for code metrics guidelines?

[2019-01-07 19:03] gewarren commented on #2151
@vilu85 Thanks for letting us know!

[2019-01-07 19:21] TerryGLee commented on #2070
@oswal92 We're closing this for now; if you do have feedback to add, please do so and we'll reopen it.

[2019-01-07 19:21] #2070 closed

[2019-01-07 19:35] #2088 closed

[2019-01-07 19:40] evanwindom commented on #2079
@Nathan-Tarin  Thanks for reaching out.  I see an opportunity to clean up the page a little to provide better guidance.  I will take care of that.  Thanks for bringing it to our attention.

The EMS team is currently using a docs.microsoft.com page to outline the support processes for EMS.  That page is:  https://docs.microsoft.com/en-us/enterprise-mobility-security/solutions/ems-support-faq.  From

[2019-01-07 21:55] evanwindom commented on #2079
@Nathan-Tarin  The updates have been made, and should be visible shortly.  Thanks again for bringing the issue to our attention!

[2019-01-07 21:57] gojanpaolo opened #2165 "How to troubleshoot if this happens frequently?"
Hello. Is there a documentation on how we should proceed on to troubleshooting if this happens frequently? I use Live Unit Testing a lot and it stops working for me multiple times a day. I would need to restart the solution to get it working again.
Thank you! :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72292f7a-7

[2019-01-07 22:30] evanwindom commented on #1434
@OzBob Thanks for your feedback!  I have passed your suggestion along to our engineering team for evaluation.

[2019-01-08 00:50] salomonsk8r2003 opened #2167 "Fast clicking breaks game (sometimes with exception thrown)"
You should add this at the top of the `label_Click()` method:

`if (secondClicked != null) return;`

This way a fast clicking user doesn't get a third or more clicks until the game is ready (for another first click).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0c3b06a-a4e2-1d1c-1c92-b88c6ce0dda4
* Version Independe

[2019-01-08 01:30] suhailmahmood opened #2168 "Wrong information"
Take a look at the "Using --includeRecommended" section. It says to "Start an interactive installation of all workloads and components that are available in the Visual Studio 2017 Enterprise edition:"

    vs_enterprise.exe --all --includeRecommended --includeOptional

That's in fact nonsense. It gives the wrong impression that we need "--includeRecommended --includeOptional" to start an interacti

[2019-01-08 08:07] bhanuchhabra7 opened #2169 "There is no option for repair under more section"
I am having vs installer for:
Visual Studio Community 2017
15.9.4

after clicking more only 2 options are there:
export configuration
import configuration

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5fc5c36c-d8ef-6b2d-2c62-5243d1ac2ce1
* Version Independent ID: 91c57e20-c75c-3c8d-e31f-727fa1e2af29
* Content: [Repair

[2019-01-08 10:00] LabSmith commented on #2147
I left a comment on StackOverflow. What I found was that defining Py_LIMITED_API (as directed) created your reported behavior (VS 2017 15.6.7).

[2019-01-08 11:58] mateusz-dobrowolny opened #2170 "Assert.That used for assert extension violates this rule"
Hi,

https://docs.microsoft.com/en-us/dotnet/api/microsoft.visualstudio.testtools.unittesting.assert.that?view=mstest-net-1.2.0

I wrote assert extension as designed by Microsoft.
Unfortunately, the 'assert' object is never used in the extension method, which violates this rule. I had to add suppress message.

Please update this documentation to cover such a case.

---
#### Document Details

⚠ *Do

[2019-01-08 13:34] gbelzile opened #2171 "How would you do it for a Dictionary?"
Dictionary doesn't have a AddRange method. How would your replace its content without having a setter on the property?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8db6af07-b7d6-9395-223e-1a0f83fb2405
* Version Independent ID: 5ee87730-ff01-2571-494e-91d29c5fe211
* Content: [CA2227: Collection properties should be re

[2019-01-08 15:13] WizX20 opened #2172 "How to use editorconfig analyzing during VSTS (Azure Devops) build"
Can we have a task in a VSTS (Azure DevOps) build that uses the editorconfig to analyze the code? This would be very helpful for pull requests for example.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72f45eb4-3596-866a-2c16-ee225737d956
* Version Independent ID: cea055e7-fe9b-95c7-6d25-086f182c01d2
* Content: [Edito

[2019-01-08 17:17] zspitz opened #2176 "Using WPF instead of WinForms"
How would I go about using a WPF window instead of a WinForms window?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de5d2403-0edc-8ee9-22f6-6ca370b40346
* Version Independent ID: d34a6007-354e-0bdb-3ad7-9f15a2cb56f2
* Content: [Write a visualizer in C# - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/deb

[2019-01-08 18:32] gewarren commented on #2171
@gbelzile I'm guessing that for a Dictionary property you would just suppress this rule. @mavasani Can you confirm?

[2019-01-08 18:36] gewarren commented on #2172
@WizX20 I don't think that is currently possible. See the note block at the end of this section: https://docs.microsoft.com/en-us/visualstudio/ide/create-portable-custom-editor-options?view=vs-2017#coding-consistency.

[2019-01-08 19:04] regal60740 commented on #1620
No .Net tab. I can't add reference to "Microsoft.VisualStudio.DebuggerVisualizers.DLL". Someone needs to update this tutorial.

[2019-01-08 19:47] regal60740 commented on #1620
Microsoft.VisualStudio.DebuggerVisualizers.dll lives in the Common7\IDE\PublicAssemblies subdirectory of Visual Studio's installation directory. You could add it manually from there.

[2019-01-08 19:55] gewarren commented on #2165
@gojanpaolo I spoke to the devs for this area and we'd like you to please create an issue on [Developer Community](https://developercommunity.visualstudio.com/spaces/8/index.html). There, the product team can follow up with you more easily and hopefully get a repro of the crash. To create the issue, use the Help > Send Feedback > Report a Problem menu in Visual Studio.

After you have created the

[2019-01-08 21:01] #2013 closed

[2019-01-08 21:52] nschonni commented on #2172
If you're running a build, you can invoke https://github.com/jedmao/eclint through Node/NPM to check files for consistency and/or fix the files.

[2019-01-08 22:05] tessarolli opened #2177 "Cant find check in button on source control explorer on Mac"
Hi,  have successfully connected to my project on VSTS, created a workspace, mapped and downloaded the solutions, run the solution on the Mac, no problem on that.
But I can't seen to find a way to checkin my code updates, the way I`m used to do on VS for Windows.
I did find an option when you right click a single file on the source control explorer, to checkin that file, but where is all my change

[2019-01-08 22:13] TerryGLee commented on #2169
@bhanuchhabra7 Thanks for your inquiry; we'll investigate and report back. @tydunkel FYI.

[2019-01-08 22:15] TerryGLee commented on #2168
@suhailmahmood Thanks for your input. We'll take a look and update the documentation as necessary. @tydunkel FYI.

[2019-01-08 22:31] mavasani commented on #2155
@mwisebaker The ranges and the guidelines for the code metrics values have existed for a very long time (since code metrics was first brought online in VS about a decade ago), and are likely based on the real world code analysis done that time. These ranges are not configurable in the VS IDE.

However, I completely understand the need for configuration, as well as possibly enforcing the configured

[2019-01-08 23:12] gewarren commented on #2165
@gojanpaolo Thank you! I'm closing this issue in favor of the developer community one.

[2019-01-08 23:13] #2165 closed

[2019-01-09 01:22] evanwindom commented on #1371
@Nathan-Tarin - Thanks for the question.  The benefits don't all behave the same way when a subscription is transferred from one customer to another, so addressing that in any kind of an overview isn't practical due to the complexity across the various benefits and subscription levels.

[2019-01-09 01:33] evanwindom commented on #1296
@iromanovsky If you are an FTE, your subscription should include Office 365 Developer.  If you can't see it, it's possible you're viewing a different subscription, such as Visual Studio Dev Essentials.  You can click on https://my.visualstudio.com/subscriptions to view and change your subscriptions.  If you still have trouble, you'll want to reach out to the subscriptions support team via the "Con

[2019-01-09 01:58] #1460 closed

[2019-01-09 01:59] #1477 closed

[2019-01-09 02:03] MisinformedDNA commented on #1990
Any updates here?

[2019-01-09 05:34] UbaidBashir opened #2179 "MSBuild 15.0 ignores publxml file when set to some location other than properties folder in the project."
Hi guys,
MSBuild fetches publish profile only from Properties folder. when i am trying to assign pubxml file to some other location it ignores. Could you help me with this

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eb723883-dd62-0c53-8617-7bc867b9aaf3
* Version Independent ID: de1ff8ce-885c-9df0-077c-48c82f163c83
*

[2019-01-09 05:46] gewarren commented on #361
@rainersigwald It looks like /pathmap was documented last May. Here's the article:

https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/compiler-options/pathmap-compiler-option

"The -pathmap compiler option specifies how to map physical paths to source path names output by the compiler."

Could you or @Mikejo5000 add it to the [msbuild project properties article](https://docs.micros

[2019-01-09 08:24] japj opened #2180 "msbuild task documentation missing for new tasks: hash"
It seems that the msbuild task reference documentation is missing for several "new" tasks:

Tasks/Hash.cs
Tasks/FileIO/GetFileHash.cs
Tasks/FileIO/VerifyFileHash.cs

[2019-01-09 11:34] stefankreitmayer opened #2181 "Incomplete uninstall instructions"
Under the heading "Uninstall Visual Studio for Mac", it says:

Apparently, these commands **don't** remove all traces of Visual Studio for Mac. Deleting the folder  `~/.vscode` manually wasn't a big deal. However, I am left with an uneasy feeling about what other traces may be left after following the instructions.

Could someone please clarify?

[2019-01-09 13:40] tachf opened #2182 "VS 2017 crashes and restart when i update the database"
VS 2017 crushes when i try to update the  SQL server database file  tables, and restart not saving any file, i find it more easier to work with databases in VS 2008.
any help !

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 11d19e1d-1448-e5b3-6580-9b11042e03ab
* Version Independent ID: 549472fa-f3be-53bc-cf9f-170c1183c

[2019-01-09 15:56] jauseg opened #2183 "Reset performance warnings"
I have fixed my extension.
But the Visual Studio continues messaging me about performance warning.
How I can reset this warning with saving all other IDE preferences?

[2019-01-09 16:30] Mikejo5000 commented on #361
@gewarren I can plan to add it.

[2019-01-09 17:56] gewarren commented on #831
The product team requested that this issue stay open.

[2019-01-09 19:00] gewarren commented on #2182
@tachf Since this is a product issue, please log your issue on Developer Community by choosing Help > Send Feedback > Report a Problem in Visual Studio. @stevestein FYI.

[2019-01-09 19:06] gewarren commented on #2183
@varunguptacode or @aditya-kadam can you comment on how the user can disable the performance warning?

[2019-01-09 19:57] regal60740 opened #2185 "To publish to a file share or path"
I can publish to my computer and I can install program from folder but I can't open Chrome browser and go to the file share and install program. I always get various error messages for all WalkThroughs for ClickOnce. I wish these Walkthroughs were more clear. They are confusing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2019-01-09 20:38] gewarren commented on #419
We've added an article about running tests from the command line here: https://docs.microsoft.com/en-us/visualstudio/test/vstest-console-options?view=vs-2017.

[2019-01-09 20:38] #419 closed

[2019-01-09 21:02] gewarren commented on #467
@mpoupe Do you want to submit your suggested change to the code snippet as a pull request? To get started, click the Edit button at the top-right of https://docs.microsoft.com/visualstudio/code-quality/how-to-specify-additional-code-information-by-using-analysis-assume?view=vs-2017.

[2019-01-09 21:18] gewarren commented on #553
@jeubank12 We've added the "Visual Studio 2017" label above the table of contents, so hopefully this is less confusing now.

![image](https://user-images.githubusercontent.com/24882762/50928975-ec6b5480-1410-11e9-9565-f91f3baa812b.png)

[2019-01-09 21:18] #553 closed

[2019-01-09 21:38] gewarren commented on #589
The scroll bars on wide tables have now been replaced with word wrap. Verified [this table](https://docs.microsoft.com/en-us/visualstudio/msbuild/resolveassemblyreference-task?view=vs-2017) looks good on Chrome, Firefox, and Edge on Windows. If you are still seeing a problem on Safari on Mac, please let us know (I don't have a Mac to verify).

[2019-01-09 21:38] #589 closed

[2019-01-09 21:45] gewarren commented on #613
@diverdan92 Can you add a comment to explain what layout properties are, or update the article (https://docs.microsoft.com/en-us/visualstudio/ide/reference/xaml-designer?view=vs-2017#zoom-by-using) with that info?

[2019-01-09 21:46] #624 closed

[2019-01-09 21:48] #641 closed

[2019-01-09 22:19] jauseg commented on #2183
I am sorry. I want to clarify. I need to reset only not disable. I want to check if this warning will not show again. I am sorry.

[2019-01-09 23:56] gewarren commented on #667
@Legends Sorry for the delay on this, but we do have a new feature suggestion capability on [Developer Community](https://developercommunity.visualstudio.com/content/idea/post.html?space=8). Please make your feature suggestion there and it will get more traction from the product team.

[2019-01-09 23:56] #667 closed

[2019-01-10 01:05] gewarren commented on #688
@JRAlexander @ghogen Is this request covered by these topics that are dated September 2018?

- https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/docker/visual-studio-tools-for-docker?view=aspnetcore-2.2
- https://docs.microsoft.com/en-us/dotnet/standard/containerized-lifecycle-architecture/design-develop-containerized-apps/visual-studio-tools-for-docker
- https://docs.microsoft.com/en-u

[2019-01-10 01:07] gewarren commented on #692
Issue is resolved in pull request #1748.

[2019-01-10 01:07] #692 closed

[2019-01-10 01:08] JRAlexander commented on #688
@Thraka - thoughts?

[2019-01-10 01:08] ghogen commented on #688
That's a partial solution, but I have a PR that moves us forward a little more, and more work items planned in this space.   @JRAlexander  I think we can close the issue.  We can discuss the ongoing work at your convenience.

[2019-01-10 01:10] JRAlexander commented on #688
@ghogen - I agree with you but I'm on a new team and @thraka is the Lead for that now. His call. :)

[2019-01-10 02:05] gewarren commented on #1081
This is a dupe of #724 which I'm currently fixing, so closing this issue.

[2019-01-10 02:05] #1081 closed

[2019-01-10 03:36] UbaidBashir commented on #2179
This actually happens only with .NetCore applications.

[2019-01-10 03:44] diverdan92 commented on #613
@LyalinDotCom - can we take a look tomorrow?
@CptTwinkie - in this context I believe layout properties would be those such as margins, padding, etc... (properties that would impact the layout of each control)

[2019-01-10 09:51] Nk54 opened #2186 "Description of Format Document settings"
It would be nice to see exemple of those action.
I would like to see the result.

The description is like adding such comment to a method :
/// Save a person.
///&lt;param name="person"&gt;the person&lt;/param&gt;
SavePerson(Person person)

You can't do that in 2019 :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2bf

[2019-01-10 12:08] UbaidBashir opened #2187 "Msbuild 15.0 ignores pubxml file when kept at any location other than properties->publishprofiles"
Hi,

Currently i am facing an issue where in i want to keep Pubxml file at any location other than the solution folder. When i try to do that the MSbuild cant read that file. i also tries to give complete path but the problem still is there.
This is what i am trying to do
$msbuildExe = "C:\Program Files (x86)\Microsoft VisualStudio\2017\Community\MSBuild\15.0\Bin\MSBuild.exe"

$filePath = "C:\Proj

[2019-01-10 16:47] Mikejo5000 commented on #2179
@rainersigwald Rainer, is there a way to use another location for the Properties folder?

[2019-01-10 16:54] rainersigwald commented on #2179
I believe that's an ASP.NET concept. @Rick-Anderson, it looks like you've touched some of the ASP.NET deployment documentation recently. Can you help or help route?

[2019-01-10 18:00] Thraka commented on #688
Yeah this seems to be covered in the VS docs.

Would it be a more complete solution in visual studio if you all did a whole Create, debug, deploy tutorial?

[2019-01-10 19:21] #660 closed

[2019-01-10 19:21] #669 closed

[2019-01-10 19:21] #724 closed

[2019-01-10 20:47] rocifier commented on #1929
This is quite an amusing problem. It may be better to just link to a few commonly used packages on nuget. Nuget keeps their package versioning information realtime, which would mean we wouldn't have to go back and update package version numbers. Having more than one example would also continue to show the page doesn't favour one particular package over another.

[2019-01-10 22:19] gewarren commented on #578
@maryob77062 I'm going to close this issue out as we don't plan to change the code that you pointed out. If you're concerned about connections staying open in your app if the message box isn't closed, one solution is that you could output the message in a label on the form instead.

[2019-01-10 22:19] #578 closed

[2019-01-10 23:41] mysunnytime opened #2189 ""Context menu" is not defined; and more screenshots would be better"
This doc mentioned 6 times about a "context menu", but never define what is a context menu. I was about to try how to add new playlist (https://docs.microsoft.com/en-us/visualstudio/test/run-unit-tests-with-test-explorer?view=vs-2017#create-custom-playlists), but I can't find the "context menu" mentioned here - this is frustrating to a reader.

Also, I hope there are more screenshots/pictures than

[2019-01-11 02:54] maryob77062 commented on #578
I am not concerned about my apps but the newbies that follow your code.

[2019-01-11 03:48] UbaidBashir commented on #2179
When i try to deploy .Net Core application by using Publish profile, it cant read the pubxml file. i also try to give complete path of pubxml path but the problem still is there.
This is what i am trying to do
$msbuildExe = "C:\Program Files (x86)\Microsoft VisualStudio\2017\Community\MSBuild\15.0\Bin\MSBuild.exe"

$filePath = "C:\Projects\PublicApi\src\DeveloperPortal\DeveloperPortal.csproj"
$pxm

[2019-01-11 05:00] UbaidBashir commented on #2179
Same behavior with below command

dotnet publish C:\Test\ASP.netCOre\ASP.netCOre\ASP.netCOre.csproj /p:PublishProfile=C:\Test\Base.pubxml /p:Username=$pxmlUID /p:Password=$pxmlPWD

[2019-01-11 09:31] fedorenkosergiy opened #2190 "Exclude a prefix"
How can I exclude a prefix if I want to deny _ prefix for parameters?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b402d2e0-a53a-b61a-4da8-b5ee766d9301
* Version Independent ID: 612695df-5934-d967-d709-500ce02b1395
* Content: [.NET Naming Conventions For EditorConfig files - Visual Studio](https://docs.microsoft.com/

[2019-01-11 11:35] BrayanKhosravian opened #2191 "After fixing "Cannot find or open the PDB file" error from output window. getting wrong output informations"
hi. I followed this tutorial and noticed that even when i use the includes as recommended, i didnt get the informations about leaks in the ouptput window. ( i made sure that the order of the includes are correct and i included the function call "_CrtDumpMemoryLeaks(); " and my app does  ot have mulltiple exits.

the first issue was that i the outputwindow returned several "warnings" like: "'C:\WIN

[2019-01-11 11:37] BrayanKhosravian commented on #2191
sorry i missed the "Cannot" in the title of >> "Cannot find or open the PDB file"

[2019-01-11 13:11] stevev6 opened #2192 "no else"
The issue with the text it gives: If { you do not have or do not want to use debugging information)
then do 3 steps
else ...good luck sucker.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 355a0abd-dc5f-5db3-ad95-c37fd2d3dc0f
* Version Independent ID: 86138b4b-4c7f-4113-dd9e-afcb442cb1e0
* Content: [How to: Debug COM S

[2019-01-11 14:06] shgzon opened #2194 "Unable to checkout folders"
I am only able to check-out specific files not an entire folder. For that reason it is a really time consuming process to work with TFS on Visual Studio for Mac.

It gives this error when trying to checkout any folder:
TF14040: The folder $/path_to_folder may not be checked out.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2019-01-11 18:44] c6wayne commented on #1687
Possibly you typed getElementByID (cap "ID") when it should be getElementById (lower "d" in Id).  That is what I did.  Hope that helps.

[2019-01-11 19:59] mrcaron opened #2197 "Main page has a broken link to What's new in IDE"
I found a broken link on the main page. "What's New in Visual Studio 2017" points to Intro to C#.

I fixed it in https://github.com/MicrosoftDocs/visualstudio-docs/pull/2196. Unfortunately the PR bot didn't seem to know who to send it to for approval?

![image](https://user-images.githubusercontent.com/72183/51056609-dee8d280-15a8-11e9-984c-16a22f82a936.png)

[2019-01-11 20:02] Jak-MS commented on #2197
@mrcaron - I've assigned the other PR #2196 to the author for approval. thanks.

Please close this PR; we'll move forward with the other PR.

[2019-01-11 20:31] gewarren commented on #2190
@fedorenkosergiy I don't think it's possible to specify that parameter names shouldn't start with _. @kendrahavens Is this correct?

[2019-01-11 20:55] #2197 closed

[2019-01-11 21:12] fedorenkosergiy commented on #2190
@gewarren I'm just looking a solution of https://github.com/dotnet/roslyn/issues/22745

[2019-01-11 23:00] gewarren commented on #751
Since a solution to the issue has been found, I'm going to close this issue. If you want to make a feature suggestion, please do so on [Developer Community](https://developercommunity.visualstudio.com/content/idea/post.html?space=8).

[2019-01-11 23:00] #751 closed

[2019-01-11 23:02] gewarren commented on #756
@rchiodo Can you answer how to add GTest support to an existing project/solution?

[2019-01-11 23:04] rchiodo commented on #756
Didn't @mikeblome already answer? Reference the vcpkg.cmake file in your cmake project.

[2019-01-11 23:07] gewarren commented on #756
@rchiodo Thanks, wasn't sure if @tnovotny was asking a slightly different question. I'll close this issue then.

[2019-01-11 23:07] #756 closed

[2019-01-11 23:12] #815 closed

[2019-01-11 23:17] #851 closed

[2019-01-11 23:45] gewarren commented on #898
@mavasani Can you comment if this is a false positive?

[2019-01-11 23:45] #901 closed

[2019-01-11 23:47] gewarren commented on #904
@diverdan92 Can you confirm that the statement "An element that has a higher ZIndex value appears in front when elements overlap." is correct? If so, I'll update the article.

[2019-01-11 23:48] gewarren commented on #911
@diverdan92 Could you comment on these two questions?

[2019-01-11 23:56] gewarren commented on #925
@yilmazdurmaz If links are going to Windows 8.1 articles, then those should probably be corrected. But to be honest, these articles haven't been updated in a long time, so I can't say for sure whether something should work on UWP or not. If you have a specific thing in mind, I can ask the product team to verify whether it should work for UWP.

[2019-01-11 23:59] gewarren commented on #937
@rainersigwald Do you know if it's possible to include snippets of boilerplate code in the PropertyGroup element in a .csproj file?

[2019-01-12 00:09] tnovotny commented on #756
I was actually looking for a solution without using vcpkg or cmake . I already had an existing solution (not cmake generated) that I wanted to use. I managed to add it somehow, but don"t ask me how anymore.

[2019-01-12 00:09] gewarren commented on #983
Issue was fixed in May.

[2019-01-12 00:09] #983 closed

[2019-01-12 00:14] gewarren commented on #984
The link seems to be working now and points to https://visualstudio.microsoft.com/vs/features/cplusplus-mdd/.

[2019-01-12 00:14] #984 closed

[2019-01-12 00:15] gewarren commented on #998
@chucklu Could you please file this as an issue or suggestion on [Developer Community](https://developercommunity.visualstudio.com/spaces/8/index.html)? You'll get more traction from the product team there.

[2019-01-12 00:15] #998 closed

[2019-01-12 00:19] rchiodo commented on #756
This would likely work too if you didn't want to use vcpkg:
https://www.nuget.org/packages/googletest/

[2019-01-12 00:53] nschonni commented on #984
Looks like the original link was removed.
PS: https://www.visualstudio.com/explore/cplusplus-mdd-vs.aspx still 404s

[2019-01-12 00:54] nschonni commented on #983
Thanks! The original go link is still broken though 😉

[2019-01-12 01:17] phuocduc2020 opened #2199 "there was an error running selected code generator: 'primary sources'"
How can i fix this error? I create new api project and create new controller, it pop up this message

[2019-01-12 02:20] kendrahavens commented on #2190
Thank you for taking the time to give feedback! This isn't currently in the product. We are tracking this request with https://github.com/dotnet/roslyn/issues/18354. I recommend upvoting that issue to help us prioritize it.

[2019-01-12 05:20] ScotBren opened #2200 "This page should be for C26402"
You've got the C26401 content on the C26402 page.

I sure would like to read about C26402 DONT_HEAP_ALLOCATE_MOVABLE_RESULT

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ca5168d1-cf30-c466-23ae-533e08a7b25d
* Version Independent ID: 86e51007-6648-172e-90f7-10002f27f08f
* Content: [C26401 - Visual Studio](https://docs.

[2019-01-12 12:44] cbries opened #2201 "missing example for "IVsProjectUpgrade""
In the documentation
https://github.com/MicrosoftDocs/visualstudio-docs/blob/master/docs/extensibility/internals/upgrading-projects.md
the following is stated:

But fact is there absolutly no example provided, sad.

Search "IVSProjectUpgradeViaFactory" (0 hits in 0 files)
Search "ProjectUpgrade" (0 hits in 0 files)
Search "IVsProjectUpgrade" (0 hits in 0 files)

[2019-01-12 13:10] NenadSteric opened #2202 "installer (and VS) is crashing"
how can i send a report then ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d648cd73-34e8-1a47-35cc-3c5a1ff9f8f5
* Version Independent ID: a02d528a-85f7-00f6-cf00-3416713ed4d9
* Content: [How to report a problem with Visual Studio](https://docs.microsoft.com/en-us/visualstudio/ide/how-to-report-a-problem-with-visual-

[2019-01-12 14:34] Funcer8 opened #2203 "Open the Visual Studio Installer failed with one of the call to GetModuleHandleExW"
I could not even open the Visual Studio Installer!
So I use the API Monitor to monitor the vs_installer.exe under the "C:\Program Files\Microsoft Visual Studio\Installer", and it showed that after the call to GetModuleHandleExW ( 0, "mscoree.dll", 0x002ffb6c ) failed with error code 126, the process exited itself with ExitProcess function.In addition, mscoree.dll was not in the list of the loaded

[2019-01-12 16:32] StingyJack commented on #815
@rainersigwald - thats the general level of detail that I would have liked to have available via some simple matrix. I wan't looking for all the possibilities, just why I could not build a c# project that uses `$"{style}"` of string interpolation with a tfs 2015 build task (the task uses v14 unless you re-point it). The error message was less than helpful in figuring out what the problem was.

[2019-01-12 21:16] regal60740 commented on #1598
I have the same issue. Where is the HelloWorld project coming from? I created a Console App but it looks like this is an MVC project because of the controller class. The problem with Microsoft tutorials is many times they assume we know what they are doing but we don't, especially for beginners. We need more information, not less. Give us the first project before you go building a test project.

[2019-01-12 22:15] KirillOsenkov opened #2204 "Better documentation for DebugType (mention embedded)"
https://github.com/tmat should update the DebugType section with embedded option as well as clarify that pdbonly is useless and should never be used.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: caef0578-7b6a-6b5a-8cc4-268ddb2fb743
* Version Independent ID: a99db5b2-2ff5-a675-95c2-333db10231ff
* Content: [Csc Task -

[2019-01-12 23:42] Layarion opened #2205 "Wish i could hide/move the references"
I wish i could hide the references when i wasn't using them because i like like the increase in vertical space.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aeed9cef-8a01-ad6e-36a7-c858ac44c952
* Version Independent ID: 43948287-86e7-cf04-344f-48bb32592e1a
* Content: [Find code changes and other history with CodeLens

[2019-01-13 09:56] tnovotny commented on #756
I already had gtest/gmock locally. All of these steps mean doing something I don't want to do, then adjusting the changes made by these steps to the paths that I have. I

[2019-01-13 19:20] OldVSDeveloper opened #2206 "Navigation code behind not quite minimal"
The navigation 'next' and 'previous' command handlers require further work since it is possible to navigate off the beginning and off the end of the data using them.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 42c0fa43-0ca5-9c86-f8c4-4b3eb7176250
* Version Independent ID: bb93e3ff-0d52-9e93-c3a8-545b16f03a30
* Conte

[2019-01-14 17:18] gewarren commented on #2205
@Layarion You can turn CodeLens off via Tools > Options > Text Editor > All Languages > CodeLens:

![image](https://user-images.githubusercontent.com/24882762/51128673-53a45280-17dd-11e9-82e7-aac5717c2b48.png)

[2019-01-14 17:24] gewarren commented on #1598
@s205109 @regal60740 This article is not designed as a "walk through" with step-by-step instructions; it's just trying to show conceptually how you can add a unit test project to a solution. That said, it seems that the article should clarify what I just said since it seems to be confusing people.

If you want to create a sample HelloWorld project to try adding a unit test project, you can follow

[2019-01-14 17:30] gewarren commented on #983
@nschonni We don't track issues for broken fwlinks - for one thing, we don't know what the target should be, and we don't necessarily know the context where it's used. It would only be a concern if it was used in an article.

[2019-01-14 17:32] gewarren commented on #984
@nschonni www.visualstudio.com is now visualstudio.microsoft.com.

[2019-01-14 17:48] Mikejo5000 commented on #361
Updating

[2019-01-14 17:56] nschonni commented on #984
Yup, it redirects to https://visualstudio.microsoft.com/explore/cplusplus-mdd-vs, which is a 404
Not sure if it's something that can/should get remapped, but I know that's more of a marketing site link than a Docs link

[2019-01-14 17:57] Mikejo5000 commented on #459
Closing as this is a product issue. This could be treated as a feature suggestion or a bug. If you want to make a feature suggestion, please do so on [Developer Community](https://developercommunity.visualstudio.com/content/idea/post.html?space=8). To report it as a bug, use the Send Feedback link in Visual Studio (upper right).

[2019-01-14 18:05] CeciAc opened #2207 "Content desolately outdated"
@SetTrend commented on [Wed Dec 26 2018](https://github.com/MicrosoftDocs/visualstudio-docs.de-de/issues/31)

Documentation of the Options pages doesn't reflect the actual content of Tools &gt; Options at all.

This is true for many of the Options pages.

Please revise urgently. What option am I supposed to choose if I don't know that that option is all about?

### Example

![options example](http

[2019-01-14 18:06] gewarren commented on #984
@nschonni Ahh, I see. Thanks, I'll let marketing know that their redirect is broken.

[2019-01-14 18:12] gewarren commented on #2207
@CeciAc Thanks Cecilia!

[2019-01-14 18:21] Mikejo5000 commented on #1313
Resolved by #1330

[2019-01-14 18:21] #1313 closed

[2019-01-14 18:35] Mikejo5000 commented on #1407
Updating

[2019-01-14 19:19] Layarion commented on #2205
i only wanted to hide "References", or at the very least, have them stop taking up vertical space. if they were off to the side of each code line, i'd be less bothered by it. i didn't want to turn codelens off.
    On Monday, January 14, 2019, 12:18:29 PM EST, Genevieve Warren <notifications@github.com> wrote:

@Layarion You can turn CodeLens off via Tools > Options > Text Editor > All Languages >

[2019-01-14 19:30] gewarren commented on #2201
This is the section with the link: https://docs.microsoft.com/en-us/visualstudio/extensibility/internals/upgrading-projects?view=vs-2017#upgrading-custom-projects

[2019-01-14 19:32] gewarren commented on #2199
@phuocduc2020 Can you give a little more information about exactly which type of project you're creating, which type of controller, and if there's a specific docs article you're following along with?

[2019-01-14 19:55] Mikejo5000 commented on #1534
Updating. @rainersigwald for possible comments.

[2019-01-14 19:56] tydunkel commented on #2169
@bhanuchhabra7 did you happen to open the menu under a non-installed product? In 15.9 the "Export configuration" and "Import configuration" buttons were added to both installed and non-installed products. This added a "More" dropdown to products available to install which may have lead to some confusion.

Installed product:
![image](https://user-images.githubusercontent.com/40210514/51137258-48f4b

[2019-01-14 20:03] tydunkel commented on #2203
@Funcer8 this sounds like you may have a corrupted .NET Framework installation. Are you able to run any .NET applications on the system?

[2019-01-14 20:08] tydunkel commented on #2202
@NenadSteric thank you for the feedback! Sorry you are having this issue. Is this a recent issue? Have both the installer and VS worked in the past? Have you added a NODE_OPTIONS environment variable recently?

[2019-01-14 20:16] tydunkel commented on #2168
@suhailmahmood you are correct that `--all` is the only option needed to install all workloads and components, as `--all` will implicitly add `--includeRecommended` and `--includeOptional`. We will update the documentation to reflect this. Thank you for your feedback!

[2019-01-14 20:20] tydunkel commented on #2005
@mrweiland thank you for pointing out this issue! The docs have been updated to reflect the proper use of the export command.

@TerryGLee this issue can be closed out now that the docs have been updated.

[2019-01-14 20:21] tydunkel commented on #1499
@TerryGLee I believe this can be closed out now since the issue was an improper Docker base image.

[2019-01-14 20:31] TerryGLee commented on #2005
@tydunkel Thanks

[2019-01-14 20:31] #2005 closed

[2019-01-14 23:35] TerryGLee commented on #1092
@AraHaan Is this still an issue? Apologies that this has lain fallow for some time, but let us know if this is still an issue and we'll see what we can do to help.

[2019-01-14 23:36] gewarren commented on #1152
@evanwindom Do we also need to change 'Region Director' to 'Regional Director'?

Includes:  Not for Resale (NFR), Microsoft Valued Professional (MVP), Region Director (RD), Visual Studio Industry Partner (VSIP), BizSpark, Imagine, MCT

[2019-01-14 23:38] evanwindom commented on #1152
@gewarren -- Yes.  That's correct.

[2019-01-14 23:40] kraigb commented on #2147
@naseefo and @LabSmith Thanks for pointing all this out--you're correct that the Py_LIMITED_API is the problem when using PyBind11, so I'll update the docs to indicate that it's only for CPython.

[2019-01-14 23:41] gewarren commented on #1163
@hollasch There's a new way to suggest features on [Developer Community](https://developercommunity.visualstudio.com/content/idea/post.html?space=8). Can you please file this suggestion over there to get better traction on it?

[2019-01-14 23:41] #1163 closed

[2019-01-14 23:50] gewarren commented on #1202
@RoyMalka Are you suggesting that we should link to the "Adding a command to the Solution Explorer toolbar" article from the "Making commands available" article?

[2019-01-14 23:52] gewarren commented on #1204
@gitterman If you want to ensure that your feedback is seen by the editor team, please log it at [Developer Community](https://developercommunity.visualstudio.com/spaces/8/index.html) as a product issue or feature suggestion.

[2019-01-14 23:52] #1204 closed

[2019-01-14 23:56] gewarren commented on #1215
@GravenImageRD You can now log feature suggestions on [Developer Community](https://developercommunity.visualstudio.com/content/idea/post.html?space=8). Could you file this suggestion over there? You'll get better traction with the product team.

[2019-01-14 23:57] #1215 closed

[2019-01-14 23:58] gewarren commented on #1219
@madskristensen Do you want to take a look at this feedback?

[2019-01-14 23:59] #1225 closed

[2019-01-15 00:04] gewarren commented on #1248
The info that needs to be linked to can be found here: https://docs.microsoft.com/en-us/visualstudio/test/unit-testing-existing-cpp-applications-with-test-explorer?view=vs-2015#objectRef.

[2019-01-15 00:04] #1257 closed

[2019-01-15 00:09] gewarren commented on #1269
@alexhomer1 This is a question about the line in [this table](https://docs.microsoft.com/en-us/visualstudio/test/lab-management/install-configure-test-agents?view=vs-2017#upgrade-from-visual-studio-2013-test-agents) for TFS/Azure Test Plans alternatives. Can you answer it?

[2019-01-15 00:11] #1289 closed

[2019-01-15 00:11] gewarren commented on #1296
@evanwindom Can this be closed?

[2019-01-15 00:43] evanwindom commented on #1296
@gewarren Yes

[2019-01-15 01:14] evanwindom commented on #1195
@nde-agridea Thanks for reaching out.  An alternate identity provides a way to sign in to a your subscription with two different identities, but it doesn't duplicate or expand any of the benefits.  If your subscription allows you one pipeline, for example, using an alternate identity doesn't not provide an opportunity to use additional pipelines since that is dependent on the subscription, and not

[2019-01-15 01:38] moh-hassan opened #2210 "Msbuild Import Project Note is not valid and need correction"
The note for Import Eelement isn't valid at:
 https://docs.microsoft.com/en-us/visualstudio/msbuild/import-element-msbuild?view=vs-2017

It causes a trouble with that issue in msbuild project: https://github.com/Microsoft/msbuild/issues/4070

Document say:
&gt;While conditional import statements work in command-line MSBuilds, they do not work with MSBuild in the Visual Studio integrated developmen

[2019-01-15 01:50] evanwindom commented on #788
@Nathan-Tarin Thanks for the feedback.  I'll be happy to forward your request to our licensing team.  I did find a reference in the English license terms that's specific to subscriptions:
"Additional License Terms for Visual Studio Subscriptions
In addition to the rights in the License Model Terms, Customer may allocate a Visual Studio Subscription for each License it acquires. For Visual Studio S

[2019-01-15 02:08] evanwindom commented on #776
@Nathan-Tarin Hi Nathan.  The details of what is provided in terms of Azure DevOps (formerly VSTS) are available here:  https://azure.microsoft.com/en-us/services/devops/compare-features/

Additional information about Azure DevOps is available in the Azure DevOps documentation, https://docs.microsoft.com/en-us/azure/devops/?view=vsts

[2019-01-15 02:12] evanwindom commented on #1552
@danmyhre Thanks for the inquiry.  I'm not aware of any plans to change those benefits, but I will pass your suggestions along to our benefits planners.

[2019-01-15 02:34] #1296 closed

[2019-01-15 03:11] gewarren commented on #1316
@ghogen Should we update the article with the info you added in the [comment](https://github.com/MicrosoftDocs/visualstudio-docs/issues/1316#issuecomment-420407486)?

[2019-01-15 03:16] gituser227 commented on #1580
DevOps is not needed for CI/CD with Azure Web Apps at all.  We've been
doing it for a couple of years without DevOps, and I've seen no official
documentation from Microsoft stating DevOps is required and only DevOps is
supported.  BitBucket and GitHub are also supported.  We got started with
CI/CD on our Azure Web Apps by following Microsoft documentation.  See
https://docs.microsoft.com/en-us/azu

[2019-01-15 03:17] gewarren commented on #1348
@DaanV2 Thanks for bringing this to our attention.

[2019-01-15 03:18] gewarren commented on #1349
@kendrahavens Can you clarify how multiple required modifiers are used in a naming convention?

[2019-01-15 03:21] gewarren commented on #1351
@kendrahavens Do you know the answers to these precedence questions for editorconfig?

[2019-01-15 03:30] gewarren commented on #1405
@eriawan The account changes are documented here:

https://docs.microsoft.com/en-us/visualstudio/ide/work-with-multiple-user-accounts?view=vs-2017#add-an-account-using-device-code-flow

and

https://docs.microsoft.com/en-us/visualstudio/ide/reference/accounts-environment-options-dialog-box?view=vs-2017

Please let me know if you still feel something is missing.

[2019-01-15 03:30] #1405 closed

[2019-01-15 03:33] gewarren commented on #1411
A better place to file a product suggestion is at [Developer Community](https://developercommunity.visualstudio.com/content/idea/post.html?space=8). There, the suggestion can be upvoted, and the product team will update the status of the suggestion with labels as it moves through the system.

[2019-01-15 03:35] gewarren commented on #1420
@PBoraMSFT Can you answer this?

[2019-01-15 03:42] gewarren commented on #1421
This is fixed now.

[2019-01-15 03:42] #1421 closed

[2019-01-15 04:16] evanwindom commented on #1552
@danmyhre  - I did some checking on this, and it looks like we're already at E5 for EMS.

[2019-01-15 04:26] ericnewton76 opened #2211 "Confirmation Email"
Would it make sense to put a link wherever the "Confirmation pending for contact email" is displayed?

INstead of having to search for "How to I confirm my email for azure" or "VSTS team profile" or whatnot?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7bbbde6d-478e-b19c-4592-484bbab98acc
* Version Independent ID: 16

[2019-01-15 04:30] ericnewton76 commented on #2211
Actually this isnt even the correct place.  GRRR.

On my Azure DevOps profile, I see "Confirmation pending for contact email" at this url: https://aex.dev.azure.com/me?campaign=o~msft~vsts~usercard&tab=home&mkt=en-US

UX needs to examine that...

[2019-01-15 08:37] ChristianBjerre opened #2212 "Visual Studio crashes due to Code Analysis"
I have made no changes to Visual Studio or my solution. Now Visual Studio crashes 20-30 after loading the solution.

The stack trace from Event Viewer points to Code Analysis running.

I cannot even start the reinstall, update or uninstall of Visual Studio. This is a pain to be honest that the product just do something I don't need and crashes.

Application: devenv.exe
Framework Version: v4.0.3031

[2019-01-15 13:16] neoDD69 commented on #1990
@MisinformedDNA I think that the site need a huge rethinking for become usable.
Seems to be projects for one scope and bad-modified during the way.
One for all: you cannot see YOUR posts !!!!

embarrassing, especially since it is oriented to professional programmers and not to end users and then it's Microsoft, not you and me!

[2019-01-15 13:18] danmyhre commented on #1552
Mine is all E3 level.  It is also missing Dynamics, which makes developing/demoing Dynamics difficult.

Office 365 Enterprise E3 Developer
Enterprise Mobility + Security E3

[2019-01-15 15:10] akeeton commented on #1564
https://marketplace.visualstudio.com/items?itemName=VisualStudioClient.MicrosoftVisualStudio2017InstallerProjects

[2019-01-15 15:33] rainersigwald commented on #1534
I agree, we shouldn't be advising use of `Microsoft.Build.Engine.dll` or `Microsoft.Build.Conversion.dll` anywhere in the docs, unless we have a big "don't do this, it's deprecated" warning next to it.

[2019-01-15 16:34] rainersigwald commented on #1580
@gituser227, are you talking about Azure App Service continuous deployment, as in https://docs.microsoft.com/en-us/azure/app-service/deploy-continuous-deployment#deploy-continuously-from-github? Since that system builds code as part of its deployment, it might be subject to a mismatch in MSBuild/Visual Studio versions, and I don't know the details of their update schedule.

[2019-01-15 16:49] tydunkel commented on #1266
@taylorbindon I'm not sure I understand the request here. The `--wait` option can be provided anywhere in the list of args passed to `vs_enterprise.exe`.

e.g. `vs_enterprise.exe --norestart --wait` is equivalent to `vs_enterprise.exe --wait --norestart`

When you were hitting issues, were you seeing this to not be the case? I verified with the latest installer from https://www.visualstudio.com/do

[2019-01-15 18:22] gewarren commented on #1088
@TerryGLee Do you want me to reopen this one or leave it closed?

[2019-01-15 18:44] gewarren commented on #2212
@ChristianBjerre Thank you for reporting this crash. The product team will need a crash dump to investigate the issue. Can you please report this crash to Developer Community by choosing the Help > Send Feedback > Report a Problem menu in Visual Studio? That way, diagnostic information is automatically attached to the report.

[2019-01-15 18:44] #2212 closed

[2019-01-15 18:47] TerryGLee commented on #1088
@gewarren Let's leave it closed; it looks like the customer states that the original issue is no longer an issue for them. Thanks for the follow-up.

[2019-01-15 18:53] seaniyer commented on #1990
@weitzhandler You can submit a new suggestion for Developer Community under Visual Studio.  We don't have a separate category in the dropdown at the moment. Tagging is optional and may not be necessary in this case.

Thanks
Sean

[2019-01-15 18:59] seaniyer commented on #1990
@neoDD69

It is true there is no 'Your Posts' view at the moment.  There is an 'Items I Follow' dropdown menu option under your name at the top right of the web site.  'Items I follow' includes your posts and others posts you follow.  Please give it a try if you haven't used it and let us know how it meets / does not meet your needs.

Thanks!
Sean

![image](https://user-images.githubusercontent.co

[2019-01-15 19:00] Mikejo5000 commented on #1601
@EdSF The common project <item> elements are doc'ed here: https://docs.microsoft.com/en-us/visualstudio/msbuild/common-msbuild-project-items?view=vs-2017, including the None and Content items that you mentioned. I can add a few links to make this topic more discoverable.
There are plans to create a new doc for .NET Core specific .csproj elements
dotnet/docs#2642, but I'm not sure when that will be

[2019-01-15 19:11] Mikejo5000 commented on #2210
Getting fixed in #2213

[2019-01-15 19:11] #2210 closed

[2019-01-15 19:16] aybe opened #2215 "Every time a document is saved the Output window is shown"
With the latest release (4.0.0.1) and VS2019 Preview (16.0.0), something REALLY annoying,

Whenever one saves a file, the Output window is shown with the following message:

Saving C:\XXXXXXX.cs sending Refresh

This has many consequences:

- Output window is shown and has to be closed using ESC
- when debugging, every time you have to restore the visible tab you want that Output just stole, e.g.

[2019-01-15 19:19] Mikejo5000 commented on #1601
I will plan to close this one in favor of dotnet/docs/#2642, once I add some additional links.

[2019-01-15 19:33] aybe commented on #2215
Also, note that 'Refresh Unity's AssetDatabase on save' setting has no effect on the visibility of Output, it is always shown.

[2019-01-15 19:46] RoyMalka commented on #1202
Yes I spent time to find this article and it should be linked from there to my opinion

נשלח מה-iPhone שלי

‫ב-15 בינו׳ 2019, בשעה 1:50, ‏‏Genevieve Warren ‏<notifications@github.com> כתב/ה:‬

[2019-01-15 20:21] TerryGLee commented on #1564
@John-Hart FYI

[2019-01-15 20:39] TerryGLee commented on #2169
@tydunkel Thanks for your response. I've updated the [Repair Visual Studio](https://docs.microsoft.com/en-us/visualstudio/install/repair-visual-studio?view=vs-2017) page with this information. @bhanuchhabra7 We're going to close this issue; thanks again for your input.

[2019-01-15 20:39] #2169 closed

[2019-01-15 21:18] gewarren commented on #1202
@RoyMalka Thanks for helping us improve the docs!

[2019-01-15 21:53] gewarren commented on #1435
Verified the fix, so closing.

"Beginning with Visual Studio 2015, VSIX packages signed using anything other than SHA256 encryption will be identified as having an invalid signature."

[2019-01-15 21:53] #1435 closed

[2019-01-15 21:59] christiand opened #2216 "Not available on Visual Studio for Mac?"
This window doesn't appear to exist

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ac1b431a-4afc-27ae-b2d9-0d1299eba257
* Version Independent ID: 72c6c954-6989-4ca7-1db4-38d6ac3f3c40
* Content: [Using the Tasks Window - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/debugger/using-the-tasks-window?view=vs

[2019-01-15 22:06] tpatel11 commented on #1470
If you look at the property called ServiceProvider in your command class, that returns the package of type AsyncPackage. If you want to use the derived version (async version), you can use GetServiceAsync instead of GetService. Reason for your issue is, AsyncPackage implements IAsyncServiceProvider interface and that is being returned as service provider but if you look at class AsyncPackage, it a

[2019-01-15 22:22] asb3993 commented on #1806
Hi @GermaniU, Have you been able to update this to Visual Studio for Mac 7.7 and get it working?

Thanks

[2019-01-15 22:36] AraHaan commented on #1092
Yes, I had to move the tasks to the csproj file instead of having them in the props file. Unless I was supposed to put the tasks in a *.targets file?

[2019-01-15 22:44] TerryGLee commented on #1552
@danmyhre Thanks for your additional feedback. I'm certain that @evanwindom will pass that along too, to our benefits partners. Meanwhile, I will close the issue, as the original question of "Are there plans to update this to an E5 level for O365 and EM+S" has been asked and answered.

[2019-01-15 22:44] #1552 closed

[2019-01-15 22:47] TerryGLee commented on #1434
@evanwindom Thanks for forwarding the info. @OzBob Thanks again for your feedback. We'll close specific GitHub Issue now, as this forum is meant to track documentation issues rather that product issues, and the info has been forwarded to the product engineering team.

[2019-01-15 22:47] #1434 closed

[2019-01-15 22:55] TerryGLee commented on #1195
@evanwindom Thanks for answering the inquiry. I'll close this issue, in that what's being asked for is a scenario that's not supported.

[2019-01-15 22:55] #1195 closed

[2019-01-15 22:58] TerryGLee commented on #789
@evanwindom Thanks for submitting the changes; and @Nathan-Tarin thanks again for your feedback. We'll close this issue now that updates to the docs are in (or quickly on their way in).

[2019-01-15 22:58] #789 closed

[2019-01-15 23:01] TerryGLee commented on #788
@evanwindom Thanks for your answer to the inquiry. I'll close this issue now that the inquiry has been "asked and answered" -- and forwarded to the licensing team.

[2019-01-15 23:01] #788 closed

[2019-01-15 23:06] TerryGLee commented on #776
@evanwindom Thanks for answering the inquiry. I will close this now.

[2019-01-15 23:06] #776 closed

[2019-01-15 23:13] gewarren commented on #1456
This was taken care of by #2116.

[2019-01-15 23:13] #1456 closed

[2019-01-15 23:32] Mikejo5000 commented on #1092
That looks like an msbuild question. Arahaan was trying to update VS to help address the problem he was experiencing, I believe. @AraHaan, were you able to update VS?

[2019-01-15 23:40] tydunkel commented on #1092
@AraHaan I'm not sure I understand what issue you were hitting when creating the layout. Were you following the instructions at https://docs.microsoft.com/en-us/visualstudio/install/create-an-offline-installation-of-visual-studio?view=vs-2017#use-the-command-line-to-create-a-local-cache? Once a layout is created you can install only new instances of VS from it. You do this by running the vs_<SKU>.

[2019-01-15 23:46] TerryGLee commented on #2168
@tydunkel Thanks for your response; the updates to the [Command-line parameter examples for Visual Studio 2017 installation](https://docs.microsoft.com/en-us/visualstudio/install/command-line-parameter-examples?view=vs-2017) page will go live mid-morning tomorrow.

[2019-01-15 23:46] #2168 closed

[2019-01-15 23:58] Mikejo5000 commented on #2216
@christiand Hi, all the Visual Studio for Mac doc are here:
https://docs.microsoft.com/en-us/visualstudio/mac/
Features supported in VS for Mac would be under the Debugging node.

[2019-01-15 23:58] #2216 closed

[2019-01-16 00:31] gewarren commented on #1461
@DerekSMorin Thank you for reporting this. Our article does seem to contradict itself for this convention. It sounds like the allowable values are:

none
type_casts
control_flow_statements
expressions

[2019-01-16 01:40] AraHaan commented on #1092
Yes, but I wanted to use the preview bootstrappers which seems to ignore the option and not generate a offline layout like what the stable ones do.

[2019-01-16 02:08] TerryGLee commented on #1982
@tydunkel Thanks for answering the inquiry; I've updated the pages requested, which should go live by mid-morning tomorrow.

[2019-01-16 02:08] #1982 closed

[2019-01-16 02:17] TerryGLee commented on #1937
@tydunkel FYI.

[2019-01-16 02:19] nschonni commented on #1456
Thanks, has #2198 also been done in the internal repo too?

[2019-01-16 04:46] gewarren commented on #1456
No, not yet.

[2019-01-16 05:08] gewarren commented on #1470
This is similar to #1277.

[2019-01-16 05:38] gewarren commented on #1506
@reuss Sorry for the delay in responding. Did you resolve your issue? I'm wondering if adding a using directive for 'Microsoft.VisualStudio.TestTools.UnitTesting' would solve the problem?

[2019-01-16 05:41] gewarren commented on #1523
@joshuamaiche Thank you for letting us know, and for posting the solution!

[2019-01-16 05:42] gewarren commented on #1526
@Mikejo5000 Can this be closed, or do we need to add a link to the topic you mentioned, perhaps?

[2019-01-16 05:44] gewarren commented on #1528
@Mikejo5000  Seems like this can probably be closed?

[2019-01-16 05:46] gewarren commented on #1529
@Mikejo5000 Should we add Bill's response info to an article, or can this be closed as-is?

[2019-01-16 05:49] #1543 closed

[2019-01-16 06:01] gewarren commented on #1582
@Mikejo5000 Is there a doc update needed here, or can we close this?

[2019-01-16 06:02] #1583 closed

[2019-01-16 06:04] gewarren commented on #1585
@Mikejo5000 Does this need a doc update, or should it be closes as-is?

[2019-01-16 06:05] #1593 closed

[2019-01-16 07:17] cremor commented on #1461
@gewarren Are you sure? This was already discussed in #513 and back then it was determined that `false` is correct.

[2019-01-16 07:39] PBoraMSFT commented on #1420
@JimmyMac6996 - No, Coded UI cannot be used for testing Electron based apps. The supported apps and technologies is mentioned in the doc you refered to above.
Please also note that we have deprecated Coded UI and VS 2019 will be the last release - https://docs.microsoft.com/en-us/visualstudio/releases/2019/release-notes-preview#test-tools

We do not recommend that any new customers onboard Coded U

[2019-01-16 07:43] sntiwari opened #2217 "I have downloaded ms visual 2010 but it ask for key what do I do?"
I have downloaded ms visual 2010 but it ask for key what do I do?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dd373ab5-4b8b-8289-c735-22512e42a26c
* Version Independent ID: c166ffd0-f201-ebec-643f-c4535c4aa652
* Content: [Talk to us - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/ide/talk-to-us?view=v

[2019-01-16 08:46] #2217 closed

[2019-01-16 12:15] uljo2 opened #2218 "Windows 8.1 SDK"
Is it the installation of SDK 8.1 through VS BuildTools that has isses, or would it be possible to install Windows 8.1 SDK in another way?

Is it something that will be fixed so that it is supported in the future?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b91a4a43-5353-97cf-7532-7644aa3b497f
* Version Independent

[2019-01-16 17:01] #1528 closed

[2019-01-16 17:04] Mikejo5000 commented on #1582
Looks like the product fix is in.

[2019-01-16 17:04] #1582 closed

[2019-01-16 17:21] diverdan92 commented on #904
cc @LyalinDotCom
Yes - that statement is correct.

[2019-01-16 17:22] #1585 closed

[2019-01-16 17:25] diverdan92 commented on #911
@LyalinDotCom - can you take a look?

@yilmazdurmaz  - can you provide more clear repro instructions for the first issue you mention? What layout element are you grouping the two buttons into? A Grid, StackPanel, Canvas, something else? Also, for these types of issues that appear to be product bugs, I encourage you to [file the issue report directly in Visual Studio](https://docs.microsoft.com/en-

[2019-01-16 17:44] gewarren commented on #1456
The scripting-docs folder has been normalized too now (in the private repo).

[2019-01-16 17:57] #1420 closed

[2019-01-16 20:35] banelingn commented on #2114
you ether need to install the android emulator in extensions, get tools and features in the tools menu, or connect an android device.

[2019-01-16 20:48] cremor commented on #1461
Yes, that's definitely still true. See [code for VS 2017 15.9](https://github.com/dotnet/roslyn/blob/dev15.9.x/src/Workspaces/CSharp/Portable/Formatting/CSharpFormattingOptions.Parsers.cs#L9-L25) and [code that might be in VS 2019](https://github.com/dotnet/roslyn/blob/master/src/Workspaces/CSharp/Portable/Formatting/CSharpFormattingOptions.Parsers.cs#L13-L23) ([refrenced dictionary](https://githu

[2019-01-16 22:17] gewarren commented on #1608
@Powerhelmsman - Mikkel is correct. Did you actually encounter this exception, or are you just predicting it could occur? Closing the issue assuming the latter.

[2019-01-16 22:17] #1608 closed

[2019-01-16 22:18] gewarren commented on #1614
Content has been added, so closing.

[2019-01-16 22:18] #1614 closed

[2019-01-16 22:19] RobertHemsley opened #2221 "Subscriber benefits"
Now that Microsoft has removed the cloud annual subscriptions, does that mean Subscriber Benefits are no longer obtainable with cloud subscriptions?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cf290c37-d7fa-9d10-b8ef-865647e58a70
* Version Independent ID: 1334b162-8560-5e0a-c874-9439b697dd96
* Content: [Billing FAQ

[2019-01-16 22:33] gewarren commented on #1635
This has been fixed.

[2019-01-16 22:33] #1635 closed

[2019-01-16 22:35] gewarren commented on #1654
Related to #2172.

[2019-01-16 22:39] TerryGLee commented on #1927
@tydunkel Thanks for reviewing this issue; the requested updates to the documentation will be published by mid-morning tomorrow.

[2019-01-16 22:39] #1927 closed

[2019-01-16 22:51] evanwindom commented on #2211
@ericnewton76 - Hi Eric.  You're right -- your feedback is actually more applicable to Azure DevOps.  You can explore their documentation and submit your feedback here:  https://docs.microsoft.com/en-us/azure/devops/?view=vsts

Thanks!
Evan

[2019-01-16 22:51] #1685 closed

[2019-01-16 22:53] gewarren commented on #1687
Same as #1528.

[2019-01-16 22:53] #1687 closed

[2019-01-16 22:58] #1706 closed

[2019-01-16 23:02] #1727 closed

[2019-01-16 23:06] gewarren commented on #1751
@alexiorodrigues Could you log this is a feature suggestion at [Developer Community](https://developercommunity.visualstudio.com/content/idea/post.html?space=8) instead? It will get more traction with the product team there, and can also be upvoted more easily.

[2019-01-16 23:06] #1751 closed

[2019-01-16 23:10] gewarren commented on #1763
This seems to be working now. The link goes here:

https://github.com/MicrosoftDocs/visualstudio-docs/issues/new?title=&body=%0A%0A%5BEnter%20feedback%20here%5D%0A%0A%0A---%0A%23%23%23%23%20Document%20Details%0A%0A%E2%9A%A0%20*Do%20not%20edit%20this%20section.%20It%20is%20required%20for%20docs.microsoft.com%20%E2%9E%9F%20GitHub%20issue%20linking.*%0A%0A*%20ID%3A%20401f8953-3165-194b-3706-92336a5a9

[2019-01-16 23:10] #1763 closed

[2019-01-16 23:12] gewarren commented on #1776
This is fixed.

[2019-01-16 23:12] #1776 closed

[2019-01-16 23:14] gewarren commented on #1779
"Choose the Text property and type in the word Stretch, as shown in the following picture." - is the offending line.

[2019-01-16 23:16] gewarren commented on #1798
@leonelhs Let us know if you're still facing this issue.

[2019-01-16 23:16] #1798 closed

[2019-01-16 23:51] aybe commented on #2215
Closing the issue for now -> it's so much simpler.

I've tried to follow the 'official way' and here's how it ended:

- terrible search engine, 'sending refresh' is shown in history
- so I happily hit <kbd>Enter</kbd> to see if it's already in, zero results
- I then do a manual search ... **470 pages** to go through

Sorry but I just don't have the time to go through **470 pages** to see if it's a

[2019-01-16 23:51] #2215 closed

[2019-01-17 00:05] brandonh-msft commented on #1685
Could we fwd this as a bug to the appropriate team if in fact it is a VS issue, then? Happy to do this if you can point me in the right direction.

[2019-01-17 00:40] gewarren commented on #1878
@kendrahavens Any chance you can update this article with the new default values?

[2019-01-17 01:00] gewarren commented on #1903
We recently updated the devenv switches articles - see https://docs.microsoft.com/en-us/visualstudio/ide/reference/devenv-command-line-switches?view=vs-2017 and https://docs.microsoft.com/en-us/visualstudio/extensibility/devenv-command-line-switches-for-vspackage-development?view=vs-2017. @DennisLee-DennisLee can provide more insight into why we did or didn't add specific options, if you still fee

[2019-01-17 01:00] #1903 closed

[2019-01-17 01:01] #1904 closed

[2019-01-17 01:09] gewarren commented on #1928
@sunnychatterjee Could you take a look at this feedback?

[2019-01-17 01:10] #1935 closed

[2019-01-17 01:12] #1943 closed

[2019-01-17 01:49] TerryGLee commented on #515
@abbgrade Apologies that it's taken a while to work through our backlog, but for easier reference, the [Command-line parameter examples for Visual Studio 2017 installation](https://docs.microsoft.com/en-us/visualstudio/install/command-line-parameter-examples) page will now include references to our [Visual Studio 2017 workload and component IDs](https://docs.microsoft.com/en-us/visualstudio/instal

[2019-01-17 01:49] #515 closed

[2019-01-17 01:50] #361 closed

[2019-01-17 01:50] #1407 closed

[2019-01-17 01:50] #1534 closed

[2019-01-17 01:50] #1601 closed

[2019-01-17 01:54] #2221 closed

[2019-01-17 03:04] #2211 closed

[2019-01-17 06:11] sansjunk opened #2222 "Text in image not visible"
Some of the text in the first image (0501-a_commandplacement.png) under section "Command placement decisions" is barely visible in the Dark theme.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 997573f6-37fb-876a-f6c6-0cb857a52f92
* Version Independent ID: c14c634c-8321-f995-2114-6a039baf93fb
* Content: [Menus and Comm

[2019-01-17 11:19] hjrb opened #2224 "Publish this information in a structured format"
Investigating this information in this format is not easy. It would be really helpful if you could publish this information in a machine readable format e.g. a database file or XML
Example: which workloads require and Android component to be installed? (Background: those fail download using the --layout parameter)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2019-01-17 15:36] MirceaStroe opened #2225 "Modifying the msbuild default build system"
I am developing an iOS & Android white label app in Xamarin and aim is to add some customization to the building process, ideally outside Visual Studio.

It would be great to selectively choose what files will reach the compiler, App Icons & Resx translation files in special, like specify custom locations from which these will be picked up during building.

How would I be able to accomplish this?

[2019-01-17 15:48] salomonsk8r2003 commented on #1779
There is a text property. It is a property of the Check Box, and it wants you to type "Stretch" into it.
So either you have a different version of Visual Studio, or you are misreading the instructions. But there is definitely a Text property on my side. And I was able to type the word "Stretch" into it exactly how the tutorial shows.

[2019-01-17 17:12] chriswolf-nrg commented on #2003
I am having this very issue myself.  In my case, I am trying to debug a library, [serilog-sinks-loggly](https://github.com/serilog/serilog-sinks-loggly), so this library is not the startup project.
I am on Windows-10, Visual Studio 15.8.1 and DotNet-Core SDK info:
[code]

[2019-01-17 17:59] TerryGLee commented on #2224
@hjrb Thanks for your feedback; we'll take this under advisement.

[2019-01-17 18:56] gewarren commented on #1779
@salomonsk8r2003 Thanks for confirming this. I'm closing the issue. @GeVanCo If you still feel there's an error in the article, please leave a comment.

[2019-01-17 18:56] #1779 closed

[2019-01-17 19:15] chadwixk commented on #1465
It's stored in the web.config file:
<system.web>
    <compilation debug="true" targetFramework="4.6.1"/>

[2019-01-17 23:54] DulcetTone opened #2228 "Debugging does not work as you say it will"
I have set VS as the editor for Unity scripts, and it indeed opens them when I click on them within Unity.

However, within VS, pressing Command+enter does nothing, as the "play" icon in VS is instead a hammer icon, most of the time.

I have seen it TRY to work, when the hammer was indeed a play symbol, but it did not seem to function in any way.  Instead, it appeared to run some tests.  Likewise,

[2019-01-18 07:45] MiroslavMikus commented on #1465
There are many C# project templates without web.config. If I create a new .Net/Standard/Core/UWP project there is no *.config file by default.

[2019-01-18 11:03] SwayTex commented on #1443
Hi. When you start recording does it open a web browser? And in it does it request to allow a extension?

[2019-01-18 15:34] jordan83 opened #2229 "Can't find CLSID_ProgramPublisher"
Where does this guid come from? I assumed it would be somewhere in VSConstants but I'm unable to find it. Is this doc up to date?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 64fee83a-3045-6c0d-0fd7-6d072f4a20f3
* Version Independent ID: 90ddf5d5-67f5-e1d5-103c-ac6bc35236c3
* Content: [IDebugProgramPublisher2 - Visua

[2019-01-18 16:28] sayedihashimi opened #2230 "Add a doc to show publish to App Service from VSMac"
It looks like we don't have a doc covering publishing to Azure App Service from VSMac.

I am working on a doc and will submit a PR today.

cc @Rick-Anderson

[2019-01-18 18:11] user905 opened #2232 "Generate Code Map For Solution - Unable to Connect to the Specified Database"
Using Windows 7, sp1, Visual Studio 2017 Enterprise throws the following error when attempting to generate a code map:

Unable to connect to the specified database.

An exception occurred attempting to connect to a database using the following connection string:
  Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=;Initial Catalog=master;Integrated Security=True;Enlist=False;Asynchronous Processi

[2019-01-18 18:11] user905 commented on #2232
More details here: https://stackoverflow.com/questions/54246967/generate-code-map-for-solution-unable-to-connect-to-the-specified-database

[2019-01-18 18:15] kendrahavens commented on #1349
I'm not sure on this one. Asking @sharwell

[2019-01-18 18:23] TerryGLee commented on #2218
@uljo2 Thanks for your feedback; @heaths FYI.

[2019-01-18 18:37] sharwell commented on #1349
* The **Symbol modifiers** section should be updated to state that a naming rule will only match signatures that have _all_ modifiers specified in `required_modifiers`. If this property is omitted, the default is an empty list, meaning there are no specific modifier requirements in order for the rule to apply.
* It does not seem like the **Accessibility levels of symbols** section needs to be upda

[2019-01-18 18:46] #1684 closed

[2019-01-18 19:14] TerryGLee commented on #762
@MisinformedDNA @cpdohert Thanks for your feedback and apologies for the delay in closing out this issue that's been in our backlog for a while. FYI: We've since added a sentence to the "`--add <one or more workload or component IDs>`" entry that says "To include multiple workloads or components, repeat the `--add` command (for example, `--add Workload1` `--add Workload2`)." I've also reformatted

[2019-01-18 19:14] #762 closed

[2019-01-18 19:17] gewarren commented on #2007
@diverdan92 Can you answer this question?

[2019-01-18 19:19] Rick-Anderson commented on #2230
I'll add a link to that doc to our TOC
![image](https://user-images.githubusercontent.com/3605364/51408218-1522d680-1b02-11e9-8a7f-7f74f7050f44.png)

and we can add the link to next steps in our other tutorials.
cc @tdykstra

[2019-01-18 19:20] gewarren commented on #2011
@madskristensen Should @d07RiV log this issue on Developer Community via Help > Send Feedback > Report a problem instead, so you can get diagnostic info? (I'm not sure if extension issues are supposed to be logged there.)

[2019-01-18 19:24] TerryGLee commented on #1152
@gewarren This was fixed, per [PR# 3686](https://github.com/MicrosoftDocs/visualstudio-docs-pr/pull/3686) @evanwindom Thanks for fixing this.

[2019-01-18 19:24] #1152 closed

[2019-01-18 19:42] madskristensen commented on #2011
@gewarren all issues with the extension should be opened on its GitHub issue tracker.

[2019-01-18 19:48] gewarren commented on #2011
@madskristensen Ahh, thank you. @d07RiV Can you please open this issue at https://github.com/madskristensen/EditorConfigLanguage/issues?

[2019-01-18 19:48] #2011 closed

[2019-01-18 20:00] kendrahavens commented on #1351
Thanks for taking the time to file feedback! I'm not sure if a few of these questions are outdated as we developed the tooling in the past months. Sorry if that is the case and this is belated!

In the above sample the C:\Foo\Bar\.editorconfig will override the root editorconfig settings with the editorconfig in the local Bar directory. (Unless you actually have two editorconfigs in the same direc

[2019-01-18 20:08] gewarren commented on #2020
There may be plans for a UI designer - hopefully the product team will answer that. Also, if your codebase is C#, you can use the IntelliCode extension for VS to automatically create/infer an .EditorConfig file. See https://blogs.msdn.microsoft.com/visualstudio/2018/07/17/visual-studio-intellicode-inferring-coding-conventions-for-consistent-code/ and https://docs.microsoft.com/en-us/visualstudio/i

[2019-01-18 20:09] kendrahavens commented on #1624
We need to update the others as well. I can open a separate issue if needed and include the 2019 Preview 1 and 2 updates that we will need.

[2019-01-18 20:11] gewarren commented on #2032
A blog post about this is coming soon.

[2019-01-18 20:14] gewarren commented on #2049
This has been fixed.

[2019-01-18 20:14] #2049 closed

[2019-01-18 20:20] kendrahavens commented on #1878
Sure. @sharwell, Is there a complete list  ([or commit](https://github.com/dotnet/roslyn/pull/27220/commits/24888acc6a293b881190a8db904207094cbb4bfc)) I should work from?

[2019-01-18 21:03] #2063 closed

[2019-01-18 21:06] heaths commented on #2218
I've forwarded this question to someone who can better answer it for the Windows SDK.

[2019-01-18 21:07] gewarren commented on #2079
@evanwindom Can we close this?

[2019-01-18 21:08] gewarren commented on #2090
*blue screen of death

[2019-01-18 21:09] gewarren commented on #2090
@quillby Is this for an app you created, or were you following one of our tutorials?

[2019-01-18 21:12] gewarren commented on #2099
@TerryGLee I also suggest adding dev_langs metadata to this article to free up screen real estate. Only the VB or C# code snippets will be shown, but not both at the same time.

[2019-01-18 21:15] gewarren commented on #2104
@Mikejo5000 Can this be closed in favor of Report a Problem?

[2019-01-18 21:17] #2125 closed

[2019-01-18 21:17] rainersigwald commented on #937
I'm not sure I understand the question here. Can you give an example of what you wish worked, or describe it in a bit more detail?

[2019-01-18 21:34] #2182 closed

[2019-01-18 21:36] gewarren commented on #2189
I've fixed the context menu jargon issue. Thanks for letting us know! We are also aware from customer studies that they like screenshots and code samples, so thank you for that feedback too.

[2019-01-18 21:36] #2189 closed

[2019-01-18 21:38] gewarren commented on #2199
Closing until we get further info.

[2019-01-18 21:38] #2199 closed

[2019-01-18 21:42] gewarren commented on #2207
This [particular article](https://docs.microsoft.com/en-us/visualstudio/ide/reference/options-text-editor-basic-visual-basic?view=vs-2017) was updated 3 days ago to include the new options. The rest are coming shortly and are being tracked by an internal work item.

[2019-01-18 21:42] #2207 closed

[2019-01-18 21:54] leithmc opened #2234 "What about VSIX deployment? And the Project Template template?"
This is the most helpful doc I've been able to find for my scenario. Can we update it to include the VSIX deployment? When I follow the VSIX docs it assumes single project in the same solution.
Also, it would be nice to cover the scenario for people creating their templates from the Project Template template in the SDK if that's still a recommended scenario, and if it's not, it would be good to kn

[2019-01-18 21:59] Mikejo5000 commented on #2104
Yes.

[2019-01-18 21:59] #2104 closed

[2019-01-18 22:12] Mikejo5000 commented on #2192
@stevev6 The content here is also included in the [parent topic](https://docs.microsoft.com/en-us/visualstudio/debugger/com-server-and-container-debugging?view=vs-2017), along with some additional scenarios (such as container debugging). In fact, this topic looks extraneous so I'll remove it. Let me know if you have any specific suggestions. Thanks!

[2019-01-18 22:37] #2079 closed

[2019-01-18 22:38] #1371 closed

[2019-01-18 22:46] Mikejo5000 commented on #2185
@regal60740 Are you trying to open it from Chrome on the same machine or another computer? On the local machine, this URL should work:
file:///C:/Users/mikejo/Downloads/appname.exe
On Edge, you are prompted to run, so I suspect the issue is Chrome permissions or, if you are trying to open from a remote computer, the access permissions on the file share.

[2019-01-18 22:51] Mikejo5000 commented on #2185
And actually, on Chrome this works, too, opening locally. The file shows up in the lower left of my Chrome window. If you are trying to open from a remote computer, the issue will revolve around perms. It's more of a general web/browser issue than an issue relating to this doc, though, so I'm closing this.

[2019-01-18 22:51] #2185 closed

[2019-01-18 23:00] gewarren commented on #1461
@cremor Thanks for your input. Closing the issue now.

[2019-01-18 23:00] #1461 closed

[2019-01-18 23:01] gewarren commented on #1624
@kendrahavens That would be great, thank you! And then please close this issue once that's done.

[2019-01-18 23:02] Mikejo5000 commented on #2150
@mvladd1 Hi, I'm sorry you are experiencing this issue. This is a support issue rather than a doc issue. Please click the icon in the upper right in VS and "Report a Problem".

[2019-01-18 23:02] #2150 closed

[2019-01-18 23:04] Mikejo5000 commented on #2126
@Mandrakx Were you able to resolve this? If so, can you suggest a fix here? Thanks!

[2019-01-18 23:04] gregvanl commented on #2229
Hi @jordan83 You can get the CLSID from the msdbg.h header file mentioned in the Requirements section.

[code]

[2019-01-18 23:04] #2229 closed

[2019-01-18 23:09] henrygab commented on #1351
Thanks for the response, @kendrahavens.
_[[ First, the lack of a slash was a weirdness with markdown headers... had to double-up the "\" before the period for some reason.  I've updated the above to make the filenames in the headings clear. ]]_

I encourage you to ask the question of multiple people, to try to deduce what should happen **_according to the documentation_**, without actually writing

[2019-01-19 00:03] cartermp commented on #1546
@gewarren I think this should be `area-extensibility`.

[2019-01-19 00:06] cartermp commented on #1355
Yes, selecting a different version of the C# language can result in different assemblies with meaningful performance differences  _provided_ that you also use features that affect this. For example, if you have a C# 7.0 project and upgrade to C# 7.3, then make good use of the `Span<'T>` feature, your code can run faster and allocate less memory.

[2019-01-19 00:09] cartermp commented on #1354
No, there are not meaningful drawbacks. The feature is generally for more advanced scenarios though, such as easing the use of various performance analysis tools.

[2019-01-19 00:12] cartermp commented on #1897
Not sure if this is a label yet, but `area-source control` feels like the most appropriate one here.

[2019-01-19 00:53] StingyJack commented on #1354
Thanks!

[2019-01-19 00:53] #1354 closed

[2019-01-19 12:30] jauseg commented on #2183
Thank you for the advice. I did not try to update the version. I`ll try to do this after the weekends.

[2019-01-19 12:30] #2183 closed

[2019-01-19 13:00] PBoraMSFT commented on #1443
Webtest can be recorded or hand-coded by adding requests one by one. recording depends on a browser extension, that is installed automatically when you install Visual Studio with the web performance and load test component.
Please ensure that the "webtest recorder" and "recorder helper" show as Enabled in IE. (IE Settings gear -> Internet Options -> Programs -> Manage add-ons)
![image](https://use

[2019-01-19 13:21] PBoraMSFT commented on #1356
@kasturi3k You can add data-binding by declaring the appropriate data source as an attribute on the unit test.
See this doc for example https://docs.microsoft.com/en-us/visualstudio/test/creating-a-data-driven-coded-ui-test?view=vs-2017

@gewarren - can you please close the issue? I dont seem to have the permissions.

[2019-01-19 14:36] StingyJack commented on #1443
@PBoraMSFT - thanks, but i was not having that problem.

[2019-01-19 14:42] PBoraMSFT commented on #1443
@StingyJack - so, is the issue resolved then? Should we go ahead and close it?
If not, can you share more details of the problem so we can help?

[2019-01-19 15:09] RobDev23 opened #2235 "Unable to Sign In on the Visual Studio Developer Community Page"
The Visual Studio Developer Community page has a 'Sign In' link, however the link is dead. It does nothing when clicked and I am, therefore, unable to sign in. So I can't follow the progress of my Visual Studio suggestions and reported errors. Can you tell me what's happening here, please?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2019-01-20 02:12] PBoraMSFT commented on #1443
@gewarren - I have sent you a mail about a topic that can be added here about webtest recording and playback. Can you please take it forward and close this issue when you are done?

@StingyJack - please note that web and load test functionality is deprecated in VS 2019. VS 2019 will be the last release. https://docs.microsoft.com/en-us/visualstudio/releases/2019/release-notes-preview#test-tools

[2019-01-20 02:30] TerryGLee commented on #2235
@RobDev23 Thanks for your feedback, and I'm sorry to hear that you've experienced this issue. Unfortunately, however, I've not been able to repro it. I've logged onto the [Developer Community](https://developercommunity.visualstudio.com/spaces/8/index.html) by using two different accounts on two different computers and also by using three different browsers (Edge, Chrome, Firefox), and the sign-in

[2019-01-20 06:06] LJ9999 opened #2237 "So, where is this mysterious XML Editor?"
You refer to something I have no clue how to find.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65ceeabd-a020-1121-fc1d-7631655455da
* Version Independent ID: 2fc5375e-2133-dc60-6c34-21ab4e0b7307
* Content: [XML editor - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/xml-tools/xml-editor?view=vs-2017)
*

[2019-01-20 07:45] Lakachew91 opened #2238 "Visual studio for mac"
thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 08320b48-33b6-b3e5-3be1-72202019e3dd
* Version Independent ID: 3a66757e-649d-6415-ff5e-00d628eb17f6
* Content: [Install Visual Studio 2019 for Mac Preview - Visual Studio 2019 for Mac](https://docs.microsoft.com/en-us/visualstudio/mac/installation?view=vsmac-2019)
*

[2019-01-20 09:39] NextTurn commented on #2237
Open any XML file and Visual Studio will become an XML editor. To

[2019-01-20 14:07] RobDev23 commented on #2235
Hi @TerryGLee, many thanks for your reply. I’ve always accessed the Developer Community website via IE11, which is the browser that showed up the ‘sign in ‘ anomaly. However, when I access the website using the Edge browser the ‘Sign In’ link is active and I’m able to sign in. Is it official that the Developer Community website no longer supports IE11? If so, why didn't anybody tell me?

Also, are

[2019-01-20 17:20] sayedihashimi opened #2239 "Add install video for Visual Studio to Mac to install docs"
We have published a video on how to install Visual Studio for Mac https://channel9.msdn.com/Shows/Visual-Studio-Toolbox/Visual-Studio-for-Mac-Acquisition we should add this to the install doc.

I will be sending a PR for this issue soon.

[2019-01-20 21:06] se7ensoft commented on #604
Doesn't work. Followed above instructions to a T and no menu item appeared in the experimental instance.

[2019-01-20 22:43] taylorbindon commented on #1266
Hey @tydunkel I definitely shouldn't have been so hasty to attribute it to the position of the argument, my bad. I was using Packer, and provisioning with Powershell, to create an updated image with software pre-installed. From memory, I tried with and without `Start-Process`. I'll see if I can reproduce the error soon, this was almost six months ago, not sure if something might have changed or if

[2019-01-21 16:16] jordan83 commented on #2229
Thanks Greg. Is there a way to access this constant from C#?

[2019-01-21 16:53] jordan83 opened #2240 "When is Attach called?"
Playing around with the MIEngine implementation has given some insight. It looks like when the SDM calls IDebugEngineLaunch2::ResumeProcess, the code natvigates to a IDebugPortNotify2 instance and adds the program node. The implementation of IDebugPortNotify2::AddProgramNode calls Attach before it returns.

https://github.com/Microsoft/MIEngine/blob/master/src/MIDebugEngine/AD7.Impl/AD7Engine.cs#L

[2019-01-21 16:59] JeffRausch commented on #1567
I'm also getting this error.  I tried all lowercase since this is the only param that's camal cased [(Param List)](https://docs.microsoft.com/en-us/visualstudio/ide/template-parameters?view=vs-2017) but that didn't work either.
It would really be nice to be able to access the solution name even when adding a project to an existing solution.  We organize project output by Solution\Project so now ou

[2019-01-21 18:41] #1868 closed

[2019-01-21 18:41] #2062 closed

[2019-01-21 18:41] #2192 closed

[2019-01-21 19:57] inabeel opened #2242 "Screen shot of user experience"
Please always include screen shot of how it will look like after development. Sometimes its difficult to visualize Grid page settings and how would it look after development.

In that case we have to first check, and then decide which is waste of time.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d7a70e9-8bed-6595-a

[2019-01-21 20:52] jb-wisemo opened #2243 "The link for annotation support is wrong"
The link needs to go to https://docs.microsoft.com/en-us/visualstudio/code-quality/using-sal-annotations-to-reduce-c-cpp-code-defects

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 392c386c-755c-3a5e-dab1-f157cac7f4f2
* Version Independent ID: 75a83eac-2475-4fd8-c9e3-2b2c9cea885e
* Content: [Code Analysis for C/C++ Ove

[2019-01-21 20:59] jb-wisemo opened #2244 "The lock kinds and kind specific annotations needs clarification"
As written the documentation for _xxx_exclusive_lock_, _xxx_nonreentrant_lock_ and _xxx_shared_lock_ need to be clarified as to what those words are intended to mean in this feature.  Throughout locking literature, different and contradictory use of such words can be found, so it is necessary to be specific as to what is meant in this case.

---
#### Document Details

⚠ *Do not edit this section.

[2019-01-21 23:06] coch110149 opened #2245 "Set up without typescript"
Can this doc be updated to how to set this up without typescript. Whenever I use a .jsx I get syntax errors. I am not sure which loader I should use.

[2019-01-21 23:08] coch110149 commented on #2245
Content: Create a Node.js and React app - Visual Studio
Content Source: docs/javascript/tutorial-nodejs-with-react-and-jsx.md

[2019-01-22 04:38] schemburkar opened #2247 "How do I set the verbosity switch"
I'm trying to set the  /verbosity:quiet in msbuild.exe, but there is no way to provide this in the MSBuild task. Any way to do this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 24ae888a-0777-7e09-cd0c-c864df8376db
* Version Independent ID: 29dd0025-ff74-ec07-ad71-4a75a276d8d8
* Content: [MSBuild Task - Visual Studio

[2019-01-22 08:07] ddobric opened #2249 "Strange behavior of CodeAnalysis tab"
Have console application based on .NET Core.
Code Analysis tab appears, but it is hanging (loading) forever.

![image](https://user-images.githubusercontent.com/1756871/51520783-ecae1b80-1e24-11e9-9e6d-1d2abda81029.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 573429a4-7c2d-5ede-9c34-934cc26a4045
* Version Indepe

[2019-01-22 12:58] timcools commented on #2032
can you keep us posted when the blog post is published please

[2019-01-22 14:38] RobertHemsley commented on #2221
What is the alternative for someone who has used visual studio cloud annual subscriptions for their teams and need to add more users that require subscriber benefits?

[2019-01-22 14:42] diverdan92 commented on #2007
@LyalinDotCom fyi

@dan-meier - you are building a UWP application with TargetPlatformVersion >= 10.0.16299.0? This should still work for other XAML based applications.

[2019-01-22 15:21] ChrisGuzak opened #2251 "inconsistent use of "<userpath>" in sample code"
In the first sample that mentions `<userpath>` there is an extra paren after the `>`

`await textService.WriteLineAsync(<userpath>), "this is a test");`

I recommend making this a real variable and either leave it uninitialized or init it with a path that will fail.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4999b8

[2019-01-22 15:47] felipepessoto commented on #2032
Does it affect Azure DevOps Load Test?

[2019-01-22 16:50] #1356 closed

[2019-01-22 17:08] LockTar opened #2252 "When available for .NET Core?"
I see the note: ![NOTE] This refactoring is not yet available for .NET Standard and .NET Core projects.

When will it be available? I have the situation a lot that I want to rename the file to match the type. Now only the other way around is possible.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1290998c-f264-73c8-1e

[2019-01-22 17:09] gewarren commented on #1567
Since it sounds like this is an issue with the product, it'd be best to log the issue at [Developer Community](https://developercommunity.visualstudio.com/spaces/8/index.html) by choosing Help > Send Feedback > Report a Problem. You'll get better traction from the product team there. I'll close this once somebody confirms they've opened an issue on Developer Community.

[2019-01-22 17:09] #2222 closed

[2019-01-22 17:23] gewarren commented on #1420
@ypinhas Since this issue is closed, could you open a new issue with your question? Thanks.

[2019-01-22 17:34] gewarren commented on #2032
I will keep you posted. The blog post is slated to publish this Friday 1/25. It affects Azure DevOps load testing too - specific dates and scenarios will be covered in the blog post.

[2019-01-22 18:01] dan-meier commented on #2007
That's correct...UWP with min version 10.0.16299.  What are my options?

[2019-01-22 18:52] diverdan92 commented on #2007
@dan-meier - if you don't have any hard dependencies on APIs in the later SDKs, you could retarget to an SDK before 10.0.16299.0, create the XAML Path, and then retarget higher again. Alternatively, you could create a simple project just designed to get the XAML path you need (with a Target Version < 10.0.16299.0) and copy the output into your main project.

For context, this is an artifact of our

[2019-01-22 19:36] asb3993 commented on #2238
Thanks for your response @Lakachew91 !

[2019-01-22 19:36] #2238 closed

[2019-01-22 20:01] #1349 closed

[2019-01-22 20:08] sayedihashimi commented on #2230
@asb3993 I've submitted a PR for this content in the private repo. @Rick-Anderson has reviewed, and I made all the changes he requested. I think it now needs to get approved and merged, I'm not sure if there is any other action that I need to take here. Please let me know if there is.

[2019-01-22 20:53] sharwell commented on #1351
@henrygab The rules you describe were implemented correctly for properties _with the same name_. For your example, you describe the relation between different properties with different names. The specification is ambiguous with respect to this situation, and for better or worse the naming conventions are applied in the reverse of what you described above. There is an earlier discussion regarding t

[2019-01-22 20:57] gewarren commented on #2234
@leithmc Have you taken a look at this article? https://docs.microsoft.com/en-us/visualstudio/extensibility/creating-custom-project-and-item-templates?view=vs-2017

[2019-01-22 20:58] gewarren commented on #2235
@seaniyer for comment about browser support.

[2019-01-22 21:00] gewarren commented on #2237
@LJ9999 Did you see this paragraph in the article you referenced? It seems to answer your questions.

The XML editor is invoked for well-known file extensions, such as .xml, .xsd, .xsl, and .config. It is also invoked on any unknown file extension if the file appears to contain XML. You can also open any file with the XML editor by using the Open With option and selecting the XML editor from the l

[2019-01-22 21:06] leithmc commented on #2234
Yes I have. A few times.
I tried going that route early on but it creates a template for a class library by default, and when I tried to make it create a console application I ran into all sorts of errors, eventually gave up, and went back to using the Export Template wizard.

Coincidentally, I wrote the first version of that doc in 2007 (or the doc it replaces.) The current version is much better

[2019-01-22 21:09] #1327 closed

[2019-01-22 21:09] leithmc commented on #2234
BTW, I sent a more detailed version through my MS account. Forwarding that to your work mail now....
Look for subject: FW: Packages in Visual Studio templates -- doc feedback and question

Sent from Outlook<http://aka.ms/weboutlook>

________________________________
From: Leith McCombs <leithmc@hotmail.com>
Sent: Tuesday, January 22, 2019 1:06 PM
To: MicrosoftDocs/visualstudio-docs
Subject: Re: [M

[2019-01-22 21:10] gewarren commented on #2243
Link is in this section - https://docs.microsoft.com/en-us/visualstudio/code-quality/code-analysis-for-c-cpp-overview?view=vs-2017#annotation-support

[2019-01-22 22:39] gewarren commented on #634
@Deni35 For product issues, can you log it on Developer Community be selecting Help > Send Feedback > Report a Problem (from within Visual Studio)?

[2019-01-22 22:52] TerryGLee commented on #1385
@tydunkel Thanks for your documentation update request; it's processed and will go live on 1/23/2019.

[2019-01-22 22:52] #1385 closed

[2019-01-22 23:09] kendrahavens opened #2254 "Document intellisense accessibility modifiers"
In the #examples-of-intellisense-icons section we should add that each icon has a modifier indicating accessibility. A "lock" appears on the icon if the method is private, a star if it is protected, etc.

Screenshots of the different modifiers: https://imgur.com/a/rJuu12u
Related customer feedback on unclear documentation: https://developercommunity.visualstudio.com/idea/426045/intellisense-may-sh

[2019-01-23 02:35] tdykstra commented on #2230
Sure, but I advise waiting a bit on the TOC as we're in the middle of converting from MD to YAML, and the convert-to-YAML PR is stuck at the moment.  What else besides Pub to App Svc from VSMac do you need to add to the TOC?

[2019-01-23 02:38] sayedihashimi commented on #2230
@tdykstra ok, I see. I have a new PR out for a new doc covering **Publish to Folder**.

[2019-01-23 02:40] Rick-Anderson commented on #2230
@sayedihashimi 	when your doc is published, create a new issue in https://github.com/aspnet/Docs asking @tdykstra 	to link to your doc. He can do the work.

[2019-01-23 02:48] sayedihashimi commented on #2230
Sounds good, thanks guys.

[2019-01-23 03:44] yyou opened #2255 "Control ID / Office Id"
"Set the OfficeId property to the control ID of the built-in tab that you want to customize."

I downloaded the "Office 2010 help files: Office fluent user interface control identifiers" from the link in this document. But which column in those spreadsheets will be the column to setup the Control ID here?  the column "Control Name"?

---
#### Document Details

⚠ *Do not edit this section. It is re

[2019-01-23 05:49] PBoraMSFT commented on #1420
@ypinhas - I have already responded to your email.
Including the same information here for anyone else that may have a similar question:

While no new features will be added given that we are deprecating, Coded UI test in VS 2019 will continue to be supported for any issues that may arise during the support lifecycle of the product. Please refer the product lifecycle and servicing docs – VS releas

[2019-01-23 15:42] RobDev23 commented on #2235
Hi Genevieve,

I’ve tried finding info about browser support from @seaniyer. Unfortunately, I can’t find any browser support info from that user on GitHub. Can you please supply me with the browser support info or, at least, a link to where I can find it.

Kind regards,

Robert Ashcroft

From: Genevieve Warren
Sent: Tuesday, January 22, 2019 8:58 PM
To: MicrosoftDocs/visualstudio-docs
Cc: RobDev23

[2019-01-23 20:15] gewarren commented on #2254
This is the section: https://docs.microsoft.com/en-us/visualstudio/extensibility/ux-guidelines/images-and-icons-for-visual-studio?view=vs-2017#icon-types

@kendrahavens, do you want this new documentation to be for extension writers, or for end users? If the latter, then the information probably belongs in a different article.

[2019-01-23 20:51] TerryGLee commented on #960
@nymbols Thanks again for your input. We've changed our site architecture since this GitHub Issue was originally posted, and so the page you referenced now redirects to [Create an offline installation of Visual Studio 2017](https://docs.microsoft.com/en-us/visualstudio/install/create-an-offline-installation-of-visual-studio?view=vs-2017). On this page, we say the following in "Step 3: Install Visu

[2019-01-23 20:51] #960 closed

[2019-01-23 20:58] Rick-Anderson opened #2257 "EnableDefaultContentItems"
`EnableDefaultContentItems` is not documented. See [this thread on SO](https://stackoverflow.com/questions/46983930) and https://github.com/aspnet/Docs/issues/7951

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ab5a5a0e-ae03-1237-6ebe-743066f27fa9
* Version Independent ID: a342bfa4-4b0c-0a47-3695-858044f5aa5f
* Content

[2019-01-23 21:31] TerryGLee commented on #970
@tydunkel Can you verify, please?

[2019-01-23 21:44] #1402 closed

[2019-01-23 21:46] TerryGLee commented on #1264
@tydunkel FYI on this.

[2019-01-23 21:59] seaniyer commented on #2235
@RobDev23

Hi Robert,

Thank you for making us aware of the sign in issue on IE11.  At this time, we strongly recommend using Edge over IE11 for Developer Community as we prioritize support for optimal experience on Edge.

- Sean

[2019-01-23 22:33] tydunkel commented on #970
@cowlinator Thank you for the feedback! The `--wait` command description is correct, the `vs_<SKU>.exe` process will wait to close until after the install is complete. However, different command utilities behave differently when given commands. Batch scripts will wait for a process to quit before continuing, so `--wait` will block until the install completes. Powershell scripts **will not** block

[2019-01-24 02:00] mavasani opened #2260 "Update documentation to mention Microsoft.CodeAnalysis.Metrics NuGet package"
https://github.com/dotnet/roslyn-analyzers/issues/1756 has been resolved with https://github.com/dotnet/roslyn-analyzers/pull/2030. See the description in that pull request for the new steps to execute Code Metrics from MSBuild command line (note that the NuGet package was renamed in a later PR to Microsoft.CodeAnalysis.Metrics).

https://www.nuget.org/packages/Microsoft.CodeAnalysis.Metrics/ has

[2019-01-24 03:04] cowlinator commented on #970
Thank you for the response.
I agree that additional examples would be very helpful.

[2019-01-24 08:18] cremor commented on #634
@Deni35 Alternatively you could open an issue in the [Roslyn repo](https://github.com/dotnet/roslyn) because that's where the EditorConfig export code was implemented (see dotnet/roslyn#30043).

[2019-01-24 10:18] Deni35 commented on #634
Okey. I made report: https://developercommunity.visualstudio.com/content/problem/435257/editorconfig-has-wrong-identifiers.html

[2019-01-24 10:51] yairush88 opened #2261 "This refactoring does always work as expected"
For example, in the following code snippet:
            var index = 1;
            for (int i = 0; i &lt; 10; ++i)
            {
                index++;
                // Some more work...
            }

After trying to apply the "Move declaration near reference" refactoing, I get the following:
            for (int i = 0; i &lt; 10; ++i)
            {
                var index = 1;

[2019-01-24 14:16] StingyJack opened #2262 ""This project does not reference any Dependency Validation diagrams or...""
"referenced diagrams are not valid. Dependency validation will not be performed."

I didn't ask for any dep val, yet this message is showing up in my Error List as warnings.
![image](https://user-images.githubusercontent.com/15381181/51683845-c620e980-1fb8-11e9-9091-a9b3cbe32a8c.png)

How does this "feature" get turned off?

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2019-01-24 16:56] tydunkel commented on #970
@TerryGLee FYI - we will work on adding more examples to the docs for this since it is a common point of confusion.

[2019-01-24 17:54] gewarren commented on #2261
@yairush88 Thanks for reporting this. Since this is a product issue, please report it at [Developer Community](https://developercommunity.visualstudio.com/spaces/8/index.html), which the product team actively monitors (these issues here are for docs). Initiate your report by choosing Help > Send Feedback > Report a Problem from Visual Studio.

[2019-01-24 17:54] #2261 closed

[2019-01-24 18:00] gewarren commented on #2262
@mgoertz-msft Can you help answer how to get rid of these warnings?

[2019-01-24 18:45] StingyJack commented on #1443
@PBoraMSFT - I'm not sure what difference reporting a feature's deprecation makes to the question asked. Also the article you linked talks about Coded UI and load testing deprecation. I think this was for the webtest recording that appeared to be non-functional when I tried to use it. Even if you consider WTR part of the other two, your customer base has a reasonable expectation that this module w

[2019-01-25 00:20] samkramer commented on #1360
The following configuration file works for modern .NET framework versions:
<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="microsoft.visualstudio.testtools" type="Microsoft.VisualStudio.TestTools.UnitTesting.TestConfigurationSection, Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions" />
  </configSections>
  <connectionStrings>
    <add name

[2019-01-25 12:56] StingyJack commented on #1443
@PboraMSFT - the OP has the STR + A/E.

[2019-01-25 13:05] DaveInCaz opened #2265 "COMFileReference details"
Perhaps the remarks about COMFileReference could be expanded. Things that I have read elsewhere:

* The point of this project items seems to be that you can use it to compile .NET code that references COM components without the COM components being registered on the build server (instead of COMReference). But this isn't really explained.

* The COM dll doesn't need to be registered on the machine

[2019-01-25 19:23] guflorezm commented on #1311
I got the same error when i try to publish my application into an azure container registry from my visual studio professional in windows 10

![image](https://user-images.githubusercontent.com/25715441/51767748-45dbb080-20ac-11e9-9ca1-8f2ad0e915df.png)

![grubbrr-published-error](https://user-images.githubusercontent.com/25715441/51767791-6a378d00-20ac-11e9-803b-3d41552fe02f.png)

![image](https://

[2019-01-25 21:10] alekkowalczyk opened #2267 "Any plans for support in ASP.NET Core projects?"
I have an ASP.NET Core+React+Redux with typescript project and using this for unit tests, but have to have a special second node.js project just for the test, and do "hacky" things to be able to import my references from the "main" project.

Also - any plans/release estimations for typescript debugging in unit tests? For me even in JavaScript it doesn't work and need to do a lot of `console.log`

[2019-01-25 21:12] #2267 closed

[2019-01-25 21:48] Mikejo5000 commented on #2265
@rainersigwald Would you recommend adding these items to the section on COMFileReference?

[2019-01-25 21:56] Mikejo5000 commented on #2247
@schemburkar I believe you would normally do this from the command line, or in a custom logger. Sounds like you want to limit logging to a specific Task? @rainersigwald for comment

[2019-01-25 22:05] Mikejo5000 commented on #2245
@coch110149 You can do the same app with babel as the specified compiler in the webpack configuration file instead of the TypeScript compiler (loader: 'ts-loader' would need to be changed). I have made the app work with JS and babel in the past, but we didn't want two separate documents. You are seeing syntax errors in VS when adding more JSX code? Or you see errors when transpiling the JSX code f

[2019-01-25 22:16] Mikejo5000 commented on #2204
@KirillOsenkov pdbonly Do you mean it is useless for debugging purposes? In the -debug compiler docs, it looks like they recommend -pbdonly or no pdb's for release code, so I would need to be careful about wording. If you have a link, that would be great.

[2019-01-25 22:52] tmat commented on #2204
It is clarified here: https://github.com/dotnet/roslyn/blob/master/docs/compilers/CSharp/CommandLine.md

[2019-01-25 22:59] Mikejo5000 commented on #2204
Thanks, looks to me like the compiler docs are out of date here, but I can update this doc. @mairaw

[2019-01-25 23:09] TerryGLee commented on #1937
@akochepasov This is under investigation; we will either have some input that we can add to this GitHub Issue, or updates to the [Update a network-based installation of Visual Studio](https://docs.microsoft.com/en-us/visualstudio/install/update-a-network-installation-of-visual-studio?view=vs-2017#how-to-remove-older-versions-from-a-layout) page, soon.

[2019-01-25 23:16] tmat commented on #2204
/cc @jaredpar

[2019-01-25 23:20] mairaw commented on #2204
/cc @BillWagner

[2019-01-25 23:23] TerryGLee commented on #2087
@andykn I have checked in with the engineering team, who have assured me that this is stated correctly in the documentation. By design, the command-line parameters for the Install process and the Layout process work differently.

[2019-01-25 23:47] #2087 closed

[2019-01-25 23:55] KirillOsenkov commented on #2204
I see, that's what I thought. `pdbonly` is identical to `full`, is obsolete and should not be used.

[2019-01-25 23:56] TerryGLee commented on #1092
@tydunkel Are layouts supported in Preview?

[2019-01-26 00:12] tydunkel commented on #1092
@TerryGLee yes, Preview installers support layout mode. There could have been an issue with that specific preview installer, but in general layout mode should be supported. @AraHaan have you experienced any layout issues recently?

[2019-01-26 01:08] TerryGLee commented on #2103
@geoduderino Thanks for letting us know; we've updated the page, which should be published by Tuesday of next week (if not sooner).

[2019-01-26 01:08] #2103 closed

[2019-01-26 02:14] AraHaan commented on #1092
I will try it again when I get my latop on internet again. Currently viewing github on my iPhone 5s thought so. I will report back if it works now or not on the VS2019 Preview installer.

[2019-01-26 04:42] schemburkar commented on #2247
I'm doing something like
MyLib.csproj

[code]

I need to set the Verbosity on the MSBuild task element.
Setting `Properties="Verbosity=Quiet"` does not work, so something like should be possible:
[code]

The equivalent cmd syntax is
[code]

[2019-01-26 13:50] boustrephon opened #2269 "Compiling IronPython to DLL"
It would be great to see something about compiling IronPython to DLLs. I know we can do it using pyc, but it is not clear whether this is available in PythonTools for VS.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d59f61b3-8cae-f461-e85e-5c159a56e7c4
* Version Independent ID: 80d076a4-12f3-e0b2-7793-33e8d8f1840a
*

[2019-01-26 23:21] Leon99 opened #2270 "Screenshots with code?"
It would be great to have snippets of code that can be copied rather than screenshots of code.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2d25dd44-f173-dd83-3afc-d6608613d450
* Version Independent ID: e121cedc-5cbe-a399-e2a8-5d192aaea770
* Content: [File nesting rules for Solution Explorer - Visual Studio](https://

[2019-01-26 23:36] Leon99 opened #2271 "No extensions specified"
Screenshots with configuration for addedExtension/pathSegment show no extensions added at all. Is it meant to be that way? If yes, does it imply "*" and can only specific extension be specified?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2d25dd44-f173-dd83-3afc-d6608613d450
* Version Independent ID: e121cedc-5cbe-a

[2019-01-27 10:02] mrincmr opened #2272 "Linkedin learning benefit not activating from dev essentials page. Link looks broken."
Linkedin learning benefit not activating from dev essentials page. Link looks broken.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4948f37c-a328-34ea-5980-5ac3115e2f8e
* Version Independent ID: f8c0f599-0711-a98e-b254-04407ba864de
* Content: [LinkedIn Learning Benefit in Visual Studio Subscriptions](https://docs.micro

[2019-01-27 12:26] TomasHubelbauer opened #2273 "Document if it is possible to use VS Code and how"
Hey, thanks for this documentation page. I'd be interested in learning how to build and develop UWP apps using VS Code as opposed to full Visual Studio. I am not clear on whether this is possible or not, I can imagine there being prerequisites and dependencies that prevent this from working, but if it is possible, I'd like to learn how to do it and whether it is a supported scenario by Microsoft.

[2019-01-27 16:58] msaleem3k opened #2274 "Linkedin learning benefits are not activating from my.visualstudio.com . Please help"
Linkedin learning benefits are not activating from my.visualstudio.com . Please help

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4948f37c-a328-34ea-5980-5ac3115e2f8e
* Version Independent ID: f8c0f599-0711-a98e-b254-04407ba864de
* Content: [LinkedIn Learning Benefit in Visual Studio Subscriptions](https://docs.micro

[2019-01-28 04:45] MisinformedDNA opened #2276 "Referencing newer assemblies"
I created a Dependency Validation project, named ArchitectureModel, that references various local projects using various .NET versions (.NET Standard 2.0, .NET Framework 4.7.2 and .NET Core 2.1). Before adding the DV project, I didn't have any framework reference issues, but with the DV project, I'm getting errors like this:

![image](https://user-images.githubusercontent.com/1784452/51814912-4b3f

[2019-01-28 09:42] Mikolaj98p opened #2277 "Visual Studio 2017 15.9 Installer not working"
I cannot install visual studio because offline installer after initial progress done is closing without any affect in files.

[2019-01-28 14:06] pressacco opened #2278 "Error in sample code"
Sample code references a class that has not yet been defined: `ClassC`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4c3d4e72-7dfd-9fc6-631e-298d47156220
* Version Independent ID: e05bb3f5-1133-a57f-298e-d50c10b0a9e7
* Content: [Debug a C++ access violation - Visual Studio](https://docs.microsoft.com/en-us/visualstudi

[2019-01-28 14:58] kraigb commented on #2269
@boustrephon Thanks for filing the issue. The Python Tools for Visual Studio don't provide the capability of compiling to a DLL, which is why you don't see anything about it in the documentation. Are you expecting to at least see a note regarding the possibility with pyc? Generally speaking, the VS docs aren't the place to go into details on this, so I wanted to clarify with you what would be most

[2019-01-28 16:13] rainersigwald commented on #2247
There's no way to control verbosity from within an MSBuild execution; it's a property only of the loggers attached to the whole build, either through the API or from the command line.

[2019-01-28 16:36] Mikejo5000 commented on #2278
@pressacco Thanks! I'll take a look at that.

[2019-01-28 17:08] evanwindom commented on #2274
@msaleem3k - Thanks for reaching out.  We're working to resolve a technical issue that is resulting in codes not being available to activate the LinkedIn Learning benefits in some subscriptions.  I apologize for the inconvenience, and appreciate your patience.

[2019-01-28 17:09] evanwindom commented on #2272
@mrincmr - Thanks for reaching out.  We're working to resolve a technical issue that is resulting in codes not being available to activate the LinkedIn Learning benefits in some subscriptions.  I apologize for the inconvenience, and appreciate your patience.

[2019-01-28 18:45] mgoertz-msft commented on #2276
Targeting 4.7.2 sounds like the right thing to do. However, I'm afraid .NET Core is not supported by the Dependency Validation (or any of the other Architecture Tools).

[2019-01-28 18:49] MisinformedDNA commented on #2276
Well that's a surprising and a, quite frankly, alarming statement. Why aren't they supported? Will they be supported?

[2019-01-28 18:56] #1449 closed

[2019-01-28 18:58] mgoertz-msft commented on #2276
I could be wrong but AFAIK these tools have never really worked with .NET Core.

[2019-01-28 19:46] tydunkel commented on #2277
@Mikolaj98p Thank you for reporting this! Are you seeing this screen at all after being prompted to elevate?
![image](https://user-images.githubusercontent.com/40210514/51861834-11f1cc80-22f2-11e9-9af8-747bf419064e.png)
If not, you may have a corrupted .NET framework installation. If so, could you check if this feedback item applies to you? [Installer won't open with NODE_OPTIONS environment varia

[2019-01-28 20:10] gewarren commented on #2273
@gregvanl Can you comment on this?

[2019-01-28 21:34] TomasHubelbauer commented on #2273
Understood. Is it possible to build an existing UWP app without Visual Studio? I found a thread which seems to indicate that MSBuild and the .NET SDK is not enough, that VS installs the UWP targets. Is that still the case? Is building UWP apps without VS something you would consider supporting?

[2019-01-28 21:53] gewarren commented on #2273
@diverdan92 might be able to offer additional insight on whether UWP apps can be developed outside of VS.

[2019-01-28 22:06] diverdan92 commented on #2273
@TomasHubelbauer - you could build UWP applications with the Visual Studio Build edition. Some more information is available in this [post](https://blogs.msdn.microsoft.com/vcblog/2016/11/16/introducing-the-visual-studio-build-tools/).

Just curious - is there a reason you would want to build and develop apps without Visual Studio?

[2019-01-28 22:19] TomasHubelbauer commented on #2273
Thanks!

I am usually doing .NET webdev + other tech and for that I've migrated to VS Code as I like it better for JS and other non-MS stacks and can have all under one roof that way.

I still have VS on other machines, but do not want to install it on my main laptop due to its size and decreased utility / fragmentation of IDEs now that I use VS Code for a majority of my coding.

In this particula

[2019-01-28 22:19] #2273 closed

[2019-01-28 22:58] gewarren commented on #904
@yilmazdurmaz Already [fixed this last May](https://github.com/MicrosoftDocs/visualstudio-docs/commit/ea6019b588e7653d2226b80a220ca8d352ffd06f#diff-ea8122eabde9fe3cffcd169fd1d348b1). Thank you!

[2019-01-28 22:58] #904 closed

[2019-01-28 23:21] gewarren commented on #982
@kraigb Do you know if the information Nick supplied should be added to the [PyTorch section](https://docs.microsoft.com/en-us/visualstudio/ai/installation?view=vs-2017#pytorch) for Windows? It looks like the dead link has been fixed, at least.

[2019-01-28 23:42] kraigb commented on #982
There is a link already to a third-party PyTorch download, so I think adding Nick's other link would be fine.

[2019-01-29 01:53] gewarren commented on #1004
This was fixed last July - https://github.com/MicrosoftDocs/visualstudio-docs/commit/b6c26be1a6e27cf79bbf4242117536b34ca42876#diff-235cbfb59d41b2181f444b5da10bd2bd.

[2019-01-29 01:53] #1004 closed

[2019-01-29 02:36] astrohart opened #2281 "System requires a key press after layout finished, makes it hard to automate a layout + subsequent install, like in a script"
Hi all,

I just did ```vs_<sku>.exe --layout --lang en-US`` and I put this in a batch file script that had the installer set to be kicked off right after the layout was completed.  I thought it would be a good idea, since I could set this all up after I got home from work and then I could go out, work out in the gym, and grab dinner all while the layout process was taking the several hours that it

[2019-01-29 04:03] gewarren commented on #1403
This article now redirects to a different one. Closing the issue.

[2019-01-29 04:03] #1403 closed

[2019-01-29 05:13] malachib opened #2282 "Identify which ASP.NET Core version accompanies VS?"
I recently needed to verify whether ASP.NET Core 2.2 was or was not a part of VS 2017 15.9.6

After a lot of looking around, I could not get a canonical answer.  I inferred that it isn't, so my initial question was answered, but the new question arises - where should I look for a proper answer to this question?  The best candidate seems to be:
https://docs.microsoft.com/en-us/visualstudio/releasen

[2019-01-29 05:33] StingyJack commented on #1443
@PBoraMSFT - can you please answer or address the original posted question?

[2019-01-29 09:45] austvik opened #2283 "What is the Project path relative to?"
Please document what the Project path is relative to. My understanding is "file where the (outermost) import is placed", but it is missing here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: af512ce8-46bd-b15a-c5a2-f8315d2b258a
* Version Independent ID: e2c221b8-466f-df7f-078c-bab89be71828
* Content: [Import Element (

[2019-01-29 12:17] patware opened #2284 "Schema XSD"
The creation of a .runSettings file from an empty XML without schema is not a good experience.  There has to be a better way to guide us in creating/edition this file: An XML Schema (XSD), a Visual Studio or add-on Dialog/Editor, even a Web page that outputs the xml.

.RunSettings feels like an afterthought or something deprecated.

---
#### Document Details

⚠ *Do not edit this section. It is req

[2019-01-29 12:34] trivli opened #2285 "CA2213 - Gives warning on null propagation"
Even if DisposableMember in this case is disposed (if it is created), the CA2213 kicks in:

        public void Dispose()
        {
            DisposableMember?.Dispose();
        }

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7193fffc-ff49-d551-417e-6f004dd1e216
* Version Independent ID: 8370a61d-8d8a-bec4-b49d-e5c

[2019-01-29 18:34] gewarren commented on #2285
@mavasani Can you comment on this?

[2019-01-29 18:36] mavasani commented on #2285
I think this is a known bug in legacy FxCop. @trivli can you try with FxCop analyzers following the steps here: https://docs.microsoft.com/en-us/visualstudio/code-quality/fxcop-analyzers

[2019-01-29 19:03] #913 closed

[2019-01-29 19:03] #919 closed

[2019-01-29 19:03] #982 closed

[2019-01-29 19:03] #1158 closed

[2019-01-29 19:03] #1202 closed

[2019-01-29 19:03] #1386 closed

[2019-01-29 19:03] #1389 closed

[2019-01-29 19:03] #1425 closed

[2019-01-29 23:23] gewarren commented on #1911
This has been fixed.

[2019-01-29 23:23] #1911 closed

[2019-01-29 23:40] mjarosch opened #2288 "Publishing "New Project" to new GitHub repo"
None of this documentation covers when you checked "Use git for version control" made a local commit and now want to push those changes to a newly created GitHub repo.

I can add the repository as a remote (origin), but because it is a new GitHub repo and it doesn't yet have a master branch, there isn't a way to push the branch or tell it to track the remote master branch. The equivalent of "git p

[2019-01-30 01:29] AnneCHPostma opened #2289 "Section PDF download"
While I like the option that you can download a PDF for the total Visual Studio Mac documentation, I'd love an option to just download a pdf of the section that I am reading (so for example this section about keyboard shortcuts). That will save me a lot of browsing through the full PDF.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2019-01-30 01:32] conceptdev commented on #2289
Thanks for your feedback @AnneCHPostma - the PDF generation is a feature of docs.microsoft.com, designed to download a set of pages for easy reference.

For a single page, if you choose to print-to-PDF, our print stylesheet should result in a readable PDF file.

Specifically for the keyboard shortcuts, I think a PDF download of those is a great idea, which I'll pass on to our team.

[2019-01-30 07:39] edikaufmann opened #2292 "VS2017 Core 2.2 correct project template ?"
when creating in VS2017 15.9.6 --&gt; Visual C# --&gt; Web --&gt; .Net Core --&gt;
'ASP.NET Core Web Application --&gt;

when choosing the project template from ASP.NET Core 2.2 'Web Application'
Source: indicates SDK 2.2.103:

Now, when the project is built it seems that a wrong template has been picked.
I.e I do NOT see in the pages e.g. the 'About.cshtml'  in the Pges folder nor do I see any ot

[2019-01-30 09:39] pieriv opened #2293 "CA1822 example is misleading"
The example about the CA1822 in the [Configure and use Roslyn analyzer rules](https://docs.microsoft.com/en-us/visualstudio/code-quality/use-roslyn-analyzers?view=vs-2017) page cannot be reproduced, because it only fires when the member is visible outside of the assembly ([see the documentation](https://docs.microsoft.com/en-us/visualstudio/code-quality/ca1822-mark-members-as-static?view=vs-2017))

[2019-01-30 13:39] OldVSDeveloper commented on #2206
?Sorry for not getting back sooner.   Thanks for message.  In your piece you state that the navigation code behind is minimal.  However, I found that by directly implementing the tutorial, the navigator would appear to move before the beginning of the collection or past the end of the collection (by repeatedly pressing the left arrow, or repeatedly pressing the right arrow, respectively).  In my a

[2019-01-30 14:08] BillWagner commented on #2204
I think this is a duplicate of #6773

I'll close this, and continue tracking there.

[2019-01-30 14:08] #2204 closed

[2019-01-30 15:11] rolfik opened #2294 "Load Testing Alternatives after Visual Studio 2019"
Because you are making Load testing in Visual Studio deprecated, it would be nice to give some guidance to other alternatives for doing performance or load testing.

Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d0780169-4b7b-97ce-5ccd-9f962472a2c8
* Version Independent ID: f0c68169-baeb-cba0-ccf0-a149fa96bb

[2019-01-30 16:48] evanwindom commented on #2274
@NexusComputerCentre - Thanks for reaching out.  When you say the code doesn't work, are you receiving a message that we're temporarily out of codes, or is something else happening?  We're currently working to resolve a technical issue that is resulting in no codes being available for LinkedIn Learning in some subscriptions.

[2019-01-30 17:34] TerryGLee commented on #2292
@edikaufmann Thanks for letting us know; we'll investigate and report back.

[2019-01-30 20:22] MisinformedDNA commented on #856
After using the workaround listed (and setting the `<TargetFrameworkVersion />` to "v4.7.2"), has anyone else run into an error like this? Anyone know a way to suppress it?

![image](https://user-images.githubusercontent.com/1784452/52010144-60da6600-249a-11e9-843d-5ce7fc07d8cb.png)

[2019-01-30 23:45] gewarren commented on #2149
@IFinnimore Thanks for the feedback. I'm fixing the example headings. However, there is no EnumerateLiteral function that I can see in this article.

[2019-01-30 23:52] IFinnimore commented on #2149
Actually the function is EnumerationLiteral I was referring to.  Upon further review, I note it is just part of the GenerateSwitchCases.  The wrapping of the cells in the functions table tripped me up.

Sent from Mail for Windows 10

From: Genevieve Warren
Sent: 31 January 2019 00:46
To: MicrosoftDocs/visualstudio-docs
Cc: IFinnimore; Mention
Subject: Re: [MicrosoftDocs/visualstudio-docs] Examples

[2019-01-31 02:29] StevenFlyover opened #2297 "error when created a new solution configuration with empty of "Copy settings from""
if i created a new solution configuration with empty of "Copy settings from", then publish the project, an error "Target ValidateMSBuildTollsVersion skipped. Previously built unsuccessfully.". Publish failed.
but success when i choose Debug or Release of "Copy settings from". so, why an option "Empty" existed if must to choose one of Debug and Release? if can choose the option item "Empty", where

[2019-01-31 05:40] StingyJack commented on #1443
@PBoraMSFT  - Is that a topic about what is supposed to happen after recording a simulated login or other sequence?

@PBoraMSFT  - Is the description I gave in the original post a description of something that is non-functional?  I dont know. Which is why I asked.

@PBoraMSFT  - I already stated the problem.  You had the time to answer someone else's question on this thread but not the one that st

[2019-01-31 06:56] yanbingms opened #2298 "Why the StartNode icon is not the same whenshown in Rehosted Designer and Visual Studio ?"
I want to know how to customize the StartNode icon of the Workflow.
If we can‘t customize the StartNode icon,  we prefer using the icon shown in Visual Studio, but we don't know how to do it.

The icon shown in Rehosted Designer:
<img width="320" alt="in-rehosted-designer" src="https://user-images.githubusercontent.com/5501981/52036431-7b7f0e80-2570-11e9-8848-521b3c385e94.png">

The icon shown in

[2019-01-31 11:57] KalleOlaviNiemitalo opened #2299 "Vbc task LangVersion param claims it must be 9 or 10, but the newest is 15.5"
The documentation of the `LangVersion` parameter of the `Vbc` task says:

&gt; Specifies the language version, either "9" or "10".

However, &lt;https://docs.microsoft.com/en-us/dotnet/visual-basic/language-reference/configure-language-version#edit-the-vbproj-file&gt; lists many other language versions, including "15.5" and "latest". It might be best to remove the list of Visual Basic language ver

[2019-01-31 16:37] Mikejo5000 commented on #2299
@KalleOlaviNiemitalo Good idea, thanks! I'll update it.

[2019-01-31 16:50] TerryGLee commented on #2292
@edikaufmann Unfortunately, I cannot reproduce your results; I followed the instructions in the procedure on the [Quickstart: Use Visual Studio to create your first ASP.NET Core web app](https://docs.microsoft.com/en-us/visualstudio/ide/quickstart-aspnet-core?view=vs-2017) page, and when I opened a new project by using the ASP.NET Core Web Application template in Visual Studio 2017 version 15.9.6,

[2019-01-31 17:31] edikaufmann commented on #2292
@TerryGLee  …. I created a new project and definitely have chosen 'Web Application' ; same issue!

your Quote:
"Also, can you verify the version of the ASP.NET Core template that you are seeing"

??? how/where would I find that info? ????
As said in the previous msg is have seen in VS2017:
- ASP.NET Core 2.2 'Web Application'
- SDK 2.2.103:
Attached what I see in the Solution explorer "MyCoreApp.p

[2019-01-31 17:31] JVimes commented on #365
This is really frustrating.

[2019-01-31 18:47] #1714 closed

[2019-01-31 18:47] #1715 closed

[2019-01-31 18:47] #1932 closed

[2019-01-31 18:47] #1974 closed

[2019-01-31 18:47] #2149 closed

[2019-01-31 18:47] #1955 closed

[2019-01-31 18:47] #2008 closed

[2019-01-31 21:20] jchesshir commented on #1714
Looks good @gewarren.  Thank you for the clarification.

[2019-02-01 00:00] PRMerger6 opened #2301 "PRMerger not installed"
PRMerger is no longer installed on this repo. If it was uninstalled intentionally, please confirm that in a comment and close this issue. Your repo will be removed from the PRMerger list within 24 hours and then you will no longer get this warning.

If PRMerger was uninstalled unintentionally, click [here](https://github.com/apps/prmerger-for-apex-content-teams/installations/203064) to reinstall i

[2019-02-01 00:09] meganbradley commented on #2301
@gewarren @ghogen was this uninstalled deliberately?

[2019-02-01 00:19] ghogen commented on #2301
@gewarren @meganbradley  I don't think this was deliberate. The PR history seems to show this was working fine yesterday.

[2019-02-01 00:40] ghogen commented on #2301
I don't see it under "Installed GitHub Apps"

[2019-02-01 00:57] ghogen commented on #2301
I re-enabled it.

[2019-02-01 03:03] gewarren commented on #2301
It was deliberate because PRMerger was automatically closing [automatically created PRs](https://github.com/MicrosoftDocs/visualstudio-docs/pull/2296) that are required for our private -> public syncing.

[2019-02-01 08:25] eraj2587 opened #2304 "Display static code metrics in Html Format"
Can we export static code metrics results in html format. Or do we have plan to upgrade metrics.exe version to create html report along with xml file. Secondly do we have plan for keeping history of results with subsequent changes in the codebase.

[2019-02-01 09:01] pappasa opened #2305 "The TestVariableContosoPrice is not correct"
The correct one is:

[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1834a8fa-cc25-bacf-1379-b6691051cf39
* Version Independent ID: 56f3b218-56c5-6135-0593-41e83370a813
* Content: [Using stubs to isolate parts of your application for unit testing - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/test/

[2019-02-01 14:14] RobDev23 commented on #2235
Hi Sean,

if, at some point, you’re going to fix the ‘Sign In’ issue with IE11 then could you also fix another problem with it; only a small fragment of the ‘reported problem’ on the Developer Community site is being displayed by IE11. The ‘Show’ link does not work either.

IE11 is still a very popular browser, it would be nice is you could keep it working alongside Edge.

Kind regards,

Robert As

[2019-02-01 18:10] theEyeD commented on #2032
@gewarren Has the blog post been published?

[2019-02-01 18:21] gewarren commented on #2032
The blog post has been delayed until late next week.

[2019-02-01 19:09] mavasani commented on #2304
@eraj2587 There are no planned work items for this. Feel to create an issue here: https://github.com/dotnet/roslyn-analyzers/issues/new.

[2019-02-01 21:40] mitsukuri commented on #1328
Obviously, m$ just wants to incrementally extinguish any will to keep development machines offline. Because offline machines send no data home and their users demonstrate disobedience by refusing to conform to the [Panopticon](https://en.wikipedia.org/wiki/Jeremy_Bentham#Death_and_the_auto-icon) model of society that m$ has been pedaling so zealously.

[2019-02-01 21:54] TerryGLee commented on #2292
@edikaufmann Today, we published an updated [Quickstart: Use Visual Studio to create your first ASP.NET Core web app](https://docs.microsoft.com/en-us/visualstudio/ide/quickstart-aspnet-core?view=vs-2017) page that includes refreshed screenshots and information that reflects the current experience in version 15.9.6 of Visual Studio 2017.

If you'll please take a look at Step 5 of the [Create a pro

[2019-02-01 21:54] #2292 closed

[2019-02-01 23:06] gewarren commented on #2297
@StevenFlyover The product team isn't completely sure of your repro steps and has requested that you please report this issue using Report a Problem in Visual Studio. Initiate your report by choosing Help > Send Feedback > Report a Problem from Visual Studio.

[2019-02-01 23:06] #2297 closed

[2019-02-01 23:10] gewarren commented on #2206
@OldVSDeveloper Okay, thanks for the clarification that the article needs to be updated.

[2019-02-02 00:00] PRMerger10 opened #2307 "PRMerger not installed"
PRMerger is no longer installed on this repo. If it was uninstalled intentionally, please confirm that in a comment and close this issue. Your repo will be removed from the PRMerger list within 24 hours and then you will no longer get this warning.

If PRMerger was uninstalled unintentionally, click [here](https://github.com/apps/prmerger-for-apex-content-teams/installations/203064) to reinstall i

[2019-02-02 00:38] henrygab commented on #1351
@sharwell Thanks for confirming the specification is ambiguous (thus my question).  Bigger thanks for helping explain the current situation that occurs.  Specifically, you say they are applied "in reverse of what [I] described above".  I actually described a lot of things above, so I'm still unclear.

Would you mind taking an extra 15-20 minutes to describe the behavior specifically?

Thanks!

[2019-02-02 07:19] edikaufmann commented on #2292
@TerryGLee thanks for your time. Yes, with 2.1 it works ... I had a special 'project' where I wanted to test 2.2... will postpone it for some time!

[2019-02-02 10:16] opiumfever commented on #2274
I am getting following error while requesting get code for linkedin in - "Oops! We've temporarily run out.
Please try again later."

[2019-02-02 11:38] v-caxian commented on #2301
@meganbradley

If PRMerger needs to be removed from the repo, please let us know, then we can disable this repo check from the polling service.

[2019-02-02 14:34] imakshaybora commented on #2272
By when this issue can be fixed? I meed to start learning through LinkedIn Learning. Your help and support will be highly appreciated.

[2019-02-03 10:06] OldVSDeveloper commented on #2206
I suggest if you were to update the article, standard CRUD functionality should be addressed, including the situation where a customer has no orders, none of the customers have any orders  and where there are no customers and no orders (eg when the underlying database has just been created)

[2019-02-03 18:55] ArsenShnurkov commented on #1140
see also https://developercommunity.visualstudio.com/content/problem/404485/vs2019-msbuildtoolsversion-is-not-a-version.html

[2019-02-03 21:16] Mikolaj98p opened #2311 "Startup project selection"
Cannot select project on dropdown list in solution with C++ and C# projects

[2019-02-03 21:53] #2260 closed

[2019-02-04 13:00] LisandroSu opened #2312 "Testen von Django Datenbank-Zugrifffen"
@sprevrha commented on [Sat Feb 02 2019](https://github.com/MicrosoftDocs/visualstudio-docs.de-de/issues/37)

Über den Test-Explorer gestartete Tests rufen nicht zuerst Django setup auf, und die Apps und Objekte werden vor der Ausführung des Tests nicht geladen. Man kann Extra-Code schreiben, aber dieser sollte dem CLI-Aufruf "python manage.py test" nicht in den Weg kommen. Dies könnte besser gelö

[2019-02-04 13:00] LisandroSu commented on #2312
Hi team,
Please check this issue. Rough translation:

Thanks!

[2019-02-04 14:35] JeffRausch commented on #1567
I opened this issue on the Developer Community site.
[VS Template SpecificSolutionName does not work](https://developercommunity.visualstudio.com/content/problem/444531/vs-template-specificsolutionname-does-not-work.html)

[2019-02-04 17:05] gewarren commented on #1567
@JeffRausch Thank you Jeff!

[2019-02-04 17:05] #1567 closed

[2019-02-04 21:14] drmcclelland commented on #2252
I have the same question - when will this be available in Visual Studio for .NET Core projects?  It was frustrating that this wasn't working after following the steps in the article all the way down...  then I read the last sentence of the article:

[2019-02-04 21:21] duckfist opened #2315 ""Download all, then install" will not work if Visual Studio is already installed"
"Download all, then install" doesn't work if Visual Studio is already installed, since the installer simply detects a completed installation and immediately finishes. Do I need to completely uninstall Visual Studio from my primary machine, just to turn around and reinstall it, JUST to prepare a standalone install package? There's no reasonable way to prepare an install for a separate offline syste

[2019-02-04 21:22] asb3993 commented on #2230
@sayedihashimi if this is merged are you happy to close it?

[2019-02-04 23:03] gewarren commented on #2311
@Mikolaj98p This sounds like a product issue rather than documentation feedback. Can you log this at [Developer Community](https://developercommunity.visualstudio.com/spaces/8/index.html) by selecting Help > Send Feedback > Report a Problem?

[2019-02-04 23:19] gewarren commented on #2252
@kendrahavens Can you find out if/when this refactoring will be available for .NET Core projects?

Meanwhile I have a [PR ](https://github.com/MicrosoftDocs/visualstudio-docs-pr/pull/3815)in our private repo to move the NOTE up to the first section of the article.

[2019-02-05 00:47] szalkerous opened #2317 "RtlZeroMemory?"
Why does RtlZeroMemory() not qualify as "zero termination" for this analysis rule?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 63a60d6b-9b4b-d1e8-3fca-0df426cac2b0
* Version Independent ID: b1ca7b58-be37-8da4-7133-c6f0d33ac284
* Content: [C6054 - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/code-qual

[2019-02-05 01:41] sayedihashimi commented on #2230
Yes closing

[2019-02-05 01:41] #2230 closed

[2019-02-05 15:08] evanwindom commented on #2272
@imakshaybora - We appreciate your patience.  We anticipate having this issue resolved sometime this week.

[2019-02-05 15:09] evanwindom commented on #2274
@opiumfever - Thanks for reaching out.  We're aware of the issue and working to resolve it.  We anticipate having a solution in place this week.

[2019-02-05 17:37] ravick4u opened #2319 "Keep getting email on renewal"
My O365 is associated with MSDN and I have enabled Auto Renewal as well. Still getting an email every month with subject "Your Office 365 subscription expires in &lt;n&gt; days/months"

Based on the date in the email, it will expire in next 7 days and not sure what is going to happen. I also contacted support team earlier on the same and they confirmed that I am all set but still getting the same

[2019-02-05 18:00] TerryGLee commented on #2315
@duckfist Thanks for your feedback. @tydunkel FYI.

[2019-02-05 18:11] evanwindom commented on #2319
@ravick4u - Thanks for reaching out.  Are you having an issue with the Office 365 Developer benefit, or with Office 365?  The Visual Studio subscriptions portal provides access to the benefits, but doesn't manage the registration or billing processes, so unfortunately we are unable to provide technical support for Office 365 accounts/billing issues.  I recommend contacting https://support.microsof

[2019-02-05 19:30] Mikejo5000 commented on #2247
No doc issue here that I can see. Closing this.

[2019-02-05 19:30] #2247 closed

[2019-02-05 19:32] Mikejo5000 commented on #2245
Closing this as it is a nice-to-have doc addition, but would complicate the existing doc to show both methods.

[2019-02-05 19:32] #2245 closed

[2019-02-05 19:51] Mikejo5000 commented on #2187
@UbaidBashir Hi, this appears to be a product support issue. If you'd like to report a bug, please use the "Send Feedback" link in the upper right of the Visual Studio IDE.

[2019-02-05 19:51] #2187 closed

[2019-02-05 20:05] Mikejo5000 commented on #2180
We have docs for GetFileHash and VerifyFileHash.
https://docs.microsoft.com/en-us/visualstudio/msbuild/getfilehash-task?view=vs-2017
https://docs.microsoft.com/en-us/visualstudio/msbuild/verifyfilehash-task?view=vs-2017
@rainersigwald Are there plans to doc Hash as well, or is it not needed?

[2019-02-05 20:07] Mikejo5000 commented on #2179
@UbaidBashir If you'd like to report a bug, please use the "Send Feedback" link in the upper right of the Visual Studio IDE.

[2019-02-05 20:16] Mikejo5000 commented on #2115
Requested update to this FwLink.

[2019-02-05 20:17] ravick4u commented on #2319
As per this post O365 Subscription created with MSDN is renewable every year which has been confirmed by you in my previous comment. So I was wondering why I am getting that email. Will get in touch with Support team. Thanks @evanwindom.

[2019-02-05 21:18] Mikejo5000 commented on #2115
Fixed now

[2019-02-05 21:18] #2115 closed

[2019-02-05 21:52] #1485 closed

[2019-02-05 21:53] #2319 closed

[2019-02-05 22:17] TerryGLee commented on #2315
@tydunkel Thanks; I've submitted a PR that will make this clear; the updated page will be published tomorrow by noon. @duckfist Thanks again for bringing this to our attention.

[2019-02-05 22:17] #2315 closed

[2019-02-05 22:36] TerryGLee commented on #2281
@astrohart Thanks for your feedback, and your detailed suggestion as to how we can improve our docs. Am I correct in assuming that you are referring to our [Command-line parameter examples for Visual Studio 2017 installation](https://docs.microsoft.com/en-us/visualstudio/install/command-line-parameter-examples?view=vs-2017) page? Or the [Create an offline installation of Visual Studio 2017](https:

[2019-02-05 22:38] #1510 closed

[2019-02-05 22:43] TerryGLee commented on #2282
@malachib Thanks for your feedback; @Paul-Chapman FYI.

[2019-02-05 22:52] TerryGLee commented on #1279
@briman0094 Having not heard back, we'll assume that the issue is taken care of; if not, please respond back and we'll re-open it.

[2019-02-05 22:52] #1279 closed

[2019-02-06 00:02] Jebarson opened #2321 "Additional step of updating GuidSymbol is missing"
There is an additional step after Step 2 is required. This is basically to change GuidSymbol name to the new group name that is created for the solution.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dbec6d43-3798-8794-59ff-7ffc8dc1a63d
* Version Independent ID: 8c8bf4ec-af85-dca1-a1f1-2e56d6345b5b
* Content: [Adding

[2019-02-06 02:10] JohnathanBaird commented on #1990
Do I really have to "Report a problem" through Visual Studio to just get help on something I'm working on, especially if it's something other community members could help me with? Why are the only categories for new topics on the forum problems and feature suggestions? What if you just don't know how to do something and need help? That doesn't fall into either provided category, and doesn't make s

[2019-02-06 02:13] gewarren commented on #1990
@JohnathanBaird For the type of inquiry you've described, Stack Overflow is probably your best bet.

[2019-02-06 06:59] nelsonjchen opened #2354 "How can I lock the latest and "N" version of vs_buildtools.exe in building my Docker image?"
This is from the Dockerfile in the document [here](https://docs.microsoft.com/en-us/visualstudio/install/build-tools-container?view=vs-2017)

[code]

Doesn't "https://aka.ms/vs/15/release/vs_buildtools.exe" change? If a new version of the VS build tools are released, it will install that new version.

If that's the case, I'm uncomfortable with this. If I run `docker build .` today, I should be abl

[2019-02-06 09:35] beyhangl commented on #1053
Hey,

I have this problem now . How did you solve it ? I have tried change email but it didn't work

[2019-02-06 11:43] astrohart commented on #2281
Both

Regards,

Brian C. Hart, Ph.D.
CEO, xyLOGIX, LLC

San Diego:
5663 Balboa Avenue Suite 412
San Diego, California 92111

Washington, DC:
1845 Cain Drive Suite 1
Fort George G. Meade, Maryland 20755

‭(443) 679-8247‬ mobile
www.xylogix.net

[2019-02-06 14:10] austvik commented on #2283
Hi, yes. That should do. Thanks.

[2019-02-06 14:10] #2283 closed

[2019-02-06 15:52] peterremote1980 opened #2356 "unable to finish this tutorial, where is the "Manifest node""
really can't find the "Manifest node"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3edfcdaa-2fac-15dd-003f-c2133daa368d
* Version Independent ID: 85d95dfa-14d0-30f7-593c-0bc0e098320b
* Content: [Custom actions in Outlook form regions - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/vsto/custom-actions-i

[2019-02-06 15:54] evanwindom commented on #1053
@beyhangl @dwitsdev - I just tested this using a new MSA, and it worked as expected without modification to the URL.  The URL is using a hashing process to provide validation that the request is genuine, and shouldn't require modification in order to work.  I attempted to activate using the substitution of the email address and got the error, which is what I would expect since it's no longer passi

[2019-02-06 18:19] heaths commented on #2354
You need to create a network layout as described in https://docs.microsoft.com/visualstudio/install/create-a-network-installation-of-visual-studio. But why are you building a new container image each time anyway? The immutable nature of images (and typically tags should follow, except for the ubiquitous `:latest` tag) are how you retain a fixed image. Not even in typical Linux-based container imag

[2019-02-06 18:26] onovotny opened #2357 "dotnet_style_require_accessibility_modifiers missing omit_if_default"
The accessibility modifier docs are missing the `omit_if_default` value, which removes modifiers that are the language default.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 410f3156-99cc-2a5c-2696-9d354c4f34c7
* Version Independent ID: fe3c3dfe-251f-2585-fe18-7fae3bcc76d0
* Content: [.NET coding convention settings F

[2019-02-06 18:51] nelsonjchen commented on #2354
I'm interested in keeping the Docker image generally reproducible from the Dockerfile without doing a network installation ahead of time. If I miss a component in a previous build or some other change needs to be made to the image, I would like to be able to reinstall an exact version of Visual Studio in the image. If I was building an image at 15.9.2, I would like to be able to rebuild the image

[2019-02-06 18:51] #2278 closed

[2019-02-06 18:51] #2299 closed

[2019-02-06 18:51] #2101 closed

[2019-02-06 19:02] nelsonjchen commented on #2354
To put it another way. I can lock `clang` to the latest and currently released version in a Linux container if I do something like `apt-get install clang=x.x.x`. If I rebuild that container 4 months from now, I can still get that exact version. I can't see how to do that with VS without a network installation.

[2019-02-06 19:09] TerryGLee commented on #2356
@peterremote1980 Thanks for letting us know; this content set is in our backlog to update. @John-Hart, FYI.

[2019-02-06 19:23] heaths commented on #2354
We do currently not support that because many updates contain regular security fixes. You don't need to create an entire network layout, however. You can use the first part of the instructions to save the channel and pass that to both the `--installChannelUri` and `--channelUri` to always install that version without downloading all the payloads. Save that file with your Dockerfile and you can kee

[2019-02-06 19:42] nelsonjchen commented on #2354
OK, that works for my needs. I wish there was a list of ChannelUris but this is good enough.

[2019-02-06 19:42] #2354 closed

[2019-02-06 21:06] DataIsGold opened #2359 "Option to adjust spacing does not exist"
I am using Visual Studio 2017 version 15.9.6  Professional Edition.
I do not see the option to adjust Python Spacing.
This is what I see:
https://imgur.com/vejZXAc

How can I enable the spacing setting for Python?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 67031305-2f97-3aa4-ced1-b66092dd4d41
* Version Independent

[2019-02-07 08:12] himensuthar opened #2375 "Charge/Fee"
I got subscription from my company. Is there any fees/charge applicable to claim any keys ? Do they will get notification if I claim any key ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e5819c75-be9a-4545-2cce-300c84b7e2aa
* Version Independent ID: 61ab6656-53e4-7de8-cb53-22d60bc7ed20
* Content: [Using Product Keys

[2019-02-07 08:56] evanwindom commented on #2375
@himensuthar - Thanks for reaching out.  There are limits on the number of keys you can use, but there are no fees or charges associated with claiming any keys.  No notifications of your use of product keys are provided to the administrators.

[2019-02-07 14:11] JiriCepelkaFirstLineSoftware opened #2376 "Lambdas in breakpoint conditional expression support"
Are lambdas supposed to work in breakpoint conditional expression?

I searched for info on this but with very [little success](https://stackoverflow.com/questions/25629584/why-cant-you-have-a-lambda-in-a-conditional-breakpoint-in-visual-studio-2013#answer-25629727). In official documentation there is no info on this.

I find it working in some (possibly simple) cases but for (complex one) other si

[2019-02-07 14:27] arvindsoniindia commented on #741
Can we download only some part of it not MSDN in Visual Studio 2017 (Community) because it full size around 30gb

[2019-02-07 14:49] kraigb commented on #2359
@DataIsGold That's curious...the Formatting node should expand with the sub-nodes as shown in the docs. My 15.9.6 (community) install (which is Preview 1 right now), shows all those nodes.

Can yo go to Help > About Microsoft Visual Studio, then use the Copy Info button and paste the results here? I'd like to check the Python tools versions before proceeding. It sounds like a configuration issue o

[2019-02-07 14:50] kraigb commented on #2269
Closing due to lack of response. Feel free to reopen if needed.

[2019-02-07 14:50] #2269 closed

[2019-02-07 14:56] kraigb commented on #2312
@sprevrha Vielen Dank für den Bericht. (And that's as far as I'll allow my Deutsche to go! :) ) Because the behavior you're seeing is related to the product itself, rather than the documentation, please follow up on https://github.com/Microsoft/ptvs/issues where the engineering team can discuss the matter with you.

[2019-02-07 14:56] #2312 closed

[2019-02-07 14:58] palandor opened #2377 "Build Actions incomplete..."
Please improve the documentation by describing ALL of the Build Actions displayed in the screenshot. Fourteen are  shown in the screenshot dropdown list but only five are described.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 797c58ff-3694-adda-188b-4ec4d079bd5c
* Version Independent ID: 442f90ff-9a99-c7dd-23c8-fbe5

[2019-02-07 15:15] TheBeardedLlama opened #2378 "Ruleset files conundrum"
Hey!
The docs indicate that the first time you right click to ask for the active ruleset, it will be automatically created.
I just did that and it did not, so I'm wondering if the docs are wrong, I've done something wrong or the docs are right under certain conditions?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c27

[2019-02-07 16:26] isaac34mi opened #2379 "R tool for VS 2019 not available"
R is not an option in the Data science and analytical applications workload for 2019 version. Is it not yet available or will be discontinued ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e11431a6-8401-2c63-b53c-e7f489b08ba7
* Version Independent ID: 1f8a17a4-122f-b2ef-f866-87dfdeaf3332
* Content: [R Tools for Visua

[2019-02-07 16:32] kraigb commented on #2379
@isaac34mi Yes, R Tools for Visual Studio (RTVS) isn't being carried forward to VS 2019 (and won't appear in the documentation when we put out VS 2019 updates). Microsoft's R efforts are being focused on Azure Notebooks instead (https://notebooks.azure.com).

If you have additional feedback on the availability of RTVS, follow up on https://github.com/microsoft/rtvs/issues, which is monitored by th

[2019-02-07 16:32] #2379 closed

[2019-02-07 16:46] Mikejo5000 commented on #2376
@andysterland @leslierichardson95 Do we have any more info on lambda support? I see this blog post that says they are supported in most scenarios:
https://blogs.msdn.microsoft.com/devops/2014/11/12/support-for-debugging-lambda-expressions-with-visual-studio-2015/

[2019-02-07 16:50] JiriCepelkaFirstLineSoftware commented on #2376
I found also this article but it does not explicitly states breakpoint conditional expression.

[2019-02-07 18:42] #2375 closed

[2019-02-07 19:21] evanwindom commented on #2274
@msaleem3k @NexusComputerCentre @opiumfever - The issue has been resolved, and you should be able to activate your LinkedIn Learning benefits now.  Thank you for your patience! @TerryGLee - FYI.

[2019-02-07 19:21] evanwindom commented on #2272
@mrincmr @imakshaybora - The issue has been resolved, and you should be able to activate your LinkedIn Learning benefits now.  Thank you for your patience! @TerryGLee - FYI.

[2019-02-07 19:28] #2272 closed

[2019-02-07 19:58] Porges commented on #2378
Also, the menu mentioned here does not exist:

![image](https://user-images.githubusercontent.com/12575/52439093-98729d80-2b7f-11e9-9b22-223956c73e53.png)

(VS2019 Preview 2.2, ASP.NET Core project)

[2019-02-07 19:58] DataIsGold commented on #2359
Hi Kraig,
Here you go:

Microsoft Visual Studio Professional 2017
Version 15.9.6
VisualStudio.15.Release/15.9.6+28307.344
Microsoft .NET Framework
Version 4.7.03056

Installed Version: Professional

Visual C++ 2017   00369-60000-00001-AA322
Microsoft Visual C++ 2017

Application Insights Tools for Visual Studio Package   8.14.11009.1
Application Insights Tools for Visual Studio

ASP.NET and Web To

[2019-02-07 20:02] Porges commented on #2378
I just tried in VS2017 and it worked, so this seems to be a regression.

[2019-02-07 20:02] DataIsGold commented on #2359
Kraig,
I also checked my laptop and it has the same issue. Here is the VS Info from the laptop:

Microsoft Visual Studio Professional 2017
Version 15.6.6
VisualStudio.15.Release/15.6.6+27428.2037
Microsoft .NET Framework
Version 4.7.03056

Installed Version: Professional

Visual C++ 2017   00370-10006-18411-AA966
Microsoft Visual C++ 2017

Visual F# Tools 10.1 for F# 4.1   00370-10006-18411-AA966

[2019-02-07 20:05] gewarren commented on #2378
@mavasani Can you take a look at this feedback for VS 2019?

[2019-02-07 20:08] mavasani commented on #2378
This was a regression in VS2019 Preview2 which was recently fixed with https://github.com/dotnet/roslyn/pull/32990, and should work fine in the upcoming Preview3.

[2019-02-07 20:50] conceptdev commented on #1497
Added more detail about snippet keywords to the end of the page. New content will be published soon.
#please-close

[2019-02-07 21:24] gewarren commented on #2378
@mavasani Thanks for the quick clarification!

[2019-02-07 21:34] #1497 closed

[2019-02-07 21:50] NetMage opened #2381 "Can't install Office 365 after installing Office 2019"
After installing Office 2019 with a VS Enterprise key, the wizard does not add an Office 365 download to my MS Account, just shows the Office 2019 download, even though it was a different MS Account previously, and even though I get a new key.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 737f8499-4067-8033-6e5e-edc9e

[2019-02-07 21:51] TheBeardedLlama commented on #2378
hey @gewarren, you haven't dealt with my question but closed the issue nonetheless...

can you please look at my original post and deal with that?

[2019-02-07 21:52] TheBeardedLlama commented on #2378
this has nothing to do with VS2019... Even the tag from the docs says 2017...

[2019-02-07 22:14] kraigb commented on #2359
Interesting; all the Python components are the same as my Community install where the formatting options show up. I checked also with a 15.9.6 Pro install on a different computer, and the expanding Formatting node appears just fine:

![image](https://user-images.githubusercontent.com/1339874/52445439-02d40100-2ae0-11e9-9d44-3dfe3eefa245.png)

The fact that you're seeing the same behavior on two di

[2019-02-07 22:19] mavasani commented on #2378
There are couple of issues here:

1. Issue raised by @Porges - "Open Active Ruleset" command for old csproj style or non-SDK style projects regressed in VS2019 Preview2, and was fixed with the PR mentioned above.

2. Original issue raised by @TheBeardedLlama - NetCore/NetStandard projects OR the new SDK style projects do not support "Open Active Ruleset" command in the solution explorer.

Tagging

[2019-02-08 00:48] #2381 closed

[2019-02-08 02:12] boustrephon commented on #2269
Hi kraigb, sorry about the slow response on my part.

Obviously my preference would be for there to be a tool/template for compiling to pyd/dll, but failing that, I think it would be helpful to see a note that says that Visual Studio does not provide this with a link to the repository that contains pyc.py.

I have added an issue as suggested. https://github.com/Microsoft/PTVS/issues/5071

[2019-02-08 02:29] nbarbettini opened #2382 "When to use .editorconfig versus .NET Analyzers?"
I'm a big fan of Roslyn analyzers like https://github.com/DotNetAnalyzers/StyleCopAnalyzers. It looks like there is some overlap here in enforcing code style (naming conventions, formatting conventions).

Should I think of .editorconfig as a built-in way to enforce this, and Roslyn analyzers as the "advanced" case?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2019-02-08 08:34] omarDG commented on #2274
@evanwindom,

I'm not getting the error message but i'm not able to get the code. It gives me a loading process and after that nothing happens. When I reload the page I get  "Something went wrong!" I can retest after few minutes but same result.

[2019-02-08 09:58] peterremote1980 commented on #2356
thanks Terry G Lee

[2019-02-08 10:40] jscarrott opened #2393 "I get this warning when using smart pointers but the documentation doesn't mention them"
I have a weakPtr bar, and a function foo that takes bar and locks it returning a sharedPtr or throws an exception if the weakPtr is expired. I then call a function baz on that sharedPtr all in one line.
A bit like this foo(bar)-&gt;baz()
This gives a C26486 warning.
I solved it by returning a const r-value reference from foo, which makes sense as foo is checked to return a valid pointer and it is

[2019-02-08 11:47] TheBeardedLlama commented on #2378
I think my original point has been lost...

Shall I close this one and start again? Or shall I restate my question here in an effort to make it clearer?

[2019-02-08 13:26] drewnoakes opened #2394 "Inheritance and DebuggerDisplay"
The documentation doesn't specify whether applying `DebuggerDisplayAttribute` on a base class causes it to be used on subclasses.

It should also make clear what happens when a base class has the attribute and a subclass overrides `ToString`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 653452d1-1586-e971-1f6c-370a91

[2019-02-08 16:39] evanwindom commented on #2274
@omarDG Are you seeing that behavior and message on the http://my.visualstudio.com portal, or on the LinkedIn Learning page?  When you see the tile for LinkedIn Learning on the http://my.visualstudio.com portal, does the link in the lower right say "Get code" or "Activate"?

[2019-02-08 16:51] omarDG commented on #2274
I'm seeing it on the [http://my.visualstudio.com](http://my.visualstudio.com) portal,  and i have "Get code" in the lower right say.
NB: My colleague  has successfully got code and activated is Linkedin benefits and just to precise we have both Visual Studio Dev Essentials

[2019-02-08 16:54] gewarren commented on #2378
@TheBeardedLlama I think Manish captured your problem in point 2 [here](https://github.com/MicrosoftDocs/visualstudio-docs/issues/2378#issuecomment-461616386). If that is not correct, could you clarify which project type(s) you are not seeing the ruleset file get created when you choose **Open Active Rule Set**?

[2019-02-08 16:56] gewarren commented on #2382
@mavasani or @kendrahavens could you comment on this question?

[2019-02-08 17:38] mavasani commented on #2382
@nbarbettini I think you are confusing couple of completely different, but complementary aspects - _analyzers_ and _analyzer configuration_:
1. Analyzers: Extensions that analyze source code and report violations. Some analyzers are built-into VS (like the IDE analyzers that report style issues) and some are third party ones which can be installed (like StyleCopyAnalyzers, FxCopAnalyzers, etc.)
2.

[2019-02-08 17:53] mavasani commented on #2382
@nbarbettini Leaving aside the analyzer configuration aspect, and just discussing the overlap between IDE analyzers and StyleCop analyzers, you are correct that there is indeed an overlap here, but there are subtle differences (@kendrahavens please correct me if I am wrong or missing something here):

1. VS IDE built in rules are a hybrid of code style and code quality rules to help improve your c

[2019-02-08 18:18] mavasani commented on #2382
@gewarren Given this issue and https://github.com/dotnet/roslyn-analyzers/issues/1844, and numerous other prior queries that I have received in this area, we probably need to document the differences between the following somewhere:

1. IDE analyzers vs. third party analyzers, especially StyleCop analyzers given the built-in VS IDE rules are mostly code style rules.
2. Analyzers vs Analyzer Config

[2019-02-08 18:29] gewarren commented on #2382
Thanks Manish @mavasani. I've created two work items to cover the necessary documentation. I'll send it over for review sometime in March.

[2019-02-08 22:20] TerryGLee commented on #1384
@apawsey Apologies that this GitHub Issue has taken us some time to respond to, but please be advised that this request, while currently placed in our backlog, is in our queue.

[2019-02-09 02:09] paylocity-sflanders opened #2396 "Visual studio installed in container appears to partially break powershell or some part of package management"
Was testing the functionality around doing builds in containers documented here

https://docs.microsoft.com/en-us/visualstudio/install/build-tools-container?view=vs-2017

For the most part i thought everything was working but was noticing some strange warnings in some powershell regarding a file missing in the temp folder.  It only seems to happen after installing vs build tools.  I noticed breaki

[2019-02-09 14:37] TCB13 commented on #741
Yes you can, instead of `--layout f:\vs2017 --all` you can do something like this:

`vs_community.exe --layout c:\vs2017 --add Microsoft.VisualStudio.Workload.NativeDesktop --includeRecommended --lang en-US`

To discover the actually names of what you need you can run a normal setup of VS with everything you need and then export a `.vsconfig` file from there. Open the file and you'll see the names

[2019-02-10 02:15] InteXX opened #2398 "Can't suppress individual warnings in the IDE"
This documentation doesn't indicate how to use the IDE to suppress specific warnings (e.g. `/nowarn:1603`). The instructions provided apply to a command-line compile only. Of course, the IDE does run `vbc` on the command line, but there's no (obvious) place in the IDE to enter these switches—nor does the documentation provide such guidance.

---
#### Document Details

⚠ *Do not edit this section.

[2019-02-10 08:13] TerryGLee commented on #2396
@paylocity-sflanders Thanks for your feedback. @heaths FYI.

[2019-02-10 17:32] heaths commented on #2396
Please file a product issue at https://developercommunity.visualstudio.com so it can get routed to an appropriate team for investigation. Include also the full stack trace of those errors (e.g. `$Error.Exception.StackTrace` should do it even for multiple errors).

[2019-02-11 07:40] Stokestack opened #2431 "Doesn't say how to create a new theme"
It's a glaring omission. The article says, "Once you have found or created a new theme..." but conspicuously fails to state how you create one.  It's a reasonable expectation that any modern editor is going to have a UI for setting up colors, but this is nowhere to be found.

Compounding this problem is the perplexing selection of TextMate themes as the standard, when even TextMate lacks any way t

[2019-02-11 14:12] paylocity-sflanders commented on #2396
https://developercommunity.visualstudio.com/content/problem/449766/visual-studio-installed-in-container-appears-to-pa.html

[2019-02-11 17:30] tom-miseur commented on #2294
Check out Eggplant Performance (disclaimer: I work for Eggplant):
https://eggplant.io/products/performance-and-load-testing/eggplant-performance

You can get a 50 VU license for free here:
https://eggplant.io/free-trial-eggplant-performance

Scripting can be done in C# and is therefore quite similar to VS Load Test. It also isn't limited to existing within the Visual Studio IDE; this is a tool mad

[2019-02-11 18:40] kendrahavens opened #2432 "Update shortcuts from version 15.8"
This issue is a continuation of https://github.com/MicrosoftDocs/visualstudio-docs/issues/1624

[Keyboard shortcuts for Visual Studio](https://docs.microsoft.com/en-us/visualstudio/ide/tips-and-tricks-for-visual-studio?view=vs-2017)
[Default Keyboard short cuts in Visual Studio](https://docs.microsoft.com/en-us/visualstudio/ide/default-keyboard-shortcuts-in-visual-studio?view=vs-2017)

The new sho

[2019-02-11 18:40] kendrahavens commented on #1624
Remaining work captured in https://github.com/MicrosoftDocs/visualstudio-docs/issues/2432

[2019-02-11 18:40] #1624 closed

[2019-02-11 19:51] TerryGLee commented on #2396
@heaths @paylocity-sflanders Thanks; closing this GitHub Issue now that it's been filed with the Developer Community.

[2019-02-11 19:51] #2396 closed

[2019-02-11 19:54] kendrahavens commented on #2254
A question from an end user is what prompted me to ask for the doc. Do you have a suggestion for where this should go for the end user?

[2019-02-11 20:10] kendrahavens commented on #2252
It's not currently available for .NET Core projects.

@LockTar This request is being tracked [in this issue](https://github.com/dotnet/roslyn/issues/5378), but we don't have it tied to a release yet. I suggest upvoting and following that issue to help us prioritize. Thank you for your feedback!

[2019-02-11 23:28] fiksen99 opened #2434 "The steps for vs 2019 to specify a custom ruleset aren't valid"
The steps for vs2019 indicate:
"To make a rule set the active rule set for analysis, right-click on the project in Solution Explorer and choose Properties. In the project property pages, select the Code Analysis tab. Under Run this rule set, select Browse, and then select the desired rule set that you copied to the project directory. Now you only see rule violations for those rules that are enable

[2019-02-12 01:36] gewarren commented on #2254
@kendrahavens I'd suggest it goes into a new section in [this article](https://docs.microsoft.com/en-us/visualstudio/ide/using-intellisense?view=vs-2017), or a new reference article that's a child of that one in the TOC.

[2019-02-12 03:13] conceptdev commented on #2431
Visual Studio for Mac does not have a built-in theme editor, however this online tool https://tmtheme-editor.herokuapp.com/ has a wide variety available and the ability to edit and save.

Visual Studio on Windows requires an extension to edit themes - https://marketplace.visualstudio.com/items?itemName=VisualStudioPlatformTeam.VisualStudio2017ColorThemeEditor - so if have you have a Windows comput

[2019-02-12 03:13] #2431 closed

[2019-02-12 03:52] gewarren commented on #2398
@rpetrusha Do you know if it's possible to suppress specific VB compiler warnings from the IDE?

[2019-02-12 04:02] gewarren commented on #2434
@fiksen99 This can get a bit confusing, and it seems the deprecation notice "Run Code Analysis has been deprecated in favor of FxCop analyzers, which run during build." might be a bit misleading, but the steps to set the active rule set are still accurate. If it's not working as expected, please let us know.

[2019-02-12 05:01] fiksen99 commented on #2434
![image](https://user-images.githubusercontent.com/2607336/52612812-2d0b2300-2e40-11e9-84e1-a8685ac217a4.png)

See the above image, in Visual Studio 2019 Preview version 2.2, the entire tab is empty and marked for deprecation

[2019-02-12 08:06] LockTar commented on #2252
Thanks, following the issue right now and have upvoted it. The issue is already open for 3 years...

[2019-02-12 13:31] juarola commented on #2032
@gewarren So, about that blog post...any news?

[2019-02-12 13:53] POG1991 opened #2462 "LinkedIn Learning code not working"
Hello

I am having an issued with the Linkedin code which I cannot access. Last week I got a message saying the site was out of codes and today, I tried again and it justs shows a loading icon.
Moreover, when I want to try again, the site gives me the following error code : 715-123150

Thank you very much in advance

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2019-02-12 13:54] EliFivelzon opened #2463 "Download isn't available"
The download is not available:
https://www.microsoft.com/download/confirmation.aspx?id=23734

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 83c5b210-2ecd-fc40-54c9-38a8ba9c7493
* Version Independent ID: a9236354-4965-a214-17f7-746c20de8ec4
* Content: [Connect to data in an Access database (Windows Forms) - Visual Studi

[2019-02-12 18:20] gewarren commented on #2434
@fiksen99 I think you right-clicked on the *solution* instead of on the *project*. Can you try that?

[2019-02-12 18:21] gewarren commented on #2463
Thanks, I'll try to find a better target and/or determine if that step is still required.

[2019-02-12 18:40] EliFivelzon commented on #2463
Thanks, I got an error message "Unrecognized database format....".
I installed Microsoft Access Database Engine 2016 Redistributable from here:
https://www.microsoft.com/en-us/download/details.aspx?id=54920 .
When I tried to connect I got a different error message "microsoft ace oledb 12.0 provider is not registered on the local machine."
I uninstalled Office(64) and installed 32 bit version of Of

[2019-02-12 19:35] #2252 closed

[2019-02-12 22:16] alexreinking opened #2465 "Show the preferred way of doing things first, and the old way second."
In "Output Inference", the documentation shows two code examples that use the `CreateProperty` and `CreateItem` tasks. It then notes that using `CreateItem` "should be avoided". I think it would be better to show the preferred way of doing things first and then linking to legacy documentation as necessary (eg. in a paragraph that starts "Prior to MSBuild 3.5... (link to `CreateItem` docs)".)

It a

[2019-02-12 22:48] joehanna opened #2466 "Keyboard shortcut"
How can this be mapped to a keyboard shortcut just like in VS Code?  I can't figure out the appropriate command.  Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 761e70c9-62d1-8563-3e66-c8f6f113d83b
* Version Independent ID: 39337ab9-ea88-bbbc-55a7-57e43b4e1f47
* Content: [Block Selection - Visual Studio for Mac]

[2019-02-12 23:53] Stokestack commented on #2431
Thank you for the information, but the document still hasn't been fixed. This is a bug report on the documentation, not the product. Why isn't the information you just provided **in the document**?

[2019-02-13 01:57] rpetrusha commented on #2398
No, it's not, @gewarren. There are some limited options (disable all compiler warnings, treat all warnings as errors). There's also an option to suppress individual kinds of warnings (like unused local variable), but they're not explicitly mapped to individual compiler warnings.

![image](https://user-images.githubusercontent.com/10886961/52680991-369f9400-2eef-11e9-9159-db4acd24b6a9.png)

[2019-02-13 02:05] InteXX commented on #2398
I've raised a problem report [here](https://developercommunity.visualstudio.com/content/problem/448916/persistent-nu1603-warning-cant-suppress.html).

[2019-02-13 02:35] jamessdixon opened #2471 ".fsi"
How do I reference a reference nuget package from the .fsi?  In Windows version, I can #r "/somelocation/file.dll"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e32dfe2-b389-c1ec-cd29-14c081d140a2
* Version Independent ID: 3d0606b2-e98a-819e-6090-1ca8b7d1ed51
* Content: [Including a NuGet package in your project - Vi

[2019-02-13 02:47] gewarren commented on #2398
Thank you @rpetrusha and @InteXX. I'm closing this since it's not a docs issue and it's being tracked on Developer Community now.

[2019-02-13 02:47] #2398 closed

[2019-02-13 02:47] conceptdev commented on #2471
Hi @jamessdixon, I'm going to have to check in with the F# team on this one! Will write you back when I have an answer.

[2019-02-13 03:15] ShubhG commented on #2274
I am unable to get the LinkedIn subscription code. I have tried many times but it is not working.

[2019-02-13 09:57] TheBeardedLlama commented on #2378
no worries @gewarren and apologies for the delay in replying
I wasn't trying to file a bug via docs, just trying to understand what's supposed to happen and under what circumstances, so I can then file the right issue/PR in the right place
I'm on VS2017 Pro and it was a ASP.Net (4.7.2) project

[2019-02-13 10:55] norbertjohn opened #2502 "Highlighting functionality for SQL Server 2017"
Great article and I implemented successfully in Visual Studio 2017. I have a requirement to implement the same in SQL 2017 but the same code is not working there? Is it feasible and if yes, what are the additional steps I should consider?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8d9b97b4-5893-dbc1-c40d-2e3511f2db

[2019-02-13 12:25] jamessdixon commented on #2471
This may not be a F# only question?
When I look at the nuget references in the project, there are 4 (the original 2 and the 2 I added):
![screen shot 2019-02-13 at 7 22 07 am](https://user-images.githubusercontent.com/1394644/52711608-35f31600-2f60-11e9-9208-99002b0f7298.png)

However, in the packages folder, there are only the original 2
![screen shot 2019-02-13 at 7 22 32 am](https://user-images

[2019-02-13 13:21] jamessdixon commented on #2471
I think I see the problem
The files are here:
"/Users/jamesdixon/.nuget/packages/newtonsoft.json/12.0.1/lib/netstandard2.0/Newtonsoft.Json.dll"

However, the Mac Finder does not list any folder with a dot in front of it
<img width="219" alt="screen shot 2019-02-13 at 8 21 01 am" src="https://user-images.githubusercontent.com/1394644/52714632-5a52f080-2f68-11e9-8468-161a3b35a474.png">

I found the

[2019-02-13 13:22] jamessdixon commented on #2471
and this is how to alter the Mac to find the files...

https://ianlunn.co.uk/articles/quickly-showhide-hidden-files-mac-os-x-mavericks/

[2019-02-13 13:33] zoohair commented on #2274
Have the same problem as @omarDG : I click the link, and there is a "loading state" in the card, but nothing opens/happens. Eventually if I reload the page I get a "Something went wrong!" error.

I tried on Safari and Chrome with the same problem.

[2019-02-13 18:22] evanwindom commented on #2274
@zoohair, @ShubhG, @omarDG  - Thanks for reaching out.  I apologize for the inconvenience.

If you're seeing an error code like 715-123150, it's likely that the portal has detected multiple failed attempts to download the code and is interpreting those as a potential threat.  That's something our technical support folks can address for you.  Please visit https://visualstudio.microsoft.com/subscrip

[2019-02-13 18:27] lobrien commented on #2471
It sounds like you've solved this problem, but I thought you might like this small script that I use (I name it `mdfindx`) that I find helpful for chasing down files on the mac :

    #!/bin/bash

    mdfind "kMDItemDisplayName == '$1'c"

And then use it like `mdfindx Newtonsoft*`

[2019-02-13 18:41] #784 closed

[2019-02-13 18:41] #2463 closed

[2019-02-13 20:26] burkeg opened #2505 ""Match a hexadecimal number" incorrect"
"\b0[xX]\([0-9a-fA-F])\b" matches only single digit hex values, this should be modified to "\b0[xX]\([0-9a-fA-F]+)\b".
Also the example 'Matches "0xc67f" but not "0xc67fc67f".' doesn't make sense, both of those are valid hexadecimal numbers. The example should instead say something like 'Matches "0xc67f" but not "0xc67g".'

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2019-02-13 21:09] gewarren commented on #2434
@fiksen99 Please comment if this is still an issue for you, but I believe if you right-click on the project node instead of the solution node, you should be good to go.

[2019-02-13 21:09] #2434 closed

[2019-02-13 21:35] gewarren commented on #2502
@stevestein Do you have an extensibility expert on board?

[2019-02-13 23:36] kendrahavens opened #2506 "Add .NET Productivity features in Visual Studio 2019"
General Items:
- [X] Make Productivity guide friendly to 2019 features. (Create 2019 section, take 2017 out of title)
   - I'd prefer to avoid changing the page name so we don't lose any search engine indexing we might have.

All features to be added to docs for Visual Studio 2019 Preview 1 and 2, and Update 15.8:

### Dev16 Preview 2 ([release notes](https://docs.microsoft.com/en-us/visualstudio/

[2019-02-14 00:03] gewarren commented on #2378
@mavasani I think I verified the behavior that @TheBeardedLlama is seeing. In VS 2017, in an ASP.NET (.NET Framework) project, if you select Analyzers > Open Active Rule Set, the MinimumRecommendedRules.ruleset file opens. But it doesn't get added to the project. If I make a change to the ruleset and then click Save, the file gets added to the project. Is this the intended behavior? Or is it diffe

[2019-02-14 13:48] Peppers911 opened #2548 "[CA2227] Update how to fix it."
I would suggest that "How to fix violations" would include other types of fixing this design problem, not just by saying remove "setters".
Other resolutions:
1) Explicitly make ReadOnly collection
2) Explicitly make Concurrent collection if by design you will modify collection.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2019-02-14 16:49] craigmoran opened #2549 "SafeControl Entries Removed From Web.config After WSP Deployment"
I've recently run into a problem after deploying a WSP solution to our SharePoint 2013 production server.  The solution is non-sandboxed, and I never had any deployment problems before.  The problem is that, after deployment, all the safecontrol entries related to my WSP solution are removed from web.config.  I have to manually copy and paste the entries from a previous backup.  Any idea why the s

[2019-02-14 18:00] CeciAc opened #2550 "VSTS Custom condition"
@darshankumarys commented on [Thu Jan 31 2019](https://github.com/MicrosoftDocs/azure-docs/issues/23901)

Hi Team,

We are facing one issue regarding VSTS custom condition,
Am trying to search for 'test' folder in release artifact but condition in failing. PFB the condition.
the same condition is working in test release pipeline and not in actual release pipeline.
And when I select the test Build

[2019-02-14 18:03] evanwindom commented on #2462
@POG1991 - Thanks for reaching out. I apologize for the inconvenience.
If you're seeing an error code like 715-123150, it's likely that the portal has detected multiple failed attempts to download the code and is interpreting those as a potential threat. That's something our technical support folks can address for you. Please visit https://visualstudio.microsoft.com/subscriptions/support/#talktous

[2019-02-14 18:27] #2462 closed

[2019-02-14 18:30] #2432 closed

[2019-02-14 18:57] TerryGLee commented on #2549
@craigmoran It looks like you are experiencing a problem that requires a support solution. This venue is meant to report issues with our documentation&mdash;although we are happy to try to point you to the right resources that might help you:

- If this is a problem that is specific to Visual Studio, please consider using the [Report a Problem](https://docs.microsoft.com/en-us/visualstudio/ide/how

[2019-02-14 19:06] TerryGLee commented on #2307
@gewarren Is this fixed now, per chance?

[2019-02-14 19:43] #1566 closed

[2019-02-14 19:56] gewarren commented on #2307
@TerryGLee We are still waiting to see if there's a resolution to PRMerger automatically closing PRs that are automatically created during the sync process.

[2019-02-14 20:01] gewarren commented on #2550
@CeciAc Actually I think the correct repo for this issue is https://github.com/MicrosoftDocs/vsts-docs/issues. Can you copy the issue over there?

[2019-02-14 20:42] CeciAc commented on #2550
Hi @gewarren
I moved it here: https://github.com/MicrosoftDocs/vsts-docs/issues/3373

Best

[2019-02-14 20:42] #2550 closed

[2019-02-14 21:14] tydunkel commented on #1937
@akochepasov I could not reproduce the issue using the latest vs_enterprise.exe from the web. Can you confirm if this is still an issue?

Command line used:
`vs_enterprise.exe --layout C:\vslayout --clean  "C:\vslayout\Archive\578027b7-bfa3-49b3-9045-c8d022150d55\Catalog.json"`

This then loaded the catalog and prompted if I wanted to remove the obsolete payloads.

[2019-02-15 07:40] imeya opened #2586 "The python app created in visual studio cannot be published?"
just want to confirm, when use visual studio to create a python web app -&gt; then publish it(not iis, just web app), then the web does not work? I published a python web app, and get the page "Your App Service app is up and running".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 90a03cb3-5472-d3bc-3b4b-7eda41f2e22e
*

[2019-02-15 10:47] TheRealVira opened #2592 "SSDT tools for Visual Studio 2019 are not available"
When visiting the linked page though, you would only get the SSDT for Visual Studio 2017!

https://github.com/MicrosoftDocs/visualstudio-docs/blob/master/docs/porting/port-migrate-upgrade-visual-studio-projects-2019.md

[2019-02-15 11:29] anuradha27 commented on #741
where to find the offline folder after creating offline installer for visual studio 2017 ?

[2019-02-15 16:58] kraigb commented on #2586
Hi @imeya. Currently, Python is officially supported only on Azure App Service for Linux. However, publishing from Visual Studio directly to Azure App Service on Linux using the "Publish" command is _not_ presently supported. That's why the doc page here instructs you to use Git deploy or Containers instead, which are the necessary routes

Python does still work on Azure App Service on Windows, an

[2019-02-15 16:58] #2586 closed

[2019-02-15 16:59] #2359 closed

[2019-02-15 17:36] mdell-seradex opened #2593 "Unused References button missing in Visual Studio 2017"
This states that this button is available in Visual Studio 2017, but I cannot find it where it is described to be.  There is also no indication that a Visual Studio component needs to be added to enable this ability.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: faa89b2d-a184-5483-c774-cdabc9647b23
* Version Independe

[2019-02-15 17:58] TerryGLee commented on #2592
@TheRealVira Thanks for letting us know! We'll investigate and report back.

[2019-02-15 18:16] #2549 closed

[2019-02-15 20:48] gewarren commented on #2593
@mdell-seradex Thanks, looking into it.

[2019-02-16 00:19] gewarren commented on #2593
I confirmed that "unused references" was removed from Visual Studio some time back. I'm updating the article now. Thank you for letting us know!

[2019-02-16 00:22] mdell-seradex commented on #2593
It is unfortunate that it was removed.  It was a handy feature that I have found no good replacement for.

Mark Dell

Seradex Inc.
From: Genevieve Warren <notifications@github.com>
Sent: Friday, February 15, 2019 7:20 PM
To: MicrosoftDocs/visualstudio-docs <visualstudio-docs@noreply.github.com>
Cc: Mark Dell <mdell@seradex.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/visu

[2019-02-16 17:52] Abedron opened #2595 "Quick Launch"
I can`t find shortcuts for Quick Launch field. For this use is mouse required :(

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dd6ebefd-fcc0-7e65-6450-c5908dbb61f8
* Version Independent ID: 83656699-f59b-5c22-94ad-bb2c8d58b2ae
* Content: [What's new in Visual Studio 2019](https://docs.microsoft.com/en-us/visualstudio/

[2019-02-16 22:02] ekklhol opened #2596 "Feedback on Tutorial for Visual Studio Enterprise 2019"
I would like to get access to the tutorials for Visual Studio 2019 so I can review and give feedback but I don't know where to find them. I only get access to VS 2017 version.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f783f152-b26c-0ea4-8017-3929c7465368
* Version Independent ID: 8777c084-6578-8a7f-89db-80b3f9d547

[2019-02-17 00:20] zspitz opened #2597 "Installing as a Visual Studio extension"
Is it possible to include a visualizer as part of a VS extension? How can this be done?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c0470059-27e3-58a0-155e-84fbaefae158
* Version Independent ID: 95c9afb2-32f3-945b-9381-9f711179c77d
* Content: [How to: Install a Visualizer - Visual Studio](https://docs.microsoft.com/

[2019-02-17 18:48] elliott-beach opened #2600 "Edit and Continue with static members"
It appears Edit and Continue doesn't work with static members: if I edit a static member `private static string ReadOnlyString = "foo"` to "not-foo", that change will not be reflected in code execution. My guess is that references to static variables are bound too early for this to work. It's true in this simple example, I could just use "edit value" in the debugger, but it's still unintuitive. I

[2019-02-18 01:35] TerryGLee commented on #2595
@Abedron Thanks for your feedback! To access the search feature in Visual Studio, press **Ctrl+Q**.
We'll be sure that this gets documented.

[2019-02-18 04:58] pmg1963 opened #2614 "Visual Studio Example Solution VB"
I am having difficulty getting the vb code to work.  Why cant you have a link to a properly working solution file that can be downloaded and run in VS, like they do on Code Project Pages, see for example https://www.codeproject.com/Articles/1004699/VB-NET-runtime-control-designer-for-windows-forms?msg=5594985#xx5594985xx.    Near the top of the article is "Download the VB.NET sample project Contro

[2019-02-18 07:33] raginisai opened #2632 "(Removed)"
(Removed)

[2019-02-18 10:48] dombat opened #2643 "what is the replacement if this is deprecated?"
The article says "Web performance and load test functionality is deprecated. Visual Studio 2019 is the last version where web performance and load testing will be available." - what is the replacement feature (if there is one)? I don't want to learn an out of date skill!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9

[2019-02-18 14:10] kraigb commented on #2632
GitHub issues are not to be used for advertising.

[2019-02-18 14:10] #2632 closed

[2019-02-18 18:21] mtmazurik opened #2644 "Docker Hub example needed ?"
IMHO, this area should have in the left nav, a general description of Publish to DockerHub repository example / walkthrough.   It is a radio button for a Container Registry publish target type (Docker Hub).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ff24ef73-d15f-83e5-d5d4-2b091b0a3e4b
* Version Independent ID: 90b

[2019-02-18 18:50] #2593 closed

[2019-02-19 04:12] Kid-Seven-7 opened #2653 "System.InvalidCastExeption"
I recently started developing a VSIX extension for VS and possibly I am not doing it correctly but I keep getting an "InvalidCastExeption" when running "DTE dte = (DTE)ServiceProvider.GetServiceAsync(typeof(DTE));" because "...GetService..." is seemingly unavailable.

PS. I can understand that perhaps the documentation is intended for senior devs but I can't help but feel that you are doing yourse

[2019-02-19 06:12] lloydmonteiro commented on #2066
I get this error
rosoft Visual Studio\2017\Enterprise\MSBuild\Microsoft\VisualStudio\v15.0\Node.js Tools\Microsoft.NodejsTools.targets(115,5): error MSB4018: The "AssignTargetPath" task failed unexpectedly.
System.IO.PathTooLongException: The specified path, file name, or both are too long. The fully qualified file name must be less than 260 characters, and the directory name must be less than 248

[2019-02-19 06:20] lloydmonteiro commented on #2066
i now get this error and page doesnt load
(node:636) [DEP0062] DeprecationWarning: `node --debug` and `node --debug-brk` are invalid. Please use `node --inspect` or `node --inspect-brk` instead.
Press any key to continue...

[2019-02-19 07:56] Kid-Seven-7 commented on #2653
Reverted to VS2015, problem solved. My bad

[2019-02-19 07:56] #2653 closed

[2019-02-19 15:45] joacar opened #2668 "Add which domains to white-list regarding sending feedback from within Visual Studio"
Trying to send feedback but encounter [this](https://developercommunity.visualstudio.com/content/problem/29340/cant-sign-in-visual-studio-feedback-through-proxy.html). I've tried to alter `devenv.exe.config` with proxy settings (use default, use explicit) but it doesn't work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*