[2019-09-10 19:50] gewarren commented on #3791
@svetbonev Should the tutorial steps be updated to remove Default.rd.xml from the test project that references the UWP app? Or is there a better way to set up the projects in the tutorial? Thanks.

[2019-09-10 19:51] evanwindom commented on #3889
@AndrewCussons  - Hi Andrew.  Thanks for your feedback on the article.  I've forwarded the link as well as your feedback to our partners in the support content team and asked them to evaluate opportunities to clarify what's in the article.

[2019-09-10 19:58] Mikejo5000 commented on #2600
I'm told that if you already accessed the value of the variable and then changed the original value, then it should not work. Not by EnC reasons but by code execution design. Otherwise, EnC with static values should be supported.
Making a doc edit for this.

[2019-09-10 20:55] msebolt commented on #3891
You're welcome, thank you for choosing Microsoft.

[2019-09-10 21:58] jonwbstr opened #3896 "Professional edition does not appear in the September usage pricing sheet?"
I looked back over all the price sheets available and Enterprise is listed twice as expected, Professional is absent.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f413cb5d-d6c4-2036-62e2-0af9b041ade3
* Version Independent ID: 7c96f714-fb4f-a578-546e-2cfba9366d76
* Content: [Visual Studio cloud subscription purchasing

[2019-09-10 23:34] Mikejo5000 commented on #3774
Looks like you are correct. Updating the doc.

[2019-09-10 23:44] kendrahavens commented on #2151
Yes! I think that'd be a good idea. We'd need to update the samples. I know it supports past C# 6.0, but I'm not sure the limit. @tmat was also mentioned as a C# interactive expert.

[2019-09-10 23:50] Mikejo5000 commented on #3772
@sergey-akhalkov I'm wondering if overloads support both ways. Did you get an error on this code?

[2019-09-10 23:52] Mikejo5000 commented on #3766
Updating doc. Thx!

[2019-09-11 00:02] msebolt commented on #3896
@jonwbstr Thank you for the feedback, adding the author.

@evanwindom Please review and make any changes as needed.

[2019-09-11 00:52] terrajobst commented on #3797
Profiles were a way to create subsets of .NET platforms (e.g. .NET Framework 4.5 Client). We also used this in Portable Class Libraries. Moving forward, this feature isn't useful.

@ite-klass why do you ask?

[2019-09-11 01:20] #2394 closed

[2019-09-11 01:20] #2600 closed

[2019-09-11 01:20] #2785 closed

[2019-09-11 01:20] #3766 closed

[2019-09-11 01:20] #3774 closed

[2019-09-11 01:26] mdell-seradex commented on #2785
Thank you!
Much appreciated.

[2019-09-11 07:47] ite-klass commented on #3797
@terrajobst What question are you referring to? Whether there is more information?

Because “For more information, see” clearly indicates there is more information, while linking to an article that does not.

[2019-09-11 08:33] tamatsuxyz commented on #3859
Thanks @msebolt

I saw document you showed, and I tried this function.
I suggest to change the following

Service or scenario | DNS endpoint | Protocol | Port | Description
-- | -- | -- | -- | --
Snapshot  Debugger | 1. go.microsoft.com  2. management.azure.com  3. *azurewebsites.net  4. *scm.azurewebsites.net 5. api.nuget.org/v3/index.json  6. **Remote Service/Servers IP address/FQDN** | 1. https

[2019-09-11 08:39] mgadirocks commented on #1909
Even for Enterprise Level Subscription of Visual Studio, Pluralsight Free subscription is not offered now?

[2019-09-11 08:40] tamatsuxyz commented on #3859
Sorry for rush submit

Additionally, I think both of these is lack of "."
3. *azurewebsites.net         => *.azurewebsites.net
4. *scm.azurewebsites.net  => *.scm.azurewebsites.net

It's different between *azurewebsites.net and *.azurewebsites.net.
The latter means all of sub-domain for azurewebistes.net. The former means XXXXazurewiebsites.net (e.x. testazurewebsites.net / aaaazurewebsites.net)

[2019-09-11 09:04] yannduran commented on #1612
"There are no plans to add support for other project types"

Can you please explain WHY there are no such plans? It seems that this would be something that'd be VERY useful for just about ALL project types. There's an extension to do this already so  why can't it be built into Visual Studio itself?

[2019-09-11 09:50] Prash-JD opened #3899 "How can we get Lines count in current file ( e.g class file ) i.e. total lines present in class file ?"
I need to access line number count to get how many lines are there in class files and how many lines get added after code changes are done. Any API to access this information?

Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4d26f2c7-9dc7-f759-7d83-63b2b6a1acdc
* Version Independent ID: 7f55cfd7-5a45-21ac-294

[2019-09-11 11:39] mdunka commented on #2854
With update to v. 16.2.5, I once again got a warning about one of my (older) extensions being disabled. Although the option to allow synchronous autoload of extensions was checked, (see Tools / Options / Environment / Extensions), the it is also grayed now.
As a result I added the group policy mentioned above to the registry, restarted VStudio and the warning changed to the previous simple notific

[2019-09-11 12:49] Science-and-Motion-Sports commented on #1606
@JethroCZ I had the same issue. I noticed that everything was fine when I ran msbuild.exe from the command line. The reason for that is that Visual Studio contains its own (faulty) logic to determine if anything changed and if it thinks nothing changed then Visual Studio does not even run msbuild.exe. The solution is to disable this logic and always run msbuild.
To do that, add the following to yo

[2019-09-11 12:51] Science-and-Motion-Sports commented on #3812
@KubaO I had the same issue. I noticed that everything was fine when I ran msbuild.exe from the command line. The reason for that is that Visual Studio contains its own (faulty) logic to determine if anything changed and if it thinks nothing changed then Visual Studio does not even run msbuild.exe. The solution is to disable this logic and always run msbuild.
To do that, add the following to your

[2019-09-11 12:58] Science-and-Motion-Sports opened #3900 "Microsoft.Common.targets does not contain a single <Target> anymore."
It might have in the past, but the target definitions apparently moved to C:\Program Files (x86)\Microsoft Visual Studio\2019\Professional\MSBuild\Current\Bin\Microsoft.Common.CurrentVersion.targets

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 868d865b-89d9-ec87-d569-862d168dc6ca
* Version Independent ID: a95f34e2-8f

[2019-09-11 13:17] Science-and-Motion-Sports opened #3901 "Target "BeforeBuild" does not exist anymore in C++ projects"
In file `C:\Program Files (x86)\Microsoft Visual Studio\2019\Professional\MSBuild\Microsoft\VC\v160\Microsoft.BuildSteps.targets` there is a line `<Target Name="AfterBuild">` but there is no line `<Target Name="BeforeBuild">`. BeforeBuild is not referenced anywhere either:
[code]

Because of this, the following lines will never be executed when placed in a .vcxproj file:
[code]
even though AfterBu

[2019-09-11 13:18] Science-and-Motion-Sports commented on #3901
Is this a product issue or a documentation issue?

[2019-09-11 13:32] Science-and-Motion-Sports opened #3902 "Overriding predefined targets does not work with new <Project Sdk="...">"
This does not work (no messages printed):
[code]
The reason for this is that MSBuild implicitly adds the Sdk.targets imports at the end of the file, so always AFTER our own definition. This means our own definition gets overridden with empty commands.

We can make it work if the Sdk imports are specified manually as shown in https://docs.microsoft.com/en-us/visualstudio/msbuild/how-to-use-project-

[2019-09-11 13:37] thomasgalliker opened #3903 "Menu + Screenshot are from VS2017 (outdated)"
Can you please update this page with VS2019 screen shots. The menu "Test &gt; Analyze Code Coverage" does no longer exist in VS2019.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4305ee45-a84a-aa05-5b94-4f9d77dadc40
* Version Independent ID: 47acca13-0363-7ea3-08e3-4f2039705223
* Content: [Code coverage testing - Visu

[2019-09-11 13:41] Science-and-Motion-Sports opened #3904 "<DisableFastUpToDateCheck>true</DisableFastUpToDateCheck> is also required for regular builds, not just "Debug -> Start Debugging" runs."
When I do not set the `DisableFastUpToDateCheck` property to true and press on "Build Solution" or "Build ProjectName", then Visual Studio 2019 v16.2.5 just prints the following:

This means, that msbuild was not run. Howver, the documentation states, that this behavior is only expected when using "Debug -> Start Debugging".

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2019-09-11 13:57] Sean-LeBlanc opened #3905 "Typo Error in Step 3 of the Create Project Section"
In Step 3 it says "Then name the file HelloWorld." This should be corrected to "Then name the file WhatIsYourName." In order to properly reflect the tutorial project being made and align with the image reference for the step below it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 20f3b242-e5be-0e07-79bf-c3f1652d3861
*

[2019-09-11 14:10] evanwindom commented on #1909
@artemis15 , @mgadirocks - Thanks for reaching out.  What type of subscriptions are you using?  If you connect to https://my.visualstudio.com, what type of subscription is displayed in the blue banner at the top of the page?

Pluralsight is not currently available through Dev Essentials.  The Dev Essentials program works with a variety of partners to bring exclusive benefits to our members. These

[2019-09-11 14:36] #3865 closed

[2019-09-11 14:55] msebolt commented on #3899
@Prash-JD  Thank you for the question.

Since this is file-based you could use [System.IO.File](https://docs.microsoft.com/dotnet/api/system.io.file.readlines?view=netframework-4.8) which has a good solution posted [here](https://stackoverflow.com/questions/119559/determine-the-number-of-lines-within-a-text-file).

Other alternatives include PowerShell, with this solution posted [here](https://sta

[2019-09-11 15:20] msebolt commented on #3905
@Sean-LeBlanc Thank you for the feedback.

The documentation has been updated.

[2019-09-11 15:20] #3905 closed

[2019-09-11 15:23] jfleisher opened #3906 "must delete default.rd.xml file"
We've had it reported a couple of times that users following this tutorial end up in a situation where it won't build and must remove the default.rd.xml file from the background application project to get it working.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 68035759-b6ab-0432-c235-533b44a38eea
* Version Independe

[2019-09-11 15:43] Mikejo5000 commented on #3797
I'll update the doc to explain that it only applies to portable class libraries.
For more info:
https://docs.microsoft.com/en-us/dotnet/standard/cross-platform/cross-platform-development-with-the-portable-class-library

[2019-09-11 15:58] Mikejo5000 commented on #3900
@rainersigwald Rainer, this looks like a VS 2019 change, is that right? I'll plan to update this.

[2019-09-11 16:05] rainersigwald commented on #3900
That change happened quite a while ago, actually--looks like dev12. Instead of referring to the new file everywhere, I'd say it "contains _or imports_ targets", and mention that the bulk of it is in `Microsoft.Common.CurrentVersion.targets`.

I don't want to change everything to point to `CurrentVersion`, because that's mostly an implementation detail--projects/SDKs should continue to import `Micr

[2019-09-11 16:08] rainersigwald commented on #3900
Actually, I might prefer an edit to the article that mentions both physical files but refers to them in the abstract as "the common targets" like

[code]

[2019-09-11 17:04] JeremyTBradshaw opened #3907 "Missing subscription level in the Eligibility table"
My specific subscription is not listed.  It is

 When I view the benefit in my.visualstudio.com it shows me

Any idea what this means for me?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 60b2872e-438a-b86e-9ff5-6dc0021f3fe8
* Version Independent ID: 8b9e935e-07ad-4992-edb9-e8361d867617
* Content: [EMS Benefit](https:

[2019-09-11 17:42] evanwindom commented on #3907
@JeremyTBradshaw - Thanks for reaching out.  The MPN subscriptions are part of the NFR list that's referenced in the first line of the eligibility table and detailed in the first footnote as follows:
"1 Includes: Not for Resale (NFR), Visual Studio Industry Partner (VSIP), Microsoft Partner Network (MPN), FTE, MCT Software & Services Developer, BizSpark. Excludes: Most Valuable Professional (MVP),

[2019-09-11 18:49] JeremyTBradshaw commented on #3907
@evanwindom - Thanks for pointing me to that, I completely missed it 🤦‍♂️!  I am a mix, I have activated the benefit twice in the past - 1st year into my own tenant, 2nd year into my company's.  I'm still all set for ~1 month, so was just checking into it while doing some planning for upcoming things I'll have on the go.  I also have some E3 IUR licenses available to hold me over after that.

Glad

[2019-09-11 18:49] #3907 closed

[2019-09-11 19:05] mattitepposeppo opened #3909 "Problems with instructions"
I'm totally new to this and I'm not sure if I'm following the instructions correctly or are they faulty. I had really hard time to get the project build properly.

First of all the instructions doesn't say you need @vue/cli package. I had to install it manually using command prompt.

After that the project didn't build but instead gave me weird error. I tried to build it from command prompt and go

[2019-09-11 19:52] WilliamAntonRohm commented on #3901
@Science-and-Motion-Sports -- thanks for your question. It looks like you're having an issue with the product itself, rather than an issue with the documentation. Here are a few options where you might consider asking your question:
-	[https://social.msdn.microsoft.com/Forums/vstudio](https://social.msdn.microsoft.com/Forums/vstudio)
-	[https://www.stackoverflow.com](https://www.stackoverflow.com)

[2019-09-11 19:52] #3901 closed

[2019-09-11 19:54] WilliamAntonRohm commented on #3902
@Science-and-Motion-Sports -- thank you for your feedback.  We are looking into updating the documentation.

[2019-09-11 19:57] WilliamAntonRohm commented on #3909
@mattitepposeppo -- thank you for your feedback; we are looking into it.

In addition, here are a few options where you might consider asking your question:
-	[https://social.msdn.microsoft.com/Forums/vstudio](https://social.msdn.microsoft.com/Forums/vstudio)
-	[https://www.stackoverflow.com](https://www.stackoverflow.com)
-	[https://www.reddit.com/r/VisualStudio/](https://www.reddit.com/r/VisualS

[2019-09-11 20:07] WilliamAntonRohm commented on #3881
@Mikilll94 -- I checked that link in the article and it is working for me.  Can you please elaborate?

[2019-09-11 20:27] Mikilll94 commented on #3881
@WilliamAntonRohm
The link is working but it is not pointing to the site where you can download Remote tools for Visual Studio 2019.

Just check it:
https://visualstudio.microsoft.com/downloads#remote-tools-for-visual-studio-2019

From this link you can download only Visual Studio 2019 - NOT the remote tools.

[2019-09-11 20:53] Mikejo5000 commented on #3900
OK, thanks, I'll update the doc.

Is it OK on first mention to bring up Microsoft.Common.targets? I'm concerned that new users might wonder what we're talking about with no context for it. Suggested first bullet point (in the intro):

- Overriding specific predefined targets defined in the common targets (*Microsoft.Common.targets* or the common *.targets* file that it imports).

I'm guessing that

[2019-09-11 20:56] Mikejo5000 commented on #3881
@Mikilll94 For me, that link does get me to the "remote tools". What browser are you using? There was (is) an issue for the link not working if you need to update your license.

[2019-09-11 20:56] rainersigwald commented on #3900
I'd just say "... or the files that it imports".

I'd say yes: no one should have to know about CommonTargetsPath.

[2019-09-11 21:01] gewarren commented on #2036
@kendrahavens Do you know which template, if any, the **Create Unit Tests** command uses? And if it can be customized?

[2019-09-11 21:09] Mikejo5000 commented on #3902
Rather than trying to make this topic work for SDK-style projects, it might be better to add a note similar to the suggestion above:

For projects using the SDK attribute, specify your imports manually as described in https://docs.microsoft.com/en-us/visualstudio/msbuild/how-to-use-project-sdk?view=vs-2019.

@rainersigwald for comment

[2019-09-11 21:17] Mikejo5000 commented on #3904
@Science-and-Motion-Sports Thanks! I'll update the doc.

[2019-09-11 21:21] rainersigwald commented on #3902
Maybe something like

?

The reason it doesn't work is that common.targets gets imported after the project targets, so the (empty) common.targets ones actually override the project-defined ones.

In general, I'd like to guide folks to create new targets rather than override the stub extension-point targets. But that's a bigger change . . .

[2019-09-11 21:23] Mikejo5000 commented on #3902
Sounds good. I'll add the note. Thanks!

[2019-09-11 21:40] davidcorrigan714 opened #3910 "Management through API"
There should probably be a section added to detail using the Azure Service Management API to manage license subscriptions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 82cfbc2f-5cd9-4e63-15e5-f1c41b6d9822
* Version Independent ID: 7e460208-140c-0a87-a1fb-a47690fb0f06
* Content: [Get started with the Subscriptions Adm

[2019-09-11 21:42] Mikejo5000 commented on #3901
@olgaark Is BeforeBuild still supported in .vcxproj? I would guess that BeforeBuild would work fine if added to Microsoft.BuildSteps.targets.  fyi @rainersigwald

[2019-09-11 21:47] WilliamAntonRohm commented on #3881
@Mikejo5000, thank you for stepping in to help.

@Mikilll94 -- this is what I see:

![download](https://user-images.githubusercontent.com/27738025/64737914-cbc53400-d4a2-11e9-9901-a03b7a87cd79.png)

[2019-09-11 22:19] TerryGLee commented on #963
Thanks everyone for your inquiries on this subject. We're adding text to this page regarding the use of `vs-installer.exe`.

But, after confirming with the engineering team, we respectfully decline to document using `vs_installershell.exe` on this page. For more information about Visual Studio Build Tools and Docker, please see the following pages instead:

- [Install Build Tools into a container]

[2019-09-11 22:19] #963 closed

[2019-09-11 22:48] dmcphaden opened #3911 "debug.print varA"
https://docs.microsoft.com/en-us/dotnet/visual-basic/misc/bc30800

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a958f3e5-0207-69f7-4fc9-82ac080fa7fc
* Version Independent ID: 8b02b646-01ba-5350-049f-1a31ec4780d4
* Content: [Immediate Window - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/ide/reference/i

[2019-09-11 23:04] #3797 closed

[2019-09-11 23:04] #3900 closed

[2019-09-11 23:04] #3902 closed

[2019-09-11 23:04] #3903 closed

[2019-09-11 23:04] #3904 closed

[2019-09-11 23:04] gewarren commented on #3882
@richard-ob I have a commit to remove the use of "third-party" in reference to the FxCop analyzer package.

Regarding the question around the difference between IDE analyzers and FxCop analyzers, the IDE warnings are actually prefixed by IDE, not CA. The IDE analyzers are used for [code style preferences](https://docs.microsoft.com/en-us/visualstudio/ide/code-styles-and-code-cleanup?view=vs-2019).

[2019-09-12 01:57] pgmagid opened #3913 "No description for: Enable nullable reference analysis"
Looking for description of:
enable nullable reference analysis IDE features

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f41602f7-2c5e-bf2a-9eab-50740dd10784
* Version Independent ID: c6b1f7c4-eb2d-a62a-7e1b-eb32b8a88947
* Content: [Options, Text Editor, C#, Advanced - Visual Studio](https://docs.microsoft.com/en-us/

[2019-09-12 05:22] JethroCZ commented on #1606
@Science-and-Motion-Sports I have tried that. And it was not the solution that I was looking for. This forces "rebuild" every time. Since that project was not that smal, rebuild took several minutes.
However we were forced to refactor our project and implement everything inside. Creating lower number of bigger projects in the solution solved this problem. Thanks anyway.

[2019-09-12 09:48] mossywell opened #3915 "Sorry - this page is terrible as the content and title don't match"
Title "Find and use Visual Studio extensions"
Content "Install, uninstall and configure extension"
Note that the "use" is completely missing from the content. I suggest two things: 1. Re-title this page 2. Create a new page called something like "OK, you've installed an extension, how do you actually use it?" (And then limit the answer to 50 words or less, not the more typical word salad!)

---
##

[2019-09-12 11:03] mavasani opened #3916 "Add documentation for new Usability rule CA2246 (AssigningSymbolAndItsMemberInSameStatement)"
1. Does not exist in legacy FxCop and was implemented recently in FxCop analyzers, should be first available in 2.9.5 package. It is C# only rule.
2. Rule implementation is here: https://github.com/dotnet/roslyn-analyzers/blob/master/src/Microsoft.CodeQuality.Analyzers/Core/QualityGuidelines/AssigningSymbolAndItsMemberInSameStatement.cs. Original PR implementing the rule: https://github.com/dotnet

[2019-09-13 00:46] timothytrimble opened #3920 "Incorrect step"
In "Select the standard Web Application template with No Authentication and click OK." The OK should be Create, per the screenshot.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a870722a-3325-154a-6a06-5395af357222
* Version Independent ID: d595975b-8308-7d3b-b171-ae5a1ee782a8
* Content: [ASP.NET Core web app with Ent

[2019-09-13 00:48] timothytrimble opened #3921 "Incorrect screen for Step 1."
The graphic for Step 1 shows "bundleconfig.json" in the list. It should not be there per the previous steps.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b2376dee-30e0-850f-7572-6d32b351be3f
* Version Independent ID: 9c06f47f-8195-4736-3575-fffe1c51f763
* Content: [Tutorial: Get started with C# and ASP.NET Core](http

[2019-09-13 00:56] timothytrimble opened #3922 "Missing step in "Run, Debug, Make Changes""
The Note box in step 1 should also include:
"Approval request for storing Cookies might appear. Please accept to continue to the next step."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b2376dee-30e0-850f-7572-6d32b351be3f
* Version Independent ID: 9c06f47f-8195-4736-3575-fffe1c51f763
* Content: [Tutorial: Get starte

[2019-09-13 08:19] paulomorgado opened #3923 "Add documentation for new Performance rule CA1829 (UsePropertyInsteadOfCountMethodWhenAvailableAnalyzer) in FxCop analyzers"
1. Does not exist in legacy FxCop
2. Rules Implementation:
    * https://github.com/dotnet/roslyn-analyzers/blob/master/src/Microsoft.NetCore.Analyzers/Core/Performance/UsePropertyInsteadOfCountMethodWhenAvailable.cs#L21
3. Rules message and description:
    * https://github.com/dotnet/roslyn-analyzers/blob/master/src/Microsoft.NetCore.Analyzers/Core/MicrosoftNetCoreAnalyzersResources.resx#L1137-L

[2019-09-13 14:43] msebolt commented on #3920
@timothytrimble Thank you for the feedback.

The documentation has been updated.

[2019-09-13 14:43] #3920 closed

[2019-09-13 14:59] ade90036 opened #3924 "borken dockerfile"
Hi, i have spent the last 2 days at battling to generate a docker image which could build a vs studio project c++.

First of all, i have 20 years experience in the field of computer science and i could never imagine that i would say this: "oh, Microsoft, what have you done???"

The status of the docker support for window is appalling, mine as well advertise as experimental, Beta at best.
You need

[2019-09-13 15:03] bertrandpons opened #3925 ".runsettings file: how to configure connection string information?"
Hello,

Question based on the following documentation: https://docs.microsoft.com/en-us/visualstudio/test/configure-unit-tests-by-using-a-dot-runsettings-file?view=vs-2019

Could you please indicate how to set connection string within .runsettings file?

Thank you

[2019-09-13 15:10] msebolt commented on #3922
@timothytrimble Thank you for the feedback.

It appears the message you're getting is based on the browser settings.

We currently don't support browser-specific instruction sets, but if you'd like to include the browser you're using it would be helpful for further reference.

[2019-09-13 15:11] msebolt commented on #3921
@timothytrimble Thank you for the feedback.

The documentation has been updated and is pending review.

[2019-09-13 16:11] timothytrimble commented on #3922
Matthew,

I am using the latest version of Chrome on Mac. Thanks for checking.

Tim
________________________
testimonium dominus ergo sum - TimothyTrimble.com
IG: TimothyTrimble
FB: IamTimothyTrimble
Jw.org

[2019-09-13 16:20] TerryGLee commented on #3921
@msebolt Thanks for your PR; the updated screenshot should go live by noon today. (And @timothytrimble - Thanks for helping us improve the documentation!)

[2019-09-13 19:12] taori opened #3927 "Controlling the generated folder structure."
I was wondering how you can control the folder structure which is generated from the vstemplate files. I originally thought that this is maybe somehow controlled by "CreateNewFolder" but changing that to false had no effect. No matter what i do it seems like i always get a folder structure like
solution/wizardname/wizardname.projectA
solution/wizardname/wizardname.projectB
instead of
solution/wiza

[2019-09-13 19:17] maroonedsia opened #3928 "Class View - Settings Mismatch"
Hi, there are a few settings mismatches on this page. For example, I don't see "View Derived Types" and "Show Extension Members" in Class View settings. I'm using Visual Studio 2019 Professional - 16.2.5.

I don't think my instance has a problem, but the document is not very accurate. If these options are only available to a certain edition, like Enterprise, it should be explicitly mentioned here.

[2019-09-13 19:39] WilliamAntonRohm commented on #3924
@ade90036 -- Thanks for your feedback; we appreciate it. To make sure that this is logged in the right place, please use the [Report a Problem](https://docs.microsoft.com/visualstudio/ide/how-to-report-a-problem-with-visual-studio) tool to report the issue. When you do so, your report becomes part of the work items that are listed in the in the [Visual Studio Developer Community](https://developer

[2019-09-13 19:39] #3924 closed

[2019-09-13 19:44] WilliamAntonRohm commented on #3927
@taori -- Andreas, you may find these links helpful in finding answers:
-	[https://social.msdn.microsoft.com/Forums/vstudio](https://social.msdn.microsoft.com/Forums/vstudio)
-	[https://www.stackoverflow.com](https://www.stackoverflow.com)
-	[https://www.reddit.com/r/VisualStudio/](https://www.reddit.com/r/VisualStudio)

[2019-09-13 20:06] AngelosP commented on #2270
Oops, I'm sorry @NickCraver I missed your fix in my original PR. I've updated it as per your feedback https://github.com/MicrosoftDocs/visualstudio-docs/pull/3929. Thank you!

[2019-09-13 20:35] WilliamAntonRohm commented on #3869
@Mikejo5000 -- Mike, can you help answer this question?

[2019-09-13 20:52] senad-meskin opened #3930 "e.*?e does match eed"
In a section explaining "*?" said that "e.*?e" does not match "eed" and it's wrong. I tested it in Visual Studio and inside other editors supporting regex.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b53053a2-c37a-99a8-fdaf-7322de927cf8
* Version Independent ID: 55a43af3-3743-9c8f-bf24-50301db7c37c
* Content: [Use r

[2019-09-13 22:15] mavasani commented on #3458
Taking this up.

[2019-09-13 22:22] gewarren commented on #3925
@AbhitejJohn Would you specify a connection string in the [TestRunParameters](https://docs.microsoft.com/en-us/visualstudio/test/configure-unit-tests-by-using-a-dot-runsettings-file?view=vs-2019#testrunparameters) section?

[2019-09-13 22:22] cowlinator commented on #963
@TerryGLee , Understood, that's unfortunate, but thanks for looking into this.  Hopefully the docs you linked are as helpful.

@goyzhang , As of now, the arguments for `vs_installershell.exe` appear to be identical to the arguments for `vs_installer.exe`.
For example, to install `Microsoft.Net.Component.4.7.1.SDK` I would use this command:
[code]

[2019-09-13 22:31] WilliamAntonRohm commented on #3930
@senad-meskin -- Senad, I believe you are correct, as ? means "zero or more occurrences".  The article does say that pattern won't match "eede".

[2019-09-13 22:34] taori commented on #3927
@WilliamAntonRohm Not really no. All 3 of them involve digging through hundreds of unrelated articles.

Personally i was so bothered with the tedious process that i wrote https://github.com/taori/Amusoft.VisualStudio.TemplateGenerator so i never have to deal with managing multi project templates again. Hence my request to get some information on this in order to generate the templates in a fashion

[2019-09-13 23:32] TerryGLee commented on #520
@asherabrams We've added to the Note at the top of the page so that it includes a link to the completed code. Thanks for helping us improve the documentation!

[2019-09-13 23:55] TheFanatr opened #3933 "Typo in Default Project Properties Table"
Under the [Creating a new R project](https://docs.microsoft.com/en-us/visualstudio/rtvs/r-projects-in-visual-studio?view=vs-2017#creating-a-new-r-project) header, in the R-related project properties table, the description for LaTeX misspells RMarkdown.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30f2e46c-3c08-18f7-d

[2019-09-14 00:21] AbhitejJohn commented on #3925
@gewarren : you could, yes. From [here](https://stackoverflow.com/questions/55813638/recommendations-on-runsettings-file-for-connection-string-override) though it looks like the intent is to use this in a data driven test context though. TestRunParameters wouldn't work here cause it needs to be plugged in through an attribute.
@bertrandpons : could you please file an issue at https://github.com/mi

[2019-09-14 00:23] timmi4sa opened #3935 "Updating Nuget to Pre-release?"
I think we also need to know how to update some previously included nuget to a bleeding-edge pre-release version (when desired). The Update button seems to update to its latest "released" version, and Add Package button seems to imply that it would Add the package (as new) as opposed to update the included one. So we need instructions.

---
#### Document Details

⚠ *Do not edit this section. It is

[2019-09-14 04:01] #3933 closed

[2019-09-14 09:54] AndrewCussons commented on #3889
Thank you.

Regards
Andrew Cussons
Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Matthew Sebolt <notifications@github.com>
Sent: Thursday, September 12, 2019 6:03:23 PM
To: MicrosoftDocs/visualstudio-docs <visualstudio-docs@noreply.github.com>
Cc: AndrewCussons <andrewcussons@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/vis

[2019-09-14 15:08] rlussier commented on #3278
Is there a written step by step of this. I've tried fixing it and my app still won't work.

[2019-09-15 13:05] axodox opened #3936 "Be careful when using variables in path with **\*.*"
I have managed to delete a significant amount of files from my C drive, by specifying `$(OutputDir)\**\*.*` for a delete. It seems that  msbuild could not find `$(OutputDir)`, so it just become `\**\*.*`, which tried to delete everything on the drive of the project, including half of program files, app data etc. resulting in a complete reinstall. Fortunately I had backup, but still wasted some tim

[2019-09-16 07:53] WilliamAntonRohm commented on #3881
@Mikilll94 -- thank you for the followup.
I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2019-09-16 07:53] #3881 closed

[2019-09-16 15:40] bertrandpons commented on #3925
@AbhitejJohn thank you for your reply. I filed the issue at https://github.com/microsoft/testfx

[2019-09-16 16:18] addestroyer24 opened #3940 "Where/when is the Remove attribute valid?"
It's not clear whether the Remove attribute was only supported until MSBuild 15, or whether the attribute became usable outside of targets starting in MSBuild 15.
[Attributes for items in an ItemGroup of a Target > Remove attribute](https://docs.microsoft.com/en-us/visualstudio/msbuild/msbuild-items?view=vs-2019#BKMK_RemoveAttribute)

---
#### Document Details

⚠ *Do not edit this section. It is r

[2019-09-16 16:58] #3925 closed

[2019-09-16 17:04] mavasani commented on #3456
Taking this up

[2019-09-16 17:09] CeciAc opened #3941 "[Overview of C ++ in Visual Studio] is the first description based on VS 2019"
@wraith13 commented on [Sun Sep 08 2019](https://github.com/MicrosoftDocs/visualstudio-docs.ja-jp/issues/1845)

https://github.com/MicrosoftDocs/visualstudio-docs.ja-jp/blob/live/docs/ide/getting-started-with-cpp-in-visual-studio.md
https://github.com/MicrosoftDocs/visualstudio-docs/blob/master/docs/ide/getting-started-with-cpp-in-visual-studio.md

The description on this page, including the origi

[2019-09-16 17:13] CeciAc commented on #3941
Hi team,
I moved this here because the user reports the explanation on the documentation starts as VS 2019 and after **To create a console app** project follows as VS 2017
The issue would be also be present in the en-us version

best

[2019-09-16 17:15] #3930 closed

[2019-09-16 19:13] #3458 closed

[2019-09-16 19:18] GammaFour opened #3943 "Strongly disagree with 'text' as a rational for generating this warning."
I deal with third party libraries.  The use of the parameter name 'text' is widespread in methods that do not generate user visible text.  I could understand this warning on things like 'Message', or 'Label' or 'Caption', but 'text' is simply too generic to intuit the intention of the method.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2019-09-16 19:37] gewarren commented on #3943
@GammaFour Thanks for the feedback. The best place to leave non-documentation feedback about code analyzers is on the [Roslyn-analyzers repo](https://github.com/dotnet/roslyn-analyzers/issues). Can you please open an issue there? Here's an example: https://github.com/dotnet/roslyn-analyzers/issues/2602.

[2019-09-16 19:41] GammaFour opened #3944 "This documentation is out of date"
I have a .NET Core Web Service.  It includes Entity Framework generated code.  The Visual Studio compiler doesn't give me the option for Code Analysis for these kinds of projects, but still tries to interpret auto-generated code like it was written by a human.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b48962e-696

[2019-09-16 21:35] HolisticDeveloper opened #3945 "Rule sets and .editorconfig files incorrectly described as mutually exclusive"
In the section "EditorConfig versus rule sets" (https://docs.microsoft.com/en-us/visualstudio/code-quality/analyzers-faq?view=vs-2019#editorconfig-versus-rule-sets), the page says:

"Coexist" is the antonym for "mutually exclusive." I expect the intent was to state that they are *not* mutually exclusive.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2019-09-16 22:23] #3456 closed

[2019-09-16 23:07] #3945 closed

[2019-09-17 00:05] msebolt commented on #3940
@addestroyer24 Thank you for the question.

From the text:

[code]

...I'm not sure I understand your question.  The `Remove` attribute was supported from .NET 3.5 until MSBuild 15 (inside targets only).  After MSBuild 15 it was supported both inside and outside targets.

[2019-09-17 00:21] addestroyer24 commented on #3940
Thank you, that is the clarification I was looking for. I originally read
the wording (until MsBuild 15.0) as saying that the remove attribute was no
longer supported at all, which is what I was hoping to have clarified in
the docs.

On Mon, Sep 16, 2019, 8:05 PM Matthew Sebolt <notifications@github.com>
wrote:

[2019-09-17 03:57] msebolt commented on #3944
@GammaFour  Thank you for the feedback.

What is specifically out of date?  Your code might fall under [.NET compiler analysis](https://docs.microsoft.com/visualstudio/code-quality/roslyn-analyzers-overview?view=vs-2019) which cannot be suppressed.

If this is the case, please move the issue to the [roslyn-analyzer repo](https://github.com/dotnet/roslyn-analyzers/issues) where the product team can

[2019-09-17 09:37] ncook-hxgn opened #3947 ""Obtaining arguments from TextTemplate.exe" could use an example"
I've got no idea how this is supposed to work, the CLI help output doesn't provide an example either.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4771496c-436c-0b91-87ec-30e480d02a34
* Version Independent ID: d9431d72-6bc8-f0be-6ae7-c57f2a205e6f
* Content: [T4 Parameter Directive - Visual Studio](https://docs.micros

[2019-09-17 10:40] r0bu commented on #3907
Hi, is there any update on when EMS sub will be resolved?

[2019-09-17 16:19] ColbyRingeisen opened #3948 "VS 2019?"
This sample needs to be updated for VS 2019!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 904f29a0-43c8-dfff-01d2-581111957f32
* Version Independent ID: db5b2081-71e6-785a-d665-2a12e4bed46d
* Content: [Create an Android Native Activity App - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/cross-platform/

[2019-09-17 16:23] ColbyRingeisen commented on #3948
Please delete my previous comment. That was supposed to be for the "Build an OpenGL ES application on Android and iOS" page and not the "Create an Android Native Activity App - Visual Studio" page.

[2019-09-17 16:23] ColbyRingeisen opened #3949 "VS 2019?"
This sample makes no sense in Visual Studio 2019.  Please update!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61c068da-293e-ea09-c3ed-be7d3c7da17d
* Version Independent ID: 70af6750-b737-f536-8ebc-ad3a24becb80
* Content: [Build an OpenGL ES Application on Android and iOS - Visual Studio](https://docs.microsoft.com/e

[2019-09-17 17:31] kendrahavens commented on #3887
@IGx89 Thank you for the note! I had incorrectly supposed folks would stop hitting this by VS2019. We also removed the 'fallback to vsix test adapter' check boxes in VS2019. I'll remove the VS2017 moniker so the section is apparent all the time.

[2019-09-17 17:41] #3887 closed

[2019-09-17 17:50] kendrahavens commented on #2036
@AbhitejJohn @jinujoseph Is there anyway to apply preferences to new item templates? I believe we run the formatter, but it doesn't include apply all code style options to new code.

[2019-09-17 18:57] #3943 closed

[2019-09-17 18:57] WilliamAntonRohm commented on #3947
@ncook-vero -- thanks for your feedback. Here are a few options you might consider:
-	[https://social.msdn.microsoft.com/Forums/vstudio](https://social.msdn.microsoft.com/Forums/vstudio)
-	[https://www.stackoverflow.com](https://www.stackoverflow.com)
-	[https://www.reddit.com/r/VisualStudio/](https://www.reddit.com/r/VisualStudio)
As well, you might also consider using the [Report a Problem](http

[2019-09-17 18:58] corob-msft commented on #3948
Closing, per @ColbyRingeisen comment.

[2019-09-17 18:58] #3948 closed

[2019-09-17 19:02] AbhitejJohn commented on #2036
@kendrahavens : Because Create Unit Test supports more than one framework, we just use the generic class template to add a new class. If @xinpeng-MSFT could file an issue in developercommunity.visualstudio.com/ we could look into addressing this.

[2019-09-17 20:15] #3454 closed

[2019-09-17 21:47] corob-msft commented on #3949
@ColbyRingeisen

On the assumption that you were blocked by the new project creation process, I've updated the steps for VS 2019 for publication tomorrow. The remaining steps worked the same for me for the Android app. Make sure the Android emulator is set up and runs independently before you launch it from Visual Studio. I don't have a Mac to test the iOS build with right now, but if there are pr

[2019-09-17 21:47] #3949 closed

[2019-09-17 21:48] julianparismorgan opened #3952 "Would be nice if Substring could go back to front"
I have a scenario where I want to get from the last character in a string until the fifth from last character in a string. If you try to do a Substring from back to front, like this:

&lt;Foo&gt; "$(Thing.Substring(-1, -4))" &lt;/Foo&gt;

you get the error: "MSB4184 The expression xxx cannot be evaluated. StartIndex cannot be less than zero. Parameter name: startIndex"

It would be nice if you a n

[2019-09-17 22:24] xinpeng-MSFT commented on #2036
https://developercommunity.visualstudio.com/content/problem/737581/cant-update-the-template-the-create-unit-tests-men.html

[2019-09-17 22:58] gewarren commented on #2036
@xinpeng-MSFT Thank you!

[2019-09-17 22:58] #2036 closed

[2019-09-18 07:07] corob-msft commented on #3941
The article has been redirected into the VS 2019 content in the C++ repo. It may take some time to be propagated into the localized versions, but the English version should be updated sometime later today.

[2019-09-18 07:07] #3941 closed

[2019-09-18 09:37] mayankbansal018 commented on #3060
Include & Exclude are not mutually exclusive, _**Exclude**_ will always take preference, meaning if an assembly is mentioned in both Exclude / Include, it will be excluded.

[2019-09-18 09:49] mayankbansal018 commented on #3842
_<UseVerifiableInstrumentation>True</UseVerifiableInstrumentation>_
This is needed for scenario to gather coverage for functions marked with Attribute "_**SecuritySafeCritical**_"
All this does is that instead of writing directly into memory location form the function marked with above attribute, we insert a probe which redirects to another function, which in turns writes into memory

_<AllowLowIn

[2019-09-18 13:27] SamuelEnglard opened #3954 "Not seeing Test > Live Unit Testing > Reset Clean option"
Using Visual Studio Enterprise 2019 16.2.5, I don't have a "Reset Clean" option for testing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3113c2af-d97e-7b35-17ce-c675c3dff889
* Version Independent ID: b716c4af-d92b-cb3b-8af0-1b3ada479ac0
* Content: [Live Unit Testing - Visual Studio](https://docs.microsoft.com/en-us/

[2019-09-18 14:28] bojanderson opened #3955 "The Tutorial says it's for VB and C# but only C# code is shown"
The Tutorial covers creating either VB or C# files for hte project but then when code is given it's only C# code, making it much more difficult for somebody trying to create this project in VB

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6c15eb88-74b8-e0a1-b5ff-5f8a8c29231b
* Version Independent ID: 7db86e0c-baa4-905

[2019-09-18 15:43] msebolt commented on #3952
@julianparismorgan  Thank you for the feedback.

This appears to be more product-related than documentation.

Please add this issue to [Visual Studio suggestions](https://developercommunity.visualstudio.com/idea/555964/visual-studio-2019-suggestions.html) for a direct response from the product team.

[2019-09-18 15:43] #3952 closed

[2019-09-18 15:57] msebolt commented on #3955
@bojanderson  Thank you for the feedback.

Which part of the document are you referring to?

If you select **VB** in the upper-right corner...

![Capture](https://user-images.githubusercontent.com/6675884/65164720-4d144d80-d9f2-11e9-9580-dac3c2cfeba3.PNG)

...the code snippets should show VB...

![Capture2](https://user-images.githubusercontent.com/6675884/65164727-4ede1100-d9f2-11e9-8642-2716d175

[2019-09-18 16:24] bojanderson commented on #3955
Sorry I'm an idiot and didn't see that.

Bo Anderson

On Wed, Sep 18, 2019, 10:57 AM Matthew Sebolt <notifications@github.com>
wrote:

[2019-09-18 17:24] gewarren commented on #3955
No, you're not an idiot. We've received quite a bit of feedback that the code language selector is hard to find. We're hoping to improve the experience.

[2019-09-18 17:27] bojanderson commented on #3955
Thank you for the quick response. Appreciate it!

Bo Anderson

On Wed, Sep 18, 2019, 12:24 PM Genevieve Warren <notifications@github.com>
wrote:

[2019-09-18 18:45] gewarren commented on #3060
@mayankbansal018 Putting Exclude aside for now and assuming it's empty or omitted, if you specify a single assembly in Include, should other assemblies also be included?

[2019-09-18 18:49] gewarren commented on #3842
Thank you @mayankbansal018. I'll add that info to the page.

[2019-09-18 18:58] gewarren commented on #3632
Reopening this issue to document the project vs. solution behavior. Thank you @b8adamson.

[2019-09-18 23:10] #3842 closed

[2019-09-18 23:51] Swimburger commented on #3632
@b8adamson FYI, I have always been using the Solution approach when the test setting file stopped persisting.

[2019-09-19 00:20] jdpavek opened #3958 "Wrong illustration"
Illustration under Create a foreign key, Step 1 shows the wrong table (I think).  The step does not explicitly state which of the two tables the foreign key will be added - so looking at the illustration indicates it is the Customers table because it shows a primary key of CustomerID.  But it doesn't seem to make sense with the next step.  I think the illustration used should be that of the Orders

[2019-09-19 07:20] mayankbansal018 commented on #3060
@gewarren If you specify an assembly in _Include_, then only that particular assembly will be instrumented.

Similarly if you specify an assembly in _Exclude_, then only that particular assembly will be excluded from instrumentation, rest all will be included.

[2019-09-19 08:50] haunguyen84 commented on #3768
It's also failed when installing with offline version.
The root cause is NODE_OPTIONS. Here is the genius instruction of my friend:

"If you open a new cmd window and check with "echo %NODE_OPTIONS%", if the result is anything _else_ than "%NODE_OPTIONS%", then that is probably your problem.

The VS Installer runs its own version of Node.js and if the Node.js version the the VS installer uses does

[2019-09-19 19:42] gewarren commented on #3060
@corradin It sounds like you either have something in your runsettings file that's causing the unexpected behavior, or there's a bug in the product. If you think it's the latter, please log an issue by using the [Report a Problem](https://docs.microsoft.com/visualstudio/ide/how-to-report-a-problem-with-visual-studio) tool. When you do this, your report becomes part of the work items that are track

[2019-09-19 19:42] #3060 closed

[2019-09-19 21:51] WilliamAntonRohm commented on #2276
@MisinformedDNA -- Dan, here are a few options where you might consider asking your question:
-	[https://social.msdn.microsoft.com/Forums/vstudio](https://social.msdn.microsoft.com/Forums/vstudio)
-	[https://www.stackoverflow.com](https://www.stackoverflow.com)
-	[https://www.reddit.com/r/VisualStudio/](https://www.reddit.com/r/VisualStudio)

As well, you might also consider using the [Report a Pr

[2019-09-19 21:51] #2276 closed

[2019-09-19 21:55] WilliamAntonRohm commented on #1733
@hyang336 -- here are a few options where you might consider asking your question:
-	[https://social.msdn.microsoft.com/Forums/vstudio](https://social.msdn.microsoft.com/Forums/vstudio)
-	[https://www.stackoverflow.com](https://www.stackoverflow.com)
-	[https://www.reddit.com/r/VisualStudio/](https://www.reddit.com/r/VisualStudio)

As well, you might also consider using the [Report a Problem](http

[2019-09-19 21:55] #1733 closed

[2019-09-19 22:19] gewarren commented on #3632
@b8adamson I moved a project to a folder without a solution, and then opened that folder in VS using "File -> Open -> Folder". I selected a runsettings file and closed the folder in VS. When I reopen that folder, the runsettings file is still selected. Did you read somewhere that test settings files only persist if you use solution files, or is it just from your experience?

[2019-09-19 23:06] #3915 closed

[2019-09-19 23:06] #3928 closed

[2019-09-20 11:11] grahambunce commented on #3713
Got this problem as well, docker 19.03.2. 2 months since first reported - what's the solution? The docker for windows is provided *by microsoft* via the Server Core for Containers VM installed by Azure... so i don't have much choice in the underlying docker version. Attached ticket is closed so no idea where to go next.

This shouldn't be closed - documentation as followed doesn't produce a workin

[2019-09-20 13:28] gmoore opened #3963 "Extending Visual Studio for Mac Walkthrough Does Not Work"
Hi! I'm working through the VS Mac extension walkthrough here: https://docs.microsoft.com/en-us/visualstudio/mac/extending-visual-studio-mac-walkthrough?view=vsmac-2019

I follow the instructions and ran the plugin. I found this this line always evaluates to false

`info.Enabled = IdeApp.Workbench.ActiveDocument?.Editor != null;`

I changed the method to always return true and found this this expr

[2019-09-20 13:47] P13RC3 opened #3964 "Add Instruction for Program.Main() function"
The typical way the past was command line args for startup Main(string[] args), but with clickonce you need to use AppDomain.CurrentDomain.SetupInformation.ActivationArguments.ActivationData.  Info about ActivationData should be mentions in this documentation about ClickOnce File Associations.  They go hand in hand

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2019-09-20 14:18] heaths commented on #3713
There is currently no workaround with that certain of docker. You'll need to uninstall and install an older version.

[2019-09-20 17:17] #3958 closed

[2019-09-20 17:24] pwen090 commented on #3841
Hey thanks, just to clarify we were using the default Azure App Service on Linux which provides its own default container vs. us using a custom one. Sounds like for that default setup there is no easy remote debug like their is for Windows but rather a process by which you have to securely setup your own container, ssh debugging etc... Which is cool, we just wanted to make sure we were not missing

[2019-09-20 17:24] #3841 closed

[2019-09-21 02:05] shueybubbles opened #3968 "is there a way to set test case filter in the runsettings file?"
visual studio doesn't have a way to set TestCaseFilter to be used for the command line, that I can find so I was looking here for a way to add it to the runsettings but don't see it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 21ac034a-a498-f3e3-28d0-175b6fead219
* Version Independent ID: 747194a8-ffcf-60b3-b525-6f8

[2019-09-21 15:09] RudolfWeeber opened #3969 "Please add more info on annotations"
It is not clear to me, how to access the content of "squiggles" mentioned in the annotations section.
Pressing CTRL-K CTRL-M or CTRL-K CTRLG-G does nothing in a C++-file with missing semicolons. Tried with NVDA 2019.2. Please extend the information on how the annotations feature should be used.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2019-09-22 22:01] hhoppe opened #3970 "unclear documentation"
Please define what slicing is.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be6a0e19-d61f-fefb-4a83-afa87219e168
* Version Independent ID: 206fffd7-3651-5783-49e0-c586a9b8b992
* Content: [C26437 - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/code-quality/c26437?f1url=https%3A%2F%2Fmsdn.microsoft.com%2

[2019-09-22 22:39] Leanwit opened #3971 "CA1707 warning In Test project"
Best practices for test naming convention is defined in https://docs.microsoft.com/en-us/dotnet/core/testing/unit-testing-best-practices as:

And those three parts are represented in a method name separated by an underscore.
But the description's CA1707 warning is:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06cee19

[2019-09-23 05:15] P-v-K opened #3972 "Useful"
This is a useful page. I tried to figure out how to get an easily readable view of longer strings in debug mode and never even noticed the little icon that brings up the String Visualizer.

The UI design seems rather odd how it offers so much likely-uninteresting information about an object, but then makes the most easily useful control something you need to notice and interpret (or know about som

[2019-09-23 05:53] yusuf-gunaydin opened #3973 "No information about pricing"
In the document it says: "To learn more about benefits, options, and pricing please visit https://visualstudio.microsoft.com/subscriptions/visual-studio-github." However, there is no pricing information there.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 78e0dbc2-35de-0efe-ae1b-b9d2507f2b4d
* Version Independent ID:

[2019-09-23 09:53] grahambunce commented on #3713
Ok - since these instructions don't work for the latest version of docker (which is installed by default by Microsoft themselves in their Azure windows for container image), if there is an image already available that can be used - presumable this? https://hub.docker.com/_/microsoft-dotnet-framework-sdk/ if so, this should be explicitly stated in the documentation.

[2019-09-23 10:35] MatejQ opened #3974 "Can't report a problem in VS because can't log in to Dev. Community!"
I wanted to report some issues in VS but I can't log in to Developer Community. I found out that it's not possible to log in there outside of VS which is just ridiculous.
Everytime I open the Help - Report a problem menu, the Feedback popup opens, says Authenticating... for a while and then fails with "Error signing in: '{}'". It's clearly a bug somewhere in the Developer Community.

[2019-09-23 10:36] MatejQ commented on #3974
![Capture](https://user-images.githubusercontent.com/14346231/65419328-b33c0e80-ddfe-11e9-9820-2ed1143b721e.PNG)
A screenshot that may help.

[2019-09-23 15:11] ShaXam-King commented on #1296
Is there an updated timeline on when the EMS benefit will again be available for activation?

[2019-09-23 16:44] Mikejo5000 commented on #3972
@P-v-K Thanks for the positive comments about the article! If you are looking for functionality that isn’t currently provided by the product, please use our new “Suggest a feature” option in the [Visual Studio Developer Community](https://developercommunity.visualstudio.com/spaces/8/index.html). We’d be happy to have this on record, where others can view it and upvote it, too. For more information

[2019-09-23 16:44] #3972 closed

[2019-09-23 17:29] davidbIQ opened #3977 "missing api section"
In the prior tutorial it gave a build of the gui & api, and the docker compose put them together.  In this one it gave only the gui & kuberneties wrapper for it.  It would be much more helpful to show how to do the same thing as was done with the docker-compose file in the prior example, specifically how to use Kubernetes to include both the API & web interface in the dev/deployment pipeline with

[2019-09-23 17:59] Jymms opened #3978 "Missing a step"
Following the instructions I needed to add a step before I could see Data Connections as a open-able node -&gt;  Create tables and keys by using Table Designer Step 1

I needed to click the click the 'connect to database' button in Server Explorer and choose the data file.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2019-09-23 18:08] mavasani opened #3979 "Update documentation for feature enhancements in VS2019 16.4 and Microsoft.CodeAnalysis.Metics (2.9.5) - both are now released"
Given the large number of feedback on https://developercommunity.visualstudio.com/content/problem/400717/wrong-lines-of-code-at-calculate-code-metrics.html, we have changed VS2019 16.4 and Microsoft.CodeAnalysis.Metics (2.9.5) to now report 2 metrics for lines of code:

1. Lines of source code: The exact number of source code lines as in your source file, including blank lines.
2. Lines of executa

[2019-09-23 18:08] mavasani commented on #3979
![image](https://user-images.githubusercontent.com/10605811/65450650-7ec25580-ddf2-11e9-8d44-18fc8047f508.png)

[2019-09-23 18:24] heaths commented on #3713
This is not a problem with the image, but with Docker itself.

[2019-09-23 20:03] BhaaLseN opened #3980 "Layout Update operation doesn't work on existing 16.2 layout"
Similarly to #1385, I'm still preparing offline layout packages for use within my organization (to save bandwidth), and it worked ok until now.
Going from an existing 16.2 layout, attempting to run `vs_Enterprise.exe --layout "path\to\layout"` errors out:

[code]

16.3 only just released (with all the announcements at DotNetConf, including .NET Core 3), so I'm wondering if this is just temporary o

[2019-09-23 20:59] WilliamAntonRohm commented on #3963
@gmoore -- Gary, you may find an answer here:
-	[https://social.msdn.microsoft.com/Forums/vstudio](https://social.msdn.microsoft.com/Forums/vstudio)
-	[https://www.stackoverflow.com](https://www.stackoverflow.com)
-	[https://www.reddit.com/r/VisualStudio/](https://www.reddit.com/r/VisualStudio)

As well, you might also consider using the [Report a Problem](https://docs.microsoft.com/visualstudio/i

[2019-09-23 21:03] WilliamAntonRohm commented on #3968
@shueybubbles -- David, it looks like you're having an issue with the product itself, rather than an issue with the documentation. Here are a few options where you might consider asking your question:
-	[https://social.msdn.microsoft.com/Forums/vstudio](https://social.msdn.microsoft.com/Forums/vstudio)
-	[https://www.stackoverflow.com](https://www.stackoverflow.com)
-	[https://www.reddit.com/r/Vis

[2019-09-23 23:32] WilliamAntonRohm commented on #3969
@RudolfWeeber -- Rudolf, thanks for your question. Here are a few options where you might consider asking it:
-	[https://social.msdn.microsoft.com/Forums/vstudio](https://social.msdn.microsoft.com/Forums/vstudio)
-	[https://www.stackoverflow.com](https://www.stackoverflow.com)
-	[https://www.reddit.com/r/VisualStudio/](https://www.reddit.com/r/VisualStudio)

As well, you might also consider using

[2019-09-23 23:36] WilliamAntonRohm commented on #3973
@evanwindom -- please assign yourself or another domain expert this issue.

[2019-09-23 23:45] WilliamAntonRohm commented on #3980
@BhaaLseN -- Bhaal, thanks for your question. It looks like you're having an issue with the product itself, rather than an issue with the documentation. Here are a few options where you might consider asking your question:
-	[https://social.msdn.microsoft.com/Forums/vstudio](https://social.msdn.microsoft.com/Forums/vstudio)
-	[https://www.stackoverflow.com](https://www.stackoverflow.com)
-	[https:

[2019-09-23 23:45] #3980 closed

[2019-09-24 04:52] msebolt commented on #3859
Assigning this to the author now.

[2019-09-24 05:28] msebolt commented on #3886
Closing this now, please comment if there are further issues.

[2019-09-24 05:28] #3886 closed

[2019-09-24 05:30] msebolt commented on #3899
Closing this now, please comment below if there are any issues.

[2019-09-24 05:30] #3899 closed

[2019-09-24 05:32] msebolt commented on #3911
Closing this now, please comment below if there are any issues.

[2019-09-24 05:32] #3911 closed

[2019-09-24 05:36] msebolt commented on #3921
The documentation has been updated.

[2019-09-24 05:36] #3921 closed

[2019-09-24 05:37] msebolt commented on #3922
Hi Timothy, thank you for the clarification.

Closing the issue now.

[2019-09-24 05:37] #3922 closed

[2019-09-24 05:39] #3944 closed

[2019-09-24 06:04] msebolt commented on #3955
Sorry for the delay.

The code selector one of the newer features of Microsoft Docs, thank you for your interest.

[2019-09-24 06:04] #3955 closed

[2019-09-24 10:08] Issuesneedfixin opened #3982 "Xamain.Mac native library"
every time I try to open visual studio, no matter how many different ways I try, I am met with

"Could not launch Visual Studio
This application requires Xamarin.Mac native library side-by-side.

please download and install the latest version of Momo"

however I have downloaded both Mono and VS multiple times the issue won't resolve

[2019-09-24 12:58] zspitz opened #3983 "Controlling the target framework and runtime identifier appended to the output path"
If I am using the new SDK project format, it's not enough to just set the output path, because by default the target framework -- and possibly the runtime identifier -- will be appended to the output path:

    bin/Debug/net472/MyProject.dll

To prevent this, you have to use `AppendTargetFrameworkToOutputPath` and `AppendRuntimeIdentifierToOutputPath` set to `false`.

https://stackoverflow.com/que

[2019-09-24 15:43] evanwindom commented on #3973
I am not a member of the docs org and cannot assign.  I have just submitted a PR to correct this article.

From: William Anton Rohm <notifications@github.com>
Sent: Monday, September 23, 2019 4:37 PM
To: MicrosoftDocs/visualstudio-docs <visualstudio-docs@noreply.github.com>
Cc: Evan Windom <Evan@reddoorcollaborative.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/visualstudi

[2019-09-24 15:46] desert-rover opened #3984 "c:\vsoffline folder"
After downloading the custom partial layout (C:\vsoffline), I copied that to a network location.  So would I then just need to copy that folder onto the C: drive of the computers that need VS 2019?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ff556dcf-4de1-8483-702a-73699062be1f
* Version Independent ID: cba846ae-6af

[2019-09-24 15:53] msebolt commented on #3982
@Issuesneedfixin Thank you for the question, we're sorry you're experiencing issues.

It looks like you need to use the [universal installer](https://visualstudio.microsoft.com/vs/mac/) mentioned in [this post](https://forums.xamarin.com/discussion/103004/installation-of-visual-studio-for-mac).

If that doesn't work, please have [this ticket item](https://developercommunity.visualstudio.com/conten

[2019-09-24 16:10] gmoore commented on #3963
Thanks William!

[2019-09-24 16:10] #3963 closed

[2019-09-24 16:50] #3983 closed

[2019-09-24 16:51] msebolt commented on #3983
@zspitz  Thank you for the feedback.

The documentation has been updated.

[2019-09-24 17:18] msebolt commented on #3984
@desert-rover  Thank you for the question.

You can either copy the folder or run it directly from the network location as in the example:

```\\server\products\VS\vs_enterprise.exe```

There should be no issues running it remotely for multiple installations.

[2019-09-24 17:24] PeterPann23 opened #3986 "simple brake over a loop causes the error"
var ix = 0;
                    for (var i=0; i &lt; sorted.Length; i++)
                    {
                        if (sorted[i].Id == best[0].Id)
                        {
                            ix = i;
                            break;
                        }
                    }

no need to crash and give the warning here

---
#### Document Details

⚠ *Do not edit this section. It

[2019-09-24 17:24] seaniyer commented on #3974
@MatejQ

Thanks for letting us know.  Sorry about the poor experience.  We are tracking an active issue for it here
https://developercommunity.visualstudio.com/content/problem/583234/error-signing-to-vs-feedback-tool.html

Please vote/follow the item so you'll be notified of progress updates.

Thanks
Sean
Visual Studio Feedback Team

[2019-09-24 17:30] msebolt commented on #3940
You're welcome, I see what you mean now.  The documentation has been updated.

[2019-09-24 17:38] #3940 closed

[2019-09-24 17:43] prelich opened #3987 "found the target extension"
The target extension in this guide moved from general to advanced.  Its in configuration properties -&gt; advanced -&gt; target file extension.  Probably not a big deal, but it took me a while to get back on the trail of this tutorial.  Thanks for making this by the way, it's really helpful for me.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2019-09-24 18:24] TerryGLee commented on #3974
@seaniyer Thanks for your response. We'll close this now, as it's being tracked to resolution in the Developer Community. And @MatejQ, thanks for letting us know!

[2019-09-24 18:24] #3974 closed

[2019-09-24 18:46] desert-rover commented on #3984
I'll give it a shot. Thanks!

[2019-09-24 19:10] ruirrrr opened #3988 "Can't store a table on SQL local server database"
I did what the article said and I even have a local SQL server database setup. However, when I right click on the Server Explorer Tables, then choose add a new table. A new table show up, however, it doesn't allow me to change the name on Properties and it won't save on the local server database.

When I save, it asks me to choose a local address for a dbo.Table file on my computer. Please advise

[2019-09-24 21:30] TerryGLee commented on #3803
@msbolt We've reviewed this and are adding some additional information, which should go live this afternoon.

@joshrpg Thanks for helping us improve our documentation!

[2019-09-24 21:34] #3803 closed

[2019-09-24 21:51] TerryGLee commented on #3733
@Spaze-Maurice Thanks for contacting us. You might have missed this note in the "How to update a network layout" section of the page, which describes the workaround for the issue that you've linked to. The note reads as follows:

![image](https://user-images.githubusercontent.com/23244653/65552876-6cbbe200-deda-11e9-8c07-e13ba64fe183.png)

Thanks for letting us know, though, about your experience.

[2019-09-24 23:21] JoshuaPartlow commented on #3160
@jelizaga3-gatech - As discussed in the referenced issue setting a custom test pattern is available as part of the 16.3 release of Visual Studio 2019 and the Unit Testing topic for Python has been updated. If you have any further problems, please feel free to open additional GH issues.

[2019-09-24 23:21] #3160 closed

[2019-09-25 01:04] gewarren commented on #3988
@ruirrr Which article are you following when you run into the problem?

[2019-09-25 06:14] rolfik opened #3990 "Build action Content does not work in .NET Standard 2 library"
Build action Content does nothing in .NET Standard 2 library:
- file is not copied to output folder when Copy to Output is None or default
- file cannot be read with Assembly.GetManifestResourceStream in .NET Standard 2 library

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 797c58ff-3694-adda-188b-4ec4d079bd5c
* Versio

[2019-09-25 06:21] Spaze-Maurice commented on #3733
I understand that new optional components are not added after updating a layout. But the described workaround does not work. Im not able to "Run a separate modify operation **after** an upgrade" because the upgrade itself is not working.

[2019-09-25 10:48] alelom commented on #3927
@taori THANK YOU! I've lost 2 days of research to no avail -- digging through all that mess of answers and information on these multi project templates on those suggested sites.
I am going to try your utility now.

[2019-09-25 13:42] alelom commented on #3927
This is so ridiculous. I've spent hours trying to solve the multi-project template structure, namely the now infamous "[weird additional folder](https://www.google.com/search?rlz=1C1GCEU_en-gb&sxsrf=ACYBGNR3KjT84KxrF2GPuaZzhW3uA0FjXQ%3A1569418785775&ei=IW6LXaX8LsfZgQbg6rzoCw&q=multi+project+template+visual+studio+weird+extra+folder&oq=multi+project+template+visual+studio+weird+extra+folder&gs_l=ps

[2019-09-25 15:08] taori commented on #3927
That "weird additional" made me result into writing this: https://github.com/taori/Amusoft.VisualStudio.Extensions/tree/master/src/Tooling so i can move folders to a new destination while altering the solution references.

Took me dozens of hours to develop it and moving it manually is probably faster... but hey... it was more fun than being annoyed by the folder structure? :laughing:

this really

[2019-09-25 15:27] alelom commented on #3927
That sounds great @taori -- any chance you could provide a bit of documentation on how to use the extension?

[2019-09-25 16:23] alessiot89 opened #3991 "Cannot distinguish project enums from external dependencies enums"
This will cause tons of C26812 warnings when using extenal enums (big examples: the entire winapi).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0a83d2a0-6bec-6e5e-516c-819e53ee3578
* Version Independent ID: 0f15f93e-f2ff-bf26-29c9-84e508006370
* Content: [c26812 - Visual Studio](https://docs.microsoft.com/en-us/visu

[2019-09-25 16:43] JordanMaples commented on #3991
You are correct. The goal is to help developers identify problems enums in their own code and then to encourage them to file bugs against the external API owners who are still using plain enums instead of class enums.

So in your example, you can file bugs on the WinAPI by visiting their developer community page. https://social.msdn.microsoft.com/Forums/windowsdesktop/en-US/home

[2019-09-25 17:10] blunted2night commented on #3991
Shouldn't this be a warning of the declaration of the enumeration, not the use? I have lots of warnings in my code for using different values from system provided enumerations. At least if they where on the declaration it would minimize noise, or I could suppress the warnings all togther when including the offending header files.

[2019-09-25 17:19] #3978 closed

[2019-09-25 17:27] JordanMaples commented on #3991
We're planning to start investigation on how to target the declarations instead, however the way the current check is implemented we can only detect the enum when it's used.

[2019-09-25 17:54] Faraz2018 commented on #2206
Well! Obviously the said article needs to be updated, it's worthy for sure!
However, while starting learning WPF with the same, came across to note that while I am debugging the same and the app is in running, at the same time if I change any value of a Northwind's table (via SSMS or Access Front-End) the WPF doesn't reflect the updated data via custViewSource.View.Refresh();
How to overcome this

[2019-09-25 21:48] WilliamAntonRohm commented on #3990
@rolfik -- Marek, thanks for your question. It looks like you're having an issue with the product itself, rather than an issue with the documentation. Here are a few options where you might consider asking your question:
•	[https://social.msdn.microsoft.com/Forums/vstudio](https://social.msdn.microsoft.com/Forums/vstudio)
•	[https://www.stackoverflow.com](https://www.stackoverflow.com)
•	[https://

[2019-09-25 21:48] #3990 closed

[2019-09-25 21:52] WilliamAntonRohm commented on #3991
@alessiot89 (@JordanMaples, @blunted2night) Thanks for your question. It looks like you're having an issue with the product itself, rather than an issue with the documentation. Here are a few options where you might consider asking your question:
•	[https://social.msdn.microsoft.com/Forums/vstudio](https://social.msdn.microsoft.com/Forums/vstudio)
•	[https://www.stackoverflow.com](https://www.stac

[2019-09-25 21:52] #3991 closed

[2019-09-25 22:13] TerryGLee commented on #3733
@Spaze-Maurice Thanks for the additional information. We'll investigate further.

[2019-09-25 23:16] TerryGLee commented on #3973
@yusuf-gunaydin The text on the page that mentions pricing has been corrected and the updated page is published. We'll close this issue now, with our thanks to you for helping us improve our documentation.

[2019-09-25 23:16] #3973 closed

[2019-09-25 23:23] Mikejo5000 commented on #3986
@PeterPann23 Thanks for your feedback. It looks like you'd like to see a change of behavior in the product. To make sure that this is logged in the right place, please use the [Report a Problem](https://docs.microsoft.com/visualstudio/ide/how-to-report-a-problem-with-visual-studio) tool to report the issue. When you do this, your report becomes part of the work items that are listed in the in the

[2019-09-25 23:23] #3986 closed

[2019-09-25 23:33] Mikejo5000 commented on #3964
@P13RC3 Can you provide a few details about your scenario? Are the current instructions incomplete for creating the file association? Thanks!

[2019-09-25 23:41] Mikejo5000 commented on #3909
I'll plan to recheck these instructions.

[2019-09-25 23:53] Mikejo5000 commented on #3853
Double quotes are not the right fix then. Are there scenarios where single quotes won't work?

[2019-09-25 23:56] Mikejo5000 commented on #3804
@djohansing This doc is published now and should clarify the issue:
https://docs.microsoft.com/en-us/visualstudio/debugger/xaml-hot-reload-troubleshooting?view=vs-2019#verify-that-you-are-using-the-correct-build-configuration-name

[2019-09-25 23:56] #3804 closed

[2019-09-25 23:57] Mikejo5000 commented on #3783
@olgaark for input

[2019-09-26 03:40] csm10495 opened #3994 "How do I use a local clone of the GTest Source Code"
Is there a way that I can have a pre-existing Clone of GTest and build it within my project then use it for tests (all in the same .sln)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0ee608ee-eb3f-e95d-1eea-d9e35a6e0bc0
* Version Independent ID: daf80b3e-5bf1-652c-d6a0-602c8bc2bb0c
* Content: [How to use Google Test

[2019-09-26 08:53] paulomorgado opened #3996 "Missing build customization properties"
Another way to customize the build of **C#** and **Visual Basic** projects is through the MSBuild properties:

* `CustomBeforeMicrosoftCommonProps`
* `CustomBeforeMicrosoftCommonTargets`
* `CustomAfterMicrosoftCommonProps`
* `CustomAfterMicrosoftCommonTargets`
* `CustomBeforeMicrosoftCSharpProps`
* `CustomBeforeMicrosoftVisualBasicProps`
* `CustomAfterMicrosoftCSharpProps`
* `CustomAfterMicrosoftV

[2019-09-26 11:24] ISAF87 commented on #2592
Currently I am still unable to open existing .dtproj files containing the SSIS packages in VS2019. I need to upgrade these SSIS packages to have them deployable through Azure devops. Any advice on how to proceed?

[2019-09-26 11:51] Mathias-Fuchs opened #3997 "This doesn't seem to work if the dll project is a CMake project generated by "open folder""
I want to debug a dll generated by a cmake project that is opened by the "open folder" command in visual studio.
I have a debugging exe that calls that dll. The steps above just don't work in that case, I can't add an exisiting project because for "open folder" projects the menu entry under File just isn't there.
Please udate these docs for cmake projects.

---
#### Document Details

⚠ *Do not edi

[2019-09-26 12:55] bgbruno commented on #3830
yes that "banality" is crucial to development omg - link is closed because not enough info wtf??? - make it happened ms - I cannot use your product from 2010 because many failings

[2019-09-26 12:56] bgbruno commented on #3830
would be great show some workaround like - open it through command line

[2019-09-26 15:53] djohansing commented on #3804
Thanks! Adding the tag to the .proj settings fixes the issue.

[2019-09-26 16:04] prisar opened #3999 "Pluralsight subscription is not available as a part of vs dev essentials"
Pluralsight subscriptions are not part of dev essentials. So please remove this documentation or state that it is not offered anymore.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 64e41abd-81dd-4dd2-d2d2-6bc513ad9e48
* Version Independent ID: 911d149e-8d78-b552-12a2-b061e2c1f41c
* Content: [Pluralsight benefit in Vis

[2019-09-26 16:18] evanwindom commented on #3999
@prisar - Thanks for reaching out.  Our documentation no longer covers the Visual Studio Dev Essentials program.  Our content is focused solely on Visual Studio subscriptions.  We use the "Eligibility" section of the benefits-related articles to indicate which subscriptions include each benefit.  In the case of the Pluralsight benefit, there's no mention of Dev Essentials in the table so there sho

[2019-09-26 16:19] chuckwolber opened #4000 "Incorrect Example"
In step 2 of the Integer Math example, the animated image is very obviously missing the "c = a + b" step. The code in the animation should not compile, let alone run.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f783f152-b26c-0ea4-8017-3929c7465368
* Version Independent ID: 8777c084-6578-8a7f-89db-80b3f9d547a7
* Cont

[2019-09-26 16:22] chuckwolber commented on #3630
My apologies for opening a ticket an issue along the same lines, I missed this before reporting. However, the purpose of the GIF is very obviously to show how to implement the example in all its glory. The GIF is simply incorrect and should be fixed.

[2019-09-26 16:28] Mikejo5000 commented on #2809
Currently out of scope to add a new getting started type topic.

[2019-09-26 16:28] #2809 closed

[2019-09-26 16:29] Mikejo5000 commented on #1190
Currently out of scope to add additional examples. See #2809

[2019-09-26 16:29] #1190 closed

[2019-09-26 16:32] TerryGLee commented on #3999
@evanwindom Thanks for your response; we'll close this issue now.

[2019-09-26 16:32] #3999 closed

[2019-09-26 16:52] TerryGLee commented on #3733
@tydunkel FYI

[2019-09-26 19:57] msebolt commented on #3997
@Mathias-Fuchs Thank you for the feedback, we're sorry you're having issues.

Which version of Visual Studio are you using?

This might be related to the [CMake debug issue](https://developercommunity.visualstudio.com/content/problem/82176/no-way-to-launchdebug-a-dll-from-cmake-open-folder.html) resolved from 2017.

Also, have you tried using **File** > **Open** > **CMake...** instead of **Open Fo

[2019-09-26 20:02] dotMorten commented on #1190
How's that out of scope to add a clearly missing example on a key feature in this doc?

[2019-09-26 20:17] SidShetye commented on #1908
When are you guys going to fill in the details for scope? For the following types:
- module
- resource
- type
- member

This ticket is from Nov '18 !

[2019-09-26 20:27] TerryGLee commented on #4000
Duplicate of https://github.com/MicrosoftDocs/visualstudio-docs/issues/3630

The animated GIF wasn't intended to duplicate the code preceding it; it was to show how auto-complete works.

However, we'll see what we can do to update the animated GIF.

[2019-09-26 20:38] Mikejo5000 commented on #1190
I mean out of scope based on our current available resources. If you would like to open a PR with an example, I can get it reviewed.

[2019-09-26 21:05] Mikejo5000 commented on #1414
Updated doc with info about the yellow and green borders.

The F1 keyword passed is generic, so I get the default F1 help page. To get an F1 keyword added in the IDE for these windows, please use the [Report a Problem](https://docs.microsoft.com/visualstudio/ide/how-to-report-a-problem-with-visual-studio) tool to report the issue. When you do this, your report becomes part of the work items that a

[2019-09-26 21:05] #1414 closed

[2019-09-26 22:01] Mikejo5000 commented on #1457
This topic has been updated for launch configurations for open folder:
https://docs.microsoft.com/en-us/cpp/build/open-folder-projects-cpp?view=vs-2017
Per MicrosoftDocs/cpp-docs#836, is that enough info to configure for the remote scenario?

[2019-09-26 22:42] Mikejo5000 commented on #3165
@srikcgaa2 Did @ps-gssleap 's suggestion work to resolve this?

[2019-09-26 23:07] mikeblome commented on #3994
@csm10495 The easiest way is to use the Google Test project template, but assuming that isn't an option for you, yes you can use your own clone of GTest and add it as you would add any other library. The Test Explorer will still be able to discover/execute those tests.

Here is an example of how to build with CMake which can generate .vcxproj files which can either be built once and explicitly ref

[2019-09-27 06:26] srinivasadnt3 commented on #1909
As part of Visual studio dev essentials popup content i see it  says "Online courses from Pluralsight, Xamarin University and more" is available but once i confirm and go to the page. I am not able to see Pluralsight subscription available there? Can you confirm if this program is completely removed?

[2019-09-27 08:15] pranshu-bst opened #4004 "CA1801: False alarm in wpf specially for DependencyPropertyChangedEventHandler"
Is there a specific reason that it can't ignore these type of events for WPF.
As I understand the warning is because DependencyPropertyChangedEventArgs is not derived from EventArgs.

What's the solution to this.?

[2019-09-27 09:35] willydavidjr commented on #1909
@srinivasadnt3 Unfortunately, Pluralsight is not available on Visual Studio Dev Essentials. You can see the eligibility list [here](https://docs.microsoft.com/en-us/visualstudio/subscriptions/vs-pluralsight).

![image](https://user-images.githubusercontent.com/20619236/65759248-14d8e180-e14d-11e9-8739-ad1a9e338c72.png)

Here are the only list available currently for Visual Studio Dev Essentials pr

[2019-09-27 10:43] KalleOlaviNiemitalo opened #4005 "VerifyFileHash task has no Items parameter"
The documentation of the VerifyFileHash task of MSBuild claims that it has an `Items` output parameter. However, the implementation does not support such a parameter.

(The GetFileHash task has an `Items` output parameter, as documented.)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ffa6013d-443a-570a-ca70-f3cad50a3b

[2019-09-27 10:48] KalleOlaviNiemitalo commented on #4005
The XSD changes that were made in microsoft/msbuild#4103 do not have a similar error.

[2019-09-27 12:45] bdschaap opened #4006 "Local Kubernetes Cluster?"
Does the Snapshot Debugger work for a local Kubernetes cluster?  I have both AKS and on-prem K8s clusters.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 508e3d40-6ffc-a548-522f-c8b60a5cfa2a
* Version Independent ID: 256e56a3-d604-541c-29db-62fcf59f5884
* Content: [Debug live ASP.NET Azure Kubernetes Services - Visual

[2019-09-27 13:35] petrroll commented on #1457
Seems ok, thanks!

[2019-09-27 13:35] #1457 closed

[2019-09-27 13:42] sirnumpty opened #4007 "Automate assigning subscriptions"
Is there an API for automating subscription assignments? It seems incongruous that assigning access to a primary the toolset used for creating automation cannot be automated...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec954beb-b170-4bf7-37e7-a7d7474c528b
* Version Independent ID: f9f87bac-6ec0-a386-403c-39469de44

[2019-09-27 14:05] csm10495 commented on #3994
Cool. I just didn't know if the test explorer would pick up on tested
without using the template if I manually pulled in the Google Test code.
Thanks!

On Thu, Sep 26, 2019, 4:07 PM Mike B <notifications@github.com> wrote:

[2019-09-27 15:15] evanwindom commented on #3910
@davidcorrigan714  - Are you talking about using the API to assign subscriptions, or Visual Studio IDE licenses specifically?

[2019-09-27 15:17] evanwindom commented on #3896
@jonwbstr - I've passed your feedback along to the Visual Studio marketing team for investigation.

[2019-09-27 15:21] evanwindom commented on #1909
@srinivasadnt3 - When you say "Visual studio dev essentials popup content", what content do you mean?  Where are you seeing it?

[2019-09-27 15:31] davidcorrigan714 commented on #3910
I'm referring to listing and assigning subscriptions. Basically all the REST endpoints available at https://manage.visualstudio.com/_apis/Agreement/ which I've never found docs for. Really just mentioning that the API Permission exist and applies to this page would go a long way. In my case we just needed a programmatic way to keep track of subscriptions against our HR database and there was no do

[2019-09-27 15:38] Mikejo5000 commented on #1457
OK, thanks. I'm adding a link to the C++ topic from this open folder topic in VS.

[2019-09-27 15:45] Mikejo5000 commented on #3997
@Mathias-Fuchs You might also check the procedures here to see if they work for your scenario. They are specific to open folder projects and C++.

https://docs.microsoft.com/en-us/cpp/build/open-folder-projects-cpp?view=vs-2017#configure-debugging-parameters-with-launchvsjson

Please let us know if you resolve the issue, and we can add appropriate links.

[2019-09-27 16:20] Mikejo5000 commented on #4005
@rainersigwald I don't see the Items parameter for VerifyFileHash here:
https://github.com/santoshyadav198613/msbuild/commit/4ce2cc85e41d8f57dd790faa18bb71499144dff7
Should it be removed from the VerifyFileHash doc?

[2019-09-27 16:24] rainersigwald commented on #4005
Cross-checked with https://github.com/microsoft/msbuild/blob/vs16.3/src/Tasks/FileIO/VerifyFileHash.cs and yes: it doesn't exist and should be removed.

[2019-09-27 16:27] KalleOlaviNiemitalo commented on #4005
An output parameter of type `ITaskItem[]` would not make sense anyway, when the `File` and `Hash` parameters do not support multiple values.

[2019-09-27 16:28] gewarren commented on #4004
@pranshu-bst I found what I think is your exact issue on the Roslyn-analyzers repo here: https://github.com/dotnet/roslyn-analyzers/issues/2458. It was marked as a duplicate of [this issue](https://github.com/dotnet/roslyn-analyzers/issues/2593), which suggests you name the parameters as discards `_` and `_1`.

Since this is not a documentation issue, I'm going to close this issue now.

[2019-09-27 16:29] gewarren commented on #4004
I'll keep this issue open to add this suggestion to the documentation.

[2019-09-27 16:31] Mikejo5000 commented on #4005
Updating doc...

[2019-09-27 16:49] mikeblome commented on #3994
Good! Let us know if you run into any issues.

[2019-09-27 16:49] #3994 closed

[2019-09-27 16:57] mikeblome commented on #3970
@hhoppe Thanks for the feedback. I have updated the topic with a link to the Wikipedia page on Object Slicing.

[2019-09-27 17:01] mikeblome commented on #3372
investigating

[2019-09-27 17:05] gewarren commented on #3971
It seems to me like the example in the unit testing best practices article should be updated. I logged an issue for that: https://github.com/dotnet/docs/issues/14747.

[2019-09-27 17:06] mikeblome commented on #3314
@rgatkinson apologies for delayed response. As this is potentially a product bug, the place to report it is at [Developer Community](https://developercommunity.visualstudio.com/spaces/62/index.html). The product team actively monitors incoming issues there. Thanks!

[2019-09-27 17:06] #3314 closed

[2019-09-27 17:09] mikeblome commented on #3677
@KevinCathcart thanks for the feedback. Topic has been updated.

[2019-09-27 17:11] #4005 closed

[2019-09-27 17:15] mikeblome commented on #3615
@mlop3s thanks for the feedback! Topic has been updated.

[2019-09-27 17:17] mikeblome commented on #3544
investigating

[2019-09-27 17:31] mikeblome commented on #3386
@tommai78101 thanks for the feedback. Topic has been updated.

[2019-09-27 17:32] #3385 closed

[2019-09-27 17:38] mikeblome commented on #3219
investigating

[2019-09-27 17:46] h3xp1017 commented on #3544
same issue

there is also inconsistency in msdn docs because /analyze article says that there should be a space between (https://docs.microsoft.com/en-us/cpp/build/reference/analyze-code-analysis?view=vs-2019)

while in warning article it suggests to use without space (https://docs.microsoft.com/en-us/visualstudio/code-quality/c6262?view=vs-2019)

anyway both is not working lold

[2019-09-27 17:48] gewarren commented on #3971
The suggestion is:

CA1707 is meant only for production code, so should be explicitly turned off for test projects using https://docs.microsoft.com/en-us/visualstudio/code-quality/use-roslyn-analyzers?view=vs-2019#rule-severity.

I'll update the doc with this.

[2019-09-27 18:00] mikeblome commented on #3148
repro confirmed

[2019-09-27 18:01] mikeblome commented on #3132
investigating

[2019-09-27 18:03] #3200 closed

[2019-09-27 18:40] gewarren commented on #3913
According to https://github.com/dotnet/roslyn/issues/38443#issuecomment-528142550 this option may go away in Visual Studio 2019 version 16.4. @ryzngard Can you clarify exactly what this option enables in the IDE? https://github.com/dotnet/roslyn/pull/35022 suggests Quick Info plus other things.

[2019-09-27 19:03] gewarren commented on #3851
@mavasani Should the [When to suppress warnings section](https://docs.microsoft.com/en-us/visualstudio/code-quality/ca2225-operator-overloads-have-named-alternates?view=vs-2019#when-to-suppress-warnings) be updated?

[2019-09-27 19:12] gewarren commented on #3791
Dupe of #3906.

[2019-09-27 19:40] gewarren commented on #3629
@peteroupc Sorry it took so long to reply. I'd say you should probably suppress the warning for the cases you described. Tagging @mavasani for comment too.

[2019-09-27 20:16] jasonmalinowski commented on #3913
We're planning on removing the checkbox in 16.4 with [this pull request](https://github.com/dotnet/roslyn/pull/38689). Turning the checkbox off only has the effect of not doing nullable analysis in the IDE, which is something we'd only tell users to do if something was broken and they were seeing perf/reliability issues. Assuming we're not seeing widespread issues it's being removed in 16.4.

[2019-09-27 20:33] TerryGLee commented on #4007
@sirnumpty Thanks for your inquiry.
@evanwindom For your review and comment.

[2019-09-27 20:36] TerryGLee commented on #3859
@tamatsuxyz This is under review; FYI.

[2019-09-27 21:05] KalleOlaviNiemitalo opened #4009 "File parameter of VerifyFileHash task is String, not ITaskItem"
The documentation of the VerifyFileHash task of MSBuild claims that it has a parameter with the name `File` and the type `ITaskItem`.  In the implementation however, the type of this parameter is `String`.  https://github.com/microsoft/msbuild/blob/vs16.3/src/Tasks/FileIO/VerifyFileHash.cs#L21

Also, the documentation describes this parameter as "The files to be hashed and validated." This is not

[2019-09-27 21:26] WilliamAntonRohm commented on #4006
@bdschaap Thanks for your question. It looks like you're having an issue with the product itself, rather than an issue with the documentation. Here are a few options where you might consider asking your question:​

[https://social.msdn.microsoft.com/Forums/vstudio](https://social.msdn.microsoft.com/Forums/vstudio)

[https://www.stackoverflow.com](https://www.stackoverflow.com)

[https://www.reddit

[2019-09-27 21:26] #4006 closed

[2019-09-27 21:59] Mikejo5000 commented on #4009
That looks like a string to me, too. @rainersigwald to verify before I update.

[2019-09-27 22:06] rainersigwald commented on #4009
That _should_ have been an `ITaskItem` but it isn't. Update away.

[2019-09-27 22:11] Mikejo5000 commented on #3251
Sounds like the scenario where you need to escape a double quote is a bit of a corner case. I'm thinking I will add it as a note.

[2019-09-27 22:19] Mikejo5000 commented on #3260
I believe this issue has been resolved with the clarification provided.

[2019-09-27 22:19] #3260 closed

[2019-09-27 22:23] Mikejo5000 commented on #3357
I think we're better off linking to NuGet docs from here. I'll update.

[2019-09-27 22:36] Mikejo5000 commented on #3375
@poppastring Mark, do we need any changes here? Or maybe this is too much of an implementation detail.

[2019-09-27 23:07] #3615 closed

[2019-09-27 23:07] #3677 closed

[2019-09-27 23:07] #3251 closed

[2019-09-27 23:07] #4009 closed

[2019-09-28 00:08] wjk opened #4011 "Sample links still point to code.msdn.microsoft.com"
What the title says, really. I'd appreciate it if the samples are moved elsewhere before the original site is closed. Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: caf3cc14-c914-da3a-b3ae-7e2d80712166
* Version Independent ID: 070a2258-3275-f62c-bb92-33067da26698
* Content: [Cross-Platform Mobile Development E

[2019-09-28 00:57] corob-msft commented on #4011
@wjk

Fear not, the samples will not disappear. They aren't being actively maintained or supported, so they won't go in the [docs.microsoft.com/samples](https://docs.microsoft.com/en-us/samples/browse/) browser. Instead, they'll be available in an archive repo on GitHub. I'll update the links when the repo is populated. I'm not sure when that's supposed to happen yet.

[2019-09-28 04:12] cbordeman opened #4012 "Item doesn't show in Add New Item"
Got some troubleshooting advice?  I use the wizard and verified it imported the exported item template, yet in the Add New Item dialog it's nowhere to be found. I restarted VS!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8e44d5ce-a797-8367-d4d0-0c3a29f0b18c
* Version Independent ID: d3203ea3-2a1b-f418-62a9-0024c5e03

[2019-09-28 08:36] Kissaki opened #4013 "Use of const directly contradicts documentation on C# const keyword"
This 'use const' rule takes a practical approach with focus on performance.

However, it directly contradicts the documentation on the C# `const` keyword.

From the const keyword documentation:

By this definition const should *not* be used for all static readonly strings in general.

This documentation should at least mention this opposed interest and argue when it makes sense anyway, or when it

[2019-09-30 09:08] ThiloE commented on #1880
Thanks, @JoseRaul1991!
Just a remark: Take care to insert the <Literal> element inside the <Snippet> element.

[2019-09-30 09:23] HaashimButt167 commented on #741
hi there m new here its my first time on github platform...
well i wanna know i want to install vs2017 offline. Issue is my internet is so slow and i want to install vs2017 in my computer lab in which there are more than 50 computers so my question is.. is this article solve my problem or not ???

[2019-09-30 09:31] HaashimButt167 commented on #741
![Untitled](https://user-images.githubusercontent.com/55978107/65866737-c61a8a00-e38e-11e9-8795-ac76a8c51000.png)
look here i am following the same 5 instructions... !!
after this i just have to copy this vs2017 folder to where i want to install and run the setup file is that right ????

[2019-09-30 14:33] momchilstefanov opened #4014 "Missing Prerequisites element section description"
I've been interested in understanding the function of the Version attribute of the Prerequisite element in the VSIX extension schema 2.0 reference but the document is actually missing the entire Prerequisites element section.

We have ASP.NET Core VS extension which targets VS2017 and VS2019 and supports both .NET Core 2.1 and .NET Core 3.0 projects. We were using "Microsoft.NetCore.ComponentGroup

[2019-09-30 15:28] HollandRisley opened #4015 "This page needs more information"
Hi, I have followed this page to the letter, and it is good to this point. But, I am now stuck, I have hit 'Debug' and my application has gone into a running :dev container, but that's all.

This article doesn't describe what is happening when you press "Debug" on the Docker Compose project. Is it actually debugging? It doesn't hit breakpoints if it us.. What is the difference between creating a D

[2019-09-30 15:57] msebolt commented on #4012
@cbordeman Thank you for the feedback, we're sorry your experiencing issues.

A few things to double-check...

- Verify the template is located in the correct folder, for example, `%USERPROFILE%\Documents\Visual Studio <version>\My Exported Templates`

- Check you're working with the correct version of Visual Studio (if multiple versions are installed)

- Make sure your `<TemplateID>`, `<ProjectTy

[2019-09-30 16:29] Djmattkoma opened #4016 "sos"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72292f7a-7616-4727-ccd3-cf44bb130477
* Version Independent ID: fe3cca82-dfd7-a85c-ab4f-014bc546d668
* Content: [A process has encountered an unrecoverable error - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/ide/not-in-toc/visual-studi

[2019-09-30 17:03] msebolt commented on #4014
@momchilstefanov Thank you for the feedback.

It sounds like the [VSIX extension schema reference](https://docs.microsoft.com/en-us/visualstudio/extensibility/vsix-extension-schema-2-0-reference?view=vs-2019) should be updated to include `Prerequisites`, assigning the author now.

Using multiple versions of Visual Studio sounds like an issue for the product team, please consider moving the issue t

[2019-09-30 17:09] madskristensen commented on #4014
What version of Visual Studio has the `Prerequisites` element missing from the schema? It should be there in VS2017 and newer

[2019-09-30 17:13] #3357 closed

[2019-09-30 17:13] #3906 closed

[2019-09-30 17:13] #3791 closed

[2019-09-30 17:25] msebolt commented on #4014
It's missing from the schema reference, not listed in https://docs.microsoft.com/en-us/visualstudio/extensibility/vsix-extension-schema-2-0-reference?view=vs-2019.
________________________________
From: Mads Kristensen <notifications@github.com>
Sent: Monday, September 30, 2019 10:09 AM
To: MicrosoftDocs/visualstudio-docs <visualstudio-docs@noreply.github.com>
Cc: Matthew Sebolt (Aquent LLC) <v-ma

[2019-09-30 17:35] msebolt commented on #3982
Closing the issue now, please comment below if there are questions.

[2019-09-30 17:36] #3984 closed

[2019-09-30 17:44] #3982 closed

[2019-09-30 18:25] mairaw opened #4018 "Breadcrumb has broken links"
Getting started link is broken

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 329e32a3-766c-1739-022b-5d1a8bc6f4aa
* Version Independent ID: d74a678c-d9b5-90c4-cd63-8451fefaa887
* Content: [Hello World app with WPF in C# - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/get-started/csharp/tutorial-wpf?toc=

[2019-09-30 18:28] JoshuaPartlow commented on #3987
Hi @prelich, thanks for trying the tutorial and opening an issue when you found a problem. Could you tell me which version of Visual Studio you're using?

[2019-09-30 18:31] TerryGLee commented on #3630
@msebolt This does not need to be reopened; I will address it with #4000 - Thanks.

[2019-09-30 18:31] #3630 closed

[2019-09-30 18:35] ghost opened #4019 "Button_Click event does not work"
@showery-hwang commented on [Mon Sep 30 2019](https://github.com/MicrosoftDocs/visualstudio-docs.ja-jp/issues/1853)

I tried to make it as in the tutorial, but when I click the "Display" button, nothing is displayed. Looking at debugging, it seems that Button_Click method is not entered. Is something wrong?

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

*

[2019-09-30 18:36] lichasu commented on #4019
Hi team,

Please check this issue. The user finds out why it wasn't working.

Thanks!

[2019-09-30 18:59] msebolt commented on #4016
@Djmattkoma Thank you for the feedback.

Can you please elaborate on the issue?

[2019-09-30 18:59] TerryGLee commented on #4018
@mairaw The version of this page in the Visual Studio library works fine:

![image](https://user-images.githubusercontent.com/23244653/65907687-aaf14f80-e379-11e9-9856-1eaaa8322fd6.png)

It's the version in the .NET library that includes the broken breadcrumb:

![image](https://user-images.githubusercontent.com/23244653/65907563-6d8cc200-e379-11e9-80aa-ff4f41c4515f.png)

[2019-09-30 21:17] prelich commented on #3987
Sure:  Microsofgt Visual Studio Professional 2019
Version 16.3.0

Target File Extension on superfastcode(2) project was found in
Configuration Properties-->Advanced-->Target File Extension

On Mon, Sep 30, 2019 at 2:28 PM Joshua Partlow <notifications@github.com>
wrote:

[2019-09-30 22:55] mairaw commented on #4018
Sorry @TerryGLee, I didn't realize this feedback came to this repo. Yes, this should be fixed in our repo.

[2019-09-30 22:55] #4018 closed

[2019-09-30 22:57] mikeblome commented on #3307
@laro88 according to dev team, setting max duration for individual tests is not supported for native C++.  If you like, you can go to [Visual Studio developer community](https://developercommunity.visualstudio.com/spaces/62/index.html) and file a feature request. Sorry we don't have a better answer here.

[2019-09-30 22:57] #3307 closed

[2019-09-30 22:58] mikeblome commented on #3308
@Laro88 see my reply on your other issue. Unfortunately this is not supported for native C++.

[2019-09-30 22:58] #3308 closed

[2019-09-30 23:24] #3609 closed

[2019-09-30 23:25] TerryGLee commented on #3609
@Tu9a2 We've got a PR staged that will fix the issues you identified in this issue; the revised page should go live tomorrow by noon. Thanks for helping us improve the documentation!

[2019-09-30 23:31] hwisungi commented on #3219
These annotations apply to Concurrency Check. Can we ask the customer to enable one of the following rules and retry?
- Microsoft All Rules
- Concurrency Rules
- Concurrency Check Rules

BTW, Microsoft Native Recommended and Microsoft Minimum Rules do not generate concurrency warnings.

I would expect customers who are interested in Concurrency warnings know how to run the analysis to get concurre

[2019-09-30 23:32] hwisungi commented on #3219
BTW, here are the example warnings:
Source3.cpp(25): warning C26105: Lock order violation. Acquiring lock 'gMutex' with level "MutexLockLevel" causes order inversion.
Source3.cpp(26): warning C26105: Lock order violation. Acquiring lock 'pTunnel->cs' with level "TunnelLockLevel" causes order inversion.
Source3.cpp(28): warning C26165: Possibly failing to release lock 'gMutex' in function 'OrderInv

[2019-09-30 23:53] hwisungi commented on #3219
As for the reference to "_Set_lock_level_order_" in the description should be changed to _Lock_level_order_ as pointed out by the customer.

[2019-10-01 00:26] TerryGLee commented on #365
@l0calh05t @JVimes This issue has been open for some time now; apologies for that. However, since this issue was originally posted, we've made changes to the documentation so that it includes more references to Build Tools (for example, the [Create an offline installation of Visual Studio](https://docs.microsoft.com/visualstudio/install/create-an-offline-installation-of-visual-studio) page now lis

[2019-10-01 00:26] #365 closed

[2019-10-01 02:32] gewarren commented on #3913
Closing this issue since we're not going to document the checkbox due to its short life.

[2019-10-01 02:32] #3913 closed

[2019-10-01 02:34] gewarren commented on #3876
Verified the new behavior so closing this issue.

[2019-10-01 02:34] #3876 closed

[2019-10-01 02:38] gewarren commented on #3289
@bradleyscollins @bryanfarrell Are you still having problems with Report a Problem?

[2019-10-01 02:45] gewarren commented on #3245
Closing since it sounds like all issues here are resolved. @largeDachshund If you were not able to log your issue using Visual Studio Installer, please comment here.

[2019-10-01 02:45] #3245 closed

[2019-10-01 02:51] gewarren commented on #3133
@buzzwick I understand your point, and recently removed some of the examples that were, as you describe, recipes as opposed to special regular expression syntax. Hopefully this reads better and is less confusing.

[2019-10-01 02:51] #3133 closed

[2019-10-01 03:01] gewarren commented on #3746
For 16.3 the Test menu has been fully restored. The screenshot was updated to match 16.3.

[2019-10-01 03:01] #3746 closed

[2019-10-01 05:48] rygar08 opened #4021 "Broken Link: Microsoft Support Article 925521"
Hi, Can you please fix the broken link in the "Update expired certificates" section.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 639bf0f8-bebf-85f1-a66d-1195cc9dddd4
* Version Independent ID: 33414069-c000-92f4-2b38-63bd7c0213bb
* Content: [ClickOnce and Authenticode - Visual Studio](https://docs.microsoft.com/en-us

[2019-10-01 06:43] marhja opened #4022 "CA warnings from code analyzers shown as errors after migration"
When migrating to code analyzers our legacy code analysis warnings changed to errors. We soon realized it was because we have set "Treat warnings as errors" under Build Properties for our projects in Visual Studio. But it was a surprise since it seems to be undocumented here.

We thought having compiler warnings as errors, code analysis violations as warnings and style violations as messages worke

[2019-10-01 09:15] pappasa opened #4023 "Shimming System.Environment"
I am trying to shim System.Environment:

Dim args = {"a", "b", "c", "d", "e")}
System.Fakes.ShimEnvironment.GetCommandLineArgsGet =
                Function() As String()
                    Return args
                End Function

However I get the compilation error:

error BC30456: 'ShimEnvironment' is not a member of 'System.Fakes'.

How can I shim System.Environment?

---
#### Document Detail

[2019-10-01 10:46] rs38 opened #4024 "Profiler Marks View not working as expected"
I want to create a filter between two marks, select the marks, right-click, and then there is only "copy". No "Add Filter by Marks" or "Add Filter by Timestamp" as documented.
Tested with VS 2019.3 and VS 2017.9 and Sampling als well as Instrumented Profiler analysis

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ecfef

[2019-10-01 13:44] pappasa commented on #4023
As suggested in https://social.msdn.microsoft.com/Forums/vstudio/en-US/b49e9f5d-0e57-46b1-8ced-f3231db5e813/cannot-find-a-shim-for-systemenvironmentmachinename-etc?forum=vsunittest

I had to add to mscorlib.fakes the following:

  <ShimGeneration>
    <Add FullName="System.Environment"/>
  </ShimGeneration>

[2019-10-01 13:44] pappasa commented on #4023
<ShimGeneration>
    <Add FullName="System.Environment"/>
  </ShimGeneration>

[2019-10-01 15:39] Mikejo5000 commented on #4021
@rygar08 Thx! I'll get it updated.

[2019-10-01 17:19] WilliamAntonRohm commented on #4022
@marhja -- Markus, thank you for your feedback.  Here are a few options where you might consider asking your question:​

[https://social.msdn.microsoft.com/Forums/vstudio](https://social.msdn.microsoft.com/Forums/vstudio)

[https://www.stackoverflow.com](https://www.stackoverflow.com)

[https://www.reddit.com/r/VisualStudio/](https://www.reddit.com/r/VisualStudio)

As well, you might also consider

[2019-10-01 17:25] WilliamAntonRohm commented on #2943
@damon8or -- Thanks for your question. Here are a few options where you might consider asking your question:​

[https://social.msdn.microsoft.com/Forums/vstudio](https://social.msdn.microsoft.com/Forums/vstudio)

[https://www.stackoverflow.com](https://www.stackoverflow.com)

[https://www.reddit.com/r/VisualStudio/](https://www.reddit.com/r/VisualStudio)

As well, you might also consider using the

[2019-10-01 17:25] #2943 closed

[2019-10-01 18:53] i-b1 opened #4027 "xUnit Test Generator extension not updated for VS 2019"
There is another one at https://marketplace.visualstudio.com/items?itemName=YowkoTsai.xUnitnetTestGenerator.  Perhaps should be linked as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30b8edaf-7667-a3e6-38dc-371c53bcd386
* Version Independent ID: 580e757e-8ce7-1437-3843-c88ff4f3ab54
* Content: [Generate unit tes

[2019-10-01 19:02] gewarren commented on #4022
@mavasani Is it possible to have compiler warnings treated as errors but not code analyzer warnings?

[2019-10-01 19:06] mavasani commented on #4022
Yes, users can set the following MSBuild property in their project file:

[code]

Please ensure that the above property is set prior to the imports for the FxCopAnalyzers props file.

[2019-10-01 19:31] ideoclickVanessa opened #4028 "Way to not flag internal classes instantiated via builtin DI framework?"
Is there a way to get this warning to suppress itself when the class is instantiated via Dependency Injection?

I have a class defined like so:
`internal sealed class CurrentUserService : ICurrentUserService`

that triggers this warning.  However, I also have another class in the assembly like this:
[code]

Instead of completely suppressing the warning (since 95% of my classes setup this way are u

[2019-10-01 19:31] mavasani commented on #4022
FYI: To work around the bug I mentioned above, you can do the following:

1. Add the Directory.build.props file with the contents above.
2. Add an explicit `Import` for the props file prior to the PackageReference:

[code]

This will generate an MSBuild warning as follows, which can be ignored:
[code]

[2019-10-01 20:16] masters3d opened #4029 "I do not see Kubernetes"
Only Fabric and docker

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25b96907-35cf-ff1f-d7ad-a231aa78418b
* Version Independent ID: 620e59a0-5658-9a05-c177-8d0687656e2a
* Content: [Kubernetes tools tutorial - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/containers/tutorial-kubernetes-tools?view=vs-2019

[2019-10-01 20:16] masters3d commented on #4029
![image](https://user-images.githubusercontent.com/6539412/65997125-a5653980-e44d-11e9-8c56-0c40b9a3d3d2.png)

[2019-10-01 20:18] ideoclickVanessa opened #4030 "Way to suppress this rule for Controller Action Result methods?"
Is there a way to suppress this warning for Controller Action Result methods?

My action results methods look something like:
[code]
which triggers this warning twice for the `await` line.  However, this is a false positive as both the Controller's Model Binding and FluentValidation ensures that the input parameters are non-null before reaching the method body.

---
#### Document Details

⚠ *Do no

[2019-10-01 21:20] masters3d commented on #4029
I upgrade my visual studio and now only see one.
![image](https://user-images.githubusercontent.com/6539412/66001557-8dde7e80-e456-11e9-931d-031fd41ca340.png)

[2019-10-01 22:16] WilliamAntonRohm commented on #4028
@ideoclickVanessa -- Thanks for your question. It looks like you're having an issue with the product itself, rather than an issue with the documentation. Here are a few options where you might consider asking your question:​

[https://social.msdn.microsoft.com/Forums/vstudio](https://social.msdn.microsoft.com/Forums/vstudio)

[https://www.stackoverflow.com](https://www.stackoverflow.com)

[https:/

[2019-10-01 22:16] #4028 closed

[2019-10-01 22:19] WilliamAntonRohm commented on #4029
@masters3d -- Thanks for your question. It looks like you're having an issue with the product itself, rather than an issue with the documentation. Here are a few options where you might consider asking your question:​

[https://social.msdn.microsoft.com/Forums/vstudio](https://social.msdn.microsoft.com/Forums/vstudio)

[https://www.stackoverflow.com](https://www.stackoverflow.com)

[https://www.re

[2019-10-01 22:19] #4029 closed

[2019-10-01 22:20] WilliamAntonRohm commented on #4030
@ideoclickVanessa -- Thanks for your question. It looks like you're having an issue with the product itself, rather than an issue with the documentation. Here are a few options where you might consider asking your question:​

[https://social.msdn.microsoft.com/Forums/vstudio](https://social.msdn.microsoft.com/Forums/vstudio)

[https://www.stackoverflow.com](https://www.stackoverflow.com)

[https:/

[2019-10-01 22:20] #4030 closed

[2019-10-01 23:05] masters3d commented on #4029
Documentation says that I can do this. Are there limitations ?
![image](https://user-images.githubusercontent.com/6539412/66006908-38f63480-e465-11e9-9929-bb39723b29d9.png)

[2019-10-01 23:17] seaniyer commented on #3572
@Ma-XX-oN

In Visual Studio when you open Feedback tool (by selecting 'report a problem') the initial view is 'Items I follow'.  This view contains items either you reported or follow.  Although we don't have a view that is exclusively items reported, that is the closest available at this time.

On the web 'Items I follow' is available under Sign in control located at the very top right at https:/

[2019-10-01 23:18] #3572 closed

[2019-10-01 23:27] mikeblome commented on #3372
Added a link to Annotating Locking Behavior for a list of lock-related annotations. https://docs.microsoft.com/en-us/visualstudio/code-quality/annotating-locking-behavior?view=vs-2019

[2019-10-01 23:27] #3372 closed

[2019-10-01 23:33] mikeblome commented on #3544
@h3xp1017 thanks for the feedback. This sounds like a product issue so I'm going to close this documentation bug. The developer team has requested that you file an issue on [Visual Studio Dev Community](https://developercommunity.visualstudio.com/spaces/62/index.html) with a code example that shows the behavior. Thanks!

As for the space between /Analyze:xxxx option and the option’s value, it is o

[2019-10-01 23:33] #3544 closed

[2019-10-01 23:49] LegoSCCMGuy opened #4032 "when the EMS benefit will again be available for activation"
Is there an updated timeline on when the EMS benefit will again be available for activation?

[2019-10-02 01:01] gewarren commented on #4027
@i-b1 Thanks for pointing this out. It looks like it doesn't work with Visual Studio 2017 either? Also, the extension from Yowko Tsai says it doesn't support IntelliTest, so we can't link to that one from this topic.

[2019-10-02 01:04] gewarren commented on #4016
Closing until we get further details.

[2019-10-02 01:04] #4016 closed

[2019-10-02 01:41] i-b1 commented on #4027
Unfortunately you are correct. Old extension did not work in VS2017/2019. New extension can generate unit test via UI command, but does not support IntelliTest (yet). I think that ASP.NET team uses xUnit, so the lack of support is surprising. I do not see a good solution except unlinking of old extension for the time being.

[2019-10-02 01:54] gewarren commented on #3632
Closing as there doesn't seem to be anything to document.

[2019-10-02 01:54] #3632 closed

[2019-10-02 06:02] dpaulino opened #4033 "In a UWP project, how to set the environment variable ENABLE_XAML_DIAGNOSTICS_SOURCE_INFO?"
In a UWP project, how does one set the environment variable ENABLE_XAML_DIAGNOSTICS_SOURCE_INFO?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8368af75-bb65-b3bc-bcbc-67a2739e5bc3
* Version Independent ID: f6142191-d659-83f2-76a2-6b8afda90774
* Content: [Troubleshooting XAML Hot Reload - Visual Studio](https://docs.mi

[2019-10-02 07:51] tyotypic commented on #3219
Hi. Thank you for pointing out that I was using the wrong ruleset. On "Microsoft All Rules", the code snippet produces the expected warnings. I am very satisfied now that I can begin to annotate my legacy codebase with locking levels.

I would strongly agree with adding some template text on concurrency checker documentation. I approached these concurrency annotations through the more general SAL

[2019-10-02 11:38] tamatsuxyz commented on #3859
thanks!

[2019-10-02 14:58] TanvirArjel opened #4034 "How to suppress CA2007 Warning!"
Documentation said:

 But did not tell how to suppress this.  Would any anybody tell how can I suppress this in ASP.NET Core Application from `.editorconfig`?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 02d637a6-6f73-c865-94ea-28ca5d9861a0
* Version Independent ID: df24f234-848f-e04c-488d-6b6346e51fa6
* Content: [CA

[2019-10-02 15:25] bradleyscollins commented on #3289
I'm afraid I am. I have done repairs, reinstallations, and version upgrades, but nothing seems to fix it.

When I click **Help > Send Feedback > Report a Problem ...**, a window starts to appear and then immediately disappears.

[2019-10-02 15:39] msebolt commented on #4032
@LegoSCCMGuy Thank you for the question.

EMS author @evanwindom should know more about this.

[2019-10-02 15:43] evanwindom commented on #4007
@sirnumpty - Thank you for reaching out.  I reached out to our subscriptions engineering team, and we don't have currently anything available for customers to use to automate assignments.  We've had several similar requests lately, and I'll definitely keep an eye out for any news.  If something become publicly available, I'll post updates here.

[2019-10-02 15:46] Mikejo5000 commented on #4033
@LyalinDotCom for input

[2019-10-02 15:54] evanwindom commented on #4032
@LegoSCCMGuy - Thanks for reaching out.  We're making progress here and anticipate a resolution soon.  Thanks for your patience.

If you haven't already activated the Office 365 Developer subscription, there's a new benefit that will solve this issue for you.  We're now offering Microsoft 365 (M365), which includes both the Office 365 Developer and EMS benefits.  Look for the Microsoft 365 benefit

[2019-10-02 16:39] behealed opened #4035 "Doesn't work if using window's high contrast theme"
If you set Windows 10 to High Contrast theme, then the Color Theme dropdown box inside VS2019 described on this page (under Environment-&gt;General) is greyed out and cannot be changed. And visual studio will appear all in black and white, and all your source code will be in white colored text only, which makes it slow and much more difficult to read your code. You lose all the colorization of you

[2019-10-02 16:43] lichasu opened #4036 "wrong instructions in step 7, missing: need to copy also the definition of make_dot_string to the interactive window"
@aisbergde commented on [Wed Oct 02 2019](https://github.com/MicrosoftDocs/visualstudio-docs.de-de/issues/66)

if following the instruction in step 7 it will not work:
only bring the import part to the interactive Window and then to call the function will not work.

In the instruction you should write, that not only the import and from needs to be transfered to the interactiv window, but also the

[2019-10-02 16:43] lichasu commented on #4036
Hi team, please check this issue.

Thanks!

[2019-10-02 16:46] ghost opened #4037 "You should add information how to not execute the line but to add a new line to get the "...""
@aisbergde commented on [Wed Oct 02 2019](https://github.com/MicrosoftDocs/visualstudio-docs.de-de/issues/65)

at 4:
When writing a multi-line statement, such as a function definition, the interactive window will display the Python ... prompt to resume the lines, which provides automatic indenting, as opposed to command line REPL:

You should add information how to not execute the line but to add

[2019-10-02 16:47] lichasu commented on #4037
Hi team, please check this issue.

Thanks!

[2019-10-02 17:23] gewarren commented on #3289
@bradleyscollins Have you been able to report the "Report a Problem" issue using the report a problem feature in Visual Studio Installer?

![image](https://user-images.githubusercontent.com/24882762/66066555-9ab6ad00-e4fe-11e9-8f72-55ead56c02e3.png)

[2019-10-02 18:06] evanwindom commented on #4007
#please-close

[2019-10-02 18:06] #4007 closed

[2019-10-02 19:01] msebolt commented on #4035
@behealed  Thank you for the feedback.

Unfortunately this is an issue only the product team can handle, however there's a [current thread](https://developercommunity.visualstudio.com/idea/527413/visual-studio-forces-the-user-to-use-its-high-cont.html) available for you to cast your vote, comment, etc.

[2019-10-02 19:09] gewarren commented on #3873
@mavasani Hi Manish. I see that 2.9.5 is released, but I'm not finding the embedded configuration file. Is it in the 'editorconfig' folder?

[2019-10-02 19:11] msebolt commented on #4034
@TanvirArjel  Thank you for the question.

Does [manually configure rule severity](https://docs.microsoft.com/en-us/visualstudio/code-quality/use-roslyn-analyzers?view=vs-2019#manually-configure-rule-severity) not apply?

Assigning this to the author now.

[2019-10-02 19:13] mavasani commented on #3873
@gewarren it should be in `.nuget\packages\microsoft.codeanalysis.fxcopanalyzers\2.9.5\documentation\Analyzer Configuration.md`

As an aside, we should also document the embedded helper editorconfig files analogous to the helper rulesets inside `\.nuget\packages\microsoft.codeanalysis.fxcopanalyzers\2.9.5\editorconfig`. Do you want me to file a separate issue at https://docs.microsoft.com/en-us/vi

[2019-10-02 20:03] msebolt commented on #4036
The documentation has been updated.

[2019-10-02 23:12] #3970 closed

[2019-10-03 00:03] msebolt commented on #4036
Need to clarify the second statement further, PR pending.

[2019-10-03 03:28] TanvirArjel commented on #4034
@msebolt Thank you. Your specified link helped me. I have done this as follows:

[code]

It should have been mentioned in this documentation.

[2019-10-03 13:08] peteroupc opened #4047 "CA1001: Allow this rule to be suppressed for types without dispose ownership"
The statement "Do not suppress warning from this rule" on this page may be too strict.  Rather, this warning should be suppressable if the type in question does not have _dispose ownership_, as defined in and allowed by the documentation for CA2213.  Additionally, I believe that a type that&mdash;

- takes an `IDisposable` object as a constructor argument, and stores that argument in a `readonly`

[2019-10-03 13:20] peteroupc commented on #4047
I have become aware that CA2213 has special rules for so-called _dispose ownership transfer_ that applies to certain `IDisposable` types, notably `System.IO.Stream`.  However, I believe this dispose ownership rule should not apply if _nothing_ in the assembly created the `IDisposable` object in question.

[2019-10-03 15:31] tommai78101 commented on #3385
@mikeblome Yep, it does. I'm assuming that, as this ticket is closed, in the near future, the documentation article will reflect this. Thanks.

[2019-10-03 15:36] tommai78101 commented on #3386
Thank you. I'm assuming it's still ongoing, hence the ticket is staying open. Let me know if it's my responsibility to close this ticket, or it's the maintainers' responsibility.

[2019-10-03 16:24] gewarren commented on #4047
@peteroupc I think the statement in [when to suppress a warning](https://docs.microsoft.com/en-us/visualstudio/code-quality/ca2213-disposable-fields-should-be-disposed?view=vs-2019#when-to-suppress-warnings) for CA 2213 covers this case:

"The flagged type is not responsible for releasing the resource held by the field (that is, the type does not have dispose ownership)"

@mavasani Should I update

[2019-10-03 16:26] mavasani commented on #4047
Sounds reasonable to mention that either of these rules can be suppressed when the dispose ownership of field(s) is not held by the containing type.

[2019-10-03 16:55] chuckwolber opened #4048 "Visual Sudio for macOS Guidance"
This page appears to be geared towards the Windows version of Visual Studio. For example "On the File menu, select Add &gt; New Project." does not match what is found in the macOS version of Visual Studio. The "tip" below the aforementioned guidance, however, does. This seems more like an afterthought, rather than a concerted effort to document Visual Studio for all supported platforms.

I congrat

[2019-10-03 17:08] WilliamAntonRohm commented on #4032
I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2019-10-03 17:08] #4032 closed

[2019-10-03 18:02] gewarren commented on #4034
@TanvirArjel Thanks, that is a good suggestion.

[2019-10-03 18:18] ghogen commented on #3871
I think the docs are correct and it's not supported in the current product design. You're welcome to submit a feature request - please file at https://developercommunity.visualstudio.com/spaces/8/index.html?all

[2019-10-03 18:18] #3871 closed

[2019-10-03 18:39] Anapo14 opened #4050 "Update Screenshots on Testing Page"
The screenshots on [this ](https://docs.microsoft.com/en-us/visualstudio/python/unit-testing-python-in-visual-studio?view=vs-2019)page below the section **Run Tests**, should be updated to reflect the new VS 2019 UI. The ones above it are updated.

[2019-10-03 19:15] mikeblome commented on #3386
@tommai78101 that's typically my job although you can also close it if resolved to your satisfaction. I sometimes leave the issue open until the fix is live, which sometimes takes a day or so. Thanks again for helping to improve the documentation.

[2019-10-03 19:15] #3386 closed

[2019-10-03 19:26] JVimes commented on #365
Thanks. So, it looks like the answer is, "specific versions of vs_buildtools.exe (no earlier than April) are [**here**](https://docs.microsoft.com/en-us/visualstudio/releases/2019/history#release-dates-and-build-numbers)".

[2019-10-03 19:32] TerryGLee commented on #365
@JVimes The list is specific to Visual Studio 2019, by design. Unfortunately, we don't have an equivalent for earlier versions, other than what's offered here: https://visualstudio.microsoft.com/vs/older-downloads/

[2019-10-03 19:36] TerryGLee commented on #365
@JVimes Also, see the "Support for older versions of Visual Studio" section of the [Visual Studio Product Lifecycle and Servicing](https://docs.microsoft.com/en-us/visualstudio/releases/2019/servicing#support-for-older-versions-of-visual-studio) page for additional info.

[2019-10-03 19:42] mikeblome commented on #3219
thanks @tyotypic for your helpful feedback. I have updated the topics you refer to and will update the individual warning topics when I get a list of which ones require the Concurrency rule sets. Fix should be live in a couple of days.

[2019-10-03 19:42] #3219 closed

[2019-10-03 19:45] JVimes commented on #365
Oh that makes sense. Thanks 🙂

[2019-10-03 19:55] mikeblome commented on #677
topic has been updated to mention enable_testing()

[2019-10-03 19:55] #677 closed

[2019-10-03 19:56] #2004 closed

[2019-10-03 22:07] evanwindom commented on #3910
@davidcorrigan714 - Hi David.  We don't have anything publicly available to manage subscriptions through an API.  Our engineering team is interested in hearing from you about your use case, etc.  If you're interested in working with them, please email vssub_team@microsoft.com.

[2019-10-03 22:07] evanwindom commented on #3910
#please-close

[2019-10-03 22:07] #3910 closed

[2019-10-04 08:42] gfox1984 opened #4053 "Paths are wrong on 64bits computers"
Paths on 64bits computer are wrong. Seems to be in there: C:\Program Files (x86)\Microsoft Visual Studio\Shared\Common\VSPerfCollectionTools\x64

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 19fc0b32-aa03-b072-067c-f3d961dca152
* Version Independent ID: 6299d0c5-d674-7e2f-8d3d-4ba097d2ea52
* Content: [Specifying the P

[2019-10-04 12:32] CeciAc opened #4054 "Error: The package 'Microsoft.VisualStudio.Component.AzureDevOps.OfficeIntegration' was not recognized."
Hi team,
I'm moving this from here: https://github.com/MicrosoftDocs/visualstudio-docs.de-de/issues/64
The user reports an error in the documentation and module availability

@aisbergde commented 3 days ago — with docs.microsoft.com
When trying to install some components regarding to this list I get an error:

vs_community__818795694.1537480254.exe --layout D:\SQLServer_Setup_diverse\vslayout --ad

[2019-10-04 13:21] davidcorrigan714 commented on #3910
@evanwindom I just tried emailing them and it bounced back as undeliverable.

[2019-10-04 14:02] evanwindom commented on #3910
@davidcorrigan714 - It's a new alias.  Let me check on that and get back with you.

[2019-10-04 14:34] Sultaneous commented on #617
Solution builds fine.  But when run, I get this error:
ImportError: dynamic module does not define module export function (PyInit_superfastcode)

[2019-10-04 16:07] msebolt commented on #4012
Closing the the issue now, please comment below if there are any concerns.

[2019-10-04 16:07] #4012 closed

[2019-10-04 16:18] TerryGLee commented on #4054
@CeciAc I took a look at this yesterday and I believe the problem is that the customer tried to run a Visual Studio Community 2017 bootstrapper (vs_community.exe) against a Visual Studio Community 2019 manifest. The giveaway here is when they report using "https://aka.ms/vs/**15**/release/channel". The version "15" is associated with Visual Studio 2017, where the version "16" is associated with th

[2019-10-04 17:59] corob-msft commented on #4011
Closing, as the work in on the schedule but may take a while to show up.

[2019-10-04 17:59] #4011 closed

[2019-10-04 18:29] evanwindom commented on #3910
@davidcorrigan714 - Please give it another try.  I believe the alias just needed to replicate.  It should be available to you now.

[2019-10-04 21:02] mikeblome commented on #3385
@tommai78101 there is now a link in the first paragraph to a topic that says how to create a new test project. We try not to duplicate information when it already exists somewhere else.

[2019-10-04 21:13] mikeblome commented on #2244
@jb-wisemo sorry for the very delayed response on this one. The terms reentrant and shared here are used in the accepted sense as you will find in any good textbook. It's beyond the scope of the article to explain those concepts in depth. Is there a particular question that you had about their behavior?

[2019-10-04 22:44] surathruwan commented on #2592
https://ssis.gallerycdn.vsassets.io/extensions/ssis/sqlserverintegrationservicesprojects/3.1/1562574939108/Microsoft.DataTools.IntegrationServices.exe

This Data Tool works for Visual Studio 2019.

[2019-10-05 09:10] warp-10 opened #4057 "Excessive and uninformed."
This misinterprets what was previously thought to be a benefit of inheritance. Such things are intended when functions must act through interface references instead of concrete types.

Implicit cast-to-base has its utility, and is why that feature exists in the first place. Moreover, the compiler should not warn in the case of a function "slicing" its return value in the presence of static_cast, e

[2019-10-05 10:02] heku commented on #3869
@Mikejo5000 @WilliamAntonRohm May I know any response here?

[2019-10-05 17:20] Mikejo5000 commented on #3869
@heku, might be more of a support question than a doc question, per @WilliamAntonRohm 's earlier comments. @rainersigwald for additional input.

[2019-10-06 08:35] aisbergde commented on #4054
I used the bootstrapper from the link in the instruction: vs_community__818795694.1537480254.exe
And finally I prepared a VS 2019 installation.
If this is a bootstrapper for VS 2017 how a user should know? And if this is the wrong bootstrapper: why this link is included in the instruction but not a link to the right version? Then you should correct the link in the instruction. But I think it was t

[2019-10-06 14:15] v-i-m opened #4059 "C# support in VS??"
There is no C# support in VS 2019 by default. It does not come with C# or anything .NET preinstalled. I have no idea what packages to install to create a C# project in VS. This should be explained in any VS-C# tutorial... but sadly nobody does, people expect a noob programmer who's never used VS, to be able to understand the infinite complexity of VS dependencies. I tried installing VS packages be

[2019-10-07 08:22] OlegGavrilov opened #4060 "Typo in the title (wrong 'i' letter)"
Hello!
There is a typo in the title:
[**Testi** a Large Application with Multiple UI Maps - Visual Studio]

Should be
[**Test** a Large Application with Multiple UI Maps - Visual Studio]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 29a2a95c-b3fd-3f65-693f-0cb9cf852b58
* Version Independent ID: 6b2724e9-f20a-b0c1-5c29

[2019-10-07 13:22] poppastring commented on #3375
@Mikejo5000 We have assumed this detail is a bit too much for users, we do clean this up at the end of a session that is closed properly. The limits are there in the event of an unforeseen failure.

[2019-10-07 13:30] satorp commented on #3425
@tydunkel Is it `channelUri` or `installChannelUri` that needs to be set before installation? The [documentation](https://docs.microsoft.com/en-us/visualstudio/install/controlling-updates-to-visual-studio-deployments?view=vs-2019) says `channelUri` is the URI that the installer will look for updates. I think the documentation does not explain the difference of the two properties very well. So what

[2019-10-07 14:36] jb-wisemo commented on #2244
Clarification of what was already in my initial report:

Over the past 50 years, the textbooks and academic literature about synchronization primitives have refined and sometimes redefined terms such as an "exclusive lock".  If you only ever read textbooks from one school of thought, you might not notice.  But once you branch out to reading more than that, you will run into authors who use terms q

[2019-10-07 15:41] PassivePicasso opened #4061 "In a Multi Process application setting ENABLE_XAML_DIAGNOSTICS_SOURCE_INFO"
I have a Multi process application where the core process automatically connects to Visual Studio if it was built from Visual studio, using some Debug Symbols.

My application launches instances of its executable with various arguments to launch different parts of the application, some of these processes are WPF applications and I would liek to use the Hot Reload feature automatically.
Originally

[2019-10-07 16:00] msebolt commented on #4035
Closing this issue now, please comment below if there are any questions.

[2019-10-07 16:00] #4035 closed

[2019-10-07 16:20] Evangelink opened #4062 "Update CA2002 to detect usage of lock (this) and SyncLock Me"
In https://github.com/dotnet/roslyn-analyzers/pull/2869 I have updated the rule CA2002 to also detect locks on `this`. Could you please update the documentation to match the new rule specification?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b97ee078-36f0-1f9b-cb29-93293989d5f6
* Version Independent ID: 786d0d32-ffd

[2019-10-07 16:22] mavasani commented on #4062
Additional note: This change will first be released as part of FxCop analyzers package 3.0.0

[2019-10-07 17:03] #4022 closed

[2019-10-07 17:34] TerryGLee commented on #4059
@v-i-m The tutorial includes an instruction in the [Create a project](https://docs.microsoft.com/en-us/visualstudio/get-started/csharp/tutorial-console?view=vs-2019#create-a-project) section that asks you to install the **.NET Core cross-platform development** workload. Installing a workload by way of the Visual Studio Installer is the easist way to get the programming language support that you ar

[2019-10-07 17:34] #4059 closed

[2019-10-07 19:01] TerryGLee commented on #4054
@aisbergde Our concern via this venue is that our documentation is correct. I've verified that the download links on our _en-us_ pages point to the right versions. However, I will make some adjustments to the direct download links for Visual Studio 2017 so that there are visual cues as to what version is being downloaded, which should prevent the possibility of someone accidentally downloading a b

[2019-10-07 19:57] mikeblome commented on #4057
@warp-10 Interesting comments but I think you should address them to the authors of the core guidelines themselves. The source for the guideline is here: https://github.com/isocpp/CppCoreGuidelines/blob/master/CppCoreGuidelines.md#Res-slice (and I will add that link to our topic).

[2019-10-07 20:41] elbatk opened #4065 "Remove Azure Artifacts from eligibility table"
Hello! I'm a PM from Azure Artifacts. I think we should remove the references to Azure Artifacts in the Eligibility section (in the table and the footer notes below), because every organization gets 2GB free of Azure Artifacts, regardless of VS subscription, thanks!
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 86accd8

[2019-10-07 20:54] WilliamAntonRohm commented on #4065
@elbatk -- Elijah, thank you for your feedback.

@evanwindom -- Evan, please assign this issue 4065 to yourself or to an appropriate author.

[2019-10-07 21:23] gewarren commented on #3860
The [roslyn-analyzers issue](https://github.com/dotnet/roslyn-analyzers/issues/2815) was closed as not reproducible, but the docs should still be updated.

[2019-10-07 22:00] WilliamAntonRohm commented on #4065
@gdverrastro -- please look into this update.

@evanwindom -- never mind; my apologies for the churn.

[2019-10-07 22:20] tydunkel commented on #3425
@satorp sorry, I meant `channelUri`. The `channelUri` informs the installer about where to look for updates for that Visual Studio installation. Setting it during the first installation is how updates can be controlled. `installChannelUri` is used just for that session. It can be used to control a single update.

[2019-10-07 22:28] eddynaka commented on #3498
I think we can close this issue.

the ca5389 page is available at: https://docs.microsoft.com/en-us/visualstudio/code-quality/ca5389?view=vs-2019

[2019-10-07 22:32] eddynaka commented on #3497
I think we can close this issue.

the ca5386page is available at: https://docs.microsoft.com/en-us/visualstudio/code-quality/ca5386?view=vs-2019

[2019-10-07 22:32] eddynaka commented on #3492
I think we can close this issue.

the ca5381 page is available at: https://docs.microsoft.com/en-us/visualstudio/code-quality/ca5381?view=vs-2019

[2019-10-07 22:33] eddynaka commented on #3491
I think we can close this issue.

the ca5380 page is available at: https://docs.microsoft.com/en-us/visualstudio/code-quality/ca5380?view=vs-2019

[2019-10-07 23:10] #4027 closed

[2019-10-07 23:10] #4060 closed

[2019-10-07 23:10] #4023 closed

[2019-10-07 23:16] TerryGLee commented on #4054
@aisbergde The engineering team looked at this issue and here is their feedback:

1. The Microsoft.VisualStudio.Component.AzureDevOps.OfficeIntegration component is still viable for Visual Studio 2019, so no updates need to be made to the [Visual Studio Community component directory](https://docs.microsoft.com/en-us/visualstudio/install/workload-component-id-vs-community?vs-2019&view=vs-2019) page

[2019-10-07 23:16] #4054 closed

[2019-10-08 00:18] dimachernov opened #4068 "Associate tenant with diffirent MSDN subscription"
If a user's MSDN subscription is getting cancelled, would it be possible to reassociate the O365 tenant with a different MSDN subscription, so that the tenant would still be renewable?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f22a69a8-de38-2929-144a-0bd738f40a25
* Version Independent ID: a1d94b1f-c61e-df28-d412-1

[2019-10-08 00:21] gewarren commented on #3491
@eddynaka Yes, thanks!

[2019-10-08 00:21] #3491 closed

[2019-10-08 00:22] gewarren commented on #3492
@eddynaka Yes, thanks!

[2019-10-08 00:22] #3492 closed

[2019-10-08 00:23] gewarren commented on #3497
@eddynaka Yes, thanks!

[2019-10-08 00:23] #3497 closed

[2019-10-08 00:23] gewarren commented on #3498
@eddynaka Yes, thanks!

[2019-10-08 00:23] #3498 closed

[2019-10-08 00:28] eddynaka commented on #3489
I think we can close this issue.

the ca5378 page is available at: https://docs.microsoft.com/en-us/visualstudio/code-quality/ca5378?view=vs-2019

[2019-10-08 00:30] gewarren commented on #3489
Awesome, thanks @eddynaka.

[2019-10-08 00:30] #3489 closed

[2019-10-08 00:31] eddynaka commented on #3466
I think we can close this issue.

the ca2007 page is available at: https://docs.microsoft.com/en-us/visualstudio/code-quality/ca2007-do-not-directly-await-task?view=vs-2019

[2019-10-08 00:36] gewarren commented on #3466
@eddynaka Thanks, closing now!

[2019-10-08 00:36] #3466 closed

[2019-10-08 07:04] KannanKrish opened #4069 "How can I use Processor"
I want to create a multi-project template based on conditional. Simply I want to use #if like

               # if (condition/custom parameter)
			<SolutionFolder Name="$projectname$.ML" CreateOnDisk="true">
				<ProjectTemplateLink ProjectName="$projectname$.MLTrain" CopyParameters="true">
					App3.ML\App3.MLTrain\MyTemplate.vstemplate
				</ProjectTemplateLink>
				<ProjectTemplateLink ProjectN

[2019-10-08 08:21] josersleal opened #4070 "Not really"
Azure offers IOS agents. No need to have a remote machine any longer

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 32f33eba-a747-c57b-02e3-853d2a8a5c3b
* Version Independent ID: 1ddd9492-f5b1-d0ae-b813-c3838452a17a
* Content: [Install And Configure Tools to Build using iOS - Visual Studio](https://docs.microsoft.com/e

[2019-10-08 10:51] v-i-m commented on #4059
Thank you for replying.

The Install VS feature is really well hidden. Basically.. yo have to
remember the magic words: Install Visual Studio. To access the elusive IVS.

Which opens up a scary UI that tries to convince you to install
mind-bendingly-gigantic packages, and you have no idea which one. Maybe
all? Yeah, sure, if my C drive was 100 times larger. I have failed to
install prerequisites f

[2019-10-08 13:16] user2150 opened #4071 "nameof"
Why is CA1303 generated on nameof?
How should it be localized?
Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a0a1a48-3a9f-05c8-53fd-4d126bb275ad
* Version Independent ID: 65f77e05-47ac-9e01-ce54-9669c2dd9b2b
* Content: [CA1303: Do not pass literals as localized parameters - Visual Studio](https://docs.microso

[2019-10-08 15:38] msebolt commented on #4068
@dimachernov Thank you for the question, the issue has been assigned.

FYI @evanwindom

[2019-10-08 15:51] msebolt commented on #4069
@KannanKrish Thank you for the question.

Right now, this only seems possible using XSD with [Project templates](https://docs.microsoft.com/visualstudio/ide/how-to-create-multi-project-templates?view=vs-2019) (see [this post](https://stackoverflow.com/questions/5087134/can-i-add-conditions-in-app-config-file)).

For something built-in please consider starting a dialog with the product team under *

[2019-10-08 16:01] msebolt commented on #4070
@josersleal  Thank you for the feedback.

Is this a feature request or are you citing an issue with the article that refers to not needing a remote machine?

For feature requests, please consider starting a dialog with the product team using **Suggest a Feature** in the [Visual Studio community](https://developercommunity.visualstudio.com/spaces/8/index.html).  For documentation issues, I can assi

[2019-10-08 16:16] msebolt commented on #4071
@user2150  Thank you for the questions.

For localization, the article refers to [Resource Manager examples](https://docs.microsoft.com/dotnet/api/system.resources.resourcemanager?view=netframework-4.8#examples), please comment below if these examples are insufficient.

Assigning this to the author to address the issue on `nameof`.

[2019-10-08 16:54] CeciAc opened #4073 "Links for Visual Studio bootstrappers => old version of VS (2017 instead of 2019)"
The comment below was machine translated
@aisbergde commented on [Tue Oct 08 2019](https://github.com/MicrosoftDocs/visualstudio-docs.de-de/issues/67)

I went through the instructions given here
Step 1: Download the Visual Studio bootstrapper
If you now load Visual Studio community vs_community.exe, you get
vs_community__818795694.1537480254.exe
This is according to Microsoft but not Visual Studio

[2019-10-08 17:34] lichasu opened #4076 "Code coverage Menu..."
Hi team, please check this issue. I'm transferring from https://github.com/MicrosoftDocs/visualstudio-docs.fr-fr/issues/67.

@sybaris wrote:

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4305ee45-a84a-aa05-5b94-4f9d77dadc40
* Version Independent ID: 47acca13-0363-7ea3-08e3-4f2039705223
* Content: [Code covera

[2019-10-08 17:37] mikeblome commented on #876
@mflanagan apologies for delayed response. Yes, it should work with a DLL. You can create a separate test project (or multiple test projects if desired) and reference the DLLs from there. Are you able to run unit tests successfully in general? Is only code coverage broken? Remember that code coverage is a VS Enterprise feature, so you need to be using that edition of VS for it to work.

[2019-10-08 17:46] TerryGLee commented on #4073
@aisbergde @CeciAc This is related to https://github.com/MicrosoftDocs/visualstudio-docs/issues/4054, where I suggested a workaround to the issue.

Further, as I explained in the previous GitHub Issue, I've tested the links and they all work correctly. Specifically, I verified that the version that anyone downloads from the current version of the page (whether it's in _en-us_ or _de-de_) is for Vi

[2019-10-08 17:46] #4073 closed

[2019-10-08 17:50] TerryGLee commented on #4059
@v-i-m You bring up some good points. However, I think they fall into the realm of product feedback rather than documentation feedback. If you are looking for functionality that isn’t currently provided by the product, please use our “Suggest a feature” option in the [Visual Studio Developer Community](https://developercommunity.visualstudio.com/). We’d be happy to have this on record, where other

[2019-10-08 18:24] gewarren commented on #4076
@sybaris There was a glitch in the Test menu for version 16.2 of Visual Studio 2019. Please upgrade to version 16.3 and the menu should be complete again.

[2019-10-08 19:33] Sighman6 opened #4077 "How do you subscribe in Async model?"
In the async model the ToolWindow is derived from UserControl instead of ToolWindowPane. Initialize and GetService do not exist. What is the event subscription model in this case?

My bad. I edited the wrong file... Please disregard and delete/close this issue.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2d7f83b0-6f5

[2019-10-08 19:58] #4077 closed

[2019-10-08 20:17] aolszowka commented on #3625
FWIW it appears that you need the UTF-8 BOM as well as a Newline otherwise the overlay will not work. Some tooling (such as the `dotnet sln` tool) will insert the UTF-8 BOM when you use it to modify solutions. However if you are missing the newline you will not get the same overlay as you would had you created this file via Visual Studio. See https://github.com/dotnet/cli/pull/8199

[2019-10-08 20:20] aolszowka opened #4078 "Is the UTF-8 BOM A Requirement of the Solution File Format?"
Based on this pull https://github.com/dotnet/cli/pull/8199 the CLI Tool expects there to be a UTF-8 Byte Order Mark (BOM) in the file. Creating a new solution from Visual Studio also seems to include the BOM. Is this expected?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9177b266-5055-95d6-407f-ca4aad75257a
* Version

[2019-10-08 22:31] alandraper opened #4079 "CA1707 is firing for discard _ parameter"
CA1707 is triggered when the underscore indicates a discard parameter.
https://docs.microsoft.com/en-us/dotnet/csharp/discards

The following causes CA1707 to fire:

`public void DoNothing(string _) {
 }`

[2019-10-08 22:39] msebolt commented on #4078
@aolszowka Thank you for the question, assigning this to the author for further information.

[2019-10-08 22:49] msebolt commented on #4079
@alandraper  Thank you for the feedback.

Unfortunately this a bug and needs to be submitted under **Report a Problem** in the [Visual Studio community](https://developercommunity.visualstudio.com/spaces/8/index.html).  Please move the issue there to start a dialog with the product team.

@gewarren FYI on `CA1707`

[2019-10-08 23:04] #3662 closed

[2019-10-09 00:25] gewarren commented on #4079
This looks like it's already been reported on the roslyn-analyzers repo: https://github.com/dotnet/roslyn-analyzers/issues/2440.

[2019-10-09 00:25] #4079 closed

[2019-10-09 03:54] KannanKrish commented on #4069
@msebolt thanks for your help.

Can I get any kind of source code sample to follow?

Thanks

[2019-10-09 08:41] satorp commented on #3425
@tydunkel Thanks for the clarification. I have a VS 2019 offline installation on a network shared folder, and I want to control the updates using the procedure described in the documentation. Here's the content of my `Response.json`:
[code]
The installation is for VS 2019 version 13.2 and what I want to do is to have all users install that version on their machines, and disable the automatic updat

[2019-10-09 10:02] aisbergde commented on #4073
I am still not able to download the correct installer. Or maybe the installer is the right one but I am not able to check it it the right version.

The generated link is:
https://visualstudio.microsoft.com/thank-you-downloading-visual-studio/?sku=community&rel=16&utm_medium=microsoft&utm_source=docs.microsoft.com&utm_campaign=offline+install&utm_content=download+vs2019

In different browsers I get

[2019-10-09 12:30] ixta opened #4082 "missing attribute "Label""
The element can have an attribute "Label", for example Label="ProjectConfigurations" .
https://docs.microsoft.com/en-us/cpp/build/reference/vcxproj-file-structure?view=vs-2019#projectconfigurations-itemgroup-element

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7148a9c-77db-81c7-0362-f2ce6b0c6274
* Version Independen

[2019-10-09 15:48] #2270 closed

[2019-10-09 16:48] tydunkel commented on #3425
@satorp The ".\\" prefix on the path implies a relative path to the channel manifest. Is the channel manifest next to the installer when it runs on all machines? Without logs I am guessing that the download of the channel manifest from the share is failing, but from the web is successful. This leads to installing the latest (16.3.2) rather than the version in your manifest.

I would suggest using

[2019-10-09 17:18] #3873 closed

[2019-10-09 17:32] warp-10 commented on #4057
The guidelines apply to polymorphic objects. Your compiler is emitting this
warning for anything that results in "slicing", even for non-polymorphic
types. The example in your article even demonstrates this, which is why it
is not correctly implemented.

On Mon, Oct 7, 2019 at 5:10 PM Genevieve Warren <notifications@github.com>
wrote:

[2019-10-09 17:44] mikeblome commented on #4057
@warp-10 I see. Thanks for the clarification! Are you willing to raise this issue on the [C++ Developer Community forum](https://developercommunity.visualstudio.com/topics/C%2B%2B.html)? The product team actively monitors that site for actionable issues, and other developers can upvote your issue.

[2019-10-09 17:51] warp-10 commented on #4057
Certainly. I was initially under the impression this was a Microsoft-specific warning, which is why I commented on the documentation page. This is really a bug, but I'm having trouble creating a minimal example that reproduces it. The function I'm trying to simplify needs to deliberately "slice" an almost-POD resource "pointer" into a lightweight "handle" (from which said pointer type derives).

[2019-10-09 22:03] #3988 closed

[2019-10-10 00:06] #4076 closed

[2019-10-10 00:29] #3971 closed

[2019-10-10 01:09] satorp commented on #3425
@tydunkel Changing to absolute path was also the first thing that came into my mind, but it doesn't seem to make any difference. Now I've also tried your suggestion of adding the `layoutPath`, but the installer still tries to install the latest version.

The error I mentioned previously (`channelId` and `productId` cannot found) seems to be related to the installer certificates (the log says "chan

[2019-10-10 04:59] sveinfid opened #4084 "JavaScript Console window removed from Visual Studio 2019"
The JavaScript Console window has been removed from Visual Studio 2019. The docs for Visual Studio 2019 should be updated to reflect the fact that this feature is no longer available.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1dd84513-cff5-84b5-40fa-4db1399fddcb
* Version Independent ID: d677568a-4b8d-c45d-a4a8-ab

[2019-10-10 05:51] pyaephyonaung opened #4085 "Visualstudio Benefits - Linkedin 1 month activation code"
Hi Admin
Linkedin Subscription 1 month activate Code does not work in visualstudio Benefits
Please Help me

[2019-10-10 07:41] tamlin-mike opened #4086 "CodeLens stale information"
find-code-changes-and-other-history-with-codelens.md states
"CodeLens indicators are not available in Visual Studio Community edition."

As of at least VS2019.3 (and .2 IIRC, but might be as early as the first VS2019), this is not the case. CodeLens is most certainly, to at least some extent, available in Community.

Recommendations:
- Fix the documentation. As it doesn't reflect well on Microsoft

[2019-10-10 08:03] thomasgalliker opened #4087 "Password in runsettings: Bad practice"
TestRunParameters contains an example where username/password is used in a runsettings file. I know, most people know that this is very bad but you also have to take into account, that many people will copy the content from your documentations and use it in production software. If you like it or not... it's a fact :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2019-10-10 10:25] eddynaka commented on #3484
I think we can close this issue.

the ca5373 page is available at: https://docs.microsoft.com/en-us/visualstudio/code-quality/ca5373?view=vs-2019

[2019-10-10 14:14] mohed opened #4088 "How to change default behaviour"
Hi,
the post states that "In addition, when you open a solution, the default behavior is to open the solution in a new workspace and close the current workspace (if necessary). ". How do I change this default behaviour to open a new solution without closing the old ones?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2

[2019-10-10 15:39] PassivePicasso commented on #4061
I just want to expand on this, it actually seems my diagnosis of the issue was wrong.  It looks like this feature simply isn't compatible with Multiple processes that have debuggable XAML.

In order to get it to work on the various different processes in my application, I have to detach from all processes and then attach to the process I want to do my XAML debugging in.

Perhaps this is considered

[2019-10-10 15:51] msebolt commented on #4084
@sveinfid Thank you for the feedback, assigning to the author for review.

[2019-10-10 15:53] msebolt commented on #4085
@pyaephyonaung Thank you for contacting us, we're sorry you're having difficulties.

Please escalate this through [Visual Studio support](https://visualstudio.microsoft.com/subscriptions/support/) where they can access your account information.

[2019-10-10 15:58] GuyFleegman opened #4089 "Didn't work"
I followed the above instructions.  However, Visual Studio is still giving me the warning whenever I build my project:
1&gt;Failed to connect to VCTIP: 'CreateFile' failed with 2
1&gt;Not launching VCTIP: it is flagged as unstable
1&gt;Telemetry event upload failed: 'Failed to open connection to VCTIP'
Which seems to indicate that VCTIP is still running, even though I've "opted out".

---
#### Doc

[2019-10-10 15:59] msebolt commented on #4086
@tamlin-mike  Thank you for the feedback, assigning this to the author for review.

[2019-10-10 16:17] msebolt commented on #4088
@mohed  Thank you for the question.

This is currently a [requested feature](https://developercommunity.visualstudio.com/idea/508939/add-a-preference-to-not-close-solution-by-default.html) and an active issue for the product team.

Please vote or comment there to increase if you'd like to increase its visibility and priority.

[2019-10-10 16:20] yaseminyarnell2 commented on #1305
Hi, My application is running .net core 2.2. For TargetFrameworkVersion, I tried framework45, FrameworkCore10 and FrameworkCore22. I also did not specify  but nothing worked. Can you please let me know when you resolve this bug.

[2019-10-10 16:25] lichasu opened #4090 "lack of explanation! !"
Rough translation:

@DoNgocLinh2010 commented on [Thu Oct 10 2019](https://github.com/MicrosoftDocs/visualstudio-docs.ja-jp/issues/1856)

手順5-7 から手順5-8まで、どうやってログインできますか？
手順を書いてください。
システムにログインできないと、手順５－８を読んでも理解できないです！

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 4286e07a-6d43-8800-fd06-be7f8ad21d20
* Version Independent ID: e6b188d8-adc0-cb16-cffa-6

[2019-10-10 16:26] lichasu commented on #4090
Hi team, please check this issue. Thanks!

[2019-10-10 16:27] msebolt commented on #4087
@thomasgalliker Thank you for the feedback.

The documentation has been updated and is under review.

[2019-10-10 16:31] AbhitejJohn commented on #1305
@yaseminyarnell2 : The issue I've mentioned has already been fixed in VS 2019 update 2. Would you mind filing an issue on https://developercommunity.visualstudio.com/ with the version of VS and the scenario you are running please?

[2019-10-10 16:33] lichasu opened #4091 "add instructions how to check the VS Version after step 1 and before step 2"
@aisbergde commented on [Thu Oct 10 2019](https://github.com/MicrosoftDocs/visualstudio-docs.de-de/issues/68)

it looks like the download links are dynamically generated. So it can happen that a user downloads the wrong installer for the wrong version. Please add some instruction how a user can check the version of the installer. Executing it will not display the version but startes to download so

[2019-10-10 16:33] lichasu commented on #4091
Hi team, please check this issue.

Thanks!

[2019-10-10 17:20] xiejiang2014 opened #4092 "Missing shapes"
By default, there are only two shapes in the asset, Elipse and Rectangle, so where do the other shapes shown on this page come from? Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3a0301c8-416c-59be-43a1-b5489716e50b
* Version Independent ID: c20b4f11-e646-5ba3-d5c7-82a753c4eef3
* Content: [Draw shapes and p

[2019-10-10 19:14] msebolt commented on #4089
@GuyFleegman Thank you for the feedback.

This was labelled as "bug by design" by the product team in [this post](https://developercommunity.visualstudio.com/content/problem/416745/what-is-vctip-and-how-to-disable-it.html) on the **Visual Studio community**.

You will need to either add your comment there or start a new ticket.

[2019-10-10 20:17] gewarren commented on #3484
Thanks @eddynaka . Closing this now.

[2019-10-10 20:17] #3484 closed

[2019-10-10 20:21] yaseminyarnell2 commented on #1305
https://developercommunity.visualstudio.com/content/problem/772061/cannot-run-automated-tests-from-azure-test-plans-i.html

[2019-10-10 20:58] lopezroberto opened #4095 "S is not declared"
Last line produce error CS0246: The type or namespace name 'S' could not be found.

static S mylock = new S();

All examples seem to have the same issue.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ca39bde1-9872-c65b-5159-11427f3c8bb9
* Version Independent ID: c3e915dd-9c09-f7c6-8ad6-82dbda6fdac7
* Content: [Debug a

[2019-10-10 21:08] #4087 closed

[2019-10-11 05:23] markthesharknz opened #4097 "Version element"
Please explain the attributes of the Version element better.  Do I need both Min and Max?  Is it correct that the name is the actual filename of the dll?  Can I include portions of the pathname?  Using "/" or "\" for separators?

I'm having trouble making a natvis for QHostAddress that varies depending if it is Qt5.6 or 5.12.  Adding a Version causes my visualiser to be ignored.  Nothing helpful w

[2019-10-11 05:25] markthesharknz commented on #4097
Using slash or backslash for separators?

[2019-10-11 07:19] tamlin-mike commented on #4086
@msebolt Thanks.

That is obvious. I would hope it's equally obvious that's why I suggested adding such a quality-improving policy.

[2019-10-11 08:08] msebolt commented on #4091
@aisbergde Assigning this to the author for review.

Perhaps adding a link/note for [previous versions](https://visualstudio.microsoft.com/vs/older-downloads/)?

[2019-10-11 08:17] msebolt commented on #4092
@xiejiang2014 Thank you for the feedback.

This might be due to different assets in Visual Studio 2017 changing from Visual Studio 2015 (see [this post](https://social.msdn.microsoft.com/Forums/vstudio/en-US/718d2163-cd65-45da-b471-a2604654be69/path-line-polygon-missing-from-toolbox-and-assets-in-visual-2017-and-blend?forum=wpf)).

Assigning this to the author for review.

[2019-10-11 08:33] msebolt commented on #4095
@lopezroberto Thank you for the feedback.

What version of Visual Studio and type of project are you using?  Can you double-check the `class S` at the top?

The sample seems to work for me using Visual Studio 2019 and the default C# console project.

[2019-10-11 10:07] aisbergde commented on #4091
The question is, how to check the version of the downloaded installer. Instruction could be as I described in my comment. The question is not, how to load another version, but how to avoid the wrong usage of the wrong version. This happened to me: I prepared the setup, I executed the setup and only at this point I was able to see that the setup was prepared with a wrong version.

[2019-10-11 12:10] lopezroberto commented on #4095
I apologize, beginners mistake.

[2019-10-11 16:14] giorgited opened #4098 "VS Options aren't there"
When I right click the VM in Server Explorer the only options I get is Refresh and Configure. I am using VS Professional 2019 V16.2.5

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b4faf174-cdfd-e0d5-3eaf-e2c47d6d8f70
* Version Independent ID: 3464f7d8-21bc-b920-93a8-f5447b835b82
* Content: [Debugging an Azure cloud se

[2019-10-11 16:58] TerryGLee commented on #4085
@evanwindom FYI

[2019-10-11 21:19] TerryGLee commented on #4091
@aisbergde We've added the information that you've requested. The _en-us_ page should be updated this afternoon. Thanks for helping us improve the documentation!

[2019-10-11 21:29] #4091 closed

[2019-10-11 22:10] WilliamAntonRohm commented on #4095
We're all beginners somewhere!

I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2019-10-11 22:10] #4095 closed

[2019-10-11 22:14] WilliamAntonRohm commented on #4098
@giorgited -- Giorgi, thanks for your question. It looks like you're having an issue with the product itself, rather than an issue with the documentation. Here are a few options where you might consider asking your question:​

[https://social.msdn.microsoft.com/Forums/vstudio](https://social.msdn.microsoft.com/Forums/vstudio)

[https://www.stackoverflow.com](https://www.stackoverflow.com)

[https:

[2019-10-11 22:14] #4098 closed

[2019-10-11 22:14] WilliamAntonRohm commented on #4088
I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2019-10-11 22:14] #4088 closed

[2019-10-11 22:15] WilliamAntonRohm commented on #4089
I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2019-10-11 22:15] #4089 closed

[2019-10-12 01:26] AlexandAdmire opened #4102 "Learn how to use vs to code the unity game."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 73ad57fa-5862-e7c9-fb0c-99298e461bfd
* Version Independent ID: 2e6eb5e8-de91-6515-76f4-69922152db43
* Content: [Visual Studio Tools for Unity - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/cross-platform/visual-studio-tools-for-unity?v

[2019-10-12 13:56] morbius1st opened #4103 "Needed Assembly Reference Not Noted"
Microsoft.VisualStudio.Shell.Framework reference must also be added to the project.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bb4ce0ea-fd74-c3f1-5154-00db7cacab01
* Version Independent ID: 110c664a-cf94-0b5b-4052-3c96c5816452
* Content: [Access the DTE Object from an editor extension - Visual Studio](https://docs.

[2019-10-12 18:47] MuzzyA opened #4104 "OpenGL ES Application Project Template?"
Does the project template no longer exist?  Is there a way to get it?  Can we update this guide?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61c068da-293e-ea09-c3ed-be7d3c7da17d
* Version Independent ID: 70af6750-b737-f536-8ebc-ad3a24becb80
* Content: [Build an OpenGL ES Application on Android and iOS - Visual Studi

[2019-10-13 08:59] corob-msft commented on #4104
@MuzzyA

It works for me, and should for you too, assuming you installed the mobile development with C++ workload. The procedure will be updated for the new project dialog in 2019 soon. Until then, you can find the project template by typing "opengl" in the search box at the top of the **Create a new project** dialog. Most everything else in the article remains the same, but use one of the Google

[2019-10-13 12:43] bruno-brant opened #4105 "No Code Analysis tab"
The documentation for the NuGet package is completely straightforward: go to the code analysis page on project settings, and select install.

Thing is, I have no Code Analysis tab. I've looked around the web a bit and no answers can be found concerning this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eee67c1d-5856-

[2019-10-13 13:38] MuzzyA commented on #4104
I have VS 2017 and VS 2019 with Mobile Development with C++.  I get the same options on both of them for native android development.  Both do not have the OpenGL ES template.  Will the template be available in VS 2019 within ~ 3-4 weeks?

Honestly the only reason I want it is to see how drawing geometry in OpenGL ES works.  There are no useful guides online.  The original OpenGL guides don't help

[2019-10-13 23:02] venky76v opened #4107 "Some doubts"
Hi,
I tried following the tutorial and I am having some questions. What is the right place to raise queries?

Thanks,
VEnky

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7aee46f8-9db1-33ef-b637-fc8e8881fab9
* Version Independent ID: 6c469f9f-9751-669f-3dd4-c4fb49c9ae19
* Content: [Multicontainer tutorial using Docker

[2019-10-14 13:10] therealjohn commented on #4102
@AlexandAdmire It looks like your feedback didn't come through. Could you share your feedback in a comment here?

[2019-10-14 15:00] Mikejo5000 commented on #4084
Thanks! I'll get those removed from VS 2019 docs.

[2019-10-14 15:01] Mikejo5000 commented on #4061
@LyalinDotCom Should we add this note to the docs?

[2019-10-14 15:25] Mikejo5000 commented on #3375
OK, thanks, Mark

[2019-10-14 15:25] #3375 closed

[2019-10-14 15:31] evanwindom commented on #4085
@TerryGLee - Thanks!

@pyaephyonaung - Can you describe the problem you're seeing?  Is it occurring on the My Benefits page of my.visualstudio.com, or on the LinkedIn site?

[2019-10-14 15:36] AArnott opened #4108 "Several links on the right nav bar don't work"
Several of the in-document anchor links in the right side navigation panel don't actually jump the document to the expected heading.
(repro at least in Edge Chromium)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e062363-94e9-f776-650f-a0723ab713a3
* Version Independent ID: 9181db12-cbdf-6f95-27f1-833930d6d323
* Cont

[2019-10-14 15:49] evanwindom commented on #4065
@elbatk - Elijah - Thanks for bringing this to our attention.  A PR has been submitted to make this change.

[2019-10-14 15:52] gewarren commented on #4108
@AArnott Thanks for letting us know!

FYI Terry, I asked about this on Docs Support channel.

[2019-10-14 15:55] gewarren commented on #4105
@bruno-brant Which version of Visual Studio are you using? It looks like we need to add a note to this topic to indicated that the install functionality is available starting in Visual Studio 2019 version 16.3.

[2019-10-14 16:28] msebolt commented on #4103
@morbius1st Thank you for the feedback, assigning this to the author to review.

[2019-10-14 16:42] msebolt commented on #4107
@venky76v Thank you for the question.

Issues covered here revolve around documentation concerns and/or general product questions, for instance a topic that doesn't cover one particular aspect.

Product-related issues such as feedback, bugs and feature requests, are directed to the [Developer community](https://developercommunity.visualstudio.com/spaces/8/index.html).

Support requests involving s

[2019-10-14 19:11] evanwindom commented on #4065
Resolved by PR #5596.  @WilliamAntonRohm - please close this.

[2019-10-14 19:20] evanwindom commented on #4068
@dimachernov - Thanks for the question.  The Office Developer benefit and the tenant it creates cannot be moved between subscriptions.  However, after the subscription expires you have 90 days to migrate any data in the existing tenant to a different tenant.  After that 90 days, the data will no longer be accessible.

Here are some articles that provide additional information about migrating:

htt

[2019-10-14 19:45] CeciAc opened #4110 "For newer versions of .NET use nameof for argument names"
Hi team,
I'm moving this from here: https://github.com/MicrosoftDocs/visualstudio-docs.cs-cz/issues/11
The user i making a suggestion to the original documentation:

@OldrichDlouhy commented 5 hours ago — with docs.microsoft.com
For new versions of .NET, the better practice is to use nameof(parameter) instead of "parameter" to ensure parameter name stays correct in case of refactoring.

Example:
t

[2019-10-14 21:59] WilliamAntonRohm commented on #4065
@evanwindom -- thank  you.
I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2019-10-14 21:59] #4065 closed

[2019-10-15 00:23] danewalton opened #4113 "CTest Test Explorer Support"
On this page here:
https://docs.microsoft.com/en-us/visualstudio/test/writing-unit-tests-for-c-cpp?view=vs-2019
it says that CTest support in Test Explorer is not available.
However on this page I'm writing feedback for it says that it is? Can someone confirm which it is?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2019-10-15 03:40] #4068 closed

[2019-10-15 04:47] msebolt commented on #4110
@OldrichDlouhy  Thank you for the feedback, assigning this to the author for review.

[2019-10-15 04:49] msebolt commented on #4113
@danewalton Thank you for the feedback, assigning this to the author for review.

[2019-10-15 05:46] msebolt commented on #4070
Closing the issue now, please comment below if there are further issues.

[2019-10-15 05:46] #4070 closed

[2019-10-15 08:09] the-dag opened #4114 "Too much black magic"
I'm sure there are lots of people who don't care how debugging a docker container actually works, and who just want to know what buttons to push and in what order. But when you *only* take this approach, not only are developers left dumber, we become pretty much helpless once something doesn't work.

I have spent several days now without being able to get my project set up so it can be debugged wh

[2019-10-15 15:28] gewarren commented on #3418
@HaraldMuehlhoffCC Thanks for letting us know. I spoke with someone on the product team who confirmed the behavior you are seeing and requested that you report it as an issue through the [Report a Problem](https://docs.microsoft.com/visualstudio/ide/how-to-report-a-problem-with-visual-studio) tool.

[2019-10-15 15:40] HaraldMuehlhoffCC commented on #3418
I may be wrong but from my viewpoint me as customer reporting a problem once to Microsoft should be enough. Good to know that the behavior was confirmed so the product team should be able to open an issue, shouldn't they? Once Microsoft starts to pay me for jumping through additional hoops I might consider it ;)

[2019-10-15 15:48] gewarren commented on #3418
@HaraldMuehlhoffCC I understand, thank you for the note.

[2019-10-15 18:54] WilliamAntonRohm commented on #4107
I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2019-10-15 18:54] #4107 closed

[2019-10-15 18:59] WilliamAntonRohm commented on #4114
@the-dag -- thank you for your thoughtful feedback.  We are looking into this documentation.  In addition, you may find some help with your issues here:

- [https://social.msdn.microsoft.com/Forums/vstudio](https://social.msdn.microsoft.com/Forums/vstudio)
- [https://www.stackoverflow.com](https://www.stackoverflow.com)
- [https://www.reddit.com/r/VisualStudio/](https://www.reddit.com/r/VisualStud

[2019-10-15 19:29] ghogen commented on #4114
It looks like more information about how this works behind the scenes could be helpful.  In the meantime, some of this has been covered in blogs, so in case its helpful: https://www.paraesthesia.com/archive/2019/06/18/tips-on-container-tools-for-visual-studio/

[2019-10-15 21:21] donhuvy opened #4118 "Need update image to ASP.NET Core 3"
Need update image to ASP.NET Core 3 with .NET Core 3

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2ab4333f-c992-f580-5a1f-cfc60bcfb650
* Version Independent ID: e354bcf5-e277-8d35-9850-e5accfb8ace8
* Content: [Create an ASP.NET Core web app in C# - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/ide/quic

[2019-10-15 21:35] gewarren commented on #4110
@OldrichDlouhy thank you for pointing this out, I'm fixing it.

[2019-10-15 21:35] TerryGLee commented on #4118
@donhuvy Thanks for letting us know; we'll get this updated.

[2019-10-15 22:03] MuzzyA commented on #4104
Thanks!  That did the trick.  I have the template available now.

[2019-10-15 22:05] petekp opened #4119 "'Help > Send Feedback' option mentioned in docs but non-existent in app"
In looking for a way to opt-out of VSCode's telemetry, I found step-by-step instructions for doing this in the VS Code Resources. However, Step 1 isn't possible as the location described doesn't appear to exist in the app, specifically the Send Feedback link under the Help menu in the application's menu bar.

Here is a screencap of the instructions from the docs:
![image](https://user-images.githu

[2019-10-15 22:11] petekp commented on #4119
My mistake, I was in the wrong docs 😄

[2019-10-15 22:11] #4119 closed

[2019-10-15 23:31] #4110 closed

[2019-10-16 00:19] mikeblome commented on #4057
@warp-10 I'm going to close this as it doesn't seem to be a documentation bug. Good luck on creating a repro. That will make a big difference in how it gets handled internally.

[2019-10-16 00:19] #4057 closed

[2019-10-16 00:30] #876 closed

[2019-10-16 04:28] #4036 closed

[2019-10-16 05:42] msebolt commented on #4069
On second thought, this is a lot easier by just using `Choose` and `When`.

Here's an example that checks for a file called 'c.txt' and adds either 'a.txt' or 'b.txt' to the project accordingly:

[code]

For more information, see [Conditional constructs](https://docs.microsoft.com/visualstudio/msbuild/msbuild-conditional-constructs?view=vs-2015).

[2019-10-16 07:01] gregdegruy opened #4122 "Build fails on this.ServiceProvider.GetService(typeof(IMenuCommandService) as OleMenuCommandService"
On the Instantiate the tool window and toolbar step, getting an error for this line of code and unable to Build.

`var mcs = this.ServiceProvider.GetService(typeof(IMenuCommandService)) as OleMenuCommandService;`

Tried more explicit casting and this did not work either `OleMenuCommandService mcs = this.ServiceProvider.GetService(typeof(IServiceContainer)) as OleMenuCommandService;`.

---
#### Doc

[2019-10-16 07:58] alansingfield opened #4123 "From command line - use /noscale switch"
Devenv.exe takes /noscale as a command-line parameter to run in 100% scaling mode.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a2f87f79-412c-6d45-9a5f-e1690a7dce12
* Version Independent ID: 708a3cc0-a8eb-3b23-9d11-737d0060d730
* Content: [Disable DPI-awareness in Visual Studio - Visual Studio](https://docs.microsoft

[2019-10-16 11:28] OfekShilon opened #4124 "SetThreadDescription isn't backwards compatible"
This [doc](https://docs.microsoft.com/en-us/visualstudio/debugger/how-to-set-a-thread-name-in-native-code?view=vs-2017) doesn't mention OS version support, and even explicitly says:

This is misleading. In pre win-10 or server-2016 versions _an application using SetThreadDescription cannot run_, and would crash at startup time for not being able to locate this entry point.

[2019-10-16 12:35] abhall724 opened #4125 "How to run or generate code metrics on linux?"
Is this capable of running on Linux for the command line metrics?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8c654586-8571-cfe1-1ee1-3adaf79e2dcf
* Version Independent ID: 334b3914-dbcd-3ece-26b3-fab7c766a377
* Content: [Generate code metrics from the IDE or command line - Visual Studio](https://docs.microsoft.com/

[2019-10-16 13:10] robertmuehsig opened #4126 "Many "Microsoft.NET.Sdk" related properties are missing"
From the new "SDK-style" format many options are not really documented. Maybe this is the wrong page, but I couldn't find the right page.

Small example: TargetFramework and AppendTargetFrameworkToOutputPath are not documented here.

    &lt;Project Sdk="Microsoft.NET.Sdk"&gt;
      &lt;PropertyGroup&gt;
        &lt;ProjectGuid&gt;{A335E763-3E79-4BF4-907E-8165EDEF1F17}&lt;/ProjectGuid&gt;

[2019-10-16 13:20] jazzdelightsme opened #4127 "There should be an example"
There should be example code that would trigger the error, and then show how to fix the example.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 95e6579c-df50-045d-b380-5830e0a5169c
* Version Independent ID: 2b1031df-8407-c67b-fff0-beba66e734b0
* Content: [C26481 - Visual Studio](https://docs.microsoft.com/en-us/visuals

[2019-10-16 16:54] gewarren commented on #4123
@OliaG Should I add this info to the docs page?

[2019-10-16 18:15] JoshuaPartlow commented on #4090
Hi @lichasu, did you create a super user (admin) account in step 5-1? I believe you should be able to use the credentials you specified there to login. Is that not working for you?

[2019-10-16 18:37] msebolt commented on #4124
@OfekShilon Thank you for the feedback, assigning this to the author for review.

[2019-10-16 18:55] msebolt commented on #4125
@abhall724 Thank you for the question, unfortunately this feature is not yet supported.

Please refer to the [cross platform docs](https://github.com/dotnet/roslyn/blob/master/docs/infrastructure/cross-platform.md) for further information.

Or consider adding this as a feature request to the [rolyn repo issues](https://github.com/dotnet/roslyn/issues).  There you'll get a direct response from the

[2019-10-16 18:59] msebolt commented on #4126
@robertmuehsig Thank you for the feedback, assigning this to the author for review.

[2019-10-16 19:01] msebolt commented on #4127
@jazzdelightsme Thank you for the feedback, assigning this to the author for review.

[2019-10-16 19:34] k-14 opened #4130 "Windows Presentation Foundation?"
Page states, "Windows Presentation Foundation-You can open this project in Visual Studio 2017, Visual Studio 2013, Visual Studio 2012, and Visual Studio 2010 SP1." Does that mean that you can not open this project in VS 2019?
Also the page states that R Tools for Visual Studio is not supported in VS 2019. Is that currently true?

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2019-10-16 19:43] gewarren commented on #4071
@mavasani The following code triggers CA1303. Is this a bug?

    public class Helpers
    {
        [Localizable(true)]
        public string Text { get; set; }

        public Helpers(string caption)
        {
            Text = nameof(caption);
        }
   }

[2019-10-16 19:45] madskristensen commented on #4122
The second line is wrong: `this.ServiceProvider.GetService(typeof(IServiceContainer)) as OleMenuCommandService`. An `IServiceContainer` cannot be cast to an `OleMenuCommandService`.

[2019-10-16 20:08] Uzivatel919 opened #4131 "Depracation in FxCop Analyzers"
Regard https://docs.microsoft.com/en-us/visualstudio/code-quality/fxcop-rule-port-status?view=vs-2019#deprecated-rules this rule is discontinued.

Here is not any mention on this but explanation is needed instead.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 973fb42e-35fc-1bfc-1889-d62558074ff6
* Version Independent

[2019-10-16 20:17] gewarren commented on #4131
@uzivatel919 Thanks for pointing this out. Ideally we would add a deprecation notice to each deprecated rule.

@eddynaka Is that something you'd be interested in helping out with? You can find the list of deprecated rules here: https://docs.microsoft.com/en-us/visualstudio/code-quality/fxcop-rule-port-status?view=vs-2019#deprecated-rules

[2019-10-16 20:48] dtdono0 opened #4132 "Something to add to this page"
Regarding 'The debugger cannot connect to the remote computer'

I was attempting to attach the VS debugger to my Web API site hosted on my local IIS and was still getting this error even with a matching url.  After reading about the part about Visual Studio being 32-bit, I changed the App Pool option for 'Enable 32-bit applications' from false to true, restarted IIS, and now the VS debugger works

[2019-10-16 20:59] Legends opened #4133 "Support for VS2019?"
-

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a800c233-ad90-d1da-2009-32cb7248071c
* Version Independent ID: b4b9508c-c267-5e81-300a-0565ee2c5e24
* Content: [Concurrency Visualizer - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/profiling/concurrency-visualizer?view=vs-2019)
* Content Source: [docs/pr

[2019-10-16 21:16] eddynaka commented on #4131
@gewarren what tag should i add to mark as deprecated? Do you have an example? Thanks!

[2019-10-16 21:18] Mikejo5000 commented on #4132
@dtdono0 That's good info! I will plan to update the doc.

[2019-10-16 22:53] gewarren commented on #4131
I added an example in this PR: https://github.com/MicrosoftDocs/visualstudio-docs-pr/pull/5631

[2019-10-16 23:07] msebolt commented on #4130
@k-14  Thank you for the questions.

WPF projects can be opened in Visual Studio 2019, assigning this to the author for review.

As for R Tools, it has been discontinued in Visual Studio 2019.  Instead users are encouraged to use R in Azure Notebooks, see https://github.com/MicrosoftDocs/visualstudio-docs/issues/2379.

[2019-10-16 23:13] msebolt commented on #4133
@Legends Thank you for the feedback.

This feature is currently under debate, see [this thread](https://developercommunity.visualstudio.com/idea/516556/support-concurrency-visualizer-in-vs-2019.html).

If you'd like to see this feature, either vote or add comments to the link above.

[2019-10-16 23:21] #4131 closed

[2019-10-16 23:29] rygar08 commented on #4021
Hi, Any update on fixing this link. Eagerly awaiting :)

[2019-10-16 23:50] Mikejo5000 commented on #4021
Sorry for the delay, looks like this is not so easy after all. 925521 has been removed. At the moment, I'd recommend you open a support request or, perhaps, check for solutions based on the error message you're seeing.

To open a support request, please use the [Report a Problem](https://docs.microsoft.com/visualstudio/ide/how-to-report-a-problem-with-visual-studio) tool to report the issue. When

[2019-10-16 23:52] Mikejo5000 commented on #4021
This might be relevant: https://stackoverflow.com/questions/280472/how-can-i-renew-my-expired-clickonce-certificate

[2019-10-17 00:03] DoNgocLinh2010 commented on #4090
Oh Sorry, i saw that!
Thank you

[2019-10-17 03:36] shammat opened #4135 "Following tutorial, always getting 'Some services are not able to be constructed' error"
Specifically, from Step 4: Expose a web API from your ASP.NET Core app (https://docs.microsoft.com/en-us/visualstudio/get-started/csharp/tutorial-aspnet-core-ef-step-04?view=vs-2019)

**When trying to build & run application after installing Swagger (and adding copy/paste content from tutorial as described in article):**

System.AggregateException
  HResult=0x80131500
  Message=Some services are n

[2019-10-17 06:11] gregdegruy commented on #4122
Good catch. What's the correct implementation of this line`var mcs = this.ServiceProvider.GetService(typeof(IMenuCommandService)) as OleMenuCommandService;` , should I used this `OleMenuCommandService commandService = await package.GetServiceAsync(typeof(IMenuCommandService)) as OleMenuCommandService;` to resolve Error CS0411?

[2019-10-17 08:51] eddynaka commented on #4131
@gewarren thanks for the example. I just created a PR to update the other files as well:
https://github.com/MicrosoftDocs/visualstudio-docs-pr/pull/5635

[2019-10-17 09:10] tamlin-mike commented on #4086
@gewarren It would seem this was a misunderstanding, based in part on multiple functions embedded in one visible feature and name (**CodeLens**). The _references_ functionality of CodeLens is included in VS2019 Community, but indeed the _source control_ part is not.

Maybe it could benefit someone else in the future if the _source control_ part was made e.g. boldface?

[2019-10-17 09:10] #4086 closed

[2019-10-17 13:40] mavasani opened #4137 "Update documentation to mention that it CA1001 now handles IAsyncDisposable"
Starting FxCopAnalyzers 3.x, this rule will respect types implementing IAsyncDisposable as disposable types. See https://github.com/dotnet/roslyn-analyzers/pull/2916 for details. The documentation in this page should be updated accordingly once we release FxCopAnalyzers 3.0.0

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2019-10-17 13:41] mavasani commented on #4071
It looks like a bug... Can you please port it to roslyn-analyzers repo? Thanks.

[2019-10-17 13:46] nzain commented on #3541
For VS 2017 Professional, I found `vstest.console.exe` under

`C:\Program Files (x86)\Microsoft Visual Studio\2017\Professional\Common7\IDE\Extensions\TestPlatform`

Note the difference to the comment from @gewarren : `Extensions\` vs `TestExtensions\`.

[2019-10-17 14:44] msebolt commented on #4102
Closing the issue now.

For more information, see [Build Unity Games with Visual Studio](https://visualstudio.microsoft.com/vs/unity-tools/).

[2019-10-17 14:44] #4102 closed

[2019-10-17 14:46] #4125 closed

[2019-10-17 14:47] msebolt commented on #4133
Closing the issue now, please add comments if there any concerns.

[2019-10-17 14:49] msebolt commented on #4069
Closing the issue now, please add comments if there any concerns.

[2019-10-17 15:28] mjrousos opened #4138 "Macros in PreBuildEvent/PostBuildEvent don't work with SDK-style projects"
As explained in [other issues](https://github.com/dotnet/sdk/issues/677#issuecomment-280164111), macro properties like $(ProjectDir) don't work in PreBuildEvent and PostBuildEvent properties when using SDK-style projects. Instead, users should create new targets (using the 'exec' command) that run before or after the PreBuildEvent and PostBuildEvent targets.

Visual Studio has [already been update

[2019-10-17 15:48] KannanKrish commented on #4069
**Choose** and **When** I can't use it in the multi-template project. Exactly in root.vstemplate. I have a problem with selecting project not project items. I can use MSBuild Constructs after the project created. But I want to select a project I want to create.

For example, in xamarin Forms project I can create an Android, iOS, UWP project. Based on this user can select project type in the wizard

[2019-10-17 16:23] Mikejo5000 commented on #4021
Doc update needed: remove the link

[2019-10-17 17:12] ghogen commented on #4138
Thanks. I see you also submitted a related doc issue: https://github.com/dotnet/docs/issues/15248. I will coordinate with the .NET content dev on it.

[2019-10-17 17:18] Legends opened #4141 "document-level customization -> Excel Workbook or Excel Template project template"
Are they the same? What is the difference?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f2fea0f0-ae7e-34c3-5604-abe01fe9da3a
* Version Independent ID: 8f377dd1-654f-a315-8071-90ccc77b64bb
* Content: [Excel: Get started programming document-level customizations - Visual Studio](https://docs.microsoft.com/en-us/visuals

[2019-10-17 17:39] Legends opened #4142 "Walkthrough: Create your first document-level customization for Excel"
But it starts with:

????????????

Irritating...
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a12b2f91-753b-4771-85c2-75808137088a
* Version Independent ID: a047d08b-9306-8f1e-2d69-a932417f97b2
* Content: [Create your first document-level customization for Excel - Visual Studio](https://docs.microsoft.com/en-us/visual

[2019-10-17 18:00] TerryGLee commented on #4118
@donhuvy The page has been updated; thanks for your help in improving our documentation!

[2019-10-17 18:00] #4118 closed

[2019-10-17 18:06] gewarren commented on #4071
@user2150 Would you like to create the issue at https://github.com/dotnet/roslyn-analyzers/issues, or would you like me to?

[2019-10-17 19:05] Mikejo5000 commented on #4126
We are capturing this information in #2016 instead.

[2019-10-17 19:05] #4126 closed

[2019-10-17 19:08] Mikejo5000 commented on #2016
#4126 mentions ProjectGuid, TargetFramework, AssemblyTitle, Product, Copyright, OutputPath, and AppendTargetFrameworkToOutputPath

[2019-10-17 19:13] Mikejo5000 commented on #4124
@OkefShilon Thanks! I'll update the doc.

[2019-10-17 19:24] Mikejo5000 commented on #4097
@markthesharknz I'll ask about this

[2019-10-17 19:31] bfloch commented on #3713
A possible workaround is creating a batch file, for example `VsDevCmdPowerShell.bat`

[code]

In the docker file

[code]

[2019-10-17 19:57] ghogen commented on #3429
Section added.
https://docs.microsoft.com/en-us/visualstudio/containers/container-tools-react?view=vs-2019#modify-the-dockerfile-windows-containers

[2019-10-17 19:57] #3429 closed

[2019-10-17 20:15] shanavt opened #4143 "Add Container Support --> Kubernetes Missing in Visual Studio"
All of a sudden the Kubernetes option is missing from the options. It only shows Service Fabric and Docker Compose. It was working fine and disappeared after I installed VS 2017 for debugging another project. Uninstalling VS2017 and Repairing 2019 are not fixing the issue.

[2019-10-17 21:01] yychang opened #4144 "Error VSP1005: Command line error: Switch /Launch:TestApp.exe is invalid. Aborting."
Running VSPerfCmd.exe /Launch:TestApp.exe results in an Error VSP1005. Is this page outdated? (I'm using VS 2019 Enterprise)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5d30fa52-6cc6-4809-7a39-ab102261ada5
* Version Independent ID: 7d8f7701-d4a2-b02c-19f3-1473f1061e40
* Content: [Launch - Visual Studio](https://docs

[2019-10-17 21:15] TerryGLee commented on #4130
@k-14 We've updated the Windows Presentation Foundation information in the [Project migration and upgrade reference for Visual Studio](https://docs.microsoft.com/en-us/visualstudio/porting/port-migrate-and-upgrade-visual-studio-projects?view=vs-2019) page; the updates should go live at 4:00pm Pacific Daylight Time (PDT). Thanks for helping us improve the documentation!

[2019-10-17 21:15] #4130 closed

[2019-10-17 23:19] JohnBrea opened #4145 ""An error occurred while creating the new data source: An error occurred while generating the data source.""
Freshly installed VS2019.
In step 7 of "Add a data source", I get the expected message that says the database doesn't contain any objects so I choose Finish.
I then get a popup:

"An error occurred while creating the new data source: An error occurred while generating the data source."

In the Error List, there are two errors with Description of:

"Input file content passed to generator is null or

[2019-10-17 23:29] JohnBrea commented on #4145
I've obviousy done something wrong as was expecting the following to appear in my original comment.

Document Details
⚠ Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.
ID: 11d19e1d-1448-e5b3-6580-9b11042e03ab
Version Independent ID: 549472fa-f3be-53bc-cf9f-170c1183c834
Content: [Create a database file and use table designer - Visual Studio](https://docs.micr

[2019-10-18 02:07] pryorm92 opened #4147 "vcremote currently fails to install on Catalina 10.16 with Xcode 11.1"
I have searched for this issue much of the day and found multiple posts in the past with similar issues that were resolved by having the vcremote developer(s) update the vcremote package. I followed the steps in

https://docs.microsoft.com/en-us/visualstudio/cross-platform/install-and-configure-tools-to-build-using-ios?view=vs-2019

When I reached the step to Install the remote agent for iOS and e

[2019-10-18 02:56] corob-msft commented on #4147
@pryorm92

That's entirely possible, though it's also possible it's an Xcode installation problem. I don't know enough to say. The way to get the dev team's attention is by raising an issue on [Developer Community](https://developercommunity.visualstudio.com/spaces/62/index.html). You can submit an issue there on the web page. Or you can do it from right within Visual Studio, using the **Help** >

[2019-10-18 02:56] #4147 closed

[2019-10-18 06:43] SvendK opened #4148 "No longer called IntelliTrace (VS2017)"
This feature is no longer (visually) called IntelliTrace and no menu item is called that. Look for Diagnostic tools instead.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 053d151b-27df-20e3-d6c2-172033e56f55
* Version Independent ID: 0bc74663-de4a-d90b-cf46-d84edca8c0f7
* Content: [View events with IntelliTrace - Visu

[2019-10-18 06:43] cazeua opened #4149 "Some things about M365 subscription renew"
I activated and set up an M365 subscription from a VS Enterprise subscription. Last week, this VS subscription has expired, so the M365 subscription status is changed from "Automatically renew" to "XX days remaining". Now the administrator has assigned me a VS subscription again, but I checked the M365 subscription status, which is still "XX days remaining".
Do I need to re-create an M365 subscrip

[2019-10-18 11:55] corob-msft commented on #4104
The docs should be updated by tomorrow or Monday.

[2019-10-18 11:55] #4104 closed

[2019-10-18 12:26] kevingy opened #4166 "Documentation is out of date"
The current version of Visual Studio (as of this writing) displays the message "NOTE: This property page has been deprecated and will be removed in a future product release." in the Code Analysis tab.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b48962e-6961-ecd8-9b3f-4e60b97600c5
* Version Independent ID: 4f2b0b4b-

[2019-10-18 13:24] samtse opened #4187 "incorrect info"
in the section adding additional  projects to a solution you suggest right-clicking the solution and selecting add n ew or existing project, however, right clicking the solution on osx (which is what this page is about)   does NOT provide this menu item!!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 776b3956-55f3-6f3

[2019-10-18 15:46] Mikejo5000 commented on #4148
IntelliTrace is VS Enterprise only. Are you using Community? While debugging, I see Debug > IntelliTrace, and Debug > Windows > IntelliTrace Events

[2019-10-18 16:04] msebolt commented on #4141
@Legends  Thank you for the question.

The difference is in the extension and that a template creates a copy of itself each time it's opened, see [this post](https://stackoverflow.com/questions/1396029/excel-change-the-spreadsheets-from-templates-to-workbooks).

Assigning this to the author for review.

[2019-10-18 16:14] msebolt commented on #4143
@shanavt  Thank you for the feedback.

Unfortunately this sounds a Visual Studio 2019 bug, that the product team will need to respond to.

Please start a thread with the [Visual Studio community](https://developercommunity.visualstudio.com/spaces/8/index.html) and add a link to this issue.