[2021-02-04 01:35] #1216 closed

[2021-02-04 01:35] leslierichardson95 commented on #1145
Thanks for submitting your feedback and we apologize for the delayed response. Due to current resourcing and substantial extensibility changes we are currently working on that will result in significant doc changes, we are closing this lower priority issue. We will return to this issue on a later date and address it based on it's relevance after those extensive extensibility updates are made. Feel

[2021-02-04 01:35] #1145 closed

[2021-02-04 01:36] leslierichardson95 commented on #331
Thanks for submitting your feedback and we apologize for the delayed response. Due to current resourcing and substantial extensibility changes we are currently working on that will result in significant doc changes, we are closing this lower priority issue. We will return to this issue on a later date and address it based on it's relevance after those extensive extensibility updates are made. Feel

[2021-02-04 01:36] #331 closed

[2021-02-04 01:36] leslierichardson95 commented on #1022
Thanks for submitting your feedback and we apologize for the delayed response. Due to current resourcing and substantial extensibility changes we are currently working on that will result in significant doc changes, we are closing this lower priority issue. We will return to this issue on a later date and address it based on it's relevance after those extensive extensibility updates are made. Feel

[2021-02-04 01:36] #1022 closed

[2021-02-04 01:37] leslierichardson95 commented on #1072
Thanks for submitting your feedback and we apologize for the delayed response. Due to current resourcing and substantial extensibility changes we are currently working on that will result in significant doc changes, we are closing this lower priority issue. We will return to this issue on a later date and address it based on it's relevance after those extensive extensibility updates are made. Feel

[2021-02-04 01:37] #1072 closed

[2021-02-04 01:38] leslierichardson95 commented on #1490
Thanks for submitting your feedback and we apologize for the delayed response. Due to current resourcing and substantial extensibility changes we are currently working on that will result in significant doc changes, we are closing this lower priority issue. We will return to this issue on a later date and address it based on it's relevance after those extensive extensibility updates are made. Feel

[2021-02-04 01:38] #1490 closed

[2021-02-04 01:38] leslierichardson95 commented on #1675
Thanks for submitting your feedback and we apologize for the delayed response. Due to current resourcing and substantial extensibility changes we are currently working on that will result in significant doc changes, we are closing this lower priority issue. We will return to this issue on a later date and address it based on it's relevance after those extensive extensibility updates are made. Feel

[2021-02-04 01:38] #1675 closed

[2021-02-04 01:39] leslierichardson95 commented on #2054
Thanks for submitting your feedback and we apologize for the delayed response. Due to current resourcing and substantial extensibility changes we are currently working on that will result in significant doc changes, we are closing this lower priority issue. We will return to this issue on a later date and address it based on it's relevance after those extensive extensibility updates are made. Feel

[2021-02-04 01:39] #2054 closed

[2021-02-04 01:39] leslierichardson95 commented on #2086
Thanks for submitting your feedback and we apologize for the delayed response. Due to current resourcing and substantial extensibility changes we are currently working on that will result in significant doc changes, we are closing this lower priority issue. We will return to this issue on a later date and address it based on it's relevance after those extensive extensibility updates are made. Feel

[2021-02-04 01:39] #2086 closed

[2021-02-04 01:40] leslierichardson95 commented on #2321
Thanks for submitting your feedback and we apologize for the delayed response. Due to current resourcing and substantial extensibility changes we are currently working on that will result in significant doc changes, we are closing this lower priority issue. We will return to this issue on a later date and address it based on it's relevance after those extensive extensibility updates are made. Feel

[2021-02-04 01:40] #2321 closed

[2021-02-04 01:40] leslierichardson95 commented on #2766
Thanks for submitting your feedback and we apologize for the delayed response. Due to current resourcing and substantial extensibility changes we are currently working on that will result in significant doc changes, we are closing this lower priority issue. We will return to this issue on a later date and address it based on it's relevance after those extensive extensibility updates are made. Feel

[2021-02-04 01:40] #2766 closed

[2021-02-04 01:41] leslierichardson95 commented on #2772
Thanks for submitting your feedback and we apologize for the delayed response. Due to current resourcing and substantial extensibility changes we are currently working on that will result in significant doc changes, we are closing this lower priority issue. We will return to this issue on a later date and address it based on it's relevance after those extensive extensibility updates are made. Feel

[2021-02-04 01:41] #2772 closed

[2021-02-04 01:41] leslierichardson95 commented on #2816
Thanks for submitting your feedback and we apologize for the delayed response. Due to current resourcing and substantial extensibility changes we are currently working on that will result in significant doc changes, we are closing this lower priority issue. We will return to this issue on a later date and address it based on it's relevance after those extensive extensibility updates are made. Feel

[2021-02-04 01:41] #2816 closed

[2021-02-04 01:42] leslierichardson95 commented on #2856
Thanks for submitting your feedback and we apologize for the delayed response. Due to current resourcing and substantial extensibility changes we are currently working on that will result in significant doc changes, we are closing this lower priority issue. We will return to this issue on a later date and address it based on it's relevance after those extensive extensibility updates are made. Feel

[2021-02-04 01:42] #2856 closed

[2021-02-04 01:42] leslierichardson95 commented on #2866
Thanks for submitting your feedback and we apologize for the delayed response. Due to current resourcing and substantial extensibility changes we are currently working on that will result in significant doc changes, we are closing this lower priority issue. We will return to this issue on a later date and address it based on it's relevance after those extensive extensibility updates are made. Feel

[2021-02-04 01:42] #2866 closed

[2021-02-04 01:42] leslierichardson95 commented on #3288
Thanks for submitting your feedback and we apologize for the delayed response. Due to current resourcing and substantial extensibility changes we are currently working on that will result in significant doc changes, we are closing this lower priority issue. We will return to this issue on a later date and address it based on it's relevance after those extensive extensibility updates are made. Feel

[2021-02-04 01:42] #3288 closed

[2021-02-04 01:43] leslierichardson95 commented on #3335
Thanks for submitting your feedback and we apologize for the delayed response. Due to current resourcing and substantial extensibility changes we are currently working on that will result in significant doc changes, we are closing this lower priority issue. We will return to this issue on a later date and address it based on it's relevance after those extensive extensibility updates are made. Feel

[2021-02-04 01:43] #3335 closed

[2021-02-04 01:43] leslierichardson95 commented on #3592
Thanks for submitting your feedback and we apologize for the delayed response. Due to current resourcing and substantial extensibility changes we are currently working on that will result in significant doc changes, we are closing this lower priority issue. We will return to this issue on a later date and address it based on it's relevance after those extensive extensibility updates are made. Feel

[2021-02-04 01:43] #3592 closed

[2021-02-04 01:43] leslierichardson95 commented on #3823
Thanks for submitting your feedback and we apologize for the delayed response. Due to current resourcing and substantial extensibility changes we are currently working on that will result in significant doc changes, we are closing this lower priority issue. We will return to this issue on a later date and address it based on it's relevance after those extensive extensibility updates are made. Feel

[2021-02-04 01:43] #3823 closed

[2021-02-04 01:44] leslierichardson95 commented on #3864
Thanks for submitting your feedback and we apologize for the delayed response. Due to current resourcing and substantial extensibility changes we are currently working on that will result in significant doc changes, we are closing this lower priority issue. We will return to this issue on a later date and address it based on it's relevance after those extensive extensibility updates are made. Feel

[2021-02-04 01:44] #3864 closed

[2021-02-04 01:44] leslierichardson95 commented on #4122
Thanks for submitting your feedback and we apologize for the delayed response. Due to current resourcing and substantial extensibility changes we are currently working on that will result in significant doc changes, we are closing this lower priority issue. We will return to this issue on a later date and address it based on it's relevance after those extensive extensibility updates are made. Feel

[2021-02-04 01:44] #4122 closed

[2021-02-04 01:45] leslierichardson95 commented on #4370
Thanks for submitting your feedback and we apologize for the delayed response. Due to current resourcing and substantial extensibility changes we are currently working on that will result in significant doc changes, we are closing this lower priority issue. We will return to this issue on a later date and address it based on it's relevance after those extensive extensibility updates are made. Feel

[2021-02-04 01:45] #4370 closed

[2021-02-04 01:45] leslierichardson95 commented on #4406
Thanks for submitting your feedback and we apologize for the delayed response. Due to current resourcing and substantial extensibility changes we are currently working on that will result in significant doc changes, we are closing this lower priority issue. We will return to this issue on a later date and address it based on it's relevance after those extensive extensibility updates are made. Feel

[2021-02-04 01:45] #4406 closed

[2021-02-04 01:46] leslierichardson95 commented on #4436
Thanks for submitting your feedback and we apologize for the delayed response. Due to current resourcing and substantial extensibility changes we are currently working on that will result in significant doc changes, we are closing this lower priority issue. We will return to this issue on a later date and address it based on it's relevance after those extensive extensibility updates are made. Feel

[2021-02-04 01:46] #4436 closed

[2021-02-04 01:47] leslierichardson95 commented on #4507
Thanks for submitting your feedback and we apologize for the delayed response. Due to current resourcing and substantial extensibility changes we are currently working on that will result in significant doc changes, we are closing this lower priority issue. We will return to this issue on a later date and address it based on it's relevance after those extensive extensibility updates are made. Feel

[2021-02-04 01:47] #4507 closed

[2021-02-04 01:47] leslierichardson95 commented on #4509
Thanks for submitting your feedback and we apologize for the delayed response. Due to current resourcing and substantial extensibility changes we are currently working on that will result in significant doc changes, we are closing this lower priority issue. We will return to this issue on a later date and address it based on it's relevance after those extensive extensibility updates are made. Feel

[2021-02-04 01:47] #4509 closed

[2021-02-04 01:48] leslierichardson95 commented on #4545
Thanks for submitting your feedback and we apologize for the delayed response. Due to current resourcing and substantial extensibility changes we are currently working on that will result in significant doc changes, we are closing this lower priority issue. We will return to this issue on a later date and address it based on it's relevance after those extensive extensibility updates are made. Feel

[2021-02-04 01:48] #4545 closed

[2021-02-04 01:49] leslierichardson95 commented on #4737
Thanks for submitting your feedback and we apologize for the delayed response. Due to current resourcing and substantial extensibility changes we are currently working on that will result in significant doc changes, we are closing this lower priority issue. We will return to this issue on a later date and address it based on it's relevance after those extensive extensibility updates are made. Feel

[2021-02-04 01:49] #4737 closed

[2021-02-04 01:49] leslierichardson95 commented on #4778
Thanks for submitting your feedback and we apologize for the delayed response. Due to current resourcing and substantial extensibility changes we are currently working on that will result in significant doc changes, we are closing this lower priority issue. We will return to this issue on a later date and address it based on it's relevance after those extensive extensibility updates are made. Feel

[2021-02-04 01:49] #4778 closed

[2021-02-04 09:35] mrlacey commented on #2856
Sad to hear that localization is a low priority.

Are the extensibility changes you refer to with regard to changes relating to a more distributed model regarding the VS instances and where code and extensions are located? If so then my understanding is that such a change will be a slow (possibly multi-year transition) What can we expect in terms of documentation updates during this time? What wil

[2021-02-04 18:35] JoshuaPartlow commented on #5925
Closing issue given timeframe with no reply, please reopen if this is still an issue.

[2021-02-04 18:35] #5925 closed

[2021-02-04 20:26] WilliamAntonRohm commented on #6353
@V4A001 -- thank you for your question.  Please consider these resources, and let me know if they help answer your question:
- [Visual Studio on Q&A](https://docs.microsoft.com/en-us/answers/products/vs)
- [Visual Studio MSDN Forum](https://social.msdn.microsoft.com/Forums/vstudio)
- [Stack Overflow](https://stackoverflow.com/search?q=%22visual+studio%22)
- [Reddit](https://www.reddit.com/r/Visual

[2021-02-04 22:25] ghogen commented on #6352
@explorest Thanks - it should be added.

[2021-02-04 22:52] #6352 closed

[2021-02-04 23:12] ghogen commented on #6321
@atniomn Thanks for this issue - we need to add documentation for LauncherBasedDeployment. This feature supports .NET Core executables, which when built are initially named apphost.exe and then renamed to the final executable. See https://github.com/dotnet/msbuild/pull/5745.

[2021-02-04 23:35] #6257 closed

[2021-02-04 23:48] ghogen commented on #6256
@JasonCard This might be an issue with the translation. Should we move it to the visualstudio-docs.zh-cn repo?

[2021-02-04 23:51] ghogen commented on #6247
@billyhigdon  Thanks - yes this should be updated so it's consistent with the user interface for .NET Core projects.

[2021-02-04 23:58] ghogen commented on #6237
@KalleOlaviNiemitalo Thanks - the parameter is UseUtfEncoding. We need to add this to the documentation.

[2021-02-05 00:54] KalleOlaviNiemitalo commented on #6237
@ghogen, where do you see the "UseUtfEncoding" name? [Searching for that in the MSBuild repo](https://github.com/dotnet/msbuild/search?q=UseUtfEncoding) doesn't find anything.

[2021-02-05 01:49] ghogen commented on #6237
@KalleOlaviNiemitalo It's actually UseUtf8Encoding - sorry!

[2021-02-05 12:42] prasanve opened #6358 "Incorrect folder structure"
https://docs.microsoft.com/en-us/visualstudio/code-quality/how-to-generate-code-metrics-data?view=vs-2019#metricsexe

Point. No 4. says navigate to folder src/Tools
but the next line says Execute the following command to build the Metrics.csproj project:
where Metrics.csproj is not found. the point no. 4 should say src/Tools/Metrics
---
#### Document Details

⚠ *Do not edit this section. It is req

[2021-02-05 16:15] flytzen opened #6359 "EnableNETAnalyzers for pre 5.0 does not work"
The linked doc states that "You can enable code analysis on projects that target earlier .NET versions by setting the EnableNETAnalyzers property to true."

Given this code:
[code]

And this csproj:
[code]

`dotnet build` will give:

Make this one change to .csproj:
[code]

then you get *no* build warnings.

For completeness, this .csproj will also not give any build warnings:
[code]

For referenc

[2021-02-05 18:41] petevb commented on #6359
@flytzen As a workaround you can edit your netcore 3.1 .csproj to add `AnalysisLevel` **and** the package ref, e.g.:
[code]

As you noted, the doc states:

That doesn't seem to work.  But the docs here <https://github.com/dotnet/roslyn-analyzers#microsoftcodeanalysisnetanalyzers>

I could only get the latter to work :(

[2021-02-05 19:44] DannyAllegrezza opened #6360 "Docker tutorial - Part 1: URL to sample app is broken"
Hello,

Just wanted to highlight that the URL to download the sample app (expected: `app.zip`) is currently set to `localhost/assets/app.zip` which is incorrect. This is located under step 2 of the "Get the app" section (https://github.com/MicrosoftDocs/visualstudio-docs/blob/master/docker/tutorials/your-application.md#get-the-app)

---
#### Document Details

⚠ *Do not edit this section. It is req

[2021-02-05 20:19] WilliamAntonRohm commented on #6360
@DannyAllegrezza -- Danny, thank you for your feedback. This issue is being tracked in #5827.

cc @ghogen for awareness

[2021-02-05 20:19] #6360 closed

[2021-02-05 22:29] JasonCard commented on #6256
@averywu @WilliamAntonRohm @ghogen Thank you for your feedback. This article is machine translated, so please understand that some translation quality issues are expected. While we are working to improve our MT engine, it's not scalable to fix all MT issues. It appears that this translation issue could be considered minor, so please go ahead to close this issue. For MT translation that's difficult

[2021-02-05 22:36] #6256 closed

[2021-02-05 23:30] elraikhm opened #6361 "zipped application link is broken"
[Enter feedback here]
Not able to download the application zip file

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cddd74b1-e0f1-1cae-e92d-c7c2b81e77e3
* Version Independent ID: f853e977-81c2-64d6-682e-1e712344cbad
* Content: [Docker tutorial - Get started with Docker](https://docs.microsoft.com/en-us/visualstudio/dock

[2021-02-05 23:59] misholson opened #6362 "Webpack step doesn't work"
I have followed the instructions so far, but when I get to the part where we run webpack for the first time I get the following:
[code]

I've tried a bunch of things but I can't seem to figure it out. This is my first experience with webpack and typescript really so I don't know where to look.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2021-02-06 00:00] misholson commented on #6362
I figured it out. I left out the `--config` before the webpack-config.js argument.

[2021-02-06 00:00] #6362 closed

[2021-02-06 01:44] WilliamAntonRohm commented on #6361
@elraikhm -- Elena, thank you for your feedback. This issue is being tracked in #5827.

cc @nebuk89 @ghogen for awareness

[2021-02-06 01:44] #6361 closed

[2021-02-08 08:23] sprotty opened #6364 "Example is wrong"
In the docs for Language tag you say the tag fo C# is
C# (csharp)

Then in the example you use this
  <LanguageTag>C#</LanguageTag>

I think this should be
  <LanguageTag>csharp</LanguageTag>

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f66438c2-1bb4-f5f9-12f8-64c25f5460ce
* Version Independent ID: 5e9669ca-e652-1459

[2021-02-09 13:24] MortenKristiansen opened #6367 "Information does not work with MSI setup projects."
ProjectFile.vdproj(1,1): error MSB4025: The project file could not be loaded. Data at the root level is invalid. Line 1, position 1.

Top content of setup project file:
"DeployProject"
{
"VSVersion" = "3:800"
"ProjectType" = "8:{978C614F-708E-4E1A-B201-565925725DBA}"
"IsWebType" = "8:FALSE"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2021-02-09 13:48] maulik-modi opened #6368 "Are these benefits available to Azure Devops Server (Onpremise)?"
In case we have Visual Studio professional licenses, Are we entitled to Azure Boards & Repos (Basic Plan) on premise?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 86accd88-89c8-f5bd-154f-c038c385d73d
* Version Independent ID: 18efab26-6236-f0e7-2959-dcc5735fff6e
* Content: [Azure DevOps benefits for Visual Studio sub

[2021-02-09 15:20] stewa11 opened #6369 "How do we "remove the VSTO Add-in assembly, registry entries, and security settings from your development computer"?"
[From the page, how do we "remove the VSTO Add-in assembly, registry entries, and security settings from your development computer"?]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f039611f-8350-01b7-136f-d2ff49ae2eeb
* Version Independent ID: 0c7098c7-26fd-3512-647a-da82ffaa4727
* Content: [Walkthrough: Create your fi

[2021-02-09 17:08] WilliamAntonRohm commented on #6368
@maulik-modi -- thank you for your question.

@evanwindom -- please look into this issue.

[2021-02-09 20:07] WilliamAntonRohm commented on #6367
@MortenKristiansen -- thank you for your feedback.  Please consider these resources:

[2021-02-09 20:11] WilliamAntonRohm commented on #6369
@stewa11 -- thank you for your question.  Please consider these resources:
- [Visual Studio on Q&A](https://docs.microsoft.com/en-us/answers/products/vs)
- [Visual Studio MSDN Forum](https://social.msdn.microsoft.com/Forums/vstudio)
- [Stack Overflow](https://stackoverflow.com/search?q=%22visual+studio%22)
- [Reddit](https://www.reddit.com/r/VisualStudio)

@John-Hart -- please look into this issue

[2021-02-09 22:21] stewa11 commented on #6369
I was findingvthat cleaningvtge solution in VS wasnt clearing the code, new tasks were being created on open for all projects  I found that if you close Project, clean the solution from the Build menu and close VS, the VSTO was no longer present. Or at least I hope it has persistance.

thanks
Stew

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: William Anton

[2021-02-11 19:33] WilliamAntonRohm commented on #6369
@stewa11 -- Stew, thank you for your followup.

@John-Hart -- John, please look into this potential documentation issue.

[2021-02-12 12:28] tanser opened #6377 "Useless GIT Management On VS for MAC"
Please add com 3part extension for git management.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5c1ebf72-a4ef-3b5f-99d5-95a0a83973d9
* Version Independent ID: b839d4b7-e42d-758c-2762-8fc7a93551e9
* Content: [Working with Git - Visual Studio for Mac](https://docs.microsoft.com/en-us/visualstudio

[2021-02-12 16:22] personaelit commented on #5173
@kendrahavens Yes.  This would be nice.  I ran into this issue today and [ended up querying Stackoverflow.](https://stackoverflow.com/questions/66175017/visual-studio-test-explorer-icons)

[2021-02-12 17:21] WilliamAntonRohm commented on #6377
@tanser -- Tanser, thank you for your feedback.  This repo is solely for documentation issues, and this is a product issue.  Please add your concern here:
- Suggest a feature, track product issues, and find answers in the [Visual Studio Developer Community](https://developercommunity.visualstudio.com).

Please also consider these options:
- Report product issues to us via the [Report a Problem](ht

[2021-02-12 17:21] #6377 closed

[2021-02-12 18:34] DynConcepts opened #6379 "Creation of New Build Platforms...."
[Enter feedback here]
PAge does not include any information on how to create NEW Platforms....   Perhaps for a dedicated processor type...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5d8b801b-785b-f43a-94be-2b5691c20ae6
* Version Independent ID: 275d2129-4c31-030f-b6bb-6fa7b90909ca
* Content: [Understand build platf

[2021-02-12 18:45] WilliamAntonRohm commented on #6358
@Mikejo5000 -- Mike, please review [private PR 7808](https://github.com/MicrosoftDocs/visualstudio-docs-pr/pull/7808) containing this change.

[2021-02-12 18:52] WilliamAntonRohm commented on #6364
@minsa110 -- Soojin, please review [private PR 7809](https://github.com/MicrosoftDocs/visualstudio-docs-pr/pull/7809) containing this change.

[2021-02-12 18:58] #6358 closed

[2021-02-12 19:49] WilliamAntonRohm commented on #6358
Thank you for your feedback.  I have updated the documentation and it should be live by tomorrow.

[2021-02-12 19:51] WilliamAntonRohm commented on #6379
@DynConcepts -- David, thank you for your feedback.  Please consider these resources:
- [Visual Studio on Q&A](https://docs.microsoft.com/en-us/answers/products/vs)
- [Visual Studio MSDN Forum](https://social.msdn.microsoft.com/Forums/vstudio)
- [Stack Overflow](https://stackoverflow.com/search?q=%22visual+studio%22)
- [Reddit](https://www.reddit.com/r/VisualStudio)

@ghogen -- Gordon, please look

[2021-02-13 00:48] gewarren opened #6381 "Wrong markings in the documentation"
---
**Issue moved from MicrosoftDocs/feedback#3431**
- Please respond to @pengyouak.

---

_From @pengyouak on Friday, January 29, 2021 3:33:07 AM_

**Describe**
page: https://docs.microsoft.com/en-us/visualstudio/extensibility/ux-guidelines/shared-colors-for-visual-studio?view=vs-2019

path:  **“Common shared controls”** - **“Drop-downs and combo boxes”**

Wrongly marked `ComboBoxGlyph` as `Combo

[2021-02-13 00:48] gewarren commented on #6381
---
**Issue moved from MicrosoftDocs/feedback#3431**
- Please respond to @welcome[bot].

---

_From @welcome[bot] on Friday, January 29, 2021 3:33:08 AM_

Thank you for creating the issue! One of our team members will get back to you shortly with additional information. If this is a product issue, please close this and contact the particular product's support instead (see https://support.microsoft

[2021-02-13 00:48] gewarren commented on #6381
---
**Issue moved from MicrosoftDocs/feedback#3431**
- Please respond to @JasonWHowell.

---

_From @JasonWHowell on Friday, January 29, 2021 11:20:31 PM_

@acangialosi please take a look at this image which has an issue.
#assign:acangialosi

[2021-02-13 00:48] PRMerger18 commented on #6381
acangialosi is already assigned.

[2021-02-13 17:59] bitwisesys opened #6382 "How can I access the Solution Version Number so i can display it in my app?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 69679340-d7cb-4a95-b2da-7b09377baaa8
* Version Independent ID: 11469a16-835d-ebb6-2285-4f9d41a7235b
* Content: [Managing Project and Solution Properties - Visual Studio for Mac](https://docs.microsoft.com/en-us/visualstudio/mac/managing-solutions-and-

[2021-02-14 10:23] WilheimRy opened #6384 "Can't download the app in this page, since the link lead to a localhost address [(http://localhost/assets/app.zip)]"
Can't download the app in this page, since the link lead to a localhost address [(http://localhost/assets/app.zip)]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 38a38919-b557-4723-7ea9-b0fbafbfdc52
* Version Independent ID: 2117c374-eda9-906e-392e-c55e1ebf8060
* Content: [Docker tutorial - Part 1: Build and run the t

[2021-02-14 13:53] 304NotModified opened #6386 "How do I allow a semicolon in the File header? (possible bug)"
With this:

.editorconfig:
[code]

Add -> Class, will generate:

[code]

I expected `// a;b;c` and not `// a`

It this a bug as [the specs](https://editorconfig-specification.readthedocs.io/#file-format) say it should not be interpreted as comment.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25effdb0-73bc-c23f-9f68-

[2021-02-14 15:34] DynConcepts opened #6387 "Visual Studio and New Project Platforms..."
[Enter feedback here]
This page has been repeatedly a landing point for searches about how to create a NEW platform, yet there is no information on that....

I would expect this to at least include a link to material (which I can not find anywhere) about that subject...  Perhaps I want to target my code to an old PDP-11 platform? What is the procedure (with examples, step by step) for accomplishin

[2021-02-15 20:58] brillyints opened #6389 "Mentions of property not shown in example"
The Remarks section makes reference to $(PublishRoot) being concatenated with $(ReleaseDirectory), but ReleaseDirectory isn't specified.

The explanation says $(PublishRoot) should be C:\Site1\, and $(ReleaseDirectory) should be Release\, but the XML just defines PublishRoot as C:\Site1\Release.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2021-02-16 09:07] wai-t opened #6390 "There is no context menu item to "Add > New Item > C++ Unit Test.""
In the section, [To add unit tests in the same project](https://docs.microsoft.com/en-us/visualstudio/test/how-to-write-unit-tests-for-cpp-dlls?view=vs-2019#sameProject), it instructs the user to choose "Add > New Item > C++ Unit Test". However, this option does not exist in the context menu for the selected project.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2021-02-16 14:54] angelicochris opened #6391 "No instructions for not creating solution folder at all and instead just the project folders."
The original project I created the template for had a structure like this:
Root
--.vs
--ProjectName.sln
--ProjectName.Web/
--ProjectName.Repository/
--ProjectName.Service/
--ProjectName.Common/
--packages/

But when I create a new project I get this

Root
--.vs
--ProjectName/
----ProjectName.Web/
----ProjectName.Repository/
----ProjectName.Service/
----ProjectName.Common/
--ProjectName.sln

I don'

[2021-02-16 16:56] angelicochris commented on #3927
Running into this issue as well. It real sad that Microsoft can't fix what should be a simple issue for them. Going to try that tool and see if it is going to end up being the last step in our new solution making process because MS can't do their job.

[2021-02-16 17:11] taori commented on #3927
I would not expect them to invest a lot of time anymore on this. There is a new templating system now after all.

[2021-02-16 17:54] #6347 closed

[2021-02-16 17:55] #6349 closed

[2021-02-16 17:59] corob-msft commented on #6390
@wai-t

Thanks for the report. That's not the only issue in this procedure, so I've updated the text and the fix should appear sometime tomorrow. It will read something like this:

### To add unit tests in the same project

1. Modify the product code project properties to include the headers and library files that are required for unit testing.

   1. In **Solution Explorer**, in the shortcut menu

[2021-02-16 17:59] #6390 closed

[2021-02-16 21:08] WilliamAntonRohm commented on #6382
@bitwisesys -- thank you for your question.  Please consider these resources:
- [Visual Studio on Q&A](https://docs.microsoft.com/en-us/answers/products/vs)
- [Visual Studio MSDN Forum](https://social.msdn.microsoft.com/Forums/vstudio)
- [Stack Overflow](https://stackoverflow.com/search?q=%22visual+studio%22)
- [Reddit](https://www.reddit.com/r/VisualStudio)

@heiligerdankgesang -- please look int

[2021-02-16 21:15] WilliamAntonRohm commented on #6391
@angelicochris -- thank you for your detailed feedback.  Please consider these resources:
- [Visual Studio on Q&A](https://docs.microsoft.com/en-us/answers/products/vs)
- [Visual Studio MSDN Forum](https://social.msdn.microsoft.com/Forums/vstudio)
- [Stack Overflow](https://stackoverflow.com/search?q=%22visual+studio%22)
- [Reddit](https://www.reddit.com/r/VisualStudio)

@TerryGLee -- please look

[2021-02-16 21:22] WilliamAntonRohm commented on #6386
@304NotModified -- Julian, thank you for your detailed feedback and editor PR.

@mikadumont -- Mika, please look into this issue and PR.

[2021-02-16 21:24] angelicochris commented on #6391
I've done extensive searching and the best I found was an extension mentioned in another issue [here](https://github.com/MicrosoftDocs/visualstudio-docs/issues/3927) that moves the projects out of the extra folder it creates. There apparently is no built in way to do this. Other posts on stackoverflow mention using a wizard which I followed a bit [here](https://docs.microsoft.com/en-us/visualstudi

[2021-02-16 21:31] WilliamAntonRohm commented on #6387
@DynConcepts -- David, thank you for your feedback.  We had a PDP-11/70 in college, a solid beast.  Please consider these resources:
- [Visual Studio on Q&A](https://docs.microsoft.com/en-us/answers/products/vs)
- [Visual Studio MSDN Forum](https://social.msdn.microsoft.com/Forums/vstudio)
- [Stack Overflow](https://stackoverflow.com/search?q=%22visual+studio%22)
- [Reddit](https://www.reddit.com/

[2021-02-16 21:45] WilliamAntonRohm commented on #6384
@WilheimRy -- thank you for your feedback and proposed fix.  This issue is also being tracked in #5827.

@ghogen -- please look into this issue and [PR #6385](https://github.com/MicrosoftDocs/visualstudio-docs/pull/6385).

cc @nebuk89 for awareness

[2021-02-16 22:10] mikadumont commented on #6386
This seems to be a PR to the feature itself. Do you know how I can move this to https://github.com/dotnet/roslyn/issues ?

[2021-02-16 22:15] Mikejo5000 commented on #6238
VS for Mac is quite a different IDE, so the the VS for Mac docs have a different location. Please see these [deployment docs](https://docs.microsoft.com/en-us/visualstudio/mac/web-app-deployment?view=vsmac-2019) for VS for Mac.

[2021-02-16 22:20] Mikejo5000 commented on #6210
VS for Mac is quite a different IDE, so the the VS for Mac docs have a different location. Please see these [debugging docs](https://docs.microsoft.com/en-us/visualstudio/mac/debugging?view=vsmac-2019) for VS for Mac. I don't see any docs offhand for attach to process, so I'm not sure about that scenario.

[2021-02-16 22:20] Mikejo5000 commented on #6210
Switching label to VS for Mac

[2021-02-16 22:22] Mikejo5000 commented on #6238
Re-opening, and correcting the product label.

[2021-02-16 23:23] Mikejo5000 commented on #6306
@VelizarHristov Sorry for the slow response. I am asking about this. It's possible that the scenario has been broken and no longer works as described in the doc. I understand it's possible to set up the unit tests in a separate .njsproj project in the same solution, but I'm not sure how things need to be configured. I'm trying to find out.

[2021-02-16 23:26] Mikejo5000 commented on #6359
@mavasani Manish, is the AnalysisLevel element required to make the scenario work?

[2021-02-16 23:33] AraHaan commented on #6359
On my projects I got mine to work by setting:

[code]

And then telling the users who want to use my projects and build them to install the .NET 6 SDK on from the master branch.

[2021-02-17 00:15] mavasani commented on #6359
There was a bug in .NET 5.0 SDK that required AnalysisLevel to be set when using NuGet package, but this should be fixed with 5.0.2 release of the SDK.

[2021-02-17 00:35] AraHaan commented on #6359
That is true, but then sometimes people use things which is bugged even on the latest stable 5.0.x release so then you are forced to use the .NET 6 SDK in the meantime (until it gets fixed), I face that issue on my end as well, but thank god my github actions workflows that use the 5.0.3 SDK do not build error at least.

However I would like to find out if I could technically tell github actions t

[2021-02-17 00:48] WilliamAntonRohm commented on #6386
@mikadumont -- thank you for your followup.  I am investigating how to move it.

[2021-02-17 00:53] sayedihashimi commented on #6238
We have a tutorial for that over at https://docs.microsoft.com/en-us/visualstudio/mac/publish-app-svc?view=vsmac-2019. I'm not sure what the best way to integrate that into this doc is. It would be good to have a link in this doc pointing the the Visual Studio for Mac doc at least. @Mikejo5000 thoughts?

[2021-02-17 00:54] sayedihashimi commented on #6210
Not sure if this is supported in Visual Studio for Mac (I have been working outside of Visual Studio for Mac for a number of months), @jmatthiesen do you know if it's supported?

[2021-02-17 10:17] VelizarHristov commented on #6306
Another problem I've had since I wrote my initial post was that I couldn't figure out a way to get Visual Studio to respect my Jest configuration file `jest.config.js`. I need that file to run my tests because I don't think it's possible to write Vue tests without it. It would be great if there is a confirmation on whether it's possible to do that.

[2021-02-17 16:32] therealjohn commented on #6210
@Markemp I'll need to check if it's supported, but the docs we have around docker for VS for Mac are located here: https://docs.microsoft.com/en-us/visualstudio/mac/docker-quickstart?view=vsmac-2019

What issue did you run into when trying this?

[2021-02-17 21:25] Markemp commented on #6210
I have an ASP.Net Core 3 app running on Docker.  I'm able to attach VS 2019 Professional to it on my Windows machine, but when I try to attach to it with VS 2019 for Mac, it didn't have any way to attach to the process running in the docker container.  But it's been a bit since I tried this, and I *think* at the time I tried what was on the page you linked, but I need to reverify it.  It's been a

[2021-02-18 02:08] WilheimRy commented on #6384
@WilliamAntonRohm thanks very much for the rapid response, however I don't have a local iis installed so I guess for me it would be a different case from #5827? Is there anything else I can try to resolve this? It seems my docker desktop app won't parse the localhost correctly.

[2021-02-18 09:06] yaxye8123 opened #6394 "visual studio code"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7919124d-c9b4-f70a-20ff-38a1b9766304
* Version Independent ID: 915cecfc-4cd7-0267-efc4-ba7942789c43
* Content: [Write code for the show a picture button event handler - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/ide/step-8-write-code

[2021-02-18 20:10] WilliamAntonRohm commented on #6384
@WilheimRy -- you're welcome, and thank you for clarifying.  Please consider these resources meanwhile:
- [Visual Studio on Q&A](https://docs.microsoft.com/en-us/answers/products/vs)
- [Visual Studio MSDN Forum](https://social.msdn.microsoft.com/Forums/vstudio)
- [Stack Overflow](https://stackoverflow.com/search?q=%22visual+studio%22)
- [Reddit](https://www.reddit.com/r/VisualStudio)

[2021-02-18 20:10] #6353 closed

[2021-02-18 20:11] WilliamAntonRohm commented on #6394
@yaxye8123 -- thank you for your feedback.  Please clarify your task or issue.  Meanwhile, consider these resources:
- [Visual Studio on Q&A](https://docs.microsoft.com/en-us/answers/products/vs)
- [Visual Studio MSDN Forum](https://social.msdn.microsoft.com/Forums/vstudio)
- [Stack Overflow](https://stackoverflow.com/search?q=%22visual+studio%22)
- [Reddit](https://www.reddit.com/r/VisualStudio)

[2021-02-18 20:28] V4A001 commented on #6353
Not really. I think it is not possible, but documentation is not very clear: "Bridge to Kubernetes lets you work in isolation from colleagues using the same cluster and namespace by leveraging our new routing technology."
https://devblogs.microsoft.com/visualstudio/bridge-to-kubernetes-ga/

[2021-02-18 22:29] Mikejo5000 commented on #6306
@jessetrinity @uniqueiniquity Jesse or Ben, do you know whether the section of this doc, [Unit testing for other project types](https://docs.microsoft.com/en-us/visualstudio/javascript/unit-testing-javascript-with-visual-studio?view=vs-2019#unit-tests-in-other-project-types), is still applicable in VS 2019? Or should it be removed?

[2021-02-18 22:37] Mikejo5000 commented on #6037
@aalmanza-autosoft If there's no parameter to adjust resolution, but only part of the screen is captured, this sounds like a bug or new feature that is needed. To make sure that this is logged in the right place, please use the [Report a Problem](https://docs.microsoft.com/visualstudio/ide/how-to-report-a-problem-with-visual-studio) tool to report the issue. When you do this, your report becomes p

[2021-02-18 22:37] #6037 closed

[2021-02-18 22:39] Mikejo5000 commented on #5944
Need more info to repro this.

[2021-02-18 22:39] #5944 closed

[2021-02-18 22:47] Mikejo5000 commented on #6156
@abdekker My understanding is that the main negative consequence is a performance impact for the debugger.

[2021-02-18 22:47] #6156 closed

[2021-02-19 09:21] gtabul opened #6396 "Automatically open newly created file via "Move type to ClassName.cs" dialog"
Good day,

I am not sure if this is the correct place to be asking this question, but I've searched and been unsuccessful in finding the answer I'm looking for.

Is there any way to configure VS2019 to automatically open the file that is created by a class being refactored into its own file? I find that creating the class in whatever file I'm currently in and then using the refactoring options (Al

[2021-02-19 15:05] mrlife opened #6397 "Difference between default Debug and Release build configurations"
Out of the box, new projects include Debug and Release configurations. I haven't been able to find in Visual Studio for Mac, or in the docs, what the difference is between them or how to change their settings.

Could this information be included here?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 60d51fab-3a5e-3785-e5

[2021-02-19 17:06] jamesailgatta opened #6398 "State Error CS0103 The name 'lblHelloWorld' does not exist in the current context"
[Enter feedback here]

I opened Visual Studio 2019 and a Windows Forms App
Entered the EXACT line from copy & Paste

This is my Code

using System;
using System.Windows.Forms;

namespace HelloWorld
{
    public partial class Form1 : Form
    {
        public Form1()
        {
            InitializeComponent();
        }

        private void button1_Click(object sender, EventArgs e)
        {

[2021-02-19 17:15] WilliamAntonRohm commented on #6396
@gtabul -- Gilad, thank you for your feedback.  Please consider these resources:
- [Visual Studio on Q&A](https://docs.microsoft.com/en-us/answers/products/vs)
- [Visual Studio MSDN Forum](https://social.msdn.microsoft.com/Forums/vstudio)
- [Stack Overflow](https://stackoverflow.com/search?q=%22visual+studio%22)
- [Reddit](https://www.reddit.com/r/VisualStudio)

You are also welcome to add this su

[2021-02-19 17:39] #6396 closed

[2021-02-19 20:39] jessetrinity commented on #6306
Yes we do support `js` unit tests for `csproj` based projects - following the given example for a Mocha test works just fine.

What happens when `jest.config.js` and `package.json` are in the project root? I think specifying the test root is just for individual test files.

[2021-02-20 15:17] VikingByNature opened #6399 "Package Caches and Offline Installs"
If I create an offline installation layout using only a few selected workloads and then install these same workloads from that layout with either the `--Cache` or `--NoCache` options along with the `--NoWeb` option, would caching to a different directory still take place **OR** would _neither_ of the cache options, including `--Path Cache="{ProgramPath}"`, even apply to offline layout installs?

I

[2021-02-20 16:35] VikingByNature opened #6400 "Package Caches and Offline Installs"
If I create an offline installation layout using only a few selected workloads and then install these same workloads from that layout with either the `--Cache` or `--NoCache` options along with the `--NoWeb` option, would caching to a different directory still take place **OR** would _neither_ of the cache options, including `--Path Cache="{ProgramPath}"`, even apply to offline layout installs?

I

[2021-02-20 23:15] VictorIranzo commented on #481
How is the issue going? This [section](https://docs.microsoft.com/en-US/visualstudio/modeling/using-visual-studio-modelbus-in-a-text-template?view=vs-2019#create-a-model-bus-adapter-for-access-from-text-templates) has no sense. Where is the option "Enable Modelbus"? I can't find it. Could someone update the documentation? ... :(

[2021-02-21 16:13] Saratsin opened #6402 "How to add this new extensions repository to VS for Mac?"
I'm trying to see my extension in VS for Mac extensions manager, but have no success. What is the new url for VS for Mac extensions so I can add it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 152afd6c-f908-0041-064d-4513daa7426a
* Version Independent ID: 63210f12-2bb8-515a-f65e-c56930a74d37
* Content: [Troubleshoot

[2021-02-22 10:06] tinonetic opened #6403 "It's not clear where to enable Analysers"
The documentation says

It doesn't say WHERE you find this setting

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 04393392-f11e-4825-2d02-ba41e6c6d882
* Version Independent ID: c86598c1-1363-d11b-df15-ca32bf970de5
* Content: [Enable or install first-party .NET analyzers - Visual Studio](https://docs.microsoft.com/en-us

[2021-02-22 14:08] MikeDiack opened #6404 "Doxygen and XML commenting now supported in VS 2019 (Update 6) as well as C#, Visual Basic."
This page only mentions XML/Doxygen commenting in C# and Visual Basic.
As of Visual Studio 2019 Update 6 and later, it works the same way (simply type a triple slash ///) to autogenerate XML templates for C++ code.

See:
https://devblogs.microsoft.com/cppblog/doxygen-and-xml-doc-comment-support/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2021-02-22 21:17] WilliamAntonRohm commented on #6397
@mrlife -- thank you for your feedback.  Please look at this article and let me know if it answers your question:
- [Set debug and release configurations in Visual Studio](https://docs.microsoft.com/visualstudio/debugger/how-to-set-debug-and-release-configurations)

Here are some additional resources:
- [Visual Studio on Q&A](https://docs.microsoft.com/en-us/answers/products/vs)
- [Visual Studio M

[2021-02-22 21:19] WilliamAntonRohm commented on #6398
@jamesailgatta -- thank you for your feedback.  I am looking into this article.

[2021-02-22 21:20] WilliamAntonRohm commented on #6399
Duplicate of #6400

[2021-02-22 21:20] #6399 closed

[2021-02-22 21:24] WilliamAntonRohm commented on #6403
@tinonetic -- thank you for your feedback.  Please see this article:
- [MSBuild reference for .NET SDK projects](https://docs.microsoft.com/dotnet/core/project-sdk/msbuild-props#enablenetanalyzers)

Here are some additional resources:
- [Visual Studio on Q&A](https://docs.microsoft.com/en-us/answers/products/vs)
- [Visual Studio MSDN Forum](https://social.msdn.microsoft.com/Forums/vstudio)
- [Stac

[2021-02-22 21:30] mrlife commented on #6397
@WilliamAntonRohm Thank you. Sounds like the difference is covered at the beginning of that page.

The release configuration of your program has no symbolic debug information and is fully optimized.

Does this mean there are no properties available to view or edit for them, like there are in [custom build configurations](https://docs.microsoft.com/en-us/visualstudio/mac/create-and-edit-configurati

[2021-02-22 21:36] WilliamAntonRohm commented on #6400
@VikingByNature -- Collin, thank you for your questions.  Please consider these resources:
- [Visual Studio on Q&A](https://docs.microsoft.com/en-us/answers/products/vs)
- [Visual Studio MSDN Forum](https://social.msdn.microsoft.com/Forums/vstudio)
- [Stack Overflow](https://stackoverflow.com/search?q=%22visual+studio%22)
- [Reddit](https://www.reddit.com/r/VisualStudio)

@ornellaalt -- Ornella, p

[2021-02-22 21:40] WilliamAntonRohm commented on #6397
@mrlife -- thank you for your followup.

@heiligerdankgesang -- please look into this potential documentation issue.

[2021-02-22 21:43] tinonetic commented on #6403
Thank-you

[2021-02-22 21:44] Mikejo5000 commented on #6403
It seems best if EnableNETAnalyzers is a link to the MSBuild doc to avoid confusion, since we are talking about enabling and disabling the analyzers. I'll add the link.

[2021-02-22 21:49] Mikejo5000 commented on #6403
Fix should go live in a day or two.

[2021-02-22 21:51] Mikejo5000 commented on #6306
@VelizarHristov Did you have a chance to try this with the two files in the project root?

[2021-02-23 12:09] khamyl opened #6405 "Error in first example description"
https://docs.microsoft.com/en-us/visualstudio/msbuild/delete-task?view=vs-2019

The first example description states:

The correct value of the deleted file name should be **_ConsoleApp1_**.

[2021-02-23 12:14] khamyl opened #6406 "Error in first example description"
https://docs.microsoft.com/en-us/visualstudio/msbuild/delete-task?view=vs-2019

The first example description states:

The correct value of the deleted file name should be **_ConsoleApp1_**.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 22b02536-b99d-e0f5-165c-40c041b2178d
* Version Independent ID: 721b076f-0bab-642a-

[2021-02-23 12:15] khamyl commented on #6405
Correct feedback: #6406

Closing this one.

[2021-02-23 12:15] #6405 closed

[2021-02-23 14:24] NoNameProvided opened #6407 "Why are tutorials for Azure App Service listed under Visual Studio product?"
I wanted to provide feedback for Azure App Service extensions, however when clicking the `This Product` button in the feedback section it takes me to the Visual Studio feedback portal instead of a feedback portal for Azure App Service.

This is because this articles is on the Visual Studio docs portal but it's about Azure App Service.

---
#### Document Details

⚠ *Do not edit this section. It is

[2021-02-23 14:59] binki opened #6408 "Where is visualstudio-16.8.6 which I installed yesterday listed?"
I cannot find the entry for visualstudio-16.8.6 which I installed on 2021-02-22.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7ea27919-8e31-6592-9b9e-9a0cabb0a7ff
* Version Independent ID: 093eeeb2-0306-4af9-2bfc-6d4eefbebf9b
* Content: [Visual Studio build numbers and release dates](https://docs.microsoft.com/en-us/

[2021-02-23 17:15] WilliamAntonRohm commented on #6402
@Saratsin -- Taras, thank you for your question.  Please consider these resources:
- [Visual Studio on Q&A](https://docs.microsoft.com/en-us/answers/products/vs)
- [Visual Studio MSDN Forum](https://social.msdn.microsoft.com/Forums/vstudio)
- [Stack Overflow](https://stackoverflow.com/search?q=%22visual+studio%22)
- [Reddit](https://www.reddit.com/r/VisualStudio)

@heiligerdankgesang -- Dominic, p

[2021-02-23 18:23] ScottLangham opened #6409 "Missed info about the ! option. You can put an exclamation point before a folder in the list of places to search to exclude it. It seems to be missed from the documentation."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e27881f-04bc-b7ba-e217-8360278a14f8
* Version Independent ID: d31c8050-339a-688c-869e-ff7942fd3f74
* Content: [Find in Files - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/ide/find-in-files?f1url=%3FappId%3DDev16IDEF1%26l%3DEN-US%26k%

[2021-02-23 18:25] ScottLangham commented on #6409
Actually. Scratch that. I found that info here, but it doesn't seem to work.
https://developercommunity2.visualstudio.com/t/Find-in-Files---Exclude-Folders/775036?entry=suggestion&ref=native&refTime=1614104497244&refUserId=a730d9b8-e0b2-65e6-a522-8970e9309728

[2021-02-23 18:39] #6409 closed

[2021-02-23 20:09] WilliamAntonRohm commented on #6398
@jamesailgatta -- please try the steps in the [Add a label to the form
](https://docs.microsoft.com/en-us/visualstudio/ide/create-csharp-winform-visual-studio#add-a-label-to-the-form) section, and let me know if that resolves your issue.

[2021-02-23 20:23] jikuja opened #6410 "Clarification required for Azure Devops use rights with MPN benefit VS licenses"
Documentation lists Visual Studio Enterprise(Microsoft Partner Network) as eligible for `Azure Boards & Repos (Basic2), Azure Test Plans, self-hosted parallel jobs.`

Are Azure Devops benefits available for all use cases or only for internal work like described here https://docs.microsoft.com/en-us/visualstudio/subscriptions/program-mpn ?

---
#### Document Details

⚠ *Do not edit this section. It

[2021-02-23 20:50] maxwellb commented on #6408
If this issue is not quick to resolve, are you able to share the release notes in this issue for anyone considering the update?

[2021-02-23 20:52] ornellaalt commented on #6408
We are actively working on a fix. In the meantime, if you need the build version for this release, here is the table entry:
`| 16.8.6 | Release | February 22, 2021 | 16.8.31019.35 |`

[2021-02-23 20:54] ornellaalt commented on #6408
@maxwellb Thank you for your comment. This page does not contain the release notes for the updates. To see the latest release notes, please visit https://docs.microsoft.com/en-us/visualstudio/releases/2019/release-notes

[2021-02-23 20:55] maxwellb commented on #6408
Thank you @ornellaalt . For myself, my question was related to the summary of changes. It sounds like that is around the corner, so nevermind on the suggestion.

[2021-02-23 20:55] binki commented on #6408
@ornellaalt the page you link is also missing the release notes for this version ;-).

[2021-02-23 21:00] ornellaalt commented on #6408
@binki gotcha, would you mind submitting feedback on that page directly through one of the links [here](https://docs.microsoft.com/en-us/visualstudio/releases/2019/release-notes#feedback-and-suggestions)? I'll also escalate this to the appropriate team. Unfortunately, this page only hosts a list of releases with dates and the build versions, so I can't advise on the release notes.

[2021-02-23 21:01] maxwellb commented on #6408
@binki For your benefit, I discovered today the list of community changes included in the release on [developercommunity2.visualstudio.com](https://developercommunity2.visualstudio.com/search?q=%5bFixed+In%3a+Visual+Studio+2019+version+16.8.6%5d). Sounds like a major Azure Functions publishing bug was fixed, as well as a significant GitHub integration issue.

[2021-02-23 21:07] maxwellb commented on #6408
A note: I also came here looking for the release notes. I think what is unclear is that the release notes page does not live in the GitHub repo, hence why the issue could not be linked to that page, and is referring to the versions table page. We have gotten the message across most of MicrosoftDocs, that the source of content on docs.microsoft.com lives in GitHub now. I will join others in opening

[2021-02-23 21:12] maxwellb commented on #6408
Updating once again (sorry!) that I appear not to be able to submit feedback through the instructions provided.

![image](https://user-images.githubusercontent.com/3590441/108908886-da010480-75f1-11eb-9ac1-fdc2ad6f97a0.png)

I am using the Build Tools (no IDE) and get this error when attempting to sign in to the feedback portal from the Installer.

[2021-02-23 21:12] WilliamAntonRohm commented on #6407
@NoNameProvided -- Attila, thank you writing us.  What is the feedback that you wanted to attach?

@JoshuaPartlow -- Joshua, please look into this issue.

[2021-02-23 21:17] maxwellb commented on #6408
For anyone else arriving here, this is an issue in the Feedback portal, per instructions from @ornellaalt :

https://developercommunity.visualstudio.com/t/No-Release-Notes-for-version-1686/1346863?entry=problem&space=8&sort=newest

[2021-02-23 22:06] ghogen commented on #6408
All publishing to docs.microsoft.com was blocked starting on 2/18/21. The underlying issue was diagnosed and addressed. Some publishing has resumed, but normal publishing hasn't yet resumed. I expect Visual Studio docs and the release notes will be published as soon as the build system allows it.

[2021-02-23 22:17] evanwindom commented on #6410
@jikuja -   Thanks for your question.  The Azure DevOps benefits are licensed for dev/test only.  They are not licensed for production use.  Any limitations of the MPN program would also apply.

[2021-02-23 23:03] evanwindom commented on #6410
#Please-close

[2021-02-23 23:03] #6410 closed

[2021-02-23 23:47] NoNameProvided commented on #6407
My feedback is about how run a mixed NodeJS, Python app inside app service? One can do this via deploying a NodeJS app service and by adding the Python 3.6.4 x64 extension, but that version is close to EOL and the whole Python as extension thing is deprecated in Azure. So if I understand things correctly, there is no way to run both NodeJS and Python in the same app service instance currently.

[2021-02-24 00:28] Mikejo5000 commented on #6306
I was able to create working Jest unit tests (and Mocha tests) that are supported in Test Explorer by starting with the ASP.NET Core project described here (which is a csproj):

https://docs.microsoft.com/en-us/visualstudio/javascript/tutorial-aspnet-with-typescript?view=vs-2019

To make it work, I used:

1. NuGet package for TypeScript, instead of npm TypeScript (NuGet package is much more compat

[2021-02-24 00:41] Mikejo5000 commented on #5919
Doc update coming. For now, see this:

MicrosoftDocs/visualstudio-docs#6306

[2021-02-24 06:47] ghhv opened #6411 "Incorrect instruction"
[Enter feedback here]
This is slightly incorrect - it should say _press CTRL-ALT_ while you click.
"To select multiple carets, click or make first text selection as usual, and then _press Alt_ while you click or select text in each additional location. "

Also, might clarify to enclose 'Go to Definition' in quotes and specify Tools > Options > Text Editor > General.

---
#### Document Details

⚠ *

[2021-02-24 06:48] nabodhe opened #6412 "Link to SonarLint navigating to Sonar lint link for Visual studio 2017 not to Sonar lint link for Visual studio 2019"
Link to SonarLint navigating to Visual studio 2017 not Visual studio 2019

Below Link shows details for Visual studio 2019
https://docs.microsoft.com/en-us/visualstudio/ide/csharp-developer-productivity?view=vs-2019

However when I click SonarLink link, it navigates to SONAR lint for VS 2017.
Not sure if this is bug or intentional ?

<img width="196" alt="VS_SonarLint_Issue" src="https://user-imag

[2021-02-24 12:50] Andreas-Schniertshauer commented on #6408
I also need the correct download link for the Professional version as on the page https://docs.microsoft.com/en-us/visualstudio/releases/2019/history published, because I need to build an installer layout with it.
Thanks.

[2021-02-24 16:02] VelizarHristov commented on #6306
Thanks! Unfortunately, my jest.config.js file was already in the project root directory when I originally wrote the report. It seemed to me that the testing framework was using its own logic for running the tests, rather then relying on an npm command such as npm run test, and then it was implementing its own mechanism for running the tests, but that didn't handle config files. I haven't been able

[2021-02-24 17:10] Mikejo5000 commented on #6306
I am guessing you are right when you originally mentioned vstest. I think Test Explorer support requires vstest commands, rather than npm commands. But maybe @jessetrinity knows the full story.

[2021-02-24 17:40] TerryGLee commented on #6411
@ghhv Thanks for your feedback; we'll take a look at this (the page is already in the queue to be updated soon, so we'll add this to the list.)

[2021-02-24 17:45] TerryGLee commented on #6412
@nabodhe Good catch; thanks for letting us know. We'll place this in the queue to get fixed, soon. Meanwhile, the link should be this, instead, for Visual Studio 2019:
https://marketplace.visualstudio.com/items?itemName=SonarSource.SonarLintforVisualStudio2019

[2021-02-24 17:51] pheest commented on #1328
I am experiencing this issue with VS2017 15.9.30.

https://download.visualstudio.microsoft.com/download/pr/c77cdde4-54c4-4715-92f2-5da3455e5483/377079f969525a1a48fe1323bcfff5f0c984982ba826db831a0e33aa0449a12a/payload.vsix

I work on an internal secure network, having no access to the Internet.

[2021-02-24 18:10] sharkbit commented on #1328
For anyone running into this issue,   My solution was to set up an internal server to replicate their download site.   Then monitoring the servers logs I would see what extra packages it thought it was missing and had to download them one at a time to include the with previously downloaded files.

[2021-02-25 00:51] extensibleseth opened #6415 "git checkout <commit>"
Please document the process to checkout a commit.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3fb36e99-33ae-20a2-a12d-a3e5d056a153
* Version Independent ID: b5a43c4a-c8bb-2c8a-56b3-09b12a713e58
* Content: [The Git experience in Visual Studio](https://docs.microsoft.com/en-us/visualstudio/ide/git-with-visual-studio?v

[2021-02-25 01:47] ghogen commented on #6408
The release notes have been published
https://docs.microsoft.com/en-us/visualstudio/releases/2019/release-notes

@Andreas-Schniertshauer you can find the download links for the 16.8.6 version of each SKU at the link you gave - it has been updated as of now.

The build numbers aren't yet updated in this article - but you can get them from Ornella's comment in this thread.

[2021-02-25 08:40] Andreas-Schniertshauer commented on #6408
The link https://docs.microsoft.com/en-us/visualstudio/releases/2019/release-notes-preview#16.8.0.pre.5.0 on https://docs.microsoft.com/en-us/visualstudio/releases/2019/release-notes-preview is wrong should be 16.9.0.pre.5.0

[2021-02-25 12:39] BeatMathys opened #6416 "Outlook Integration wie MS Office InterOp Outlook DLL"
Hi

We are using the Microsoft.Office.Interop.Outlook.dll to create Mails from within our ERP Software and send it through the local outlook client. We are using VisualStudio2019.

There are several options we are/were using (open mail window, add Address, CC, BCC, add subject and for example pdf files (like invoices or so)).

With a MS Update (Customer uses Outlook Prod: MS 365 Apps for Enterpris

[2021-02-25 13:11] marsmichel opened #6417 "updates about the visual studio API for CSP Partner center"
Any updates on the Visual studio API so we can automate the purchasing of VS in our end user self service portal?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f413cb5d-d6c4-2036-62e2-0af9b041ade3
* Version Independent ID: 7c96f714-fb4f-a578-546e-2cfba9366d76
* Content: [Visual Studio cloud subscription purchasing for

[2021-02-25 15:03] ghogen commented on #6408
@Andreas-Schniertshauer Thanks for reporting that. We'll get it fixed, but the build issues are still a problem, so it may take a little while for it to be updated.

[2021-02-25 16:19] evanwindom commented on #6417
Hi @marsmichel  -- I don't have any new information about automation of purchasing at this time.

[2021-02-25 16:20] evanwindom commented on #6417
#please-close

[2021-02-25 16:20] #6417 closed

[2021-02-25 16:24] jason-barringer opened #6418 "The section for downloading the zip file is pointing to http://localhost/assets/app.zip. Which I cannot download."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 38a38919-b557-4723-7ea9-b0fbafbfdc52
* Version Independent ID: 2117c374-eda9-906e-392e-c55e1ebf8060
* Content: [Docker tutorial - Part 1: Build and run the todo list sample app](https://docs.microsoft.com/en-us/visualstudio/docker/tutorials/your-appli

[2021-02-25 16:26] #6418 closed

[2021-02-25 18:11] WilliamAntonRohm commented on #6416
@BeatMathys -- thank you for your question.  Please consider these resources:
- [Visual Studio on Q&A](https://docs.microsoft.com/answers/products/vs)
- [Visual Studio MSDN Forum](https://social.msdn.microsoft.com/Forums/vstudio)
- [Stack Overflow](https://stackoverflow.com/search?q=%22visual+studio%22)
- [Reddit](https://www.reddit.com/r/VisualStudio)

I am closing this issue now.  You are welcom

[2021-02-25 18:11] #6416 closed

[2021-02-25 19:04] jessetrinity commented on #6306
Unfortunately I'm not familiar at all with how the test explorer or vstest work at that level. However, I took a look at the nodejs tools tests and while there is a jest test, there is not one with a `jest.confg.js`:
https://github.com/microsoft/nodejstools/blob/main/Nodejs/Tests/MockProjects/NodeAppWithTestsConfiguredPerFile/JestUnitTest.js

This line here does look to me like we pass our own con

[2021-02-25 21:42] TimothyMalahy opened #6419 "The sample app link doesn't download anything."
Where it says "Download the ZIP" underneath Get the App>step 2.

The URL for that is
http://localhost/assets/app.zip

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 38a38919-b557-4723-7ea9-b0fbafbfdc52
* Version Independent ID: 2117c374-eda9-906e-392e-c55e1ebf8060
* Content: [Docker tutorial - Part 1: Build and run the

[2021-02-25 22:25] #6419 closed

[2021-02-25 22:26] TimothyMalahy commented on #6419
Sorry - I now realized where I went wrong.

I would think the docs could better explain that you download docker and then run the command. For example, why can I not run docker/getting-started etc.

[2021-02-26 00:20] armanio123 commented on #6306
If I remember correctly jest picks up the config file regardless and replace the values with the custom config we have set. That includes matching the test files setup on visual studio: https://github.com/microsoft/nodejstools/blob/651627b7e3288500d42c0f3c194ce6fd03bb28d8/Nodejs/Product/TestAdapter/TestFrameworks/Jest/jest.js#L54

It's been some time since I have worked on this so I might be wrong

[2021-02-26 01:02] pgsinoz opened #6421 "VS 2019 no longer has a title bar"
Cant tell if Administrator is enabled - you removed the title bar from VS 2019.
Also need to specify here exactly how you permanently enable run as Administrator.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8fc5e99e-c7bd-9519-c739-bfc6ab1a97fe
* Version Independent ID: 03884a15-6e09-1a83-e83a-5

[2021-02-26 07:42] amit19539 opened #6422 "Referring multiple assemblies"
Hi,

How do I reference multiple assemblies with the UsingTask?

The document makes no mention of it.
https://docs.microsoft.com/en-us/visualstudio/msbuild/usingtask-element-msbuild?view=vs-2019

Thanks

[2021-02-26 08:17] Andreas-Schniertshauer commented on #6408
For me it wasn't a problem, I edited the link manually and was able to download the preview. Thanks for the help, I could do the layout for both compilers.

[2021-02-26 08:20] #6422 closed

[2021-02-26 10:17] slawek-pelka-3301 opened #6423 "Any clue how to solve the problem?"
[Enter feedback here]
Great, any info how to proceed in case of such an error message?
Restart system? Again and again? xD

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72292f7a-7616-4727-ccd3-cf44bb130477
* Version Independent ID: fe3cca82-dfd7-a85c-ab4f-014bc546d668
* Content: [A process has encountered an unrecover

[2021-02-26 10:34] fredrikcarlbom opened #6424 "Hard to understand eventual special meaning to different docker build steps"
**Background**
I'm trying to align our current docker-compose and dockerfiles to the visual studio way of doing it and find that there are lots of gaps in the information.

**Problem**
The page lists `base`, `build`, `publish`, and `final` as steps in the generated Dockerfile but it is never explicitly written exactly how these fit into the bigger picture. We are told that the base step is used in

[2021-02-26 11:47] TarasDikanev opened #6425 "C1189: Py_LIMITED_API is incompatible with Py_DEBUG, Py_TRACE_REFS, and Py_REF_DEBUG still here"
I've set Multi-threaded DLL (/MD) for all configurations but "C1189: Py_LIMITED_API is incompatible with Py_DEBUG, Py_TRACE_REFS, and Py_REF_DEBUG" error still happened until I removed _DEBUG preprocessor definition under debug configuration.

![image](https://user-images.githubusercontent.com/25967394/109296366-3efe6980-7841-11eb-869b-15c33d105161.png)

After that everything seems ok, mixed mode

[2021-02-26 14:35] alvinseville7cf opened #6426 "set command is used instead of setx one in legacy code analysis setup"
[set](https://docs.microsoft.com/en-us/windows-server/administration/windows-commands/set_1) command is used instead of [setx](https://docs.microsoft.com/en-us/windows-server/administration/windows-commands/setx) one in [legacy code analysis setup](https://docs.microsoft.com/en-us/visualstudio/code-quality/how-to-run-legacy-code-analysis-manually-for-managed-code?view=vs-2019):
[code]
But the righ

[2021-02-26 16:20] seanatdp opened #6428 "[Suggested Content:]Invoice Description Question to be answered"
Please include what invoice details will show up on a purchase order or credit statement, such as abbreviations can be expected

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cf290c37-d7fa-9d10-b8ef-865647e58a70
* Version Independent ID: 1334b162-8560-5e0a-c874-9439b697dd96
* Content: [Billing FAQ for Visual Studio Vis

[2021-02-26 17:21] #6426 closed

[2021-02-26 17:52] WilliamAntonRohm commented on #6421
@pgsinoz -- thank you for your feedback.  Please consider these resources:
- [Visual Studio on Q&A](https://docs.microsoft.com/en-us/answers/products/vs)
- [Visual Studio MSDN Forum](https://social.msdn.microsoft.com/Forums/vstudio)
- [Stack Overflow](https://stackoverflow.com/search?q=%22visual+studio%22)
- [Reddit](https://www.reddit.com/r/VisualStudio)

@TerryGLee -- please look into this issue

[2021-02-26 17:55] WilliamAntonRohm commented on #6426
@alvinseville7cf -- Alvin, thank you for your feedback and fix.

[2021-02-26 17:56] WilliamAntonRohm commented on #6428
@seanatdp -- Sean, thank you for your feedback.

@evanwindom -- Evan, please look into this issue.

[2021-02-26 19:45] Mikejo5000 commented on #5550
Current doc for [_CtrSetReportMode](https://docs.microsoft.com/en-us/cpp/c-runtime-library/reference/crtsetreportmode?view=msvc-160)

[2021-02-26 22:41] WilliamAntonRohm commented on #6423
@slawek-pelka-3301 -- Slawek, thank you for your questions.  Please look here to see if anyone has raised a similar issue:
- Report product issues to us via the [Report a Problem](https://docs.microsoft.com/visualstudio/ide/how-to-report-a-problem-with-visual-studio) tool that appears both in the Visual Studio Installer and in the Visual Studio IDE.​

Be sure to use the latest version of Visual St

[2021-02-26 22:41] #6423 closed

[2021-02-26 22:49] Mikejo5000 commented on #6199
@Pxtl Thanks for the feedback. The tools get installed with the various VS workloads for .NET and C++. I will plan to add a note in the docs.

[2021-02-27 00:08] Mikejo5000 commented on #5938
Seems like a good idea. I'll add one simple example and then link to the PowerShell command.

[2021-02-27 22:23] Markemp commented on #6210
This issue can probably be closed, as it probably should be filed under the VS for Mac documentation.  I'm going to spend some time seeing if docker debugging on the Mac will work for me, but no need to keep this issue open until then.  Thanks!

[2021-02-28 00:49] 304NotModified commented on #6386
polite bump @WilliamAntonRohm

[2021-02-28 03:18] fdcastel commented on #6002
For Windows containers:

[code]

[2021-03-01 06:43] icnocop opened #6429 ""Unit testing, code coverage and code clone analysis with Visual Studio (Lab)" shouldn't link to boost test docs"
Hi.

Why does "Unit testing, code coverage and code clone analysis with Visual Studio (Lab)" link to https://www.boost.org/doc/libs/1_71_0/libs/test/doc/html/index.html?

That page doesn't have any information related to the link's text.

The same goes for the "Introduction to coded UI tests with Visual Studio Enterprise (Lab)" link.

Thank you.

---
#### Document Details

⚠ *Do not edit this sect

[2021-03-01 09:00] slawek-pelka-3301 commented on #6423
Thank You, restart of the system helped. I do not spend more time on digging into the issue. Thanks.

[2021-03-01 13:05] peter-bain opened #6430 "More security options is not an option"
Unlinking GItHub account says to select _"More security options"_ but this is not an available option.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d9c21c0-7587-fb94-2ef7-9abd48fcad2b
* Version Independent ID: 970392f5-4e9a-6cd9-c450-4e2e00699775
* Content: [Signing in to Visual Studio subscri

[2021-03-01 16:32] GaffaneyB commented on #3185
Re-running the VS 2019 Installer to add Office Workload and VS Tools for Office was the answer! Thanks John-Hart!!!

I dug around on the web for hours before finding this post!!

[2021-03-01 17:15] WilliamAntonRohm commented on #6210
#please-close

[2021-03-01 17:15] #6210 closed

[2021-03-01 17:16] #6367 closed

[2021-03-01 17:24] WilliamAntonRohm commented on #6430
@peter-bain -- thank you for your feedback.

@evanwindom -- please look into this issue.

cc @TerryGLee for awareness

[2021-03-01 17:49] Mikejo5000 commented on #6034
@Camios Closing this since it is a suggestion for a product improvement. Suggest a feature, track product issues, and find answers in the [Visual Studio Developer Community](https://developercommunity.visualstudio.com/). @Sagar-S-S @esteban-herrera for visibility.

[2021-03-01 17:53] Mikejo5000 commented on #6011
This could be a request to name the async task (shows up in the Name column) for the [Async tool](https://docs.microsoft.com/en-us/visualstudio/profiling/analyze-async?view=vs-2019). @DickBaker to comment.

[2021-03-01 17:58] Mikejo5000 commented on #5781
Thanks, asking about this.

[2021-03-01 19:41] ehackett00 opened #6431 "What is a container"
[Enter feedback here]
I enjoyed "What is a container?"  However, the video was not for a beginner.  The Fork box was  interesting; showed why containers are valuable!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cddd74b1-e0f1-1cae-e92d-c7c2b81e77e3
* Version Independent ID: f853e977-81c2-64d6-682e-1e712344cbad
* Cont

[2021-03-01 20:37] Camios commented on #6034
@Mikejo5000 the existing behaviour is wrong and a suggestion is only provided as a way to fix it.  Can you reopen please?

[2021-03-01 21:10] WilliamAntonRohm commented on #6386
@304NotModified -- Julian, thank you for the reminder.  I have copied this issue's contents to the Roslyn repo -- is the new issue's link visible for you above this comment?  The link won't show unless you are a member.

cc @mikadumont for awareness

I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2021-03-01 21:10] #6386 closed

[2021-03-01 21:27] WilliamAntonRohm commented on #6431
@ehackett00 -- thank you for your positive feedback!  Please consider these resources for further information:
- [Visual Studio on Q&A](https://docs.microsoft.com/en-us/answers/products/vs)
- [Visual Studio MSDN Forum](https://social.msdn.microsoft.com/Forums/vstudio)
- [Stack Overflow](https://stackoverflow.com/search?q=%22visual+studio%22)
- [Reddit](https://www.reddit.com/r/VisualStudio)

cc @g

[2021-03-01 21:27] #6431 closed

[2021-03-01 21:44] Mikejo5000 commented on #6034
Sounds like the doc needs a refresh, is that right?

[2021-03-01 21:53] 304NotModified commented on #6386
Yes it's visible. The layout is a bit broken. Maybe it was better if I copied the issue myself?

[2021-03-01 21:59] WilliamAntonRohm commented on #6386
My oversight -- I copied the display text, not the source text; fixed now.

[2021-03-01 22:04] 304NotModified commented on #6386
Thanks!

[2021-03-01 22:18] Mikejo5000 commented on #6034
I think I see what you mean; in the screenshot, it appears that Total Time includes the time spent in child tasks, if I'm reading it right. I look into this.

[2021-03-01 23:01] Mikejo5000 commented on #6034
@Camios I tested the async profiling tool using the [async operator example code](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/operators/await).

Would you clarify which version of .NET "dot point 1" refers to? I tested this on .NET Core 1.1, 2.1, and 3.1, along with .NET F 4.7.2. (Doesn't work at all in 1.1)

I only see Start Time, End Time, and Total Time that show expected

[2021-03-01 23:16] janovrom opened #6432 "Visualizer for net5.0 and netcoreapp"
Hi,

I just went through the tutorial and I've run into an issue with VisualizerDevelopmentHost. If the test method is called form .netframework console app (v4.8) then it works as expected. However, when the console app is either .netcore 3.1 or .net5.0 the call to VisualizeDevelopmentHost.ShowVisualizer() results in an exception:

System.MissingMethodException: 'Method not found: 'Void System.Ap

[2021-03-01 23:34] Camios commented on #6034
@Mikejo5000 sorry it has been a while since I raised this and I didn’t check it again when You closed. Thank you for the confirmation it is working as documented. I can close the ticket

[2021-03-01 23:34] #6034 closed

[2021-03-01 23:50] #6408 closed

[2021-03-02 09:46] jeremy-songtradr opened #6433 "Window colours?"
Would be neat to show how to customise colours of windows, not just the Theme. For example, when Light Theme is picked, the Terminal window is practically impossible to use. Seems to be no way of selecting foreground / background colours for this window, I was hoping this article would explain how.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2021-03-02 12:45] Tolulopequix opened #6434 "I dont see the usage of the return;"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b98c1d2a-1393-21d2-58c1-ff01d9aec0be
* Version Independent ID: e109ff12-0172-f3ee-c10d-2e2e8a7aa699
* Content: [C# unit test tutorial - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/test/walkthrough-creating-and-running-unit-tests-for-m

[2021-03-02 12:46] #6434 closed

[2021-03-02 15:41] gleacher opened #6435 "Zip file with sample code is not available with Docker for Windows installed and running. This is the same tutorial available from Docker at www.docker.com/101-tutorial. Docker's instructions work."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 38a38919-b557-4723-7ea9-b0fbafbfdc52
* Version Independent ID: 2117c374-eda9-906e-392e-c55e1ebf8060
* Content: [Docker tutorial - Part 1: Build and run the todo list sample app](https://docs.microsoft.com/en-us/visualstudio/docker/tutorials/your-appli

[2021-03-02 19:43] WilliamAntonRohm commented on #6433
@jeremy-songtradr -- thank you for your feedback.  Please let me know if this page is helpful:
- [How to: Change fonts and colors for the editor in Visual Studio](https://docs.microsoft.com/visualstudio/ide/reference/how-to-change-fonts-and-colors-in-the-editor)

[2021-03-02 19:46] WilliamAntonRohm commented on #6435
@gleacher -- thank you for your feedback. This issue is being tracked in #5827.

cc @ghogen and @nebuk89 for awareness

[2021-03-02 19:46] #6435 closed

[2021-03-02 23:37] #6433 closed

[2021-03-03 00:55] #5938 closed

[2021-03-03 00:55] #6403 closed

[2021-03-03 02:25] AriethNinja opened #6437 "This feature is absolutley STUPID."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d756ce43-92a4-e3fc-14e5-00762c715790
* Version Independent ID: 4fdef01a-d2b2-948e-8ac8-8684b00ff729
* Content: [Trust Settings for Files and Folders - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/ide/reference/trust-settings?view=vs-20

[2021-03-03 03:11] AriethNinja opened #6438 "THIS ISN"T WORKING"
[Enter feedback here]

I have told VS to trust my folder of pictures that i pull from

I then told VS to trust my folder where i put the pictures in my program
[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d756ce43-92a4-e3fc-14e5-00762c715790
* Version Independent ID: 4fdef01a-d2b2-948e-8ac8-8684b00ff729
* Conte

[2021-03-03 09:02] jeremy-songtradr commented on #6433
@WilliamAntonRohm thanks for the reply - but this does not cover the question.

Mac Visual Studio, as far as I can tell, has not got the same options as the link you sent me, which is for Windows Visual Studio.

[https://docs.microsoft.com/en-gb/visualstudio/ide/reference/how-to-change-fonts-and-colors-in-the-editor?view=vs-2019](url)

If you can point me in the direction of the same page in MacOS

[2021-03-03 16:41] TimShererWithAquent commented on #6438
@AriethNinja - This looks like you've encountered an issue with the product itself, rather than the documentation. Please look here to see if anyone has raised a similar issue:

- Report product issues to us via the [Report a Problem](https://docs.microsoft.com/visualstudio/ide/how-to-report-a-problem-with-visual-studio) tool that appears both in the Visual Studio Installer and in the Visual Studi

[2021-03-03 16:41] #6438 closed

[2021-03-03 16:43] TimShererWithAquent commented on #6437
Hi @AriethNinja - I'm guessing this is the same issue that you commented on in MicrosoftDocs/visualstudio-docs/issues/6438, so I'm going to mark it as duplicate on that one, but please contact us with additional info, if this is a different issue.

[2021-03-03 19:19] #6412 closed

[2021-03-03 19:25] TerryGLee commented on #6412
@nabodhe The link fix should go live after 4:00 P.M. Pacific Standard Time today.

[2021-03-04 11:55] mathysd opened #6441 "DockerLaunchAction seems to depend on log to start browser"
<DockerLaunchAction>LaunchBrowser</DockerLaunchAction> won't work if the log setting for
Microsoft.Hosting.Lifetime is not set to information. Visual studio seems to wait for _Now listening on: http://[::]:80_ before actually launching a browser. No warning or error is written anywhere. So it took my quite some time to figure this one out.

I added docker and docker-compose to an existing project.

[2021-03-04 17:38] WilliamAntonRohm commented on #6433
@jeremy-songtradr -- thank you for your followup.  This article may be more helpful, so you can create a custom scheme:
- [Applying Languages and Themes](https://docs.microsoft.com/archive/msdn-magazine/2017/december/visual-studio-customizing-visual-studio-for-mac#applying-languages-and-themes)

[2021-03-04 17:48] #6437 closed

[2021-03-04 18:39] #6394 closed

[2021-03-04 21:40] Groundsel223 opened #6443 "Connection to an ACCESS *.accdb Database with Visual Studio"
I have just read with interest the article at URL https://docs.microsoft.com/en-us/visualstudio/data-tools/connect-to-data-in-an-access-database-windows-forms?view=vs-2019.  I require such a connection for an X64 build of a GUI.  I have been using the *.mdb 32-bit counterpart since 2007 when we were still using VS 2003.  It has survived transition to VS 2005, 2008, 2010 and 2015 provided I am maki

[2021-03-04 23:46] WilliamAntonRohm commented on #6443
@Groundsel223 -- Tom, thank you for your considered feedback,  Please consider these resources:
- [Visual Studio on Q&A](https://docs.microsoft.com/en-us/answers/products/vs)
- [Visual Studio MSDN Forum](https://social.msdn.microsoft.com/Forums/vstudio)
- [Stack Overflow](https://stackoverflow.com/search?q=%22visual+studio%22)
- [Reddit](https://www.reddit.com/r/VisualStudio)

@ghogen -- Gordon, p

[2021-03-05 11:26] syntroniks opened #6447 "Can there be a section on automated build testing? (C++)"
We like to run builds and tests in a continuous build environment. I love the test explorer, but how do we teach our build server to run tests?
We're looking at 15+ vcxproj and a test exe for each of them using GoogleTest.
`<somecommand> /Test` which builds all text projects, discovers, and executes all tests would be wonderful.

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2021-03-05 18:15] #6005 closed

[2021-03-05 19:56] evanwindom commented on #6428
@seanatdp - Hi, Sean.  Thanks for your question.  The best place to get answers to questions about Azure instruments like invoices or statements would be in the Azure documentation, as it is written and maintained by people with the full context.  But you raise a good point.  I'll include a link in our article to relevant content on the Azure side.

https://docs.microsoft.com/en-us/azure/cost-mana

[2021-03-05 19:58] evanwindom commented on #6428
#please-close

[2021-03-05 19:58] #6428 closed

[2021-03-05 20:28] evanwindom commented on #6430
@peter-bain -- Thanks for pointing this out.  It looks like the UI on the account management page has changed a little bit.  The option you're looking for if you want to unlink a GitHub account is "Advanced support options" instead of the "more support options mentioned in the FAQ.  I've submitted an appropriate change.  Thanks again for the report.

[2021-03-05 20:28] evanwindom commented on #6430
#please-close

[2021-03-05 20:28] #6430 closed

[2021-03-07 18:27] grcodemonkey opened #6451 "Include command line interface equivalent for this command."
Can this page also include instructions on how to achieve the same result using the command line tools?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6c9d2be7-406b-0422-c49c-d62f972419e0
* Version Independent ID: 127bdbb0-a2ce-dd7c-99b7-1ee55d691e48
* Content: [Publish to a folder - Visual Studio for Mac](https://docs

[2021-03-07 23:54] PingPongSet opened #6452 "Create a multi-container app with Kubernetes in VS 2019"
Is there a document like below but using Kubernetes in VS 2019 instead?
https://docs.microsoft.com/en-us/visualstudio/containers/tutorial-multicontainer?view=vs-2019

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7aee46f8-9db1-33ef-b637-fc8e8881fab9
* Version Independent ID: 6c469f9f-9751-669f-3dd4-c4fb49c9ae19
* Conte

[2021-03-08 06:31] RobertGBryan opened #6454 "Use of graphic to show code prevents copying and ease of use"
[Enter feedback here]
This is a general comment that applies to all docs.Mircorsoft.com pages that shows example code as a graphic. The problem with this approach is that users can't easily copy the sample code. This hinders ease of use. Why can't colored ascii text be used instead? This would allow the code to be copied and then imported into a text editor. At least, that is how I would do it.

-

[2021-03-08 16:32] bdcoder2 opened #6455 "Content node documentation / behavior of Condition attribute ? ..."
When editing a project file (using Visual Studio Community Edition 2019), the editor seems to support the the child node **Content** (files that are not compiled, but may be embedded or published) within an **ItemGroup**.

The <Content> node is not mentioned (or at least I was unable to find any mention) within the MSBUILD reference.

**Question**: Where is this node documented?

Also, when trying

[2021-03-08 17:29] bdcoder2 commented on #6455
Update: the following does seem to work:

[code]
The "trick" was to include the **CopyToOutputDirectory** nodes.  I stumbled onto this not via any documentation, but by playing with the properties of the appsetting_*.json files within Visual Studio.  For example, right-clicking on "appsettings_test.json" and then selecting "Properties", then changed the "Copy to Output Directory to "Always" -- thi

[2021-03-08 18:02] TerryGLee commented on #6454
@RobertGBryan We do include code in our tutorials that you can copy. (Here's an example: [Tutorial: Create a simple C# console app in Visual Studio](https://docs.microsoft.com/en-us/visualstudio/get-started/csharp/tutorial-console?view=vs-2019)). But for general content that's typically not a complete code sample, i.e. instead, it's a short snippet of code that's meant to highlight what a specific

[2021-03-08 18:02] #6454 closed

[2021-03-08 19:23] rich-newman opened #6457 "Code shows alert that says 'jQuery version is:' without the version number"
The example on this page correctly shows the jQuery version in the HTML on the page, but it also attempts to alert with the jQuery version.  This doesn't work.

The current code does `alert(content);`

To show the version it needs to do something like `alert(content + " " + v);`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2021-03-08 19:28] JustaSimpleUser opened #6458 "Ambiguous Tutorial Step"
Under the section **Reference .NET libraries: write to a log**, step 4 refers to a while loop.  There are 3 in the code at this point so I suggest adding text to make it unambiguous to which while loop you're referring, otherwise it could cause confusion.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 80ccbb63-7f84-55e

[2021-03-08 19:35] JustaSimpleUser opened #6459 "Add Reference Link to Trace Library"
It might be nice to add a link to an explanation/definition of the Trace library so beginners can explore this feature without having to search the MSDocs website.  As it exists now, the short intro to Trace is out of context and not supported with opportunities for further exploration.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2021-03-08 20:00] RobertGBryan commented on #6454
Is there a procedure to reopen and escalate this issue? If so, then please do so.

Whoever came up with the policy of putting code in a graphic so that it can't be copied does not seem to care about what users expect and helping them do their jobs efficiently. Just because the displayed code is only a few lines long does not mean that copying that code is somehow not helpful and useful. This is a

[2021-03-08 20:38] bdcoder2 commented on #6455
Update: Found the following link:

[https://docs.microsoft.com/en-us/visualstudio/msbuild/common-msbuild-project-items?view=vs-2019#content](https://docs.microsoft.com/en-us/visualstudio/msbuild/common-msbuild-project-items?view=vs-2019#content)

However, no mention is made with regard to the **Include** / **Remove** attributes or whether or not **Content** supports the **Condition** attribute?

[2021-03-08 21:21] TerryGLee commented on #6454
@RobertGBryan I understand where you're coming from; and, you make some excellent points. Our sincere apologies for the inconvenience that you experienced. As for the content on this page, it was created a while ago so I cannot answer some of the questions you asked. However, I will pass this feedback on to our team and going forward, we'll endeavor to add code that you can copy, snippet or otherw

[2021-03-09 00:42] WilliamAntonRohm commented on #6447
@syntroniks -- thank you for your feedback.  This repo is solely for documentation, and this issue appears to be product-related instead.  Please add your suggestion here:

- Suggest a feature, track product issues, and find answers in the [Visual Studio Developer Community](https://developercommunity.visualstudio.com).

Also, consider these resources:
- [Visual Studio on Q&A](https://docs.microso

[2021-03-09 00:42] #6447 closed

[2021-03-09 00:48] WilliamAntonRohm commented on #6452
@PingPongSet -- thank you for your question.  Please see these pages:
- [What is Kubernetes?](https://azure.microsoft.com/en-us/topic/what-is-kubernetes/)
- [Automate multi-container Kubernetes deployments with Azure Pipelines](https://docs.microsoft.com/en-us/learn/modules/deploy-kubernetes/)

Also, consider these resources:
- [Visual Studio on Q&A](https://docs.microsoft.com/en-us/answers/produc

[2021-03-09 00:57] WilliamAntonRohm commented on #6406
@ghogen -- Gordon, please review [private PR 7837](https://github.com/MicrosoftDocs/visualstudio-docs-pr/pull/7837).

[2021-03-09 07:52] tsequeira-vhs opened #6461 "Downgrade Visual Studio for Mac"
Is there anyway to downgrade Visual Studio for Mac? I want to downgrade from 8.9 to 8.8.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b8f3608c-d434-e892-85db-032af35f919b
* Version Independent ID: d546284e-5cd8-6a41-790b-5302b628d357
* Content: [Updating Visual Studio for Mac - Visual Studio for Mac](https://docs.mic

[2021-03-09 18:30] #6398 closed

[2021-03-09 18:45] #6429 closed

[2021-03-09 23:00] cdmihai opened #6464 "Missing documentation for TargetPath metadata."
This page does not cover the pretty important `TargetPath` metadata. It should specify on which items it's applicable on, and how it's interpreted. For example it's definately applicable to `Content` items and it acts as a relative path to the output directory where the content item is copied to.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2021-03-10 00:35] TerryGLee commented on #6454
@RobertGBryan Just a quick FYI: I revised the [Generate Equals and GetHashCode method overrides](https://docs.microsoft.com/en-us/visualstudio/ide/reference/generate-equals-gethashcode-methods?view=vs-2019) page to include code that you can copy. I also revised the screenshots so that you can see the coloring that's available in Visual Studio.

[2021-03-10 02:04] RobertGBryan commented on #6454
 @TerryGLee Very nice. Thanks.
    On Tuesday, March 9, 2021, 04:35:19 PM PST, Terry G. Lee <notifications@github.com> wrote:

@RobertGBryan Just a quick FYI: I revised the Generate Equals and GetHashCode method overrides page to include code that you can copy. I also revised the screenshots so that you can see the coloring that's available in Visual Studio.

—
You are receiving this because you w

[2021-03-10 02:06] #6421 closed

[2021-03-10 11:59] amirea opened #6467 "Please add information regarding the case when the code inspected is of a dll used by the module"
So there's the case when I'm writing a dll that is used by an executable. That exe module appears in the modules list and its symbols are loaded. But how about the dll's?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 95bc6d7e-2b58-4755-4411-c5f369011a6c
* Version Independent ID: d5710161-bc97-6d33-6c6b-77fc9cfe9c62
*

[2021-03-10 22:37] WilliamAntonRohm commented on #6464
@cdmihai -- Mihai, thank you for your feedback.  Please consider these resources:
- [Visual Studio on Q&A](https://docs.microsoft.com/en-us/answers/products/vs)
- [Visual Studio MSDN Forum](https://social.msdn.microsoft.com/Forums/vstudio)
- [Stack Overflow](https://stackoverflow.com/search?q=%22visual+studio%22)
- [Reddit](https://www.reddit.com/r/VisualStudio)

@ghogen -- Gordon, please look int

[2021-03-10 22:39] WilliamAntonRohm commented on #6467
@amirea -- thank you for your feedback.  Please consider these resources:
- [Visual Studio on Q&A](https://docs.microsoft.com/en-us/answers/products/vs)
- [Visual Studio MSDN Forum](https://social.msdn.microsoft.com/Forums/vstudio)
- [Stack Overflow](https://stackoverflow.com/search?q=%22visual+studio%22)
- [Reddit](https://www.reddit.com/r/VisualStudio)

@Mikejo5000 -- please look into this issue

[2021-03-11 15:58] Kaltininkas opened #6472 "Missing Polls Django Web Project template"
Where is the Polls Django Web Project template???

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e918f82f-35af-2934-34d1-913c59cfa927
* Version Independent ID: 009bc101-2451-89b2-5bd1-5ac48a47b33a
* Content: [Learn Django tutorial in Visual Studio step 6, Polls project template](https://docs.microsoft.com/en-us/visuals

[2021-03-11 19:28] PassivePicasso opened #6473 "XAML that has no errors at design time may have errors at runtime"
a detail to potentially add to this section where sometimes some XAML may not produce any errors at design time, nor compile time, but after editing the xaml during runtime other xaml can be detected as invalid.

I'm unsure if this issue is my fault or not, however it seemed like its something that people should be aware of and thus perhaps be available as information in the hot reload troubleshoo

[2021-03-11 19:31] WilliamAntonRohm commented on #6472
@Kaltininkas -- thank you for your question.  Please see these sections, and let me know if you are still blocked:
- [Prerequisites](https://docs.microsoft.com/en-us/visualstudio/python/learn-django-in-visual-studio-step-01-project-and-solution?view=vs-2019#prerequisites)
- [Step 1-1: Create a Visual Studio project and solution](https://docs.microsoft.com/en-us/visualstudio/python/learn-django-in-

[2021-03-11 19:46] WilliamAntonRohm commented on #6473
@PassivePicasso -- James, thank you for your detailed feedback.  Please consider these resources:
- [Visual Studio on Q&A](https://docs.microsoft.com/en-us/answers/products/vs)
- [Visual Studio MSDN Forum](https://social.msdn.microsoft.com/Forums/vstudio)
- [Stack Overflow](https://stackoverflow.com/search?q=%22visual+studio%22)
- [Reddit](https://www.reddit.com/r/VisualStudio)

@TerryGLee -- Terr

[2021-03-11 19:48] kamolui opened #6474 "Missing Polls Flask Web Project template"
I am using visual studio 2019, and Polls Flask Web Project template is not showing up. Where can I download the template?

I did all the steps except that one
![imagen_2021-03-11_134821](https://user-images.githubusercontent.com/61925980/110845595-7113c080-8270-11eb-849e-24c4e279653d.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2021-03-11 20:10] PassivePicasso commented on #6473
Thank you @WilliamAntonRohm I've resolved or worked around the issue by setting the value type of the parameter explicity by defining it as a resource.
E.G.
[code]
This obviously isn't the most elegant solution and suggests I'm making an error in the defining of my DependencyProperty just wanted to provide this as a work around for anyone who encounters the issue in the mean time.

[2021-03-11 20:25] JoshuaPartlow commented on #6284
@savannahostrowski - Would you be able to comment here?

[2021-03-11 20:26] JoshuaPartlow commented on #6474
@savannahostrowski - Would you be able to comment here?

[2021-03-11 20:26] JoshuaPartlow commented on #6472
@savannahostrowski - Would you be able to comment here?

[2021-03-11 20:28] kamolui commented on #6474
Yes i could

[2021-03-11 20:39] sayedihashimi commented on #6451
FYI the links are now appearing in the live docs

[2021-03-11 20:40] sayedihashimi commented on #6451
#please-close

[2021-03-11 20:40] #6451 closed

[2021-03-11 20:47] WilliamAntonRohm commented on #6473
@PassivePicasso -- James, thank you for your followup and your working solution.

[2021-03-11 20:59] TerryGLee commented on #6473
@PassivePicasso I'd like to extend my thanks as well. We'll close this now, but we'll keep this on file for any potential docs updates. (Your comment and workaround can still be seen, however, if you select the "View all page feedback" link at the bottom of the page.)

[2021-03-11 20:59] #6473 closed

[2021-03-12 11:28] aonghusoc opened #6476 "Removing all breakpoints improves performance"
Removing all breakpoints improves performance

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39f7e6c9-3f47-4caa-b69f-ae6393bde555
* Version Independent ID: dc59c52a-163f-40fb-c84d-ba7b1b8118b4
* Content: [Tips to improve performance - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/ide/visual-studio-perfor

[2021-03-12 12:16] hsmahal opened #6477 "Alternate account not working"
I have added my alternate account via my work visual studio professional subscription, however I cannot see this subscription when logging into the azure portal with my alternate account. I have an enterprise subscription that is due to expire and need to transfer my resources to the professional subscription.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microso

[2021-03-12 18:53] WilliamAntonRohm commented on #6477
@hsmahal -- thank you for your feedback.

@evanwindom -- please look into this issue.

[2021-03-15 14:21] rarera opened #6480 "databasetool: duration, records affected and records read show up as unknown for my queries"
what can be the reason?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a35ed7d5-c912-2b88-49fe-8adfcd2c01dc
* Version Independent ID: 40f67010-183d-3a20-b012-fe4137b5f474
* Content: [Analyze database usage for .NET Core projects - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/profiling/analyze-database?v

[2021-03-15 21:03] Mikejo5000 commented on #5781
Adding an update for symsrv.dll. The fix should be live by EOD, 3/15/2021

[2021-03-15 21:53] Mikejo5000 commented on #4201
This appears to be a product issue, if this feature was working previously without the use of Managed Compatibility Mode. Currently, it is only supported when the legacy debugger is enabled.

To clarify the docs, I'm adding this to the section on the 'm' specifiers:

Specifiers in **bold** are supported only for debugging native and C++/CLI code. This requires the legacy debugger, specified using

[2021-03-15 21:55] #5781 closed

[2021-03-15 22:50] Mikejo5000 commented on #5550
Adding link. Fix should go live by EOD today.

[2021-03-15 23:21] #5550 closed

[2021-03-15 23:33] Mikejo5000 commented on #5673
Based on recommendations for using the config file, I'm removing the references to specifying the agent from the command line. Config file will be the only documented method. Fix to go live by EOD 3/16/21.

[2021-03-15 23:43] privateWH opened #6483 "deploy to windows iis"
I have no idea what to do after Publish to a folder. I want to bring the dlls to an live windows iis server but I am confused. as to what to do next.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6c9d2be7-406b-0422-c49c-d62f972419e0
* Version Independent ID: 127bdbb0-a2ce-dd7c-99b7-1ee55d691e48
* Content: [Publish to a

[2021-03-15 23:45] #5673 closed

[2021-03-16 01:13] fencepost-error commented on #4201
Two things, firstly the compatibility-mode debugger is supposedly the debugger from before VS 2012 but the ,m specifier worked on every version of VS up until 2019 broke it, and secondly using the compatibility-mode debugger makes no difference, it produces exactly the same error as the standard VS 2019 debugger.

I agree that this is a product issue, but it's an issue in VS 2019, not in which ver

[2021-03-16 06:36] swisscoder opened #6484 "Link to xUnit.net extension not ideal"
The link to the xUnit.net Extension is that of an old one for VS2015 which is not shown when using the extension manager. I guess the correct one (vor VS2017 and VS2019) would be this link instead:
https://marketplace.visualstudio.com/items?itemName=YowkoTsai.xUnitnetTestGenerator

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2021-03-16 15:06] Mikejo5000 commented on #4201
Sorry about the frustration around this. The Developer Community issue you opened is the right place for a product bug. The issues here are for doc bugs, so I don't see much benefit in keeping it open at this point. However, we can re-open for visibility until I get more information.

[2021-03-16 15:12] fencepost-error commented on #4201
Ah, OK, so it's being processed as two separate issues, one for the product, one for the documentation.  In that case it's fine to close it, and I'll wait and see what the developer-side response is.

[2021-03-16 17:30] #4201 closed

[2021-03-16 18:07] evanwindom commented on #6368
@maulik-modi -- I apologize for the delay in the response here.  Yes -- you can use Boards and Repos on premise.  Your Visual Studio subscription comes with a CAL for on-prem.   You can get all the details around licensing here:  http://aka.ms/vslicensing.

[2021-03-16 18:07] evanwindom commented on #6368
#please-close

[2021-03-16 18:07] #6368 closed

[2021-03-16 19:18] Robertschv opened #6486 "Add a how to "install BuildTools with PowerShell in a container""
CMD is now in maintenance mode see https://www.theregister.com/2020/05/27/windows_cmd_maintenance_mode/
Using PowerShell will be the future, I want to use something in the company I am working that should not change in the next 10 years at least.

Is there any example how to install Build-Tools and using just PowerShell?
It would be awesome to see the tutorial of how to install Build Tools in a co

[2021-03-16 19:27] sayedihashimi commented on #6483
@privateWH I believe the content that you are looking for is at https://docs.microsoft.com/aspnet/core/tutorials/publish-to-iis. I'm happy to add a link to that doc. If you could let me know if that helps you, I'll go ahead and get the link added.

[2021-03-16 22:29] WilliamAntonRohm commented on #6484
@Mikejo5000 -- Mike, please review this update in [private PR 7911](https://github.com/MicrosoftDocs/visualstudio-docs-pr/pull/7911).

[2021-03-16 22:44] #6484 closed

[2021-03-17 01:25] maulik-modi commented on #6368
@WilliamAntonRohm and @evanwindom , May I know the reason for taking 1month+ in response - ?  Is Azure DevOps Server being retired or consolidation of team members to Github - this is very important as we are planning to make a transition from SVN?

 What about Azure Artifacts, Is it available under Basic license? If we are an organisation with 120 visual studio professional license users, limit o

[2021-03-17 01:28] TerryGLee commented on #6273
@davrob01 We've further clarified the info in the sentence that @prnadago mentioned. It now reads as follows:

"Or, you can link your local project with an existing empty remote repository on Azure DevOps or any other Git provider by using the **Existing Remote** option."

We've also published a new page that might be of interest to you, [**Side-by-side comparison of Git and Team Explorer**](https

[2021-03-17 01:28] #6273 closed

[2021-03-17 16:18] StingyJack opened #6488 "Is there a way to export a template from a command line or other scriptable automation?"
We have a repo with several project and item templates. I'd like to be able to run a script or cli that will export the templates for each of the projects and items rather than have to do so manually .  Ideally this would run on a build agent where the steps after that would be to package and distribute the templates.

I'm open to any means that does not require that I open up the VS UI to export

[2021-03-17 16:26] Otiel commented on #3425
For those interested, it is possible to update the `channelUri` of an existing VS installation, without having to uninstall VS.

Steps are described [here](https://developercommunity.visualstudio.com/t/changing-an-existing-installation-to-use-an-offlin/358584#T-N358674) by gavin.lambert, copied verbatim below:

[2021-03-17 20:39] WilliamAntonRohm commented on #6488
@StingyJack -- Andrew, thank you for your question.  Please consider these resources:
- [Visual Studio on Q&A](https://docs.microsoft.com/en-us/answers/products/vs)
- [Visual Studio MSDN Forum](https://social.msdn.microsoft.com/Forums/vstudio)
- [Stack Overflow](https://stackoverflow.com/search?q=%22visual+studio%22)
- [Reddit](https://www.reddit.com/r/VisualStudio)

@TerryGLee -- Terry, please lo

[2021-03-17 21:13] 304NotModified commented on #6386
last news in https://github.com/dotnet/roslyn/issues/44596

[2021-03-17 21:21] #6457 closed

[2021-03-17 23:03] savannahostrowski commented on #6284
@rstambach1-coder Sorry about the confusion. This template is no longer supported. The last release that included this template was 16.7. You can install an older version (like 16.7) of Visual Studio [here](https://docs.microsoft.com/en-us/visualstudio/releases/2019/history#installing-an-earlier-release).

[2021-03-17 23:03] savannahostrowski commented on #6474
@kamolui Sorry about the confusion. This template is no longer supported. The last release that included this template was 16.7. You can install an older version (like 16.7) of Visual Studio [here](https://docs.microsoft.com/en-us/visualstudio/releases/2019/history#installing-an-earlier-release).

[2021-03-17 23:04] savannahostrowski commented on #6472
@Kaltininkas Sorry about the confusion. This template is no longer supported. The last release that included this template was 16.7. You can install an older version (like 16.7) of Visual Studio [here](https://docs.microsoft.com/en-us/visualstudio/releases/2019/history#installing-an-earlier-release).

[2021-03-17 23:35] TerryGLee commented on #6261
@ReportDataCode We've updated the tutorial to add specific information about how to use the new Git experience to do open a project from a repo. That information includes a sign-in step. But we realized we could do a little bit more. Today, we've added links to additional sign-in info, as follows:

"For more information about signing in to Visual Studio, see the [**Sign in to Visual Studio**](http

[2021-03-17 23:35] #6261 closed

[2021-03-18 07:53] TerryGLee commented on #5884
@JasonCard Respectfully, we must decline to update the [Connect to projects in Team Explorer](https://docs.microsoft.com/visualstudio/ide/connect-team-project?view=vs-2019) page exactly as you've requested. Instead, we've added a link to it to another, newer page, [Compare Git and Team Explorer side-by-side](https://docs.microsoft.com/visualstudio/ide/git-team-explorer-feature-comparison?view=vs-2

[2021-03-18 07:53] #5884 closed

[2021-03-18 08:51] JohnPool opened #6490 "Shortcut key for external command"
It would be helpful to explain on this page how to associate a shortcut key with the external command!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b0c1a693-6f88-ee1b-d98d-81eac7b55930
* Version Independent ID: ab20d4c8-1fd7-3909-0cee-b119008429db
* Content: [Manage external tools - Visual Studio](https://docs.micros

[2021-03-18 09:26] JoacimWall opened #6491 "I have followed the instruction but my extension is not published"
[Enter feedback here]
Hi to I need to provide more information to get my extension published in visual studio for Mac extensions library?

https://github.com/JoacimWall/Visual-studio-multilingual-extension/releases

I have done the steps below from (https://docs.microsoft.com/en-us/visualstudio/mac/migrate-extensions?view=vsmac-2019#release-a-new-version):
1. Add information to the tag version of

[2021-03-18 11:32] ColinM9991 opened #6492 "Code Analysis documentation unclear on what to use for .NET Framework"
The document references `Microsoft.CodeAnalysis.FxCopAnalyzers` for applications that target an older runtime, such as .NET Framework 4.5.2. The package says that it is deprecated in favor of `Microsoft.CodeAnalysis.NetAnalyzers` which does not work on .NET Framework 4.5.2. There is no clear guidance on exactly what analyzers should be used for anything that is not .NET Core.

.NET Core certainly

[2021-03-18 16:30] WilliamAntonRohm commented on #6490
@JohnPool -- John, thank you for your feedback.  Please consider these resources:
- [Visual Studio on Q&A](https://docs.microsoft.com/en-us/answers/products/vs)
- [Visual Studio MSDN Forum](https://social.msdn.microsoft.com/Forums/vstudio)
- [Stack Overflow](https://stackoverflow.com/search?q=%22visual+studio%22)
- [Reddit](https://www.reddit.com/r/VisualStudio)

[2021-03-18 16:32] WilliamAntonRohm commented on #6492
@ColinM9991 -- thank you for your feedback.  Please consider these resources:
- [Visual Studio on Q&A](https://docs.microsoft.com/en-us/answers/products/vs)
- [Visual Studio MSDN Forum](https://social.msdn.microsoft.com/Forums/vstudio)
- [Stack Overflow](https://stackoverflow.com/search?q=%22visual+studio%22)
- [Reddit](https://www.reddit.com/r/VisualStudio)

@Mikejo5000 -- please look into this i

[2021-03-18 18:40] WilliamAntonRohm commented on #6491
@JoacimWall -- Joacim, thank you for your question.  Please consider these resources:
- [Visual Studio on Q&A](https://docs.microsoft.com/en-us/answers/products/vs)
- [Visual Studio MSDN Forum](https://social.msdn.microsoft.com/Forums/vstudio)
- [Stack Overflow](https://stackoverflow.com/search?q=%22visual+studio%22)
- [Reddit](https://www.reddit.com/r/VisualStudio)

@heiligerdankgesang -- Dominic

[2021-03-18 20:25] ghogen opened #6495 "Improve MSBuild intro section formatting"
Improve the formatting in MSBuild reference topics like in
https://github.com/MicrosoftDocs/visualstudio-docs-pr/pull/7922
in the intro sections where we show the XML element structure just before the syntax

Example:

[code]

[2021-03-19 10:31] chopsnsauce opened #6499 "DPI scaling on designers"
Is there a planned feature to make designers always 100% scaling?  If so it would be great to link that to the article.

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a2f87f79-412c-6d45-9a5f-e1690a7dce12
* Version Independent ID: 708a3cc0-a8eb-3b23-9d11-737d0060d730
* Content: [Disable DPI-awareness in Visual

[2021-03-19 12:46] VinothKumar-Atos opened #6500 "Default port for Remote debugger is wrong"
It's mentioned 4024 is the default port in the Remote debugger but it is 4022

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 090c870a-9e10-7802-cc46-18b595864cb7
* Version Independent ID: 71d3f80d-23e2-0542-c5b6-35e8b6b5060f
* Content: [Attach to running processes with the debugger - Visual Studio](https://docs.microso

[2021-03-19 16:13] JohnPool commented on #6490
Hello William,

Thanks, but I already found out how to do it.

The purpose of my mail was a suggestion to improve the text on the page (https://github.com/MicrosoftDocs/visualstudio-docs/blob/master/docs/ide/managing-external-tools.md) by adding a paragraph explaining how to create a shortcut (i.e. via Tools / Options / Environment / Keyboard, then Tools.ExternalCommandnn etc.). That would have be

[2021-03-19 16:33] WilliamAntonRohm commented on #6490
@JohnPool -- John, thank you for clarifying.

[2021-03-19 17:30] #6472 closed

[2021-03-19 17:30] #6474 closed

[2021-03-19 17:31] #6284 closed

[2021-03-19 18:45] Mikejo5000 commented on #6306
Updated the doc with a new section for ASP.NET Core & JS/TS. Let me know if I missed anything.
[Write unit tests for ASP.NET Core](https://docs.microsoft.com/en-us/visualstudio/javascript/unit-testing-javascript-with-visual-studio?view=vs-2019&tabs=mocha#write-unit-tests-for-aspnet-core)
If we get some certainty around the custom jest config file, I'll update the doc again.

[2021-03-19 18:45] #6306 closed

[2021-03-19 18:45] Mikejo5000 commented on #5919
Updated the doc with a new section for ASP.NET Core & JS/TS. Let me know if I missed anything.
[Write unit tests for ASP.NET Core](https://docs.microsoft.com/en-us/visualstudio/javascript/unit-testing-javascript-with-visual-studio?view=vs-2019&tabs=mocha#write-unit-tests-for-aspnet-core)

[2021-03-19 18:45] #5919 closed

[2021-03-19 21:23] WilliamAntonRohm commented on #6499
@chopsnsauce -- thank you for your feedback.  If you are looking for functionality that isn’t currently provided by the product, please use our “Suggest a feature” option in the [Visual Studio Developer Community](https://developercommunity.visualstudio.com/). We’d be happy to have this on record, where others can view it and upvote it, too. For more information about this works in the dev communi

[2021-03-19 21:23] #6499 closed

[2021-03-19 22:56] Robertschv commented on #6486
I hope this can help

`# escape=`

# Use the latest Windows Server Core image with .NET Framework 4.8.
FROM mcr.microsoft.com/dotnet/framework/sdk:4.8-windowsservercore-ltsc2019

# Use Powershell to run this script.
SHELL ["powershell", "-command"]

# Download the Build Tools bootstrapper.
ADD https://download.visualstudio.microsoft.com/download/pr/1192d0de-5c6d-4274-b64d-c387185e4f45/c9cc192eb63b

[2021-03-19 23:03] atniomn opened #6502 "ResolveAssemblyReference Task missing parameter documentation"
Microsoft.Common.CurrentVersion.targets has this invocation:

[code]

Several parameters are not documented. Namely, "SupportsBindingRedirectGeneration"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: af885617-7979-5fb2-3fc2-d028695e4b8a
* Version Independent ID: a4615f96-f625-4b78-8068-7ae9b343d911
* Content: [ResolveA

[2021-03-19 23:54] atniomn opened #6504 "GenerateResource Task missing parameters"
Here's the invocation I see in the latest VS 16.9 Microsoft.Common.CurrentVersion.targets:

[code]

I don't see any documentation regarding "UsePreserializedResources"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5b2f0075-0c8e-830e-666e-be5c77d35252
* Version Independent ID: b9ddf4d0-bfc2-895c-a709-bafeaaf4093c
* Con

[2021-03-20 01:09] Meggan21 opened #6505 "Missing content"
Hi, this page mentions a downloadable package but one doesn't exist on the page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1883988-09c6-ddf2-748f-a29d91007ce5
* Version Independent ID: 9d3a9faa-df26-1448-7e43-5bf5f77d9156
* Content: [Architecture Tooling Guidance - Visual Studio](https://docs.microsoft.com/en-us/

[2021-03-22 11:00] kiranchavala opened #6506 "Not able to download"
[Enter feedback here]
Not able to download the app.zip file

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 38a38919-b557-4723-7ea9-b0fbafbfdc52
* Version Independent ID: 2117c374-eda9-906e-392e-c55e1ebf8060
* Content: [Docker tutorial - Part 1: Build and run the todo list sample app](https://docs.microsoft.com/en-us/vi

[2021-03-22 13:01] petrroll opened #6507 "Moving to SDK-style project with Fakes might require adding `PackageReference`"
When upgrading old .csproj to sdk-style (with try-convert tool and manual cleanup) I had to also replace:

[code]

with

[code]

Adding it to the https://docs.microsoft.com/en-us/visualstudio/test/isolating-code-under-test-with-microsoft-fakes?view=vs-2019#transitioning-your-net-framework-test-projects-that-use-microsoft-fakes-to-sdk-style-net-framework-net-core-or-net-50-projects might be nice.

[2021-03-22 14:55] tinytone opened #6508 "Version numbers not sorted"
When multiple versions are released on the same day, the version numbers don't appear to be sorted.

page:
https://docs.microsoft.com/en-us/visualstudio/install/visual-studio-build-numbers-and-release-dates?view=vs-2019

table:

-- | -- | -- | --
16.4.20 | Release | March 9, 2021 | 16.4.31026.101
16.7.13 | Release | March 9, 2021 | 16.7.31026.100
16.9.1 | Release | March 9, 2021 | 16.9.31105.61

S

[2021-03-22 14:57] BillWagner opened #6509 "Visual Studio Extension Development (VSIX): Docs for Codelens development"
Moved from dotnet/docs#23401. Original issue by @lsoft

**Help us make content visible**

Searching for 'codelens' gives nothing.

**Describe the new article**

Visual Studio allows its users to create a VSIX with their custom codelenses. But information about that process is small and obsolete. We need a set of articles that shed light onto:

0. How to debug codelenses (see https://github.com/dot

[2021-03-22 19:57] JoshuaPartlow commented on #6179
Hi @JanKinable - Thank you for the feedback. I'm tracking a number of topics that need UI refresh and I'll get this added to the list.

[2021-03-22 19:57] #6179 closed

[2021-03-23 00:35] PingPongSet commented on #6452
@WilliamAntonRohm

Thanks. I was looking for info on how to setup communication between container apps, e.g. ASP.NET WebFrontEnd calling ASP.NET WebApi.

[2021-03-23 13:04] PingPongSet opened #6513 "[DocRequest] Repeated Requests for Hello World examples on using ASP.NET CORE, AKS and HELM for a multi container app"
I have checked this site, and I cannot find any information on using Azure Kubernetes Service and HELM for a multi container app in ASP.NET CORE.

Given that ASP.NET Core is MS's flagship web framework, I find difficult to believe that I cannot find the information. I requested this in 2019. So far, the information is still not available.

Specifically, it would be great to show a hello world exam

[2021-03-23 15:05] Skywalker13 opened #6514 "vs-installation: --remove option must be used with the modify command (at least?)"
Hello, the options are not very well described. I've lost **hours** to understand that to remove a product, I must use `--remove` with the **`modify`** command. The problem is that the `--remove` option is in the **Install options** section.. It's odd...

---

![image](https://user-images.githubusercontent.com/397862/112168087-4a02aa80-8bf1-11eb-91b5-e580d922a167.png)
![image](https://user-images.

[2021-03-23 15:57] ghogen commented on #6513
Thanks, @PingPongSet, for emphasizing the importance of that scenario. I would also like to see it addressed.  The work going on now with Bridge to Kubernetes has a published roadmap, which may be of interest, https://github.com/microsoft/mindaro/projects.

[2021-03-23 16:10] WilliamAntonRohm commented on #6452
@PingPongSet -- thank you for clarifying.

[2021-03-23 17:40] PingPongSet commented on #6513
Hi @ghogen Thanks for your info.

Bridge to Kubernetes is a replacement for DevSpace.

Will the introduction of Bridge to Kubernetes eliminate the usage of HELM? It seems it is just for development purpose.

There is no One article on MS doc site that covers what I need. I can find some MS Labs. However, they don't explain properly, and are more for demo purpose.

MS must provide comprehensive doc

[2021-03-23 17:53] WilliamAntonRohm commented on #6505
@Meggan21 -- Meggan, thank you for your feedback.  Please consider these resources:
- [Visual Studio on Q&A](https://docs.microsoft.com/en-us/answers/products/vs)
- [Visual Studio MSDN Forum](https://social.msdn.microsoft.com/Forums/vstudio)
- [Stack Overflow](https://stackoverflow.com/search?q=%22visual+studio%22)
- [Reddit](https://www.reddit.com/r/VisualStudio)

@JoshuaPartlow -- Joshua, please

[2021-03-23 20:32] Robertschv commented on #6486
#add#6516

[2021-03-23 21:51] qpetraroia commented on #6513
Hi @PingPongSet,

Thank for taking the time to leave a comment. Here are some docs that might be able to help you. Please let me know if you have seen these before, or if they do not help.

https://docs.microsoft.com/en-us/learn/modules/microservices-aspnet-core/

https://docs.microsoft.com/en-us/dotnet/architecture/cloud-native/introduce-eshoponcontainers-reference-app

https://docs.microsoft.com

[2021-03-23 21:56] WilliamAntonRohm commented on #6419
@ghogen -- Gordon, please look into the above comment.

[2021-03-23 21:58] WilliamAntonRohm commented on #6506
@kiranchavala -- thank you for your feedback.  This issue is being tracked in #5827.

cc @ghogen for awareness

[2021-03-23 21:58] #6506 closed

[2021-03-23 22:36] WilliamAntonRohm commented on #6500
@Mikejo5000 -- Mike, please review this update in [private PR 7947](https://github.com/MicrosoftDocs/visualstudio-docs-pr/pull/7947).

[2021-03-23 22:47] Mikejo5000 commented on #6500
@VinothKumar-Atos What version of Visual Studio are you running?

[2021-03-23 23:17] VinothKumar-Atos commented on #6500
Hi Mike,

I'm running VS 2017. but in the document you mentioned 4024 is the default port number for Remote Debugger but it is 4022

Regards,
Vinoth
________________________________
From: Mike Jones ***@***.***>
Sent: Tuesday, March 23, 2021 10:47 PM
To: MicrosoftDocs/visualstudio-docs ***@***.***>
Cc: Velumani, Vinoth (ext) ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/visualstud

[2021-03-23 23:20] Mikejo5000 commented on #6500
Thanks, you're correct it is 4022 in VS 2017. The port number increments 2 in each version of VS. [see here](https://docs.microsoft.com/en-us/visualstudio/debugger/remote-debugger-port-assignments?view=vs-2019) The doc should be updated to make that distinction.

[2021-03-23 23:25] Mikejo5000 commented on #6500
Actually, just checked the doc. If you switch to the VS 2017 view (upper left version selector), you do get the right information (port 4022). I know it's difficult to notice the version switcher at times, but that's the way we handle these cases currently. Link:
 [VS 2017 view](https://docs.microsoft.com/en-us/visualstudio/debugger/attach-to-running-processes-with-the-visual-studio-debugger?view=

[2021-03-23 23:25] #6500 closed

[2021-03-24 00:32] PingPongSet commented on #6513
@qpetraroia

Thank you for your links.

However, none of them provides the info I am looking for.

The first two links are example apps I want, but it is not for beginners, doesn't provide step-by-step tutorial on how to use kubernetes, AKS, Helm with ASP.NET Core.

The 3rd link is using Docker Compose, which is replaced by Helm.

The 4th link lacks use of ASP.NET Core.

I know that use of ASK req

[2021-03-24 06:17] kiranchavala opened #6518 "not able to download the app.zip in part 1 application"
[Enter feedback here]
not able to download the app.zip in part 1 application
http://localhost/assets/app.zip

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 38a38919-b557-4723-7ea9-b0fbafbfdc52
* Version Independent ID: 2117c374-eda9-906e-392e-c55e1ebf8060
* Content: [Docker tutorial - Part 1: Build and run the todo lis

[2021-03-24 06:19] kiranchavala commented on #6518
https://docs.microsoft.com/en-us/visualstudio/docker/tutorials/your-application

[2021-03-24 06:59] ezeh2 opened #6519 "Track changes should indicate changes since last commit of TFS"
## At the moment the feature `track changes`:
Only indicates changes since the file was opened. This indications are not shown anymore, if the file is closed and opened anymore.

## What I would like to have:
Indication, which show changes compared to the last commit in version control.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2021-03-24 17:45] WilliamAntonRohm commented on #6518
@kiranchavala -- thank you for your feedback.  This issue is being tracked in #5827.

cc @ghogen for awareness

[2021-03-24 17:45] #6518 closed

[2021-03-24 17:54] WilliamAntonRohm commented on #6519
@ezeh2 -- thank you for your feedback.  If you are looking for functionality that isn’t currently provided by the product, please use our “Suggest a feature” option in the [Visual Studio Developer Community](https://developercommunity.visualstudio.com/). We’d be happy to have this on record, where others can view it and upvote it, too. For more information about this works in the dev community, se

[2021-03-24 17:54] #6519 closed

[2021-03-24 17:55] PingPongSet commented on #6513
@qpetraroia

Thanks for your comments.

Yes, That would be a good starting point.

It would be great to provide links for further study. For example, links for communication setup from Kubernetes site or AKS.

[2021-03-25 04:25] RobbyCBennett opened #6522 "Feature not available in Visual Studio 2021 (Debug > Windows > Memory)"
[Enter feedback here]

I only see 6 options under Debug > Windows, and I don't see Memory.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eb85208e-4337-ea43-ec0c-6ca67c4c5fc3
* Version Independent ID: 0d98280d-8c1c-c729-14c7-0717202e3f22
* Content: [View memory for variables in the debugger - Visual Studio](https://doc

[2021-03-25 12:34] RisingLiberty opened #6523 "Invalid Time format"
The time format specified is invalid, visual studio uses
DD-MM-YY 00:00:00 AM/PM
instead of the given format
DD/MM/YYYY 00:00:00.

Maybe it uses the users' specified format in Windows settings?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f4a0078-1a87-6e3a-791e-d3068fb7032c
* Version Independent ID: 1d2d976d-2698-88

[2021-03-25 14:39] JN-LT opened #6524 "Feedback on the page I was just on"
Help says "click uninstall or disable"...
But there are no Disable or Uninstall buttons as shown in the snip. How do I make these buttons appear.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6c50729d-6836-feee-b306-cfab96b36d17
* Version Independent ID: afec4f9e-ac95-d414-62d7-c6a654721f5b
* Content: [Find and instal

[2021-03-25 17:14] JoshuaPartlow commented on #481
Hi @mgoertz-msft - Would you be able to comment here?

[2021-03-25 17:16] karenpayneoregon opened #6525 "Not available in VS2019"
[Enter feedback here]
Unless told otherwise `generate Type` with the option to create a new type in another project or in the same project under a specific folder is missing in VS2019, have it in VS2017.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 716af324-80f2-afab-8bb2-292cb1ac8850
* Version Independent ID: 4b6ee1

[2021-03-25 17:29] mgoertz-msft commented on #481
The ModelBus extension was a utility that had been written by a PM a long time ago. Unfortunately, at some point it was removed from the VS Gallery and the original source code was not preserved either. So far, we have been unable to locate these sources to rebuild and republish this extension.

If anyone reading this happens to still have this extension installed, we would appreciate it if you co

[2021-03-25 19:14] WilliamAntonRohm commented on #6522
@RobbyCBennett -- Robby, thank you for your feedback.  Please consider these resources:
- [Visual Studio on Q&A](https://docs.microsoft.com/en-us/answers/products/vs)
- [Visual Studio MSDN Forum](https://social.msdn.microsoft.com/Forums/vstudio)
- [Stack Overflow](https://stackoverflow.com/search?q=%22visual+studio%22)
- [Reddit](https://www.reddit.com/r/VisualStudio)

@Mikejo5000 -- Mike, please

[2021-03-26 09:42] mcx808 opened #6527 "Version matrix is out of date"
dotnet v5.0 (preview) is still showing. This has been in general release for a while now.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aecb3dcf-8452-6f71-9202-3ee7564abe06
* Version Independent ID: b57059a9-c666-2481-d2c0-452382220c7b
* Content: [.NET Core support - Visual Studio for Mac](https://docs.microsoft.com/e

[2021-03-26 11:46] KernelA opened #6528 "Visual Studio Build Tools cannot setup container in Docker"
I cannot build container with Visual Studio Build Tools follow instruction from here.

System info:
[code]

Docker version:
[code]

I got error after execution command:
[code]

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b91a4a43-5353-97cf-7532-7644aa3b497f
* Version Independent ID: 858d9a5c-72f3-6a85-9270-0a

[2021-03-26 18:27] ornellaalt commented on #6508
The versions appear in date order, not in version number order.

[2021-03-26 18:27] #6508 closed

[2021-03-26 20:35] WilliamAntonRohm commented on #6528
@KernelA -- Alexander, thank you for your feedback.  This repo is solely for documentation issues, and this seems like a  programming issue.  Please consider these resources:
- [Visual Studio on Q&A](https://docs.microsoft.com/en-us/answers/products/vs)
- [Visual Studio MSDN Forum](https://social.msdn.microsoft.com/Forums/vstudio)
- [Stack Overflow](https://stackoverflow.com/search?q=%22visual+stu

[2021-03-26 20:35] #6528 closed

[2021-03-27 14:37] astrohart opened #6534 "Broken image links on Visual Language Dictionary"
RE: https://docs.microsoft.com/en-us/visualstudio/extensibility/ux-guidelines/visual-language-dictionary-for-visual-studio?view=vs-2019

The image reference links for the **Merge** and **Up** concepts are broken.

![image](https://user-images.githubusercontent.com/8261875/112724191-803d7400-8ee8-11eb-8641-37b8eea45332.png)
**Figure 1.** Entry for the **Merge** concept is missing its image.

![fig0

[2021-03-27 16:10] alegrigoriev opened #6535 "Find In Files dialog: "File Types" pattern rules are not documented"
The find in files dialog changed, looks different, and the path pattern exclusion in File Types box is not documented (it's not really File Types anymore, because it allows patterns with paths)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b328a871-7747-31d6-737c-4e3f6d10d9d1
* Version Independent ID: 2b455842-a4ef-25

[2021-03-27 17:48] Cynacyn opened #6536 "Search paths only works for symbols"
Search paths only works for symbols, so autocomletion may propose you `custom.py` as `custom` when you pass it to **import**, but **import** itself will not have visibilty on from where to load `custom.py`. Only way to actually add `custom.py` visibility for import is to utilize `site` module in order to make custom modules paths visible for **import**.

---
#### Document Details

⚠ *Do not edit t

[2021-03-28 15:19] crsundar opened #6537 "How to create a project"
How to create a project in visual studio code in 1.54.3?
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b8b25eea-0531-fc29-14c3-97b01d3c9ffc
* Version Independent ID: 93399d12-64f7-aa0c-f7d6-7ed8ecd95086
* Content: [Create a new project - Visual Studio](https://docs.microsoft.com/en-us/visualstudi

[2021-03-28 15:36] gregvanl commented on #6537
Hi @crsundar, The article you reference is for Visual Studio IDE, not Visual Studio Code.
You can find the VS Code documentation at https://code.visualstudio.com.
VS Code doesn't have built-in support for "Create New Project" and is primarily an editor rather than a full IDE (integrated development environment). Programming language support is through VS Code extensions (C++, Java, Python) and tho

[2021-03-28 15:36] #6537 closed

[2021-03-28 15:40] MichaelWatindi opened #6538 "Some parameters simply do not work. For example $specifiedsolutionname$ $projectname$ $filename$. I tried entering these place holders but when the class was generated they were not replaced and showed up as typed."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f4a0078-1a87-6e3a-791e-d3068fb7032c
* Version Independent ID: 1d2d976d-2698-88d6-fac4-4d34e3855e2a
* Content: [Project and item template parameters - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/ide/template-parameters?view=vs-2019)
*

[2021-03-28 19:29] ChayoteJarocho opened #6539 "WinForms tutorial is still targeting .NET Framework"
Consider updating the screenshots and the instructions to instead target .NET 5.0.

This tutorial: https://github.com/MicrosoftDocs/visualstudio-docs/blob/master/docs/ide/create-csharp-winform-visual-studio.md

[2021-03-28 21:38] Mugsy323 opened #6540 "No line indicated."
There is no line number associated with this error in my program (which has always worked just fine.)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 985119c2-d36e-2133-20c4-0b6bf674d6af
* Version Independent ID: ebd698e1-be54-5a87-e15e-691a034d2a5f
* Content: [CA0001 - Visual Studio](https://docs.microsoft.com/en-us/vi

[2021-03-28 23:52] crsundar commented on #6537
Dear Greg,
Thank you for your prompt response.
Regards,
crsundar

On Sun, Mar 28, 2021 at 9:07 PM Greg Van Liew ***@***.***>
wrote:

--
Lt Col CR Sundar,
Plot No. 43, 24th Cross Street,
Padmavathy Nagar, Madambakkam,
Chennai - 600126
80561 63792

[2021-03-29 00:10] vertxxyz opened #6541 "The Editor Attaching checkbox step in Get started with Visual Studio and Unity is no longer valid"
The Editor Attaching checkbox step on this page is no longer present in Unity as of the 2020 release, confusing first time users.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a35176f2-ca94-7bb8-08a5-9e415d364ef3
* Version Independent ID: a9f184a6-78b9-315b-4a02-1c93bd4c3940
* Content: [Getting Started with Visual Stu

[2021-03-29 08:22] TerryGLee commented on #6535
@alegrigoriev Thanks for posting; this page is in the queue to be updated. We'll report back when it's complete.

[2021-03-29 10:56] crsundar commented on #6537
Dear Greg,
I find that while working with Visual Studio I am constantly being
interrupted with downloads, updates and so on.
This is very disturbing and annoying.
Please do something about this.

On Mon, Mar 29, 2021 at 5:21 AM Cr Sundar ***@***.***> wrote:

--
Lt Col CR Sundar,
Plot No. 43, 24th Cross Street,
Padmavathy Nagar, Madambakkam,
Chennai - 600126
80561 63792

[2021-03-29 11:14] crsundar commented on #6537
Dear Greg,

Why is it that updates take longer than installation?

Just this morning I installed VS IDE. Now I find that the program is
automatically updating from 16.7.6 to 16.9.2. Some 690 packages are getting
downloaded and installed. It is taking almost an hour.

The point is why were these packages not installed with the IDE in the
first instance itself.

Kindly look into this.

On Mon, Mar 2

[2021-03-29 12:31] StingyJack commented on #6488
@WilliamAntonRohm - There appears to be no way to do this for these project and item templates. If the ExportTemplate command in VS accepted arguments, then they may be passable using `devenv /command ExportTemplate param1 param2 etc` but that command accepts no arguments.

Instead I found [this](https://docs.microsoft.com/en-us/dotnet/core/tools/custom-templates), and [this](https://docs.microsof

[2021-03-29 12:31] #6488 closed

[2021-03-29 18:51] gregvanl commented on #6537
Hi @crsundar This looks like product feedback for Visual Studio IDE. You can report product issues to that team via the Report a Problem tool that appears both in the Visual Studio Installer and in the Visual Studio IDE.​

[2021-03-29 21:56] TerryGLee commented on #6525
@karenpayneoregon Thanks for letting us know about this; we'll investigate, make content updates required, and report back.

[2021-03-29 22:11] evanwindom commented on #6477
@hsmahal  - I apologize for the delay in responding here.  The feedback channel is really not designed or equipped to handle individual support requests.  If you have question about using your alternate ID with Azure, we recommend contacting Azure support.  https://ms.portal.azure.com/#blade/Microsoft_Azure_Support/HelpAndSupportBlade/overview should get you there.

[2021-03-29 22:26] evanwindom commented on #6477
#please-close

[2021-03-29 22:26] #6477 closed

[2021-03-29 23:42] WilliamAntonRohm commented on #6538
@MichaelWatindi -- Michael, thank you for your feedback.  Are other parameters working for you?  If not, try step 2 under [Enable parameter substitution in templates]https://docs.microsoft.com/visualstudio/ide/template-parameters#enable-parameter-substitution-in-templates).  Meanwhile, please consider these resources:
- [Visual Studio on Q&A](https://docs.microsoft.com/en-us/answers/products/vs)
-

[2021-03-29 23:43] crsundar commented on #6537
Thanks Greg.

On Tue, Mar 30, 2021 at 12:21 AM Greg Van Liew ***@***.***>
wrote:

--
Lt Col CR Sundar,
Plot No. 43, 24th Cross Street,
Padmavathy Nagar, Madambakkam,
Chennai - 600126
80561 63792

[2021-03-30 09:39] drewnoakes commented on #4351
@user2150 did you end up filing a bug on this?

[2021-03-30 18:41] prashanth028-creator opened #6546 "How to select "Credit" tests in the "To add unit tests to the scenario""
I am trying to create a load test by following this blog, In my case, it is a unit test project and it is compiled.
But not sure how to select unit tests in a load test project.
Are these load tests supports only the .webtest files?
How to make a selection of other unit tests?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2021-03-30 18:50] WilliamAntonRohm commented on #6540
@Mugsy323 -- Mugsy, thank you for your feedback.  This repo is solely for documentation issues, and your concern appears to be product-related.  Please consider these resources:
- [Visual Studio on Q&A](https://docs.microsoft.com/en-us/answers/products/vs)
- [Visual Studio MSDN Forum](https://social.msdn.microsoft.com/Forums/vstudio)
- [Stack Overflow](https://stackoverflow.com/search?q=%22visual+

[2021-03-30 18:50] #6540 closed

[2021-03-30 19:40] TerryGLee commented on #6534
@astrohart Thanks for the heads-up; we'll get this fixed and republished within 24 hours. We appreciate you helping to improve the documentation!

[2021-03-30 21:13] #6534 closed

[2021-03-30 22:37] prashanth028-creator commented on #6546
I came to know how to add unit tests, hence closing the ticket.

[2021-03-30 22:37] #6546 closed

[2021-03-31 08:23] idokka opened #6548 "Automatically remote debugger attaching support"
Is there possible to automatically attach Remote Debugger like [for vsjitdebugger](https://docs.microsoft.com/en-us/previous-versions/visualstudio/visual-studio-2010/a329t4ed(v=vs.100)?redirectedfrom=MSDN) ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3a52d11c-1c52-fb1d-c785-75845f6edee3
* Version Independent ID: 35

[2021-03-31 12:04] reponemec opened #6549 "Is it possible to add a custom EventSource implementation with custom event counters?"
Is it possible to add a custom event counters from a custom EventSource implementation?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0159839e-9884-74b5-09fd-b5c4a3d71196
* Version Independent ID: a65f01f7-11b8-46c8-5694-69d4753e156d
* Content: [Visualize dotnet counters - Visual Studio](https://docs.microsoft.com/en-

[2021-03-31 17:02] #6237 closed

[2021-03-31 17:45] aradarbel10 opened #6550 "hyperlink leading to a 404"
[Enter feedback here]
in the purple box right under "Write Test Methods", there's a link pointing towards Google Test Primer which leads to a 404 page on github. it sends to [this link](https://github.com/google/googletest/blob/master/googletest/docs/primer.md), but probably should send to [this active one](https://github.com/google/googletest/blob/master/docs/primer.md)?

---
#### Document Detail

[2021-03-31 19:45] JoshuaPartlow commented on #6095
Thanks @gjuwindev for bringing this up. The docs should be updated shortly.

[2021-03-31 19:45] #6095 closed

[2021-03-31 23:13] extensibleseth commented on #6415
Thanks @TerryGLee. I appreciate your time.

That page doesn't document the process to check out a commit. I'm looking for an equivalent for  `git checkout commithash`.

https://docs.microsoft.com/en-us/visualstudio/ide/git-team-explorer-feature-comparison?view=vs-2019#git-changes

[2021-03-31 23:14] TerryGLee commented on #6326
@extensibleseth As I remarked in a previous GitHub Issue you posted, we're still in the process of adding new content, but we've recently published a page that includes info about the Stash process that might answer your inquiry. It's also in the "Git Changes" section of the new [Side-by-side comparison of Git and Team Explorer](https://docs.microsoft.com/en-us/visualstudio/ide/git-team-explorer-f

[2021-03-31 23:14] #6326 closed

[2021-03-31 23:17] TerryGLee commented on #6415
@extensibleseth Thanks for clarifying. I'll re-open the issue.
@prnadago @Taysser-Gherfal FYI on this request.

[2021-03-31 23:17] extensibleseth commented on #6415
It occurred to me that if VS doesn't do checkout, a workflow to achieve the same would suffice. Something like creating new branches for the commits you'd like to checkout.

[2021-03-31 23:24] extensibleseth commented on #6326
Thanks again @TerryGLee. That side-by-side page answers this ticket just fine. I'll stay tuned for further updates!

[2021-04-01 00:07] solstice333 opened #6553 "dockerfile example is broken on the RUN instruction where build tools is installed"
In the dockerfile example, this exists:

[code]

Similarly, in my dockerfile, I used to have this:

[code]

On my machine, I'm able to consistently reproduce the case where the command fails to block until the installer is done. After `docker build` is complete, I `docker run` the image, and the path passed into `--installPath` does not exist.

To fix this, I've referenced https://docs.microsoft.c

[2021-04-01 03:38] hmurty opened #6554 "Visual Studio 2019 Windows Forms Control Library .NET Core 3.1 design does not load"
Hi I am following the document: "Tutorial: Get started with Windows Forms Designer" dated 8/9/2019.

I am getting the following error:
IntelliSense finished initializing, but an error occurred when attempting to load the document
File path: \DemoCalculatorLib\UserControl1.cs[Design]
Frame GUID: ....
Frame mode: VSFM_MdiChild
Error code: 0x80131500

You help is appreciated

---
#### Document Detail

[2021-04-01 10:51] VS-- opened #6555 "Little recomendation"
Hello!
I read "Note
The following animation isn't intended to duplicate the preceding code. It's intended only to show how the autocomplete feature works."
But if you show the example maybe it will be better to show it without mistakes, i mean before the printing "c" variable value in animation we should define it.
Thanks and sorry for my not perfect english.
Best regards, Vladimir.
---
#### Docum

[2021-04-01 17:51] WilliamAntonRohm commented on #6548
@idokka -- Oleksii, thank you for your question.  Please consider these resources:
- [Visual Studio on Q&A](https://docs.microsoft.com/en-us/answers/products/vs)
- [Visual Studio MSDN Forum](https://social.msdn.microsoft.com/Forums/vstudio)
- [Stack Overflow](https://stackoverflow.com/search?q=%22visual+studio%22)
- [Reddit](https://www.reddit.com/r/VisualStudio)

@Mikejo5000 -- Mike, please look

[2021-04-01 17:54] WilliamAntonRohm commented on #6549
@reponemec -- thank you for your question.  Please consider these resources:
- [Visual Studio on Q&A](https://docs.microsoft.com/en-us/answers/products/vs)
- [Visual Studio MSDN Forum](https://social.msdn.microsoft.com/Forums/vstudio)
- [Stack Overflow](https://stackoverflow.com/search?q=%22visual+studio%22)
- [Reddit](https://www.reddit.com/r/VisualStudio)

@Sagar-S-S -- please look into this pot

[2021-04-01 17:56] WilliamAntonRohm commented on #6553
@solstice333 -- thank you for your well-researched feedback.

@ornellaalt -- please look into this issue.

[2021-04-01 18:01] #6550 closed

[2021-04-01 18:04] WilliamAntonRohm commented on #6555
@VS-- Vladimir, thank you for your feedback.  Your English is very clear!

@ornellaalt -- Ornella, please look into this issue.

[2021-04-01 18:10] corob-msft commented on #6550
@aradarbel10
Thanks for the report. A fix should appear within a day.

[2021-04-01 18:18] WilliamAntonRohm commented on #6554
@hmurty -- thank you for your feedback.  Please check your steps to verify the existence and placement of the `UserControl1.cs` file, and let me know if that helps.  Also, consider these resources:
- [Visual Studio on Q&A](https://docs.microsoft.com/en-us/answers/products/vs)
- [Visual Studio MSDN Forum](https://social.msdn.microsoft.com/Forums/vstudio)
- [Stack Overflow](https://stackoverflow.com

[2021-04-01 23:03] puetzk opened #6557 "Questions about the WARNING regarding dotnet base docker layers"
[Enter feedback here]

https://github.com/MicrosoftDocs/visualstudio-docs/blob/5ee68a98d9849e38da037641651b10257da972e5/docs/install/build-tools-container.md#L131-L132

[microsoft/dotnet-framework](https://hub.docker.com/_/microsoft-dotnet-framework/) does not seem to be an actual repo you can pull, it's a parent folder.

Both the example here and the one at https://docs.microsoft.com/en-us/visual

[2021-04-02 00:15] WilliamAntonRohm commented on #6557
@puetzk -- Kevin, thank you for your detailed and thorough feedback.  Please consider these resources:
- [Visual Studio on Q&A](https://docs.microsoft.com/en-us/answers/products/vs)
- [Visual Studio MSDN Forum](https://social.msdn.microsoft.com/Forums/vstudio)
- [Stack Overflow](https://stackoverflow.com/search?q=%22visual+studio%22)
- [Reddit](https://www.reddit.com/r/VisualStudio)

@ornellaalt -

[2021-04-02 02:31] puetzk commented on #6557
I wasn't aware of the Q&A Board, the others I had searched without finding much (besides links to this documentation or @heaths blog post). After filing this issue, I did find one more I had originally missed: https://stackoverflow.com/questions/63523798/trying-to-install-visual-studio-2019-build-tools-into-docker-image has someone trying to follow the instructions and then hitting the fact that d

[2021-04-02 17:18] heiligerdankgesang commented on #6491
@JoacimWall it seems like you're trying to get a relatively new extension into the Visual Studio for Mac extension gallery. The documentation you pointed to is only for authors of extensions that already existed in the extension gallery (generally, these extensions existed in Visual Studio for Mac 2017). We did some backend work and needed existing authors to change their process.

Unfortunately,

[2021-04-02 17:18] #6491 closed

[2021-04-02 19:37] heaths commented on #6557
This documentation was written before vs_BuildTools was included and may not longer be relevant.

However, note that vs_BuildTools may not have been installed with all the features desired, and older container images stripped the installation state making it impossible update (with no state present, install will fail because an existing installation folder will be non-empty). I did log a bug again

[2021-04-02 20:03] sayedihashimi commented on #6527
This has been fixed

[2021-04-02 20:05] sayedihashimi commented on #6527
#please-close

[2021-04-02 20:05] #6527 closed

[2021-04-03 01:44] puetzk commented on #6557
Right. It definitely has the wrong workloads; I primarily want the VCTools. And [yes it's still stripping out the installer](https://github.com/microsoft/dotnet-framework-docker/blob/8a8a840eb018acca33d09794615800812dd24d8f/src/sdk/4.8/windowsservercore-ltsc2019/Dockerfile#L44-L45) so you can't just add more. Hence my filing this issue seeking some updates, since it doesn't appear following these

[2021-04-03 14:51] SuRFDownUnder opened #6561 "Out of date template code"
The html template code on this page is out of date.

{% load staticfiles %} < !-- Instruct Django to load static files -->

should be

{% load static %} < !-- Instruct Django to load static files -->

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a1cd413-a2a8-9cb5-3f3a-94822a96af51
* Version Independent ID: feadb7ab-e

[2021-04-03 20:43] luwilkins opened #6562 "DoOperation in Calculator tutorial"
[Enter feedback here]
This line kept throwing an error that DoOperation wasn't defined.
result = Calculator.DoOperation(cleanNum1, cleanNum2, op);

Ultimately I added the Calculator namespace (Calculator.Calculator.DoOperation(cleanNum1, cleanNum2, op);)and the code ran without an error.
I couldn't find a reference in the issues area, so I hope I'm not duplicating someone else's note.  I'm using V

[2021-04-04 00:38] mbursill opened #6563 "Additional Step To Enable Custom Nesting"
To make custom nesting work in non web projects I had to add the following to the csproj:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2d25dd44-f173-dd83-3afc-d6608613d450
* Version Independent ID: e121cedc-5cbe-a399-e2a8-5d192aaea770
* Content: [File nesting rules for Solution Explorer - Visual Studio](https

[2021-04-04 19:58] reponemec commented on #6549
My question should be related to this page: https://docs.microsoft.com/en-us/visualstudio/profiling/dotnet-counters-tool?view=vs-2019#understand-your-data
_Once the report loads, you should see a finalized report similar to the one shown below._

I would like to add my own EventSource to the final report.

[2021-04-05 16:17] heaths commented on #6557
The dotnet containers aren't not designed to work as a base for other VS features. If that is a desire, I recommend filing in an issue in an appropriate project under the https://github.com/dotnet org. They are installing just the workloads they need to support building with dotnet and then cleaning up unnecessary files to provide a leaner container. Acquisition speed seems to be one of their goal

[2021-04-05 16:42] AngelosP commented on #6563
How can I help?

[2021-04-05 17:28] puetzk commented on #6557
Right, this article seems meant to be describing what I want to do - tailor a bespoke container with buildtools and specific workloads installed (in my case with VCTools, Windows SDK, and ATL). I'd wouldn't have considered using a dotnet image, except that this article pointed me to them and warned not to just start with windowsservercore like I would for a non-containerized build agent.

It's rea

[2021-04-05 19:41] heaths commented on #6557
The reason those warnings exist (it's starting to come back to me - I drove our containerization strategy then and wrote the initial docs, but it's been a while) is because at some point, that information was still true. .NET, Windows, and I worked together to figure out the issue and make sure they were effectively bootstrapped into the image because installing VS (Build Tools or otherwise). I do

[2021-04-05 21:21] WilliamAntonRohm commented on #6561
@JoshuaPartlow -- Joshua, please review this update in [private PR 7999](https://github.com/MicrosoftDocs/visualstudio-docs-pr/pull/7999).

[2021-04-06 20:03] heiligerdankgesang commented on #6461
@tsequeira-vhs thanks for your patience. Right now, there isn't a way in the product for you to downgrade to an older version. If you email me, though, I can help you downgrade.

dominicn@microsoft.com

I'll keep an eye out for your email. When you reach out, could you please let me know if there's a particular issue you're hitting in 8.9 that has caused you to want to downgrade.

Thanks!

#please

[2021-04-06 20:03] #6461 closed

[2021-04-06 20:20] heiligerdankgesang commented on #6402
@Saratsin - Visual Studio for Mac 2019 does not support publishing new extensions to the extension repository. Authors of pre-existing extensions (that were carried over from Visual Studio for Mac 2017) are able to update their extensions that are already in the repository, but can not add new ones.

#please-close

[2021-04-06 20:20] #6402 closed

[2021-04-06 20:59] WilliamAntonRohm commented on #6562
@luwilkins -- thank you for your feedback.  I just followed this tutorial and it is working for me in Visual Studio 2019.  In your code, are both of the classes (Program and Calculator) inside the `namespace Calculator` braces?

[2021-04-06 21:31] luwilkins commented on #6562
Good afternoon, thanks for following up with me.  I actually worked on that code (I'm still learning) to the point where I couldn't make sense of it at all and simply deleted it and I will re-create it again.  As best as I can recall, the area I had a problem with was in the second half of the tutorial after the Program namespace had been cut out and the Calculator namespace had been changed from

[2021-04-06 21:44] WilliamAntonRohm commented on #6562
@luwilkins -- Lucille, thank you for clarifying.  I only went through this article, not part 2.  I will try part 2 now and let you know how it goes on my machine.

[2021-04-06 21:50] luwilkins commented on #6562
I would not be surprised if it works fine; I'm still working through the "learning" process of coding in C#.  So please don't be surprised if it does work for you.  I'll admit that as I went through the steps the instructions appeared to be somewhat confusing as to which namespace I was to be working in.  I'm hoping I can simply attribute that to a learning curve.

Best regards,

Lucille Wilkinson

[2021-04-06 21:59] WilliamAntonRohm commented on #6562
@luwilkins -- thank you for your followup.  Like most computer languages, C# is not particularly intuitive.  Please take notes, if you like, of any confusing steps or sentences, and we'll address them.

[2021-04-06 22:28] luwilkins commented on #6562
Thanks for your help.

Best regards,

Lucille Wilkinson

Roxbury, MA 02119

From: William Anton Rohm ***@***.***
Sent: April 6, 2021 6:00 PM
To: MicrosoftDocs/visualstudio-docs
Cc: luwilkins; Mention
Subject: Re: [MicrosoftDocs/visualstudio-docs] DoOperation in Calculator tutorial (#6562)

@luwilkins <https://github.com/luwilkins>  -- thank you for your followup. Like most computer languages, C# i

[2021-04-07 02:14] yanghhhhhhh opened #6566 "The default shortcut keys for quick info are Ctrl+K,Ctrl+I instead of Ctrl+I"
**Issue:**
In the [quick info](https://docs.microsoft.com/en-us/visualstudio/ide/using-intellisense?view=vs-2019#quick-info) section it says "You can manually invoke Quick Info by choosing Edit > IntelliSense > Quick Info, by pressing **Ctrl+I**"

![image](https://user-images.githubusercontent.com/69227520/113800508-a6390300-9789-11eb-883d-a31a52445921.png)

**Expected:**
You can manually invoke Q

[2021-04-07 06:59] slluis commented on #6206
Extensions can only be published in the stable channel now.

[2021-04-07 08:05] SeamusMacRat opened #6567 "Not Mac Compatible"
So, why do C# devs on Macs not need code analysis tools like Maintainability? Are you saying that we are obviously so good that we don't need them? Or does your website just talk about the Windows version AGAIN?

This is what is meant when people say MONOPOLY, guys ... refusing to add tools that aren't for use on your own products.

Without saying "use a windows machine", can someone tell me how I

[2021-04-07 13:06] mrlife opened #6568 "Please add Under Investigation and Under Consideration to Suggestion Status section"
https://docs.microsoft.com/en-us/visualstudio/ide/suggest-a-feature?view=vs-2019#suggestion-status

Here are some screenshots:

<img width="158" alt="Screen Shot 2021-04-07 at 9 04 28 AM" src="https://user-images.githubusercontent.com/213164/113870911-573aa000-9780-11eb-9aa0-42231414a564.png">

<img width="158" alt="Screen Shot 2021-04-07 at 9 04 38 AM" src="https://user-images.githubusercontent.c

[2021-04-07 14:50] madskristensen commented on #6568
@mrlife Those two states only apply to problem reports. This is by design, though we have a work item to look at aligning all states across the ticket types.

[2021-04-07 14:54] mrlife commented on #6568
@madskristensen Thanks for clarifying that. I was trying to understand the status of some of my submitted issues but can't find definitions for these 2 statuses. Would you be able to provide a brief description here?

[2021-04-07 14:59] madskristensen commented on #6568
The translation from problem to suggestion states are not perfect, but can be thought of as:

`Under Consideration` = `Under Review`
'Under Investigation' = 'On Roadmap'

[2021-04-07 15:05] mrlife commented on #6568
@madskristensen Thank you, this really helps.

[2021-04-07 18:22] WilliamAntonRohm commented on #6568
@mrlife -- thank you for your suggestion and followup.

@madskristensen -- thank you for clarifying.

I am closing this issue now.  You are welcome to @ mention me for any followup.  We hope to hear from you again.

[2021-04-07 18:22] #6568 closed

[2021-04-07 18:29] WilliamAntonRohm commented on #6567
@SeamusMacRat -- Kev, thank you for your questions.  It looks like you have product feedback rather than documentation feedback. If you are looking for functionality that isn’t currently provided by the product, please use our “Suggest a feature” option in the [Visual Studio Developer Community](https://developercommunity.visualstudio.com/). We’d be happy to have this on record, where others can v

[2021-04-07 18:29] #6567 closed

[2021-04-07 21:09] heiligerdankgesang commented on #6206
#please-close

[2021-04-07 21:09] #6206 closed

[2021-04-08 19:31] #6566 closed

[2021-04-08 19:36] JoshuaPartlow commented on #6561
Hi @SuRFDownUnder - Thanks for taking the time to open this issue. Right now the tutorials are tied to the templates and the templates are using an earlier version of Django. We'll take this into account though when we next refresh the Django content.

[2021-04-08 19:36] #6561 closed

[2021-04-08 19:41] dsplaisted commented on #5599
Here's the link to the docs for this: https://docs.microsoft.com/en-us/visualstudio/msbuild/property-functions?view=vs-2019#msbuild-targetframework-and-targetplatform-functions

[2021-04-08 19:48] dsplaisted opened #6572 "MSBuild property function documentation should include version comparison functions"
We should add documentation for the version comparison property functions that were added here: https://github.com/dotnet/msbuild/pull/4911

/cc @marcpopMSFT @BenVillalobos

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 82a1a083-bea0-e53e-dc9e-78f201ac1314
* Version Independent ID: 904dae68-65cb-ec55-2fb3-1075ceaf6f1c

[2021-04-08 23:56] MatthewSteeples opened #6574 ""Default" behaviour listed is incorrect"
`BackgroundDownloadDisabled`, `AdministratorUpdatesEnabled` and `AdministratorUpdatesOptOut` all indicate in the Default column that they have a default value of `1`. In the Description column the behaviour described indicates that a missing value behaves the same as a `0` value.

Only one of the above statements can be true

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2021-04-09 08:29] Youssef1313 opened #6575 "Update screenshots of editorconfig"
Update the screenshot of editorconfig .NET template under "Add an EditorConfig file to a project" heading if/when https://github.com/dotnet/templates/pull/461 gets merged.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72f45eb4-3596-866a-2c16-ee225737d956
* Version Independent ID: cea055e7-fe9b-95c7-6d25-086f182c01d2
*

[2021-04-09 14:50] TimShererWithAquent commented on #6575
@WilliamAntonRohm I didn't assign, but it looks like an enhancement.

[2021-04-09 18:38] 89z opened #6577 "Host media files outside of the repo"
I noticed that for some reason, large media files are being stored in the repo. For example, here is a 22 MB video file:

https://github.com/MicrosoftDocs/visualstudio-docs/blob/master/docs/snippets/csharp/VS_Snippets_Wpf/IntroToWPFSnippets/CSharp/Media/WPF.wmv

because of this, the Zip download for the repo is 444 MB:

https://github.com/MicrosoftDocs/visualstudio-docs/archive/refs/heads/master.z

[2021-04-10 20:45] mrlife opened #6579 "Should article date reflect date of most recent change?"
There are updates from this year, however the date on the article is 10/11/2018.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fd0b8848-c2af-28e9-28bf-761d1cdf3d6d
* Version Independent ID: 7cc1bef7-ef0c-5c62-2b5f-45910764ba80
* Content: [Supported Code Changes (C# and Visual Basic) - Visual Studio](https://docs.micro

[2021-04-12 07:54] CarlosLiu-becls opened #6580 "Does this tool support Ubuntu?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8c654586-8571-cfe1-1ee1-3adaf79e2dcf
* Version Independent ID: 334b3914-dbcd-3ece-26b3-fab7c766a377
* Content: [Generate code metrics from the IDE or command line - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/code-quality/how-to-gener

[2021-04-12 07:54] #6580 closed

[2021-04-12 16:07] #6538 closed

[2021-04-12 19:07] TerryGLee commented on #5967
@weitzhandler Thanks for your suggestion; we've added the following sentence to a Note about NuGet at the bottom of the page, as follows:

We'll close this issue now, with our thanks to you for helping us improve the documentation!

[2021-04-12 19:07] #5967 closed

[2021-04-13 11:57] samsmithnz opened #6583 "How to install Intellitest?"
There are no details of how to install/enable intellitest, especially in Visual Studio 2019 Enterprise.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 90af3c96-5c6f-3cb6-db38-dc33de91755f
* Version Independent ID: 0bdf2b57-b748-b4e9-3c57-c7a2dda4cc1d
* Content: [Overview - Visual Studio](https://docs.microsoft.com/en-u

[2021-04-13 17:30] jgwinner opened #6585 "Suggest method to convert a folder to a project on this page"
Hello:

Great page - but it never matched what I was looking at. Coming from VS Code, it was slightly confusing, as there you pretty much get the Python environments by opening a folder.

That doesn't work with Visual Studio.

What I found DID work was to create a temp folder, then create a solution and project with the same exact name as the file I downloaded from Github.

Then you copy the .sln

[2021-04-13 21:28] WilliamAntonRohm commented on #6583
@samsmithnz -- Sam, thank you for your question and feedback.  Please consider these resources:
- [Visual Studio on Q&A](https://docs.microsoft.com/en-us/answers/products/vs)
- [Visual Studio MSDN Forum](https://social.msdn.microsoft.com/Forums/vstudio)
- [Stack Overflow](https://stackoverflow.com/search?q=%22visual+studio%22)
- [Reddit](https://www.reddit.com/r/VisualStudio)

@Mikejo5000 -- Mike,

[2021-04-13 21:31] WilliamAntonRohm commented on #6585
@jgwinner -- John, thank you for your thorough feedback.  Please consider these resources:
- [Visual Studio on Q&A](https://docs.microsoft.com/en-us/answers/products/vs)
- [Visual Studio MSDN Forum](https://social.msdn.microsoft.com/Forums/vstudio)
- [Stack Overflow](https://stackoverflow.com/search?q=%22visual+studio%22)
- [Reddit](https://www.reddit.com/r/VisualStudio)

@JoshuaPartlow -- Joshua,

[2021-04-13 22:47] #6574 closed

[2021-04-13 23:33] christineruana commented on #6574
Thank you for reporting this doc bug Matthew.  I made a few corrections to the content today.

[2021-04-14 09:10] marcin-krystianc commented on #5948
+1

[2021-04-14 15:25] BenVillalobos opened #6587 "MSBuild: Information on locating msbuild is inaccurate"
The `Get-MSBuildCmd` function uses the registry to locate MSBuild but MSBuild is not generally present in the registry. Can we update the sample to use `vswhere` or a similar technique?

/cc: You can ask @rainersigwald for more context.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f4be807-0eec-f478-f42c-8c89a8d87376

[2021-04-14 16:10] WilliamAntonRohm commented on #6587
@BenVillalobos -- Ben, thank you for your suggestion.

@ghogen -- Gordon, please look into this issue.

[2021-04-14 20:10] fitdev opened #6588 "No Text Editor Advanced Page"
Whole page of Advanced Settings under Text Editor is missing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c03f0366-9eb0-a623-57dc-23c34ca5c73a
* Version Independent ID: 4682db7d-610f-2cf1-523b-34fdc10a016f
* Content: [Options, Text Editor, General - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/ide/re

[2021-04-15 13:56] smoothdeveloper opened #6590 "Looking for enhancement to customize-your-build / check project file extension"
Is it possible to have samples around Directory.Build.props that checks the project file extension (csproj, fsproj, vbproj) in order to have sections that are relevant to only a specific project type?

If this is more correctly or simply achieved by another mean, then it is that mean that should be showcased.

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2021-04-15 15:37] #6554 closed

[2021-04-15 18:28] WilliamAntonRohm commented on #6590
@smoothdeveloper -- Gauthier, thank you for your feedback.  Please consider these resources:
- [Visual Studio on Q&A](https://docs.microsoft.com/en-us/answers/products/vs)
- [Visual Studio MSDN Forum](https://social.msdn.microsoft.com/Forums/vstudio)
- [Stack Overflow](https://stackoverflow.com/search?q=%22visual+studio%22)
- [Reddit](https://www.reddit.com/r/VisualStudio)

@ghogen -- Gordon, plea

[2021-04-15 18:41] zspitz opened #6592 "Description of logic for choosing between multiple available debuggee-side DLLs"
From my testing, if there are multiple target framework debuggee DLLs -- `netcoreapp`, `netstandard2.0`, `net2.0`:

* For **.NET Framework** -- If the debugged process runtime supports `netstandard2.0`, and there is a `netstandard2.0` debuggee-side DLL, that will be used; otherwise `net2.0` will be used.
* For **.NET Core** and **.NET 5+** -- `netcoreapp` will always be used, even if the runtime s

[2021-04-15 18:43] ghogen commented on #6590
@smoothdeveloper Thanks for the request. Yes, it seems like a good example to add. Presumably, it would be based on $(MSBuildProjectExtension)
https://docs.microsoft.com/en-us/visualstudio/msbuild/msbuild-reserved-and-well-known-properties?view=vs-2019
and could use a Choose element to specify the conditions
https://docs.microsoft.com/en-us/visualstudio/msbuild/choose-element-msbuild?view=vs-2019

[2021-04-15 19:49] smoothdeveloper commented on #6590
thanks @WilliamAntonRohm & @ghogen, I'm able to use what @ghogen brought.

Either a sample or a paragraph pointing to `Choose` and `$(MSBuildProjectExtension)` would be great addition under "Customize all .NET builds", maybe a subsection "Customize based on project type"?

Feel free to close the issue.

[2021-04-15 19:55] WilliamAntonRohm commented on #6590
@smoothdeveloper -- Gauthier, thanks for the followup.

#please-close

[2021-04-15 22:12] wimmerb72 opened #6593 "Not able to follow"
I could not follow the example starting at "Reference .NET libraries: write to a log"
step 4. Tried placing the code before several While loops and all failed. Is there a final code example to look at?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 80ccbb63-7f84-55e6-1b3e-f48400aa17ae
* Version Independent ID: 6aba5d1b

[2021-04-15 22:38] ghogen commented on #6593
@wimmerb72 It looks like what's intended is to add the calculator variable just before while (! endApp)

[2021-04-16 07:57] huawenm opened #6595 "Question for Microsoft.VisualStudio.Shell.Settings"
Hi I have a question in
https://github.com/MicrosoftDocs/visualstudio-docs/blob/master/docs/extensibility/writing-to-the-user-settings-store.md#writing-to-the-user-settings-store

if I write a setting like this userSettingsStore.SetString("External Tools", "ToolTitle" + toolCount, "&Notepad");

where should I find the settings in the file? Or is that possible I could "reset" every setting to defau

[2021-04-16 14:31] lukas2606 opened #6596 "J"
JavaScript

[2021-04-16 14:32] #6596 closed

[2021-04-16 14:51] buzz3791 opened #6597 "Please document some reasons - Tasks can be blocked for many different reasons"
This documentation page contains this sentence: "Tasks can be blocked for many different reasons."  But the page fails to provide any information on these "reasons for blocking."

Please improve the page by adding several *DETAILED* explanation for why a thread may be blocked.

I'm trying to figure out how to debug thread mutex usage and I believe this is one of the "block reasons" but can't be su

[2021-04-16 16:50] wimmerb72 commented on #6593
thank you for the quick response!

[2021-04-16 20:06] WilliamAntonRohm commented on #6595
@huawenm -- thank you for your questions.  Please consider these resources:
- [Visual Studio on Q&A](https://docs.microsoft.com/en-us/answers/products/vs)
- [Visual Studio MSDN Forum](https://social.msdn.microsoft.com/Forums/vstudio)
- [Stack Overflow](https://stackoverflow.com/search?q=%22visual+studio%22)
- [Reddit](https://www.reddit.com/r/VisualStudio)

@leslierichardson95 -- please look into

[2021-04-16 20:09] WilliamAntonRohm commented on #6597
@buzz3791 -- Brian, thank you for your feedback.  Please consider these resources:
- [Visual Studio on Q&A](https://docs.microsoft.com/en-us/answers/products/vs)
- [Visual Studio MSDN Forum](https://social.msdn.microsoft.com/Forums/vstudio)
- [Stack Overflow](https://stackoverflow.com/search?q=%22visual+studio%22)
- [Reddit](https://www.reddit.com/r/VisualStudio)

@Mikejo5000 -- Mike, please look

[2021-04-16 20:19] #6593 closed

[2021-04-16 22:32] TerryGLee commented on #6562
@luwilkins I edited your comments to remove any potential personally identifiable info; FYI.

[2021-04-17 00:37] luwilkins commented on #6562
Thanks!

Best regards,

Lucille Wilkinson

Roxbury, MA 02119

From: Terry G. Lee ***@***.***
Sent: April 16, 2021 6:33 PM
To: MicrosoftDocs/visualstudio-docs
Cc: luwilkins; Mention
Subject: Re: [MicrosoftDocs/visualstudio-docs] DoOperation in Calculator tutorial (#6562)

@luwilkins <https://github.com/luwilkins>  I edited your comments to remove any potential personally identifiable info; FYI.

—

[2021-04-17 11:16] piksel opened #6600 "XAML Design Time Data page example uses x:Array not present in UWP"
The section [Design time data for listviews](https://docs.microsoft.com/en-us/visualstudio/xaml-tools/xaml-designtime-data?view=vs-2019#design-time-data-for-listviews) uses `x:Array` for setting the design time data for a `<ListView />`.

If this is attempted in a UWP project you are simply presented with an error that "Array is not supported in a Windows Universal project", with no obvious altern

[2021-04-18 21:01] vitamins opened #6601 "NU1101 Unable to find package Microsoft.TestPlatform.TestHost."
I am following the tutorial
https://docs.microsoft.com/en-us/visualstudio/get-started/tutorial-projects-solutions?toc=%2Fvisualstudio%2Fget-started%2Fcsharp%2Ftoc.json&bc=%2Fvisualstudio%2Fget-started%2Fcsharp%2Fbreadcrumb%2Ftoc.json&view=vs-2019

At the last step i get the following build errors when running all tests.

`Severity	Code	Description	Project	File	Line	Suppression State
Warning	NU1603

[2021-04-19 16:10] user2150 commented on #4351
**@user2150** No I didn't?

[2021-04-19 18:13] absheik opened #6603 "A similar example for Ribbon XML?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c3cee8a6-d053-239c-a3dc-b02317b9b896
* Version Independent ID: e3c5de84-443d-4d7c-4e00-576c5fbd222b
* Content: [Walkthrough: Update the controls on a ribbon at run time](https://docs.microsoft.com/en-us/visualstudio/vsto/walkthrough-updating-the-contr

[2021-04-19 18:39] thoaingan opened #6604 "Can you please help provide a video recording of this process? We have customers asking for a demo and a video recording would be great."
I'd like to request a video recording of this process of migrating from Visual Studio to VS+GH licenses from the MSDN Admin experience's perspective ("**Moving to Visual Studio with GitHub Enterprise**"). We have customers who are inquiring about this process and a video would be great to present since we do not have access to MSDN portals to demo this process ourselves.

---
#### Document Details

[2021-04-19 20:08] ddemland opened #6605 "Walkthrough: Writing a Visualizer in C#"
[Enter feedback here]

This page shows that the visualizer is a .Net Framework application. The problem is that this will not work if the the data to see is in a .Net Core DLL. If a .Net Core DLL project is created then the VSSDK.DebuggerVisualizers package has a warning. How do we create a Visualizer that needs to call .Net Core DLL?

---
#### Document Details

⚠ *Do not edit this section. It is

[2021-04-19 22:44] WilliamAntonRohm commented on #6601
@vitamins -- thank you for your feedback. Please consider these resources:
- [Visual Studio on Q&A](https://docs.microsoft.com/en-us/answers/products/vs)
- [Visual Studio MSDN Forum](https://social.msdn.microsoft.com/Forums/vstudio)
- [Stack Overflow](https://stackoverflow.com/search?q=%22visual+studio%22)
- [Reddit](https://www.reddit.com/r/VisualStudio)

[2021-04-19 22:50] WilliamAntonRohm commented on #6603
@absheik -- Abdul, thank you for your question.  Please consider these resources:
- [Visual Studio on Q&A](https://docs.microsoft.com/en-us/answers/products/vs)
- [Visual Studio MSDN Forum](https://social.msdn.microsoft.com/Forums/vstudio)
- [Stack Overflow](https://stackoverflow.com/search?q=%22visual+studio%22)
- [Reddit](https://www.reddit.com/r/VisualStudio)

@John-Hart -- John, please look in

[2021-04-19 22:55] WilliamAntonRohm commented on #6605
@ddemland -- thank you for your question.  Please consider these resources:
- [Visual Studio on Q&A](https://docs.microsoft.com/en-us/answers/products/vs)
- [Visual Studio MSDN Forum](https://social.msdn.microsoft.com/Forums/vstudio)
- [Stack Overflow](https://stackoverflow.com/search?q=%22visual+studio%22)
- [Reddit](https://www.reddit.com/r/VisualStudio)

@Mikejo5000 -- please look into this pot

[2021-04-19 23:08] WilliamAntonRohm commented on #6600
@piksel -- nils, thank you for your detailed feedback here and in the other repo.  Please consider these resources:
- [Visual Studio on Q&A](https://docs.microsoft.com/en-us/answers/products/vs)
- [Visual Studio MSDN Forum](https://social.msdn.microsoft.com/Forums/vstudio)
- [Stack Overflow](https://stackoverflow.com/search?q=%22visual+studio%22)
- [Reddit](https://www.reddit.com/r/VisualStudio)

[2021-04-20 02:55] drewnoakes commented on #4351
I filed an (internal) bug about this https://dev.azure.com/devdiv/DevDiv/_workitems/edit/1303056/

[2021-04-20 10:13] piksel commented on #6600
Yeah, just to clarify, this wasn't a "help request" but rather a report that the docs provide a solution that *only* works in WPF, without clearly stating so (or suggesting how to do for UWP). It does mention `This is an example for WPF .NET Core` in the middle of the description, but that seems more like a hint to "adapt the example to your environment".

[2021-04-20 18:47] WilliamAntonRohm commented on #6601
I am closing this issue now.  You are welcome to @ mention me for any followup.  We hope to hear from you again.

[2021-04-20 18:47] #6601 closed

[2021-04-20 23:34] tulis opened #6610 "Incomplete MSBuild Special Characters"
List of MSBuild Special Characters is incomplete. From [`Microsoft.Build.Shared.EscapingUtilities` class](https://github.com/dotnet/msbuild/blob/9bcc06cbe19ae2482ab18eab90a82fd079b26897/src/Shared/EscapingUtilities.cs#L311) point of view, the list currently is missing `(`, `)`, and `\`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2021-04-21 04:29] frabbicse opened #6611 "multiple desktop shortcut"
Is it possible to make multiple desktop shortcut using clickonce ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76315d08-4324-a26c-5392-2d6718a461ac
* Version Independent ID: 3cc03ec3-4243-60ec-9c5d-7de97c5dad5e
* Content: [Deploy a .NET Windows Desktop application using ClickOnce - Visual Studio](https://docs.micros

[2021-04-21 06:38] JoacimWall opened #6612 "Is there any information on how to publish new extensions?"
[Enter feedback here]

I released(on github)  a extension for 6 months ago and there are still no information on how to publish it. I have publish it for windows but there're no information on how to publish it for Mac.

I have send the email to the mail adress in this page but it's looks like it's only for existing add-ins.

https://github.com/JoacimWall/Visual-studio-multilingual-extension

Rega

[2021-04-21 15:47] evanwindom commented on #6604
@thoaingan -- Thanks for your request.  It turns out that we already have a video in the planning stage right now for this topic.  Are there specific aspects of the process that you'd like to see covered?

[2021-04-21 15:54] thoaingan commented on #6604
We have a customer asking for a demo of this section particularly "Moving to Visual Studio with GitHub Enterprise" (which looks like 2 clicks :) https://docs.microsoft.com/en-us/visualstudio/subscriptions/assign-github#moving-to-visual-studio-with-github-enterprise

[2021-04-21 15:56] evanwindom commented on #6604
@thoaingan -- It is pretty straightforward.  It sounds like the planned video will meet the need.  Thanks again!

[2021-04-21 15:57] evanwindom commented on #6604
#please-close

[2021-04-21 15:57] #6604 closed

[2021-04-21 15:58] thoaingan commented on #6604
Awesome! Thank you!

[2021-04-21 18:01] WilliamAntonRohm commented on #6611
@frabbicse -- Fazle, thank you for your question.  Please clarify your intended result.  Meanwhile, consider these resources:
- [Visual Studio on Q&A](https://docs.microsoft.com/en-us/answers/products/vs)
- [Visual Studio MSDN Forum](https://social.msdn.microsoft.com/Forums/vstudio)
- [Stack Overflow](https://stackoverflow.com/search?q=%22visual+studio%22)
- [Reddit](https://www.reddit.com/r/Visua

[2021-04-21 18:06] WilliamAntonRohm commented on #6612
@JoacimWall -- Joacim, thank you for your question.  Please consider these resources:
- [Visual Studio on Q&A](https://docs.microsoft.com/en-us/answers/products/vs)
- [Visual Studio MSDN Forum](https://social.msdn.microsoft.com/Forums/vstudio)
- [Stack Overflow](https://stackoverflow.com/search?q=%22visual+studio%22)
- [Reddit](https://www.reddit.com/r/VisualStudio)

@heiligerdankgesang -- Dominic

[2021-04-22 12:01] paulschapman opened #6615 "Webpack fails with Unexpected Token"
Followed the instructions twice now, the first time using the the interface to download the components from NPM and the second by pasting the code provide into the packages file, both fail with the following;

C:\Users\chapmp01\Documents\Visual Studio 2019\Projects\MyFirstReactApp>node_modules\.bin\webpack app.tsx --config webpack-config.js
C:\Users\chapmp01\Documents\Visual Studio 2019\Projects\M

[2021-04-22 15:18] MichaelWiedinmyer opened #6616 "Broken Link to PWA getting started page"
The "creating Progressive Web Apps (PWAs)" in the Projects section gives 404 when clicked.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b34d7baa-5b74-4a87-ed21-d7fc8d9366b3
* Version Independent ID: 0249ae3d-5f05-812d-46f0-ad5a921358a4
* Content: [JavaScript and TypeScript in Visual Studio 2019](https://docs.microsof

[2021-04-22 16:41] WilliamAntonRohm commented on #6615
@paulschapman -- Paul, thank you for your thorough feedback.  Are you following a particular docs.microsoft.com article?  Meanwhile, please consider these resources:
- [Visual Studio on Q&A](https://docs.microsoft.com/en-us/answers/products/vs)
- [Visual Studio MSDN Forum](https://social.msdn.microsoft.com/Forums/vstudio)
- [Stack Overflow](https://stackoverflow.com/search?q=%22visual+studio%22)
-

[2021-04-22 20:41] JoshuaPartlow commented on #6155
Thanks for your feedback @axelande, I'll get a clarification about supported version added to the docs.

[2021-04-22 20:41] #6155 closed

[2021-04-22 20:57] alihamie commented on #6600
@piskel Thanks for raising this issue, x:Array isn't supported in UWP. However there is a workaround, you can have something like
[code]

You can also try using our new SampleData feature that is still in preview (Currently available in 16.10 preview 2)  which allows you do something like
`<ListBox d:ItemsSource="{d:SampleData}" />` and this will automatically populate your ItemsControl with some

[2021-04-22 21:10] #3246 closed

[2021-04-22 21:20] judej commented on #3278
@salowenh, the default path of the Python 2.7 kernel is ```c:\```. For the current version 3.7+, the kernel will be in ```Program Files (x86)\Microsoft Visual Studio\Shared```

Hope this addresses the confusion
thanks

[2021-04-22 21:24] #3278 closed

[2021-04-22 21:27] JoshuaPartlow commented on #3358
Closing give time without response. If this is still a problem, please feel free to reopen.

[2021-04-22 21:27] #3358 closed

[2021-04-22 21:30] piskel commented on #6600
wrong guy

[2021-04-22 21:34] JoshuaPartlow commented on #3710
Closing given time open. If you believe this is still an issue that should be addressed, please feel free to reopen.

[2021-04-22 21:34] #3710 closed

[2021-04-22 21:47] JoshuaPartlow commented on #4037
Thanks you for your feedback, the docs will be updated to reflect that `Shift+Enter` should be used to create a new **...** line shortly.

[2021-04-22 21:47] #4037 closed

[2021-04-22 21:50] JoshuaPartlow commented on #4050
Topic has been updated, but issue wasn't closed. Closing now.

[2021-04-22 21:50] #4050 closed

[2021-04-22 21:55] JoshuaPartlow commented on #4374
Appears like this might be an environment issue unrelated to the article. Closing given time open, but please reopen if this is still an issue you think should be addressed.

[2021-04-22 21:55] #4374 closed

[2021-04-22 21:58] JoshuaPartlow commented on #4414
Thank you for your input. We will go ahead and close this issue, but continue to track the work internally for upcoming updates to the tutorial.  If you think this issue should remain open, please reopen it with a comment explaining why. Tag me for visibility.

[2021-04-22 21:58] #4414 closed

[2021-04-22 22:01] #4590 closed

[2021-04-22 22:02] JoshuaPartlow commented on #4638
Thank you for your input. We agree and have added this work to our planning board. We will go ahead and close this issue, but continue to track the work internally.  If you think this issue should remain open, please reopen it with a comment explaining why. Tag me for visibility.

[2021-04-22 22:02] #4638 closed

[2021-04-22 22:05] JoshuaPartlow commented on #4645
Closing given time open. If this is still an issue, please feel free to reopen.

[2021-04-22 22:05] #4645 closed

[2021-04-22 22:13] JoshuaPartlow commented on #4734
Thanks you for your input, we agree that's another approach and will consider updating the documentation. Closing this issue, but if you think it issue should remain open, please reopen it with a comment explaining why. Tag me for visibility.

[2021-04-22 22:15] JoshuaPartlow commented on #5073
Thank you for your input. We agree and have added this work to our planning board. We will go ahead and close this issue, but continue to track the work internally.  If you think this issue should remain open, please reopen it with a comment explaining why. Tag me for visibility.

We appreciate your investment in our content.

[2021-04-22 22:15] #5073 closed

[2021-04-22 22:19] JoshuaPartlow commented on #5226
We'd recommend looking at the Selenium docs for this issue, so we're closing. If you feel it should still be addressed, feel free to reopen.

[2021-04-22 22:19] #5226 closed

[2021-04-22 22:21] JoshuaPartlow commented on #5277
Closing given time open. If this is still an issue, please feel free to reopen.

[2021-04-22 22:21] #5277 closed

[2021-04-22 22:22] judej commented on #5424
Thank you for your input. We agree and have added this work to our planning board. We will go ahead and close this issue, but continue to track the work internally.  If you think this issue should remain open, please reopen it with a comment explaining why. Tag me for visibility.

We appreciate your investment in our content.

[2021-04-22 22:22] #5424 closed

[2021-04-22 22:28] JoshuaPartlow commented on #5535
Closing given time open and as this doesn't seem to be an issue with the documentation. If it's still a problem you think should be addressed, please feel free to reopen and tag me.

[2021-04-22 22:28] #5535 closed

[2021-04-22 22:28] judej commented on #6160
Thank you for your input. We agree and have added this work to our planning board. We will go ahead and close this issue, but continue to track the work internally.  If you think this issue should remain open, please reopen it with a comment explaining why.

We appreciate your investment in our content.

[2021-04-22 22:33] #6160 closed

[2021-04-22 22:34] JoshuaPartlow commented on #6248
Thank you for your input. We agree and have added this work to our planning board. We will go ahead and close this issue, but continue to track the work internally. If you think this issue should remain open, please reopen it with a comment explaining why.

We appreciate your investment in our content.

[2021-04-22 22:34] #6248 closed

[2021-04-22 22:39] JoshuaPartlow commented on #3302
The columns referenced are being removed from the table, so closing this issue.

[2021-04-22 22:39] #3302 closed

[2021-04-23 01:30] TQuy opened #6618 "cannot create cloud context as in docker tutorial"
[Cannot finish the tutorial because there is no context adding button]
![image](https://user-images.githubusercontent.com/45731304/115805033-56f00500-a40e-11eb-8557-6e59da3ce828.png)---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eaf093f1-8e36-21dd-e6c7-5e317aef6aa5
* Version Independent ID: 86db9440-616d-ef47-3022-c68a6

[2021-04-23 21:54] WilliamAntonRohm commented on #6618
@TQuy -- Yashiro, thank you for your feedback.  Please consider these resources:
- [Visual Studio on Q&A](https://docs.microsoft.com/en-us/answers/products/vs)
- [Visual Studio MSDN Forum](https://social.msdn.microsoft.com/Forums/vstudio)
- [Stack Overflow](https://stackoverflow.com/search?q=%22visual+studio%22)
- [Reddit](https://www.reddit.com/r/VisualStudio)

@nebuk89 -- Ben, please look into t

[2021-04-25 13:04] TheAlchemistNerd opened #6622 "adding extension methods"
The user input validation and type conversion can be put into respective methods to make the program modular and avoid repetitive typing
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f783f152-b26c-0ea4-8017-3929c7465368
* Version Independent ID: 8777c084-6578-8a7f-89db-80b3f9d547a7
* Content: [Tu

[2021-04-25 13:04] #6622 closed

[2021-04-25 16:05] TheAlchemistNerd opened #6623 "Adding static extension methods to reduce Boilerplate code"
[Enter feedback here]
using System;

namespace Calculator
{
    class Program
    {
        #region
        /*
        static void Main(string[] args)
        {
            // Declare variables and then initialize to zero.
            Double num_1 = 0; Double num_2 = 0;

            // Display the title as the C# cnsole calculator app.
            Console.WriteLine("Console Calculator in C#\r");

[2021-04-25 16:07] #6623 closed

[2021-04-26 17:41] PassivePicasso opened #6624 "Using Application Timeline to profile multi-process applications"
I work on an application that has a common launcher process that loads Modules into a multi process environment.

Each of these modules are WPF applications with an App.xaml and all the associated Application pieces and launched using the module integration.

In this scenario the Application Timeline profiling option is unavailable and the documentation doesn't cover how you can deal with this use

[2021-04-26 21:05] #6616 closed

[2021-04-26 21:10] WilliamAntonRohm commented on #6624
@PassivePicasso -- thank you for your feedback.  Please consider these resources:
- [Visual Studio on Q&A](https://docs.microsoft.com/en-us/answers/products/vs)
- [Visual Studio MSDN Forum](https://social.msdn.microsoft.com/Forums/vstudio)
- [Stack Overflow](https://stackoverflow.com/search?q=%22visual+studio%22)
- [Reddit](https://www.reddit.com/r/VisualStudio)

@Mikejo5000 -- please look into th

[2021-04-28 06:35] irosca80 opened #6626 "How do I load source maps from ng-serve?"
I am trying to debug a standalone Angular CLI project. After running ng-serve, opening the browser, navigating to the webpage and attaching the debugger, breakpoints are not being bound.

If I add a "debugger" statement in the code, VS does actually break, but instead of breaking in whatever typescript file I addded the statement, it breaks in "main.js [dynamic]" and I can step through this code w

[2021-04-28 10:26] NormanGiHu opened #6627 "ClickOnce user.config"
This article is from 2016.
And ClickOnce doesn't merge user.config file anymore.
With .net 5 the user.config is not merged into new ClickOnce Version Folder.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 69f461aa-b3ae-4202-4f1f-d1b440f1cd63
* Version Independent ID: 48b9d6c3-3ca8-66c9-32ab-364fdb49ae16
* Content: [Cli

[2021-04-28 17:44] WilliamAntonRohm commented on #6626
@irosca80 -- thank you for your feedback.  Are you following a particular docs.microsoft.com article?  Meanwhile, please consider these resources:
- [Visual Studio on Q&A](https://docs.microsoft.com/en-us/answers/products/vs)
- [Visual Studio MSDN Forum](https://social.msdn.microsoft.com/Forums/vstudio)
- [Stack Overflow](https://stackoverflow.com/search?q=%22visual+studio%22)
- [Reddit](https://w

[2021-04-28 18:59] capsicumDreams opened #6628 "Worth mentioning, I think, that this appears _not_ to be a feature of VS for mac."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 108b5373-83a5-8d82-0414-939b0caf2866
* Version Independent ID: 9bb010ce-5641-c2a4-ce2a-d53943ac5432
* Content: [Load a subset of projects - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/ide/filtered-solutions?view=vs-2019)
* Content Sou

[2021-04-29 11:40] sandersaares opened #6630 "Docker launch settings wrongly state "If unspecified, the value is taken from the iisSettings value""
For httpPort, the page says "If unspecified, the value is taken from the iisSettings value."

This does not appear to be true. Specifying httpPort under iisSettings had no effect. I had to specify it under Docker to make it have effect.

![image](https://user-images.githubusercontent.com/9914262/116545262-ddb64d80-a8f8-11eb-935d-18749c24e9d2.png)

---
#### Document Details

⚠ *Do not edit this sec

[2021-04-29 15:25] zooba commented on #3987
This has already been fixed and can be closed.

[2021-04-29 15:33] zooba commented on #5962
The instructions show a `static PyModuleDef superfastcode_module` definition, so if you do not have this then you'll see that error. Without seeing any of your code, though, it's impossible to tell exactly what has gone wrong.

[2021-04-29 15:50] duonghoanghai opened #6631 "CODE CỦA DUONGHOANGHAI GITHUB QUẢN LÝ CỨ HỎI GITHUB"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 396b8809-b144-6e13-0ff3-50529985f69c
* Version Independent ID: 1c78314d-2e04-ba4f-ec56-ca5a622ac414
* Content: [Overview of GitHub Codespaces (Preview) - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/ide/codespaces/codespaces-overview?v

[2021-04-29 17:16] zooba commented on #6425
I'm addressing this in https://github.com/MicrosoftDocs/visualstudio-docs/pull/6632

[2021-04-29 17:16] zooba commented on #4271
I'm addressing this in https://github.com/MicrosoftDocs/visualstudio-docs/pull/6632

[2021-04-29 17:21] WilliamAntonRohm commented on #6631
@duonghoanghai -- Dương, thank you for your feedback.  Please consider these resources:
- [Visual Studio on Q&A](https://docs.microsoft.com/answers/products/vs)
- [Visual Studio MSDN Forum](https://social.msdn.microsoft.com/Forums/vstudio)
- [Stack Overflow](https://stackoverflow.com/search?q=%22visual+studio%22)
- [Reddit](https://www.reddit.com/r/VisualStudio)

@gregvanl -- Greg, please look int

[2021-04-29 17:23] gregvanl commented on #6631
Hi @duonghoanghai The article referenced by your issue is for a deprecated feature, using VS IDE to connect to GitHub Codespaces.
You can learn more about GitHub Codespaces and the available clients (VS Code or browser-based editor) at https://docs.github.com/github/developing-online-with-codespaces/about-codespaces.
I hope that documentation link is helpful for you.

[2021-04-29 17:23] #6631 closed

[2021-04-29 20:37] Joebeazelman opened #6633 "Why is the build log not displayed on the errors panel?"
Absolutely atrocious quality control!  What's the point of having the build errors panel if you're not going to use it? I rebuilt my project and got the following error on the error panel during a Xamarin Forms build:

Error: Build failed. See the build log for details. (MyApp)

It would be nice if you had a link to the file so I can see what's it complaining about!  Get it together Microsoft!

--