[2016-11-24 09:30] ArashPartow opened #7 "VS2017 RC offline installation guide is broken"
The following documentation is broken:

https://github.com/Microsoft/visualstudio-docs/blob/master/docs/install/create-an-offline-installation-of-visual-studio.md

The steps as provided in the documentation do not result in a successful completion of operations.

Comments on the following page are not being addressed by MS support:

https://docs.microsoft.com/en-us/visualstudio/install/create-an-o

[2016-11-28 17:50] timsneath commented on #7
Thanks for the feedback, Arash. There are some good suggestions here. As this is the RC release, we're not done yet - either with the setup experience or the documentation.

A few quick comments to some of your specific questions :

- The download represents the full cache size of the requested components. This is of the order of 10GB.
- We compare every downloaded file against a signed manifest (

[2016-11-28 21:53] ArashPartow commented on #7
@timsneath Thank-you for the update on this issue. I'll definitely stay tuned for more updates.

That being said it's great that Microsoft is working hard on evolving and _improving_ their products, but I think we can all agree as astute and competent individuals, that until new options are functioning **correctly** and **adequately** and are not a source of concern or loss of productivity that th

[2016-12-01 04:16] jminer commented on #7
I've tried posting a comment on that page with an error I got from the installer (running out of space because it is using the wrong drive), but my comment won't show up unless I'm logged in. I thought it might be blocked as spam because of a URL in the error message. So I removed it and tried posting a second time, but it still won't show up. Yet I see someone else's comment that was posted after

[2016-12-01 04:20] timsneath commented on #7
Hi @jminer - not sure what the issue is with your authentication. But for what it's worth, the best way to report product issues is through the Report a Problem icon in the top right hand corner of the installer. That automatically captures logs and relevant telemetry (where opted in) and routes the issue directly to the relevant engineering team. 

Comments on the docs are monitored by the docs t

[2016-12-01 04:47] jminer commented on #7
I was doing the offline download from the command line, so I never saw the Report a Problem button. Now I went ahead and opened the installer to get to it. Thanks!

[2016-12-01 19:51] ArashPartow commented on #7
@jminer Please refrain from hijacking issue threads.  If you do want to raise an issue, make sure to create a **New Issue** with the associated details.

**[more information](http://www.defmacro.org/2013/04/03/issue-etiquette.html)**

[2016-12-07 11:53] RobDesideri opened #15 "Broken link in test/improve-code-quality.md"
In `test/improve-code-quality.md` there is a link to `test/test-apps-early-and-often.md` at anchor `[Testing the application]`.
But the `test/test-apps-early-and-often.md` file not exists.

[2016-12-08 05:17] gregvanl commented on #15
Fixed with https://github.com/Microsoft/vsdocs/pull/164/commits/f957af4ed01cba349a84d4c58d28b821e8565092
Thank you for logging the issue.

[2016-12-08 05:17] #15 closed

[2017-01-21 16:43] rgl opened #23 "provide an example for unattended installation from the command line"
can you please provide an example on using `vs_Community.exe` to [install from the command line](https://github.com/Microsoft/visualstudio-docs/blob/master/docs/install/use-command-line-parameters-to-install-visual-studio.md)? For example, there is no explanation on what should we use in the `--catalog` parameter value.

also, `vs_Community.exe --help` (or `-h`, `/?`) do not seem to work, it just

[2017-01-30 16:49] TerryGLee commented on #23
RGL, we'll check in to this and report back.

[2017-01-31 16:52] srayuws opened #29 "Code examples are hidden in the website"
Code examples are hidden in the website.

Example:
The `Syntax` part are hidden on [docs.microsoft.com](https://docs.microsoft.com/en-us/visualstudio/msbuild/item-element-msbuild), but can be seen on [github.com](https://github.com/Microsoft/visualstudio-docs/blob/master/docs/msbuild/item-element-msbuild.md), also the `Example` part is not shown in the web UI.

[2017-01-31 23:53] morrisjoe opened #30 "Documentation provided in the "More information" link of the "One-Way Upgrade" dialog is inaccurate in the context of .NET Core and ASP.NET Core projects"
Copied over from dotnet/roslyn-project-system#967

Fix here is to add a pj->csproj migration related blurb to https://docs.microsoft.com/en-us/visualstudio/porting/port-migrate-and-upgrade-visual-studio-projects and cross-link it to more info in .NET Core docs.

Suggest reviewers @morrisjoe

[2017-02-01 00:09] morrisjoe commented on #30
cc @ghogen @mairaw

[2017-02-15 17:27] borgdylan opened #34 "MSBuild: Please document v. 15.1"
I was reading the documentation site and noticed reference to MSBuild 12. I'd like a place with guidance for the latest MSBuild that is in RC. When is such documentation expected?

[2017-02-15 18:53] ghogen commented on #34
We are aware this work and have plans to update the docs for MSBuild 15.1 fairly soon.

[2017-03-15 06:32] mairaw commented on #30
I think this is done. Can we close @morrisjoe?

[2017-03-15 06:38] mairaw opened #53 "MSBuild"
From https://github.com/dotnet/cli/issues/5934

People are looking for the docs for the various MSBuild options. I could find CopyToOutputDirectory  in the docs but not CopyToPublishDirectory.

[2017-03-16 15:12] lehkap opened #55 "Broken links on remote debbuging tools for visual studio 2015"
subj

[2017-03-27 11:26] ytimenkov opened #60 "Examples are not rendered on docs.microsoft.com"
This https://docs.microsoft.com/en-us/visualstudio/msbuild/removeduplicates-task#example doesn't show any example at all (Edge browser), while github page has corresponding section.

Changing language or theme doesn't help.

[2017-03-30 04:48] timsneath commented on #23
Hi, @rgl - please see #65 and let us know if that helps?

[2017-03-30 05:00] timsneath commented on #7
@ArashPartow - to respond more fully to your remaining questions now that the public release is out:

We do support resume with the `--layout` parameter. If you stop an layout (e.g. Ctrl+Break) during creation, you can resume by running the same command a second time, and we'll pick up from where you left off.

We now support partial layout. See the updated documentation and in particular #65 for

[2017-03-31 12:23] svick opened #67 "Table in EditorConfig article is too wide"
The table at the end of the article [Create portable, custom editor settings with EditorConfig](https://docs.microsoft.com/en-us/visualstudio/ide/create-portable-custom-editor-options#support-editorconfig-for-your-language-service) is too wide in my 1338px-wide Firefox window, which causes it to overlap with the article TOC:

![](https://cloud.githubusercontent.com/assets/287848/24550192/50188186-

[2017-04-02 07:32] dehghani-mehdi opened #69 "Creating offline installer, includeRecommended/includeOptional switches doen't work"
Hi,

Based on documentation, I tired to create an offline installer of VS 2017 using:
`vs_enterprise.exe --layout --lang en-US --add Microsoft.VisualStudio.Workload.CoreEditor Microsoft.VisualStudio.Workload.NetCoreTools Microsoft.VisualStudio.Workload.NetCrossPlat Microsoft.VisualStudio.Workload.NetWeb Microsoft.VisualStudio.Workload.WebCrossPlat Microsoft.VisualStudio.Workload.Node` , its worked

[2017-04-05 16:08] JackGrinningCat opened #70 "Broken links for xml documentation"
Hi,

I was looking up some examples and hoped that the new 2017 version had anything new, but reaching this point, the links were broken. I didn't found the right link location to correct, some simple approaches din't worked out, So... here is the site url

https://github.com/Microsoft/visualstudio-docs/blob/master/docs/ide/supplying-xml-code-comments.md

Kind regards

[2017-04-06 17:51] timsneath commented on #69
Hi there - we had a bug here but it should be fixed in the 15.1 release, which we published yesterday. Can you try the updated version? Sorry for the inconvenience!

[2017-04-07 02:04] dehghani-mehdi commented on #69
@timsneath don't worry, thanks for the answer. I just tired with new version (with 1 workload for now) & seems you fixed the issue.
I close the issue, I'll post here if it doesn't work as I expect.

Thanks again.

[2017-04-07 02:04] #69 closed

[2017-04-09 00:59] dehghani-mehdi commented on #69
@timsneath I'm sorry to post again, 2 days ago, I tired `vs_enterprise.exe --layout --lang en-US --add Microsoft.VisualStudio.Workload.NetWeb --includeRecommended --includeOptional`, and woked, then I closed the issue. today to decided to add more workloads, but the issue occurred.

I tired `vs_enterprise.exe --layout --lang en-US --add Microsoft.VisualStudio.Component.CoreEditor`, even `vs_Enterp

[2017-04-10 17:39] timsneath commented on #69
Oh, you need to specify a folder with the `--layout` command. For example, try the following:
[code]

[2017-04-11 01:37] dehghani-mehdi commented on #69
Thanks, but I tired `vs_enterprise.exe --layout e:\vs2017 --lang en-US --add Microsoft.VisualStudio.Workload.CoreEditor` before posting here, the folder created by installer including `certificates` folder & `vs_installer.version.json` file.

[2017-04-11 05:30] timsneath commented on #69
OK - that sounds like it worked though if it created those folders? Can you help me understand the difference between what you expected to happen and what actually happened?

[2017-04-11 06:10] dehghani-mehdi commented on #69
I expected to download files, based on mentioned component(s)/workload(s), (_fox ex. when I run `vs_enterprise.exe --layout e:\vs2017 --lang en-US --add Microsoft.VisualStudio.Workload.NetWeb --includeRecommended --includeOptional`, I expected the installer download all files of this workload and store them_), but when I run the command, installer create `vs2017` folder, _including certificates fo

[2017-04-11 06:33] timsneath commented on #69
Ah, OK - sorry, I didn't realize that _only_ those files had been downloaded. The logs are stored in the %temp% directory. Perhaps you could do me a favor and run `http://aka.ms/vscollect.exe` and upload `%TEMP%\vslogs.zip` somewhere where I can have a look?

[2017-04-12 00:59] dehghani-mehdi commented on #69
@timsneath I got the cause of problem. first time that I run the command and that was successful, the installer downloaded `vs_installer.opc` & putted that on next of `vs_enterprise.exe`, seems like each time that I want to download new items, I have to remove this file. so installer downloaded that again, I don't know its a bug or not, but that's the problem.

Many thanks for your time and suppor

[2017-04-13 19:50] GeorgeTsiokos opened #81 "Microsoft.VisualStudio.ReleaseManagement.BuildInfo.targets missing in VS2017"
VS2017 doesn't contain the referenced targets file in this location:
[code]
https://github.com/Microsoft/visualstudio-docs/blame/master/docs/debugger/diagnose-problems-after-deployment.md#L88

https://github.com/Microsoft/azure-docs/blame/master/articles/application-insights/app-insights-how-do-i.md#L100

[2017-04-20 16:43] rainersigwald opened #95 "MSBuild Toolset documentation needs overhaul"
These documents are mostly unchanged from VS2013/MSBuild 12.0, and need to be updated for the new "Willow"/ side-by-side VS installs world.

https://docs.microsoft.com/en-us/visualstudio/msbuild/msbuild-toolset-toolsversion

https://docs.microsoft.com/en-us/visualstudio/msbuild/standard-and-custom-toolset-configurations

@Microsoft/msbuild-maintainers -- when one of us gets time this would be usef

[2017-04-27 17:50] #7 closed

[2017-04-28 08:11] mutsun opened #102 ""証明書フォルダ－" on localized document"
"証明書フォルダー” should be "certificates フォルダー" because this word identify the folder which contain certificate files that are downloading to local folder when user creates offline-installation image with "--layout" option.

https://docs.microsoft.com/ja-jp/visualstudio/install/create-an-offline-installation-of-visual-studio

1.証明書をインストールします (これらはレイアウト フォルダーの証明書フォルダーにあります。 インストールするには、それぞれを単に右クリックします)。

[2017-05-01 05:52] urielha opened #103 "javascript: 'setPrototypeOf' article - typo"
Hi,
In this [javascript - setPrototypeOf example][1] you have a typo,
It is written:
[code]

instead of "Object. **set** PrototypeOf(obj, proto); "

the same mistake in the [second example][2] in that page.

[1]: https://github.com/Microsoft/visualstudio-docs/blob/master/scripting-docs/javascript/reference/object-setprototypeof-function-javascript.md#example-1
[2]: https://github.com/Microsoft/vis

[2017-05-01 18:27] Mikejo5000 commented on #103
Thanks! Fixed in a branch. We will push the fix live this week.

[2017-05-01 18:27] #103 closed

[2017-05-01 21:52] Mikejo5000 commented on #55
These are fixed now.

[2017-05-01 21:52] #55 closed

[2017-05-01 21:53] Mikejo5000 commented on #29
A known issue around this has been fixed. If you have a repro and still see a problem, let us know.

[2017-05-01 21:53] #29 closed

[2017-05-01 21:54] Mikejo5000 commented on #60
This issue has been fixed.

[2017-05-01 21:54] #60 closed

[2017-05-02 08:17] mateiacd opened #104 "`type 'string' is not assignable to type 'number'` in app.js"
Hi Andres,

In your article
http://avillenas.com/post/installing-jshint-and-jscs-in-visual-studio-code

What settings have you made to get the error below in your `app.js` file ?
`type 'string' is not assignable to type 'number'`

JSHint and JSCS do not show this error on my computer ?

This looks more like a tsc compiler error but how did you make it to work on app.js ?
(because the TypeScript co

[2017-05-02 16:35] gregvanl commented on #104
Hi @mateiacd. This repo is for Visual Studio documentation issues, not Visual Studio Code or any of it's extensions. You might try contacting Andres through a comment on his blog.

[2017-05-02 16:35] #104 closed

[2017-05-08 20:15] ddv239 opened #110 "MD document renders incorrectly"
This looks like a publishing/rendering bug in docs.microsoft.com.
This document https://docs.microsoft.com/en-us/visualstudio/debugger/general-debugging-options-dialog-box renders this way in all my browsers:
![md rendered](https://cloud.githubusercontent.com/assets/23296092/25823195/28f67ae0-33f0-11e7-9612-bfa1911b15bb.png)
Note that starting with one paragraph, all subsequent paragraphs are inde

[2017-05-11 18:29] domainmurat opened #115 "Ctrl X and Ctrl Y Not Work :D"
Hi;

When I working with debug, Ctrl X and Ctrl Y operations broke my html codes, that's interesting.

[2017-05-11 22:10] gregvanl commented on #115
Hi @domainmurat, This repository is for the Visual Studio online documentation. I believe you wish to report a Visual Studio product issue. If so, please see [How to report a problem with Visual Studio 2017](https://docs.microsoft.com/en-us/visualstudio/ide/how-to-report-a-problem-with-visual-studio-2017).

[2017-05-11 22:11] #115 closed

[2017-05-12 01:50] zzhhbyt1 opened #116 "Export Template wizard now located under "Project" menu"
... But many relative documents still orient to the old version which it's under 'Files' section.

[2017-05-16 16:13] maurymarkowitz opened #121 "Selecting More Options in VS2015 ultimately ends up displaying these 2017 instructions"
VS2015 had a rather confusing "send a frown" option that was being used for VS bug reporting. This was rather obscure, and thankfully changed to the newer language in 2017. However, as I am still on 2015, I needed instructions to find the correct option, which leads me here...

Today I wanted to report a bug in my 2015, so I selected Help->Customer Feedback Options. Not knowing which of these to s

[2017-05-19 17:51] fdacumos opened #124 ""Export Template" location references the incorrect menu item"
In the article [Getting Started with the VSIX Project Template](https://docs.microsoft.com/en-us/visualstudio/extensibility/getting-started-with-the-vsix-project-template), it mentions the "Export Template" is in the "File" menu.  It is located under the "Project" menu in 2017.

[2017-05-21 18:32] AlexanderMace opened #126 "Page without a link in Visual Studio Docs"
There is no link addressing [this page](https://docs.microsoft.com/en-us/visualstudio/welcome-to-visual-studio) in Visual Studio Documentation. I would suggest to change the link in [this page]( https://docs.microsoft.com/en-us/visualstudio/) from [What's new in Visual Studio 2017](https://docs.microsoft.com/en-us/visualstudio/ide/whats-new-in-visual-studio) to [Welcome to Visual Studio 2017](http

[2017-05-31 21:46] mirsaeidi opened #138 "How to bypass 'License Term' and 'Microsoft Privacy Statement' when using Response file in command line"
Hi there,

How can I bypass 'License Term' and 'Microsoft Privacy Statement' when using a `response.json` file in command line?
I am trying to automate the installation process in chef and every-time I use `'vs_enterprise.exe --in response.json ` another windows open for 'License Term' and 'Microsoft Privacy Statement' which I have to select 'continue'. is there a way that I can bypass that or add

[2017-06-06 18:39] zekrom-vale opened #144 "default values for functions"
functions can not have default values ex...

[code]

[2017-06-06 18:40] #144 closed

[2017-06-06 18:42] zekrom-vale commented on #144
But I really want IE to stop or update to support the normal code, not this mess.

[2017-06-18 17:25] riverar commented on #138
Due to bugs in the installer, you must also provide --quiet or --passive to the outer installer. (e.g. `vs_enterprise.exe --quiet --in response.json`)

[2017-06-18 17:37] riverar opened #156 "Response file documentation is completely wrong"
Context: https://github.com/Microsoft/visualstudio-docs/blob/master/docs/install/automated-installation-with-response-file.md

Page outlines a response file format that does not conform to the reality that the installer expects string keys and string values, nothing else. Creating a file per the docs will result in error.

If you disassemble the bootstrapper, navigate down to `Microsoft.VisualStud

[2017-06-18 18:38] #156 closed

[2017-06-19 02:07] kissge opened #157 "Underscores in `_In_` need to be escaped properly"
For example, in https://docs.microsoft.com/en-us/visualstudio/code-quality/best-practices-and-examples-sal , the section titles are rendered strangely. This is due to underscores in the title texts.

[2017-06-19 07:17] hultqvist opened #158 "Undocumented debugging information options"
By default my projects have "debugging information" set to "portable" but it is not documented here.

https://github.com/Microsoft/visualstudio-docs/blob/master/docs/ide/reference/advanced-build-settings-dialog-box-csharp.md

There is also the option "embedded" which also isn't documented.

[2017-06-19 07:20] hultqvist commented on #158
Found this but don't know if it's right

https://stackoverflow.com/a/44309771/33236

[2017-06-19 16:56] Mikejo5000 commented on #158
Thanks, I'll get some info added. Here is some information on the portable format: https://github.com/dotnet/core/blob/master/Documentation/diagnostics/portable_pdb.md

[2017-06-19 18:03] kempb commented on #34
FYI, some topics have been updated, and more will be coming.

[2017-06-19 18:06] kempb commented on #53
Assigned MSEng bug 1021337 to myself to investigate/fix this issue.

[2017-06-19 18:06] #53 closed

[2017-06-19 18:10] kempb commented on #70
Hello,
When I go to the live topic for the link you supplied (Supplying XML Code Comments - https://docs.microsoft.com/en-us/visualstudio/ide/supplying-xml-code-comments), the links work okay for me. Are they still broken for you?

[2017-06-19 18:15] kempb commented on #81
I'm investigating this now, thanks.

[2017-06-19 18:18] kempb commented on #95
Added these issues to MSBuild doc update tracking task [986973](https://mseng.visualstudio.com/TechnicalContent/Visual%20Studio/_workitems?id=986973&_a=edit&triage=true).

[2017-06-19 18:24] kempb commented on #116
Thanks for reporting this issue. I've added it to our task backlog for fixing.

[2017-06-19 18:27] kempb commented on #126
Thanks for the feedback. We're in the process of considering the proper navigation on the VS IDE hub page, and we'll keep your comments in mind.

[2017-06-19 18:49] kempb commented on #67
Hi svick,
Thanks for your report. I viewed the topic you referenced on different browsers on my system (Chrome, Edge, and IE) and couldn't replicate this issue. It could be a rendering issue with your system or a transient problem. If you haven't already, try rebooting the system and see if the problem persists. If it does persist, does it happen on different web browsers, or only a specific one?

[2017-06-19 19:05] svick commented on #67
Yeah, the behavior seems to be different now. Instead of overlapping, the table is truncated, with seemingly no way to access the part that is not visible. And it's not just one browser, Firefox and Edge behave the same.

Screenshot from Firefox:

![](https://user-images.githubusercontent.com/287848/27301207-b8d96c4a-5532-11e7-8668-b59df8e6c281.png)

From Edge:

![](https://user-images.githubuserc

[2017-06-19 19:08] kempb commented on #67
Okay, thanks for checking and reporting back. I'm going to file a bug on this for further investigation.

[2017-06-20 05:41] zengyunchun opened #161 "visual studio 2013 & 2015 & 2017 cannot configure HTML editor Formating"
## Visual Studio text editor options as below
![](https://ooo.0o0.ooo/2017/06/20/594895754838b.png)

1.  As the picture, I can find Html(Web Forms) Formatting to change configuration, but when I use asp.net MVC project , CSHTML extension file will auto use HTML configuration that cannot allow me to configure the Formatting
2. Could you give me an advice for how to configure CSHTML formatting so th

[2017-06-20 07:48] RoopeshNair commented on #81
AFAIK, Feature was deprecated and removed from VS2017.

It is recommended to use AppInsights for diagnostic requirements.
https://azure.microsoft.com/en-us/documentation/articles/app-insights-visual-studio/

[2017-06-20 21:15] kempb commented on #158
FYI, I added info on the new options to the Advanced Build Settings Dialog Box topic. The changes should appear online soon. Thanks for the feedback, @hultqvist!

[2017-06-21 18:13] Rick-Anderson commented on #161
@zengyunchun  That setting is for Web Forms, not for Razor. Why would you want **As entered**?

![image](https://user-images.githubusercontent.com/3605364/27399683-78485222-5672-11e7-971f-389606ebbabe.png)

cc @MadsTorgersen

[2017-06-22 01:50] zengyunchun commented on #161
@Rick-Anderson Because our team will custom some element like `<GoodBoy></GoodBoy>` that do not want to be formatted to `<goodboy><goodboy>`, as my thinking , Web Forms HTML can configure the formatting of tag and attribute, why Razor not?
Thanks for your answer, do you have any workaround configuration or solution?

[2017-06-22 10:02] zengyunchun opened #166 "Custom uppercase attribute but intellisense lowercase in cshtml file"
1. I find it's useful intellisense in cshtml file that customing indivadual element and attribute in html.xsd file, following is the html.xsd path and defination of intellisense:
    ![html.xsd](https://ooo.0o0.ooo/2017/06/22/594b8eb3e6426.png)

    ![Imagebutton Intellisense](https://ooo.0o0.ooo/2017/06/22/594b9179300fc.png)

2. Our team want uppercase style of element and attribute, as you can s

[2017-06-22 17:05] Rick-Anderson commented on #161
@zengyunchun  I'm afraid you out of luck. Most people like that behavior.

[2017-06-22 23:31] huguesv opened #170 "VS SDK API Reference is missing"
I was looking for documentation on IVsSetupCompositionService, which is new to VS 2017, but it's nowhere to be found.

Links to VS interface definitions, like in https://docs.microsoft.com/en-us/visualstudio/extensibility/internals/list-of-available-services, are redirecting to VS 2015 documentation.

[2017-06-23 01:52] zengyunchun commented on #161
@Rick-Anderson Yes. I know most people like that but is there any way to configure it ?

[2017-06-23 02:27] Rick-Anderson commented on #161
@zengyunchun  I don't think so but @madskristensen will know.

[2017-06-23 13:16] elitree opened #173 "InstallShield Limited sidebar link doesn't work"
On the page https://docs.microsoft.com/en-us/visualstudio/deployment/deploying-applications-services-and-components, the InstallShield Limited sidebar link doesn't seem to do anything other than reloading the current page.

Should the sidebar link be updated to point to this page? Not sure what the live URL is or if there is a live version, but the GitHub link is https://github.com/Microsoft/visua

[2017-06-23 16:28] madskristensen commented on #161
I can not reproduce the issue. The formatter doesn't change the casing of HTML tags. Are you by chance using ReSharper?

[2017-06-23 16:31] Rick-Anderson commented on #161
@madskristensen  I can repo it. Create a ASP.NET Core MVC app using the templates. When I enter `<P>` it changes it to `<p></p>`

[2017-06-23 16:34] madskristensen commented on #161
@Rick-Anderson that is not the formatter changing it. It is because `<p>` is in the Intellisense list and you commit from it when writing `<P` and typing the end `>`. That commits from the selected Intellisense item which is the lower case `<p>`.

[2017-06-23 16:45] Rick-Anderson commented on #161
@madskristensen  You're right
`<GoodBoy></GoodBoy>` is not changed when I format it.

[2017-06-23 18:13] ghogen commented on #170
This is an known issue and we are in the process of publishing the VS SDK API Reference. Once that process completes, we can update the links to point to the new VS 2017 content on docs.microsoft.com.

[2017-06-27 15:21] ZehBrz opened #176 "Error in locale list code in visual studio 2017 portuguese brazil documentation"
Good morning,

I'd like report error in visual studio 2017 documentation posted in https://docs.microsoft.com/pt-br/visualstudio/install/use-command-line-parameters-to-install-visual-studio .

The list for --locale parameter is pt-BR associed for american english. The correct must be en-us (Third line of the list).

tks.

[2017-06-29 01:14] YuilTheLion commented on #7
And Mr. timsneath, while doing the setup with the `--layout` parameter, it was mentioned that the components failed to download.
Will those components get downloaded by the end of process?
I am currently trying to download Visual Studio Enterprise 2017. **(not the RC release)**

[2017-06-29 02:01] YuilTheLion opened #180 "Visual Studio Offline Setup failed to download some components."
While doing the setup with the `--layout` parameter, it was mentioned that the components failed to download.
Will those components get downloaded by the end of process?
I am currently trying to download Visual Studio Enterprise 2017. **(not the RC release)**
And I really mean for those red-marked components:
![image](https://user-images.githubusercontent.com/28005756/27667249-46d07328-5c99-11e7-8

[2017-06-29 17:46] ghogen commented on #7
This issue is closed, so I will lock the comment thread here. For support and feedback please visit the available resources:

Developer Community:
https://developercommunity.visualstudio.com/spaces/8/index.html

UserVoice:
https://visualstudio.uservoice.com/forums/121579-visual-studio-ide

MSDN forums:
https://social.msdn.microsoft.com/Forums/vstudio/en-US/home

Or use product support.
https://www

[2017-06-30 00:59] zengyunchun commented on #161
@Rick-Anderson @madskristensen

[2017-06-30 01:01] zengyunchun commented on #161
@Rick-Anderson @madskristensen
Dear both, how about your discussion of this issue?

[2017-06-30 01:34] Rick-Anderson commented on #161
@zengyunchun  I can't repro your problem.

`<GoodBoy></GoodBoy>` is not changed when I format it.

[2017-06-30 23:12] TerryGLee commented on #180
We appreciate your contacting us! So that we can investigate further, we invite you to post this issue to our Developer Community website at https://developercommunity.visualstudio.com/.
Note: You might be asked to provide a setup log file; here's how:
1) Download collect.exe from http://aka.ms/vscollect, and run it
2) Attach %temp%\vslogs.zip to the problem report on https://developercommunity.vi

[2017-06-30 23:12] #180 closed

[2017-06-30 23:30] TerryGLee commented on #176
Thanks for letting us know! We'll get this fixed as soon as we can.

[2017-07-01 09:17] YuilTheLion commented on #180
Can you please help me how to report the issue there?
It only redirects me to "Report an issue" tool inside Visual Studio.
I haven't installed it yet!

[2017-07-04 13:09] charliefr opened #181 "The VS for MAC unable to complete online installation in China"
I've tried countless times，Unable to complete online installation in China。
Please provide offline installation packages

[2017-07-05 22:05] TerryGLee commented on #180
Thanks for the follow-up. Here's an answer to your initial inquiry; perhaps it will help you complete your installation so that you can then post the issue to the Developer Community.

When you create a layout and a download fails, Setup will try to download the file(s) several times. However, if Setup still can’t successfully acquire the file(s) after several retries, Setup displays an error mess

[2017-07-07 17:44] Rod-in-NM opened #184 "Step 6 doesn't tell you what assemblies are to be added"
In the section **Creating a Custom Template Wizard** at step 6 where it implements the code for the WizardImplementation class, the last thing step 6 says is:

And that's it. There's no listing of any assemblies to add, even though the instructions say that you **must** add them.

[2017-07-17 19:49] rismoney opened #190 "visual studio installer"
https://github.com/MicrosoftDocs/visualstudio-docs/blob/master/docs/install/create-a-network-installation-of-visual-studio.md

all references here to `--lang` I believe should be `--addProductLang`

[2017-07-17 22:30] TerryGLee commented on #190
Thanks for your comment; we'll investigate and respond soon.

[2017-07-18 00:33] rismoney commented on #190
I think it actually is Lang unless you are not using /layout.
very confusing...

[2017-07-18 16:58] kceiw opened #194 "IntelliTrace supports attach."
The IntelliTrace document (https://docs.microsoft.com/en-us/visualstudio/debugger/intellitrace) has a note that "If you want to debug a process that is already running, you can't use IntelliTrace. You must start IntelliTrace when the process starts. "

Actually, you still can attach to the process. If the process is one of the supported (including limited supported) application and IntelliTrace is

[2017-07-18 17:04] kceiw opened #195 "IntelliTrace is also in VS 2017"
The IntelliTrace documentation (https://docs.microsoft.com/en-us/visualstudio/debugger/intellitrace) states that:

IntelliTrace is also in Visual Studio 2017 Enterprise.

[2017-07-18 17:11] kceiw opened #196 "IntelliTrace doesn't collect file access events by default"
The IntelliTrace document (https://docs.microsoft.com/en-us/visualstudio/debugger/intellitrace) mistakenly states that IntelliTrace collects file access events by default. Actually it's not. Users can enable that though.

[2017-07-18 19:07] kceiw opened #197 "Missing Web Request section in Understanding the IntelliTrace Log"
This document (https://docs.microsoft.com/en-us/visualstudio/debugger/using-saved-intellitrace-data) miss the Web Requests section in IntelliTrace log. Please add it.

[2017-07-18 21:12] TerryGLee commented on #23
This was addressed in https://github.com/MicrosoftDocs/visualstudio-docs/pull/65. Closing...

[2017-07-18 21:12] #23 closed

[2017-07-19 16:00] gernotpokorny opened #199 "Documentation fix"
Source: https://github.com/MicrosoftDocs/visualstudio-docs/blob/master/docs/ide/walkthrough-creating-a-code-snippet.md

should be

7. To test the shortcut, open a Visual Basic project and open a code file. Type hello in the file and press **two times** TAB. The snippet code should be inserted.

---------------

Source: https://github.com/MicrosoftDocs/visualstudio-docs/blob/master/docs/ide/how-to-

[2017-07-19 16:33] Mikejo5000 commented on #158
Fixed, I believe.

[2017-07-19 16:33] #158 closed

[2017-07-19 16:41] Mikejo5000 commented on #195
Thanks. Making fixes

[2017-07-19 16:54] Mikejo5000 commented on #196
Thanks! Fixed and will be publishing soon.

[2017-07-19 16:54] Mikejo5000 commented on #194
Thanks! Fixed and will be publishing soon.

[2017-07-20 19:43] alfredmyers opened #200 "Suppressing Multiple Violations within a method body"
In the document [In Source Suppression Overview](https://github.com/MicrosoftDocs/visualstudio-docs/blob/master/docs/code-quality/in-source-suppression-overview.md), under the section "Suppressing Multiple Violations within a method body" it is stated:

Emphasis mine.

The code examples  show MessageId being set to the name of a method parameter and to the returning type of a method, but it doesn´

[2017-07-23 19:27] hugolundin opened #201 "Microsoft Docs website contain broken links that should point to this repository"
On [this website](https://docs.microsoft.com/en-us/visualstudio/mac/uninstall), [the first link](https://raw.githubusercontent.com/MicrosoftDocs/visualstudio-docs/tree/master/mac/resources/uninstall-vsmac.sh) should point to https://github.com/MicrosoftDocs/visualstudio-docs/blob/master/mac/resources/uninstall-vsmac.sh instead.

[2017-08-07 15:27] #194 closed

[2017-08-07 15:28] #195 closed

[2017-08-07 15:29] #196 closed

[2017-08-07 15:30] #197 closed

[2017-08-07 15:30] Mikejo5000 commented on #197
Fixed. Thanks!

[2017-08-07 17:41] rgl commented on #23
Thanks guys, its working nicely at https://github.com/rgl/visual-studio-community-vagrant/blob/master/provision-vs.ps1 :-)

[2017-08-09 18:22] mrward commented on #181
@charliefr - Would you be able to report his on the [Visual Studio for Mac forum](https://developercommunity.visualstudio.com/spaces/41/index.html) or file a bug on the [bug tracking system](https://bugzilla.xamarin.com)? Thanks.

[2017-08-09 18:26] sailro commented on #181
cc @TerryGLee, we could close this issue. Thank you.

[2017-08-12 14:32] alfredmyers opened #231 "Update SKUs throughout documentation"
Sprinkled throughout the documentation are several references to previous Visual Studio SKUs such as:
- Visual Studio Premium
- Visual Studio Ultimate

The current SKUs for Visual Studio 2017 are:
- Visual Studio Community
- Visual Studio Professional
- Visual Studio Enterprise

Example of a page with referencing previous SKUs:
https://docs.microsoft.com/en-us/visualstudio/profiling/how-to-collect

[2017-08-14 22:41] #181 closed

[2017-08-14 22:41] TerryGLee commented on #181
Closed per request

[2017-08-15 00:19] kraigb commented on #201
@TerryGLee Craig Dunn's team owns VS Mac content.

[2017-08-15 13:45] asb3993 commented on #201
This has already fixed.

[2017-08-15 13:45] #201 closed

[2017-08-20 23:21] alfredmyers opened #253 "Standardize the display of lists of articles"
Lists of articles are displayed in different ways on diferent pages thoughout the documentation.

Let's take [Custom Native ETW Heap Events](https://docs.microsoft.com/en-us/visualstudio/profiling/custom-native-etw-heap-events) as our first example which end with a list of links under its **See Also** section:

---
**[PerfTips](https://docs.microsoft.com/en-us/visualstudio/profiling/perftips)** sh

[2017-08-21 05:28] ashmind opened #254 ".editorconfig Naming Conventions: applicable_kinds"
In [.editorconfig, Naming Conventions](https://github.com/MicrosoftDocs/visualstudio-docs/blob/master/docs/ide/editorconfig-code-style-settings-reference.md#-naming-conventions-), `dotnet_naming_symbols.<symbolTitle>.applicable_kinds` lists:
[code]

However [Symbol Specification](https://github.com/MicrosoftDocs/visualstudio-docs/blob/master/docs/ide/editorconfig-code-style-settings-reference.md#s

[2017-08-21 16:55] ferdiozturk opened #256 "VS Installer Exception (network layout silent installation without connectivity)"
From my network layout folder I'm trying to install on a machine _without_ Internet connectivity
I'm using this command line:
`vs_setup.exe --passive --norestart --channelId "VisualStudio.15.Release" --installCatalogUri "file:///E:/Software/VisualStudio/layout_visual_studio_enterprise_2017/Catalog.json" --channelUri --installChannelUri "file:///E:/Software/VisualStudio/layout_visual_studio_enterpr

[2017-08-30 18:16] jnyrup opened #277 "Update CA1800 with new is-expressions"
The examples on how to fix should include the new C#7 is-expressions

[2017-09-06 16:03] rchiodo opened #282 "Missing data in the description of natvis files for Visual studio"
This topic here:
https://github.com/MicrosoftDocs/visualstudio-docs/blob/master/docs/debugger/create-custom-views-of-native-objects.md

Doesn't describe what the Exec keyword in CustomListItems does, and what's allowed. There should be some mention of native intrinsics that are allowed. In fact here's the full list of what's allowed:

- Logical operators
- Arithmetic operators
- Assignment operato

[2017-09-06 16:24] ulex opened #283 "Fix FRAMEINFO members list"
https://docs.microsoft.com/en-us/visualstudio/extensibility/debugger/reference/frameinfo

Frame info member m_fHasDebugInfo described three times:

Also last parameter is incorrect. In documentation it calls either `int m_fAnnotatedFrame` or `int               m_fAnnotatedFrame`, but in metadata it has name `uint m_dwFlags` with undocumented meaning.
In my samples it can be 0, 2 or 3. What does th

[2017-09-06 16:47] ulex commented on #283
Found enum in metadata, it is called enum_FRAMEINFO_FLAGS_VALUES
But documentation is absent for this enum 🙁

[2017-09-08 17:23] Rod-in-NM opened #286 "What's this about some file named SimpleProjectPackageGuids.cs?"
 Your document is incomplete and therefore confusing. In the section on this page titled, "Creating a Basic Project Factory", in sub-section "To create a basic project factory" the first item reads, "1. Open SimpleProjectPackageGuids.cs". Huh? Where in heck is that? I tried searching through the whole solution; hate to break it to ya but it doesn't exist. And since this is the first time its menti

[2017-09-14 13:08] ferdiozturk commented on #256
@TerryGLee Is this still being investigated? Is there a solution? We are blocked here. 300+ team projects waiting for VS2017. Thank you.

[2017-09-14 18:12] TLai1 commented on #256
@ferdiozturk Hello, I noticed that you don't have any value for your "--channelUri". This is causing the issue that you are seeing. This "channelUri" controls where Visual Studio will look for updates. If you want to keep the default behavior (Visual Studio looks online for updates), you can simply remove the "--channelUri" from your command line. If you wish to control how updates are deployed, p

[2017-09-14 19:35] ferdiozturk commented on #256
@TLa1 "If updates are not desired, --channelUri must be specified without an argument." (together with --installChannelUri). From: https://docs.microsoft.com/en-us/visualstudio/install/use-command-line-parameters-to-install-visual-studio

What I really try to achieve here is to NOT getting the installer or components updated, and run the installation automated on an build agent. I already also tri

[2017-09-14 20:55] TLai1 commented on #256
@ferdiozturk

There are two operations involved here.

The first operation is you invoke the setup executable you downloaded from VisualStudio.com to create an offline layout for you. You use "vs_enterprise.exe --layout [layoutDir]" to achieve the goal. Here, as you said, the vs_enterprise.exe always downloads the latest components to create this offline layout. There is currently no way to force

[2017-09-15 07:30] ferdiozturk commented on #256
@TLai1 I created the offline layout with the full set of workloads and components (en_US), including Recommended + Optional, but I want to deploy VS by cherrypicking from there (so I don't have to re-create the offline layout again when a component is missing). I tried to install on the offline Agent now without the channelId channelUri catalogUri etc. This does not work either, in the logs it tel

[2017-09-15 16:27] TLai1 commented on #256
@ferdiozturk You can give the channelUri an arbitrary value to make this work, given that you are installing Visual Studio on an offline Agent and I presume you don't want to get this Agent online access to receive future update notification. You can just use this command line:

vs_setup.exe --passive --norestart --channelId "VisualStudio.15.Release" --installCatalogUri "file:///E:/Software/Visual

[2017-09-19 00:13] timsneath commented on #256
@TerryGLee do you have what you need to update the docs here? Or do we need @TLai1 to help with a PR?

[2017-09-19 01:32] TerryGLee commented on #256
I have what I need; thanks for checking in. We'll post an update to the page forthwith.

[2017-09-21 18:59] ghogen commented on #102
@nokura Nobuko, can you check this?

[2017-09-21 19:39] #124 closed

[2017-09-21 19:40] ghogen commented on #126
I agree this is a problem, but so far we haven't found a good solution. You can't just change the link to the What's New, and our design only allows the three links.

[2017-09-21 19:41] ghogen commented on #126
Closing this as By Design.

[2017-09-21 19:41] #126 closed

[2017-09-21 19:47] #30 closed

[2017-09-21 19:50] #70 closed

[2017-09-21 19:50] #81 closed

[2017-09-21 19:52] #138 closed

[2017-09-21 19:53] #161 closed

[2017-09-21 19:55] ghogen commented on #166
This appears to be a request for a product change.

[2017-09-21 19:56] riverar commented on #138
@ghogen Can you provide a status to complement this closure?

[2017-09-22 17:00] ToddGrun commented on #166
Hi zengyunchun,
  Can you try putting vs:isxmlschema="true" at the top of your augmented html.xsd (near where the vs:ishtmlschema="true" attribute is)? This isn't a fully tested scenario, but this might give you your desired behavior.

Thanks!
-- Todd

[2017-09-22 18:56] Mikejo5000 commented on #34
Addressed several issues in docs and created PR. I need to investigate a few other issues.

[2017-09-22 19:09] Mikejo5000 commented on #110
Fixed

[2017-09-22 19:09] #110 closed

[2017-09-22 20:16] ddv239 commented on #110
Mike,

Can you elaborate your reply: what and where was changed to fix this bug? The way you resolved it is not informative enough.

---

Dmitri Davydok (Дмитрий Давыдок)

From: Mike Jones [mailto:notifications@github.com]
Sent: Friday, September 22, 2017 12:10 PM
To: MicrosoftDocs/visualstudio-docs <visualstudio-docs@noreply.github.com>
Cc: Dmitri Davydok <ddv@writeme.com>; Author <author@noreply

[2017-09-22 21:20] Mikejo5000 commented on #110
Dmitry,

I updated the formatting during a content refresh a while back. Fixes involved mainly correcting the indents and spacing. The topic no longer appears as shown in your original comment. Please take a look at the topic and let me know if you still see formatting issues.

https://docs.microsoft.com/en-us/visualstudio/debugger/general-debugging-options-dialog-box

[2017-09-22 21:31] ddv239 commented on #110
OK, did you realize that this bug was not about this topic, but about the fact that somehow, the same markdown was rendered differently between Github and docs.microsoft.com?

Because this issue is not addressed, I am going to reactivate it.

---
Dmitri Davydok (Дмитрий Давыдок)

From: Mike Jones [mailto:notifications@github.com]
Sent: Friday, September 22, 2017 2:21 PM
To: MicrosoftDocs/visualstu

[2017-09-22 21:32] ddv239 commented on #110
Do I have access to reactivate this issue?

[2017-09-22 23:06] Mikejo5000 commented on #110
OK, gotcha--but whatever the rendering issue was (or is), I don't see it now when I compare the GitHub page and the docs.microsoft.com page. It might have been fixed by our build team as other bug fix work. It looks like No Repro and the page appears as expected (by design). If you still see an issue, I'd be happy to re-open it for you.

[2017-09-25 23:51] gewarren commented on #67
I have created a PR to fix this. It should be live in a couple days' time. Thanks for reporting this.

[2017-09-25 23:51] #67 closed

[2017-09-27 17:12] KZeronimo opened #301 "Visual Studio Installer Kills Powershell"
Sometime post the 15.3 release of Visual studio the installer kills Powershell instances during the install of PS modules

See [here](https://developercommunity.visualstudio.com/content/problem/47251/no-reboot.html) and [here](https://github.com/Azure/azure-powershell/issues/2220)

I'm sure there is a better place for this issue - not sure quite where that is ...

[2017-09-29 18:54] amali8 opened #305 "Missing information about "Unwind the call stack on unhandled exceptions" option"
On https://docs.microsoft.com/en-us/visualstudio/debugger/supported-code-changes-csharp

It is unclear where this option is located, and it also seems to not exist in VS 2017.

[2017-09-29 20:04] Rod-in-NM commented on #286
Hi @gregvanl, thank you very much for looking into this. I've been busy with other urgent matters, so haven't had a chance to look back into this. Thought I'd check on it and see how things are coming along?

[2017-10-04 23:10] adibikar opened #307 "Fail in vs_Community offline install with --remove"
Fail with : "Error: parameter --remove". I am trying to install on my Windows 7 SP1. So I think I do not to need these following components. Why I am fail with this command?
`vs_Community.exe --add Microsoft.VisualStudio.Workload.NativeDesktop --includeRecommended --remove Microsoft.VisualStudio.Component.Windows10SDK.15063.Desktop --remove Microsoft.VisualStudio.Component.Windows10SDK.15063.UWP -

[2017-10-10 20:01] TerryGLee opened #314 ""Use the keyboard exclusively" topic"
Customer request: Kindly consider adding sections for editor navigation, annotations, debugger navigation, toolbar button operations etc. for these can all be done from the keyboard exclusively as well.

[2017-10-10 20:28] TerryGLee commented on #314
docs/ide/reference/how-to-use-the-keyboard-exclusively.md

[2017-10-17 23:06] TerryGLee commented on #256
Following up: We've posted updated information about the --channelURI to the following page:
https://docs.microsoft.com/en-us/visualstudio/install/use-command-line-parameters-to-install-visual-studio. Specifically, we added information that says, "If updates are not desired, `--channelUri` can point to a non-existent file. (for example, --channelUri C:\doesntExist.chman)"

[2017-10-17 23:06] #256 closed

[2017-10-18 17:01] rchiodo opened #322 "CMake docs don't mention how to use launch.vs.json with variables"
https://github.com/MicrosoftDocs/visualstudio-docs/blob/6ee19c57958de69dabb7669347af8dec8df6de54/docs/ide/develop-code-in-visual-studio-without-projects-or-solutions.md

doesn't describe how the variables in use inside of the CmakeSettings.json can be applied to launch.vs.json.

See customer feedback here:
https://developercommunity.visualstudio.com/content/problem/32446/workspaceroot-and-name-can

[2017-10-18 17:03] rchiodo opened #323 "CMake docs don't mention linux support"
https://github.com/MicrosoftDocs/cpp-docs/blob/master/docs/ide/cmake-tools-for-visual-cpp.md

Only mentions the windows configurations in its description of the CMakeSettings.json. We have two new configurations now (and many more keys possible) - Linux-Debug and Linux-Release.

[2017-10-18 17:08] rchiodo opened #324 "CMake docs don't make mention of inheritEnvironments"
https://github.com/MicrosoftDocs/cpp-docs/blob/master/docs/ide/cmake-tools-for-visual-cpp.md
CmakeSettings.json now supports values like so:

      "inheritEnvironments": [ "msvc_x64_x64" ],

This sets up a whole bunch of variables that are automatically passed to CMake.exe when it's run. In the example above, this is the same as if the user ran the "Developer Command Prompt for VS 2017" with the

[2017-10-18 18:16] gewarren commented on #254
@ashmind thanks for pointing this out. I will resolve it.

[2017-10-18 18:22] gewarren commented on #200
@alfredmyers thanks I own these topics now so i'll take a look.

[2017-10-18 18:25] gewarren commented on #199
@gernotpokorny thanks, I will get this fixed.

[2017-10-19 13:25] phraemer opened #327 "Problems in Walkthrough: Creating an SDK using C# or Visual Basic"
https://github.com/MicrosoftDocs/visualstudio-docs/blob/master/docs/extensibility/walkthrough-creating-an-sdk-using-csharp-or-visual-basic.md

I'm pretty sure the `source.extension.vsixmanifest` is out of date.
At step "27. On the menu bar, choose Build, Build SimpleMathVSIX." I'm getting the error **error VSSDK1078: The VSIX manifest must contain element 'Prerequisites'**

Also in the sample app

[2017-10-19 13:30] phraemer opened #328 "Missing information in VSIX Extension Schema 2.0 Reference"
https://github.com/MicrosoftDocs/visualstudio-docs/blob/master/docs/extensibility/vsix-extension-schema-2-0-reference.md

The attributes for `<InstallationTarget>` are only documented for when the `Scope` attribute has the explicit or default value "ProductExtension".

The attributes for when it has the value "Global" are not not documented.

However, the [walk-through for creating an SDK](https:/

[2017-10-19 18:14] gewarren commented on #322
Thanks @rchiodo . I think the appropriate topic for this request is https://docs.microsoft.com/en-us/cpp/ide/cmake-tools-for-visual-cpp#cmake_settings.

[2017-10-19 18:43] gewarren commented on #277
@jnyrup thanks for reporting this. I will add the missing info when I get a chance.

[2017-10-19 18:46] gewarren commented on #253
@alfredmyers thanks for pointing this out. Each See Also link is supposed to be on its own line, but as you pointed out, it sometimes looks different in source than in the rendered html. This usually happens if there are not two spaces at the end of each line. We will address the two topics you pointed out - PerfTips and Analyze Memory Usage.

[2017-10-19 18:59] gewarren commented on #184
It looks like [this section](https://docs.microsoft.com/en-us/visualstudio/extensibility/how-to-use-wizards-with-project-templates#creating-a-custom-template-wizard) is rendering correctly now:

This example adds a parameter value from the user input form to the Dictionary<TKey,TValue> parameter. Every instance of the $custommessage$ parameter in the project will be replaced with the text entered

[2017-10-19 18:59] #184 closed

[2017-10-19 19:00] gewarren commented on #184
@Rod-in-NM sorry this wasn't rendering correctly before, and thanks for reporting it.

[2017-10-19 19:20] Rod-in-NM commented on #184
Thank you very much for getting the documentation updated and letting me know about it!!

[2017-10-19 19:32] gewarren commented on #116
[How to: update existing templates](https://docs.microsoft.com/en-us/visualstudio/ide/how-to-update-existing-templates) still needs to be updated, but how to create project templates and how to create item templates have been updated already.

[2017-10-19 19:35] gewarren commented on #102
@mutsun thank you for reporting this, and sorry for the delay. Hopefully our localization team can look at this soon.

[2017-10-19 20:57] gewarren commented on #116
@zzhhbyt1 thanks for reporting this. All 3 topics have been updated now, but it might take a few days for the last one to go live.

[2017-10-19 20:57] #116 closed

[2017-10-20 21:02] mikeblome commented on #324
Moved to internal database for tracking.

[2017-10-20 21:02] #324 closed

[2017-10-20 21:05] mikeblome commented on #322
moved to internal database for tracking

[2017-10-20 21:05] #322 closed

[2017-10-20 21:06] mikeblome commented on #323
moved to internal database for tracking

[2017-10-20 21:06] #323 closed

[2017-10-20 21:39] Mikejo5000 commented on #282
Opened new PR on the issue:
https://github.com/MicrosoftDocs/visualstudio-docs-pr/pull/923

[2017-10-20 21:40] rchiodo commented on #282
I get a 404 on that PR link? Can you double check?

[2017-10-20 21:49] Mikejo5000 commented on #282
The fix is on the private repo. You would need to be in the MicrosoftDocs group. But you should be able to review it here:
https://review.docs.microsoft.com/en-us/visualstudio/debugger/create-custom-views-of-native-objects?branch=mikejo-br4
Note: First sentence will read "You can use Exec..." after typo fix comes in.

[2017-10-20 21:52] rchiodo commented on #282
Thanks looks good :)

[2017-10-21 00:21] Mikejo5000 commented on #253
Added fix to debugger and profiling topic set in this PR: https://github.com/MicrosoftDocs/visualstudio-docs-pr/pull/923

[2017-10-23 16:22] Mikejo5000 commented on #253
One example of fix: https://review.docs.microsoft.com/en-us/visualstudio/profiling/memory-usage?branch=mikejo-br4

[2017-10-23 16:22] #253 closed

[2017-10-23 16:24] Mikejo5000 commented on #95
Waiting for response from product unit

[2017-10-23 16:25] #282 closed

[2017-10-23 16:49] KirillOsenkov commented on #95
just FYI @rainersigwald in on leave until end of year...

[2017-10-25 06:53] phraemer opened #331 "Problems in walkthrough: Creating an SDK using C++"
https://github.com/MicrosoftDocs/visualstudio-docs/blob/master/docs/extensibility/walkthrough-creating-an-sdk-using-cpp.md

* The `Prerequisites` element is missing from the `.vsixmanifest`
* Wrong pri file name. Should be `NativeMathWRT.pri` instead of `SimpleMath.pri`
* Incorrect path in the props file. Should be `DesignTime\Debug\x86` instead of `DesignTime\Retail\x86` (Or the example should wo

[2017-10-26 23:43] gewarren commented on #254
@kuhlenh can you resolve the discrepancies between the Roslyn source and what's listed in the topic?

[2017-10-27 19:42] iskiselev opened #333 "Incorrect description for Microsoft.Net.Core.Component.SDK"
Component Microsoft.Net.Core.Component.SDK installs dotnet-sdk-2.0.2-win-x64.exe, but per description it is ".NET Core 1.0 - 1.1 development tools". Description should be ".NET Core 2.0 development tools". Same issue is visible in Visual Studio Build Tools installer - more generally, it contains incorrect description in catalog.json.

[2017-10-27 21:08] gewarren commented on #333
This is the topic: https://docs.microsoft.com/en-us/visualstudio/install/workload-component-id-vs-build-tools.

[2017-10-27 21:11] gewarren commented on #307
@TerryGLee could you ask the product team about this?

[2017-10-27 21:14] gewarren commented on #301
@KZeronimo this is not really the right place for the issue, but since someone has already created an issue on developercommunity.visualstudio.com, could you upvote it to make it more likely to be addressed by the product team?

[2017-10-27 21:14] #301 closed

[2017-10-27 21:20] gewarren commented on #170
This looks to be resolved now, e.g. https://docs.microsoft.com/en-us/dotnet/api/microsoft.visualstudio.shell.interop.ivssetupcompositionservice?view=visualstudiosdk-2017 for IVsSetupCompositionService. Please reopen the issue if you are still seeing redirects to VS 2015 documentation.

[2017-10-27 21:20] #170 closed

[2017-10-27 21:20] gewarren commented on #166
@zengyunchun can you try out the solution above and close the issue if it fixes your problem?

[2017-10-27 21:28] #199 closed

[2017-10-27 21:37] gewarren commented on #277
Fixed.

[2017-10-27 21:37] #277 closed

[2017-10-27 22:00] iskiselev commented on #333
BTW, description for Microsoft.Net.Core.Component.SDK.1x also looks strange: ".NET Core 1.0 - 1.1 development tools for Desktop".
What does mean there "for Desktop" words? Should they be removed?

[2017-10-30 08:55] adibikar commented on #307
Thanks @gewarren , but I have solved this problem with I just install all those component. Because after googling I know that I must use Windows 10 SDK to update the c++ (latest version) for windows  that I use.

[2017-10-30 08:55] #307 closed

[2017-10-30 19:50] maxperga opened #335 "Typo in https://github.com/MicrosoftDocs/visualstudio-docs/blob/master/docs/extensibility/how-to-provide-a-service.md"
Hello,
  I'm trying to understand how to write a service and I've found a potential typo here:

https://github.com/MicrosoftDocs/visualstudio-docs/blob/master/docs/extensibility/how-to-provide-a-service.md

Could you please double check this code:

Shouldn't this code be "return new MyService(this)" and not a "return new SMyService(this)"?

[2017-10-30 20:03] maxperga opened #336 "CreateService doesn't compile"
Hello,
  I'm reviewing https://github.com/MicrosoftDocs/visualstudio-docs/blob/master/docs/extensibility/how-to-provide-an-asynchronous-visual-studio-service.md

and it looks like the snippet around CreateService has some problems.

It looks like CreateService needs something more.

[2017-10-31 17:23] gewarren commented on #335
@maxperga thanks, we'll take a look.

[2017-10-31 17:23] gewarren commented on #336
@maxperga thanks for reporting this, we'll take a look.

[2017-11-01 23:25] karann-msft opened #338 "Report a problem doc is out of date"
I am looking at [How to report a problem](https://docs.microsoft.com/en-us/visualstudio/ide/how-to-report-a-problem-with-visual-studio-2017).

The screenshots and the flow is out of date.

Also, consider documenting the scenario on how to collect dump when VS has crashed.

[2017-11-02 19:36] gewarren commented on #338
@TerryGLee can you look at this? Maybe we can fix the SEO issue at the same time.

[2017-11-03 01:19] tedvz commented on #190
Actually, the documentation in this case is correct.  Actually, when using --layout you can use --lang or --addProductLang.  But, as rismoney points out, if not using --layout you must use --addProductLang.

[2017-11-03 20:52] TerryGLee commented on #338
Thanks for reporting this, @karann-msft. We should have the screenshots updated soon (at the latest, by Monday 11/6).

[2017-11-08 23:38] #190 closed

[2017-11-08 23:41] TerryGLee commented on #338
We've updated the screenshots on this page to reflect the latest UI:
https://docs.microsoft.com/en-us/visualstudio/ide/how-to-report-a-problem-with-visual-studio-2017  Thanks again for letting us know.

[2017-11-08 23:41] #338 closed

[2017-11-09 00:01] karann-msft commented on #338
That's awesome! Thanks Terry!

[2017-11-09 07:27] terrysheng opened #345 "Community provided article on Cross Platform App Development White Paper"
Hi all, attached please find an article submitted by a China RD a while back which was published on a local section of the MSDN library and had higher views that other articles, meaning customers were looking at it. It provides an overview of cross-platform app development through VS from a Business Manager's point of view.
It has been reverse-machine-translated to provide you with a readable Engl

[2017-11-09 17:54] gewarren commented on #345
@ghogen can you take a look at this?

[2017-11-10 11:37] mrward opened #346 "VS Mac uninstall steps do not remove third party addins"
https://github.com/MicrosoftDocs/visualstudio-docs/blob/master/mac/uninstall.md

The Visual Studio for Mac uninstall guide has:

[code]

This seems to not remove any third party extensions/addins that may have been installed. Just wondering if we should list this addin location as a folder to remove or have a section about removing third party extensions. Third party extensions are installed in `~

[2017-11-14 19:16] Mikejo5000 commented on #95
Thx. We will wait until he's back

[2017-11-14 19:17] Mikejo5000 commented on #34
PM will be back in December

[2017-11-15 23:50] darthwalsh opened #351 "Linked enum references have incorrect link text"
When looking at the [MenuCommands Vs. OleMenuCommands](https://docs.microsoft.com/en-us/visualstudio/extensibility/menucommands-vs-olemenucommands) page, I see that the [source](https://github.com/MicrosoftDocs/visualstudio-docs/blob/master/docs/extensibility/menucommands-vs-olemenucommands.md) "MenuCommand Property | OLECMDF flag" table has the wrong data in the `OLECMDF flag` column:

|MenuComma

[2017-11-16 03:36] TerryGLee commented on #333
We are investigating; thanks for your post, @iskiselev.

[2017-11-16 18:22] gewarren commented on #346
@conceptdev could you take a look at this?

[2017-11-16 18:24] gewarren commented on #351
@darthwalsh thanks for reporting this. Unfortunately I have seen this issue with other enumeration references too, so it is systemic. @gregvanl could you fix this one and any other enumeration references you can find in extensibility docs?

[2017-11-16 20:45] asb3993 commented on #346
PR created so closing this.

[2017-11-16 20:45] #346 closed

[2017-11-17 18:54] brendanzagaeski opened #352 "Report a Problem doc does not show the menu location of "Report a Problem" in the IDE"
A commit a little while ago (https://github.com/MicrosoftDocs/visualstudio-docs/commit/47d761e9aeb3cfe0b703240371ea43efccc114d6) removed the "Open the Report a Problem tool" section from _[How to report a problem with Visual Studio 2017](https://docs.microsoft.com/visualstudio/ide/how-to-report-a-problem-with-visual-studio-2017)_. That section explained how to open **Report a Problem** from the ID

[2017-11-17 21:01] binki opened #353 "How to list multiple values for applicable_kinds required_modifiers"
When reading the docs at https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference#naming-conventions , I do not see any example or mention of how to specify multiple `applicable_kinds` or `required_modifiers` when defining a symbol. I am going to try and see if it works with `;`. But could the docs be updated to describe how to form a list for this?

Thanks.

[2017-11-17 21:03] binki opened #354 "Default value or behavior when applicable_accessibilities is omitted?"
Hi,

When reading the docs at https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference#naming-conventions , it is unclear what omitting `applicable_accessibilities` does. From the example provided, which is:

[code]

it looks like it is a required value and omitting it would give some behavior other than `*`. Otherwise, the example would not show it being explic

[2017-11-20 18:06] gewarren commented on #352
@brendanzagaeski thanks for this thoughtful feedback. @TerryGLee can you take a look?

[2017-11-20 18:07] gewarren commented on #353
@binki thanks I will take a look.

[2017-11-20 19:52] gewarren commented on #353
@binki I found an example file on GitHub that uses a comma to separate multiple values:

dotnet_naming_symbols.method_and_property_symbols.applicable_kinds = method,property

I will try this out and update the documentation to clarify. Thanks for your help in making the docs better!

[2017-11-20 22:58] TerryGLee commented on #352
I'll take a look at this and see what I can do to improve the experience. Thanks, @brendanzagaeski

[2017-11-20 23:17] TerryGLee commented on #121
We're checking in to this. And, apologies for the late reply to that effect.

[2017-11-21 22:10] kuhlenh commented on #254
Hmmm, looks like I have made a mistake and thought we implemented `type_parameter` and `namespace` but we didn't actually. @dpoeschl can you please confirm?

[2017-11-27 18:29] gewarren commented on #354
@binki I'm still waiting on the official answer, but I believe that If you omit this property, your naming rule will apply to all accessibilities. I'm in the process of updating the documentation.

[2017-11-27 18:42] binki commented on #353
I’m pretty sure the actual list separator is `;`. I have tested and verified that it works. And even though `.editorconfig` and Python’s ConfigParser document `;` as a comment-starting character, it seems to *not* start a comment if it is in the middle of a value (much like how `#` is not a comment character in POSIX `sh` when it is in the middle of a parameter, e.g., `$ echo hi#friend` → `hi#frie

[2017-11-29 09:21] martinsuchan opened #361 "Missing documentation and samples for /deterministic and /pathmap MSBuild switch"
MSBuild supports building deterministic build when the **/deterministic** switch is present.
Additionaly it supports hermetic builds (deterministic even when built in different folders) by using the **/pathmap** option.
**These arguments are not documented anywhere**
https://docs.microsoft.com/en-us/visualstudio/msbuild/msbuild

The only description of these arguments I was able to find is here:

[2017-11-29 17:33] gewarren commented on #361
@Mikejo5000 can you look at this one?

[2017-11-29 18:36] Mikejo5000 commented on #361
We will need a PM to review updates. Rayner is back in December.

[2017-11-30 16:47] kuhlenh commented on #353
Hi @binki -- the list has to be comma-separated. I am unable to reproduce the bug you are seeing by having a semi-colon-separated list. Can you confirm the following:

- after editing the EditorConfig file to have a comma-separated list, you closed all open files and reopened them
- your naming conventions are ordered with the most specific rule first, followed by the least specific (naming conven

[2017-11-30 16:48] kuhlenh commented on #254
@ashmind `namespace` and `type_parameter` do not work today. I will update the documentation accordingly--sorry for the inconvenience!

[2017-11-30 16:51] kuhlenh commented on #354
Hi @binki  -- if you want your rule to apply to all accessibilities you must specify so with `*`. Leaving off this rule does not pick a default accessibility (see [source](https://github.com/dotnet/roslyn/blob/master/src/Workspaces/Core/Portable/NamingStyles/EditorConfig/EditorConfigNamingStyleParser_SymbolSpec.cs#L145)). Hope that helps!

[2017-11-30 17:09] binki commented on #353
OK, I verified that `applicable_kinds` ignores anything after the first `;` and that it works with `,`. I wasn’t exhaustive enough in my earlier tests, I think I was only verifying the first thing I put in my list worked or something. This also applies to `applicable_accessibilities`.

I’m using vs-15.4.5 and I think I am seeing the same behavior as you, @kuhlenh.

I see that the docs at https://d

[2017-11-30 17:09] #353 closed

[2017-11-30 17:21] binki commented on #354
@kuhlenh In my testing and in reading [the part of the source that actually applies the rules](https://github.com/dotnet/roslyn/blob/878ffad23b8b06cb229c9ab31eada7634a473508/src/Workspaces/Core/Portable/NamingStyles/Serialization/SymbolSpecification.cs#L94), omitting the `applicable_accessibilities` results in the same behavior as specifying `*`. This is because, when the rule is tested for applic

[2017-11-30 17:26] #166 closed

[2017-11-30 17:26] gewarren commented on #166
@zengyunchun please reopen the issue if that doesn't solve your problem.

[2017-11-30 18:54] l0calh05t opened #365 "Download of specific version of vs_buildtools installers is badly-/almost un-documented"
The only information I could find is on [Advanced Example for Containers](https://github.com/MicrosoftDocs/visualstudio-docs/blob/master/docs/install/advanced-build-tools-container.md), which states that one can download https://aka.ms/vs/15/release/channel and "examine bootstrapper URLs", however I can only find one .exe link in the JSON file, which points to a single version of vs_Setup.exe. The

[2017-11-30 23:04] gewarren commented on #254
Documentation has been updated. Thanks @ashmind !

[2017-11-30 23:04] #254 closed

[2017-12-01 02:01] zengyunchun commented on #166
@ToddGrun , reply late I'm sorry, just now I try the solution, it's pretty good and wonderful, thank you a lot!!!
by the way, thank you @gewarren reminding me, you are so beautiful!!!!

[2017-12-01 02:27] gewarren commented on #166
@zengyunchun I'm glad this fixed your problem, and thank you!

[2017-12-01 18:46] gewarren commented on #173
I don't see the link anymore on the Deploying Application page anymore. The installshield-limited-edition.md topic is no longer part of our live doc set (but yet, is still in the GitHub repo). Closing this issue.

[2017-12-01 18:46] #173 closed

[2017-12-01 18:51] gewarren commented on #345
@conceptdev does this fall into your area? Can you comment on the request to include the whitepaper as part of our doc set?

[2017-12-01 19:03] gewarren opened #367 "Add language tags to code blocks"
Some of the Visual Studio topics have code blocks that aren't tagged with a specific programming language. By adding the proper tag, the code block shows what the programming language is, and you get syntax highlighting in the markdown file. Available tags can be found [here](https://review.docs.microsoft.com/en-us/help/ops-crr/openpublishing/docs/partnerdocs/codesnippets?toc=/help/contribute/TOC.

[2017-12-01 19:47] conceptdev commented on #345
it seems to be a translation of [this article](http://devopshub.cn/2015/10/30/cross-platform-dev-1-cost-analysis/)?

i would say it reads like a case-study and probably isn't appropriate for the docs site... it might fit better on visualstudio.com in a marketing/customer case study capacity, or in a local community blog? it seems a little outdated (Connect 2014 is mentioned, and the [myshuttle](ht

[2017-12-02 00:51] gewarren opened #369 "Update steps in editor item template extensibility topic"
Per this [skyeye ](https://mseng.visualstudio.com/TechnicalContent/_queries?id=1010551&_a=edit&fullScreen=false&triage=true)bug, we need to do the following to [this topic](https://docs.microsoft.com/en-gb/visualstudio/extensibility/creating-an-extension-with-an-editor-item-template):

"There are three code files, as follows:" Must be corrected To : "There are four code files, as follows:"

[2017-12-02 00:59] gewarren opened #370 "Fix broken link to walkthrough"
Per this [skyeye bug](https://mseng.visualstudio.com/TechnicalContent/_queries?id=1121012&_a=edit&fullScreen=false&triage=true), this [reference topic](https://docs.microsoft.com/en-us/dotnet/api/microsoft.visualstudio.language.intellisense.icompletionsession?view=visualstudiosdk-2017) has a broken link. In this sentence:

For an example of this interface, see Walkthrough: Displaying Statement Com

[2017-12-04 05:09] TerryGLee commented on #352
We should have this revised and published by Weds, FYI.

[2017-12-05 19:33] gewarren opened #374 "EditorConfig topic is missing section on how to add a .editorconfig file to a project"
The [Create portable editor settings with EditorConfig topic](https://docs.microsoft.com/en-us/visualstudio/ide/create-portable-custom-editor-options) does not actually describe how to create a new .editorconfig file. We should add this info.

One way is to right-click on the project and select Add > New File.

The excellent .editorconfig language service extension that Mads has on the gallery mak

[2017-12-08 18:18] Mikejo5000 commented on #305
Looking at this issue

[2017-12-08 18:23] Mikejo5000 commented on #305
Removing item; this option is no longer present in Visual Studio

[2017-12-11 01:33] davkean opened #378 "Add real world examples to "Naming Conventions for EditorConfig" topic"
I'd like to see some real world examples enforcing common .NETisms within the "Naming Conventions for EditorConfig" instead of the existing examples, some examples:

Interfaces must begin with "I"
Private fields must begin with an _
Non-private symbols must be pascal cased
etc

You can see these examples over here: https://github.com/dotnet/project-system/pull/3035/files.

[2017-12-11 19:10] gewarren commented on #378
@davkean thanks, i'll add this to my backlog. it's a good idea.

[2017-12-11 22:12] kuhlenh commented on #378
@gewarren I have some of these that I've written for my team. Email me when you have a chance to update the docs and I can send them your way

[2017-12-12 23:46] gewarren commented on #367
Fixed with https://github.com/MicrosoftDocs/visualstudio-docs-pr/pull/1130.

[2017-12-12 23:46] #367 closed

[2017-12-13 11:15] ChrisMaddock opened #380 "Incorrect link on Project Migration page"
On:

https://docs.microsoft.com/en-us/visualstudio/porting/port-migrate-and-upgrade-visual-studio-projects

There is the text:

The link to the 'Visual Studio 2015 version of this topic' just links back to the same page.

[2017-12-13 18:30] gewarren commented on #380
@ChrisMaddock thanks for reporting this. @Mikejo5000 can you take a look at fixing this?

[2017-12-13 19:08] Mikejo5000 commented on #380
@kraigb Do you own the porting docs?

[2017-12-13 21:18] kraigb commented on #380
Yes, I do. That's supposed to be a link to MSDN; I'll check the history as to when it got changed.

[2017-12-13 22:33] kraigb commented on #380
For some strange reason, the link in the master branch is incorrect; it was correct in the live branch so it's curious why and how it got to the live site. I also can't find when it got changed. In any case, I've restored it to where it should be with https://github.com/MicrosoftDocs/visualstudio-docs-pr/pull/1149. That change should go live tomorrow according to our publishing schedule.

In the m

[2017-12-13 22:33] #380 closed

[2017-12-13 23:49] ghogen opened #382 "Testing doc feedback mechanism."
This is a test.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9290996a-853e-bfcc-5e4a-d8746f453620
* Version Independent ID: faae284e-2f81-6f6f-c437-0bd8c959dd2b
* [Content](https://review.docs.microsoft.com/en-us/visualstudio/ide/visual-studio-ide?branch=github-issues)
* [Content Source](https://github.com/MicrosoftD

[2017-12-13 23:50] #382 closed

[2017-12-14 23:50] jdanyow commented on #382
Hello World ✅🤸😵

[2017-12-14 23:55] jdanyow commented on #382
@ghogen:

[2017-12-15 19:22] roniaxe opened #385 "Very Nice & Attractive feature!"

[2017-12-15 20:35] ghogen commented on #385
Thanks, roniaxe, what feature are you referring to?

[2017-12-15 20:43] roniaxe commented on #385
Hey Gordon !

Thanks for your reply, I was actually though I'm commenting rather than
creating a new github issue :).
I was reffering to the 'intellitrace step-back' feature of latest 15.5
version. this is really really nice.
I wanted to ask, when is it getting (if) to the community VS version? I
know it's only on the Enterprise version at the moment.

Thanks,
Roni.

On Fri, Dec 15, 2017 at 3:35 P

[2017-12-15 22:48] mgblythe opened #386 "Testing the new system"
Trying this out to see how it works on our content.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5416573b-dd99-f3c9-1707-32fb38023788
* Version Independent ID: 45ebd856-0161-4ea2-2833-d1ec165ebc97
* [Content](https://docs.microsoft.com/en-us/visualstudio/test/improve-code-quality)
* [Content Source](https://github.co

[2017-12-15 22:54] #386 closed

[2017-12-16 06:01] gazette2 opened #387 "How to set TimeoutAttribute for test method?"
I've tried like this:

		BEGIN_TEST_METHOD_ATTRIBUTE(TestMethod1)
		        TEST_METHOD_ATTRIBUTE(L"Timeout", "1000")
		END_TEST_METHOD_ATTRIBUTE()

but it's not working properly as I intended.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51e3ec17-4193-8059-56de-fbad2fab239c
* Version Independent ID: e0e84806-41ff-fa

[2017-12-16 08:08] cdorst opened #388 "NoWin32Manifest listed twice in https://github.com/MicrosoftDocs/visualstudio-docs/blob/master/docs/msbuild/common-msbuild-project-properties.md"
Hello, I noticed that NoWin32Manifest is under the "List of Common Properties and Parameters" twice (each with different descriptions). The first occurrence also appears out of alphabetical order.

Is this intentional? Should these items be merged?

https://github.com/MicrosoftDocs/visualstudio-docs/blob/master/docs/msbuild/common-msbuild-project-properties.md

[2017-12-16 18:27] Walt-White opened #389 "Typo fix"
Step 2 in Debugging has incomplete sentence.  Should be something like "Press any key to close the window."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d684aa29-fb98-1d88-a930-89813a98eb17
* Version Independent ID: db38dce1-01d0-dc84-da3f-67cd925dd134
* [Content](https://docs.microsoft.com/en-us/visualstudio/python/

[2017-12-17 14:58] sryabkov opened #390 "Layout for multiple editions of Visual Studio"
When I created the offline VS layout folder back in March 2017, when 15.0 was first released, the following guidance was not in place:

So, I created a single layout folder for Professional and Enterprise editions, and later added Build Tools to it.

To update the layout folder, I download fresh bootstrappers (`vs_Enterprise.exe`, `vs_BuildTools.exe`, `vs_Professional.exe`) and run each of them ag

[2017-12-17 19:56] TerryGLee commented on #390
Thanks for your inquiry, @sryabkov. We will investigate this.

[2017-12-18 01:08] sryabkov commented on #390
@TerryGLee Thank you and happy holidays!

Here are the `response.json` files I am using

`Response_ent.json`:
[code]
`Response_pro.json` and `Response_buildTools.json` look the same, except for one line, `productId`. In `Response_pro.json`, we have
[code]
And in `Response_buildTools.json`, we have
[code]

Note: it is possible that in order to install VS 2017, some developers ran the bootstrapper (

[2017-12-18 12:23] ptoye opened #391 "Out of date?"
The toolbox in VS 2017 does not have any tabs at all.  Does this page refer to an outdated version of VS? It seems that way because the links at the bottom are all out of date.

Also, the Auto-hide button is greyed out (in my VS 2017 Community), so there might be a mistake in the firsts paragraph.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2017-12-18 18:46] TerryGLee commented on #391
Thanks for your inquiry, @ptoye. We will investigate this. (Please be advised that due to the holidays, our response might be delayed.)

[2017-12-18 20:49] kzu opened #392 "This sample from above makes no sense"
[code]

why wouldn't you do:

[code]

??

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4999b84e-a7f2-1ffc-6d02-d439ff0330de
* Version Independent ID: 7755af16-b4f5-e3b8-798f-35ea143ad306
* [Content](https://docs.microsoft.com/en-us/visualstudio/extensibility/how-to-provide-an-asynchronous-visual-studio-service)
* [Con

[2017-12-18 21:55] mikeblome commented on #388
Thanks cdorst! Yes that was an error. I removed the first entry and merged it into the second one. Should be visible on public site after the new year.

[2017-12-18 21:55] #388 closed

[2017-12-18 22:44] GabeSJones opened #393 "Typo"
"Size specifier for pointers as arrays in interop debugging with C++/CLIt"
Should be "C++/CLI"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6a5c135d-ace1-1f09-041a-13411c054ff3
* Version Independent ID: 083fc572-d877-2216-19a9-326636c1d8e6
* [Content](https://docs.microsoft.com/en-us/visualstudio/debugger/format-spec

[2017-12-19 19:01] mikeblome commented on #393
Thanks @GabeSJones! Typo is fixed now.

[2017-12-19 19:01] #393 closed

[2017-12-21 00:55] kraigb commented on #389
Thanks! This is addressed in https://github.com/MicrosoftDocs/visualstudio-docs-pr/pull/1192, which you may not be able to see because it's in our private repo.

[2017-12-21 00:55] #389 closed

[2017-12-21 15:37] gchirinos opened #396 "Feedback"
Great

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4bbd5e04-5e50-dd40-c359-e77fed8b1a9f
* Version Independent ID: 6e57e791-2bc8-5dac-48e6-cef4ad403dbe
* [Content](https://docs.microsoft.com/en-us/visualstudio/subscriptions/#)
* [Content Source](https://github.com/MicrosoftDocs/visualstudio-docs-pr/blob/live/subscript

[2017-12-21 21:54] TerryGLee commented on #396
Thanks @gchirinos for your comment. :)

[2017-12-21 21:54] #396 closed

[2017-12-21 22:11] dm-learn opened #397 "One Vague Part"
The value description for setting the "General > Target Name" property is vague, "Set this field to exactly match the name of the module as Python sees it". However, how Python will see the module is not clear until later, in step 4 of "Converting the c++ project to an extension for Python".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2017-12-21 22:31] TerryGLee commented on #385
Hello @roniaxe - I'm not sure if we can answer your inquiry at the present time, but another option to pursue is to share this with us as a product suggestion on UserVoice, at https://visualstudio.uservoice.com/forums/121579.

[2017-12-23 00:43] AraHaan commented on #391
It also seems that ``C26490``, ``C26425``, ``C26485``, and ``C26425`` which have been complaining on my good code and wont shut up necause I need direct use of some Windows API functions the C++ standard library never calls or other things like:

Caching the ``HINSTANCE`` of ``hDLL of ``DllMain()`` in an global variable for passing into ``Shell_NotifyIcon`` Unless I can use the process's ``HWND``

[2017-12-25 19:13] GeekActual opened #400 "completely out of date"
This documentation is over a year old, and is completely out of date.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b25d4cd-0c3f-e9a6-6256-ea54d0972d4b
* Version Independent ID: babd49b7-8e18-13dc-99f2-6783495cb0dc
* [Content](https://docs.microsoft.com/en-us/visualstudio/cross-platform/learn-app-building-basics-with

[2017-12-25 19:15] GeekActual commented on #400
The latest release of Xamarin forms in VS2017 does not create a .Droid (it creates .Android) project, neither does it create a Windows 8.1 or Windows Phone 8.1 project.

[2017-12-25 19:39] TerryGLee commented on #400
Thanks for your input, @GeekActual. We'll investigate this and get back to you. (Although given the holidays, please expect a delay in our response.)

[2017-12-26 16:09] evil-shrike opened #401 "Totally unclear description"
But actually the page says nothing about what I must do and how to update a vsix project for VS2017.
You just put samples of .vstemplate and .vstman from 2015 and probably 2017 (but called it 2015) without any description.
"Here is the .vstman file .. that resulted from the rebuilding of the VSIX project" - why should I care of .vstman if it's built by a tool?.
You said nothing about changes in vs

[2017-12-27 18:02] gewarren commented on #391
@AraHaan your issue sounds very different to the subject of this issue, which is that the [Toolbox topic](https://docs.microsoft.com/en-us/visualstudio/ide/reference/toolbox) is out of date. Is your issue a product issue or a documentation issue?

[2017-12-27 18:04] gewarren commented on #401
@gregvanl this is an extensibility topic. Can you take a look?

[2017-12-27 23:23] AraHaan commented on #391
I think more of an doc issue.

[2017-12-27 23:38] gewarren commented on #391
@AraHaan Can you create a new issue in this repo to track your code analysis issues? That way we can assign it to the proper person to fix it. Thanks for helping to improve the documentation.

[2017-12-27 23:47] AraHaan commented on #391
alright.

[2017-12-28 01:29] AraHaan opened #405 "Documentation out of date."
It also seems that ``C26490``, ``C26425``, ``C26485``, and ``C26425`` which have been complaining on my good code and wont shut up because I need direct use of some Windows API functions the C++ standard library never calls or other things like:

Caching the ``HINSTANCE`` of ``hDLL`` on ``DllMain()`` in an global variable for passing into ``Shell_NotifyIconA`` Unless I can use the process's ``HWND

[2017-12-28 10:36] ChrisMaddock opened #406 "Broken numbering on "Enable Coded UI Testing Of Your Controls""
https://docs.microsoft.com/en-gb/visualstudio/test/enable-coded-ui-testing-of-your-controls

Ordered list numbering goes wrong half way down the page.

![image](https://user-images.githubusercontent.com/4837132/34408283-e8242f5c-ebba-11e7-8317-67d681a4b47c.png)

[2017-12-28 13:35] dasMulli opened #407 "Document GenerateDocumentationFile msbuild property"
`common-msbuild-project-properties.md` should contain information about the `GenerateDocumentationFile` property which is easier to use than `DocumentationFile` alone since it does not require specifying an explicit name/path.

[2017-12-28 14:58] StingyJack opened #408 "Why do you require write access to my public repos just so I can submit feedback on the docs pages?"
Not that I think there is anything there I care that you read, but I do not see why you need to write to my repo for any reason.

To give a bit of context, I was looking for an MSBuild xsd at [its docs page](https://docs.microsoft.com/en-us/visualstudio/msbuild/msbuild-project-file-schema-reference) and was presented with this choice
![image](https://user-images.githubusercontent.com/15381181/3441

[2017-12-28 22:17] watkinsmatthewp opened #410 "More details needed in "add editor support for other languages"."
It would be helpful to give a bit more details on this. Maybe a screenshot showing the completed folder structure where each file was placed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 02810ab3-cd5b-c837-b6b7-ab1090aa3577
* Version Independent ID: b245aa2a-1fe8-5c7b-342b-ca9c7c0252c5
* [Content - https://docs.micro

[2017-12-29 00:10] gewarren commented on #405
@corob-msft or @mikeblome can one of you look at this?

[2017-12-29 00:11] gewarren commented on #407
@dasMulli thank you, we will take a look.

[2017-12-29 00:13] gewarren commented on #408
@ghogen Can you follow up with the folks that implemented this feedback system to see if we really need all that access?

[2017-12-29 01:44] AraHaan commented on #405
Also some example Code to test the warnings is like the following:

[code]
Also seems to complain if I don't mark everything ``noexcept`` as well.

[2017-12-29 05:10] corob-msft commented on #405
Was this comment intended to be about a particular code analysis warning article in our documentation? If so, that information has been lost.

Unfortunately, the documentation doesn't always keep up with the product. For C26490, see the blog post [C++ Core Check improvements in Visual Studio 2017 15.5](https://blogs.msdn.microsoft.com/vcblog/2017/11/15/c-core-check-improvements-in-visual-studio-20

[2017-12-31 11:27] ignas-sakalauskas opened #412 "Code Analysis Dictionary .NET Core 2 support"
Seems like .NET Core 2 doesn't have "CodeAnalysisDictionary" build action at all. Do you have any plans to support it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5c0c5937-e895-d2e3-0e14-655cf4e52d6a
* Version Independent ID: abe9dea4-c830-c476-1e9d-fd2386d014c3
* [Content](https://docs.microsoft.com/en-us/visualstu

[2018-01-01 12:34] lmstearn commented on #401
It's all a bit bamboozling, admittedly. Came across the page referenced from the answer in the link of [my comment](https://stackoverflow.com/questions/27381941/how-can-i-load-a-template-i-have-created-in-visual-studio/47142565#comment83070744_47142565) after exporting a project to a template which was done from the file menu. No VSIX.
The docs may want a rejig. From a single user (no team) things

[2018-01-02 09:48] PeterBluewin opened #415 "Visual Studio - Installation not possible"
Dear Supportteam,
thanks vor your reply. But it is not possible to install Visual Studio on my computer. The installation process tells me that I do not have an Internet connection, even though I am using an Internet connection. I don't have a connection problem with any pages or other software. After checking the Internet connection during the installation I have seen that different connections f

[2018-01-02 16:41] MarkIannucci opened #416 "How long is the grace period for Visual Studio Activation after your online subscription ends?"
My company is in the process of extending my MSDN subscription.  Unfortunately, we did not get this done before it expired at the end of the year.  How long will VS continue to work after the subscription ends?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f3cb19f7-5f23-bf3a-0977-b8ce116b831b
* Version Independent ID:

[2018-01-02 17:49] gewarren commented on #415
@PeterBluewin thanks for contacting us. You are having a product issue, and this page is for issues with the documentation. Please log your issue at [our developer community page](https://developercommunity.visualstudio.com/), and someone from the product team will help you.

[2018-01-02 17:51] gewarren commented on #416
@MarkIannucci thank you for contacting us. Which version of Visual Studio are you using?

[2018-01-02 17:57] MarkIannucci commented on #416
We're using Visual Studio 2017.

[2018-01-02 19:53] ghogen commented on #408
We're looking into this to see if we can make this work without having to request permissions.

[2018-01-02 19:57] Mikejo5000 commented on #305
Verified removed live

[2018-01-02 19:57] #305 closed

[2018-01-02 19:59] StingyJack commented on #408
It kind of has to work without requiring the granting of that level of permission to a third party.

How does something like this not get ferreted out during design or even cursory testing?

[2018-01-02 21:06] #415 closed

[2018-01-02 21:10] #385 closed

[2018-01-02 21:12] EisenbergEffect commented on #408
Hey @StingyJack, thanks for your feedback! Yes, this issue was repeatedly discussed during our feature design work and we do have a plan to address it. Please allow me to provide a few details as to why you are (temporarily) having a less than desirable experience...

When one of our customers OAuths, we provide a list of scopes to GitHub that are intended to constrain our use of the GitHub API as

[2018-01-02 21:16] #405 closed

[2018-01-02 21:23] ghogen commented on #416
This is really a doc feedback channel, so your question is beyond the scope of what we can answer.  If your company renews its subscription, you can continue to use Visual Studio.  Please direct any further questions to [subscriptions support](https://www.visualstudio.com/subscriptions/support/).

[2018-01-02 21:23] #416 closed

[2018-01-02 22:11] MarkIannucci commented on #416
I'm working with my colleagues to get the i's dotted and t's crossed on our subscription.

It would be helpful if the `grace period` (if one exists) were documented so I could light the fire under some people and not show up to work with to find an inactive VS instance on my desk.

[2018-01-03 09:24] Milan1992 opened #418 "Link is dead: "Record and play back manual tests""
Hi

The link provided for the text "Record and play back manual tests." is dead: https://docs.microsoft.com/en-us/devops-test-docs/test/record-and-play-back-manual-tests

Is it the good link: https://docs.microsoft.com/en-us/vsts/manual-test/getting-started/record-play-back-manual-tests ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2018-01-03 14:21] StingyJack commented on #408
Preferred method?  This issue tracker doesnt do direct messages.

[2018-01-03 17:23] mikeasage opened #419 "Command line test running should be included."
There should be some info here about how to run these unit tests via the command line.  Is it done via MS Test?  vstest.console.exe?  This would help me automate these tests outside of Visual Studio.  Unfortunately, we are not using VSTS version control, and need to automate running these tests at build manually.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2018-01-03 17:25] mikeasage opened #420 "Link "Specifying Test Settings for Visual Studio Tests" broken"
Clicking on the link under See Also with the text "Specifying Test Settings for Visual Studio Tests" results in a 404 not found error.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 21ac034a-a498-f3e3-28d0-175b6fead219
* Version Independent ID: 747194a8-ffcf-60b3-b525-6f8fe00066a2
* [Content](https://docs.microsoft.com

[2018-01-03 17:56] EisenbergEffect commented on #408
You can email me at rob dot eisenberg at microsoft dot com

[2018-01-04 07:57] SiqingYu opened #422 "C1083 Cannot open include file: "Python.h": No such file or directory"
I am following this post: [Creating a C++ extension for Python](https://docs.microsoft.com/en-us/visualstudio/python/cpp-and-python)
I have installed VS2017 on my fresh new Windows10LTSB system, with Desktop development with C++ and Python Development (including Python native development tools) workloads, following [Installing Python support in Visual Studio on Windows](https://docs.microsoft.com/

[2018-01-04 15:49] kraigb commented on #397
I've clarified in the table that it applies to the module name used in from...import statements, and elaborated further in step 4 to provide examples. If this isn't sufficient, you can reopen this issue. Thanks.

[2018-01-04 15:49] #397 closed

[2018-01-04 19:10] kraigb commented on #422
I believe I neglected the step of making sure that the folder containing python.h is set in the project properties under "C/C++ > General > Additional Include Directories". In my test project I have "c:\python36-32\include" there, which is pointing to where Python is installed. (If you installed Anaconda, it might be in something like c:\Anaconda3\include.)

In your case it should be "c:\program f

[2018-01-05 00:08] squillace opened #424 "Well, this works fairly well as feedback!"
Just trying out the feedback mechanism. I like it! Would like to use twitter, live id, or linkedin as well, but hey....

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9290996a-853e-bfcc-5e4a-d8746f453620
* Version Independent ID: faae284e-2f81-6f6f-c437-0bd8c959dd2b
* [Content](https://docs.microsoft.com/en-us/visualst

[2018-01-05 00:09] #424 closed

[2018-01-05 02:04] SiqingYu commented on #422
BTW, in the C++ superfastcode project property, what platform should be set?
I have **Active(Win32)**, **Win32**, **x64** and **All Platforms**.

[2018-01-05 02:17] SiqingYu commented on #422
I created a C++ Empty Project, and followed the tutorial.
The Python.h header file was included, but there were other problems:
[code]

[2018-01-05 02:17] resun555 opened #425 "Undeclared Identifier 'Textox'"
To the Author, you might have note that 'TextBox control with Stretch property'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e155a58-40dd-c4f9-5089-dabc1870c5a8
* Version Independent ID: e257ebf0-4506-408f-c078-18a35820fe60
* [Content](https://docs.microsoft.com/en-us/visualstudio/ide/step-5-add-controls-to-your-for

[2018-01-05 02:21] resun555 opened #426 "Undeclared Identifier 'TextBox'"
To the Author, you might have note that 'TextBox control with Stretch property' misappeared occasionally under Step 7.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e155a58-40dd-c4f9-5089-dabc1870c5a8
* Version Independent ID: e257ebf0-4506-408f-c078-18a35820fe60
* [Step 5: Add controls to your form](https://docs.mic

[2018-01-05 02:30] SiqingYu commented on #422
I found this post [Creating a C++ extension](https://stackoverflow.com/questions/46289978/creating-a-c-extension-for-python) for Python and retarget the C++ project target platform to x64 in the Solution Property and solved the problem.

[2018-01-05 02:33] resun555 opened #427 "the last cell in the PictureBox -> the last cell in the TableLayoutPanel"
Dear Author @ghogen, @Saisang, @gewarren, @Mikejo5000, @mikeblome,

Please read twice before you publish the documentation. Step 8, you might refer to adding a new control to the last cell in the TableLayoutPanel instead of the PictureBox. No cells within the PictureBox.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0

[2018-01-05 17:55] gewarren commented on #425
Dupe of #426

[2018-01-05 17:55] #425 closed

[2018-01-05 18:56] MisinformedDNA opened #428 "Permissions?"
What permissions are needed to do this? I need to know what to request from our Infrastructure team.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 37c9f861-f61b-0262-3763-1ed266a057c0
* Version Independent ID: 69f80401-52f7-70b6-e37d-7eba1a3bf1ca
* [Content](https://docs.microsoft.com/en-us/visualstudio/debugger/debug

[2018-01-06 00:11] kraigb commented on #422
You should set the C++ project to match the architecture of your Python installation (32 or 64 bit). The LNK4272 message says as much, that your Python libraries are x64 and you were compiling for x32. That said, I think you do run run into trouble, as your StackOverflow post mentions, if using the setup.py method to compile the DLL, as I believe that route needs you to use x32.

[2018-01-06 00:16] kraigb commented on #422
Check the edits I've made to the topic in https://github.com/MicrosoftDocs/visualstudio-docs-pr/pull/1221/files#diff-1519016a518e16173e06254c42482dec. If those changes aren't sufficient, please reopen this issue and provide details.

[2018-01-06 00:16] #422 closed

[2018-01-06 11:03] brettc89 opened #429 "Can not find ActivityLog.xml"
In the folder "%AppData%\Microsoft\VisualStudio\15.0" I have ActivityLog.Setup.xml and ActivityLog.xsl. Neither has the information that ActivityLog.xml is supposed to have.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72794642-353e-46e5-c822-f471b5ef65b4
* Version Independent ID: 391aac5d-2695-9344-828e-8d5e8b9a334b

[2018-01-06 11:44] dasMulli commented on #407
for context: This property only works in SDK-based projects but is especially needed when multi-targeting and the `DocumentationFile` property needs to be set differently for the inner builds.

Implementation: https://github.com/dotnet/sdk/blob/35471d2fa7d6ce4a94035f08c5661ea722299a08/src/Tasks/Microsoft.NET.Build.Tasks/build/Microsoft.NET.Sdk.BeforeCommon.targets#L161-L184

[2018-01-07 10:47] milligna opened #430 "Doesn't appear applicable to Visual Studio 2017 for Mac"
I can't find a word wrap option or an options menu item under "tools" in Visual Studio 2017 for Mac.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 00e3e8d0-48c3-3df6-8aeb-acd9624ffcd5
* Version Independent ID: 13f5da30-9f06-236f-4110-b6a172c52d1f
* [Content](https://docs.microsoft.com/en-us/visualstudio/ide/reference/

[2018-01-07 11:58] svick commented on #407
As far as I can tell, properties specific to SDK-based projects are documented in [Additions to the csproj format for .NET Core](https://docs.microsoft.com/en-us/dotnet/core/tools/csproj). Does that mean the `GenerateDocumentationFile` property should be documented there and not in `common-msbuild-project-properties.md`?

[2018-01-07 12:02] dasMulli commented on #407
Maybe.

I'm not very happy that this document is so specific about .NET Core. but since there aren't any inbox templates (yet?) for .NET Framework SDK-based projects, it's probably okay.

cc @mairaw

[2018-01-07 23:28] residentx10 opened #431 "Visual Studio 2017 vs. Visual Studio 2017 Test"
Can you add some documentation that provides some guidance and when to each? Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f6f8f88-052e-5589-e047-6c2395922364
* Version Independent ID: 78e7c469-cca5-9c74-4578-7fcac33b994d
* [Content](https://docs.microsoft.com/en-us/visualstudio/ide/whats-new-in-visual-studio

[2018-01-08 06:35] zako16 opened #433 "Mistake"
Please, you forgot character Visual Sudio Enterprise = >  Visual Studio Enterprise

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c989e4cf-29c4-6cf6-056f-00feca0a6ba1
* Version Independent ID: e6da849a-abd0-de96-d6b5-c94a02ba98de
* [Content](https://docs.microsoft.com/en-us/visualstudio/modeling/create-uml-modeling-pro

[2018-01-08 08:55] james242 opened #434 "Online converter tool"
There are a few online JSON to CSV converters available if you just need to parse a JSON file without automation.

For example: https://json-csv.com (also useful for debugging purposes).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0546edcb-73f7-f7f4-3d31-b6704916bbc1
* Version Independent ID: fb0b92e0-2d25-9d12-43f3

[2018-01-08 13:40] Diche-Bach opened #435 "More detailed information on how to manipulate and/or create/recreate solution files would be salutary"
For example:
http://www.onjava.com/pub/a/dotnet/excerpt/vshacks_chap1/index.html?page=4

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9eb0873f-6486-57fb-93db-1bc662cbbfca
* Version Independent ID: 91f46431-09ff-2f01-bd20-e8e1a9490a0b
* [Content](https://docs.microsoft.com/en-us/visualstudio/ide/reference/project-and-s

[2018-01-08 18:44] gewarren commented on #430
@asb3993 can you help out with this question about word wrap in VS for Mac?

[2018-01-08 18:48] gewarren commented on #431
@residentx10 can you clarify your question? There is not a separate Test edition of Visual Studio 2017.

[2018-01-08 18:55] gewarren commented on #433
@zako16 thank you, i will fix it this week.

[2018-01-08 18:57] gewarren commented on #434
@Mikejo5000 Should this info be added to the topic?

[2018-01-08 18:58] asb3993 commented on #430
Hi @milligna, there is currently no support for the in Visual Studio for Mac

[2018-01-08 18:58] #430 closed

[2018-01-08 18:59] gewarren commented on #435
@Diche-Bach Thanks, I will see if there's more information that can/should be added to the topic.

[2018-01-08 19:06] Mikejo5000 commented on #434
@gewarren Yes, I can add that to the topic

[2018-01-08 20:25] aggarwaldeepak opened #437 "Typo in jumps in example 2"
Correct output should be:
quick The fox brown over jumped lazy the dog.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f388cb9c-f4c6-9ea8-c405-703695eda459
* Version Independent ID: d23b22ae-d53e-83d5-11d2-021052c816ef
* [Content](https://docs.microsoft.com/en-us/scripting/javascript/reference/replace-method-string-jav

[2018-01-08 23:16] #437 closed

[2018-01-09 11:03] KennethThomasRose opened #442 "Excellent Introduction"
The first tutorial in the Visual Studio Documentation is at exactly the right level for an experienced programmer to get a feel for the development environment

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b2376dee-30e0-850f-7572-6d32b351be3f
* Version Independent ID: 9c06f47f-8195-4736-3575-fffe1c51f763
* [Content](h

[2018-01-09 11:16] doctordns opened #443 "Great job moving feedback!"
Just a small thank you for moving the comments as you have. I kind of expected to see 'give documentation feedback' take me to GitHub. It's not overly clear from the UI, how I follow up on any comments I make (but I found it nevertheless!).

A small point but a great move forward!

When will the rest of the docs be like this???

---
#### Document Details

⚠ *Do not edit this section. It is require

[2018-01-09 13:57] sharmaayush opened #445 "Correction in for each loop"
m.forEach(function (value, key, mapObj) {
    document.write(item.toString() + "<br />");
});

This should like below code because if we copy the code and will run it the item.toString() will give undefined.

m.forEach(function (value, key, mapObj) {
    document.write(value.toString() + "<br />");
});

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2018-01-09 16:55] plntxt opened #446 ".NET Core Export Project Requires Hand Edit of Project File"
It's worth a note here, that you need to hand-edit the .csproj file if you are <a href="http://plntxt.com/blog/creating-visual-studio-project-templates-targeting-.net-core.html">exporting a project template that targets .NET core.</a>  The reason being is that with .NET Core, <a href="https://github.com/dotnet/core/blob/master/release-notes/1.0/sdk/1.0-rc3-default-compile-items.md">includes/exclud

[2018-01-09 17:43] MisinformedDNA opened #447 "Azure Permissions"
What permissions are needed to debug? What should I request from my admin?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a5f13f80-a3b0-9602-db14-48130d47ef7c
* Version Independent ID: 96ee1b24-bc43-5e46-f645-f4ccfe9f1ba1
* [Content](https://docs.microsoft.com/en-us/visualstudio/debugger/debug-live-azure-applications)

[2018-01-09 17:44] MisinformedDNA commented on #447
Duplicate of #428

[2018-01-09 17:44] #447 closed

[2018-01-09 18:07] gewarren commented on #442
@KennethThomasRose thanks for leaving this nice feedback for @TerryGLee !

[2018-01-09 18:10] gewarren commented on #445
@sharmaayush thanks for finding this error. @Mikejo5000 can you make this change please?

[2018-01-09 18:11] gewarren commented on #446
@plntxt thanks for letting me know about this. I will update the topic.

[2018-01-09 21:17] leehu commented on #397
Hi. I'm getting stuck as there's no defition for PyModuleDef in Python.h so I can't get past this step. Any ideas? thx

[2018-01-09 21:45] kraigb commented on #397
First, where is your python.h coming from? You'll want to make sure there's not another file with the same name that's being picked up instead of the proper one.

Second, Python.h pulls in a variety of other header files; the one with PyModuleDef is moduleobject.h, which should be in the same include folder as python.h. In other words, do a search in the folder where python.h is for PyModuleDef an

[2018-01-09 22:01] leehu commented on #397
\Python27\include is where I'm including it from. I've just reinstalled the version that comes with VS17 and now even PyObject is not defined. Not sure what's going on, but something is broken somewhere,

[2018-01-09 22:08] leehu commented on #397
ah,  maybe that's it. No, I haven't tried 3.6 as I need to run a module against Python 2.7 so figured that wouldn't run a 3.x extension. I've checked the 2.7 header files and there is no PyModuleDef - must have been added for 3.x

[2018-01-09 22:19] kraigb commented on #397
In that case, take a look at https://docs.python.org/2.7/howto/cporting.html, which shows the changes for module definitions between 2.7 and 3.x. I'll add a note with that link to the article here.

[2018-01-09 22:30] kraigb commented on #397
I don't know of anything; looking at https://docs.python.org/2.7/extending/building.html, running setup.py in some manner seems to be a requirement. But you could ask on StackOverflow as someone in the wider community might have experience with this detail.

[2018-01-09 22:38] Mikejo5000 commented on #445
Working on it

[2018-01-09 23:05] nikhilrj commented on #428
@MisinformedDNA as of now, the Azure App Service you would like to debug must be visible to the user that wants to attach the Snapshot Debugger. This can be achieved by setting your access level to "Contributor" or higher in the Access Control (IAM) page on the relevant App Service on the Azure portal.

[2018-01-09 23:07] nikhilrj commented on #447
As answered in the dupe,

"as of now, the Azure App Service you would like to debug must be visible to the user that wants to attach the Snapshot Debugger. This can be achieved by setting your access level to "Contributor" or higher in the Access Control (IAM) page on the relevant App Service on the Azure portal."

[2018-01-10 01:56] seanmcbreen opened #449 "The first link on this page is broken to download VS 2017 https://www.visualstudio.com/vs/visual-studio-2017/"
Need an updated link.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9290996a-853e-bfcc-5e4a-d8746f453620
* Version Independent ID: faae284e-2f81-6f6f-c437-0bd8c959dd2b
* [Content](https://docs.microsoft.com/en-us/visualstudio/ide/visual-studio-ide#install-the-visual-studio-ide)
* [Content Source](https://github.com/Mi

[2018-01-10 06:14] TerryGLee commented on #449
@seanmcbreen We will investigate this right away.

[2018-01-10 07:21] TerryGLee commented on #449
@seanmcbreen We have a PR in place that should have the broken link fixed with tomorrow's daily publish. After we verify that the fix is live, we'll close this Issue.

Thanks for bringing this to our attention.
~ Terry

[2018-01-10 08:42] LiaoXP opened #450 "If the debitAmount value is valid (i.e., less than the balance but greater than zero,...."
when we need to consider this? The method Debit_WhenAmountIsMoreThanBalance_ShouldThrowArgumentOutOfRange() suppose to provide test input debit value more than balance, when it is not, it's correct logic to not cause the test method to fail.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b98c1d2a-1393-21d2-58c1-ff01d9a

[2018-01-10 10:51] TerryGLee commented on #333
@iskiselev Thanks for reporting this. We've fixed the issue, and it will release with the upcoming Visual Studio 2017 version 15.6 release.

[2018-01-10 10:51] #333 closed

[2018-01-10 11:28] aykutkardas opened #451 "p3 is not defined"
var p1 = new Promise(function(resolve, reject) {
    setTimeout(resolve, 0, 'success');
});
var p2 = new Promise(function(resolve, reject) { });
var p2 = new Promise(function(resolve, reject) { }); // <- var p3 = ...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 60e916a9-a712-6b37-b914-ffe26cf3d5e4
* Version Independe

[2018-01-10 17:02] drewski19 opened #452 "Array Object with Expando Property Example"
Is the Expando Property example correct? There are no integer properties given in the ARR object initialized in the first line of the code.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9d864d2f-da04-407f-6c67-e6b95f139463
* Version Independent ID: 56a7bdb6-95b0-ede6-de02-4c17a5330d60
* [Content](https://docs.microsof

[2018-01-10 17:42] gewarren commented on #449
I'm not seeing that the link is broken. I wonder if that site was down yesterday?

[2018-01-10 17:44] gewarren commented on #451
@Mikejo5000 this looks like an easy fix. How come the scripting docs don't have an Edit button for customers to fix issues like this in the docs?

[2018-01-10 17:45] gewarren commented on #443
@ghogen can you comment on if/when the rest of the docs will have the same feedback mechanism?

[2018-01-10 17:45] #442 closed

[2018-01-10 17:48] ghogen commented on #443
@EisenbergEffect for the feedback about the UI.

This is a pilot program on VS, but we expect to refine the mechanism based on feedback and roll it out across the docs.microsoft.com site by the end of March.

[2018-01-10 18:35] Mikejo5000 commented on #451
@gewarren They should have an Edit button. I think this issue was fixed before and regressed. I'll look into it.

[2018-01-10 19:06] gewarren commented on #451
I'm adding the Edit button now. It should be available on the scripting topics tomorrow.

[2018-01-10 19:42] Mikejo5000 commented on #451
I didn't see your comment until just now. I just changed the config setting in the public repo to fix it at next merge to live.

[2018-01-10 21:55] seanmcbreen commented on #449
The link has been updated now and is correct/working.

[2018-01-10 21:55] #449 closed

[2018-01-11 02:28] EisenbergEffect commented on #443
Hey @doctordns Thanks for the feedback. As @ghogen states, we're basically piloting this new experience on just a couple of repos now so that we can iron out the kinks, get some customer feedback and make minor improvements/enhancements before we roll it out more broadly. Assuming the pilot does go well, we'll absolutely be making this the new feedback mechanism across all of docs. We'll be puttin

[2018-01-11 11:00] cryophobia opened #454 "Update the vsmac uninstall step to also delete contents from ~/Library/Application\ Support/VisualStudio/7.0/LocalInstall/Addins/"
~/Library/Application\ Support/VisualStudio/7.0/LocalInstall/Addins/ may include local installed add-ins. Add-ins not installed via the installer, but manually by the developer.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 030a8363-a4d4-9391-0fc2-554656b905fc
* Version Independent ID: 4a056ae9-03cb-074f-cffa-037f780d

[2018-01-11 18:12] Mikejo5000 commented on #452
Tested the expando example and it works correctly; by default, the element index is used as the property name for the enumerable values.

[2018-01-11 18:14] gewarren commented on #451
@aykutkardas thanks for addressing this with #453 .

[2018-01-11 18:14] #451 closed

[2018-01-11 18:17] Mikejo5000 commented on #428
No doc update planned for this. Closing.

[2018-01-11 18:17] #428 closed

[2018-01-11 19:27] EisenbergEffect commented on #443
@doctordns I've noticed some of these inconsistencies. There may be a few different causes. Can you link me to a few examples where you are not seeing the contributors listed? I'd like to investigate.

[2018-01-12 03:29] mikgam opened #455 "How about a link to the Developer Community?"
Nice article that talks about how to log into the site, and do stuff.  How about including a link to the site that you are trying to direct people to?   https://developercommunity.visualstudio.com

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d648cd73-34e8-1a47-35cc-3c5a1ff9f8f5
* Version Independent ID: a02d528a-85f7

[2018-01-12 12:27] mayurshedage opened #458 "Need to update getOwnPropertySymbols Example"
From:

var obj = {};
var key = Symbol('description');

obj[key] = 'data';

var symbols = Object.getOwnPropertySymbols(obj);

console.log(s[0].toString());

To:

var obj = {};
var key = Symbol('description');

obj[key] = 'data';

var symbols = Object.getOwnPropertySymbols(obj);

console.log(symbols [0].toString());

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2018-01-12 18:05] gewarren commented on #455
@TerryGLee can you take a look please?

[2018-01-12 18:06] gewarren commented on #458
@mayurshedage Thanks for reporting this. If you'd like to take a stab at fixing the example yourself, there's an Edit button near the top-right of the page. We'd love to have you contribute!

[2018-01-12 19:05] StingyJack commented on #408
Fwiw, I didn't forget, I just don't want to inundate you with a large wall of text.

[2018-01-12 19:44] EisenbergEffect commented on #408
LOL No problem @StingyJack

Also, I've got some good news for you. Our engineers were able to switch our GitHub integration to using a newer app model that GitHub provides. Initially, they didn't think this was possible. The result of this is that we are now able to ask for "exactly" the permissions for Issues only and nothing else 😄 It's already live on the VS IDE docs. We shipped it last night.

[2018-01-12 19:51] StingyJack commented on #408
This necessary access list has definitely been corrected.
![image](https://user-images.githubusercontent.com/15381181/34892370-09e7baf8-f7a7-11e7-9386-bcce43a8019c.png)

I can use this, but really I've done far too much involuntary testing for MSFT this past year (closing in on 300 reported issues @~ 2 working months of delays) and I didn't even get the proverbial "stupid T-Shirt".

If you all cou

[2018-01-12 19:53] StingyJack opened #459 "How does one replace the existing "Clean" target?"
I have a powershell script that will properly clean all the output directories and not just some of them. I'd like to be able to invoke it for whatever the current project or solution is instead of having to add targets in each project. Is this possible?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 868d865b-89d9-ec87

[2018-01-12 20:33] asb3993 commented on #454
I spoke to @cryophobia about this, the  information in the doc should already cover this. Closing

[2018-01-12 20:33] #454 closed

[2018-01-12 21:02] EisenbergEffect commented on #408
@StingyJack I understand completely. Thank you for all the contributions you've made over the months. As an open source project leader (outside of Microsoft) I understand the amount of time and work that community members often dedicate to others. With respect to this particular feature of the feedback system, feedback from a customer like you is one of the most powerful tools that I have to convi

[2018-01-12 23:16] #408 closed

[2018-01-13 00:26] Mikejo5000 commented on #458
Fix added to https://github.com/MicrosoftDocs/visualstudio-docs-pr/pull/1263. Waiting to close until fix is merged

[2018-01-13 00:30] Mikejo5000 commented on #445
@sharmaayush Fix live. Closing. Thanks!

[2018-01-13 00:30] #445 closed

[2018-01-13 00:31] Mikejo5000 commented on #452
Closing

[2018-01-13 00:31] #452 closed

[2018-01-13 00:32] Mikejo5000 commented on #434
Added to the Exceptions section in the discussion about JSON validation.

[2018-01-13 00:32] #434 closed

[2018-01-14 12:00] Stannieman opened #460 "Remove Visual Studio Installer"
In containers you probably never want to update/modify the installed build tools, but instead just build a new image. Because of that it would be nice to uninstall the VS Installer after the build tools are installed to keep image size down. I tried to run '"C:\Program Files (x86)\Microsoft Visual Studio\Installer\vs_installer.exe" /uninstall' which is the uninstall string found in the registry, b

[2018-01-14 17:36] gewarren commented on #460
@TerryGLee can you ask someone on the product team?

[2018-01-16 08:57] takasurazeem opened #462 "Any update?"
Any update on the offline installer?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5cd139e6-bbd6-4c1a-1b40-5abd63031a9a
* Version Independent ID: bc91c619-c340-40e6-9c55-8c496eb24da5
* [Content](https://docs.microsoft.com/en-us/visualstudio/mac/create-offline-installer)
* [Content Source](https://github.com/MicrosoftD

[2018-01-16 14:07] SCordesHum opened #463 "Document errata"
Topic: https://docs.microsoft.com/en-us/visualstudio/test/walkthrough-creating-and-running-unit-tests-for-managed-code

"In the Name box, enter BankTest" should be "BankTests".
"Add a reference to the Bank solution."  "Solution" should be "project".
The "using BankAccountNS" statement came across from the copied sample code, so the user does not need to be instructed to add it again later.
Should

[2018-01-16 17:47] TerryGLee commented on #460
Acknowledged; I'll check in with the appropriate parties and report back.

[2018-01-16 20:05] gewarren commented on #462
@asb3993 Can you provide an update?

[2018-01-16 20:07] gewarren commented on #463
@SCordesHum Thanks for pointing out these errors. Most of the testing topics need a good refresh at this point. It's on my to-do list.

[2018-01-16 21:40] dgnuff opened #464 "Cleaning up IDXGraphicsAnalysis* pGraphicsAnalysis; at the end of program execution."
Since IDXGraphicsAnalysis inherits from IUknown it might be worthwhile adding a note as to whether pGraphicsAnalysis->Release(); should be called at program termination or not.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3fd29d8e-9ab8-965c-a14c-24c0137764f4
* Version Independent ID: 9f6e8219-83db-fd9d-0494-e202a36d7

[2018-01-16 21:46] dgnuff opened #465 "Suggest a note be added re what library to link in."
For the above code snippets to work, it is necessary to link dxgi.lib into your program to resolve the otherwise undefined call to DXGIGetDebugInterface1().

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3fd29d8e-9ab8-965c-a14c-24c0137764f4
* Version Independent ID: 9f6e8219-83db-fd9d-0494-e202a36d7a15
* [Content](http

[2018-01-17 01:07] gewarren commented on #391
@ptoye thanks for creating this issue. I am updating the topic and it should be live in a couple days. I fixed the broken links (thank you!). The auto-hide option is still applicable. Also, you will not see any tabs in Toolbox if you are in a project type where Toolbox items are not applicable - e.g. a console application. To see the tabs, create something with a designer, for example a Windows Fo

[2018-01-17 01:07] #391 closed

[2018-01-17 03:09] BensonWang743 opened #466 "TEST"
TEST

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9dd4d05c-4aa3-0376-f3a1-b0ea0793f482
* Version Independent ID: 7f1ff943-61b0-60e1-9ca3-d4a84bfdb068
* [Content](https://docs.microsoft.com/en-us/visualstudio/install/install-visual-studio)
* [Content Source](https://github.com/MicrosoftDocs/visualstudio-docs-pr/blob/l

[2018-01-17 03:11] #466 closed

[2018-01-17 12:03] mpoupe opened #467 "void FreeAndNull(char** ch);"
Function declared as void FreeAndNull(char* ch);  cannot change its parameter.
I propose a fix as:
void FreeAndNull(char** ch);

void test( )
{
  char *pc = (char*)malloc(5);
  FreeAndNull(&pc);
  __analysis_assume(pc == NULL);
  f(pc);
}

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc8501a5-3dc2-5bb0-6457-48c36866cc

[2018-01-17 17:36] nickuhlenhuth commented on #387
Hi @gazette2 ,
Please follow the instructions for [Setting a Time-Out  Period for All Tests](https://msdn.microsoft.com/en-us/library/ms243175.aspx#Anchor_0). Hopefully this solves your problem!
If you don't feel like the above solution addresses your needs, please feel free to file an issue on our [UserVoice](https://visualstudio.uservoice.com/forums/121579-visual-studio-ide).
Cheers!

[2018-01-17 20:10] mikeblome commented on #387
The latest docs are actually here: https://docs.microsoft.com/en-us/visualstudio/test/unit-test-basics . On the right you'll see a link to the heading called "Set timeouts for unit tests". Please let us know if there's something missing there!

[2018-01-17 21:36] heaths commented on #460
The Installer is not installed, really. Deleting the Installer folder is all you need to do.

[2018-01-17 21:55] mairaw opened #468 "Missing some info"
Hi @gewarren, I found the topic I was looking for but I've noticed it's missing a few things for me to be able to link to it.

For example:
- it doesn't show how to suppress compiler warnings for specific NuGet packages referenced by the project via Package Properties or edit the project file
- On a new VB .NET Core project, the NoWarn attribute cannot be found by default. I think you have to add

[2018-01-17 22:00] gewarren commented on #468
@mairaw thanks, i'll try to fix it this week.

[2018-01-17 22:30] EdSF opened #469 "Keyboard Shortcuts"
Any reference to keyboard shortcuts for the above? Or perhaps an (easier) way to simply invoke Terminal in the root directory of the project/solution (so users don't have to navigate the file system to get to it) and work with git that way?

TLDR; just like how it is in VS Code?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2018-01-17 22:46] mairaw commented on #468
Thanks @gewarren. Some of this can be found on this blog post: https://blogs.msdn.microsoft.com/dotnet/2017/08/14/announcing-net-standard-2-0/ (see section Reusing an existing .NET Framework library). So you can either suppress the warning globally on your project (as already covered in the topic) or per package.

[2018-01-18 18:12] gewarren commented on #469
@asb3993 can you respond to this VS Mac question?

[2018-01-19 09:27] mercadder opened #470 "update?"
latest version (1.19.2) is different  :(

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 584ac5ab-9547-f2d8-6186-783520b9e1ef
* Version Independent ID: 1f76cf76-b4b8-4cbb-c4ed-1c6a6f2130bd
* [Content](https://docs.microsoft.com/en-us/visualstudio/mac/editor-themes)
* [Content Source](https://github.com/MicrosoftDocs/vis

[2018-01-19 18:52] #400 closed

[2018-01-19 19:09] asb3993 commented on #469
There aren't any keyboard shortcuts configured for the version control menus by default.

There's a right click context menu in the solution window `Tools - Open in Terminal`, but it's not working as expected so we've filed a bug for it! Hopefully it should be fixed for the next release.

[2018-01-19 19:09] #469 closed

[2018-01-19 19:13] asb3993 commented on #470
Hi @mercadder, I'm using the latest stable version of Visual Studio Mac (7.3.3) and it matches the information in the guide.

Are you using Visual Studio Code? If so, you're looking at the wrong guides. For themes in Visual Studio Code, visit this guide: https://code.visualstudio.com/docs/getstarted/themes

[2018-01-19 19:13] #470 closed

[2018-01-19 19:20] EdSF commented on #469
Thank you - yes, that menu item opens terminal and at least in my case,
logs out - nothing you can really do with it.

On Fri, Jan 19, 2018 at 11:09 AM, Amy Burns <notifications@github.com>
wrote:

--
Cheers,
Ed Chavez
(415) 225-6081

[2018-01-19 19:38] TobiasKnauss opened #472 "relation between rule sets"
It is unclear whether some rule sets base on others and enhance them (this seems to be the case, e.g. because CA1001 is part of multiple sets), or if every rule set stands for its own.
Thus please add more information and a comparison chart for all rule sets.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e012f579-4db6

[2018-01-19 20:02] asb3993 commented on #469
@EdSF I've made sure the engineering team are aware of it. I know this doesn't really answer your initial question, but thank you for finding the bug so that we can make this workflow easier in future!

[2018-01-19 21:59] TerryGLee commented on #460
@Stannieman Does the response from HeathS answer your inquiry?

[2018-01-19 23:52] seraptoufektsi commented on #468
Ananızın amına koyayım Serap seninde amına koyayım

iOS için Outlook<https://aka.ms/o0ukef> uygulamasını edinin
________________________________
From: Maira Wenzel <notifications@github.com>
Sent: Wednesday, January 17, 2018 10:46:40 PM
To: MicrosoftDocs/visualstudio-docs
Cc: Subscribed
Subject: Re: [MicrosoftDocs/visualstudio-docs] Missing some info (#468)

Thanks @gewarren<https://github.com/gew

[2018-01-20 06:52] nengherr opened #474 "BACK"
visual studio interpris not install

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d648cd73-34e8-1a47-35cc-3c5a1ff9f8f5
* Version Independent ID: a02d528a-85f7-00f6-cf00-3416713ed4d9
* [Content](https://docs.microsoft.com/en-us/visualstudio/ide/how-to-report-a-problem-with-visual-studio-2017)
* [Content Source](https:/

[2018-01-20 10:53] ZeroComfort opened #475 "Fails to compile"
This tutorial fails to compile after updating the <ListBox> control, which is right before replacing the custom constructor for the Report Page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc46effb-7f50-917a-5a68-fc1654d7cfb5
* Version Independent ID: 17a9b615-4ff9-bde5-9600-84000ffaf2f0
* [Content](https://docs.mic

[2018-01-20 11:45] Stannieman commented on #460
@TerryGLee sorry for the late response but yes, the answer is clear and I know what to do!

[2018-01-21 21:06] garnetr opened #476 "How to build the actual command line executables from the IDE"
This article doesn't tell how to create the HelloWorld.exe from the IDE.  I would like to see explicit instructions for creating Windows, Mac, and Linux target executables from the IDE.

I have tried options in the build menu, and none of them resulted in an .EXE getting created. I dont want to build the .exe from the commandline right now, because eventually the project will have many different m

[2018-01-21 22:52] Victex commented on #442
@ Bob LaBonte - 1st one that I tried and succeeded to finish with VS2017 Community - Worked Great Thanks Only problem, had no vertical lines in the About.cshtml

[2018-01-22 03:27] catfishfishcat opened #477 "I personally want to thank all of you for your services"
Much appreactiated.

-Catfish-

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 92764c94-7850-82b9-d54d-9b55fc7c271b
* Version Independent ID: c0fef252-5e8d-93c3-1c63-029fb511d81a
* [Content](https://docs.microsoft.com/en-us/visualstudio/ide/microsoft-help-viewer-installation)
* [Content Source](https://github.com/Micros

[2018-01-22 15:18] ItrelAtRevolution opened #479 "VS2017 F1 documentation for C# keyword nameof lands here"
Using nameof(constructorArgument) from within a class constructor for passing the name of the argument to a new InvalidArgumentException.
Just double checking the usage of nameof landed me here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a28ee58-bd99-e74a-0c0c-30f5a41da08e
* Version Independent ID: 2467c672-a567-5

[2018-01-22 16:06] mercadder commented on #470
perhaps you want to name Visual Studio, Visual Studio IDE.

you are welcome :)

[2018-01-22 16:44] nokura commented on #176
Issue is fixed. pt-br=> en-us. Thank you for your patience.

[2018-01-22 18:44] gewarren commented on #479
@yunyunyunyun I was told you are the contact person for fixing F1 issues. In this case, the nameof keyword in C# is not sending the right query string. Can you address this?

@ItrelAtRevolution thanks for letting us know how you landed on this page. That will help us fix the issue.

[2018-01-22 18:46] gewarren commented on #477
@catfishfishcat Thank you!

[2018-01-22 19:16] gewarren commented on #476
@garnetr thanks for the feedback. The quickstart you were looking at is not intended to go into detail about build targets. However, pressing F5 will build an executable for you. If you build your project (Build menu > Build Solution), and then look in the Output window, it will tell you where your executable is, e.g.:

1>------ Build started: Project: NotInToc, Configuration: Release Any CPU ----

[2018-01-22 19:17] gewarren commented on #475
@ZeroComfort Thanks, I'll see if the directions need to be updated.

[2018-01-22 19:19] gewarren commented on #474
@nengherr It sounds like you are having an issue installing Visual Studio Enterprise. Please enter your installation issue here: https://developercommunity.visualstudio.com/.

[2018-01-22 19:20] gewarren commented on #472
@TobiasKnauss Thanks for the feedback. I'll add this to the backlog of things we need to address.

[2018-01-22 19:23] gewarren commented on #463
@pvlakshm can you take this one?

[2018-01-22 19:27] gewarren commented on #450
@pvlakshm can you take this one?

[2018-01-22 19:27] gewarren commented on #419
@pvlakshm can you take this one?

[2018-01-22 20:33] TerryGLee commented on #442
@ Bob LaBonte - Do you mean that you don't see vertical lines in the code window? If so, here's how to get them to show: From the **Tools** menu, click **Options**. Expand **Text Editor**, click **General**, and then click to select **Show structure guide lines**.

[2018-01-22 20:35] TerryGLee commented on #460
@Stannieman Thanks; I'll close this, then. :)

[2018-01-22 20:35] #460 closed

[2018-01-23 16:14] evil-shrike opened #481 "What's the Visual Studio ModelBus Extension?"
It's unclear where Visual Studio ModelBus Extension should be downloaded from. There's no such an extension in Visual Studio Marketplace.
The link "Visualization and Modeling SDK." (http://go.microsoft.com/fwlink/?LinkID=185579) just leads to VS landing page - https://www.visualstudio.com/. Useless.

There's no such operation in generated Dsl models from templates from Modeling SDK.
Modeling SDK h

[2018-01-23 18:41] gewarren commented on #481
@evil-shrike Yes, these docs are out-of-date and I apologize for that. The most up-to-date info on the Modeling SDK is [here](https://blogs.msdn.microsoft.com/devops/2016/12/12/the-visual-studio-modeling-sdk-is-now-available-with-visual-studio-2017/).

[2018-01-23 18:42] #477 closed

[2018-01-23 18:42] #476 closed

[2018-01-23 20:57] calvinhsia opened #483 "Show how to suppress Code Analysis for Managed Code Warnings"
Please show how to suppress these warnings quickly: migrating a project suddenly yields thousands of errors and I'm initially unproductive because of these errors

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b84d427d-0ae4-f380-c544-041141e6c541
* Version Independent ID: a4601b4b-bbda-3502-4bbc-e66367781bce
* [Content

[2018-01-23 22:00] gewarren commented on #476
Also, here is more information about using Visual Studio 2017 for [Linux ](https://www.visualstudio.com/en-us/productinfo/vs2017-compatibility-vs#a-iddeveloplinux-avisual-studio-2017-support-for-linux-development) and [MacOS](https://www.visualstudio.com/en-us/productinfo/vs2017-compatibility-vs#a-iddevelopmacos-avisual-studio-2017-support-for-macos-development).

[2018-01-23 22:33] gewarren commented on #406
@ChrisMaddock thanks for reporting this. It is fixed now.

[2018-01-23 22:33] #406 closed

[2018-01-23 22:45] gewarren commented on #418
Fixed link in https://github.com/MicrosoftDocs/visualstudio-docs-pr/pull/1318.

[2018-01-23 22:49] gewarren commented on #420
@mikeasage thanks for reporting this. I've removed the broken link.

[2018-01-23 23:24] gewarren commented on #433
Fixed in https://github.com/MicrosoftDocs/visualstudio-docs-pr/pull/1314.

[2018-01-23 23:35] ChrisMaddock commented on #406
Thanks @gewarren!

[2018-01-24 00:17] TerryGLee commented on #390
@sryabkov A quick note to let you know that this is still on our radar; we should have a response for you soon.

[2018-01-24 00:20] TerryGLee commented on #455
@mikgam There is a link at the bottom of the page that takes you to the Developer Community: It's the one that says, "Give product feedback." But, we'll add a link to the "See also" section, too. Expect that, soon. Thanks for your input!

[2018-01-24 00:51] sryabkov commented on #390
@TerryGLee Awesome, thank you

[2018-01-24 01:15] TerryGLee commented on #352
Apologies; this fell off the radar. I'll report back when we've updated the page.

[2018-01-24 01:26] #431 closed

[2018-01-24 14:33] alarimer opened #486 "Microsoft Naming Conventions .editorconfig"
The styles .editorconfig (https://github.com/dotnet/roslyn/blob/master/.editorconfig) is linked from documentation (https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference).  It would be great to have the same as it applies to this article and related to Naming Guidelines (https://docs.microsoft.com/en-us/dotnet/standard/design-guidelines/naming-guidelines) for

[2018-01-24 17:51] gewarren commented on #486
@alarimer thanks, I'll add a link to the example file from the naming conventions topic too.

[2018-01-24 23:22] TerryGLee commented on #426
@resun555 Thanks for the feedback! We'll take a look at this and make updates to the page as needed.

[2018-01-25 00:30] #468 closed

[2018-01-25 01:08] #418 closed

[2018-01-25 10:15] TobiasKnauss opened #488 "list of weak types is not complete"
The warning is also given on string-arrays, and also on int-arrays (likely on all arrays of value types).
Please add that including an explanation, why.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b97ee078-36f0-1f9b-cb29-93293989d5f6
* Version Independent ID: 786d0d32-ffdc-a6e5-fcd7-484b04cc3cf1
* [Content](https://

[2018-01-25 18:50] Zoidborg7 opened #490 "There is an error in the examples list for backslash"
In the row with Purpose "Escape the character following the backslash", the middle column contains the wrong character along with what should be the third column's Example text.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b53053a2-c37a-99a8-fdaf-7322de927cf8
* Version Independent ID: 55a43af3-3743-9c8f-bf24-50301db7

[2018-01-26 18:22] mikerayginter opened #492 "Barely Adequate"
Your documentation is horrible.   Once again, smart people doing stupid things.  This explanation is much better:
Passing in a function reference into array.sort()
As touched on already, array.sort() accepts an optional parameter in the form of a function reference (lets call it sortfunction). The format of this function looks like this:
function sortfunction(a, b){
    //Compare "a" and "b" in so

[2018-01-27 00:45] #433 closed

[2018-01-27 06:01] smoroz commented on #433
!!!!

[2018-01-27 06:04] BioTurboNick opened #493 "Out of date - project templates no longer available."
Out of date - project templates no longer available.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df5ae85d-e974-88c9-f530-1833b6862993
* Version Independent ID: b8469a0a-d783-edc1-2097-265ca0ff18b7
* [Content](https://docs.microsoft.com/en-us/visualstudio/test/test-windows-store-8-1-apps-with-coded-ui-tests)
* [Conte

[2018-01-27 06:06] smoroz commented on #492
!!!

[2018-01-28 01:21] mikerayginter commented on #492
I thought I was pretty straight forward with my comments.  I don't
understand your reply any more than I understand your / Microsoft's help
files.  No wonder your help system sucks so much.
Strike another fail for MS!  Perhaps you suck at communication as much as
MS sucks at writing help files.
MG

On Sat, Jan 27, 2018 at 1:07 AM, Sergey Moroz <notifications@github.com>
wrote:

[2018-01-28 16:17] mewiteor opened #494 "一处拼写错误:nMake拼成了nNake"
在“To create a custom build task”中第2项的结尾处

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 970f0d59-b2b4-7082-1c2c-a468c93571ef
* Version Independent ID: a3135966-c343-5a6b-cd97-772a0c34fd93
* [Content](https://docs.microsoft.com/en-us/visualstudio/ide/develop-code-in-visual-studio-without-projects-or-solutions)
* [Conten

[2018-01-29 04:30] MalibuFilm opened #495 "hi"
nice work done

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 010a26f2-c143-8bbd-7268-3c33a1547997
* Version Independent ID: fec2a456-49c1-74f6-b362-24d11a03266f
* [Content](https://docs.microsoft.com/en-us/visualstudio/mac/asp-net-core#installing-net-core)
* [Content Source](https://github.com/MicrosoftDocs/visualstud

[2018-01-29 09:01] Imranonline opened #496 "the Editor Config file is not working on VS 2017 15.5.4"
I added the .editorconfig file with basic settings but its not working in VS 2017 but works with VS Code

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72f45eb4-3596-866a-2c16-ee225737d956
* Version Independent ID: cea055e7-fe9b-95c7-6d25-086f182c01d2
* [Content](https://docs.microsoft.com/en-us/visualstudio/ide/create

[2018-01-29 10:22] heku opened #497 "How to completely remove a menu by code? (remove, not invisible)"
Hi,

In the past days, I was looking for the approach to completely remove a menu which defined in .vsct file, but I find nothing about this. The 'completely' here is mean not make the menu invisible, but remove it by code looks like it never defines in the .vsct file. The background is I'd like some menus(features) in my vs extension can be completely turn on/off by user. Currently, I define thes

[2018-01-29 12:39] HuAaron opened #498 "How to debug a remote C# Service?"
Is there any way to debug a remote c# service? I use installutil.exe to install it. Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4a2fd746-82f7-1bac-9932-27c14cdfe0ca
* Version Independent ID: 46b43a94-b750-2073-5e28-82183af092a9
* [Content](https://docs.microsoft.com/en-us/visualstudio/debugger/remote-debuggi

[2018-01-29 15:33] tbivanspcc opened #499 "I REALLY need this"
As an instructor of Game Development in Unity, I REALLY need to be able to Install VS offline.  Downloading a ~4Gb file on 19 machines is just asking too much of our bandwidth.  why?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5cd139e6-bbd6-4c1a-1b40-5abd63031a9a
* Version Independent ID: bc91c619-c340-40e6-9c55-8c4

[2018-01-29 16:20] TerryGLee commented on #499
@tbivanspcc Perhaps the "Create a network installation of Visual Studio 2017" can help? The URL is https://docs.microsoft.com/en-us/visualstudio/install/create-a-network-installation-of-visual-studio

[2018-01-29 16:34] TerryGLee commented on #499
@tbivanspcc It looks like you're asking for a difference product experience than what is currently offered and described in our offline installation-related content, to include the "Create a network installation of Visual Studio 2017" (https://docs.microsoft.com/en-us/visualstudio/install/create-a-network-installation-of-visual-studio) page. If this is the case, you might want to consider register

[2018-01-29 18:47] rainersigwald commented on #361
The `Deterministic` property was added in https://github.com/MicrosoftDocs/visualstudio-docs/pull/229.

We can easily add the `PathMap` property, but I don't know how to describe it, so I think that's pending on https://github.com/dotnet/docs/issues/1800--once a description for the command-line compiler argument is available we can use the same description for the property, since it basically just

[2018-01-29 21:08] gewarren commented on #493
@BioTurboNick thank you for letting us know. Most of our test documentation needs a good refresh at this point and it's on our to-do list.

[2018-01-29 21:10] gewarren commented on #495
@MalibuFilm @asb3993 thank you for the feedback!

[2018-01-29 21:10] #495 closed

[2018-01-29 21:11] gewarren commented on #496
@Imranonline did you trying reloading your code files? could you share your editorconfig settings?

[2018-01-29 21:16] gewarren commented on #497
@heku thanks for opening an issue. The issues on this GitHub repo are designed for issues in the documentation, not the product. However I will see if our extensibility writer @gregvanl can steer you in the right direction.

[2018-01-30 00:32] heku commented on #497
Thank you, if there is the ability to achieve this, I think it is better to document it.

[2018-01-30 01:25] gregvanl commented on #497
Hi @heku I didn't think that this is possible and I double-checked with the product team to confirm that it isn't supported.
What is unsatisfactory about the Dynamic Visibility approach you are currently using?

[2018-01-30 01:54] heku commented on #497
Thank you, the current solution works without problems. I'm trying to find better solution because I thought the dynamic one might have a little overhead, that VS check the menu's state even if it is turned off.

[2018-01-30 01:56] heku commented on #497
Thanks again, I close this now.

[2018-01-30 01:56] #497 closed

[2018-01-30 07:02] Imranonline commented on #496
# http://editorconfig.org
root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[2018-01-30 07:03] Imranonline commented on #496
^^ this file is saved at the solution level of a default MVC Project

[2018-01-30 09:44] Imranonline commented on #496
The only hack what i found till now to make it work is CTRL + K +D (Format the document) and then it takes the editorconfig values automatically. So on every save i need to format it. Am i missing something ?

[2018-01-30 15:22] comarius opened #501 "Title"
After one run, I have log log off and on on remote machine... Did anyone tested this ?

Severity	Code	Description	Project	File	Line	Suppression State
Error		DEP2100: Cannot copy the file "C:\Users\<my-project>\bin\Debug\project.exe" to the target machine "MACHINE". [0x80070020] The process cannot access the file because it is being used by another process. (Exception from HRESULT: 0x80070020)	my-p

[2018-01-30 15:46] comarius opened #502 "Visual Studio 2017, deploy and debug remotely"
Remote Machine:          Windows 10, factory installed. Plus Remote debugger 2017 for visual studio 2017
Development Machine: VS Professional 2017 and a presentation framework simple project.

1. Project runs and and can be debugged locally.
2. Project deployed remotely from VS, is ok, but after every run/debug remote has to rebooted/ or log-off/on due above issue I post it.
3. Project crashes on

[2018-01-30 16:00] ChrisWFowler commented on #475
<disclaimer>This is the first WPF project I tried so my solution may not be best practices.</disclaimer>

The Datagrid threw the error "The tag 'DataGrid' does not exist in XML namespace".
I had to get the WPFtoolkit with NuGet:
(Install-Package WPFToolkit -Version 3.5.50211.1).
I then added the schema to ExpenseItHome.xaml and App.xaml since they both reference the DataGrid:
(xmlns:wpfTool="http:

[2018-01-30 17:28] comarius opened #503 "Where is this information printed"
Note the address where the crash occurred. ?!?!?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 327e022e-4af2-68dd-c57a-2b9d790a63b9
* Version Independent ID: 62b873c1-1cf6-6b7f-e8ab-d9b9963e4ee0
* [Content](https://docs.microsoft.com/en-us/visualstudio/debugger/how-to-find-which-dll-your-program-crashed-in)
* [Content

[2018-01-30 18:04] gewarren commented on #501
@Mikejo5000 do you know if the log off and on again is required?

[2018-01-30 18:06] gewarren commented on #502
@comarius These issues are designed to address documentation defects, not product questions. We can try to help, but a better place to post product feedback is at https://developercommunity.visualstudio.com/.

[2018-01-30 18:16] Mikejo5000 commented on #501
@comarius Log off and on is not required normally, but is due to some process lock on the file, possibly because of something like multiple instances of VS running, though it may be something else. Here is a StackOverflow post on this error: https://stackoverflow.com/questions/1121386/unable-to-copy-file-reference-dll-to-bin-reference-dll-the-process-cannot-acces

[2018-01-30 20:40] markw-t commented on #496
This does seem to be odd behavior. What type of file are you seeing the problem behavior in, @Imranonline ? (cpp, cs, txt, xml, other...)? I'm wondering if this problem is specific to a particular file format (even though your editorconfig targets all file types).

[2018-01-30 21:17] markw-t commented on #496
I should also say that .editorconfig conventions are only applied on new edits that you make to a file, unless you manually reformat using "Format Document". We don't auto-reformat documents on load to make them conform to the conventions in your .editorconfig file. Are you seeing the formats honored when you type new content into the file(s)?

Thanks
Mark Wilson-Thomas
Program Manager, Visual Stu

[2018-01-30 23:45] TerryGLee commented on #499
@tbivanspcc Here is a link that takes you directly to the Visual Studio for Mac product feedback: https://visualstudio.uservoice.com/forums/563332-visual-studio-for-mac

[2018-01-31 06:12] gewarren commented on #200
@alfredmyers I finally got time to investigate this. It seems that the MessageId property is only used by certain rules, namely legacy (non-Roslyn) rules for violations on a specific symbol (as opposed to executable code). For example, “CA1500:VariableNamesShouldNotMatchFieldNames”, is a naming rule that is always fired on a symbol, so you can use the MessageId property of the suppression attribut

[2018-01-31 06:12] #200 closed

[2018-01-31 08:35] DiablosOffens commented on #121
What's the status of this? I also need to report a bug for VS2015.

[2018-01-31 08:52] Imranonline commented on #496
@markw-t Yes you are correct it doesnt autoformat the content unless i do a "Format Document" but if i start a new code block it works. i was trying with .js and .cs files.

[2018-01-31 08:52] Imranonline commented on #496
Iam open to close this issues may be it was my understanding after reading the docs.

[2018-01-31 18:00] gewarren commented on #496
We do have a [section ](https://docs.microsoft.com/en-us/visualstudio/ide/create-portable-custom-editor-options#adding-and-removing-editorconfig-files)that talks about formatting new code vs. existing code, but I will make it more prominent. Thanks for bringing this up @Imranonline .

[2018-01-31 18:52] markw-t commented on #496
Thanks @Imranonline for bringing this up and confirming the behavior, and @gewarren for improving prominence of this point in the docs.

[2018-01-31 20:27] gewarren commented on #412
@ignas-sakalauskas You are correct. Binary FxCop rules support customizing naming rules with a custom supplied dictionary, but  .NET Core projects don't support binary code analysis. You can use the Roslyn analyzers on .NET Core projects, however as of yet, no naming rules have been ported over from FxCop to the Roslyn analyzers. We do hope to add some naming rules to the Roslyn analyzers soon.

[2018-01-31 20:32] gewarren commented on #488
@TobiasKnauss Yes you are correct that arrays of primitive types are considered weak types too. I will update the topic, thank you.

[2018-01-31 21:05] gewarren commented on #488
The updated topic should be live tomorrow.

[2018-01-31 21:05] #488 closed

[2018-02-01 16:20] gordonwatts opened #507 "Status column needs updating along with graphic"
In VS2017 the window no longer looks like above. Further, I think "Awaiting" has replaced the "Waiting" in the status column. There is also now a context menu item called "Switch to frame".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ac1b431a-4afc-27ae-b2d9-0d1299eba257
* Version Independent ID: 72c6c954-6989-4ca7-1

[2018-02-01 19:27] Powerhelmsman opened #508 "Test"
This is a test

[2018-02-01 19:28] #508 closed

[2018-02-01 19:38] Mikejo5000 commented on #458
Merged

[2018-02-01 19:38] #458 closed

[2018-02-01 19:41] Mikejo5000 commented on #459
@rainersigwald Rainer, do you have any thoughts, or is this out of scope?

[2018-02-01 19:48] Mikejo5000 commented on #464
Looking into this

[2018-02-01 22:43] rainersigwald commented on #459
@StingyJack Can you clarify what you mean by

? Do you mean that you want to override the Clean target for every project (but only have to define it in one place), or that you want to cause a script of your own to run when hitting "clean" in Visual Studio, or something else?

[2018-02-02 03:57] StingyJack commented on #459
I think just the replacement of the Clean actions (Clean and Rebuild) actions in VS, as it does not clean properly and I'm tired of weird and time consuming bugs from it leaving bits that interfere or from it trying to help me and including bits it couldn't find where i told it to look.

[2018-02-02 05:16] ThatWileyGuy opened #509 "Multi-File Support for the Boost Test Adapter"
Could someone help me figure out how this would work with multiple files?

The only way I've found to get it to build without a pile of multiple definition errors is to have two files like this:
[code]

[code]

This builds successfully, but test discovery shows this:
[code]

But on the other hand, I can run it from the command line:
[code]

---
#### Document Details

⚠ *Do not edit this section. I

[2018-02-02 13:57] StingyJack commented on #459
I just found and read through [this exchange](https://github.com/Microsoft/msbuild/issues/2408).

The difference in the interpretation of this is with the meaning of "previous". I need Clean to delete all previous non-clean runs, yet it looks to only make a best attempt at removing the results of a single immediately previous non-clean run for the selected configuration.

[2018-02-02 17:55] gewarren commented on #509
@mikeblome can you ask someone from the product team about this?

[2018-02-02 17:58] Mikejo5000 commented on #498
@HuAaron Did you have the source code, or do you have the debugging symbols (.pdb files) generated when the service was built? You would need those, and they would need to match the .exe (i.e, they'd need to be from the same build). If you have those, you should be able to attach to the process using the debugger (Debug > Attach to Process) while the service is running.

[2018-02-02 18:16] Mikejo5000 commented on #503
@comarius If there is no exception thrown that shows the address, the DLL might have been built without debug information.

[2018-02-02 19:02] TerryGLee commented on #352
@brendanzagaeski We have a PR in the queue that updates the procedure and resolves the issue that you identified: https://github.com/MicrosoftDocs/visualstudio-docs/pull/506. That PR should be live by the end of today. Thanks again for your excellent suggestion!

[2018-02-02 19:02] #352 closed

[2018-02-03 21:31] TheFanatr opened #513 "Inconsistent Sidenote for "csharp_space_between_parentheses""
Under https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference#a-namespacingspacing-optionsa it says, "This rule does not accept a true or false value", for the possible values of the "csharp_space_between_parentheses" property; however, in the last column of the Visual Studio defaults table for that section it says, "csharp_space_between_parentheses 	C# 	false

[2018-02-04 18:37] craiggeil opened #514 "Where's your support for finally?"
You have then/catch but not finally? Wtf? You want people to use your browser but you continue to hobble every iteration. Instead I have add shims for your crappy browsers.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d35254c4-947a-3a83-8580-430151de8170
* Version Independent ID: 905409b2-965d-68f4-f44d-872521cb6d3b

[2018-02-05 13:00] abbgrade opened #515 "list of component names"
Hello, it would be helpful to have a list of available installable components that can be used with the `--add` parameter.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eedaccf1-bbb7-9a7c-21be-64217359acb5
* Version Independent ID: da785eb8-7187-0831-0b3c-1b422c6f2a15
* [Content](https://docs.microsoft.com/en-us/visua

[2018-02-05 13:05] abbgrade commented on #515
Something like that: https://docs.microsoft.com/en-us/visualstudio/install/workload-component-id-vs-professional

[2018-02-06 00:11] nickuhlenhuth commented on #509
Hi @ThatWileyGuy,
If you are using the Boost dynamic library, make sure you are using [Visual Studio 2017 15.6 Preview 2 or higher](https://www.visualstudio.com/vs/preview/). We didn't have dynamic support before then.
If you are using the static library, we have [documentation on using Boost.Test static library](https://docs.microsoft.com/en-us/visualstudio/test/how-to-use-boost-test-for-cpp).
Ho

[2018-02-06 00:30] gewarren commented on #513
@TheFanatr good catch! @kuhlenh can you clarify what the default value for csharp_space_between_parentheses is?

[2018-02-06 00:56] gewarren commented on #492
@mikerayginter That reply was not from a Microsoft employee. Our writer @Mikejo5000 has assigned this to himself to look into.

[2018-02-06 01:06] #412 closed

[2018-02-06 01:08] #387 closed

[2018-02-06 01:09] gewarren commented on #374
This topic has been updated.

[2018-02-06 01:09] #374 closed

[2018-02-06 01:11] gewarren commented on #369
Will by tracked by SkyEye bug.

[2018-02-06 01:11] #369 closed

[2018-02-06 09:25] Super169 opened #516 "How to whilelist the URL?"
If the proxy server require login, the above solution does not work.
For general user, how to whilelist those address from proxy server?   Is it expected that all user can update the setting is proxy server?
As it already know the issue, why can't it popup the login dialog when proxy login is required, instead of showing the error message: Proxy Authorization Required.

---
#### Document Details

[2018-02-06 15:04] mspruill opened #517 "Incorrect namespace for PackageGuidString"
The line [Guid(FirstPackageGuids.PackageGuidString)] is incorrect. It should read [Guid(FirstPackage.PackageGuidString)] - Mitch

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f7aca15b-bfa6-33ac-8f45-78d5d6c4ffc0
* Version Independent ID: c3dc31a4-cf7a-4b25-8e39-91cb19565203
* [Content](https://docs.microsoft.com/en-us

[2018-02-06 15:52] mikerayginter commented on #492
I thought that person was awfully rude.  Thank you for mentioning this.  I
have been trying to learn javascript and PHP and I am often very frustrated
at the documentation out there, but most times MS seems to be worse than
others at least to me.  It seems as if the writers ASSUME a certain amount
of knowledge about any topic with no pointers or context.  That is why I
pointed to a much more descr

[2018-02-06 20:49] DocGitHub opened #518 "Link to Understanding T4: Preprocessed Text Templates by Oleg Sych not working"
File not found (404) error
Understanding T4: Preprocessed Text Templates by Oleg Sych
http://www.olegsych.com/2009/09/t4-preprocessed-text-templates/

---
#### Documentdetails

⚠ *Dit gedeelte niet bewerken. Het is vereist om problemen te koppelen tussen docs.microsoft.com en GitHub.*

* ID: 7a170869-23a9-96c9-d85b-372adcb19230
* Version Independent ID: d900eb64-973b-78dc-47eb-799aad1ee592
* [Cont

[2018-02-06 21:57] gewarren commented on #516
@TerryGLee is in the process of updating these topics. Terry, can you look into this question and perhaps address it in the topic?

[2018-02-07 00:12] gewarren commented on #492
@mikerayginter thank you for your honest and thoughtful feedback. It does help us improve!

[2018-02-07 01:39] ahanusa opened #519 "debugging .net core code"
When will VS for Mac support debugging .NET Core code via symbols?  Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8807282b-10f0-06aa-0db3-565bf5b56664
* Version Independent ID: f49fb163-23d4-3315-eee6-e59293016681
* [Content](https://docs.microsoft.com/en-us/visualstudio/mac/debugging)
* [Content Source](https

[2018-02-07 06:45] asherabrams opened #520 "Possible to clarify instructions?"
Thank you for this interesting and informative tutorial.  Unfortunately I'm having trouble following the instructions for adding code in this step.  Does the code beginning with [ Random randomizer = new Random();] precede the line [ public Form1()]?  Exactly where does the [StartTheQuiz()] method go?  It might be helpful to include the completed code, highlighting the parts to be added by the lea

[2018-02-07 11:02] hpetschko opened #521 "What about the VC project type?"
In the Syntax section, the project type VC is shown, but not mentioned any further (neither on this page nor anywhere else). I have made some successful experiments with this type and would like to know whether it is officially supported or not.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cca18c9f-45b4-0a7b-6ce8-d6c

[2018-02-07 12:30] PeterRockstars opened #522 "Summarry is misspelled"
Summary is misspelled in the button at the bottom of the page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9f6962d2-a42a-ea79-bcda-d4adcaf2406c
* Version Independent ID: 9da717ab-b573-b81f-45f0-2c2a3a5b66eb
* [Content](https://docs.microsoft.com/en-us/visualstudio/connected-environment/get-started-netcore-visualstud

[2018-02-07 12:30] PeterRockstars opened #523 "Rruunning is misspelled"
Running is misspelled in the last sentence.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9f6962d2-a42a-ea79-bcda-d4adcaf2406c
* Version Independent ID: 9da717ab-b573-b81f-45f0-2c2a3a5b66eb
* [Content](https://docs.microsoft.com/en-us/visualstudio/connected-environment/get-started-netcore-visualstudio-06)
* [Content S

[2018-02-07 16:22] aggieben opened #524 "Reference documentation for solution file"
This page should link to or include reference documentation for syntax in the .sln file format.  In my particular case, I am trying to learn more about the "VisualStudioVersion" directive / setting, but there is nothing about that here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9177b266-5055-95d6-407f-ca4aad75257a

[2018-02-07 17:29] rfog commented on #454
abs3993, open it because the folder is not deleted.

[2018-02-07 17:45] #345 closed

[2018-02-07 19:52] keyoti opened #525 "Doesn't exist anymore apparently - devenv switch"
When I run devenv /resetaddin I get
"C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\Common7\IDE\devenv" /ResetAddin

Microsoft Visual Studio 2017 Version 15.0.27130.2010.
Copyright (C) Microsoft Corp. All rights reserved.

Invalid Command Line. Unknown Switch : ResetAddin.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2018-02-07 20:43] BryanLanning opened #526 "What to do if the path doesn't exist?"
Under Getting Started, step 2, I don't see the item "Graphics" under the "Installed" node.  It may be helpful to include a "prerequisites" section that explains what needs to be installed or how to verify that the environment (OS, VS version, installed options, project type, etc.) has the minimum number of components necessary to have the Graphics node appear.

---
#### Document Details

⚠ *Do not

[2018-02-07 21:12] guardrex opened #528 "Sister topic (or broader scope) for Debug ASP.NET Applications in Visual Studio topic?"
Is there a plan to have a sister topic (or a broader scope) for [Debug ASP.NET Applications in Visual Studio](https://docs.microsoft.com/en-us/visualstudio/debugger/how-to-enable-debugging-for-aspnet-applications) for ASP.NET Core?

I was looking for such a topic to link into the *Troubleshoot ASP.NET Core on IIS* in the aspnet/Docs, and I needed a VS debugging topic that relied on IIS Express tha

[2018-02-07 21:16] guardrex commented on #528
Nevermind ... I found something close to what I need in using the main *Learn to debug using Visual Studio* topic.

[2018-02-07 21:16] #528 closed

[2018-02-08 03:40] nzigel opened #530 "Step missing for setting up numpy in the python environment on the Deep Learning Virtual Machine"
After provisioning a Deep Learning Virtual Machine on Azure there is a step missing in setting up numpy in the python environment on that machine. As a result of this the job fails in File "convolutional.py", line 32, in <module> import numpy ImportError: No module named numpy

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2018-02-08 17:41] RSadocchi opened #531 "XAML Tag 'OnPlatform' deprecated"
The XAML tag OnPlatform is deprecated, outherwise we can use the Device object (code behind) like:
switch (Device.RuntimePlatform)
{
    case Device.UWP:
        break;
    case Device.iOS:
        break;
    case Device.Android
        break;
.......
}

---
#### Dettagli del documento

⚠ *Non modificare questa sezione. È necessaria per i collegamenti relativi ai problemi tra docs.microsoft.com ➟

[2018-02-08 19:39] asherabrams opened #532 "very helpful tutorial"
As someone new to coding, I found this a very useful and user-friendly introduction to creating a C# application in VS.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d76c8494-9961-83b4-9591-6696b684b6f8
* Version Independent ID: 1ff35af8-a624-f51d-4426-345f821d3eff
* [Content](https://docs.microsoft.com/en-us/visualst

[2018-02-08 21:49] rlillback opened #533 "Visual Studio 2017 (15.5.6)"
As written, VS 2017 (15.5.6) prevents us from adding a Nuget Package to a shared library in a Cross-Platform Xamarin application.  Also, if we select a .NET core library as the PCL does not support Microsoft.Net.Http.  Finally, if we build a blank application (e.g. Android) and add a Legacy Cross Platform Library, we have the following errors:
(1) In DataService.cs, the var response = await client

[2018-02-08 23:06] gewarren commented on #533
@rlillback thanks for the feedback. We are aware that this topic is out of date. Please try these topics instead:

https://developer.xamarin.com/guides/android/getting_started/hello,android/
https://developer.xamarin.com/guides/ios/getting_started/hello,_iOS/

[2018-02-08 23:08] gewarren commented on #525
@keyoti thanks for the feedback. I will see if this switch has been removed from the product.

[2018-02-08 23:11] gewarren commented on #532
@asherabrams thanks for the feedback! @TerryGLee

[2018-02-08 23:50] gewarren commented on #531
@RSadocchi thank you for the feedback. We hope to have updated Xamarin docs soon.

[2018-02-09 00:55] lindexi opened #534 "I cant reinstall to set the uwp compile."
When I use VisualStudio to compile a uwp app that will say that `The type 'IAsyncAction' is defined in an assembly that is not referenced. You must add a reference to assembly 'Windows, Version=255.255.255.255, Culture=neutral, PublicKeyToken=null, ContentType=WindowsRuntime'.` and I think maybe reinstall can help that I try to reinstall it but it always cant compile.

---
#### Document Details

⚠

[2018-02-09 07:51] robertunoki opened #535 "I don't think the sample is correct - running the msbuild task in batching mode will run each batch item sequentially."
Here's a much simpler sample that actual works...

<Project xmlns="http://schemas.microsoft.com/developer/msbuild/2003" DefaultTargets="Parent">

  <Target Name="Child">
    <Message Text="Hello from child $(childid)"/>
    <Exec Command="powershell.exe -command sleep 5"/>
  </Target>

  <ItemGroup>
    <Projects Include="$(MSBuildProjectFile)"><Properties>childid=0</Properties></Projects>
    <Pr

[2018-02-09 17:08] asb3993 commented on #499
I've passed this feedback directly on to the engineering team.

[2018-02-09 17:08] #499 closed

[2018-02-09 18:50] TerryGLee commented on #532
@asherabrams Thanks again; we appreciate your feedback!

[2018-02-09 18:50] #532 closed

[2018-02-09 18:56] TerryGLee commented on #534
@lindexi It looks like you're having an issue with the product itself, rather than an issue with the documentation. For options to report your product issue, consider using the following venues:

* You can report product issues to us via the [Report a Problem](../ide/how-to-report-a-problem-with-visual-studio-2017.md) tool that appears both in the Visual Studio Installer and in the Visual Studio I

[2018-02-09 19:18] TerryGLee commented on #121
@maurymarkowitz We've retired the Connect page where you reported a link issue. For more information, please see the following page:  [Microsoft Connect Has Been Retired](https://docs.microsoft.com/en-us/collaborate/connect-redirect)

@DiablosOffens For our previous version, consider checking out the [Developer Community for Visual Studio 2015](https://developercommunity.visualstudio.com/search.ht

[2018-02-09 19:19] #121 closed

[2018-02-09 19:47] mehagar opened #538 "typo - toggle bookmark"
I believe the keyboard shortcut for toggling a bookmark is ctrl+k, ctrl+k.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ac5a1c94-4cd3-3519-d437-491b4c19c9fb
* Version Independent ID: 807d3d11-fd62-b359-e0c7-06033ba252cf
* [Content](https://docs.microsoft.com/en-us/visualstudio/ide/setting-bookmarks-in-code?f1url=http

[2018-02-09 20:54] Mikejo5000 commented on #507
Article needs a refresh

[2018-02-10 17:10] bluemonkmn opened #539 "This documentation appears totally irrelevant to Visual Studio 2017 15.5.6"
After updating to 15.5.6, the "Other" category under the Options dialog's Xamarin category has only a mention of "Xamarin Live Player (Preview)" and none of my previous Xamarin/Android SDK environment works any more. I think this documentation or Visual Studio or Xamarin need to be fixed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2018-02-10 19:33] polakovicp opened #540 "Profile XSLT option missing"
In VS2017 Pro, I don't have any Profile XSLT option in XML menu

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 35fb6787-7c57-d5f5-8fec-8105c3280dc7
* Version Independent ID: efc508af-6e6b-bd3a-6052-01d29aa3fde7
* [Content](https://docs.microsoft.com/en-us/visualstudio/xml-tools/xslt-profiler#feedback)
* [Content Source

[2018-02-11 06:16] lindexi commented on #534
@TerryGLee Thx .

[2018-02-11 14:35] user135711 opened #541 "The link to designing user interfaces in the top navigation bar is broken"
The link from the navbar menu under the tasks item titled "Design User Interfaces" from the [main ide page](https://docs.microsoft.com/en-us/visualstudio/ide/) (or any page) has an extra "review" in the link (https://review.docs.microsoft.com/en-us/visualstudio/designers/designing-user-interfaces)that prevents public viewing. It should be https://docs.microsoft.com/en-us/visualstudio/designers/des

[2018-02-11 18:12] maurymarkowitz commented on #121
I understand that it has been retired, but that's not the problem I'm reporting, and the page you link to has no information on the topic either (the only mention is an email drop-box).

[2018-02-11 18:13] asherabrams opened #542 "adding code"
The CheckTheAnswer() method in Step 1 goes inline with the other methods, [StartTheQuiz()] etc.  In Step 2, the if else statement refers to the statement in the previously created [timer1_Tick] method (not the if-else statement in the code we just added).  The edit to the [else if] clause introduces the decrement notation [timeLeft--;].

---
#### Document Details

⚠ *Do not edit this section. It i

[2018-02-12 00:13] techBo130 opened #543 "Owner / Chief Consultant ~ techBo.ca"
The techBo congomlerant of companies includes, but is not limited to techbo.ca - enterprise level IT & security management; techBoLabs.ca - Novel Compound Research for Mental Health Relief; techBoInvestments.ca - Sustaining and evolving the distributed block-chain initiatives with investments and support of change that disrupts commerce and re-invents ethical and environmental currencies.

[2018-02-12 12:09] ruisilva450 opened #544 "TODO"
In the section "Configuring your JavaScript project" there is a TODO messages that probably doesn't belong here:
" * package.json and bower.json list dependencies used by your project and by default are included in Automatic Type Acquisition (ATA) <TODO - add link>"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bdd1c8

[2018-02-12 16:50] ghogen commented on #543
Closing - please don't use our feedback system for promoting or offering services and products.

[2018-02-12 16:50] #543 closed

[2018-02-12 17:24] Mikejo5000 commented on #492
Updated remarks based on feedback. Thanks!

[2018-02-12 17:24] #492 closed

[2018-02-12 17:34] buzz3791 opened #545 "How can I locate the Knowledge Base article Q133174"
This article references

Q133174 How to Locate Where a General Protection (GP) Fault Occurs

and implies that searching http://support.microsoft.com/ for Q133174 will succeed.  If you try such a search, you'll find that it returns no useful results.  I've unsuccessfully looked everywhere for Knowledge Base article Q133174.  What are accurate instructions for locating Q133174?

---
#### Document De

[2018-02-12 17:45] Mikejo5000 commented on #464
Fix in place. Thanks!

[2018-02-12 17:45] #464 closed

[2018-02-12 18:52] Mikejo5000 commented on #34
PR for this: MicrosoftDocs/visualstudio-docs-pr#1357

[2018-02-12 18:55] Mikejo5000 commented on #34
Merged linked PR, updates should be live on 2/13/18

[2018-02-12 18:55] #34 closed

[2018-02-12 18:57] Mikejo5000 commented on #95
Merged PR with fixes: MicrosoftDocs/visualstudio-docs-pr#1357

[2018-02-12 18:58] #95 closed

[2018-02-12 21:22] gewarren commented on #539
@conceptdev should we redirect to a more up-to-date topic for now?

[2018-02-12 21:23] gewarren commented on #541
@kraigb are you able to fix the link in the header?

[2018-02-12 21:24] gewarren commented on #541
@user135711 thanks for reporting the broken link.

[2018-02-12 22:54] adamdicarlo opened #547 "What does "Supported in the following document modes" actually mean?"
I want to know whether `someString.replace(/foo/g, '')` will work (that is, will honor the global flag) on IE 11.

I can't tell based on the wording here. Supported in "IE 11 standards document mode" sounds like it *could* indicate that IE 11 supports it, or it could just indicate that Edge, when configured as "IE 11 standards" supports, but the actual IE 11 browser does not.

(The "document mode"

[2018-02-12 22:58] kraigb commented on #541
@gewarren Yes, I'll take care of it.

[2018-02-12 22:58] babuw opened #548 "test_benjamin"
test_benjamin

[2018-02-12 23:10] babuw commented on #548
test_benjamin

[2018-02-13 01:14] zspitz opened #549 "`typeof` can also return `unknown`"
Older versions of IE can also return `unknown` for various objects. Please describe where this might happen, and how to coerce such values to native Javascript types.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e5f73877-a969-d859-e74e-42559b908c19
* Version Independent ID: b611b040-0244-dd22-5a4c-e13b6534b71f
* [Con

[2018-02-13 05:02] tzachshabtay opened #550 "How do I attach debugger to running process on Mac?"
There's no "Debug" menu on Visual Studio for Mac, and I can't find the option to attach the debugger there anywhere.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f5cc545a-f0ff-2f8a-a20a-e220a5a84c19
* Version Independent ID: d03c8ed7-d691-7b09-be11-c45f3cb739d2
* [Content](https://docs.microsoft.com/en-us/visualstudi

[2018-02-13 12:49] StingyJack opened #551 "This determination is too ambiguous"
What goes into making this determination?

I don't recall a time when visual studio actually upgraded a project. I remember it telling me through the years that various setup and deployment project types are no longer supported. I still have many projects that have ToolsVersion 12 or 4.0 and the corresponding old targets, despite being opened in VS 2017 (ToolsVersion 15) and changed to use 4.5.2 o

[2018-02-13 17:31] tysonn opened #552 "test issue for x-referencing"

[2018-02-13 17:47] #552 closed

[2018-02-13 19:10] kraigb commented on #541
I've corrected it. @user135711 thanks for letting us know!

[2018-02-13 19:10] #541 closed

[2018-02-13 19:22] jeubank12 opened #553 "Options not available"
For a quick-start document, this needs to list pre-requisites.  Out-of-the box I do not see any of these options for c++ code.  vcxproj, Professional version.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f4074bba-2193-a551-616f-54fa34d27192
* Version Independent ID: f01119e7-4ac0-0850-1842-452ef34e9a74
* [Content](ht

[2018-02-13 21:39] gewarren commented on #553
@mikeblome can you take look?

[2018-02-13 21:42] #548 closed

[2018-02-13 21:43] babuw commented on #548
nice thanks!

[2018-02-13 21:46] jeubank12 commented on #553
Just need to put a comment that this is for visual studio 2017 projects
only. If it is still in the 2015 format (v140) it is not sufficient to
simply open the project in 2017.

On Tue, Feb 13, 2018, 3:39 PM Genevieve Warren <notifications@github.com>
wrote:

[2018-02-14 00:37] kendrahavens opened #554 "Update Test Explorer doc with 15.6 features"
With VS 2017 Update 15.6 the Test Explorer will have a hierarchy view. This button should be added and screen shots updated for the 15.6 RTW release.
Pertains to: [Test Explorer doc](https://docs.microsoft.com/en-us/visualstudio/test/run-unit-tests-with-test-explorer).

An early explanation of this change can be found in the [Test Explorer FAQ](https://docs.microsoft.com/en-us/visualstudio/test/te

[2018-02-14 00:40] kendrahavens opened #555 "Update TDD doc"
The [Test Driven Development with C#](https://docs.microsoft.com/en-us/visualstudio/test/quick-start-test-driven-development-with-test-explorer) doc is looking a bit dated. We should redo the screenshots and perhaps update some of the wording.

[2018-02-14 00:48] kendrahavens opened #556 "Test Sample project difficult to find"
I got feedback that the sample unit test project was difficult to locate.

Could we improve our SEO on the [Test Sample project](https://docs.microsoft.com/en-us/visualstudio/test/sample-project-for-creating-unit-tests) page?

A common pattern emerging with MSFT docs is linking to a sample project on GitHub that the users can clone and play with. Right now, we have users copying and pasting one la

[2018-02-14 14:49] Nathan-Tarin opened #557 "Typo"
First paragraph. (Note: Benefit must by activated before you can submit a support request.). "by" should be "be"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2f79453c-3962-2f0c-5b99-4fbde91972f8
* Version Independent ID: c845c29e-dfd7-316e-81b2-ebe288a384c1
* [Content](https://docs.microsoft.com/en-us/visualstudio/su

[2018-02-14 14:50] Nathan-Tarin commented on #557
Last section. Submitting an incident within the Azure portal. Step 4. Enter the provide “Access ID” and “Contact ID” provided in #1 above. "Contact ID" should be "Contract ID".

[2018-02-14 14:58] Nathan-Tarin opened #558 "Renewal"
Can we add a section to this documentation that provides instructions and background for subscription renewals? i.e. how to apply the renewal code and more importantly, when this can be applied and when it can't.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 21b45f8d-2c76-7fa7-252d-31c99ada9ae6
* Version Independent I

[2018-02-14 19:13] gewarren commented on #557
@Nathan-Tarin thanks for letting us know about these typos!

[2018-02-14 19:39] Nathan-Tarin commented on #557
No problem ☺

I am a SME for this Microsoft product (Visual Studio Subscriptions) so feel free to let me know if you need any support on the matter.

Regards,

Nathan Tarin
Arvato Programs Facilitator
M O N T E R R E Y
arvato
BERTELSMANN
Avenida San Jeronimo # 880
Col. San Jeronimo
64634 Monterrey,
Nuevo León, Mexico
mailto:jonathan.tarin@arvato.com
(Please note new email address)
Office: +1 (519)

[2018-02-14 22:55] vukelich opened #559 "Add extensibility documentation for Open Folder and Microsoft.VisualStudio.Workspace.*"
The Open Folder feature released in Visual Studio 2017 is missing architectural documentation that ties together the components in the underlying Microsoft.VisualStudio.Workspace.* namespaces. Internal and external extension authors have needed individual support to understand necessary concepts in order to integrate with the new APIs. Extenders need information on how to produce and consume data

[2018-02-14 22:58] vukelich commented on #559
I think this doc(s) should be added under docs/extensibility, but I'm open to suggestions.

[2018-02-15 10:20] guibirow commented on #443
As much I like the new system idea, I hate the fact that this is happening over and over.
It used to be a Disqus comment system, then moved to LiveFyre, then moved now to this new system, what will be the next?
The worst part of this all is that MS does not care about past content lost on these discussions, so many times I found issues described in the docs that are gone now.
Please, pay attention

[2018-02-15 11:59] microkost opened #560 "Example"
How to pass parameter $(Version) as value from msbuild command line? Could you extend documentation?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c9e908f0-23c4-07b2-f1f7-371a96a0b45d
* Version Independent ID: ec52aadf-b1e2-355e-60ba-21d29dc43ea1
* [Content](https://docs.microsoft.com/en-us/visualstudio/msbuild/proper

[2018-02-15 12:59] guibirow commented on #443
The '[content source](https://github.com/MicrosoftDocs/visualstudio-docs-pr/blob/live/docs/ide/visual-studio-ide.md)'  link point to the wrong location, shouldn't it point to [here](https://github.com/MicrosoftDocs/visualstudio-docs/blob/live/docs/ide/visual-studio-ide.md)

[2018-02-15 15:02] TobiasKnauss opened #561 "Where are the reported problems listed?"
I just reported a problem from within VS2015, but without signin in in my VS. Where did the report go? Where does it go when being signed in?
I added my email address, but I did not receive a copy of my report. I suggest that you send out copies, including a link where to find them online.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2018-02-15 15:34] doctordns commented on #443
I have some sympathy with comments by  @guibirow. But having said that, I think converging on GitHub for both comments (ie issues) and the code (ie solutions) should be in the same place.

In my experience, the idea that MS does not care about past content is just not true. I do agree that some comments, etc were left out with the move from msdn/technet to docs.microsoft.com.  The costs of trying

[2018-02-15 15:44] TobiasKnauss opened #562 "What happens if the download is interrupted?"
What happens, if I abort the download? Will it restart at the beginning at next execution or does it continue at the component where it was interrupted? Will existing components be downloaded again if I execute it with different set of workloads?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b2a7f87-7685-2618-9be0-f2

[2018-02-15 16:53] Dykam opened #563 "Example in #transform-modifiers in wrong location"
The example at the end of #transform-modifiers seems to belong to the first sample, not the second.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e902b152-739e-3492-7b49-b144925a74a1
* Version Independent ID: 90a940de-1386-58ff-04b3-d53364cabbda
* [Content](https://docs.microsoft.com/en-us/visualstudio/msbuild/msbuild

[2018-02-15 17:14] nathvi opened #564 "How do I even get to the Utilization View Screen?"
I'm not sure the steps I need to even get to this Utilization View screen... I have the Concurrency Visualizer for 2017 installed already...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2463d9c5-9ef0-37c2-b667-e809bf8cb9a9
* Version Independent ID: 9ad74e00-02b1-8e05-e14a-12db6f5da26a
* [Content](https://docs.microso

[2018-02-15 19:16] guibirow commented on #443
Sure, there were a lot of junk. But in the middle of the junk we could find some valuable information not contained in the docs.
The migration from there to github won't cease the spam, because something that lacks is moderation, so the junk will just have a new the location.

[2018-02-15 19:55] gewarren commented on #561
@TerryGLee could you ask one of your contacts about this?

[2018-02-15 19:56] gewarren commented on #562
@TerryGLee perhaps you can add the info to the topic if you can find answers.

[2018-02-15 20:03] gewarren commented on #443
@guibirow thanks for your feedback. We have seen a decrease in "junk" comments since moving to the GitHub issues system. Also, we have all the old LiveFyre comments stored in a database and, time allowing, we plan to address the most important concerns expressed there.

Also, you commented that content source should be linking to the visualstudio-docs repo instead of the visualstudio-docs-pr repo.

[2018-02-15 20:58] kiazhi opened #565 "How do I specify Assembly Information Options in VS for Mac?"
I'm building a .NET Core Class Library for PowerShell Module on Visual Studio for Mac and I cannot find the option to specify AssemblyFileVersionAttribute and AssemblyVersionAttribute before compiling. Is the Assembly Information Option even available in VS for Mac? Or it is just available in VS for Windows?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2018-02-15 21:32] Mazelmat opened #566 "The "-manual" option has been retired."
This is reported when using the -manual flag as specified under the "Capture frames interactively." section:
Unrecognized command-line switch "-manual": ignoring
(The "-manual" option has been retired. Use "-frame manual" instead.)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a3ddd9f0-c302-50af-24a1-d91151e58e12
* Ve

[2018-02-15 22:11] Joe-Sewell-PreEmptive opened #567 "Target build order appears to be incorrect"
In MSBuild 15.5.180.51428 for .NET Framework, I created a simple project file by hand:

[code]

The results of running this project in MSBuild differ from the Determining the Target Build Order section indicated above when the project is run with no additional parameters, and the condition on `ConditionalTarget` is false. Per the documentation, the expected build order would be `After_ConditionalT

[2018-02-15 22:21] EisenbergEffect commented on #443
@ShevaDas Can you follow up with @jdanyow about the GitHub issues content linking? This involves the scenario where there is a public/private repo pair and the content link is pointing to the private repo rather than the public repo.

[2018-02-16 01:59] evanwindom commented on #558
Are you asking about renewing using a 5x5?  Using the key is the same whether the customer buys a new subscription or a renewal.  We could note that, but it doesn't warrant its own section.

[2018-02-16 03:30] mevanecek opened #568 "Inaccurate Instructions"
Something is wrong with the instructions. I create a solution, selected Git as the repository, and created a project and a test project. Added some files, ran some tests, everything looked good. Went to Version Control, and the option available was to Review and Commit. So I review and commit. Now, "Publish in Version Control" is greyed out. There is no way to push the code up to the remote projec

[2018-02-16 14:37] Engineer2B opened #570 "Remainder operator, not modulus operator"
See also https://nl.mathworks.com/matlabcentral/answers/221157-diffrence-between-rem-and-mod#comment_288807 for the differences.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 820b2a22-568b-126c-6149-467830f6c46e
* Version Independent ID: 54045e28-8f44-b985-3d18-8a65ce5b15b7
* [Content](https://docs.microsoft.com/en-us

[2018-02-16 15:09] jpdevspace commented on #568
Same thing here too. My "Publish in Version Control" option is greyed out. Any solutions

[2018-02-16 15:39] jpdevspace commented on #568
BTW, I was just able to successfully push my code to Github. I'm on a mac computer... I did:
Version Control > Manage Branches and Remote
Clicked the Remote Sources tab
Added my Github branch with the url provided by Github when I created my branch

Then I did Version Control > Push Changes

and I was asked for my Github username (NOT my email) and my Github password.

Hope it helps!

[2018-02-16 16:14] askrinnik opened #571 "Obsolete link"
A link to the People Trax application code leads to unavailable page

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b9f12119-004d-6146-ad95-e21deea81be8
* Version Independent ID: 1c424d51-c436-59bd-852f-c7fbb969bc44
* [Content](https://docs.microsoft.com/en-us/visualstudio/profiling/peopletrax-sample-profiling-tools)
*

[2018-02-16 16:37] jdanyow commented on #443
@EisenbergEffect, @ShevaDas- I'm working on an update to correct the content linking. Thanks for the heads up :+1:

[2018-02-16 22:33] Nathan-Tarin commented on #558
Yes, I think a note or an explanation that activating a new subscription and renewing it should be there. To clarify the process for the untrained eyes. ☺

From: evanwindom [mailto:notifications@github.com]
Sent: Thursday, February 15, 2018 7:59 PM
To: MicrosoftDocs/visualstudio-docs <visualstudio-docs@noreply.github.com>
Cc: Janathan Emmanuel Tarin Orozco (Arvato De Mexico S A DE CV) <v-50jata@mi

[2018-02-16 23:24] babuw commented on #544
testing feel free to delete

[2018-02-17 07:13] mairaw commented on #455
One suggestion about this. How about you add a note or a sentence that you can visit https://developercommunity.visualstudio.com/ directly from the instructions, not only See also? Some people want to report a problem but they can't do it through the tool because VS is crashing, etc.

[2018-02-17 07:54] HKHell410 opened #572 "HK"
Hello

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1535449d-101b-e535-5b85-6c0417096760
* Version Independent ID: 8c6a261b-6b1f-cb9b-7901-1f19bde005b6
* [Content](https://docs.microsoft.com/en-us/visualstudio/mac/)
* [Content Source](https://github.com/MicrosoftDocs/visualstudio-docs-pr/blob/live/mac/index.md)
* Serv

[2018-02-17 10:52] Victex opened #573 "References"
Thanks for the extra references

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3adec9eb-97b5-4f9f-77d6-a9eb9130ed10
* Version Independent ID: 90fb8ff4-4ccd-98c1-92c2-02a33252c681
* [Content](https://docs.microsoft.com/en-us/visualstudio/python/tutorial-working-with-python-in-visual-studio-step-01-create-project)
* [Con

[2018-02-17 14:00] Vikenesh opened #574 "InMemory Table creation issue"
I am gettinig the followiing error ,The operation 'AUTO_CLOSE' is not supported with databases that have a MEMORY_OPTIMIZED_DATA filegroup while running

ALTER DATABASE imoltp ADD FILEGROUP [imoltp_mod]

  CONTAINS MEMORY_OPTIMIZED_DATA;

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9290996a-853e-bfcc-5e4a-d8746f45362

[2018-02-18 22:39] abdulhannanali opened #575 "Woah! this feedback system is so dope."
OMG! Every company should have this!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9290996a-853e-bfcc-5e4a-d8746f453620
* Version Independent ID: faae284e-2f81-6f6f-c437-0bd8c959dd2b
* [Content](https://docs.microsoft.com/en-us/visualstudio/ide/visual-studio-ide)
* [Content Source](https://github.com/MicrosoftDocs/vis

[2018-02-18 22:40] abdulhannanali commented on #575
Comments too work seamlessly as well as reactions. AWESOME!

[2018-02-18 22:40] abdulhannanali commented on #575
CLOSING IT

[2018-02-18 22:40] #575 closed

[2018-02-18 23:32] #572 closed

[2018-02-18 23:33] gregvanl commented on #573
You are welcome

[2018-02-18 23:33] #573 closed

[2018-02-19 05:14] pgmolloy opened #577 "Just a note - project templates"
Project must be the current selected startup project if there is a large number of projects in the solution. This caught me when I first tried the export template in a large multi project solution.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 99e16e6e-e5d1-964b-f220-cbb2c7e4b5e2
* Version Independent ID: 94f82ff9-c61

[2018-02-19 09:05] maryob77062 opened #578 "Message box in catch"
When you put a message box in your catch and don't close your connection until the finally, your connection stays open until your user gets back from lunch and responds to the message box in the catch.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0e2e854-d2d8-8ec2-ae41-beee6636fae3
* Version Independent ID: 2c1c8dae

[2018-02-19 19:29] claremacrae opened #580 "Can't see how to configure CMake to find the Google Docs included in VS2017"
I'm managing some OSS builds via CMake, and want to use the Google Tests bundled inside Visual Studio Community 2017
Version 15.5.6

I had hoped this page might tell me where the Google Test folder was... A link to CMake instructions to use this integration would be really helpful!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2018-02-19 20:57] gregveres opened #581 "doesn't tell me how to perform code analysis"
I realize that there is a side bar with more topics and one of this probably tells me how to launch a code analysis, but I landed on this page from a google search. Apparently google thinks this is the best match for searching visual studio and code analysis. As a result, I was scratching my head trying to figure out why this page didn't tell me where to go in the product to kick off an analysis.

[2018-02-19 22:02] StingyJack opened #582 "Per the Note.. Did lightweight solution load get removed or was the choice of using it removed?"
It looked like a band-aid feature and was unfinished.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 50302b6c-c81b-4a07-656c-ff8446a78629
* Version Independent ID: b78f187a-0ed7-abf3-2a2c-5f0a77980ced
* [Content](https://docs.microsoft.com/en-us/visualstudio/ide/optimize-visual-studio-startup-time)
* [Content Source](h

[2018-02-19 22:03] nathvi commented on #564
I figured it out. You have to click on the "Analyze" menu and then on the "Concurrency Visualizer".
This would have been really useful information to know for people not familiar with how previous versions of the product worked. Please be sure to add it to the documentation.

[2018-02-19 22:08] nathvi opened #583 "42 is not the answer to life, the universe, and everything"
"The Visible Timeline Profile shows that 42 percent of the visible thread time is consumed by I/O."
This is wrong. It is 44%.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 84100a50-c4c1-7369-12e1-3489487d6f58
* Version Independent ID: d5ab85d8-7456-78df-8aec-5dac0ad1a710
* [Content](https://docs.microsoft.com/en-us/vi

[2018-02-19 23:05] nathvi opened #584 "Space needed in "illustration.The ""
"illustration.The"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 84100a50-c4c1-7369-12e1-3489487d6f58
* Version Independent ID: d5ab85d8-7456-78df-8aec-5dac0ad1a710
* [Content](https://docs.microsoft.com/en-us/visualstudio/profiling/common-patterns-for-poorly-behaved-multithreaded-applications)
* [Content Source](http

[2018-02-20 00:23] srikanthbollojula commented on #562
it will continue from where it got failed.

[2018-02-20 01:38] olegsych opened #585 "Documentation of the Null checking settings is hard to find"
The following settings are documented in the [Expression-level preferences](https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference#a-nameexpressionlevelexpression-level-preferencesa) section even though they are displayed in the _null checking_ section of the C# Code Style settings of the Visual Studio Options dialog.
- `dotnet_style_coalesce_expression`
- `do

[2018-02-20 02:48] SimpleSamples opened #586 "Pre-publish tasks"
What do we need to do before publishing? If there is nothing special then I apologize but I assume there are things we need to do for Clickonce applications. Is there anything special we need to do to use the file system? Clickonce applications have limitations so is there anything we need to ensure we remain within the limitations? I see many, many articles describing what to do when we get to th

[2018-02-20 07:06] tomuxmon opened #587 "No mention of command-line switch: /bl"
Binary and Structured Log is already a part of MSBuild

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1ab4c199-c44d-b8c6-9bf5-5500a30a6992
* Version Independent ID: ed692025-4ede-d7f1-be2f-6ee1f8ce16eb
* [Content](https://docs.microsoft.com/en-us/visualstudio/msbuild/obtaining-build-logs-with-msbuild)
* [Content Source

[2018-02-20 14:31] optikos opened #588 "target a specific installation-directory of .NET instead of defaulting to the GAC"
This WWWpage does not mention any way to target a specific installation-directory of, say, V4.0 .NET assemblies instead of defaulting to the Global Assembly Cache (which is malfunctioning in 2 projects (out of 17) when building Mono's current Embeddinator-4000 from a totally fresh install.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2018-02-20 14:39] optikos opened #589 "Description column in table is truncated without word-wrap or scroll bar"
In Safari on Mac, the Description column is truncated without word-wrap or scroll bar.  This does not occur in the Visual Studio 2015 equivalent of this WWWpage.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: af885617-7979-5fb2-3fc2-d028695e4b8a
* Version Independent ID: a4615f96-f625-4b78-8068-7ae9b343d911
* [Content]

[2018-02-20 14:50] yusufmsalh opened #590 "Connecting Dot Net Applications to R"
let's say I have a project like an MVC project ,I want to
*preform summary statistics using R on a Column (SQl DB).
*Display the summary on MVC page.
How Visual Studio 2017 may help me ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e11431a6-8401-2c63-b53c-e7f489b08ba7
* Version Independent ID: 1f8a17a4-122f-b2ef-f866