[2019-05-07 22:02] dksimpson commented on #481
I submitted a fix for this in PR #4562, thanks for reporting this issue.

[2019-05-07 22:17] craigcaseyMSFT commented on #1411
It looks like this issue has been addressed, so I am closing this. Thanks!

[2019-05-07 22:36] craigcaseyMSFT commented on #1470
It looks like this issue has been addressed, so I am closing this. Thanks!

[2019-05-07 22:36] #1470 closed

[2019-05-08 00:11] natiki commented on #1411
@craigcaseyMSFT It has not been addressed because ultimately there is still no documentation about Minikube on https://docs.microsoft.com/en-us/visualstudio/deployment/tutorial-kubernetes-tools so for me it is not done.  ;-)

@gewarren  As for logging this to the Developer Community, as the original "log an issue with documentation" comes to this repo. If Microsoft needs it somewhere else then we

[2019-05-08 01:05] dksimpson commented on #1248
I updated the article by adding a link to the instructions for adding obj and lib files. Thanks for reporting this issue.

[2019-05-08 01:05] #1248 closed

[2019-05-08 04:39] kinloongTong commented on #3107
Should the implementation change the list of a known mutable type, rather obsolete it?

"> FxCop's implementation of CA2104 basically had a list of type that were known to have immutable semantics and it considered anything else mutable. It didnt really check for immutability of a type which requires complicated analysis. We've decided to not reimplement CA2104 as an analyzer (see #716) since in i

[2019-05-08 05:13] gewarren commented on #1411
@natiki Apologies, I thought you were requesting MiniKube support in the product. Rather, you are asking for this scenario to be covered in the docs. I'll change the issue type to documentation feedback in that case.

[2019-05-08 08:08] RowlandShaw commented on #3213
Still be good to add to the docs what to put in there for targetting .net core versions (appreciate point will become moot with 5, but that's over a year away)

[2019-05-08 10:23] BigBrotherLi commented on #3203
Thank you for reply.I want to use Visual Studio 2019 with Visual Studio Tools for Unity.Then, i read the Visual Studio 2019 Doc, page name is Use Visual Studio Tools for Unity.There are many problem i have get.There is no Button named Attach to unity and Attach to unity play, but a run debug button.If i want to debug to unity, i can not use F5 to start.I can only debug unity by click menu Debug an

[2019-05-08 13:08] mavasani opened #3216 "Update the documentation to mention the new "Microsoft Code Analysis 2019" VSIX"
We should update the following section to mention the new "Microsoft Code Analysis 2019" VSIX that was just published:

Section to update: https://docs.microsoft.com/en-us/visualstudio/code-quality/install-fxcop-analyzers?view=vs-2019#to-install-fxcop-analyzers-as-a-vsix

New VSIX: https://marketplace.visualstudio.com/items?itemName=VisualStudioPlatformTeam.MicrosoftCodeAnalysis2019

We should men

[2019-05-08 14:35] willydavidjr commented on #3110
After the degrade of Pluralsight to 1 month, now this one was also gone?

[2019-05-08 15:38] aggieben commented on #524
Yep, I also tried to view the PR and it's gone (it appears the repository is private).

[2019-05-08 15:42] alainbryden opened #3217 "MSTest run settings section is incomplete"
The documentation on the following page appears out of date, at least for the &lt;MSTest&gt; settings:
https://docs.microsoft.com/en-us/visualstudio/test/configure-unit-tests-by-using-a-dot-runsettings-file?view=vs-2019#mstest-run-settings

For instance, I understand that for almost a year now a &lt;Parallelize&gt; configuration can be provided, e.g.:

[code]

It would great to see what else has b

[2019-05-08 17:24] TerryGLee commented on #3211
@ish-1313 Thanks for your inpuy; we'll take a look and report back.

[2019-05-08 18:10] pgoldman5699 commented on #1506
@gewarren @reuss @JimInWA @TerryGLee

To resolve 'DataRow' I had to add a reference to System.Data. This was in Visual Studio 2017. If it's ok with everyone, I'm going to go ahead and create a new PR and fix this.

[2019-05-08 18:15] vj15987 commented on #3110
Please bring LinkedIn learning back!

[2019-05-08 18:25] craigcaseyMSFT commented on #1359
Issue resolved in referenced PR. Closing now. Thanks!

[2019-05-08 18:25] #1359 closed

[2019-05-08 18:26] craigcaseyMSFT commented on #1360
Issue resolved in referenced PR. Closing now. Thanks!

[2019-05-08 18:26] #1360 closed

[2019-05-08 18:43] jillre commented on #3212
The [Microsoft Open Source Code of Conduct](https://opensource.microsoft.com/codeofconduct/), which outlines the expectations for community interactions in and around docs.microsoft.com, is designed to help "provide a welcoming and inspiring community for all." The content of this issue appears to be out of sync with the code of conduct, so we have closed it.

[2019-05-08 18:43] #3212 closed

[2019-05-08 22:23] #3216 closed

[2019-05-09 04:07] tyotypic opened #3219 "example is incorrect- _Lock_level_order_ is broken"
At least in VS2017, the given snippet does not produce *any* Code Analysis warning.

Also, this document is wrong, in that the annotation _Set_lock_level_order_(a,b) has been replaced by _Lock_level_order_(a,b). (I assume, given the evidence)

It was very useful, however, that this document specified what relationship _Set_lock_level_order_(A,B) implied between A and B, as the main SAL locking ann

[2019-05-09 06:09] dcbrown16 opened #3220 "Web App for Containers"
Am I correct in understanding that the App Service and App Service Linux options for deployment do not offer the ability to deploy as a Web App for Containers at this time?
I'm working with a customer who has a "Container Registry" option on the screen in Step 4 (after choosing App Service Linux), but the App Service ultimately created does not have the "Container settings" menu that we would expe

[2019-05-09 06:10] nitinjs opened #3221 "Configure your new project page"
there is no Configure your new project page in my vs 2019,

how do I go back to old project creation dialog?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b8b25eea-0531-fc29-14c3-97b01d3c9ffc
* Version Independent ID: 93399d12-64f7-aa0c-f7d6-7ed8ecd95086
* Content: [Create a new project - Visual Studio](https://docs.m

[2019-05-09 06:27] kyurkchyan commented on #2985
Having the same issue...

[2019-05-09 10:59] awattar commented on #2985
Same here. It also does not list 9.0 (Android 28) as supported.

=== Visual Studio Enterprise 2019 for Mac ===

Version 8.0.5 (build 9)

=== Xamarin.Android ===

Version: 9.2.3.0 (Visual Studio Enterprise)
Android SDK: /Users/mwesolowski/Library/Developer/Xamarin/android-sdk-macosx
	Supported Android versions:
		5.1 (API level 22)
		6.0 (API level 23)
		7.0 (API level 24)
		7.1 (API level 25)
		8.

[2019-05-09 13:22] dombat opened #3222 "Company name pre-populated with my laptop manufacturer"
It would be nice to know where to change the default values for these fields. On my new laptop, Company name and Copyright are both populated with the laptop manufacturer and not my company.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1490ea17-1bce-6eb1-0a78-1b8159b82e4e
* Version Independent ID: 4350b38b-6f06-16b6-

[2019-05-09 15:21] Mikejo5000 commented on #3220
@ghogen Gordon, is there a doc that includes deploying a Web App for Containers?

[2019-05-09 17:53] TerryGLee commented on #3199
@dddns Closing until we get further info.

[2019-05-09 17:53] #3199 closed

[2019-05-09 18:50] CeciAc opened #3225 "Where did app.py come from?"
@okssss commented on [Thu May 09 2019](https://github.com/MicrosoftDocs/visualstudio-docs.ru-ru/issues/42)

Откуда вдруг взялся файл  app.py (Написано "The contents of app.py appears as follows when using the name "HelloDjangoApp":")

---
#### Сведения о документе

⚠ *Не вносите правки в этот раздел. Это необходимо для связывания страницы сайта docs.microsoft.com с вопросом на GitHub.*

* ID: 09d5

[2019-05-09 18:57] CeciAc commented on #3225
Hi team,
I'm moving this here since the user is suggesting additional information on the original documentation
Translation:

[2019-05-09 19:44] TerryGLee commented on #963
@tydunkel FYI, and any input you can provide would be appreciated (as always)

[2019-05-09 20:43] MarkMcGee1 commented on #1976
I submitted a fix in PR [3226](https://github.com/MicrosoftDocs/visualstudio-docs/pull/3226), thanks for reporting this.

[2019-05-09 20:45] #1976 closed

[2019-05-09 21:00] MarkMcGee1 commented on #1958
It looks like this issue has been addressed, so I am closing this. Thanks!

[2019-05-09 21:00] #1958 closed

[2019-05-09 22:25] biapar commented on #2985
I've too.

[2019-05-10 03:58] StevenTCramer opened #3227 "Import .editorConfig"
Feature request:

Code Styles would be a nice editor for .editorconfig files if we could import them.

I maintain a editorconfig file but then if I reset VS I have to go through and reapply them all.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: faebd126-53cd-1a98-bf75-38225933b0f2
* Version Independent ID: 4340fcba-6

[2019-05-10 09:11] motz-art opened #3228 "Exception with required property"
[Enter feedback here]

Hi,

I would like to suggest an enhancement for case when Exception must have some properties initialized.

Documentation says that "Failure to provide the full set of constructors can make it difficult to correctly handle exceptions.". Is it fine to Suppress the warning in this case when next constructors provided: CustomException(RequiredData), CustomException(RequiredData

[2019-05-10 11:06] cremor commented on #1531
@gregnorz Microsoft closed your bug report as an external (Windows) problem 😞

I've created a batch script that allows the installation from a network share. You can find it here: https://gist.github.com/cremor/ff21d9f3f4cf7da36eef1558e714c90b

[2019-05-10 15:15] skochinsky opened #3229 "No "Python/Native Debugging" entry in C++ project properties"
Trying to debug Python code in our native app that embeds Python 2.7 (x64). I'm not seeing the "Python/Native Debugging" option in "Debugger to launch" combobox as described on this page. Using VS 2017 (15.9.11). Python support is installed via VS installer.
I also tried the attach route (choose Native+Python at attach time) but breakpoints in Python code are not being resolved

---
#### Document

[2019-05-10 16:13] MarkMcGee1 commented on #1987
I submitted a fix in https://github.com/MicrosoftDocs/visualstudio-docs/pull/3224, thanks for reporting this.

[2019-05-10 16:13] #1987 closed

[2019-05-10 17:01] tydunkel commented on #963
@charlesprakash Yes, you can use the vs_installer.exe for an update to a VS installation. When scripting we recommend using the latest vs_<sku>.exe from the web to ensure that the latest vs_installer.exe is installed to handle the installation. However, when running interactively it is unnecessary to download vs_<sku>.exe to update. Simply start the VS Installer from a start menu or `"%programfile

[2019-05-10 17:56] liliankasem opened #3230 "Suppress Code Analysis Warnings Deprecated in VS2019"
I tried to follow the documentation for suppressing the CA warnings for auto-generated code, but in VS2019 it says this is deprecated:

Solution Explorer -&gt; Properties -&gt; Code Analysis Settings:
`NOTE: This property page has been deprecated and will be removed in a future product release.`

What is the alternative solution to this? Can the docs be updated?

Thanks!

---
#### Document Details

[2019-05-10 19:12] gewarren commented on #3203
@therealjohn @crdun Can you take a look at this issue?

[2019-05-10 19:15] gewarren commented on #3230
@mavasani Is there a way to suppress warnings from Roslyn analyzers only for auto-generated code?

[2019-05-10 21:45] TerryGLee commented on #1479
@DavidApps2 Thanks again for letting us know about how screen reader software interacts with our content when it includes inconsistent keyboard references. We've updated this page to address the issue, and we're also taking a look at all our accessibility-related content to improve it, too.

[2019-05-10 21:45] #1479 closed

[2019-05-11 14:42] jbachelor opened #3233 "How to guide on creating new solution templates in Visual Studio for Mac"
What I've been trying to find in the documentation is how to create a new solution template. I have certain boilerplate code and project structures I like to use, and would like to be able to share those with my team and others I am trying to help learn. Is there any such guide you could link to here, possibly a new entry under "See also":  "Creating new templates in Visual Studio 2019 for Mac"? W

[2019-05-11 18:01] tylermercer commented on #3183
You can also install [NodeJsAndNpm](https://www.nuget.org/packages/NodeJSAndNpm/) and set up the build as a BeforeBuild target in your project's .csproj.

[2019-05-12 00:39] praveen2916 commented on #1687
Hi,
I checked getElementById and it is as it should be in the code.  The problem still persists.
Any Ideas??
Thanks.

[2019-05-12 06:04] garyng opened #3234 "Installer won't start if the path for `--layout` has trailing backslash"
`vs_enterprise.exe --layout "D:\xxxx" --lang en-US` is working, but `vs_enterprise.exe --layout "D:\xxxx\" --lang en-US` is not - the installer UI won't start.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 228076d1-94bf-c502-c018-08f7c0faf377
* Version Independent ID: c64a5cd5-6236-4192-2bfc-923aa20c94da
* Content: [C

[2019-05-12 09:11] sparkle999 opened #3235 "No mention of support (or lack of support) for Class Designer for Python"
As far as I can tell, there is no support for class diagrams or use of the class designer within VS for python? You may want to update this page to add a statement about whether this is supported or not. Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 22ccada0-aa56-4952-5ba5-3c39137f41e4
* Version Independent ID

[2019-05-12 14:46] Matthiasclee opened #3236 "Compile"
How do I compile it into an EXE

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 33ddb9d3-4439-6258-68f6-c8d7fb3b6d03
* Version Independent ID: c3b4db40-76a8-fce8-d282-2c6469c36a31
* Content: [Step 2: Run your program - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/ide/step-2-run-your-program?view=vs-2019#

[2019-05-12 21:34] ExtremeKaos commented on #2985
Same here,

[2019-05-12 22:23] johnholliday opened #3238 "File names are important."
It should be stressed in the walk-through that Visual Studio employs a strict naming convention for files and other resources.  As an example, in the section entitled "Creating a basic project template", the reader is instructed to create a Templates/Projects/SimpleProject folder structure containing 4 files.  It would be helpful to point out that during template registration, the base name of the

[2019-05-13 05:43] biapar commented on #2985
I solved:

- manually change project file adding .net reference
- delete obj and bin
- close solution and reopen
- rebuild solution

[2019-05-13 07:15] narenarjun commented on #3110
When will LinkedIn learning will be available to us ?? Is there any definitive timeline that states when this benefit will be available?
Please bring it back soon !!

[2019-05-13 09:48] SteHiggins commented on #2985
I have the same issue.

What .net reference did you add?

[2019-05-13 13:25] pgrawehr opened #3239 "This rule basically prevents the use of the new $"..." syntax when "Current culture" is correct"
This rule prevents that I can use the $-Syntax for string concatenation when I want to use the current culture. There's no `FormattableString.CurrentCulture()` method. In addition, the rule has false positives if the argument type is not language dependent (such as a string).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2019-05-13 14:13] johncrim opened #3240 "Equivalent support for aligning arguments"
This is a useful refactoring, but it seems a major omission that you can only do this with parameters, not with arguments when calling the method. If the parameter/argument list is long enough to need wrapping + alignment, it's usually long enough on both sides of the call.

Argument alignment is even more useful when using inline lambda function arguments.

---
#### Document Details

⚠ *Do not ed

[2019-05-13 16:19] CeciAc opened #3241 "visualstudio remote tool download url error"
@HeMinzhang commented on [Fri May 10 2019](https://github.com/MicrosoftDocs/visualstudio-docs.zh-cn/issues/127)

**In this doc:**
https://docs.microsoft.com/zh-cn/visualstudio/debugger/remote-debugging?view=vs-2019

![QQ截图20190511103729](https://user-images.githubusercontent.com/2683269/57564075-cfec2280-73d8-11e9-92a1-449a8da46b8f.png)

**this link:**
https://visualstudio.microsoft.com/downloads/

[2019-05-13 16:28] CeciAc commented on #3241
Hi team,
the link highlighted in the screenshot returns an empty page

[2019-05-13 18:38] spottedmahn commented on #2854
FYI, I'm on 16.1 preview 3 and I'm seeing https://github.com/tafuji/Pcl-To-NetStandard as disabled:

![image](https://user-images.githubusercontent.com/14079228/57645640-ba1f5e80-758c-11e9-9e7d-08816dde47dd.png)

[2019-05-13 20:50] largeDachshund opened #3245 "if you can't even install VS how can you use this workflow!"
This workflow effectively excludes issues relating to installation.  I have a bug related to installing VS 2019 community.

When you click on the .exe, it fires a ridiculuous warning about not having .Net 4.6 installed.  Not possible, since I have VS 2017 installed.

If you can't post bugs, how are you going to fix them?!?

![image](https://user-images.githubusercontent.com/7054672/57653156-03b87b

[2019-05-13 21:01] cowlinator commented on #963
@tydunkel , what about "headless" (no UI) situations such as inside docker containers?

[2019-05-13 22:20] mavasani commented on #3230
@liliankasem @gewarren The title of the issue (suppressing warnings) and "Code Analysis Settings" page seems unrelated. For the former, you should still be able to suppress/escalate/configure your analysis using a ruleset file, which can also be opened from the Code Analysis project properties page. For the latter, I suggest you read my comments posted on https://developercommunity.visualstudio.co

[2019-05-13 22:22] mavasani commented on #3230
Ah, I read the content of https://docs.microsoft.com/en-us/visualstudio/code-quality/how-to-suppress-code-analysis-warnings-for-generated-code more carefully. This setting is supported only for legacy code analysis. Currently, we have no way for end users to just disable analyzer diagnostics just in generated code files. This should be resolved with .editorconfig based configuration in future, whe

[2019-05-13 22:25] mavasani commented on #3230
I believe we have an existing feature request for the supported requested here: https://github.com/dotnet/roslyn/issues/6999.

[2019-05-13 22:40] gewarren commented on #1506
As @JimInWA pointed out, there's not currently support for `DataSourceAttribute` in .NET Core and therefore in UWP projects too (they use .NET Core). We'll add a note to this article.

[2019-05-13 23:03] tydunkel commented on #963
@cowlinator it is still possible to use vs_installer.exe directly when running headless. Typically, you can build the full path to the installer using the %programfiles(x86)% environment variable.

e.g. `"%programfiles(x86)%\Microsoft Visual Studio\Installer\vs_installer.exe" update --installPath "C:\Program Files (x86)\Microsoft Visual Studio
2017" --quiet`

If an update is required to the instal

[2019-05-14 00:04] gewarren commented on #3194
That's a good question. @mavasani can you comment on why unchecking "Enable Code Analysis on Build" doesn't also set the msbuild property in the project file to false?

`<RunCodeAnalysis>false</RunCodeAnalysis>`

[2019-05-14 00:53] Anapo14 opened #3246 "Screenshots on Quickstart Need to be Updated for Python in Visual Studio"
The following pages should have screenshots updated to reflect the new getting started experience with Python in VS 2019:

1. https://docs.microsoft.com/en-us/visualstudio/python/quickstart-02-python-in-visual-studio-project-from-template?view=vs-2019
2. https://docs.microsoft.com/en-us/visualstudio/python/tutorial-working-with-python-in-visual-studio-step-01-create-project?view=vs-2019

[2019-05-14 02:59] HeMinzhang commented on #3241
I think it's just a problem with the Chinese page. It only shows the error when the language is Chinese.

Other problems I just discovered:
![QQ截图20190514105350](https://user-images.githubusercontent.com/2683269/57667575-a7616400-7636-11e9-8682-de4a5877aed9.png)

Visual Studio 2017 download link error:
https://my.visualstudio.com/Downloads?q=remote%20tools%20visual%20studio%202017
![QQ截图2019051410

[2019-05-14 03:02] HeMinzhang commented on #3241
Visual Studio 2019 download error:
![QQ截图20190514110027](https://user-images.githubusercontent.com/2683269/57667831-af6dd380-7637-11e9-876c-7e2929b49796.png)
![QQ截图20190514110118](https://user-images.githubusercontent.com/2683269/57667838-b3015a80-7637-11e9-8455-7c374e560e47.png)

[2019-05-14 12:40] preethadas commented on #2592
The issue of SSIS is still not resolved in 2019 latest version.I have added the extensions and still unable to create the SSIS project.Is there any way I can install the older version visual studio 2017

[2019-05-14 12:58] adimpre commented on #2592
It's ok for me. I added the extension for SSIS

[2019-05-14 15:08] polinenizz commented on #2592
yes its worked for me too in VS 2019 we got an extension for IS

[2019-05-14 15:10] mavasani opened #3247 "Add documentation for new rule CA1507 (UseNameofInPlaceOfString)"
1. Implemented only in FxCop analyzers package, not legacy FxCop

2. Flags the use of string literal as an argument to an invocation (i.e. method call) or object creation where a nameof expression would add more readability and maintainability. It is fired under following conditions:
   1. Argument is a string literal or constant
   2. The argument corresponds to a "string" typed parameter of the

[2019-05-14 15:13] mavasani commented on #3247
We also have a code fix for this analyzer, which might make it easier to understand the recommendation. See unit tests for the code fix: https://github.com/dotnet/roslyn-analyzers/blob/2f94c36db114d8ab2517939c01e4390806c95cdb/src/Microsoft.CodeQuality.Analyzers/UnitTests/Maintainability/UseNameOfInPlaceOfStringTests.Fixer.cs#L17

[2019-05-14 15:15] mavasani commented on #3247
Also tagging @chborl who implemented this analyzer/fixer.

[2019-05-14 15:17] therealjohn commented on #3203
@BigBrotherLi

Visual Studio 2019 requires Unity 2018.3 or higher. If you're already using that version, take a peek at the troubleshooting steps we have and make sure that Visual Studio Tools for Unity is loaded by following the steps in the guide: https://docs.microsoft.com/en-us/visualstudio/cross-platform/troubleshooting-and-known-issues-visual-studio-tools-for-unity?view=vs-2017

If you conti

[2019-05-14 15:28] therealjohn commented on #3203
@gewarren this can be closed. There is no documentation issue here.

[2019-05-14 15:40] Alone2Me opened #3249 "Khmer language please."
Khmer language please.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9996cb85-f867-e5bf-3ac6-77971f45062e
* Version Independent ID: afefb77c-4530-0643-64fa-b99ceec93139
* Content: [Data access and tools - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/data-tools/accessing-data-in-visual-studio?view=vs-20

[2019-05-14 16:28] gewarren commented on #3203
@therealjohn Thanks!

[2019-05-14 16:28] #3203 closed

[2019-05-14 16:41] Mikejo5000 commented on #3241
Checked the en-us links and they are good, as was mentioned previously, so labelled this as a loc issue. @CeciAc @HeMinzhang Is the reason for the failed links known yet?

[2019-05-14 17:02] CeciAc commented on #3241
Hi @Mikejo5000
I try the links no matter if I'm in the en-us page or the localized one and it takes me to this page (always in my PC default language):
https://visualstudio.microsoft.com/es/downloads/?q=remote+tools&rr=https%3A%2F%2Fdocs.microsoft.com%2Fzh-cn%2Fvisualstudio%2Fdebugger%2Fremote-debugging%3Fview%3Dvs-2019
![imagen](https://user-images.githubusercontent.com/26746247/57717114-dedd0a00

[2019-05-14 17:41] #1506 closed

[2019-05-14 17:41] #3230 closed

[2019-05-14 17:52] TPucke opened #3251 "Consider adding the double quote character to the list"
Consider adding the double quote character to the list

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4e990c1d-5b08-0b80-6851-68bd737f9c7b
* Version Independent ID: f898e9ad-99e7-5584-4b7e-a808d3f63728
* Content: [Special Characters to Escape - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/msbuild/specia

[2019-05-14 18:03] Mikejo5000 commented on #3251
@rainersigwald Rainer, is there any reason the double quote character was not included in this list?

[2019-05-14 18:46] rainersigwald commented on #3251
It looks like neither double quote nor single quote (nor backtick) is escaped by MSBuild's built-in escaping function:

https://github.com/microsoft/msbuild/blob/f82477f7cbc53febd3256a0c3004c34d5b3a0cb2/src/Shared/EscapingUtilities.cs#L301

@tpucke Have you encountered a situation where it would have been helpful to escape these characters?

[2019-05-14 19:28] TPucke commented on #3251
Yes, I had to do this in an `<Exec ... />` where my command line requires use of double quotes.

[2019-05-14 19:29] TerryGLee commented on #970
@cowlinator As previously stated, the description of the --wait parameter is correct, but we have updated the "[Using --wait](https://docs.microsoft.com/en-us/visualstudio/install/command-line-parameter-examples?view=vs-2019#using---wait)" section of the [Command-line parameter examples](https://docs.microsoft.com/en-us/visualstudio/install/command-line-parameter-examples) page to include PowerShe

[2019-05-14 19:29] #970 closed

[2019-05-14 19:30] TPucke commented on #3251
Just an added note, it would also be helpful to include the ASCII codes, so that we don't need to elsewhere to hunt these down.

[2019-05-14 19:54] gewarren commented on #2812
I'm changing the article to create a console app instead of a class library. Thanks for the heads up on this @grayrhino !

[2019-05-14 19:59] vwilson opened #3252 ""Example: Use the project name for a file name""
This section does not include important information.  One must edit the template csproj such that the Content Include or Compile Include nodes' file names match the formatted filenames in the vstemplate file.  If one does not follow this step, the template will fail upon project creation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2019-05-14 20:23] TerryGLee commented on #3155
@tristanbarcelon It looks like you have a good idea to pass along by using our “Suggest a feature” option in the [Visual Studio Developer Community]( https://developercommunity.visualstudio.com/). We’d be happy to have this on record, where others can view it and upvote it, too. For more information about this new functionality in the dev community, see our [Suggest a feature]( https://docs.micros

[2019-05-14 20:28] cowlinator commented on #963
@tydunkel , thank you, that's exactly the kind of documentation I'm talking about.  The kind that should exist on documentation pages such as https://docs.microsoft.com/en-us/visualstudio/install/use-command-line-parameters-to-install-visual-studio?view=vs-2019 .

Also, is it possible to add components using `vs_installer.exe`?

Also, it seems that `vs_installershell.exe` is giving verbose output

[2019-05-14 22:24] TerryGLee commented on #3124
@Liturgist I am at a loss then, as per the following screenshot, Visual Studio Community 2019 doesn't allow for ASP.NET Core 2.2:

![image](https://user-images.githubusercontent.com/23244653/57736263-32a12080-765c-11e9-8e9d-86d209802aa8.png)

[2019-05-15 00:35] gewarren commented on #1780
Just to clarify, CA2235 now explicitly excludes _fields_ that are types that implement ISerializable. But if a _type_ implements ISerializable, CA2237 will fire to suggest also marking it with SerializableAttribute if it doesn't already. And if you mark that ISerializable type with SerializableAttribute, then CA2235 will analyze its fields to check if they are serializable. Is that correct @mavasa

[2019-05-15 03:49] nickchobotar commented on #2592
Folks! Here is the latest I heard on SSIS. It is currently now in a "maintenance mode" supported by Microsoft China which means you can forget about anything meaningful being added to SSIS any longer.
You do not have to be a genius to figure out that Microsoft decided to make money on Data Factory and bury SSIS into the ground by not developing this tool any more.  If your livelihood depends on SS

[2019-05-15 07:44] ManoranjanKanungo opened #3253 "Is Coded UI going to be supported in Windows 2016 ?"
Hi,

Is coded UI going to be supported in Windows 2016, we are having UI automated test case which running fine in Windows8 , Now we need to upgrade to 2016 , wish to know if is test will or not.

[2019-05-15 08:01] #2293 closed

[2019-05-15 13:08] Boogaloos007 commented on #3110
@evanwindom - Seems like many people are pleading with Microsoft to bring back the Linkedin Learning benefit to Visual Studio Essential Subscribers.

[2019-05-15 16:06] gewarren commented on #3198
@mavasani Can you review these changes please?

https://review.docs.microsoft.com/en-us/visualstudio/code-quality/ca2213-disposable-fields-should-be-disposed?view=vs-2017&branch=pr-en-us-4620#rule-description
https://review.docs.microsoft.com/en-us/visualstudio/code-quality/ca2000-dispose-objects-before-losing-scope?view=vs-2017&branch=pr-en-us-4620#rule-description

[2019-05-15 16:28] gewarren commented on #3253
@PBoraMSFT Could you answer this?

[2019-05-15 17:12] tydunkel commented on #963
@cowlinator Yes, `vs_installer.exe` can be used to add components. It uses the same command line parameters as `vs_<sku>.exe` in that regards.

e.g. `vs_installer.exe modify --installPath <Path to VS> --add Microsoft.VisualStudio.Workload.ManagedDesktop;includeRecommended;includeOptional --Microsoft.VisualStudio.Workload.NativeDesktop;includeRecommended --quiet`

The main reason to use the `vs_<sk

[2019-05-15 17:51] #2812 closed

[2019-05-15 17:52] #3129 closed

[2019-05-15 18:55] mavasani commented on #3198
@gewarren Thanks, those look good to me. I think you also want to enhance the `When to suppress warnings` section to mention that it might be fine to suppress a flagged CA2000 violation if the allocating method does not have dispose ownership (it is transferred to some other object or wrapper created in the method and returned to the caller) AND fine to suppress a flagged CA2213 violation if the d

[2019-05-15 20:25] Mikejo5000 commented on #3241
Started e-mail thread on this

[2019-05-15 20:27] Mikejo5000 commented on #3178
@ddobric I'll ask about this. To clarify, you see code in the call-tree marked as "Broken"?

[2019-05-15 20:38] Mikejo5000 commented on #3183
@tylermercer Thanks, so this is an update to the section "Build with vue-cli 3.0", correct? I don't see a pre-build event command line box. Where do you see that?

[2019-05-15 20:40] Mikejo5000 commented on #3183
Nevermind. I see it in the ASP.NET project properties. Thanks!

[2019-05-15 20:42] ryzngard opened #3256 "This should be updated to include the post rename code fix"
When a type is renamed, it gets surrounded by a white (in dark theme) dotted box. As long as the user doesn't leave the symbol name while editing, they can use ctrl + . to invoke a code fix  to rename.

![image](https://user-images.githubusercontent.com/475144/57808017-5d9c7a80-7717-11e9-8fdf-7d4c9629ff98.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2019-05-15 23:07] msebolt commented on #1396
@grantborthwick Thank you for the feedback!  Though while this solution is more flexible, it moves away from the main topic of concern which is Directory.Build.props.

Thank you for this suggestion and will definitely keep it under consideration for future restructuring of the article.

[2019-05-15 23:07] #1396 closed

[2019-05-15 23:17] Mikejo5000 commented on #3241
Updating VS 2019 link to use an anchor

[2019-05-16 00:11] gewarren opened #3257 "Lightbox is fixed!"
This is a test issue for labeling.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 38ae1727-4def-5921-86ec-bc65e9f0b8e4
* Version Independent ID: aed7dda1-6bfd-945f-04a5-86ee0fe62d95
* Content: [Overview of Visual Studio](https://docs.microsoft.com/en-us/visualstudio/get-started/visual-studio-ide?view=vs-2019#feedback)

[2019-05-16 00:18] #3257 closed

[2019-05-16 00:48] #1705 closed

[2019-05-16 04:31] daveyostcom opened #3258 "Can I get my code to be called when the debugger stops/resumes?"
See [this](http://github.com/daveyostcom/DateTimeDebug).

I would like the debugger to call `DateTimeDebug.Running = false` when it stops, and `DateTimeDebug.Running = true` when it resumes.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed9dcc5d-ade9-c88a-76f6-538231671b0b
* Version Independent ID: 6d86c444-dba6-8d0e-

[2019-05-16 05:39] PBoraMSFT commented on #3253
Coded UI is supported on the platforms that Visual Studio supports. Please refer the system requirements documentation for details - https://docs.microsoft.com/en-us/visualstudio/releases/2019/system-requirements?view=vs-2019.

[2019-05-16 09:36] jjindrich opened #3259 "AKS publishing tools for VS2019"
Hi, please add more info how to get installation for VS2019. Or how to get similar functionality from VS2019

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25b96907-35cf-ff1f-d7ad-a231aa78418b
* Version Independent ID: 620e59a0-5658-9a05-c177-8d0687656e2a
* Content: [Kubernetes tools tutorial - Visual Studio](https://d

[2019-05-16 15:01] Gehbrial opened #3260 ".NET Core 2.2: Environment variable is not exposed as a property in a .csproj file"
To my understanding, a system-wide environment variable should be exposed as Property in a .csproj file. That is the equivalent as setting a property using `dotnet msbuild -p:SomeProperty=Value`. However, it is simply not working and I am forced to do:
[code]

Am I missing in the documentation or is it outdated/broken?

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2019-05-16 16:08] flixcor opened #3261 "Stacking in stead of nesting two using statements"
Does this apply when stacking in stead of nesting the two using statements? Is the outer object disposed twice in the following code?

using (var stream = new FileStream("file.txt", FileMode.OpenOrCreate))
using (var writer = new StreamWriter(stream))
{
    // Use the writer object...
}

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2019-05-16 16:21] mrctest opened #3262 "This is an issue"
I need more info

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7ee07712-936b-ed70-835c-b5cf97ad06aa
* Version Independent ID: 689c4231-f16d-2ffe-efa2-46d6cf91f409
* Content: [How to move around in the IDE - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/ide/how-to-move-around-in-the-visual-studio-ide?vie

[2019-05-16 16:22] #3262 closed

[2019-05-16 16:23] mrctest commented on #3262
test

[2019-05-16 17:53] gewarren commented on #3261
@flixcor Your example code is still a nested using statement - it just doesn't have the curly braces for the outer using statement. So yes, the outer object is still disposed twice.

[2019-05-16 17:53] #3261 closed

[2019-05-16 17:56] #3198 closed

[2019-05-16 17:56] #3241 closed

[2019-05-16 18:25] gewarren commented on #3253
@PBoraMSFT Thanks!

[2019-05-16 18:25] #3253 closed

[2019-05-16 18:38] gewarren commented on #3239
@pgrawehr The best place to provide this feedback is at https://github.com/dotnet/roslyn-analyzers/issues (this page is for documentation feedback). You'll get a better response from the product team over there. Please comment here once you've opened the issue over there and I'll close this one.

[2019-05-16 18:41] gewarren commented on #3228
@mavasani Who is the best person to answer this one?

[2019-05-16 18:44] gewarren commented on #3227
@StevenTCramer Thanks for this interesting idea! The best place to make product feature suggestions is on [Developer Community](https://developercommunity.visualstudio.com/spaces/8/index.html). Look for the "Suggest a Feature" button:

![image](https://user-images.githubusercontent.com/24882762/50102736-a7218180-01da-11e9-9aaf-ea3a99ccd030.png)

When you suggest a feature on Developer Community, y

[2019-05-16 18:44] #3227 closed

[2019-05-16 18:45] gewarren commented on #3221
@nitinjs What type of project did you create that you didn't see the Configure page? There's no way to use the old "new project dialog" in VS 2019, unfortunately.

[2019-05-16 18:51] gewarren commented on #3214
@AngelosP Could you comment on this issue?

[2019-05-16 18:55] gewarren commented on #2090
Closing due to not enough info about the app in question. We can reopen this issue if we get more info.

[2019-05-16 18:55] #2090 closed

[2019-05-16 19:20] gewarren commented on #3176
@DiskCrasher Good point - I'll update the documentation with this info. It's probably also worth opening an issue at https://github.com/dotnet/roslyn-analyzers/issues to change the error message that shows in the Error List - for example:

"Class2 is an internal class that is apparently never instantiated. If so, remove the code from the assembly. If this is a C# class that is intended to contain

[2019-05-16 19:30] gewarren commented on #3176
Also take a look at https://github.com/dotnet/roslyn-analyzers/issues/1878.

[2019-05-16 19:48] AngelosP commented on #3214
The comment by snelljef is accurate. The framework is extensible and snelljef could write custom rules to achieve the desired functionality. I was waiting for sample code on how to achieve that before responding, but other priorities have pushed this back a bit. I will still update this comment with sample code once I have it.

[2019-05-16 20:04] gewarren commented on #3188
Closing in favor of the roslyn-analyzers issue.

[2019-05-16 20:04] #3188 closed

[2019-05-16 20:09] cowlinator commented on #963
@tydunkel , thank you for clarifying all of this.

I'm unfamiliar with any real-world use-case where one would bother to run non-scripted commands through a cmd prompt and then use the UI instead of just using the UI to begin with.

I am most interested in the use-case where one writes scripts to update or install a product.

The problem being that when `vs_<sku>.exe` or `vs_installer.exe` with `-

[2019-05-16 20:28] gaclab opened #3265 "Ctrl+Alt+S to open Server Explorer"
The documentation says "Press Ctrl+Alt+S to open Server Explorer" but this appears to no longer be available as a keybinding in Visual Studio 2019.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d80b776-c83a-2d67-d18d-7dbecc7bc190
* Version Independent ID: b9190b2a-9826-8830-16b0-eb35574b14c9
* Content: [Work with mul

[2019-05-16 20:31] gewarren commented on #3177
@annieorben Thanks so much for pointing out this video and linking it to its corresponding docs article via these issues.

[2019-05-16 20:31] #3177 closed

[2019-05-16 20:38] gcopley commented on #3265
![serverexplorer](https://user-images.githubusercontent.com/1197835/57885471-a1af7e00-77f0-11e9-9b6e-da44fcc3cd43.png)

[2019-05-16 21:04] snelljef commented on #3214
@AngelosP Very cool. Didn't realize we could expand on this. Looking forward to the example. Might try investigating this ahead of it even.

[2019-05-16 21:28] mhyon commented on #3191
It looks like the "download the full list" link near the top under "Product availability" needs to be updated to http://download.microsoft.com/download/1/5/4/15454442-CF17-47B9-A65D-DF84EF88511B/Visual_Studio_by_Subscription_Level.xlsx like the "Products By Benefit Level" in the "What do I get?" section.

[2019-05-16 22:48] annieorben commented on #3177
@gewarren. Sorry, I created the video as a suggestion for improving the MSDN documentation. It's good to have several methods of learning available for people to get familiar with what the documentation is explaining.

[2019-05-16 23:52] heaths commented on #2218
We can't guarantee it will work in all Windows Server Core container images, so you can try in whatever image you require and see if it worked. The issues that necessitated excluding them from the example Dockerfiles ocurred during install so you should know right away whether setup worked or not based on whether it returned 0 or 3010 (`ERROR_REBOOT_REQUIRED`, which contains actually don't support

[2019-05-17 00:49] TerryGLee commented on #2218
@heaths Thanks for your input here :)
@uljo2 Per request from HeathS, I am closing this issue.

[2019-05-17 00:49] #2218 closed

[2019-05-17 12:12] LMoyer commented on #3191
Thanks!  This looks more accurate than before-- I'm seeing VS Pro 2017 and 2019 which were not there previously.  Appreciate your assistance!

[2019-05-17 15:43] Mikejo5000 commented on #3258
@daveyostcom  It looks like you have product feedback rather than documentation feedback. If you are looking for functionality that isn’t currently provided by the product, please use our new “Suggest a feature” option in the [Visual Studio Developer Community](https://developercommunity.visualstudio.com/spaces/8/index.html). We’d be happy to have this on record, where others can view it and upvot

[2019-05-17 15:43] #3258 closed

[2019-05-17 15:44] seanwhitepc commented on #683
I can try to clarify the initial question:
There doesn't seem to be a comprehensive list of default Targets for MSBuild.  For example, I have found in existing code in my job that there are targets for /t:Build and /t:Publish for .sqlproj but I have found no documentation or list of targets that ship with MSBuild by default nor additional properties for those targets (for example, /p:SqlPublishPro

[2019-05-17 16:15] daveyostcom commented on #3258
[Posted feedback here](https://developercommunity.visualstudio.com/idea/572935/i-need-my-code-to-be-called-when-the-debugger-stop.html)

[2019-05-17 16:43] Mikejo5000 commented on #683
@seanwhitepc Thanks for the additional context. It may be that the default targets change a lot depending on a wide variety of starting points (what type of project, what template), and also that they change a lot based on updates, and that they are owned by the team that owns the template (so it is somewhat external to MSBuild itself). @rainersigwald for input

[2019-05-17 17:35] #3176 closed

[2019-05-17 17:35] #3206 closed

[2019-05-17 17:53] rainersigwald commented on #683
It's impossible to have a full, complete list, but we could and probably should put a sketch of the [common.targets](https://github.com/microsoft/msbuild/blob/0f3d8e94ac11dd892c0c2fadb28b1a42e0d45fb1/src/Tasks/Microsoft.Common.CurrentVersion.targets) things and their intentions up. That's "documented" in comments there (but those need to be edited quite a bit).

Mostly via the difficult mechanism

[2019-05-17 21:55] kendrahavens commented on #3227
@StevenTCramer It'd be great if you could open a bug for this on our product team via [developer community](developercommunity.visualstudio.com/
) as Genevieve mentioned! That said, the editorconfig file in any open solution should override code style settings you've set locally in Tools > Options. Hopefully, this means you don't have to reset *all* of them when you reset Visual Studio. I'm intere

[2019-05-17 22:09] gewarren commented on #3247
@mavasani @chborl Could you review the new topic please? I put that it's a non-breaking change; let me know if I got that wrong. Also please check the use case I put in the rule description.

https://review.docs.microsoft.com/en-us/visualstudio/code-quality/ca1507?view=vs-2017&branch=pr-en-us-4645

[2019-05-17 22:18] #1772 closed

[2019-05-18 06:34] maiormarso opened #3267 "Getting date instead of time in the web browser https://localhost:44335/"
Please advise: Instead of
It's 11:31 PM right now on the server!
the browser is displaying
It's Friday,17 May, 2019 right now on the server!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 96bf0705-d0c2-d0ad-3e77-60b99a462e25
* Version Independent ID: 022345f2-1126-ec6c-e268-a73ca554aa39
* Content: [Step 2: Creating You

[2019-05-18 09:14] scottpage opened #3268 "The link to this page is misleading"
The link states "Publish to a Docker Image".  I'm thinking this is exactly what I need.  Then I click the link, and it's nothing but Azure.   Not forgetting to mention that the actual title is "Deploy an ASP.NET container to a container registry using Visual Studio".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 485fa

[2019-05-18 09:16] scottpage commented on #3268
If "Deploy an ASP.NET container to a container registry using Visual Studio" is what I wanted, I wouldn't have clicked on "Publish to a Docker Image".

[2019-05-18 16:18] ErazorBlade opened #3269 ""Add > New Item > C++ Unit Test" in "To write unit tests in the same project" is not possible"
In the section "To write unit tests in the same project", it says to choose Add &gt; New Item &gt; C++ Unit Test. This is not possible in Visual Studio 2019 and there is no component available to download the functionality.

Unit testing an executable is very annoying anyway because having to link every obj file for every new cpp file is too much work and there is almost no information available o

[2019-05-18 16:18] ErazorBlade commented on #3269
I am using VS Community 2019

[2019-05-18 16:57] maiormarso opened #3271 "Show output from: Build - Run Error CS1061 and CS0246"
Please advise, Attempted this Games ASP.net application five times, just in case, but the errors persist.
1&gt;-- Build started: Project: WebApplication1, Configuration: Debug Any CPU --
1&gt;Program.cs(19,46,19,57): error CS1061: 'IServiceProvider' does not contain a definition for 'CreateScope' and no accessible extension method 'CreateScope' accepting a first argument of type 'IServiceProvider'

[2019-05-19 09:10] arjunUnniumbath opened #3272 "Unable to find the tool listed in my subscriptions"
Hi team,
Is this subscription still available forocroaoft accounts ? I'm unable to view this in my benefits .

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4463ef6f-8bad-66e9-e9c2-f52c867625c0
* Version Independent ID: 99230beb-7158-cfc7-7607-8fc3270fae29
* Content: [Parasoft Virtualize/SOAtest Professional Desktop Be

[2019-05-19 12:09] jawineh opened #3273 "Flask/ views.py"
Much as the page is helpful there is however the unresolved issue of non-creation of 'views.py' file within Helloflask folder in the solution. could this be peculiar to VS 2018?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7542d51c-4ba4-db5d-cd34-4517779684a8
* Version Independent ID: ef7b3a39-814e-9c56-c2e1-6611464a

[2019-05-19 19:07] william-gross opened #3275 "Incorrect bootstrapper URLs?"
I believe the bootstrapper URLs on this page are incorrect. With VS 2017, there were predictable URLs such as:
https://aka.ms/vs/15/release/vs_community.exe

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e97b834-fa82-6aa0-5913-4d5a8ed23366
* Version Independent ID: e988e3ea-8565-ca88-6ade-ab67425a51ae
* Content: [Use

[2019-05-20 00:20] mikeblome commented on #3269
@ErazorBlade apologies! The doc fix will be published in a day or so. In the meantime, here are the correct steps (pls ignore the markdown formatting):
1. Modify the project properties to include the headers and library files that are required for unit testing.

   1. In **Solution Explorer**, right-click on project node for the program you are testing, then choose **Properties** > **Configuration

[2019-05-20 07:00] AdrianSanguineti commented on #2774
@rainersigwald, great explanation. The guidelines you've provided was exactly what I was hoping to find back in Feb. Hope that goes into the actual documentation.

@MagicAndre1981, I must agree my statement back in Feb of:

is a little misguided and I was doing explicit imports at the time.

[2019-05-20 09:30] cbmgit commented on #2237
I use this one. https://jsonformatter.org/xml-editor for XML Editing.

[2019-05-20 16:45] Mikejo5000 commented on #2774
I can plan to add this to a section on recommendations/guidance. Sound OK, @rainersigwald ?

[2019-05-20 16:53] rainersigwald commented on #2774
Yeah, sounds great.

[2019-05-20 17:18] spottedmahn commented on #2952
Hi @Mikejo5000 - I think I figured it out today why I'm seeing the differences: **full** framework **vs** **core** framework...

When targeting the full framework the exe is the app name.  In core, I guess only a dll is produced and that DLL runs under `dotnet.exe`

Reference: [Attaching the debugger](https://github.com/dotnet/core-setup/issues/2007#issuecomment-370030584)

[2019-05-20 17:24] AngelosP commented on #3214
It turns out that the extensibility point is not public and you are not able to extend the nesting logic at the moment. We have added an item on our backlog to make the extensibility point public in an upcoming release. Until then I'm afraid that the scenario you are describing will not be possible.

[2019-05-20 18:07] #3214 closed

[2019-05-20 21:20] #3247 closed

[2019-05-20 22:04] TerryGLee commented on #1384
@apawsey We've added a note to Step 2 on the Repair Visual Studio page that describes what Repair does; we hope that that additional information answers your inquiry. As such, we'll close the issue. However, you can still comment on the issue, and we can reopen it if need be.

[2019-05-20 22:04] #1384 closed

[2019-05-21 01:10] tom-corwin commented on #2766
I opened an issue in the MSBuild repository a month ago about this, so It's at least on the backlog.
See: https://github.com/microsoft/msbuild/issues/4328

[2019-05-21 03:53] harithchen opened #3277 "install offline"
I Use the Command [vs_enterprise.exe --layout .\vs2017-offline.NativeDesktop.eng --add Microsoft.VisualStudio.Workload.NativeDesktop --includeOptional --lang En-us] to download Eng Version.Then I disable all network adapter, and I Can Install VS2017 From the offline package.
But When I Use the Command [vs_enterprise.exe --layout .\vs2017-offline.NativeDesktop.chs --add Microsoft.VisualStudio.Workl

[2019-05-21 04:55] gewarren commented on #3192
@mavasani How does this look? I'm just waiting on the info for CA2222 (ported or not), otherwise I think it's pretty much complete.

https://review.docs.microsoft.com/en-us/visualstudio/code-quality/fxcop-rule-port-status?view=vs-2017&branch=pr-en-us-4659

[2019-05-21 07:27] salowenh opened #3278 "The installation path is wrong for VS2019"
I was able to find the Python under C:\Program Files (x86)\Microsoft Visual Studio\Shared

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b3dfab77-abe5-b079-1561-8ebd926f5cf8
* Version Independent ID: 2b799f56-7a98-83cb-5e18-c2be93cafd49
* Content: [Install Python support - Visual Studio](https://docs.microsoft.com/en-u

[2019-05-21 08:50] AndrewCussons opened #3279 "Support plan not displayed, close and reopen browser"
When you submit an incident online and add a contract using the Access ID and Contract ID you may have a problem. Occasionally, you do not see the support plan displayed or get an error. You may be able to click support request, new and cycle through your previous selection and it refreshes the support plan. If this does not work, copy your issue details, close the browser and sign-in again, then

[2019-05-21 10:54] tedneward opened #3280 "Download fail?"
Three times I've tried to do a complete offline cache-download, and all three times I'm getting this failure:

Error: Package 'Cocos2dv1,version=1.5.2' failed to download from 'https://go.microsoft.com/fwlink/?linkid=854219'. WebClient download failed: The decryption operation failed, see inner exception.. Bits download failed: Error context: BG_ERROR_CONTEXT_REMOTE_FILE, Error code: -2145844843.

[2019-05-21 13:12] mavasani commented on #3192
Thanks @gewarren - the page looks really nice and informative. For the unported rules, is there anyway we can also link them to corresponding github issues on the analyzers repo, or maybe somehow convey that users can search for the tracking issue on the analyzers repo? Otherwise, we might end up getting lot of duplicate issues here. However, that section can also come later - the page looks good

[2019-05-21 13:33] pgrawehr commented on #3239
Done: https://github.com/dotnet/roslyn-analyzers/issues/2481

[2019-05-21 14:29] ablaylock opened #3281 "Running the exact docker file and sequence of commands results in bad image"
When I run the exact sequence of commands and docker file described here the docker build succeeds. When I go to use the container I get an error "The system cannot find the path specified." when trying to run the container. I then added the collect.exe step from the advanced example and have it run after the install regardless to collect the installation logs. When I review the logs I get a messa

[2019-05-21 16:28] gewarren commented on #3239
@pgrawehr Thanks Patrick!

[2019-05-21 16:28] #3239 closed

[2019-05-21 16:43] heaths commented on #3281
Exit code 255 is typically associated with either running a container image that is not compatible with your host, or in a container in which you tried to install .NET Framework which is not supported (almost always requires a reboot, which containers do not support). Unfortunately, we are not able to provide samples for the myriad of different Windows host version and container versions required,

[2019-05-21 16:53] bender2k14 opened #3282 "When are unused open statements removed?"
&gt; - Remove unused open statements
&gt;   If this check box is selected, open statements in the current file that aren't used are removed.

When?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 31ba4504-a2c7-abcc-17e0-aed923f4b3fd
* Version Independent ID: 48fa3d22-6d8f-f39d-8753-51067c2b77b0
* Content: [Options, Text

[2019-05-21 16:55] ablaylock commented on #3281
Is it possible to get some guidance for selecting the proper container version for an image? What criteria need to be considered?

[2019-05-21 16:59] heaths commented on #3281
For process isolation, the host and container image version of Windows must match exactly. For Hyper-V isolation, the same version or 1 version older is supported. See https://docs.microsoft.com/virtualization/windowscontainers/deploy-containers/version-compatibility. And you must use the appropriately tagged `dotnet-framework` image for that version of Windows, which are now on mcr.microsoft.com,

[2019-05-21 17:03] heaths commented on #3281
I'll update the doc with one or both of these links as a note.

[2019-05-21 17:30] ablaylock commented on #3281
Just for clarity in my own mind can you confirm that I have correctly interpreted the table. I am running Windows 10 Version 1809 Build 17763.504. This means I can use images based on
* Windows Server 2016 Builds: 14393.*
* Windows Server, version 1709 Builds 16299.*
* Windows Server, version 1803 Builds 17134.*
* Windows Server 2019Builds 17763.*

Is that correct?

[2019-05-21 17:34] ablaylock commented on #3281
Additionally which of the `dotnet` images are appropriate? Which of the following are valid base images:
* .NET Core SDK
* ASP.NET Core runtime
* .NET Core Runtime
* .NET Core Runtime dependencies

[2019-05-21 17:43] heaths commented on #3281
With Hyper-V isolation, the host/container matrix should be correct. But as I mentioned, you need `dotnet-framework` images, now on MCR named `dotnet/framework`. The will have tags that denote which container OS versions they are based on, like those listed down the page at https://hub.docker.com/_/microsoft-dotnet-framework-sdk/. You'll need images with the .NET **Framework** SDK (Framework and C

[2019-05-21 17:52] #3192 closed

[2019-05-21 18:11] ablaylock commented on #3281
Ok, so the following base images should work for my host with hyperv isolation given the host/container matrix:

* mcr.microsoft.com/dotnet/framework/sdk:4.8-20190514-windowsservercore-ltsc2019 (based on 10.0.17763.504)
* mcr.microsoft.com/dotnet/framework/sdk:4.8-20190514-windowsservercore-1803 (based on 10.0.17134.766)
* mcr.microsoft.com/dotnet/framework/sdk:4.8-20190514-windowsservercore-ltsc2

[2019-05-21 18:35] gururajks opened #3284 "Remote tools not backward compatible"
This is incorrrect. I am getting an error message that says the remote debugger is newer than your version of Visual Studio 2017. I was using the remote tools of 2019 as it said that the remote tools are backward compatible and instructed to download the latest version.
![image](https://user-images.githubusercontent.com/4934049/58121504-9b951500-7bd5-11e9-8045-b9000a7177e7.png)

[2019-05-21 18:36] Gav-Brown commented on #1070
New settings from 16.1.0

csharp_prefer_simple_using_statement
csharp_prefer_static_local_function
csharp_using_directive_placement

[2019-05-21 18:36] gururajks opened #3285 "Remote tools are not backward compatible"
created an issue here
https://github.com/MicrosoftDocs/visualstudio-docs/issues/3284
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3a52d11c-1c52-fb1d-c785-75845f6edee3
* Version Independent ID: 35a11332-d74c-03dd-dbdd-75f256bd68b3
* Content: [Remote debugging - Visual Studio](https://docs.microsoft.com/en-us/visualstud

[2019-05-21 19:01] Mikejo5000 commented on #3284
@gururajks Thanks for the feedback! I'll ask about it. For now, I'd recommend you try the latest version of the VS 2017 remote tools.

[2019-05-21 19:02] Mikejo5000 commented on #3285
Closing in favor of #3284

[2019-05-21 19:02] #3285 closed

[2019-05-21 19:58] ckarras commented on #1411
So what's the answer? If I understand correctly: Minikube is supported by VS2019 but there's no documentation on how to use it yet?

[2019-05-21 20:49] ablaylock commented on #3281
I tested each of these and got the following results:

- mcr.microsoft.com/dotnet/framework/sdk:4.8-20190514-windowsservercore-ltsc2019 (based on 10.0.17763.504) **WORKS**
- mcr.microsoft.com/dotnet/framework/sdk:4.8-20190514-windowsservercore-1803 (based on 10.0.17134.766) **WORKS**
- mcr.microsoft.com/dotnet/framework/sdk:4.8-20190514-windowsservercore-ltsc2016 (based on 10.0.14393.2972) **DOESN

[2019-05-21 21:49] kendrahavens commented on #3240
You can definitely do this with long argument lists when calling a method.
![image](https://user-images.githubusercontent.com/8293542/58132973-8620ea80-7bd7-11e9-8f62-9b25c73c6d19.png)

I can update the documentation to include this. Thanks for the catch!

[2019-05-21 21:51] heaths commented on #3281
A download operation timed out. I will add a link to the documentation I provided above, but this no longer seems to be an issue with the documentation once that is in place. For general support, please visit https://developercommunity.visualstudio.com.

[2019-05-21 21:55] TerryGLee commented on #3280
@tedneward Thanks for letting us know, and we're sorry to learn that you're having a problem with your offline cache. Because this venue is for documentation issues, here are some other options to obtain a solution for the installation problem that you're experiencing:

- Contact us via a [Live Chat](https://visualstudio.microsoft.com/vs/support/#talktous) (English only) support option for install

[2019-05-21 21:58] #3280 closed

[2019-05-21 22:06] ablaylock commented on #3281
One remaining issue with the documentation is the documentation (I can open a new ticket if appropriate) is the Dockerfile doesn't correctly error out on this command:
[code]

I have installations that will continue through that fail with error 255 as in the original issue description.

[2019-05-21 22:20] gewarren commented on #3282
@cartermp Could you help answer this? Would these code fixes appear in the light bulb icon menu on the line of code with the issue?

[2019-05-21 22:32] cartermp commented on #3282
@gewarren Correct, this will do two things:

* Analyze a document for unused `open` declarations
* Offer a lightbulb that removes all unused `open` declarations

[2019-05-21 23:04] #3240 closed

[2019-05-22 00:32] yoelhalb opened #3286 "Where is RunTmChk.lib?"
Where is RunTmChk.lib in VS 2019?
The linker can't find it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f337c29-9b49-e0bd-1191-a42c2952ce25
* Version Independent ID: 79390d0b-7584-bdf8-a6af-d91d0bbf5d17
* Content: [Using Run-Time Checks Without the C Run-Time Library - Visual Studio](https://docs.microsoft.com/en-u

[2019-05-22 06:13] cremor opened #3287 "Update component list for Visual Studio 2019 16.1"
Visual Studio 2019 16.1 contains at least one new component, IntelliCode. Please update this page for all new components in version 16.1

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b29a1009-5ef4-707b-258e-fe8bbe7275b6
* Version Independent ID: 00fac5a7-fc6d-c9cb-2d26-d820c7055890
* Content: [Visual Studio Enterprise

[2019-05-22 07:39] TerryGLee commented on #3287
@cremor Thanks for your feedback; the page update is in the publishing queue and will be live before noon PST on 5/22/19.

[2019-05-22 07:54] #3287 closed

[2019-05-22 09:22] sinand99 opened #3288 "Sync autoloads deprecated"
[ProvideAutoLoad(UIContextGuids80.SolutionExists)] attribute causes following error in VS2019 16.1:
"Synchronous auto loads will be deprecated in future versions, consider using BackgroundLoad flag and AsyncPackage base class."
Please update documentation for version 16.1

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2019-05-22 12:00] LowJack187 commented on #3054
Damit Terry, How the hell are you supposed to use the tool if it won't install? Do something useful and program the Send Feedback about: This Product button to have the functionality of you passing the buck!

[2019-05-22 14:22] tristanbarcelon commented on #3155
Hi @fan130, I tried to use the same installation method for IntegrationServices.exe but this time on Windows Server Core 1803. Is there a specific issue with running the installer on that operating system? I just get an errorcode 1603. Is this OS not supported?

[2019-05-22 14:37] bradleyscollins opened #3289 "'Report a problem' does not work in VS 16.1.0"
I'd love to report a problem via the instructions here: https://developercommunity.visualstudio.com/content/problem/post.html?space=8

But the "Report a Problem ..." dialog appears and immediately disappears. Yes, I've tried turning it off & on again. And you provide me no other avenue for reporting *this* bug. Which brings me to how I found this bug—*another* bug:

Since upgrading to VS 16.1.0 ye

[2019-05-22 14:49] tristanbarcelon commented on #2592
When running this SSIS installer on Windows Server Core 1803 as follows, I got an exitcode 1603 and it always seems to fail when installing the Microsoft.DataTools.IntegrationServices.vsix file with VSIXBootStrapper.exe. This step produces an errorcode of 0x80131500. Any help decoding this errorcode would be appreciated.

[code]

[2019-05-22 15:17] ckarras commented on #1411
In case the real answer is that it's not supported, please vote for https://developercommunity.visualstudio.com/idea/425380/kubernetes-tools-for-visual-studio-support-for-loc.html to increase our chances of getting this supported eventually.

[2019-05-22 15:25] Chavoshi opened #3290 "Wrong configuration"
"storage-opts": [
    "size=120GB"
  ]

This configuration causes Docker to crash, "size=120G" is the correct one

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b91a4a43-5353-97cf-7532-7644aa3b497f
* Version Independent ID: 858d9a5c-72f3-6a85-9270-0a0dd9e0438b
* Content: [Install Visual Studio Build Tools into a contai

[2019-05-22 17:15] heaths commented on #3290
Mine is currently set to the following, which is working fine in docker engine 18.09.2:

[code]

On what version are you?

[2019-05-22 17:22] f1ben opened #3291 "Update Prerequisites"
In Visual Studio Community 2019's installer, "Data storage and processing" is not in the "Web & Cloud" group.  It's in "Other Toolsets".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 11d19e1d-1448-e5b3-6580-9b11042e03ab
* Version Independent ID: 549472fa-f3be-53bc-cf9f-170c1183c834
* Content: [Create a database file a

[2019-05-22 18:03] gewarren commented on #3291
@f1ben Thanks for letting us know! We'll get it updated.

[2019-05-22 19:10] conceptdev commented on #1429
I was just able to build this sample successfully. Can you provide more information on what platform you are using and what Android SDKs you have installed. We recommend Visual Studio 2019 and the SDK for Android API Level 27 (8.1, Oreo) which is what this sample is currently set to use. Also ensure that you have restored NuGet packages, so that Xamarin.Forms and the Android support library packag

[2019-05-22 20:31] heaths commented on #3281
No, I thought that was working but on subsequent testing it is clearly not. I'm trying to fix that, but either my recent update to 19H1 and/or something in docker engine 18.09.2 isn't working when I try to reset the `SHELL` to anything else. I'm working with our virtualization team internally to determine the issue, but may be some time before I update the docs (don't want to update it to a _Docke

[2019-05-22 20:33] lisawong19 commented on #1733
@TerryGLee I no longer work for docs.
@rloutlaw @thomps23

[2019-05-22 20:58] gewarren commented on #3192
@mavasani This page is live now: https://docs.microsoft.com/en-us/visualstudio/code-quality/fxcop-rule-port-status?view=vs-2019

[2019-05-22 20:59] mavasani commented on #3192
Thank you @gewarren. That looks very nice!

[2019-05-22 21:03] #773 closed

[2019-05-22 21:08] #3290 closed

[2019-05-22 21:08] heaths commented on #3290
I tried just "G" and it works, and I see is what is documented in [their docs](https://docs.docker.com/engine/reference/commandline/dockerd/) so I'll just update these anyway.

[2019-05-22 21:11] ablaylock commented on #3281
Well for what it is worth I successfully built it on my system but I am pretty unsettled with the non-determinism of the same Dockerfile, it might not work the next time I try.

Here is my docker file (slightly modified to get the logs with collect.exe):

[code]

[2019-05-22 21:33] BruceForstall opened #3293 "Add column showing exact escape sequence for each row"
This would include the % and hex ASCII value needed to escape each character.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4e990c1d-5b08-0b80-6851-68bd737f9c7b
* Version Independent ID: f898e9ad-99e7-5584-4b7e-a808d3f63728
* Content: [Special Characters to Escape - Visual Studio](https://docs.microsoft.com/en-us/visu

[2019-05-22 21:37] pratiksanglikar commented on #2962
Edit and continue debugging feature in c# code only works for Windows containers at the moment. Please verify what type of container are you using.

[2019-05-22 21:42] conceptdev commented on #3127
You can right-click on the solution and **Display Options > Show All Files** to view files that aren't in the solution (such as .gitignore or readme files).

<img width="509" alt="Display Options Show All Files" src="https://user-images.githubusercontent.com/199373/58210746-1bd37d00-7c9f-11e9-942c-9a09d62be8e9.png">

You cannot browse _up_ folders from where the solution file is. Right-click and c

[2019-05-22 21:42] #3127 closed

[2019-05-22 21:56] heaths commented on #3281
As long as you have the right (supported) `FROM`, the only thing non-deterministic about this is:

1. If you use a lax tag - i.e. not specific to any particular build or KB support level of the OS - you might get a slightly newer OS version. As with any guest OS, it all depends on how specific you get. If you want to be really specific, use an image manifest hash (looks like @sha256:_hash_).
2. Wh

[2019-05-22 22:11] tavrez opened #3294 "Update for 16.1"
This page need update for 16.1, some new components added(i.e. 18362 SDK) and some required components are now optional and new ones are required

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a6f80d9f-168b-e3cb-6499-e03a44206826
* Version Independent ID: 4b235b0d-1436-0a36-ef55-f76ba8d95bd1
* Content: [Visual Studio w

[2019-05-22 22:57] TerryGLee commented on #3294
@tavrez The updated pages were published earlier today, per the update date of 5/21/19. Is there something missing that you think should be there that isn't? If so, please let us know.

(@minsa110 FYI)

[2019-05-22 23:02] tavrez commented on #3294
Thanks, I saw it. I think there are some problems with catalog itself not with the docs(18362 should be in c++ desktop development sections too).
So now, only the title update remains:
![image](https://user-images.githubusercontent.com/9096461/58214541-58d55900-7d0b-11e9-9748-c5928c86616b.png)

[2019-05-22 23:02] #3294 closed

[2019-05-22 23:04] TerryGLee commented on #3294
@tavrez I'll get that RC mention fixed; thanks so much for pointing that out!

[2019-05-23 04:38] conceptdev commented on #2972
Thanks for your feedback @wjk.

As you might have seen, Visual Studio for Mac is getting a completely re-written editor experience. As part of the ongoing improvements, there is a questionnaire linked [from the "extending" page](https://docs.microsoft.com/en-us/visualstudio/mac/extending-visual-studio-mac?view=vsmac-2019#additional-information) where you can help us by sharing your use-cases for t

[2019-05-23 04:38] #2972 closed

[2019-05-23 05:10] fan130 commented on #3155
Has this log file generated: ssisinstall_24_ISVsix.txt? Actually the log file seems invalid. Windows doesn't support "<user>" as folder name.

[2019-05-23 07:00] tristanbarcelon commented on #3155
Hi @fan130 , ssisinstall_24_isvix.txt did get generated. The "<user>" value was placed by me to replace a service account I was using at the time.

[2019-05-23 07:44] fan130 commented on #3155
I saw such error message in your log when installing SSAS and SSRS: Could not find Windows Runtime type 'Windows.Networking.Connectivity.NetworkCostType'
Could you confirm whether ssisinstall_24_isvix.txt contains same error message? I expect that the error message would be same because we reused some work from SSAS and SSRS to build our VSIX.

Back to the error message, seems windows server core

[2019-05-23 14:40] RaphaelFourdrilis opened #3299 "Method not found: 'Microsoft.CodeAnalysis.Emit.EmitResult' when running TextTemplating build targets on build server"
Hello,

I've been trying to solve a strange behavior for a week now, but to no avail.
We use T4 to generate some C# code in our solution, and everything works great locally (on a machine where VS 2017 Pro is installed).
But then, when we try to run the build on TeamCity, we encounter a MissingMethodException from Microsoft.CodeAnalysis as soon as TextTemplating.targets tries to transform ou t4 tem

[2019-05-23 15:07] minhtam-nguyennhat commented on #1865
@gewarren What exactly the component is called ?

[2019-05-23 15:53] Mikejo5000 commented on #3178
@ddobric More info:
“Broken” in the stack view means there was an error when trying to walk the stack at that point in time. Could be missing/dropped ETW events.
There is a good chance that collecting the same trace will result in fixing this “Broken” message.
Strictly speaking it isn’t broken, and it’s very unlikely that the code the user wants to see is hidden behind this.
We are however plannin

[2019-05-23 16:55] asb3993 commented on #3080
Hi @Depechie we're actively working with the design team on making this available in a nice, easy to reference format. Hopefully we'll have something for you soon!

[2019-05-23 17:01] asb3993 commented on #3039
@memark We updated the names of the channels in Visual Studio 2019 (8.XX series) to better reflect how we are making releases. If you're seeing these channels, you are on Visual Studio 2017. You can either use the dropdown menu to change to 2017 docs, or you can can update to Visual Studio 2019 by using the updater or by installing it from here: https://visualstudio.microsoft.com/vs/mac/

[2019-05-23 17:01] #3039 closed

[2019-05-23 17:07] asb3993 commented on #3018
Hi @markti, this documentation is covered in the Xamarin.iOS documentation, which you find here: https://docs.microsoft.com/en-us/xamarin/ios

Make sure that the device is properly provisioned to deploy to a device: https://docs.microsoft.com/en-us/xamarin/ios/get-started/installation/device-provisioning/
You can also use Wireless deployment for Visual Studio for Mac: https://docs.microsoft.com/en

[2019-05-23 17:38] tristanbarcelon commented on #3155
I'll get back to you after tomorrow. The build server which was encountering these installation issue is currently inaccessible due to having lost trust relationship with domain. As far as I could tell, SSDT component (which allows us to build sqlproj files) is there and that's installed by the Microsoft.VisualStudio.Workload.Data workload. This is confirmed by the fact we're able to build reposit

[2019-05-23 17:43] #1780 closed

[2019-05-23 17:55] tristanbarcelon commented on #2224
Would it be possible to post the WorkloadIDs and ComponentIDs per Visual Studio product in a file that is visible from github similar to what the dotnet team does for their [release index](https://dotnetcli.blob.core.windows.net/dotnet/release-metadata/releases-index.json) that is differentiated for each release (15.0, 15.9, 16.0, 16.1, etc.)? I'm hoping to create a friendly "bundler" utility that

[2019-05-23 18:19] gregvanl commented on #1176
Fixed with https://github.com/MicrosoftDocs/visualstudio-docs-pr/pull/4598

[2019-05-23 18:19] #1176 closed

[2019-05-23 18:49] gregvanl commented on #1171
There is currently no sample code for the tutorial.

[2019-05-23 18:49] #1171 closed

[2019-05-23 18:52] gregvanl commented on #1179
Have you tried a Miscellaneous Files project?

https://docs.microsoft.com/en-us/visualstudio/extensibility/internals/miscellaneous-files-project?view=vs-2019

[2019-05-23 19:51] Rick-Anderson opened #3301 "[VS Options] Need docs for Preview Features, Product Updates, Tab & windows, Trust settings"
This page is missing the following:

- [x] Preview Features
- [x] Product Updates

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 628d0bf4-32e2-c37e-a39a-a05492a54305
* Version Independent ID: f90dc3d7-e9c5-dbb1-e856-5d902294c5b5
* Content: [Environment Options Dialog Box - Visual Studio](https://docs.microsoft.com/en-u

[2019-05-23 19:59] Rick-Anderson commented on #3301
The **Use previews of .NET Core SDK** setting is under **Environment**  on the **Options** Dialog.

**Tools > Options > Environment **

![image](https://user-images.githubusercontent.com/3605364/58282419-63124a00-7d41-11e9-91bf-1fe280eff79b.png)

[2019-05-23 20:25] wlav opened #3302 "cppyy"
I'm the author of cppyy and ran across this page (https://docs.microsoft.com/en-us/visualstudio/python/working-with-c-cpp-python-in-visual-studio?view=vs-2019). Since some time, cppyy has wheels for MS Windows on pypi.org and installing it, both on 32 and 64 bits Windows, should be a breeze. I use VS2017 myself (community edition; compiler version 19.15.26730), and have no current issues. Perhaps

[2019-05-23 21:27] John-Hart commented on #3185
#please-close

[2019-05-23 21:27] #3185 closed

[2019-05-23 21:56] BrianMouncer opened #3303 "What are the "vstest.console.exe" command line versions of "rerunFailedTests: true" and "rerunMaxAttempts: 3""
https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/test/visual-studio-test-agent-deployment?view=azure-devops

I would like to use the VSTEST test options "rerunFailedTests: true" and "rerunMaxAttempts: 3".
however we have some cases where our YAML build runs a bash script to copy tests and select what tests to run, then call "vstest.console.exe" to run the tests.

What are the "vstest.

[2019-05-23 22:15] John-Hart commented on #3184
Hi @jgfet , as I mentioned in your other issue #3185 the Office PIAs are installed with Visual Studio

[2019-05-23 22:15] #3184 closed

[2019-05-23 22:15] John-Hart commented on #3184
#please-close

[2019-05-23 22:19] John-Hart commented on #1610
The document is correct.
There should be a "Add Bookmark Control" dialog that states:  "Make a selection or place the insertion point where you want to add a bookmark control, and click OK."

[2019-05-23 22:19] John-Hart commented on #1610
#please-close

[2019-05-23 22:19] #1610 closed

[2019-05-23 22:28] BruceForstall opened #3304 "Missing syntax element"
The "syntax" section doesn't show `ItemName`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5fcd9d10-b620-994d-a92e-3fe2ac7b9cae
* Version Independent ID: 5b884eee-e0fd-5741-6ab8-b0c1b0222753
* Content: [Output Element (MSBuild) - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/msbuild/output-element-msbui

[2019-05-23 23:05] John-Hart commented on #1957
@H35am this is just a code snippet that you could place anywhere in your VSTO VISIO add-in.  For example, you could place this code in a button click on a form.  A good place to start is looking through the [Getting Started Programming VSTO Add-ins document](https://docs.microsoft.com/en-us/visualstudio/vsto/getting-started-programming-vsto-add-ins?view=vs-2017)

[2019-05-23 23:05] #1957 closed

[2019-05-23 23:07] madskristensen commented on #3144
The ID is **IDM_VS_MENU_EXTENSIONS** AFAICT

[2019-05-24 01:40] fan130 commented on #3155
Actually from this document: https://docs.microsoft.com/en-us/visualstudio/releases/2019/system-requirements

Server core is not officially supported by VS 2019. So we don't recommend to install and VS2019 and SSIS designer on server core.

[2019-05-24 06:13] cremor commented on #1070
Thanks everyone for reporting new undocumented settings. I've updated the initial comment of this issue to a list of what seems like all undocumented settings as of today.

[2019-05-24 06:42] cremor opened #3305 "Non-english component name"
The component with the id "Microsoft.VisualStudio.Component.VC.Llvm.Clang" has the name "Windows için clang derleyicisi". This should be in english.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b29a1009-5ef4-707b-258e-fe8bbe7275b6
* Version Independent ID: 00fac5a7-fc6d-c9cb-2d26-d820c7055890
* Content: [Visual Studi

[2019-05-24 10:47] Laro88 opened #3307 "How to set the timeout for unmanaged c++ unit tests? I haven't found any way to do this so far...."
using namespace Microsoft::VisualStudio::CppUnitTestFramework;

TEST_METHOD(Connect_disconnect)
		{ and here goes the code that freezes when remote test server is down....

I need a way to fail after a couple of seconds - right now it jo freezes everything.
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 66fe9e04

[2019-05-24 10:57] Laro88 opened #3308 "TEST_METHOD_ATTRIBUTE timeout?"
Is there a way to set a timeout for a specific TEST_METHOD?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c83cfa6a-8be4-e7b5-bf06-9f70023aaa65
* Version Independent ID: 92877cae-f39e-6653-ce1e-233f75988ba0
* Content: [Use the Microsoft Unit Testing Framework for C++ - Visual Studio](https://docs.microsoft.com/en-us/vi

[2019-05-24 15:31] Usmankha2020 opened #3309 "Update change log for VS Tools for Unity"
https://docs.microsoft.com/en-us/visualstudio/cross-platform/change-log-visual-studio-tools-for-unity needs to be updated

[2019-05-24 16:42] MikeChristensen opened #3310 "What's the workload ID for CodeAnalysis?"
In VS2017, the workload ID was Microsoft.VisualStudio.Component.Static.Analysis.Tools, which doesn't seem to work anymore in VS2019.  The docs seem to hint that it's now Microsoft.VisualStudio.Workload.VisualStudioExtensionBuildTools, but I still don't have \MSBuild\Microsoft\VisualStudio\v16.0\CodeAnalysis folder on my machine.

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2019-05-24 17:28] madskristensen commented on #3210
@gundermanc can you help?

[2019-05-24 17:32] madskristensen commented on #2014
No, you need to use a ATOM feed, but that along with the .vsix files can be hosted anywhere - including on SharePoint. See this https://github.com/madskristensen/PrivateGalleryCreator

[2019-05-24 17:33] madskristensen commented on #2009
Anywhere in the VSIX Project. Just make sure the .pkgfile ends up somewhere inside the .vsix file and that you add it as an `<Asset>` in the .vsixmanifest file

[2019-05-24 17:34] gundermanc commented on #3210
I don't have too much experience with SigHelp. @olegtk ?

[2019-05-24 17:38] madskristensen commented on #1184
You can see the list of images on http://glyphlist.azurewebsites.net/knownmonikers/ and get the [KnownMonikers Explorer](https://marketplace.visualstudio.com/items?itemName=MadsKristensen.KnownMonikersExplorer) extension for an in-VS experience with added features

[2019-05-24 20:39] grendeld opened #3312 "Shortcuts for GUI elements"
This list is great and there's lots of options. Is there a keyboard shortcut or menu option somewhere that allow a VS user to explore the actual VS GUI elements names? This would be highly desirable to those whom want a complete custom experience in VS.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23332067-130b-a343-

[2019-05-24 21:44] gewarren commented on #435
@Diche-Bach We added information about the solution file header here: https://docs.microsoft.com/en-us/visualstudio/extensibility/internals/solution-dot-sln-file?view=vs-2019#file-header

Also, as noted in [this section](https://docs.microsoft.com/en-us/visualstudio/ide/solutions-and-projects-in-visual-studio?view=vs-2019#solutions), solution files are not designed to be hand-edited.

[2019-05-24 21:44] #435 closed

[2019-05-24 23:43] gewarren commented on #486
Naming guidelines were added to the Roslyn .EditorConfig file last July: https://github.com/dotnet/roslyn/blob/master/.editorconfig#L63. I'll add a direct link to this in the See Also section.

[2019-05-24 23:45] gewarren commented on #555
~2K page views per month.

[2019-05-25 00:07] gewarren commented on #746
@kendrahavens Do you know who would be able to answer this question?

[2019-05-25 00:14] gewarren commented on #824
@jotway Did you ever figure out what the icon was? Could you post a screenshot of the icon in question?

[2019-05-25 00:18] gewarren commented on #911
@yilmazdurmaz Thanks for this feedback - it sounds like a bug based on diverdan92's response. To make sure that this problem is logged in the right place, please use the [Report a Problem](https://docs.microsoft.com/visualstudio/ide/how-to-report-a-problem-with-visual-studio) tool. When you do this, your report becomes part of the work items that are tracked on Visual Studio [Developer Community](

[2019-05-25 00:18] #911 closed

[2019-05-25 00:29] gewarren commented on #924
@yilmazdurmaz I am just now getting around to adding the link to the resource dictionary page - thank you for pointing that out.

For the product feedback, please use the [Report a Problem](https://docs.microsoft.com/visualstudio/ide/how-to-report-a-problem-with-visual-studio) tool. When you do this, your report becomes part of the work items that are tracked on Visual Studio [Developer Community]

[2019-05-25 01:00] gewarren commented on #1035
Given that this is pretty out-of-date now (we've since fixed a bunch of broken links found using our internal "CATS" tool) and that it has some false positives, I'm going to close the issue. Thanks for providing us with the list.

[2019-05-25 01:00] #1035 closed

[2019-05-25 01:02] gewarren commented on #1146
@prnadago Is it possible to create custom solution templates (without projects) as described?

[2019-05-25 01:08] gewarren commented on #1189
@AhmadKelany Were you expecting the illustration to be a video, or are you just asking for a link to a video tutorial? We address issues based on the number of page views of the page in question, and currently adding a video to this topic is not a priority (apologies).

[2019-05-25 01:08] #1189 closed

[2019-05-25 02:20] dksimpson commented on #1241
The Visual Studio registry backup instructions no longer apply and have been removed from the article. Closing issue.

[2019-05-25 02:20] #1241 closed

[2019-05-25 07:19] zkyll opened #3313 "Installing VS2019 from a local cache doesn't work"
I've been doing my installations from local cache since VS2017. But in VS2019, "offline installation" doesn't work anymore. It keeps trying to connect to the internet.

I have --includeRecommended and --includeOptional in my layout options just to make sure that required components will be included in the local cache. But still, the problem persists. I'm getting frustrated now. Been trying this si

[2019-05-26 04:13] rgatkinson opened #3314 "Warning C6217 is spurious; it should be removed"
The Component Object Model specification (which defines HRESULTs and their use) specifices that the set of 'successful' HRESULTs that may legally be returned from a method or function must be explicitly enumerated in the specification. Often, this is just the single HRESULT 'S_OK'. In such situations, it is perfectly reasonable (and better code is generated) to test against the one S_OK value with

[2019-05-26 06:25] softworkz commented on #3221
@gewarren - no longer correct...​

For all those being annoyed by the new dialog (same like me):

Check out this extension:

**Classic 'New Project' Dialog**

https://marketplace.visualstudio.com/items?itemName=softworkz.SwitchProjectDialog

**Brings back the classic 'New Project' Dialog for Visual Studio 2019**

[2019-05-26 08:43] ddobric commented on #3178
I guess, in this specific case, the problem was that no events were collected. However, this can mean, that some error happened (I couldn't have noticed any) or events have not been collected. But in a second case, this must be clear (provide information = better message than "broken") solvable by changing of sample rate, which didn't help.

[2019-05-26 12:33] StingyJack opened #3315 "Is this still relevant for VS 2017+ ?"
...considering they have moved out of the registry?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ffe0e292-13f2-0d70-1759-7d750d840c3a
* Version Independent ID: 1f92ed1b-94fb-092e-c604-d891fe22c8d5
* Content: [Registering Single File Generators - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/extensibili

[2019-05-26 17:41] thewebchameleon opened #3316 "Exporting all projects at once"
I know I'm asking much but here's my scenario.

I have a template that I use for most new projects and I constantly add updates to it. I would like to create a visual studio template to make this an easier process going forward rather than renaming the solution manually.

Following these steps solves my immediate problem but the process become rather laborious. It would be great to be able to expo

[2019-05-26 17:42] thewebchameleon opened #3317 "Exporting all projects at once"
I know I'm asking much but here's my scenario.

I have a template that I use for most new projects and I constantly add updates to it. I would like to create a visual studio template to make this an easier process going forward rather than renaming the solution manually.

Following these steps solves my immediate problem but the process become rather laborious. It would be great to be able to expo

[2019-05-26 17:42] #3316 closed

[2019-05-26 17:43] thewebchameleon commented on #3316
tracked here: https://github.com/MicrosoftDocs/visualstudio-docs/issues/3317

[2019-05-27 22:21] MantieReid commented on #3221
@softworkz  Thank you.  This extension solves this problem for now.

[2019-05-27 23:06] weitzhandler commented on #2853
@gewarren, shame but thanks for your input!

[2019-05-27 23:15] weitzhandler commented on #2853
This issue is tracked [here](https://developercommunity.visualstudio.com/content/problem/33831/class-diagram-not-available-in-aspnet-core-project.html).

To achieve this, edit a text or XML file with the _.cd_ extension, and replace its content with:

[code]

[Credit](https://stackoverflow.com/questions/47967459/how-to-generate-class-diagram-from-asp-net-core-1-1-project)

[2019-05-28 00:48] All-About-Code opened #3328 "You need to use Visual Basic Windows Forms to make the math quiz!"

[2019-05-28 07:06] ethanyuxinzhang opened #3329 "Visual Studio 2019 for mac Xamarin.Android debugger Does Not Work"
Hi.

Recently, I have been programming on two similar Apps with Xamarin. For one app, the debugger for Xamarin. Android works fine. However, for the other one, the debugger just won't work at all. According to the doc that on your website (https://docs.microsoft.com/en-us/visualstudio/mac/debugging?view=vsmac-2019), there should be control buttons for stepping through the codes. But the app just d

[2019-05-28 07:46] chelder86 opened #3330 "The option Publish does NOT exist in Visual Studio Community"
Is it the only option to pay $45 per month to get VS Professional to be able to publish on Azure?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 92da5d51-dd0e-f62e-c453-8bdaafe04776
* Version Independent ID: 645d4899-f7c6-ffcd-53fa-3b6fb64be765
* Content: [Publish to Azure App Service - Visual Studio 2019 for Mac](http

[2019-05-28 10:20] priyasgs commented on #2854
https://devblogs.microsoft.com/visualstudio/new-features-for-extension-authors-in-visual-studio-2019-version-16-1/ says:
18 months ago, we sent an email to extension partners announcing the deprecation of synchronous auto-loading of extension packages. A year ago, we followed up with a blog post with more details that outlined that synchronously auto-loaded package would be unsupported in a future

[2019-05-28 15:28] Mikejo5000 commented on #3304
@BruceForstall Looks like you typically have either ItemName or PropertyName, but not both.

[2019-05-28 15:28] #3304 closed

[2019-05-28 15:34] Mikejo5000 commented on #3293
@BruceForstall Thanks, Bruce. I believe this is by design, as the main intent is to tell which characters need escaping, vs. providing the list of % and ASCII values. If you would like to open a PR with these improvements, though, I will make sure it gets reviewed. Thanks!

[2019-05-28 15:34] #3293 closed

[2019-05-28 16:09] BruceForstall commented on #3304
Yes. Shouldn't the "Syntax" section show that?

[2019-05-28 16:27] gewarren commented on #3317
Thanks for this suggestion Adrian. The best place to make product feature suggestions or provide feedback is on [Developer Community](https://developercommunity.visualstudio.com/spaces/8/index.html). Look for the "Suggest a Feature" button:

![image](https://user-images.githubusercontent.com/24882762/50102736-a7218180-01da-11e9-9aaf-ea3a99ccd030.png)

When you suggest a feature on Developer Commun

[2019-05-28 16:34] #3221 closed

[2019-05-28 16:58] kendrahavens commented on #746
@AbhitejJohn May be able to shed some light.

[2019-05-28 17:13] TerryGLee commented on #3305
@cremor Thanks for letting us know!
@minsa110 I've verified that this is appearing on the "en-us" version of the page. Let's see what we can do to get this fixed, please?

[2019-05-28 17:23] TerryGLee commented on #3328
@All-About-Code Are you referring to this page?
https://docs.microsoft.com/en-us/visualstudio/ide/tutorial-2-create-a-timed-math-quiz?view=vs-2019

[2019-05-28 17:32] Mikejo5000 commented on #3304
I think it's OK as-is as it is shown in the example. @rainersigwald for possible comment.

[2019-05-28 17:33] conceptdev commented on #3329
Hi @ethanyuxinzhang, please use the [Report a problem](https://docs.microsoft.com/en-us/visualstudio/mac/report-a-problem?view=vsmac-2019) menuitem in Visual Studio for Mac. If the debugger works fine for one project but not another project, it may be a problem with Visual Studio or the project - but for us to diagnose we need a lot more information, which is automatically gathered when you use th

[2019-05-28 17:33] #3329 closed

[2019-05-28 17:46] #2228 closed

[2019-05-28 17:48] asb3993 commented on #3330
Hi @chelder86, Publish to Azure is available in all versions of Visual Studio for Mac, including Community. If you're not seeing Publish when you right click on a .NET Core project, please use the "Report an Issue" feature to file it as a bug. Thanks!

[2019-05-28 17:53] conceptdev commented on #3233
Hi @jbachelor this is not supported in Visual Studio for Mac right now.

Since there is some shared code with the open source project MonoDevelop, you might find some of its documentation helpful https://www.monodevelop.com/developers/articles/project-templates/ although this has not been tested.

Thanks for your feedback - it's helpful for us to know this is something you'd use.

[2019-05-28 17:53] #3233 closed

[2019-05-28 18:06] AbhitejJohn commented on #746
@StingyJack : Currently those values are generated by extensions, MSTestv2 is one of those that is installed by default. [This ](https://docs.microsoft.com/en-us/visualstudio/test/generate-unit-tests-for-your-code-with-intellitest?view=vs-2019#q-can-i-use-other-unit-test-frameworks-with-intellitest) link has a few more.

[2019-05-28 18:11] priyasgs commented on #2854
Seems like synchronous autoload is not going away: https://devblogs.microsoft.com/visualstudio/updates-to-synchronous-autoload-of-extensions-in-visual-studio-2019/

[2019-05-28 18:44] abubakarm commented on #3313
my command is this:

vs_professional__1645676357.1549550999.exe --layout c:\vslayout --add Microsoft.VisualStudio.Workload.ManagedDesktop --add Microsoft.VisualStudio.Workload.NetWeb --add Component.GitHub.VisualStudio --includeOptional --add Microsoft.VisualStudio.Workload.NativeDesktop --includeRecommended --lang en-US

and its downloading, its in progress, I am going to install once it finishes

[2019-05-28 18:51] #486 closed

[2019-05-28 18:51] #611 closed

[2019-05-28 18:51] #924 closed

[2019-05-28 19:11] #3309 closed

[2019-05-28 19:47] gewarren commented on #472
Related to #2839

[2019-05-28 19:49] gewarren commented on #472
2000 page views/month = P1

[2019-05-28 20:00] gewarren commented on #738
@AbhitejJohn Could you comment on this question?

[2019-05-28 20:04] #746 closed

[2019-05-28 20:05] gewarren commented on #931
~1000 page views per month = P2

[2019-05-28 20:08] gewarren commented on #1070
~8000 page views/month = P0

[2019-05-28 20:18] gewarren commented on #1146
@kelps It is possible to author a solution template with whatever content you like, using the **Blank Solution** template as a starting point. You won't be able to automatically create the template by using **Export Template** (that only works for project templates), but you should be able to author a solution template manually. Even though these steps are specific for web templates, the general s

[2019-05-28 20:18] #1146 closed

[2019-05-28 20:30] haroon-oxts opened #3334 "Problems installing VS for Mac on 10.13.6 High Sierra"
I have tried the latest installer from [here](https://visualstudio.microsoft.com/thank-you-downloading-visual-studio-mac/?sku=communitymac&rel=16).

But I get this error message when running the installer:

[code]
I can bypass this by going to the location mentioned
`/Users/hhaider/Library/Caches/VisualStudioInstaller/downloads/visualstudioformac-8.0.8.2.dmg`
And manually installing the dmg, but t

[2019-05-28 20:37] AbhitejJohn commented on #738
@StingyJack : This is a pretty old issue. I'm assuming you've already understood that the answer for this is a non-deterministic analysis because AddSomething does call DateTime.Now in GetNow(). Please feel free to report any issues you have with this workflow as such on developer community.

[2019-05-28 20:42] StingyJack commented on #738
I think I was trying to figure out how to substitute the derived class (or something like it) in place of the base class in order to  let Intellitest continue to find permutations. But like you said, it was a while ago and I don't remember specifically.

[2019-05-28 20:49] #738 closed

[2019-05-28 20:58] gewarren commented on #479
I moved this issue to the Roslyn repo where it can be fixed.

https://github.com/dotnet/roslyn/issues/36001

[2019-05-28 20:58] #479 closed

[2019-05-28 21:02] gewarren commented on #824
@jotway To prioritize our work, we are closing this issue due to low page views on the topic in question (~350/month) and that we haven't had any other inquiries about the icon you mentioned.

[2019-05-28 21:02] #824 closed

[2019-05-28 21:11] gewarren commented on #1300
~12K page views per month = P0

[2019-05-28 21:23] gewarren commented on #1305
~8000 page views per month = P0

[2019-05-28 21:51] madskristensen commented on #3072
There is no official staging environment, but a lot of people are using the [Open VSIX Gallery](http://vsixgallery.com) for hosting CI builds

[2019-05-28 21:52] madskristensen commented on #2854
It's not going away, but it is disabled by default

[2019-05-28 21:53] TerryGLee commented on #3155
@tristanbarcelon It looks like your request for support was responded to and possible solutions were provided. Because this venue is meant specifically for documentation feedback on content that resides on https://docs.microsoft.com/visualstudio, we're going to close this issue now. However, should you have more input for us, please see our [Feedback](https://docs.microsoft.com/visualstudio/ide/fe

[2019-05-28 21:53] #3155 closed

[2019-05-28 21:56] TerryGLee commented on #3313
@zkyll Thanks for letting us know.
@tydunkel FYI

[2019-05-28 22:06] madskristensen commented on #3315
It may be for native implementations. For managed single-file-generators, [this sample](https://github.com/microsoft/VSSDK-Extensibility-Samples/tree/master/SingleFileGenerator) is the most up-to-date way of writing them

[2019-05-28 22:07] TerryGLee commented on #3277
@harithchen Thanks for letting us know.
@tydunkel FYI.

[2019-05-28 22:14] TerryGLee commented on #3236
@Matthiasclee Thanks for your inquiry. For information on how to do this, see our [Compile and build in Visual Studio](https://docs.microsoft.com/visualstudio/ide/compiling-and-building-in-visual-studio?view=vs-2019) page.

[2019-05-28 22:14] #3236 closed

[2019-05-28 22:26] gewarren commented on #1442
@StingyJack Thanks for letting us know. It is not EOL for Windows Forms, in face for .NET Core 3.0 Microsoft is releasing a "desktop pack" for Windows Forms. We do need to hook up the help keyword (VS.ToolsOptionsPages.WindowsFormsDesigner.General) for that Options page so it lands on a current topic (that we'll need to create), so thanks for alerting us.

[2019-05-28 22:51] mariaghiondea commented on #3289
It sounds like your installation/upgrade wasn't successful.
Are you able to launch the Visual Studio Installer? If yes, can you please try a repair? Does the Feedback Tool launch from there? That is another place to report feedback from, especially installer feedback.

[2019-05-28 22:55] mariaghiondea commented on #3245
Are you able to launch the Visual Studio Installer? If yes, does the Feedback Tool launch from there? That is another place to report feedback from, especially installer feedback.

[2019-05-28 23:03] gewarren commented on #1443
Setting priority at P2 for adding the new topic using this info as a basis: https://www.softwaretestingclass.com/how-to-create-web-performance-test-with-vsts/

[2019-05-28 23:39] dnethi commented on #2042
Hello StarTrekCafe

Thank you for reporting the issue. We have updated the VS shell for SSMS 18 which has several Accessibility updates. Could you try the latest version of SSMS which is SSMS 18 and let us know if you are still having issues installing it.

thanks,
Dinakar

[2019-05-29 02:00] m-mitchell opened #3335 "What do I do with this information?"
I've opened the template log and it has the templates I'm trying to load listed, but the Visual Studio project dialog isn't seeing them.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b8bdeeea-18b8-cbc5-4b07-69059f185b50
* Version Independent ID: 5eefca01-d41a-d4d3-a74d-2d78724ed2bf
* Content: [Troubleshoot template di

[2019-05-29 03:48] keivaan commented on #1567
you must in document **MyTemplate.vstemplate** in root **ProjectTemplateLink** add attribute **CopyParameters="true"**
`
      <ProjectTemplateLink ProjectName="$projectname$.Core" CopyParameters="true">
		DPKSchema.Core\MyTemplate.vstemplate
	  </ProjectTemplateLink>
`
and you can access name solution in the document .cs by this code
`
     $ext_projectname$
`

[2019-05-29 06:23] PBoraMSFT commented on #3303
@BrianMouncer - these options are currently only supported through the VSTest task, not throught the CLI. If you need this on the CLI, request you to open a feature request on the test platform repo.
https://github.com/microsoft/vstest

@TerryGLee - this issue on the pipeline docs can be closed.

[2019-05-29 09:43] AndyRB opened #3336 "broken link"
"Learn more about Microsoft for Startups" link returns 404

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a00c3abb-f124-2ecf-6e37-c20af5c0e9df
* Version Independent ID: 0a80a37a-66ca-89f2-a366-b9704b571884
* Content: [Visual Studio subscriptions offered to startups through the Microsoft for Startups program](https://do

[2019-05-29 12:59] SychevIgor opened #3337 "Directly specify VS version"
Based on https://devblogs.microsoft.com/devops/uml-designers-have-been-removed-layer-designer-now-supports-live-architectural-analysis/ and last update date (2016) - I assume, that "class diagrams." feature not available for VS2019.
Could you please directly specify it here to prevent any confusion.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2019-05-29 15:20] zatchgordon opened #3338 "export TF_AUTO_SAVE_CREDENTIALS=1 not working"
I run the command `export TF_AUTO_SAVE_CREDENTIALS=1`.
Then I'll run a command which runs against a login.. this took me through an OAuth flow.
It wouldn't "auto" save my credentials =&gt; next time I logged in it still asked for my credentials.
I tried `TF_BYPASS_BROWSER_LOGIN=true`
And then logging in as my normal user/password but TFS doesn't allow that anymore.
Next, I made a Personal Access T

[2019-05-29 15:27] zatchgordon commented on #3338
Solved by deleting old entries in my Mac Keychain for my email address.

[2019-05-29 15:27] #3338 closed

[2019-05-29 15:45] Logerfo opened #3339 "Doesn't mention tuple member identifier"
Even if it's not supported (I do not possess this knowledge), it should be mentioned as not supported.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b402d2e0-a53a-b61a-4da8-b5ee766d9301
* Version Independent ID: 612695df-5934-d967-d709-500ce02b1395
* Content: [.NET Naming Conventions For EditorConfig files - Visual St

[2019-05-29 15:51] conceptdev commented on #3338
Glad you got it working - thanks for sharing the solution.

[2019-05-29 16:16] Mikejo5000 commented on #2067
Should be fixed

[2019-05-29 16:16] #2067 closed

[2019-05-29 16:55] TerryGLee commented on #3303
Closing per request.

[2019-05-29 16:55] #3303 closed

[2019-05-29 16:58] gewarren commented on #1457
@Mikejo5000 I'm reassigning this to you since you've been more involved in this one.

[2019-05-29 17:25] gewarren commented on #1465
@MiroslavMikus Is this the kind of info you'd like to see added to the topic?

For a .NET Core console app: `<TargetFramework>netcoreapp2.1</TargetFramework>`
For .NET Standard: `<TargetFramework>netstandard2.0</TargetFramework>`
For .NET Framework: `<TargetFrameworkVersion>v4.7.2</TargetFrameworkVersion>` (as you noted)

[2019-05-29 17:29] petrroll commented on #1457
I'm coming back to MS as intern in three weeks, so I'm happy to chat about it again. That said, I think most of aforementioned issues could be "solved" (or rather avoided) with the new VSCode remote stuff.

[2019-05-29 17:47] gewarren commented on #1476
Prioritizing as P2 due to deprecation of load and web perf testing.

[2019-05-29 17:48] gewarren commented on #1478
I think this was assigned to me by mistake.

[2019-05-29 17:51] alvarou commented on #3006
@mayankbansal018 , is not working on VS2019 Enterprise 16.1.1.
@NenoLoje, does it work for you?

Regards.

[2019-05-29 18:02] conceptdev commented on #1478
Hey @bradweiers, this sounds like something @therealjohn might be interested in discussing. We have two spots ([win](https://docs.microsoft.com/en-us/visualstudio/cross-platform/visual-studio-tools-for-unity?view=vs-2019) and [mac](https://docs.microsoft.com/en-us/visualstudio/mac/unity-tools?view=vsmac-2019)) where we could cover important guidance, and link from a blog post.

p.s. sorry for the

[2019-05-29 18:46] Mikejo5000 commented on #2990
@mcurko. If this is still an issue, it looks like a product bug. To make sure that this is logged in the right place, please use the [Report a Problem](https://docs.microsoft.com/visualstudio/ide/how-to-report-a-problem-with-visual-studio) tool to report the issue. At the point, it will get listed in [Visual Studio Developer Community](https://developercommunity.visualstudio.com/spaces/8/index.htm

[2019-05-29 18:46] #2990 closed

[2019-05-29 19:03] Mikejo5000 commented on #1238
@philippecp
Hi, we are going through old issues. This looks like a support request. If it's still an issue, please use the [Report a Problem](https://docs.microsoft.com/visualstudio/ide/how-to-report-a-problem-with-visual-studio) tool to report the issue. When you do this, your report becomes part of the work items that are listed in the in the [Visual Studio Developer Community](https://developer

[2019-05-29 19:03] #1238 closed

[2019-05-29 19:33] evanwindom commented on #3336
@AndyRB Thanks for bringing this to our attention.  It looks like that page has been deleted.  I've redirected the link to the home page for Microsoft for Startups.

@TerryGLee The PR for this has been submitted.  We can close this.

[2019-05-29 19:40] therealjohn commented on #1478
Thanks @conceptdev, I'll take a look!

[2019-05-29 19:45] evanwindom commented on #3272
@arjunUnniumbath - Thanks for reaching out.  Whether the Parasoft benefit is available to you depends on the type of subscription you have.  It's currently only available to Visual Studio Enterprise standard and annual cloud subscriptions.  You can log in to https://my.visualstudio.com/subscriptions to see what subscriptions are available to you.  If you have an Enterprise subscription that's not

[2019-05-29 19:57] evanwindom commented on #3193
@varnk My apologies for not getting this answered sooner.  I checked with the support teams, and they're not aware of any outages.  If you experience another outage, please contact us at 800-936-5800.  You can set up your support at that number, and they can escalate any outage issues.  Thanks!

[2019-05-29 19:58] evanwindom commented on #3191
@TerryGLee Please close this. Thanks.

[2019-05-29 20:10] gewarren commented on #1515
@mavasani Do you know if the message for CA2214 changed from static code analysis to FxCop analyzers?

There's a SO question [here](https://stackoverflow.com/questions/41323614/warning-about-calling-overridable-auto-property-when-using-generics) from Visual Studio 2015 with the same warning mentioned in this issue ("'Derived.Derived()' contains a call chain that results in a call to a virtual meth

[2019-05-29 20:16] mavasani commented on #1515
@gewarren Seems like the CA2214 FxCop analyzers port changed the [diagnostic message](https://github.com/dotnet/roslyn-analyzers/blob/b5c77c05d0629e20dfe85fdf534e4196e14cb455/src/Microsoft.CodeQuality.Analyzers/Core/QualityGuidelines/MicrosoftQualityGuidelinesAnalyzersResources.resx#L193) to `Do not call overridable methods in constructors`. I am not sure if this was intentional or not. We can cha

[2019-05-29 20:19] evanwindom commented on #3279
@AndrewCussons - Thanks for bringing this to our attention.  I've verified that it's a known issue and our support engineering team is working on it.  I've also asked them to provide specific instructions we can include in the vs-tech-support.md article to help customers who encounter the issue.  Thanks again for the report.

[2019-05-29 20:48] gewarren commented on #1723
A comment on this [blog post](https://blogs.msdn.microsoft.com/saraford/2008/11/19/did-you-know-you-can-use-devenv-exe-edit-to-open-a-file-in-an-existing-visual-studio-instance-360/) indicates the most recently used instance of VS will be used. If there's a way to specify an instance, I'll update the page.

100 page views/month = P2

[2019-05-29 20:50] gewarren commented on #1738
2300 page views per month = P1

[2019-05-29 20:54] TerryGLee commented on #3336
@evanwindom Thanks for the follow-up; closing this now.

[2019-05-29 20:54] #3336 closed

[2019-05-29 20:56] gewarren commented on #1907
@PeterPann23 Is this the kind of info you're looking for? https://docs.microsoft.com/en-us/windows/desktop/menurc/about-resource-files

[2019-05-29 21:49] rajasandeep17 opened #3343 "Microsoft Interop Word Does not work in UWP development"
There is no way right now to edit word documents in UWP apps.  There is no code that allows to access/open the word documents on the network folders.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 341031d8-e029-a1cf-6d85-159066a9cc8e
* Version Independent ID: 7629f12e-e7cb-4d35-8097-43b800789d03
* Content: [How to: Pro

[2019-05-29 21:54] gewarren commented on #1908
@ericbl Currently, source analysis using Roslyn analyzers doesn't support suppressing warnings just for generated code. See https://github.com/MicrosoftDocs/visualstudio-docs/issues/3230#issuecomment-492008665 and https://github.com/dotnet/roslyn/issues/6999.

The `namespaceanddescendants` scope for the SuppressMessageAttribute is available in VS 2019 and should help in your situation.

The remain

[2019-05-29 21:58] gewarren commented on #1956
Topic is here: https://docs.microsoft.com/en-us/visualstudio/profiling/crosssession?view=vs-2019.

Reassigning this to Mike.

[2019-05-29 22:28] Kmaczek commented on #2548
3. Setter can also be constructed in such a way that it preserve original reference:

List<BinanceSymbolValueVM> symbolsValues = new List<BinanceSymbolValueVM>();
public List<BinanceSymbolValueVM> SymbolsValues
{
    get { return symbolsValues; }
    set
    {
        symbolsValues.Clear();
        symbolsValues.AddRange(value);
    }
}

[2019-05-29 22:43] TerryGLee commented on #3191
@evanwindom Thanks for your follow-up; closing this now.

[2019-05-29 22:43] #3191 closed

[2019-05-29 23:06] gewarren commented on #1959
7300 page views per month = P1

[2019-05-29 23:16] tydunkel commented on #3277
@harithchen I believe the offline layout will contain the zh-cn packages, but installing from the layout may not be telling the installer to install the zh-cn packages. Without any options, the installer will default to using the system locale as the language to install. Can you verify if the vs2017\response.json contains a line with `--addProductLang: ["zh-CN"]`?

[2019-05-29 23:16] gewarren commented on #2035
This page gets 80 page views per month.

[2019-05-29 23:22] tydunkel commented on #3313
@zkyll Could you provide feedback through our [product feedback site](https://docs.microsoft.com/en-us/visualstudio/ide/how-to-report-a-problem-with-visual-studio?view=vs-2019)? It will be difficult to determine what the root cause is without logs from the installation and a full repro description.

[2019-05-29 23:23] gewarren commented on #2077
@bradcray I don't think there's anything else actionable on this issue. Once the textmate bundle is in the right directory it should just "work". Let me know if you feel something else needs to be added.

[2019-05-29 23:23] #2077 closed

[2019-05-29 23:34] TerryGLee commented on #3313
@tydunkel Thanks for your response :)
@zkyll Please do report this through the product feedback site; for more information about how to do so, see the [Report a problem](https://docs.microsoft.com/visualstudio/ide/how-to-report-a-problem-with-visual-studio?view=vs-2019) page.
@abubakarm It sounds like you have a suggestion to report to us; for more information about how to do so, see our [Suggest

[2019-05-29 23:34] #3313 closed

[2019-05-30 00:09] gewarren commented on #2170
I tried this out and I'm not seeing CA1801 fire. Instead I see IDE0060 (Remove unused parameter 'assert' if it is not part of a shipped public API):

![image](https://user-images.githubusercontent.com/24882762/58599236-3b851b00-8234-11e9-94f6-e4e631a19d4d.png)

@mateusz-dobrowolny Did you see something different? And, are you asking us to update the documentation to say it's okay to suppress the w

[2019-05-30 00:23] gewarren commented on #2186
It would be worthwhile to copy the settings mapping from [this section for VS 2017](https://docs.microsoft.com/en-us/visualstudio/ide/reference/options-text-editor-csharp-formatting?view=vs-2017#format-document-settings) to [this section about Code Cleanup in VS 2019](https://docs.microsoft.com/en-us/visualstudio/ide/code-styles-and-code-cleanup?view=vs-2019#apply-code-styles). At the same time, w

[2019-05-30 01:11] TerryGLee commented on #3124
@Liturgist I've made changes to the tutorial to address the issues that you brought up. The updates should be published by noon on May 30th.

Thanks for your help with improving our documentation!

[2019-05-30 01:11] #3124 closed

[2019-05-30 01:36] TerryGLee commented on #3193
@evanwindom Thanks for responding to @varnk; we'll close this issue now.

[2019-05-30 01:36] #3193 closed

[2019-05-30 04:29] gewarren commented on #2206
This topic gets about 7000 page views per month.

[2019-05-30 04:44] gewarren commented on #2305
@pappasa Thanks, I'm updating this now.

[2019-05-30 04:50] gewarren commented on #2670
Oops, tagged the wrong Prachi Bora @PBoraMSFT.

[2019-05-30 04:55] #3317 closed

[2019-05-30 09:18] mateusz-dobrowolny commented on #2170
@gewarren
IDE0060 is in VS 2019.
I am using VS 2017 - there is IDE up to 0049.
Seems like you are using VS 2019, with max IDE number 0061.

As for me (I have discussed it internally with architects), the best would be to make singleton 'This' to have all methods available.

So I could use:
[code]

No I am forced to use
[code]
inside.

Back to your second question?
Suppressing the warnign for the f

[2019-05-30 09:24] jayaranigarg commented on #2670
@gewarren : Yes, these instructions are still valid.
You should see which QTAgent*.exe process is getting launched for running the tests and modify the value of EqtTrace in that particular QTAgent*.exe.config file.

[2019-05-30 10:09] Junth19 commented on #3110
LinkedIn Learning Benefit is not available yet. When will it be available?
Please bring LinkedIn Learning Benefit back!

[2019-05-30 10:53] PeterPann23 commented on #1907
Yes, kinde hoped to see some samples of how to format it to get say 2 or more icons in the file and use it in a .net project

[2019-05-30 15:51] TerryGLee commented on #3181
@evanwindom Thanks for responding and fixing the link.
@gcinini Thanks for helping us improve our documentation!
The page should be updated with the new link sometime after noon PST today. Closing the issue now.

[2019-05-30 16:48] evanwindom commented on #3279
The article has been updated to provide steps to display the support plan.  We will update it again once the underlying technical issue is resolved.

[2019-05-30 17:31] bryanfarrell commented on #3289
I'd love to report a similar problem I'm having in 16.1.1.  I click on the link to report the problem and then it fails to authenticate me no matter how many times I try.  It tells me to log into visual studio but the thing is I am successfully logged into Visual Studio.  It appears to be defaulting to Internet Explorer (not Edge or the OS default browser) to go to the report page.  Really need to

[2019-05-30 17:55] #1515 closed

[2019-05-30 17:55] #2305 closed

[2019-05-30 19:19] TerryGLee commented on #3305
@cremor We'll have a revised page published tomorrow by noon; "Windows için clang derleyicisi" will then read as "Clang Compiler for Windows" instead, as it should.

Thanks for helping us improve the docs!

[2019-05-30 19:19] #3305 closed

[2019-05-30 19:53] AlainPilon opened #3347 "REFERENCE is under the ADD context menu"
Adding a reference to the project from the test project requires to click on ADD, then REFERENCE

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 107f3c03-dac2-0226-d5c1-f2f49daa413d
* Version Independent ID: aaf80310-28eb-462b-d4f1-6b97a8abe260
* Content: [Get started with unit testing - Visual Studio](https://docs.micr

[2019-05-30 23:15] gewarren commented on #2670
@goldilocked Perhaps watch the Details tab in Task Manager to see which QTAgent*.exe process is launched when you run the test. Then, modify the corresponding .config file, as Jayarani suggests. Also, do you have an App.config file in your test project?

![image](https://user-images.githubusercontent.com/24882762/58671047-0e993c80-82f6-11e9-8062-af3f9c8f2817.png)

[2019-05-31 00:59] AhmadKelany commented on #1189
@gewarren
Thanks for the reply,
The page had a link to a video,
A fellow protested back in April 2018 that the link is no longer working,
you replied then that you will fix the link,

But when I viewed the article, I found no video link at all, hence my comment
![Untitled](https://user-images.githubusercontent.com/12924528/58674422-708a8e00-8358-11e9-836f-f58bdc0a9b0a.png)

[2019-05-31 07:05] gewarren commented on #1189
@AhmadKelany Thanks for explaining. When I went to update the broken link, I couldn't find a suitable replacement, so I removed it instead.

Related to #778.

[2019-05-31 09:26] cmjchrisjones opened #3351 "VS2019 Offline installer - how to use for Preview versions"
This works great for creating an offline installer for the RC versions, however how can we do the same for the Preview versions, I don't see any mention of it in the docs unfortunately...

[2019-05-31 11:30] NenoLoje commented on #3006
@alvarou I haven't tried with VS 2019 yet, still running agents with VS 2017.

Did it work for you before (with VS 2017)?

[2019-05-31 13:08] mrward opened #3352 "Should be using SDK versions not runtime versions"
I think we should be using SDK versions in the left hand column. It looks like we are using .NET Core runtime numbers. The problem here is that the same runtime can be available in different SDK versions and a particular SDK version may not supported by VS Mac. If I go to the following page it is not obvious to me based on the table shown here what is supported.

https://dotnet.microsoft.com/downl

[2019-05-31 13:19] mrward commented on #3352
It looks like this table was based on the one Jose created. However the information presented here is confusing to me. The problem is that 2.1.5 should be 2.1.500. Jose's matrix:

.NET Core SDK	VSMac
2.1.5nn	8.0
2.1.6nn	8.1
2.2.1nn	8.0
2.2.2nn	8.1
3.0.1nn	8.1

2.1.5nn here means 2.1.500, etc.

[2019-05-31 13:34] haroon-oxts commented on #3334
You may close this issue. My installation of High Sierra did not have the /private/tmp folder that a lot of installers require. That is what blocked the installation of the Xamarin.iOS package. Once I created this folder and gave it the right permissions ( chmod 1777) it worked.

[2019-05-31 15:22] TerryGLee commented on #3330
@asb3993 Thanks for your response; I'll close the issue here as this venue is specific to documentation issues.

[2019-05-31 15:22] #3330 closed

[2019-05-31 15:32] alvarou commented on #3006
@NenoLoje  , It was working on VS2017, both locally and cloud.

@mayankbansal018 have you tried the video data collector setting on VS2019 16.1.1?

Regards.

[2019-05-31 15:43] mayankbansal018 commented on #3006
@alvarou , I don't remember if I tired on Vs2019 update 1 or not, but will look into this on Monday

[2019-05-31 17:05] gewarren commented on #1723
@rwjdk I confirmed with the product team that there's no way to specify which instance will open the file, unfortunately.

[2019-05-31 17:22] gewarren commented on #3310
@mavasani Can you help to answer this? I'm guessing it has something to do with the deprecation of static code analysis?

[2019-05-31 17:25] mavasani commented on #3310
@gewarren I am not very sure. We (Managed code analysis team) did not make any setup authoring changes in VS2019. Tagging @jinujoseph in case she knows of any changes in this area done by any partner team.

[2019-05-31 17:40] MikeChristensen commented on #3310
It kinda _appears_ that the folder still gets installed with Visual Studio 2019 Pro, but does _not_ get installed using the vs_buildtools.exe (which we use on our build servers).  This looks like a change, since the VS2017 version of vs_buildtools.exe did install.

We're totally cool moving to some other code analysis technology though.  We'd just appreciate some pointers on how to install it (pre

[2019-05-31 17:42] mavasani commented on #3310
@MikeChristensen - https://docs.microsoft.com/en-us/visualstudio/code-quality/fxcop-analyzers?view=vs-2019. You just install the FxCop analyzers NuGet package and the analysis runs as part of your regular builds. No separate tooling required other then the core compiler toolset.

[2019-05-31 17:44] goldilocked commented on #2670
I looked at details and saw QTAgent32.exe was running every time I ran a CodedUI test. I went and checked QTAgent32.exe.config and it's one of the files I changed when I first started trying to add automatic tracking.

I don't believe there's an App.Config for this specific test project. I looked and noticed that another test project for a different type of test has an App.Config, just to cover my

[2019-05-31 17:44] #2670 closed

[2019-05-31 17:57] #1723 closed

[2019-05-31 19:46] fmpeck opened #3354 "the csharp vb toggle"
The vb or csharp toggle doesn't work for this page. (I converted the code and it works fine if you would like a copy.)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e2d3bb09-dfe3-f7f1-dc25-6e4a5ff799b4
* Version Independent ID: 02cbe976-d761-16ec-dd17-1a58d9aa64eb
* Content: [How to: Programmatically save attachments

[2019-05-31 21:24] TerryGLee commented on #3351
@cmjchrisjones Thanks for your feedback. We typically do not provide documentation for preview releases other than in the [release notes](https://docs.microsoft.com/visualstudio/releases/2019/release-notes-preview?view=vs-2019) and in [blog posts](https://devblogs.microsoft.com/visualstudio/visual-studio-2019-version-16-1-generally-available-and-16-2-preview-1/), mostly because such content can pr

[2019-05-31 21:27] cmjchrisjones commented on #3351
Thanks @terryglee

[2019-05-31 21:44] TerryGLee commented on #3328
@All-About-Code Haven't heard back regarding my inquiry, but I wanted to let you know that if you were referring to the tutorial that I linked to in my earlier comment, it does include Visual Basic code, starting on this page: https://docs.microsoft.com/en-us/visualstudio/ide/step-2-create-a-random-addition-problem?view=vs-2019.

[2019-05-31 21:44] #3328 closed

[2019-05-31 22:30] TerryGLee commented on #3211
@ish-1313 Thanks again for submitting this GitHub Issue to us. We've changed the project type from WPF to Windows Forms; the change should be published on Monday 6/3/2019 by noon Pacific Daylight Time. We appreciate your help in improving our documentation!

[2019-05-31 22:30] #3211 closed

[2019-06-01 00:28] gewarren commented on #3310
Since the underlying problem has been addressed, I'm closing this issue.

[2019-06-01 00:28] #3310 closed

[2019-06-01 11:40] ClydeDz commented on #3072
Awesome, thanks!

[2019-06-01 11:40] #3072 closed

[2019-06-01 11:41] Urgen-Dorjee opened #3356 "Rename file option missing"
When you create a new class project, it comes with default file name called Class1.cs. There used to be an option to rename this to file<Quick Action> menu, but now it does not show up. when you rename Class1.cs(whatever) to Mynewclass.cs in the editor, it does not rename the file. Hence I have to manually rename the file. It was working fine in VS2017 but VS2019 it is not. I browsed through Tools

[2019-06-01 19:28] StingyJack commented on #746
@AbhitejJohn - so the test runner would be supplying a constant to use for that value?

[2019-06-01 19:31] StingyJack commented on #3315
@madskristensen - ty for that link. I'll share that with the colleague I was explaining SFG to.

[2019-06-01 19:31] #3315 closed

[2019-06-01 19:35] StingyJack commented on #1443
@gewarren - you can close this if you want. PBora has made it clear that this is a dead and unsupported tech already, and no further questions will be answered about it. Its not worth spending time on something already slated for the dumpster. Thank you for trying, its appreciated.

[2019-06-02 05:58] PeterPann23 opened #3357 "Where does it generate the nu get package and how to consume it"
perhaps this is a nice place to document where it creates the nuget package and what the license settings needs to work

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1490ea17-1bce-6eb1-0a78-1b8159b82e4e
* Version Independent ID: 4350b38b-6f06-16b6-da75-4d85c6c43909
* Content: [Assembly Information Dialog Box - Visual

[2019-06-02 12:02] PeterSandberg opened #3358 "How do you configure a python entry_point in launch.vs.json?"
How do you configure a python entry_point in launch.vs.json?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cfaa1bb6-20e0-dadf-7b12-30fa947c520e
* Version Independent ID: 87b861c0-0a08-f6fd-6fa2-9117e853dbbc
* Content: [Quickstart - Open a Python code folder - Visual Studio](https://docs.microsoft.com/en-us/visualstudi

[2019-06-02 14:50] Reynolds-Beta opened #3359 "Deploying a UWP project needs to be done from a NTFS formatted drive"
**Description**
Going through the tutorial to create a UWP app. I'm an experienced developer, but mostly for UI-less services so coding isn't an issue. Just trying to learn something new. Anyways, no problem following the basic steps to create the app and get used to XAML. However, while the code would build just fine, I could not get it to run locally. After checking to make sure my machine was i

[2019-06-02 17:14] Palatis opened #3360 "How do I reference different assembly with different platform?"
for example I have 'x86' and 'x64' both referencing some 3rd party dll (say, `SomeLib.dll`)
but the provider provides multiple dlls, each for one platform, say
- `x86\SomeLib.dll`
- `x64\SomeLib.dll`

how do I setup reference so
- `x86` configuration references `x86\SomeLib.dll`
- `x64` configuration references `x64\SomeLib.dll`

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2019-06-02 17:43] CBminecraft06 opened #3361 "IT HELPED ME SO MUCH THANKS!!!"
Keep up the good work Microsoft!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8f103240-7b3b-4732-12a9-39fdef044a08
* Version Independent ID: 0c9fb9a9-f254-fa5c-a334-3fff7dfccb92
* Content: [Using .NET 4.x in Unity - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/cross-platform/unity-scripting-upgrade?vi

[2019-06-03 09:53] alenmeister commented on #1305
This workaround does not work for me on VS2019 with NUnit and NetcoreApp2.2, sadly 👎

`[03.06.2019 11:49:59 Informational] ------ Run test started ------
[03.06.2019 11:50:00 Warning] Test run will use DLL(s) built for framework .NETCoreApp,Version=v1.0 and platform X64. Following DLL(s) do not match framework/platform settings.
DuckDuckGo.dll is built for Framework 2.2 and Platform AnyCPU.
Go to

[2019-06-03 13:38] schoetbi opened #3363 "Visual Studio C++ Core Guideline Checker reports C26485 on correct code"
See: https://godbolt.org/z/4ESplP
The array is passed by reference including the size. When changing line 19 to

   Format (&v)[4] = AllFormats();@

the code is not compilable.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 05e8d660-9f3c-74f8-145b-43857fce9fe1
* Version Independent ID: 82b0888a-1662-c3e5-b06b-59f5621c5

[2019-06-03 13:55] narenarjun commented on #3110
hello dev essentials support team!!!
when will the LinkedIn Learning benefits be available for us? is there any tentative time line of when it'll be back?

give  us an update on this issue please !

[2019-06-03 14:02] therealjohn commented on #3361
@CBminecraft06 Thank you!

[2019-06-03 14:08] #1443 closed

[2019-06-03 14:58] user2150 opened #3364 "Is it legal to decompile .NET Framework using tools like JetBrains dotPeek?"
Sometimes it's impossible to get things work (for example, when the downloaded PDB is stripped we get "Source not available" message). There are tools like JetBrains dotPeek which can help, but is it legal? Almost every license agreement nowadays prohibits decompilation, and, if I'm not mistaken, the .NET Framework is no exception:

"You may not" ... "reverse engineer, decompile or disassemble the

[2019-06-03 15:11] Mikejo5000 commented on #3364
@user2150 Hi, I think it's a better question for the .NET folks rather than VS. @mairaw

[2019-06-03 17:45] #3354 closed

[2019-06-03 18:39] gewarren commented on #3356
@Urgen-Dorjee Are you referring to the dialog box that pops up in VS 2017 when you rename a file in Solution Explorer?

![image](https://user-images.githubusercontent.com/24882762/58825773-068e1500-85f4-11e9-8056-983ac445bd37.png)

@kendrahavens Do you have any insight into why that functionality was removed from VS 2019?

@Urgen-Dorjee There is a "quick action" that you can invoke to rename the t

[2019-06-03 18:51] donr484 opened #3367 "An Office 365 subscription is NOT an MSDN benefit"
This page leads you to believe that you get an Office 365 subscription as an MSDN benefit, which is not true. The keys provided do not provide an Office 365 Subscription. You do not get "1TB of OneDrive storage, 60 Skype minutes per month" etc. You only get the Office Pro Plus 2019 software.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2019-06-03 19:06] asb3993 commented on #3352
I've made a PR to fix this. It should be updating soon.

[2019-06-03 19:06] #3352 closed

[2019-06-03 19:11] gewarren commented on #3256
@ryzngard Thanks, I'm adding this now.

[2019-06-03 22:13] mikadumont opened #3370 "Add .NET Productivity features in Visual Studio 2019 16.1 on"
All features to be added to docs for Visual Studio 2019 Preview 1 and 2, and Update 15.8:

Dev16 Preview 2 ([release notes](https://docs.microsoft.com/en-us/visualstudio/releases/2019/release-notes-preview#net-productivity))
- [x] 1. Sync Namespace and Folder Name to be added to ([Refactor code](https://docs.microsoft.com/en-us/visualstudio/ide/refactoring-in-visual-studio?view=vs-2019))

Dev16.1

[2019-06-03 22:26] kendrahavens commented on #3370
Sounds good!
* Maybe split/merge if statement can be its own topic. I'm on the fence. You can decide.
* Maybe don't include "make readonly struct writable". That wasn't a big headline and users can discover it more organically than through docs.

[2019-06-03 23:47] ghogen opened #3371 "Feedback on new hub page for Visual Studio docs"
For the month of June we're testing out a new hub page for the Visual Studio technical documentation library. It's using a new design with updated links to commonly used or recommended content. Share your feedback by commenting on this issue.
New hub page can be seen here: https://docs.microsoft.com/visualstudio

[2019-06-03 23:56] jbachelor commented on #3233
Thanks so much for getting back to me, @conceptdev. I hope it is something that will eventually be supported. It would be super helpful!

[2019-06-04 03:51] ScotBren opened #3372 "Other annotations can lead to this warning"
I am seeing this warning emitted for a function annotated by _Releases_lock_, so it's not just _Requires_lock_held_.  There may be other annotations to mention, as there are several _Requires... and _Releases... annotations available.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f8a3ee91-9cd3-044a-64a5-d3a2de9558f5
*

[2019-06-04 06:01] Dogwei opened #3373 "The latest vs 2019 editor, an error occurred while loading the number of references."
![QQ截图20190604135837](https://user-images.githubusercontent.com/14845492/58854963-5a226080-86d1-11e9-9902-cf293b08676b.png)

![QQ截图20190604135857](https://user-images.githubusercontent.com/14845492/58854801-eda76180-86d0-11e9-9f06-124a54e13656.png)

And the previous Chinese the number of references as "引用", now become "references".

[2019-06-04 07:31] prkpro commented on #3110
Hi team,
Please bring back LinkedIn learning benefit back.

[2019-06-04 09:25] Urgen-Dorjee commented on #3356
@gewarren, Yes this dialog box should show up, when you rename a file to replace related class name (vice-versa). This was working fine with my VS2017 IDE. I already checked this [Link](https://docs.microsoft.com/en-us/visualstudio/ide/reference/sync-type-and-file?view=vs-2019)
as you have pointed here but could not find any help!. Quick Action's icon does not have any choice to rename file's name

[2019-06-04 13:51] #3144 closed

[2019-06-04 15:47] gewarren commented on #3373
@dogwei Thank you for letting us know about this error. To make sure that this problem is logged in the right place, please use the [Report a Problem](https://docs.microsoft.com/visualstudio/ide/how-to-report-a-problem-with-visual-studio) tool. When you do this, your report becomes part of the work items that are tracked on Visual Studio [Developer Community](https://developercommunity.visualstudi

[2019-06-04 15:47] #3373 closed

[2019-06-04 16:43] TerryGLee commented on #3359
@Reynolds-Beta Thanks for letting us know; we'll take this under consideration and report back.

[2019-06-04 16:51] acmngmbh commented on #2985
Same Problem here with an existing project, that already compiled

[2019-06-04 17:23] TerryGLee commented on #3351
@cmjchrisjones The answer from the engineering team is: You should be able to create an offline installer for a Preview edition. In other words, how setup works is identical between Preview and Release versions.  However, there is always a possibility that you might see a new Setup feature in a Preview release, and if so, any documentation for it will be in the in the [release notes](https://docs.

[2019-06-04 17:23] #3351 closed

[2019-06-04 17:41] Reynolds-Beta commented on #3359
Thanks!

Jeff Reynolds
206.979.4047
________________________________
From: Terry G. Lee <notifications@github.com>
Sent: Tuesday, June 4, 2019 9:43:42 AM
To: MicrosoftDocs/visualstudio-docs
Cc: Jeff; Mention
Subject: Re: [MicrosoftDocs/visualstudio-docs] Deploying a UWP project needs to be done from a NTFS formatted drive (#3359)

@Reynolds-Beta<https://github.com/Reynolds-Beta> Thanks for letting

[2019-06-04 18:00] #3291 closed

[2019-06-04 18:00] #3256 closed

[2019-06-04 18:03] TerryGLee commented on #426
@resun555 Apologies that it has taken us a while to get to this. But, we have fixed the misaligned screenshot captions on the [Step 5: Add controls to your form](https://docs.microsoft.com/visualstudio/ide/step-5-add-controls-to-your-form) page, which includes the caption that reads "TextBox control with Stretch property".

We are closing this issue now. (However, if this isn't the problem you int

[2019-06-04 18:03] #426 closed

[2019-06-04 20:08] #3361 closed

[2019-06-04 23:46] Eilon opened #3375 "Why do I need to pick a storage account?"
This page (and the VS UI) say I need to pick an Azure Storage account. What is it for? How much data will be saved there? Will whatever is stored there be auto-deleted? Or will it fill up my storage?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a5f13f80-a3b0-9602-db14-48130d47ef7c
* Version Independent ID: 96ee1b24-b

[2019-06-04 23:52] Unbeneva opened #3376 "Can't log in to report a problem VS2019"
In both VS2019 and VS2019 Preview when I try to report a bug I get a "Method not Supported" error and am unable to complete sign in.
The problem I am trying to report is no intellisense for Cocossharp in a project I moved to a different directory.  I have tried using the Nuget package manager to uninstall and reinstall the package, rebooting etc. The original folder works fine.  The project compil

[2019-06-04 23:57] seaniyer commented on #3376
@Unbeneva, Can you try to report the issue from Visual Studio Installer?  In the Installer, select the feedback icon in the upper-right corner and select Report a Problem.

Sean
Visual Studio Feedback Team

[2019-06-05 00:24] Unbeneva commented on #3376
Hi,  I tried it from the installer and I got the same log in dialog.  After logging in to my microsoft account I get this message:
Your sign-in info has expired. Please sign in again. Re-enter your credentials
This is exactly the same as within the IDE.
I can sign into my GitHub account on the IDE, but I can't activate the license because I get the 'mode no supported' error when trying to log into

[2019-06-05 07:17] pw3107 opened #3378 "UWP Simulator NFC"
Is it possible in VS 2019 using the UWP simulator to simulate NFC tag read/write?
Thanks
Paul.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ccd79a7-1ce8-ecb1-765a-db03899e8158
* Version Independent ID: 7b026550-e924-8969-0ff1-76cd7f4bdffc
* Content: [Run UWP apps in the simulator - Visual Studio](https://docs.micros

[2019-06-05 11:12] mterwoord opened #3380 "Please provide small sample project"
This functionality is awesome, and provides great possibilities, but it's difficult to get right.

It would be great if there was a small sample project somewhere.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe4d604b-9fc6-0c6e-df87-5d68a24b83f5
* Version Independent ID: 4fa85b87-55c7-a165-28f7-f8e1df73613a
* Content

[2019-06-05 14:22] Ma-XX-oN opened #3381 "Needs to describe the Intrinsic tag"
There is a tag with the name Intrinsic that appears to allow users how to define user defined intrinsic functions.  It would be VERY helpful if this could be documented as I still can't figure out how it works.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e6335eb-8b73-9c11-2da7-4f397200ba0f
* Version Independent ID:

[2019-06-05 15:13] Mikejo5000 commented on #3375
@poppastring Mark, do you have any insight into this?

[2019-06-05 15:16] Mikejo5000 commented on #3378
@pw3107 I don't think there is much, if any, ongoing development of the simulator. My recollection is that the use cases for the simulator are pretty minimal after support was added for debugging on a directly connected local device, which was quite a while back.

[2019-06-05 15:16] #3378 closed

[2019-06-05 15:30] Mikejo5000 commented on #3381
@Ma-XX-oN There is a link from this page to debugger intrinsic functions:
https://docs.microsoft.com/en-us/visualstudio/debugger/expressions-in-the-debugger?view=vs-2019#BKMK_Using_debugger_intrinisic_functions_to_maintain_state
I don't see a tag for "Intrinsic". Do you have a link with any more info?

[2019-06-05 15:44] gewarren commented on #3356
@Urgen-Dorjee This is a project system bug; it is being tracked by https://github.com/dotnet/project-system/issues/4537. Therefore, I'm going to close this docs issue.

[2019-06-05 15:44] #3356 closed

[2019-06-05 16:28] conceptdev commented on #3334
Thanks for letting us know about the resolution.

[2019-06-05 16:28] #3334 closed

[2019-06-05 16:45] poppastring commented on #3375
@Mikejo5000 @Eilon

We create two blob containers in the storage account:
1. **vsproddiagmetadata**
	- stores compressed metadata/pdbs
	- size is dependent on the modules associated with the web app
	- we set a 30 day storage lifetime policy
2. **vsproddiagsession**
	- stores an xml file with collection plan details and live session data
	- size is in the kb range (~1-100kb)
	- we set a 3 day stor

[2019-06-05 17:02] Anapo14 commented on #2847
Hi! Can you confirm that  `Django project's settings.py file, navigate to the INSTALLED_APPS collection and add 'django.contrib.admindocs'.`?

[2019-06-05 17:08] paddymcd-MSFT opened #3382 "Cannot report a problem from ARM64 windows machine"
ARM64 only supported by the remote tools installer.
This installer does not contain facility to leave feedback (it does not appear to be Willow based)
There is apparently no way to report a new problem via the https://developercommunity.visualstudio.com website.

Only work around is to email the details from the ARM64 machine and report the problem from an x64 machine with Visual Studio installed.

[2019-06-05 17:21] Eilon commented on #3375
BTW this is the dialog I'm talking about:

![image](https://user-images.githubusercontent.com/202643/58976142-9c07e100-877b-11e9-8322-84e23b99b9cc.png)

[2019-06-05 17:23] Eilon commented on #3375
@poppastring great info! I think it might be nice to include such info in the docs (with appropriate caveats). I'm always weary when some tool asks me for account info and then I have no idea what it's planning to put there. This happens with a lot of Azure services, especially when they want to store logs. I get the feeling it's saying "Yeah just gimme your storage info, trust us, we won't make a

[2019-06-05 18:00] sdsouza33 commented on #2274
The linkedin benefits is not even visible now on visiualstudio/benefits . Please resolve this asap

[2019-06-05 20:04] DevinJamesK commented on #2948
Solution Explorer > Right Click Project Name (Under Solution Name) > Properties

[2019-06-05 20:34] acangialosi commented on #3376
@Unbeneva Could you email me directly at anthc att microsoft dott com so i can follow up with the engineering team??

[2019-06-05 20:57] SergeyVSB commented on #2046
Although, there is no way to see description in Test Explorer

[2019-06-05 20:58] lutzroeder commented on #3380
@mterwoord https://github.com/microsoft/XamlBehaviorsWpf/pull/35 might be helpful as an example. It shows how to implement a `.designtools.dll` for the XAML Behaviors library.

[2019-06-05 22:39] TerryGLee commented on #3376
@Unbeneva I am closing this GitHub Issue now, as it's product-related instead of docs-related, and the product engineering team has reached out to follow up via another venue.

[2019-06-05 22:39] #3376 closed

[2019-06-06 03:55] adsioj opened #3384 "Have no "publish" selection on console project"
Have no "publish" selection on console project

[2019-06-06 04:51] tommai78101 opened #3385 "What if you have no choice but to write C++ unit tests for separate projects?"
This section here:

-------
# To write unit tests in a separate project

Typically, you run your test code in its own project in the same solution as the code you want to test. To set up and configure a new test project, see Writing unit tests for C/C++.
-------

It does not go in depth on what you need to do if you are forced to create a separate C++ test project and you must test another separat

[2019-06-06 05:21] tommai78101 opened #3386 "Section should mention about adding header files to "Additional Include Headers" configuration page in Unit Test project"
https://docs.microsoft.com/en-us/visualstudio/test/writing-unit-tests-for-c-cpp?view=vs-2019#add-include-directives-for-header-files

That section above should mention about including project headers into the Additional Include Headers settings of the configuration page of the Unit Testing project.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2019-06-06 09:38] tbrconsulting opened #3387 "Missing pages in sample project"
I've just downloaded the latest version of Visual Studio 2019.  I have followed the guidance in this page and the following pages are not showing in the project:   About.cshtml and Contact.cshtml.   There is an additional page Privacy.cshtml.   Are these pages available to download separately so I can complete the task?

---
#### Document details

⚠ *Do not edit this section. It is required for do

[2019-06-06 09:56] tbrconsulting commented on #3387
The pages are only missing when ASP.Net 2.2 is selected, your guide says open 2.1 or higher.   I've tried again using 2.1 and the pages are there.   I am using VS 2019 version 16.1.2

[2019-06-06 09:56] #3387 closed

[2019-06-06 15:15] MikeDiack opened #3388 ""Extension crash and unresponsiveness notifications""
When a crash of Visual Studio occurs, and it is suspected that an extension may be directly or indirectly involved (i.e. there are traces of it in the stack dump), as well as Visual Studio warning us that a specific extension (e.g. Resharper in my case), may have been involved/caused the crash, could the stack dump be made available as a log file to send to the extension maker?

It seems a bit odd

[2019-06-06 16:51] TerryGLee commented on #3387
@tbrconsulting Thanks for letting us know; I'll update the doc to remove the "or later" text.

[2019-06-06 16:57] gewarren commented on #3388
@seaniyer Could you comment on this?

[2019-06-06 17:12] seaniyer commented on #3388
@MikeDiack

Could you suggest this feature on https://developercommunity.visualstudio.com?  You can first search that site and see if there is an existing suggestion for the same capability and if so, you can add your vote.  Or create a new suggestion.  Either way, when Visual Studio team follows up you'll automatically receive email updates from the team.

Thanks
Sean
Visual Studio Feedback Team

[2019-06-06 17:35] TerryGLee commented on #3384
@adsioj Can you tell us what page in our documentation that you are referring to? Thanks in advance for your help.

[2019-06-06 19:34] ScotBren opened #3391 "This warning should not be raised for members of a union when one has been initialized"
Given a union of multiple members, you are allowed to initialize only one of them. But this warning gets raised for others, even though it's not allowed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c92afc49-c727-b9a1-6a49-dc1227bff14f
* Version Independent ID: a914038d-1de0-732a-97dd-0a68e340c0db
* Content: [C26495

[2019-06-06 21:34] mavasani opened #3392 "Update latest FxCop analyzers NuGet package version to 2.9.3"
We just released https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers/2.9.3. We should update https://docs.microsoft.com/en-us/visualstudio/code-quality/install-fxcop-analyzers?view=vs-2019#fxcopanalyzers-package-versions accordingly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eee67c1d-5856-93e0-e2d

[2019-06-06 21:36] mavasani commented on #3194
@gewarren that might be a bug. Hopefully, the checkbox will be removed soon and not lead to any confusion. For time being, hopefully the workaround to edit the project file is sufficient.

[2019-06-06 21:41] asb3993 commented on #2181
Adding to PR, note should be added shortly.

[2019-06-06 21:41] #2181 closed

[2019-06-06 21:57] evanwindom commented on #2274
LinkedIn is no longer offering the 3-month Premium benefit through Visual Studio Dev Essentials.  A one-month free trial is available at https://www.linkedin.com/learning/me.

[2019-06-06 21:58] evanwindom commented on #2971
LinkedIn is no longer offering the 3-month Premium benefit through Visual Studio Dev Essentials.  A one-month free trial is available at https://www.linkedin.com/learning/me.

[2019-06-06 21:58] evanwindom commented on #3110
LinkedIn is no longer offering the 3-month Premium benefit through Visual Studio Dev Essentials.  A one-month free trial is available at https://www.linkedin.com/learning/me.

[2019-06-06 23:04] merlynoppenheim opened #3393 "Following links are 404"
Open Folder projects for C++
CMake projects in C++

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 19f6ef2c-e616-bf4c-6de4-1448814e4f73
* Version Independent ID: b223e86b-b0d8-3a78-3fe5-0938e6641042
* Content: [Customize build debug tasks using tasks.vs.json launch.vs.json - Visual Studio](https://docs.microsoft.com/en-

[2019-06-06 23:34] nnpcYvIVl opened #3394 "FxCopAnalyzers package versions missing Visual Studio 2019"
The `FxCopAnalyzers package versions` section is missing an entry for Visual Studio 2019.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eee67c1d-5856-93e0-e2d3-e9551436aabc
* Version Independent ID: b756aa96-bbb1-40e8-34ca-97f9939bf7e9
* Content: [Install FxCop analyzers - Visual Studio](https://docs.microsoft.com/en-

[2019-06-07 00:32] zkyll opened #3396 "Doesn't Work"
I'm losing hope to make things work with vs2019 offline installation. It simply doesn't work. I'm using the same layout as I used in vs2017 and offline installation is working in vs2017. But in vs2019, during installation, always asking to connect to the internet. I'll just revert to vs2017 where everything was smooth. Pfft!

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2019-06-07 04:19] TerryGLee commented on #3054
@LowJack187 This venue is meant for [documentation feedback](https://docs.microsoft.com/visualstudio/ide/feedback-options?view=vs-2019#improve-the-documentation), although we still accept product feedback, as sometimes the product issues reported here provide us with information that we can use to improve our documentation. However, when a solution must be provided for a product issue, we re-route

[2019-06-07 04:19] #3054 closed

[2019-06-07 08:55] graal commented on #2377
25 build actions available when working on an Android project... And documented 5, what makes strong 20% :)

[2019-06-07 13:11] slear opened #3397 "Typo"
The file is .mdb, not .mdf (typo in the first sentence)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 83c5b210-2ecd-fc40-54c9-38a8ba9c7493
* Version Independent ID: a9236354-4965-a214-17f7-746c20de8ec4
* Content: [Connect to data in an Access database (Windows Forms) - Visual Studio](https://docs.microsoft.com/en-us/v

[2019-06-07 14:26] miguelcocruz commented on #1053
Hey,
has this issue been resolved? I'm having getting the same message "OOPS! Your promo code is invalid or expired."

[2019-06-07 14:31] zekeargus commented on #2379
Is this because R is a terrible language?

[2019-06-07 15:07] evanwindom commented on #1053
@miguelcocruz - What kind of Visual Studio subscription do you have?

[2019-06-07 15:38] Anand-Moghe opened #3398 "How to fix Over allocated subscription"
I have a customer who is seeing over allocation subscription message in Admin portal like below:
![image](https://user-images.githubusercontent.com/7546032/59116003-55db8a80-88ff-11e9-8e3d-986892c82c2a.png)

How can I explain this? How can one over allocate subscription in Admin panel for EA subscription?

What are some possible option to resolve this?

---
#### Document Details

⚠ *Do not edit th

[2019-06-07 15:42] Anand-Moghe commented on #3398
I found the solution here which explain the [over allocation](https://docs.microsoft.com/en-us/visualstudio/subscriptions/handle-overclaimed-license) issue.

[2019-06-07 15:42] #3398 closed

[2019-06-07 15:49] miguelcocruz commented on #1053
@evanwindom - my subscription is Visual Studio Dev Essentials

[2019-06-07 16:06] meetshukla commented on #1053
I am having the same issue. Please help!

[2019-06-07 16:25] evanwindom commented on #1053
@meetshukla - Are you using a Visual Studio Dev Essentials membership as well?

[2019-06-07 16:27] meetshukla commented on #1053
@evanwindom Yes. I am using the same membership.

[2019-06-07 16:31] evanwindom commented on #1053
I have reported the errors to DataCamp, and will let you know what I find out.  You may need to contact their support at https://support.datacamp.com/hc/requests/new to resolve the issue.

[2019-06-07 16:36] TerryGLee commented on #3396
@zkyll Thanks for letting us know. We'll look in to this. @tydunkel FYI.

[2019-06-07 16:37] kraigb commented on #2379
Not necessarily. :) It's primarily that usage of R is much more prominent in the context of Jupyter Notebooks than in an IDE like Visual Studio, hence the people who were working on RTVS are working on Azure Notebooks now.

[2019-06-07 16:39] zekeargus commented on #2379
:)
Would you know whether debugging is possible in the manner of VS in azure?

[2019-06-07 17:08] tydunkel commented on #3396
@zkyll Thank you for the info! Could you please file an issue through our [feedback tool](https://docs.microsoft.com/en-us/visualstudio/ide/how-to-report-a-problem-with-visual-studio?view=vs-2019)? Offline install issues tend to be case-by-case issues that require logs to investigate. Thanks!

[2019-06-07 17:38] evanwindom commented on #1053
@miguelcocruz @meetshukla - I've just heard from DataCamp. They were able to identify and correct the cause of the problem.  You should be able to activate the benefit now.

@TerryGLee
#please-close

[2019-06-07 17:50] TerryGLee commented on #1053
It looks like the latest input was applied to a previously closed issue. @evanwindom Thanks for following up.

[2019-06-07 18:25] TerryGLee commented on #3396
@tydunkel Thanks for your response. I'll close this product issue now, as it is best handled via the [feedback tool](https://docs.microsoft.com/en-us/visualstudio/ide/how-to-report-a-problem-with-visual-studio?view=vs-2019).

[2019-06-07 18:25] #3396 closed

[2019-06-07 18:31] jitterbox opened #3399 "Severe limitation on managing NPM modules via Solution Explorer"
NPM modules **cannot be managed in Solution Explorer** VS 2017/2019 if the **node_modules** folder is deeper than the solution root.  Unfortunately, the ASP.NET Core template for Angular projects does just this by placing it under the /ClientApp folder.  This has been raised in multiple issues but I don't believe it has been/will be fixed by any of the MS teams involved.  If it remains an issue, I

[2019-06-07 19:15] anparoct commented on #3302
Hi @wlav, were you able to do a mixed-debugging session also?

Thanks for your work by the way

[2019-06-07 20:26] Mikejo5000 commented on #3399
@jitterbox Thanks for the info. I'll plan to add a note about that.

[2019-06-07 22:40] RaymonGulati1 commented on #3229
@skochinsky You can enable mixed mode debugging by selecting the "Python native development tools" options in VS installer. This will allow you to select the "Python/Native debugger"

![image](https://user-images.githubusercontent.com/3315992/59136994-69581700-893a-11e9-94d7-845d17935ff8.png)

[2019-06-07 22:59] RaymonGulati1 commented on #3015
You can try a few different things here:
Confirm that you are looking in the correct place for the python registry key
Delete and reinstall python.
Right click on the python environment and remove it from VS
![image](https://user-images.githubusercontent.com/3315992/59137524-17fd5700-893d-11e9-9d00-3fc8efac7d89.png)
If it's a virtual environment, delete it from the .pyproj.
![image](https://user-i

[2019-06-07 23:22] #3388 closed

[2019-06-07 23:23] gewarren commented on #3307
@mikeblome Do you know?

[2019-06-07 23:25] gewarren commented on #3312
@grendeld Can you describe a little more precisely what you're looking for or how you would use that info to create a custom experience?

[2019-06-07 23:34] #3194 closed

[2019-06-07 23:46] gewarren commented on #3393
@corob @mikeblome Please try to remember to add redirects for any files that you move. It's probably a good idea to do this retroactively given that these are probably not the only broken links out in the wild.

[2019-06-08 00:08] AArnott opened #3400 "Microsoft.VisualStudio.Threading API docs need refresh from xml doc file"
This [doc on JoinableTaskFactory.SwitchToMainThreadAsync](https://docs.microsoft.com/en-us/dotnet/api/microsoft.visualstudio.threading.joinabletaskfactory.switchtomainthreadasync?view=visualstudiosdk-2017) needs to be updated to include the more descriptive parameter documentation and the details on the OperationCanceledException throwing that are [documented here](https://github.com/microsoft/vs-

[2019-06-08 06:58] xJonathanLEI commented on #2018
I don't see how that will be beneficial though now that `unchecked` is the default behavior at runtime.

[2019-06-08 17:13] AjuKurienJohn commented on #3271
I had to add the following 2 use statements to Program.cs
using WebApp1.Models;   (where WebApp1 is your project name)_
using Microsoft.Extensions.DependencyInjection;

I also had to change schoolContext to AppDBContext in the following line but based on your error you may have already done that
var context = services.GetRequiredService<SchoolContext>();
to
var context = services.GetRequiredServic

[2019-06-09 06:08] AnonyMeXx opened #3403 "Very Helpful!"
This was extremely helpful to me and let me follow around my variables to see what is going on. Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72264f70-4d8e-7612-87c9-3dab87fb2f14
* Version Independent ID: b7b7d351-5d53-c225-47e4-5ae46d6afc75
* Content: [Set a watch on variables - Visual Studio](https://docs

[2019-06-10 10:18] marcnegri commented on #2985
Same issue here :
It's an old big project with a lot of assemblies. But, impossibe to compile + weird behavior when trying to release etc..

[2019-06-10 12:53] csteenwyk opened #3404 "Base image wrong"
I tried the above dockerfile, it didn't work. I think you need the FROM in the dockerfile to read: 4.7.2-20190312-windowsservercore-ltsc2019

According to this https://github.com/dotnet/announcements/issues/109 the above image now contains VS2019 runtimes which seems to cause the VS2017 build tools installer to fail silently

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2019-06-10 13:17] VisualMicro opened #3405 "Why not just give a link?"
Considering all the sign in problems when trying to log issues via Visual Studio it would be nice to avoid the endless internet searches just to report an issue. Would be nice to just get the link!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2386e67e-a67b-de55-db57-e29a83dcb410
* Version Independent ID: 6247fba9-425

[2019-06-10 15:33] Mikejo5000 commented on #3403
@AnonyMeXx Thank you!

[2019-06-10 15:33] #3403 closed

[2019-06-10 15:45] #3397 closed

[2019-06-10 15:50] gewarren commented on #2018
/cc @kendrahavens

[2019-06-10 16:39] AskYous opened #3407 "Would be nice to make mention of what the plan is for NodeJS."
I came here hoping to find support for NodeJS projects. From what I understand is that NodeJS is not yet supported but is planning to be supported soon. If you can make mention of it in this article, that would benefit me and possible others a lot.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 794dde29-e54d-a2bb-4cb0-

[2019-06-10 17:19] mikeblome commented on #3393
@gewarren yes sorry about that. we did a big refactoring a couple months ago and broke these. I created a PR last week that fixed these links and several others in the visual-studio repo: https://github.com/MicrosoftDocs/visualstudio-docs-pr/pull/4779

[2019-06-10 17:23] kraigb commented on #2379
In Azure Notebooks, no; but they're reworking all that anyway. For now, we encourage people to download the notebook and load into VS Code where you have all the debugging facilities.

[2019-06-10 17:38] #3392 closed

[2019-06-10 17:38] #3393 closed

[2019-06-10 17:38] #3394 closed

[2019-06-10 18:14] seaniyer commented on #3405
@VisualMicro

I'm sorry you are experiencing sign in issues.  If you are still experiencing difficulty with sign in, would you be able to share details such as error message received?  Reporting issues from Visual Studio enables us to collect diagnostics that help address your problem more effectively. It also reduces effort for customers like you to have to provide logs and other diagnostic detai

[2019-06-10 18:19] conceptdev commented on #3407
Thanks for your question @AskYous. Future product plans are not something we generally cover in the documentation, which is focused on current features and how to use them. We do have a [Roadmap page](https://docs.microsoft.com/visualstudio/productinfo/mac-roadmap) where you can learn about upcoming releases - it also has links where you can make suggestions or report issues.

[2019-06-10 18:19] #3407 closed

[2019-06-10 18:33] mikeblome commented on #3307
@Laro88 Apologies this is something we need to document:

Right Click solution -> Add New Item -> Test Settings
Choose “Test Timeouts” from the left-hand menu, and specify down to the “seconds” granularity.

Note that you are right-clicking the Solution node, not the project node.

[2019-06-10 19:01] abdennour commented on #2274
@evanwindom  what's a bad news!

[2019-06-10 20:07] TerryGLee commented on #2274
@evanwindom Thanks for providing us with the status of the LinkedIn Learning benefit. We are closing this issue now.

[2019-06-10 20:07] #2274 closed

[2019-06-10 20:13] TerryGLee commented on #2971
@evanwindom Thanks for providing us with the status of the LinkedIn Learning benefit. We are closing this issue now.

[2019-06-10 20:13] #2971 closed

[2019-06-10 20:14] TerryGLee commented on #3110
@evanwindom Thanks for providing us with the status of the LinkedIn Learning benefit. We are closing this issue now.

[2019-06-10 20:14] #3110 closed

[2019-06-10 20:25] TerryGLee commented on #3279
@evanwindom Thanks for updating this page with the latest status about how to display the support plan. We'll close this issue now. @AndrewCussons Thanks for helping us to improve our documentation!

[2019-06-10 20:25] #3279 closed

[2019-06-10 20:27] TerryGLee commented on #3272
@evanwindom Thanks for your answer to the customer's inquiry. We'll close this issue now.

[2019-06-10 20:27] #3272 closed

[2019-06-10 20:36] SrimanPilli commented on #2194
Installed TFS/Azure from extensions version control
then,
From Mac -> version control -> Team Explorer / Open from remote repository is not enables to click on that ?
whats wrong with that ?

[2019-06-10 20:38] TerryGLee commented on #3384
@adsioj Without further information from you, we cannot address the documentation issue that you've logged. So, we're closing this issue now.

If you'd like to provide us with more information &mdash; and in specific, the name of or a link to the page that you'd like us to fix &mdash; then please feel free to create a new issue and we'll address the documentation feedback. However, if you are look

[2019-06-10 20:38] #3384 closed

[2019-06-10 21:06] wlav commented on #3302
I haven't done that before under Visual Studio (which either way is quite slow to work with under VMware on my poor laptop, so I've so far only used the CLI tools :) ).

In general, however, it all depends on the code being debugged: since wrappers are generated by the JIT, if the function is inline, it will be part of the JITted code and typically not directly visible to a debugger that can not h

[2019-06-11 00:09] conceptdev commented on #2194
Thanks everyone for your feedback. It will be helpful if you can use the [report a problem](https://docs.microsoft.com/visualstudio/mac/report-a-problem) menuitem when these issues occur, so that the relevant logs and system information are provided for troubleshooting.

[2019-06-11 05:49] JimBobSquarePants opened #3409 "Definition of common location is unclear."
There seem to be limitations. It does not appear to be possible to place a shared .editorconfig file in a location that is not a direct root of the child projects.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8b2b086b-cda0-2741-2b2b-b2d7e87d0ac9
* Version Independent ID: 29465605-4eda-76c5-4254-8976bc17ca37
* Content

[2019-06-11 05:59] gewarren commented on #2829
@vukelich Could you help to answer this question?

[2019-06-11 06:35] jjacquetva commented on #1512
is this a joke?

[2019-06-11 09:23] zekeargus commented on #2379
Hello. I am going to ask another question please.
So far I have been using VS 2017 for this purpose. Alternatively, via Anaconda I use the R-environment and use Jupyter.
What you are suggesting is load Azure (or Jupyter) notebook in VS code and load R-environment and work/debug/run from there?
If this is the case would you have a suggested guide to follow?
Thanks.

[2019-06-11 10:35] mterwoord commented on #3380
Awesome. Thanks. That helped a lot.
See https://github.com/mterwoord/wpf-designer-experiments for my experiments.

My next objective is to get a list of types (and some metadata) in all assemblies, from the perspective of the designer. (ie, referenced assemblies etc)

How can I do that? I can request the AssemblyReferences service, and use GetTypes, but that seems to load the assemblies into the m

[2019-06-11 11:45] Laro88 commented on #3307
@mikeblome, hmm, that is a little cumbersome, and it seems to be for all tests.

What I wish for is something like in Node.JS where I can specify the max test duration for the individual tests in code -  then I programmatically can address the fact that some test are running for extended periods of time.

[2019-06-11 15:29] sbrockway opened #3411 "Use var when extracting variable"
Would it be possible to get a setting (if not default behavior) to use var when introducing the variable, instead of the explicit type (e.g. Random in the example above)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7f5507b1-1a79-329c-9c0b-074af493e641
* Version Independent ID: 48a6a90c-2876-0162-c3cb-900f85f09c8b
*

[2019-06-11 16:09] gewarren commented on #3411
/cc @kendrahavens
I'm wondering if the code style settings for "var" preferences have any effect on this refactoring?

![image](https://user-images.githubusercontent.com/24882762/59288417-9b15fa00-8c28-11e9-9784-592d0952fae1.png)

[2019-06-11 16:11] gewarren commented on #3409
@mavasani Can you take a look at this feedback? Are there limitations on where a shared .editorconfig file can live?

[2019-06-11 18:06] #2802 closed

[2019-06-11 18:12] #1806 closed

[2019-06-11 18:13] #3018 closed

[2019-06-11 18:37] gewarren opened #3413 "Use var when extracting variable"
Would it be possible to get a setting (if not default behavior) to use var when introducing the variable, instead of the explicit type (e.g. Random in the example above)?

(Recreating this on behalf of @sbrockway due to accidental transfer of the original issue he logged.)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2019-06-11 18:38] gewarren commented on #3413
/cc @kendrahavens
I'm wondering if the code style settings for "var" preferences have any effect on this refactoring?

![image](https://user-images.githubusercontent.com/24882762/59288417-9b15fa00-8c28-11e9-9784-592d0952fae1.png)

[2019-06-11 18:40] gewarren commented on #3413
Apologies for the accidental transfer of the original issue @sbrockway - and GitHub won't let me transfer it back.

[2019-06-11 18:46] TerryGLee commented on #3400
FYI: Here is a helpful URL re: this issue: [Documenting NuGet Packages](https://review.docs.microsoft.com/en-us/help/onboard/admin/reference/dotnet/documenting-nuget?branch=master)

[2019-06-11 20:04] sbrockway commented on #3413
@gewarren you are correct. Those settings work perfectly. Thank you!

[2019-06-11 20:18] #3413 closed

[2019-06-11 22:16] Mikejo5000 commented on #2883
Looks like its been fixed.

[2019-06-11 22:16] #2883 closed

[2019-06-11 22:23] Mikejo5000 commented on #3284
Clarifying text

[2019-06-11 22:23] heaths commented on #3404
It will change as newer Windows images are released. @TerryGLee, should we be keeping this up to date as newer base images are released? These are samples, after all.

[2019-06-11 22:29] Mikejo5000 commented on #3182
To make sure that this is logged in the right place, please use the [Report a Problem](https://docs.microsoft.com/visualstudio/ide/how-to-report-a-problem-with-visual-studio) tool to report the issue. When you do this, your report becomes part of the work items that are listed in the in the [Visual Studio Developer Community](https://developercommunity.visualstudio.com/spaces/8/index.html), which

[2019-06-11 22:29] #3182 closed

[2019-06-11 22:43] Mikejo5000 commented on #2991
Need more info to update doc

[2019-06-11 22:43] #2991 closed

[2019-06-11 22:46] #2938 closed

[2019-06-11 22:47] #2875 closed

[2019-06-11 22:52] Mikejo5000 commented on #2257
Closing this one in favor of #2016

[2019-06-11 22:52] #2257 closed

[2019-06-11 22:52] Mikejo5000 commented on #2016
#2257 mentions EnableDefaultContentItems

[2019-06-11 22:58] rocifier commented on #2938
Hi, I noticed that this was updated with P1 but then closed. What is the reasoning there? I use the Report a Problem tool on 17 April but from my knowledge that report hasn't been investigated yet. Is that a different team who takes those on board?

[2019-06-11 22:59] #1682 closed

[2019-06-11 23:09] Mikejo5000 commented on #407
Closing this one in favor of #2016, since the .NET Core issue also relates to the SDK-style project issue.

[2019-06-11 23:32] Mikejo5000 commented on #2938
@rocifier I tagged it as P1 during a "tagging" pass due to page views, but this is actually not the only factor for assigning priority. In this case, this issue appears to be question around how to work around the current product feature set, so Report a Problem is where it ought to go rather than a doc issue. (If there is a workaround identified--or an undocumented feature--it would most likely m

[2019-06-11 23:42] Mikejo5000 commented on #2791
Updating

[2019-06-12 00:31] mikeblome commented on #3391
Hi Scot! For product issues like this, you'll get way better traction on [Developer Community for C++](https://developercommunity.visualstudio.com/topics/C%2B%2B.html)

[2019-06-12 05:02] AskYous opened #3415 "Followed instructions but HTTP function responds with a 404"
I wanted to create an HTTP triggered function with "functions" permissions. I did the following:

1. Set the function type to HTTP trigger,
2. Set the permission level to "function"
3. Deployed it Azure.
4. It launched my browser to my function and I see a blue welcome page saying "Your Function App is up and running"
5. I navigate to my function: http://idb-dialog-flow.azurewebsites.net/api/idb_d

[2019-06-12 06:39] vukelich opened #3416 "Incorrect character to ASCII mapping"
In the fourth row of the Special Characters table, the grave accent (i.e. backtick `) is in the character column, but the ASCII code 0x27 is for the single quote character ( ' ). Which is the actual reserved character?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 665605c0-95ba-10a1-1d91-3c2b863630b1
* Version Indepen

[2019-06-12 08:35] HaraldMuehlhoffCC opened #3417 "XSLT debugger available in the Professional edition of Visual Studio"
The note "The XSLT debugger is only available in the Enterprise edition of Visual Studio." is wrong.

The XSLT debugger was and is available in the Professional edition also.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd893f19-8b45-6789-ee72-15439f7a7816
* Version Independent ID: 12d0b503-0dc0-3777-d73f-306fbdc425b

[2019-06-12 08:42] HaraldMuehlhoffCC opened #3418 "XSLT debugging from an App seems to require targeting .NET Framework"
Debugging a XSL Transform loaded in a project targeting .NET Core 2.2 wouldn't work; just using a csproj targeting .NET Framework with otherwise SAME files worked without problems.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd893f19-8b45-6789-ee72-15439f7a7816
* Version Independent ID: 12d0b503-0dc0-3777-d73f-306fb

[2019-06-12 13:15] LazerFX opened #3419 "VS 2019 Release 16.1.3 is missing from releases page"
The latest release (16.1.3) is missing on the releases page for Visual Studio 2019.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7ea27919-8e31-6592-9b9e-9a0cabb0a7ff
* Version Independent ID: 093eeeb2-0306-4af9-2bfc-6d4eefbebf9b
* Content: [Visual Studio build numbers and release dates](https://docs.microsoft.com/en-

[2019-06-12 13:59] mikeblome commented on #802
fixed.

[2019-06-12 13:59] #802 closed

[2019-06-12 14:05] mikeblome commented on #677
investigating

[2019-06-12 14:06] mikeblome commented on #467
investigating

[2019-06-12 14:06] mikeblome commented on #1048
invstigating

[2019-06-12 14:08] mikeblome commented on #1136
following up

[2019-06-12 14:10] mikeblome commented on #1735
investigating

[2019-06-12 14:14] mikeblome commented on #1773
fixed

[2019-06-12 14:14] #1773 closed

[2019-06-12 14:15] mikeblome commented on #3363
investigating

[2019-06-12 15:11] Mikejo5000 commented on #3007
Updating title and H1

[2019-06-12 15:36] Mikejo5000 commented on #3178
Adding note

[2019-06-12 15:44] Mikejo5000 commented on #3183
Updating doc

[2019-06-12 15:47] Mikejo5000 commented on #3220
Gordon, I think you will have some insight on this. Can you assign back to me if a doc update here is required?

[2019-06-12 15:51] Mikejo5000 commented on #3260
@rainersigwald Is there a workaround here for .NET Core/

[2019-06-12 15:57] Mikejo5000 commented on #3117
@datAdrenaline Thanks for your suggestion. I will add some links to other topics. I believe there will be too many database-specific issues to try doc'ing them here.

[2019-06-12 16:12] rainersigwald commented on #3260
MSBuild inherits from the current environment in both .NET Core and full framework scenarios. Can you confirm that the environment variable is visible in the current environment? If it is, this sounds like an MSBuild bug that we should investigate.

`GetEnvironmentVariable("SomeProperty", EnvironmentVariableTarget.Machine)` doesn't actually look in the environment, but in a registry key (that is u

[2019-06-12 16:14] TerryGLee commented on #3419
@LazerFX Thanks for letting us know; we have already a PR in place and this page will be updated with 16.1.3 data no later than noon today (Pacific Daylight Time, or PDT).

[2019-06-12 16:14] #3419 closed

[2019-06-12 16:33] TerryGLee commented on #3416
@vukelich Thanks for letting us know; we have a PR in place to change this, which should go live tomorrow (Pacific Daylight Time).

[2019-06-12 16:34] #3416 closed

[2019-06-12 16:44] TerryGLee commented on #3415
@AskYous Thanks for letting us know; we'll take a look at this to see if there is a documentation impact. Meanwhile, here are a few options where you might consider asking your question:
-	[https://social.msdn.microsoft.com/Forums/vstudio](https://social.msdn.microsoft.com/Forums/vstudio)
-	[https://www.stackoverflow.com](https://www.stackoverflow.com)
-	[https://www.reddit.com/r/VisualStudio/](ht

[2019-06-12 16:49] Gehbrial commented on #3260
Thank you!

[2019-06-12 17:33] keithwillcode commented on #1305
We are seeing the same warning while attempting to use the `FrameworkCore10` workaround mentioned.

VS 2019 and MSTest.
Microsoft.NET.Test.Sdk v16.1.1
MSTest.TestAdapter v1.4.0
MSTest.TestFramework v1.4.0

[6/12/2019 2:21:30 PM Warning] Test run will use DLL(s) built for framework .NETCoreApp,Version=v1.0 and platform X86. Following DLL(s) do not match framework/platform settings.
[Edited].UnitTes

[2019-06-12 17:40] #2791 closed

[2019-06-12 17:40] #3007 closed

[2019-06-12 17:40] #3284 closed

[2019-06-12 17:40] #3117 closed

[2019-06-12 17:40] #3178 closed

[2019-06-12 17:40] #3183 closed

[2019-06-12 18:56] Mikejo5000 commented on #3104
Updating doc

[2019-06-12 19:30] gewarren commented on #1305
@AbhitejJohn Can you help provide an answer here, and then I can update the docs?

[2019-06-12 19:49] gewarren commented on #1307
@PawelWMS This page contains more info about the \w character class: https://docs.microsoft.com/en-us/dotnet/standard/base-types/character-classes-in-regular-expressions#word-character-w. For the 10 "connector punctuation" category characters it includes, you can view those here: https://www.compart.com/en/unicode/category/Pc#UNC_DB. I'll update this docs page with more info/links, as you requeste

[2019-06-12 20:45] PawelWMS commented on #1307
@gewarren: thank you, I appreciate it!

[2019-06-12 21:12] adunndevster opened #3421 "[IGNORE] Devrel test."
Debugging a XSL Transform loaded in a project targeting .NET Core 2.2 wouldn't work; just using a csproj targeting .NET Framework with otherwise SAME files worked without problems.
Document Details

⚠ Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

    ID: bd893f19-8b45-6789-ee72-15439f7a7816
    Version Independent ID: 12d0b503-0dc0-3777-d73f-306fbdc425b4

[2019-06-12 21:13] #3421 closed

[2019-06-12 21:55] AbhitejJohn commented on #1305
Speaking on behalf of the test platform team, you could choose to omit the TargetFrameworkVersion from the runsettings and the platform would automatically figure out the platform based on built binaries. We do have a bug in VS IDE where this still shows a warning despite not specifying a runsettings which we are looking at fixing with [this](https://developercommunity.visualstudio.com/content/pro

[2019-06-12 22:12] dcbrown16 commented on #3220
Internally I have heard that Visual Studio may need to reconfigure some settings to make the portal expose the Container Settings menu.

[2019-06-12 22:33] TerryGLee commented on #3404
@heaths Thanks for your response; I'll investigate and report back.

[2019-06-12 23:11] Mikejo5000 commented on #2949
@KorkyPlunger Hi, I'm asking whether this is currently supported. If I find out that it's supported, I'll update this issue and the doc, too. I'm guessing it would be a new feature, so I suggest that you please use our new “Suggest a feature” option in the [Visual Studio Developer Community](https://developercommunity.visualstudio.com/spaces/8/index.html). We’d be happy to have this on record, whe

[2019-06-12 23:11] #2949 closed

[2019-06-12 23:23] Mikejo5000 commented on #2780
The example has been fixed in #3070

[2019-06-12 23:25] Mikejo5000 commented on #2780
@rainersigwald Rainer, do you see a problem in the example cited by @ncook-vero ?

[2019-06-13 08:59] ncook-vero commented on #2780
@Mikejo5000 it's in here (#3070 ?)
` <CSFile Include="*.cs Exclude="Form2.cs"/>`

[2019-06-13 11:20] rraajjeevv opened #3424 "Python > Django Create Superuser"
When creating a super user I am getting the following error -
---
Microsoft Visual Studio\Shared\Python37_64\lib\getpass.py:100: GetPassWarning: Can not control echo on the terminal.
  return fallback_getpass(prompt, stream)
Warning: Password input may be echoed.
----

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 485e

[2019-06-13 15:34] mikeblome commented on #2046
@TypePun thanks! This is fixed and should be visible in a couple of days.

@SergeyVSB Yes I can repro that. Please file an issue on [Developer Community](https://developercommunity.visualstudio.com/topics/C%2B%2B.html) so the product team can decide whether to implement it.

[2019-06-13 15:34] #2046 closed

[2019-06-13 15:40] mikeblome commented on #3269
fixed

[2019-06-13 15:40] #3269 closed

[2019-06-13 15:44] mikeblome commented on #3385
@tommai78101 Sorry the wording perhaps is not clear.  Typically, you right-click on Solution node and choose Add > New Project. Then choose test project.  So you have tests in their own project and they are automatically configured so they can access the other projects in that solution.

Does that answer your question?

[2019-06-13 15:46] mikeblome commented on #3308
investigating

[2019-06-13 15:54] dukeofdarkness23 opened #3425 "Changing channelUri value has no effect"
If the channelUri property in the reponse.json file is updated after client machines have installed VS - does it have any affect?

I have a layout on a network share that client machines used for their initial installation with the default response.json file.

However, even if I change the channelUri value to point to the network share location of the ChannelManifest.json  ("\\\\server\\share\\VS\

[2019-06-13 16:14] TerryGLee commented on #3424
@rraajjeevv Thanks for letting us know. To make sure that this is logged in the right place, please use the [Report a Problem](https://docs.microsoft.com/visualstudio/ide/how-to-report-a-problem-with-visual-studio) tool. When you do so, your report becomes part of the work items that are listed in the in the [Visual Studio Developer Community](https://developercommunity.visualstudio.com/), which a

[2019-06-13 16:14] #3424 closed

[2019-06-13 16:20] mikeblome commented on #1735
@AmirHMousavi thanks for the report and apologies for very delayed response. This topic was out of date. For VS 2017 and later, choose Add > Reference from the project shortcut menu. Topic is fixed and correct instructions should be visible in a couple of days.

[2019-06-13 16:20] #1735 closed

[2019-06-13 16:23] mikeblome commented on #2244
investigating

[2019-06-13 16:24] #3056 closed

[2019-06-13 16:27] mikeblome commented on #3200
Ma-XX-On can you provide more information?

[2019-06-13 16:29] TerryGLee commented on #3425
@tydunkel FYI about this.

@dukeofdarkness23 Thanks for letting us know. We'll take a look but our response might be delayed. Meanwhile, if you require immediate assistance, here are a few more support options:

- We offer a [Live Chat](https://visualstudio.microsoft.com/vs/support/#talktous) (English only) support option for installation-related issues.

-	Use your [GitHub](https://github.com/) a

[2019-06-13 16:31] Mikejo5000 commented on #2973
@fe4xu We'd need to recreate the project and then share it as a public sample. We have to balance that against other work on the backlog. At minimum, we can plan to retest this topic and update if any important info is missing.

[2019-06-13 16:42] TerryGLee commented on #3391
@mikeblome Thanks for your response; we'll close this issue now.

[2019-06-13 16:42] #3391 closed

[2019-06-13 17:47] #1307 closed

[2019-06-13 17:47] #3104 closed

[2019-06-13 17:47] #3417 closed

[2019-06-13 17:47] #1300 closed

[2019-06-13 18:09] mikeblome commented on #3363
@schoetbi Thanks for reporting this. We can repro it, but it needs to be reported on [Developer Community](https://developercommunity.visualstudio.com/spaces/62/index.html) so that we can track it properly. Are you willing to do that? You can also get there by clicking the feedback icon in the upper right of the VS main menu.

[2019-06-13 18:30] mikeblome commented on #467
@mpoupe thanks for reporting this! Your example is correct and the fix should be visible in a day or so.

[2019-06-13 18:30] #467 closed

[2019-06-13 18:32] Mikejo5000 commented on #2828
@txwizard. So, it looks like the proposal is to add the text to the example section, after the first sample code? Can you clarify the suggestion below:
"If your target overrides another target that has an empty definition in an imported targets list, as in the preceding example, the override must appear last, or the predefined target overwrites it."
I don't see an imported targets list, so that co

[2019-06-13 18:35] Mikejo5000 commented on #2780
OK, that is a good idea. It's possible the error in the example came into the content later, as a change to the example that also included a typo.

[2019-06-13 18:35] #2780 closed

[2019-06-13 18:47] HaraldMuehlhoffCC commented on #3417
I'm very impressed with the speed this issue was handled! Thank you!

May I ask when the other language versions (like my native German) will be updated?

[2019-06-13 18:48] gewarren commented on #467
@mikeblome If you use the following text in a commit message (or in the PR description), the issue will be automatically closed once the commit is merged to the master branch of this repo - saving you from having to close the issue manually, and it also times the closing of the issue to when the change is actually going live:

`fixes #467`

[2019-06-13 18:50] gewarren commented on #3417
@HaraldMuehlhoffCC Thanks - well it was any easy fix :) In fact, did you know you can even update the docs yourself? There's an edit button on the top right, and we welcome contributions.

As for when the localized version will be updated, I think it normally takes about a week but @JasonCard to confirm.

[2019-06-13 18:51] rainersigwald commented on #2828
In this case, there's no override of targets because these minimal example projects don't have any imported targets. But we should indeed mention the last-one-wins nature of targets in more places; the only one I found was in [How to: Extend the Visual Studio build process](https://docs.microsoft.com/en-us/visualstudio/msbuild/how-to-extend-the-visual-studio-build-process?view=vs-2019#override-pre

[2019-06-13 18:51] mikeblome commented on #467
@gewarren thanks i did not know that :-)

[2019-06-13 19:53] sayedihashimi commented on #3415
@AskYous can you provide a link to the specific doc that you followed?

[2019-06-13 19:57] hemantbajpai4 commented on #3380
The new Extensibility is still a work in progress, any existing API is potentially subject to change or removal.

[2019-06-13 19:59] bgbruno opened #3427 "macos"
Q Hello MS - it works already on $macos too ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c4b0ea28-4a31-a3ea-fa5f-c32d5c72d4bd
* Version Independent ID: 31bd064b-51eb-5505-986e-2c7148784085
* Content: [Create a Node.js and React app - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/javascript/tutorial-n

[2019-06-13 20:21] Mikejo5000 commented on #2949
@KorkyPlunger Confirmed - no plans to add this any time soon. Please use Suggest a feature.

[2019-06-13 20:22] Mikejo5000 commented on #2828
OK, thanks, I'll plan to update.

[2019-06-13 20:37] tydunkel commented on #3425
@dukeofdarkness23 The `installChannelUri` needs to be set before VS is installed. Otherwise, the URI is saved and the installer will always look to that URI for updates. Unfortunately, there is no supported way to change this short of uninstalling and reinstalling.

[2019-06-13 21:29] mikeblome commented on #2004
@vbaderks thanks for reporting this! We now have a page for [C26455](https://docs.microsoft.com/en-us/visualstudio/code-quality/c26455?view=vs-2017) so it seems to me the only fix here is to remove the bullet point for default constructors from the Remarks section. Let me know if you feel there is more to do here.

[2019-06-13 21:31] AskYous commented on #3415
@sayedihashimi

It is this one:
https://docs.microsoft.com/en-us/visualstudio/mac/azure-functions?view=vsmac-2019

[2019-06-13 22:08] TerryGLee commented on #3425
@tydunkel Thanks for your response; I will close this issue now.

[2019-06-13 22:08] #3425 closed

[2019-06-13 23:16] JasonCard commented on #3417
Hi @HaraldMuehlhoffCC
This article is being machine-translated and we pick up updates daily in the morning.
So update will be picked up tomorrow morning and updated translation should be published by end of day tomorrow.
cc @gewarren

[2019-06-14 00:11] Mikejo5000 commented on #3427
@bgbruno Hi, do you mean does the tutorial work on a Mac (VS for Mac)? Steps are specific to VS on Windows.

[2019-06-14 00:15] Mikejo5000 commented on #2684
@ciceroneves Sorry for the slow reploy, but thanks for your feedback; we appreciate it. To make sure that this is logged in the right place, please use the [Report a Problem](https://docs.microsoft.com/visualstudio/ide/how-to-report-a-problem-with-visual-studio) tool to report the issue. When you do this, your report becomes part of the work items that are listed in the in the [Visual Studio Devel

[2019-06-14 00:15] #2684 closed

[2019-06-14 00:16] Mikejo5000 commented on #2394
@drewnoakes Asking about this.

[2019-06-14 00:20] Mikejo5000 commented on #2265
@rainersigwald Does this doc seem like a good place to put this info? The descriptions are mostly short descriptions, so it doesn't match the doc pattern too well.

[2019-06-14 00:30] Mikejo5000 commented on #3159
We did just add guidelines around .props and .targets for #2774
I know that doesn't answer this issue fully. Closing though as this work is currently out of scope for us.

[2019-06-14 00:30] #3159 closed

[2019-06-14 02:56] AskYous commented on #3415
I just created a function from the azure portal instead of VS for Mac and it's working now.

[2019-06-14 02:56] #3415 closed

[2019-06-14 09:02] mterwoord commented on #3380
Any idea on when those api's will be roughly fleshed out?

[2019-06-14 12:15] kedves93 opened #3429 "Windows containers"
The Node.js install commands work because the example uses a Linux container. I need exactly the same for an ASP .NET Core app with Angular, but on a Windows container. This is a Microsoft page and instead of a Windows container the example uses a Linux container. Why is that?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2019-06-14 13:08] KiroHikaru opened #3430 "How to upgrade VS Enterprise Edition from 2017 to 2019 version?"
The Installer did not display the 2019 upgrade option, how to fix this?

![image](https://user-images.githubusercontent.com/30339493/59511356-3be20f00-8ee0-11e9-9e66-50c7332c4299.png)

[2019-06-14 13:16] blmille1 opened #3431 "This is happening every time I open my solution now"
How do I fix this?  It happens within a couple of minutes of reopening the solution.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72292f7a-7616-4727-ccd3-cf44bb130477
* Version Independent ID: fe3cca82-dfd7-a85c-ab4f-014bc546d668
* Content: [A process has encountered an unrecoverable error - Visual Studio](https://do

[2019-06-14 14:22] rainersigwald commented on #2265
I agree that we should probably not put _all_ of this info in this doc, but that it could be clearer. Some of this applies to `COMReference`, too.

Maybe:
1. "Represents a list of type libraries that are passed to the `TypeLibFiles` parameter of the [`ResolveComReference` task](https://docs.microsoft.com/en-ca/visualstudio/msbuild/resolvecomreference-task)." instead of "that feed into the Resolved

[2019-06-14 14:32] cheles opened #3433 "Code snippets manager"
Code snippets can be accessed in the following general ways in VS2019 for Windows:
Tools > Code snippets manager
or
Ctrl+K, Ctrl+B
Ctrl+K+X for inline
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 60a5feab-7e47-6a02-1e07-26334dcc08ce
* Version Independent ID: db56c14c-1cfc-c46e-ead5-c8bea566e5cc
* Content: [Code snippe

[2019-06-14 16:12] TerryGLee commented on #3431
@blmille1  Thanks for your feedback; we appreciate it. To make sure that this is logged in the right place, please use the [Report a Problem](https://docs.microsoft.com/visualstudio/ide/how-to-report-a-problem-with-visual-studio) tool to report the issue. When you do so, your report becomes part of the work items that are listed in the in the [Visual Studio Developer Community](https://developerco

[2019-06-14 16:12] #3431 closed

[2019-06-14 16:15] Bartolomeus-649 opened #3434 "No generic runtime-agnostic TypeScript documentation"
No documentation on how to create a plain TypeScript project. All examples and everything else involve NodeJs in one form or another.
There should at the very least be info on the most basic use-case, like a single html-file and a single typescript file.
But really, there should really be core TypeScript documentation, without any assumption on run-time environment or anything else as a base, then

[2019-06-14 16:38] AaronRobinsonMSFT commented on #2265
@rainersigwald 's comments are spot on.

I would make it clear both of these items are for only for .NET projects.

**&lt;rant&gt;**
Both the `COMReference` and `COMFileReference` items are incredibly confusing and boarder on seemingly designed to breed confusion in COM scenarios. When I hit issues, I often need to dig through the targets file to understand what is happening and even then don't al

[2019-06-14 17:46] #2774 closed

[2019-06-14 17:46] #2828 closed

[2019-06-14 18:48] conceptdev commented on #1621
As mentioned above, please visit the Visual Studio for Mac docs at
https://docs.microsoft.com/en-us/visualstudio/mac/

Please leave us feedback there if you find issues with the content.

[2019-06-14 18:48] #1621 closed

[2019-06-14 18:51] conceptdev commented on #1429
Our testing has shown the sample working, so I'm going to close this issue. If you still have a problem please create a new issue with additional feedback either on the doc or the sample repo on GitHub.
Thanks

[2019-06-14 18:51] #1429 closed

[2019-06-14 18:53] conceptdev commented on #1239
Thanks for the feedback in this thread. From what I can understand, the commenters above are unblocked for now. We are taking the suggestions about when & how to introduce data-binding on board for future updates of these docs.

[2019-06-14 18:53] #1239 closed

[2019-06-14 18:54] #1726 closed

[2019-06-14 18:58] conceptdev commented on #2825
Sorry, I did not fully understand the original comment. You're definitely right about the mismatch.

I'll have to see if I can find the source of the poster to fix. Until then, hopefully anyone else who's confused by this will notice your comment!

Thanks for the feedback!

[2019-06-14 18:58] #2825 closed

[2019-06-14 21:45] effyteva commented on #1305
+1 on this issue
We face similar issue, as for some reason the unit tests choose to use .NET core 1.0, and some refers doesn't support .NET core 1.0 anymore.
We tried updating manually the TargetFrameworkVersion to 2.1/2.2, but couldn't get it to work...

[2019-06-14 21:53] gewarren commented on #1305
I'm updating the docs page now with the valid values that Abhitej [listed](https://github.com/MicrosoftDocs/visualstudio-docs/issues/1305#issuecomment-501469555), and when merged it will close this issue. Please log any product issues by using [Report a Problem](https://docs.microsoft.com/visualstudio/ide/how-to-report-a-problem-with-visual-studio) in Visual Studio. When you do this, your report b

[2019-06-14 22:35] gewarren commented on #1476
@cloudmelon Unfortunately we don't currently have the resources to address this issue, based on its priority. Feel free to submit a doc edit yourself if you wish (the Edit button is in the upper right-hand corner of each docs page).

[2019-06-14 22:35] #1476 closed

[2019-06-14 22:36] gewarren commented on #410
@watkinsmatthewp Unfortunately we don't currently have the resources to address this issue, based on its priority. If you did manage to get editor support working, feel free to submit a doc edit yourself (the Edit button is in the upper right-hand corner of each docs page).

[2019-06-14 22:36] #410 closed

[2019-06-15 00:10] TerryGLee commented on #3430
@KiroHikaru Thanks for your interest in our newest version, Visual Studio 2019! Unfortunately, the Visual Studio Installer only updates a previously installed version of Visual Studio. However, you can download Visual Studio 2019 from this page: https://visualstudio.microsoft.com/downloads/.

[2019-06-15 00:26] gewarren commented on #2833
Unfortunately, we don't currently have the resources to address this issue, based on its priority. If you do figure out how to access relationships, feel free to submit a doc edit yourself (the Edit button is in the upper right-hand corner of each docs page).