[2018-02-20 18:37] jdanyow commented on #443
@EisenbergEffect, @ShevaDas - the fix for the content linking has shipped. :ship: :shipit: :rocket:

[2018-02-20 18:51] kraigb commented on #590
What's presently available is the ability to embed R code within SQL stored procedures, which you should then be able to invoke from any other application through SQL queries.

See https://docs.microsoft.com/en-us/visualstudio/rtvs/integrating-sql-server-with-r#working-with-sql-server-stored-procedures.

[2018-02-20 18:51] #590 closed

[2018-02-20 19:02] EisenbergEffect commented on #443
Great work @jdanyow ! Thank you!

[2018-02-20 19:11] gewarren commented on #443
@guibirow thank you for pointing out the bug. @jdanyow thank you for fixing it!

[2018-02-20 19:11] #443 closed

[2018-02-20 19:14] gewarren commented on #574
@Vikenesh I'm not sure how you landed on this Issues page of the Visual Studio docs repo. It looks like you are having a problem with SQL Server. Is that correct?

[2018-02-20 19:19] gewarren commented on #581
@gregveres thanks for the feedback about the search results. I will try to improve this so it is more clear.

[2018-02-20 19:39] gewarren commented on #582
@StingyJack the feature was removed.

[2018-02-20 19:39] #582 closed

[2018-02-20 19:42] gewarren commented on #584
@nathvi thanks for reporting this typo. For reference, you can edit the topic by clicking the Edit button near the top right, if you'd like to help us by fixing issues like this that you come across. Otherwise, reporting an issue is great too :)

[2018-02-20 19:49] gewarren commented on #585
@olegsych thank you for the feedback. I will make the changes you suggested.

[2018-02-20 21:39] #474 closed

[2018-02-20 21:50] TerryGLee commented on #561
@TobiasKnauss Have you had an opportunity to check out the [Developer Community for Visual Studio 2015](https://developercommunity.visualstudio.com/search.html?f=&type=question+OR+problem+OR+problem&type=question+OR+problem+OR+problem&c=&redirect=search%2Fsearch&sort=relevance&q=Visual+Studio+2015) page to see if the problem you reported is listed there?

[2018-02-20 23:11] claremacrae commented on #580
Thanks. I'm working on a cross-platform project whose builds are driven by CMake, for which we want to add optional google test support - https://github.com/approvals/ApprovalTests.cpp

I'd hoped to enable VS users to use that tool, in conjunction with VS's google test build - but I see now that that won't be possible.

I'll watch the video though - thanks for the link.

[2018-02-21 07:14] TobiasKnauss commented on #561
I just checked out every issue of the last 10 days in various searches, it's not listed.
Also, how could it be listed there? This website uses GitHub accounts, and my VS2015 does not know my GitHub login.

[2018-02-21 17:20] kraigb commented on #157
This is fixed (finally!).

[2018-02-21 17:20] #157 closed

[2018-02-21 17:26] kraigb commented on #584
@Mikejo5000 I'll fix this one as part of the other changes to profiling topics that I'm doing for the SKU scrub.

[2018-02-21 19:53] Joe-Sewell-PreEmptive opened #593 "RunEachTargetSeparately parameter of MSBuild task CallTarget is not an output parameter"
`RunEachTargetSeparately` is listed as an *Optional Boolean **output** parameter* (emphasis added). It is an input parameter.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 85c98183-151e-7f93-8463-34518c030861
* Version Independent ID: 36e2369d-f5cd-2024-f235-68b13aa2d7bf
* [Content](https://docs.microsoft.com/en-us/vi

[2018-02-21 20:06] tomresing opened #594 "How to give product feedback"
Is there a better link for the new product feedback button? With the [new feedback system pilot](https://docs.microsoft.com/en-us/teamblog/a-new-feedback-system-is-coming-to-docs) on the [Visual Studio IDE article](https://docs.microsoft.com/visualstudio/ide/visual-studio-ide), the product feedback link leads directly to [developercommunity.visualstudio.com](https://developercommunity.visualstudio

[2018-02-21 20:27] TerryGLee commented on #455
Thanks to both @mikgam and @mairaw; we've added a link to the [Visual Studio developer community](https://developercommunity.visualstudio.com/spaces/8/index.html) page as a See Also link and as a Note in the "Alternate Reporting" section.

[2018-02-21 20:27] #455 closed

[2018-02-21 21:01] TerryGLee commented on #594
@tomresing Thanks for your comments about the new Feedback tool. We do have content that addresses other ways to give feedback; specifically, we have a [Talk to us](https://docs.microsoft.com/visualstudio/ide/talk-to-us) page, where the information you seek is in the "I want to make a suggestion about Visual Studio features" section. (The short of that is that the [UserVoice](https://visualstudio.

[2018-02-21 22:01] tomresing commented on #594
Thanks. I submitted the pull request above based on your feedback and the guidance on product feedback issues: https://review.docs.microsoft.com/en-us/new-hope/resources/github-issues-feedback

[2018-02-21 22:39] TerryGLee commented on #594
@tomresing We'll review the PR; thanks. (And, I see that you are a Microsoft employee, so I'll respond further to you via internal email.)

[2018-02-21 22:40] gewarren commented on #494
There is a typo, it should say nMake and not nNake. @mewiteor thanks for reporting this! It will be fixed soon.

[2018-02-22 00:21] jakubrpawlowski opened #596 "Very bad example of recursion"
If you have to explain factorial to explain recursion that means example is wrong. There are so many intuitive examples you could have given but you chose to explain docs to math major instead of JS programmer.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e391bc6b-eb62-016e-7a19-137f9fdcfc1b
* Version Independent ID:

[2018-02-22 07:51] AdnanNazir commented on #462
needed !
Please help

[2018-02-22 09:40] thejonan opened #597 "What are _actual_ commands to install SDK from command line?"
The link provided points to general reference for command line arguments of VS. There is not a single word on `SDK` in that page. One would suggest checking in "Workloads IDs" description, but _no_ there's not such thing there either. Others may think that Building Tools will have that, but there will be negative surprise again.

Can you, please, provide _meaningful_ descriptions when writing docu

[2018-02-22 12:00] mlop3s opened #598 "AssemblyResolution"
AssemblyResolution is wrongly documented. It should read: <AssemblyResolution> <Directory path="D:\myfolder\bin\" includeSubDirectories="false"/> </AssemblyResolution>

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 21ac034a-a498-f3e3-28d0-175b6fead219
* Version Independent ID: 747194a8-ffcf-60b3-b525-6f8fe00066a2
* [Co

[2018-02-22 12:02] mlop3s commented on #598
Somehow, my  example was cutoff. This is the correct way: Directory path="D:\myfolder\bin\" includeSubDirectories="false"

[2018-02-22 17:30] Mikejo5000 commented on #465
Adding link to DXGIGetDebugInterface1

[2018-02-22 19:42] evanwindom commented on #557
@gewarren Can we close this, please?  The corrections are live.

[2018-02-22 19:43] #557 closed

[2018-02-22 20:24] evanwindom commented on #558
We're moving away from the use of this page entirely and will instead use smaller, more specific pages to detail the different acquisition experiences.

@gewarren  Can you close this for us, please?  Thanks!

[2018-02-22 20:26] #558 closed

[2018-02-22 21:32] mairaw opened #599 "Outdated versions of the framework"
Missing the newer versions and out-of-support versions are still listed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1a80e5d7-2db7-48c0-e8b6-ca8c3ff30017
* Version Independent ID: ad64635b-06d5-1b87-8f02-80cf25c12520
* [Content](https://docs.microsoft.com/en-us/visualstudio/msbuild/msbuild-target-framework-and-targe

[2018-02-22 23:02] MikeMarlowe commented on #390
When you create a layout, setup will create response.json and layout.json files in your layout folder that contain info about what is included in the layout (e.g. if you create a partial layout of VS Enterprise that only includes 1 workload for 1 English locale, that product, workload, and language info gets stored in those json files).  Setup uses that data when modifying or updating the layout t

[2018-02-23 06:10] egyik opened #600 "C26499"
This is an experimental rule but it's not clear what it means. Can it be documented?

I see it cropping up e.g. in Microsoft C++/WinRT code.

1>.\packages\cppwinrt.2017.10.13.1\build\native\include\winrt\base.h(11217): warning C26499: Could not find any lifetime tracking information for '*that'

More broadly why doesn't Microsoft ship code which compiles clean under /Wall and these checkers. The V

[2018-02-23 10:36] rmonnier opened #601 "trtyr"
rtr

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 852946c7-d511-76d8-ce40-a03c7d9d7ff2
* Version Independent ID: 4b1be0b3-7e28-d414-553f-9e1be7ef04a0
* [Content](https://docs.microsoft.com/en-us/visualstudio/deployment/deploying-applications-services-and-components)
* [Content Source](https://github.com/Microsoft/visu

[2018-02-23 10:37] #601 closed

[2018-02-23 11:17] indikaanu83 opened #602 "Add parameter to existing constructor (C# only) - Correction"
I think its Ctrl and . is the shortcut to get that menu.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4dd39fe2-328a-b8a2-9795-ab8c6c735761
* Version Independent ID: 075639a3-171c-6ade-85fc-a3845f933b82
* [Content](https://docs.microsoft.com/en-us/visualstudio/ide/reference/generate-constructor)
* [Content Source](htt

[2018-02-23 16:44] rkpatrick opened #603 ""Most recent version" doesn't exactly pin this documentation down."
There are too many versions of documentation floating around to use "Most recent version does X or Y".  I cannot even count how many times I have seen that only to find the documentation to be inaccurate because it was written in the past to where "Most recent version" no longer applies.  In this case, the errors are at least minimal (for instance, as of VS2017, the text no longer reads "Cache sym

[2018-02-23 17:16] screig opened #604 "followed instructions, but got errors"
Severity	Code	Description	Project	File	Line	Suppression State
Error		Undefined 'guid' attribute 'guidTestCommandPackageCmdSet' in a <Menu> element	VSIXProject1	C:\LocalFolder\_CODE\VSIXProject1\VSIXProject1\TestommandPackage.vsct	35
Error		Undefined 'id' attribute 'TopLevelMenu' in a <Menu> element	VSIXProject1	C:\LocalFolder\_CODE\VSIXProject1\VSIXProject1\TestommandPackage.vsct	35
Error		Undefin

[2018-02-23 17:28] gregvanl commented on #604
Hi @screig Can you see if the change proposed in https://github.com/MicrosoftDocs/visualstudio-docs/pull/576 fixes your build error? If so, I'll merge that PR. Thanks

[2018-02-23 18:02] Mikejo5000 commented on #498
Closing - product support issue

[2018-02-23 18:02] #498 closed

[2018-02-23 18:03] gewarren commented on #602
@indikaanu83 thank you for the feedback. The doc is trying to convey that Ctrl and . is the shortcut, but using the syntax "Ctrl+.". Is that not clear because of the + sign?

[2018-02-23 18:03] Mikejo5000 commented on #503
Adding suggestions for when the error message does not include the address.

[2018-02-23 18:21] mikeblome commented on #600
investigating

[2018-02-23 18:25] Mikejo5000 commented on #545
@buzz3791 Looks like Q133174 was retired. I will remove the reference

[2018-02-23 18:55] indikaanu83 commented on #602
hi,

At the very first time, I tried CTRL, + and . all together. Maybe it's just
me. But I feel the + sign makes little bit confusing.

On Fri, Feb 23, 2018 at 11:33 PM, Genevieve Warren <notifications@github.com

[2018-02-23 18:59] Mikejo5000 commented on #566
@Mazelmat Thanks! I'm updating the doc with the requested info.

[2018-02-23 19:20] egyik commented on #600
This is clearly relevant.
https://blogs.msdn.microsoft.com/vcblog/2016/03/31/c-core-guidelines-checkers-preview-of-the-lifetime-safety-checker/

On 23 February 2018 at 18:21, Mike B <notifications@github.com> wrote:

[2018-02-23 19:29] vishalkumarsa opened #605 "Add a section for employees to activate their msdn subscription"
I found it time consuming to figure this out, I suggest adding a section for internal employees where we can outline details to go to within VS **help -> about visual studio -> license status -> check for an updated license**, this automatically links to employees' msdn visual studio subscription when logged in with msft account. If this is documented somewhere, please ignore

[2018-02-23 21:02] nathvi commented on #564
Console.WriteLine("Sweet Baby Jesus!");

[2018-02-23 21:35] #574 closed

[2018-02-23 21:36] gewarren commented on #575
@abdulhannanali thanks for your positive feedback!

[2018-02-23 21:40] gewarren commented on #494
Fixed/removed the typo.

[2018-02-23 21:40] #494 closed

[2018-02-23 21:41] #534 closed

[2018-02-23 21:44] gewarren commented on #514
@Mikejo5000 can you forward this feedback to the product team?

[2018-02-23 21:46] #509 closed

[2018-02-23 21:47] gewarren commented on #502
@Mikejo5000 can you forward this info to the product team?

[2018-02-23 21:47] #501 closed

[2018-02-23 21:51] Mikejo5000 commented on #571
@askrinnik These particular tools are in the legacy tooling set, and it's possible the sample is no longer supported and has been removed. I need to verify this before removing all associated documentation.

[2018-02-23 21:52] gewarren commented on #370
This will be addressed by the SkyEye bug.

[2018-02-23 21:52] #370 closed

[2018-02-23 21:53] gewarren commented on #351
@gregvanl I'm assigning this back to you since no-one picked it up in the PM bootcamp.

[2018-02-23 21:54] TerryGLee commented on #516
FYI: The current locale for this information is [Troubleshooting network-related errors when you install or use Visual Studio](https://docs.microsoft.com/visualstudio/install/troubleshooting-network-related-errors-in-visual-studio)

[2018-02-23 22:14] craiggeil commented on #514
Apologies for the loud tone. I was frustrated. Thank you for considering this.

[2018-02-23 22:20] Mikejo5000 commented on #502
Yes, waiting for a response.

[2018-02-23 22:22] Mikejo5000 commented on #514
Checking with product team whether it is a case of missing docs or unsupported method. This API is in spec stage, so it may not be supported yet. MDN link with browser compatibility info: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Promise/finally

[2018-02-23 22:28] Mikejo5000 commented on #514
From the product team: Promise.prototype.finally is not a standard yet (it will be ratified in June of this year). That said, ChakraCore has recently added support (https://github.com/Microsoft/ChakraCore/pull/4668), and this API should be documented.

[2018-02-23 22:51] Mikejo5000 commented on #603
@rkpatrick Thanks! I am updating the steps for this article.

[2018-02-23 22:56] gewarren commented on #577
@pgmolloy You can select the project you want to export as a template from a drop-down list on the first page of the Export Template wizard. So it's not necessary to set it as the startup project.
![wizard](https://user-images.githubusercontent.com/24882762/36620814-b1679f32-18a9-11e8-9ecf-906c63b47495.png)

[2018-02-23 23:07] andysterland commented on #502
You can report issues with the remote debugger over on the Visual Studio developer community: https://developercommunity.visualstudio.com/topics/ide.html?sort=active
When you do please add some more information. As in, is the remote debugger attached every time you launch? What happens if you just launch the exe multiple times remotely. If you have the app and can share it so we can try to reprodu

[2018-02-23 23:07] gewarren commented on #540
@polakovicp Is it grayed out, or just doesn't appear at all? If it's grayed out, it will become enabled if you open an XSLT file.

[2018-02-23 23:44] gewarren commented on #483
Note added to https://docs.microsoft.com/en-us/visualstudio/code-quality/code-analysis-for-managed-code-overview#suppress-warnings.

[2018-02-24 00:04] TerryGLee commented on #390
@MikeMarlowe Thanks, Mike.

[2018-02-24 00:05] #390 closed

[2018-02-24 03:06] rigdern opened #606 "`ExtensionsToDeleteOnClean` isn't documented"
`ExtensionsToDeleteOnClean` isn't documented.

I found this property in `Microsoft.Cpp.Common.props`.

Adam Comella
Microsoft Corp.

[2018-02-24 06:41] polakovicp commented on #540
Doesn't appear at all.
XML menu item appears when .xsl file is opened and this is what I get:
[image: Inline images 1]

On 24 February 2018 at 00:07, Genevieve Warren <notifications@github.com>
wrote:

[2018-02-24 11:25] carentsen commented on #581
@gewarren isn't it as simple at adding a paragraph after the intro with a link like:
To get started, go here:  https://docs.microsoft.com/en-us/visualstudio/code-quality/how-to-generate-code-metrics-data

[2018-02-24 14:03] kcwilsonii opened #607 "This still needs an offline installer"
Contrary to popular belief many people are still struggling with datacaps on the Internet due to greedy corporations that want charge you for data usage on the internet. A complete download would at least allow me to download once somewhere else and then bring it home to install as a full download of Visual studio is larger than my datacap. Suddenly a "free" download would cost me a $1000.00 in ov

[2018-02-24 19:19] gregvanl commented on #606
@rigdern Can you provide more context on this setting? For example, in which configuration file would you set it or which existing docs.microsoft.com topic would likely include the description. This will help with assigning the issue to the appropriate doc team and writer. Thanks

[2018-02-25 00:53] TerryGLee commented on #607
@kcwilsonii Thanks for your feedback! We'll pass this along to the product team, but please be advised that this specific GitHub Issues page is meant for feedback on our documentation. If you'd like to give feedback on the product itself, our [Talk to Us](https://docs.microsoft.com/en-us/visualstudio/ide/talk-to-us) page includes more information about how best to do so.

[2018-02-25 01:13] Bethannfrum commented on #465
Debug

[2018-02-25 02:46] Axemagus opened #610 "Missing change log for VS Tools for Unity 3.5.0.3"
3.5.0.3 was released last month, but the change log was never posted.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fd09a24e-305b-bb2e-a8b5-9ea9c52fd8a4
* Version Independent ID: 83bf7326-a96c-3bc4-a2ff-b1f510ea9308
* [Content](https://docs.microsoft.com/en-us/visualstudio/cross-platform/change-log-visual-studio-tools

[2018-02-25 04:58] rigdern commented on #606
@gregvanl Sorry, I'm new to msbuild and wasn't sure what context would be useful. I updated the issue description with an additional detail. Let me know if that's sufficient.

[2018-02-25 14:42] rvanaken commented on #533
I ran into this issue as well.
This article gets hit a lot because it's linked from the VS start page.
From what I can tell, MS intends to use ".NET Standard Libraries" instead of PCL.  The whole example needs to be rewritten:
[.NET Standard Class Libraries not PCL](https://developercommunity.visualstudio.com/content/problem/190584/net-standard-class-libraries-not-pcl.html)
It looks like they inte

[2018-02-25 14:53] frankbj57 opened #611 "Thin explanation without references (code metrics)"
This article only scratches the surface of what VS can - and doesn't do anything to justify and explain more deeply why these code metrics have any relevance. The least you could do was to insert links to references either on your own site or relevant articles.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6b417a6f-25

[2018-02-25 15:56] gmonkman opened #612 "Clear and concise, but a request..."
Clear description, but could microsoft work with CPython people to ensure that the pdb's are published on their ftp site at the time of the windows binary releases.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3a28d662-7af8-e0cc-dc6c-b300d22eb16d
* Version Independent ID: 61410436-ef1f-6858-618d-c3a2da35309a
* [Conte

[2018-02-25 23:10] CptTwinkie opened #613 "layout properties description not clear"
"Automatically insert layout properties on element creation
Specifies whether layout properties are provided for a new element when you add one to the Designer."

I came here specifically to look up information about that option. What "layout properties" are provided. Maybe I'm just blanking on "layout properties" but I can't seem to connect it in the proper context. There are so many things calle

[2018-02-26 04:31] Super169 commented on #516
Thanks for your reply.  Actually I have already follow the instruction to add the following entry under system.net in devenv.exe.config, but it does work also.
      <defaultProxy enabled="true" useDefaultCredentials="true">
        <proxy bypassonlocal="True" proxyaddress="http://------:8080"/>
      </defaultProxy>
(where ------ is the host name of company's proxy server, and 8080 is related por

[2018-02-26 11:44] screig commented on #604
sorry those instructions make no sense to me.

First off the template produces
[code]
the original web page says I should add a  line like this
`
<IDSymbol name="TopLevelMenu" value="0x1021"/>  `

From what I can gather, the new instructions call the same thing four different names:

- TopLevelMenu, in the first paragraph.
- guidTopLevelMenuCmdSet in the second paragraph
- cmdidTestSubCommand in f

[2018-02-26 13:34] icnocop opened #614 "How can the extension be updated after publishing?"
How can the extension be updated after publishing?

For example, I published v1.0 of the extension and now I want to publish v1.1.

Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ac223936-2fe5-45ea-bd78-656013f0d6e0
* Version Independent ID: fcae191e-6ea3-85ca-25a9-7cc5c32ca008
* [Content](https://docs.micro

[2018-02-26 14:17] laszlohorvath opened #615 "This is not working with VS 2017 + .Net Core/Standard"
It is very sad that I feel that I can not rely on official documentation anymore. I'm porting a lot of stuff into VS 2017-.NET Standard/Core Environment, and I'm constantly blocked by undocumented obstacles. For example, there is no IWizard interface at all in VS 2017. These assemblies are not available for VS 2017. But ok we can find it manualy in the GAC, and we can add it as a direct reference.

[2018-02-26 16:49] gregvanl commented on #606
@rigdern Great, this helps. Sounds like it is C++ specific for MSBuild.

[2018-02-26 17:08] sailro commented on #610
Yes, I'm going to update the changelog. Thanks

[2018-02-26 17:50] yeganer opened #617 "Alternative approaches section is incomplete"
Your list of alternative approaches to creating a Python extension lacks modern tools like pybind (https://github.com/pybind/pybind11). This header only library is a very convenient tool to wrap C++ code for python.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 40e3b6b1-a3d2-f4f2-b1ad-dd654a062343
* Version Independen

[2018-02-26 20:08] babuw commented on #498
test

[2018-02-26 20:57] icnocop commented on #614
@gregvanl, Thank you.

After several minutes I figured out that I have to click the following:
1. Manage (Extension)
2. Extension Menu > Edit
3. Edit package (Pencil icon), under "1. Upload extension"
4. Select vsix file from my local machine
5. Open

I was expecting an "Update" item in the extension menu, mentioned in another doc, https://docs.microsoft.com/en-us/vsts/extend/publish/overview#upda

[2018-02-26 21:07] tysonn opened #618 "Change the word "topic" to "article""
We use the word "article" now.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b2cc4efe-a1a2-b461-baca-d8acf4957382
* Version Independent ID: cc2c9b90-a9b9-29eb-89c2-c9f09521d9e0
* [Content](https://docs.microsoft.com/en-us/visualstudio/python/unit-testing-python-in-visual-studio)
* [Content Source](https://github.com/M

[2018-02-26 21:47] TerryGLee commented on #594
@tomresing Although we have opted not to accept your PR, we will address adding more information to the [How to Report a Problem](https://docs.microsoft.com/en-us/visualstudio/ide/how-to-report-a-problem-with-visual-studio-2017) page so that it includes more info about where to send us generic product feedback or a suggestion for a product improvement.

[2018-02-26 23:03] patrikhuber opened #619 "Why does MicrosoftDocs require GitHub "Resources" permissions?"
Hello,
This is not related to visualstudio-docs per-se but I didn't find an appropriate or better place for this, so hopefully someone can help and/or answer here. It is related to the VS docs after all (which I've been browsing).
The new docs commenting system is awesome, but why does it require the GitHub permission "Resources: Determine what resources both you and docs.microsoft.com can access"

[2018-02-26 23:22] Axemagus commented on #610
Thanks for the quick turn around on this!

[2018-02-26 23:22] #610 closed

[2018-02-26 23:41] kraigb commented on #618
FYI, there are hundreds of instances of "topic" within the VS documentation that we haven't scrubbed. I'll do my areas (Python and RTVS), but doing it more pervasively is beyond the scope of this one issue and is probably best handled on a subfolder basis.

[2018-02-27 01:06] Mikejo5000 commented on #465
Per instructions from product team, link to interface now published

[2018-02-27 01:06] #465 closed

[2018-02-27 01:07] Mikejo5000 commented on #503
Additional info published

[2018-02-27 01:07] #503 closed

[2018-02-27 01:07] Mikejo5000 commented on #545
Fix published

[2018-02-27 01:07] #545 closed

[2018-02-27 01:09] Mikejo5000 commented on #564
Fix published

[2018-02-27 01:09] #564 closed

[2018-02-27 01:09] Mikejo5000 commented on #566
fix published

[2018-02-27 01:09] #566 closed

[2018-02-27 01:11] Mikejo5000 commented on #603
Refreshed doc. Published.

[2018-02-27 01:11] #603 closed

[2018-02-27 03:56] gewarren commented on #605
@TerryGLee can you look at this and see what you think? I'm not sure such information belongs on docs.microsoft.com though.

[2018-02-27 04:00] gewarren commented on #611
@frankbj57 thank you for the feedback. I will look into improving the code metrics documentation when time allows.

[2018-02-27 04:06] gewarren commented on #619
@jdanyow are you the appropriate person to address this concern? If not can you tag the correct person? Thanks!

[2018-02-27 04:15] kraigb commented on #617
@yeganer Thanks for the input. Do you have more information on pybind as would match the other entries in that table? (Though I own the topic, I unfortunately don't have the bandwidth to research the specifics here. Folks in our engineering team might know, and I will consult with them in any case.) Also, when you mention other "modern" tools, are there others besides pybind that should be include

[2018-02-27 05:36] egyik commented on #600
Thanks for fixing!

[2018-02-27 10:13] CamelCaseMaster commented on #562
I already made a copy (--layout ~45GB) & whenever some time passes I re-execute the same command:
vs_community.exe --layout c:\notAnIsoThisIsAwesome --lang en-US
It verifies the packages then adds new ones which is what i want to keep it fresh in case I need it but is there a way to delete old versions of some packages already downloaded? or it does it automatically?

[2018-02-27 16:40] jdanyow commented on #619
Sure, I can provide more info on this.

During the oauth flow, GitHub will display an authorization page that looks something like this:

I believe the question here is **what does "*determine what resources both you and docs.microsoft.com can access*" mean?**  First some info on our app...

GitHub has two types of apps: "OAuth Apps" and "GitHub Apps".  docs.microsoft.com uses the second kind, a "

[2018-02-27 16:45] jdanyow commented on #619
cc @tysonn @ShevaDas @DuncanmaMSFT @adkinn ^^^

[2018-02-27 16:58] Chiramisu opened #620 "Specify Feature Scope in Documentation (e.g. Enterprise+, Professional+, etc.)"
Please start updating your software documentation to include the edition scope of features? For instance, if a particular document is referencing a feature only available in Enterprise, please specify that up front. If only portions of the document are for a particular version, please add inline notes accordingly (similar to how you already make other inline comments in your documentation using th

[2018-02-27 17:11] patrikhuber commented on #619
@jdanyow Okay, cool! Thank you very much for this explanation.
If I understand correctly, the important part is:

So this is an "and" in the literal sense. That sounds great and nothing to worry about. :-)
It's a bit of a shame that GitHub doesn't make this more clear. Now that I know, I understand, but I am pretty sure that few people will really understand when they're clicking to give their per

[2018-02-27 17:11] #619 closed

[2018-02-27 17:49] mikeblome commented on #600
@egyik Thanks for filing the issue!

[2018-02-27 17:50] #600 closed

[2018-02-27 18:48] Mikejo5000 commented on #584
@kraigb I see the fix

[2018-02-27 18:57] Mikejo5000 commented on #583
Putting fix in place

[2018-02-27 19:37] Mikejo5000 commented on #570
Updating references to modulus

[2018-02-27 19:46] Mikejo5000 commented on #547
@adamdicarlo Thanks for your feedback! Granted, there could be more info on this page (and every JS reference topic), but details about document compatibility mode are out of scope here. The link takes you to Version Info page for JS, which indicates Edge does not support any legacy modes, and the version page links you to this page: https://docs.microsoft.com/en-us/previous-versions/windows/inter

[2018-02-27 19:48] Mikejo5000 commented on #549
Looking into this.

[2018-02-27 19:55] Mikejo5000 commented on #544
@ruisilva450 Thanks for the feedback! Removing TODO

[2018-02-27 20:16] Mikejo5000 commented on #549
@bterlson for input

[2018-02-27 20:21] bterlson commented on #549
A common case was XMLHTTPRequest, but in general any object which was on the other side of a COM boundary returned a typeof of ‘unknown’. This included things like VBScript types with no analogue in JS as well I seem to recall.

There is no way to coerce such values to a native JS type. I suppose you could wrap it in a similar object? But some of those ‘unknown’ types had very strange behavior, e.

[2018-02-27 21:01] gewarren commented on #620
@Chiramisu thanks for the feedback. We do try to note edition limitations as much as possible. Are you referring specifically to this [modeling topic](https://docs.microsoft.com/en-us/visualstudio/modeling/use-code-maps-to-debug-your-applications#start-mapping-the-code)?

Sometimes the feature isn't available if you haven't installed the proper workload, and perhaps there are topics that need to b

[2018-02-27 21:08] Chiramisu commented on #620
Yes sir, that is correct; specifically for this article.

On Tue, Feb 27, 2018, 13:01 Genevieve Warren <notifications@github.com>
wrote:

[2018-02-27 21:12] #614 closed

[2018-02-27 21:47] #584 closed

[2018-02-27 22:01] michaelmaston opened #621 "Typo in image"
On this page at the top there are 3 phone screen images in a row.  The last one has a typo that reads "Time of sunriweatherse" instead of "Time of sunrise".  Somehow the word "weather" got inserted into the text.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 14465304-3ced-6b36-5054-a85ac11e667e
* Version Independent I

[2018-02-27 22:58] TerryGLee commented on #605
@vishalkumarsa I don't think that adding content that specifically addresses internal employees is appropriate for a public-facing site.

That being said, we do have a page that covers this: [How to unlock Visual Studio](https://docs.microsoft.com/en-us/visualstudio/ide/how-to-unlock-visual-studio). The "To unlock Visual Studio using an online subscription" section gets you to the same dialog box

[2018-02-27 23:26] chwarr opened #622 "What are the guarantees of RemoveDuplicates output parameter Filtered?"
Consider improving the documentation for the MSBuild [RemoveDuplicates](https://docs.microsoft.com/en-us/visualstudio/msbuild/removeduplicates-task) task to discuss the guarantees, if any, of the output parameter `Filtered`.

The reason I'm looking for these details is I'm trying to implement an check in my targets that a given Item doesn't contain duplicates. (If it does, my targets will encounte

[2018-02-28 00:08] Mikejo5000 commented on #599
@mairaw Removing references to 4, 4.5, 4.5.1. Adding references for 4.6.1, 4.6.2, 4.7, 4.7.1. Is that correct?

[2018-02-28 00:09] Mikejo5000 commented on #593
@Joe-Sewell-PreEmptive Thanks! Making the fix

[2018-02-28 00:18] chwarr opened #623 "MSBuild Item Include attribute is documented as required, but is not required"
The [table](https://docs.microsoft.com/en-us/visualstudio/msbuild/item-element-msbuild#attributes-and-elements) indicates that the Item `Include` attribute is required. However, as the [Update example shows](https://docs.microsoft.com/en-us/visualstudio/msbuild/item-element-msbuild#examples), this is not the case.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2018-02-28 00:19] Mikejo5000 commented on #589
@gewarren This is a rendering issue that is not specific to this content. It is also apparent on Chrome, so I suspect this issue is by design.

[2018-02-28 00:22] gewarren commented on #589
@Mikejo5000 agreed, however it's still not a good customer experience. Can we convert to a bulleted list instead of a table, perhaps?

[2018-02-28 00:24] Mikejo5000 commented on #588
@rainersigwald Rainer, do you have any input on this issue?

[2018-02-28 00:25] gewarren commented on #621
@conceptdev does this fall under your area? the typo is in the screenshot itself otherwise I'd fix it.

[2018-02-28 00:26] mairaw commented on #599
@preetikr @vivmishra any thoughts on this? Should we exclude out of support versions like 2.0 and 3.0 as well?

It also seems to be missing the x64 platform. Not sure if it's missing any other.

When I change the target platform, it seems to set a property named PlatformTarget and not just Platform.

These are some things that I noticed.

[2018-02-28 00:27] conceptdev commented on #621
@gewarren yes, this page is already due for an edit for other reasons, will be sure the screenshot is fixed (then I'll close this issue).

[2018-02-28 01:33] Mikejo5000 commented on #589
No, its a standard reference template. I can open a bug on it.

[2018-02-28 04:05] gewarren commented on #540
@polakovicp I will check. Perhaps the profiler is only available in the Enterprise edition.

[2018-02-28 04:08] gewarren commented on #602
I improved the bolding of Ctrl and . to try and help clarify the shortcut.

[2018-02-28 04:08] #602 closed

[2018-02-28 05:00] kraigb commented on #231
Once the final set is published to live, the old SKUs should be out of the docs.

@alfredmyers Thanks for bringing this to our attention, an apologies for having taken so long to address it. We very much appreciate your input. :)

[2018-02-28 05:00] #231 closed

[2018-02-28 05:01] kraigb commented on #231
PS, https://github.com/MicrosoftDocs/visualstudio-docs-pr/pull/1475 was the second set of changes, in which I neglected to mention this issue so it's not in the log above.

[2018-02-28 13:23] stuartbronk opened #624 "Visual Studio 2017 no longer creates the Registry Entries"
How can you modify the ChannelOperationTimeout when using Visual Studio 2017 as this does not support these registry keys ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eb74da18-3da7-8f5e-4433-62588cc744e9
* Version Independent ID: 2544b951-5c44-a722-b6f6-ef3b4e11c110
* [Content](https://docs.microsoft.com/en-us/visu

[2018-02-28 13:51] aBrokenDonut opened #625 "Change textBox1 leave event to TextChanged event"
It is quite impossible to leave the focus of the textbox on MyUserControl .

For the tutorial sake, i would advise to change it to TextChanged event instead of let people wonder why the property is not saved to disk.

---
#### Documentdetails

⚠ *Dit gedeelte niet bewerken. Het is vereist om problemen te koppelen tussen docs.microsoft.com en GitHub.*

* ID: 0d7a70e9-8bed-6595-ac09-852b47459ac1
* V

[2018-02-28 14:41] nathvi commented on #583
The link "Content Source" is  broken and is giving me a 404.

[2018-02-28 15:16] rytmis opened #626 "The bits about header propagation might need some clarifiying"
The previous step stated this about HeaderPropagatingHttpClient:

while this page says:

which is sort of anticlimactic, and I think also obscures the importance of _using header propagation for all inter-container requests_.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9f6962d2-a42a-ea79-bcda-d4adcaf2406c
* Version

[2018-02-28 15:30] sryabkov commented on #390
@MikeMarlowe Thank you for the information. Will the approach you suggested work if [symbolic links](https://msdn.microsoft.com/en-us/library/windows/desktop/aa365680%28v=vs.85%29.aspx?f=255&MSPPError=-2147217396) are used for package folders instead of duplicates of the package folders? The idea is to have a location on the network with all the packages for all versions of Visual Studio 2017 and

[2018-02-28 16:32] Mikejo5000 commented on #583
@navthi Hmm, temporary outage? Both links work for me.

[2018-02-28 18:00] #605 closed

[2018-02-28 19:28] nathvi commented on #583
Still getting the 404 for
https://github.com/MicrosoftDocs/visualstudio-docs-pr/blob/live/docs/profiling/common-patterns-for-poorly-behaved-multithreaded-applications.md

[2018-02-28 19:36] TerryGLee commented on #594
@tomresing We've updated the [How to report a problem in Visual Studio 2017](https://docs.microsoft.com/en-us/visualstudio/ide/how-to-report-a-problem-with-visual-studio-2017) page; specifically, we've revised the "Alternate reporting" section to include a links and guidance on when to use [UserVoice](https://visualstudio.uservoice.com/forums/121579-visual-studio-ide) to contribute product feedbac

[2018-02-28 19:37] #594 closed

[2018-02-28 22:01] ghogen commented on #626
@johnsta

[2018-02-28 22:05] Mikejo5000 commented on #583
@nathvi Ah, didn't notice that the Content Source link goes to the private repo (-pr). The Content link is the only one you will be able to use on the page. However, you can use this link instead:
https://github.com/MicrosoftDocs/visualstudio-docs/blob/live/docs/profiling/common-patterns-for-poorly-behaved-multithreaded-applications.md

[2018-02-28 23:55] cparmarmsft commented on #561
@TobiasKnauss the feedback  you report through VS 2015 does not go to developer community. It was an old system that did not expose any feedback on a community forum. Starting VS 2017 all feedback you submit is available on Developer Community portal as Terry suggested.

[2018-03-01 00:26] mavasani opened #628 "Screenshots need to be adjusted as the checkbox position has changed in latest version of VS"
"Enable full solution analysis" checkbox is now the first checkbox in the Text Editor -> C# -> Advanced page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6c86ab93-c317-1fb8-16a8-d221138435d1
* Version Independent ID: 71cbbca2-44d0-8f69-1937-a286fef52bdb
* [Content](https://docs.microsoft.com/en-us/visualstudio/code-

[2018-03-01 00:26] mavasani commented on #628
![image](https://user-images.githubusercontent.com/10605811/36820709-1e4e651a-1ca4-11e8-9fa9-b987ec56c006.png)

[2018-03-01 00:26] llali commented on #540
@polakovicp The Xslt profiler is only available in the Enterprise edition.

[2018-03-01 01:06] #544 closed

[2018-03-01 01:08] Mikejo5000 commented on #593
Verified

[2018-03-01 01:08] #593 closed

[2018-03-01 01:10] Mikejo5000 commented on #535
Fix in place

[2018-03-01 01:10] #535 closed

[2018-03-01 06:50] gewarren commented on #628
@mavasani thanks Manish!

[2018-03-01 07:00] chwarr commented on #622
If it helps, I've written unit tests to assert the in order behavior, so if a strengthing of the guarantee is deemed appropriate, regressions due to future changes can be minimized.

If this strengething is something that should be discussed in the MSBuild repository instead/as well, let me know. (The unit tests changes will need to end up there.)

https://github.com/chwarr/msbuild/commit/528bb735

[2018-03-01 13:49] joacim-boive opened #629 "IE / Edge is using Windows settings to override locale."
I consider this to be incorrect behaviour.

Ex;
const sum = 10000;
sum.toLocaleString('sv-SE', {
  style: 'currency',
  currency: 'SEK'
});

Should give: 10 000,00 kr
But gives: 10.000,00 kr

Note the dot (.) as thousand separator.
This is because of the incorrect(?) setting in Windows: Region and Language / Customize Format / Currency / Digit grouping symbol.

This is set to a dot (.) despite set

[2018-03-01 15:14] rainersigwald commented on #622
Since it has been order-preserving, I agree: we should document that it is order-preserving, and we should test that contract. It'd be great if you could open an MSBuild PR with those tests.

[2018-03-01 16:43] robertunoki commented on #535
Hey Mike - thanks for fixing.  When can we expect to see the updated content?

[2018-03-01 16:51] #540 closed

[2018-03-01 17:19] vishalkumarsa commented on #605
Thank you for the clarification. It was just a suggestion, and I guess it
makes more sense to do it your way.

Warm Regards,
Vishal

On Tue, Feb 27, 2018 at 2:58 PM, Terry G. Lee <notifications@github.com>
wrote:

[2018-03-01 17:19] gewarren commented on #629
@Mikejo5000 can you take a look at this and escalate as appropriate? And perhaps route the OP to product feedback if this is more about the product than the documentation.

[2018-03-01 17:20] alfredmyers opened #630 "Lack of information on updated prereqs for a Visual Studio 15.* minor update"
Given the problem stated at https://developercommunity.visualstudio.com/content/problem/46789/stuck-with-vs2017-on-windows-server-2012.html **it seems** the Visual Studio 2017 installer updated it's pre-reqs from Windows Server 2012 to Windows Server 2012 R2 during one of the minor release updates.

But, I haven't found any mention of this in any of the release notes for versions 15.1 through 15.5

[2018-03-01 17:47] loflina commented on #462
Please update. This silence is unacceptable.

[2018-03-01 18:40] JennieHubbard commented on #629
@joacim-boive Thank you so much for that feedback! Looks like the team is sharing your feedback with the engineering team as well.

[2018-03-01 19:03] conceptdev commented on #462
We understand this is a feature people care about, but unfortunately we have no additional information at this time.

To ensure your feedback is heard, please use the [Give product feedback](https://developercommunity.visualstudio.com/spaces/41/index.html) button. There you can vote for features and participate in the discussion on when and how they are implemented.

[2018-03-01 19:05] #462 closed

[2018-03-01 19:15] TerryGLee commented on #630
@alfredmyers Thanks for your feedback. We do have a System Requirements page, here: [https://docs.microsoft.com/en-us/visualstudio/productinfo/vs2017-system-requirements-vs](https://docs.microsoft.com/en-us/visualstudio/productinfo/vs2017-system-requirements-vs), which includes a mention of Windows Server 2012 R2. The [System Requirements](https://docs.microsoft.com/en-us/visualstudio/productinfo/

[2018-03-01 19:54] alfredmyers commented on #630
@TerryGLee Thanks for the quick response. Later down https://docs.microsoft.com/en-us/visualstudio/productinfo/vs2017-system-requirements-vs, where it is stated

Would that be Windows Server 2008 R2 SP1 **and later**? And if that is the case would it include Windows Server 2012 with the latest service pack?

[2018-03-01 21:53] chwarr commented on #622
I've created PR #632 to update the documentation.

[2018-03-02 04:28] gewarren commented on #618
Change has been merged.

[2018-03-02 04:28] #618 closed

[2018-03-02 08:02] joacim-boive commented on #629
@JennieHubbard My pleasure. :)
Another solution to this problem is to install the Swedish Language pack. When that is installed the dot (.) thousand separator is automatically replaced with a space ( ) without further user intervention.
(Only tested on Windows 10)

Personally, although, I'm a Swede I prefer my software in English and would normally not do that then.

[2018-03-02 08:11] FlorianKugler42 commented on #589
This also happens with Firefox 58 on Windows 7. Enlarging the window to span across two monitors doesn't help either, because the content seems to be constrained to roughly 1400px width. If the cause for this is an underlying issue with the template, and other topics are affected as well, this (obviously?) doesn't make it better or less urgent, but on the contrary.

[2018-03-02 10:03] TheBoardMan opened #633 "F1 default page feedback"
In a database project, I added a post deployment script and wanted to get help about the build action in the properties of the script.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a28ee58-bd99-e74a-0c0c-30f5a41da08e
* Version Independent ID: 2467c672-a567-583c-2801-87dcaf0f2c91
* [Content](https://docs.microsoft.com

[2018-03-02 13:03] pherbel opened #634 "dotnet_style_prefer* or dotnet_prefer in Expression-level configs"
In doc there are two different identifiers. Which is the good one?
In the table:
dotnet_prefer_inferred_tuple_names
dotnet_prefer_inferred_anonymous_type_member_names
In the config example
dotnet_style_prefer_inferred_tuple_names = true:suggestion
dotnet_style_prefer_inferred_anonymous_type_member_names = true:suggestion

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2018-03-02 16:55] #622 closed

[2018-03-02 18:13] zartcosgrove opened #635 "How to enabled C++ Edit and Continue?"
There is a section about enabling edit and continue that doesn't tell you how to enable edit and continue.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e6df6320-ceff-75ff-64fb-69cf079d122f
* Version Independent ID: fb274ee3-13ef-ecda-9893-2411eb94f222
* [Content](https://docs.microsoft.com/en-us/visualstudio/debugger

[2018-03-02 18:31] kcwilsonii commented on #607
I ended up having to use the layout option, which seems to work,

so go here
https://docs.microsoft.com/en-us/visualstudio/install/install-vs-inconsistent-quality-network

download the bootstrapper you need, I downloaded vs_community.exe

You need to read ahead a bit but this option allows you to pick all the features you want
in one go and copy those files to the layout directory

vs_community.ex

[2018-03-02 18:53] gewarren commented on #598
@mlop3s thanks so much for reporting this. It's fixed now.

[2018-03-02 18:53] #598 closed

[2018-03-02 19:06] JennieHubbard commented on #629
@joacim-boive Interesting! Good to know. 👍

[2018-03-02 19:13] Mikejo5000 commented on #629
@bterlson Bug in browser or Intl.NumberFormat? Can we route to the correct people?

[2018-03-02 19:13] gewarren commented on #633
@TheBoardMan thank you so much for letting us know. So your cursor was in the Properties window for the script?

[2018-03-02 19:19] gewarren commented on #634
@pherbel good catch, thanks. @kuhlenh can you clarify which is correct? I think that dotnet_prefer is correct based on this example file:

# Expression-level preferences
dotnet_style_object_initializer = true:silent
dotnet_style_collection_initializer = true:silent
dotnet_style_explicit_tuple_names = true:suggestion
dotnet_style_null_propagation = true:suggestion
dotnet_style_coalesce_expression =

[2018-03-02 19:20] bterlson commented on #629
My guess is this is fixed in ChakraCore bits which use ICU rather than Windows Globalization APIs. Perhaps @dilijev can confirm.

[2018-03-02 20:40] #570 closed

[2018-03-02 20:40] Mikejo5000 commented on #583
Fix verified

[2018-03-02 20:40] #583 closed

[2018-03-02 20:42] Mikejo5000 commented on #596
@bterlson for input

[2018-03-02 20:43] Mikejo5000 commented on #635
@zartcosgrove This doc is more about mixed mode debugging, but it looks like a link to that doc is needed.

[2018-03-02 20:47] bterlson commented on #596
Factorial is a canonical example when teaching recursion as far as I know. If someone wants to suggest a better alternative I'm sure we'd be open to it, but I can't come up with anything clearer off the top of my head.

[2018-03-02 22:04] nathvi commented on #583
And to think, it only took 11 days to fix something simple. Wow. Shows how much Microsoft cares about their documentation.

[2018-03-02 22:07] jakubrpawlowski commented on #596
[code]
Sorry I don't want to be rude. I'm just giving feedback that the docs should have an example that's easy to understand for everybody. Then maybe your example could go afterwards once everybody gets the initial idea.

[2018-03-02 22:36] dilijev commented on #629
I think @jackhorton might have better visibility on this in particular, but I'd expect a lot of things to be fixed (or at least different) with the migration to ICU instead of Windows Globalization. I believe we were discussing with those folks how to handle the JS/Intl/ICU semantics to pick up Windows user preferences when applicable as well.

[2018-03-02 23:11] jackhorton commented on #629
@jefgen for insight on ICU + user locale preferences.

I think this is probably an issue with Windows Globalization data. A canary build of Chakra + ICU 59 formats this as `10&nbsp;000,00&nbsp;kr`, which is much closer to what is expected here (I don't know any Swedish and thus don't have the language pack installed :) ).

I will add this to our test cases but I don't think its an Edge issue in pa

[2018-03-02 23:27] PoulChapman commented on #630
@alfredmyers -- Visual Studio 2017 has never supported Windows Server 2012 or Windows Server 2008 R2. It may be as you note that users found a way to install on Windows Server 2012 despite the stated system requirements. As @TerryGLee mentions, the full supported system requirements can be found at https://docs.microsoft.com/en-us/visualstudio/productinfo/vs2017-system-requirements-vs.

Thanks!
-P

[2018-03-02 23:46] jefgen commented on #629
Currently ICU basically ignores any user preferences that might have been set in the OS -- other than picking up the user's preferred locale/language. (The inbox/Kit version will use the UPLL, whereas the public non-UWP version will use the NLS User Locale).

This isn't really an Edge issue, as you pointed out the default thousands separator in the Windows CPL seems wrong to you. This is actually

[2018-03-03 01:55] #630 closed

[2018-03-03 11:02] MrM40 opened #638 "Sorry, we ran into a problem"
Cannot login in Visual Studio....."Sorry, we ran into a problem"
Then it is a little difficult to report a problem! Grrrrr
KISS

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d648cd73-34e8-1a47-35cc-3c5a1ff9f8f5
* Version Independent ID: a02d528a-85f7-00f6-cf00-3416713ed4d9
* [Content](https://docs.microsoft.com/en-us/

[2018-03-03 17:43] RawanRadi opened #639 "connect R with mdf file"
It's possible to connect R to mdf file? (sql server mdf file)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65ee57e7-f1a1-3ea5-b188-41af8106ac92
* Version Independent ID: 08a2d04e-9ac5-ca1e-49fa-3441ea39b672
* [Content](https://docs.microsoft.com/en-us/visualstudio/rtvs/integrating-sql-server-with-r)
* [Content Source

[2018-03-03 22:15] dennislwarner opened #640 "Show Contents of Installed Packages"
There should be a way to access a listing of all functions within a selected package, and a description of each function.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 82bd11a6-536c-df58-14ae-b0d8daa62432
* Version Independent ID: 7837b036-cbd0-3fbe-bd65-2e7b7c0e1963
* [Content](https://docs.microsoft.com/en-us/visual

[2018-03-04 17:50] Mikejo5000 commented on #589
Logged as issue 1199561

[2018-03-05 04:43] innovocad commented on #614
I am getting the following error for all my extensions when trying to update our extensions...
Error: TF400733: The request has been canceled: The request has exceeded request timeout, please try again.

Last week I did not get this error.

[2018-03-05 05:33] gewarren commented on #638
@MrM40 Sorry for the frustration. If you check out the [Alternate reporting](https://docs.microsoft.com/en-us/visualstudio/ide/how-to-report-a-problem-with-visual-studio-2017#alternate-reporting-a-namealternatereportinga) section of that topic, it gives some other options for reporting issues - e.g. the VS installer, or directly to the developer community website. Hope that helps!

[2018-03-05 05:34] gewarren commented on #638
@TerryGLee do you think we need to make the Alternate reporting section more prominent?

[2018-03-05 05:39] StingyJack opened #641 "Is Run and Create IntelliTest invokable outside of right clicking the ActiveDocument?"
Manually opening each file and right clicking it to run or create is slow.

I want to generate unit tests for an existing Solution (about 6K files). If I can script most or all of that, it would be great (and I dont mean a script that hooks into the DTE and uses SendKeys or something).

Is this possible?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2018-03-05 06:29] Aditya7861 commented on #596
Yep

[2018-03-05 07:35] Planche95 opened #642 "Breakpoint on class"
Hi!

Is there a possibility to easily set a breakpoints on all function in class in c#?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 919f11c1-eae7-8c9f-8968-911824ab81e2
* Version Independent ID: 0a5dd710-97d5-ad40-fcd4-c5a7a6fe57ab
* [Content](https://docs.microsoft.com/en-us/visualstudio/debugger/getting-started-wi

[2018-03-05 17:01] kraigb commented on #639
In the "Add a database connection" section, the Connection Properties dialog has an option for "Attach a database file" which might do what you want.

@jflam Can you comment on this option?

[2018-03-05 17:05] kraigb commented on #640
@dennislwarner Thanks for the suggestion. I've moved this to https://github.com/Microsoft/RTVS/issues/4295 because it's a product feature request rather than a documentation issue.

[2018-03-05 17:05] #640 closed

[2018-03-05 17:10] #561 closed

[2018-03-05 18:45] ThomasVandenbon opened #644 "Managing Python environments in Visual Studio"
After reading the Python in Visual Studio documentation, I'm very confused as how Virtual Environments should be defined to be able to use them as a team of developers (not using GitHub for version-control).

In particular, it seems as if Virtual Environments should be created per development machine, but at the same time, the Python project directly references them, making you unable to check the

[2018-03-05 19:17] kraigb commented on #644
@ThomasVandenbon thanks for the question.

@zooba @qubitron your thoughts? Is this primarily a matter of using requirements.txt?

[2018-03-05 19:20] RawanRadi commented on #639
yes , I tried it many times but  the connection filed

[2018-03-05 20:17] kraigb commented on #551
Apologies for the delay; I got more information from engineering a little while ago but left on a trip before I could relate it to you.

I'm answering your question generally, by the way, and not specifically for extensibility projects.

First, any given version of VS may simply end support for certain project types. The [Platform Targeting and Compatibility](https://docs.microsoft.com/en-us/visua

[2018-03-05 20:42] nurbles opened #645 "F1 - Debug, Breakpoint, Conditions, Actions?"
I'm trying to find information about the new (to me, at least) ACTIONS available for conditional breakpoints in Visual Studio 2017 Pro.  I know how to see a variable's value, but I'm wondering if I can specify the value FORMAT (e.g. like I can in the Watch windows).  I landed here when I pressed F1 in te ACTIONS input field instead of going somewhere relevant and useful.

---
#### Document Details

[2018-03-05 21:56] jflam commented on #639
How did the connection fail? What was the error message?

[2018-03-05 23:42] gewarren commented on #641
@kendrahavens can you comment on this?

[2018-03-05 23:46] #577 closed

[2018-03-05 23:47] gewarren commented on #538
@mehagar this is fixed now. Thanks so much for the feedback!

[2018-03-05 23:47] #538 closed

[2018-03-05 23:48] gewarren commented on #518
@DocGitHub this is fixed now. i changed the link to point to the T4 Toolbox website. Thanks again!

[2018-03-05 23:48] #518 closed

[2018-03-05 23:49] gewarren commented on #490
@Zoidborg7 thanks so much for pointing this out. It's fixed now.

[2018-03-05 23:49] #490 closed

[2018-03-05 23:51] gewarren commented on #525
@keyoti I have removed this topic from the [documentation](https://docs.microsoft.com/en-us/visualstudio/ide/reference/devenv-command-line-switches). Thanks for helping us improve docs!

[2018-03-05 23:51] #525 closed

[2018-03-05 23:52] gewarren commented on #486
@alarimer I added a link to the [See also](https://docs.microsoft.com/en-us/visualstudio/ide/reference/devenv-command-line-switches) section. Thanks for the feedback!

[2018-03-06 00:07] zooba commented on #644
There's certainly some work in progress around this area. We're looking at different designs here and ways to better align VS and VS Code.

For Visual Studio: the intent for virtual environments in a Python project file is that you have the environment within your project directory, so it is only referenced by a relative path. If you also keep a `requirements.txt` file in your project, it should o

[2018-03-06 02:28] scegg opened #647 "Not working"
parameter --layout is not working with the vs setup file since March 2018.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b2a7f87-7685-2618-9be0-f2286662342f
* Version Independent ID: 626a45d3-732a-6992-9f0c-bf06bc87fe1c
* [Content](https://docs.microsoft.com/en-us/visualstudio/install/install-vs-inconsistent-quality-

[2018-03-06 02:56] marlonfsolis opened #648 "Constructor misspelling"
public class StockAnalyzer
{
    private IStockFeed stockFeed;
    public Analyzer(IStockFeed feed)  // Should be StockAnalyzer?
    {
        stockFeed = feed;
    }
    ...
}

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1834a8fa-cc25-bacf-1379-b6691051cf39
* Version Independent ID: 56f3b218-56c5-6135-0593-41e83370a

[2018-03-06 06:14] gewarren commented on #647
@scegg thanks for the feedback. @TerryGLee could you forward this to the appropriate people?

[2018-03-06 06:16] gewarren commented on #648
@marlonfsolis thanks for the heads up, I will fix this. Or if you'd like to fix it, you can click the Edit button near the top right of the page.

[2018-03-06 11:49] mearistizabal opened #649 "Problems in the step: "Add the Newtonsoft.Json NuGet package to the WeatherApp project"."
I am using Visual Studio 2017 Community and when I try to Add the Newtonsoft.Json Nuget, the shared code Weatherapp it's not available. I can only add it to the platform specific packages: Android, IOS. Any idea why is this happening and the solution?. Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b25d4cd-

[2018-03-06 12:50] ThomasVandenbon commented on #644
Thank you very much for the clarifications.

[2018-03-06 12:50] #644 closed

[2018-03-06 12:55] StingyJack commented on #551
Yes, it does. And you are _awesome_ for finding this stuff and coalescing it. I was getting weird, sometimes conflicting advice about this topic before, and this clears all that up. Thank You.

[2018-03-06 12:55] #551 closed

[2018-03-06 14:22] kraigb commented on #551
You're welcome. I own the Porting & Migration page myself, a subject which is occasionally shrouded in mystery. Thus I was keenly interested in knowing more myself. :) In any case, I appreciate your taking the time to ask, and for your other contributions.

[2018-03-06 14:23] alarimer commented on #486
"See Also" in the closing comment is a link to the "Devenv command line switches" article.

[2018-03-06 14:36] alarimer commented on #486
I apologize for not being more clear.  I was hoping for an .editorconfig for the Naming Guidelines.

[code]

HTH

[2018-03-06 15:12] mfriedrich74 opened #650 "Latest update is missing"
15.6.27428.1 missing

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7ea27919-8e31-6592-9b9e-9a0cabb0a7ff
* Version Independent ID: 093eeeb2-0306-4af9-2bfc-6d4eefbebf9b
* [Content](https://docs.microsoft.com/en-us/visualstudio/install/visual-studio-build-numbers-and-release-dates)
* [Content Source](https://github.com/M

[2018-03-06 16:35] bterlson commented on #596
@jakubrpawlowski do you think it's confusing that countDownFrom is not a case when you would use recursion in reality? A maximally practical and simple example seems ideal, just not sure countDownFrom fits that bill.

[2018-03-06 17:35] TerryGLee commented on #650
@mfriedrich74 Thanks for letting us know. A PR for this was placed in the queue yesterday; it should go live today.

[2018-03-06 17:37] TerryGLee commented on #647
@gewarren Will do.

[2018-03-06 18:16] gewarren commented on #649
@conceptdev can you answer this question?

[2018-03-06 18:32] gewarren commented on #486
@alarimer ahh, okay, that makes more sense. Also I fixed the See also link; sorry about that.

[2018-03-06 19:29] TerryGLee commented on #650
@mfriedrich74 The update is now live: [Visual Studio 2017 build numbers and release dates](https://docs.microsoft.com/en-us/visualstudio/install/visual-studio-build-numbers-and-release-dates)

[2018-03-06 19:29] #650 closed

[2018-03-06 20:22] DrewBrasher opened #651 "Template installed like this just creates an empty project."
I followed these instructions to create an ASP.NET Core 2 Web Application template and after running the VSIX file I have the new project template listed but when I create a new project with it none of the files are there.  It is just an empty project.  My attempt can be found here:  https://github.com/DrewBrasher/ExampleAspNetCoreTemplate

---
#### Document Details

⚠ *Do not edit this section. I

[2018-03-06 21:00] richardlawler opened #653 "Menu items don't match current versions"
The menu items in this doc don't match those in the default configuration of current version (7.4) of VS Community Mac.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 86994b58-45d2-1490-02e9-3d1e7b09a23e
* Version Independent ID: 08ac7422-416b-4286-27d1-741b5c98a6bd
* [Content](https://docs.microsoft.com/en-us/visualst

[2018-03-06 22:03] asb3993 commented on #653
Hi @richardlawler, I've noticed some screenshots are a little outdated, but is there a menu item in particular that you noticed as being outdated?

[2018-03-07 01:33] mearistizabal commented on #649
The same thing happens for Xamarin.forms.

[2018-03-07 07:53] pi3k14 opened #655 "Spelling checker"
Please provide some information about how to change the spelling checker to something other than English(en), and how to use several spelling checkers in the same project.

---
#### Dokumentinformasjon

⚠ *Ikke rediger denne delen. Den kreves for koblingen docs.microsoft.com ➟ GitHub-problem.*

* ID: c38ef98e-53d7-920d-c88a-eeb32a2fb0bd
* Version Independent ID: 061657aa-6026-c796-49f1-dcd344e9887

[2018-03-07 07:57] pi3k14 opened #656 "Please document how to disable all language specific analysers"
Since only English (en) dictionary is supported there should be a simple method to disable all language specific code analysers.

---
#### Dokumentinformasjon

⚠ *Ikke rediger denne delen. Den kreves for koblingen docs.microsoft.com ➟ GitHub-problem.*

* ID: a6418bfb-3f92-b3ea-c957-8916d29964d9
* Version Independent ID: eb21172d-0108-0a88-a3a9-bb1ac13b9fc2
* Content: [CA1704: Identifiers should be

[2018-03-07 10:42] ezzidrees opened #658 "Code UI test need to be install if missing under test."
https://docs.microsoft.com/en-us/visualstudio/test/use-ui-automation-to-test-your-code#creating-coded-ui-tests

Please add in following points
I don't see the **Coded UI Test* project templates.*
Feature can be install if missing with Visual Studio Installer in VS Enterprise Edition.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2018-03-07 11:45] mearistizabal commented on #649
Hi. I started the process all over again and it worked this time, at least the NuGet process. It seems that the previous setup I didn't check the option ".NET standard" under "Sharing coding strategy".  It's the only difference I see. Thank you for your interest.

[2018-03-07 12:09] raysefo commented on #477
How to install VS on a drive other than C? Is there a way to install all of the features on drive D?

[2018-03-07 12:11] raysefo commented on #466
How to install VS on a drive other than C? Is there a way to install all of the features on drive D?

[2018-03-07 13:35] AlexKeySmith opened #659 "Details on setting up for windows services"
It would be good to have authoritative details on using this for windows services for the Visual Studio 2017 version.
There are a few blog posts, however rather old and I suspect the CLSID has changed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 995e3a2f-5674-63c4-5899-ba9a6b0e5da6
* Version Independent ID: b93833ad

[2018-03-07 17:48] gewarren commented on #655
@mavasani is it possible to use a dictionary other than English for this code analysis rule?

[2018-03-07 17:49] gewarren commented on #656
@mavasani is there an easy way to disable the language-specific code analysis rules?

[2018-03-07 17:52] noxiouscloud opened #660 "confusing screen shot"
The screenshot in the step discussing the addition of the event handler shows the properties of the wrong control. It shows those of the time label, not the sum numeric control.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 29cdd64b-99b4-4fe2-7129-6be73efd0891
* Version Independent ID: b67dcedd-6653-6304-b3d8-3473fa84

[2018-03-07 17:52] gewarren commented on #477
@TerryGLee can you point @raysefo to to a topic about this, if it exists? Thanks!

[2018-03-07 18:10] TerryGLee commented on #660
@noxiouscloud Thanks for your feedback; we appreciate it. It's in our backlog queue to get fixed; we'll report back when it is.

[2018-03-07 18:18] mavasani commented on #656
All language specific rules have category "Microsoft.Naming" (see [here](https://docs.microsoft.com/nb-no/visualstudio/code-quality/naming-warnings). User will need to add a ruleset suppression entry for each naming rule ID.

[2018-03-07 18:23] mavasani commented on #655
@gewarren See documentation on this here: https://blogs.msdn.microsoft.com/codeanalysis/2007/08/12/new-for-visual-studio-2008-spelling-rules.

This is not possible - culture is a per-project property.

Also note that we have not implemented any naming rules yet in FXCop analyzers. Primary reason being the rules are based on a non-portable MS Office spell checker library and we are still investigat

[2018-03-07 18:26] TerryGLee commented on #477
@raysefo Thanks for your feedback! We don't have a topic that describes how to do this, as we're still working on adding that functionality.

[2018-03-07 18:26] gewarren commented on #656
@mavasani thanks for the quick reply. @pi3k14 I hope this answers your question.

[2018-03-07 18:32] kraigb commented on #612
Moved this issue to the PTVS repo instead so the engineering team can track it.

[2018-03-07 18:32] #612 closed

[2018-03-07 22:58] tedvz commented on #562
Re: cleaning up older packages, please see:

https://docs.microsoft.com/en-us/visualstudio/install/update-a-network-installation-of-visual-studio#how-to-remove-older-versions-from-a-layout

and the --clean command.

[2018-03-07 23:10] #562 closed

[2018-03-07 23:26] SelmaI commented on #477
@raysefo , I am a Program Manager at Visual Studio team. I am currently working on the topic of your question. Could you please reach me directly at selmai at microsoft dot com?

[2018-03-07 23:41] alarimer commented on #486
No worries.  I appreciate it.

[2018-03-08 02:27] conceptdev commented on #649
@mearistizabal Yes, we recommend using a **.NET Standard** project, which will let you reference NuGet packages.

For future reference, the difference with a **Shared Project** is that it does not compile into a separate assembly, instead all the C# code in a Shared Project is _included inside_ any referencing app projects during compilation. For this reason, you cannot reference a NuGet (or any o

[2018-03-08 07:05] catfishfishcat commented on #477
Yes  I can. What can I help you with?

Sent from Mail for Windows 10

From: Selma Ikiz
Sent: Wednesday, March 7, 2018 5:26 PM
To: MicrosoftDocs/visualstudio-docs
Cc: William Johnson; Mention
Subject: Re: [MicrosoftDocs/visualstudio-docs] I personally want to thank allof you for your services (#477)

@raysefo , I am a Program Manager at Visual Studio team. I am currently working on the topic of you

[2018-03-08 10:23] AntoninB opened #662 "The example doesn't show anything about this page"
The WizardData section is empty in the example and that's what I was searching for when I read the WizardData page.
And while providing an example of completion would be good, it would be better if there was an example of an xml file being used to get data from a wizard.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2

[2018-03-08 21:14] morgs32 opened #663 "This is cool"
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9290996a-853e-bfcc-5e4a-d8746f453620
* Version Independent ID: faae284e-2f81-6f6f-c437-0bd8c959dd2b
* Content: [Overview of Visual Studio 2017 | Microsoft Docs](https://docs.microsoft.com/en-us/visualstudio/ide/visual-studio-ide#feedback)
* Content Source: [docs/ide

[2018-03-08 21:41] hueter opened #664 "Naming rules incorrect"
JavaScript supports Unicode variable naming as reported in the spec => https://www.ecma-international.org/ecma-262/8.0/index.html#sec-names-and-keywords and summarized in this stack overflow answer => https://stackoverflow.com/a/9337047

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 168d678a-c135-883f-410e-bfdfc2a417d5

[2018-03-09 01:01] 425devon commented on #596
@jakubrpawlowski great example, thanks!

[2018-03-09 09:09] pi3k14 commented on #656
@mavasani it answered my question - all though not the answered I searched for ...
Thanks for your speedy reply, hope you add this as a feature request.

[2018-03-09 09:16] pi3k14 commented on #655
@mavasani isn't that link for different rules?
The problem is for string literals, are they handled as resource strings?

[2018-03-09 18:58] nagaraj-analytics commented on #607
this is disgusting.... not sure what is the issue for releasing .iso file installer?

[2018-03-09 19:03] nagaraj-analytics opened #666 "offline installer"
Not what is the issue to release .iso file? this is disgusting and wasting most of our times.

[2018-03-09 19:21] Legends opened #667 "Feature: Can you add to the docs how to configure solution configuration correctly"
I want to configure the solution, but I have an issue:

Look [here](https://stackoverflow.com/questions/49200229/vs2017-solution-configuration-wont-apply-changes).

Is this normal behaviour?

[2018-03-09 19:45] gewarren commented on #663
@morgs32 thanks for your feedback. Can you elaborate on what you are providing feedback about?

[2018-03-09 19:46] gewarren commented on #664
@hueter thanks for the corrected information.

[2018-03-09 19:51] gewarren commented on #667
@Legends thanks for the feedback. I will try to make this clearer in the build docs.

[2018-03-09 20:10] Legends commented on #667
I would't change the Docs, but rather rethink the implementation in VS. Make it more intuitive.
When you open the solution properties and change the selection from  "All configurations" to anything else, it prompts you : Do you want to save the changes made to the property pages?
**What changes?**

When you iterate over the single configurations it doesn't prompt you again, until you reach "All co

[2018-03-09 20:27] morgs32 commented on #663
@gewarren Using github for comments is genius. I love it. Do you think you will open source your work on it or shall I get to work making my own?

[2018-03-09 20:32] metamoof opened #668 "This documentation doesn't appear to be relevant to the latest VS 2017"
Starting up the Blank project sets up a Blank solution, with no subprojects

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b25d4cd-0c3f-e9a6-6256-ea54d0972d4b
* Version Independent ID: babd49b7-8e18-13dc-99f2-6783495cb0dc
* Content: [Learn app-building basics with Xamarin.Forms in Visual Studio | Microsoft Docs](https

[2018-03-09 20:35] gewarren commented on #663
@morgs32 thanks so much. @jdanyow can you comment on whether the work to enable github issues will be open sourced?

[2018-03-09 20:36] gewarren commented on #668
@metamoof thanks for the feedback. @conceptdev can you comment on this?

[2018-03-09 20:37] Legends commented on #667
Perhaps one of the VS IDE team can take a look at this

[2018-03-09 20:42] metamoof commented on #668
This appears to be a bug on my system... You cannot create the subprojects if you're updating the Android SDK in the background. Once that finished, it worked.

It can be closed.

[2018-03-09 20:42] #668 closed

[2018-03-09 21:08] DavidHogue opened #669 "Dismissing the dialog box does not correct this error"
I realize the underlying problem may be somewhere else, but the solution listed here is not helpful.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7b20c58b-4ca0-a827-1d3d-57e0bf19b5c2
* Version Independent ID: 5aa70859-b679-36d8-6494-6f9122276062
* Content: [Could not retrieve schema information for database object <o

[2018-03-10 10:39] user135711 opened #671 "__proto__ has been deprecated."
Since __proto__  has been deprecated and could cease working, these examples should be updated to suggest another method for changing the prototype of an instance for instance Object.setPrototypeOf(player, Foe.prototype); with a note about performance when changing the prototype or even Reflect.sePrototypeOf(target, prototype).

---
#### Document Details

⚠ *Do not edit this section. It is require

[2018-03-10 19:40] StingyJack opened #673 "The "Report a problem directly to the Visual Studio developer community" is not correct at all."
You cannot report a problem directly. Period.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d648cd73-34e8-1a47-35cc-3c5a1ff9f8f5
* Version Independent ID: a02d528a-85f7-00f6-cf00-3416713ed4d9
* Content: [How to Report a Problem with Visual Studio 2017 | Microsoft Docs](https://docs.microsoft.com/en-us/visualstudio/ide

[2018-03-10 23:49] dazinator opened #674 "Is that path correct?"
If I have read this correctly, then in the example about merging props file from the parent directory, should this line: `<Import Project="$([MSBuild]::GetPathOfFileAbove('Directory.Build.props', '$(MSBuildThisFileDirectory)../'))" />` be changed to this: `<Import Project="$([MSBuild]::GetPathOfFileAbove('Directory.Build.props', '$(MSBuildThisFileDirectory)'))" /> `

---
#### Document Details

⚠ *

[2018-03-11 22:48] TerryGLee commented on #673
@StingyJack Thanks for reporting this! You are correct; we've fixed this text in the doc and the fix will go live tomorrow.

[2018-03-11 23:01] #673 closed

[2018-03-11 23:15] TerryGLee commented on #638
@MrM40 We've updated the text on the "How to Report a Problem" page to read "Reporting alternatives", and we've updated the information about how to use the Visual Studio Developer Community to search for problems and solutions. The text fixes to the "How to Report a Problem" page will go live tomorrow by noon.

But to further address the problem that you ran in to, there is a similar problem/solu

[2018-03-11 23:15] #638 closed

[2018-03-12 02:03] kishorerv commented on #607
Our company does not allow Dev server connecting to Internet. Everything should be offline. So download the whole package, then notify security for scan and clearance. Install it on the server and Develop applications. As Microsoft is pain for Developers may be time to go out for other platform.

[2018-03-12 04:59] esjimenezp opened #675 "very useful"
Thank team for share this information about modify the Workloads of Visual Studio, best regards.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d8d0cb94-2886-79ce-39dd-0336282369b9
* Version Independent ID: e8bcc58e-98af-e3ad-2629-0b4515047d0b
* Content: [Modify Visual Studio 2017 | Microsoft Docs](https://docs.microso

[2018-03-12 07:47] anticrisis opened #676 "Missing documentation of required Unity Editor preference to enable debugging"
From the Unity documentation: "Editor Attaching: Check this box to allow debugging of scripts in the Unity Editor. If this option is disabled, it is not possible to attach a script debugger to Unity to debug your scripts." -- https://docs.unity3d.com/Manual/Preferences.html

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2018-03-12 12:29] solvingj opened #677 "Please Provide Simple Working Example"
We've tried both syntaxes of the CTest "add_test()" command and neither work.  Please provide an example which works.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d3f12b8-8048-3c19-8582-2ab35cbda74e
* Version Independent ID: 860805e8-915b-1c76-b6d3-4addc07da1a0
* Content: [How to use CTest for C++ in Visual Studio |

[2018-03-12 13:03] StingyJack commented on #642
You can use a powershell script to insert (and remove) `Debugger.Break();` after the opening brace of each function. Its not a toggleable breakpoint but does the same., [This](https://github.com/StingyJack/Vs-Utility/blob/master/Remove-TrailingWhitespace.ps1) is a script I run from within visual studio to remove trailing whitespace at the end of lines that I invoke in one of the builtin powershell

[2018-03-12 18:19] #502 closed

[2018-03-12 18:23] ghogen commented on #629
As this is being tracked internally, I will close this issue. Thanks for your feedback.

[2018-03-12 18:23] #629 closed

[2018-03-12 18:36] TerryGLee commented on #675
@esjimenezp Thank you very much for saying so!

[2018-03-12 20:38] Mikejo5000 commented on #659
@deborahc Deborah, do you have any input for this issue? Thx

[2018-03-12 20:41] Mikejo5000 commented on #645
@nurbles We have some information on this topic here: https://docs.microsoft.com/en-us/visualstudio/debugger/using-breakpoints#BKMK_Print_to_the_Output_window_with_tracepoints

[2018-03-12 20:44] Mikejo5000 commented on #645
I don't think the format specifiers are supported, however. I'll ask about it.

[2018-03-12 20:57] Mikejo5000 commented on #642
@Planche95 I don't believe there's an easy way to do that from the UI.

[2018-03-12 21:22] #675 closed

[2018-03-12 21:27] TerryGLee commented on #314
This is in our queue and is being tracked internally within our VSTS backlog.

[2018-03-12 21:27] #314 closed

[2018-03-12 22:24] gregvanl opened #680 "Problem with Walkthrough: Displaying Statement Completion"
Ported from Connect issue:

Some community members and I went through this documentation:
Walkthrough: Displaying Statement Completion(https://msdn.microsoft.com/en-us/library/ee372314.aspx?f=255&MSPPError=-2147217396)
But can't properly debug the code, it sometimes throws "NullReferenceException" at this line(sometimes it works after resetting the Visual Studio experimental instance, but other ti

[2018-03-12 23:10] stscholz914 opened #681 "Subscription Level / Program"
All listed are marked Not available which ones are available?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 60b2872e-438a-b86e-9ff5-6dc0021f3fe8
* Version Independent ID: 8b9e935e-07ad-4992-edb9-e8361d867617
* Content: [EMS Benefit | Microsoft Docs](https://docs.microsoft.com/en-us/visualstudio/subscriptions/vs-ems)
*

[2018-03-12 23:26] gewarren commented on #669
@DavidHogue thank you for the feedback. I'll try to improve this topic.

[2018-03-13 00:17] victorjz opened #682 "Wrong descriptions under Usage"
See properties Item and Collection.  The text under Usage describes adding to the collection.  It should describe checking to see if an item exists in the collection.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 521ccaa4-af21-d095-2158-ca66f8ca2c59
* Version Independent ID: 6c78afa4-bc0a-76f7-215d-4d802fc06b48
* Cont

[2018-03-13 09:17] ciaran036 opened #683 "What are the targets?"
I can see that there is a BeforeBuild and AfterBuild target, but what is the full list of targets? There doesn't appear to be any link to mention what targets are available...

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72a67233-ab6a-e330-7b2d-21c95dd9caba
* Version Independent ID: 381c76df-d847-6ee0-b16e-c7bbc52cec

[2018-03-13 10:49] mophdog commented on #420
The broken link is still there.
Instead of removing the link, please can you point it at the right place? I'd like to follow it!

[2018-03-13 11:43] nurbles commented on #645
Thanks for the link, which was the most detailed 12 sentences we had found about this new feature, hence my question here.  :-)
FWIW, we have discovered that appending ',o' and ',x' will display the value in octal or hex using the number of digits necessary to include all bits of the value's data type -- even if they are all zero.  So tracing <{Address,o}> or <{Address,x}> would display the Addres

[2018-03-13 12:33] StingyJack commented on #642
VS has the ExternalTools menu you can use to hook in scripts, exe's, etc. So that's kind of an easy way from the UI (easier than writing a vs extension).

I have few currently defined, including the one i mentioned earlier.
![image](https://user-images.githubusercontent.com/15381181/37341703-bd32e93c-2698-11e8-904e-38aa4a0032f6.png)
Define a script to run as
![image](https://user-images.githubuser

[2018-03-13 13:34] jckz82 opened #684 "connStr vs connStr"
Connection String to database is defined as connString, but C# here references it as connStr in NewCustomer.cs

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0e2e854-d2d8-8ec2-ae41-beee6636fae3
* Version Independent ID: 2c1c8dae-ea87-e7a0-f0eb-7bc0b775f8d5
* Content: [Create a simple data application by using ADO.NET

[2018-03-13 13:35] jckz82 opened #685 "Missing semicolon in C#"
For the include "using System.Data.SqlClient  " in NewCustomer.cs, the C# code is missing the semicolon

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0e2e854-d2d8-8ec2-ae41-beee6636fae3
* Version Independent ID: 2c1c8dae-ea87-e7a0-f0eb-7bc0b775f8d5
* Content: [Create a simple data application by using ADO.NET | Micro

[2018-03-13 14:43] evil-shrike opened #687 "Setting up permissions described procedure isn't complete"
I setup permissions for collector directory and trace log location as described:
icacls "C:\temp\trace" /grant "IIS APPPOOL\DefaultAppPool":F
icacls "C:\Prog\IntelliTraceCollection" /grant "IIS APPPOOL\DefaultAppPool":RX

But when I run Start-IntelliTraceCollection it fails with bizarre error:
PS C:\temp>Start-IntelliTraceCollection -ApplicationPool DefaultAppPool -CollectionPlan C:\Prog\IntelliTr

[2018-03-13 14:47] evil-shrike commented on #687
But even if I change owner of "C:\WINDOWS\system32\WindowsPowerShell\v1.0\" to me and grant permissions for the folder to IIS APPPOOL\DefaultAppPool, the error won't gone!

Start-IntelliTraceCollection : The following application pool requires read and execute permissions for the IntelliTrace directory: "IIS APPPOOL\DefaultAppPool", "C:\WINDOWS\system32\WindowsPowerShell\v1.0\".

[2018-03-13 15:09] JRAlexander opened #688 "[New Topic] Develop and Debug with Docker in Visual Studio"
# Develop and Debug with Docker in Visual Studio

This was proposed as part of the Docker articles last year and was filed over at the [dotnet/docs repo]( https://github.com/dotnet/docs/issues/2692). Refiling issue here.

1. Table of Contents Location

   - TBD

2. Abstract
   Learn how to debug with Docker in Visual Studio.

3. Outline
    - [ ] Have Docker 4 windows installed
    - [ ] Screensho

[2018-03-13 17:24] kendrahavens commented on #554
Fixed in private repo by
[#1549](https://github.com/MicrosoftDocs/visualstudio-docs-pr/pull/1549)
[#1416](https://github.com/MicrosoftDocs/visualstudio-docs-pr/pull/1416)
[#1338](https://github.com/MicrosoftDocs/visualstudio-docs-pr/pull/1338)

[2018-03-13 17:24] #554 closed

[2018-03-13 17:27] kendrahavens opened #689 "Document why abstract tests can't run until they are instantiated"
Test execution can occur differently based on what is recognized as the FQN (or Fully Qualified Name). Test runs triggered from different locations can affect this: clicking inside test method, outside method, inside class, inside namespace, anywhere in file, etc.

In the scenario of right click to run tests, we do execution by name and we generate the name of the test to run based on where the us

[2018-03-13 17:40] conceptdev commented on #676
Thanks @anticrisis, you're right about the preferences. Generally this should be enabled by default, but I agree that we should cover this case if customers are having issues.

[2018-03-13 18:43] gewarren commented on #682
@victorjz thanks for the feedback. I will fix this.

[2018-03-13 19:00] gewarren commented on #684
@jckz82 thanks for letting us know. It should be fixed in the next day or two.

[2018-03-13 19:04] gewarren commented on #685
@jckz82 thanks for taking the time to let us know; this should be fixed in the next day or so too.

[2018-03-13 20:18] DrewBrasher commented on #651
I believe this is a Visual Studio bug but I have found a workaround.  After exporting the project as a template (step 1b), you need to:

 1. Extract the zip file.
 2. Add this to the "TemplateData" section of the .vstemplate file:

 3. Compress the files back into a zip file.
 4. Continue with the rest of the documentation.

Sources:
https://developercommunity.visualstudio.com/content/problem/2175

[2018-03-14 00:50] anticrisis commented on #676
Thanks for your reply. I discovered this preference after several hours and much support from Unity QA when trying to understand why the debugger was simply failing to attach without any error message. It's possible that installing one of their 2018 beta versions turned the Editor Attaching option off on my machine.

[2018-03-14 04:49] gregvanl commented on #662
WizardData is used to send extra data to the custom wizard extension not get data from a wizard. The contents depends on the custom wizard and can be any XML blob for the wizard.
Unfortunately the custom wizard example on docs.microsoft.com at https://docs.microsoft.com/en-us/visualstudio/extensibility/how-to-use-wizards-with-project-templates doesn't show a sample WizardData XML blob.

[2018-03-14 04:49] #662 closed

[2018-03-14 05:04] gregvanl commented on #615
Hi @laszlohorvath Sorry to hear you are having difficulties. IWizard is available in VS 2017. You can find it in the shipped Microsoft.VisualStudio.TemplateWizardInterface assembly located under Common\IDE\PublicAssemblies. You can add a reference to IWizard by searching for "TemplateWizard" in the project Add Reference dialog.
It is true the IWizard interface is missing from the docs.microsoft.co

[2018-03-14 05:04] #615 closed

[2018-03-14 10:33] eduard-malakhov opened #691 "The link under Specifying Test Settings for Visual Studio Tests is broken"
This link points to **https://docs.microsoft.com/en-us/devops-test-docs/test/specifying-test-settings-for-visual-studio-tests** that does not exist. Maybe, it is meant to be https://docs.microsoft.com/en-us/visualstudio/test/configure-unit-tests-by-using-a-dot-runsettings-file ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2018-03-14 12:06] martijnhoekstra opened #692 "Dead link"
The link to "Basic Project" in "For an example of an implementation of the IVsProjectFactory interface, see PrjFac.cpp that is contained in the Basic Project sample directory." is dead.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36255b00-b16d-cbc8-7932-d3b7cca8ab56
* Version Independent ID: b209ff6c-76e6-072f-e34b-

[2018-03-14 12:53] johndaintree opened #693 "Incomplete"
/installvstemplates is not included here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 05945d0a-396b-0697-ab78-81d617b365c9
* Version Independent ID: 860cb1bf-47aa-b35d-4d30-be9f62796d40
* Content: [Visual Studio devenv command line switches - Visual Studio | Microsoft Docs](https://docs.microsoft.com/en-us/visualstu

[2018-03-14 15:05] cremor commented on #634
According to https://github.com/madskristensen/EditorConfigLanguage/issues/40#issuecomment-372037059 it should be dotnet_style_*

[2018-03-14 16:57] SquidwardHill opened #695 "Feature Request : Word Wrap in Visual Studio for Mac"
Would it be possible to build in an option to wrap text in VS for Mac? It would help make code more legible.

[2018-03-14 17:42] #684 closed

[2018-03-14 17:42] #685 closed

[2018-03-14 18:06] gregvanl commented on #680
Closing as a very old product issue (VS 2013). Likely fixed in 2015 and 2017

[2018-03-14 18:06] #680 closed

[2018-03-14 18:27] gewarren commented on #693
@johndaintree thanks for the feedback. We intentionally removed this switch from the docs in the last month. When and what do you use it for?

[2018-03-14 18:28] gewarren commented on #691
@eduard-malakhov thanks for the feedback. I will fix this.

[2018-03-14 18:34] kraigb commented on #639
@RawanRadi Any further input here? If it's no longer an issue then we can close the issue.

[2018-03-14 18:38] gregvanl commented on #429
Hi @brettc89, to generate ActivityLog.xml, the user still needs to run Visual Studio with the /log switch. The file is not written to disk unless this switch is used. See https://msdn.microsoft.com/en-us/library/ms241272.aspx. I'll update this topic to make that more clear.

[2018-03-14 18:50] gewarren commented on #667
@prnadago who is the right PM to forward this build configuration feedback to?

[2018-03-14 18:51] #656 closed

[2018-03-14 18:51] RawanRadi commented on #639
yes this error message
![r](https://user-images.githubusercontent.com/30637049/37424573-d51927f2-27d1-11e8-8edb-daa6b1e33a2e.png)

[2018-03-14 18:55] prnadago commented on #667
That would be Ruben Rios. :)

[2018-03-14 18:56] gewarren commented on #613
@CptTwinkie thank you for the feedback!

[2018-03-14 19:07] gewarren commented on #667
@prnadago thank you. @rub8n can you look at this feedback?

[2018-03-14 19:09] gewarren commented on #578
@maryob77062 thank you for the feedback. I'll try to improve the code in this topic :)

[2018-03-14 19:17] nvidiamfilimonov opened #696 "The documentation for IDebugPort2 seems to be wrong"
According to the text, the IDebugPort2 interface is used to ... provide facilities for launching and terminating processes on the port.
How so, as the interface lacks any methods to launch and terminate a process?
These methods are included in the IDebugPortEx2 interface.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a

[2018-03-14 19:26] asb3993 commented on #695
Hey @SquidwardHill, Thanks for taking the time to provide feedback! This is an great feature idea. To ensure that it gets into the hands of the product team, I'd recommend adding your voice to [this](https://visualstudio.uservoice.com/forums/563332-visual-studio-for-mac/suggestions/17166137-text-wrapping) uservoice.

[2018-03-14 19:38] gewarren commented on #582
Here's a [blog post](https://blogs.msdn.microsoft.com/visualstudio/2017/11/20/large-c-and-vb-solutions-load-significantly-faster-in-15-5-update/) about the improved startup performance.

[2018-03-14 19:52] Mikejo5000 commented on #547
Closing

[2018-03-14 19:52] #547 closed

[2018-03-14 20:02] Mikejo5000 commented on #549
Adding unknown as a possible return value with a short description based on comments above.

[2018-03-14 20:21] Mikejo5000 commented on #563
Working on fix

[2018-03-14 20:23] Mikejo5000 commented on #589
The site people are implementing a fix

[2018-03-14 20:25] Mikejo5000 commented on #596
Planning to close this unless we have a simple real-world example that I can add to the docs.

[2018-03-14 20:29] Mikejo5000 commented on #623
Updating doc

[2018-03-14 20:34] Mikejo5000 commented on #635
Working on this.

[2018-03-14 20:39] gregvanl commented on #335
@maxperga Thanks for pointing this out. You are correct and we will update the code snippet shortly.

[2018-03-14 20:46] mrward commented on #565
Visual Studio for Mac does not currently have a page where you can specify the Assembly version or file version.

With a .NET Core console project, Visual Studio 2017 on Windows allows you to set the assembly version and assembly file version by selecting Project menu - ProjectName Properties - Package. This does not exist in Visual Studio for Mac.

[2018-03-14 20:54] Mikejo5000 commented on #674
@rainersigwald Rainer, can you verify this before I change it? Thanks.

[2018-03-14 21:03] Mikejo5000 commented on #683
@ciaran036 Thanks for your comments! Can you clarify? There is a link to the Target element, which shows all the defined attributes supported for Target. Otherwise, BeforeBuild and AfterBuild specify any named target, based on the Name attribute.

[2018-03-14 21:05] Mikejo5000 commented on #687
@deborahc Deborah, could you advise on this? Thanks.

[2018-03-14 21:11] #429 closed

[2018-03-14 21:18] rainersigwald commented on #674
I think it's correct as it currently is.

In this scenario, you have something like

[code]

Without the `..`, you get a warning:

[code]

That's because `GetPathOfFileAbove` is somewhat confusingly named. It starts its search in the argument directory and then looks upward. Since there is a Directory.Build.props file in the current directory (it's the current file!) it just finds that again.

If

[2018-03-14 21:29] #335 closed

[2018-03-14 21:49] asb3993 commented on #550
Hi @tzachshabtay,

The "Attach to Process" menu item is available in the **Run** menu. We have a guide on debugging in Visual Studio for Mac: https://docs.microsoft.com/en-us/visualstudio/mac/debugging but we don't have this specific information that you're asking for. I'll add it!

[2018-03-14 21:53] Mikejo5000 commented on #635
Fixed on master branch. This should go live tomorrow.

[2018-03-14 21:53] #635 closed

[2018-03-14 21:55] Mikejo5000 commented on #623
Fixed on master branch. It should go live tomorrow

[2018-03-14 21:55] #623 closed

[2018-03-14 21:59] Mikejo5000 commented on #549
Fix is in the master branch; it should go live tomorrow.

[2018-03-14 21:59] #549 closed

[2018-03-14 22:00] Mikejo5000 commented on #563
Fix is in the master branch. It should go live tomorrow.

[2018-03-14 22:00] #563 closed

[2018-03-14 22:02] gregvanl commented on #517
Thanks for calling this out! Will be fixed shortly.

[2018-03-14 22:02] #517 closed

[2018-03-14 22:06] chwarr commented on #623
Hrm... I don't see such a change.

https://github.com/MicrosoftDocs/visualstudio-docs/commits/master/docs/msbuild/item-element-msbuild.md

Am I looking at the wrong branch?

[2018-03-14 22:11] dazinator commented on #674
Ah I see. Yes the name of the method had me confused as to exactly what it was doing, but the explaination makes sense :-)

[2018-03-14 22:13] Mikejo5000 commented on #623
The fix was on the private repo master branch. Can you open this? https://review.docs.microsoft.com/en-us/visualstudio/msbuild/item-element-msbuild?branch=master#examples
If not, please re-open and tomorrow's merge should close this and notify you. I will plan to wait to close issues until the live merge next time. Thanks!

[2018-03-14 22:17] Mikejo5000 commented on #586
@SimpleSamples Does this topic answer your question?
https://docs.microsoft.com/en-us/visualstudio/deployment/application-deployment-prerequisites

[2018-03-14 22:24] dazinator commented on #674
So its more of a: `FindFileInDirectoryOrDirectoryAbove` :-)

[2018-03-14 22:26] rainersigwald commented on #674
Indeed. I claim innocence on the naming since we were going for consistency with an existing name added before any of us was on the team 😇

[2018-03-14 23:19] asb3993 commented on #568
Hey @mevanecek, thanks for the report. I've been able to reproduce the same issue at my end from an existing project. The one thing I've noticed is that you must select the **Solution name** from the solution pad, before you can get the "Publish to version control" option and follow the steps as shown in the guide. While this isn't a bug, per se, it's definitely a usability issue with the product

[2018-03-14 23:24] gregvanl commented on #351
Updated to show values as there are no individual enum value pages on dotnet/api.

[2018-03-14 23:24] #351 closed

[2018-03-14 23:34] asb3993 commented on #519
Hi @ahanusa, thanks for your comment. I think this question is best answered by our product team.

@jmatthiesen @mrward do you have any insight into this question?

Thanks!

[2018-03-14 23:40] Mikejo5000 commented on #671
Working on fix

[2018-03-15 00:14] Mikejo5000 commented on #645
Updated several docs to say that format specifiers are supported in tracepoints, with links.

[2018-03-15 00:24] #645 closed

[2018-03-15 00:24] #653 closed

[2018-03-15 00:24] #671 closed

[2018-03-15 01:07] chwarr commented on #623
I can see the changes on the link you provided.
No, I wasn't able to re-open this issue.

I'm good now.

[2018-03-15 02:10] adamdicarlo commented on #547
Thanks for the response. The compatibility table answered my question once I accepted that "IE __ Standards" is a thing that **IE __ itself actually does**. That probably sounds like a strange thing to be confused about, but pretty much the only time I've ever seen "IE __ Standards Mode" is in the DevTools menu _which makes it emulate an older version_, and I have no clue whether that emulation is

[2018-03-15 03:03] sryabkov opened #698 "Please clarify which version of the bootstrapper should be used when updating the layout"
When we originally create a layout, we download a bootstrapper (e.g. `vs_enterprise.exe`) from [https://www.visualstudio.com/downloads/](https://www.visualstudio.com/downloads/) and then run it with the `-layout` parameter. So, let's say we downloaded the bootstrapper after v15.6 was released and we saved it to c:\tmp\vs2017\15.6. Slightly modifying your example, we would run:
[code]
After the lay

[2018-03-15 03:55] gewarren commented on #351
@gregvanl this is a way to reference enum values:

[Visible](xref:System.ComponentModel.Design.MenuCommand#System_ComponentModel_Design_MenuCommand_Visible)

[2018-03-15 04:34] SimpleSamples commented on #586
I suppose. I apologize but I forget why I asked.

[2018-03-15 09:05] johndaintree commented on #693
Hi,

I’m creating project templates (as per https://docs.microsoft.com/en-us/visualstudio/extensibility/upgrading-custom-project-and-item-templates-for-visual-studio-2017 ) which mentions devenv /installvstemplates, to force the template cache to be updated.

I was looking for other related command line options, (e.g how to create a project from the template via the command line), and thought that

[2018-03-15 09:38] mrward commented on #519
@ahanusa - Not sure what you exactly mean by 'debugging by symbols'. Is this debugging code you do not own and just have assemblies for? Or support for symbol servers? Or something else?

[2018-03-15 12:43] ahanusa commented on #519
Yeah, symbol servers, like Visual Studio for Win supports.

[2018-03-15 12:51] cremor commented on #513
And according to https://github.com/dotnet/roslyn/blob/master/src/Workspaces/CSharp/Portable/Formatting/CSharpFormattingOptions.Parsers.cs#L9-L25 everything except the three documented values works and results in none of them being used.

[2018-03-15 12:56] cremor commented on #634
https://github.com/dotnet/roslyn/blob/master/src/Workspaces/Core/Portable/CodeStyle/CodeStyleOptions.cs#L153-L167 also confirms that it's dotnet_style_*

[2018-03-15 13:09] mrward commented on #519
Support for symbol servers is a known missing feature and it is on the Visual Studio for Mac backlog. Currently there is no definite date when this feature will be available in Visual Studio for Mac.

[2018-03-15 13:37] Bob123abc opened #699 "Broken Links [ 404 ]"
Unicode in Microsoft Foundation Class Library link Gives 404 in Edge Browser

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9eb0873f-6486-57fb-93db-1bc662cbbfca
* Version Independent ID: 91f46431-09ff-2f01-bd20-e8e1a9490a0b
* Content: [Project and Solution File Types - Visual Studio | Microsoft Docs](https://docs.micro

[2018-03-15 13:41] Bob123abc commented on #699
https://docs.microsoft.com/en-us/cpp/mfc/unicode-in-mfc
May need to point to ->
https://docs.microsoft.com/en-us/cpp/text/unicode-and-mbcs

[2018-03-15 17:06] asiffermann commented on #486
The [.editorconfig file](https://github.com/ASP-NET-Core-Boilerplate/Framework/blob/master/.editorconfig#L57) from @RehanSaeed is the best one I found that follows the [Naming Guidelines](https://docs.microsoft.com/en-us/dotnet/standard/design-guidelines/naming-guidelines), but I agree with @alarimer, an official and full sample linked in the documentation would be great!

[2018-03-15 17:35] gewarren commented on #699
@Bob123abc thanks for letting us know. I will fix it.

[2018-03-15 17:36] gewarren commented on #676
Fix has been merged.

[2018-03-15 17:36] #676 closed

[2018-03-15 17:37] gewarren commented on #378
@kuhlenh can I assign this over to you, since you've written some of these? We have a similar request in #486.

[2018-03-16 01:04] gregvanl commented on #336
Hi @maxperga, I tried the walkthrough and I didn't see any issues with CreateService. The order of the code snippets shows the actual implementation of CreateService in step 3 is a couple of steps below where it is used in step 1. Did you still have problems compilinig when you completed step 3?

[2018-03-16 01:04] #336 closed

[2018-03-16 01:49] kendrahavens commented on #689
On second thought, most users won't need to know the background of why an abstract test cannot be run from context and is not discovered. They only need to know that in order to run a test from an abstract class they need to create a derived class that instantiates the test. I don't think we need to document how the FQN execution works in the background.

[2018-03-16 08:43] RehanSaeed commented on #378
I wrote a blog post ["A very generic .editorconfig"](https://rehansaeed.com/generic-editorconfig-file/) and associated GitHub repo https://github.com/RehanSaeed/EditorConfig.

[2018-03-16 10:16] paddyboyd opened #702 "PRF0025: No data was collected"
I am encountering this issue, but it does not match the description of the problem as noted above (the profiling tools in VS2015 worked without issue, however this problem started occuring when using VS2017).

The documentation notes that 'This problem can be caused by several issues: ' and then goes on to describe a single scenario - was something missed here?

---
#### Document Details

⚠ *Do no

[2018-03-16 15:23] rkpatrick opened #703 "How does the explorer determine which properties to show?"
I've got datacontext objects where the explorer always leaves out several properties - usually the one(s) I'm interested in - instead showing a few that have no apparent difference from the ones it did not show. Could the documentation explain what critieria it uses to not show certain properties?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2018-03-16 17:50] gewarren commented on #691
This is fixed in https://github.com/MicrosoftDocs/visualstudio-docs-pr/pull/1553.

[2018-03-16 18:11] kendrahavens commented on #689
Fixed by PR [#1620](https://github.com/MicrosoftDocs/visualstudio-docs-pr/pull/1620) in private repo.

[2018-03-16 18:11] #689 closed

[2018-03-16 19:09] Blonder opened #704 "15.6.274828.2005 is missing"
https://docs.microsoft.com/en-us/visualstudio/install/visual-studio-build-numbers-and-release-dates

[2018-03-16 20:52] gewarren commented on #691
Duplicate of #420

[2018-03-16 20:52] gewarren commented on #420
@mophdog This link should be fixed next week with https://github.com/MicrosoftDocs/visualstudio-docs-pr/pull/1553. Sorry, not sure what happened here before!

[2018-03-16 22:32] gregvanl commented on #286
Hi @Rod-in-NM The VS Package template was changed to put the package GUID directly in the package class and avoid creating a separate *Guids.cs file. You can put the GUIDs mentioned in the walkthrough directly in the Package class. We'll update the walkthrough shortly to reflect this change. Thank you for calling this out.

[2018-03-16 22:32] #286 closed

[2018-03-16 23:10] gregvanl commented on #521
Yes, ProjectType VC is officially supported.

[2018-03-16 23:10] #521 closed

[2018-03-16 23:11] Mikejo5000 commented on #587
Working on this

[2018-03-16 23:27] gregvanl commented on #597
Hi @thejonan The "Visual Studio extension development" workload ID is Microsoft.VisualStudio.Workload.VisualStudioExtension. We'll update the topic shortly to make this more explicit. Thanks for your feedback.

[2018-03-16 23:27] #597 closed

[2018-03-16 23:36] Mikejo5000 commented on #599
@rainersigwald Poking around, should this doc use PlatformTarget instead of Platform? The former applies to the project, and the latter to the solution? Or would either work in this example?

[2018-03-17 00:50] benmcmorran opened #705 "Property attribute needs to be capitalized"
property needs to be Property in this snippet

<Setter property="FontFamily" Value="{DynamicResource VsFont.EnvironmentFontFamily}" />
<Setter property="FontSize" Value="{DynamicResource VsFont.EnvironmentFontSize}" />

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cbf687dd-8919-8117-3d5a-b4f02aa297a9
* Version Indepen

[2018-03-17 17:34] conniey opened #706 "Examples on how to use colours from `Environment` class"
I am trying to style my controls to look like the ones in VS.. but when I try to use the environment colours (ie. `{DynamicResource Environment.PanelHyperlink}`), I get binding errors that the resource cannot be found... A sample of using these from WPF VS would be awesome.

I found someone who had a similar question on [StackOverFlow](https://stackoverflow.com/questions/18913208/colors-in-visual-

[2018-03-17 22:47] fab1o commented on #462
I'm also voting for this feature at uservoice.com

[2018-03-19 14:46] rainersigwald commented on #599
@Mikejo5000 VS sets `PlatformTarget` and that's what gets [passed to the compiler](https://github.com/dotnet/roslyn/blob/d86b98d0153b501291f5c0572485f669634feb00/src/Compilers/Core/MSBuildTask/Microsoft.CSharp.Core.targets#L97) so it's probably best to have the docs refer to it here.

Setting `Platform` usually works, because the (non-SDK-style) templates do something like:

[code]

So setting `Pl

[2018-03-19 17:03] Mikejo5000 commented on #599
@rainersigwald OK, thanks! I'll make that change.

[2018-03-19 17:57] TerryGLee commented on #704
@Blonder Thanks for letting us know; this should be fixed either later today or tomorrow morning.

[2018-03-19 18:09] #571 closed

[2018-03-19 18:09] #587 closed

[2018-03-19 18:09] #599 closed

[2018-03-19 21:54] ArturGudiev opened #710 "MyDSLDSLDocView"
A typo.
Correct it, please.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7cb4f2a5-261b-15ef-fe63-e5c9e4df69c7
* Version Independent ID: 04a65c32-f983-ec19-c440-db7a2b7df16b
* Content: [Embedding a Diagram in a Windows Form - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/modeling/embedding-a-diagram-in-

[2018-03-19 22:17] TerryGLee commented on #698
@sryabkov Thanks for your input. We're looking in to this.

[2018-03-19 22:18] #647 closed

[2018-03-19 22:19] gewarren commented on #710
@ArturGudiev thanks for the feedback, I will fix this. Unless you would like to? If you are inclined, you can click the Edit button near the top right of the page, and then commit the change.

[2018-03-19 22:41] TerryGLee commented on #516
@Super169 There seems to be a similar issue reported in the Developer Community, here: [https://developercommunity.visualstudio.com/content/problem/24557/problem-autenticating-right-after-launch-a-fresh-i.html](https://developercommunity.visualstudio.com/content/problem/24557/problem-autenticating-right-after-launch-a-fresh-i.html). Perhaps the solution(s) posted would be helpful?

Or perhaps you

[2018-03-19 22:42] #516 closed

[2018-03-19 22:48] TerryGLee commented on #624
@stuartbronk Thanks for your feedback; we appreciate it. We've got this issue listed in our backlog queue to investigate.

[2018-03-19 22:49] TerryGLee commented on #365
FYI: This issue is in our backlog queue to investigate.

[2018-03-19 22:51] TerryGLee commented on #515
@abbgrade Thanks for your feedback; we've added this request to our backlog queue.

[2018-03-19 22:51] TerryGLee commented on #427
@resun555 Thanks for your feedback; we appreciate it. This is in our backlog queue to get fixed; we'll report back when it is.

[2018-03-19 22:52] TerryGLee commented on #520
@asherabrams Thanks for your feedback; we appreciate it. This is in our backlog queue to get fixed; we'll report back when it is.

[2018-03-19 22:53] TerryGLee commented on #542
@asherabrams Thanks for your feedback; we appreciate it. This is in our backlog queue to get fixed; we'll report back when it is.

[2018-03-19 23:29] gregvanl commented on #392
Thanks for your feedback. The sample has been updated and will be published shortly.

[2018-03-19 23:29] #392 closed

[2018-03-20 00:48] Mikejo5000 commented on #507
Working on this one

[2018-03-20 00:57] dialedin2014 opened #711 "Incorrect file extension"
This example above does not match the .cs file extension specified underneath it.

<#@ output extension=".txt" #>
<#@ assembly name="System.Xml" #>
<#
 System.Xml.XmlDocument configurationData = ...; // Read a data file here.
#>
namespace Fabrikam.<#= configurationData.SelectSingleNode("jobName").Value #>
{
  ... // More code here.
}

---
#### Document Details

⚠ *Do not edit this section. It is r

[2018-03-20 08:14] ArturGudiev commented on #710
@gewarren ok. I have created a [pull request](https://github.com/MicrosoftDocs/visualstudio-docs/pull/712)

[2018-03-20 14:53] scrollsaw opened #713 "Error"
Doesn't work as described. Something to do with the call to getData in the res.render line, but I haven't found the issue yet.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cec2387f-0fc8-9fdd-6f1c-85a0c8221939
* Version Independent ID: 671683ac-2ae6-e40c-b096-cd54f5785991
* Content: [Create a Node.js and Express app -

[2018-03-20 15:19] asherabrams opened #714 "great tutorial"
Created the app and got it running on the first try!  Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: efa4d104-fb09-7060-8894-48a3ec73f98d
* Version Independent ID: a64a6fe9-fa60-d30d-65cd-cc9eda21d36d
* Content: [Step 8: Customize the Quiz - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/ide/st

[2018-03-20 16:32] Mikejo5000 commented on #713
@scrollsaw Hi, thanks for the feedback. Retested this topic. Most likely, you need to make the change shown in the Use IntelliSense section to make the app work. One goal is to show how the IDE works, but I will clarify in the doc that the code won't work until you make the fix described later. (I'm pretty sure that's the issue you hit, but if not, I'd double check that you are using the VS templa

[2018-03-20 16:41] gewarren commented on #710
@ArturGudiev thanks again for noticing and fixing this typo.

[2018-03-20 16:41] #710 closed

[2018-03-20 16:54] zlb-weduc commented on #607
I'm sorry but this is ludicrous.

I still don’t understand why there are no ISO’s that include the most common components for a .net and C++ Windows development system.

This will take me days to download at home. I need to download it at work and then transfer from there. Just because I’m a developer, doesn’t mean I want to faff around with command line tools to complete simple tasks.

[2018-03-20 17:04] scrollsaw commented on #713
assuming that the line is supposed to be:
res.render('index', { title: 'Express', "data": getData() });
that is what I have.

Template is the same.
Latest version of visual studio 2017 community. Latest node.js

To clarify a bit, the app build and runs, but the images don't load.

If I use the breakpoint as described, I see the following error:
TypeError: 'caller', 'callee', and 'arguments' proper

[2018-03-20 17:31] Mikejo5000 commented on #713
Hmm, yes I don't see that issue on Node.js 8.9.4 and the latest VS Enterprise 2017. If you have time, can you check your package.json? See if package versions are different. If different, you could try pasting this in your package.json, right-click the npm node, and update your packages. Thx!

  "dependencies": {
    "body-parser": "1.15.0",
    "cookie-parser": "1.4.0",
    "debug": "2.2.0",

[2018-03-20 17:41] scrollsaw commented on #713
mine was the same

"dependencies": {
    "body-parser": "^1.15.0",
    "cookie-parser": "^1.4.0",
    "debug": "^2.2.0",
    "express": "^4.14.0",
    "morgan": "^1.7.0",
    "pug": "^2.0.0-beta6",
    "serve-favicon": "^2.3.0"
  },

I ran an update and now it's

  "dependencies": {
    "body-parser": "^1.15.0",
    "cookie-parser": "^1.4.0",
    "debug": "^2.2.0",
    "express": "^4.14.0",
    "m

[2018-03-20 17:48] Mikejo5000 commented on #713
OK, thanks. I'll update my Node version to 8.10 and see what happens.

[2018-03-20 17:54] scrollsaw commented on #713
yeah, i'm using 8.10. Should have said that earlier.

I'm not sure if maybe the 'use strict' is causing some issues? Don't know enough about it to tell.

[2018-03-20 18:03] TerryGLee commented on #714
@asherabrams Thank you for saying so! :)

[2018-03-20 18:06] TerryGLee commented on #704
@Blonder This page is now updated: [Visual Studio 2017 build numbers and release dates](https://docs.microsoft.com/en-us/visualstudio/install/visual-studio-build-numbers-and-release-dates) Thanks again for your feedback!

[2018-03-20 18:06] #704 closed

[2018-03-20 18:07] #714 closed

[2018-03-20 18:41] Mikejo5000 commented on #713
Node 8.10 works for me with no errors.
What happens if you remove 'use strict' from index.js?
A longshot, but you might also try removing quotes from data, i.e.,:     res.render('index', { title: 'Express', data: getData() });

[2018-03-20 18:58] asb3993 commented on #568
Clarified the issue here: fd10ea7ff4ca04ba81ed88621828ce457131ab45

The developer community issue is also under investigation by our UX team.

I'm closing this issue for now, but please do not hesitate to re-open or add a comment to this issue if necessary.

[2018-03-20 18:58] #568 closed

[2018-03-20 18:58] scrollsaw commented on #713
If I remove use strict, then the error I see when viewing getData() during runtime :

TypeError: 'caller', 'callee', and 'arguments' properties may not be accessed on strict mode functions or the arguments objects for calls to them

Doesn't show up. But the result is still the same. You are unable to see into the getData function as shown on the screenshot in the tutorial.

Also, clicking on the b

[2018-03-20 19:02] asb3993 commented on #695
I'm closing this issue for now, but please do not hesitate to add a comment or re-open if necessary. I'll be sure to update the docs when we get this feature!

[2018-03-20 19:02] #695 closed

[2018-03-20 19:09] Mikejo5000 commented on #713
Right, there aren't any images loaded until you start clicking on the buttons. That could be clarified in the doc.
You should, however, be able to stop on getData in the debugger after setting a breakpoint there. Are you hitting the breakpoint (yellow line) when you run it? If yes, then you can hover over getData and see the function (you actually have to expand the function to see it's properties

[2018-03-20 19:20] scrollsaw commented on #713
Yeah, it certainly looks like something is wrong because you get a broken image on first load.

Here is what I see

![2018-03-20 15_18_43-test_node_project_1 debugging - microsoft visual studio](https://user-images.githubusercontent.com/31285079/37677678-18f68dfa-2c52-11e8-90cc-af4c9b2d735c.png)

[2018-03-20 19:36] Mikejo5000 commented on #713
OK, that's good, I see the same thing. The screenshot is out of date (not sure what has changed that is giving more information than before, maybe a debugger bug fix in the VS update or something). This looks like expected behavior before the image loads. I'll update the screenshot.

[2018-03-20 19:38] scrollsaw commented on #713
ok, thanks for all the help!

[2018-03-20 19:42] Mikejo5000 commented on #713
Sure, thanks for the feedback!

[2018-03-20 20:15] samiraguiar opened #717 "Confusing information"
In the remarks section it's said that "the Exec task, unlike a more specific task, cannot gather output from the tool or command that it runs.". Isn't this what the `ConsoleToMsBuild` parameter does?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bb479ee7-d34c-dd5d-6843-4abdec6c3894
* Version Independent ID: 40cd6644-b

[2018-03-20 21:05] samiraguiar commented on #717
Another thing: from my tests the working directory for the Exec task is by default the same directory as the .csproj file. Maybe this could be added to the documentation?

[2018-03-20 23:01] StingyJack opened #718 "v14 or v15 references?"
Does this need a version number update or is v14 the correct references?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d605fcb-d42d-e11c-097d-f74b7061d20e
* Version Independent ID: 6f6ef619-7636-7a96-157c-2ab986d38d07
* Content: [Creating a Custom Start Page - Visual Studio](https://docs.microsoft.com/en-us/visualstu

[2018-03-21 00:43] gregvanl commented on #718
Hi @StingyJack, you are correct, the walkthrough needs to be updated for VS 2017.
Besides the *Shell.14*, there may be other version specific information (ex Documents\Visual Studio 2015\StartPages).
PRs welcome. Thanks for pointing this out.

[2018-03-21 00:44] graftedin opened #719 "This Project Does NOT Work!"
There are many parts of this that are not consistent with the latest version of visualstudio.  After wasting close to 4 hours I gave up.  Please just delete this if you are not going to keep it updated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 14465304-3ced-6b36-5054-a85ac11e667e
* Version Independent ID: 9d2d9ca

[2018-03-21 12:37] vassilych opened #721 "Nice Screenshot"
I am happy that people working for Microsoft are also human and using the uTorrent App on a corporate MacBook

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0be31e5a-ccb8-93c5-43a0-ef8327f4ed4e
* Version Independent ID: 2ed7a14e-12ea-ea72-6678-0db050023a62
* Content: [Setup Visual Studio for Mac Tools for Unity](https:

[2018-03-21 17:41] #507 closed

[2018-03-21 17:41] #705 closed

[2018-03-21 17:41] #713 closed

[2018-03-21 17:43] TerryGLee commented on #607
We appreciate your continued feedback, and will respond soon.

[2018-03-21 17:46] SamuelEnglard opened #723 "CTest with MSBuild style projects"
Can CTest be used with MSBuild style projects?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d3f12b8-8048-3c19-8582-2ab35cbda74e
* Version Independent ID: 860805e8-915b-1c76-b6d3-4addc07da1a0
* Content: [How to use CTest for C++ in Visual Studio - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/test/how-

[2018-03-21 17:48] TerryGLee commented on #666
@nagaraj-analytics Thanks for your feedback. We understand your frustration about the lack of an ISO for Visual Studio. Here's a little more information about ISOs that you might find useful.

1. Visual Studio 2017 is a huge product, because we support so many types of development: from Android to UWP to C++ to Unity to Linux. If we were to still offer a 'full' install, it would come in at over 50

[2018-03-21 17:54] #666 closed

[2018-03-21 18:26] gewarren commented on #688
@JRAlexander thanks! @ghogen does this fall under your new area of ownership?

[2018-03-21 18:27] JRAlexander commented on #688
@gewarren Sure! Let me know if you have any questions.

[2018-03-21 18:33] gregvanl commented on #705
@benmcmorran Thanks for pointing this out!

[2018-03-21 19:21] gewarren commented on #721
@vassilych thanks for pointing this out. @v-davian perhaps we should redo this screenshot? Apparently uTorrent can be used for downloading pirated files.

[2018-03-21 19:22] gewarren commented on #721
@dantogno perhaps we should redo this screenshot? Apparently uTorrent can be used for downloading pirated files.

[2018-03-21 20:26] gewarren commented on #513
I'm updating the topic now. Interestingly, the following setting does result in spaces being applied to expressions.

csharp_space_between_parentheses = false, expressions

[2018-03-21 21:43] kylereedmsft opened #724 "ITrackingSpan section doesn't describe the SpanTrackingModes properly"
Look at the section about ITrackingSpan, it refers to SpanTrackingMode in all cases instead of the actual SpanTrackingMode enum value.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f9f6314-07f7-4a22-2f4a-e29636bdda91
* Version Independent ID: d109c631-e7c0-5364-c6e4-12e2c47b1974
* Content: [Inside the Editor - Visual

[2018-03-22 05:58] RawanRadi opened #725 "Automatically Interaction between MVC and R projects"
I have mvc project and R project I want to run mvc first display it on browser then send some arguments to R script in R project then run R project and refreshing mvc based on results of R project

Currently I can execute Script.r only line by line the results saved as html then I run mvc and html results from R are displayed on browser I need to make it automatically.

My code is like this code h

[2018-03-22 09:35] AlanSteadman opened #726 "Please fix"
One minute it works, the next minute it's microsofted.

No this help page isn't any help whatsoever.  Please simply redirect all your documentation pages to stack overflow.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 12b3da70-ab86-495d-abfe-384f369660fe
* Version Independent ID: 2456d73a-68bd-cc6b-bff0-e7666e53f404

[2018-03-22 10:03] bzuu opened #727 "How to get a specific version of the installer"
The documentation mentions "If you want to get the URLs for a specific channel, you can download the channel from https://aka.ms/vs/15/release/channel, open the JSON file, and examine the bootstrapper URLs." which is not very helpful at all. The JSON file only contains a single link to a vs_setup.exe file, and in no way seems to give a clue to where to obtain the vs_buildtools.exe. Please update t

[2018-03-22 15:34] Mikejo5000 commented on #726
@AlanSteadman Were you able to fix the issue? If yes, I can update the doc if you report back the specific error message along with the fix that worked for you. Thanks!

[2018-03-22 16:04] kraigb commented on #725
@RawanRadi Thanks for your question. At present, Visual Studio's R support doesn't offer anything I know of that provides for interaction between R and other languages. If there are possibilities, and I'm not saying there are, providing such support is unfortunately beyond the scope of this forum which is for documentation issues only (thus I'm closing this issue). I can only suggest that you work

[2018-03-22 16:04] #725 closed

[2018-03-22 16:05] kraigb commented on #639
@jflam Any comments?

[2018-03-22 16:34] svick opened #729 "Suggested additions to Go To Line document"
The *Go To Line* document is currently fairly barebones. Things that I think should be added:

* Keyboard shortcut.
* Screenshot.
* Link to other documents about navigation, possibly https://docs.microsoft.com/en-us/visualstudio/ide/go-to.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e5b0abc5-a74f-4138-7608-6b4215bca

[2018-03-22 16:49] gewarren commented on #729
@svick these are great suggestions, thank you Petr.

[2018-03-22 16:51] #721 closed

[2018-03-22 17:00] kraigb commented on #639
@RawanRadi On further investigation, this appears to be a product bug. In that case, please file an issue on https://github.com/Microsoft/rtvs/issues so the engineering team can follow up with you directly. When creating the issue, include a link to this present issue, https://github.com/MicrosoftDocs/visualstudio-docs/issues/639.

Thanks. In the meantime, I'm closing this issue here in the docs r

[2018-03-22 17:00] #639 closed

[2018-03-22 17:42] #513 closed

[2018-03-22 17:42] #585 closed

[2018-03-22 18:06] conceptdev commented on #719
Thanks for your feedback, we're aware this doc needs some work and it's on our list.

In the meantime, we recently updated the companion Xamarin.Forms doc here:
https://docs.microsoft.com/en-us/visualstudio/cross-platform/learn-app-building-basics-with-xamarin-forms-in-visual-studio

If you have an Android device, you might also be interested in our Getting Started guide using the Xamarin Live Pla

[2018-03-22 18:12] TerryGLee commented on #727
@heaths Can you take a look at this, please?

[2018-03-22 20:30] heaths commented on #727
This is actually not supported (hadn't been decided when I wrote this). The supported way to get an older release is to build and maintain a layout from that release, as documented at https://docs.microsoft.com/visualstudio/install/visual-studio-administrator-guide. I will update the documentation to remove that and reference the layout docs instead.

[2018-03-22 20:54] PureWeen opened #730 "Clarify VS version for Microsoft.VisualStudio.Shell.14.0 and the repetition of DLLs"
I'm going through this on VS 2017 so initially when I searched for Microsoft.VisualStudio.Shell.14.0 using the search box nothing came up.  Once I visually searched I realized I needed to use 15.0 so maybe clarifying that this documentation is for VS 2015 would be helpful or to look for 15 would be helpful.   Also after installing the VSSDK I noticed that there are two copies of each of these DLLs

[2018-03-23 07:24] mm6502 opened #731 "Clarifying needed what tool this applies to"
I have spent half a day trying to run MSTest with .runsettings.

There should be explicitly stated which tool this applies to. MSTest IS mentioned, while the actual tool this applies to (vstest.console.exe) IS NOT.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 21ac034a-a498-f3e3-28d0-175b6fead219
* Version Independent

[2018-03-23 13:05] paulomorgado opened #732 "Incorrect documentation for binaryLogger"
As per the [documentation](https://github.com/MicrosoftDocs/visualstudio-docs/blob/master/docs/msbuild/msbuild-command-line-reference.md) I can do this:

    /binaryLogger:LogFile=log.binlog

However, this will create the `LogFile=log.binlog` file.

[2018-03-23 14:02] JGroot opened #733 "15.6.4 is missing"
15.6.4 is missing from the list.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7ea27919-8e31-6592-9b9e-9a0cabb0a7ff
* Version Independent ID: 093eeeb2-0306-4af9-2bfc-6d4eefbebf9b
* Content: [Visual Studio 2017 build numbers and release dates - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/install/visual

[2018-03-23 14:39] phraemer opened #734 "Why is this warning not emitted in UWP apps?"
I've tried the following in a C# UWP app but it no warning is emitted.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c370a407-b61d-0de6-6ac4-9b0ab49216b9
* Version Independent ID: a96e421e-65d3-07ba-097e-3feff2b3c677
* Content: [CA2000: Dispose objects before losing scope - Visual Studio](https://docs.microsof

[2018-03-23 15:07] martijnhoekstra opened #735 "Note code map creation prerequisites"
With the default installation of Visual Studio Enterprise, there is no Architecture menu, and code maps (seemingly) can't be created.

In order to create code maps, the individual component `Code Map` needs to be installed.

See also: https://developercommunity.visualstudio.com/content/problem/25007/architecture-menu-is-not-showing-for-vs-enterprise.html and the (invalid) solution to install the V

[2018-03-23 15:57] Mikejo5000 commented on #687
@evil-shrike Sorry for the slow response, evil.
It looks like you're having an issue with the product itself, rather than an issue with the documentation, which is what these GitHub issue are for. For options to report your product issue, consider using the following venues:
- You can report product issues to us via the [Report a Problem](https://github.com/MicrosoftDocs/visualstudio-docs/ide/how-

[2018-03-23 16:02] evil-shrike commented on #687
@Mikejo5000  :) you're right, it's an issue the product(s), thanks for the links.
it's just much easier to create an issue here than in developercommunity.visualstudio.com.

[2018-03-23 16:08] TerryGLee commented on #733
@JGroot Thanks; this list will be updated mid-day today.

[2018-03-23 16:08] #733 closed

[2018-03-23 17:43] #420 closed

[2018-03-23 17:43] #648 closed

[2018-03-23 17:43] #699 closed

[2018-03-23 17:43] #658 closed

[2018-03-23 17:43] #691 closed

[2018-03-23 17:49] gewarren commented on #419
@mikeasage thanks for letting us know. We'll be moving the command line test topics over to docs.microsoft.com, but meanwhile you can reference the MSDN [VSTest.Console.exe topic](https://msdn.microsoft.com/en-CA/library/jj155796.aspx).

[2018-03-23 17:54] gewarren commented on #539
The xamarin topics are now updated. Please check them out [here](https://docs.microsoft.com/en-us/xamarin/cross-platform/get-started/requirements).

[2018-03-23 18:09] Mikejo5000 commented on #659
@AlexKeySmith Alex, sorry for the slow response. Sounds like you already saw this blog post?
https://blogs.msdn.microsoft.com/devops/2015/05/14/collect-data-from-a-windows-service-using-the-intellitrace-standalone-collector/

[2018-03-23 18:14] Mikejo5000 commented on #659
Let me know if you are still having issues with the CLSID and I'll get you in touch with the right folks.

[2018-03-23 18:25] gewarren commented on #641
@prlakshm can you help this customer out?

[2018-03-23 18:26] gewarren commented on #663
@morgs32 my guess is that the GitHub issues linking code will not be open-sourced.

[2018-03-23 18:27] gewarren commented on #723
@mikeblome can you answer this one?

[2018-03-23 18:30] gewarren commented on #724
@kylereedmsft thanks for your feedback.

[2018-03-23 18:32] gewarren commented on #731
@mm6502 thank you for this feedback. @pvlakshm can you clarify what tools .runsettings files are used for?

[2018-03-23 18:33] gewarren commented on #732
@paulomorgado thanks for the feedback. @Mikejo5000 can you take this one?

[2018-03-23 18:34] gewarren commented on #734
@mavasani can you answer this question please?

[2018-03-23 18:36] gewarren commented on #735
@martijnhoekstra thanks for the feedback. I will update the installation requirements.

[2018-03-23 18:42] mavasani commented on #734
@gewarren Seems like a bug in both legacy FXCop and FXCop analyzers implementation. Can you please port this issue to https://github.com/dotnet/roslyn-analyzers/issues?

[2018-03-23 18:45] Mikejo5000 commented on #732
@gewarren Yes, assigning to self

[2018-03-23 18:51] gewarren commented on #734
@phraemer thanks for letting us know about this behavior. Would you like to create an issue in the roslyn-analyzers repo so you can take credit, or would you like me to?

[2018-03-23 20:39] phraemer commented on #734
Sure I can do it. Thanks.

[2018-03-23 23:05] paulomorgado commented on #732
It's also a problem in msbuild.exe

[2018-03-23 23:26] mikeblome commented on #723
@SamuelEnglard Can you provide more specifics about your scenario? For example, are you asking whether CTest tests work with the Solutions and Projects that CMake can generate via the command line for Visual Studio?  CMake will generate a RUN_TESTS project that can run the CTests at build time but you don't get full IDE support via Test Explorer etc. It is best to just use the native CMake support

[2018-03-24 03:23] StingyJack opened #738 "All or part of System.DateTime?"
It only provides it if I use `DateTime.Now` or `DateTime.UtcNow`. If I'm testing a class like this..

[code]

and I use a virtual class like this....
[code]

and create a unit test to instantiate `TestTargetUnitTestClass` but to test `AddSomething`, is intellitest going to think that this is non-deterministic?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2018-03-24 09:28] EmpeRoar opened #739 "How to create multiple solutions like the eShopOnContainers sample project"
Is there a documentation or tutorial how to setup multiple Solutions like the eShopOnContainers sample project?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b057a09a-e208-8daf-58b0-3dfb3bb4ea0e
* Version Independent ID: f891d20f-a2c8-3208-ed23-91dfef901eaf
* Content: [Solutions and Projects in Visual Studio - Visual

[2018-03-24 12:20] mstibel opened #740 "Python Environment selection is missing"
I have followed the tutorial and the first attempt didn't work. Digging into the configuration, I realized that my Visual Studio selected by default Python 3.6 (64-bits) as the environment for the Python application, so the 32-bit C++ pyd library was not recognized as a valid dll. Changing Python Environments to a compatible 32-bit one, did the work. Adding this step in the Create Python Applicati

[2018-03-25 01:45] gremlinsmasher opened #741 "Create an offline installation of Visual Studio 2017 (Community)"
1. Download the Visual Studio Community 2017 installer
2. Go to the installer Folder file where you download it. Usually it is C:\Users\<YourAccountName>\Downloads
3. Go to the top of the Explorer and type in cmd
4. Type mkdir vs2017
5. Type vs_Community.exe --lang en-en --layout f:\vs2017 --all

5 lines of instructions

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2018-03-25 01:58] gremlinsmasher commented on #741
Type vs_Community.exe --lang en-us --layout f:\vs2017 --all

I used the same command last year but forgot the command. I have to look it up again and copy the command from stackoverflow. The person typed in en-en instead of en-us. lol

[2018-03-26 13:18] pvlakshm commented on #641
The only way to invoke IntelliTest is via the context menu commands in the Visual Studio IDE.
It can be invoked at the level of a method, or a class, or a namespace. Accordingly it will explore and generate tests for the method, all public methods on the class, all public methods on public classes within the namespace.
Scripting it is not supported.

[2018-03-26 13:24] ddgilli opened #744 "Invalid regular expression"
Just downloaded latest VS Community 15.6.4 (Node,js tools 1.4.11027.3), node.js 8.10.0.  When I run the code I get Invalid regular expression error.  My app.js and index.js are straight from tutorial (including "res.render('index', { title: 'Express', "data" :getData() });", full error is below.

SyntaxError: Invalid regular expression: /^(break|case|catch|continue|debugger|default|do|else|finally

[2018-03-26 15:25] ddgilli commented on #744
Stupid user error - posted the code in layout.pug instead of index.pug.  Sorry!

[2018-03-26 15:26] ddgilli commented on #744
Stupid user error, posted the code in layout.pug instead of index.pug.  Sorry!

[2018-03-26 15:26] #744 closed

[2018-03-26 16:06] jclark993 commented on #531
I got compiler error when trying to Build WeatherApp
Severity	Code	Description	Project	File	Line	Suppression State
Error	CS0656	Missing compiler required member 'Microsoft.CSharp.RuntimeBinder.CSharpArgumentInfo.Create'	WeatherApp	C:\...\source\repos\WeatherApp\WeatherApp\WeatherApp\Core.cs	17	Active

What is the fix for this, thanks

[2018-03-26 16:12] StingyJack commented on #641
Will the namespace scope include namespaces beneath the selected one in the hierarchy?

Is scripting or some other extensibility point in the future plans?

[2018-03-26 16:32] greyknight79 opened #745 "Error in "Capture and implicitly number the expression contained within parenthesis" Example"
To use the capture group the syntax is "$1" not "\1".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b53053a2-c37a-99a8-fdaf-7322de927cf8
* Version Independent ID: 55a43af3-3743-9c8f-bf24-50301db7c37c
* Content: [Using Regular Expressions in Visual Studio - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/i

[2018-03-26 17:23] TerryGLee commented on #741
@gremlinsmasher Thanks for your contribution. FYI: You can also find further examples on the following page: [https://docs.microsoft.com/visualstudio/install/install-vs-inconsistent-quality-network](https://docs.microsoft.com/visualstudio/install/install-vs-inconsistent-quality-network).

Cheers,
~ Terry

[2018-03-26 17:23] #741 closed

[2018-03-26 17:38] #328 closed

[2018-03-26 18:12] gregvanl commented on #328
@fenxu I don't think the referenced commit has anything to do with this issue. Was this issue closed by mistake?

[2018-03-26 18:25] charlespetzold commented on #531
The **Missing compiler required member 'Microsoft.CSharp.RuntimeBinder.CSharpArgumentInfo.Create'** error can result from using a `dynamic` variable in a .NET Standard 2.0 library. To fix it, add the **Microsoft.CSharp** NuGet package to the **WeatherApp** library.

Updated versions of the **WeatherApp** sample will be published soon.

[2018-03-26 18:37] TuckermanRav commented on #604
I concur that the instructions are not correct. Getting the following errors while attempting to run in debug.

Severity	Code	Description	Project	File	Line	Suppression State
Error		Undefined 'guid' attribute 'guidTestCommandPackageCmdSet' in a <Menu> element	DensityExtension	C:\Users\Administrator\source\repos\VSIXProject1\DensityExtension\FirstCommandPackage.vsct	35
Error		Undefined 'id' attribut

[2018-03-26 20:14] StingyJack opened #746 "What are the legitimate values for PexAssemblySettings(TestFramework) ?"
"Naked" and "MSTestv2" are the values I've come across, but what are acceptable and what doesnt work?

Also the value "Naked" is bound to be offensive to someone and probably should be changed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e934d62b-8c75-5a3e-d6d4-fa35b4d51743
* Version Independent ID: c622c8c0-accb-bb

[2018-03-26 20:18] gewarren commented on #746
@StingyJack thanks for the feedback. @pvlakshm can you answer this one?

[2018-03-26 20:56] gewarren commented on #745
@greyknight79 thanks for the feedback. I tested this out and the regular expression works as defined. \1 does refer back to the first defined group. My understanding is that \number refers back to a group within a regular expression, and $number refers to a group in a *[replacement pattern](https://docs.microsoft.com/en-us/dotnet/standard/base-types/substitutions-in-regular-expressions#substitutin

[2018-03-26 21:13] SamuelEnglard commented on #723
@mikeblome I was asking about generated from the command line, which you answered. Thanks!

[2018-03-26 21:13] #723 closed

[2018-03-26 21:27] gewarren commented on #739
@EmpeRoar not that I am aware of. Are you wondering how to separate related projects out into different solutions?

[2018-03-26 21:30] StingyJack commented on #746
I couldnt find anything that used the value when poking around in ILspy. (And FWIW, I dont choose to be offended by the word.)

[2018-03-27 01:10] EmpeRoar commented on #739
Hi @gewarren , I already achieved what I wanted to implement using dotnet cli. Thanks you. 👍

[2018-03-27 01:10] #739 closed

[2018-03-27 02:21] fenxu commented on #328
@gregvanl Sorry, it was closed by mistake.

[2018-03-27 10:13] mekwebsite-dev commented on #531
Hi, also please remove  Microsoft.Net.Http NuGet package.

[2018-03-27 14:53] charlespetzold commented on #531
If you're talking about the Xamarin.Forms weather sample, which is here:

https://github.com/xamarin/xamarin-forms-samples/tree/master/Weather

the **Microsoft.Net.Http** package was removed in January. The cross-platform native version of Weather:

https://github.com/xamarin/mobile-samples/tree/master/Weather

is currently being revised.

[2018-03-27 17:26] Britford opened #748 "Shouldn't you at least mention that VS Emulator for Android has been abandoned by Microsoft?"
It seems that this emulator has been abandoned and if so, that should top this article.

https://stackoverflow.com/questions/44864647/running-api-level-24-on-vs-emulator-for-android-hyper-v

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6bdda1ea-471b-6285-427f-4b14a44de863
* Version Independent ID: 0f51f444-6bad-3e06-9

[2018-03-27 17:28] gewarren commented on #745
Please reopen if you disagree.

[2018-03-27 17:28] #745 closed

[2018-03-27 17:28] kraigb commented on #740
Thanks for reporting the issue. I'll include a note in my next set of revisions.

[2018-03-27 17:29] Mikejo5000 commented on #748
Yes, we do need to say something about that. Thanks. In some VS tooling, the VS Emulator for Android is no longer available, so it's less of an issue.

[2018-03-27 18:02] jclark993 commented on #531
Yeah I got it working.    Thanks!

[2018-03-27 18:31] eschneider999 commented on #496
doesn't work.

root=true

[*.{cs,vb}]
dotnet_naming_rule.private_members_with_underscore.symbols  = private_members
dotnet_naming_rule.private_members_with_underscore.style    = underscore_prefix
dotnet_naming_rule.private_members_with_underscore.severity = suggestion

dotnet_naming_symbols.private_members.applicable_kinds           = field
dotnet_naming_symbols.private_members.applicable_accessib

[2018-03-27 18:35] gewarren commented on #496
@eschneider999 thanks for the feedback. Are you saying that none of these settings are applied to your document? Have you formatted your document and/or closed/reopened it since you saved the .editorconfig file?

[2018-03-27 18:41] eschneider999 commented on #496
yes, tried close/reopen sol. Format new doc. and New line of code in violation.

[2018-03-27 19:22] tedvz commented on #607
Thank you for the feedback.  We appreciate hearing about these various pain points so we can consider alternatives in the future.  Here's our current reasoning on the topic of ISO images.

1. Visual Studio 2017 is a huge product, because we support so many types of development: from Android to UWP to C++ to Unity to Linux. If we were to still offer a 'full' install, it would come in at over 50GB.

[2018-03-27 20:11] conceptdev commented on #531
Docs & sample are in the process of being updated. Thanks for the feedback!

[2018-03-27 20:11] #531 closed

[2018-03-27 20:55] #607 closed

[2018-03-28 12:52] ffes opened #749 "Mention that not all editions support Live Unit Tests"
At https://github.com/MicrosoftDocs/visualstudio-docs/blame/master/docs/test/getting-started-with-unit-testing.md#L66 there is no mention that the Enterprise Edition of VS is required for Live Unit Testing.

[2018-03-28 13:31] Eagle3386 opened #750 "GetAssemblyIdentity Task example's XML is not well-formed"
The line that reads `<Target Name="RetrieveIdentities>` is missing a quote sign right before the `>`.
Additionally, the added empty lines are violating the XML specification and therefore should be fixed, too.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3945ae26-b64e-b73c-36ca-c99c16445c39
* Version Independent ID:

[2018-03-28 15:30] damageboy opened #751 "Overriding OutputPath in Directory.Build.targets"
I am trying to override OutputPath from Directory.Build.targets...

Is this a supported property to override?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d410ebeb-3841-a0a9-efb4-185823add4dc
* Version Independent ID: 7e397179-4ccc-054c-8137-5e8f2430d794
* Content: [Customize your build - Visual Studio](https://docs.

[2018-03-28 16:50] gewarren commented on #749
@ffes thanks for the feedback. I will try to make the edition requirements for LUT clearer.

[2018-03-28 17:36] agoln opened #752 "Defaults are not specified for each optional parameter"
Each optional parameter should specify what the default value is

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bb479ee7-d34c-dd5d-6843-4abdec6c3894
* Version Independent ID: 40cd6644-b061-335e-7bd4-6beede753c5d
* Content: [Exec Task - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/msbuild/exec-task)
* Co

[2018-03-28 18:13] chuckb35 opened #753 "Informative video"
The links to resources were also good. Great documentation page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 50836ec0-a917-7b98-5721-560ff38354d1
* Version Independent ID: 8688bd4f-7d01-ea08-945e-8c8e7500cac9
* Content: [Introducing Live Unit Testing - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/tes

[2018-03-28 20:11] gewarren commented on #628
Fixed with https://github.com/MicrosoftDocs/visualstudio-docs-pr/pull/1670.

[2018-03-28 20:11] #628 closed

[2018-03-28 20:12] gewarren commented on #753
@chuckb35 thanks for the feedback for @rpetrusha!

[2018-03-28 20:13] gewarren commented on #734
@phraemer thanks for porting this bug.

[2018-03-28 20:13] #734 closed

[2018-03-28 20:16] gewarren commented on #693
@johndaintree I've not received 100% confirmation from the product team, but I believe that the /installvstemplates switch no longer has any effect, because the template loading design was changed.

[2018-03-28 20:51] SelmaI commented on #698
@sryabkov, you do not need the new version of the bootstrapper.
Both commands should update the layout with 15.7 packages when they're available.

Thanks,
Selma

[2018-03-28 20:52] #698 closed

[2018-03-28 20:57] IrishChieftain commented on #561
This is a total farce. The Connect website is no more. It's replacement "Collaboration" is an empty shell with no functionality. Where is the official repository for reported, fixed and outstanding bugs for the entire developer stack right now? Also, why was I forced to use my GitHub account to even post a comment here? This reeks of being outsources and I see zero ownership by Microsoft.

[2018-03-28 21:00] gewarren commented on #655
@pi3k14 The LiteralsShouldBeSpelledCorrectly rule is not mentioned in the blog post that @mavasani linked to, because I assume it was added to Visual Studio at a later time. However, the same culture functionality probably applies. If you haven't explicitly [created resource strings for your literals](https://docs.microsoft.com/en-us/dotnet/framework/resources/creating-resource-files-for-desktop-a

[2018-03-28 21:02] mavasani commented on #655
@gewarren - Yes, I meant Roslyn analyzers that port FXCop rules (we also call them FXCop analyzers for short). I did not mean the legacy FXCop rules.

[2018-03-29 06:15] jolyrojr commented on #601
how do i deploy to a device?

[2018-03-29 07:49] CoMMyCZ opened #754 "Missing the Bulk Add"
The Bulk Add button is missing / we have to add one by one :-( Are there any requirements for the button to appear or the portal is just not working properly?
(Azure Subscription Guid : e0b51305-0dd7-47f7-aaf6-bfa37b5556f6)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c91aef8d-e8b8-c90f-bf4e-04fa609b1bb6
* Version In

[2018-03-29 08:50] xtofl opened #755 "Dropdown not found in the Application section"
On VS2017, in a .Net Standard 2.0 project, the setting is to be found in the Project Properties -> Package -> "Assembly neutral language" drop down.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 43e7c18d-51c4-2c20-9fa3-d95852d533fa
* Version Independent ID: 15863a04-568b-9f15-f244-3f83cb4c524f
* Content: [CA1824: Mark

[2018-03-29 09:46] charlie-ht opened #756 "How to add GTest support to an exisitng project?"
This looks good if I'm starting from scratch, but how do I add GTest support to an existing project? Can't see how after furiously clicking around. :-)

I am using the CMake adaptor in VS 15.6.4 if that is relevant.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0ee608ee-eb3f-e95d-1eea-d9e35a6e0bc0
* Version Independen

[2018-03-29 14:03] vitaly-pavluk opened #758 "Broken Link"
Very first link "see 64-bit Applications." is broken - it navigates to
"https://docs.microsoft.com/en-us/dotnet/framework/64-bit-apps.md" that does not exists -shows 404 page
Correct link should be without ".md"  - https://docs.microsoft.com/en-us/dotnet/framework/64-bit-apps
Please correct link.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2018-03-29 16:25] evanwindom commented on #754
Thank you for your question, CoMMyCZ.  It looks like you're managing Cloud subscriptions.  The bulk add capability is not yet live for Cloud subscriptions, but we anticipate it will be available very soon.

[2018-03-29 16:27] evanwindom commented on #754
Hi Terry,

I’ve responded to the comment.  How can I close the issue?  Is that something that you need to do?

From: Terry G. Lee [mailto:notifications@github.com]
Sent: Thursday, March 29, 2018 8:53 AM
To: MicrosoftDocs/visualstudio-docs <visualstudio-docs@noreply.github.com>
Cc: Evan Windom (Red Door Collaborative LLC) <v-evwind@microsoft.com>; Assign <assign@noreply.github.com>
Subject: Re: [Mi

[2018-03-29 16:33] kraigb commented on #740
The addition is live now.

[2018-03-29 16:33] #740 closed

[2018-03-29 17:15] TerryGLee commented on #754
@evanwindom Thanks for responding, Evan. I'll close the issue for you, now.

[2018-03-29 17:15] #754 closed

[2018-03-29 18:59] #726 closed

[2018-03-29 22:32] Mikejo5000 commented on #702
@paddyboyd I wonder if there is insufficient CPU activity? I saw this old post:
https://blogs.msdn.microsoft.com/profiler/2010/01/14/prf0025-no-data-was-collected-why-is-that/

[2018-03-29 22:37] gewarren commented on #755
@xtofl thank you for letting us know; this should be fixed in the next couple of days.

[2018-03-29 22:42] paddyboyd commented on #702
I don't think so, it's quite CPU intensive and I had previously had good
use out of the profiler in VS 2015.

On Thu, 29 Mar 2018, 23:32 Mike Jones, <notifications@github.com> wrote:

[2018-03-29 23:29] gewarren commented on #655
@pi3k14 I verified that adding the line \<CodeAnalysisCulture>nb-no</CodeAnalysisCulture> to the .csproj file silences the CA rules for incorrectly spelled literals (that aren't in a resource file). Please note that we are only able to spell-check English cultures due to licensing issues.

[2018-03-30 01:03] kvenkazure commented on #400
"Microsoft.CSharp.RuntimeBinder.Binder.Convert" not found by the compiler with this line .

    dynamic results = await DataService.getDataFromService(queryString).ConfigureAwait(false);

            if (results["weather"] != null)

How to resolve the issue.

[2018-03-30 07:12] gremlinsmasher commented on #741
You are welcome. Thank you for posting.

[2018-03-30 10:01] yereverluvinunclebert opened #760 "The enumerator object should be made open source"
In the spirit of javascript from which jscript is derived the enumerator object should be made open source. Other incarnations of javascript can run on the desktop outside of a browser and are perfect for scripting to allow access to the APIs that Windows provide. The enumerator object is an extension for jscript alone and is unavailable to other javascript variants. In practice this means that yo

[2018-03-30 17:41] #755 closed

[2018-03-30 17:41] #655 closed

[2018-03-30 19:04] MisinformedDNA opened #762 "Cannot add multiple component ids"
When I run `vs_installer.exe modify --installPath "C:\Program Files (x86)\Microsoft Visual Studio\2017\Community" --add Microsoft.Net.Component.4.6.TargetingPack` or `vs_installer.exe modify --installPath "C:\Program Files (x86)\Microsoft Visual Studio\2017\Community" --add Microsoft.VisualStudio.Component.PortableLibrary`, I get to the next screen successfully. However, if I want to combine them

[2018-03-30 21:23] #586 closed

[2018-03-30 21:29] lextm opened #763 "How to troubleshoot "Unable to connect to web server 'IIS Express'""
There are more causes for this error, so users should carefully troubleshoot following https://blog.lextudio.com/what-should-you-check-when-visual-studio-cannot-debug-asp-net-core-projects-4b5db8c5e129

Run as administrator is only useful when the port number is less than 1024, which does require administration permissions to run.

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2018-03-30 21:31] lextm opened #764 "A related documentation feedback"
https://github.com/MicrosoftDocs/visualstudio-docs/issues/763

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2ab4333f-c992-f580-5a1f-cfc60bcfb650
* Version Independent ID: e354bcf5-e277-8d35-9850-e5accfb8ace8
* Content: [Use Visual Studio to create an ASP.NET Core web app in C# - Visual Studio](https://docs.microsoft.c

[2018-03-30 22:04] #674 closed

[2018-03-30 22:06] Mikejo5000 commented on #642
You might try StingyJack's workaround. There's no standard way to do this in the UI.

[2018-03-30 22:12] Mikejo5000 commented on #748
Revising the note and making this information more prominent.

[2018-03-30 22:16] Mikejo5000 commented on #750
@Eagle3386 Fix in progress. Thanks for the correction!

[2018-03-30 22:18] Britford commented on #748
Thank you and have a great weekend!

From: "Mike Jones" <notifications@github.com>
To: "MicrosoftDocs/visualstudio-docs" <visualstudio-docs@noreply.github.com>
Cc: "Britford" <ted.yates@britford.com>, "Author" <author@noreply.github.com>
Sent: Friday, March 30, 2018 3:12:54 PM
Subject: Re: [MicrosoftDocs/visualstudio-docs] Shouldn't you at least mention that VS Emulator for Android has been abando

[2018-03-30 22:18] Mikejo5000 commented on #760
@bterlson This sounds like a proposal for ECMAScript standards committee.

[2018-03-30 22:23] Mikejo5000 commented on #732
@rainersigwald Rainer, is this a bug?

[2018-03-30 22:29] rainersigwald commented on #732
@paulomorgado I don't see that behavior. What version of MSBuild are you using, and can you specify the exact command line?

[code]

[2018-03-30 22:29] Mikejo5000 commented on #717
@rainersigwald It does sounds as if ConsoleToMsBuild is getting output from the tool that the Exec task is calling. Rainer, can you clarify?

[2018-03-30 22:35] rainersigwald commented on #717
Yeah, that sentence is confusing. I think it was intended to say something more like "cannot do additional processing or conditional operations based on the result of the tool or command". You can indeed capture stdout and stderr from Exec.

[2018-03-30 22:40] rainersigwald commented on #717
Unfortunately, it's more subtle and potentially confusing than that:

* When a project build starts, the working directory is set to the project's directory.
* A task can change the current working directory, but most don't.
* If Exec's `WorkingDirectory` parameter isn't specified, it uses the current working directory.

[2018-03-30 22:40] Mikejo5000 commented on #703
@rkpatrick Thanks for the feedback. Can you take a look at this article?
https://visualstudiomagazine.com/articles/2015/08/01/debugging-xaml.aspx
It discusses limits on what is shown in the visual tree, and talks about how to view the default values that aren't specified in XAML.

[2018-03-30 22:48] Mikejo5000 commented on #596
This issue is captured in a work item for our backlog.

[2018-03-30 22:48] #596 closed

[2018-03-30 23:35] Mikejo5000 commented on #702
@paddyboyd I discussed with the profiling team. Can you use the "Send Feedback" link at the top of Visual Studio (next to the Notifications icon) to provide feedback? To provide additional help, the profiling team would need to be able to get a repro. Thanks!

[2018-03-30 23:40] Mikejo5000 commented on #567
@Joe-Sewell-PreEmptive Thanks for the comments--sorry for the slow response time. Would it clarify the build order to append Step 3 with the following statement: "Targets that list the conditional target in `BeforeTargets` or `AfterTargets` still execute in the prescribed order."

[2018-03-30 23:47] Mikejo5000 commented on #664
Fix in progress

[2018-03-31 02:53] w3b2-99 opened #765 "Where is the code?"
Where is the source code for this example? Please provide a download link. Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 702dd6fa-5ad3-b9c7-04bc-e9431c228623
* Version Independent ID: 4d8a2c98-429a-b04e-1489-74475df5951a
* Content: [Mixed-mode debugging for Python - Visual Studio](https://docs.microsoft.com/en

[2018-03-31 05:03] MNF opened #766 "There are a few confusing lines “Step 2: Step 2: Release your app” in the doc"
Is it suppose to have Go To “Step 2: Release your app”?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65d6eb45-903b-7cc8-d09f-6195240aecfa
* Version Independent ID: 749c6317-c32f-a1ea-8959-b319af1815c1
* Content: [Diagnose problems after deployment | Microsoft Docs](https://docs.microsoft.com/en-au/visualstudio/debugg

[2018-03-31 11:19] amckern opened #767 "Poor"
Overall, this is good feedback, but I have an active and installed version of VS2017 community.

Problem is, i am unable to modify the installed copy, and instead the launcher wants me to install a new copy.

Please modify article for "if install option is only present but have installed copy"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2018-03-31 15:03] SirJosh3917 opened #768 "Question - Does it install packages for a specific OS?"
Let's say I start creating a local cache on a Windows 7 machine. Can I use the exact same cache for another OS, say windows 10, and expect it to work fine?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b2a7f87-7685-2618-9be0-f2286662342f
* Version Independent ID: 626a45d3-732a-6992-9f0c-bf06bc87fe1c
* Content: [Insta

[2018-03-31 19:53] paulomorgado commented on #732
Have you tried 15.6.82.30579 or 15.7.66.2115, @rainersigwald?

[2018-04-01 23:31] bitsrules opened #769 "Problem debugging C++ extensions for Python x64"
Please help me with the debugging problem posted on StackOverflow. https://stackoverflow.com/questions/49571007/debugging-c-extension-for-python

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 40e3b6b1-a3d2-f4f2-b1ad-dd654a062343
* Version Independent ID: b2418b84-04f4-60d2-ec1d-291a5d4d0c51
* Content: [Working with C++

[2018-04-02 13:47] ocdtrekkie opened #771 ""Make single instance application" info should send me somewhere with more details"
I spent a lot of time searching Docs to *not* find details about how the single instance application feature worked. What I was looking for was primarily how to pass arguments to the main application with it, which I finally found over here: https://msdn.microsoft.com/en-us/library/microsoft.visualbasic.applicationservices.windowsformsapplicationbase.startupnextinstance(v=vs.110).aspx

The Interne

[2018-04-02 14:41] thejonan commented on #597
Thank you for your reply. Unfortunately the referred workload is reported non available, when I try to install it on a machine that has VS Building Tools only. Which is why I needed this manual way of installation at the first place.

Going with PSH's: `Install-Package Microsoft.VSSDK.BuildTools` fails again with no success in finding the designated package. Is it impossible to have VSSDK on Build

[2018-04-02 16:27] kraigb commented on #765
Thanks. I agree that I need to get the sample up somewhere. Stay tuned.

[2018-04-02 17:20] TerryGLee commented on #767
@amckern Thanks for your feedback. We'll investigate this and reply soon.

[2018-04-02 17:21] bterlson commented on #760
Enumerator will not be a part of ES which already offers similar functionality: iterators and generators (and their recently introduced async variants). Any code that makes use of Enumerator merely for the API would be far better served using standard iterators.

I also don't think there is anything to open source here. Aside from the API surface area, Enumerator is a whole lot of COM/legacy windo

[2018-04-02 17:22] TerryGLee commented on #768
@SirJosh3917 Thanks for your feedback. We'll investigate this and report back, soon.

[2018-04-02 17:25] TerryGLee commented on #763
@lextm Thanks for your input. We appreciate your adding the extra information.

[2018-04-02 17:28] TerryGLee commented on #764
@lextm Thanks for your input. We appreciate your adding a reference to the extra information you provided on a related article.

[2018-04-02 17:28] #764 closed

[2018-04-02 17:50] Joe-Sewell-PreEmptive commented on #567
That sounds fine to me. Thanks for looking into this.

[2018-04-02 18:10] #664 closed

[2018-04-02 18:10] #748 closed

[2018-04-02 18:10] #750 closed

[2018-04-02 19:20] colbroth opened #772 "Invalid example setting collection->SomeStrings = new Collection"
In the example, the code shows   collection->SomeStrings = newCollection; But the class indicates the property setter violates the warning. I believe the example should remove the line of code "collection->SomeStrings = newCollection;" as it is not needed. The Clear and AddRange will set the SomeStrings value.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2018-04-02 19:54] gewarren opened #773 "#Disable warning in VB"
F1 on #Disable warning in VB lands here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a28ee58-bd99-e74a-0c0c-30f5a41da08e
* Version Independent ID: 2467c672-a567-583c-2801-87dcaf0f2c91
* Content: [Default page for F1 in Visual Studio - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/ide/not-in-toc/defau

[2018-04-02 20:17] gewarren commented on #772
@colbroth thank you for the feedback! I will look into this.

[2018-04-02 21:18] gewarren commented on #771
@ocdtrekkie Thanks so much, I'll add a link to the page that helped you from the single instance section. Thanks again!

[2018-04-02 21:21] gewarren commented on #756
@mikeblome Can you help @charlie-ht out?

[2018-04-02 23:03] bitsrules commented on #769
I have a problem when I try to debug my C++ extension for Python.
The error is
**Fatal Python error: PyThreadState_Get: no current thread**

I followed this [guide][1] and it works when I run in the release version.

Python code:

    from itertools import islice
    from random import random
    from time import perf_counter

    COUNT = 500000  # Change this value depending on the speed of your

[2018-04-02 23:34] gewarren commented on #539
@charlespetzold Can [Verify your xamarin environment](https://docs.microsoft.com/en-us/visualstudio/cross-platform/verify-your-xamarin-environment) be updated?

[2018-04-02 23:35] #663 closed

[2018-04-02 23:37] gewarren commented on #724
Many enum field links were broken during the conversion from MSDN to docs.microsoft.com.

[2018-04-02 23:38] gewarren commented on #730
@PureWeen Thanks for the feedback. We will try to address this soon.

[2018-04-02 23:38] conceptdev commented on #539
@gewarren we are planning to redirect this to content in https://docs.microsoft.com/xamarin/

[2018-04-02 23:42] #753 closed

[2018-04-03 00:59] charlespetzold commented on #539
@gewarren : An update to that page is part of this PR: https://github.com/MicrosoftDocs/visualstudio-docs-pr/pull/1683

[2018-04-03 01:22] bitsrules commented on #769
I managed to get it working with Win32 (x86) of Python 3.6.
Will try again from scratch with x64 Py.

[2018-04-03 01:39] bitsrules commented on #769
On x64 I can hit the break point when debugging
When I step over (F10) it crashes in typeobject.c in the method PyType_IsSubtype()
It works in x86.

![debugbreakhit](https://user-images.githubusercontent.com/33675621/38224439-f87b4c94-372a-11e8-8240-741fde7d64e7.PNG)
![exceptionthrow](https://user-images.githubusercontent.com/33675621/38224442-fbd121ac-372a-11e8-9d01-024ef598c193.PNG)

[2018-04-03 01:51] kraigb commented on #769
Hi @bitsrules -- because you're looking at a potential product bug (that goes beyond documentation), please file an issue on https://github.com/Microsoft/PTVS/issues so the engineering team can help you out for your specific version of VS and PTVS. Do @ mention me as well so I can follow the thread and amend the documentation as necessary.

[2018-04-03 01:53] kraigb commented on #769
BTW, in general I believe you need to use a 32-bit CPython environment to work with C++ at present (which is in the docs). You may be running into x64 incompatibilities, but again, the engineering team can help you better there.

Close this issue once you get the PTVS one file (and ref this one).

[2018-04-03 01:53] kraigb commented on #769
Sorry, hit the wrong button...didn't mean to close. :)

[2018-04-03 04:42] jdanyow commented on #663
Sorry, just seeing this.

@morgs32 the open source version is https://utteranc.es

[2018-04-03 08:51] sryabkov commented on #698
@TerryGLee Thank you for your response and clarification

[2018-04-03 10:58] walterdolce commented on #524
I was also looking forward to learning about the "Project" directive/section and what can be defined within it but couldn't find any information about it anywhere in this documentation so far.

[2018-04-03 15:44] S-List opened #774 "Suppress this warning for exceptions in portable class libraries"
As serialization doesn't seem to be available for Portable Class Libraries, I guess it is also OK to suppress this warning for exceptions in these libraries when the other three constructors are implemented.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a55e7ba0-f8c0-68fb-d2db-c8b45d60c4ad
* Version Independent ID: e2

[2018-04-03 16:09] rainersigwald commented on #732
I do see this problem with 15.6.82. Looks like it was fixed with Microsoft/msbuild#3098.

I'd say to leave the docs as they are since it's the intended behavior and will be fixed with 15.7. @Mikejo5000?

[code]

[2018-04-03 16:40] Mikejo5000 commented on #732
Yes, since the fix will bring the docs up to date we shouldn't change anything.

[2018-04-03 16:47] haragopal87 opened #775 "Excel connection string - defaultdir"
Excel connection string works only when default dir is provided as "defaultdir=.\;" instead of "defaultdir=.;" without quotes.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 53d4d170-fcf4-6caf-da44-dfe6e194a257
* Version Independent ID: c980b0f6-ed24-9c4a-0b2e-77962aafc81d
* Content: [Walkthrough: Using a Configuration

[2018-04-03 17:00] mikeblome commented on #756
@Charlie-ht
With CMake projects, you can install GTest using vcpkg: https://docs.microsoft.com/en-us/cpp/vcpkg
Type "vcpkg install gtest" and then reference the vcpkg.cmake file in your CMakeLists file.

[2018-04-03 19:52] kraigb commented on #765
You can find it on https://github.com/Microsoft/python-sample-vs-cpp-extension. Let me know if you have any issues with it. I'll be adding a link to the article as well, but in the meantime I'm closing the issue.

[2018-04-03 19:52] #765 closed

[2018-04-03 19:54] kraigb commented on #769
Closing as it's been transferred to PTVS issues.

[2018-04-03 19:54] #769 closed

[2018-04-03 20:08] Nathan-Tarin opened #776 "Visual Studio Team Services - Amount of users"
Hello,

It was my understanding that as part of the benefit through VSS, VSTS accounts for Standard subscriptions provided the new users with 5 free users initially, with the opportunity to purchase more if needed and that Cloud subscriptions had unlimited users for free. Is this no longer true?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2018-04-03 21:11] paulomorgado commented on #732
I've been seeing this consistently being wrong version over version that I thought it was a documentation error.

But I do like the way it's documented better.

[2018-04-04 02:25] nguyenthanhliemfc opened #777 "Please give me command to create offline installer?"
Hi, I need intall offline:
1. Visual Studio 2017
2. Xamarin (UWP, iOS, Android)
3. Emulator for Android
4. Windows 10 Emulator
Please give me cmd command to install abow components!
Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b2a7f87-7685-2618-9be0-f2286662342f
* Version Independent ID: 626a45d3-732a-699

[2018-04-04 09:31] joseangelmt opened #778 "Video no longer available"
The videos (in popscreen.com) are no longer available.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0a762743-426f-ae8a-5c4a-fdb7fcfe250d
* Version Independent ID: b1ec684f-90fc-04f4-19cf-c6b6dce6d078
* Content: [Animate objects in XAML Designer - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/designers/

[2018-04-04 11:15] shalihamza opened #779 "Deploy wpf application with access database"
I build a wpf application using access database now I want to deploy this application. There is no perfect solution in any one. will you help me please share me this idea.
ah85863@gmail.com

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30631bf6-bd74-a200-27b4-277ea35325e8
* Version Independent ID: 45a25442-c600-2b20-e

[2018-04-04 14:51] cpdohert commented on #762
You're using the wrong syntax.  You need --add for *each* componentid you want to install.  The ; syntax is for the includeRecommended and includeOptional arguments (which you aren't using).  The command line you want is

vs_installer.exe modify --installPath "C:\Program Files (x86)\Microsoft Visual Studio\2017\Community" --add Microsoft.Net.Component.4.6.TargetingPack --add Microsoft.VisualStudio

[2018-04-04 15:14] MisinformedDNA commented on #762
The documentation needs to be improved then. There are no examples of adding multiple component ids and the documentation `--add <one or more workload or component IDs>` sure seems to imply you can just list them after the `add`.

[2018-04-04 16:05] gewarren commented on #774
@S-List thanks for the feedback. I'll confirm this and update the doc as necessary.

[2018-04-04 16:06] gewarren commented on #775
@haragopal87 thank you for the feedback. I'll update the doc.

[2018-04-04 16:07] gewarren commented on #778
@joseangelmt thank you for the feedback. I'll get this link updated.

[2018-04-04 17:43] MisinformedDNA commented on #762
Yea, I missed that, repeatedly.

But, those instructions should be contained within the descriptions for the arguments.

[2018-04-04 19:20] miguelguzman opened #780 "Where is this Bootstrapper Manifest Generator???"
I can't find the Bootstrapper Manifest Generator referred to by this article. Please, update!!!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f270d325-9120-a89e-2275-2486f95edbf5
* Version Independent ID: 59bd9a92-920d-be12-12cd-16877f410109
* Content: [Creating Bootstrapper Packages - Visual Studio](https://docs.micr

[2018-04-04 21:08] TerryGLee commented on #762
@MisinformedDNA @cpdohert Thanks to you both for your feedback. We do have a list of examples on this page: [Command-line parameter examples for Visual Studio 2017 installation](https://docs.microsoft.com/en-us/visualstudio/install/command-line-parameter-examples). Meanwhile, we'll see what we can do to make the description on this page clearer.

[2018-04-04 22:23] gboysen opened #781 "Remote debug pythonon Raspberry"
Well I tried everything but couldn't get PTVS debugging to work I can connect vie SSL but no debugger and PTVS tools did not connect !
Given that c++ hasb plug-in and go tool I hope you can make this better soon.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 904b359d-de5e-adf4-9966-e1ab5be204be
* Version Independent I

[2018-04-04 22:40] gewarren commented on #483
On further thought, disabling code analysis on build will not get rid of the warnings/errors if they are coming from Roslyn analyzers. You can select **Analyze > Run Code Analysis and Suppress Active Issues** to "baseline" the analysis state of the solution (or project). Sorry for the confusion.

[2018-04-05 11:56] Eagle3386 commented on #750
Not fixed as @fenxu's commit 09736cac5e1ea79601c26c66837c0d992b9ab9a3 left [line 49](https://github.com/MicrosoftDocs/visualstudio-docs/blame/master/docs/msbuild/getassemblyidentity-task.md#L49) (sorry for blame-abuse, but GH can't highlight `.md` files) unchanged and XML forbids empty lines.

[2018-04-05 16:46] kraigb commented on #781
Thanks for the feedback. The best place for this issue https://github.com/Microsoft/PTVS/issues, as it may involve feature work. Check if your issue is already covered with https://github.com/Microsoft/PTVS/issues/763. In the meantime, I'm closing this doc issue with the expectation that you'll repost on the PTVS issues list.

[2018-04-05 16:46] #781 closed

[2018-04-05 16:47] kraigb commented on #617
https://docs.microsoft.com/en-us/visualstudio/python/working-with-c-cpp-python-in-visual-studio#alternative-approaches has been updated.

[2018-04-05 16:47] #617 closed

[2018-04-05 17:54] #483 closed

[2018-04-05 17:58] MikeMarlowe commented on #768
When installing Visual Studio, some components may be installed that are OS version/architecture specific.
However, when you can create an offline layout, it will not be specific to that OS version.  It will contain everything it needs to install Visual Studio on any supported OS version.  For example, you could create a layout on a Windows 7 x86 machine and install Visual Studio from that layout

[2018-04-05 18:59] #768 closed

[2018-04-05 20:37] gboysen commented on #781
Thanks I will have a look later and keep you posted.

On Thu, Apr 5, 2018 at 11:46 AM, Kraig Brockschmidt <
notifications@github.com> wrote:

[2018-04-06 02:24] tristanbarcelon opened #783 "modify command with --remove options installs the workloads instead of removing them"
I installed Visual Studio Enterprise 15.6.5 from an offline layout which contained the following workloads:
'Microsoft.VisualStudio.Workload.CoreEditor', 'Microsoft.VisualStudio.Workload.Azure', 'Microsoft.VisualStudio.Workload.Data', 'Microsoft.VisualStudio.Workload.Node', 'Microsoft.VisualStudio.Workload.Python', 'Microsoft.VisualStudio.Workload.DataScience', 'Microsoft.VisualStudio.Workload.Man

[2018-04-06 02:40] tristanbarcelon commented on #783
Here's a screenshot of what I happened to catch while the modify command was running.

![image](https://user-images.githubusercontent.com/5810165/38401179-4a1ffa2e-3922-11e8-8dd5-662900548534.png)

[2018-04-06 12:29] InternetPseudonym opened #784 "outdated"
The majority of this document is outdated - it is completely sufficient to install the data connectivity components and select "Microsoft Access Database file" instead of "other" and everything will work from there -- the additional steps are completely unnecessary for VS2017 ... apparently ACCDB files are now supported

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2018-04-06 12:30] InternetPseudonym commented on #784
yes, i am talking about ACCDB files - MDB works, too

[2018-04-06 14:26] screig commented on #604
Any ideas? Instructions that do work?

[2018-04-06 18:30] TerryGLee commented on #767
@amckern We have added more information to the [Modify Visual Studio 2017](https://docs.microsoft.com/visualstudio/install/modify-visual-studio) to address the issue you brought to our attention. Again, thanks for doing so.

[2018-04-06 18:30] #767 closed

[2018-04-06 21:01] TerryGLee commented on #783
@tristanbarcelon Thanks for letting us know. We'll reply with more information, soon.

[2018-04-07 07:11] Bethannfrum commented on #667
Fix and return to original

[2018-04-08 22:15] TerryGLee commented on #777
Before you construct a script, you must choose your edition of Visual Studio and what programming language you want to use.

However, here is some information to help get you started:

There are examples on this page that you can use to help you pattern your offline installation script:
[Install Visual Studio 2017 on low bandwidth or unreliable network environments](https://docs.microsoft.com/en-u

[2018-04-09 16:51] gewarren commented on #784
@InternetPseudonym thank you for telling us about this. I will try it out and update the doc as necessary.

[2018-04-09 16:53] gewarren commented on #779
@Mikejo5000 it looks like some topics are still assigned to shoag. Can you see if you can answer this question?

[2018-04-09 17:12] Mikejo5000 commented on #779
@shalihamza Hi shali, can you clarify the issue you are seeing? Is the Build > Publish option (or the right-click the solution in Solution Explorer and choose Publish) available in your project? What is the VS WPF template you are using, and in what version of VS? What is the limitation you are seeing for your app? Thx

[2018-04-09 17:19] Nathan-Tarin opened #788 "Production Use"
Also, would it be possible to know within a single source, and not different, scattered, statements, what "Production Use" is and why it isn't allowed within the subscription's licensing terms?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe2c630f-bb11-e092-d5c1-263ba42fb18e
* Version Independent ID: 80e2c72a-f2b1-29

[2018-04-09 18:26] Nathan-Tarin opened #789 "Technical Support"
Can we update the information regarding how to submit a technical support incident for Azure? Subscribers have to access this link in order to do so: Portal.Azure.com > Help + support > New support request.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 73356ab4-87d3-09fb-557f-4533fc133156
* Version Independent ID: ce5

[2018-04-09 18:34] Nathan-Tarin opened #790 "Typo - Overview"
There is a typo on the introduction statement. It should say "subscriptions" and it says: subscriptoins.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9339facb-e027-7d83-b1ab-b4c4363a109b
* Version Independent ID: c9000f86-0aa5-59ff-d3e0-a0e649708b88
* Content: [Windows Developer Account Benefit in Visual Studio Subsc

[2018-04-10 14:51] ChrisMaddock opened #792 "Class Designer has become 'optional' component with VS 2017"
As of VS 2017, the class designer appears to have become an optional component which must be installed separately. This page and others should mention this. (But this was the first page I was brought to by Google!)

Source of information: https://stackoverflow.com/q/42233831/1768779

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2018-04-10 16:42] Mikejo5000 commented on #766
@MNF Thanks for catching this! Fix in progress

[2018-04-10 16:44] HAllenMoody opened #793 "Bad video links"
Several links to tutorial videos are to popscreen.com but are no longer available.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dbdaf3d5-a7bc-fb9f-9750-9aee54546670
* Version Independent ID: d0e43ac2-9a43-a803-93bd-720a4ebaf664
* Content: [Organize objects into layout containers in XAML Designer - Visual Studio](http

[2018-04-10 16:44] Mikejo5000 commented on #760
Closing this one, since it is not actionable

[2018-04-10 16:45] #760 closed

[2018-04-10 16:46] Mikejo5000 commented on #702
Closing this (support request)

[2018-04-10 16:46] #702 closed

[2018-04-10 16:49] #642 closed

[2018-04-10 16:51] #659 closed

[2018-04-10 16:52] #687 closed

[2018-04-10 17:04] Mikejo5000 commented on #750
Removed one additional blank line.

[2018-04-10 17:08] Mikejo5000 commented on #717
Updating the confusing sentence based on Rainer's suggestion above. Leaving the "working directory" content as-is.

[2018-04-10 17:40] #567 closed

[2018-04-10 17:40] #717 closed

[2018-04-10 17:40] #766 closed

[2018-04-10 17:56] jh-orange opened #794 "Visual Studio Community 2017 WeatherApp build fails in 'Write shared data service code' step 7"
Severity	Code	Description	Project	File	Line	Suppression State
[appears to be same as 'kvenkazure' above]
Error	CS0656	Missing compiler required member 'Microsoft.CSharp.RuntimeBinder.CSharpArgumentInfo.Create'	WeatherApp	C:\Users\jhenn\source\repos\WeatherApp\WeatherApp\WeatherApp\Core.cs	17	Active

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2018-04-10 17:58] jh-orange commented on #400
It's now April.  Tkink a response available before we start running into Mother's Day, Memorial Day, Father's Day, Fourth, Labor Day, ...?

[2018-04-10 18:47] samiraguiar commented on #717
Nice, thank you guys.

[2018-04-10 20:17] StingyJack commented on #688
I think this also needs a section for when you want to publish the thing you have been debugging to somewhere else.

And please remember many of your customers aren't using .net core, can't/won't use EF, and could be using an MVC approach, but not necessarily asp.net's flavor of MVC.

[2018-04-10 20:31] Nathan-Tarin opened #795 "VSTS Free account users"
Hello,

Can you please confirm how many users do the subscribers get in the VSTS account? I know that they get Basic level accounts, that provide 5 free users, however, I was under the impression that if the benefit comes from a Cloud subscription, instead of a Standard subscription, you get unlimited users on the account. Could you please verify this?

Thanks in advance!

---
#### Document Detail

[2018-04-10 20:55] Regent commented on #496
I tried this on 15.6.3 and it doesn't work too - new edits are applied with editorconfig style but auto-format keep reverting to VS default settings.

[2018-04-10 21:36] gewarren commented on #794
@jh-orange thank you for the feedback. @charlespetzold can you take this one?

[2018-04-10 21:37] gewarren commented on #793
@HAllenMoody thanks for the feedback. I'll fix these links.

[2018-04-10 21:38] gewarren commented on #792
@ChrisMaddock thanks so much, i'll update this topic.

[2018-04-10 22:03] gewarren commented on #496
@eschneider999 and @Regent can you checkout the [troubleshooting section](https://docs.microsoft.com/en-us/visualstudio/ide/create-portable-custom-editor-options#troubleshooting-editorconfig-settings) and see if it resolves your issues? It could be that you have other .editorconfig files in your directory structure, or the "Follow project coding conventions" option is off. If you are still having

[2018-04-10 22:45] Regent commented on #496
I checked and I don't have any other editor configs and follow conventions is on.

[2018-04-10 22:51] tiagomacarios opened #797 "Add version a certain feature or warning was added"
Sometimes when looking at a warning or compiler flag it would be really useful if we could know when it was added to the compiler

[2018-04-11 00:40] ziaur210 opened #798 "Good and effective article - I love"
Waaaaaaooooooo:)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fd2baf39-d3c3-5d5a-d93c-f4040430c3dd
* Version Independent ID: c443e681-03f0-ea47-a09d-718693448b3d
* Content: [Inspect XAML properties while debugging - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/debugger/inspect-xaml-properties-while-de

[2018-04-11 00:47] PfhorSlayer opened #799 "SHE -> SEH"
In the $exceptionstack description, I believe that should be "SEH" ("Structured Exception Handler"), not "SHE".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a26e9139-f916-9a84-94fa-8c54e944b2f1
* Version Independent ID: 44e76195-6067-acf9-d664-25d3cb5ada07
* Content: [Pseudovariables - Visual Studio](https://docs.mic

[2018-04-11 01:30] charlespetzold commented on #794
That error message results from the use of the `dynamic` data type in a .NET Standard 2.0 library. To avoid that error, it is necessary to add the **Microsoft.CSharp** NuGet package as described in item 6 under the heading [Set up your solution](https://docs.microsoft.com/en-us/visualstudio/cross-platform/learn-app-building-basics-with-xamarin-forms-in-visual-studio#set-up-your-solution).

[2018-04-11 03:45] sarangan opened #800 "is that correct syntax? or missing < operator"
while(idx , str.length) {

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 420e9102-7ada-c66e-7a4d-a4087e9bb1be
* Version Independent ID: 8ef593b0-07d5-cc51-b299-791565072c42
* Content: [Iterators and Generators (JavaScript)](https://docs.microsoft.com/en-us/scripting/javascript/advanced/iterators-and-generators-javascri

[2018-04-11 05:46] aM3z commented on #475
Add Grid.Resources to the Grid such that the components, like the ListBox, are below it.  Otherwise, when you try to Build, you'll see an error that looks something like this:

System.Windows.Markup.XamlParseException: ''Provide value on 'System.Windows.StaticResourceExtension' threw an exception.' Line number '35' and line position '55'.'

Inner Exception:
Exception: Cannot find resource named 'n

[2018-04-11 08:17] eugenezenkevich opened #801 "Adding new Unity files and folders"
It is not very useful. On the contrary, more often I want to add a general c# class or interface, but there is no way to do this through the context menu in the Solution pad.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 55502210-e9fc-ac0a-acd2-f505d3626b57
* Version Independent ID: bdd0ad92-67f6-64f3-b9e1-26ca89230d4

[2018-04-11 17:05] gewarren commented on #797
@tiagomacarios thanks for the feedback. Are you talking about any particular compiler, e.g. csc.exe?

[2018-04-11 17:07] gewarren commented on #801
@eugenezenkevich thank you for the feedback. Are you saying the topic is not very useful, or the feature?

[2018-04-11 17:52] gewarren commented on #496
@Regent this could be a bug in the language service formatter. Which code language are you working in?

[2018-04-11 20:13] cmccambridge opened #802 "Missing information on #pragma Support"
Hi! The linked page for more information about "#pragma Support" does not actually contain any information on that topic. Could either that page be updated to include information on `#pragma prefast`, or perhaps a different link to a better resource be made from this article?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2018-04-11 20:25] conceptdev commented on #621
The screenshot was updated during a number of fixes, culminating in https://github.com/MicrosoftDocs/visualstudio-docs/commit/8cd749350a94d40de3deb008f7647630c9bc30d9

Thanks @michaelmaston for letting us know!

[2018-04-11 20:25] #621 closed

[2018-04-11 20:26] conceptdev commented on #719
This document has been updated - you will notice from the first screenshot, which now shows a UWP app instead of Windows Phone. I hope you have more success with the new version.

[2018-04-11 20:26] #719 closed

[2018-04-11 20:27] conceptdev commented on #539
The PR above has been merged, and the updated document has been published.

[2018-04-11 20:27] #539 closed

[2018-04-11 20:32] conceptdev commented on #533
This document has been recently updated for Visual Studio 2017 and .NET Standard. Thanks for the feedback.

[2018-04-11 20:32] #533 closed

[2018-04-11 22:24] richardlawler commented on #653
I think this has been addressed in the subsequent edits to the docs.

[2018-04-12 02:31] tiagomacarios commented on #797
cl.exe c++ compiler

[2018-04-12 02:44] Regent commented on #496
@gewarren I was trying it with C#.

[2018-04-12 09:29] Eagle3386 commented on #750
@Mikejo5000 Thanks for that!

Though, there are still issues with the docs, so to finally fix this issue, I've created PR #803 and already signed the CLA. Looking forward to your review.

[2018-04-12 17:42] #778 closed

[2018-04-12 17:42] #793 closed

[2018-04-12 18:55] gewarren commented on #802
@cmccambridge thank you for the feedback. @mikeblome perhaps we could link to [this](https://docs.microsoft.com/en-us/cpp/preprocessor/pragma-directives-and-the-pragma-keyword) topic?

[2018-04-12 18:56] gewarren commented on #799
@PfhorSlayer thank you for the feedback. @Mikejo5000 can you take this one?

[2018-04-12 18:57] gewarren commented on #797
@corob-msft or @mikeblome can you look at this suggestion for the C++ compiler docs?

[2018-04-12 19:31] gewarren commented on #496
@Regent can you please file an issue at https://github.com/dotnet/roslyn/issues?

[2018-04-12 19:50] corob-msft commented on #797
For very recent error additions and deletions, you may see an annotation in an individual error article such as "This error was introduced in Visual Studio 2017 version 15.3" or "This error is no longer reported starting in Visual Studio 2017." Unfortunately, there is no commonly available  source for when errors were introduced before about VS2015 update 3. In this case, your best clue may be whe

[2018-04-12 19:50] #797 closed

[2018-04-12 20:16] gewarren commented on #801
@conceptdev or @dantogno could you pass this feedback on to the product team?

[2018-04-12 20:38] binki opened #805 "Should refer to RoslynCodeTaskFactory since CodeTaskFactory is deprecated/nonportable"
https://github.com/Microsoft/msbuild/issues/2890 states that `CodeTaskFactory` is going away and will be replaced by `RoslynCodeTaskFactory`. If that is true, this howto and the walkthrough should both be able to be rewritten in terms of `RoslynCodeTaskFactory`. Otherwise, people are going to waste time writing solutions for the deprecated `CodeTaskFactory`.

---
#### Document Details

⚠ *Do not e

[2018-04-12 22:48] gewarren commented on #475
@ZeroComfort and @aM3z thanks again for the feedback. There is [another topic ](https://docs.microsoft.com/en-us/dotnet/framework/wpf/getting-started/walkthrough-my-first-wpf-desktop-application)that builds the same app as in this topic.

[2018-04-13 03:59] chrisdr2 opened #806 "Full install"
In step 2 the following command is given to download the entire layout: vs_community.exe --layout c:\vs2017layout --lang en-US

In step 3 what command line can I use to install everything?

Thanks

Christopher

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b2a7f87-7685-2618-9be0-f2286662342f
* Version Independent ID:

[2018-04-13 04:12] tiagomacarios commented on #797
@corob-msft It would be nice if you had that as a field, not just text. This way one knows where the information is.

I had this issue a couple of times. The last time was last week When I was looking for when C26438 was added and as you can see there is no mention in the help about when it was. I had to look around to figure out it was in 15.5.
https://docs.microsoft.com/en-us/visualstudio/code-q

[2018-04-13 07:41] shalihamza commented on #779
I deploy my wpf application using visual studio installer with access database. But there is the problem that when I install it on my or other computer application read records but cann't modify it or add new record in it

[2018-04-13 07:41] #779 closed

[2018-04-13 07:58] mrdemc opened #807 "Title of document"
Text instead of test

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: da36da82-f6c7-ce0f-1fe4-9b74add6b5a3
* Version Independent ID: 7f2a458d-cf8a-e430-919f-201e64d9dd63
* Content: [Editing Text Mix Models in Visual Studio - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/test/edit-test-mix-models-to-specify

[2018-04-13 14:24] AlexKeySmith commented on #659
Hi @Mikejo5000 sorry for not responding to you sooner, I haven't been back on the same project recently to have another go. But yes I'd seen that post thank and you're correct I was having trouble with the CLSID.

Thanks for your help.

[2018-04-13 16:49] Mikejo5000 commented on #659
@AlexKeySmith OK, great. For help with the issue, would you start a conversation with the IntelliTrace team at protid@microsoft.com

[2018-04-13 16:58] Mikejo5000 commented on #798
@ziaur210 Thanks, ziaur! We appreciate the feedback.

[2018-04-13 17:37] gewarren commented on #807
@mrdemc thank you, i will fix this soon!

[2018-04-13 17:44] #526 closed

[2018-04-13 18:38] conceptdev commented on #801
I've passed this on to the engineering team. @eugenezenkevich feel free to use https://developercommunity.visualstudio.com/spaces/41/index.html to provide further product ideas - they are easier to see, vote on, and track there.

Thanks again for your feedback.

[2018-04-13 18:38] #801 closed

[2018-04-14 07:28] eugenezenkevich commented on #801
@sailro @conceptdev @gewarren  Thank you very much ! This is cool!

[2018-04-14 14:11] JiraiyaO commented on #607
I see your points there tedvz, but there are some holes in there. For instance, the reason the full install is so large is due to all the additional optional features that you have to tick to install in the web installer, so why include all those in one ISO when they're optional in the web installer? It would make more sense to have the core application in its own separate ISO and have the additio

[2018-04-14 18:57] Matthew-Bonner commented on #446
This needs to be logged over at the Visual Studio website as the tooling needs to be updated, just updating the docs is not a good long-term solution.

[2018-04-14 19:09] Matthew-Bonner commented on #446
I've logged this for you, visit the following web page to track the status of this:
https://developercommunity.visualstudio.com/content/problem/234081/net-core-export-project-requires-hand-edit-of-proj.html

[2018-04-15 06:10] joellyons opened #808 "incorrect section heading"
The instructions section heading is "To specify the agents to use for a scenario".  But, shouldn't it be something like "To specify the percentage of new users to use for a scenario"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd31ab32-03e7-3af7-24a8-59c41f099e47
* Version Independent ID: ab8d3396-b9ff-306e-d433-84