[2018-10-24 08:49] dehghani-mehdi opened #1731 "Microsoft.VisualStudio.Workload.NetCoreTools vs Microsoft.VisualStudio.Workload.NetWeb"
Hey,

There is no different between `Microsoft.VisualStudio.Workload.NetCoreTools` and `Microsoft.VisualStudio.Workload.NetWeb` (_based on doc_), why there is 2 entries for them?

Thanks.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b29a1009-5ef4-707b-258e-fe8bbe7275b6
* Version Independent ID: 00fac5a7-fc6d-c9cb-2d26

[2018-10-24 14:17] MikeFarrington commented on #1623
While that topic does go into depth on the given issue, the page I linked to still makes no mention of what this setting does nor what toggling the setting is meant to achieve.  The link you provided could be placed in the document I mentioned after a summarized explanation.

[2018-10-24 15:04] mrmsbarnes opened #1732 "Please step through this page yourself."
This page HAS to be correct.  Hopefully for both Visual Studio 2015 and Visual Studio 2017.
When I try to follow this I get LNK 1561 entry point must be defined (regardless of No Entry Point setting).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec762474-4eeb-cba2-5290-fd664ab88f8c
* Version Independent ID: 318fa7f6-

[2018-10-24 15:11] TerryGLee commented on #1731
@dehghani-mehdi Thanks for your feedback. The "ID: Microsoft.VisualStudio.Workload.**NetCoreTools**" for [.NET Core cross-platform development](https://docs.microsoft.com/en-us/visualstudio/install/workload-component-id-vs-enterprise?view=vs-2017#net-core-cross-platform-development) workload and the ID: Microsoft.VisualStudio.Workload.**NetWeb** for [ASP.NET and web development](.NET Core cross-pl

[2018-10-24 15:15] mrmsbarnes commented on #1732
"Any CPU" setting can't be made.  Is this equivalent to Linker option /clr:safe (Common Language Runtime Suport)?

[2018-10-24 15:17] mrmsbarnes commented on #1732
Sorry, that's C/C++ option not Linker.

[2018-10-24 16:07] dehghani-mehdi commented on #1731
@TerryGLee you're welcome, thanks for the answer.

If I want to develop using .Net core and .Net Framework, I have to select both, even if they share same components?

I created local cache (aka offline installer) and for now I add both, but I want to remove one of them if is possible, that's why I asking this.

[2018-10-24 16:47] gewarren commented on #1623
@MikeFarrington Thanks for the feedback. I've labeled this issue as 'doc feedback' which means that the doc needs to be updated, so yes I will add the info you requested.

[2018-10-24 17:45] TerryGLee commented on #1731
@dehghani-mehdi  If you are installing by choosing individual components, you do not have to choose the same components again.

However, it looks like your question has expanded beyond a documentation issue to a support request. If you require further information, we have other venues for you, as listed in the "[Get Support](https://docs.microsoft.com/en-us/visualstudio/install/workload-component-

[2018-10-24 17:57] Mikejo5000 commented on #1732
@mrmsbarnes Thanks, I'll take a look at this.

[2018-10-24 22:29] Mikejo5000 commented on #1732
@mrmsbarnes I went through this doc for a .NET and a .NET Core calling app. There were a bunch of clarifications I made. Any CPU is only in C# apps now, so I fixed that. I believe the main issue you were seeing with the LNK 1561 error is that the configuration properties for the DLL apply on a per-platform basis, so if you set to a DLL configuration type for x64 build, you need to set it again for

[2018-10-24 22:30] Mikejo5000 commented on #1732
Also, this is focused on the mixed mode debugging scenario, unlike the C++ topic you link to, so I need to keep this. I only tested on VS 2017, since these are VS 2017 docs. However, the improvements should also help with VS 2015.

[2018-10-24 22:37] hyang336 opened #1733 "subtype missing"
I'm fairly new to VS and machine learning, I followed the steps in this tutorial, and installed the latest VS community 2017. But when I try to load any of the tensorflow projects it gave me this error:

There is a missing project subtype.
Subtype: '{D22814C2-A430-4A53-8052-A3A64BFB2240}' is unsupported by this installation.

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2018-10-25 02:18] mrmsbarnes commented on #1732
To Mike Jones,

Thank you very much.  I love c# but I still need c++ speed sometimes.  This will help.  (So will UWP I hear).

From: Mike Jones [mailto:notifications@github.com]
Sent: Wednesday, October 24, 2018 3:31 PM
To: MicrosoftDocs/visualstudio-docs
Cc: mrmsbarnes; Mention
Subject: Re: [MicrosoftDocs/visualstudio-docs] Please step through this page yourself. (#1732)

Also, this is focused on

[2018-10-25 10:27] AmirHMousavi opened #1735 "Couple the test project to the DLL project, No common properies"
I am using VC++ 2017 on Community v15.8.8
following the instruction at [Coupling ](https://docs.microsoft.com/en-us/visualstudio/test/walkthrough-writing-unit-tests-for-cpp-dlls?view=vs-2017#make_functions_visible), I do not see any `Common Properties ` and hence no `Framework and references` to add new reference in test project properties. Both `dll `and `test `project are created in one solution

[2018-10-25 13:51] tecky7 opened #1736 "Version Update 15.8.8 Not Displayed"
after doing a 120GB dowload from my ISP "the updates from this morning". The servers were OK but when compiling the files to the hard drive.  I was expecting 15.9 preview , but the system reportly a different version update "15.8.8"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7ea27919-8e31-6592-9b9e-9a0cabb0a7ff
* V

[2018-10-25 14:29] tecky7 commented on #1736
here is a Screenshot of my system
https://imgur.com/a/EoxQGzw

[2018-10-25 15:45] TerryGLee commented on #1736
@tecky7 Thanks; the update you mention (15.8.8) will be reflected on the page within the next few hours.

[2018-10-25 16:09] TerryGLee commented on #1736
Also, @tecky7, please note that Visual Studio will notify you of an update that matches the version number of its most current iteration. For your system, currently, that's 15.8._x_. If you want to download a Preview copy of the next version, 15.9.0, there are several ways to do that:
1.) Use the Visual Studio Installer (for more information, see the  [Update Visual Studio](https://docs.microsoft.

[2018-10-25 16:22] MrSent opened #1738 "Totally not useful"
How about a full read of the data, then an update so you can see the whole cycle? This is garbage

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4af8d633-f9be-cab0-195e-94e4f775aa35
* Version Independent ID: b0bf09be-4557-4427-b548-1c5d83aaa146
* Content: [Update data by using a TableAdapter - Visual Studio](https://do

[2018-10-25 17:03] tecky7 commented on #1736
As a programmer and a enginner at Bolton University dating back 2001 - 2004

https://courses.bolton.ac.uk/course/COM001-F-UOB-SX/2018-19/?_ga=2.45029156.1010388917.1540486729-1401855886.1540486729

You guys never verified the program installer verses the webpage

[2018-10-25 17:06] TerryGLee commented on #1736
@tecky7 Our publishing platform for documentation is separate from our software distribution channel. Typically, we mesh these together but sometimes they can get out of sync. This is one of those times.

[2018-10-25 17:07] #1736 closed

[2018-10-25 17:44] #1732 closed

[2018-10-26 05:38] jg15 opened #1744 "Examples?"
Is it possible to provide a few code examples for when these annotations should be used?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b4652882-17eb-e661-8283-968c19191752
* Version Independent ID: 4762e718-55eb-248b-4adc-a53e44d9189e
* Content: [Specifying When and Where an Annotation Applies - Visual Studio](https:/

[2018-10-26 06:13] sourabh1031 commented on #1449
I would like to work on this. I am a newbie to this project. can you please tell me the prerequisites to solve this

[2018-10-26 16:26] alexiorodrigues opened #1751 "Shortcut"
I was looking for a keyboard shortcut to easy the process. To access the override menu just Alt+Enter and it should be the 5th option, "Generate Overrides ..."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b2dad35-15b3-7597-6bca-4a7d617dac55
* Version Independent ID: e0fee980-8e2c-d52e-a713-cd92530d926b
* Content: [G

[2018-10-26 17:43] JimHume commented on #1414
Updating the docs would be great, however they don't appear where I think they would. I selected the control with the yellow binding and pressed F1. It took me to the following link which describes how to setup projects and solutions: https://docs.microsoft.com/en-us/visualstudio/ide/creating-solutions-and-projects?f1url=https%3A%2F%2Fmsdn.microsoft.com%2Fquery%2Fdev15.query%3FappId%3DDev15IDEF1%2

[2018-10-26 17:49] #1713 closed

[2018-10-26 17:51] crowcoder opened #1752 "Debug at Design Time with Immediate Window not working in .Net Core console app."
In a .Net Core 2.1 console app, breakpoints are not hit when using the Immediate Window.  I do see things like this output to the Immediate Window: "Cannot evaluate expression because the current thread is stopped in the prolog of a function." and "Expression has been evaluated and has no value". A .Net Framework console app works as described.

---
#### Document Details

⚠ *Do not edit this secti

[2018-10-26 18:19] KorkyPlunger opened #1753 "Add docs on how to find the "Performance Explorer Toolbar""
It would be quite helpful if these docs could tell you how to actually find the Performance Explorer toolbar, because it took me a full 25 minutes to find it.

It doesn't show up under "View &gt; Toolbars" or "Analyze &gt; Windows". It's buried under "Debug &gt; Profiler &gt; Performance Explorer &gt; Show Performance Explorer" (which seems like an odd place for it, since it's not a debugging tool

[2018-10-26 19:32] gewarren commented on #1713
@tlhintoq The issue was closed because I added a note that the Code Analysis tab is not available for .NET Core, .NET Standard, and other "new" project types. This is by design.

What is the actual problem you're trying to solve, and then perhaps I can point you in the right direction? Are you trying to suppress code analysis warnings from the Error List?

[2018-10-26 20:10] tlhintoq commented on #1713
@gewarren
Ok.  I'll try to rephrase it.
Hitting 'build' causes Visual Studio 2017 build 15.8.x to go off into limbo - if you've made any changes to a XAML document.
If you hover over the animated building icon of a box with arrows going into it, its stuck on the `Code Analysis` task.
In following the MSDN documentation to turn off automatic code analysis we are unable to turn it off because the ch

[2018-10-26 20:49] Christopher-St opened #1755 "VS 2017 SDK docs missing namespace: Microsoft.VisualStudio.TextTemplating"
The Microsoft.VisualStudio.TextTemplating namespace is missing from the VS 2017 documentation. Here it is in the [2015 docs](https://docs.microsoft.com/en-us/dotnet/api/microsoft.visualstudio.texttemplating?view=visualstudiosdk-2015l). As this assembly is part of the VS Extensions workload I think it should still be in the docs.

Apologies if this is intentional!

[2018-10-27 05:15] gewarren commented on #1449
@sourabh1031 Thanks for offering to help fix the image. Since the text is part of the image, it's not a straightforward fix as the image must either be "doctored" to change "being" to "begin", or a new image must be generated.

[2018-10-27 05:33] gewarren commented on #1713
@tlhintoq It looks like you're looking at the properties for the *solution* instead of the *project*. The topic you refer to asks you to right-click on the _project_ and select Properties, not right-click on the solution. I think that explains why you don't see the checkbox you expect to see. For a project type that has static code analysis, this is what you should see in the Code Analysis tab of

[2018-10-27 05:53] tlhintoq commented on #1713
@gewarren
You are right.  My mistake.  A picture really is worth a thousand words.  I feel silly now. Amazing how one can read the thing, wrong, a dozen times.  Once you think you know what you're seeing you see it the same way every time.

I hope you have a terrific weekend!

[2018-10-27 17:08] ThermoX360 opened #1757 "Importance?"
How about describing what effects the Importance setting does? What's the difference between High, Normal, Low??

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c1eac2fe-feb2-6128-8509-208ed9b4ca04
* Version Independent ID: cb15b5ff-651f-9392-b2a8-69ea97350010
* Content: [Message Task - Visual Studio](https://docs.micro

[2018-10-28 09:57] arturek opened #1762 "MSBuild Items shouldn't contain File Tracking section"
It seems that the File Tracking section is included by mistake as a part of MSBuild Items description.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 401f8953-3165-194b-3706-92336a5a93e1
* Version Independent ID: 1b4ee143-9b5e-58fe-f82e-6614f36b8113
* Content: [File Tracking - Visual Studio](https://docs.microsoft.com/

[2018-10-28 10:02] arturek opened #1763 "Link to adding feedback directly on GitHub is invalid"
The link from the content feedback dropdown leads to https://docs.microsoft.com/en-us/visualstudio/msbuild/%7B0%7D which displays a 404 page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 401f8953-3165-194b-3706-92336a5a93e1
* Version Independent ID: 1b4ee143-9b5e-58fe-f82e-6614f36b8113
* Content: [File Tracking - Vis

[2018-10-28 18:51] StingyJack opened #1764 "Is there a way to control the amount of "fade" that is on this panel?"
its currently an on/off. I want to know when something is unused, but the fade level is too faint. Is there any way to control the darkness of the fading?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f41602f7-2c5e-bf2a-9eab-50740dd10784
* Version Independent ID: c6b1f7c4-eb2d-a62a-7e1b-eb32b8a88947
* Content: [Option

[2018-10-28 23:23] scouser27 opened #1767 "Incorrect filename app.ts"
The file name in section #1 of Modify your app and push changes should be app.js

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 52d4b59f-07fd-b894-01f7-9bc2fc06e98a
* Version Independent ID: 1cb6913e-21a7-48d2-8b83-cb416304b0c5
* Content: [Publish a Node.js app to Linux App Service - Visual Studio](https://docs.microso

[2018-10-29 11:52] Dave-Lowndes opened #1772 "Hyperlink to R.11 please"
Don't make it hard for people to find the information.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9cdb5e3e-10a0-1e61-3319-56a5cc11f436
* Version Independent ID: f99be7aa-4c3f-a057-2d06-c06243ce0817
* Content: [C26409 - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/code-quality/c26409?f1url=https%3A%2

[2018-10-29 12:30] Dave-Lowndes opened #1773 "Hyperlink to C.21 please"
Make it easy for people to find things.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eeb33abc-c866-3403-2092-ce5e5ed572da
* Version Independent ID: fa68b7a3-14f5-7143-deed-a9ee7d5ca04a
* Content: [C26432 - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/code-quality/c26432?f1url=https%3A%2F%2Fmsdn.micros

[2018-10-29 12:42] Rajkumar-Uppala opened #1774 "How to auto upgrade VS2017 when there is a new upgrade available"
Hi Team,
Currently our team is focusing on How to upgrade the VS2017 automatically with out any manual intervention.
Any kind of settings/configuration/privileges are required on the local machine?

We are currently at VS 2017 15.8.8 version following the process mentioned in below link
https://docs.microsoft.com/en-us/visualstudio/install/update-visual-studio?view=vs-2017

Please share your thoug

[2018-10-29 13:01] christylopez111 opened #1775 "Nice"
Good tutorial for beginners

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 10a448aa-4d5d-f827-6511-6c4ac9528122
* Version Independent ID: 5a8e5560-40c3-3787-ae3c-ce84ed28cc79
* Content: [Walkthrough: Create a simple application with C# or Visual Basic - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/ide/w

[2018-10-29 15:13] Mikejo5000 commented on #1767
@billti I think app.ts is correct but we need to change the screenshot earlier. It shows a JS project instead of a TS project.

[2018-10-29 15:19] Mikejo5000 commented on #1762
@rainersigwald for comment on this issue

[2018-10-29 15:36] rainersigwald commented on #1762
Yeah, I'd say everything under `File Tracking` should instead be under `MSBuild Advanced Concepts`.

[2018-10-29 15:47] aleroot commented on #1101
The execution of the dotnet-uninstall-pkgs.sh should be added at the end of the visual studio uninstall script : https://raw.githubusercontent.com/MicrosoftDocs/visualstudio-docs/master/mac/resources/uninstall-vsmac.sh  .

Maybe a question about removing the the .net core, and if the user answer yes then proceeding with the removal

[2018-10-29 17:45] ViktorHofer opened #1776 "Example code is wrong"
Duplicate closing parenthesis "&gt;" vs "/&gt;".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4c2cbd60-5d56-af4f-b196-4c9f190a1586
* Version Independent ID: 6408870a-85cd-428c-5ede-2338804481d6
* Content: [ZipDirectory Task - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/msbuild/zipdirectory-task?view=

[2018-10-29 18:37] gewarren commented on #1764
@StingyJack I don't think controlling the amount of fade is currently supported. If you'd like to suggest this as a feature in a future version, please use the new “Suggest a feature” option on [Developer Community]( https://developercommunity.visualstudio.com/spaces/8/index.html).

[2018-10-29 18:51] #1764 closed

[2018-10-30 08:51] grroch opened #1777 "Another solution"
This is how I got rid of this pesky bug :
In Visual Studio 2017 got to
Tools -&gt; Options -&gt; Debugging -&gt; General -&gt; Enable 'Use Managed Compatibility Mode'
thanks to this article :
https://www.codeart.dk/blog/2018/9/vs2017-debugger-timeout/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3cfd7078-683e-9fd6-24

[2018-10-30 10:12] islambeddair opened #1778 "thanks"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b7e2601-1fe4-228c-bde4-e29e52c8f7b9
* Version Independent ID: f5e06a1c-63aa-75fb-8398-0cb32db19677
* Content: [Step 3: Set your form properties - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/ide/step-3-set-your-form-properties?view=vs

[2018-10-30 10:55] GeVanCo opened #1779 "There's no "Text" property for the checkbox control"
In secion "To add controls...", point 7 there's mentioned to select Text and change content to "Stretch".  However, there's no property "Text", there's only "(Name)" available in the Properties view when the checkbox is selected.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e155a58-40dd-c4f9-5089-dabc1870c5a8
* Vers

[2018-10-30 11:15] paulomorgado opened #1780 "ISerializable"
What about types implementing `ISerializable`? Should this rule be applied to types `ISerializable`?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6530e4d7-de03-64c6-972e-f5c2482db82c
* Version Independent ID: 8900d6df-d062-0d77-1756-525a8b4bd9a9
* Content: [CA2235: Mark all non-serializable fields - Visual Studio](ht

[2018-10-30 13:02] Boruc04 opened #1781 "Running Python unit test by vstest.console.exe"
I read this post and It was very helpful to me, but now I want to set up unit test written in Python in TFS CD pipeline. I found some post from Microsoft Support ( https://bit.ly/2JqLNbI ) that I need to run this code first with vstest.console.exe.
After hours and of investigations on how to run some simple test from python through vstest.console.exe do you know is there any way to do this?
I reac

[2018-10-30 14:07] yhvicey opened #1783 "Full list of item metadata?"
I'm seeking for documentation for &lt;LinkBase&gt; element and it seems missing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 62db4b12-8d5d-6a33-b5f6-b3f7320dd3f8
* Version Independent ID: 19ee6154-2eb2-b6a0-ab2e-96de2cfc05b2
* Content: [MSBuild Well-known Item Metadata - Visual Studio](https://docs.microsoft.com/en-

[2018-10-30 17:56] Mikejo5000 commented on #1767
Thanks, Bill. I'll update the screenshot.

[2018-10-30 18:03] TerryGLee commented on #1778
@islambeddair Do you have some specific feedback for us?

[2018-10-30 18:35] TerryGLee commented on #1779
@GeVanCo Thanks for letting us know; this is in our backlog to fix.

[2018-10-30 18:38] TerryGLee commented on #1775
@christylopez111 Thank you for your positive feedback! We very much appreciate it. :)

[2018-10-30 19:53] #1778 closed

[2018-10-30 19:54] #1775 closed

[2018-10-30 21:50] EdwinEngelen opened #1787 "Installation path with spaces"
Instead of the Visual Studio Build Tools I installed the full Visual Studio Enterprise 2017 package. I used the dockerfile above as a template.
Now I'm having trouble with the ENTRYPOINT statement, because of the spaces in the path to VsDevCmd.bat:
`C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\Common7\Tools\VsDevCmd.bat`
I expect this to be the same challenge as if the build tool

[2018-10-30 21:56] zooba commented on #1781
We strongly recommend using [pytest](https://docs.pytest.org/en/latest/) to run tests in continuous integration, or at least the built-in [unittest](https://docs.python.org/3/library/unittest.html) module.

The Visual Studio test adapter uses the latter behind the scenes, but does extra work to stream results. This means that tests take longer to run, and it is totally unnecessary when you are not

[2018-10-30 23:50] GlennDOrr opened #1788 "Change to Visual Studio Installer"
The "Snapshot Debugger" is now under "Azure development" instead of "ASP.NET" and web development"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a5f13f80-a3b0-9602-db14-48130d47ef7c
* Version Independent ID: 96ee1b24-bc43-5e46-f645-f4ccfe9f1ba1
* Content: [Debug live ASP.NET Azure apps - Visual Studio](https://docs.mi

[2018-10-31 08:10] Boruc04 commented on #1781
@kaigb - Thanks, I did run my test with adapter that you proposed and in return i receive message "Starting test execution, please wait..." - so same as when I run c# tests but after that nothing has happen.
I will than use pytest as @zooba recommend.
Thank you both for your help!

[2018-10-31 12:33] sylvaingirardbe opened #1791 "Code snippets don't display"
The snippets under 'Display choices to the user' and 'Process the user's response' aren't being displayed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 22df93bc-8f06-9840-c43d-785ce5f1f421
* Version Independent ID: 7778dd19-c88c-54ff-3391-84e642b86397
* Content: [Handle a concurrency exception - Visual Studio](https:

[2018-10-31 13:53] tomeks666 opened #1792 "But how to use snippet shortcut"
I am trying to Ctrl-K Ctrl-S and then I type shortcut name for the snippet, but I still have to navigate thorough categories and select the snippet with keyboard or mouse. Basically my defined shorcut in .snipped file does nothing. All I want to is to insert {} around a block with a single keystroke.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2018-10-31 15:45] Mikejo5000 commented on #1788
@andysterland Andy, might this refer to the App Insights Snapshot Debugger? Or is our Snapshot Debugger under the Azure workload now?

[2018-10-31 17:42] #1623 closed

[2018-10-31 19:43] #565 closed

[2018-10-31 20:13] heaths commented on #1787
You need to quote paths with spaces.

[2018-10-31 20:18] #1261 closed

[2018-10-31 20:22] #1309 closed

[2018-10-31 22:43] kvarkel commented on #1753
Ditto.  Thanks to Korky for helping me find it.

[2018-10-31 23:02] Mikejo5000 commented on #1753
I'll update the doc. Thanks!

[2018-10-31 23:49] evshieh-msft opened #1795 "Expected Behavior Combining Multiple Rulesets"
What's the expected behavior when combining multiple rulesets? For instance, if one ruleset ignores a rule while the other throws a warning, what will happen when the two are used together?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 546e8122-8074-7a9f-0ec5-de27f6c27637
* Version Independent ID: 827d1628-ecba-4f3f-5

[2018-11-01 03:41] demvin opened #1796 "Update needed"
With the following versions, I need to export the Hello class, else the app doesn't load (bundle is almost empty):
export class Hello extends React.Component {

    "express": "^4.16.4",
    "path": "^0.12.7",
    "react": "^16.6.0",
    "react-dom": "^16.6.0",
    "ts-loader": "^5.3.0",
    "typescript": "^3.1.5",
    "webpack": "^4.23.1",
    "webpack-cli": "^3.1.2"

---
#### Document Details

⚠

[2018-11-01 07:16] EdwinEngelen commented on #1787
Unfortunately it's not that easy.

These give error "'C:\Build' is not recognized as an internal or external command, operable program or batch file."
`ENTRYPOINT "C:\Build Tools\Common7\Tools\VsDevCmd.bat" &&`
`ENTRYPOINT "C:\Build Tools\Common7\Tools\VsDevCmd.bat &&"`

These give error "The filename, directory name, or volume label syntax is incorrect."
`ENTRYPOINT 'C:\Build Tools\Common7\Tools\

[2018-11-01 07:53] benjisanders commented on #1275
$o the clear micro$oft $olution is to download the profe$$ional (or higher) ver$ion.  Way to go micro$oft.

[2018-11-01 07:55] benjisanders commented on #1275
$o the clear micro$oft $olution i$ to download the profe$$ional (or higher) ver$ion. Way to go micro$oft.

[2018-11-01 13:13] Bluejanis commented on #903
Currently with version 2017 15.8.8 there is no device window entry in the design menu.

[2018-11-01 15:36] gewarren commented on #903
@diverdan92 Can you comment on whether the Device Window was removed from XAML Designer?

[2018-11-01 16:35] #1781 closed

[2018-11-01 17:14] crick3t commented on #1666
Agreed! There is so much information, but how can I get the latest version???

[2018-11-01 17:48] #1767 closed

[2018-11-01 17:48] #1791 closed

[2018-11-01 17:48] #1796 closed

[2018-11-01 17:59] gewarren commented on #1795
@evshieh-msft Do you mean if you have a rule listed twice in the ruleset, with different behaviors, which one takes precedence?

[2018-11-01 18:11] evshieh-msft commented on #1795
@gewarren yes exactly!

[2018-11-01 19:04] leonelhs opened #1798 "(Exception from HRESULT: 0x80070057 (E_INVALIDARG))"
just following the example when trying to add a command gets an error, it rises an exception  (Exception from HRESULT: 0x80070057 (E_INVALIDARG))

[2018-11-01 20:01] gewarren commented on #1798
@leonelhs Can you provide a link to the page with the example you were following?

[2018-11-01 20:32] leonelhs commented on #1798
https://docs.microsoft.com/en-us/visualstudio/extensibility/extensibility-hello-world?view=vs-2017
![visixerrorr](https://user-images.githubusercontent.com/3288436/47878005-e0489280-dde2-11e8-8456-4da4f71a63bf.PNG)

[2018-11-01 20:38] Mikejo5000 commented on #1666
For VS 2017, you need Build Tools for Visual Studio 2017
https://visualstudio.microsoft.com/downloads/?q=build+tools

[2018-11-01 21:05] conceptdev commented on #1497
Thanks for your feedback @jraldrin. By keywords do you mean placeholders in the snippet?

[2018-11-02 08:05] bugybunny opened #1800 "Mention commands"
"In the Modules window (while debugging, choose Debug &gt; Windows &gt; Modules)" could be extended to include the default shortcut + name of the command (Ctrl+Alt+U, Debug.Module).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e04e717-61a6-99eb-60cd-34263fa597b5
* Version Independent ID: 3ee15675-d5bd-f3c9-fb85-1b65

[2018-11-02 10:04] bugybunny opened #1801 "Explanation of different sized red dots"
I noticed today that the red dots on the left side can have different sizes. For example in this code example
    class Program
    {
        public static void Main()
(1)    {
(2)        Console.WriteLine("foo");
        }
    }

(2) is the normal sized dot that most people will know I guess and (1) is a smaller dot. I guess it has to do with there being no command on this line. An explanation ab

[2018-11-02 10:24] paulomorgado opened #1802 "Primitive types identified as non serializable"
In the above example, if you decorate the `Mouse` class with `SerializableAttribute`, you'll get a violation of this rule on the fields. If you change the implementation of the properties to auto-implemented properties, you'll get a violation of this rule on the properties.

Is that intended result?

If so, why?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2018-11-02 17:08] Mikejo5000 commented on #1800
Thanks. I'll add that info.

[2018-11-02 18:07] ViktorHofer opened #1804 "MsBuild is no longer installed in the GAC"
"MSBuild is no longer installed in the Global Assembly Cache. To reference MSBuild programmatically, use NuGet packages.". It would be great if you could instructions how to to this (i.e. vswhere) or link to another page that already explains this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eb723883-dd62-0c53-8617-

[2018-11-02 18:20] evshieh-msft commented on #1795
@gewarren any updates on this?

[2018-11-02 18:23] LisandroSu opened #1805 "Package could not be referenced"
@bathclin commented on [Thu Nov 01 2018](https://github.com/MicrosoftDocs/visualstudio-docs.ja-jp/issues/83)

I ran it according to the procedure, but the next package was not installed and I installed it manually.

pandas, sklearn

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 44d264fa-6d4e-0128-b0a0-f997d01c19a9
* Version Independent ID: 7d2e1867-4

[2018-11-02 19:26] GermaniU opened #1806 "Hi, cannot install the 0.4.3 on latest 7.6 VS for Mac"
Hi, cannot install tfs version control 0.4.3 on latest 7.6 VS4mac..
apparently 0.4.3 requires 7.7 version...
"dependencies not resolved:
Core v7.7
ide v7.7
Version Control v7.7"

[2018-11-02 19:41] Mikejo5000 commented on #1801
Thanks, I'll take a look at this. Sometimes, it's tricky to catch every adjustment to icons, etc. when the product gets updated.

[2018-11-03 09:52] dannypc1628 opened #1807 "Offline install error, it still go download component"
I find component directory name  too long to lost some words in  vs2017layout .
So installer can not find it .
Fill with words and install success.
example  https://dannyliu.me/fix-visual-studio-2017-offline-install-error/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 228076d1-94bf-c502-c018-08f7c0faf377
* Version Ind

[2018-11-03 15:56] gmanbandit opened #1808 "CA2202 - Finally Block"
Use null propagation in finally block. Replace "if" decision with...

stream?.Dispose();

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 836e7028-0bda-ef7c-fc11-4babb54ae70a
* Version Independent ID: 540dfe05-8e43-ed02-93d9-444c22485f84
* Content: [CA2202: Do not dispose objects multiple times - Visual Studio](https://d

[2018-11-03 18:48] StingyJack commented on #1685
TestSettings are for legacy mstest v1. You cant use them with v2, only runsettings are supported.   VS is giving you the wrong file.

[2018-11-04 11:53] timbryden opened #1815 "/admin/doc/ error"
Just a heads up for 5.1.10 ... I had to add
  'django.contrib.admindocs',
to INSTALLED_APPS within settings.py to see the documentation page (and avoid an error).  But then the documentation page displayed...
The admin documentation system requires Python's docutils library.

Note: I am using Python 3.6

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2018-11-04 19:21] invegat opened #1816 "Linux Visual Studio Code use F11 to toggle Full Screen"
Linux Visual Studio Code use F11 to toggle Full Screen

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 68544507-42a5-6364-b7e2-17115bd5c88d
* Version Independent ID: e588245e-c033-32a1-18b8-8bb81d7461fe
* Content: [Visual Studio full screen and virtual space mode - Visual Studio](https://docs.microsoft.com/en-us/visuals

[2018-11-05 05:34] gregvanl commented on #1816
Hi @invegat You have found the GitHub repo for the Visual Studio documentation, not the VS Code documentation. You are correct that VS Code uses F11 to toggle full screen mode, but regular Visual Studio uses Alt+Shift+Enter as correctly documented.

[2018-11-05 05:34] #1816 closed

[2018-11-05 15:43] invegat commented on #1816
Ok, Visual Studio code is different from Visual Studio Code

[2018-11-05 17:04] gewarren commented on #1808
@gmanbandit Yes you could write it that way too to save a line of code. I think that the way it's currently written is simpler to follow for developers that may not be familiar with the C# null propagation operator.

[2018-11-05 17:29] RAJU2529 opened #1817 "I updated VS community edition 2017 15.8.9 on 05-11-2018"
Just now  i installed  Visual Studio Community Edition 2017  15.8.9  on top of Visual Studio Community Edition 2017  15.8.4 .

First i downloaded Visual Studio Community Edition 2017 webinstaller from below website &gt;&gt;
https://download.visualstudio.microsoft.com/download/pr/221150da-35d1-45bf-9666-44bb9097fbaf/dd6bc2e5b597338cbd5b58cf1c678b58/vs_community.exe

and then i disabled antivirus an

[2018-11-05 18:18] TerryGLee commented on #1817
@RAJU2529 Thanks for letting us know. It sounds like you experienced a successful installation. If there were problems with it, please see our support options in the "[Get support](https://docs.microsoft.com/en-us/visualstudio/install/update-visual-studio?view=vs-2017#get-support)" section of the [Update Visual Studio](https://docs.microsoft.com/en-us/visualstudio/install/update-visual-studio?view

[2018-11-05 18:18] #1817 closed

[2018-11-05 18:30] TerryGLee commented on #1774
@Rajkumar-Uppala Thanks for your inquiry. If you require support for your installation, please consider contacting us by using either our dedicated [Live Chat](https://visualstudio.microsoft.com/vs/support/#talktous) (English only) support option for installation issues, or reaching out to us and other Visual Studio developers through our [Visual Studio conversation in the Gitter community](https:

[2018-11-05 18:31] #1774 closed

[2018-11-05 18:33] TerryGLee commented on #1712
@Jonathan811 For installation support requests, please consider using either our [Live Chat](https://visualstudio.microsoft.com/vs/support/#talktous) (English only) support option for installation issues, or reaching out to us an other Visual Studio developers through our [Visual Studio conversation in the Gitter community](https://gitter.im/Microsoft/VisualStudio).

[2018-11-05 18:34] #1712 closed

[2018-11-05 18:39] TerryGLee commented on #1709
@JamesMBristow2 Thanks for your feedback; we appreciate it. And yes, while you could use one line, we chose to use multiple lines in our examples so that the individual command lines can be more easily differentiated between. But thanks for including an alternate example via this inquiry mechanism.

[2018-11-05 18:39] #1709 closed

[2018-11-05 18:55] #1795 closed

[2018-11-05 19:04] TerryGLee commented on #1570
@uecasm For installation support requests, please consider using either our [Live Chat](https://visualstudio.microsoft.com/vs/support/#talktous) (English only) support option for installation issues, or reaching out to us and other Visual Studio developers through our [Visual Studio conversation in the Gitter community](https://gitter.im/Microsoft/VisualStudio).

[2018-11-05 19:04] #1570 closed

[2018-11-05 19:08] TerryGLee commented on #1566
@GCPD To resolve installation problems such as this, please consider using either our [Live Chat](https://visualstudio.microsoft.com/vs/support/#talktous) (English only) support option for installation issues, or reaching out to us and other Visual Studio developers through our [Visual Studio conversation in the Gitter community](https://gitter.im/Microsoft/VisualStudio).

[2018-11-05 20:18] CeciAc opened #1818 "離線安裝仍出現下載失敗的解決辦法"
@dannypc1628 commented on [Sat Nov 03 2018](https://github.com/MicrosoftDocs/visualstudio-docs.zh-tw/issues/37)

在vs2017layout中尋找錯誤訊息中，需要下載的套件名稱
如果有該套件存在，可能因為套件名稱後面有漏字，導致安裝程式以為無該套件
補上闕漏的字就可以正常安裝
詳細 https://dannyliu.me/fix-visual-studio-2017-offline-install-error/

---
#### 文件詳細資料

⚠ *請勿編輯此區段。 這是 docs.microsoft.com ➟ GitHub 問題連結的必要項。*

* ID: 228076d1-94bf-c502-c018-08f7c0faf377
* Version Independen

[2018-11-05 20:20] CeciAc commented on #1818
Hi team,
I'm moving this here since I understand the user is making suggestions on the documentation:

Backtranslation:
_Offline installation still has a download failure solution_

_The name of the kit to download in the error message in vs2017layout
If the kit exists, it may be because the package name is followed by a missing word, causing the installer to think that there is no such package.
F

[2018-11-05 21:07] uecasm commented on #1570
This was a feature request, not a support request.

[2018-11-06 00:04] TerryGLee commented on #1570
@uecasm Thanks for the further clarification. For information about that, please see our [Suggest a feature](https://docs.microsoft.com/en-us/visualstudio/ide/suggest-a-feature?view=vs-2017) page. (As an FYI, these options are listed in the "Get support" section of any installation-related page.)

[2018-11-06 00:07] TerryGLee commented on #1818
@CeciAc Thanks; this is a duplicate of [#1807](https://github.com/MicrosoftDocs/visualstudio-docs/issues/1807), so we'll close this as such.

[2018-11-06 00:07] #1818 closed

[2018-11-06 07:22] dylanwa opened #1823 "I'm blocked on the step "Add the Managed Package Framework code""
For this step, I need to
"Set ProjectBasePath to the location of the ProjectBase.files file in the Managed Package Framework code you just downloaded"
But I didn't find "ProjectBase.files" in the download MPF code. It looks complicated to understand what it's going to do here.

Btw, this document is 2 years old. It does not work well with VS 2017. Do you have a plan to update it?

---
#### Documen

[2018-11-06 14:46] ddivito opened #1824 "How to have visual studio full? (+ commands)"
Unfortunately Microsoft is not going to launch an .ISO image. What is the command that I must use to have all the Visual Studio components and all the third-party components?

Is this?:

vs_enterprise.exe --layout d: \ VS2017Layout --all --lang en-US

[2018-11-06 15:07] efrainsteinbach opened #1825 "How do I tell MSBuild which ruleset to take?"
When calling msbuild from the command line, the analyzer runs, but it does not respect my custom.ruleset. It is correctly recognizes it in Visual Studio 2017 (i.e. by looking at the project properties). However, it's an old .net 472 project. I would be expecting I can specify the ruleset via the &lt;CodeAnalysisRuleSet&gt; tag in the .csproj (maybe that's the old way of doing it?). How do I point

[2018-11-06 15:18] MilesGibson commented on #1566
Why would you go away from the standard and reliable .iso method of installing?  The writer above is absolutely right in his assertion that he needs a completely offline method of installation. With the rapid rise in ransomware and intellectual property theft by foreign nationals, it is reasonable to want to have systems that are completely isolated from the Internet.  In fact, I suspect that a lo

[2018-11-06 18:56] #903 closed

[2018-11-06 19:28] mavasani commented on #1825
@efrainsteinbach Can you please provide some additional details:

1. Contents of your ruleset.
2. Version of FxCop analyzers package you are referencing.
3. Your source code snippet where you are seeing the deviation in actual and expected diagnostics.

If you can share your project, that would be even better and not need any of the above information.

Regards,
 Manish

[2018-11-06 20:33] #1561 closed

[2018-11-06 20:35] #1555 closed

[2018-11-06 20:36] #1315 closed

[2018-11-06 20:39] TerryGLee commented on #1524
@behzadian Thanks for your input. If you would like to see a change in how the product works, please consider using either the [Report a Problem](https://docs.microsoft.com/en-us/visualstudio/ide/how-to-report-a-problem-with-visual-studio-2017) tool, or the [Suggest a feature](https://docs.microsoft.com/en-us/visualstudio/ide/suggest-a-feature?view=vs-2017) tool. Meanwhile, your input here is on r

[2018-11-06 20:40] #1524 closed

[2018-11-06 21:53] wschin opened #1826 "GUID"
How to generate GUID? Where is doc for guidgen.exe? It can't be found by searching "guidgen" in this site.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d2694da-4313-f535-16ff-a993214cf692
* Version Independent ID: 34db0e5f-e5da-7d18-6215-e4a6d33037a1
* Content: [Creating a Core Editor and Registering an Editor File

[2018-11-07 00:15] ruslangaripov commented on #1531
@TerryGLee  Well, this is how msft works? They just silently close tickets giving no explanations. Well done, msft, well done! :+1: :kissing:

[2018-11-07 00:54] TerryGLee commented on #1824
@ddivito You can find an example of what you seek, here: [Command-line parameter examples: Using --includeRecommended](https://docs.microsoft.com/en-us/visualstudio/install/command-line-parameter-examples?view=vs-2017#using---includerecommended)

[2018-11-07 05:41] andysinclair opened #1827 "Broken video link"
The video link is not found:
"For a related video demonstration, see How do I: Manage task panes in Word VSTO Add-ins?."
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2daec754-1a5d-07ed-a047-00c8f815afa7
* Version Independent ID: e97b35c2-303f-27f0-8b3f-cd6075709ba2
* Content: [Custom task panes - Visual Studio](https:

[2018-11-07 07:37] RAJU2529 opened #1830 "there is no comand for log"
LOGfiles are useful for administrator to evaluate the downloaded files  and tgroubleshhoting purposes , so include the command line for log with verbose detailed log  descriptions.

vs_enterprise.exe --layout C:\vs2017offline --add Microsoft.VisualStudio.Workload.Azure --lang en-US /verbose /html /logfile C:\vs2017offline\vs17log.html
or
vs_enterprise.exe --layout C:\vs2017offline --add Microsoft.

[2018-11-07 10:09] RAJU2529 opened #1831 "I already started downloading by cmd"
I run below  ommand with administrator rights for community edition
K:\VS2017\vs_community.exe --layout K:\VS2017\offline1 --includeRecommended --includeOptional --lang en-US --verify --fix

and the temporary cache location are  enabled by default without my knowledge

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eeda

[2018-11-07 10:15] RAJU2529 opened #1832 "just now i verified two files"
Just now  i verified the contents  of  the  layout.json and response.json using notepad.exe.
In both the files , i found all the contents are same .

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cee82e78-02d5-bfe3-eb67-c69bdad01fa8
* Version Independent ID: 72f8b130-354d-a164-cb37-3d9b0b7cff19
* Content: [Automate Vis

[2018-11-07 10:16] RAJU2529 opened #1833 "could not able see any contents"
Unfortunately  , when i clicked on layout.json to open , file tries to open in visual studio code application , but the contents could  not be seen, but i am able to see in notepad

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cee82e78-02d5-bfe3-eb67-c69bdad01fa8
* Version Independent ID: 72f8b130-354d-a164-cb37-3d9b0

[2018-11-07 10:23] RAJU2529 opened #1834 "which type of encoding is suitable for .JSON file ?"
Which type of  encoding is  suitable,  while copied layout  commands and  saving as  layout.json
1.ANSI
2.unicode
3.UTF-8

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cee82e78-02d5-bfe3-eb67-c69bdad01fa8
* Version Independent ID: 72f8b130-354d-a164-cb37-3d9b0b7cff19
* Content: [Automate Visual Studio installation wit

[2018-11-07 15:22] mavasani opened #1835 "Update documentation to mention that the rule is not fired for abstract classes"
See discussion here: https://github.com/dotnet/roslyn-analyzers/issues/1820

Legacy FxCop implementation did not fire for abstract types and we have accepted a PR in roslyn-analyzers to match this behavior (https://github.com/dotnet/roslyn-analyzers/pull/1857).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 42f04bd3-01

[2018-11-07 16:55] TerryGLee commented on #1827
@andysinclair Thanks for letting us know; this is on our backlog to fix.

[2018-11-07 17:09] RAJU2529 commented on #1830
yes madam, I will your opiNion,   yesterday my windows didn't install aNy drivers, data is invalid error,  I restored working date as 04-11-2018.
today I uninstalled visual studio.

I tried to downloded offline installer  for future reference.
Once I will get successes, after that I install and I send feedback by app

[2018-11-07 17:16] TerryGLee commented on #1832
@RAJU2529 It looks like you might have identified a product problem; please use the [Report a Problem](https://docs.microsoft.com/en-us/visualstudio/ide/how-to-report-a-problem-with-visual-studio-2017?view=vs-2017) tool. When you do so, your report becomes a work item for the product team, which allows you to engage directly with that team so that such problems can be addressed and fixed.

[2018-11-07 17:17] #1832 closed

[2018-11-07 17:19] TerryGLee commented on #1833
@RAJU2529 Please use the [Report a Problem](https://docs.microsoft.com/en-us/visualstudio/ide/how-to-report-a-problem-with-visual-studio-2017?view=vs-2017) tool to report this behavior. When you do so, your report becomes a work item for the product team, which allows you to engage directly with that team so that such problems can be addressed and fixed.

[2018-11-07 17:19] #1833 closed

[2018-11-07 17:34] #1824 closed

[2018-11-07 18:12] kraigb commented on #1815
Thanks. Can you clarify that you're referring to with v 5.1.10, exactly?

And if I understand you correctly, you're making the *documentation* link in the admin interface work correctly, not the admin interface overall. Is that right?

[2018-11-07 18:15] kraigb commented on #1805
Thanks, @bathclin. Can you confirm that you were using an Anaconda distribution and not just stock Python? Anaconda, as the docs instruct, should include pandas and sklearn already, but I may be mistaken. Let me know.

[2018-11-07 18:29] jsandersrocks opened #1836 "Need to add 2024 for VS 2019"
Need to add 2024 for VS 2019, this is enabled as a port in Azure App Services now and customers want to know what it is

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 75c19e4f-4623-c462-e399-008a85ea1523
* Version Independent ID: bc0b82bb-acc8-7438-7b18-5165de39d847
* Content: [Remote Debugger Port Assignments - Visual

[2018-11-07 18:34] Mikejo5000 commented on #1836
Thanks! I'll plan to add it.

[2018-11-07 20:13] stephenchill opened #1837 "Feature not available?"
The menu option "Generate Equals and GetHasCode..." does not show in the context menu when the class name is selected.  Is there a way to fix this for VS 2017 5.8.9?  Have the installed/uninstalled Refactoring extensions (Roslynator, etc.) destroyed this menu?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8cb48054-70f

[2018-11-07 21:39] mavasani commented on #1780
@paulomorgado That is a potential improvement, but not a requirement currently. The [documentation](https://docs.microsoft.com/en-us/dotnet/api/system.runtime.serialization.iserializable?redirectedfrom=MSDN&view=netframework-4.7.2#remarks) states:
`Any class that might be serialized must be marked with the SerializableAttribute. If a class needs to control its serialization process, it can impleme

[2018-11-07 22:17] mavasani commented on #1780
Actually, given that [CA2237](https://docs.microsoft.com/en-us/visualstudio/code-quality/ca2237-mark-iserializable-types-with-serializableattribute?view=vs-2017) already recommends marking types implementing `ISerializable` with `SerializedAttribute`, we don't need to extend CA2235 - these rules in conjuction are sufficient. @paulomorgado does that sound reasonable to you? If so, we can document t

[2018-11-07 23:29] gregvanl commented on #1826
You can either use the VS IDE Tools > Create GUID command or guidgen.exe from the Developer Command Prompt for VS 2017

[2018-11-07 23:29] #1826 closed

[2018-11-07 23:36] gregvanl commented on #1798
Hi @leonelhs, I wasn't able to reproduce the issue. You might try repairing or upgrading your VS installation.

[2018-11-07 23:57] wschin commented on #1826
I know how to do that. The reason why I opened this issue is that by Goolgling for "GUID", I saw a bunch of people asking this question and I realize that doc site can't help them. There are also some 3rd packages written specifically for GUID, which should not happen if there is an easy doc.

[2018-11-08 00:50] gewarren commented on #1837
@stephenchill I tried this out and it appears that the cursor has to be somewhere on the line that declares the type. The menu option doesn't appear if the cursor is elsewhere in the type, or if the type name is selected (double-click). Can you try that out and let me know if it works for you?

[2018-11-08 01:06] stephenchill commented on #1837
You are a dream!  I really had a lot of these overrides to do and this will
be a life saver.  My problem was the double-click as you pointed out.  I
don't know why I hadn't thought to try it but I've even gone to the trouble
of updating my Windows, Visual Studio and installing .Net core 2.1 on three
development machines..  But this was the trick so thanks again.

Steve

On Wed, Nov 7, 2018 at 7:50

[2018-11-08 01:11] gewarren commented on #1837
Ha ha, thanks! I'll update the topic to be more explicit about that because it's confusing the way it's written.

[2018-11-08 01:36] paulomorgado commented on #1780
Can you do me a favor, @mavasani? Apply the analyzers to the `MyItemType` tell me what violations do you get and why do you think they are correct.

[2018-11-08 02:18] TerryGLee commented on #1566
@MikeGibson We appreciate your feedback. There is one specific GitHub Issue previously tendered to this topic that if you haven't already read it, you might want to take a look at it now: #[607](https://github.com/MicrosoftDocs/visualstudio-docs/issues/607). Specifically, it includes a comment from @tedvz as to the reasons why we chose not to release an ISO for Visual Studio 2017.

[2018-11-08 02:33] MilesGibson commented on #607
Then there are those of us with a large pipe.  Usually downloading a few gig is not a problem....  There is no reason we couldn't have a base install via .ISO, and then download additional components as required later.
FWIW, M2CW.

[2018-11-08 06:51] bathclin commented on #1805
Kraig.

Thank you for your prompt response.
I installed Anaconda3(64bit, 5.2.0) as a Python environment. Anaconda 2 is
not installed.

I created a project by selecting [File] > [New] > [From Cooliecutter...] >
"Microsoft/python-sklearn-classifier-cookiecutter" from the menu.
I tried with the same procedure, but the error did not reproduce.

I appreciate your advice.

2018年11月8日(木) 3:15 Kraig Brock

[2018-11-08 08:18] GCPD commented on #607
I would suggest that the Development team investigate system which make it easier to construct an appropriate file that has all the features they need, but most important any dependencies on those features.  There have been countless times when I have tried to build a product installation at an environment with a sensible Internet connection for use at home, [unfortunately I think my home Broadban

[2018-11-08 17:15] kraigb commented on #1805
My only guess is that the 5.1 installation you had lacked those libraries for some reason, because they should, as you found with 5.2, be included with Anaconda already.

Can I assume that you no longer have an issue, then?

[2018-11-08 18:44] John-Hart commented on #624
@stuartbronk Visual Studio 2017 is using a private registry.  See this doc for information on how to add the registry entries: [Tools for detecting and managing Visual Studio instances](https://docs.microsoft.com/en-us/visualstudio/install/tools-for-managing-visual-studio-instances?view=vs-2017)

[2018-11-08 18:56] #1837 closed

[2018-11-08 19:02] komondor5 commented on #1566
I have downloaded the files and done quite a few offline installs with no issue.  I believe the issue was that VS 2015 was there before.  I would suggest testing on a virgin system and verify that it does work for you.  Don't forget that you need to get the updates on whatever schedule you prefer and update your repository then the users run the update command to update their installs.   The reaso

[2018-11-08 20:48] eparizzi opened #1838 "Wrong wording"
In the "Breakpoint Mappings" section where it says:
"In Visual Studio, you cannot directly debug SERVER-side code, but you can set a breakpoint in a SERVER-side file." -- I guess it should say client-side code, right?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36553c7f-23dc-e3bf-821d-55e2c415b47a
* Version Independ

[2018-11-08 21:06] Mikejo5000 commented on #1838
@eparizzi This topic is in need of a refresh. Yes, that should be client-side. There are some differences between app types, and some different ways to debug client-side script. Are you working with a ASP.NET or Node.js app, or some other app type? This topic is currently oriented for ASP.NET.

[2018-11-08 23:47] heaths commented on #1275
You can't move these directories after installing anything at this time. This is because many packages we install (first- and third-party), once installed, must keep going to the same location and themselves cannot be moved.

[2018-11-09 01:41] bathclin commented on #1805
Dear Mr. Kraig

I didn't check the logs. May not have perhaps there was something wrong
with the installation of 5.2.I think that there is no problem anymore.
I'm grateful to have shared your valuable time!

2018年11月9日(金) 2:15 Kraig Brockschmidt <notifications@github.com>:

--
-------------------------------------------------------------------------------------------------------------
グロースアンドコミュニケ

[2018-11-09 14:21] kraigb commented on #1805
Thank you

[2018-11-09 14:21] #1805 closed

[2018-11-09 14:56] HekiShavik opened #1839 "The start menu path"
The start menu path will look like this:
%appdata%\Microsoft\Windows\Programs\{Publisher}\{Product name}.appref-ms

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7db85d2b-3cc1-3c20-ebfc-4e5253706f86
* Version Independent ID: 0514187a-f39e-80f2-296d-807babb40694
* Content: [How to: Specify a Start Menu Name for a ClickO

[2018-11-09 16:02] Mikejo5000 commented on #1839
@HekiShavik Thanks! I'll add that info.

[2018-11-09 17:10] gewarren commented on #1550
@kendrahavens This needs some PM input as it affects strings in the autogenerated EditorConfig file too. The concerns are:

- Should we refer to "C# coding conventions", or "C# code style rules"?
- Should we refer to VB or Visual Basic? (The DevDiv style guide says always expand VB to "Visual Basic".)
- "Pattern matching preferences" or "pattern-matching preferences"? (The second one is more corre

[2018-11-09 17:14] gewarren commented on #634
Looks like these are all fixed now.

[2018-11-09 17:14] #634 closed

[2018-11-09 18:47] #1063 closed

[2018-11-09 18:47] #1512 closed

[2018-11-09 18:47] #1835 closed

[2018-11-09 19:07] kraigb commented on #1815
@timbryden Can you again clarify what error you're referring to when you say "and avoid an error"? I'm also unsure that you mean by seeing a documentation page, because even if I add the app as you suggest, I don't see any changes on the running site. Thanks.

[2018-11-09 19:28] gewarren commented on #1680
@cremor Thanks for pointing this out. Closing this issue in favor of #1070.

[2018-11-09 19:28] #1680 closed

[2018-11-09 19:50] timbryden commented on #1815
Hi.  5.1.10 is just the section of the tutorial.  This discusses Admin.   The Admin piece works fine.

However when  I clicked on the Documentation link it errored as admindocs was not referenced until I added it.  I'm assuming it's meant to be there by default.

Finally I needed to pip install docutils in my Env environment to actually read the docs.

[2018-11-09 20:32] Mikejo5000 commented on #1752
@crowcoder Thanks! We'll take a look at updating this.

[2018-11-09 20:35] Mikejo5000 commented on #1752
@crowcoder Since you are trying to hit a breakpoint, I presume you are in design mode, and not in the middle of a debugging session. Is that right?

[2018-11-09 22:21] #1815 closed

[2018-11-09 23:15] crowcoder commented on #1752
That is correct, I was executing code from the immediate window. Had no problem with a full framework app.

Sent from my Windows 10 device

From: Mike Jones
Sent: Friday, November 9, 2018 3:35 PM
To: MicrosoftDocs/visualstudio-docs
Cc: Bob; Mention
Subject: Re: [MicrosoftDocs/visualstudio-docs] Debug at Design Time withImmediate Window not working in .Net Core console app. (#1752)

@crowcoder Sinc

[2018-11-10 00:20] kendrahavens commented on #1550
Definitely refer to VB as Visual Basic. I'd go by that style doc as well.

@jinujoseph I don't have a strong opinion on the other two points. Were those the only issues Cyrus brought up?

[2018-11-10 13:57] crowcoder commented on #1752
Update: I do not experience the problem on my home PC with VS 2017 Community 15.8.9. It also worked before I updated from 15.7.4.
My work PC where I am still experiencing the problem has been updated to 15.8.9 .
I guess the issue is environmental to my PC somehow.

[2018-11-11 12:45] Abhijit-Revamp opened #1844 "[TFS + VSMac] Version Control Plugin 0.4.3.2 error"
The latest Update 0.4.3.2 shows dependency error while installing. See the attached error image

<img width="831" alt="tfs-err4" src="https://user-images.githubusercontent.com/44320018/48313099-b3b02a00-e5dd-11e8-80a1-95b3a27360a5.png">

[2018-11-11 21:46] martingbrown commented on #1762
This feels like it should be under MSBuild Reference to me. This does not really introduce the concept at all.

[2018-11-12 00:11] demyte opened #1846 "Support restricted environments - How to do this if the VSTO redistributable is not found on the machine?"
A pre-requisite for a VSTO addin is the VSTO runtime which requires admin level to install - how do we get around this to keep the addin "Support restricted environments"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72c5fc31-985e-b4c4-c036-78d38156ad54
* Version Independent ID: 83fe159c-6e3f-63e5-1a52-728782b51e5c
*

[2018-11-12 10:40] ericbl opened #1863 "add colors for icons in the Solution Explorer!"
The current icons in the solution explorer for the code analyser rules is not easy to see.
For better visibility, it would be better to get colors as in the dedicated editor (blue for info, yellow for warning, red for error)!
Could we get that in a next iteration of Visual Studio?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2018-11-12 10:42] ericbl opened #1864 "CodeAnalysisRuleSet within PropertyGroup"
please complete how to use CodeAnalysisRuleSet is the project file, its actually requires the PropertyGroup tag around, e.g.

 &lt;PropertyGroup&gt;
    &lt;CodeAnalysisRuleSet&gt;{mypath}\{mybasic.ruleset}&lt;/CodeAnalysisRuleSet&gt;
  &lt;/PropertyGroup&gt;

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1f961b0d-0ef1

[2018-11-12 18:06] gewarren commented on #1844
@Abhijit-Revamp Thanks for reporting this error, however this is not the correct avenue to do that. Please report it over at [Developer Community](https://developercommunity.visualstudio.com/content/problem/post.html?space=41).

[2018-11-12 18:07] gewarren commented on #1863
@ericbl Thanks for the feedback and suggestion. Can you please log your suggestion over at the new [Suggest a Feature page on Developer Community](https://developercommunity.visualstudio.com/content/idea/post.html?space=8) instead of here in the documentation feedback?

[2018-11-12 18:08] gewarren commented on #1864
@ericbl I'll take a look at this and update the topic as necessary.

[2018-11-12 18:57] TerryGLee commented on #1846
@John-Hart FYI

[2018-11-12 19:17] Mikejo5000 commented on #1752
That's a little surprising. Do both PCs have .NET Core 2.1? (maybe a bug fix). Otherwise, could there be a debugging option set different on the two PCs? I'm thinking mainly of the "Use Managed Compatibility Mode" or "Use the legacy C#...expression evaluator" options in Tools > Options > Debugging

[2018-11-12 19:42] TerryGLee commented on #1834
@RAJU2529 @name For installation support requests, please consider using either our [Live Chat](https://visualstudio.microsoft.com/vs/support/#talktous) (English only) support option for installation issues, or reaching out to us and other Visual Studio developers through our [Visual Studio conversation in the Gitter community](https://gitter.im/Microsoft/VisualStudio).

[2018-11-12 19:44] #1834 closed

[2018-11-12 22:03] viskri-msft opened #1865 "Application Configuration File in vs 2017"
I can't find Application Configuration File / Visual C# items under installed. I am on VS 2017

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4f03b50b-74c7-2e0e-ff49-eb747d887979
* Version Independent ID: 7aff7001-a1ac-6088-4b19-94b5e870c709
* Content: [How to add an app.config file to a project in Visual Studio - Visu

[2018-11-12 22:57] gewarren commented on #1865
@viskri-msft Have you installed the **Windows desktop development** workload for VS?

[2018-11-12 23:52] sy-github opened #1866 "Give example usage of Directory.Build.targets"
Can you expand Directory.Build.targets above to give example usage? What types of targets are suitable in it? At what stage is it called?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c6f7f1d-2f33-e083-f8de-1ecd9f1a4a93
* Version Independent ID: 8aac17e8-5a10-bbbb-4c52-783c9f0c7e10
* Content: [MSBuild .Targets Files

[2018-11-13 01:08] kendrahavens commented on #1550
Yes, that's one of the ones I don't have a strong opinion on. I'm happy if Genevieve goes with what she notes is more correct. :)

[2018-11-13 01:36] jinujoseph commented on #1550
lets go with pattern-matching preferences

[2018-11-13 03:06] read3books1day opened #1868 "Should use ' instead of " in the example of DateTime"
<Today>$([System.DateTime]::Now.ToString("yyyy.MM.dd"))</Today>  not work,
should be <Today>$([System.DateTime]::Now.ToString('yyyy.MM.dd'))</Today>

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 82a1a083-bea0-e53e-dc9e-78f201ac1314
* Version Independent ID: 904dae68-65cb-ec55-2fb3-1075ceaf6f1c
* Content: [Property Fun

[2018-11-13 13:26] akerd opened #1877 "VistualStudio Profiler DLL Paths in Visual Studio 2017"
For Visual Studio 2017 the DLL paths are the following:
32-bit: c:\Program Files (x86)\Microsoft Visual Studio\Shared\Common\VSPerfCollectionTools\Microsoft.VisualStudio.Profiler.dll
64-bit: c:\Program Files (x86)\Microsoft Visual Studio\Shared\Common\VSPerfCollectionTools\Microsoft.VisualStudio.Profiler.dll

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2018-11-13 14:28] cremor opened #1878 "Update Visual Studio default values for "silent" severity"
dotnet/roslyn#27220 changed some Visual Studio default values to the "silent" severity. This should be reflected in the documentation.

Some examples of properties that now have the wrong default severity in the documentation:

- dotnet_style_parentheses_in_*
- dotnet_style_predefined_type_for_*
- dotnet_style_prefer_auto_properties
- (Most likely more)

---
#### Document Details

⚠ *Do not edit t

[2018-11-13 14:34] anh76qn opened #1880 "how to use '$'"
in my code snippet have character '$', how to use it ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77c7c36c-84d9-9237-3d78-689e76d080f9
* Version Independent ID: 6584735a-e8db-429d-5427-687fc709e6f8
* Content: [Walkthrough: Create a code snippet - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/ide/walk

[2018-11-13 16:38] kwbskf opened #1881 "No mention of schema versions"
When dealing with intellisense warnings about invalid elements while editing a project file, I notice that the schema is http://schemas.microsoft.com/developer/msbuild/2003, but I'm using VS2010.  Surely VS2010 can understand a more recent version, right?  But I've sought for schema version info here and cannot find any.  It would be nice to show which versions of the schema are understood by diff

[2018-11-13 17:25] DanRegalia opened #1882 "Documentation fails to provide all settings specifications"
I have a solution built and tested with Outlook (Office 2016/365).
When I try to run it on a machine with Office 2013 installed, I get the error:
"You cannot debug or run this project because the required version of the Microsoft Office"
This document has no troubleshooting or examples or exact requirements posted beyond general information.  Could you please post more detailed settings instructio

[2018-11-13 17:27] gewarren commented on #1550
Thanks all. Last point in question:

Should we refer to "C# coding conventions", or "C# code style rules"?

[2018-11-13 18:01] kendrahavens commented on #1550
Thanks, let's go with "C# code style rules". It's what we've been using in talks and a more popular search term: https://trends.google.com/trends/explore?geo=US&q=C%23%20code%20style,C%23%20code%20convention

[2018-11-13 18:44] TerryGLee commented on #1882
@DanRegalia Thanks for letting us know; this is in the backlog to fix. @John-Hart, FYI.

[2018-11-13 22:04] eadebeus opened #1883 "Trouble updating VS 2013 license"
I hope you can help me with this.
I am trying to update the license for Visual Studio 2013, and I have run into
a problem. VS didn't recognize my password, so I tried resetting my password,
but after I went through the captcha, it announced that my user ID doesn't exist.
But if I try to create a new account with my email address, it says that I can't
because it does exist already. Can my uid both

[2018-11-14 01:33] Alan-d opened #1884 "Examples with all parameters"
Please give examples that use all the parameters.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 85c98183-151e-7f93-8463-34518c030861
* Version Independent ID: 36e2369d-f5cd-2024-f235-68b13aa2d7bf
* Content: [CallTarget Task - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/msbuild/calltarget-task?view=vs-

[2018-11-14 11:34] bigrecat opened #1885 "Inaccuracy"
In the third sentence of the second paragraph must be IVsOutputWindowPane.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7bb17b17-4dc8-7ba1-0318-af21f9d5ac43
* Version Independent ID: f704dbc4-472c-0ba9-e867-3daf24ae7ab9
* Content: [Extending the Output Window - Visual Studio](https://docs.microsoft.com/en-us/visualst

[2018-11-14 14:23] sp-stuart-harrison opened #1887 "[Template parameters] Date?"
Can we have date as well (i.e. $time$ without the time section - just DD/MM/YYYY)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f4a0078-1a87-6e3a-791e-d3068fb7032c
* Version Independent ID: 1d2d976d-2698-88d6-fac4-4d34e3855e2a
* Content: [Visual Studio project and item template parameters - Visual Studio](https://do

[2018-11-14 14:56] cremor commented on #1070
Thanks for your update @Tragetaschen. But there is one more setting that is still not documented:

`csharp_space_between_method_declaration_name_and_open_parenthesis`

[2018-11-14 16:31] hargrave81 commented on #1567
I too am experiencing this same Issue.  Is there an easier mechanism to achieve this goal:
Create a multiproject solution template
Acme
Acme.Models
Acme.Tools
$projectsafename$ is Acme but as each project is created the projectsafename is unique per-project (e.g. MyCustom.Models so if MyCustom.Models references Acme.Tools it really points to MyCustom.Models.Tools rather than MyCustom.Tools)

[2018-11-14 17:38] Mikejo5000 commented on #1877
@akerd Thanks! I'll take a look at that.

[2018-11-14 17:54] gregvanl commented on #1885
Fixed with https://github.com/MicrosoftDocs/visualstudio-docs/pull/1886

[2018-11-14 17:54] #1885 closed

[2018-11-14 19:08] TerryGLee commented on #1883
@eadebeus It looks like you're having an issue with the product itself, rather than an issue with the documentation. Here are a few support options that might help you with the issue that you're experiencing:
- If you have a subscription, contact [Visual Studio Subscriptions Support](https://visualstudio.microsoft.com/subscriptions/support/), or utilize one of the [Subscriptions support forums](ht

[2018-11-14 21:05] #1883 closed

[2018-11-14 21:31] elahshalev opened #1897 "Update Solution deletes files"
Is there a way to get the local machine's last version of a solution after clicking "Update Solution" with version control?

[2018-11-14 21:38] dburnison opened #1898 "How many votes does each person get? Is that tracked by the email address that is tied to their Visual Studio Subscription?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 785f2716-1297-f343-24fa-705a42c2ff64
* Version Independent ID: 732cf4ab-6056-31a6-abda-c63a37f90e45
* Content: [Suggest a feature for Visual Studio - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/ide/suggest-a-feature?view=vs-2017)
* Co

[2018-11-15 11:33] mrlacey opened #1903 "devenv options list is incomplete"
It does not include:
/NoVSIP	        Disables the VSIP developer's license key for VSIP testing.
/sqldbaction    Start SQL Server Data Tools and perform the action specified in the argument string.
/TfsLink	        Opens Team Explorer and launches a viewer for the provided artifact URI if one is registered.

/rootsuffix        For launching other instances

And possibly more....?

---
#### Documen

[2018-11-15 12:55] rebeccapowell opened #1904 "Feature not present in Visual Studio 2017 Community Edition"
"Select &lt;Browse...&gt; to specify an existing rule set that is not in the list."

I don't have this option. Is it not available in Community Edition?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 546e8122-8074-7a9f-0ec5-de27f6c27637
* Version Independent ID: 827d1628-ecba-4f3f-51f2-0a5c9dd1424f
* Content: [Create a

[2018-11-15 17:29] eriawan commented on #1405
@gewarren

The link https://docs.microsoft.com/en-us/visualstudio/releasenotes/vs2017-relnotes?context=visualstudio/default&contextView=vs-2017 only display release notes of 15.9.0, and the release notes of 15.8 still has no mention about the VS account login changes and ASP.NET new feature on build tooling.

Please confirm.

[2018-11-15 17:33] gewarren commented on #1903
@mrlacey Thanks for the feedback. I'll check whether these options should be documented or not.

[2018-11-15 17:41] gewarren commented on #1405
Yes, I just put the link in there to have a direct link to the article in question. I wasn't stating that the work had been done. I'm contacting someone about this issue now.

[2018-11-15 18:10] eriawan commented on #1405
@gewarren
Apologize, I thought that link has the updated content. Thanks for the reply and update!

I hope the content will be updated soon, especially for 15.8 release notes.

[2018-11-15 18:49] #1550 closed

[2018-11-15 20:53] gregg-miskelly commented on #1752
This is NOT due to managed compatibility mode or an expression evaluator issue. I believe it is a bug in the debugger exposed by .NET Core 2.1. You can work around it if you like by using .NET Core 2.0.

I opened a bug to track this internally. @crowcoder if you would like visibility into when it is fixed, please open a VS feedback ticket and post a link to it.

@Mikejo5000 please close this issue

[2018-11-15 21:29] gewarren commented on #1405
@anzhou5 Can you take a look at updating the release notes?

[2018-11-15 21:39] Mikejo5000 commented on #1752
@gregg-miskelly Thanks, Greg.

[2018-11-15 21:39] #1752 closed

[2018-11-15 23:16] kendrahavens commented on #1665
Added with https://github.com/MicrosoftDocs/visualstudio-docs/commit/198643e35cb5c6fbf9c3ffc929580899682c9a77#diff-cbb827733ff7e0e501a3ed9d7d1519ec

([Private PR](https://github.com/MicrosoftDocs/visualstudio-docs-pr/pull/3213) for internal reference)

I think we can close this.

[2018-11-15 23:29] gewarren commented on #1665
Thanks Kendra. Closing.

[2018-11-15 23:29] #1665 closed

[2018-11-16 00:54] #1569 closed

[2018-11-16 07:28] baruchiro opened #1906 "Topological Sort"
How to implement a topological sort on the projects references, for example?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 83c6b3cd-fc32-1501-68a6-1da597bfd33b
* Version Independent ID: 499fd553-6e2e-aefe-aefd-2711c01e39e0
* Content: [Code maps - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/modeling/ma

[2018-11-16 10:49] PeterPann23 opened #1907 "Dokumentation link to the use of resource file for icon and manifest"
Please provide a link to the format that is needed for the res file that holds manifest and icons and application version.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: db2f3877-b9ea-1ee4-b4ab-ec146139cf5b
* Version Independent ID: b9e98d4e-1053-4ac3-f1f0-a31c12e72f6f
* Content: [Application page of C# project propert

[2018-11-16 12:29] ericbl opened #1908 "Add examples for each scope for SuppressMessageAttribute."
Please clarify the support of the suppress warnings for .NET Core 2.x code with Roslyn analysers (e.g. FxCop nuget)!
As stated here, this is particularly relevant for generated code.
btw, from code generated by Visual Studio "paste JSON/XML as classes", some prefilled attributes & suppress warning would help! Same applies for code generated from tools, e.g. from swagger code generator but it is of

[2018-11-16 16:06] willydavidjr opened #1909 "Pluralsight Subscription Changes"
[The Pluralsight subscription on this content was 3 months. Upon checking my Visual Studio account, it now goes down to 1 month only. ]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 64e41abd-81dd-4dd2-d2d2-6bc513ad9e48
* Version Independent ID: 911d149e-8d78-b552-12a2-b061e2c1f41c
* Content: [Pluralsight Benefit in Vi

[2018-11-16 16:19] evanwindom commented on #1909
@willydavidjr -- Thank you for reaching out.  The Pluralsight offer has changed from three months to one month for new activations.  If you claimed the benefit and created your account with Pluralsight while the 3-month offer was in place, you will still have the three months of access from the time you created the account.

[2018-11-16 16:53] ericbl commented on #1908
my the current workaround is to have project wise SuppressMessage, i.e. without scope and target.
Thus, I will create dedicated .NET Standard library containing only the generated code, so that I can appy these SuppressMessage only for it. It adds to avantage to easier maintain suche generated code.

[2018-11-16 18:36] #1844 closed

[2018-11-16 18:46] gewarren commented on #1908
@ericbl Thanks, we are aware that we need to update this topic. Related to https://github.com/dotnet/docs/issues/9046.

[2018-11-16 19:17] ericbl commented on #1863
suggestion added in
https://developercommunity.visualstudio.com/idea/385034/visual-studio-solution-explorer-analysers-colorize.html#

[2018-11-16 19:22] gewarren commented on #1863
@ericbl Thanks for following up. I'll close this issue then.

[2018-11-16 19:22] #1863 closed

[2018-11-16 21:48] gewarren commented on #1395
I added a section about calculating code metrics at the command line - https://docs.microsoft.com/en-us/visualstudio/code-quality/how-to-generate-code-metrics-data?view=vs-2017#command-line-code-metrics. Closing this issue.

[2018-11-16 21:48] #1395 closed

[2018-11-16 21:52] gewarren commented on #1134
Closing due to lack of information.

[2018-11-16 21:56] gewarren commented on #1417
@mavasani Will CA1014 be ported to Roslyn analyzers?

[2018-11-16 21:58] gewarren commented on #1467
@anorborg Thanks for reporting this (and sorry we're only responding now). We'll add this new rule to the backlog for the documentation.

[2018-11-16 22:00] gewarren commented on #1515
@JranZu Thanks for the feedback. It may be that the rule changed when it was ported from FxCop static code analysis to Roslyn analyzers.

[2018-11-16 22:04] gewarren commented on #1581
Related to #898

[2018-11-16 22:08] #1808 closed

[2018-11-16 22:20] mavasani commented on #1417
CA1014 has already been ported to roslyn-analyzers, see https://github.com/dotnet/roslyn-analyzers/issues/652. Note the rule only fires if the compilation has a definition for CLSCompiant attribute.

This rule is not really dependent on the platform - it depends on existence of a non-obsolete CLSCompiant attribute in the compilation. So, I am not sure if the fact that one specific platform decides

[2018-11-16 22:36] gewarren commented on #1417
@mavasani Thanks for responding. Closing the issue.

[2018-11-16 22:36] #1417 closed

[2018-11-16 22:39] #1489 closed

[2018-11-16 22:42] gewarren commented on #1755
@gregvanl What do you think about this?

[2018-11-16 22:52] gregvanl commented on #1755
@gewarren This does look like an oversight. I can get the APIs generated.
@Christopher-St Thanks for reporting this.

[2018-11-16 23:55] gewarren commented on #1378
Closing due to lack of information.

[2018-11-16 23:55] #1378 closed

[2018-11-16 23:55] #1392 closed

[2018-11-17 00:00] gewarren commented on #1440
Related to #1399.

[2018-11-17 00:06] #1484 closed

[2018-11-17 02:45] gewarren commented on #1280
@mavasani How does this look? https://review.docs.microsoft.com/en-us/visualstudio/ide/build-actions?view=vs-2017&branch=pr-en-us-3326

[2018-11-17 03:02] mavasani commented on #1280
LGTM. Thanks for adding the documentation!

[2018-11-17 03:03] mavasani commented on #1280
Also tagging @davkean and @pilchie

[2018-11-17 06:36] jibal opened #1911 "erroneous reference to .vb source files under Text Editor - C#, Advanced options"
The section on outlining of .vb source files is misplaced in the C# options section; it should refer to .cs files.

Also, a lot of the C# options in VS 2017 are not documented on this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f41602f7-2c5e-bf2a-9eab-50740dd10784
* Version Independent ID: c6b1f7c4-eb2d-a62a-7

[2018-11-17 19:34] Pilchie commented on #1280
Definitely a nit-pick but to me:

implies that you only use this if you are *building* an analyzer, when in fact the primary use case is in *consuming* an analyzer.  Perhaps something like:

[2018-11-19 07:03] TheFanatr opened #1925 "Error with Visual Studio 2017 15.9.1 - Cannot Use JSX"
Hello, I have followed this tutorial exactly and have been able to successfully compile the application; however, there is a persistent error in Visual Studio saying that the TypeScript compiler is complaining that I don't have the `--jsx` flag set and therefore cannot use JSX. This is indeed interfering with the editor's ability to provide proper IntelliSense and completion for JSX files. I have

[2018-11-19 11:52] nils-a opened #1926 "correct "Package designer options" -> "Deployment Server Type""
Docs under "Package designer options" seem to be wrong.
The property seems not to be required and the default seems to be "WebFrontEnd".
Also, please specify what implications this property has.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c1570c27-001b-130f-e581-451c32dd8386
* Version Independent ID: 42166a8a-c563-8

[2018-11-19 12:41] ManuelRin opened #1927 "Documented certificate file names have changed and are not correct starting with Visual Studio 2017 version 15.8"
The certificate file names documentation in Option 3 (https://docs.microsoft.com/en-us/visualstudio/install/install-certificates-for-visual-studio-offline?view=vs-2017#option-3---install-certificates-as-part-of-a-scripted-deployment-of-visual-studio) is outdated for Visual Studio 2017 version 15.8 and above. The file names have changed. The documentation doesn't reflect these changes.

Certificate

[2018-11-19 13:51] marcobeninca71 opened #1928 "New update of Visual Studio 15.9.1 highlights code in green for C26496 warning"
A code C++ file with no USE_CONST_FOR_VARIABLE define highligth some line of code in green giving C26496 warning
After closing and reopening the file no more green highligth is shown

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b377dac2-9bdf-acb5-bb87-7572adbc6c40
* Version Independent ID: 60f966b9-7a8d-b27f-2de3-e50

[2018-11-19 16:18] Mikejo5000 commented on #1925
@TheFanatr Hi, what version of VS are you using? For example, 15.9.0 or similar?

[2018-11-19 16:21] Mikejo5000 commented on #1925
Also, can you paste your dependencies here from the package.json file?

[2018-11-19 16:48] Mikejo5000 commented on #1925
Right--15.9.1. Preview or no?

[2018-11-19 18:10] Mikejo5000 commented on #1925
I can't repro this so far. Where do you see that error? I poked around a little. It seems like most instances of this error are in relation to the jsx entry in tsconfig.
 "jsx": "react",   Is that present? You might re-open project and re-try.

[2018-11-19 18:20] TerryGLee commented on #1909
@willydavidjr Thanks for your follow-up. I see that the Pluralsight offer was changed to one month in a table of editions that includes Visual Studio Dev Essentials. @evanwindom Does this change apply only to that edition or all editions?

[2018-11-19 18:42] TerryGLee commented on #1926
Thanks for letting us know; this is in the backlog to fix. @John-Hart, FYI.

[2018-11-19 18:47] #581 closed

[2018-11-19 18:47] #1864 closed

[2018-11-19 18:47] #1227 closed

[2018-11-19 18:51] gewarren commented on #1280
@Pilchie Yes, that makes much more sense, thanks for clarifying that.

[2018-11-19 19:05] #1909 closed

[2018-11-19 19:56] TerryGLee commented on #1927
@ManuelRin Thanks for letting us know. @frayus Can you verify? Then, we can get the page updated accordingly.

[2018-11-19 20:52] stansw opened #1929 "Commandline example is an image and the copy button doesn't do anything."
This is an image and it is ridiculous because the image has a button that does noting. Instead of telling me to go there and click the button just give me a package name in a text so that I can copy it. I tried to copy it form the image before I read that this is just an example.

![](https://docs.microsoft.com/en-us/visualstudio/code-quality/media/nuget-install-command.png?view=vs-2017)

---
####

[2018-11-19 20:58] gewarren commented on #1929
@stansw Thanks for the feedback. I can see why this might be confusing. I'll remove the image and replace it with copyable example text.

[2018-11-19 21:14] #1280 closed

[2018-11-19 23:14] dburnison commented on #1898
To clarify, does this mean I can vote on each feature suggestion just once but, I can vote on an unlimited number of feature suggestions?

[2018-11-19 23:59] seaniyer commented on #1898
Yes, that is correct.

[2018-11-20 00:41] TheFanatr commented on #1925
I am currently on the latest stable release of Visual Studio 2017 15.9.1 using the latest version of both Node.js and NPM. I followed the instructions identically and copy-pasted all of the file contents from the tutorial. This is a fresh install of the Web Development with Node package straight out of the Visual Studio installer.

[2018-11-20 00:43] TheFanatr commented on #1925
I tried making the project twice, once adding the dependencies though the GUI option, always choosing the latest version, then once that one didn't work even after I tried playing with the settings, I deleted the entire repo and tried again with the exact dependency configuration in the tutorial to no avail.

[2018-11-20 06:08] ScotBren opened #1930 "Wrong formatting"
Please examine the formatting from the "Remarks" through the first "Example".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f547a143-9c88-bd37-1056-8b3f41b59562
* Version Independent ID: c721d178-df36-0f69-839f-82c420612da2
* Content: [C26426 - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/code-quality/

[2018-11-20 06:14] lowiza commented on #741
how to create an installation when i already downloaded it not using cmd

[2018-11-20 08:49] darthwalsh opened #1932 ""Run tests after every build" warning about "Enterprise is required" is missing from 2017 docs"
The [VS 2017 test running docs](https://docs.microsoft.com/en-us/visualstudio/test/run-unit-tests-with-test-explorer?view=vs-2017#run-tests-after-every-build) are missing the [warning in the 2015 docs](https://docs.microsoft.com/en-us/visualstudio/test/run-unit-tests-with-test-explorer?view=vs-2015#BKMK_Run_tests_after_every_build) about support limited to VS Enterprise.

This warning should be in

[2018-11-20 09:50] IrakliLomidze opened #1933 "Does Documentation Installation in Offline Environment Supported ?"
Creating Offline Installation Layout with Documentation
Does Documentation Installation in Offline Environment Supported ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 228076d1-94bf-c502-c018-08f7c0faf377
* Version Independent ID: c64a5cd5-6236-4192-2bfc-923aa20c94da
* Content: [Create an offline installation of Visu

[2018-11-20 13:20] fairjm opened #1934 "No "Show Derived Types" in Class View settings"
Is it removed or need some conditions to active it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b960c4e0-ac54-9e65-6397-44d7a5750764
* Version Independent ID: 224d2c57-b542-8030-6b77-ce8a7889b466
* Content: [View code structure using class view, call hierarchy, object browser, and code definition window - Visual Stu

[2018-11-20 15:18] Regenhardt commented on #1903
Would be nice to have this. I automatically start dev command prompt in powershell with a scirpt, and would like to echo the VS version in case of several VS installations active.

[2018-11-20 16:50] Mikejo5000 commented on #1925
@billti Bill, do you know what might cause this error?

[2018-11-20 17:23] PrometheusRising1 opened #1935 "Database Project Context"
It would be extremely helpful to have a version of these documents with .sql and publish.xml profiles as examples.  A great deal of building and maintaining ALM for business intelligence projects (.dacpac, .ispac, etc.) is poorly documented when it comes to continuous integration and even basic builds.  Since data projects are supposed to be the focus of the future, it would really help if there w

[2018-11-20 17:54] TerryGLee commented on #1933
@IrakliLomidze Are you referring to our [Help Viewer documentation](https://docs.microsoft.com/en-us/visualstudio/ide/microsoft-help-viewer?view=vs-2017)? If so, the "[Deploy pre-installed local Help content on client computers](https://docs.microsoft.com/en-us/visualstudio/ide/help-viewer-administrator-guide?view=vs-2017#deploy-pre-installed-local-help-content-on-client-computers)" section of our

[2018-11-20 19:01] bugybunny commented on #1801
I just realized today that this comes from https://marketplace.visualstudio.com/items?itemName=VisualStudioProductTeam.SyntacticLineCompression that is bundled with https://marketplace.visualstudio.com/items?itemName=VisualStudioProductTeam.ProductivityPowerPack2017. So it’s nothing to be updated

[2018-11-20 19:01] #1801 closed

[2018-11-20 19:02] Mikejo5000 commented on #1801
@bugybunny Thanks for the follow up!

[2018-11-20 19:08] gewarren commented on #1935
@PrometheusRising1 Are you referring to these topics about data-tier applications? https://docs.microsoft.com/en-us/sql/relational-databases/data-tier-applications/data-tier-applications?view=sql-server-2017

Or these ones about database projects? https://docs.microsoft.com/en-us/sql/ssdt/project-oriented-offline-database-development?view=sql-server-2017

[2018-11-20 19:33] Mikejo5000 commented on #1925
@TheFanatr Just updated VS and retested, still no repro on this. You said that it compiles fine. Does it also run fine via F5? Where do you see the TS17004 error?

This GitHub issue seems to describe this issue for TypeScript in VS:
https://github.com/Microsoft/TypeScript/issues/7394
Based on this, I'd ask:
- How did you add the tsconfig
- What is Build Action set to?
There's also a link to a stac

[2018-11-20 19:34] Mikejo5000 commented on #1925
@armanio123 also for comment

[2018-11-20 20:32] akochepasov opened #1937 "Incorrect cleaning example"
The command in the clean example cannot find the archive catalog:
c:\VS2017Layout\vs_enterprise.exe --layout c:\VS2017Layout --clean c:\VS2017Layout\Archive\1cd70189-fc55-4583-8ad8-a2711e928325\Catalog.json --clean c:\VS2017Layout\Archive\d420889f-6aad-4ba4-99e4-ed7833795a10\Catalog.json

It should be as follows (tested on vs_enterprise 15.8.28010.2046):
c:\VS2017Layout\vs_enterprise.exe --layout

[2018-11-20 23:10] akochepasov commented on #1531
The offline installer doesn't work for community and enterprise edition on Nov 20.

I tried python only layout:
[code]
and
`vs_community.exe --noWeb
`
It didn't work as it tries to download packages.

The C++/C# layout have the same issue:
[code]
with
`vs_enterprise.exe --noWeb
`
Both don't work. It would be nice if you guys unplug one machine from the network and try to test the offline install.

[2018-11-20 23:18] TerryGLee commented on #1937
@akochepasov Thanks for letting us know; we'll look in to this. @tedvz FYI.

[2018-11-21 00:18] jimmcslim opened #1938 "What are the defaults for these switches?"
It would be handy to know what the defaults for these switches are; particularly the -consoleloggerparameters and -verbosity switches.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e6254da8-fbe7-cc2a-2c10-1ba918a61039
* Version Independent ID: 7d3100b1-8ab0-f17f-6494-d183bdeb9081
* Content: [MSBuild Command-Line Refer

[2018-11-21 07:26] glenn-slayden opened #1941 "Typo 'System.Diagnosis.CodeAnalysis.SuppressMessage' .. should be '...Diagnostics...'"
A typo on this page: 'System.Diagnosis.CodeAnalysis.SuppressMessage' .. should be '...Diagnostics...'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 963d8d4a-0021-e10a-3a72-358eadced263
* Version Independent ID: 688674ea-4fc0-8d1e-9895-b5f096e80ff1
* Content: [Static code analysis for managed code - Visual Studio](http

[2018-11-21 11:56] prasadgl opened #1942 "Dead Link in Documentation"
The link with text Part 3 of 3 in this documentation has a dead link and is not navigable.  Please correct it.

[2018-11-21 11:57] #1942 closed

[2018-11-21 12:01] prasadgl opened #1943 "Dead Link in Ribbon Documentation"
In the link https://github.com/MicrosoftDocs/visualstudio-docs/blob/master/docs/vsto/ribbon-xml.md under the section **Assign callback methods to controls**, there is a link in the text "_For a complete list of the callback method signatures for Ribbon controls, see the technical article Customize the Office (2007) Ribbon user interface for developers (Part 3 of 3)_".  The link is giving a 404.  P

[2018-11-21 14:44] lucidmikeb opened #1945 "No longer works in Visual Studio 2017"
The second example on this page no longer works with Visual Studio 2017.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7f603718-773f-1c7b-894b-2e77a7b213da
* Version Independent ID: 64a041be-c330-15a3-256b-94d2f85b8624
* Content: [Creating and Managing Modal Dialog Boxes - Visual Studio](https://docs.microsoft.com/en-

[2018-11-21 17:31] gewarren commented on #1941
@glenn-slayden Thanks for catching this. We'll get it fixed!

[2018-11-21 17:43] gewarren commented on #1943
[This is the article](https://docs.microsoft.com/en-us/visualstudio/vsto/ribbon-xml?view=vs-2017#assign-callback-methods-to-controls) with the link, but the link works for me. @prasadgl can you try again to see if it was a transient 404?

[2018-11-21 19:32] gewarren commented on #1405
The ASP.NET build performance tooling has been added to the release notes - https://docs.microsoft.com/en-us/visualstudio/releasenotes/vs2017-relnotes-v15.8#aspnetbuildperf. Thank you @anzhou5!

[2018-11-21 19:50] blueincmultimedia opened #1946 "Create a Python extension for C#...?"
This and the mixed-mode debugging articles are superb; thanks!
Is it possible to create something similar but using Csharp as the base and Python as the extension?
Here's what I mean: I'm delveloping an AddIn for ArcGISPro. Perviously, in my python addin for ArcGIS 10.6, I use a great method to handle code changes on the fly: I use the regular python addin code (let's call it the 'pythonButtonWrap

[2018-11-21 20:14] kraigb commented on #1946
@blueincmultimedia Great question! I can't say I know enough to advise you here (the docs repo), however.

I suggest that you instead open this question in the PTVS repo, https://github.com/Microsoft/ptvs/issues, where you'll get you in touch with the engineers who understand much more about embedding Python into other language environments. (The docs you refer to here are about calling C++ *from*

[2018-11-21 20:14] #1946 closed

[2018-11-21 21:14] jkshapiro opened #1947 "Whitespace example is unclear"
The example for "Match any whitespace character." isn't explained and doesn't match the expression shown.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b53053a2-c37a-99a8-fdaf-7322de927cf8
* Version Independent ID: 55a43af3-3743-9c8f-bf24-50301db7c37c
* Content: [Use regular expressions in Visual Studio - Visual Studi

[2018-11-21 22:06] gewarren commented on #1947
@jkshapiro Thanks, I agree!

[2018-11-21 22:08] gewarren commented on #1755
@gregvanl Thank you!

[2018-11-21 22:40] gregvanl commented on #1945
@lucidmikeb The line of code to retrieve IVsUIShell needs to be moved to the OpenDialog InitializeAsync method and needs to changed to use GetServiceAsync. You can put the IVsUIShell pointer into a property for use in the Execute method later.

[2018-11-22 11:02] IrakliLomidze opened #1952 "16.0 Object Library ?"
Is it Available  Version 16.0 of  Object Library ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 88fddd73-1fac-2149-71db-5f20c8c94934
* Version Independent ID: 46e037ee-a5fd-7274-b072-8df92ce70eda
* Content: [Office primary interop assemblies - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/vsto/office-p

[2018-11-22 11:08] eriawan commented on #1405
@gewarren

Thanks for the update! What about the VS login changes as described in #1399 ? Has this feature documented?

[2018-11-22 14:35] yegorpetrov opened #1953 "No such option exists"
All I see in the "More" menu is "Import Configuration" and "Export Configuration".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5fc5c36c-d8ef-6b2d-2c62-5243d1ac2ce1
* Version Independent ID: 91c57e20-c75c-3c8d-e31f-727fa1e2af29
* Content: [Repair Visual Studio 2017 - Visual Studio](https://docs.microsoft.com/en-us/vi

[2018-11-22 21:41] TheFanatr commented on #1925
For future reference in case the issue reappears, I'll answer the questions, but after the update to Visual Studio 15.9.2 and a computer restart, this issue seems to have been fixed. When it was broken, the project would run fine via any valid way to run it, but two instances of the aforementioned error would persist in the error list no matter what, one for the return statement in the `render` me

[2018-11-22 21:41] #1925 closed

[2018-11-23 00:07] ajventi opened #1955 "Inappropriate title"
This is a nice article to give an overview of Blend, but the title is quite misleading.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1fb4a86d-efe1-3ff6-2456-eac6659c6d09
* Version Independent ID: a1faa99b-0e1a-8291-f87c-747dcccb3b0b
* Content: [Creating a UI by using Blend for Visual Studio - Visual Studio](https://d

[2018-11-23 03:12] jludden opened #1956 "VSPerfCmd.exe CrossSession example is incorrect"
Hi all - I appreciate the effort going into these docs. However, I noticed an issue looking at  [CrossSession.md](https://github.com/MicrosoftDocs/visualstudio-docs/blob/master/docs/profiling/crosssession.md), a switch used in VSPerfCmd.exe. The example given is :

`VSPerfCmd.exe /Start:Sample /Output:TestApp.exe.vsp /CrossSession`
`VSPerfCmd.exe /Attach:12345 /CS  `

However, when I try it (with

[2018-11-23 09:22] H35am opened #1957 "Unclear where to use this code."
Please provide some background information about how and where to use this code, maybe a example project.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fca93cc7-67e9-c5a7-814f-2d7ca58fd391
* Version Independent ID: 3306c5f1-8247-1f00-c374-cd9269eba550
* Content: [How to: Programmatically add shapes to a Visio document

[2018-11-23 10:51] bigian opened #1958 "[Web perf tests] Obsolete properties"
In your example you are using the RuleName and RuleDescription Properties these have been obsolete since at least 2012

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2bc9cd67-df12-fcf9-9e1c-f12d8abadbe8
* Version Independent ID: f6dbfb88-ca36-fc5a-4dc2-977d3739eb5a
* Content: [Coding a custom extraction rule for a web

[2018-11-23 17:30] irperez opened #1959 "No mention of how to run a .net core test"
The /Framework: has no mention of .Net Core setups.  This would be useful information when attempting to setup unit tests within Azure DevOps Pipelines.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e27af73d-196c-4653-aa07-acf7e8b425e3
* Version Independent ID: b8957d80-ffa0-1c42-d3f0-6e4d00bf7a1e
* Content: [VSTest.C

[2018-11-24 07:32] VivekKPatel opened #1962 "Can't Figure out this line"
Open the Visual Studio command prompt, and then change directories to the c:\publish\Application Files\ExcelWorkbook_MostRecentPublishedVersion folder (for example, c:\publish\Application Files\ExcelWorkbook_1_0_0_4).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 367b3af3-0c14-753c-9eca-26fc41ff4769
* Version Independ

[2018-11-24 15:32] vbjay commented on #1485
To be clear.  This page contains instructions to download an offline installer.  This allows you to install on computers that have no internet.  You can make an iso or file share or what have you to get the files from the computer you ran the command on to the place you want to install.  They don't provide ISO's.  This allows you to download once and install as needed.

[2018-11-24 16:03] vivek-nodes opened #1963 "Document Level Addin"
How to Set Custom Action Explain in this https://docs.microsoft.com/en-us/visualstudio/vsto/deploying-an-office-solution-by-using-windows-installer?view=vs-2017#to-add-a-custom-action-that-runs-your-program Section using visual studio Installer

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 283a3669-9f0e-c872-028d-9eac

[2018-11-25 13:57] vbjay commented on #1562
Are you not able to see it?  To create a complete local layout with all features (this will take a long time—we have lots of features!), run:

```vs_community.exe --layout c:\vs2017layout --lang en-US```
If you are installing a different sku, use that exe in the command.

"If you want to install a language other than English, change en-US to a locale from the List of language locales. Then, use th

[2018-11-25 20:50] TerryGLee commented on #1952
@IrakliLomidze Thanks for your feedback; this page is in our backlog to update. @John-Hart, FYI.

[2018-11-25 21:02] TerryGLee commented on #1953
@yegorpetrov Can you verify want edition you are working with (Community, Professional, or Enterprise) and can you confirm that that edition is installed on your computer? My experience is that you see only "Import Configuration" and "Export Configuration" for an edition of Visual Studio 2017 that is not yet installed.

[2018-11-25 21:05] TerryGLee commented on #1957
@H35am Thanks for letting us know; this content set is in our backlog to update. @John-Hart, FYI.

[2018-11-25 21:08] TerryGLee commented on #1962
@VivekKPatel Thanks for letting us know; this content set is in our backlog to update. @John-Hart, FYI.

[2018-11-25 21:08] TerryGLee commented on #1963
@VivekKPatel Thanks for letting us know; this content set is in our backlog to update. @John-Hart, FYI.

[2018-11-26 01:42] nguyenthanhliemfc opened #1965 "How to auto shutdown after download Offline Pack completed?"
Thank for you docs!
Download offline pack take a lot of time, I want to run download command in night and auto shutdown my PC after download complete.
How to auto shutdown after download Offline Pack completed?
Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 228076d1-94bf-c502-c018-08f7c0faf377
* Version Inde

[2018-11-26 03:08] dialedin2014 opened #1966 "Unable to import SQL snippet"
This documentation states SQL snippets are supported.

I created a TSQL snippet and imported it into SSMS.  But when attempting to import it into Visual Studio 2017, I receive the error "the snippet files chosen were not valid".

Also, I noticed when authoring the snippet in Visual Studio 2017, Intellisense only offers VB,C#,J#,and XML for the Code element's Lanquage attribute.

VB snippets import

[2018-11-26 03:14] dialedin2014 commented on #1966
Associated with wrong document

[2018-11-26 03:14] #1966 closed

[2018-11-26 03:16] dialedin2014 opened #1967 "Unable to import SQL snippet"
This documentation states "SQL" is valid for the Code element's Lanquage attribute.

I created a TSQL snippet and imported it into SSMS. But when attempting to import it into Visual Studio 2017, I receive the error "the snippet files chosen were not valid".

Also, I noticed when authoring the snippet in Visual Studio 2017, Intellisense only offers VB,C#,J#,and XML for the Code element's Lanquage a

[2018-11-26 08:08] ClaudeZhao commented on #851
I think this part document is not correct. I use latest VS2017 Professional (15.9.2), only Google Test and Boost Test exist when **Add | New Item**.

Here is a workaround if you need add project internal unit test:
1) Add $(VCInstallDir)Auxiliary\VS\UnitTest\include to Include Directories to target project;
2) Add $(VCInstallDir)Auxiliary\VS\UnitTest\lib to Library Directories to target project;
3

[2018-11-26 13:01] sharwell commented on #1191
It means code generated by an IDE feature, e.g. Generate Constructor, should be generated in a manner consistent with the rules. In some cases it's not possible to follow the rules, but in most cases where the generated code does not follow the patterns we would consider it a bug and accept a fix from a contributor to make it follow the defined style.

[2018-11-26 15:40] jwphrijk opened #1968 "Creating and debugging Outlook 2016 add-in on Visual studio 2010"
Ask Question

up vote

0

down vote

favorite

Hello,

I want to create a Outlook Add-in with VS2010 but when I want to debug this I get the error "You cannot run or debug this project because the required version of Office is not installed". Googling this error It looks like It can be solved by referring the dll installed with the office 2016, another solution I found said to specifie the Outlook

[2018-11-26 16:14] Mikejo5000 commented on #1925
Thanks for following up!

[2018-11-26 16:26] mkamoski opened #1969 "How can this be done for a WEB SITE PROJECT now?"
How can this be done for a WEB SITE PROJECT now?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30273668-658c-d411-5b6d-7f58256bb0f3
* Version Independent ID: c8812ae3-0fb1-a30f-02dd-ebc2d28b9dc8
* Content: [How to: Exclude Files from the Build - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/msbuild/how-

[2018-11-26 16:32] TerryGLee commented on #1968
@jwphrijk The page you reference seems to indicate that the answer to your inquiry is "yes, you can." I'm sorry to learn that you are experiencing difficulties doing so. For a support request of this nature, I'd now typically point you to another venue such as StackOverflow to pursue your answer. However, I see that either you or someone else asked the same question on [StackOverflow](https://stac

[2018-11-26 18:16] #1941 closed

[2018-11-26 18:24] gewarren commented on #1191
Thanks @sharwell. @darrentraffk it sounds like the answer to whether code generated by tt files is considered auto-generated for naming validation purposes is "no".

[2018-11-26 18:24] #1191 closed

[2018-11-26 18:30] #1930 closed

[2018-11-26 18:43] gewarren commented on #1955
@ajventi Thanks for the feedback, and I agree. Do you think something like "Overview of Blend for Visual Studio" would be more appropriate?

[2018-11-26 18:45] gewarren commented on #1958
@bigian Thanks for the feedback!

[2018-11-26 18:48] gewarren commented on #1967
@dialedin2014 Thanks, I'll add this investigation to our backlog.

[2018-11-26 18:50] mikkelbu commented on #1678
@gewarren It looks like this was corrected by #1681.

[2018-11-26 18:52] gewarren commented on #1678
@mikkelbu Yes you're right, thanks for pointing this out. Closing now.

[2018-11-26 18:52] #1678 closed

[2018-11-26 18:57] mikkelbu commented on #1608
@TerryGLee I think the code is correct. The assumption that `random.Next(icons.Count)` can return `16` - when `icons.Count = 16` is not correct as [Random.Next](https://docs.microsoft.com/en-us/dotnet/api/system.random.next?view=netframework-4.7.2#System_Random_Next_System_Int32_) returns "a non-negative random integer that is **less than** the specified maximum.". So it will return a value betwee

[2018-11-26 19:07] TerryGLee commented on #1608
@mikkelbu Thanks for your input! @John-Hart, FYI.

[2018-11-26 19:51] DominicMaas opened #1970 "Incorrect code formatting."
The code for the manifest XML files is incorrectly formatted (all on one line with large gaps instead of multiple lines).
The first bullet point under "See also" is also incorrectly formatted.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 48a94fb3-810f-1020-cd03-8b86aa321a93
* Version Independent ID: ac3e49ff-be1a-adf

[2018-11-26 21:15] RaviRathod492 commented on #1933
Will the "Download all, then install feature" save the downloaded files at a specific location(for reuse and creating iso) or they will get deleted after downloading ?

[2018-11-26 21:22] RaviRathod492 opened #1972 "Does "Download all then install" support saving files at particular location or accessing them for reuse?"
Can i have access to those downloaded files like downloading files from command lines so that it can be used for future usage?

[2018-11-26 22:34] #1970 closed

[2018-11-26 23:40] ajventi commented on #1955
Absolutely, thanks for your response, and efforts.

[2018-11-27 00:03] John-Hart commented on #1968
I believe the page you're referring to is talking about Running solutions built with different versions of Visual Studio in different versions of Office.  In your case, I believe you're asking if you can create an Add-in with Visual Studio 2010 that targets Office 2016.  This is a little bit different in that Visual Studio may not support creating new projects that target a particular version of O

[2018-11-27 01:55] saidi6882 opened #1973 "de"
ii

---
#### รายละเอียดเอกสาร

⚠ *อย่าแก้ไขส่วนนี้ กำหนดให้ต้องจัดทำ docs.microsoft.com ➟ การเชื่อมโยงปัญหา GitHub*

* ID: 9290996a-853e-bfcc-5e4a-d8746f453620
* Version Independent ID: faae284e-2f81-6f6f-c437-0bd8c959dd2b
* Content: [Overview of Visual Studio 2017 - Visual Studio](https://docs.microsoft.com/th-th/visualstudio/ide/visual-studio-ide?view=vs-2017)
* Content Source: [docs/ide/visual-

[2018-11-27 12:04] Dave-Lowndes opened #1974 ".NET Framework 2.0 references could be misunderstood"
Where this mentions ".NET Framework 2.0", presumably it really means ".NET Framework 2.0 or later"?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1f3ceb02-4221-a0ba-455e-a6b6e3e767b9
* Version Independent ID: 0c03be05-0295-5705-cbd9-56b42f0a7b3e
* Content: [CA1820: Test for empty strings using string length - Visual S

[2018-11-27 18:45] gewarren commented on #1399
Reopening to address the undocumented check box on the Accounts option page.

[2018-11-27 19:12] gewarren commented on #1974
@Dave-Lowndes Thanks for noticing this, and yes you are correct. I'll get it updated.

[2018-11-27 19:13] #1973 closed

[2018-11-27 19:16] Tomas2046 opened #1975 "#1974"
#1974

[2018-11-27 19:33] gregvanl commented on #1755
VS 2017 API is live https://docs.microsoft.com/en-us/dotnet/api/microsoft.visualstudio.texttemplating?view=visualstudiosdk-2017

[2018-11-27 22:26] davkean opened #1976 ""Sdk" attribute is not documented"
The Sdk attribute hasn't been documented, see: https://docs.microsoft.com/en-us/visualstudio/msbuild/how-to-use-project-sdk?view=vs-2017 for usage.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: af512ce8-46bd-b15a-c5a2-f8315d2b258a
* Version Independent ID: e2c221b8-466f-df7f-078c-bab89be71828
* Content: [Import Elemen

[2018-11-27 22:46] wschin opened #1977 "I am not able to step into scikit-learn functions"
F11 is not working for me.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f46b5339-857e-3398-c654-97bd9757ea44
* Version Independent ID: ed197ab6-8b08-2d23-d8b5-5a85eedda590
* Content: [Working with Python Tutorial, Step 4, debugging - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/python/tutorial-working

[2018-11-27 23:01] kvigor commented on #1682
I cannot perform steps 1 and 2 because I'm using HttpContext.Request.Form.Get("MyProperty") it always times out even with:
1. Disabling property evaluation and other implicit function calls
2. Use Manage Compatibility Mode

[2018-11-27 23:54] Mikejo5000 commented on #1682
See #831 Please use the Send Feedback link > Report a Problem for this issue. Thx!

[2018-11-27 23:55] Mikejo5000 commented on #1231
See #831 Please use the Send Feedback link > Report a Problem for this issue.

[2018-11-27 23:55] #1231 closed

[2018-11-28 03:19] andrew-hampton opened #1978 "Way to access SDK"
Is there a msbuild property that contains the imported SDKs within it?

This stack overflow covers some potential ways of finding it, but it would be great if there was a property already populated with the SDK information
https://stackoverflow.com/questions/52400116/msbuild-condition-for-new-sdk-style-vs-old-project-format

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2018-11-28 09:41] niderost opened #1979 "This help text is missing crucial information"
I select "Attach to Process" to start debugging an existing project. Then I would like to select the code type. The dialog box shows me a lot of options whose purpose isn't very clear for a non-experienced user of the debugger:
* GPU - Software Emulator
* JavaScript (Chrome DevTools Protocol)
* Managed (CoreCLR)
* Managed (Native compilation)
* Managed (v3.5, v3.0, v2.0)
* Managed (v4.6, v4.5, v4.

[2018-11-28 14:46] Jonathan811 commented on #1712
to get past this the command line for install IS NOT THE SAME AS to create the layout

c:\vs2017layout\vs_professional.exe --add Microsoft.VisualStudio.Workload.CoreEditor --add Microsoft.VisualStudio.Workload.ManagedDesktop --add Microsoft.VisualStudio.Workload.NetWeb --add Microsoft.VisualStudio.Workload.Azure  --add Microsoft.VisualStudio.Workload.Data --add Microsoft.VisualStudio.Workload.Data

[2018-11-28 16:47] weloytty opened #1980 "No link to tools"
I was looking for a download link for the remote tools for VS2017, and it took a bit of googling before I found the right answer on stackoverflow.  Can we add a link to the tools here?

https://visualstudio.microsoft.com/downloads/#remote-tools-for-visual-studio-2017

I know they move links around to mess with people, but maybe this one will stay static.

---
#### Document Details

⚠ *Do not edit

[2018-11-28 18:43] gewarren commented on #1975
@Tomas2046 If you were trying to leave feedback about something, please open a new issue and provide more description.

[2018-11-28 18:43] #1975 closed

[2018-11-28 19:28] nick5454 opened #1981 "Code Not Working"
This doesn't work on Visual Studio 17.8.8

Where is the Service coming from, looks like it's async now

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aead3bf3-7b51-602e-b146-c1d52f8a0821
* Version Independent ID: 35bd9bb9-d34b-4f24-ffaa-70b856a04de4
* Content: [Creating an Extension with a Menu Command - Visual Studio]

[2018-11-28 19:32] nick5454 commented on #1981
The Constructor should be changed to:

        private FirstCommand(AsyncPackage package, OleMenuCommandService commandService)
        {

			if (package == null)
			{
				throw new ArgumentNullException(nameof(package));
	        }

	        this.package = package;

	        //OleMenuCommandService commandService = this.ServiceProvider.GetServiceAsync(typeof(IMenuCommandService)) as OleMenuComman

[2018-11-28 19:45] Mikejo5000 commented on #1980
@weloytty Your scenario is using IntelliTrace on a remote machine? Are you trying to use features like the standalone collector, or just standard IntelliTrace? Thx!

[2018-11-28 19:48] Mikejo5000 commented on #1979
Thanks, I'll take a look at this.

[2018-11-28 20:00] #1968 closed

[2018-11-28 20:01] #1965 closed

[2018-11-28 22:06] dotMorten commented on #1190
Agreed! Also working it input/output of a collection items/itemsgroups

[2018-11-28 22:56] weloytty commented on #1980
Oh, I use the standalone collector a lot, I always have a hard time finding it though.  I am getting a server ready to deploy, and I wanted to make sure I had the latest and greatest collector.  I guess I commented too fast, as I don't have a question or need clarification, I just needed to find the download site.

[2018-11-28 22:59] Mikejo5000 commented on #1980
OK, I needed to make sure what tool you were talking about here. I can take a look at this. Thx!

[2018-11-29 05:12] nickbeagley opened #1982 "full path must be less than 80 chars"
Might be worth noting that the full install path has to be less than 80 characters for installation to work otherwise it drops out with a complaint.  If you are hosting the offline install on a network share, don't put it too deep.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ff556dcf-4de1-8483-702a-73699062be1f
* Ve

[2018-11-29 08:12] sshukurov commented on #1467
Missing topic for CA2007 DoNotDirectlyAwaitATaskAnalyzer as well.

[2018-11-29 08:14] sshukurov opened #1983 "Missing topic for CA2007 DoNotDirectlyAwaitATaskAnalyzer as well."
Could not find anything on this warning, but the latest FxCopAnalyzers yields it on my project.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9f935929-e6b1-d110-4d2f-8a4150a27755
* Version Independent ID: d4c2d5fd-b9e3-85fd-7d21-22cdb8c06f9d
* Content: [Visual Studio Code Analysis Warnings for Managed Code by CheckId

[2018-11-29 09:33] TerryGLee commented on #1982
@nickbeagley Thanks for letting us know! We'll investigate and report back.

[2018-11-29 09:40] TerryGLee commented on #1972
@RaviRathod492 The "download all then install" feature will save temporarily (to a temp folder), so it's designed to use one time and  guarantees only that your installation will not start before everything is downloaded. If you need to download Visual Studio and then install later or to a different machine, your best option is to create a layout by using command-line options.

[2018-11-29 09:42] TerryGLee commented on #1933
@RaviRathod492 The "download all, then install" feature will save temporarily (to a temp folder), so it's designed to use one time and  guarantees only that your installation will not start before everything is downloaded. If you need to download Visual Studio and then install later or to a different machine, your best option is to create a layout by using command-line options.

[2018-11-29 10:26] krunal29385 opened #1984 "ts-loader, webpack and webpack-cli not loading"
Hi,

I am using VS 2017 version 15.9.2 and Node.js v10.14.0. I refer your steps from below URL
https://docs.microsoft.com/en-us/visualstudio/javascript/tutorial-nodejs-with-react-and-jsx?view=vs-2017
But when I tried to add ts-loader, webpack and webpack-cli from install missing package its not installed.

Please let me know how can I install it.
I also attached screenshot for the same.
![nodereac

[2018-11-29 11:03] psimler opened #1985 "Experience"
WPF Designer is unusable. Productivity using it in a scala from 1 to 10 is around -50
experience editing the xaml code is not better

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eeeb6491-1f2c-73a7-fef2-afb69fd08948
* Version Independent ID: 7e3209b0-a116-3488-a80f-993edf9515a4
* Content: [Creating a UI with XAML Desi

[2018-11-29 11:20] cremor opened #1986 "Documentation layout broken"
The layout of the table in the section "Download the Visual Studio bootstrapper" is broken

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ff556dcf-4de1-8483-702a-73699062be1f
* Version Independent ID: cba846ae-6af4-af49-b194-28b546169426
* Content: [Create a network-based installation of Visual Studio - Visual Studio](

[2018-11-29 13:01] LucaGabi commented on #1612
Is there a provider that will mimic folders ? I want to be able to create a structure in controllers folder - just like I would create folders.

[2018-11-29 13:44] schibu007 opened #1987 "Misleading comment"
This comment is misleading:
&lt;!-- Path relative to solution directory --&gt;
It's not the solution directory but the directory where the *.runsettings file lies.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 21ac034a-a498-f3e3-28d0-175b6fead219
* Version Independent ID: 747194a8-ffcf-60b3-b525-6f8fe00066a2
* Content

[2018-11-29 15:35] Saulzi opened #1988 "Outdated Documentation?"
Does this document need to be updated to include Jest (https://docs.microsoft.com/en-us/visualstudio/releasenotes/vs2017-relnotes)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 32738a06-835b-5bd5-7a6c-942c681aca97
* Version Independent ID: e715d12c-a4aa-eec3-c05f-1ff6243d209b
* Content: [Unit testing in Node.js - Visu

[2018-11-29 15:38] Saulzi opened #1989 "Outdated Documentation?"
Does this documentation need to be updated to include Jest (https://docs.microsoft.com/en-us/visualstudio/releasenotes/vs2017-relnotes)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3fdc4321-1bc2-215a-7696-c25bb6e5bf04
* Version Independent ID: 13350cc1-b3f5-f01d-44c8-18dd1019ae22
* Content: [Write JavaScript code in

[2018-11-29 16:51] Mikejo5000 commented on #1988
@Saulzi I'll need to look into this.

[2018-11-29 16:53] Mikejo5000 commented on #1989
I'll ask about it

[2018-11-29 17:22] TerryGLee commented on #1986
@cremor Thanks for letting us know! We'll take a look and get it fixed.

[2018-11-29 17:23] #1972 closed

[2018-11-29 17:40] gewarren commented on #1985
@diverdan92 Can you take a look at this feedback?

[2018-11-29 17:43] gewarren commented on #1987
This relates to the 6th line of the example .runsettings file.

[2018-11-29 19:46] MisinformedDNA opened #1990 "How do we file bugs against the Developer Community website itself?"
I've had some issues with the Developer Community website itself. How do I file bugs against that? Also, how can I make feature suggestions?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7254052d-2d37-509e-e6c8-d5674ea775ca
* Version Independent ID: a2acc423-07d3-409c-7de1-21dd88e3cdcd
* Content: [Overview: Report a P

[2018-11-29 21:39] cpatulea opened #1991 "Download links under "Official distributions" are broken links"
For example for 2.7.6 the link target is:
  https://www.org/ftp/python/2.7.6/python-2.7.6-pdb.zip

it should be:
  https://www.python.org/ftp/python/2.7.6/python-2.7.6-pdb.zip

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3a28d662-7af8-e0cc-dc6c-b300d22eb16d
* Version Independent ID: 61410436-ef1f-6858-618d-c3a2da3530

[2018-11-30 10:55] junjiequ opened #1992 "Table markdown is not rendered well"
Table markdown is not rendered well here on the html page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 485faedb-302a-5b6c-8a5b-d9dc4bedfbd2
* Version Independent ID: d236f0a6-2bcb-2cdd-de7d-522dfc4b6dde
* Content: [Deploy an ASP.NET Docker container to Azure Container Registry (ACR) - Visual Studio](https://docs.mic

[2018-11-30 18:02] gewarren commented on #1990
@seaniyer Can you respond to the question about how to file issues against Developer Community itself? @MisinformedDNA Are you asking about making feature suggestions for Developer Community, or for Visual Studio?

[2018-11-30 18:05] gewarren commented on #1992
@junjiequ Thanks for letting us know! This should be an easy fix.

[2018-11-30 19:41] akeeton opened #1994 "Missing word in Note section"
"This means that if you create a user control that uses a property of the Globals class from inside a user control class, you must **&lt;missing word&gt;** whether the property returns null before you try to use the returned object."  Maybe it's supposed to be "check?"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b8

[2018-11-30 20:00] fishbits commented on #1317
this is terrific, midspace... thank you!

[2018-11-30 20:06] TerryGLee commented on #1317
@SidShetye We appreciate the inquiry, and @midspace thanks for your input!
@tedvz FYI.

[2018-11-30 20:53] robotdad commented on #1903
/Updateconfiguration is also missing. If the command is valid it should be documented, valid commands should not be selectively undocumented. I'd also add that devenv /? should list all commands or provide a link to this article for more info.

[2018-11-30 20:59] TerryGLee commented on #1986
@cremor We have a PR in the queue to fix this formatting error; it'll be published Monday 12/3. Thanks again for reporting it.

[2018-11-30 20:59] #1986 closed

[2018-11-30 21:52] seaniyer commented on #1990
Hi

@MisinformedDNA, you can report problems or make suggestions on the Developer Community web site itself at Developer Community.  Please submit your feedback and we'll follow up.

[2018-11-30 22:02] stesvis opened #1995 "[iOS] Archive for Publishing not working"
In VIsual studio for Mac (latest version of everything), when I try to archive my xamarin iOS project for publishing, it goes straight to the archives tab but it doesn't archive anything.

What logs should I check? Any help to investigate this?

[2018-12-01 00:14] TerryGLee commented on #1994
@akeeton Thanks for letting us know; this content set is in our backlog to update. @John-Hart, FYI.

[2018-12-01 16:31] redcurry opened #1996 "Python from the command line"
It would be helpful to explain how to use Python on the command line once it's been installed by Visual Studio 2017.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e2608582-6ff8-9215-36b5-7c8488992227
* Version Independent ID: 758d27f4-fc8f-fc6a-6763-d8592a941904
* Content: [Selecting and installing Python interpreters

[2018-12-01 18:39] louis-langholtz opened #1997 "support for hexfloat notation"
I'd love to see support for C++ std::hexfloat style formatted floating point numbers. Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6a5c135d-ace1-1f09-041a-13411c054ff3
* Version Independent ID: 083fc572-d877-2216-19a9-326636c1d8e6
* Content: [Format specifiers in the debugger (C++) - Visual Studio](https://do

[2018-12-02 02:35] krchome opened #1998 "Youtube playlist for C++ using Visual Studio 2017"
Here is the playlist:
https://www.youtube.com/watch?v=WorTYNFNV8Q&list=PLnVvOWNfuhGXpRfzT_AgShA4JQYMNoQUr

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 89847656-bea8-b9a7-a50a-3d7e75e14ff6
* Version Independent ID: 9f6c1029-6d5b-1d41-10dd-65863848c2e5
* Content: [Get started with C++ in Visual Studio - Visual Studio](

[2018-12-02 16:42] diverdan92 commented on #1985
@psimler - do you have any specific feedback on the XAML Designer or Editor? What about it makes it unusable? Do you have performance or reliability issues, is it too hard to use? We'd love to hear your thoughts - please file Visual Studio feedback using the ['Report a problem'](https://docs.microsoft.com/en-us/visualstudio/ide/how-to-report-a-problem-with-visual-studio-2017?view=vs-2017) in Visua

[2018-12-03 07:49] mrweiland commented on #1266
How can this important change take so long time to fix? Without this little parameter --wait it just dont work. So please update for all developers out there that missing to add this... like for me.

[2018-12-03 15:17] kraigb commented on #1996
Thanks, I'll give some thought about how to work that in. In general, the Python Environments window has a command for each interpreter that opens an interactive window within VS, which gives you the command line interface you're looking for.

[2018-12-03 18:21] #1408 closed

[2018-12-03 19:39] shoff opened #2003 "Breakpoints still not working in 2.1"
aspnet core 2.1 suddenly controllers that are not in the start up project will no longer break on any breakpoint when debugging. They do not break on exceptions or even Debugger.Break. Yes they are debug mode, pdbs are built module is loaded, code is being executed (I see it in the logs) but the debugger will not break.

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2018-12-03 21:06] gewarren commented on #1995
@conceptdev FYI.

[2018-12-03 21:19] conceptdev commented on #1995
Hi @stesvis, the best place to ask support questions is [Developer Community](https://developercommunity.visualstudio.com/spaces/41/index.html).

If you follow [these steps to report a problem](https://docs.microsoft.com/en-us/visualstudio/mac/report-a-problem) valuable information about your configuration is automatically uploaded (with your permission) to help diagnose and resolve any issues. Yo

[2018-12-03 22:25] vbaderks opened #2004 "Visual Studio 2017 v15.9 will generate C26455 instead of C26439 for default constructors"
The behavior in Visual Studio 2017 v15.9 has been changed:
https://developercommunity.visualstudio.com/content/problem/236762/c-code-analysis-warning-c26439-this-kind-of-functi.html

C26455 is now generated for default constructors not marked noexcept, which may be suppressed by adding noexcept or an explicit noexcept(false), "... noexcept(false) = default" is now also supported for the constructo

[2018-12-04 00:16] #1708 closed

[2018-12-04 00:17] #1898 closed

[2018-12-04 09:31] bremnes commented on #1411
I wish Microsoft could be more neutral with these kind of tools. If you want to provide Kubernetes support, an _open source_ project, why not provide an agnostic Visual Studio tool which lets you deploy to Minikube, Docker for windows/mac, EKS, AKS, GKE or even a self-provided Kubernetes cluster hosted in your own data center?

(This goes for the tightly coupling to dev spaces as well. Why not mak

[2018-12-04 10:00] mrweiland opened #2005 "Need help with Export --config commandline"
I have installed Preview latest 15.9 and also i have installed 2017 Enterprise 15.8.9. I wanna export config so i can use it later.

What im a doing wrong - tried different installPath but none works
`.\vs_enterprise__preview.exe export --installPath "C:\Program Files (x86)\Microsoft Visual Studio\Preview" --config "C:\.vsconfig"`

Can someone give me a working example of export config?

[2018-12-04 18:47] #1998 closed

[2018-12-04 19:21] GrantMeStrength opened #2006 "Content suggestion"
I'd like more information on designing user interfaces, and how this works with Xcode. Some examples of creating an app using Interface Builder would be great. I get no sense how a control I add in Interface Builder would be referenced from my C# code? Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1535449d-101

[2018-12-04 19:44] conceptdev commented on #2006
Designing iOS apps is covered in the Xamarin documentation, starting with the [ios user interfaces section](https://docs.microsoft.com/xamarin/ios/user-interface/designer/), [ios storyboards](https://docs.microsoft.com/xamarin/ios/user-interface/storyboards/), and for Mac development, [xib files in Xcode](https://docs.microsoft.com/xamarin/mac/app-fundamentals/xib).

In general we recommend the iO

[2018-12-04 19:44] #2006 closed

[2018-12-04 20:42] GrantMeStrength commented on #2006
And that's exactly the kind of thing I would like to see referenced from here. Thank you.

[2018-12-04 21:38] SyntaxC4 commented on #1998
@krchome Would you be able to expand on the intent of your youtube link? Do you think there are elements of our documentation which could be improved upon which is covered in these videos?

[2018-12-04 21:41] gewarren commented on #1998
@SyntaxC4 This issue is locked so the OP won't be able to comment. Feel free to unlock if you think it's warranted.

[2018-12-04 22:53] Ackara commented on #1568
How do you get the personal access token?

[2018-12-04 23:05] gregvanl commented on #1568
@Ackara There is a write-up in the VS Code docs at https://code.visualstudio.com/docs/extensions/publish-extension#_get-a-personal-access-token. VS Code extensions are also on the Visual Studio Marketplace.

[2018-12-04 23:22] dan-meier opened #2007 "Cannot Convert Shape to Path!"
The embedded video describing the procedure to convert a shape into a path uses the now-discontinued Expression Blend. The procedure in the current Blend for Visual Studio is different, and the Format &gt; Path &gt; Convert to Path menu item seems to be permanently disabled.  Is there NO WAY to convert a shape to a path within Visual Studio or Blend for Visual Studio???

---
#### Document Details

[2018-12-05 06:59] tienle488 opened #2008 "Create a unit test project: Step 4's expection"
In order for Create a unit test project: Step 4's expection "The BankTests project is added to the Bank solution" to be true, Step 1 needs to be improved.  Was "On the File menu, select Add &gt; New Project."  Recommend: "From Solution Explorer, select "Solution 'Bank' (1 project)" and right click it then select Add &gt; New Project."

Thanks,
Tien

---
#### Document Details

⚠ *Do not edit this s

[2018-12-05 08:05] IanKemp commented on #1933
@TerryGLee I assume that the "Download all, then install" is essentially calling `vs_community.exe --layout %temp% --lang <language> --add <workload1> [--add <workloadN> ...]`.

If so, could another option be added (something like "Download all to specified folder, then install" which just pops up a folder chooser dialog, then runs `vs_community.exe --layout <folder chosen by user> --lang <languag

[2018-12-05 09:22] arihannu opened #2009 "Where to put the pkgdef file?"
There are no instructions where to put the pkgdef file.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e45c1ad-ec51-d4ac-e312-aa3f00d1aa17
* Version Independent ID: ddf8b9a6-f8d9-2642-be36-0856e639ac85
* Content: [How to: Manage a Private Gallery By Using Registry Settings - Visual Studio](https://docs.microsoft.com/e

[2018-12-05 13:09] aleksander-oven opened #2010 "How does project sub-typing work with the new .NET Standard csproj format?"
I already have a custom project subtype (a.k.a. flavored project) for the C# DLL Library project, which uses ProjectTypeGuids tag to make things work. How can I transition my csproj templates to the new .NET Standard format?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd451a65-f5a0-fc0b-d4c2-96354f53046b
* Version I

[2018-12-05 14:34] d07RiV opened #2011 "EditorConfig language service extension is not working"
Trying to add a config file using this extension shows an error:

    The parameter is incorrect. (Exception from HRESULT: 0x80070057 (E_INVALIDARG))

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72f45eb4-3596-866a-2c16-ee225737d956
* Version Independent ID: cea055e7-fe9b-95c7-6d25-086f182c01d2
* Content: [Using Edito

[2018-12-05 16:10] StingyJack opened #2012 "The Enterprise 15.8.9 download link for previous versions of visual studio is broken"
On this page - https://docs.microsoft.com/en-us/visualstudio/productinfo/installing-an-earlier-release-of-vs2017 - The enterprise download link for 15.8.9 downloads the community edition not the enterprise edition.

I need to get 15.9.x off my computer because it wont stay connected to our on premise TFS server for any useful period of time (TF400324 errors), but I cant download the previous versi

[2018-12-05 16:22] CeciAc opened #2013 "Es fehlt eine Information"
@ojutan commented on [Tue Dec 04 2018](https://github.com/MicrosoftDocs/visualstudio-docs.de-de/issues/28)

Man kann den Download für die Offlineinstallation nur auf Sytemen durchführen, auf denen noch kein Visual Studio installiert ist. Das sollte auf alle Fälle mit aufgenommen werden, denn wenn schon ein VS auf dem System vorhanden ist, dann landet man in einem schwer zu diagnostizierenden Zusta

[2018-12-05 17:38] gewarren commented on #2011
@madskristensen Can you take a look at this feedback about the extension https://marketplace.visualstudio.com/items?itemName=MadsKristensen.EditorConfig?

[2018-12-05 18:05] DevKumar4Git opened #2014 "Can't use Sharepoint online as a private gallery"
I am trying to create a private gallery pointing to a sharepoint site. I uploaded vsix file on to the sharepoint site but when I try to add the link to my gallery in Visual Studio & try to access my extension, I get
"remote server returned 403"

[2018-12-05 18:08] madskristensen commented on #2011
Can you tell me what version of VS are you seeing this in and how I can repro this issue?

[2018-12-05 18:19] Thraka commented on #466
@gewarren if you lock this, it will disappear from the article closed issues.

[2018-12-05 18:22] d07RiV commented on #2011
VS 2017 Professional, I just installed the extension (and restarted VS) and selected the option to create editor config file in my project.

There is an existing ticket where someone is having the same issue on the extension repository, dated half a year ago.

[2018-12-05 22:08] stamminator opened #2015 "Supported Operating Systems for remote computer"
Windows Server 2016 is not listed on the supported operating systems for the remote machine. Is this accurate?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3a52d11c-1c52-fb1d-c785-75845f6edee3
* Version Independent ID: 35a11332-d74c-03dd-dbdd-75f256bd68b3
* Content: [Remote debugging in Visual Studio - Visual Studio]

[2018-12-05 23:45] SelmaI commented on #1933
@IanKemp,
the 'Download all, then install' is not calling the layout command. Instead, it's using a sequential approach to our default (parallel download and install) mechanism.

If I am interpreting your ask correctly, you would like use the create a layout and install from it, but use the installer interface, or make the commandline options more streamlined. If so, we have a suggestion ticket ht

[2018-12-06 00:06] Mikejo5000 commented on #2015
@stamminator Hi, I'll update that. Thanks! WS 2016 is supported.

[2018-12-06 01:08] mairaw opened #2016 "Need information about MSBuild for .NET Core vs .NET Framework"
See discussion at https://github.com/Microsoft/msbuild/pull/3987#discussion_r239223544 for more info

/cc @rainersigwald @AaronRobinsonMSFT

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 911666fa-55ac-cbc1-ce79-66c058859ad9
* Version Independent ID: 571eec5d-8fb9-2401-fc4c-8a7896723eb7
* Content: [MSBuild - Visual Stud

[2018-12-06 01:42] TerryGLee commented on #2012
@StringyJack Thanks for letting us know. This should be fixed now. :)

[2018-12-06 03:10] gewarren commented on #1612
@AngelosP Angelos, can you comment on this?

[2018-12-06 03:14] gewarren commented on #1865
@viskri-msft Please comment if you are still encountering an issue. I'm closing this for now.

[2018-12-06 03:14] #1865 closed

[2018-12-06 03:15] gewarren commented on #1897
@KathrynEE Any idea on this one?

[2018-12-06 16:05] pierrebai opened #2017 "== vs Equals"
Should not the Equals() code call Equals on the sub-objects instead of using ==?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8cb48054-70fa-c5eb-748e-4db24ef64fd4
* Version Independent ID: 9ca41665-2e31-87da-4ba9-a8c60150db51
* Content: [Generate C# Equals and GetHashCode Method Overrides - Visual Studio](https://doc

[2018-12-06 16:38] pierrebai opened #2018 "unchecked in GetHashCode"
In one blog, the author claims we need to use unchecked{} around the hash code calculation to silence overflow exceptions. Is that true?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8cb48054-70fa-c5eb-748e-4db24ef64fd4
* Version Independent ID: 9ca41665-2e31-87da-4ba9-a8c60150db51
* Content: [Generate C# Equals and G

[2018-12-06 17:09] MatrixRonny opened #2019 "Where to find Filter menu"
I would like to point out that the Filter menu from "CPU Usage" tab is only present in the diagnostic session. If a method call is opened for details, even if the view is switched to "Call Tree", there is no Filter menu next to Search area.

This feedback is helpful for readers interested in the "External code" subsection of "Analyze the CPU Usage report". More specific, it describes how to obtain

[2018-12-06 17:15] Mikejo5000 commented on #2019
@MatrixRonny Thanks, that does seem a little confusing. I will plan to fix it. So, it sounds like the Filter menu is only present when running the tool with the debugger attached, over in the Diagnostic Tools window on the right. Does that sound correct?

[2018-12-06 17:53] Campbellony opened #2020 "UI support"
I like this addition. I'm curious if there are plans for a UI to help design these files.  I'm thinking something like the settings tab in the project properties.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72f45eb4-3596-866a-2c16-ee225737d956
* Version Independent ID: cea055e7-fe9b-95c7-6d25-086f182c01d2
* Content:

[2018-12-06 18:12] AngelosP commented on #1612
Hello! There are currently no plans to invest in this feature. There are no plans to add support for other project types. There is also no plan to make it work for folders.

[2018-12-06 20:09] MatrixRonny commented on #2019
I'm no longer at work, but I will send you a picture tomorrow. My feedback only applies to VS2017, since in VS2015 I could not find a way to get additional details about method calls.

Regarding your question, I remember that the Filter menu is present in both cases, when using profiling tools with and without the debugger attached. In VS2017, additional call details can be displayed in a file tab

[2018-12-07 04:12] redcurry commented on #1996
Thanks. It would be nice to be able to run Python from the Windows Command Prompt. There are many Python scripts out there that assume you can install them from the command-line terminal.

[2018-12-07 06:27] lgjie opened #2021 "Meet a problem when updating VS2017 to 15.9.3"
Error Information
AppInsightsEvent Name = vs/setup/bootstrapper/error
          Description = Failure to download
     TelemetrySession = '501af9d3-297a-401b-bddf-203e88bd0775' Started = True OptIn=True IsInitialized = True Cloned = False
      WatsonEventType = VisualStudioNonFatalErrors2
             UTC time = 2018-12-07T06:18:30

 Exception:
 Microsoft.VisualStudio.Setup.Security.InvalidSignat

[2018-12-07 09:45] gogoasealin opened #2022 "pluralization on and off on VS 2017"
The O/R Designer don't exist in the DataBase Tools.
https://docs.microsoft.com/ro-ro/visualstudio/data-tools/how-to-turn-pluralization-on-and-off-o-r-designer?view=vs-2017
say to expand O/R Designer but VS 2017 dosn't have this option.
---
#### Detalii document

⚠ *Nu editați această secțiune. Este necesară pentru asocierea prin link a problemelor între docs.microsoft.com și GitHub.*

* ID: 55a3e7

[2018-12-07 09:48] #2022 closed

[2018-12-07 14:27] yusuf-gunaydin opened #2023 "Windows Server 2019 base images."
Does this work with Server 2019 images? When I try to run the executable it returns immediately. If I watch the %Temp% folder I can see that the installation continues. It is as if the --wait argument does not work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b91a4a43-5353-97cf-7532-7644aa3b497f
* Version Independen

[2018-12-07 15:08] heaths commented on #2023
Only 15.9 or greater will work with Server 2019. I'll add a note to the docs and get a blog post out.

[2018-12-07 16:07] socholo commented on #1260
I also agree with this comment - I think it is an important change to make. After reading the document, I thought "wow, I need to start using this", but fortunately I read this comment that indicates the functionality is *not* available for native (C++) builds so I didn't end-up wasting my time.

[2018-12-07 17:15] kraigb commented on #1996
That capability is also in Visual Studio already. In the Python Environments window, select an interpreter, and on its Overview tab there's are several commands that all open a Windows command prompt with the interpreter running (not a Visual Studio window). One is "Open in Powershell", the other is just the name of the exe. These are documented on https://docs.microsoft.com/en-us/visualstudio/pyt

[2018-12-07 17:37] redcurry commented on #1996
Thanks for the link to that documentation, and I see that the original page links to it. It just wasn't clear that the link would explain what I wanted, so a clearer mention would be helpful (assuming it's a common need).

[2018-12-07 19:06] TerryGLee commented on #1279
@briman0094 We've applied some fixes to the doc; please let us know if the issue you experienced is still a problem.

[2018-12-07 19:10] #1933 closed

[2018-12-07 19:33] #1500 closed

[2018-12-08 03:54] Powerhelmsman opened #2025 "error occurs when using denvenv to build C++ project"
This issue is created by @SysFlat from https://github.com/MicrosoftDocs/feedback/issues/931
I want to build my c++ project in command line. So i follow this :
https://docs.microsoft.com/zh-cn/visualstudio/ide/reference/build-devenv-exe?view=vs-2017

My command is:
C:\Program Files (x86)\Microsoft Visual Studio\2017\Professional&gt;
Devenv G:\00-CodeCoverage\GMP5.0_Adapter_GTJ2018_4-10_Git\build\sr

[2018-12-08 15:43] Auvite commented on #1957
Example would be great. This is quite hard to understand without example source.

[2018-12-09 17:38] gewarren commented on #2021
Thanks! Closing this issue.

[2018-12-09 17:38] #2021 closed

[2018-12-10 14:26] evilC opened #2030 "Does not contain all required information"
Does not detail which component you need to install to have Spy++ available

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5c44ce60-3191-4090-0f47-1f8fe05eca45
* Version Independent ID: d5c700f5-e09c-544b-2347-db1b36c898cd
* Content: [Introducing Spy++ - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/debu

[2018-12-10 16:36] Mikejo5000 commented on #2030
Thanks, I'll take a look. Did you get it working correctly?

[2018-12-10 16:51] rainersigwald commented on #2016
Once this is available, we need to point to it from https://aka.ms/msbuild/MSB4803 (which currently just points to the root of the MSBuild docs).

[2018-12-10 17:40] gewarren commented on #2025
@sysflat Could you try the command without specifying "Win32"?

[2018-12-10 19:38] #1981 closed

[2018-12-10 19:45] evilC commented on #2030
Yes, I did in the end, I think it was in the `C++ Core Features` component?

[2018-12-10 20:49] awschristou commented on #1447
@TerryGLee  @jazzdelightsme  Thank you - I haven't had a chance to try it out, but it looks like what I am after.

[2018-12-10 20:51] TerryGLee commented on #1447
@awschristou OK I'll close this issue then. Thanks for your response. :)

[2018-12-10 20:51] #1447 closed

[2018-12-10 21:29] SativaPhoenix opened #2031 "Unity Editor appearing in Windows processes, but never opening"
I solved mine by unplugging a USB gamepad: NAcon Revolution controller ;) so Im guessing Unity doesn't like it,
Visual studio however fully runs with this controller plugged in, and is worth keeping vs unity, as you can code C# obviously in Visual STudio, render in unity, ,Peace™

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2018-12-10 23:15] juancamilor opened #2032 "Deprecated notice"
There is a deprecated notice for the Web performance and load test functionality in Visual Studio
https://docs.microsoft.com/en-us/visualstudio/test/how-to-delete-load-test-results-from-a-repository?view=vs-2017
 Note
Web performance and load test functionality is deprecated. Visual Studio 2019 is the last version where web performance and load testing will be available.

Would be good to have som

[2018-12-11 12:39] ThePriusList opened #2033 "Not complete"
This walkthrough is not for a novice in WPF. The "hacking" of Entity framework .tt file is not accurately described, took me a while to find out. If you follow the walkthrough step by step you get an exception in
public MainWindow()
    {
        InitializeComponent();
        custViewSource = ((CollectionViewSource)(FindResource("customerViewSource")));
        ordViewSource = ((CollectionViewSou

[2018-12-11 13:35] ThePriusList commented on #2033
I did a few changes:
customerViewSource -> customersViewSource (letter "s" is missing, added by me)
customerOrdersViewSource -> customersOrdersViewSource (letter "s" is missing, added by me)

Then customer data became visible.
This tutorial needs correction of errors like the ones mentioned above.

[2018-12-11 13:35] #2033 closed

[2018-12-11 19:22] ghogen commented on #1992
This is fixed now, @junjiequ -- thanks for reporting this issue

[2018-12-11 19:22] #1992 closed

[2018-12-11 22:20] #2023 closed

[2018-12-11 22:47] nschonni commented on #1510
15.1-15.8 support dropped with 15.9 https://blogs.msdn.microsoft.com/visualstudio/2018/10/05/visual-studio-2017-and-visual-studio-for-mac-support-updates/

[2018-12-12 00:10] lgjie commented on #2021
@gewarren, I've resolved this issue, the solution is update windows OS to the latest version and then go to update VS2017, everything is ok now. BTW, if the OS self update function doesn't work, we can go to https://www.microsoft.com/zh-cn/software-download/windows10 for download the latest version of update package and install it. I tried the latter one, it works and every weird problem met befor

[2018-12-12 13:20] bubianchi opened #2035 "out-of-date documentation and links"
This documentation has links to VS Vizualization SDK which is not available anymore.
In addition, the documentation is based on TextTemplate files provided by SDK, so these files are not available anymore also: why not include them in this documentation as source code.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2d3

[2018-12-12 15:41] tristanbarcelon commented on #1510
Thanks @nschonni. It's not the news I wanted to hear unfortunately. I suspect they archived it sooner due to the VS2019 effort. This forces me to update the offline release we install to 15.9. I used to actually spend the time burning a full download of each and every edition and major.minor.path to an ISO but the effort took too much time and storage. For environments that need reproducible build

[2018-12-12 17:10] gewarren commented on #2032
@boraprachi Could you comment on this?

[2018-12-12 17:17] gewarren commented on #2021
@lgjie Thanks for the update. I'm glad the issue is resolved!

[2018-12-12 19:00] baruchiro commented on #1320
I choose `--add Microsoft.Component.MSBuild`, how much longer it will take?
Currently, it ran more than an hour.

[2018-12-12 22:49] xinpeng-MSFT opened #2036 "How can I update the item template the "Create Unit Tests" uses?"
Currently the created UT file places the imported namespaces outside of the namespace block, also the attributes TestClass and TestMethod are followed by parenthesis, neither are preferred.
I updated the templates under Common7\IDE\ItemTemplates\CSharp\Test\1033, but seems doesn't work. Curious why the command and the project don't share the same item templates.

---
#### Document Details

⚠ *Do n

[2018-12-13 01:02] StarTrekCafe opened #2042 "accessibility of microsoft vs 2015 isolated shell for visual studio 2017 community 32 bit"
hi. a blind it student and when i try to launch sql management studio 2017.9.1, and also had to install the upgrade setup for ssme, as it was falling over when it got to 44 % and the vs 2015 kb 3 million 95 681 update, and now when i was able to install the upgrade setup. now when i try to then launch from the desktop or all apps list windows 10 1809, says one or more components could not be found

[2018-12-13 08:10] JinGangRed opened #2045 "The `Edit.GenerateMethod` shortcut is not available"
I have fine the default shortcut of `Edit.GenerateMethod` is Ctrl+K, Ctrl+M, and I didn't modify it on the keyboard. However, when i press them in the Visual Studio 2015. It did not generate a method. And there are messages like this: `The key combination(Ctrl + K, Ctrl + M) is bound to command which is not currently available`.

So I want to know which the shortcut can generate method in Visual S

[2018-12-13 08:18] TypePun opened #2046 "Documentation on TEST_DESCRIPTION appears to be incorrect"
The documentation states:

These pre-defined attribute macros can be substituted for the macros TEST_METHOD_ATTRIBUTE, TEST_CLASS_ATTRIBUTE, OR TEST_MODULE_ATTRIBUTE described above.

But the declaration of TEST_DESCRIPTION is:

#define TEST_DESCRIPTION(description) TEST_METHOD_ATTRIBUTE(L"Description", description)

Which means it can only be used in place of a TEST_METHOD_ATTRIBUTE.

---
#### Do

[2018-12-13 12:16] martijnhoekstra opened #2049 "unclear what [$RootKey$\OpenFolder\Settings\VSWorkspaceSettings\[settings-name]] should be"
It's not clear what `[settings-name]` should be replaced with.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ff91657a-173a-0013-62e4-e7c8531b8240
* Version Independent ID: 27988cad-5114-41e3-c48a-357431af0fe1
* Content: [Adding a Language Server Protocol extension - Visual Studio](https://docs.microsoft.com/en-us/visu

[2018-12-13 12:18] martijnhoekstra opened #2050 "Compilation error"
snippet

        public async Task OnServerInitializeFailedAsync(Exception e)
        {
            return Task.CompletedTask;
        }

        public async Task OnServerInitializedAsync()
        {
            return Task.CompletedTask;
        }

should either not be `async`, or just `return` without `CompletedTask`

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2018-12-13 12:57] refack opened #2052 "VsPerfCmdAdmin -> VsPerfCmd Admin"
IIUC the last line should read **VsPerfCmd** **Admin**

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f8b802ed-2874-0a02-2245-e7cea64ee3ee
* Version Independent ID: 9c8f278d-f293-df95-1314-ad2ea7ea1172
* Content: [VSPerfCmd - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/profiling/vsperfcmd?view=vs-2017)

[2018-12-13 16:36] Mikejo5000 commented on #2052
@refack Thanks! I'll fix that.

[2018-12-14 00:11] #2050 closed

[2018-12-14 09:10] JinGangRed commented on #2045
Thanks @gewarren , I just want to quickly generate a method at the editor. For example, we can tap the `prop` and double press the `Tab`, it will create a public property.  And I want to know if there is a shortcut to quickly generate a method. This method has default access control, return value type, method name, etc., and then I can modify it.
Note that, I have create a shortcut to create a cla

[2018-12-14 09:32] dkrikun opened #2054 "this.BitmapResourceID = 301 unclear"
this.BitmapResourceID = 301;

This is both unclear and does not work for me

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 554db2bb-c0c2-d694-be77-44cb0fd311f8
* Version Independent ID: e7a691ea-7540-f6c4-46e4-66abdbd07c37
* Content: [Adding a Tool Window - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/e

[2018-12-14 12:28] DaanV2 opened #2055 "Add the content type to an editor export, unclear"
Its says you should add attributes to a class, but you have created 5 classes up to that point? so which one is it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c80c84be-4fae-ea57-4ce3-1b3c62cae593
* Version Independent ID: 3261010a-d0ba-b2c0-ef2d-aba46e101ad6
* Content: [Walkthrough: Linking a Content Type to a File

[2018-12-14 13:09] dkrikun opened #2056 "Tool window internal command is being set up in the command to show the window"
The command to play the media which belongs to the tool window itself, is being set up in the same code that sets up the command to find and show the tool window in the first place. Two problems:
1. It feels like it would be better to separate these concerns, by moving the code to set up the tool window commands etc. into the tool window code (FirstToolWindow.cs). It's not clear how one could do t

[2018-12-14 16:57] KorkyPlunger opened #2057 "SetThreadDescription API is the recommended way of naming threads now"
The exception-based example above is the old way of naming a thread, and only works if the debugger is attached at the time the code runs.
To work around this problem, I believe the SetThreadDescription API is the new Microsoft-recommended approach? https://visualstudio.uservoice.com/forums/121579-visual-studio-ide/suggestions/17608120-properly-support-native-thread-naming-via-the-sett

If so, exp

[2018-12-14 16:59] Mikejo5000 commented on #2057
@KorkyPlunger Great info, thanks! I'll get it updated.

[2018-12-14 18:04] ravick4u opened #2058 "Visual Studio Enterprise (Standard, annual cloud)"
When I click on FAQ it says it can not be extended which does not go in sync with Eligibility Table. Based on Eligibility "Visual Studio Enterprise" license gives the flexibility to renew O365 Subscription. To me, it looks like correction on FAQ page. Please clarify.

When my subscription is about to expire, can I extend it?
At this time, we are unable to extend existing subscriptions. However, yo

[2018-12-14 18:12] gewarren commented on #2045
I know we have the generate method from first usage functionality, but not sure about something that just creates a generic method body. @kendrahavens Do you know?

[2018-12-14 18:30] evanwindom commented on #2058
@ravick4u - Thank you for reaching out.  The Office 365 Developer Program FAQ addresses the broad Office 365 Developer program.  The benefit provided in your subscription is an offer that provides access beyond what is available to other users.  As long as your Visual Studio subscription is active, you will continue to have access to the Office 365 Developer subscription.  It's part of the additio

[2018-12-14 18:54] ScottHutchinson commented on #1927
I sure wish you had fixed this. It ruined my installation DVD, which I now have to burn again.

This script that worked for me is:

certmgr.exe -add Offline\certificates\manifestCounterSignRootCertificate.cer -s -r LocalMachine root
certmgr.exe -add Offline\certificates\manifestRootCertificate.cer -s -r LocalMachine root
certmgr.exe -add Offline\certificates\vs_installer_opc.RootCertificate.cer -s

[2018-12-14 21:33] kendrahavens commented on #2045
As @gewarren mentioned, I find [creating a method from a call](https://docs.microsoft.com/en-us/visualstudio/ide/reference/generate-method) is the easiest way to do this.

We do have a C# code snippet for a main method.
1. Type (Ctrl + K, Ctrl + X)
2. Select `C#`
3. Select `svm`

![image](https://user-images.githubusercontent.com/8293542/50028064-3e03f900-ffa3-11e8-9528-80b4649e3ea9.png)

When you

[2018-12-14 23:42] TerryGLee commented on #1927
@ScottHutchinson Thanks for your input, and apologies for the inconvenience this caused. @tydunkel @tedvz FYI.

[2018-12-15 00:50] Mikejo5000 commented on #1777
Adding this info.

[2018-12-15 01:03] Mikejo5000 commented on #1788
Checking on this.

[2018-12-15 01:08] Mikejo5000 commented on #1800
Updating doc.

[2018-12-15 01:16] Mikejo5000 commented on #1836
Adding this info

[2018-12-15 06:56] #1777 closed

[2018-12-15 06:56] #1800 closed

[2018-12-15 06:56] #1836 closed

[2018-12-15 21:54] dilbert168 opened #2060 "Very slow loading after "Enable native code debugging""
I have following this post and get mix mode debug working.
VS version : Community 2017
Python version : 3.71
Running on Window-10

The loading time of the project become very slow (&gt; 30 secs) after the "Enable native code debugging" feature is enabled.
I believe due to matplotlib & socket is imported in Python project.
As I use a sample project to start, it cut down to (10 secs), still longer t

[2018-12-16 00:57] ORESoftware opened #2061 "Very difficult to figure out how to use find and replace in a single file"
Very difficult to figure out how to use find and replace in a single file. Why does cmd+r do nothing, or ctrl+r also does nothing. Why can't I replace text with ctrl/cmd+r?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b328a871-7747-31d6-737c-4e3f6d10d9d1
* Version Independent ID: 2b455842-a4ef-25bd-c386-f36e0d14ce3d

[2018-12-16 08:19] danielmeza opened #2062 "Example not found"
I can´t find this example in the GitHub repository,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b509e63f-4f92-a726-139a-0d4f511ea233
* Version Independent ID: 20e895e5-2790-a6cb-0c27-f76ae9050d82
* Content: [Adding and Removing Property Pages - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/extensibili

[2018-12-17 05:03] smrazavian opened #2063 "Custom Messaging and Notification In Visual Studio"
Hi
Two things which I thought should be in Visual Studio:
1. **Custom Messaging:**
I want to send a message to other developers in my team that work on one solution. I mean when I push message on the solution in broadcast manner or to single or group of user defined in TFS then those users when opening solution receives my message.
2. **Notification:**
I want to push some notification or comments

[2018-12-17 05:56] JinGangRed commented on #2045
OK, Thanks @gewarren and @kendrahavens, I will try it. Thanks so much.

[2018-12-17 09:27] dyaros27 opened #2064 "It worked. See my configuration and issues."
Thanks its work.
Didn't check the performance and stability, just the connection.
Tested with:
remote server: Windows Server 2016 with R SQL 2017 server as remote R, with Visual Studio Community 15.9.4
client machine: Windows 10 Pro with Visual Studio Pro 15.9.4
Issues: Remote R Services ver. 1.3 doesn't work for me, I have used previous version 1.2
All other issues was because me missing (misunde

[2018-12-17 10:16] Zanardi1 opened #2065 "Great!"
Great page! Short and to the point.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a1261884-8284-53f9-a325-15061bf897f8
* Version Independent ID: 4520c20f-86f6-5066-298b-d3d428901f87
* Content: [Use the Task List - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/ide/using-the-task-list?view=vs-2017)
* Cont

[2018-12-17 13:11] shanmak opened #2066 "Issue I encounter"
In Transpile the JSX step,
after executing this cmd "node_modules\.bin\webpack app.tsx --config webpack-config.js"
 I got file created in dist is main.js not app-bundle.js, so my project is not working, I check Developer mode in Browser it show app-bundle.js file is missing, then manually re-name as app-bundle in web-config file then again run cmd command  its work perfectly.

I don't know why is

[2018-12-17 15:36] TPIvan opened #2067 "The Walkthrough does not work"
.NET Standard with DialogDebuggerVisualizer https://github.com/MicrosoftDocs/visualstudio-docs/issues/1620

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: acfc5457-74ed-4e9b-ff4e-677aa78b82d3
* Version Independent ID: 98bb5302-d3fb-a7e3-322e-2d4acd9c524b
* Content: [Write a visualizer in Visual Basic - Visual Studio](ht

[2018-12-17 15:41] kraigb commented on #2064
Hi @dyaros27 Is there an open issue here? I'm unclear whether there's an issue that the docs need to address. It sounds like you found the solution you need. Please confirm.

[2018-12-17 15:41] #2064 closed

[2018-12-17 15:44] kraigb commented on #2060
@dilbert168 Your issue here is more appropriately filed at https://github.com/Microsoft/ptvs/issues because it's related to product performance rather than being a doc issue (which we hande in this repo here). Please re-file there and reference this present one. Thanks.

[2018-12-17 15:44] #2060 closed

[2018-12-17 15:45] kraigb commented on #1991
These have been corrected by community contributions.

[2018-12-17 15:45] #1991 closed

[2018-12-17 15:50] kraigb commented on #1977
The Step Into feature works only when you have the source code for the function you're stepping into. By default, expect Step Into to work only for code in your own project or code in a library that's implemented in Python and not C/C++. In the case of scikit-learn, those libraries are likely implemented in C++ and so you cannot step into them using the Python debugger. It is possible to do so, ho

[2018-12-17 15:50] #1977 closed

[2018-12-17 16:18] Mikejo5000 commented on #2067
Thanks, I'll plan to retest this.

[2018-12-17 17:02] gewarren commented on #2063
@smrazavian Thanks for the suggestions. The best place to make your suggestions is on [Developer Community](https://developercommunity.visualstudio.com/spaces/8/index.html). There's a relatively new "Suggest a Feature" button you can use.

![image](https://user-images.githubusercontent.com/24882762/50102659-780b1000-01da-11e9-97ac-ca4af8a03308.png)

(This issues page is for documentation feedback.

[2018-12-17 17:05] wschin commented on #1977
The problem is that pycharm works perfectly for me. I am honestly a pycharm user because of this.

[2018-12-17 17:07] kraigb commented on #1977
Be sure to include that point in an issue files for PTVS; the engineering team will want to know that.

[2018-12-17 17:15] gewarren commented on #2065
Thank you for the positive feedback. It's nice to hear!

[2018-12-17 17:15] #2065 closed

[2018-12-17 18:20] tydunkel commented on #1982
@nickbeagley Thanks for the feedback! As you noted, it is a known condition in the installer that the layout path needs to be less than 80 characters. @TerryGLee this should be doc feedback to add this information to the [layout documentation](https://docs.microsoft.com/en-us/visualstudio/install/create-an-offline-installation-of-visual-studio?view=vs-2017).

[2018-12-17 18:38] tydunkel commented on #1485
@Shawn1874 Thank you for reporting this issue. From your screenshot, it appears that the command line passed to the installer was malformed. What you posted as your command line appears correct, but the installer received something different. Did you perhaps include a space accidentally somewhere in the command line passed to the installer? It seems that ```--a``` was given instead of ```--add```.

[2018-12-17 18:43] tydunkel commented on #1413
@Tieho Thank you for your feedback. As Terry suggested, providing feedback through the [Report a Problem](https://docs.microsoft.com/en-us/visualstudio/ide/how-to-report-a-problem-with-visual-studio-2017) tool is the best way to resolve issues like this. That will allow us to privately collect file logs to diagnose the issue.

In the meantime, have you verified that everything you are trying to in

[2018-12-17 19:55] gewarren commented on #1440
This reference article has been updated with the new options - https://docs.microsoft.com/en-us/visualstudio/ide/reference/accounts-environment-options-dialog-box?view=vs-2017.

[2018-12-17 19:55] #1440 closed

[2018-12-17 19:56] gewarren commented on #1399
The topic has been updated with the new options - https://docs.microsoft.com/en-us/visualstudio/ide/reference/accounts-environment-options-dialog-box?view=vs-2017.

[2018-12-17 19:56] #1399 closed

[2018-12-17 20:10] tydunkel commented on #1566
@GCPD Was the original install of Visual Studio on the isolated system installed from the web? Or was the system isolated at that time? Installations from the web can only be updated from the web, and installs from an offline layout can only be updated from the same layout location they were installed.

e.g. if the original install was installed from C:\VS2017Layout, then it can only be updated fr

[2018-12-17 20:36] tydunkel commented on #1166
@antonKrouglov Unfortunately, the timeout is not configurable. There is also no method for manually downloading the packages, but you could create an offline layout using our installer to pre-download the packages. This has the same timeout logic as the regular installer, but the layout can be created on a machine without the proxy/antivirus and it can be shared (e.g. on a network share) with all

[2018-12-17 20:56] spellmanliu opened #2068 "The link does not work anymore"
For a related video demonstration, see How do I: Access and manipulate custom document properties in Microsoft Word?. The link does not work. I cannot find a video named "How do I: Access and manipulate custom document properties in Microsoft Word?" on that page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b7941790-

[2018-12-17 20:56] #1275 closed

[2018-12-17 21:00] tydunkel commented on #1317
@SidShetye The latest release of Visual Studio has the solution you will need for this. A new [export feature](https://docs.microsoft.com/en-us/visualstudio/install/command-line-parameter-examples?view=vs-2017#using-export) was added that will allow you to export the selections from a good install of VS and use that for a clean, new install.

[2018-12-17 21:02] tydunkel commented on #1381
@nolme Please see the [documentation for the clean](https://docs.microsoft.com/en-us/visualstudio/install/update-a-network-installation-of-visual-studio?view=vs-2017#how-to-remove-older-versions-from-a-layout) command. This will allow you to remove the old, obsolete packages from your layout.

[2018-12-17 21:07] tydunkel commented on #1402
@user2301 A layout can be created first, allowing you to install Visual Studio without an internet connection. To do this, follow the directions at [Create a network installation of Visual Studio 2017](https://docs.microsoft.com/en-us/visualstudio/install/create-a-network-installation-of-visual-studio?view=vs-2017). You will need access from the container to the layout, so you will likely need to

[2018-12-17 21:22] heaths commented on #1499
You cannot install Visual Studio 15.9 on Server 2016. Server 2019 or Windows 10 "RS5" is required. See https://aka.ms/setup/containers/servercore1809. This is also now called out in the [known issues](https://docs.microsoft.com/visualstudio/install/build-tools-container-issues) with a mention on the container install-related pages.

[2018-12-17 21:44] tydunkel commented on #2005
@mrweiland The command needs to be passed directly to the installer that is on your system. e.g. "C:\Program Files (x86)\Microsoft Visual Studio\Installer\vs_installer.exe" export --installPath "C:\Program Files (x86)\Microsoft Visual Studio\Preview" --config "C:\.vsconfig"

[2018-12-17 21:48] tydunkel commented on #2005
I see that the [examples](https://docs.microsoft.com/en-us/visualstudio/install/command-line-parameter-examples?view=vs-2017#using-export) are pointing to vs_enterprise.exe. I will work on updating those to use vs_installer.exe instead.

[2018-12-17 22:30] TerryGLee commented on #2068
Thanks for letting us know; this content set is in our backlog to update. @John-Hart, FYI.

[2018-12-17 22:31] Mikejo5000 commented on #1839
Adding the path to topic.

[2018-12-17 22:34] Mikejo5000 commented on #1877
Updating

[2018-12-17 22:55] tydunkel commented on #1385
@BhaaLseN The Microsoft.Net.Component.4.7.2.SDK was added in 15.8 and did not exist in 15.7. Did you add the component when you updated the layout?

[2018-12-17 23:10] tydunkel commented on #1510
@Tiohkatrah The signer messages are simply warnings and not the root cause of the download failures. Are you still experiencing this issue? If so, can you file feedback using the [Report a Problem](https://na01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fdocs.microsoft.com%2Fen-us%2Fvisualstudio%2Fide%2Fhow-to-report-a-problem-with-visual-studio-2017%3Fview%3Dvs-2017&data=02%7C01%7Ctydunke

[2018-12-17 23:38] #1317 closed

[2018-12-18 00:17] #1413 closed

[2018-12-18 00:20] #1381 closed

[2018-12-18 01:59] SidShetye commented on #1317
Fantastic!

[2018-12-18 05:07] Leejiezh opened #2069 "Hello wrold"
leejie

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 394742b8-d974-8b1e-5800-b0fca1ef6a54
* Version Independent ID: 3065ca4c-b293-aa89-ca76-bcf718f9e21c
* Content: [Python in Visual Studio tutorial step 0, installation - ](https://docs.microsoft.com/en-us/visualstudio/python/tutorial-working-with-python-in-visual-stud

[2018-12-18 05:49] oswal92 opened #2070 "What i do?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 63281b03-c455-5a80-3716-e374372330fe
* Version Independent ID: 05617725-bce1-fe54-7dda-d0767f9cc527
* Content: [Visual Studio Subscriptions Professional Development](https://docs.microsoft.com/en-us/visualstudio/subscriptions/professional-development?

[2018-12-18 13:57] kraigb commented on #2069
If there's a legitimate issue here, please amend and reopen.

[2018-12-18 13:57] #2069 closed

[2018-12-18 15:43] rainersigwald commented on #1978
No, there's no such property. Can you elaborate on why you'd be interested in having it?

[2018-12-18 17:16] BhaaLseN commented on #1385
That was on a layout _initially_ created with 15.7 _and then_ updated to 15.8. After the update I ran `--add Microsoft.Net.Component.4.7.2.SDK` (amongst others) to get the new packages in; and then I wanted to remove obsolete/replaced packages by running `--clean` - which got me that error instead. This was _while_ using the most recent `vs_setup.exe` available for download at that point.

However

[2018-12-18 18:12] tydunkel commented on #1927
@ManuelRin Thank you for filing this issue! We will be updating the documentation to reflect these changes. Sorry for any confusion this may have caused.

[2018-12-18 18:41] tydunkel commented on #1385
@BhaaLseN Thank you for the response! It seems when the package was added with ```--add``` the selection was recorded. That record was then used in the ```--clean``` operation, explaining why it failed. Since the component existed in both 15.8 and 15.9, ```--clean``` of 15.8 worked without issue. I've added this to our backlog for tracking.

The documentation may not be clear on this, but ```--rem

[2018-12-18 18:52] MisinformedDNA opened #2073 "Dependency diagrams are not supported for .NET Core projects in Visual Studio 2017"
Is this still true? Is this fixed in the preview of VS2019? Are there any workarounds?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2a2f39b7-a366-bcf8-2ab2-21d9dbdccdd4
* Version Independent ID: 371066b5-ce84-29d5-8284-5836448c8275
* Content: [Dependency Diagrams Reference - Visual Studio](https://docs.microsoft.com/

[2018-12-18 18:55] Mikejo5000 commented on #2015
Updating this.

[2018-12-18 18:55] TerryGLee commented on #1385
@tydunkel Acknowledged

[2018-12-18 18:56] gewarren commented on #2073
@SrinivasMSFT Could you comment on whether dependency diagrams will be supported for .NET Core projects in VS 2019?

[2018-12-18 18:57] gewarren commented on #2070
@oswal92 Were you trying to leave feedback for this topic?

[2018-12-18 20:01] tydunkel commented on #1531
@ruslangaripov and @akochepasov Sorry for all of the inconvenience. Just to verify, are you both running the ```vs_community.exe``` that is being saved in the offline layout?

e.g.
```vs_community.exe --layout C:\layout --add Microsoft.VisualStudio.Workload.CoreEditor```
```C:\layout\vs_community.exe --noWeb```

The ```vs_community.exe``` saved in the layout will instruct the installer to install

[2018-12-18 20:05] tydunkel commented on #2013
@ojutan Thank you for filing this issue! If an installation is from the web it cannot be updated from an offline layout. If the installer detects that the same SKU of Visual Studio is already on the system, it will attempt to either modify or update the installation. If there is not update and nothing to modify, it will exit with a return code of 0 since there were no errors. The log should contai

[2018-12-18 20:22] kgreed opened #2074 "Where is the Optimize MSBuild property?"
This article mentions it without saying where it is.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c1800e69-ef84-cc81-234c-7cede0bb67a7
* Version Independent ID: 7459b9af-3504-2f20-4e89-a87016294538
* Content: [JIT Optimization and Debugging - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/debugger/jit-o

[2018-12-18 20:31] kgreed commented on #2074
Thanks

[2018-12-18 20:32] Mikejo5000 commented on #2030
Updating doc

[2018-12-18 20:34] andrew-hampton commented on #1978
We have a fairly large repository (~400 projects) and we're still on .NET Framework but using the new SDK project format. Because of this, it's easy to create new projects using the legacy project format. I recently added a build target using the condition "'$(_PlatformWithoutConfigurationInference)'!=''" to detect whether it's an sdk project or legacy style project, but since it's relying on a pr

[2018-12-18 20:59] rainersigwald commented on #1978
There are a few factors here that I think are getting conflated. Can we separate them out?

### Does the project use the `<Project Sdk="...">` format?

In other words, is this an sdk-style project?

There's no easy way to determine this within the project, and probably won't be. This aspect of project formatting is orthogonal to the build logic imported to the project.

### What imports were perfo

[2018-12-18 21:17] andrew-hampton commented on #1978
Thanks! Apologies that I was not clearly describing the issue. There are a lot of moving parts, and I often don't know the correct terminology in describing them.

The detection of a specific SDK (in this case Microsoft.NET.Sdk) was what I was trying to determine, and greatly prefer checking for $(UsingMicrosoftNETSdk) over the previous detection method. This is currently the only SDK we're using,

[2018-12-18 21:17] #1978 closed

[2018-12-18 21:40] andrew-hampton commented on #1978
I saw as I was going to report back on that StackOverflow question that after I posted the question here that that same property $(UsingMicrosoftNETSdk) was added to the original question. Thanks again

[2018-12-18 22:10] RMarietta opened #2075 "Cannot see DevOps projects"
After I select "Connect Provider", then "Dev Ops", then enter my credentials, it refreshes the list and doesn't display anything most of the time. Sometimes it will display the Dev Ops organization but there are no projects listed. It says above that this could be a permission issue, but I'm able to access the projects from VS (Windows) as well as online at dev.azure.com using the same credentials

[2018-12-18 22:38] Mikejo5000 commented on #2052
Updating

[2018-12-18 22:48] Mikejo5000 commented on #2057
@KorkyPlunger I'm checking on this. For clarity, you mean the old method works by F5 (Start Debugging) but does not work if you need to attach to a running process?

[2018-12-18 23:05] Mikejo5000 commented on #2057
Reading through the linked material, it looks like SetThreadDescription is currently used only for viewing minidumps in the debugger. If you are using the debugger, you need to use the old method at this point.

[2018-12-19 00:17] storkinsj opened #2076 "This information is no longer valid and it's a big issue"
I don't understand how we are still discussing "media". No one does anything but download these days. In addition, you had a download link for the tool previously and it has been removed. Google is pointing us to the broken link. https://www.microsoft.com/en-us/download/details.aspx?id=23205 .

I think it's important to correct the article so that we can find the profiler, which doesn't seem to ha

[2018-12-19 00:46] Mikejo5000 commented on #2076
@storkinsj Thanks for the feedback! Updating this now.
I believe this is the correct link. Let me know how it goes:
https://visualstudio.microsoft.com/downloads/?q=performance+tools#performance-tools-for-visual-studio-2017

[2018-12-19 01:16] bradcray opened #2077 "After installing the textmate bundle... then what?"
This document seems to end on something of a cliffhanger.  It makes it clear where the textmate bundle should be installed (though things are a bit vague on the Mac), but then doesn't indicate how to create new files using that language's highlighting once the user has done so.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2018-12-19 03:49] storkinsj commented on #2076
Fantastic- Great job!
Greg

    On Wednesday, December 19, 2018, 9:46:11 AM GMT+9, Mike Jones <notifications@github.com> wrote:

@storkinsj Thanks for the feedback! Updating this now.
I believe this is the correct link. Let me know how it goes:
https://visualstudio.microsoft.com/downloads/?q=performance+tools#performance-tools-for-visual-studio-2017

—
You are receiving this because you were menti

[2018-12-19 07:09] #2045 closed

[2018-12-19 08:03] shanmak commented on #2066
@Mikejo5000 Thank you

[2018-12-19 11:13] jv42 commented on #1134
@gewarren @mavasani I have the exact same issue here, it seems it only occurs with the 'live' CodeAnalysis feature.

[2018-12-19 13:39] akochepasov commented on #1531
Hi Tyler,

Yes, I run the binary, saved inside the layout. I didn't think it may be useful to copy the layout over and copy vs_community.exe additionally.

[2018-12-19 14:19] KorkyPlunger commented on #2057
@Mikejo5000

Yes, correct

Interesting. Re-reading the docs this does appear to be the case. For that reason, in our code we perform both methods (the exception-based approach as well as the SetThreadDescription approach) to ensure that we can see thread names in both debugging scenarios and dump analysis (and xperf/WPA performance analysis) scenarios.

This is a bit confusing for developers, sinc

[2018-12-19 14:45] jv42 commented on #1134
I mean, you probably need this extension: https://marketplace.visualstudio.com/items?itemName=VisualStudioPlatformTeam.MicrosoftCodeAnalysis2017

[2018-12-19 17:13] Nathan-Tarin opened #2079 "EMS Support"
Hello team,

The support for EMS is not clearly specified, and the site you referenced for Technical Support does not have the product listed as one of the options. Can you please clarify who do we have to contact for support pertaining this Microsoft Service?

thanks in advance!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2018-12-19 17:13] Mikejo5000 commented on #2057
@KorkyPlunger That's great. I appreciate the info. You mind if I use your code here to update the doc?

Note that this PR might get closed by my previous fix before the final doc update.

[2018-12-19 17:47] #2066 closed

[2018-12-19 18:06] Mikejo5000 commented on #1100
This is by design. Step 8 has more info about setting and hitting breakpoints in app.tsx

[2018-12-19 18:06] #1100 closed

[2018-12-19 18:39] gewarren commented on #1134
@mavasani In answer to your question, the customer installed the FxCop analyzers package.

[2018-12-19 19:40] Mikejo5000 commented on #1129
No repro so far.

[2018-12-19 19:40] #1129 closed

[2018-12-19 19:44] Mikejo5000 commented on #1135
I believe this would be a new feature. If you'd like to suggest it, please go here and click "Suggest a feature":
https://developercommunity.visualstudio.com/spaces/8/index.html

[2018-12-19 19:44] #1135 closed

[2018-12-19 20:24] KorkyPlunger commented on #2057
Sure, feel free to use that code. Thanks for the update

[2018-12-20 00:01] gewarren commented on #2077
Related to #410. I'm looking into getting more info for you.

[2018-12-20 00:18] Mikejo5000 commented on #1284
Request for new sample code is on the backlog.

[2018-12-20 00:19] bradcray commented on #2077
Thanks @gewarren!  My specific situation is that I've put the textmate files where (I think) they're supposed to go, but now am not sure how to say "OK, Visual Studio, now that you know how to color programming language foo, I'd like to create a new file in language foo (or to color this existing file according to language foo).

[2018-12-20 00:38] Mikejo5000 commented on #1588
Not a doc issue

[2018-12-20 00:38] #1588 closed

[2018-12-20 00:47] Mikejo5000 commented on #1730
Need more context.

[2018-12-20 00:47] #1730 closed

[2018-12-20 00:53] Mikejo5000 commented on #1753
Adding link

[2018-12-20 01:00] Mikejo5000 commented on #1762
Updating TOC

[2018-12-20 01:00] Mikejo5000 commented on #1788
Updating doc

[2018-12-20 02:00] #1062 closed

[2018-12-20 15:07] jv42 commented on #1134
Here is the exact message:
`Modify MyDisposableClass.Dispose so that it calls Dispose(true), then calls GC.SuppressFinalize on the current object instance ('this' or 'Me' in Visual Basic), and then returns.`

And the relevant part of the Dispose pattern implementation:
[code]

[2018-12-20 18:23] Thieum opened #2082 "csharp_indent_case_contents_when_block is not documented"
When using Intellicode to generate the .editorconfig, I have an option csharp_indent_case_contents_when_block set to true. It's in the general list there: https://docs.microsoft.com/en-us/visualstudio/intellicode/intellicode-visual-studio, but it's not documented here.
The editorconfig extension doesn't recognize it either : https://github.com/madskristensen/EditorConfigLanguage/issues/57

---
###

[2018-12-20 18:33] Thieum commented on #2082
Already reported here: https://github.com/MicrosoftDocs/visualstudio-docs/issues/1070

[2018-12-20 18:33] #2082 closed

[2018-12-20 18:50] #1839 closed

[2018-12-20 18:50] #1877 closed

[2018-12-20 18:50] #2015 closed

[2018-12-20 18:50] #2019 closed

[2018-12-20 18:50] #2030 closed

[2018-12-20 18:50] #2052 closed

[2018-12-20 18:50] #2057 closed

[2018-12-20 18:50] #2074 closed

[2018-12-20 18:50] #1028 closed

[2018-12-20 18:50] #1117 closed

[2018-12-20 18:50] #2076 closed

[2018-12-20 18:50] #1201 closed

[2018-12-20 18:50] #1260 closed

[2018-12-20 18:50] #1337 closed

[2018-12-20 18:50] #1788 closed

[2018-12-20 18:50] #1666 closed

[2018-12-20 18:50] #1753 closed

[2018-12-20 18:50] #1762 closed

[2018-12-21 00:49] dulazhere opened #2086 "Incorrect version download for MPF"
The link provided for MPF is for Visual Studio 2010-2013 but this is listed under Visual Studio 2017. I came here from "https://docs.microsoft.com/en-us/visualstudio/extensibility/creating-a-basic-project-system-part-1?view=vs-2017#test-the-template-registration" where they ask to download MPF and look for a file called ProjectBase.files which does not exist in the download from this link.

---
##

[2018-12-21 10:47] andykn opened #2087 "--includeOptional varying behaviours"
For install --includeOptional "not the recommended components" but for download ("layout") --includeOptional "includes the recommended...components". Is this correct, if so the difference in behaviours should be emphasised in this very clear and useful doc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e97b834-fa82-6

[2018-12-21 14:02] jochenvangasse opened #2088 "Annual subscriptions no longer available"
Microsoft no longer offers Visual Studio Professional Annual Subscription and Visual Studio Enterprise Annual Subscriptions in Cloud Subscriptions. There will be no change to existing customers experience and ability to renew, increase, decrease, or cancel their subscriptions.
This should be reflected in the docs here

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2018-12-21 17:43] evanwindom commented on #2088
@jochenvangasse Thank you for reaching out.  We have already submitted changes to that page and others to reflect the change to the availability of annual cloud subscriptions.  We're waiting for them to replicate.

[2018-12-21 22:48] TerryGLee commented on #2087
@andykn Thanks for your feedback; we appreciate it! We'll investigate and report back.
(@tydunkel - let's discuss this.)

[2018-12-21 23:52] quillby opened #2090 "Publishing project"
The project runs great. Even the created .exe file is running the project. Publishing works okay creating the setup.exe etc. But when running setup.exe it causes a BSOD on Windows 10. Am I missing something? Thanks for any help on this.

---
#### Documentdetails

⚠ *Dit gedeelte niet bewerken. Het is vereist om problemen te koppelen tussen docs.microsoft.com en GitHub.*

* ID: 38ae1727-4def-5921-8

[2018-12-22 00:04] PRMerger6 opened #2091 "GitHub app no installed"
:warning: The Git Automator app is not installed on this repo, which will cause the Git Automator service to be unavailable, please click [here](https://github.com/apps/prmerger-for-apex-content-teams/installations/203064) to install it.

@meganbradley; @antonygnanasekar; @EstherGaddindla; @seshenoy; @v-caxian; @TinaLiuGirl;

[2018-12-23 11:46] yescas8000 opened #2099 "answers for the quiz"
the answers for the quiz are not the real answers like: 78 - 26 = 52 and in the quiz 78 - 26 = 509
it is in all the answers not only this

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ac26546d-191a-6600-a683-db4fbc5f4e46
* Version Independent ID: d3341bf4-795c-0854-a272-8a9cc906976d
* Content: [Step 7: Add multiplicat

[2018-12-24 10:29] AlekseyPi opened #2100 "How to attach Live Visual Tree to a hosted application (PowerPoint plugin)"
I am developing a PowerPoint add-in, and my Live Visual Tree is always empty. Is it possible to attach it to a hosted assembly in mine case?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fd2baf39-d3c3-5d5a-d93c-f4040430c3dd
* Version Independent ID: c443e681-03f0-ea47-a09d-718693448b3d
* Content: [Inspect XAML propert

[2018-12-24 12:50] ptoye commented on #1575
A well as `using` the detection seems to be over-enthusiastic in `for each` loops as well. The following code snippet gives an error `Warning	CA2202	Object 'Me.PlayableList.GetEnumerator()' can be disposed more than once in method 'ButtonGrid.Play(Boolean)'. To avoid generating a System.ObjectDisposedException you should not call Dispose more than one time on an object.`

`
    While EmptyCount <>

[2018-12-24 16:32] TerryGLee commented on #2099
@yescas8000 Thanks for your feedback; we've got this in our backlog to investigate/fix.

[2018-12-25 08:22] mohankumarp opened #2101 "Would there be a place to find VsInstr Errors"
One that I am seeing and don't find any resolution.
Error VSP1026: Coverage is not supported on libraries that do not reference MSCorLib. This is often the case for Portable Libraries.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2fbd1374-95a4-aea8-6f7b-b786bdbcaa95
* Version Independent ID: cbf777b1-f13d-db3e-169c-5

[2018-12-25 11:04] geoduderino opened #2103 "Out of date"
Is this out of date?

When I look for installed templates, there is none called 'Windows forms application' I don't think this is an installation issue... However I am unsure.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f8db6086-d530-8705-595d-a37fbbb94178
* Version Independent ID: 9fd77d3f-8607-0030-018d-5fd78a485c

[2018-12-25 17:10] onmagic opened #2104 "The tutorial is not enough to solve my problem"
win 7 pro, x64, install vs2017, the problem is suddenly happening maybe change / uninstall sth. because i got another error, finally solve the "another error", but found "unable to start debugging on the web server. unable to connect to the remote server", I spend about 1 full day to find the solution, at least read this page over 10 times, cannot understand how

Very sad and disappointed.

I try

[2018-12-26 07:52] PRMerger19 commented on #2091
The Git Automator app has been installed to this repo.

[2018-12-26 07:52] #2091 closed

[2018-12-26 19:02] gewarren commented on #2103
@geoduderino You likely need to install the .NET desktop development workload through Visual Studio Installer.

[2018-12-26 19:04] gewarren commented on #2103
@TerryGLee It looks like we might need to add a step to the topic to install the .NET desktop development workload.

[2018-12-26 19:44] Mikejo5000 commented on #2104
@onmagic @andysterland I'm sorry you are experiencing this issue. Please click the icon in the upper right in VS and "Report a Problem". This is a support issue.
Sounds like you just upgraded from VS 2015 to VS 2017 and started having the issue?

[2018-12-27 12:44] FransPinos opened #2114 "Error at compiling time"
Error al instalar el paquete. El dispositivo '' no es válido o no se ejecuta. Cambie a otro dispositivo o use Android Virtual Device (AVD) Manager para iniciar un emulador compatible, o conecte un dispositivo con Android compatible.	MyAndroid.Packaging		0

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 904f29a0-43c8-dff

[2018-12-27 18:34] nonbob opened #2115 "missing redirects from old docs to new docs"
[Enter feedback here]
This is not about the documentation, but about how one gets to the documentation.  I'm not sure this is the correct spot, but it was the closest match I could find.

I got here via diagnostic output from msbuild, which gave me: [http://go.microsoft.com/fwlink/?LinkId=293424](http://go.microsoft.com/fwlink/?LinkId=293424).  I suspect that link should've taken me to [https://do

[2018-12-28 01:51] weitzhandler commented on #1990
What would be the appropriate category?
Any tags I should add to my issue?

![image](https://user-images.githubusercontent.com/2716316/50499619-bf539500-0a53-11e9-98a2-6345507a4c84.png)

[2018-12-28 02:04] gewarren commented on #1990
@seaniyer Can you provide the requested information here about category and tags?

[2018-12-28 17:14] gojanpaolo opened #2125 "Is there a "Add the previous matching text as a selection" command and shortcut?"
Hello. Is there a reverse of `Shift+Alt+.`	(Add the next matching text as a selection)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b328a871-7747-31d6-737c-4e3f6d10d9d1
* Version Independent ID: 2b455842-a4ef-25bd-c386-f36e0d14ce3d
* Content: [Find and replace text, and multi-caret selection - Visual Studio](https:/

[2018-12-28 19:06] gewarren commented on #2125
@abuchholtzau Could you answer this question about multiple selections?

[2018-12-28 20:31] Mandrakx opened #2126 "Doc is not up to date"
"The deployment options page appears while syncing." ITy doesn't. It takes you through Kudu instead.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 52d4b59f-07fd-b894-01f7-9bc2fc06e98a
* Version Independent ID: 1cb6913e-21a7-48d2-8b83-cb416304b0c5
* Content: [Publish a Node.js app to Linux App Service - Visual Studio](

[2018-12-29 16:37] julielerman opened #2146 "Typo in example"
Just came across this while solvonig an SSMS debug problem. You have regsrv32. It's regsVR32. :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8c8cf3e6-ccf4-d446-31bd-f46a32385b4e
* Version Independent ID: 45102f9a-3e52-7f75-a1d2-e8508e5e675f
* Content: [Error: SQL Can't Find SSDEBUGPS - Visual Studio](https://docs.mi

[2018-12-29 18:09] naseefo opened #2147 "Both Pybin11 and CPython instructions are giving error"
I am facing error while running the code as per the instructions laid out in the tutorial. I have gone though this the whole day and I am not sure if I am missing anything. I have posted also at Stackoverflow at https://stackoverflow.com/questions/53972030/compile-error-while-building-cpp-with-pybind11-for-python-in-visual-studio-2017?noredirect=1#comment94781645_53972030.

The header files are be