[2019-10-18 16:19] msebolt commented on #4142
@Legends  Thank you for the feedback.

These steps were provided for an older version of Visual Studio.

Are you not finding the project template or should the steps be updated?

[2019-10-18 16:23] msebolt commented on #4144
@yychang  Thank you for the feedback.

VSPerfCmd's use in sampling has been deprecated, see [this thread](https://developercommunity.visualstudio.com/content/problem/627521/attach-option-missing-from-vsperfcmdexe.html).

Assigning this to the author for review.

[2019-10-18 16:33] msebolt commented on #4145
@JohnBrea  Thank you for the feedback, assigning this to the author for review.

[2019-10-18 16:39] msebolt commented on #4149
@cazeua  Thank you for the feedback, assigning this to the author for review.

In the meantime, please contact [support](https://visualstudio.microsoft.com/subscriptions/support/) where you can speak with someone about your account status.

[2019-10-18 16:39] msebolt commented on #4149
Including @evanwindom

[2019-10-18 16:47] msebolt commented on #4166
@kevingy  Thank you for the feedback, assigning this to the author for review.

[2019-10-18 16:49] msebolt commented on #4187
@samtse  Thank you for the feedback, assigning this to the author for review.

[2019-10-18 17:15] #4132 closed

[2019-10-18 17:15] #4084 closed

[2019-10-18 17:15] #4124 closed

[2019-10-18 17:32] Mikejo5000 commented on #4144
Thanks, we are discussing doc updates that are required related to these changes.

[2019-10-18 18:19] JoshuaPartlow commented on #4090
No problem. Closing the issue now because it sounds like all is ok. If that is incorrect, please reopen.

[2019-10-18 18:19] #4090 closed

[2019-10-18 18:23] gewarren commented on #4071
I ported the bug over: https://github.com/dotnet/roslyn-analyzers/issues/2950
@user2150 Thank you for reporting it!

[2019-10-18 18:23] #4071 closed

[2019-10-18 18:48] plangevin opened #4190 "Fix "See Also" link typo"
Link text to "How to: Install prequisites with a ClickOnce application" should be "How to: Install prerequisites with a ClickOnce application"

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 73a13e0d-b415-6953-0a25-bbfd3f6a3724
* Version Independent ID: d422e2a7-5595-9274-ace8-38a91fcef21a
* Content: [How to: Include Pr

[2019-10-18 18:59] Legends commented on #4141
@msebolt The thing is, when I as a developer am looking for:

It would be nice why I can choose two project template types here:

As an improvement I would suggest at least a link to an explanation for each.
Or/And shortly cover the differences.

[2019-10-18 19:03] Legends commented on #4142
Somewhere I have read:

So I wouldn't expect a **VSTO add-in** to be created in the following walkthrough:

[2019-10-18 19:16] gewarren commented on #4145
@JohnBrea Thanks for letting us know. I was able to reproduce the problem in a .NET Core app but not in a .NET Framework app. I assume you're using .NET Core?

![image](https://user-images.githubusercontent.com/24882762/67121617-d01af600-f1a0-11e9-9266-e272cbbc9d08.png)

To make sure that this product problem is logged in the right place, please use the [Report a Problem](https://docs.microsoft.co

[2019-10-18 19:23] ghogen commented on #3977
Have you looked at the Dev Spaces quickstart?
https://docs.microsoft.com/en-us/azure/dev-spaces/quickstart-netcore-visualstudio
This covers Kubernetes development in VS with two projects, API and "webfrontend."

[2019-10-18 20:51] ghogen commented on #2933
I'm not sure this is possible in the IDE, but we should add guidance on how to modify the project file to support this.

You can create a target element and specify a condition:
https://docs.microsoft.com/en-us/visualstudio/msbuild/target-element-msbuild?view=vs-2019

You can use the BeforeClean and AfterClean tasks to extend the clean functionality so that you could remove those auto-generated fi

[2019-10-18 21:02] Mikejo5000 commented on #4190
Fixed in #4192

[2019-10-18 21:02] #4190 closed

[2019-10-18 22:12] ghogen commented on #4143
We'll close this as a doc issue. I also sent a note to let the Container Tools team know about this via internal channels, but do file an issue at Dev Community for accountability.

[2019-10-18 22:12] #4143 closed

[2019-10-18 22:37] ghogen commented on #4114
The remote debugger is indeed volume-mounted in the container when you debug (F5) from Visual Studio. You can look at the docker run command line arguments in the Build Output Window in VS to see what it being volume-mounted (-v option).

[2019-10-18 22:58] ghogen commented on #3857
Topic updated.

[2019-10-18 22:58] #3857 closed

[2019-10-18 23:13] #4105 closed

[2019-10-21 01:42] tyotypic opened #4199 "incorrect syntax under "TRUE in _Success_""
This document says:
"_Success_(return == TRUE, _Acquires_lock_(*lpCriticalSection))"
and
"_Success_(return != 0, _Acquires_lock_(*lpCriticalSection))"

This results in a "warning C4002: too many arguments for function-like macro invocation '_Success_'"

The correct syntax would be:
"_Success_(return != 0) _Acquires_lock_(*lpCriticalSection)"

... only took me 40 mins to work out. It's useful that

[2019-10-21 01:45] tyotypic opened #4200 "_Success_(expr) not complete"
Where it lists "_Success_(expr)", it should instead say "_Success_(expr) (anno)"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d9fa72c3-0bbc-d9a3-b486-b72a6b560091
* Version Independent ID: 1a9e4017-c681-17c8-6001-0d682c6a1f79
* Content: [Annotating Function Behavior - Visual Studio](https://docs.microsoft.com/en-us/v

[2019-10-21 02:41] tyotypic commented on #4200
A closer reading of the documentation showed me my error in interpretation. I still think this documentation is the kind you can only understand when you know how the underlying functionality works.

[2019-10-21 02:41] #4200 closed

[2019-10-21 07:21] the-dag commented on #4114
@ghogen Yes, I did notice that. But it mounted three other volumes as well that I don't know what is. I tried to start the container with _-v "C:\Users\me\vsdbg\vs2017u5:/remote_debugger:rw" -p 56567:80 -p 44372:443_, and that seems to work, but it isn't enough to hit F5 and debug. I tried to look at launchsettings.json too, but don't remember exactly how things behaved (some of my attempts encoun

[2019-10-21 12:06] fencepost-error opened #4201 "Format specifiers for memory locations don't work"
The memory format specifiers, ",m...", don't work.  Trying to use them, e.g. as "ptr,m" results in an error message "identifier 'm' is undefined".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6a5c135d-ace1-1f09-041a-13411c054ff3
* Version Independent ID: 083fc572-d877-2216-19a9-326636c1d8e6
* Content: [Format specifi

[2019-10-21 15:22] aolszowka opened #4202 "Are the Various GlobalSection Publically Documented?"
The article describes in great detail the `GlobalSection(SolutionConfiguration)` and `GlobalSection(ProjectConfiguration)` which is very helpful. However there are other valid `GlobalSection` that are commonly encountered. Specifically the `GlobalSection(NestedProjects)` which consists of a KeyValuePair in the form `{GUID_OF_PROJECT} = {GUID_OF_SOLUTION_FOLDER}` which instructs Visual Studio on ho

[2019-10-21 16:50] msebolt commented on #4199
@tyotypic Thank you for the feedback and for working this out.

The documentation has been updated and is pending review.

[2019-10-21 17:06] msebolt commented on #4201
@fencepost-error Thank you for the feedback, assigning this to the author for review.

What version of Visual Studio are you using?  Note the `m` specifiers are bold in the table and might require the latest version of the debugger.

[2019-10-21 17:07] msebolt commented on #4202
@aolszowka  Thank you for the feedback, assigning this to the author for review.

[2019-10-21 17:26] hwynn opened #4205 "Why is is called a "Solution"?"
I can't find the answer to this anywhere.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b057a09a-e208-8daf-58b0-3dfb3bb4ea0e
* Version Independent ID: f891d20f-a2c8-3208-ed23-91dfef901eaf
* Content: [Solutions and projects - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/ide/solutions-and-projects-in-vis

[2019-10-21 19:06] alkemiker opened #4206 "odd error"
I'm going thru this tutorial.  At 2.4.4, when I run the app in the debugger, I get an error "ModuleNotFoundError: No module named 'HelloDjangoAppdjango'.  this arises from manage.py command, "execute_from_command_line(sys.argv).

No where in the code have I used HelloDjangoAppdjango.  How or where did the django get appended???

---
#### Document Details

⚠ *Do not edit this section. It is require

[2019-10-21 21:00] DuncanmaMSFT commented on #4108
Hey folks, this has been resolved. Thanks for reporting it @AArnott (FYI @gewarren )

[2019-10-21 21:00] #4108 closed

[2019-10-21 21:30] WilliamAntonRohm commented on #4205
@hwynn -- Harrison, please see [this explanation of "Solution"](https://docs.microsoft.com/visualstudio/ide/solutions-and-projects-in-visual-studio?view=vs-2019#solutions).  As to its etymology in the evolution of Visual Studio, I'm not sure.

I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2019-10-21 21:30] #4205 closed

[2019-10-21 22:16] CeciAc opened #4207 "Only code without form is displayed in the designer view"
Hi team,
I moved this from here: https://github.com/MicrosoftDocs/visualstudio-docs.de-de/issues/70
The comment was machine translated

@eifcgn24 commented 2 days ago — with docs.microsoft.com
Hi,
I completed the "Getting started" tutorial and downloaded the forms for desktop development in Visual Studio. In the first program the designer form was still to be seen. But now Visual Studio always sta

[2019-10-21 22:31] TerryGLee commented on #4207
@CeciAc Thanks for forwarding this to us.

@eifcgn24 Vielen Dank, dass Sie uns darüber informiert haben; wir werden uns das ansehen und bald berichten. (Thanks for letting us know; we'll take a look at this and report back soon.)

[2019-10-21 22:48] TerryGLee commented on #4135
@shammat Thanks for letting us know; we'll take a look at it and report back.

[2019-10-21 22:56] msebolt commented on #4069
@KannanKrish I see, at this point I can only recommend using a [Multi-project template](https://docs.microsoft.com/visualstudio/ide/how-to-create-multi-project-templates?view=vs-2015&redirectedfrom=MSDN) and keeping each project empty until you get the user's input and can then pull in the that particular project's items.

Since this is a limitation, start a dialog with the product team at [Visual

[2019-10-22 00:52] fencepost-error commented on #4201
VS 2019 Community, all versions over the last six months or so, currently 16.3.5, which was updated a few days ago so I assume the very latest version.

The m specifier has worked since at last VC++ 6 over twenty years ago, so I doubt it's a new feature :-).

[2019-10-22 03:29] KannanKrish commented on #4069
Thanks @msebolt

[2019-10-22 03:35] CeciAc opened #4209 "Is this function "generating map" fit for linux project?"
@yuqingyang888 commented on [Mon Oct 21 2019](https://github.com/MicrosoftDocs/visualstudio-docs.zh-cn/issues/162)

Is this function "generating map" fit for linux project?

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: 8e2a9062-ef1a-b4fb-c76c-2a284f2ccb93
* Version Independent ID: 26525968-81c9-f00c-c270-276245099ddd
* Content: [查看源文件和C++标头文件之间的依赖关系 - Visual Studio

[2019-10-22 03:36] CeciAc commented on #4209
Hi team,
I moved this here because the contibutor is requesting aditional information
best

[2019-10-22 03:45] elsoft74 commented on #4207
I have the same problem. I'm using Visual Studio Community 2019, the forms design windows is missing.

[2019-10-22 11:56] JendaPerl opened #4210 "URL rewrite rules"
One possible reason for the failure is URL rewrite rules in the web.config and the error message provides no details in such case.
I had &lt;system.webServer&gt;&lt;rewrite&gt; section in web.config to implement automatic redirection from HTTP to HTTPS and it prevented debugging. As I do not really need that on the development machine I moved that setting to the web.Whatever.config files used when

[2019-10-22 13:10] vij9218 opened #4211 "About.Cshtml page is missing"
I have followed the same procedure as shown above but I don't see any About.CShtml and Content.Cshtml pages. How can I get that pages?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2ab4333f-c992-f580-5a1f-cfc60bcfb650
* Version Independent ID: e354bcf5-e277-8d35-9850-e5accfb8ace8
* Content: [Create an ASP.NET Core web

[2019-10-22 13:44] user2150 commented on #4071
gewarren,
Thank you!

[2019-10-22 16:05] msebolt commented on #4209
Assigning this to the author for review.

[2019-10-22 16:08] msebolt commented on #4210
@JendaPerl Thank you for the feedback, assigning this to the author for review.

[2019-10-22 18:00] JoshuaPartlow commented on #4206
Hi @alkemiker - I just ran through the tutorial up to step 2.4.6 to verify that it was working as expected and didn't encounter the error you mentioned. You might try checking the settings.py file and verifying that you didn't add HelloDjangoAppdjango to the INSTALLED_APPS section. I think that would give the error you mentioned. Otherwise, if everything was working in step 2.3, perhaps go back to

[2019-10-22 18:42] alkemiker commented on #4206
Joshua,

I had looked there before.  However, after your note, I moved the line ‘HelloDjangoApp’, from the beginning of the declaration to the end.  This worked.  Apparently, inserting lines into the pre-loaded commands is a no-no?  Might have worked had I compiled?

Anyway, thanks for the quick response it pointed me in the direction of a solution.

From: Joshua Partlow <notifications@github.com>

[2019-10-22 19:19] msebolt commented on #4142
Thank you for clarifying, both articles [Create document-level customization](https://docs.microsoft.com/visualstudio/vsto/walkthrough-creating-your-first-document-level-customization-for-excel?view=vs-2019) and [Create VSTO add-in](https://docs.microsoft.com/visualstudio/vsto/walkthrough-creating-your-first-vsto-add-in-for-excel?view=vs-2019) appear to be accomplishing the same task using differe

[2019-10-22 20:10] JoshuaPartlow commented on #4206
Excellent, I'm glad that you were able to get back to a working state. Just as an added thought, it looks like you might also get that output if you didn't put a comma after the HelloDjangoApp entry. Anyway, since it seems like things are working again I'll close this issue, but feel free to open others if you encounter a problem with the tutorial.

[2019-10-22 20:10] #4206 closed

[2019-10-22 20:31] TerryGLee commented on #4211
@vij9218 Thanks for letting us know; I'll investigate and report back.

[2019-10-22 21:14] msebolt commented on #4069
Sure, no problem, apologies there's nothing more at this point.

Please refer back to this issue if you decide to involve the product team.

[2019-10-22 21:14] #4069 closed

[2019-10-22 21:28] Romanbozeman opened #4213 "I still can't remove old python environments"
I read all the comments and tried them all. The crossed out environments are not in my registry, so where are they?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 563f476d-a91b-58c7-9e32-b238756cc97d
* Version Independent ID: 0a0e9cac-a8dc-47a1-14e1-1dacc3441613
* Content: [Manage Python environments and interpreters -

[2019-10-22 22:36] #4199 closed

[2019-10-22 23:17] TerryGLee commented on #2281
@astrohart Apologies that this issue you filed has lain fallow for some time now. But taking a look at it now, I'd like to respond by saying that you can find the information you might need to create a batch file to do that which you want it to do in our [Use command-line parameters to install Visual Studio](https://docs.microsoft.com/visualstudio/install/use-command-line-parameters-to-install-vis

[2019-10-22 23:17] #2281 closed

[2019-10-22 23:23] astrohart commented on #2281
Yes, I know about the procedures you outlined; however, even doing the steps you tell me, the installer forces user interaction.   It requires an interactive user to press a key to continue.

This negates the purposes of unattended install command line switches, and makes them completely ineffective.

There is not an issue with the documentation; I understand the documentation.  The software has a

[2019-10-22 23:26] astrohart commented on #2281
I dispute the need to close this issue as the fundamental bug in the software itself remains unaddressed.

[2019-10-22 23:29] TerryGLee commented on #2281
@astrohart I'm sorry to hear this. Unfortunately, this forum is for documentation issues only. To make sure that this issue is logged in the right place, please use the [Report a Problem](https://docs.microsoft.com/visualstudio/ide/how-to-report-a-problem-with-visual-studio) tool to report it. After you do so, the report becomes part of the work items that are listed in the in the [Visual Studio D

[2019-10-23 02:19] tyotypic opened #4215 "_Lock_level_order_ documentation should say what the order is"
According to the documentation for C26105 (https://docs.microsoft.com/en-us/visualstudio/code-quality/c26105?view=vs-2019), _Lock_level_order_(A,B) means "locks that have level A must be acquired before locks that have level B". Please add this to this document.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3befc1e4-e

[2019-10-23 03:25] aidancahill commented on #4207
having the same issue ^

[2019-10-23 15:50] altagir commented on #2592
same issue, is resetting windows the only option to windows bugs?

[2019-10-23 16:11] surathruwan commented on #2592
@altagir I had some issue in previous days. If you want create SSIS project only, then use following SSIS tool that support for visual Studio 2019. But problem is when installed SSAS tool support for VS2019 , SSIS Projects going to be Crashed.  https://ssis.gallerycdn.vsassets.io/extensions/ssis/sqlserverintegrationservicesprojects/3.1/1562574939108/Microsoft.DataTools.IntegrationServices.exe

I w

[2019-10-23 18:31] WilliamAntonRohm commented on #4213
@Romanbozeman -- Roman, thank you for your feedback.  You may find an answer to your question here:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)

@JoshuaPartlow -- Joshua, please look into this issue for possible documentation impact.

[2019-10-23 23:58] wizofaus opened #4218 "But how to suppress for Test function names?"
A widely adopted convention for unit test function names is &lt;unit&gt;_&lt;condition&gt;_&lt;expected-outcome&gt;, e.g. Multiply_TwoNegativeNumbers_ShouldReturnPositiveNumber().
This is the ONLY place we want to allow _ in identifiers - but there's no nice way to specify this rule to be excluded for test function names that I can see?

---
#### Document details

⚠ *Do not edit this section. It i

[2019-10-24 09:27] BrunoZell opened #4219 "Add documentation about DockerComposeBaseFilePath and AdditionalComposeFilePaths properties for dcproj files"
Currently, the Docker Compose `dcproj` documentation is missing two MSBuild properties added in https://github.com/Microsoft/DockerTools/issues/121#issuecomment-438098500. These are  `<DockerComposeBaseFilePath>` and `<AdditionalComposeFilePaths>` which are quire important when it comes to multiple docker-compose files within the same document.

---
#### Document Details

⚠ *Do not edit this secti

[2019-10-24 14:39] binki opened #4220 "What happens if verification fails? Is this an assertion?"
The documentation and example seem to indirectly suggest that the build will be failed if the hash doesn’t match. But it doesn’t explicitly say that.

From just its name, I assumed that this task would have an output parameter letting you know if the file’s hash was matched. However, it looks like, to do that, I would need to call `GetFileHash` instead and then use a condition to compare.

Please

[2019-10-24 14:50] binki opened #4221 "The FileHash metadata property is not formally documented"
In reading the documentation for the `Items` parameter, it says that the hash is put in a metadata. It doesn’t say what the name of that metadata is. I have to look in the example (or play around with MSBuild directly a lot more) to find that out.

Please update the documentation so that I find this information where I expect to find it.

---
#### Document Details

⚠ *Do not edit this section. It

[2019-10-24 16:29] msebolt commented on #4218
@wizofaus Thank you for the feedback.  You're correct, this is a contradiction to [test case naming best practices](https://docs.microsoft.com/dotnet/core/testing/unit-testing-best-practices).

For now you need to keep test cases in a separate project to [suppress the warnings](https://docs.microsoft.com/visualstudio/code-quality/use-roslyn-analyzers?view=vs-2019#suppress-violations).

Assigning t

[2019-10-24 16:32] msebolt commented on #4219
@BrunoZell  Thank you for the feedback, assigning this to the author for review.

[2019-10-24 16:53] jpreese commented on #4218
This has come up a couple times now, quite recently. It would be nice to be able to suppress the warnings for test function names, as it is a very common practice to do so in the scope of tests.

[2019-10-24 18:01] msebolt commented on #4220
@binki  Thank you for the feedback, assigning this to the author for review.

[2019-10-24 18:33] msebolt commented on #4221
@binki  Thank you for the feedback.

Unfortunately this cannot be constituted a work item due to maintained consistency across all [msbuild tasks](https://docs.microsoft.com/visualstudio/msbuild/msbuild-tasks?view=vs-2019).

We will continue to work on improving the topics to include more in-depth examples in subsequent iterations of the documentation.

@Mikejo5000

[2019-10-24 22:54] Mikejo5000 commented on #4210
@JendaPerl What was the full error message that you saw? Some of the more detailed messages described in the article mention URL rewrite rules, so it would be helpful to know the more exact message in order to update the doc. Thanks!

[2019-10-24 22:54] Mikejo5000 commented on #4220
@rainersigwald for input on this.

[2019-10-24 23:14] CeciAc opened #4224 "Does VSTO project supports visit network and file system?"
@GvcZhang commented on [Thu Oct 24 2019](https://github.com/MicrosoftDocs/visualstudio-docs.zh-cn/issues/164)

If a create a Excel plugin demo by use VSTO, can the demo support visit network and filesystem?

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: ccf9a3a9-baf0-3ad5-350f-f4a4eeebea11
* Version Independent ID: f73808db-0922-8266-7a85-90dce0229d65
* Content: [Of

[2019-10-24 23:14] CeciAc commented on #4224
Hi team,
I moved this here because the contributor is requesting aditional information
best

[2019-10-24 23:18] Mikejo5000 commented on #4201
Asking about this. The use of bold here for some of the format specifiers seems a little inconsistent.

[2019-10-24 23:19] #4148 closed

[2019-10-25 14:53] rainersigwald commented on #4220
The `VerifyFileHash` will fail if the hash does not match. That's not configurable. However, you can [allow task errors](https://docs.microsoft.com/en-us/visualstudio/msbuild/how-to-ignore-errors-in-tasks?view=vs-2019) using `ContinueOnError="WarnAndContinue"` and then check `$(MSBuildLastTaskResult)` to guide further decisions.

You can't completely silence a failed task; you may wish to combine

[2019-10-25 15:57] binki commented on #4220
Hi @rainersigwald,

I have for now in my use case decided to use `GetFileHash` and use MSBuild conditions to branch logic based on that. Your suggestion of using `ContinueOnError="WarnAndContinue"` and `$(MSBuildLastTaskResult)` is interesting. I might have been able to write more terse code with that. But, I already wrote my two `GetFileHash` calls and the comparison of the resultant values.

I a

[2019-10-25 16:17] #4221 closed

[2019-10-25 18:15] binki commented on #4221
@msebolt Could you explain how documenting the `FileHash` item metadata would make the documentation inconsistent? Why should I have to read an example to learn what the name of the metadata in the emitted items is? The documentation for the `Items` parameter should clearly state something like “the hash is stored in a metadata property called `FileHash`”.

[2019-10-25 19:11] meganbradley opened #4226 "test for prod label"
Hello!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b53c91aa-0a65-d186-77cd-d5c2e018d8d4
* Version Independent ID: 5eec8b47-4f0b-186d-43ec-a403f57d4c3b
* Content: [Tour of the Visual Studio IDE](https://docs.microsoft.com/en-us/visualstudio/ide/quickstart-ide-orientation?view=vs-2019)
* Content Source: [docs/ide/quic

[2019-10-25 20:51] #4226 closed

[2019-10-25 21:27] WilliamAntonRohm commented on #4224
@CeciAc -- Cecilia, this looks like the contributor is having an issue with the product itself, rather than an issue with the documentation. Here are a few options where they might consider asking their question:​

[https://social.msdn.microsoft.com/Forums/vstudio](https://social.msdn.microsoft.com/Forums/vstudio)

[https://www.stackoverflow.com](https://www.stackoverflow.com)

[https://www.reddit

[2019-10-25 21:27] #4224 closed

[2019-10-26 00:18] ghogen commented on #481
I think this is still an issue.

[2019-10-26 00:18] ghogen commented on #481
I think this is still an issue.

[2019-10-26 06:19] BrunoZell opened #4228 "Show how to set MSBuild properties from within Visual Studio"
This page very neatly describes how one can use property values to alter the build behavior. However, it uses the msbuild cli to build the project. Since we are in the Visual Studio section of the documentation, I'd like to see how the same behavior is archived from within Visual Studio. For example, when starting a debug session, I want to be see how to set some specific properties. This is espec

[2019-10-26 07:31] ManaviPai commented on #542
Can I work on this?

[2019-10-26 08:56] nithinb99 commented on #542
No

[2019-10-26 08:58] nithinb99 commented on #542
Can I work on this?

[2019-10-27 06:58] caihongxu opened #4229 "Could you update this page with using ASP.NET Core 3.0?"
As far as I tried. The method described in the page does not work properly with ASP.NET Core 3.0 (encountered some issues that package.json is not found after server starts)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1abf884f-eb39-1007-25a6-d049b87504a3
* Version Independent ID: 33636e79-d3e1-8c24-f3a5-0c3c79e2a488

[2019-10-27 07:16] caihongxu commented on #4229
Actually after I specified environment to be Production the same steps work fine. Closing this.

[2019-10-27 07:16] #4229 closed

[2019-10-27 12:31] StevenTCramer opened #4230 "DefineConstants seperator?"
The example here `&lt;DefineConstants&gt;DEBUG;TRACE&lt;/DefineConstants&gt;` shows semicolon used as a separator.  When this is done only the first one will display in VS 2019 properties dialog.  If using a comma they both will display.

What is the proper separator?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9555

[2019-10-27 12:32] drk-mtr opened #4231 "Security"
please delete, I misunderstood the instructions

[2019-10-27 12:36] #4231 closed

[2019-10-27 14:43] sandeepsubbenaik1985 opened #4232 "inconsistent white space (Visual studio 2019)"
I updated python settings on my Visual Studio 2019 per the above screenshot but I don't see my issues going away. There is a green zig-zag line on python code with a tooltip as an inconsistent white space. This is how I adjusted my settings Tools&gt;Editor&gt;Python&gt;Tabs&gt;Insert Spaces is checked, and Indenting is checked to Smart. Tab Size: 4 and Indent Size 4.  I am really upset because of

[2019-10-27 17:43] AAATechGuy opened #4233 "List of MsBuild defined targets"
It would have been good to have a list of MsBuild pre-defined targets... for e.g., AfterBuild/ BeforeBuild, etc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72a67233-ab6a-e330-7b2d-21c95dd9caba
* Version Independent ID: 381c76df-d847-6ee0-b16e-c7bbc52cec13
* Content: [MSBuild Targets - Visual Studio](https://docs.mi

[2019-10-27 17:51] QFzzz opened #4234 "Huge jump up from C# Introduction"
many new functions introduced without any explanation -

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f783f152-b26c-0ea4-8017-3929c7465368
* Version Independent ID: 8777c084-6578-8a7f-89db-80b3f9d547a7
* Content: [Tutorial: Create a simple C# console app - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/g

[2019-10-28 04:46] JoshuaPartlow commented on #4232
Hi @sandeepsubbenaik1985 - After changing the setting did you apply formatting to the file (Edit > Advanced > Format Document)? Could you also clarify what warning you're getting and what happens when you try to run your code? You might also try Edit > Advanced > View whitespace to see if that helps identify the spacing that's inconsistent.

[2019-10-28 14:12] montoner0 opened #4235 "Cursor in map mode"
That's not quite true, the cursor stays on its place in both modes. At least in 16.3.6.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9440cd51-f00a-2a66-c895-0c093c6c883d
* Version Independent ID: 77cf076b-949f-ce9a-882f-7a0c02d268d0
* Content: [Scroll bar map mode and bar mode - Visual Studio](https://docs.microsoft.

[2019-10-28 15:42] msebolt commented on #4228
@BrunoZell  Thank you for the question.

Please see the **Examine the project file** step of [Walkthrough using msbuild](https://docs.microsoft.com/visualstudio/msbuild/walkthrough-using-msbuild?view=vs-2019#examine-the-project-file) for instructions on editing these properties from within Visual Studio and comment below if there are any questions or issues.

[2019-10-28 16:20] msebolt commented on #4230
@StevenTCramer Thank you for the question, assigning this to the author for review.

[2019-10-28 16:56] msebolt commented on #4233
@AAATechGuy  Thank you for the feedback, assigning this to the author for review.

[2019-10-28 17:05] msebolt commented on #4234
@QFzzz  Thank you for the feedback.

Please provide additional details to help us fix the documentation.

For instance [Convert.ToInt32](https://docs.microsoft.com/en-us/dotnet/api/system.convert.toint32?view=netframework-4.8) can be found in the .NET API and so on.

In general only functions that require further explanation to understand the code functionality are linked, whereas common functions

[2019-10-28 17:09] msebolt commented on #4235
@montoner0  Thank you for the feedback, assigning this to the author for review.

[2019-10-28 19:07] lemanhhung0943437948 opened #4237 "AA"
AA

---
#### Chi tiết tài liệu

⚠ *Không chỉnh sửa phần này. Điều này là bắt buộc cho docs.microsoft.com ➟ Vấn đề khi liên kết GitHub.*

* ID: 9dd4d05c-4aa3-0376-f3a1-b0ea0793f482
* Version Independent ID: 7f1ff943-61b0-60e1-9ca3-d4a84bfdb068
* Content: [Install Visual Studio](https://docs.microsoft.com/vi-vn/visualstudio/install/install-visual-studio?view=vs-2019)
* Content Source: [docs/install/

[2019-10-28 21:47] Grand-Poobah opened #4238 "The feedback app cannot log in"
since the feedback app cannot log in and the page to report a problem in visual studio only shows how to do it through VS

I CANNOT REPORT THE PROBLEM !!!!!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7254052d-2d37-509e-e6c8-d5674ea775ca
* Version Independent ID: a2acc423-07d3-409c-7de1-21dd88e3cdcd
* Content: [Repo

[2019-10-28 21:50] m-pollack commented on #3289
I have the same issue

I have seen this recently

vs_installershell.exe exception processing message ......

PERHAPS MICROSOFT SHOULD ALLOW US TO REPORT THE PROBLEMS IN A WEB PAGE INSTEAD OF A PAGE THAT TELLS US HOW TO DO IT IN A APPLICATION THAT KEEPS BREAKING

ON THE OTHER HAND, I AM SURE THE TEAM DOES NOT WANT TO HEAR ABOUT THE ISSUES
THERE ARE SO MANY THEY MIGHT GET THEIR FEELINGS HURT

[2019-10-28 21:53] JoshuaPartlow commented on #4213
Hi @Romanbozeman - Was the environment in question uninstalled via add/remove programs?

[2019-10-28 23:18] JoshuaPartlow commented on #4213
Could you also let me know what the specific distribution is that you're having issues with and, if you recall, where it was installed from?

[2019-10-29 01:35] clnorris commented on #4147
I followed the documentation and got the same "ld: framework not found MobileDevice" error when trying to install vcremote.  I am on Catalina.  The procedure in the documentation did not work.  Why is this closed?

[2019-10-29 01:45] pryorm92 commented on #4147
@clnorris
The issue isn't related to the documentation. The problem is that the latest Mac OS X updates have caused the documentation steps to fail. More about the actual issue can be found here: https://github.com/ios-control/ios-deploy/issues/415#issue-510301426

[2019-10-29 05:29] msebolt commented on #4237
@lemanhhung0943437948  Thank you for contacting Microsoft Docs.

Please comment below if you have an issue.

[2019-10-29 05:32] msebolt commented on #4238
@m-pollack  Thank you for the feedback, we're sorry you're experiencing difficulties.

This issue was recently posted [here](https://developercommunity.visualstudio.com/content/problem/690716/visual-studio-feedback-login-problems.html) in the Visual Studio community.

Please make sure you are using the latest version of Visual Studio and comment below any further issues.

[2019-10-29 10:31] BrunoZell commented on #4228
Hm, it seems to me as this article just goes over how to edit the `.csproj` file within Visual Studio. In the article I referred to you can set properties separately for each build.

What I am going for is getting that behaviour, but still starting each separate build/debugging session from within Visual Studio. Does this make sense in any way?

[2019-10-29 15:43] rtwaddell opened #4241 "When will the issue of EMS activation be resolved for Visual Studio Subscriptions?"
I have paid for the Visual Studio and expected this to be there.  If this is not resolve, I will either have to incur additional costs (For something I have paid for) or my project will be behind schedule.

[2019-10-29 15:48] rtwaddell commented on #1296
Any update on this?

[2019-10-29 15:54] rainersigwald commented on #4228
@BrunoZell there is no general-purpose UI for setting project properties. Many properties can be manipulated using the project's properties menu (right-click on project, Properties), especially in the `Build` tab.

Those can be specialized by platform or by configuration. As @Mikejo5000 mentioned, the specific example of demo vs. licensed product might be represented by build configurations.

But

[2019-10-29 16:51] WilliamAntonRohm commented on #4241
@rtwaddell -- It looks like you're having an issue with the product itself, rather than an issue with the documentation. Here are a few support options that might help you with the issue that you're experiencing:​

If you have a subscription, contact [Visual Studio Subscriptions Support](https://visualstudio.microsoft.com/subscriptions/support/).​

If you are not sure if you have a subscription, s

[2019-10-29 16:51] #4241 closed

[2019-10-29 18:05] TerryGLee commented on #4238
@seaniyer FYI

[2019-10-29 18:16] Mikejo5000 commented on #4097
From the dev team:
- You don't need both Min and Max, they are optional. No wildcards allowed in versions.
- Name should be filename + extension (i.e. 'foo.dll', 'hello.exe'), no path names allowed

[2019-10-29 18:27] Mikejo5000 commented on #4097
Updating doc to clarify.

[2019-10-29 19:26] tndata opened #4243 "Unclear documentation"
I would like a better explanation on why I should use Microsoft Code Analysis 2019? what is the difference with FxCop?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eee67c1d-5856-93e0-e2d3-e9551436aabc
* Version Independent ID: b756aa96-bbb1-40e8-34ca-97f9939bf7e9
* Content: [Install FxCop analyzers - Visual Studio](h

[2019-10-29 19:36] rtwaddell commented on #4241
@WilliamAntonRohm, I have a subscription and have an open ticket(119102926002643).  This is the issue I am having. https://docs.microsoft.com/en-us/visualstudio/subscriptions/vs-ems.  Any update on when the issue will be resolved would be great.

[2019-10-29 19:42] clnorris commented on #4147
Thanks for the clarification, I am following the other link with interest.  Philosophically I believe the current documentation should reflect the actual procedure including workarounds, not a past/stale procedure.  It would be ok to show different steps for different O.S. revisions, especially if Catalina requires different installation steps for vcremote.  On the link you shared, I notice that s

[2019-10-29 19:48] pryorm92 commented on #4147
@clnorris The person who opened that issue provides vcremote support. I am not sure if michelleangela is a developer, but the issue report started from: https://developercommunity.visualstudio.com/content/problem/784499/vcremote-fails-to-install.html

In that link, I have provided a workaround (I accidentally created it as a possible solution) while we wait for Mac and/or Microsoft developers to r

[2019-10-29 23:12] #4097 closed

[2019-10-30 00:29] WilliamAntonRohm commented on #4243
@tndata -- Tore, thanks for your question.  You may find answers here:

- [https://social.msdn.microsoft.com/Forums/vstudio](https://social.msdn.microsoft.com/Forums/vstudio)
- [https://www.stackoverflow.com](https://www.stackoverflow.com)
- [https://www.reddit.com/r/VisualStudio/](https://www.reddit.com/r/VisualStudio)

As well, you might also consider using the [Report a Problem](https://docs.mi

[2019-10-30 07:47] beweir opened #4247 "Command Line Argument Characters"
There should be a note in the 'Command Line Arguments' section about what characters can not be used.  I have tried to use angle brackets and get an error when I try to run the program for debugging.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b4804e60-e04f-d313-96a9-5a070bad94c2
* Version Independent ID: d1bf3507-c

[2019-10-30 09:30] DanJBower opened #4248 "The namespace name 'SyntaxTree' could not be found"
When pasting this script into a Unity 2019.2.3f1 project, I am getting the error `CS0246: The type or namespace name 'SyntaxTree' could not be found (are you missing a using directive or an assembly reference?)`. I have Visual Studio 2019 installed, along with the Visual Studio Tools for Unity. These tools are enabled both in Unity and Visual Studio. Am I missing a step or an import? What is stopp

[2019-10-30 13:16] zhaparoff opened #4249 "Shortcut element with dashes is not supported for C# in VS 2019"
Shortcut section of a document:
https://docs.microsoft.com/en-us/visualstudio/ide/code-snippets-schema-reference?view=vs-2019#shortcut-element
says that dash ('-') and underscore ('_') are not supported for C++ language.

But dash is not supported  for C# as well, at least in VS 2019 Pro.
Thus:
`<Shortcut>ensureempty</Shortcut>` and `<Shortcut>ensure_empty</Shortcut>` are working fine, but `<Short

[2019-10-30 14:32] aolszowka commented on #4202
For anyone that comes across this while the ordering of the NestedProjects global section may not matter, it may uncover bugs which have been silently ignored due to various implementations. See https://github.com/microsoft/msbuild/issues/4835 for a more detailed explanation.

[2019-10-31 03:15] gregveres opened #4254 "How about a video on using VS for Mac to do database app dev"
[Enter feedback here]
That was a good introductory video. It would be nice to show how to do a full MVC app or just Web API app that uses a database on the Mac.

If we are developing on the Mac what are our choices for EF database development?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 64a4578c-e8e5-77d0-3b87-ac36b

[2019-10-31 04:13] sayedihashimi commented on #4254
@gregveres we have a [workshop](https://github.com/dotnet-presentations/aspnetcore-for-beginners) which covers using a database. Can you let me know if that covers the type of info you are looking for?

I was discussing with @unniravindranathan the possibility of creating a video around the workshop content.

We also have the [eShopOnWeb videos + docs](https://docs.microsoft.com/en-us/visualstudio

[2019-10-31 08:18] SamJongenelen commented on #1305
@yaseminyarnell2  I've had succes running netcore 2.2+ tests by NOT specifying any TargetFramework. However, it also needs the x64/x86 setting to be correct. Are you using the _dotnet test_ command?

Personally, I've been using Xunit without a runsettings file with great success. I configure the test run using command line switches combined with the xunit preferred way: using an _xunit.config.json

[2019-10-31 08:20] SamJongenelen commented on #1305
@yaseminyarnell2 you should include more nuget packages in your csproj. It seems you are missing Microsoft.Test.SDK. I've personally also set the _<DebugType>Full</DebugType>_ flag

[2019-10-31 09:05] #4248 closed

[2019-10-31 09:06] DanJBower commented on #4248
@therealjohn I've been having a look at the documentation and I can't find this information anywhere in it. Have I just missed it or is it not in the documentation?

[2019-10-31 11:42] BjornSigurd opened #4255 "No Performance Wizard"
In ASP.NET Core project, there seems to be no 'Analyze' &gt; 'Launch Performance Wizard' choice.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 66747ef0-0cbb-8afa-5bfc-ac214bef9d5c
* Version Independent ID: e69d3816-91cf-25bb-c395-5678cb70ecab
* Content: [How to: Profile JavaScript Code in Web Pages - Visual Studio](ht

[2019-10-31 13:05] gregveres commented on #4254
@sayedihashimi Thanks for pointing those out. I am reviewing the workshop now. If I have any comments on those, I will submit the comments there.

I asked the original question because there seems to be a lack of information talking about doing .Net dev on a mac with a database. So if there is such documentation, I would recommend linking to it everywhere that you talk about beginning with Visual

[2019-10-31 13:52] therealjohn commented on #4248
@DanJBower Sorry for the confusion! It looks like that info is missing from the docs and it's something we need to add!

[2019-10-31 13:54] sayedihashimi commented on #4254
@gregveres thanks for the comments.

Another option that I forgot to mention is that you can [run SQL Server in a docker container](https://docs.microsoft.com/en-us/sql/linux/quickstart-install-connect-docker?view=sql-server-ver15&pivots=cs1-bash) on the Mac. And you can use [Azure Data Studio](https://docs.microsoft.com/en-us/sql/azure-data-studio/download?view=sql-server-ver15) to interact with

[2019-10-31 14:03] gregveres commented on #4254
@sayedihashimi

Yes that type of video would be good. I have been looking over some other docs this morning and [found one that covered getting started](https://docs.microsoft.com/en-us/aspnet/core/tutorials/razor-pages/sql?view=aspnetcore-3.0&tabs=visual-studio) for both mac, linux and windows. It was pretty good - no video though. It raised another question that I think should be answered:

The

[2019-10-31 15:36] #4237 closed

[2019-10-31 16:56] conceptdev commented on #4254
Regarding the code formatting, we're always trying to balance clarity with succinctness. Lots of extra lines in a code block can make the whole block (and page) longer, but compressing lines can also make it hard to read.

In general I'd say the "proper" code formatting for docs would be our default Visual Studio auto-format, since that is probably what the majority of customers are used to seeing

[2019-10-31 18:10] CeciAc opened #4257 "Even if superfastcode2 (C ++) is set as a reference, it cannot be imported to python (pybind11)"
@hamukawa0406 commented on [Thu Oct 31 2019](https://github.com/MicrosoftDocs/visualstudio-docs.ja-jp/issues/1862)

visual studio 2019
windows 10
When this page was done in the above environment, c ++ file build was successful,
If you try to call a DLL from python,
"unresolved import 'superfastcode2'"
An error occurs.

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問

[2019-10-31 20:52] cdmihai opened #4258 "ProjectReference metadata is incomplete"
There's more metadata that is not documented on this page, like metadata for controlling global properties and the output item type.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 97e663f7-3bac-61af-28bb-f0e471dcdca6
* Version Independent ID: 97985f56-e0ac-a03d-f651-b86cc2b85804
* Content: [Common MSBuild Project Items

[2019-10-31 23:54] Mikejo5000 commented on #3724
Updating doc

[2019-11-01 00:08] Mikejo5000 commented on #3909
I made a few updates to the doc here to match the current templates. Overall, no repro on 16.4--I think the issue has been fixed in a VS update (updated project template). I do see that you get an error in the current TypeScript template if you try to Clean the Solution (per instructions), likely because the template doesn't use the same config, specifically <PostBuildEvent>npm run build</PostBuil

[2019-11-01 00:08] #3909 closed

[2019-11-01 00:08] Mikejo5000 commented on #3909
Note: fix is getting merged today, published 11/01/19.

[2019-11-01 00:33] coast77777777777 opened #4260 "Configure visual studio extension projects as 64-bit applications"
Hello,

I am trying to write code generating components that leverage the visual studio extension sdk and visual studio interop.  My systems have routinely error-ed out due to memory. How can I develop the interop mux for extension sdk without 64 bit IDE? the links below explain some details.

The problem:
The solution view can handle about ~50 thousand files. Then devenv crashes with memory error

[2019-11-01 08:39] ChrisTorng opened #4262 "Just ignore the complexity of switch"
The document tells me that "a large `switch` statement is a candidate for exclusion", and no good suggestion for me to take. Are there any real suggestion? If no, why not just ignore this warning on `switch`? We have "IDE0010 Populate switch" protecting us from forgetting to add a new case. I don't think I need more warning on large `switch`.

---
#### Document Details

⚠ *Do not edit this section

[2019-11-01 09:46] PlusoneWang opened #4263 "The table header in the roadmap page is incorrect."
Please check the page and image below.
https://docs.microsoft.com/zh-tw/visualstudio/productinfo/vs-roadmap
![Image 2](https://user-images.githubusercontent.com/37727068/68015950-63d6e100-fcce-11e9-80de-6793733d7cc0.png)
As I point out in image, the second header "Feature" should not exist. The word `Feature` has been translate to `功能`, which is the first table header. This error causes the header

[2019-11-01 12:21] roryap opened #4264 "How to enable this behavior"
I'm using VS 2017 and this feature is not showing in the refactor menu.  How do I enable it?  This URL indicates VS 2017.  https://docs.microsoft.com/en-us/visualstudio/ide/reference/move-type-to-namespace?view=vs-2017

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aaa5d8fa-b34c-4452-931d-b6230e0dff71
* Version Indepen

[2019-11-01 16:15] msebolt commented on #4257
This is something that needs to be directed to the product team.

@hamukawa0406  Please see if https://github.com/microsoft/PTVS/issues/5027 describes the issue.

[2019-11-01 16:21] msebolt commented on #4258
@cdmihai Thank you for the feedback, assigning this to the author for review.

[2019-11-01 17:05] #3724 closed

[2019-11-01 17:36] msebolt commented on #4260
@coast77777777777 Thank you for the feedback, we're sorry for the issue.

The product team would best be apt to recommend a solution to the root cause of this, however you will need to submit log files to the [Visual Studio community](https://developercommunity.visualstudio.com/spaces/8/index.html).

Please refer to [this example](https://developercommunity.visualstudio.com/content/problem/113696/

[2019-11-01 20:14] msebolt commented on #4262
@ChrisTorng  Thank you for the question, assigning this to the author for review.

For non-documented support and further suggestions on alternatives, please post to either:
- [Visual Studio on StackOverflow](https://stackoverflow.com/questions/tagged/visual-studio)
-or-
- [Visual Studio developer community](https://developercommunity.visualstudio.com/spaces/8/index.html)

...with a provided link

[2019-11-02 17:02] bdcoder2 opened #4269 "Well known or reserved property names? ..."
Might be a good idea to add details regarding well known or reserved property names to this page.  For example, if I create a new ASP.Net Core 3.0 project, Visual studio adds the following to my .csproj file:

[code]

Details regarding  (or a link to) the **&lt;TargetFramework&gt;** node should be mentioned on this page as (obviously) the &lt;TargetFramework&gt; node is a valid child of &lt;Proper

[2019-11-03 00:19] Jehoel commented on #4269
This?

[2019-11-03 00:46] bdcoder2 commented on #4269
@Jehoel - I do not see <TargetFramework> even mentioned on the page referenced:

[https://docs.microsoft.com/en-us/visualstudio/msbuild/common-msbuild-project-properties?view=vs-2019](https://docs.microsoft.com/en-us/visualstudio/msbuild/common-msbuild-project-properties?view=vs-2019)

Where is the COMPLETE schema for the .csproj file -- that is, where are all elements and the valid values documen

[2019-11-03 00:58] Jehoel commented on #4264
VS2017 has multiple different Refactor menus with different options. I appreciate it's confusing.

Put your caret (the blinking I-bar cursor) on the identifier of the class declaration of the class you want to move, then press `[Ctrl] + '.' (dot)` on your keyboard to get the Code Fixes menu popup with those options.

A subtle icon will also appear in the left-side gutter that you can click to open

[2019-11-03 01:06] Jehoel commented on #4269
There isn't one. Each `.targets` and MSBuild file can add its own properties - for example, an ASP.NET Core project has its own properties for IIS debugging, and a `pubxml` file (which is also an MSBuild file) has its own properties too.

I think one of the reasons the `TargetFramework` property is underdocumented is because the design of the properties for .NET Core projects is seemingly constant

[2019-11-03 02:19] bdcoder2 commented on #4269
@Jehoel - Thanks - but anyone new (myself) has found trying to find information about the various configuration files a rather daunting and time consuming task (it shouldn't be).   Having to spend hours trying to find out what a specific node or attribute does within a config file is a waste of time -- there needs to be a "dictionary" or schema of sorts that programmers can reference to find out (

[2019-11-03 02:39] Jehoel commented on #4269
* `web.config` is not used by ASP.NET Core. However your website might have one for IIS settings (`<system.webServer>`).
* `appSettings.json` is where you store most configuration data.
* `launchSettings.json` is used to configure the Visual Studio debugger. It lets you specify different environment variables and command-line arguments for your program without changing the Project Configuration. I

[2019-11-03 02:50] bdcoder2 commented on #4269
appSettings.json is where you store most configuration data.
launchSettings.json is used to configure the Visual Studio debugger. It lets you specify different environment variables and command-line arguments for your program without changing the Project Configuration. I wish this functionality worked for WinForms and WPF applications.
{project}.csproj is your project file which is also an MSBuild

[2019-11-03 02:50] #4269 closed

[2019-11-03 02:57] stewart-patch opened #4270 "_Analysis_assume"
Three places on this page (in text) spell it as above. The fourth place (in the example) has __analysis_assume, i.e. different capitalization and two leading underscores.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc8501a5-3dc2-5bb0-6457-48c36866cc9f
* Version Independent ID: 33802fb2-b687-b9d3-c5d4-79ab86e1cd63
*

[2019-11-03 09:06] MarcusRainbow opened #4271 "DLL name for python addins"
I just spent a frustrating few hours trying to get addins written in C++ to work in Python. What neither this page nor the equivalent page at https://docs.python.org mention is that the resulting dll must be renamed to &lt;modulename&gt;.pyd (you can of course do this in the linker with a /OUT directive).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2019-11-03 09:38] kobykahane commented on #3132
Any word on this?

[2019-11-03 13:24] StingyJack opened #4272 "This page needs suppression guidance for things like Application_Start"
The current advice in "When to suppress warnings" doesnt make sense. Its a warning about a method name. It can be whatever is legal and still be "safe".

It also doesnt explain what to do for the MSFT issued names like Application_Start that cause this CA rule to pop.  Clearly we want to suppress those instances, but really we dont want to be informed of them in the first place.

Do note that some

[2019-11-03 13:26] StingyJack commented on #4218
Its also common practice to not use the same CA rules (or any!) for unit test projects.

[2019-11-03 20:39] bartosz-jarmuz commented on #959
The problem is that .NET API is not the only API that people use. With this warning, one has to know what type of exception can come from each of the 3rd party methods called in a try-catch block.
That sucks, especially if a developer actually DOES something (e.g. log) with the exception - not just swallow it.

[2019-11-04 06:28] cazeua commented on #4149
Any updates?

[2019-11-04 18:55] WilliamAntonRohm commented on #4264
@roryap -- thank you for your feedback.

@Jehoel, @mikadumont -- please look into a potential documentation update.

[2019-11-04 19:13] JoshuaPartlow commented on #4213
No additional information received, so closing. Please feel free to re-open if you still need help.

[2019-11-04 19:13] #4213 closed

[2019-11-04 20:25] evanwindom commented on #4149
I'm checking with the engineering team to determine the best path forward on this issue.  Thanks for your patience.

[2019-11-04 20:27] evanwindom commented on #4085
@pyaephyonaung - As we haven't heard from you, I'm going to assume you've been able to get your issue resolved.  If that's not the case, please let us know.

@TerryGLee - Please close.

[2019-11-05 13:01] mdunka opened #4275 "Typo"
Errata: "The project is created and a file named server.cs opens in the Editor window."
Correct: "The project is created and a file named server.js opens in the Editor window."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d6fb2dd-69a5-f526-b95a-782d4d8a2558
* Version Independent ID: 0892f0aa-e10b-4525-a178-3dfbee4e2

[2019-11-05 14:19] omccully commented on #3927
I'm bothered by this issue too. Project templates have so much potential, but they really need some work. I'll check out your project, taori.

[2019-11-05 15:40] jpsjogren opened #4276 "Not accurate"
I don't see publish to Azure after signing in.
Plus the whole application looks different

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 92da5d51-dd0e-f62e-c453-8bdaafe04776
* Version Independent ID: 645d4899-f7c6-ffcd-53fa-3b6fb64be765
* Content: [Publish to Azure App Service - Visual Studio 2019 for Mac](https://docs

[2019-11-05 17:03] msebolt commented on #4276
@jpsjogren Thank you for the feedback, assigning this to the author for review.

[2019-11-05 17:53] evanwindom commented on #4149
@cazeua
I apologize for the delay.  Here are the answers to your questions:

Do I need to re-create an M365 subscription?
Yes, you do. You should be able to create a second auto-renewable tenant if you go to the https://my.visualstudio.com/benefits page, click on the M365 tile and then create a new subscription in your dashboard.  The old tenant will expire and eventually be deleted several months

[2019-11-05 18:08] hwisungi commented on #3132
We identified the cause of the discrepancy and notified the owner for resolution. Those annotations are new annotations added for concurrency checks and are included in the header that is released in Visual Studio. However, Windows SDK ships an older version of the header that is missing the new annotations. Please wait for a later release of Windows header. Meanwhile, please try to use the versio

[2019-11-05 20:07] Gutza opened #4278 "Should also suppress on lambdas"
Here's a canonical use case not mentioned as a legitimate suppression reason in the VS doc pages: https://stackoverflow.com/questions/18226705/false-ca1812-warning-internal-class-that-is-apparently-never-instantiated

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4303a22-627d-4024-fee7-40db88a544ac
* Version Independe

[2019-11-05 20:37] roryap commented on #4264
I'm not sure how this comment addresses the missing "move to namespace" feature....

[2019-11-05 21:20] Jehoel commented on #4264
@roryap I thought you were referring to the Edit > Refactor menu, not the Editor > Code Fixes menu.

[2019-11-05 21:45] thomps23 opened #4279 "VS intellisense with doc comments from `file` attribute?"
Originally filed as issue [#10633](https://github.com/dotnet/docs/issues/10633) in the .NET content repo. Recommendation to refer to this issue for additional context.

[2019-11-05 22:44] msebolt commented on #4234
Closing the issue, please comment below if there are any issues.

[2019-11-05 22:44] #4234 closed

[2019-11-05 22:46] msebolt commented on #4238
Closing the issue now, please add any additional comments below.

[2019-11-05 23:16] m-pollack commented on #4238
updated to 16.3.8
Running in admin mode
Still broken

Error signing in: '{"stack":"Error: Failed to acquire file lock on U:\\IdentityService\\AadConfigurations\\AadConfiguration.lock\n at Object.<anonymous> (C:\\Program Files (x86)\\Microsoft Visual Studio\\Installer\\resources\\app\\node_modules\\vs-report-problem-bundle\\ReportProblem.asar\\node_modules\\identity-client\\dist\\Utilities.js:252:1

[2019-11-05 23:21] m-pollack commented on #4238
After the update I found vs_installer still running in the background even though i closed it
using 25% + of my cpu

[2019-11-05 23:36] Marraz commented on #2262
If you are not using the analyzers, removing them would be enough but if this is not possible due to dependency, you can suppress the warning (in this case DV2001)

How to suppress warnings:
https://docs.microsoft.com/en-us/visualstudio/ide/how-to-suppress-compiler-warnings

[2019-11-06 00:05] cdmihai opened #4281 "CallTarget Documentation incomplete"
CallTarget seems to evaluate the called target in a new variable scope, as opposed to the same variable scope it's called from. This means that any item / property mutations in the called target are not visible to the calling target, without using the `TargetOutputs`

This seems like an important piece of documentation but is not covered by this page.

---
#### Document Details

⚠ *Do not edit thi

[2019-11-06 00:13] #4275 closed

[2019-11-06 09:14] TerryGLee commented on #4263
@CeciAc Could you please take a look at this issue? Many thanks in advance!

[2019-11-06 09:28] TerryGLee commented on #4149
Closing per request from @evanwindom

[2019-11-06 09:28] #4149 closed

[2019-11-06 10:38] GreatFireWall opened #4283 "Is there any workarounds for the DLL output is not the location that the calling app is calling ?"
Is there any workarounds for the DLL output is **not** the location that the calling app is calling ?

I want to debug my DLL by `start external program`, the program will load my DLL at startup.
In order not to pollute the real target directory, I copy the `dll` and `pdb` to the real target directory by post build event.
But the breakpoint not hitted. Is there any workaround for this purpose?

--

[2019-11-06 12:20] roryap commented on #4264
I'm referring to the "move type to namespace" feature which the link I provided says should be in the refactor menu.

[2019-11-06 12:28] grimreaper38uk commented on #3289
I think it's too late for their feelings.  MS haven't had any for at least a decade.
Same problem here to - authentication error when signing in, despite being signed in in VS.
No way to report the other myriad of errors that have cropped up this morning.

[2019-11-06 14:22] PawcioCNCProfi opened #4284 "But why this is bad?"
The case is well described and I understand the example but I don't understand what's wrong with invoking virtual method before the object is initialized? It's totally expected. And I never even assumed that an overridden method is invoked after base constructor.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 78518637-

[2019-11-06 15:12] BobbyCGD opened #4285 "Extensions compatability"
As someone who has never written an extension, I would have like to see/know if VS extensions are compatible with other versions of VS such as VS Code. What makes them compatible? Are VS Code and VS extensions the same?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 99f1f45a-7db7-44ca-9740-4098f1cd800e
* Version Indepe

[2019-11-06 15:42] m-pollack commented on #3289
to make it work take VS out of admin mode

[2019-11-06 17:01] CeciAc commented on #4263
Hello, @PlusoneWang

Thank you for your feedback.

We are actively reviewing your comments and will get back to you soon.

Kind regards,
Microsoft DOCS International Team

[2019-11-06 17:25] ghogen commented on #1411
It looks like this is not a supported product scenario in Visual Studio, so we really have no choice but to close this issue until that changes.  As stated earlier, Dev Community is the place to advocate for adding support.

[2019-11-06 17:25] #1411 closed

[2019-11-06 17:28] ghogen commented on #3601
Closing this issue since the deploy functionality was removed in VS 2019 - the topic here provides links to both Azure Dev Spaces, which lets you deploy during the development/debug part of the application development cycle, and CI/CD docs which is the recommended way to publish/deploy to AKS for integrated services.

[2019-11-06 17:28] #3601 closed

[2019-11-06 17:29] ghogen commented on #4138
This is fixed now.

[2019-11-06 17:29] #4138 closed

[2019-11-06 17:31] ghogen commented on #3612
Closing this as per previous comment - the article refers to the Docker Compose steps and for the Kubernetes scenario, refer to the Azure Dev Spaces docs.

[2019-11-06 17:31] #3612 closed

[2019-11-06 17:56] heiligerdankgesang commented on #4187
@samtse Thank you very much for letting us know.

I've tried this out in Visual Studio for Mac. Here are my results:

<img width="553" alt="Screen Shot 2019-11-06 at 12 54 12 PM" src="https://user-images.githubusercontent.com/6868428/68324070-ab75b800-0094-11ea-8d93-dcb630dc17b9.png">

It seems to work for me as documented. Could you let me know the exact steps you're taking so I can file a bug or

[2019-11-06 18:19] samtse commented on #4187
I think it might be that I’m using the community edition ??

Jerome Mayeux
Sent from Polymail ( https://polymail.io/?utm_source=polymail&utm_medium=referral&utm_campaign=signature )

On Wed, 06 Nov 2019 at 17:56 Dominic N < Dominic N ( Dominic N <notifications@github.com> ) > wrote:

[2019-11-06 19:11] TerryGLee commented on #4085
Closing this per request from @evanwindom

[2019-11-06 19:11] #4085 closed

[2019-11-06 20:01] heiligerdankgesang commented on #4187
@samtse Seems to work in community for me as well - community and enterprise are the same installation and there are a few permissions changed by signing in. This shouldn't be affected by the version.

Do you see the add menu at all? We can continue chatting on GitHub if that works for you or I can get us a Teams meeting so we can chat in "person".

Thanks for the response!

[2019-11-06 20:11] dagood opened #4287 "MSBuild Import doc claims relative paths are relative to the importing project's dir, but this is not true for imports in the imported file"
This paragraph is correct in some cases, but not in others:

This is generally true for properties and items (and I think that was the intent behind the writing because they're what people more often get tripped up by). It is incorrect for `Import`s within the imported project: these are actually relative to the imported project.

Example project: [import-relative.zip](https://github.com/Microsoft

[2019-11-06 20:18] rainersigwald commented on #4287
cc @Mikejo5000

maybe it should just say the "immediately importing" project? What it means by "importing project" is "the file that has the `<Import` element in it". But "project" generally means an entry point like a `.csproj`--for example, that's what you get with `$(MSBuildProjectFullPath)`.

[2019-11-06 20:35] dagood commented on #4287
The way I'm understanding that suggestion, I think it'd make the item/property scenario less clear. With that wording I might expect items defined in `\Outside.File.targets` to be relative to the "immediately importing" `\Directory.Build.targets`. (If I manage to interpret "project" to mean "MSBuild file" in the first place. 😄)

I don't have a tweak in mind that can solve this... in my mental mode

[2019-11-06 20:43] rainersigwald commented on #4287
I'm not sure I understand what you're saying about items/properties. Items can't be used in import elements. If properties are used, they're either:
a. expanded to a relative path, and that's treated as relative to the (immediately) importing project, or
b. expanded to an absolute path and that gets imported.

Maybe the tweak should be around the first part of this sentence? Maybe something along

[2019-11-06 21:01] dagood commented on #4287
I think you're reading this bit completely differently than I am:

To me, this means "relative paths you find in an imported project", such as relative paths in properties, and in item `Include`s. This in my opinion it the way to read it to make the rest of the paragraph make sense:

Your suggestion sounds good to me in isolation, but I don't see how it fits with the rest of the paragraph:

(If th

[2019-11-06 21:22] rainersigwald commented on #4287
There are a few things at play here:
1. Properties are strings. You can use them to hold a relative path, but that's not known to MSBuild.
2. `<Import Project="relativepath" />` is relative to the file containing the `Import` element.
3. Item `Include="relativepath"` are relative to the primary project (`$(MSBuildProjectDirectory)`).

This page was trying to get at 3, 2 was what tripped up that ot

[2019-11-06 21:34] ghogen commented on #2923
I added a section to the topic https://docs.microsoft.com/visualstudio/ide/how-to-exclude-projects-from-a-build. This covers skipped projects due to timestamp (up-to-date already), and skips due to build configuration.

[2019-11-06 21:34] #2923 closed

[2019-11-06 22:02] WilliamAntonRohm commented on #4283
@GreatFireWall -- Thanks for your question. It looks like you're having an issue with the product itself, rather than an issue with the documentation. Here are a few options where you might consider asking your question:​

- [https://social.msdn.microsoft.com/Forums/vstudio](https://social.msdn.microsoft.com/Forums/vstudio)
- [https://www.stackoverflow.com](https://www.stackoverflow.com)
- [https:

[2019-11-06 22:02] #4283 closed

[2019-11-06 22:22] jzabroski commented on #2923
It can also be skipped if the solution file dependencies Guids get jacked up

On Wed, Nov 6, 2019, 4:34 PM Gordon Hogenson <notifications@github.com>
wrote:

[2019-11-06 22:26] dagood commented on #4287
Yep, that all matches my understanding. Thanks.

[2019-11-06 22:43] WilliamAntonRohm commented on #4285
@BobbyCGD -- Boris, thanks for your question.  Here are a few options where you may find answers:​

-  [https://social.msdn.microsoft.com/Forums/vstudio](https://social.msdn.microsoft.com/Forums/vstudio)
- [https://www.stackoverflow.com](https://www.stackoverflow.com)
- [https://www.reddit.com/r/VisualStudio/](https://www.reddit.com/r/VisualStudio)

@madskristensen -- Mads, please look into this i

[2019-11-06 22:45] Mikejo5000 commented on #4287
@rainersigwald Sounds like we need a minor update to the doc for point 3?

[2019-11-06 22:45] #3977 closed

[2019-11-06 23:05] ghogen commented on #4114
@the-dag   With 16.4 previews, you can now open the Containers window, look at what's going on with the container, and attach to a process. F5 is supposed to work, but now at least if you are starting the container from the command line, you can still attach the debugger.

[2019-11-06 23:56] WilliamAntonRohm commented on #3165
I am closing this issue now.  You are welcome to @ mention me for any followup.  We hope to hear from you again.

[2019-11-06 23:57] #3165 closed

[2019-11-07 08:29] the-dag commented on #4114
That sounds awesome! I'll just wait for the RTM then. Thank you for the tip. :)

[2019-11-07 15:25] joseogl opened #4289 "npm ERR! missing script: clean"
Following the steps in this tutorial results in the error below below whne using Build Clean or Rebuild Solution.  There is indeed to clean in package.json.  Should there be?  If it needs to be added what should the command be?  It isn;t clear that it is needed as the project builds and runs.

I am having a problem with breakpoints in debugging the TS code.  Will create a new issue for it if I can

[2019-11-07 15:33] joseogl opened #4290 "Need clean target?"
I am gettimg errors when using Build.Clean or Build.Rebuild.

------ Clean started: Project: NodejsWebApp1, Configuration: Debug Any CPU ------
		npm ERR! missing script: clean
		npm ERR! A complete log of this run can be found in:
		npm ERR!     C:\Users\joseo\AppData\Roaming\npm-cache\_logs\2019-11-07T15_16_15_572Z-debug.log
C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\MSBuild\M

[2019-11-07 16:13] Mikejo5000 commented on #4290
@joseogl Hi, at what section and iinstruction did you run into this error? Do you run into errors when not using Clean or Rebuild and just following the instructions as described in the article? Thx!

[2019-11-07 16:22] Mikejo5000 commented on #4290
Some of the templates previously had a post build event in the .njsproj file, like this, which supported the Clean/Rebuild:

<PostBuildEvent>npm run build</PostBuildEvent>

See this:
https://docs.microsoft.com/en-us/visualstudio/javascript/quickstart-vuejs-with-nodejs?view=vs-2019#build-the-project

I believe this element was removed from more recent projects for some reason.

[2019-11-07 16:49] msebolt commented on #4260
Closing the issue now, please comment below any questions.

[2019-11-07 16:49] #4260 closed

[2019-11-07 17:07] msebolt commented on #4289
@joseogl  Thank you for the feedback.

Please add a link to the tutorial below and we will have this issue investigated further.

[2019-11-07 18:22] TerryGLee commented on #4211
@vij9218 Thanks again for your feedback; with the recent integration of .NET Core 3.0 in to Visual Studio 2019, the About page became obsolete. We've changed the quickstart to use a page that is available in the new version of .NET Core 3.0. Thanks for helping us improve the documentation!

[2019-11-07 18:22] #4211 closed

[2019-11-07 19:42] joseogl commented on #4290
Thanks.  I just got this error while trying to rebuild while exploring the project. I am trying to get debugging the client side to work without any luck do far.

[2019-11-07 19:45] Mikejo5000 commented on #4290
What version of Visual Studio are you using? And what browser are you running in?

[2019-11-07 19:46] Mikejo5000 commented on #4290
@armanio123 Armando, do you know why Clean/Rebuild doesn't work in the templates? Looks like it might be due to a template change, as I noted above.

[2019-11-07 20:17] joseogl commented on #4290
I am using VS2019 Community v 16.3.8 with Edge, Chrome, and Edge Beta. No matter what, I can't breakpoints to hit on the client code.  Server side code hits breakpoints.

[2019-11-07 20:30] Mikejo5000 commented on #4290
Did you see any errors? What was the result? It is a tricky area with source maps and transpiled code. I know that the steps to do this need to be exact:
1. Set a breakpoint in client-side code in an area of code that will execute.
2. Make sure your sourcemaps are correct. Both relative path and prefixes. In this example, the array should have a reference to "./app.tsx" and not "webpack:///./app.t

[2019-11-07 20:33] Mikejo5000 commented on #4290
Also, with Edge Beta (Chromium base), I believe I've seen Chrome extensions interfere with getting the Edge Beta browser into debug mode.

[2019-11-07 21:37] armanio123 commented on #4290
Visual Studio uses the `build` and `clean` scripts of the `package.json` when executing either Build, Rebuild or Clean . The error message states that the `clean` script is missing. To fix it you can either add it to the `package.json` or remove the command my modifying the project.

Examples:
Add to `package.json` (assuming you're using TypeScript):
[code]

To remove the commands all together, ad

[2019-11-07 22:25] CeciAc opened #4293 "No longer works with the Runtime Stack Node.js option 8.9 above"
Hi team,
I'm moving this here because it refers to the original documentation
https://github.com/MicrosoftDocs/visualstudio-docs.fr-fr/issues/71
The comment below was machine-translated

@ynguyenluat commented 9 hours ago — with docs.microsoft.com
Fix: add the application parameter WEBSITE_NODE_DEFAULT_VERSION = 8.9.0

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2019-11-08 00:12] joseogl commented on #4290
Thanks @armanio123. I will try the package.json changes.

@Mikejo5000 I have followed the steps for debugging as suggested.  Here are my results.

I was unable to launch Microsoft Edge (not the Beta) with the debugger port argument suggested. U switched to Chrome and that allowed me to set the breakpoint in the JS file not TS file (because of the change to webpack-config.js?). Unfortunately I get

[2019-11-08 00:15] Mikejo5000 commented on #4290
Yeah, I think only Chrome or the Edge Beta will work for debugging with source maps. I don't think regular Edge can do it.

[2019-11-08 00:27] BrunoZell commented on #4228
The configuration manager is probably what I was looking for. I just was confused with the difference between project configurations and solution configurations. So this is what I understand, correct me if I am wrong somewhere:

Each project can have its very own configurations, set by the `Configurations`  property in the csproj file, e.g.`<Configurations>Debug;Release;DebugDemo;ReleaseDemo</Conf

[2019-11-08 04:14] msebolt commented on #4293
Assigning this to the author for review.

[2019-11-08 07:47] msebolt commented on #4257
Closing the issue now.

For additional product support, please use **Report a problem** in the [Azure DevOps community](https://developercommunity.visualstudio.com/spaces/21/index.html).

[2019-11-08 07:47] #4257 closed

[2019-11-08 13:29] invy opened #4294 "CTest documentation does not tell all the truth"
consider the document:
docs/test/how-to-use-ctest-for-cpp.md#L17:
[code]
and
docs/test/how-to-use-ctest-for-cpp.md#L29:
[code]

This is not fully true. One can use gtest_discover_tests() in cmake to allow Test Explorer see all Test Cases.

gtest_discover_tests
https://cmake.org/cmake/help/v3.10/module/GoogleTest.html#command:gtest_discover_tests

[2019-11-08 13:34] toebens opened #4295 "VS2017 caches but does not updates the Directory.Build.props file"
VS2017 caches but does not updates the Directory.Build.props file
https://developercommunity.visualstudio.com/content/problem/433497/visual-studio-directorybuildprops-caching.html

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d410ebeb-3841-a0a9-efb4-185823add4dc
* Version Independent ID: 7e397179-4ccc-054c-8137-5e8f24

[2019-11-08 16:56] Mikejo5000 commented on #4290
@joseogl BTW, I have seen that exact issue with script paused in Visual Studio Code. If I recall correctly, the issue was either the wrong relative path in the source map to "webpack:///...." or it was that the browser was not getting into debug mode properly, with other instances of Edge (Chromium) / Chrome / Chrome extensions interfering.

Besides F12 tools, another option would be to try the pr

[2019-11-08 16:57] Mikejo5000 commented on #4293
I'll plan to make this update. Thanks!

[2019-11-09 05:49] Protiguous commented on #3759
Alternate last example, uses a private constructor to pre-validate the "other" Person.

    public interface IPerson {
        String Name { get; }
        Int32 Age { get; }
    }

    public class Person : IPerson {
        public String Name { get; }
        public Int32 Age { get; }

        public Person( String name, Int32 age ) {
            this.Name = name ?? throw new ArgumentNullExcepti

[2019-11-09 05:53] Protiguous commented on #3759
Alternate solution to validation. Uses a private constructor to pre-validate the "other" Person.

    public interface IPerson {
        String Name { get; }
        Int32 Age { get; }
    }

    public class Person : IPerson {

        public String Name { get; }

        public Int32 Age { get; }

        public Person( String name, Int32 age ) {
            this.Name = name ?? throw new Argumen

[2019-11-09 23:59] wizofaus commented on #4218
For you perhaps. The only exception I want made is for test function names (i.e. for xUnit, those marked [Fact] or [Theory]).  Even helper function names in the test libraries should follow regular conventions.

[2019-11-10 22:01] StingyJack commented on #2262
@Marraz I've historically had very little success with making the DV messages go away (2-3 issues on devcomm still unresolved after a few years). In this case the problem was caused due to the DV package not declaring itself as a development dependency, so when we run nuget pack on one of our projects that uses the DV analyzer, nuget forces consumers of our package to take the DV package too.

[2019-11-11 02:00] chr1974 opened #4297 "This question / Answer does not belong in this tutorial."
Hi, the following question on this page is for Django and not flask, thus it should be removed!

Question: When I run the project, I see an error that the template cannot be found. What's wrong?
Answer: If you see errors that the template cannot be found, make sure you added the app to the Flask project's settings.py in the INSTALLED_APPS list. Without that entry, Flask won't know to look in the a

[2019-11-11 09:45] hugoandrioli opened #4298 "Comment on using FxCop to trace source of warning"
Dear All,

I know this isn't the exact right place, but I am stuck with this issue and if someone knows the answer to my question it can save the team a lot of time.

As we have a large code base in C# we want to run Roslyn code analysis.
I added Microsoft Code Analysis to my project and it seems to have installed correctly.
(I saved the output from the installer)

It generates warnings that I can

[2019-11-11 14:52] jmemisevic opened #4299 "VS2019 Configuration Manager"
Hello team ,

can we get select all check box on top of  "Build" and "Deploy" in configuration manager.
In solutions where there are a lot of projects it's sometimes frustrating to check or uncheck project i want to build or deploy.
This is just a suggestion!

Thanks in advance !

[2019-11-11 17:31] msebolt commented on #4297
@chr1974  Thank you for the feedback, assigning this to the author for review.

[2019-11-11 20:10] JendaPerl commented on #4210
I'm sorry, I did not notice your response.
I added the section back to the web.config and tried to debug the project. I got a dialog box with title "Microsoft Visual Studio" and text "Unable to start debugging on the web server. Operation not supported. Unknown error: 0x80004005. Click Help for more information."

The Help loads the https://docs.microsoft.com/en-us/visualstudio/debugger/error-unab

[2019-11-11 20:16] Mikejo5000 commented on #4210
Thanks for responding. So, you used the Event Viewer to get details on the error?

[2019-11-11 20:33] Mikejo5000 commented on #4210
Oh, misread that. You tried the Event Viewer, but it didn't help. Looks like I need a new entry for "Operation not supported".

[2019-11-11 22:02] #4270 closed

[2019-11-11 22:29] m-pollack commented on #4238
Just wondering if this is part of the same issue?
Happens too often for no apparent reason

![vsinstellershell](https://user-images.githubusercontent.com/49539220/68626163-f24e1e00-0497-11ea-8d4e-0af67c9cd0c2.JPG)

[2019-11-12 03:08] msebolt commented on #4298
@hugoandrioli Thank you for the question.

Code analysis violations should reference the line of code causing the non-compliance.

For example, in this [command-line example](https://docs.microsoft.com/visualstudio/code-quality/use-roslyn-analyzers?view=vs-2019#command-line-usage), the warning refers to `Module1.vb(9,18)` for causing issue with [CA1822](https://docs.microsoft.com/visualstudio/code

[2019-11-12 03:34] msebolt commented on #4299
@jmemisevic Thank you for the feedback.

Product features are discussed through the [Visual Studio community](https://developercommunity.visualstudio.com/spaces/8/index.html) under **Suggest a feature** and can elicit direct feedback from the product team.

Please start a thread there and link back to this issue.

[2019-11-12 06:32] Iamguy84 opened #4302 "React or Angular SPA in Visual Studio Docker Compose Problem"
Hi Folks,

I am using Asp.net Core 3 with Angular and Docker Windows Container.

I followed as below:
[https://docs.microsoft.com/en-us/visualstudio/containers/container-tools-react?view=vs-2019#modify-the-dockerfile-windows-containers](https://docs.microsoft.com/en-us/visualstudio/containers/container-tools-react?view=vs-2019#modify-the-dockerfile-windows-containers)

I build and run Docker. It s

[2019-11-12 07:18] msebolt commented on #4289
Closing the issue now, please comment below if there are still issues.

[2019-11-12 07:18] #4289 closed

[2019-11-12 08:30] ulflunde opened #4303 "Thanks"
Very helpful page, clear and informative!
Solved my problem.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a4cdce0-fb0c-5c4f-13a3-b24d39662b64
* Version Independent ID: 70146337-d649-c442-0a37-0810f3dfc9a8
* Content: [Publish to Azure by importing publish settings - Visual Studio](https://docs.microsoft.com/en-us/vis

[2019-11-12 09:04] jmemisevic commented on #4299
I will do that, thanks for quick reply .

[2019-11-12 09:09] Styxxy opened #4304 "Page title and menu item name are different casing"
The page title is "MSBuild .targets files" while the menu item (and breadcrumb) is "MSBuild .Targets files".

![msbuild-targets-files](https://user-images.githubusercontent.com/1635825/68657743-8ff72b00-0534-11ea-8742-8ba952f61346.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c6f7f1d-2f33-e083-f8de-1ecd9f1a4a93

[2019-11-12 13:03] silvanknecht opened #4305 "The connection with the remote endpoint was terminated"
This error message is missing

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 284b9094-8c91-69e1-01a2-0183ca3ec2a9
* Version Independent ID: 8f7a16bb-32f6-3047-16e3-b82b82fbb7c0
* Content: [Unable to Connect to the Microsoft Visual Studio Remote Debugging Monitor - Visual Studio](https://docs.microsoft.com/en-us/visuals

[2019-11-12 15:24] kirkktx opened #4306 "Custom is no more"
This ...
Step 3. Select the Extensibility section, and then choose Custom Command.
Should be changed to this:
Step 3. Select the Extensibility section, and then choose Command.
(Custom not shown in vs2019 16.3.8)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 99d54da6-38c2-4cc4-9b22-a8f817c83f29
* Version Independent I

[2019-11-12 15:57] Mikejo5000 commented on #4303
Thanks! Appreciate the feedback.

[2019-11-12 15:57] #4303 closed

[2019-11-12 19:45] WilliamAntonRohm commented on #4302
@Iamguy84 Thanks for your question. It looks like you're having an issue with the product itself, rather than an issue with the documentation. Here are a few options where you might consider asking your question:​

[https://social.msdn.microsoft.com/Forums/vstudio](https://social.msdn.microsoft.com/Forums/vstudio)

[https://www.stackoverflow.com](https://www.stackoverflow.com)

[https://www.reddit

[2019-11-12 19:45] #4302 closed

[2019-11-12 21:26] ghogen commented on #4219
This is fixed now.

[2019-11-12 21:26] #4219 closed

[2019-11-12 22:20] evanwindom commented on #3896
@jonwbstr - Since we haven't heard from you, we're going to close this issue.  Please let us know if you're still seeing problems with current lists.

[2019-11-12 22:20] evanwindom commented on #3896
@TerryGLee - Please close

[2019-11-12 22:26] TerryGLee commented on #3896
@evanwindom Closing per request.

[2019-11-12 22:26] #3896 closed

[2019-11-12 23:06] WilliamAntonRohm commented on #4306
@kirkktx -- Kirk, thank you for your feedback.

@madskristensen -- Mads, please look into the command name on line 71 & the image on line 75.

[2019-11-12 23:55] #4304 closed

[2019-11-13 03:34] dpaulino commented on #4033
Looks like the page was updated with instructions on how to set the environment variable. Thanks!

[2019-11-13 03:34] #4033 closed

[2019-11-13 05:46] felixmaomao opened #4310 "how to change the code snippet insert shortcut?"
how to change the shortcut from double click tab to just click enter?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba6dc7b9-f7d2-9cf3-d0ce-70066af7daa9
* Version Independent ID: 053a95f0-ab8c-e684-dccc-1e6f4063a3ce
* Content: [C# code snippets - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/ide/visual-

[2019-11-13 09:27] icalvo opened #4311 "There are extra steps needed for installing the visualizer"
In my case I needed two more steps for this to work, with VS 2019 16.3.8 (Windows 10) and a .NET Core 3.0 console project. The two extra steps were:

* Copy DLL to `My Documents\` _VisualStudioVersion_ `\Visualizers\netstandard2.0`
* Copy `MultiSelectTreeView.dll` (also available in the Releases page) to `My Documents\` _VisualStudioVersion_ `\Visualizers\netstandard2.0`

---
#### Document Details

[2019-11-13 10:50] nirmand opened #4312 "This is redundant with CA2100"
CA2100 deals with the same issue, and covers a bit more area than CA3001. I think its covered there, so I am not sure if we still require 3001 or not.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 838f3edf-9990-5a78-e2a3-b3f6773bb367
* Version Independent ID: bdea7aed-d5d9-40c0-c259-3c096805dd8a
* Content: [CA3001: Re

[2019-11-13 14:05] seanalford opened #4313 "Generating multiple files from a template"
The **Generating multiple files from a template** section of [Access models from text templates](https://github.com/MicrosoftDocs/visualstudio-docs/blob/master/docs/modeling/accessing-models-from-text-templates.md) mentions there are several approaches for generating multiple files from a single model; however, only one method is mentioned. i.e. **Splitting a long file**

What are the other approa

[2019-11-13 15:54] CeciAc opened #4314 "I wanna acknowledge why different solution build result and project build result."
Hi team,
I moved this from here: https://github.com/MicrosoftDocs/visualstudio-docs.ko-kr/issues/66

@nicejmkim commented 4 hours ago — with docs.microsoft.com
Hi, I'm college student in Korea.
I got a one of MESServer solution and dll file.
So I set this program and built this project one by one.
Result is not Error status. then I build MESServer solution, I got this error.
(LINK : fatal error LN

[2019-11-13 16:15] Mikejo5000 commented on #4311
@icalvo Thanks for the information! I'll get the doc updated.

[2019-11-13 16:18] Mikejo5000 commented on #4033
Yes, thanks for the follow up!

[2019-11-13 17:40] wvc25 opened #4315 "Android SDK default path"
New to MSVS2019 here... is there any reason why the Tools &gt; Options &gt; Cross Platform &gt; C++ &gt; Android &gt; Android SDK [default path = C:\Microsoft\AndroidSDK\25] is different from Tools &gt; Options &gt; Xamarin &gt; Android Settings &gt; Android SDK Location [default path = C:\Program Files (x86)\Android\android-sdk]?  I can't properly build the "OpenGL ES application on Android and i

[2019-11-13 18:39] septst opened #4316 "Newly Installed template not appearing under "New Project" templates"
Hello,

I followed the steps mentioned in the article to create a new template and installed the same to see if it works as expected. I can see it installed in "Manage Extensions" but it does not appear under "New Project". Can someone please tell what I may be doing wrong here?

Also, I have installed Steve Smith's Clean Architecture template and it does appear in all places properly. So, this ma

[2019-11-13 18:49] corob-msft commented on #4315
@wvc25

That's a good question. My guess would be the Microsoft directory default is to prevent the tools from clobbering an existing setup. You can edit the paths in the **Tools > Options > Cross Platform > C++ > Android** page to point to where your preferred tools are, if that helps.

@michelleangela Do you have any insights?

[2019-11-13 18:54] msebolt commented on #4310
@felixmaomao Thank you for the question.

Are you referring to "...pressing Tab at any time will dismiss the Code Snippet Inserter and insert the currently selected code snippet"?

Unfortunately this is built-in functionality local to the Code Snippet Inserter.  Please also note use of `Enter` can be restricted as a shortcut key, see [Keyboard shortcuts](https://docs.microsoft.com/visualstudio/ide

[2019-11-13 19:00] msebolt commented on #4312
@nirmand  Thank you for the feedback.

This is more of an issue with the code as opposed to any documentation.

For better support, please move this issue to the [roslyn](https://github.com/dotnet/roslyn/issues) repo.

[2019-11-13 19:04] dotpaul commented on #4312
[roslyn-analyzers](https://github.com/dotnet/roslyn-analyzers/issues) implements these rules

[2019-11-13 19:15] michelleangela commented on #4315
@wvc25, the settings **Tools > Options > Cross Platform > C++ > Android** is used by the C++ mobile development component, which supports to up Android SDK 25, therefore the path specifically points to `C:\Microsoft\AndroidSDK\25`. It is independent from Xamarin, which has its own setup for using Android SDKs.

As for the issue of not being able to build the sample project "OpenGL ES application o

[2019-11-13 19:19] wvc25 commented on #4315
Thanks for the response, @corob-msft .. I did try changing the path in the Cross Platform to that of the Xamarin's path.. the problem is, the build process for the "OpenGL ES application on Android and iOS" example can't seem to write the "\ant\build.xml" in the Xamarin's "C:\Program Files (x86)\Android\android-sdk\tools" folder, whereas it does it with the Cross Platform's "C:\Microsoft\AndroidSD

[2019-11-13 19:20] msebolt commented on #4312
@dotpaul  Thank you for the correction.

[2019-11-13 19:27] msebolt commented on #4313
@seanalford Thank you for the feedback and questions, assigning this to author for review.

Please note while we can take into account the need of a provided situation, we are not allowed to provide support or specific recommendations.

For help with these types of user scenarios, please use one of the following:

- [Visual Studio community](https://developercommunity.visualstudio.com/spaces/8/ind

[2019-11-13 19:32] michelleangela commented on #4315
The Android SDK Manager is only used by the Xamarin component.

Do you run Visual Studio as admin mode? Perhaps running Visual Studio either as admin or not is what's causing the write to file permissions issue.

[2019-11-13 19:34] msebolt commented on #4314
@nicejmkim  Thank you for the question.

See if [this post](https://stackoverflow.com/questions/10888391/error-link-fatal-error-lnk1123-failure-during-conversion-to-coff-file-inval) helps resolve the issue.

If not, please move this to the [Visual Studio community](https://developercommunity.visualstudio.com/spaces/8/index.html) and file as a bug with the product team.

[2019-11-13 19:50] wvc25 commented on #4315
I already tried both to no avail.  I normally run it as a regular user, but each time I launch the "Tools > Android > Android Device Manager" or the "Tools > Android > Android SDK Manager", I'm prompted to login as an admin, which I can.

Having said that, VS2019 should be able to write to any folder since I login as an admin "whenever" it asks me to.  Just to clarify, the folder "C:\Microsoft\And

[2019-11-13 20:20] michelleangela commented on #4315
I'm not familiar with how the [Android SDK Manager](https://docs.microsoft.com/en-us/xamarin/android/get-started/installation/android-sdk?tabs=windows) works or writes to folders. It was created to provide Android tools for the Xamarin component. My guess is it could have specific functionality to work for Xamarin but are not intended for other components. The Android Device Manger is also used by

[2019-11-13 20:51] wvc25 commented on #4315
Yes, it does look like Xamarin requires admin privileges in order to be used.  That's definitely bad for marketing since in the corporate world, only a small group of people gets admin access.

You mentioned that the Android Device Manger is also used by Xamarin.  But shouldn't this also be used by the C++ mobile development component in order to launch an Android emulator for testing?  The issue

[2019-11-13 20:56] stevenbrix commented on #1578
@chm-tm thanks for sharing that doc, there is a ton of good information int here. In my opinion that doc is too high level to try and understand any best practices for a single project.

I'll give an example below that I think is a best practice. I'll only refer to props files, but it applies equally to targets as well.

As the order inclusion is a serious issue and headache to get right, I've see

[2019-11-13 21:01] haniamr commented on #4114
@the-dag thanks for your feedback. We are constantly working on enriching our documentation and it is definitely on top of our list to explain how the tooling works in the background. In the mean time, I'd be happy to answer any questions you have.

To provide some clarity on volume mounts and debugging, the tooling works in 2 different modes:

1. **Debug mode**: where it volume mounts the app, de

[2019-11-13 21:31] wvc25 commented on #4315
Okay, I was able to reinstall the C++ mobile development component by following your suggestion and I'm back to getting the original error message below:

1>------ Build started: Project: OpenGLESApp1.Android.NativeActivity, Configuration: Debug x86 ------
1>ANDROID_HOME=C:\\Microsoft\AndroidSDK\25
1>ANT_HOME=C:\Program Files (x86)\Microsoft Visual Studio\2019\Professional\Apps\apache-ant-1.9.3
1>

[2019-11-13 23:01] klm1 opened #4317 "Instructions do not produce a working container"
The instructions at [Install Build Tools into a container](https://docs.microsoft.com/en-us/visualstudio/install/build-tools-container?view=vs-2019) do not produce a working container.

Step 5 (`docker build -t buildtools2019:latest -m 2GB .`) of the directions produces the following warning:

` ---> [Warning] Shell-form ENTRYPOINT and exec-form CMD may have unexpected results`

And then running t

[2019-11-13 23:10] JendaPerl commented on #4210
Exactly. The "Operation not supported. Unknown error: 0x80004005" was all the error details I could find anywhere. Luckily I remembered the recent addition of the rewrite section in the web.config and tried to remove it and that fixed the problem.
Please add this into the list of possibly causes of the error in the document. :-)

[2019-11-14 03:10] felixmaomao commented on #4310
@msebolt   Hi， thanks for you response.
I mean ,  for example .  when i print "svm" then i have a code snippet "static void main " for this . But i have to tab twice to insert this code snippet.  This is not quite friendly. I just want to click Enter after i print "svm",and then the snippet can be inserted. In other IDE like Intellj Idea,  this is supported.
So i think this can also be supported i

[2019-11-14 03:19] caioproiete opened #4319 "Document what it means to require MSBuild 15.8 for running `RoslynCodeTaskFactory`"
The documentation and sample is very useful, but reading from statement "_The RoslynCodeTaskFactory is available in MSBuild 15.8 and above only_" it's not very clear what the minimum requirements are for consumers of MSBuild scripts that use `RoslynCodeTaskFactory`.

e.g.
* What is the minimum version of Visual Studio where a project using `RoslynCodeTaskFactory` would work?
  * i.e. Minimum versi

[2019-11-14 03:30] augustoproiete opened #4320 "Guidance on MSBuild scripts with both `RoslynCodeTaskFactory` and `CodeTaskFactory`"
It would be great to see documentation/guidance on how to add support for `RoslynCodeTaskFactory` to *existing* MSBuild scripts that already rely on `CodeTaskFactory`, and want to add `RoslynCodeTaskFactory` in order to take advantage of .NET Standard and cross-platform support, whilst still maintaining compatibility with older MSBuild < 15.8...

i.e. Having `RoslynCodeTaskFactory` and `CodeTaskFa

[2019-11-14 04:58] msebolt commented on #4310
@felixmaomao Thank you for clarifying this further.

I can assign this to the author to see if this option is currently available, though for feature requests you'll need to use **Suggest a feature** in [Visual Studio communty](https://developercommunity.visualstudio.com/spaces/8/index.html).

[2019-11-14 05:02] msebolt commented on #4316
@septst Thank you for the feedback.

Please include a link to the article and we can assign this to the author.

[2019-11-14 05:03] msebolt commented on #4317
@klm1  Thank you for the feedback, assigning this to the author for review.

[2019-11-14 05:33] StingyJack opened #4321 "Instead of trying to tattle tale/blame a plugin, you should be taking up any issues directly with the author."
As a user, these messages have no real value to me. Since there is no evidence given to me when VS reports "extension bad, VS good" I dont believe what I'm being told. This is easy to believe because VS has had a very poor stability record over the last 2-3 years. Even if some evidence was provided where a 3rd party plugin was part of a stack trace, that does not absolve VS of any blame. Most of i

[2019-11-14 05:38] heaths commented on #4317
This is a duplicate of #3713, which is caused by a regression in Docker for Windows. Unfortunately, you'll have to change the `ENTRYPOINT` to fit your use case, which will be custom and not easy to document. The hope was the regression will be fixed.

@msebolt, I'm also no longer on the setup team. Could you change the owner?

[2019-11-14 05:44] septst commented on #4316
This is what I had followed to create a new VSIX template.

https://docs.microsoft.com/en-us/visualstudio/extensibility/getting-started-with-the-vsix-project-template?view=vs-2019

Please share if there is any updated post on the same. Thanks much!

[2019-11-14 06:30] ojutan commented on #1531
I guess the documentation is wrong. I also downloaded the complete vs enterprise "layout" just for nothing and I am not amused..

[2019-11-14 07:14] msebolt commented on #4298
Closing the issue now, please add any concerns below.

[2019-11-14 07:14] #4298 closed

[2019-11-14 07:14] #4299 closed

[2019-11-14 09:44] PawcioCNCProfi opened #4322 "Abstract ReadOnlyCollection"
I have a setup like this:
[code]

I don't get why it shows the warning under `names`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8db6af07-b7d6-9395-223e-1a0f83fb2405
* Version Independent ID: 5ee87730-ff01-2571-494e-91d29c5fe211
* Content: [CA2227: Collection properties should be read only - Visual Studio](https://

[2019-11-14 13:16] klm1 commented on #4317
It seems to me the goal of these instructions was to give one example of how the VS built tools can be loaded into and run from Docker. If it's no longer possible to document a working example of that, would it be better to (perhaps temporarily) remove the page?

[2019-11-14 14:00] chm-tm commented on #1578
@stevenbrix wow this is helpful advice!

I maintain projects predating MSBuild 15 so they [couldn't initially rely upon `Directory.Build.props`](https://docs.microsoft.com/en-us/visualstudio/msbuild/customize-your-build#directorybuildprops-and-directorybuildtargets).

Consider including @stevenbrix in this page.

[2019-11-14 15:32] heaths commented on #4317
@TerryGLee I could make one more edit to at least give people an interactive-only shell that couldn't be used for direct automation. Does that work for you? Honestly, I doubt Docker for Windows will fix the underlying issue given the open bug.

[2019-11-14 16:12] wvc25 opened #4324 "Build errors encountered"
Hi @corob-msft, I'm reposting my last update yesterday on the "Install cross-platform mobile development with C++" page into this page as we now focus more on the errors I encountered while building this "OpenGL ES application on Android and iOS" example.

But first, I wish to point out that when launching VS2019 as a normal user, the drop down list that shows the emulated Android device profiles

[2019-11-14 16:53] wvc25 opened #4325 "Where is the OpenGLES 2 Application (Android, iOS, Windows Universal) template?"
I have installed the "Mobile development with C++" workload with the optional "C++ iOS development tools" component, as well as the "Universal Windows Platform development" workload, but I still don't see the "OpenGLES 2 Application (Android, iOS, Windows Universal)" template when I try to create a new project.  Is there any other optional component that I need to install to see this project templ

[2019-11-14 17:19] rainersigwald commented on #1881
The date in that schema identifier is a regrettable choice. It is expected to say 2003 for the rest of time. Changes to the allowed project elements are documented in the individual element documentation pages--MSBuild is not actually representable via XML Schema, so any formal XSD is necessarily incomplete.

[2019-11-14 20:21] vankampenp commented on #4034
As asp.net core applications do not have a context, this warning should not be on by default for asp.net core.

[2019-11-14 21:46] WilliamAntonRohm commented on #4319
Similar to https://github.com/MicrosoftDocs/visualstudio-docs/issues/4320

[2019-11-14 21:51] WilliamAntonRohm commented on #4322
@PawcioCNCProfi -- Thank you for your feedback.  Here are a few options where you might consider asking your question:​

- [https://social.msdn.microsoft.com/Forums/vstudio](https://social.msdn.microsoft.com/Forums/vstudio)
- [https://www.stackoverflow.com](https://www.stackoverflow.com)
- [https://www.reddit.com/r/VisualStudio/](https://www.reddit.com/r/VisualStudio)

As well, you might also cons

[2019-11-14 21:56] WilliamAntonRohm commented on #4321
@StingyJack It looks like you have product feedback rather than documentation feedback. If you are looking for functionality that isn’t currently provided by the product, please use our “Suggest a feature” option in the [Visual Studio Developer Community](https://developercommunity.visualstudio.com/). We’d be happy to have this on record, where others can view it and upvote it, too. For more infor

[2019-11-14 21:56] #4321 closed

[2019-11-14 23:04] corob-msft commented on #4325
@wvc25
The VS 2015 version of this template included the UWP projects. In 2017 and 2019, only iOS and Android projects are created by the template. I'll update the documentation accordingly.

[2019-11-14 23:30] #4325 closed

[2019-11-14 23:38] corob-msft commented on #4315
@wvc25

This has turned into a product support question. Unfortunately, we're not equipped for those on the docs team. Since I don't see a specific issue to fix in the documentation to address this, I'm going to close it.

Product support is handled on [Visual Studio Developer Community](https://developercommunity.visualstudio.com/spaces/8/index.html). You can report issues from within Visual Stud

[2019-11-14 23:38] #4315 closed

[2019-11-14 23:42] corob-msft commented on #4324
@wvc25

I mentioned in #4315 that we don't normally do product support here in the documentation issues forum. It looks to me like your Ant installation or configuration is causing a problem, but I know next to nothing about Ant and can't help. Your best bet is the community. I'll repeat the info on how to report issues and get answers from my earlier comment:

Product support is handled on [Visua

[2019-11-14 23:42] #4324 closed

[2019-11-14 23:45] corob-msft commented on #4325
Updated content should appear sometime tomorrow.

[2019-11-15 00:02] thomps23 commented on #4209
@yuqingyang888 Thanks for your question. It looks like you're having an issue with the product itself, rather than an issue with the documentation. Here are a few options where you might consider asking your question:​

[https://social.msdn.microsoft.com/Forums/vstudio](https://social.msdn.microsoft.com/Forums/vstudio)

[https://www.stackoverflow.com](https://www.stackoverflow.com)

[https://www.r

[2019-11-15 00:02] #4209 closed

[2019-11-15 01:01] TerryGLee commented on #4317
@heaths An edit would be much appreciated. :)

[2019-11-15 03:58] JuanMejiaVelez opened #4328 "What's the implications on package build when including the Analizers from Nuget?"
Would this only impacts the project source repo and are used only during build, or do the files or assemblies contained in the nuget package are part of the output of the project in this way increasing the size of the appx (msix) package file?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: efd1e8a4-67b0-57f9-7026-dab24

[2019-11-15 05:00] JuanMejiaVelez opened #4329 "Missing documentation for warning CA2008"
I would expect that every warning from FxCopAnalyzer would lead to a clean document explaining the violation and how to fix it. CA2008 does not have a document and clicking on Visual Studio no this warning opens the browser on bing search of "CA2008  C# Do not create tasks without passing a TaskScheduler" which results are not very helpful and they might change over time opening the possibility of

[2019-11-15 05:03] JuanMejiaVelez commented on #1467
Any update on this? I just added a comment to https://docs.microsoft.com/en-us/visualstudio/code-quality/code-analysis-for-managed-code-warnings?view=vs-2019#feedback before finding this, and seems to be still in the backlog for a year now.

[2019-11-15 14:38] BobbyCGD commented on #4285
@WilliamAntonRohm -- Thanks for looking into this and suggesting additional sources.
@madskristensen -- I will keep an eye out on this issue, looking forward to reading your content :)

[2019-11-15 15:05] wvc25 commented on #4324
Hi @corob-msft, thanks for the response.  With regards to my Ant installation, please note that all of that came from the VS2019 installation.  I haven't used Ant before so I didn't do any manual installation.  I guess I'm just assuming that if I follow the instructions on this doc, then I'll get the same result as what was documented.  But then I ran into this build process error unexpectedly.  T

[2019-11-15 17:45] msebolt commented on #4328
@JuanMejiaVelez Thank you for the question.

Unless this is an issue specifically with the documentation, the product team would be better apt to respond.

Please move this to the [Visual Studio community](https://developercommunity.visualstudio.com/spaces/8/index.html) to start a dialogue.

[2019-11-15 17:48] msebolt commented on #4329
@JuanMejiaVelez Thank you for the feedback.

This issue is currently active, please refer to https://github.com/MicrosoftDocs/visualstudio-docs/issues/1467.

[2019-11-15 17:48] #4329 closed

[2019-11-15 21:22] binki opened #4333 "Explain how to make msbuild respect errors for IDExxxx diagnostics"
I tried putting in my `.editorconfig`:

[code]

In the IDE in the Error List window, it appears as an error. However, when I run `msbuild /r/ m`, the build succeeds (even if I remove `bin` and `obj` first). How do I instruct `msbuild` to properly fail in this situation?

I think this docs page should explain why the behavior I see is expected behavior and also describe how to get `msbuild` to fail

[2019-11-15 21:53] corob-msft commented on #4324
@wvc25
Your expectation about the docs is completely reasonable. We try to write documentation that reflects the way the product is expected to work. And, this particular article does work as expected when I've tried it recently. That doesn't mean it will work correctly for everyone, though. Sometimes the product has a bug, and most likely, it only breaks in some unanticipated situations. That's w

[2019-11-16 09:35] TheGridLock opened #4335 "Please specify which file is added to the above lines? where is it located?"
Example: .vbproj File?
If the project is currently active, can it be edited? I usually select the file then right click and select exclude project

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30273668-658c-d411-5b6d-7f58256bb0f3
* Version Independent ID: c8812ae3-0fb1-a30f-02dd-ebc2d28b9dc8
* Content: [How to: Exclud

[2019-11-17 15:40] lurch commented on #2850
This appears to be an issue from a spam github account :confused:

[2019-11-17 16:18] JoeCodeswell opened #4337 "Edit Menu has no Intellisense item"
I am using
Version: 1.40.1 (user setup)
Commit: 8795a9889db74563ddd43eb0a897a2384129a619
Date: 2019-11-13T16:49:35.976Z
Electron: 6.1.2
Chrome: 76.0.3809.146
Node.js: 12.4.0
V8: 7.6.303.31-electron.0
OS: Windows_NT x64 10.0.18362

This page item 2 titled "To use surround-with code snippets through the Edit menu", says "... From the Edit menu, select IntelliSense and then select the Surround With c

[2019-11-17 23:07] mcleary commented on #3657
Are the Graphic Tools supposed to be available in the "Apps & Features" menu? Like @cloewen8 I cannot find it. @Mikejo5000, the procedure in the link you provided also seems outdated. With that said, how to install the Windows Graphic Tools?

[2019-11-17 23:51] cloewen8 commented on #3657
I managed to find it in Optional features (still extremely confusing having 2 places in Windows for these). But at least now I know where to find them.
![image](https://user-images.githubusercontent.com/1569808/69016296-700f9f00-095a-11ea-88e8-29a684bb11d1.png)

[2019-11-18 00:28] mcleary commented on #3657
I see, so apparently I had is installed as well. Interestingly mine is half
the size of yours (68.8 MB), but I still can't use the Visual Studio
Graphics Debugger with a simple DirectX12 Sample App.

On Sun, 17 Nov 2019 at 23:52, Colton Loewen <notifications@github.com>
wrote:

--
Thales Luis Rodrigues Sabino

Software Engineer at Codeplay Software Ltd. <https://codeplay.com/>
LinkedIn <https://br

[2019-11-18 12:24] matthid opened #4340 "Mention weird `ExitCode` behavior of the `Exec` task when Output contains `Error:`"
We internally encountered basically the same issue as https://github.com/nunit/nunit-console/issues/242
It seems there is some undocumented magic going on in the msbuild `Exec` Task (https://docs.microsoft.com/en-us/visualstudio/msbuild/exec-task?view=vs-2019)
This magic should be documented and the corresponding sections should be extended.
In particular:
- This should be mentioned in the `ExitCo

[2019-11-18 13:42] himalayagarg opened #4341 "Using simple for loop instead of foreach"
Why in [this](https://docs.microsoft.com/en-us/visualstudio/vsto/how-to-programmatically-save-attachments-from-outlook-e-mail-items?view=vs-2019) article you are using simple **for** loop instead of **foreach**?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e2d3bb09-dfe3-f7f1-dc25-6e4a5ff799b4
* Version Independent ID

[2019-11-18 15:15] jameslear opened #4342 "Describe solution for classes derived from disposable class"
Dispose is one of the more arcane methods for newbies, especially when it is overloaded.  System.Windows.Forms.Form is a common example.  Any chance we could see a sample implementation using a disposable base class with an overloaded Dispose?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c11c2ae2-fde5-91d4-9fd9-b949c

[2019-11-18 15:44] carlos-quintero opened #4343 "Incorrect XML element <StartPrograms>"
The &lt;StartPrograms&gt;...&lt;/StartPrograms&gt; is incorrect. It should be &lt;StartProgram&gt;...&lt;/StartProgram&gt;

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aa63b4dc-21b4-307f-61d3-a13ce9d0475a
* Version Independent ID: de62d1bc-6f08-edf9-9624-fee65b90185e
* Content: [How to Roundtrip Extensions - Visual S

[2019-11-18 15:48] carlos-quintero opened #4344 "Don't forget to set the extension project as StartUp Project"
After the "Save the csproj file and close it." phrase it could be added not to forget to set again that project as Startup Project (using the Set as Startup Project context menu) if you are using more than one project in the solution, because unloading / editing and reloading it loses the startup project setting that that project had before unloading it.

---
#### Document Details

⚠ *Do not edit

[2019-11-18 17:27] msebolt commented on #4316
Assigning this to the author for review.

For issues involving unique user scenarios, please refer to [Visual Studio support](https://visualstudio.microsoft.com/support/) or move the issue to the [Visual Studio community](https://developercommunity.visualstudio.com/spaces/8/index.html).

[2019-11-18 18:45] tamlin-mike opened #4346 "Tiny patch (kbd slip)"
docs/debugger/graphics/16bpp-render-target-format-variant.md

"ofent have" -> "often have"

[2019-11-18 19:04] Legends commented on #3405
If MS had a github repo for VS issues, I guess it would explode :D ;-)

[2019-11-18 20:29] TerryGLee commented on #4346
@tamlin-mike Thanks for letting us know! We'll get this fixed today.

[2019-11-18 20:44] #4346 closed

[2019-11-19 00:46] futuralogic commented on #4233
This would be helpful, although due to the complexity of various project types I would imagine default msbuild imports would cause a list to be convoluted.

Perhaps documenting the best/official/quickest way to interrogate an sln/csproj for a complete list of build targets and their order would be super helpful.

I stumbled upon this stackoverflow answer: https://stackoverflow.com/a/2781693 which

[2019-11-19 01:08] TerryGLee commented on #4337
@JoeCodeswell Thanks for your feedback; we'll investigate and respond back soon.

[2019-11-19 04:19] BretJohnson opened #4348 "Update screenshot to not say Xamarin Studio"
We should update the screenshot here to not say Xamarin Studio Addin.
The latest version of the addin maker will actually show 3 choices for templates - IDE Extension, IDE Extension Tests, and IDE Library.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc52ec0c-7053-51d0-c576-2d8ce60cf198
* Version Independent ID: 8bb8

[2019-11-19 06:04] msebolt commented on #4238
@Grand-Poobah Sorry for the delay.

This is a currently pending release and is being tracked in the Visual Studio community, see [here](https://developercommunity.visualstudio.com/content/problem/794620/visual-stufdio-feedback-sign-in-fails-for-failed-t.html).

[2019-11-19 06:59] msebolt commented on #4312
Closing the issue now, please comment below if there are any further issues.

[2019-11-19 06:59] #4312 closed

[2019-11-19 07:00] msebolt commented on #4314
Closing the issue now, please comment below if there are any further issues.

[2019-11-19 07:00] #4314 closed

[2019-11-19 08:25] villelaitila commented on #856
External tools such as Softagram and NDepend will help you do the job, even for .NET Core projects.

[2019-11-19 10:16] tomwimmenhove opened #4349 "Can't use local filesystem as installation path when publishing"
After the publish location has been specified, Visual Studio will ask "How will the user install the application?", which gives an option to browse the local filesystem. This, however, is impossible, since every path will result in the following error:
![PublishBug](https://user-images.githubusercontent.com/11983060/69137859-d9f48980-0abd-11ea-94e9-29bc26945ccc.PNG)

It seems like it's impossible

[2019-11-19 10:22] tomwimmenhove commented on #4349
I should've looked a little longer at this. Turns out the wizard just fails to convert the path to a URI. Using file:////Deployement/SomeFolder/ does work. This is still a bug, but at least you can work around it.

Next question: What do you do when the folder is not on the main (C) drive?

[2019-11-19 10:27] OleksiiYatsenko opened #4350 "Exception during opening large file with old legacy code"
Hello, Here is exception which I always catch when I've tried open large old project. So, I think it's code analyzer because after it references to Class and method won't shown. If you are interested in, please investigate and fix or redirect it to direct team.

StreamJsonRpc.RemoteInvocationException : Exception of type 'System.OutOfMemoryException' was thrown.
   at async StreamJsonRpc.JsonRpc.I

[2019-11-19 10:46] user2150 opened #4351 "How to set a function breakpoint on an interface method explicit implementation?"
interface Intf
{
	void Meth();
}

class Cls : Intf
{
	void Intf.Meth() { }
}

How to set a function breakpoint on "void Intf.Meth"? Is this possible at all?
Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f9da322b-ed73-b3e4-6fa0-e0ebd4a7475c
* Version Independent ID: dc0dbf50-e2e8-8dfc-0f0f-f0a86d31ea73
* Conten

[2019-11-19 16:58] msebolt commented on #4348
@BretJohnson Thank you for the feedback, assigning this to the author for review.

[2019-11-19 17:25] msebolt commented on #4349
@tomwimmenhove Thank you for the feedback, we're sorry you're experiencing issues.

Since this is more product-related, please start a ticket using **Report a problem** in the [Visual Studio community](https://developercommunity.visualstudio.com/spaces/8/index.html) and link back to this issue.

Also, please include which version Visual Studio you're using and the project type.  For instance, usin

[2019-11-19 17:44] msebolt commented on #4350
@OleksiiYatsenko Thank you for the feedback, we're sorry you're experiencing issues.

Since this is forum is for the documentation, our support options are limited, however we do recommend using the latest version of Visual Studio.

The latest version has recently added an extra 1.5 GB potential memory allocation to avoid the memory issues such as the one you describe.

Please refer to [this ticke

[2019-11-19 18:05] msebolt commented on #4351
@user2150  Thank you for the question.

I was able to set a break point using the sample you provided.

![Capture](https://user-images.githubusercontent.com/6675884/69172664-1e2e5c80-0ab3-11ea-9eaf-d6886aa984e1.PNG)

...so this should be possible.

Please note our options here are limited since this is a documentation forum.  For better support, consider moving the issue to either:
- [Visual Studi

[2019-11-19 21:12] user2150 commented on #4351
msebolt, Thank you for the reply.
But my question was about how to set a FUNCTION breakpoint. What text should I enter in the "Function Name" textbox? And it would be nice if this page mentioned this.
Thanks

[2019-11-19 22:13] mansoureh opened #4354 "ActiveWorkbook.Queries"
I can see there is the property of Queries for Workbook object but apparently it is hidden. Is it possible to activate this property?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d8bf2638-9046-68cf-8e7a-714c35993cd1
* Version Independent ID: a4a1f2de-ee3b-4e31-9497-0c9f32806d78
* Content: [Work with workbooks - Visua

[2019-11-20 03:07] mossila opened #4357 "IntelliSense completion for unimported types is not working on Visual Studio 2017"
I have try following on Visual Studio 2017 and it's not working properly.
[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cdd2aa72-f769-b1ae-4b9c-55c1d87b74d6
* Version Independent ID: c146f58e-37d4-b7b7-e3c3-ed5990eaaba7
* Content: [IntelliSense completion for unimported types - Visual Studio](https://docs.micros

[2019-11-20 04:51] msebolt commented on #4354
@mansoureh Thank you for the question.

Please try creating a query using [Excel's Get and Tranform](https://support.office.com/article/getting-started-with-get-transform-in-excel-a8310388-2a12-438c-9d29-c6d29cb8df6a) and see if this enables the property.

For further information, refer to [Excel.Workbook](https://docs.microsoft.com/office/vba/api/excel.workbook).

[2019-11-20 05:01] msebolt commented on #4351
@user2150  Thank you for the update, assigning this to the author for review.

[2019-11-20 07:05] samtrion opened #4359 "Class Library support?"
Is there any information about when this feature will be rolled out to other project types? Like netstandard Class Libraries

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2d25dd44-f173-dd83-3afc-d6608613d450
* Version Independent ID: e121cedc-5cbe-a399-e2a8-5d192aaea770
* Content: [File nesting rules for Solution Expl

[2019-11-20 12:19] arunkumar899 opened #4360 "file path too long exception visual stusio 2019 and git"
When trying to use git with visual studio 2109 I am getting the exception stating "file path too long exception ". I tried changing the value in the reg to 1 (Computer\HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Control\FileSystem) and did restart the system but it didn't help and I also modified the git config for filelongpaths to true but even it didn't fix the issue. How do I resolve this issue

[2019-11-20 14:54] ThePiranha commented on #4360
@arunkumar899  please try clone the repo directly into C:\ drive. I solved it this way.

[2019-11-20 14:57] shobhitnpm opened #4361 "HTTP Error 500.0 - Internal Server Error An unknown FastCGI error occurred"
I'm having the issue while deploying Flask application by IIS mapping, please suggest appropriate solution.

[code]
![image](https://user-images.githubusercontent.com/31316434/69249499-faaf0300-0bd3-11ea-9aaf-0967a4635710.png)

[2019-11-20 16:02] W0GER opened #4362 "/Logger:TfsPublisher looks to be deprecated"
Based on this GitHub posting, it appears the /Logger:TfsPublisher causes VS2017 to fall back to older functionality (eg ResultsDirectory is not supported with /Logger:TfsPublisher) and VS2019 won't support /Logger:TfsPublisher

https://github.com/microsoft/vstest/issues/1739#issuecomment-414669360

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2019-11-20 18:04] WilliamAntonRohm commented on #4360
@arunkumar899 -- thanks for your question. It looks like you're having an issue with the product itself, rather than an issue with the documentation. Here are a few options where you might consider asking your question:​

[https://social.msdn.microsoft.com/Forums/vstudio](https://social.msdn.microsoft.com/Forums/vstudio)

[https://www.stackoverflow.com](https://www.stackoverflow.com)

[https://www

[2019-11-20 18:04] #4360 closed

[2019-11-20 18:06] WilliamAntonRohm commented on #4359
@samtrion -- Martin, it looks like you have product feedback rather than documentation feedback. If you are looking for functionality that isn’t currently provided by the product, please use our “Suggest a feature” option in the [Visual Studio Developer Community](https://developercommunity.visualstudio.com/). We’d be happy to have this on record, where others can view it and upvote it, too. For m

[2019-11-20 18:06] #4359 closed

[2019-11-20 18:09] WilliamAntonRohm commented on #4357
@mossila -- Sutean, it looks like you have product feedback rather than documentation feedback. If you are looking for functionality that isn’t currently provided by the product, please use our “Suggest a feature” option in the [Visual Studio Developer Community](https://developercommunity.visualstudio.com/). We’d be happy to have this on record, where others can view it and upvote it, too. For mo

[2019-11-20 18:09] #4357 closed

[2019-11-20 18:12] WilliamAntonRohm commented on #4361
@shobhitnpm -- Shobhit, thanks for your question. It looks like you're having an issue with the product itself, rather than an issue with the documentation. Here are a few options where you might consider asking your question:​

- [https://social.msdn.microsoft.com/Forums/vstudio](https://social.msdn.microsoft.com/Forums/vstudio)
- [https://www.stackoverflow.com](https://www.stackoverflow.com)
- [

[2019-11-20 18:12] #4361 closed

[2019-11-20 18:53] Chiramisu opened #4364 "A Great Boon for OSS Development"
Imagine what a great help the Code Maps feature would have in contributing to Open Source projects by enabling the developer to understand the code more quickly. Please consider making this available in the Community edition.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e6a5f0fc-0af8-6023-5b49-f5091a66dca5
* Version

[2019-11-20 18:58] Chiramisu commented on #4364
Sorry, I realize now that I probably put this comment in the wrong place. This is not related to documentation. I'll make a feature request instead.

[2019-11-20 18:58] #4364 closed

[2019-11-20 19:32] BretJohnson opened #4365 "Case wrong for Command and CommandItem"
The XML elements `Command` and `CommandItem`, when they appear in the addin.xml file, should be in Pascal case, not all lower case.
Those element names are case sensitive and VSMac will show an error when loading the extension if the names are all lower case as in the current doc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2019-11-20 21:29] DennisBaekgaard opened #4366 "Use two accounts on a connected windows machine"
I can connect two accounts (personal and work account) two visual studio. I can also connect to my two different azure tenants/subscriptions (completely disconnected from each other).

If I sign out of all accounts, Visual Studio will connect with the work account, which is associated with the laptop /windows login.

So to sum up:

Cloud A, with Account A
and
Cloud B with Account B.

If I try to a

[2019-11-20 21:29] Deilan opened #4367 "How to attach to ASP.NET Core 3.0 process?"
There's a [Attach to the ASP.NET application from the Visual Studio computer](https://docs.microsoft.com/en-us/visualstudio/debugger/remote-debugging-aspnet-on-a-remote-iis-computer?view=vs-2019#BKMK_attach), in which it is proposed to attach to `dotnet.exe` process. `dotnet.exe` process is missing in a list of remote processes while trying to debug ASP.NET Core 3.0 after completion all the previo

[2019-11-21 03:55] BretJohnson commented on #4365
Also: `defaulthandler` should be `defaultHandler`

I just spent a while tracking down an issue caused by that.

[2019-11-21 04:38] #4238 closed

[2019-11-21 04:39] #4328 closed

[2019-11-21 04:41] #4349 closed

[2019-11-21 04:41] #4350 closed

[2019-11-21 08:37] MarcHWR commented on #1979
Please also include information on how the automatic determination of the code type works and how or if one can influence it in cases where the code type is detected wrong. That would be a great help.

[2019-11-21 13:39] adigostin opened #4370 "Page is outdated, stuck at the first steps with both VS2017 and VS2019"
"Add a Visual Studio Package project item template (on the Solution Explorer, right-click the project node and select Add &gt; New Item, then go to Extensibility &gt; Visual Studio Package). Name the file SimpleProjectPackage"

There is no such thing as a "project item template" there!

Plus, under Extensibility there's no "Visual Studio Package". I only have "VSPackage"; I assume you meant that.

[2019-11-21 15:05] hkusulja opened #4371 "Activate M365 on existing tenant"
Please document, if it is possible to activate mentioned M365 subscription on existing tenant, not having to open a new .onmicrosoft tenant.
Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 89e73c3b-9ec3-eda3-442b-65700567ea86
* Version Independent ID: f79046c8-a4d0-1186-52de-f716f64601a5
* Content: [The Micros

[2019-11-21 17:23] msebolt commented on #4365
@BretJohnson Thank you for the feedback, assigning this to the author for review.

[2019-11-21 17:32] msebolt commented on #4366
@DennisBaekgaard Thank you for the question.

Please try using either an [Alternate identity](https://docs.microsoft.com/en-us/visualstudio/subscriptions/vs-alternate-identity) or re-configuring the Credential Manager as per [this post](https://stackoverflow.com/questions/12407668/how-can-i-change-the-default-credentials-used-to-connect-to-visual-studio-online) to see if this solves the problem.

[2019-11-21 17:37] msebolt commented on #4367
@Deilan  Thank you for the feedback, assigning this to the author for review.

[2019-11-21 17:40] Mikejo5000 commented on #4364
@Chiramisu Thanks for following up!

[2019-11-21 17:55] msebolt commented on #4370
@adigostin Thank you for the question, we apologize for the confusion.

Please note that the **Visual Studio Package** template has been replaced by the **Visual Studio AsyncPackage** template (see [this post](https://developercommunity.visualstudio.com/content/problem/293478/visual-studio-package-template-not-available-on-sd.html)).

Assigning this to the author for review.

[2019-11-21 19:22] IngmarBitter opened #4373 "Edit and Continue not applied"
Since recently (one or two VS updates? ago) Visual Studio 2019, now at 16.3.9, ceased to write protect my source files when I start a debugging run of my C# app. When I find an issue and want to fix it with edit and continue, VS is happily allowing me to change the code, even when the app is still running, but none of the changes are applied. And even after breaking I lost connection to the app an

[2019-11-21 21:33] WilliamAntonRohm commented on #4343
@carlos-quintero -- Carlos, thank you for your feedback.

@madskristensen -- Mads, please review my correction in the above-mentioned PR 5800.

[2019-11-21 21:59] WilliamAntonRohm commented on #4341
@himalayagarg -- Himalaya, please use our “Suggest a feature” option in the [Visual Studio Developer Community](https://developercommunity.visualstudio.com/). We’d be happy to have this on record, where others can view it and upvote it, too. For more information about this works in the dev community, see our [Suggest a feature](https://docs.microsoft.com/visualstudio/ide/suggest-a-feature) page.​

[2019-11-21 21:59] #4341 closed

[2019-11-21 21:59] Mikejo5000 commented on #4367
@Deilan Thanks for the info. It's possible there's been a name change for the process in .NET Core 3. Did you check "Show processes from all users"? I'll dig into this some more.

[2019-11-21 22:15] Mikejo5000 commented on #4351
@user2150 There are a few examples given, though it doesn't look like an exhaustive list. For example, Namespace1.ClassX.MethodA(). Did you try Intf.Meth() or Meth()? What was the result?

[2019-11-21 22:48] #4343 closed

[2019-11-21 22:48] CeciAc opened #4374 "Error message PyLint"
Hi team,
I moved this from here: https://github.com/MicrosoftDocs/visualstudio-docs.de-de/issues/72

The comment below was machine-translated.

@ERueffel commented 8 hours ago — with docs.microsoft.com
Hello everybody. Have everything gem. Instructions and get the following error message from PyLint.
The reference assemblies for .NETFramework, Version = v4.0 framework were not found ...
This is li

[2019-11-21 22:48] madskristensen commented on #4343
@WilliamAntonRohm done

[2019-11-21 23:05] msebolt commented on #4371
@hkusulja Thank you for the feedback, including the author for review.

@evanwindom

[2019-11-22 00:20] msebolt commented on #4373
@IngmarBitter Thank you for the feedback.

Please refer to the [Edit and continue](https://docs.microsoft.com/visualstudio/debugger/how-to-enable-and-disable-edit-and-continue?view=vs-2019) settings and see if this changes the behavior.

Any discrepancies can be reported to the [Visual Studio community](https://developercommunity.visualstudio.com/spaces/8/index.html) using **Report a problem** whe

[2019-11-22 00:47] IngmarBitter commented on #4373
Thanks, but I already looked at those settings in detail. Nothing there is
about write access locking.

On Thu, Nov 21, 2019 at 7:20 PM Matthew Sebolt <notifications@github.com>
wrote:

[2019-11-22 02:32] StevenTCramer opened #4376 "Severity levels and hint?"
Severity levels does not mention "hint"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5299f22f-4b0f-9e81-883e-d34b2b520bf2
* Version Independent ID: 6a9db168-c592-29a0-59b7-1ff2f517e558
* Content: [.NET language conventions for EditorConfig - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/ide/editorconfi

[2019-11-22 02:50] StevenTCramer opened #4377 "Expression level preferences, missing defaults"
The code sample is missing some of the values and their defaults.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5299f22f-4b0f-9e81-883e-d34b2b520bf2
* Version Independent ID: 6a9db168-c592-29a0-59b7-1ff2f517e558
* Content: [.NET language conventions for EditorConfig - Visual Studio](https://docs.microsoft.com/en-us/vi

[2019-11-22 03:36] msebolt commented on #4373
@IngmarBitter Thank you for the update, I apologize for not realizing the article you referenced was the same one I mentioned.

I was able to find an [open issue](https://developercommunity.visualstudio.com/content/problem/717070/edit-and-continue-not-working-2.html) similar this one in the Visual Studio community.

Please see if this addresses the issue and if so you could vote or comment on its

[2019-11-22 05:34] IngmarBitter commented on #4373
Sorry, the issue is different. There the problem is "I cannot edit it when
the code is paused due to a breakpoint". I can do that - as long as i do
not touch my keyboard while the app is running. So in my case it is not
edit and continue directly that is broken, but the locking and unlocking of
the IDE for editing is broken.

On Thu, Nov 21, 2019 at 10:36 PM Matthew Sebolt <notifications@github.co

[2019-11-22 09:37] adigostin opened #4378 "What's the '@' character used throughout the examples?"
I started reading up on MSBuild and I'm beginning to see examples that use the '@' character, like in the one below. What does this character do? How is is different from '$'?

&lt;CSC Sources = "@(CSFile)"
    OutputAssembly = "$(MSBuildProjectName).exe"/&gt;
&lt;/CSC&gt;

Later edit: I eventually found all special characters explained here: https://docs.microsoft.com/en-us/visualstudio/msbuild/m

[2019-11-22 12:57] stewa11 opened #4380 "this page isnt about remote debugging on aZURE"
this page isnt about remote debugging on aZURE

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 878a2a3e-60ac-aa4e-8166-fdd230d3d87d
* Version Independent ID: e7e9d77b-57c0-cd2b-fb00-a166cbcb7cf4
* Content: [Remote Debug ASP.NET Core on IIS and Azure - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/debugger

[2019-11-22 13:22] hm442 commented on #1423
Hi,

IMHO the information of the registry entries is incomplete because there are 3 and not just 2 cases and wrong because the Configuration Path is mixed up. I guess it should be like this:

1. OS version 32 bit + Office version 32 bit: Root\Software\Microsoft\Office\application name\Addins\add-in ID
2. OS version 64 bit + Office version 32 bit: Root\Software\Wow6432Node\Microsoft\Office\applicat

[2019-11-22 13:59] Evangelink opened #4381 "Update CA1712: Add configuration for the number of values to trigger the rule"
I have updated the rule (see https://github.com/dotnet/roslyn-analyzers/pull/3060) to add some configuration. The documentation page shall be updated accordingly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dd77481e-7725-7fd9-5010-5194a4fbaf4d
* Version Independent ID: aedf720e-61f0-714a-5815-0d76713738b9
* Content:

[2019-11-22 14:37] Deilan commented on #4367
@Mikejo5000 Yes, I did a check "Show processes from all users" and didn't find `dotnet.exe` process or something like that. 🤷‍♂

[2019-11-22 16:21] user2150 commented on #4351
Of course I've tried numerous ways including those you provided, nothing works. There are two outcomes:
1. (for "Meth", "Meth()", "Intf.Meth", "Intf.Meth()")
a) Error message box "The following breakpoint cannot be set.: ... The specified function does not contain IL code or is not a managed function";
b) The breakpoint appears in the breakpoint list but is invalid.
2. (for "Cls.Meth", "Cls.Meth()

[2019-11-22 17:19] maxcramer opened #4382 "Wrong Downloads coming from website"
Every time I click to download VS code 2019 for Mac it downloads a program file name vs_enterprise__251865628.1574441020.exe then runs a program called Dr Unarchiver. What is this program and why doesn't VS code 2019 download and run? Please see screen shot of program:
<img width="822" alt="Screenshot 2019-11-22 17 18 19" src="https://user-images.githubusercontent.com/39188094/69446371-2654f900-0d

[2019-11-22 18:06] fredenocs commented on #3980
I understand this is closed, but I had the similar issue.  I updated the 2.2 to 2.1, issue was resolved.

My question to the OP is; do you use a custom.json?

[2019-11-22 18:11] BhaaLseN commented on #3980
Nope, I've been using `vs_enterprise.exe --layout "path/to/layout" --add payload.names` to create it from scratch, then `vs_enterprise.exe --layout "path/to/layout"` for all subsequent runs (at least until the point where packages are removed, and the layout update just throws the errors mentioned above).
I wanted to use an expected settings.json once but this isn't supported by the layout operati

[2019-11-22 18:13] fredenocs commented on #3980
I felt comfortable changing it from 2.2 to 2.1 when I didn't locate a "2.2" pkg here:
https://docs.microsoft.com/en-us/visualstudio/install/workload-component-id-vs-professional?vs-2019&view=vs-2019

This was in process and just now completed successfully.  Funny how I did a verify before updating and came back "clean".

[2019-11-22 18:23] msebolt commented on #4373
No problem, though I'm more referring to the statement:

[code]

I would add your comments here as this is likely a result of the product team's "stabilization".

[2019-11-22 19:12] WilliamAntonRohm commented on #4382
@maxcramer Thanks for your feedback; we appreciate it. To make sure we have all the information needed to triage your issue, please let us know which topic you’re referencing, or provide more context around the general task.

[2019-11-22 19:17] BhaaLseN commented on #3980
Same, except that I already had 2.1 in that list; and having it twice felt weird.
Verify also worked just fine.

[2019-11-22 19:29] Mikejo5000 commented on #4351
OK, I'm asking about this. I tried this in VS 2019 16.4 Preview 4, and I don't hit the function breakpoint either. @andysterland @leslierichardson95

[2019-11-22 19:38] fredenocs commented on #3980
One question if I may.  My version I has of vs_professional.exe was 16.2, never updated?  I downloaded it again and it is 16.3.  I wonder if I can replace it?

Question is, did your vs_enterprise.exe update?

[2019-11-22 19:43] BhaaLseN commented on #3980
I tried both the one that was in the layout folder, the one that was named `vs_setup.exe` instead _and_ a newly downloaded one. Neither worked, which is why I finally opened this issue (and afterwards another one on the developer community; which was shot down as well with the resolution "just make a new layout").
Since my coworkers were eager to update I just caved and made a new layout in the en

[2019-11-22 19:55] Mikejo5000 commented on #4367
I'll ask about this. I would think it would show up as a dotnet.exe process. Given that the app is deployed and running, something in the process list should correspond to your app. Other app types often show up as myappname.exe, you could look for that in case something has been changed in the implementation for .NET Core 3.

[2019-11-22 21:06] ghogen commented on #4114
We're publishing a detailed article on what's happening during the Container Tools build and debug processes.   The changes should go live around 5 pm PST today (11/22/19).

https://docs.microsoft.com/en-us/visualstudio/containers/container-build?view=vs-2019
@the-dag

[2019-11-22 21:06] #4114 closed

[2019-11-22 21:07] ghogen commented on #4382
@maxcramer Where is the link that you're clicking?  I suspect it's not the right link on the site.

[2019-11-22 21:28] Mikejo5000 commented on #4367
@Deilan From the product team: The process name depends on how the app is running/launched. Asp.net core can run in IIS, from a dotnet foo.dll, IIS Express, or as an exe of it’s own. It all depends on how the project was built. How is the app being hosted?

[2019-11-22 22:22] OMGerCoder opened #4383 "Can't interact with Visual Studio on Catalina"
When I try to launch a script in Unity, It does not open!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0be31e5a-ccb8-93c5-43a0-ef8327f4ed4e
* Version Independent ID: 2ed7a14e-12ea-ea72-6678-0db050023a62
* Content: [Setup Visual Studio for Mac Tools for Unity - Visual Studio 2019 for Mac](https://docs.microsoft.com/en

[2019-11-22 23:36] lanatmwan commented on #4027
Microsoft, please consider devoting some resources to adding intellitest support to the linked test generator. It is an open source project on github: https://github.com/yowko/xUnit.net.TestGenerator

[2019-11-23 00:02] Mikejo5000 commented on #4335
I think expected procedure is to right-click project, choose Unload Project, then right-click, Edit projectname, if you're editing in VS. So, it appears the project should be unloaded.
For the original question, can you clarify which lines (doc section) you are talking about?

[2019-11-23 00:07] Mikejo5000 commented on #4311
Fixes are getting published in #4368

[2019-11-23 00:08] Mikejo5000 commented on #4305
@silvanknecht Hi, thanks for the feedback. Did you find a resolution to the issue? If so, I can easily add it to this doc.

[2019-11-23 00:15] Mikejo5000 commented on #4305
I saw in one case that running VS as an Administrator resolved it.

[2019-11-23 00:19] Mikejo5000 commented on #4293
@ynguyenluat Did you set WEBSITE_NODE_DEFAULT_VERSION = 8.9.0 under "Application settings"?

[2019-11-23 00:27] Mikejo5000 commented on #4293
Added details based on:
https://blogs.msdn.microsoft.com/azureossds/2018/09/25/how-to-set-node-version-for-windows-node-js-webapp-from-azure-portal/

[2019-11-23 00:41] IngmarBitter commented on #4373
ok.
Done.

On Fri, Nov 22, 2019 at 1:23 PM Matthew Sebolt <notifications@github.com>
wrote:

[2019-11-23 00:43] Mikejo5000 commented on #4255
We are removing these docs from VS 2019. There are some limited features related to Performance Explorer / Wizard that are still supported, that is still being identified.

[2019-11-23 03:44] mhoelzel142 commented on #4237
Here's an issue: bring back the start page. Lots of people want it back, lots of people absolutely hate the start window, yet Microsoft seems unfazed at this. In fact, the latest visual studio 2019 release broke the only functioning start page extension, which seems to indicate that not only does Microsoft not want to give developers what we want, Microsoft is actively engaging in anti-consumer pr

[2019-11-23 10:15] TheGridLock commented on #4335
Hi,Mikejo5000 The article didn't mention how to use these xml code snippets. where is it located? Where do I need to go to fix it? , You know what I mean. Beginners will not know where to start.

[2019-11-23 16:02] NextTurn commented on #3508
MicrosoftDocs/feedback#1987

[2019-11-24 11:25] JohnStraumann66 opened #4386 "Error on step ConfigureServices"
On this step: "Once installed, open Startup.cs and add the following to the end of the ConfigureServices method:"

 services.AddSwaggerGen(c =&gt;
{
    c.SwaggerDoc("v1", new Info { Title = "My API", Version = "v1" });
});

I get an error:

Severity	Code	Description	Project	File	Line	Suppression State
Error	CS0246	The type or namespace name 'Info' could not be found (are you missing a using direc

[2019-11-24 11:53] maxcramer commented on #4382
Here, is this wrong?

<img width="1343" alt="Screenshot 2019-11-24 11 52 38" src="https://user-images.githubusercontent.com/39188094/69494233-f5da9f80-0eb0-11ea-982c-fdd324b43dcc.png">

[2019-11-24 11:54] maxcramer commented on #4382
@WilliamAntonRohm  what do you mean? I am trying to get vs 2019.....

[2019-11-24 14:22] StingyJack opened #4387 "To find the path of this (and other) assemblies (dll and exe) in VS 2017 and later, use vswhere.exe"
This is how to find `TextTransform.exe` using powershell and vswhere.exe

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e8177d9b-f8d7-419e-d81d-ce25a44b084f
* Version Independent ID: 43a69770-1eab-06e1-868c-3d8f1c32716d
* Content: [Generating Files with the TextTransform Utility - Visual Studio](https://docs.mi

[2019-11-24 17:30] StingyJack opened #4388 "This needs an example of how to use this tool with TT files in a sql project"
it doesnt seem to load something correctly. Perhaps an example of the correct parameters would be helpful
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e8177d9b-f8d7-419e-d81d-ce25a44b084f
* Version Independent ID: 43a69770-1eab-06e1-868c-3d8f1c32716d
* Content: [Generating Files with the TextTransform Utility

[2019-11-24 18:11] vadim82 opened #4389 "Needs documentation on how to do this without Visual Studio"
It would be nice if this article had instructions on how to do this via the Azure CLI or Azure powershell SDK. Not everyone uses Visual Studio for their development.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eaada6ef-a5cc-f152-860c-48238f9019d3
* Version Independent ID: 5f907b9e-a5b3-6e89-b8b6-3fa034ceecd0
* Conte

[2019-11-24 20:30] silvanknecht commented on #4305
No i wasn't able to resolve it. @Mikejo5000 I've seen the post with run as administrator but it didn't fix my problem. I was able to solve my problem without debugging. Maybe ill come back to this in the future.

[2019-11-25 00:39] Mikejo5000 commented on #4335
Ah, yes, these are in the MSBuild project files, like .vbproj. There's a lot of more advanced topics here that assume general MSBuild knowledge. For a more beginning article, see
https://docs.microsoft.com/en-us/visualstudio/msbuild/walkthrough-using-msbuild?view=vs-2019

[2019-11-25 05:15] mansoureh commented on #4354
@msebolt Thanks for the reply but unfortunately no; it does not activate the property when trying to use it via Microsoft.Office.Interop.Excel in c#.
Basically I need to create a Power Query grammatically. I am not sure this is actually possible via Interop.Excel.

[2019-11-25 06:38] moerwald opened #4390 "What does ERRORCODE 3010 stands for?"
Please add a description whats to reason to check for ERRORCODE 3010.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b91a4a43-5353-97cf-7532-7644aa3b497f
* Version Independent ID: 858d9a5c-72f3-6a85-9270-0a0dd9e0438b
* Content: [Install Visual Studio Build Tools into a container](https://docs.microsoft.com/en-us/visual

[2019-11-25 13:21] #4386 closed

[2019-11-25 13:32] JohnStraumann66 opened #4391 "Getting a "404 page not found error""
Hi:

I tried to follow this article using an existing project I am working on, however it is not MVC, it is Razor, and I am getting an error, but not sure if that matters? I am able to run the web app, and access the Swagger page, but when I run the GET Command, either in Swagger or postman, I get the error. I am using a "User" model class, and I have a folder with CRUD pages under Pages-&gt;Users

[2019-11-25 16:58] msebolt commented on #4380
@stewa11 Thank you for the feedback.

Please add some details on how Azure is not mentioned.

Two of the article's sections go over [Remote debug on Azure App Service](https://docs.microsoft.com/visualstudio/debugger/remote-debugging-azure?view=vs-2019#remote_debug_azure_app_service) and [Remote debug on Azure VM](https://docs.microsoft.com/visualstudio/debugger/remote-debugging-azure?view=vs-2019

[2019-11-25 17:03] msebolt commented on #4383
@OMGerCoder Thank you for the feedback, we apologize for the issues.

This issue was reported a few months ago in the [forums](https://developercommunity.visualstudio.com/content/problem/619789/visual-studio-wont-open-on-macos-catalina.html) and was reported as fixed.

Please make sure you're using the latest version and post any updates below.

[2019-11-25 17:08] msebolt commented on #4387
@StingyJack Thank you for the feedback, assigning this to the author for review.

[2019-11-25 17:09] msebolt commented on #4388
@StingyJack Thank you for the feedback, assigning this to the author for review.

Please see if installing the latest `Microsoft.Net.Compilers` package as described in [this post](https://stackoverflow.com/questions/32505209/how-can-i-use-latest-features-of-c-sharp-v6-in-t4-templates) resolves the issue.

[2019-11-25 17:16] msebolt commented on #4389
@vadim82 Thank you for the feedback, assigning this to the author for review.

In the interim, please refer to [this article](https://docs.microsoft.com/archive/msdn-magazine/2018/april/azure-deploying-containerized-asp-net-core-applications-to-azure) on MSDN.

[2019-11-25 17:28] msebolt commented on #4390
@moerwald Thank you for the feedback.

A note has been added to the documentation and is pending review.

Please refer to [MsiExec.exe error messages](https://docs.microsoft.com/windows/win32/msi/error-codes).

[2019-11-25 17:41] msebolt commented on #4391
@JohnStraumann66 Thank you for the question.

Since this is the documentation forum, our support is limited, however here are some things to try:

- make sure the *web.config* is properly configured, see [here](https://stackoverflow.com/questions/9703090/http-404-page-not-found-in-web-api-hosted-in-iis-7-5) and [here](https://stackoverflow.com/questions/49699639/net-core-404-error-on-server-only)

[2019-11-25 18:16] #4293 closed

[2019-11-25 18:44] ghogen commented on #4389
This is out of scope for the Visual Studio content - the Azure App Service docs should cover the use of the other tools you mentioned, e.g. https://docs.microsoft.com/en-us/azure/container-instances/container-instances-quickstart

However, I can add a link.

[2019-11-25 20:03] v-maudel opened #4393 "_NT_SYMBOL_PATH - Incorrect Example"
Moved from: https://github.com/MicrosoftDocs/visualstudio-docs.de-de/issues/74
----------------------------
@Kraftmuschel wrote:

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist für die Verknüpfung von docs.microsoft.com zum GitHub-Artikel erforderlich.*

* ID: 3624be5b-24b8-ca02-0197-a7404998bdca
* Version Independent ID: 16b13954-8211-556a-21d5-a56b10d51bd0
* Content:

[2019-11-25 21:18] StingyJack commented on #4388
@msebolt Thanks for the suggestion, but this is for the TextTransform.exe standalone exe.

[2019-11-25 22:20] John-Hart commented on #4141
@Legends does this document (https://docs.microsoft.com/en-us/visualstudio/vsto/office-project-templates-overview?view=vs-2019) help explain the differences?

[2019-11-25 23:37] John-Hart commented on #4141
@Legends,  Actually I just realized this doc already has a link to the project template overview that I directed you to:

"For more information about the project templates, see [Office project templates overview](https://docs.microsoft.com/en-us/visualstudio/vsto/office-project-templates-overview?view=vs-2019)."

Does this explain the differences well enough?

[2019-11-26 06:21] msebolt commented on #4366
Closing now, comment below if there are issues.

[2019-11-26 06:21] #4366 closed

[2019-11-26 17:10] jaycdave88 commented on #1311
I am running into the same issue with Visual Studio 2019 Community. I see this is marked as closed - is there a work around for this?

[2019-11-26 20:21] #4390 closed

[2019-11-27 00:17] conceptdev commented on #4348
For what it's worth, that item – to create an Add-in – appears to be removed altogether in the version of VSMac I have installed (8.3.10(build 2)). I'll leave it to @heiligerdankgesang to decide what to do with this content.

[2019-11-27 01:58] jeffc111a opened #4397 "NOT for Xamarin.Forms"
This page incorrectly states that the designer works for Xamarin.Forms, which has only a Previewer, where xaml must all be hand-written.
https://docs.microsoft.com/en-us/xamarin/xamarin-forms/xaml/xaml-basics/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eeeb6491-1f2c-73a7-fef2-afb69fd08948
* Version Independent ID:

[2019-11-27 05:50] OkimotoYutaka opened #4398 "VisualStudio2017"

[2019-11-27 09:33] kkluwehkg opened #4399 ""To link the tests to the object or library files." does not lead to the mentioned info."
The above link "To link the tests to the object or library files." does not lead to the mentioned info respectively flows into circular reference.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c18bdf17-06e1-aaf2-b6ce-c606c0e260da
* Version Independent ID: bd627b8f-54f0-84e0-55cd-285597af022d
* Content: [Write unit tes

[2019-11-27 10:28] LukeOwlclaw opened #4400 "Scope for .NET naming conventions for EditorConfig?"
Is it possible to distinguish the scope for .editorconfig naming rules?

I'd like to **allow** public fields in structs:

    public struct MyStruct
    {
        public int StructField;
    }

But **disallow** public fields in classes:

    public class MyClass
    {
        public int ClassField;
    }

Is this possible using .editorconfig naming rules?

---
#### Document Details

⚠ *Do not edit

[2019-11-27 10:33] sanepete commented on #2934
This is a very good comment.
A++, would read this commenters comments again.

[2019-11-27 10:48] MohammadMQ opened #4401 "linux or windows"
When creating the "ASP.NET Core Web Application" and then "Web App" you will have the choice to choose Windows or Linux docker. I guess the choice will depend on what OS you are on.
Second thing is what if you already have an existing ASP.NET Core Web Application that you would like to enable on docker, how is that possible?

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2019-11-27 11:31] rossng opened #4402 "Mention LoggerRunSettings"
This page should document the [`<LoggerRunSettings>` element](https://github.com/abhishkk/vstest-docs/blob/master/RFCs/0016-Loggers-Information-From-RunSettings.md). It might also be useful to note that the user can see which loggers are available to them by running `vstest.console.exe /ListLoggers`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2019-11-27 13:24] #4228 closed

[2019-11-27 18:05] dtrailin opened #4403 "Add documentation for the static graph feature"
Static graph for compilation were introduced in 16.3 but there is no documentation showing that this feature is available or how to use it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed74b634-19be-61b4-ad2e-9520b1a89502
* Version Independent ID: e52821c5-306c-6cc4-4a37-ce8bb35b4539
* Content: [What's New in MSBuild

[2019-11-27 19:07] msebolt commented on #4397
@jeffc111a Thank you for the feedback, assigning this to the author for review.

[2019-11-27 19:13] mkamoski opened #4404 "Please explain each Scope."
...

Please describe "Scope" for the following:

module

resource

type

member

...and show an example of each, for the sake of clarity.

Thanks.

Mark Kamoski

...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 517e8321-aa13-0814-3398-9606d7c2664b
* Version Independent ID: 59efa3c4-ceaf-a384-94af-0f76584efe3f
* Conte

[2019-11-27 20:20] Socolin opened #4405 "Could it be possible to document how FastUpToDateCheck works"
In the documentation for `DisableFastUpToDateCheck` there is mention of `FastUpToDateCheck` but I cannot find any documentation about that.

It would be great to document this one and let people write csproj compatible with that feature instead of having to disable this.

After some search I've found there are few attributes that seems to be used

- UpToDateCheckInput
- UpToDateCheckBuilt
- UpToDa

[2019-11-27 20:57] ArjayHawco opened #4406 "VS2019: Outdated HKLM\<Application ID Registry Root>\SolutionPersistence\AggregateGUIDs reference"
Doesn't look like the project types are stored in the registry key under the above location any longer.  I've got VS 2019 installed, but there are no related keys anywhere related to Visual Studio.  I do have SQL Server Management Studio installed and can find references to 2150E333-8FDC-42A3-9474-1A3956D46DE8 which is a solution folder.

Given that the project type GUIDs are no longer in the regi

[2019-11-27 21:23] John-Hart commented on #4142
The two walkthroughs are actually different and they try to describe the differences in the first paragraph:

[Walkthrough: Create document-level customization](https://docs.microsoft.com/en-us/visualstudio/vsto/walkthrough-creating-your-first-vsto-add-in-for-excel):

_The features that you create in this kind of solution are **available to the application itself,** regardless of which workbooks a

[2019-11-27 22:38] John-Hart commented on #3656
@CeciAc  please make sure you have the **using Microsoft.SharePoint.WebControls;** in the includes section at the top of the code file as mentioned in Step 3 of the [Handle the events of controls on the page](https://docs.microsoft.com/en-us/visualstudio/sharepoint/walkthrough-creating-a-sharepoint-application-page?view=vs-2019#handle-the-events-of-controls-on-the-page) section.

[2019-11-27 22:38] #3656 closed

[2019-11-27 22:40] John-Hart commented on #3883
It does look like someone has created a Nuget package for these but I don't believe it was created by us .

[2019-11-27 22:40] #3883 closed

[2019-11-28 00:03] John-Hart commented on #4142
I've updated both the excel and word document-level walkthroughs.  Thanks again for pointing out the error

[2019-11-28 00:03] #4142 closed

[2019-11-28 00:04] John-Hart commented on #4141
I believe the link to  Office project templates overview does explain the differences.  If it's still not clear please let me know

[2019-11-28 00:04] #4141 closed

[2019-11-28 01:55] msebolt commented on #4398
@OkimotoYutaka Thank you for starting an issue.

Comment below if you have a question about or issue with the documentation.

For all other issues, please refer to the [Visual Studio support](https://visualstudio.microsoft.com/support/).

[2019-11-28 02:11] msebolt commented on #4399
@kkluwehkg Thank you for the feedback, please refer to [this section](https://docs.microsoft.com/en-us/visualstudio/test/how-to-use-microsoft-test-framework-for-cpp?view=vs-2019#same_project).

The documentation has been updated and is pending review.

[2019-11-28 05:58] OysteinHH opened #4408 "Typo"
There's should be a ) between typeof(TestClass) and .Deserialize.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6dfb766f-3790-89d3-8288-3241a975e87f
* Version Independent ID: d5f89f0b-5388-f4d8-3abc-f1b3d5e08564
* Content: [CA5369: Use XmlReader for Deserialize - Visual Studio](https://docs.microsoft.com/en-us/visuals

[2019-11-28 09:44] mariusbancila opened #4409 "Error in App.config"
In the beginning of the article you specify the following section:

`<section name="microsoft.visualstudio.testtools" type="Microsoft.VisualStudio.TestTools.UnitTesting.TestConfigurationSection, Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions" />`

But in the final App.config that you list it appears as follows:

`<section name="microsoft.visualstudio.testtools" type="Microsoft.Visual

[2019-11-28 17:24] hyryel commented on #3592
Hello all,

I've managed to make it work.
DO NOT do the step :

 - Add an Editor Classifier item template to the project. For more information, see Create an extension with an editor item template.
 - DO NOT delete the *package.cs Class, as mentionned in the third point. This file is critical to make the package workable.

Create a new class, name it whatever you want.
For this Walkthrough to work

[2019-11-28 19:23] O4D commented on #3252
Can you explain more precisely what are the missing steps ?
I'm trying to use $safeprojectname$/$projectname$/$specifiedSolutionName$/$SpecifiedSolutionName$/$specifiedsolutionname$ without any succes !

[2019-11-29 03:38] Artem-B commented on #4317
Perhaps it would be possible to capture the environment set by `VsDevCmd.bat` and automatically generate ENV lines to be added to the Dockerfile? One would need to build the container twice, but at least this way we'd have a container usable for automation.

[2019-11-29 13:06] stewa11 commented on #4380
Hi msebolt,
I appreciate your time responding to me so much that I am also prepared to spend my valuable time improving this document.

In summary:
1) I think the document states what to do and, for me at least, it could be a bit more helpful with something on context and why we are doing this.
2) I anticipated that the document would include actually debugging from VS2019 to Azure. I struggled th

[2019-11-29 14:27] OMGerCoder commented on #4383
I now use VSCode with Unity.

[2019-11-29 14:27] #4383 closed

[2019-11-30 21:48] heaths commented on #4317
I had considered that, but vsdevcmd has different options for the target architecture. How much those affect compiler/linker arguments over command-line arguments (or lack thereof) I don't know.

[2019-12-01 01:12] Artem-B commented on #4317
I've ended up with this script: https://github.com/Artem-B/tf-win/blob/master/setup_build_env.py
First I build an image with MSVC installed, with no environment set up yet. Then I tell this script to run `vsdevcmd` with given arguments in the container, capture environment after that and run 'docker commit -c....' to replicate the new environment in a new image.

[2019-12-02 02:37] Artem-B commented on #4317
Apparently it's impossible to use `docker commit -c ENV...` to set environment variable to a value that ends with a trailing backslash. Docker strips the trailing backslashes and ends up concatenating `ENV` lines from different `-c` options. This looks like a docker bug to me. This makes it impossible to replicate the environment exactly.  If `VCINSTALLDIR` and `VSINSTALLDIR` do not have trailing

[2019-12-02 03:42] #4393 closed

[2019-12-02 06:11] Artem-B commented on #4317
I've got the script working after all. The work around for https://github.com/docker/for-win/issues/5254 is to use a different escape character.

[2019-12-02 10:11] JasperE84 opened #4410 "Feedback"
contact.Items can also contain DistItems in which case the code will fail.
See https://stackoverflow.com/questions/59049623/outlook-vsto-plugin-stops-executing-while-iterating-over-contacts-in-default-con

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a5ca3007-5e19-b843-32ac-0327813632e4
* Version Independent ID: 1c964

[2019-12-02 14:24] csolizoltan opened #4411 "Problem with the Hello World sample code"
I've had a problem with the code snippet in the "The Hello World of IntelliTest" section:
If instead of "[TestClass] public partial class HelloWorldTest" I use "[PexClass] public partial class HelloWorldTest" the test run in correct way.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: afd1b2f6-e89f-ecdb-0060-de0c7e43d11

[2019-12-02 15:36] csolizoltan commented on #4411
Sorry, you are right:

1. Create a new Unit Test Project (.NET Framework) with VS 2017
1. Add Microsoft.Pex.Framework to references
1. Replace the content of the test class with the code snippet from the "The Hello World of IntelliTest" section
1. Delete Microsoft.VisualStudio.TestPlatform.TestFramework and Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions references
1. Add Microsoft.Vi

[2019-12-02 16:06] #4399 closed

[2019-12-02 16:23] #4398 closed

[2019-12-02 17:32] #3508 closed

[2019-12-02 19:43] genegc opened #4414 "auto-reloading of .py files"
In the answer to "Question: What's the difference between using the Debug menu commands and the server commands on the project's Python submenu?"
it would be helpful to also point out when you start the server with the python submenu you get the advantage of having changes to .py files auto-loaded - so you can check changes without restarting the server.

---
#### Document Details

⚠ *Do not edit

[2019-12-02 21:40] msebolt commented on #4400
@LukeOwlclaw Thank you for the contacting Microsoft Docs.

Since the question is more geared to the product, please start a thread with the product team [here](https://developercommunity.visualstudio.com/spaces/8/index.html) and link back to this issue.

@jillre

[2019-12-02 21:43] msebolt commented on #4401
@MohammadMQ Thank you for the feedback and question, assigning this to the author for review of the documentation.

For product-related questions regarding Docker, please start a thread [here](https://developercommunity.visualstudio.com/spaces/8/index.html) for feedback from the product team.

[2019-12-02 21:44] msebolt commented on #4402
@rossng Thank you for the feedback, assigning this to the author for review.

[2019-12-02 21:45] msebolt commented on #4403
@dtrailin Thank you for the feedback, assigning this to the author for review.

[2019-12-02 21:45] msebolt commented on #4404
@mkamoski Thank you for the feedback, assigning this to the author for review.

[2019-12-02 21:46] msebolt commented on #4405
@Socolin Thank you for the feedback, assigning this to the author for review.

[2019-12-02 21:48] msebolt commented on #4406
@ArjayHawco Thank you for the feedback, assigning this to the author for review.

[2019-12-02 21:50] msebolt commented on #4408
@OysteinHH Thank you for the feedback.

The documentation has been updated and is pending review.

[2019-12-02 21:55] msebolt commented on #4409
@mariusbancila Thank you for the feedback.

Please provide a link to the article referenced above for a fix to be made.

[2019-12-02 21:56] msebolt commented on #4410
@JasperE84 Thank you for the feedback, assigning this to the author for review.

[2019-12-02 22:03] msebolt commented on #4411
@csolizoltan Thank you for the feedback and for providing the work-around.

A note will be added to the documentation.

[2019-12-02 23:22] jtuliani opened #4415 "More questions to clarify..."
- If a CSP customer buys a monthly subscription, is it billed immediately, or later?
 - Is there a cancellation period, and if so how long for and how do you cancel? (For example, EU distance selling regulations require a 14-day cancellation period, see https://europa.eu/youreurope/citizens/consumers/shopping/guarantees-returns/index_en.htm)
 - Is there any way to change the permissions so a CSP c

[2019-12-02 23:26] evanwindom commented on #4371
@hkusulja - Thanks for your question.  To activate the Office Developer subscription, a new tenant is required.  I've submitted an update to the article to reflect that.

[2019-12-02 23:27] evanwindom commented on #4371
@TerryGLee - Please close.

[2019-12-02 23:29] TerryGLee commented on #4371
@evanwindom Thanks Evan. And @hkusulja Thanks for helping us to improve the documentation!

[2019-12-02 23:29] #4371 closed

[2019-12-02 23:55] msebolt commented on #4414
@genegc Thank you for the feedback, assigning this to the author for review.

[2019-12-03 01:20] heaths commented on #4317
Thanks, but vsdevcmd supports different run modes. Capturing the environment fixes it to one, unless users run vsdevcmd again *and* vsdevcmd overwrites those environment variables. The original idea - that worked before the regression - was you can just launch the container and get an interactive prompt, or pass args to vsdevcmd to customize the environment and/or even build and exit, setting `ERR

[2019-12-03 07:42] orfeasa opened #4419 "Location of setting has changed"
The setting is now at File --&gt; Preferences --&gt; Color Theme

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 97e23c15-7abd-d973-48c0-e4b23e305c5c
* Version Independent ID: 97329301-f6ac-4cba-8b85-a958a0bfc1a5
* Content: [Set color theme and fonts - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/ide/qui

[2019-12-03 08:54] mariusbancila commented on #4409
I did not realize the link was not automatically available. What is the point of having the comments in github if they there not able to identify the docs article they are referring to?

Anyways, here is the article: https://docs.microsoft.com/en-us/visualstudio/test/walkthrough-using-a-configuration-file-to-define-a-data-source?view=vs-2019

[2019-12-03 09:37] TangMonk opened #4421 "How to copy folders instead of a single file"
If I have multiple files need copy output directory, set Build action for per files in inconvenient

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 797c58ff-3694-adda-188b-4ec4d079bd5c
* Version Independent ID: 442f90ff-9a99-c7dd-23c8-fbe51bcd8c0d
* Content: [Build actions for files - Visual Studio](https://docs.microso

[2019-12-03 14:48] Caleb-D opened #4423 "How to disable?"
I have assertions in my code.  Sometimes I want to run my program without getting any assertion dialogs.  How can I temporarily disable the dialog?  Hopefully without code modifications.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39dd376d-0708-9844-7689-2d5e2bd3e472
* Version Independent ID: 394b6577-4960-3429-b665

[2019-12-03 15:42] gregvanl commented on #4419
Hi @orfeasa Could you be confusing Visual Studio Code, which does use File > Preferences > Color Theme, with Visual Studio IDE? The topic referenced in this issue is for VS IDE and changing the color theme is still done with the Tools > Options dialog as of release 16.3.

[2019-12-03 16:39] #4408 closed

[2019-12-03 18:58] orfeasa commented on #4419
Ah yes, sorry about that 🙂

On Tue, 3 Dec 2019 at 17:42, Greg Van Liew <notifications@github.com> wrote:

[2019-12-03 19:21] gregvanl commented on #4419
No worries. Closing.

[2019-12-03 19:21] #4419 closed

[2019-12-03 20:08] msebolt commented on #4415
@jtuliani Thank you for the questions, assigning this to the author for review.

@evanwindom

[2019-12-03 22:31] JoshuaPartlow commented on #4232
No reply, so closing the issue. Feel free to reopen if this is still a problem.

[2019-12-03 22:31] #4232 closed

[2019-12-04 07:37] riverar commented on #2958
For @mbickle and others that may look here:

Here's a working `.fake` you can use as a starting point. This will generate an _empty_ fake assembly, that is, an assembly with neither stubs or shims:
[code]

You can then utilize `<Add ...>` nodes in either section to cherry pick what you want stubbed/shimmed.

For example:
[code]

[2019-12-04 10:25] Styxxy opened #4431 "Release notes VS 2019 16.4.0 typo"
Small typo in https://docs.microsoft.com/en-us/visualstudio/releases/2019/release-notes?source=docs#16.4.0

"refacotring" seems to be the typo --> refactoring

[2019-12-04 11:46] brads55 opened #4432 "Sample .editorconfig not up-to-date"
The sample .editorconfig on this pages states:

    "here is an example .editorconfig file with the default options"

However it is missing the defaults for some of the newer options like csharp_style_prefer_switch_expression. It would be good if this could be updated (and kept up to date), as it provides a good starting point to ensure nothing is missed.

---
#### Document Details

⚠ *Do not edit

[2019-12-04 15:31] JoshuaHillerup opened #4433 "Specify that this is depricated"
Now that .Net Core 3+ has replaced .Net Framework, all the pages for Microsoft Fakes should be marked as legacy.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b356f491-a828-65ee-915b-b1ccdf71024c
* Version Independent ID: 3fa9dddf-b328-8e2f-c7b2-016a38f71bf6
* Content: [Using shims to isolate your application for unit

[2019-12-04 17:36] WilliamAntonRohm commented on #4382
@maxcramer -- my question could have been clearer.  Please provide the URL of the link you're clicking on.

[2019-12-04 17:39] WilliamAntonRohm commented on #4421
@TangMonk  -- Mr. Wu, it looks like you have product feedback rather than documentation feedback. If you are looking for functionality that isn’t currently provided by the product, please use our “Suggest a feature” option in the [Visual Studio Developer Community](https://developercommunity.visualstudio.com/). We’d be happy to have this on record, where others can view it and upvote it, too. For

[2019-12-04 17:39] #4421 closed

[2019-12-04 17:41] WilliamAntonRohm commented on #4423
@Caleb-D -- Thanks for your question. It looks like you're having an issue with the product itself, rather than an issue with the documentation. Here are a few options where you might consider asking your question:​

- [https://social.msdn.microsoft.com/Forums/vstudio](https://social.msdn.microsoft.com/Forums/vstudio)
- [https://www.stackoverflow.com](https://www.stackoverflow.com)
- [https://www.

[2019-12-04 17:42] Caleb-D commented on #4423
No, I came to the documentation looking for information about how to disable.

[2019-12-04 17:58] Mikejo5000 commented on #4423
@Caleb-D You may see this error even if you are not debugging (Release build), so it's not necessarily a debugger issue. Have you tried disabling the Win32 Assertion failed exception? (Debug > Windows > Exception Settings, search for "assertion"). I'm not sure if this will get you the behavior you want, but might be worth a try.

[2019-12-04 18:02] Caleb-D commented on #4423
@Mikejo5000 This is without the debugger attached.  I assume the Exception Settings only apply when attached.

It's not a problem, per se, except that I would like a way to tell Windows, "don't pop up any assertion dialogs for this process right now," without having to make code changes.  They are my (or my teammates') assertions, so they are expected.  Sometimes I just don't want to see them.

[2019-12-04 21:29] Hari-Prasad-V opened #4436 "Some corrections in the documentation"
1) Since the project name is DynamicMenuItems, the "guidDynamicMenuPackageCmdSet" should be "guidDynamicMenuItemsPackageCmdSet" in all the code snippets.
2) Under "Add the command" section, "DynamicMenuPackage.cs" should be "DynamicMenuItemsPackage.cs"
3) In "DynamicMenu.cs" which is created using Add New Item -&gt; Command Sample, it uses AsyncPackage instead of Package, so the "package" and the

[2019-12-04 23:41] Mikejo5000 commented on #4423
@Caleb-D Do you need to run without the debugger? In VS, the Exception Settings are likely the only method. Closing this again in favor of recommendations by @WilliamAntonRohm

[2019-12-04 23:41] #4423 closed

[2019-12-05 00:28] zspitz commented on #4311
Presumably the visualizer under question is the [Expression Tree Visualizer](https://github.com/zspitz/ExpressionToString) that I've written. It should be noted that `MultiSelectTreeView.dll` is a dependency of the main visualizer dll, and as such needs to be in the same folder. It might be advisable to work that into the documentation somehow:

[2019-12-05 00:37] Caleb-D commented on #4423
I think maybe there is a misunderstanding here.  The exception settings are not going to affect the assertion dialog, regardless of whether the debugger is attached.  This is not the VS exception dialog.  This is the Abort/Retry/Ignore dialog mentioned in the help topic...

[2019-12-05 08:16] iMaxSys opened #4438 "i can't create .net core 3.1 project by mac vs"
i can't create .net core 3.1 project by mac vs

[2019-12-05 08:50] icalvo commented on #4311
@zspitz I'm not sure I understood you. Didn't you say the same I did in the OP?

[2019-12-05 09:02] zspitz commented on #4311
@icalvo Not quite. What you said makes it sound like every visualizer requires `MultiSelectTreeView.dll`, which is definitely not the case. But the general principle -- there might be dlls which the debugger-side dll depends on, and those need to be copied to the visualizer folder -- might be worth mentioning.

[2019-12-05 15:51] paulreicherdt opened #4439 "Visual Studio multi project template - weird solution name"
Hi,

I have the following template definition for a multi project solution containing some solution folders.

[code]

The problem is, when I create a new project using this template the generated solution name is not the one I provide in the wizard, but always **Code Generation.sln**.

Completely weird. Seems, like VS takes the name of first solution folder from the template.  And I haven't found

[2019-12-05 17:15] msebolt commented on #4436
@Hari-Prasad-V Thank you for the feedback, assigning this to the author for review.

Before any files are re-named, you might just opt to re-name the project `DynamicMenu`.  Then files with `Packages` and `Items` in the name have more meaning.

From the statements above, it seems that item 3 is the only one causing issues with running the tutorial.

[2019-12-05 18:07] Hari-Prasad-V commented on #4436
@msebolt thanks for the suggestion. I feel renaming the project to `DynamicMenu` would make the documentation a little confusing, since the project also requires us to add a Command sample named as `DynamicMenu`

[2019-12-05 18:28] #4400 closed

[2019-12-05 18:29] #4391 closed

[2019-12-05 18:53] msebolt commented on #4380
Thank you for the update, assigning this to the author for review.

[2019-12-05 18:57] tfosmark commented on #3819
Thanks for your question. Here are a few options where you might consider asking your question:​

[https://social.msdn.microsoft.com/Forums/vstudio](https://social.msdn.microsoft.com/Forums/vstudio)

[https://www.stackoverflow.com](https://www.stackoverflow.com)

[https://www.reddit.com/r/VisualStudio/](https://www.reddit.com/r/VisualStudio)

As well, you might also consider using the [Report a Pr

[2019-12-05 18:57] #3819 closed

[2019-12-05 18:59] tfosmark commented on #3835
@amunger Here are a few options where you might consider asking your question:​

[https://social.msdn.microsoft.com/Forums/vstudio](https://social.msdn.microsoft.com/Forums/vstudio)

[https://www.stackoverflow.com](https://www.stackoverflow.com)

[https://www.reddit.com/r/VisualStudio/](https://www.reddit.com/r/VisualStudio)

As well, you might also consider using the [Report a Problem](https://do

[2019-12-05 18:59] #3835 closed

[2019-12-05 19:02] tfosmark commented on #3954
@SamuelEnglard  Thanks for your question. It looks like you're having an issue with the product itself, rather than an issue with the documentation. Here are a few options where you might consider asking your question:​

[https://social.msdn.microsoft.com/Forums/vstudio](https://social.msdn.microsoft.com/Forums/vstudio)

[https://www.stackoverflow.com](https://www.stackoverflow.com)

[https://www.

[2019-12-05 19:03] msebolt commented on #4354
@mansoureh Thank you for the update and sorry for the delay.

Unfortunately, this is more a product question and needs to be added [here](https://developercommunity.visualstudio.com/spaces/8/index.html) for a response from the product team.

Please move the issue and link back here.

@John-Hart

[2019-12-05 19:11] tfosmark commented on #4078
@aolszowka Thanks for your question. Here are a few options where you might consider asking your question:​

[https://social.msdn.microsoft.com/Forums/vstudio](https://social.msdn.microsoft.com/Forums/vstudio)

[https://www.stackoverflow.com](https://www.stackoverflow.com)

[https://www.reddit.com/r/VisualStudio/](https://www.reddit.com/r/VisualStudio)

As well, you might also consider using the [

[2019-12-05 19:11] #4078 closed

[2019-12-05 19:12] tfosmark commented on #4310
@felixmaomao Here are a few options where you might consider asking your question:​

[https://social.msdn.microsoft.com/Forums/vstudio](https://social.msdn.microsoft.com/Forums/vstudio)

[https://www.stackoverflow.com](https://www.stackoverflow.com)

[https://www.reddit.com/r/VisualStudio/](https://www.reddit.com/r/VisualStudio)

[2019-12-05 19:12] #4310 closed

[2019-12-05 19:16] tfosmark commented on #4415
@jtuliani You can contact [Visual Studio Subscriptions Support](https://visualstudio.microsoft.com/subscriptions/support/) regarding your questions. ​

[2019-12-05 19:20] #4373 closed

[2019-12-05 19:21] #4354 closed

[2019-12-05 19:24] tfosmark commented on #4316
@septst It looks like you're having an issue with the product itself, rather than an issue with the documentation. Here are a few options where you might consider asking your question:​

[https://social.msdn.microsoft.com/Forums/vstudio](https://social.msdn.microsoft.com/Forums/vstudio)

[https://www.stackoverflow.com](https://www.stackoverflow.com)

[https://www.reddit.com/r/VisualStudio/](https:

[2019-12-05 19:24] #4316 closed

[2019-12-05 19:54] aolszowka commented on #4078
Just to make it clear: You are saying that the place to get information about format produced, marketed, and serviced by Microsoft is the Community?

[2019-12-05 19:59] Mikejo5000 commented on #3954
I don't see Reset Clean in VS 2019 16.4 either, so it could be the product changed and the doc needs an update. I'll ask about it.

[2019-12-05 20:13] Artem-B commented on #4317
I'm not saying that the script is the solution. It's merely a workaround that's good enough to give me a working container. Making one container per configuration I need is a hassle, but it's quite a bit better than having no container at all.

[2019-12-05 21:15] PhillRoyle opened #4441 "Decent evolution of the example"
I like that the example gets more complex gradually, and also throws in a few nice bits of syntax (the 'out' in while loop, and '{0:0.##}' were new to me.
If you're going to validate input though, surely validate the choice of operator too? You could have introduced enums too.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2019-12-06 00:36] John-Hart commented on #1926
The document has been updated

[2019-12-06 00:36] #1926 closed

[2019-12-06 00:37] John-Hart commented on #1346
The document has been updated

[2019-12-06 00:37] #1346 closed

[2019-12-06 00:41] John-Hart commented on #4410
The sample has been fixed.  Thanks @JasperE84 for the feedback

[2019-12-06 00:41] #4410 closed

[2019-12-06 02:35] IngmarBitter commented on #4373
Why was this closed? Just because I added a comment somewhere else? The
issue is clearly not fixed.

On Thu, Dec 5, 2019 at 2:20 PM Tami Fosmark <notifications@github.com>
wrote:

[2019-12-06 04:32] qub1n opened #4443 "What is new in MSBuild 16"
So what new features or bugfixes are in MSBuld 16? Why I should upgrade?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed74b634-19be-61b4-ad2e-9520b1a89502
* Version Independent ID: e52821c5-306c-6cc4-4a37-ce8bb35b4539
* Content: [What's New in MSBuild 16.0 - Visual Studio](https://docs.microsoft.com/en-us/visualstudi

[2019-12-06 04:33] ajhmain opened #4444 "Visualizer useless for "visualizing" fixed column files/data"
See title.
In VS2019 16.3.10, there is no way to change the text visualizer font specifically.  I find this extremely ironic/sad this is for a tool you call 'visualizer'.

The 'global' Environment font can do this but it is an unacceptable workaround as it changes menus, solution explorer, and many other windows that I need to remain proportional for readability and screen space issues.

Have comm

[2019-12-06 05:30] msebolt commented on #4438
@iMaxSys Thank you for the feedback.

Can you verify you have the required installations (Mac 8.4 Preview 2) as per [this post](https://devblogs.microsoft.com/dotnet/announcing-net-core-3-1-preview-3/)?

[2019-12-06 05:44] v-lali opened #4445 "IDM_VS_MENU_EXTENSIONS is not recognized by guidSHLMainMenu."
IDM_VS_MENU_EXTENSIONS is one menu in VS menu bar. And as the doc said: the menus and groups on the Visual Studio menu bar use the GUID( guidSHLMainMenu).

But actually, when using something like `&lt;Parent guid="guidSHLMainMenu" id="IDM_VS_MENU_EXTENSIONS" /&gt;` will always cause build error : `Undefined 'Parent/@id' attribute 'IDM_VS_MENU_EXTENSIONS' ` Please help check this.

Many thanks :)

[2019-12-06 06:12] msebolt commented on #4439
@paulreicherdt Thank you for the feedback.

Please see if either [this recent post](https://stackoverflow.com/questions/17972960/multi-project-template-folder-structure-incorrect) or [this post](https://stackoverflow.com/questions/17341437/weird-folder-hierarchy-when-creating-multi-project-visual-studio-template) relates.

Note that since this is the documentation forum our support options are lim

[2019-12-06 10:24] iMaxSys commented on #4438
thx

[2019-12-06 17:35] mairaw commented on #4000
It seems the duplicate issue got closed. Should this one be closed as well @TerryGLee?

[2019-12-06 17:43] ghsatpute opened #4447 "Attribute 'program' does not exist"
I'm getting this error while running the app

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c4b0ea28-4a31-a3ea-fa5f-c32d5c72d4bd
* Version Independent ID: 31bd064b-51eb-5505-986e-2c7148784085
* Content: [Create a Node.js and React app - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/javascript/tut

[2019-12-06 17:51] msebolt commented on #4187
Closing now, comment below if there are any further issues.

[2019-12-06 17:51] #4187 closed

[2019-12-06 20:01] Mikejo5000 commented on #4447
@ghsatpute Hi, at what point in the doc are you getting that message? What version of VS? Thanks!

[2019-12-06 20:53] Mikejo5000 commented on #3954
I understand the feature has been removed, so this will need a doc update. Waiting for additional info first.

[2019-12-06 20:57] Mikejo5000 commented on #4380
@stewa11 There are quite a few debugging scenarios for Azure. This topic applies only to debugging an app running on IIS on an Azure VM. There are links to some other Azure topics here. What is your scenario exactly?

[2019-12-06 20:59] Mikejo5000 commented on #4403
@dtrailin Thanks, it sounds like we need an addition to this topic.

[2019-12-06 23:03] kendrahavens commented on #3954
Yes, we've removed the menu option, but you can still use a more explicit way to clean the LUT data in Tools > Options > Live Unit Testing -> Delete persisted data when Live Unit Testing is stopped.

We should update the doc.

[2019-12-07 01:39] #4438 closed

[2019-12-07 11:10] stewa11 commented on #4380
Ahhh! I see. Yes I understand that this is debugging on Azure VM. Would it be a good idea to add links to other debugging scenarios. My scenario is debugging code from my PC to a we app hosted on Azure. On the other hand, if you want me to explain what I mean by "the document could do with a bit more context" then let me know. Thank you. Stewart

[2019-12-07 11:10] #4380 closed

[2019-12-08 09:14] PeterDavidCarter commented on #4015
My Dockerized project used to work fine on Visual Studio for Mac 2019 until I had to update to fix another issue. Now it does not run Docker on debug or release (the Visual Studio for Windows 2019 on my main machine allows me to specify but the Mac version does not). I have tried the 'Add > Docker Support' option but this is greyed out. Perhaps this is something to do with the fact VS 2019 for Win

[2019-12-08 10:45] ghsatpute commented on #4447
@Mikejo5000 VS2019

[2019-12-09 15:47] Procastin8or commented on #1531
I skimmed through the comments and didn't notice that the following was noted. The following is how I install it from an offline source on a non-internet connected computer. I believe you need the "--noweb" and "--noUpdateInstaller". From my understanding the "--noweb" is not truely needed for the install to work. It is for disabling the automatic update check once it is installed. The "--layout"

[2019-12-09 16:54] rebnridgway opened #4452 "Can't install from offline installer"
When I try and install Visual Studio from my local install cache, the Visual Studio Installer just ignores it and downloads everything from the internet.  I tried adding the --noWeb parameter to tell it not to connect to the internet, but it even ignores that!  I have set the channel manifest location to be my local cache, by hand-editing the response.json file, the catalog.json file, and adding t

[2019-12-09 17:31] WilliamAntonRohm commented on #4443
Please see the link at the end of the first paragraph:  [MSBuild 16.0](https://gist.github.com/rainersigwald/009627466f03964d0028e16fda633d9c).

[2019-12-09 17:31] #4443 closed

[2019-12-09 21:19] WilliamAntonRohm commented on #4452
@rebnridgway -- It looks like you’re having an issue with installation. If your Visual Studio installation fails, see [Troubleshooting Visual Studio installation and upgrade issues](https://docs.microsoft.com/visualstudio/install/troubleshooting-installation-issues) for step-by-step guidance.​

We also offer a [Live Chat](https://visualstudio.microsoft.com/vs/support/#talktous) (English only) supp

[2019-12-09 21:19] #4452 closed

[2019-12-09 22:53] WilliamAntonRohm commented on #4445
@v-lali -- Thanks for your question. It looks like you're having an issue with the product itself, rather than an issue with the documentation. Here are a few options where you might consider asking your question:​

- [https://social.msdn.microsoft.com/Forums/vstudio](https://social.msdn.microsoft.com/Forums/vstudio)
- [https://www.stackoverflow.com](https://www.stackoverflow.com)
- [https://www.r

[2019-12-09 23:02] WilliamAntonRohm commented on #4444
@ajhmain -- Thanks for letting us know. As this venue is specifically for reporting problems with the documentation, I'm closing this issue now (although the record of your post will remain on file here). You've done the right thing by commenting on this in the Developer Community; that also stays on record. Perhaps the following document might help it gain the traction you're looking for: https:/

[2019-12-09 23:02] #4444 closed

[2019-12-10 00:13] msebolt commented on #4439
Closing the issue now, please comment below if there are any questions.

[2019-12-10 00:13] #4439 closed

[2019-12-10 00:33] Mikejo5000 commented on #4255
Docs are updated new, with Performance Explorer docs removed from VS 2019 view...
Example:
https://docs.microsoft.com/en-us/visualstudio/profiling/performance-explorer?view=vs-2017&viewFallbackFrom=vs-2019

[2019-12-10 00:33] #4255 closed

[2019-12-10 00:39] Mikejo5000 commented on #4447
@ghsatpute I've seen this message when attempting to attach the debugger to client-side script; did you run into this error when you first tried to run the app? Or in the latter part of the tutorial where trying to attach to client-side script? Thanks.

[2019-12-10 00:59] John-Hart commented on #1423
The document has been updated to mention installing on 64-Bit Windows Thanks for the feedback.

[2019-12-10 00:59] #1423 closed

[2019-12-10 08:22] BjornSigurd commented on #4255
Why is Performance Explorer removed from VS 2019?  Performance Explorer is very important.

[2019-12-10 11:31] rebnridgway commented on #4452
Thanks for the quick response.  You are correct that I am having an issue with installation.  I will try one of the other options.

[2019-12-10 14:47] lothrop opened #4456 "Shared configuration for SDK-style projects?"
I was wondering if the shared configuration approach also works for SDK-style projects? I can't seem to get those projects to honor the settings in the shared .editorconfig file. And I can't see the line

[code]

in the csproj file.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8b2b086b-cda0-2741-2b2b-b2d7e87d0ac9
* V

[2019-12-10 15:07] ghsatpute commented on #4447
I was not trying to attach the debugger. I was trying to run the UI application.

[2019-12-10 17:01] Mikejo5000 commented on #4447
OK, thanks. I will retest.

[2019-12-10 17:32] pmisik opened #4459 "Create layout for specific Visual Studio version"
We usually try to upgrade Visual Studio (VS) as soon as possible.
But there are cases when VS introduces code generation bug which forces us to stop upgrading.
Is it possible to create offline layout of specific version of VS?. For example we need to create offline layout of VS2019 16.3.9
There is no example in documentation.
If it is supported could you please add it?

Thank You

https://docs.mic

[2019-12-10 17:36] Mikejo5000 commented on #4367
From this article:
https://devblogs.microsoft.com/dotnet/announcing-net-core-3-preview-1-and-open-sourcing-windows-desktop-frameworks/
and the info in this section:
Applications now have executables by default
It seems possible that you would find it under myappname.exe.

[2019-12-10 17:39] #4459 closed

[2019-12-10 17:42] pmisik opened #4460 "Create layout for specific Visual Studio version"
We usually try to upgrade Visual Studio (VS) as soon as possible.
But there are cases when VS introduces code generation bug which forces us to stop upgrading.
Is it possible to create offline layout of specific version of VS?
For example we need to create offline layout of VS2019 16.3.9.
On https://my.visualstudio.com is available just 16.0 or 16.4 that we cannot use we exactly need 16.3.9
There

[2019-12-10 18:26] WilliamAntonRohm commented on #4456
@lothrop -- Kerry, thanks for your question. It looks like you're having an issue with the product itself, rather than an issue with the documentation. Here are a few options where you might consider asking your question:​

- [https://social.msdn.microsoft.com/Forums/vstudio](https://social.msdn.microsoft.com/Forums/vstudio)
- [https://www.stackoverflow.com](https://www.stackoverflow.com)
- [https

[2019-12-10 18:26] #4456 closed

[2019-12-10 18:32] WilliamAntonRohm commented on #4460
@pmisik -- Pavol, it looks like you’re having an issue with installation. If your Visual Studio installation fails, see [Troubleshooting Visual Studio installation and upgrade issues](https://docs.microsoft.com/visualstudio/install/troubleshooting-installation-issues) for step-by-step guidance.​

We also offer a [Live Chat](https://visualstudio.microsoft.com/vs/support/#talktous) (English only) su

[2019-12-10 18:32] #4460 closed

[2019-12-10 18:46] TerryGLee commented on #4441
@PhillRoyle Thanks for your feedback; we appreciate both it and the suggestions on how to improve the document. We'll keep these suggestions on file for a future update to the document. Thanks again!

[2019-12-10 18:46] #4441 closed

[2019-12-10 18:47] JoshuaPartlow commented on #3278
@huguesv - Any ideas here what the default should be? Thanks!

[2019-12-10 18:48] JoshuaPartlow commented on #3302
@zooba - Any thoughts here?

[2019-12-10 18:52] Anapo14 commented on #3358
@bschnurr any thoughts here?

[2019-12-10 18:56] JoshuaPartlow commented on #4271
@zooba - Could you comment here?

[2019-12-10 19:00] JoshuaPartlow commented on #4374
@RaymonGulati1 - Could you take a look at this issue and comment?

[2019-12-10 19:04] Anapo14 commented on #4414
@int19h could you add some thoughts here? Thanks!

[2019-12-10 19:12] dominicgrayDHG opened #4462 "Not seeing Data tab in Visual Studio Blend"
Unable to create sample data like I used to in Blend for a UWP project as I no longer see Data tab.

Microsoft Blend for Visual Studio Community 2019
Version 16.4.0

Microsoft Blend for Visual Studio Community 2019
Version 16.4.0
VisualStudio.16.Release/16.4.0+29519.181
Microsoft .NET Framework
Version 4.7.03056

Installed Version: Blend

---
#### Document Details

⚠ *Do not edit this section. It