[2019-07-24 22:44] ghogen commented on #3220
This is a product issue, which is already planned to be addressed in an update to Visual Studio. I think we can close this as a doc issue.

[2019-07-24 22:44] #3220 closed

[2019-07-25 01:03] kendrahavens opened #3681 "Major Test Explorer Update in 16.2"
There was a major test explorer update in Visual Studio 2019 16.2 and as of this morning 16.2 is GA released!

- [Read more in the Release notes](https://docs.microsoft.com/en-us/visualstudio/releases/2019/release-notes#test-explorer)
- [Blog](https://devblogs.microsoft.com/visualstudio/visual-studio-2019-version-16-1-generally-available-and-16-2-preview-1/)

Several docs should be updated with 20

[2019-07-25 02:00] WilliamAntonRohm commented on #3571
I updated the paths accordingly, and the updated documentation should be live by tomorrow.

[2019-07-25 02:00] #3571 closed

[2019-07-25 15:48] IngmarBitter opened #3683 "Custom color palette in color chooser"
I'd like to provide my own color palette in the area of "Basic colors" of the color chooser used in VS2019 Options-&gt;Fonts and Colors-&gt;Idem foreground-&gt;Custom...
Seems really hard to find instructions on how to do that.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c56e9562-f71c-8427-8d3d-0b0891f79fc0
* Versio

[2019-07-25 16:50] WilliamAntonRohm commented on #3683
@IngmarBitter Thanks for your question. It looks like you're having an issue with the product itself, rather than an issue with the documentation. Here are a few options where you might consider asking your question:​
[https://social.msdn.microsoft.com/Forums/vstudio](https://social.msdn.microsoft.com/Forums/vstudio)
[https://www.stackoverflow.com](https://www.stackoverflow.com)
[https://www.reddi

[2019-07-25 16:50] #3683 closed

[2019-07-25 19:25] Mikejo5000 commented on #3636
Need more info on this.

[2019-07-25 19:25] #3636 closed

[2019-07-25 19:31] Mikejo5000 commented on #3399
@armanio123 Is the location of node_modules configurable through the properties?

[2019-07-25 19:32] Mikejo5000 commented on #3624
I think I'll leave doc as-is for now. Thanks!

[2019-07-25 19:32] #3624 closed

[2019-07-25 20:03] TerryGLee commented on #2930
Thanks everyone for your comments thus far; in them, questions have been asked and also answered, including that from the original poster. I am closing this issue now; however, you can still make comments to the thread if you wish. And if there is another question that anyone has that hasn't been answered here, please feel free to open a new GitHub Issue.

[2019-07-25 20:03] #2930 closed

[2019-07-25 21:04] Mikejo5000 commented on #3434
There are some more docs planned for this area, but it's on the backlog. Do you have access here:
https://github.com/Microsoft/JSTSdocs

[2019-07-25 21:04] gewarren commented on #3370
Should this be assigned to Mika instead of Kendra?

[2019-07-25 21:05] Mikejo5000 commented on #3539
Need more info

[2019-07-25 21:05] #3539 closed

[2019-07-25 21:18] Mikejo5000 commented on #3381
This doesn't appear to be supported, as far as I can tell.

[2019-07-25 21:20] #3443 closed

[2019-07-25 21:40] Mikejo5000 commented on #2394
It is supported on an inherited class. Updating the doc.

[2019-07-26 02:23] jordanmills commented on #3443
I missed that message (I see the email now).  I think it was VS 2017 and 2014(?).  Yes the links want me to sign in, that was the problem.  It's lame when they put a human-only interface in front of a download link, needs to be fixed.

[2019-07-26 09:32] cremor opened #3686 "Document the setting 'csharp_style_prefer_switch_expression'"
VS2019 16.2 added the setting `csharp_style_prefer_switch_expression`. Please add it to the documentation.
See dotnet/roslyn#31812

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5299f22f-4b0f-9e81-883e-d34b2b520bf2
* Version Independent ID: 6a9db168-c592-29a0-59b7-1ff2f517e558
* Content: [.NET language conventions for

[2019-07-26 10:11] Bartolomeus-649 commented on #3434
I don't get a 404 or something like that when visiting https://github.com/Microsoft/JSTSdocs , but I have no way of knowing if I see everything there or not.

[2019-07-26 12:51] DrPepperBianco opened #3687 "Example missing"
I have no clue how to use this! - What do I input into "CombinedPaths". How can I use this result in the next step.

I strongly recommend to add an example to this page!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d2fdd0c-4608-e658-dfae-4bff01525c26
* Version Independent ID: 6e8ef03c-b66c-446a-9b93-957903875ee5
* C

[2019-07-26 15:46] Mikejo5000 commented on #3443
I don't believe you need to sign in for the VS 2019, but you do for VS 2017/2015, because those links are on my.visualstudio.com, which was a business decision.

[2019-07-26 15:48] Mikejo5000 commented on #3434
You probably see everything. Some of the articles here are stubs, but some we plan to move to the main doc site. None are probably basic Hello World articles for plain TS, but there are some TS docs here.

[2019-07-26 19:49] gewarren commented on #3301
Trust Settings is documented here: https://docs.microsoft.com/en-us/visualstudio/ide/reference/trust-settings?view=vs-2019

[2019-07-26 19:52] gewarren commented on #3301
Product Updates is documented here, and F1 goes to this page too: https://docs.microsoft.com/en-us/visualstudio/install/update-visual-studio?view=vs-2019#customize-update-settings

[2019-07-26 20:33] ghogen commented on #2810
Added a section for a console app in May - I think we can close now.  There should be no need to do anything to add the remote debugger components to the container- both VS 2017 and VS 2019 do this.

[2019-07-26 20:33] #2810 closed

[2019-07-26 20:37] ghogen commented on #3078
Added a section to https://docs.microsoft.com/en-us/visualstudio/containers/edit-and-refresh?view=vs-2019 in May, 2019 that covers the basic .NET Framework console app debug scenario - note there is no need to install remote debugging components manually in either VS 2017 or VS 2019.

It doesn't cover a Windows Service scenario, but the Windows Service project template is not one of the supported

[2019-07-26 20:37] #3078 closed

[2019-07-26 20:41] ghogen commented on #3542
I'm not sure the suggested scenario makes sense - why not use port 443 for HTTPS connections.  Typically, port 80 is used for HTTP and 443 for HTTPS connections.  @simonziegler can you clarify?

[2019-07-26 21:08] Rick-Anderson commented on #3301
I was looking for a link to tell folks how to select `Use previews of .NET Core SDK` so I didn't have to explain that.

[2019-07-26 21:16] gewarren commented on #3301
I'm adding a Preview Features page now, and you can update your fwlink to point there. This issue will close automatically once it's live.

[2019-07-26 22:01] armanio123 commented on #3399
@Mikejo5000 I believe there are some ways of changing the node_modules path but is not Visual Studio specific configuration. Also, I understand the limitation is on the NPM node itself which requires to have a `package.json` on the root path of the project.

[2019-07-26 23:20] gewarren commented on #3139
Edit to trigger priority labeling.

[2019-07-26 23:31] gewarren commented on #3139
@johnnyasantoss The article states that jagged arrays use less memory space than multidimensional arrays. @mavasani Can you comment on whether this is the only reason why CA1814 recommends jagged arrays over multidimensional?

This [SO post](https://stackoverflow.com/questions/597720/what-are-the-differences-between-a-multidimensional-array-and-an-array-of-arrays) has a nice discussion of the pros

[2019-07-26 23:32] gewarren commented on #3164
Edit to trigger priority labeling.

[2019-07-26 23:35] gewarren commented on #3175
@RyanMConstable One of our PMs recently tried out the tutorial and he had no did not encounter any errors. Take a look at his advice [here](https://github.com/MicrosoftDocs/visualstudio-docs/issues/3075#issuecomment-513050915). If you continue to encounter errors after rechecking your work, here are a few options where you might consider asking for help:​

https://social.msdn.microsoft.com/Forums/

[2019-07-26 23:35] #3175 closed

[2019-07-26 23:36] gewarren commented on #3213
Edit to trigger priority labeling.

[2019-07-26 23:37] gewarren commented on #3217
@AbhitejJohn Should `<Parallelize>` be added to this document?

[2019-07-26 23:47] AbhitejJohn commented on #3217
@gewarren , @alainbryden : it'd probably be nice to add all these new features in a runsettings format under https://github.com/microsoft/testfx-docs and add a comment in docs linking to this, because that's where all documentation for MSTest is kept up-to-date. I've filed [this](https://github.com/microsoft/testfx-docs/issues/74) issue in testfx to track that.

[2019-07-27 00:27] Mikejo5000 commented on #3399
OK, thx, Armando @jitterbox I don't know if this will meet your requirements for VS integration, but I created and ran the .NET Core template as described here:
https://docs.microsoft.com/en-us/aspnet/core/client-side/spa/angular?view=aspnetcore-2.2&tabs=visual-studio
Then I closed the project and opened it as a folder, as described here:
https://docs.microsoft.com/en-us/visualstudio/javascript/de

[2019-07-27 17:43] ayenimiracle commented on #2930
Can someone tells me how to modify the visual studio 2019 installer without removing the previous installed products?

[2019-07-27 19:14] TrevCan opened #3689 "Unrecognized Database format"
![image](https://user-images.githubusercontent.com/44383325/61998648-a73f0500-b078-11e9-9246-81350d4941d8.png)

[2019-07-28 09:40] RayKoopa commented on #3017
Also awaiting an option to reset or download synced settings. The latter especially to conform to EU data protection laws.

[2019-07-29 02:03] pawtonyjack opened #3691 "Migration Inquiry: 2008 to 2019"
Hi!

We have a working application that was developed using VS 2008 (VB with Crystal Report Basic for VS 2008), with a back-end using SQL Server 2008. Upon reading this article, we assumed there could be minor to none compatibility issues once an old version is migrated to the latest one. Still, we would like to seek professional guidance from you. What could be the compatibility issues we could e

[2019-07-29 08:22] echuck66 opened #3692 "This doesn't work"
What do you do when your existing Azure app services do not show up and when creating a new one creates a new service, but will not publish. All attempts to publish the web app result in a 405 (Method not allowed) error. This worked before with vs2019, and I had no issues in vs2017, but has since stopped working in vs2019.

I really wish Microsoft would proof their code a bit better before releasi

[2019-07-29 15:29] msebolt commented on #3598
Closing due to inaction, please add the log file to the support issue as described above if there are further issues.

[2019-07-29 15:29] #3598 closed

[2019-07-29 15:52] msebolt commented on #3689
@TrevCan  Thank you for the feedback.

It appears you are trying to open an Access database file in Visual Studio, a feature currently unsupported at this time.

Please try the [Suggest a feature](https://docs.microsoft.com/visualstudio/ide/suggest-a-feature?view=vs-2019) to have this added in a future release.

[2019-07-29 15:52] #3689 closed

[2019-07-29 16:07] neoDD69 commented on #1990
@seaniyer, @gewarren
I' tried, but with a poor result:
"Problems (4261) Features (3) Activities "
Note: :) I never subscribed, or reported, 4261 problems!!! I'm there from 2016 and I suppose this is one of several bugs that the Web site have.

The problem, from our POV (developers), that is very difficult to interact with issues.
- Is hard to follow My Issue
- is hard to follow Issue that I've con

[2019-07-29 16:10] msebolt commented on #3691
@pawtonyjack Thank you for the question.

Crystal Reports is [no longer directly supported](https://support.microsoft.com/en-us/help/317789/support-for-crystal-reports-for-visual-studio) in Visual Studio and is now supported with the [SAP extension](https://marketplace.visualstudio.com/items?itemName=SAP.CRforVS) from the Visual Studio marketplace.

Also, please consider downloading the [latest pr

[2019-07-29 16:10] #3691 closed

[2019-07-29 16:15] msebolt commented on #3692
@echuck66 Thank you for the feedback, we appreciate it.

To make sure that this is logged in the right place, please use the [Report a Problem](https://docs.microsoft.com/visualstudio/ide/how-to-report-a-problem-with-visual-studio) tool to report the issue.

The report is then listed in the in the [Visual Studio Developer Community](https://developercommunity.visualstudio.com/) and allows you to e

[2019-07-29 16:21] echuck66 commented on #3692
Please explain why you closed this without providing a working solution or even a comment about what is wrong... It's starting to look like everyone is closing tickets because you have no desire to crack open a rabbit hole of problems..

[2019-07-29 16:45] msebolt commented on #3692
@echuck66 Please provide a specific example and I will re-open the issue and have the engineering team diagnose.

[2019-07-29 16:49] echuck66 commented on #3692
I have reported bugs via Visual Studio. What do you need? Log files? Screenshots? Azure portal info? Please elaborate.

If you google issues for publish to Azure and look for '405 Method Not Authorized', or Azure App Services do not show up in the list, or any variety of publishing issues, you'll find ticket after ticket that was closed with no explanation of the cause or a solution.

I run a deve

[2019-07-29 16:51] echuck66 commented on #3692
At a very minimum, this documentation should provide links to troubleshooting guidance, lists of issues related to the deployment process, and what to do if things don't go as advertised. This documentation is nothing but a happy-path scenario.

[2019-07-29 16:56] msebolt commented on #3692
@echuck66 Okay, let's have the article re-tested then.

[2019-07-29 17:05] gewarren commented on #3217
Keeping this issue open until the testfx-docs issue is fixed, and then we'll link to that document.

[2019-07-29 17:05] Mikejo5000 commented on #3399
Until we have more info, I will put a note about this into this topic.

[2019-07-29 17:59] #3301 closed

[2019-07-29 18:01] weitzhandler commented on #1990
@neoDD69 I don't complete agree.
When you 'Follow' feedback items, you do get an email for any response on the thread.
I do agree that things could be more accessible and user friendlier.

[2019-07-29 18:16] seaniyer commented on #1990
@neoDD69

Hi Davide,
Thanks for your input that it is hard to follow your own issues.  We are looking into improving the experience.  I notice that you are following three large topics C#, editor and Windows forms.  Following topics results in following the feedback within the topics.  You can unfollow those topics to prevent further increase in the items followed.

I also saw you may have opened

[2019-07-29 19:04] nschonni commented on #1990
@seaniyer is there actually a support channel though? I also am supposed to get daily digests, but I just get a dozen emails every Friday instead. Because of the usability problems, I don't bother using DevCom since it just seems like Connect all over again.

[2019-07-29 19:59] Mikejo5000 commented on #3076
Thanks for the feedback. Asking about this...

[2019-07-29 20:22] Mikejo5000 commented on #1154
Asked @rainersigwald about this.

[2019-07-29 20:40] rainersigwald commented on #1154
This page should add 4.7.2 and 4.8, since they're supported by the type of projects it's mostly covering.

I think it'd also be a good idea to put something along the lines of this in this article

It's definitely very confusing to have these parallel constructions, and someone stumbling along this page while looking for https://docs.microsoft.com/en-us/dotnet/standard/frameworks#how-to-specify-ta

[2019-07-29 21:34] Mikejo5000 commented on #1154
Thanks! Updating doc

[2019-07-29 22:05] Mikejo5000 commented on #3076
Updating doc. Noting in doc that it is a limited form of regular expression support.

[2019-07-29 22:14] Mikejo5000 commented on #588
@rainersigwald Rainer, do you know if there's a way to do this?

[2019-07-29 22:22] rainersigwald commented on #588
I'm not sure I understand the question. If it's "is it possible to remove the GAC as a resolution source for bare references" the answer is yes, by removing `{GAC}` from `$(AssemblySearchPaths)` (it is there by default).

[2019-07-30 07:35] neoDD69 commented on #1990
@seaniyer,
It's a good news that someone look at the usability and productivity of the web site. It's years that I try to evidence some lacks.

Your are right some months ago I tried to un follow the "groups" but without any result ... all "followed" issue remain followed!!
Can you UNSCRIBE my account from any issue? For me, user, there is not a way to do this (another bug)

About my "second" acco

[2019-07-30 15:55] Mikejo5000 commented on #1629
This is a great idea for a topic, but the work is currently out of scope for MSBuild docs

[2019-07-30 15:55] #1629 closed

[2019-07-30 16:53] baruchiro opened #3695 "Code Analysis settings is deprecated?"
![image](https://user-images.githubusercontent.com/17686879/62149116-aff73b80-b303-11e9-8b3c-4e2d6180427c.png)

VS 2019.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 111c5e43-7341-3c2a-3130-e11aa0e0af50
* Version Independent ID: db4f1bef-94ee-0ce1-6b13-9966364b498b
* Content: [Configure Code Analysis - Visual Studio]

[2019-07-30 16:58] Mikejo5000 commented on #1783
<LinkBase> looks like it's specific to SDK-style projects. Closing this one in favor of #2016.

[2019-07-30 16:58] #1783 closed

[2019-07-30 17:02] Mikejo5000 commented on #1258
@rainersigwald Rainer, do these updates seem reasonable?

[2019-07-30 17:17] rainersigwald commented on #1258
I have a half-written doc talking about some of these here: https://gist.github.com/rainersigwald/1fbd21a24a41b9b7c6204cb9cfcbb1cf

Until I get around to finishing that, I think these are some good suggestions.

1. Yes, something like "when specified, `Properties` metadata overrides the task's `Properties` parameter, while `AdditionalProperties` are appended to the parameter's definitions" would b

[2019-07-30 17:18] sayedihashimi commented on #3692
Hi @echuck66, I'm sorry that you are running into these issues. I'm a PM working in this area. I'd like to get more info to see what's going on. If you have some time, perhaps we can have a quick meeting so that I can see what you're experiencing. Please email me at sayedha at MICROSOFT dot COM.

[2019-07-30 17:19] Mikejo5000 commented on #2016
#1783 mentions LinkBase

[2019-07-30 17:26] echuck66 commented on #3692
Thank you. It appears as if the problem was the App Service OS type. I had chosen Linux, and those services never displayed in Visual Studio (Mac). Once I created Windows app services, I was able to see and deploy to them. It took a while last night, but I was able to get things configured.

I was suggesting someone add some type of FAQ or troubleshooting guide because I see a lot of people had th

[2019-07-30 17:36] gewarren commented on #3695
Yes, the settings page you referenced does not apply to the new code analyzers. Please see https://docs.microsoft.com/en-us/visualstudio/code-quality/roslyn-analyzers-overview?view=vs-2019#roslyn-analyzers-vs-static-code-analysis for more details about legacy vs. current code analysis.

[2019-07-30 17:36] #3695 closed

[2019-07-30 17:40] #1154 closed

[2019-07-30 17:40] #3076 closed

[2019-07-30 17:40] #3399 closed

[2019-07-30 17:45] Mikejo5000 commented on #1258
For #2, what about this?
MSBuild creates a single project instance for a given project path and a unique set of global properties. For example, this behavior allows you to create multiple MSBuild tasks that call *myproject.proj*, with Configuration=Release and you get a single instance of *myproject.proj* (if no unique properties are specified in the task). If you specify a property that has not y

[2019-07-30 18:19] Mikejo5000 commented on #1258
Updating the docs. Thanks!

[2019-07-30 19:15] BicycleMark opened #3697 "Can I switch back from Preview Channel and get previous version VS4Mac?"
If I switch back to stable will I get previous version of VS4Mac
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b8f3608c-d434-e892-85db-032af35f919b
* Version Independent ID: d546284e-5cd8-6a41-790b-5302b628d357
* Content: [Updating Visual Studio for Mac - Visual Studio 2019 for Mac](https://docs.

[2019-07-30 19:25] caojinqin opened #3698 "Could not load type 'Microsoft.EntityFrameworkCore.Infrastructure.IDbContextOptionsExtensionWithDebugInfo' from assembly 'Microsoft.EntityFrameworkCore, Version=3.0.0.0, Culture=neutral, PublicKeyToken=adb9793829ddae60'."
I can't generate Controllers in EF Power Tools.

Could not load type 'Microsoft.EntityFrameworkCore.Infrastructure.IDbContextOptionsExtensionWithDebugInfo' from assembly 'Microsoft.EntityFrameworkCore, Version=3.0.0.0, Culture=neutral, PublicKeyToken=adb9793829ddae60'.

My csproj file:

<Project Sdk="Microsoft.NET.Sdk.Web">

  <PropertyGroup>
    <TargetFramework>netcoreapp3.0</TargetFramework>

[2019-07-30 19:30] Mikejo5000 commented on #1989
Updating doc

[2019-07-30 19:32] Mikejo5000 commented on #1988
Updating doc

[2019-07-30 21:04] stewl opened #3699 "Vertical scroll bar in VS VB"
I can not find information about the various indicators in the vertical scroll bar. I see larger and smaller grey rectangles, smaller green and red and orange rectangles of various heights - some of them are distributed in three vertical rows within the scroll bar. And a thin horizontal line.
I did see a help page that said orange blocks could indicate searched and/or replaced items.
Please explai

[2019-07-30 21:55] Mikejo5000 commented on #283
Updating doc

[2019-07-30 22:16] msebolt commented on #3698
@caojinqin We're sorry to hear you're having issues.

This appears to be an issue with [fixed with version 6 preview](https://stackoverflow.com/questions/56999602/could-not-load-type) of `EntityFrameworkCore.SqlServer`.

[2019-07-30 22:19] Mikejo5000 commented on #1980
Links to tools on this page were outdated:
https://docs.microsoft.com/en-us/visualstudio/debugger/using-the-intellitrace-stand-alone-collector?view=vs-2017#BKMK_Install_the_IntelliTrace_Stand_Alone_Collector
Updating this page. It's best if we keep the links in one place.
The IntelliTrace overview already links to this page, so that page appears to be OK.

[2019-07-30 22:24] Mikejo5000 commented on #1881
@rainersigwald Rainer, do you have any suggestions for this one? Thx.

[2019-07-30 22:31] Mikejo5000 commented on #1866
Doc is missing a link to more info in Customize your build article. Adding link.

[2019-07-30 22:32] msebolt commented on #3699
@stewl Thank you for the feedback.

Please see [this blog post](https://blogs.msdn.microsoft.com/cdnstudents/2014/01/21/visual-studio-tips-and-tricks-enhanced-scroll-bar/) for more information, which has now been added to the documentation for further reference.

[2019-07-30 22:32] #3699 closed

[2019-07-30 22:47] mklosterboer opened #3700 "Expand on FAQ - LSP Extension for Existing Languages"
One of the FAQ's in the article below mentions that LSP language server extensions are not intended for tasks such as Linting, but provides no alternative route.

If trying to extend already supporting languages for linting, is there a recommended path? If so, could this be added to the FAQ?

In my case, I'm researching creating an extension to add support for .ts and .tsx file extensions for the

[2019-07-30 22:48] Mikejo5000 commented on #1757
Updating doc

[2019-07-30 22:50] Mikejo5000 commented on #1696
This is a good idea, but the work is currently out of scope.

[2019-07-30 22:50] #1696 closed

[2019-07-30 23:04] Mikejo5000 commented on #1526
Updating doc, adding link

[2019-07-30 23:05] Mikejo5000 commented on #1527
Adding more info on website URL and a link.

[2019-07-30 23:17] rnburn opened #3701 "Provide actual direct download links!"
The links provided don't actually provide the file. If someone wants to install via the command line, it's likely that they'll also want to download from the command line.

Please prove a link so that you can run
curl -O &lt;link&gt;
and get the actual installer.

The links mentioned just give a mess of html.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2019-07-31 16:15] jcridgeNATS opened #3702 "Error using selected REPL back-end / IPython 0.11 or later required"
The following community suggestion
https://github.com/microsoft/PTVS/issues/5279
fixes the unexpected error that occurs under the REPL Step 3.3
i.e.
"Error using selected REPL back-end:
IPython mode requires IPython 0.11 or later: No module named 'IPython'
Using standard backend instead"

etc

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2019-07-31 17:22] TerryGLee commented on #3701
@rnburn Thanks for your feedback. Currently, we provide access to the bootstrapper via the https://visualstudio.microsoft.com/ web page. The **[Create an offline installation of Visual Studio](https://docs.microsoft.com/en-us/visualstudio/install/create-an-offline-installation-of-visual-studio?view=vs-2019)** page includes direct download URLs for specific editions. And, the command-line process i

[2019-07-31 17:22] #3701 closed

[2019-07-31 17:42] #1258 closed

[2019-07-31 17:42] #2265 closed

[2019-07-31 17:42] #283 closed

[2019-07-31 17:42] #1980 closed

[2019-07-31 17:42] #1988 closed

[2019-07-31 17:42] #1989 closed

[2019-07-31 17:42] #1526 closed

[2019-07-31 17:42] #1757 closed

[2019-07-31 17:42] #1866 closed

[2019-07-31 17:42] #1527 closed

[2019-07-31 17:56] CEEverett opened #3704 "Cannot Process SSAS Tabular Models with an SSAS-Based Data Source with Analysis Services Projects Extension v2.8.17"
After the Analysis Services Projects extension updated to 2.8.17, my colleagues and I receive the following error when we try to add or process an SSAS model as a data source to a new or existing model with 1400 level compatibility:

Could not load file or assembly 'Microsoft.PowerBI.AdomdClient, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91' or one of its dependencies. Strong

[2019-07-31 18:10] WilliamAntonRohm commented on #3697
Thanks for your question. It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation. Here are a couple of options where you might consider asking your question:
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.ne

[2019-07-31 18:10] #3697 closed

[2019-07-31 18:40] geeeyetee commented on #1258
Thank you very much, @rainersigwald, @Mikejo5000 and @gewarren!

[2019-07-31 22:06] Mikejo5000 commented on #606
Property looks specific to C++ and maybe extensibility also. I don't see any docs on this subject, but it would probably belong in C++ if it were doc'ed. I looked through their docs, and it doesn't look like they are doc'ing every property either (though that would be nice). Closing as out of scope.

[2019-07-31 22:06] #606 closed

[2019-07-31 22:15] Mikejo5000 commented on #1190
There are a lot of potential examples that could be shown here, but most examples are in the Task Reference (tasks like Copy and Csc), including examples with outputs. I will add a link to the ref docs.

[2019-07-31 23:15] drewnoakes commented on #2394
The other half of this was not addressed:

If a type overrides `ToString` and has a `DebuggerDisplay` attribute, which is used in the debugger?

In my experience there's inconsistency on when the attribute is used vs when `ToString` is used. This has led me to replacing `DebuggerDisplay` with `ToString` on types I control.

A specific example of inconsistency is seen when expanding a dictionary de

[2019-07-31 23:38] zachlanger19 opened #3707 "No Pictures to Reference"
There are no pictures of what the final product should look like (intermediary steps would also be appreciated). So, I have no idea if what I did produced the expected outcome. Also, it would be useful to determine the type of extension I'm interested in. I.E.: Is a toolbar what I really want or should I go with a menu? IDK, I guess I'll code both to find out. It would be super useful. It could be

[2019-08-01 08:18] penenkel opened #3708 "Differentiate between PublishURL and PublishDir"
As far as I can tell, the Wizard populates and uses the *PublishURL* parameter to specify the output location. The msbuild command on the other hand seems to ignore *PublishURL* and instead requires the use of *PublishDir*. This really should be mentioned here especially as it conflicts with the information provided in step 4 and 5 of "To reproduce the build from the command line". (Using VS 16.2)

[2019-08-01 10:38] oddbear commented on #2018
@xJonathanLEI Some projects might have a different default through the `-checked` option _(and good reason for it to)_, should be up to them if they need it or not. And can libraries then rely on this being the default behavior at all?

[2019-08-01 12:24] dengyakui opened #3709 "cant' downlod the "PeopleTrax Sample" application"
it's link was correct, and can'd find the application

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 436e19f7-ac7c-0f0e-f128-2ec79336d192
* Version Independent ID: fa1e33fa-51a5-8d77-7005-f28b1bd4db47
* Content: [Walkthrough: Command-Line Profiling Using Sampling - Visual Studio](https://docs.microsoft.com/en-us/visual

[2019-08-01 16:10] jcridgeNATS opened #3710 "Double-click a file in the Changes list to open a diff view for that file: / DID NOT SHOW CONTENT in 2nd pane"
If I DO NOT commit the changes in Step4, I DO have a file to double click on as per the diagram. However, the comparison of 2 files side by side does not seem to work as expected. I DO get some sort of split pane but there is no content in the RHS pane.

If I do COMMIT the changes in Step4, I do NOT have a file to double click on as per the diagram. In general I would slightly re-word step 4 to en

[2019-08-01 17:15] Alan-d opened #3711 "UsingTask does not work properly with 32-bit msbuild + 64-bit dll"
As stated in the title.  It gives a 'Could not load file or assembly' error.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 96b3f5bf-9736-884e-9d08-e9422b4891a5
* Version Independent ID: fa34a483-01a9-8062-ac26-a0c8de0821b5
* Content: [UsingTask Element (MSBuild) - Visual Studio](https://docs.microsoft.com/en-us/visual

[2019-08-01 17:26] msebolt commented on #3700
@mklosterboer Thank you for the question.

As the article states, it's best to [extend a supported language](https://docs.microsoft.com/en-us/visualstudio/extensibility/extending-the-editor-and-language-services?view=vs-2019) and determine which editor feature you want to support the Linting.

Please check out [editor and extension points](https://docs.microsoft.com/en-us/visualstudio/extensibilit

[2019-08-01 17:34] msebolt commented on #3700
...or consider the [VS Code Extension API](https://code.visualstudio.com/api).

[2019-08-01 17:34] #3700 closed

[2019-08-01 18:14] msebolt commented on #3704
@CEEverett We apologize for the issues you're experiencing.

It sounds like you will need to uninstall the extension and manually install using the previous version's VSIX download.

If this option isn't available, please use the [Azure Analysis Services forum](https://feedback.azure.com/forums/556165-azure-analysis-services) to report the issue and/or request that previous versions be available f

[2019-08-01 18:14] #3704 closed

[2019-08-01 19:30] pmartin-brierley opened #3713 "ENTRYPOINT command doesn't work on Docker version 19.03.1"
The ENTRYPOINT that ends with && does not work on 19.03.1 version of docker.  I am getting the following warning when building the image:
[Warning] Shell-form ENTRYPOINT and exec-form CMD may have unexpected results

When trying to run the container, I get the following error:
Error response from daemon: container .... encountered an error during CreateProcess: failure in a Windows system call: Th

[2019-08-01 19:59] CEEverett commented on #3704
Thank you! Is there an MSDN article that lists out the steps on manually installing the previous version from the VSIX download? I assume I can probably find this in some of the different forums but would prefer an official process. Thanks again.

[2019-08-01 20:08] msebolt commented on #3704
@CEEverett You're welcome, thank you for the feedback.

It appears that the most suitable content is a [post](https://superuser.com/questions/73675/how-do-i-install-a-vsix-file-in-visual-studio) on **Stack Overflow**, though you can always make the suggestion on [Anatomy of a VSIX](https://docs.microsoft.com/visualstudio/extensibility/anatomy-of-a-vsix-package?view=vs-2019) in **Microsoft Docs**.

[2019-08-01 21:24] Mikejo5000 commented on #2809
I tested the last two examples on the page (the project XML code that invokes SampleTask3), and yes, I'm having difficulty getting it to work. Specifically, the Log.LogMessage throws InvalidOperationException, with the message "Task attempted to log before it was initialized..." @rainersigward Rainer, do you have any thoughts about making the sample more complete?

[2019-08-01 21:27] Mikejo5000 commented on #2934
@rainersigwald Rainer, do you have any thoughts on a sample update here?

[2019-08-01 21:35] Mikejo5000 commented on #1190
#2809 also shows a request for an updated sample

[2019-08-01 21:36] Mikejo5000 commented on #588
We will need more context for this before making a doc change. Closing for now.

[2019-08-01 21:36] #588 closed

[2019-08-01 21:36] seaniyer commented on #1990
@nschonni - The best channel to reach us at this time is to submit a feedback via Visual Studio Feedback tool or Developer Community site. Regarding frequency of emails, you can see manage them under your profile and preferences page on DevCom (screenshot showing navigation to the page below). Let me know if you have any trouble finding it.
![1](https://user-images.githubusercontent.com/41308619/6

[2019-08-01 21:50] rainersigwald commented on #2809
@Mikejo5000 I'd like to hear more about your failure. I just tried with that example and it worked fine: [2809.zip](https://github.com/MicrosoftDocs/visualstudio-docs/files/3458775/2809.zip)

[2019-08-02 00:29] Mikejo5000 commented on #2809
I'm sure it's something incorrect in my environment or the command I'm using (.NET Framework project). I tried your zip, and I can build the DLL fine using "dotnet msbuild -restore". I just need to test it.

[2019-08-02 11:06] DrGriff opened #3714 "CA1707 - Microsoft should ensure their code adheres to all FxCop rules."
Using the latest Roslyn FxCop analyzers and for my MvcApplication class it's complaining about the methods:
protected void Application_Start()
protected void Application_End()

Suggest Microsoft follow these rules....
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06cee199-3ccc-7575-2c1d-296e2714a16e
* Version Independe

[2019-08-02 11:33] DrGriff opened #3717 "Link to "Data Transfer Object (DTO)" outdated"
In the section When To Suppress Warnings, the link is to a document that is no longer maintained.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8db6af07-b7d6-9395-223e-1a0f83fb2405
* Version Independent ID: 5ee87730-ff01-2571-494e-91d29c5fe211
* Content: [CA2227: Collection properties should be read only - Visual Stud

[2019-08-02 15:02] irongut opened #3718 "Incorrect values for Severity drop down"
"For each code style setting on this page, you can set the Preference and Severity values using the drop-downs on each line. Severity can be set to None, Suggestion, Warning, or Error."

In VS2019 v16.2 the options available in the Severity drop-down are: Refactoring Only, Suggestion, Warning, Error

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2019-08-02 15:50] AlthalusDGr8 opened #3719 "Missing option: Open SDK-Style Project files"
There is a missing explanation of the open SD-style project files with double-sclick or the Enter key

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 28461613-82d6-e8f7-7f12-da24a594775d
* Version Independent ID: d7758211-e43d-9fca-4ca2-52be17a7cd63
* Content: [Projects and Solutions, Options dialog box - Visual Studio]

[2019-08-02 16:05] msebolt commented on #3707
@zachlanger19 Thank you for the feedback.

We strive to bring the best tutorials Visual Studio has to offer and apologize for the confusion.

As infrequent as screenshots are, some articles still include them, see [Extend the Properties, Task List, Output, and Options windows](https://docs.microsoft.com/en-us/visualstudio/extensibility/extending-the-properties-task-list-output-and-options-windows?

[2019-08-02 16:06] Mikejo5000 commented on #2809
Tested fine after fixing the path reference. So, in terms of the original issue here, the request is for a "Hello World" type example, which probably means a more E2E experience. I would say that doesn't really belong in this topic, though perhaps in a "Get started" topic similar to the two walkthroughs. (What could be added in a walkthrough is SimpleTask.csproj, nuget.config file, the dotnet CLI

[2019-08-02 16:07] #3698 closed

[2019-08-02 16:25] msebolt commented on #3702
@jcridgeNATS Thank you for the feedback.

Your change has been added to the documentation.

[2019-08-02 16:25] #3702 closed

[2019-08-02 17:04] gewarren commented on #3213
@RowlandShaw You are asking how to set the target framework in a project _template_, correct? I created a .NET Core 2.2 project and then [exported it as a template](https://docs.microsoft.com/en-us/visualstudio/ide/how-to-create-project-templates?view=vs-2019). The project file in the template contains the following - `TargetFramework` specifies the .NET Core version:

[code]

For a .NET Core 3.0

[2019-08-02 17:04] #3213 closed

[2019-08-02 18:06] WilliamAntonRohm commented on #3568
@JoshuaPartlow -- please advise on this issue at your convenience.

[2019-08-02 18:24] range4life commented on #1457
VSCode remote is great and definitely cleaner (it is what I do on my workstation for debugging) But it shouldn't be the case that we have to use it simply because the documentation for features that the VS developers spent time on is insufficient.

I've linked to this issue from another related issue on which I've given an example of what I feel is missing from the docs for remote debug using open

[2019-08-02 20:58] zachlanger19 commented on #3707
Thanks for getting back so quickly.

The articles i thought could use pictures to assist in following along and also comparing to one another were  [https://docs.microsoft.com/en-us/visualstudio/extensibility/adding-a-tool-window?view=vs-2019](Adding a Tool Window) and [https://docs.microsoft.com/en-us/visualstudio/extensibility/adding-a-menu-to-the-visual-studio-menu-bar?view=vs-2019](Adding a Me

[2019-08-02 22:55] gewarren commented on #3661
Closing this as Not Reproducible.

[2019-08-02 23:59] frankguoguo opened #3721 "Why never triggered even on sample code"
VS2017 version 15.9.14. Is there other switch to turn it on?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36a7fc54-584b-4ae2-ad71-6343ad8e2801
* Version Independent ID: 0784bf12-f389-3660-ae7a-1641a82d3e46
* Content: [Convert a foreach loop to LINQ - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/ide/re

[2019-08-03 01:34] MegoCs opened #3722 "Attach Snapshot Debugger failed: System.Net.WebException: The remote server returned an error: (401) Unauthorized"
the docs to make sure you are authorized to the resource select from existing and select you app service. and i did. also i was able to open it from cloud explorer menu.

[2019-08-03 01:35] MegoCs opened #3723 "Unable to Start Snapshot Debugger - Attach Snapshot Debugger failed: System.Net.WebException: The remote server returned an error: (401) Unauthorized"
Unable to Start Snapshot Debugger - Attach Snapshot Debugger failed: System.Net.WebException: The remote server returned an error: (401) Unauthorized.
   at System.Net.HttpWebRequest.EndGetResponse(IAsyncResult asyncResult)
   at System.Threading.Tasks.TaskFactory`1.FromAsyncCoreLogic(IAsyncResult iar, Func`2 endFunction, Action`1 endAction, Task`1 promise, Boolean requiresSynchronization)
--- End

[2019-08-03 01:42] tadamkewicz opened #3724 "data has null item values"
the page source shows that the item values are empty hence no image is displayed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7aa65a08-a9e2-721d-e00c-1f28afffe2be
* Version Independent ID: babf20c3-c235-d839-7340-fb9c11c449dc
* Content: [Create a Node.js and Express app - Visual Studio](https://docs.microsoft.com/en

[2019-08-03 17:18] joelostblom opened #3725 "Separate header for code cell section"
It would be great if the last two paragraphs under the "Send to interactive" heading (just under the Tip div) had their own heading and anchor point so that it can be linked directly. The header could be "Code cells" or "Working with code cells".

Additionally, organizing code in cells has many more applications than just using it as a scratch pad. It is common in exploratory data analysis and hel

[2019-08-04 05:23] armanforghani commented on #3280
I have the same problem with VS2017 and VS2019.

[code]

[2019-08-04 19:04] obij commented on #3245
Please I have a related problem, and i can't report it, using the report feature on visual studio, and my problem is also an installation issue. My problem: After successfully installing visual studio community 2017, i am unable to launch or run it. In addition, it does not show in my uninstall programs list. Furthermore, my investigation showed that   in my installation path, there is no devenv.e

[2019-08-05 03:07] stewl opened #3726 "How can I restart a running VB program from within?"
I have written a VB program that solves SUDOKU puzzles.
When it completes the solution, it asks if the user wants to run again with another puzzle.

I can not-
  1)  determine the first line of code that the program executes. The main() is empty. All code is on the tab for Form1. I have tried breakpoints, but still can't determine the starting point.

  2)  figure out how to cause the program to j

[2019-08-05 09:05] #3643 closed

[2019-08-05 09:07] WilliamAntonRohm commented on #3726
@stewl Thanks for your question. It looks like you're having an issue with the product itself, rather than an issue with the documentation. Here are a few options where you might consider asking your question:​
[https://social.msdn.microsoft.com/Forums/vstudio](https://social.msdn.microsoft.com/Forums/vstudio)
[https://www.stackoverflow.com](https://www.stackoverflow.com)
[https://www.reddit.com/r

[2019-08-05 09:07] #3726 closed

[2019-08-05 09:08] WilliamAntonRohm commented on #3721
@frankguoguo Thanks for your question. It looks like you're having an issue with the product itself, rather than an issue with the documentation. Here are a few options where you might consider asking your question:​
[https://social.msdn.microsoft.com/Forums/vstudio](https://social.msdn.microsoft.com/Forums/vstudio)
[https://www.stackoverflow.com](https://www.stackoverflow.com)
[https://www.reddit

[2019-08-05 09:08] #3721 closed

[2019-08-05 09:10] WilliamAntonRohm commented on #3723
@MegoCs Thanks for your feedback. It looks like you're having an issue with the product itself, rather than an issue with the documentation. Here are a few options where you might consider asking your question:​
[https://social.msdn.microsoft.com/Forums/vstudio](https://social.msdn.microsoft.com/Forums/vstudio)
[https://www.stackoverflow.com](https://www.stackoverflow.com)
[https://www.reddit.com/

[2019-08-05 09:10] #3723 closed

[2019-08-05 09:11] WilliamAntonRohm commented on #3713
@pmartin-brierley Thanks for your question. It looks like you're having an issue with the product itself, rather than an issue with the documentation. Here are a few options where you might consider asking your question:​
[https://social.msdn.microsoft.com/Forums/vstudio](https://social.msdn.microsoft.com/Forums/vstudio)
[https://www.stackoverflow.com](https://www.stackoverflow.com)
[https://www.r

[2019-08-05 09:11] #3713 closed

[2019-08-05 14:18] pmartin-brierley commented on #3713
@WilliamAntonRohm I think the issue is with the documentation, as the Dockerfile example does not work with version 19 of docker.

[2019-08-05 15:00] Mikejo5000 commented on #3724
@tadamkewicz Do the pictures show when you click the buttons? The URLs appear to be valid.

[2019-08-05 15:44] #3708 closed

[2019-08-05 15:45] msebolt commented on #3708
@penenkel Thank you for the feedback.

A note has been added to the documentation to help clarify.

[2019-08-05 15:50] msebolt commented on #3709
@dengyakui  Thank you for the feedback.

It appears [PeopleTrax](https://archive.msdn.microsoft.com/VSTS2010B1PeopleTrax) is no longer available.  Re-assigning this to the author.

[2019-08-05 16:00] msebolt commented on #3711
@Alan-d  Thank you for the feedback.

As we work to the resolve the issue, please try [this solution](https://stackoverflow.com/questions/13548851/msbuild-usingtask-resolve-references) posted on **Stack Overflow**.

[2019-08-05 17:02] peteroupc opened #3728 "Advice on how to implement comparison operators for a type whose CompareTo is inconsistent with Equals"
This page should include advice on how comparison operators should be implemented in the following circumstance.

- A custom number class (not from the base class library) represents a number by its significand and exponent.
- It overrides Object.Equals with a method that compares the significand and exponent for equality.
- It has a CompareTo method that does a numerical comparison of the two num

[2019-08-05 17:08] seaniyer commented on #3245
@obij

Report feature is also available in the installer and you can report a problem from there.  For step by step instructions on how to use the installer to report, please see https://docs.microsoft.com/en-us/visualstudio/ide/how-to-report-a-problem-with-visual-studio?view=vs-2019

Sean
Visual Studio Feedback Team

[2019-08-05 17:08] gewarren commented on #3718
@mikadumont Should None be changed to Refactoring Only?

[2019-08-05 17:10] heaths commented on #3713
@pmartin-brierley, while the Dockerfile example no longer works on version 19.03.1, it's because of a regression in Docker for Windows. I linked a bug I opened above, which references another bug I'm tracking.

[2019-08-05 17:45] #3649 closed

[2019-08-05 17:45] #3686 closed

[2019-08-05 18:54] tadamkewicz commented on #3724
No but I figured it out finally. My call to getData didn't have () but I
didn't get a syntax error, something I think should be there.

On Mon., Aug. 5, 2019, 09:00 Mike Jones, <notifications@github.com> wrote:

[2019-08-05 19:10] msebolt commented on #3717
@DrGriff  Thank you for the feedback.

This content in particular is auto-generated so providing an additional note at this time is currently unfeasible.

Since the existing link works and notes its outdated nature, I'm going to go ahead and close this issue.

Thanks again and please feel free to provide additional feedback as needed.

[2019-08-05 19:10] #3717 closed

[2019-08-05 19:17] gewarren commented on #3717
The content is not auto-generated, but I don't believe there's currently a more suitable target for the DTO link.

[2019-08-05 19:21] msebolt commented on #3719
@AlthalusDGr8  Thank you for the feedback.

The missing option is in part due to that this is currently in **Visual Studio 2019 Preview**.  For now see the [Visual Studio 2019 release notes](https://docs.microsoft.com/visualstudio/releases/2019/release-notes) for information on this.

Re-assigning to the author.

[2019-08-05 19:26] msebolt commented on #3722
@MegoCs Thank you for the feedback.

Due to the nature of this request, it helps to have an associated article for reference.

Please attach at your earliest convenience.

[2019-08-05 19:46] msebolt commented on #3725
@joelostblom Thank for your feedback.

Your suggestions have been added to the documentation.

[2019-08-05 19:46] #3725 closed

[2019-08-05 20:12] WilliamAntonRohm commented on #3714
@DrGriff Thanks for your feedback; we appreciate it. To make sure that this is logged in the right place, please use the [Report a Problem](https://docs.microsoft.com/visualstudio/ide/how-to-report-a-problem-with-visual-studio) tool to report the issue. When you do so, your report becomes part of the work items that are listed in the in the [Visual Studio Developer Community](https://developercomm

[2019-08-05 20:12] #3714 closed

[2019-08-05 20:23] #2779 closed

[2019-08-05 20:58] staff0rd opened #3730 "Usability and notifications"
Navigation and alerting of responses of a current issue could be more user friendly.  For example see [this issue](https://developercommunity.visualstudio.com/content/problem/613157/new-cron-schedule-not-working.html).  The latest information pertinent to the issue is hidden at the bottom - I need to scroll down to the bottom of the page, expand the comments on the _Solution_ and scroll down to th

[2019-08-05 23:58] petrroll commented on #1457
My original request would've been 98 % solved by VSCode's remote capabilities (or its equivalent for VS if/when it comes).

[2019-08-06 00:04] mavasani opened #3731 ""FxCop rules implemented with Roslyn analyzers" hyperlink should be updated or deprecated"
It currently points to an old website http://roslynanalyzersstatus.azurewebsites.net/, which is no longer up-to-date. A much up-to-date documentation is at https://docs.microsoft.com/en-us/visualstudio/code-quality/fxcop-rule-port-status?view=vs-2019

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3c7753cc-f0b0-a3a3-153

[2019-08-06 07:36] ledettwy commented on #3522
Then the documentation should include at least a snippet about how to do this correctly, since it is likely a common use-case, and it is not obvious from existing documentation.

[2019-08-06 11:34] obij commented on #3245
@sean
Sorry, but the installer never gets to the point , where the feedback
button appears. Additionally, i downloaded visual studio community 2019,
visual studio community 2019 preview and visual studio Enterprise 2019
preview, and tried installing all of them, and none ever got to the point
where I could access the feedback button. Hence, my applying for help
through this medium.

On Mon, Aug 5,

[2019-08-06 12:22] Rimobul opened #3732 "Warning not emited in .NET Core 2.2"
I have the following code, which should emit a warning, but does not:

[code]

I have tested it on Windows 10 and .NET Core 2.2, both in Microsoft Visual Studio and JetBrains Rider. No warning appears.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c370a407-b61d-0de6-6ac4-9b0ab49216b9
* Version Independent ID: a96e421e

[2019-08-06 12:32] mmaier2307 opened #3733 "Add guide to update layout when android sdk version changed"
As described in this issue https://developercommunity.visualstudio.com/content/problem/662829/layout-update-from-build-tools-1616-to-1620-failed.html# there is a problem updating a layout if the included android sdk version changed. The layout updater cant find the old version and fails. This can be fixed using the described workaround.

This should be noted somewhere in this documentation.

---
#

[2019-08-06 16:29] msebolt commented on #3728
@peteroupc  Thank you for the question.

You should be overriding [Equals](https://docs.microsoft.com/dotnet/api/system.object.equals) when there is any doubt between the two.

With the aforementioned inconsistencies in the [Equals](https://docs.microsoft.com/dotnet/api/system.object.equals) and [CompareTo](https://docs.microsoft.com/dotnet/api/system.icomparable.compareto) implementations, I woul

[2019-08-06 16:31] gewarren commented on #3732
@Rimobul A better place to log this issue is on the roslyn-analyzers repo at https://github.com/dotnet/roslyn-analyzers/issues. You might search for it first too. Thanks for helping us improve the developer experience. (This repo is for documentation issues.)

[2019-08-06 16:31] #3732 closed

[2019-08-06 17:04] peteroupc commented on #3728
I have edited the opening post to clarify the following:

- The number class in question is a custom written number class, not one from the base class library.
- The number class overrides Object.Equals with a method that compares the significand and exponent for equality.

The question is whether to implement "<", "<=", ">=", and ">" operators, and/or the  "==" and "!=" operators, in certain circ

[2019-08-06 17:35] #2007 closed

[2019-08-06 17:35] #3731 closed

[2019-08-06 18:22] WilliamAntonRohm commented on #3730
@staff0rd  It looks like you have product feedback rather than documentation feedback. If you are looking for functionality that isn’t currently provided by the product, please use our “Suggest a feature” option in the [Visual Studio Developer Community](https://developercommunity.visualstudio.com/). We’d be happy to have this on record, where others can view it and upvote it, too. For more inform

[2019-08-06 19:01] ghogen commented on #3542
Closing - because the docs already use HTTPS in most scenarios, but on port 443 which is how the Dockerfile is set up.  I don't think it makes sense to use port 80 instead of port 443 for HTTPS.

[2019-08-06 19:01] #3542 closed

[2019-08-06 19:10] seaniyer commented on #3245
@'Matt<mailto:matcav@microsoft.com>,

Is there anything we can tell this customer to help with their installer issue?  Please feel free to reply directly on GitHub.

From: obij <notifications@github.com>
Sent: Tuesday, August 6, 2019 4:34 AM
To: MicrosoftDocs/visualstudio-docs <visualstudio-docs@noreply.github.com>
Cc: Sean Iyer <seiyer@microsoft.com>; Assign <assign@noreply.github.com>
Subject: R

[2019-08-06 20:39] TerryGLee commented on #2224
@hjrb @tristanbarcelon Respectfully, we decline to publish the information in another format than that which we have currently. We appreciate the suggestions, however, and will keep them in mind going forward.

[2019-08-06 20:39] #2224 closed

[2019-08-06 20:44] seaniyer commented on #3245
+ VS Setup Hotseat

@Chee Seong<mailto:ongchees@microsoft.com>: Can you please follow up on this and see if anyone has guesses here?  I can't imagien why this would be happening for him like this.

From: Sean Iyer <seiyer@microsoft.com>
Sent: Tuesday, August 6, 2019 12:10 PM
To: MicrosoftDocs/visualstudio-docs <reply@reply.github.com>; MicrosoftDocs/visualstudio-docs <visualstudio-docs@noreply.git

[2019-08-06 20:50] ledettwy opened #3736 "Live chat will not support VS Build Tools install in containers"
This documentation references a "live chat", but the live chat representative (Oscar Nunez) I was connected to refused to provide assistance with the Build Tools installer.

I started a live chat to ask about which components I needed to include (via --add) in the install in order to get cl.exe, since just Microsoft.VisualStudio.Workload.VCTools doesn't seem to be enough.

"I see, unfortunately as

[2019-08-06 22:46] #2977 closed

[2019-08-07 02:38] Raviuppa commented on #3736
Hi Lisanna,
   Sorry for the inconvenience caused to you. There appears to be some confusion regarding the support which is resulted in conveying the message from Oscar. If you are trying to install and get help for stand alone Build Tools for Visual Studio package installation then yes, that support is out of scope of VS Setup Chat support. Perhaps that might have been communicated to you but we

[2019-08-07 05:33] r-k-b opened #3737 "Unclear how to configure this inspection from an .editorconfig file"
With Microsoft.CodeAnalysis.FxCopAnalyzers 2.9.4 installed to a project, it's not clear what naming is expected within the project's .editorconfig file to configure the severity of CA1507.

These don't seem to work:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b712c22f-88cd-12ee-395f-c082368a9c4c
* Version In

[2019-08-07 15:28] VeXHarbinger opened #3738 "Documentation wording on expected result is unclear"
The [page ](https://docs.microsoft.com/en-us/visualstudio/msbuild/msbuild-targets?view=vs-2019)reads;

My question is on that next to last line.  Is it asking us "If we see only the 2nd message" as a debugging step?
Or should the text be stating that you will only see the 2nd message?

I don't know the answer myself, as of yet, but thought I'd log it to help the next person to stumble upon it.

[2019-08-07 15:48] ongcs100 commented on #3245
@obij

Sorry to hear about the issue.

I would like to refer you to https://visualstudio.microsoft.com/vs/support/.  Under the **Support links** section, you will find the "Installation Help" link where you can chat with a support engineer on this issue. They will be able to help you out.

Chee Seong
Visual Studio Acquisition Team

[2019-08-07 16:20] vhe1 opened #3739 "Doesn't tell me how to access the build log"
The doc doesn't actually tell me how to "obtain" the log, i.e. how it's named and where it is in the solution.
Example: So I've set the build verbosity to "Detailed":
![grafik](https://user-images.githubusercontent.com/12475356/62639422-c3c42280-b93f-11e9-9e38-3bb19933f0f0.png)
Now I click on "Build -> Rebuild solution" in the top menu bar of visual studio.
Now what? There is nothing called *.log

[2019-08-07 17:15] robinne opened #3740 "Replacement Parameter does not work as described in documentation for Code Snippets"
https://docs.microsoft.com/en-us/visualstudio/ide/walkthrough-creating-a-code-snippet?view=vs-2019

$MyVar$ is blank when inserting the snippet into code.

snippet code:
private bool $MyVar$ = true;

insert into code:
private bool = true

[2019-08-07 17:18] robinne opened #3741 "Replacement Parameter does not work as described in documentation for Code Snippets"
https://docs.microsoft.com/en-us/visualstudio/ide/walkthrough-creating-a-code-snippet?view=vs-2019

$MyVar$ is blank when inserting the snippet into code.

snippet code:
private bool $MyVar$ = true;

insert into code:
private bool = true

[2019-08-07 17:29] gewarren commented on #3737
@r-k-b Which version of Visual Studio are you using? Configuring analyzer rules using EditorConfig isn't supported in Visual Studio version 16.2.

[2019-08-07 19:11] gewarren commented on #3222
@dombat I'm updating the article with this info now. The answer is that the Company value comes from the **RegisteredOrganization** value in the registry. Look for this value under **Computer\HKEY_LOCAL_MACHINE\SOFTWARE\WOW6432Node\Microsoft\Windows NT\CurrentVersion** or **Computer\HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows NT\CurrentVersion**, depending on whether you're using 64-bit Windows

[2019-08-07 19:19] tene666 opened #3743 "Example potentially misleading"
Example code has an incorrect property and description that may be misleading:

"The following example uses the SignFile task to sign the files (...) with the certificate specified by the Certificate property."

However, CertificateThumbprint specifies the certificate to use for signing. This certificate must be in the current user's personal store.

So you have to use this param to provide thumbp

[2019-08-07 19:57] gewarren commented on #3228
@morrisjoe It looks like you originally [ported the rule](https://github.com/dotnet/roslyn-analyzers/issues/382). Do you think it's fine to suppress CA1032 for the situation that @motz-art describes?

[2019-08-07 20:01] gewarren commented on #3252
Comment to trigger priority labeling.

[2019-08-07 20:49] gewarren commented on #3312
@grendeld For information about extending Visual Studio, see [Visual Studio SDK](https://docs.microsoft.com/en-us/visualstudio/extensibility/visual-studio-sdk?view=vs-2019). Specifically for the question you asked, you might find the IDs on these pages useful:

https://docs.microsoft.com/en-us/visualstudio/extensibility/internals/guids-and-ids-of-visual-studio-menus?view=vs-2019
https://docs.micro

[2019-08-07 20:49] #3312 closed

[2019-08-07 21:11] gewarren commented on #3337
@SychevIgor Sorry for the slow response. Class diagrams are still supported in Visual Studio 2019, but you must first install the **Class Designer** component. For more information, see [How to: Add class diagrams](https://docs.microsoft.com/visualstudio/ide/class-designer/how-to-add-class-diagrams-to-projects?view=vs-2019).

[2019-08-07 21:11] #3337 closed

[2019-08-07 21:42] gewarren commented on #3339
@mikadumont or @sharwell Can you confirm if naming conventions can target tuple member names?

[2019-08-07 22:04] WilliamAntonRohm commented on #3730
@staff0rd -- I misunderstood your question.  We are looking into your issue.

[2019-08-07 22:08] Styxxy opened #3744 "release notes typo"
I couldn't find the source file in this repo (otherwise I would've sent a PR), but I hope I am in the right place to report.

On page https://docs.microsoft.com/en-us/visualstudio/releases/2019/release-notes there is a type: "thier" instead of "their"

![typo](https://user-images.githubusercontent.com/1635825/62661191-a0659b80-b970-11e9-90dd-f86d17c395c9.png)

[2019-08-07 22:16] paulomorgado opened #3745 "Add documentation for new Performance rules CA1827 and CA1828 (DoNotUseCountWhenAnyCanBeUsedAnalyzer) in FxCop analyzers"
1. Does not exist in legacy FxCop
2. Rules Implementation:
    * https://github.com/dotnet/roslyn-analyzers/blob/cda75fffd1087d375452a6f2a725547a9fbf5c5f/src/Microsoft.NetCore.Analyzers/Core/Performance/DoNotUseCountWhenAnyCanBeUsed.cs#L103
3. Rules message and description:
    * https://github.com/dotnet/roslyn-analyzers/blob/cda75fffd1087d375452a6f2a725547a9fbf5c5f/src/Microsoft.NetCore.Analyzer

[2019-08-07 22:18] mavasani commented on #3745
Thank you @paulomorgado

[2019-08-07 22:20] staff0rd commented on #3730
Upon re-reading I can also see that my context at the tine was not inferred with my explanation.

To be clear, this is feedback about the usability and design of the developer community site itself, and not about the products the site collects feedback for.  I could not find a better place to submit it, if there is one please advise.

[2019-08-07 22:28] seaniyer commented on #3730
@staff0rd

Thanks for taking the time to share your input.  I checked the issue you provided as an example and understand the problem you have brought up.  We'll account for it in future site improvements.

By the way, if you have any other feedback on the Developer Community site, best place to share it is on the site itself.  You can suggest a feature (under Visual Studio is fine) and provide yo

[2019-08-07 23:15] TerryGLee commented on #3744
@Styxxy I've passed your report on to the correct folks; thanks for helping us improve our documentation!

[2019-08-07 23:16] #3744 closed

[2019-08-07 23:19] TerryGLee commented on #3741
This is a duplicate of #3740

[2019-08-07 23:19] #3741 closed

[2019-08-07 23:53] #3730 closed

[2019-08-08 01:23] r-k-b commented on #3737
@gewarren 16.1.3, but I'm not expecting it to show in VS yet - I was checking the build output from msbuild (which is 16.1.76+g14b0a930a7 ... are msbuild & VS versions tied together?)

[2019-08-08 02:08] ledettwy commented on #3736
Hi Raviuppa,

Thanks for the response. I was able to determine the components I needed for my project.

Thanks!

[2019-08-08 02:08] #3736 closed

[2019-08-08 06:35] SychevIgor commented on #3337
@gewarren thank you. I just missed this statement, that it's not working with .net core.
![image](https://user-images.githubusercontent.com/578954/62680296-97e88180-b9bf-11e9-9b00-f228f57cb356.png)
It will be nice to have this support for .net core projects as well (Microsoft announced that .net 4.8 is the last version of .net framework and future versions will based on .net core), but it's defini

[2019-08-08 07:42] realbart opened #3746 "Needs to be updated for vs2019 v 16.2"
In vs2019 16.2 the settings dropdown menu has moved to the test explorer far right settings gear icon.
please update your screenshot.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 21ac034a-a498-f3e3-28d0-175b6fead219
* Version Independent ID: 747194a8-ffcf-60b3-b525-6f8fe00066a2
* Content: [Configure unit tests with a

[2019-08-08 10:49] zombie-jojo opened #3747 "Clarity"
Suggest change "through a service such as a service" to "through a service" or something which adds value e.g. "through a service such as a Windows service or web service"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59ecf28c-12bc-522d-c919-5c8cb95c8044
* Version Independent ID: 0c528049-bf1c-8b0d-1b6d-3d4f9c1fc970
*

[2019-08-08 12:23] MAlabaster opened #3748 "Bad Instructions"
I am trying to use VS2019 Communty to debug a 3rd party app and there is no option as described in the instructions on this page

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f5cc545a-f0ff-2f8a-a20a-e220a5a84c19
* Version Independent ID: d03c8ed7-d691-7b09-be11-c45f3cb739d2
* Content: [Attach to running processes with

[2019-08-08 14:00] jwatkin opened #3749 "Visual Studio 2019 - for console apps, publishing dialog is missing the "Advanced..." option"
I'm using Visual Studio 2019 (16.2.1) to publish a .NET Core console app to a folder. I want the existing files in the publish target folder to be deleted before the new ones are published there. My understanding is that I'll need to go through the "Advanced..." option to set that target folder file deletion feature. However, unlike what's shown on this page of documentation, the  "Advanced..." bu

[2019-08-08 14:14] mhuguet commented on #3661
@gewarren I can repro it. Ping me internally, if you want to see my environment. I am using VS 2017. My alias is michu.

[2019-08-08 14:16] mhuguet commented on #3661
![image](https://user-images.githubusercontent.com/12263630/62710630-345d5480-b9bd-11e9-83b1-76ac9a20e5bc.png)

[2019-08-08 14:45] gewarren commented on #3661
It seems that the C++ workload is overriding the keybinding for Make Lowercase. I'll update the doc with this info.

[2019-08-08 14:47] k3davis opened #3750 "editorconfig not honored"
I have created essentially the most basic .editorconfig file one can create, and saved it in the root of my project, but Visual Studio doesn't honor it. It _does_ briefly say in the status bar that "user preferences overridden by .editorconfig" but the styles aren't applied.

[code]

When I do Add > Class..., it creates a default class with the newline still there.

I don't care about the specific

[2019-08-08 14:52] gewarren commented on #3750
@k3davis Have you tried to format the document? Edit > Advanced > Format Document or Ctrl+K, Ctrl+D. When you add a new class file, it's coming from a template so it may not format according to your preferences until you do it explicitly.

[2019-08-08 14:56] k3davis commented on #3750
@gewarren Yes, I should have specified that. Ctrl+K+D doesn't apply any changes to match the .editorconfig file either.

[2019-08-08 15:34] Mikejo5000 commented on #3748
@MAlabaster Which options was missing? Debug > Attach to Process?

[2019-08-08 15:37] Mikejo5000 commented on #3749
@jwatkin Thanks, I'll take a look at that.

[2019-08-08 16:20] k3davis commented on #3750
On further investigation I've discovered that it is only the specific rule that isn't being honored:

`insert_final_newline = false`

When I add other, more complex rules, it is working as expected.

[2019-08-08 16:40] gewarren commented on #3750
@k3davis Thanks for the update. To make sure that this problem is logged in the right place, please use the [Report a Problem](https://docs.microsoft.com/visualstudio/ide/how-to-report-a-problem-with-visual-studio) tool. When you do this, your report becomes part of the work items that are tracked on Visual Studio [Developer Community](https://developercommunity.visualstudio.com/spaces/8/index.htm

[2019-08-08 16:40] #3750 closed

[2019-08-08 16:44] MAlabaster commented on #3748
Doh! It would help if I installed the whole package, didn't expect to have VB & C# as an add-on.

[2019-08-08 16:50] msebolt commented on #3739
@vhe1  Thank you for the question.

In general, build files (including logs) are located in the project's *Debug* folder (see [How to: View, Save, Configure Build Files](https://docs.microsoft.com/visualstudio/ide/how-to-view-save-and-configure-build-log-files)).

Also note this is only supported with C++ projects.  Other projects will require you to either run **msbuild** from the command-line (w

[2019-08-08 16:50] #3739 closed

[2019-08-08 16:58] jblanchet opened #3751 "Custom toolset clarification"
This article states that: "ToolsetConfigurationSection is a custom configuration section that can be used by any MSBuild host for custom configuration. If you use a custom Toolset, a host does not have to do anything to initialize the build engine except provide the configuration file entries. By defining entries in the registry, you can specify computer-wide Toolsets that apply to MSBuild.exe, Vi

[2019-08-08 17:06] msebolt commented on #3740
@robinne  Thank you for the question.

I'm not seeing anything initially wrong as per article steps.

Can you post the **Literal** code section?  (from the [Replacement Parameters](https://docs.microsoft.com/visualstudio/ide/walkthrough-creating-a-code-snippet#replacement-parameters) step).

[2019-08-08 17:17] msebolt commented on #3747
@zombie-jojo Thank you for the feedback.

The documentation has been updated.

[2019-08-08 17:17] #3747 closed

[2019-08-08 17:32] msebolt commented on #3718
@irongut  Thank you for the feedback.

The documentation has been updated.

[2019-08-08 17:32] #3718 closed

[2019-08-08 17:50] Mikejo5000 commented on #3748
OK, sounds like you resolved it. Thx!

[2019-08-08 17:50] #3748 closed

[2019-08-08 18:03] #3222 closed

[2019-08-08 18:03] #3265 closed

[2019-08-08 18:03] #3282 closed

[2019-08-08 18:03] #3347 closed

[2019-08-08 18:03] #3661 closed

[2019-08-08 18:08] obij commented on #3245
@ Sean et al,
Thanks for all the concern you showed.  However,  I have finally resolved
the issue. What I did: I set my computer to do some pending windows 7
update, so after the updates, I had the idea to try the installation
again.  And when I did it,  the installation was successful.
   once more thanks for the concern showed.

On Wed, Aug 7, 2019, 4:48 PM ongcs100 <notifications@github.com> wr

[2019-08-08 18:58] robinne commented on #3740
[HasChangesProperty.txt](https://github.com/MicrosoftDocs/visualstudio-docs/files/3483271/HasChangesProperty.txt)

OUTPUT
` private bool  = true;
        private string ;
        public string
        {
            get
            {
                return ;
            }
    set
            {
                if( != value)
                {
                     = value;
                    if (!)

[2019-08-08 19:01] mcbobby123 opened #3753 "dead link"
Microsoft.Build.Tasks.Deployment.ManifestUtilities

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e85eb697-fd62-62d1-cc5a-24b4f7f18017
* Version Independent ID: 715fa2ac-cc41-596b-bb07-38b6be492fe7
* Content: [ClickOnce Security and Deployment - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/deployment/cl

[2019-08-08 19:56] peteroupc opened #3754 "CA1002: Also suggest IList<T> or ICollection<T> rather than List<T>"
This page should also suggest to expose System.Collections.Generic.IList&lt;T&gt; or ICollection&lt;T&gt; rather than List&lt;T&gt; where appropriate.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7ad3e6f5-6387-841b-57c8-d3dd62ad6024
* Version Independent ID: 7ccf4e5a-2887-3ac8-4705-e727ae3582b5
* Content: [CA1002: Do

[2019-08-08 21:08] gewarren commented on #3746
Kendra, can I assign this to you?

[2019-08-08 22:47] ghogen commented on #2644
Please see
https://docs.microsoft.com/en-us/visualstudio/containers/deploy-docker-hub?view=vs-2019

[2019-08-08 22:47] #2644 closed

[2019-08-08 22:48] ghogen commented on #2644
@mtmazurik - Thanks for the feedback!  If you have any thoughts on this topic or suggestions for improvement, let me know.

[2019-08-09 00:39] staylorftr opened #3755 "Document missing switches and options"
There are some significant differences between this page and the MSBuild command line help. For example...

-warnAsError, -warnAsMessage, -profileEvaluation, -restoreProperty, -isolateProjects and a few more switches are not documented here.
-consoleLoggerParameters can accept a "ForceConsoleColor" option, which is not documented here.

It would be good to bring the docs in line with the command l

[2019-08-09 03:18] goyzhang opened #3756 "So what comes along with those predefined targets file? I"
I know there are Build, Clean, Rebuild etc. But I haven't seen any docs about these targets or a list of what the common target files provide. Maybe a see also or remark?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c6f7f1d-2f33-e083-f8de-1ecd9f1a4a93
* Version Independent ID: 8aac17e8-5a10-bbbb-4c52-783c9f0c7e10
*

[2019-08-09 07:23] danielstefanescu commented on #1423
@DRussell555 Any updates?

[2019-08-09 08:57] MAlabaster commented on #3748
It's a while since I've used VS and it has become a lot more difficult to get started and work out which bits you need

[2019-08-09 17:14] msebolt commented on #3740
@robinne Thank you for the response.

From the attached sample, you need to include a **Literal** section for each variable.

[HasChangesProperty(revised).txt](https://github.com/MicrosoftDocs/visualstudio-docs/files/3487350/HasChangesProperty.revised.txt)

[2019-08-09 17:41] #2858 closed

[2019-08-09 18:19] Momilijaz96 commented on #2272
Same here!!! My 1 month premium of Linked in expired and now I want to use my MV Dev benefit of linked in learning but it keeps redirecting me to reactivation or buying page

[2019-08-09 18:19] robinne commented on #3740
Sorry to waste your time, I see that now. I was "just getting something to work" and ignored that section, as it appeared to be comments. Appreciate your time!

[2019-08-09 18:19] #3740 closed

[2019-08-09 18:22] evanwindom commented on #2272
@Momilijaz96 - What do you mean when you say MV Dev benefit?

[2019-08-09 18:29] Momilijaz96 commented on #2272
Pardon ! I meant visual studio dev essentials

[2019-08-09 18:33] Momilijaz96 commented on #2272
@evanwindom I meant visual studio dev essentials, when I click on benefit of linked din learning I am redirected to linked in reactivation/buying page.

[2019-08-09 18:34] Momilijaz96 commented on #2272
As seen here....
![Screen Shot 2019-08-09 at 11 29 57 PM](https://user-images.githubusercontent.com/53872365/62800984-2a8f3a80-bafe-11e9-9a21-10a015d7c042.png)
![Screen Shot 2019-08-09 at 11 30 45 PM](https://user-images.githubusercontent.com/53872365/62800986-2b27d100-bafe-11e9-96f7-e40a2625d69f.png)

[2019-08-09 18:36] evanwindom commented on #2272
@Momilijaz96  - The LinkedIn Learning is a component of the LinkedIn Premium membership.  So, when the premium subscription expires, the learning benefit is no longer available.

[2019-08-09 18:37] Momilijaz96 commented on #2272
@evanwindom but can't I access more free subscription from my visual studio dev essentials benefits? even after expiring of my premium trial

[2019-08-09 18:51] evanwindom commented on #2272
@Momilijaz96 - No, because the LinkedIn Learning is part of the LinkedIn Premium membership.  You get access to the learning plus other benefits of the Premium membership, but once that expires, access to the learning benefit also expires.

[2019-08-09 18:52] Momilijaz96 commented on #2272
oh!is there any other way to get courses for free, i was almost down with a course, and my subscription expired,

[2019-08-09 18:58] evanwindom commented on #2272
@Momilijaz96 - Not through the Visual Studio Dev Essentials program.  You may want to contact LinkedIn directly to see if they have any other trial offers.

[2019-08-09 18:59] Momilijaz96 commented on #2272
@evanwindom thanks dude!

[2019-08-09 23:53] gremlm opened #3758 "Description of the usage new command-line code metrics tool is incorrect"
For calculating code metrics I have included Microsoft.CodeAnalysis.Metrics 2.9.4 nuget package to my csproj project.
Before executing msbuild from the command line, I have called  "nuget.exe restore", and it correctly found MSBuild and restore package:
"MSBuild auto-detection: using msbuild version '16.200.19.32702' from 'C:\Program Files (x86)\Microsoft Visual Studio\2019\BuildTools\MSBuild\Curr

[2019-08-10 03:04] msebolt commented on #3756
@goyzhang Thank you for the feedback.

Does [Extend the build process](https://docs.microsoft.com/visualstudio/msbuild/how-to-extend-the-visual-studio-build-process) cover the information you're looking for?

[2019-08-10 03:28] msebolt commented on #3758
@gremlm  We're sorry you're experiencing difficulties.

Please try solution posted on issue https://github.com/Microsoft/azure-pipelines-agent/issues/902 while we work on getting this resolved.

[2019-08-10 06:53] gremlm commented on #3758
Thank you for quick response, but that approach won't work for MSBuild 16. Before MSBuild was installed in the GAC or referenced in registree. VS 2019 changed that. I have two installations of the MSBuild 16. One as part of VS 2019 Professional, another as build agent. Metrics looks in some different spot.

Sincerely, Grigoriy Milman

On Aug 9, 2019 8:28 PM, Matthew Sebolt <notifications@github.co

[2019-08-11 06:45] DjArt commented on #3382
Also you can't report issue about VS installer on ARM64 machine because VS installer are broken on ARM64.

[2019-08-12 04:17] ChrisTorng opened #3759 "Repeating PassThroughNonNull call for CA1062 (Validate arguments of public methods) is unnecessary"
The last example calls `PassThroughNonNull(other)` many times. That is repeating, useless and unnecessary:

    // Copy constructor
    public Person(Person other)
        : this(PassThroughNonNull(other).Name,
          PassThroughNonNull(other).Age)
    {
    }

 Just check it for the first time is enough:

    // Copy constructor
    public Person(Person other)
        : this(PassThroughNonNull

[2019-08-12 05:26] chandrababumaddipatla commented on #3674
I am looking for same, i have entire template ready with multiple projects But unable to correct reference since these, I was depending on $SpecifiedSolutionName$ and $SpecificSolutionName$ values. Since these are empty I am not able to handle this.

[2019-08-12 05:30] chandrababumaddipatla commented on #3674
And another question is why we need to depend on the checkbox as per the documentation SpecificSolutionName - The name of the solution. When "create solution directory" is checked, SpecificSolutionName has the solution name. When "create solution directory" is not checked, SpecificSolutionName is blank. Since this is an optional field most of the times user may not check or un-check this checkbox,

[2019-08-12 10:27] carlos-quintero opened #3760 "Warning "Running unit tests after every build is supported only in Visual Studio Enterprise." no longer applies to Visual Studio 2019"
This page (https://docs.microsoft.com/en-us/visualstudio/test/unit-test-basics?view=vs-2019), for Visual Studio 2019, contains this section with this warning:

"Run tests after every build
Warning
Running unit tests after every build is supported only in Visual Studio Enterprise."

That warning was correct for Visual Studio 2017, but no longer applies to Visual Studio 2019. See this note of this p

[2019-08-12 15:50] carlos-quintero opened #3761 "Typos: "Hostin" and "Behaviour""
In

"Note:
You can change this behaviour by setting the Thread Hosting Behaviour (refer to DpiHostinBehaviour)."

Fix typos:
Behaviour =&gt; behavior
Hostin =&gt; Hosting

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d0313513-8520-1a4a-76b8-8991b7530fae
* Version Independent ID: 681f4464-2653-61e2-8f01-1a75811a6110
*

[2019-08-12 18:05] #3761 closed

[2019-08-12 21:56] WilliamAntonRohm commented on #2767
@erelsgl Thanks for your question. It looks like you're having an issue with the product itself, rather than an issue with the documentation. Here are a few options where you might consider asking your question:​
[https://social.msdn.microsoft.com/Forums/vstudio](https://social.msdn.microsoft.com/Forums/vstudio)
[https://www.stackoverflow.com](https://www.stackoverflow.com)
[https://www.reddit.com

[2019-08-12 21:56] #2767 closed

[2019-08-12 23:09] zspitz opened #3763 "Missing UI for toggling assembly-based discovery of tests"
![image](https://user-images.githubusercontent.com/312166/62904478-32a1e100-bd6f-11e9-9e45-445e84fc1481.png)

If it's no longer needed, then the relevant docs should be fixed.

Otherwise, there should be some information as to how to display it.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1fa1671-f27f-484e-8994-ceb8

[2019-08-13 07:21] carlos-quintero opened #3764 "Typo in C# code: public interface IVsDpiAeware"
In C# code:

public interface IVsDpiAeware =&gt; public interface IVsDpiAware

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d0313513-8520-1a4a-76b8-8991b7530fae
* Version Independent ID: 681f4464-2653-61e2-8f01-1a75811a6110
* Content: [Per-Monitor Awareness support for Visual Studio extenders](https://docs.microsoft.c

[2019-08-13 08:11] halifir opened #3765 "Profiling with VSPerfCmd on Command Line fails with error to use vsperf.exe - vsperf is undocumented and not working"
Due To https://docs.microsoft.com/en-us/visualstudio/profiling/vsperfcmd?view=vs-2017 and https://docs.microsoft.com/en-us/visualstudio/profiling/vsperfcmd?view=vs-2019

VSPerfCmd should start profiling.
But when using VSPerfCmd it says
Error VSP1535 : Verwenden Sie zum Erfassen von Samplingdaten f³r diese Version von Windows die Datei "vsperf.exe".
But vsperf is a) undocumented and b) not working

[2019-08-13 10:10] penenkel opened #3766 "Wrong namespace mentioned."
As far as I can tell this is not true. The default namespace for deploment-manifests generated by mage.exe (newest version) is v2, thus the deployment-node is also in v2. This seems to be congruent with the manifest schema as specified [here](https://docs.microsoft.com/en-us/openspecs/sharepoint_protocols/ms-osco/21301d88-1922-4e85-99f6-9e7053fdbc44)

---
#### Document Details

⚠ *Do not edit this

[2019-08-13 12:00] benday opened #3767 "Path is invalid for Preview builds"
The path for deleting the cache should list the Preview version of the cache, too.  ~/Library/Caches/VisualStudio/8.0/TempDownload/index.xml

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3a0d1f75-101f-569f-4d70-4958a1bd2ef9
* Version Independent ID: be85d5d5-6a1a-2774-2ca9-0e0a2daed1e0
* Content: [Updater has errors r

[2019-08-13 13:10] gaheath opened #3768 "Visual Studio Installer does not work in offline mode"
I followed the instructions (using cut and paste) on the offline install page.
Download appeared to work - success was displayed at the end.
Then run the vs_professional.exe from the downloaded folder and it tries to access the Internet and fails with "check your Internet connection" - I had not expected that from an "offline" installation.

---
#### Document Details

⚠ *Do not edit this section.

[2019-08-13 17:56] #1442 closed

[2019-08-13 18:44] mbranscomb opened #3770 "Topic specifies Preview image should be 200x200 pixels but published extensions typically use 128x128 pixel images."
The topic states the Preview image must be 200x200 pixels but it's not clear where that 200 pixel image will ever be displayed. Extensions published on Visual Studio Marketplace all appear to use images that are 128x128 pixels e.g. https://marketplace.visualstudio.com/items?itemName=MS-vsliveshare.vsls-vs.

- Download and unzip the extension
- The `extension.vsixmanifest` defines the preview image

[2019-08-13 18:48] mbranscomb opened #3771 "Topic specifies Preview image should be 200x200 pixels but published extensions all appear to use 128x128 pixel images."
The topic states the Preview image must be 200x200 pixels but it's not clear where that 200 pixel image will ever be displayed. Extensions published on Visual Studio Marketplace all appear to use images that are 128x128 pixels e.g. https://marketplace.visualstudio.com/items?itemName=MS-vsliveshare.vsls-vs.

- Download and unzip the extension
- The `extension.vsixmanifest` defines the preview image

[2019-08-13 19:02] madskristensen commented on #3770
The Preview image hasn't been shown anywhere since Visual Studio 2017. It's only recommended for extensions supporting down to version 2015 or earlier.

[2019-08-13 19:18] mbranscomb commented on #3770
@madskristensen Thanks for the response.

Is the recommendation now to only have one single icon of 128x128 pixels?

[2019-08-13 19:23] madskristensen commented on #3770
Yes, for any extension targeting VS 2017 and above, only the Icon is recommended and it should be 128x128 pixels.

[2019-08-13 19:42] mbranscomb commented on #3770
@madskristensen Thanks for confirming. We'll update our extension accordingly.

[2019-08-13 19:42] mbranscomb commented on #3770
Is there a plan to update the docs / schema?

[2019-08-13 19:49] madskristensen commented on #3770
Not currently since it's still valid for VS2015 and below.

[2019-08-13 23:38] kendrahavens commented on #3746
@gewarren Yes, feel free!

[2019-08-14 00:03] kendrahavens commented on #3763
Thank you for taking the time to provide feedback!
Assembly based discovery would be the default discovery mechanism that the Test Explorer would fall back to if real time test discovery was unchecked. Would changing the text make this clearer?

[2019-08-14 11:56] sergey-mukhamedshin opened #3772 "Argument order"
The first code example is not accurate. Arguments order in Log.LogMessage call should be updated to:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b87459e0-a40b-d8ae-3f74-76e8f84ef6f8
* Version Independent ID: 57affef6-ead8-8c44-be7e-a9a3e9bda92b
* Content: [Walkthrough: Creating an Inline Task - Visual Studio]

[2019-08-14 16:43] CihanYet opened #3773 "Code Generator Error while adding a new Mvc Controller Vs2019"
When i try to add a controller i get following error:

There was an error running the selected code generator:
'The value -1 is outside the acceptable range of [0,2147483647].
Parameter name:value'

I also tried to add an Area and get the same error. I couldn't find any solution for that.

IDE: Visual Studio 2019 Community
MVC project .Net Framework 4.7.2

[2019-08-14 16:43] mavasani commented on #3745
Marking this one as blocked based on https://github.com/dotnet/roslyn/issues/37959#issuecomment-521303539

[2019-08-14 16:44] mavasani commented on #3745
@gewarren I don't see a label to mark the issue as blocked, but please hold of on adding this documentation until we resolve the above issue offline.

[2019-08-14 17:41] SwooshyCueb opened #3774 "DelaySign paramater documentation for Csc and SGen MSBuild tasks appears to be incorrect"
The [documentation for the Csc MSBuild task](https://github.com/MicrosoftDocs/visualstudio-docs/blob/master/docs/msbuild/csc-task.md) appears to have inaccurate documentation of the `DelaySign` parameter.

At present, it states:

It looks like the meaning of `true` and `false` are swapped here.

The [documentation for the -delaysign option](https://github.com/dotnet/docs/blob/master/docs/csharp/la

[2019-08-14 17:56] crojasd00 opened #3775 "Not a lot of info"
The information in this page isn't very complete. I'd expect to have a bit of information on what each of those "folders" and drop down menus are. What are properties? What are references? What are assets? Are they folders?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b057a09a-e208-8daf-58b0-3dfb3bb4ea0e
* Version In

[2019-08-14 22:07] msebolt commented on #3756
Please comment below if there are any further issues.

[2019-08-14 22:07] #3756 closed

[2019-08-14 23:37] kendrahavens commented on #3763
Updating the doc to only show the new options.

[2019-08-14 23:39] zspitz commented on #3763
Thanks, this looks much better.

[2019-08-14 23:41] kendrahavens commented on #3763
Woah, that was quick! Yes, I needed to add monikers to the nuget reference for test adapters section.

[2019-08-14 23:43] gewarren commented on #3760
@carlos-quintero Thanks. It looks like this was fixed yesterday in https://github.com/MicrosoftDocs/visualstudio-docs/commit/daf6c639c9ff1c644945cfa81f36222d49e93efd#diff-eca8bcdd948030312f308301802e4e1e.

[2019-08-14 23:43] #3760 closed

[2019-08-15 01:47] KathrynEE commented on #3501
@StingyJack - Thank you for your inquiry. The method you use may depend on the version of Team Explorer/Visual Studio that you are using.  I will update the topic to illustrate these methods.

For Visual Studio 2015, there is a Select All check box you can use.

![image](https://user-images.githubusercontent.com/10856840/63067247-d7810300-bec2-11e9-9470-11557af8804c.png)

For VS-2017 or VS-2019, y

[2019-08-15 01:47] #3501 closed

[2019-08-15 03:04] HKimhab opened #3780 "Not found pdf"
Hello
I wanna pdf of this document.

Thank you so much.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b6d2b64e-ee32-5451-edca-89c758f20f07
* Version Independent ID: 4816ae3c-7352-7abc-df1d-f5fee3a28767
* Content: [Default keyboard shortcuts for frequently used commands - Visual Studio](https://docs.microsoft.com/en-us

[2019-08-15 09:27] seminumber opened #3782 "Incompatible with general format specifiers"
I think users generally expect a more familier formatting of type {var:formatstring} works in debugger eg., {Math.PI:0.###} (=3.142).
It would be unlikely to be used in Watch windows, but is very likely to be the first shot (at least for me) when we create a simple DebuggerDisplay attribute, as things with single braces will be compatible with formatted string specifiers.
eg. DebuggerDisplay("{MyQ

[2019-08-15 09:52] agpreynolds commented on #3405
Same issue for me:

Error is:
Error signing in: '{}' Let us know
Problem signing in? Please try signing in using Visual Studio.

Really frustrating when you have an issue to report

[2019-08-15 12:54] sergey-mukhamedshin opened #3783 "Visible metadata works fine in csproj projects but isn't honored for vcxproj projects"
The below is not accurate:

While _Visible_ metadata works fine in _csproj_ projects it isn't honored for _vcxproj_ projects. At least it is how it works in VS2019 Community Edition.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f1010063-a8b2-7ff9-4ad6-10eebde154c3
* Version Independent ID: 1202745a-e34a-aabd-7cde-337

[2019-08-15 17:11] WilliamAntonRohm commented on #3768
@gaheath It looks like you’re having an issue with installation. If your Visual Studio installation fails, see [Troubleshooting Visual Studio installation and upgrade issues](https://docs.microsoft.com/visualstudio/install/troubleshooting-installation-issues) for step-by-step guidance.​
We also offer a [Live Chat](https://visualstudio.microsoft.com/vs/support/#talktous) (English only) support opti

[2019-08-15 17:11] #3768 closed

[2019-08-15 17:13] WilliamAntonRohm commented on #3770
I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2019-08-15 17:15] WilliamAntonRohm commented on #3771
This is a duplicate of https://github.com/MicrosoftDocs/visualstudio-docs/issues/3770, already answered.

[2019-08-15 17:15] #3771 closed

[2019-08-15 17:27] WilliamAntonRohm commented on #3773
@CihanYet Thanks for your question. It looks like you're having an issue with the product itself, rather than an issue with the documentation. Here are a few options where you might consider asking your question:​
[https://social.msdn.microsoft.com/Forums/vstudio](https://social.msdn.microsoft.com/Forums/vstudio)
[https://www.stackoverflow.com](https://www.stackoverflow.com)
[https://www.reddit.co

[2019-08-15 17:27] #3773 closed

[2019-08-15 17:36] WilliamAntonRohm commented on #3780
@HKimhab -- there should be a link in the lower left of your screen that says "Download PDF".  Please try that, and if it doesn't work, let us know at https://aka.ms/sitefeedback.

[2019-08-15 17:36] #3780 closed

[2019-08-15 17:39] WilliamAntonRohm commented on #3782
@seminumber It looks like you have product feedback rather than documentation feedback. If you are looking for functionality that isn’t currently provided by the product, please use our “Suggest a feature” option in the [Visual Studio Developer Community](https://developercommunity.visualstudio.com/). We’d be happy to have this on record, where others can view it and upvote it, too. For more infor

[2019-08-15 17:39] #3782 closed

[2019-08-15 17:49] seaniyer commented on #3405
@VisualMicro

Tim, I have submitted a problem on your behalf. Please go to the report using below link and vote so you will be notified on progress updates from Visual Studio team.
https://developercommunity.visualstudio.com/content/problem/696373/slowness-accessing-dte-properties.html

Thanks
Sean

[2019-08-15 17:52] seaniyer commented on #3405
@agpreynolds, @VisualMicro - We are sorry sign in has been a frustrating experience.  We are working to fix it.  The issue is being tracked and updated at the issue linked below.  You can vote so you get automatic notifications when there are updates.
https://developercommunity.visualstudio.com/content/problem/583234/error-signing-to-vs-feedback-tool.html?childToView=681384#comment-681384

Thanks

[2019-08-15 17:57] VisualMicro commented on #3405
Thank you

Tim

From: Sean<mailto:notifications@github.com>
Sent: 15 August 2019 18:50
To: MicrosoftDocs/visualstudio-docs<mailto:visualstudio-docs@noreply.github.com>
Cc: VisualMicro<mailto:github@visualmicro.com>; Mention<mailto:mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/visualstudio-docs] Why not just give a link? (#3405)

@VisualMicro<https://eur03.safelinks.protection.outlook.com

[2019-08-15 18:49] mbranscomb commented on #3770
@WilliamAntonRohm

For our internal graphics team, a 200x200 image can still be considered a small 'splash screen' whereas 128x128 falls under the 'logo' category and will have a different design. We now have a new graphics request in progress.

It would be good to see additional clarification added to the doc topic to indicate that extension developers targeting VS2017 and above should be plannin

[2019-08-15 19:02] TerryGLee commented on #3768
@gaheath Additionally, please note that there are detailed instructions for creating an offline installation on the following page: [Create an offline installation of Visual Studio](https://docs.microsoft.com/en-us/visualstudio/install/create-an-offline-installation-of-visual-studio?view=vs-2019). However, you must have an internet connection to download the bootstrapper.

[2019-08-15 19:38] tawmoto opened #3785 "Warning c26814"
I copied the examples at your page, but I don't get c26814, instead I got different similar warnings:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e578eb30-f294-9f1a-3615-0fd48845f4bc
* Version Independent ID: 492a39c3-88ae-2b4c-f13f-a9bde959add7
* Content: [c26814 - Visual Studio](https://docs.microsoft.com/

[2019-08-15 20:01] WilliamAntonRohm commented on #3753
@Mikejo5000 -- Mike, please review my changes in the above-mentioned PR 5213

[2019-08-15 20:03] WilliamAntonRohm commented on #3753
Thank you for your feedback.  I have updated the documentation and it should be live by tomorrow.

[2019-08-15 20:03] #3753 closed

[2019-08-15 20:28] atloiaco commented on #1531
Has anyone found a workaround for this yet? We just tried to create a network installation of 2019 and when we go to install it on the clients. I pops up with the verifying files window for about a minute before the windows disappears and thats the end of it. We created multiple layouts and haven't been able to install any of them.

[2019-08-15 20:41] JordanMaples commented on #3785
Hi @tawmoto,

I'll install the latest release and check right now.

In the meantime, are you running the code in Visual Studio itself or are you running from the command line? If you're running from VS, please make sure you've either enabled C26814 inside your currently selected ruleset, or are using the "C++ Core Check Const Rules."

-Jordan

[2019-08-15 21:21] tawmoto commented on #3785
I am using latest VS 2017 with all analyser options enabled. Thanks

[2019-08-15 22:31] ghogen commented on #2377
Added more Build Actions and descriptions to the list.

[2019-08-15 22:31] #2377 closed

[2019-08-15 22:40] JordanMaples commented on #3785
You'll need to update to the latest Visual Studio 2019 to use this check. It was released with [Preview 2](https://devblogs.microsoft.com/cppblog/new-c-core-check-rules/).

[2019-08-15 23:50] gewarren commented on #555
I updated this topic in July.

[2019-08-15 23:50] #555 closed

[2019-08-15 23:55] #3763 closed

[2019-08-16 04:19] StingyJack commented on #3719
@msebolt - you may want to check your sources, this checkbox has been available for at least a month or two. 16.1 was the first release that should have had it.

[2019-08-16 04:21] StingyJack opened #3786 "Missing Option: Restore Solution Explorer project hierarchy state on solution load"
This sounds useless to provide as an option. What does it do and why would anyone not want to load a solution properly when they open it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 28461613-82d6-e8f7-7f12-da24a594775d
* Version Independent ID: d7758211-e43d-9fca-4ca2-52be17a7cd63
* Content: [Projects and Solutions,

[2019-08-16 07:25] cremor commented on #1531
I have no problems with the script that I linked in my last comment. I'm using it for each VS2019 update.

[2019-08-16 09:42] TobiasDeVries commented on #2998
Hi, I'm using Visual Studio2017 and had the same Problem.

[2019-08-16 10:55] ruslan528 opened #3787 "Missing option for /Diff command line switch: "Open in new instance of IDE""
It's a very uncomfortable to merge csproj file in IDE where this project has already be opened

[2019-08-16 15:20] atloiaco commented on #1531
@cremor thank you for replying. For your script is it for installation after the network installation layouts have been created? If so I tried your script and had the same issue with the different layouts we have.

[2019-08-16 16:00] gewarren commented on #3786
Referring to this new option:

![image](https://user-images.githubusercontent.com/24882762/63181027-3ac67e80-c004-11e9-86ba-faf60e5a6d2e.png)

[2019-08-16 16:17] gewarren commented on #2998
@TobiasDeVries Are you referring to these instructions and image? If so, make sure you have Visual Studio 2017 selected (in the left pane above the table of contents).

![image](https://user-images.githubusercontent.com/24882762/63182117-9abe2480-c006-11e9-9b3d-a6a606c4ba80.png)

[2019-08-16 16:20] gewarren commented on #3719
Referring to this option:

![image](https://user-images.githubusercontent.com/24882762/63182288-17e99980-c007-11e9-9b1f-39bce3b13073.png)

[2019-08-16 16:46] cremor commented on #1531
Yes, the script installs an previously downloaded layout.

I've never encountered the problem you describe. The problem discussed in this issue is that the network layout just isn't used (and everything is downloaded again during the setup). If the installer doesn't even start, there is something else wrong with it.

[2019-08-16 17:43] atloiaco commented on #1531
The installer starts and I get the screen that has "Just a moment ... fetching your files" and under it is Verifying and Installing. The verifying bar is at 100% and installing just stays at 0%. Then the window just closes. I am able to install this same layout from the network share on a Virtual Box that is connected to the internet so it would seem that the layout is not the issue, it is just tr

[2019-08-16 17:55] #1907 closed

[2019-08-16 17:55] #1959 closed

[2019-08-16 19:15] #3722 closed

[2019-08-16 19:17] JordanMaples commented on #3785
@WilliamAntonRohm there's no bug here. can you close the issue.

[2019-08-16 19:17] WilliamAntonRohm commented on #3787
@ruslan528 Thanks for your feedback; we appreciate it. To make sure we have all the information needed to triage your issue, please let us know which topic you’re referencing, or provide more context around the general task.

[2019-08-16 19:23] WilliamAntonRohm commented on #3770
@mbranscomb -- Mike, thank you for your feedback.

@madskristensen -- Mads, please look into this issue 3770.

[2019-08-16 19:37] TerryGLee commented on #3785
I'll close it; thanks.

[2019-08-16 19:37] #3785 closed

[2019-08-16 21:23] WilliamAntonRohm commented on #3568
Thank you for your feedback.  I have updated the documentation and it should be live by tomorrow.

[2019-08-16 21:23] #3568 closed

[2019-08-16 21:26] TerryGLee commented on #3504
@johnaho We recently updated this page so it should match what you expect to see. Thanks for helping us improve the documentation!

[2019-08-16 21:26] #3504 closed

[2019-08-16 21:28] TerryGLee commented on #3023
@ChristianHaefner It looks like you might be using an older version of the Visual Studio bootstrapper. If you update your layout with the most current bootstrapper for Visual Studio 2017 version 15.9.15, the correct certificates should be populated. If this doesn't do the trick, let us know by using the [Report a Problem](https://docs.microsoft.com/visualstudio/ide/how-to-report-a-problem-with-vis

[2019-08-16 21:28] #3023 closed

[2019-08-16 21:30] TerryGLee commented on #1525
Please note that in "Option 3 - Install certificates as part of a scripted deployment of Visual Studio" section, we added an example that shows certutil.exe, which Visual Studio 2017 version 15.8 Preview 2 or later uses. If this doesn't work for you, let us know by using the [Report a Problem](https://docs.microsoft.com/visualstudio/ide/how-to-report-a-problem-with-visual-studio) tool to report th

[2019-08-16 21:30] #1525 closed

[2019-08-16 22:27] WilliamAntonRohm commented on #3764
Thank you for your feedback.  I have updated the documentation and it should be live by tomorrow.

[2019-08-16 22:27] #3764 closed

[2019-08-16 22:44] #1577 closed

[2019-08-17 03:32] ssimontis commented on #1090
@gewarren The Text Editor->Advanced screen is missing completely from the documentation. Pretty sure this is a fairly recent addition as I don't recall ever seeing these menu choices before.

[2019-08-17 06:01] kuldip1490 opened #3790 "MSBUILD Clickonce Publish not created publish.html page [Azure DevOps]"
/target:publish
/p:ApplicationVersion=$(AssemblyVersion)
/p:PublishURL=http://custome url/
/p:UpdateEnabled=true
/p:UpdateMode=Foreground
/p:CreateWebPageOnPublish=true
/p:WebPage="publish.html"
/p:IsWebBootstrapper

[2019-08-17 20:15] colinkiama opened #3791 "Steps don't work when applied to my own app"
With an existing app, when I create a unit test project and add a reference to the main app, I end up with payload errors. The tests never run.

The workaround was to put all code for that will be tested into a library (e.g Universal Windows Class Library) and add a reference to the library in the unit test project.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2019-08-19 08:53] yatagarasu25 opened #3793 "How to skip verification on layout update?"
Verification uses to much time how to disable it? I am pretty sure my install dir is not broken, I was not touching it, Why I should wait half an hour before installer will load new components?

[2019-08-19 14:41] dinobu opened #3794 "Obsolete plus missing info on VS for Mac"
This is obsolete and it is missing same information for VS for Mac

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2df4c6fa-3c52-7129-fb99-576fbc573386
* Version Independent ID: f4538a2b-56bf-48e2-e885-2d632032a31e
* Content: [Options, Text Editor, All Languages, Tabs - Visual Studio](https://docs.microsoft.com/en-us/vi

[2019-08-19 14:42] dinobu opened #3795 "Obsolete and Missing VS for Mac Information"
Please add information on how to do tabs vs spaces setting for VS 4 mac

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2bf1a218-2295-22ac-03eb-1ccc63b4a3e6
* Version Independent ID: baa311a7-6b87-6196-ae8a-b8759a1df73c
* Content: [C# editor formatting options - Visual Studio](https://docs.microsoft.com/en-us/visualstud

[2019-08-19 14:57] mmoriartyCMC opened #3796 "Sharepoint or Outlook"
It looks like an outlook article but references the Sharepoint project template.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd2cccf4-e8b1-aa69-b3ae-50d27b2a4d50
* Version Independent ID: 9c3a644a-f267-4092-24be-2566788e7500
* Content: [Walkthrough: Create your first VSTO Add-in for Outlook - Visual Studio](https://

[2019-08-19 14:59] ite-klass opened #3797 "Missing information and wrong link on `TargetFrameworkProfile`"
The section on `TargetFrameworkProfile` describes how to set a configuration value, but nothing more.

It refers and links to a how to page that has no information about `TargetFrameworkProfile` at all.

So I think this link should be removed. And the question is: Is there more information on `TargetFrameworkProfile` elsewhere?

---
#### Document Details

⚠ *Do not edit this section. It is require

[2019-08-19 17:54] #472 closed

[2019-08-19 17:54] #2839 closed

[2019-08-19 19:04] CeciAc opened #3799 "There is no Run on the Test branch of the menu bar"
The comment below was machine translated

@wraith13 commented on [Mon Aug 19 2019](https://github.com/MicrosoftDocs/visualstudio-docs.ja-jp/issues/1828)

https://docs.microsoft.com/ja-jp/visualstudio/get-started/tutorial-projects-solutions?view=vs-2019#next-steps
[code]

However, when I checked in the Japanese version of Mirosoft Visual Studio Community 2019 Version 16.2.2, only [Window] existed i

[2019-08-19 19:09] CeciAc commented on #3799
Not sure if a product feedback or if the user is reporting an inaccuracy in the documentation
best regard

[2019-08-19 20:22] WilliamAntonRohm commented on #3790
@kuldip1490 Thanks for your feedback; we appreciate it. To make sure we have all the information needed to triage your issue, please let us know which topic you’re referencing, or provide more context around the general task.

[2019-08-19 20:24] WilliamAntonRohm commented on #3793
@yatagarasu25 -- Igor, thanks for your feedback; we appreciate it. To make sure we have all the information needed to triage your issue, please let us know which topic you’re referencing, or provide more context around the general task.

[2019-08-19 20:48] WilliamAntonRohm commented on #3799
@CeciAc -- Cecilia, please forward this reply on to wraith13:

Thanks for your feedback; we appreciate it. To make sure that this is logged in the right place, please use the [Report a Problem](https://docs.microsoft.com/visualstudio/ide/how-to-report-a-problem-with-visual-studio) tool to report the issue. When you do so, your report becomes part of the work items that are listed in the in the [Vi

[2019-08-19 20:48] #3799 closed

[2019-08-19 21:02] John-Hart commented on #3796
@mmoriartyCMC the document just mentioned that the templates are under the Office/SharePoint node in Visual Studio.  This was true for all versions of Visual Studio prior to Visual Studio 2019

[2019-08-19 21:02] #3796 closed

[2019-08-19 21:42] #3360 closed

[2019-08-19 22:29] gewarren commented on #3794
@conceptdev @asb3993 Does VS for Mac have docs for options pages?

[2019-08-19 22:32] gewarren commented on #3795
@dinobu This particular help topic is only for VS on Windows. For configuring tabs versus spaces for VS for Mac, you can do that with an EditorConfig file: https://docs.microsoft.com/visualstudio/mac/editorconfig?view=vsmac-2019.

/cc  @asb3993

[2019-08-19 22:32] #3795 closed

[2019-08-20 07:31] kuldip1490 commented on #3790
please check the details https://github.com/MicrosoftDocs/vsts-docs/issues/5278#issuecomment-522860342

[2019-08-20 12:07] wraith13 commented on #3799
https://developercommunity.visualstudio.com/content/problem/672211/test-menu-items-missing-except-windows.html
I found it. But I'm sad...

[2019-08-20 21:27] casterle opened #3802 "Missing documentation"
There is no documentation for the "Advanced" settings section of the "Text Editor" options.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed1ad3bb-8825-c292-1dc7-9cb101106124
* Version Independent ID: 47e2bf35-21c1-584a-4e84-7cc28ab24726
* Content: [Options dialog - Visual Studio](https://docs.microsoft.com/en-us/visu

[2019-08-20 21:50] joshrpg opened #3803 "Licensing Issue"
I'm not sure if it's worth stating in the documentation but it seems that if you want to virtualize Visual Studio, you must first run this before running the StorePID.exe. Otherwise, the licensing process will fail.

```"C:\Program Files (x86)\Microsoft Visual Studio <VERSION>\Common7\IDE\DDConfigCA.exe"```

[2019-08-20 22:15] gewarren commented on #3802
@casterle Thanks, this is already being tracked by #3121.

[2019-08-20 22:15] #3802 closed

[2019-08-21 03:29] gewarren commented on #931
The Blend docs have been updated (this particular article was removed and now redirects to the VS 2015 version).

[2019-08-21 03:29] #931 closed

[2019-08-21 03:32] gewarren commented on #2035
Due to the low page views on this topic and the fact that Microsoft is not actively developing the modeling technology, I unfortunately have to close this issue as "won't fix" due to its lower priority.

[2019-08-21 03:32] #2035 closed

[2019-08-21 03:33] gewarren commented on #2548
@mavasani Could you comment on these suggestions? I see that this is a ported rule.

[2019-08-21 03:38] gewarren commented on #3646
Closing since this is already documented here: https://docs.microsoft.com/en-us/visualstudio/code-quality/configure-fxcop-analyzers. If there's something else that's missing, let me know and I'll reopen.

[2019-08-21 03:38] #3646 closed

[2019-08-21 13:44] asb3993 commented on #3794
Hello, we have docs on various options or Preferences in Visual Studio for Mac. You can find them here: https://docs.microsoft.com/en-us/visualstudio/mac/source-editor?view=vsmac-2019. We're also continuing to add many more docs around the new editor, so let me know if you notice anything missing!

[2019-08-21 13:44] #3794 closed

[2019-08-21 14:20] djohansing opened #3804 "XAML Hot Reload Only Works With "Debug" Configuration"
We have a solution that uses WPF XAML. We are using the latest version of Visual Studio and it seems that [this feature](https://docs.microsoft.com/en-us/visualstudio/debugger/xaml-hot-reload?view=vs-2019) only works when the configuration name is "Debug". Anything else and it will not reload any changes to xaml while running the application.

[2019-08-21 14:50] msebolt commented on #3804
@djohansing  Thank you for the feedback, we're sorry you're having issues with the product.

Unfortunately this is a known limitation of **Hot Reload**, as mentioned in [Write and debug XAML Hot Reload](https://docs.microsoft.com/en-us/visualstudio/debugger/xaml-hot-reload?view=vs-2019):

[code]

If you'd like this available, please try [Suggest a Feature](https://docs.microsoft.com/en-us/visualst

[2019-08-21 14:58] msebolt commented on #3803
@joshrpg  Thank you for the feedback.

The documentation has been updated.

[2019-08-21 15:03] djohansing commented on #3804
I saw that note, we are not using "Attach to process" and the debugger is attached. We can use "Edit and Continue", etc. with our code, just the XAML reload did not work until we changed the config name, which seems very odd.

So, the limitation description is misleading.

[2019-08-21 16:43] Ma-XX-oN commented on #3381
Then why does it show up in the natvis.xsd file, which is located on my computer in `C:\Program Files (x86)\Microsoft Visual Studio\2017\Professional\Common7\Packages\Debugger\natvis.xsd`.  This file is where the popup help I get from the VS IDE:

![image](https://user-images.githubusercontent.com/10625935/63450913-122df280-c411-11e9-8696-676256421860.png)

[2019-08-21 17:15] KCarterSr opened #3805 "Where's the sample.,"
On this page it states, "You can find an example of nested projects in the C# Example.Nested Project sample."

I've been unable to locate this sample. Can you provide a link?

Thanks
K.L. Carter Sr.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e094e917-1d6c-d25a-2591-af1e9b039d2f
* Version Independent ID: d6c4e709-95

[2019-08-21 17:17] msebolt commented on #3803
Re-assigning for confirmation with the product team.

[2019-08-21 17:25] msebolt commented on #3710
@jcridgeNATS Thank you for the feedback.

Our apologies on the delay on this, re-assigning to the author for investigation.

[2019-08-21 17:32] msebolt commented on #3711
Moved this to product support, see https://developercommunity.visualstudio.com/content/problem/703794/usingtask-does-not-work-properly-with-32-bit-msbui.html.

[2019-08-21 17:53] Nate0922 opened #3806 "Option does not exist in Test menu"
https://developercommunity.visualstudio.com/content/problem/332481/analyze-code-coverage-no-longer-on-test-menu.html

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4305ee45-a84a-aa05-5b94-4f9d77dadc40
* Version Independent ID: 47acca13-0363-7ea3-08e3-4f2039705223
* Content: [Code coverage testing - Visual Studio](https

[2019-08-21 18:06] #3719 closed

[2019-08-21 18:06] #3786 closed

[2019-08-21 18:06] #1348 closed

[2019-08-21 18:06] #2914 closed

[2019-08-21 18:23] StingyJack opened #3808 "SDK style projects did not require unloading in order to edit them."
&gt; This is an easy way to edit the project XML file without having to first unload the project and then open the project file for editing

You could always edit SDK files by right clicking and choosing the Edit..csproj menu item. The better file format required unloading first, and that was a semi-artificial requirement since editing values on the project property pages didn't require unloading

[2019-08-21 18:33] gewarren commented on #3808
Ah thanks, I'll get that fixed.

[2019-08-21 19:34] rtaylor72 opened #3809 "NotImplementedException should be allowed for abstract class."
You should be allowed to have NotImplementedException in an abstract class.  None of the other allowed exceptions define the issue where someone has not fully implemented a concrete class.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 97481308-03ef-f29b-5483-616a6beae238
* Version Independent ID: 00357ee6-530e-d8ee-22

[2019-08-21 19:42] msebolt commented on #3758
This has been moved to the product support forums, see https://developercommunity.visualstudio.com/content/problem/703898/metricsexe-looking-for-msbuild-in-wrong-location.html.

[2019-08-21 20:49] msebolt commented on #3805
@KCarterSr  Thank you for the feedback, please refer to [this article](https://docs.microsoft.com/en-us/visualstudio/extensibility/internals/how-to-implement-nested-projects?view=vs-2019).

The documentation has been updated.

[2019-08-21 21:30] mark-monteiro commented on #3695
@gewarren The documentation page referenced in this ticket is for configuring RuleSets for code analysis, which is still used by the new code analyzers.

The page has a section "Specify rule sets for multiple projects in a solution", but the instructions detailed there do not work if you are using the new analyzers.

That section of the documentation should be updated to say that you cannot specif

[2019-08-21 22:02] msebolt commented on #3806
@Nate0922  Thank you for the feedback.

The documentation has been updated.

[2019-08-21 22:02] #3806 closed

[2019-08-21 22:10] gewarren commented on #3809
@rtaylor72 Are you saying the rule shouldn't fire in this case, or the documentation needs to state that it's okay to suppress the warning in this case?

[2019-08-21 22:13] gewarren commented on #3809
If you are asking for the rule to be changed, please file an issue in the roslyn-analyzers github repo. Here is a related issue: https://github.com/dotnet/roslyn-analyzers/issues/2761.

[2019-08-21 22:28] cowlinator commented on #683
Thanks @lostromb .
Can we please put this on a documentation page rather than just in a issue comment?

[2019-08-21 22:32] davidbIQ commented on #1411
The link for marketplace is for vscode, not for full visual studio, IMO the pass park for this is start new Kubernetes project, and if you have minikube installed, it is a option in the drop down run list like Docker, IIS, Kuberneties2, and AzureDevSpaces.  It may require installing an extension but it really shouldn't.

[2019-08-21 22:40] rtaylor72 commented on #3809
Correct, I feel that the rule needs to be changed to include NotImplementedException . I will make a comment on that thread as well.  Thanks!

[2019-08-21 22:54] #3809 closed

[2019-08-21 23:05] Zenexer commented on #3809
This is a bug: https://github.com/dotnet/roslyn-analyzers/issues/2761.  NotImplementedException is supposed to be allowed in most places.

[2019-08-21 23:07] gewarren commented on #2843
@AbhitejJohn What's the currently recommended way to create a data source for data-driven tests?

[2019-08-21 23:09] Zenexer commented on #3809
@rtaylor72 To be clear, you probably shouldn't be using NotImplementedException in abstract classes.  Instead, favor this:

[code]

This won't compile because B doesn't implement SomeMethod.  The following is less ideal:

[code]

This will compile; you won't actually get an exception until something attempts to call SomeMethod, which may never happen during your testing.  You can apply the same tr

[2019-08-22 00:00] gewarren commented on #2869
Discussion of these two arguments is here: https://github.com/microsoft/vstest/issues/1732#issuecomment-416519608. @singhsarab Can you help out with documenting these options?

[2019-08-22 08:17] AbhitejJohn commented on #2843
@gewarren : [This](https://docs.microsoft.com/en-us/visualstudio/test/how-to-create-a-data-driven-unit-test?view=vs-2019#specify-the-datasourceattribute) should be helpful. @cltshivash would be able to help with examples perhaps.(Just can't seem to tag him on this repo - perhaps he isn't a member here yet).

[2019-08-22 10:26] nextbenjy commented on #1317
thanks midspace :)

[2019-08-22 14:01] KCarterSr commented on #3805
I've already seen that.  the question was about finding the project file listed in the article. I found several projects that begin with Examlple."projectname" but not the one listed. Can you point me to it?

Thanks

[2019-08-22 14:31] rainersigwald commented on #3711
@Alan-d, I responded on https://developercommunity.visualstudio.com/content/problem/703794/usingtask-does-not-work-properly-with-32-bit-msbui.html.

@msebolt / @mikejo5000 there is room to improve the docs here. Can we add a link from this page (`UsingTask`) to the detailed docs on why you might change the various parameters in the element at https://docs.microsoft.com/en-us/visualstudio/msbuild/h

[2019-08-22 15:52] Mikejo5000 commented on #3711
Sure, I'll plan to add a link.

[2019-08-22 18:06] #3808 closed

[2019-08-22 18:06] #2859 closed

[2019-08-22 18:06] #3017 closed

[2019-08-22 18:23] gewarren commented on #3787
This sounds like product feedback, not documentation feedback. Is that correct?

[2019-08-22 18:35] Eddie-Hartman opened #3811 "ASPX Page Task List Tokens"
I've added a task list token to an ASPX page that I'm working on, but the line does not show up when I look for it in Task List. Why? It works on .cs files fine.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a1261884-8284-53f9-a325-15061bf897f8
* Version Independent ID: 4520c20f-86f6-5066-298b-d3d428901f87
* Content:

[2019-08-22 18:37] KubaO opened #3812 "None of this works"
None of those targets work in C# projects (.csproj) in latest VS 2019.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 868d865b-89d9-ec87-d569-862d168dc6ca
* Version Independent ID: a95f34e2-8f4b-4a4b-cb7e-075e4ceebd69
* Content: [Extend the build process - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/ms

[2019-08-22 18:44] ruslan528 commented on #3787
Yes, I'm sorry :)

[2019-08-22 18:44] #3787 closed

[2019-08-22 19:10] mdell-seradex commented on #2785
Thank you for the update, however can a link also be added the refers to how to remove the certificate chain?
Thank you!

[2019-08-22 19:17] gewarren commented on #2843
@AbhitejJohn The [Unit test basics Q&A](https://docs.microsoft.com/en-us/visualstudio/test/unit-test-basics?view=vs-2019#qa) shows an example that uses an Access database. Would it be appropriate to change the example in the Create data-driven tests article to use an Access database instead of SQL Compact?

[2019-08-22 19:31] gewarren commented on #2785
@Mikejo5000 Can you help out with that question?

[2019-08-22 19:33] Mikejo5000 commented on #2785
Sure, I'll take a look at this.

[2019-08-22 20:46] DMX-DCardinal opened #3813 "Missing information"
Hi, I think there is a lot of missing information in the "Extend exisiting tool windows". Here are the tutorials that I was looking for when I was looking to "extend existing tool windows":
Extend existing tool window functionality: https://docs.microsoft.com/en-us/visualstudio/extensibility/extending-the-solution-explorer-filter?view=vs-2019
Add functionality to existing tool windows: https://doc

[2019-08-22 21:58] AbhitejJohn commented on #2843
@gewarren: perhaps. @cltshivash would be the right contact for that though.

[2019-08-22 23:24] msebolt commented on #3811
@Eddie-Hartman Thank you for the question.

Built-in tokens such as `TODO` are only supported in C/C++/C# and VB.  For ASPX pages, you'll need to [create a custom token](https://docs.microsoft.com/en-us/visualstudio/ide/using-the-task-list?view=vs-2019#tokens-and-comments).

If this is something you'd like to see supported in future versions, please use the [Submit a feature](https://docs.microsof

[2019-08-22 23:30] msebolt commented on #3812
@KubaO  Thank you for the feedback.  We're sorry to hear you're experiencing issues.

Have you tried the **Clean Solution** option under the **Build** menu?  The **Clean** option is specifically meant for instances when all targets need to be rebuilt.

[2019-08-22 23:36] Eddie-Hartman commented on #3811
You LITERALLY linked me to the same page that I posted this feedback from and I already added the custom token. That's the entire reason why I posted this.

[2019-08-22 23:37] msebolt commented on #3811
@Eddie-Hartman Can you post your custom token then?

[2019-08-22 23:40] Eddie-Hartman commented on #3811
Sure. I made the token "Eddie".
Typing //Eddie in a cs page as I mentioned will show up in a cs page, but it looks to me like ASPX pages don't support tokens at all? I was expecting
 to show up in the task list.
I tried  too just in case.

(I'm working on an older code base with tons of TODO s left over, so using "Eddie" as the token makes it very clear while it's there and sticks out in code revi

[2019-08-22 23:42] KubaO commented on #3812
Of course cleaning will "fix it", but do you seriously expect someone to clean before every single build, just so that the updated source files will rebuild the generated targets? C# output is also "generated", and the dependencies are properly tracked and changing source files will cause recompilation. It's natural to assume that custom build targets, with properly specified `Inputs` and `Outputs

[2019-08-22 23:47] msebolt commented on #3811
@Eddie-Hartman Thank you for the information.

It seems that `--` is causing issues (see [here](https://stackoverflow.com/questions/923333/possible-to-have-visual-studio-todo-comments-in-aspx-ascx-files-appear-in-task-l)), please remove and try again, you should still be able to nest them in comments though.

This also appears to be an [ongoing bug](https://developercommunity.visualstudio.com/cont

[2019-08-22 23:48] msebolt commented on #3813
@DMX-DCardinal Thank you for the feedback.

The documentation has been updated.

[2019-08-22 23:48] #3813 closed

[2019-08-23 00:03] msebolt commented on #3812
@KubaO  You're correct in that the Visual Studio IDE portion referenced above represents only the basic core (or "shell") concepts of the MSBuild engine.

Perhaps you can refer to the [MSBuild](https://docs.microsoft.com/en-us/visualstudio/msbuild/msbuild?view=vs-2019) documentation for the more advanced concepts?

[2019-08-23 00:09] Eddie-Hartman commented on #3811
The first link that you sent appears to explain a workaround that is useful, but it was not a complete answer. I've added my own answer to that stack overflow question to hopefully explain it a bit more clearly.
The second link that you gave appears to be an unrelated issue that had to do with items not showing up in the task list unless the document was open, which was not the issue that I was ex

[2019-08-23 01:25] msebolt commented on #3811
@Eddie-Hartman Thank you for the update, it's good that you have a work-around.

The second link was only a Task List bug example, please see [here](https://developercommunity.visualstudio.com/idea/361256/show-todos-in-task-list-on-a-razor-page.html).

[2019-08-24 02:36] davepend commented on #3811
@Eddie-Hartman is right; this should work in *any* supported language. I've taken to using Task List shortcuts, but they aren't automatic.

[2019-08-25 05:04] StevenTCramer opened #3815 "Visual studio suggestions don't align with docs."
The Levels in the documentation don't exactly match with the suggestions in Visual Studio.

![image](https://user-images.githubusercontent.com/357219/63645820-4ca8cf80-c730-11e9-98b0-58565c55af27.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c27ec225-8fc2-3578-05a0-a3e56e1c6510
* Version Independent ID: 186d9286-

[2019-08-25 17:30] rlivings39 opened #3819 "How to debug extension assembly not being loaded"
Thanks for the walk through in this documentation. In following it I've been able to:

* Add an extension for a language
* Define a content type for my language
* Register a .tmLanguage file for syntax highlighting
* Verify that syntax highlighting works properly for the new language/file extension/content type
* Write a language client class associated with the content type

The issue I'm having

[2019-08-26 07:33] PendantTomcat opened #3820 "Correct"
This is super informative and a great way to start and access some of the features of GitHub.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 78e0dbc2-35de-0efe-ae1b-b9d2507f2b4d
* Version Independent ID: f1e1caeb-78d3-262f-6311-6606720893a3
* Content: [Visual Studio + GitHub Bundle](https://docs.microsoft.com/en-us/vis

[2019-08-26 18:16] Alan-d commented on #3711
Awesome, thanks for the extra details.

Thanks,
Alex

From: Rainer Sigwald <notifications@github.com>
Sent: Thursday, August 22, 2019 7:32 AM
To: MicrosoftDocs/visualstudio-docs <visualstudio-docs@noreply.github.com>
Cc: Alex Anderson <aland@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/visualstudio-docs] UsingTask does not work properly with 32-bit msbuild + 64-

[2019-08-26 20:29] dtivel opened #3823 "NgenApplication value incorrect"
After chatting with Mike Wade, I think that the XML example is incorrect.

    <NgenApplication>vsn.exe</NgenApplication>

To use the default vsn.exe you should be able to exclude the `NgenApplication` element.  Alternatively, you can explicitly use vsn.exe by specifying the full path:

    <NgenApplication>[installdir]\Common7\IDE\vsn.exe</NgenApplication>

---
#### Document Details

⚠ *Do not ed

[2019-08-27 13:55] anfangda opened #3825 "CA2000 not ported/active"
You list the rule under "Ported", but it is not active.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dd01f814-2fb6-066f-bdae-c7070e5f22d7
* Version Independent ID: 32f4ae71-bfb3-259f-0f10-bc56f184a9ad
* Content: [FxCop rule port status - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/code-quality/fxcop-

[2019-08-28 01:00] yannduran commented on #2854
This is how all new features/behavior should be implemented, enabled by default, but able to be switched off if the user decides that's how **they** want it.

[2019-08-28 10:51] hichits opened #3830 "open folder option not available in MAC ???"
This page does not talk about how to handle the same in MAC

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 970f0d59-b2b4-7082-1c2c-a468c93571ef
* Version Independent ID: a3135966-c343-5a6b-cd97-772a0c34fd93
* Content: [Develop code without projects or solutions - Visual Studio](https://docs.microsoft.com/en-us/visualst

[2019-08-28 19:59] jmroyb opened #3833 "Download PDF in other language"
Hi folks,
I can download as PDF https://docs.microsoft.com/en-us/visualstudio/test/improve-code-quality?view=vs-2019

But PDF link is missing for https://docs.microsoft.com/es-es/visualstudio/test/improve-code-quality?view=vs-2019

Do you plan to allow dowload this link and others in other language than English?

Cheers

[2019-08-28 20:56] amunger opened #3835 "How to add custom menu items to the Dynamic list"
The article shows how to create a dynamic menu that will be populated with the project names of the solution, but how would I specify my own items?

The introduction explains that:
"To populate the dynamic list, Visual Studio asks the VSPackage to look for a command with an ID whose first characters are the same as the ID of the placeholder. "
But this example only ever creates one CommandID and w

[2019-08-28 22:58] msebolt commented on #3249
@Alone2Me  Thank you for the feedback.

Does the [Khmer language pack](https://www.microsoft.com/km-kh/download/details.aspx?id=17036) address your needs?

If there are issues, please comment below.  This issue might be better suited as a feature request per the [Visual Studio forums](https://developercommunity.visualstudio.com/spaces/8/index.html).

[2019-08-28 23:26] ghogen commented on #2923
Checking with the engineering team to see if it's possible to add diagnostic information on skipped projects.

[2019-08-28 23:44] msebolt commented on #1897
@elahshalev  The only way is by using git:

- check `stash` to see if any local changes were saved
- try `git reflog` (see specifics [here](https://forums.xamarin.com/discussion/6579/git-update-overwrote-all-my-code-and-deleted-new-files/p2))
- try ` git fsck` (see specifics [here](https://stackoverflow.com/questions/2780402/how-to-restore-files-that-were-removed-by-git))

If you'd like to file th

[2019-08-28 23:52] #1897 closed

[2019-08-29 11:09] dchaib commented on #3409
I can confirm the issue. I cannot get this to work if the file is not placed in a parent folder of the project. For information, my goal is to share the .editorconfig file across different solutions/repos in my company using a NuGet package.

[2019-08-29 11:17] mavasani commented on #3409
@JimBobSquarePants @dchaib Are you talking about the approach number 2. mentioned here: https://github.com/dotnet/roslyn-analyzers/blob/master/docs/Analyzer%20Configuration.md#enabling-editorconfig-based-configuration-for-a-project? Can you please clarify your repro steps and what does not work for you?

[2019-08-29 14:08] dchaib commented on #3409
Thanks for your quick reply. Yes, that's the one I'm mentioning.
Repro steps:
* create a ConsoleApp (I'm using .Net 4.7.2) in a folder, say c:\Projects\MyApp\
* create an editor config file in a folder that is not a parent, say c:\Projects\Config\, with an `ident_size` of `1`
* create a props file as described in the documentation
* reference it at the top of the csproj
* reformat the code in `Pro

[2019-08-29 14:55] mavasani commented on #3409
@dchaib The setup steps mentioned in the above configuration steps are only applicable for FxCop analyzer editorconfig settings mentioned at https://docs.microsoft.com/en-us/visualstudio/code-quality/configure-fxcop-analyzers?view=vs-2019, not for all the editorconfig settings. All other settings are still directory based.

[2019-08-29 15:59] stratusjerry opened #3837 "Regex documentation pipe character not rendering properly"
The pipe | character in docs/ide/using-regular-expressions-in-visual-studio.md used for the "Match either the expression before or the one after the symbol" is not properly escaped which makes the example case fail. Github markdown renderer show's the correct output:
`(sponge|mud) bath`

However, docs.microsoft.com example show's incorrect output:
`(sponge\|mud)`

[2019-08-29 16:36] dchaib commented on #3409
Thanks for the quick reply @mavasani. This thing between EditorConfig and FxCop is getting really confusing sometimes :)
So I guess, I should be better off copying the editorconfig file from my NuGet package to the root folder of my project. It should then work for both use cases.

[2019-08-29 16:43] mavasani commented on #3409
Yes, editorconfig implementation in Roslyn compiler and IDE is primarily implicit directory based and has been chosen as the primary analyzer configuration format. We have a feature request [here](https://github.com/dotnet/roslyn/issues/38042), especially the last part in listed items in it, to enable explicit and non-directory based configuration, similar to the way you can specify rulesets from

[2019-08-29 16:43] michaelakin commented on #3806
So, where can we find this option?

[2019-08-29 16:50] msebolt commented on #3806
@michaelakin  It's in Enterprise version's **Test Explorer**, under the **Run** options:

<img width="395" alt="86469-codecoverage" src="https://user-images.githubusercontent.com/6675884/63960002-4fface80-ca42-11e9-939f-55fc8e06e155.png">

[2019-08-29 17:05] michaelakin commented on #3806
Gotcha.  Thanks.
*Michael Akin*
Phone: 405-313-8126
Email:  michael@akin-family.org
Linked In:  http://www.linkedin.com/in/michaelakin

On Thu, Aug 29, 2019 at 11:50 AM Matthew Sebolt <notifications@github.com>
wrote:

[2019-08-29 17:39] davidekarasek opened #3838 "There is no NPM node in my project"
I'm using Visual Studio 2019 and there is no NPM in my project

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25963783-6129-cbef-174c-9dd4adde494b
* Version Independent ID: 85926796-ac02-c41b-8ffc-c8987e22f387
* Content: [Manage npm packages - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/javascript/npm-

[2019-08-29 17:53] davidekarasek opened #3840 "Open NPM interactive window doesn't exist"
There is no menu command called Open NPM interactive window in my brand new Visual Studio 2019 project.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25963783-6129-cbef-174c-9dd4adde494b
* Version Independent ID: 85926796-ac02-c41b-8ffc-c8987e22f387
* Content: [Manage npm packages - Visual Studio](https://docs.microso

[2019-08-29 21:22] WilliamAntonRohm commented on #3838
@davidekarasek -- David, thanks for your feedback; we appreciate it. To make sure we have all the information needed to triage your issue, please provide more context around the general task.

[2019-08-29 21:25] WilliamAntonRohm commented on #3840
@davidekarasek -- David, thanks for your feedback. It looks like you're having an issue with the product itself, rather than an issue with the documentation. Here are a few options where you might consider asking your question:​

[https://social.msdn.microsoft.com/Forums/vstudio](https://social.msdn.microsoft.com/Forums/vstudio)

[https://www.stackoverflow.com](https://www.stackoverflow.com)

[htt

[2019-08-29 21:25] #3840 closed

[2019-08-29 21:41] WilliamAntonRohm commented on #3833
@jmroyb -- Josep, thanks for your feedback; we appreciate it. You can submit issues related to overall site experience, or suggestions for improved site functionality or design, at [https://aka.ms/sitefeedback/](https://aka.ms/sitefeedback).

[2019-08-29 21:41] #3833 closed

[2019-08-29 21:45] davidekarasek commented on #3840
I’ve already checked these resources and have fifteen years experience with
this IDE. I finally discovered that NODEJS tools weren’t installed in the
installation so perhaps that will fix the issue; that would be problem in
your docs I’m referring to if that’s the problem. BTW in VS 2017 NPM wasn’t
an issue.

On Thu, Aug 29, 2019 at 5:25 PM William Anton Rohm <notifications@github.com>
wrote:

--

[2019-08-30 01:42] pwen090 opened #3841 "Is it possible to remote debug a asp.net core app running on Azure App Service on Linux?"
I am not finding any documentation so maybe it is not possible and that could be mentioned somewhere?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 878a2a3e-60ac-aa4e-8166-fdd230d3d87d
* Version Independent ID: e7e9d77b-57c0-cd2b-fb00-a166cbcb7cf4
* Content: [Remote Debug ASP.NET Core on IIS and Azure - Visual Studio]

[2019-08-30 07:03] N-Olbert opened #3842 "Undocumented settings in sample .runsettings file"
The following configuration settings are included in the sample .runsettings file but aren't documented anywhere:

[code]
Although it is recommended to "not change the values" it would be nice to know the exact impact of them.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 43dc6fcf-df9f-9d2a-5c6e-8da0f6925afc
* Version

[2019-08-30 08:43] jesfer opened #3843 "dev.azure.com missing in list"
The new base url dev.azure.com for Azure DevOps Services is missing in this list:
[https://docs.microsoft.com/en-us/visualstudio/install/install-and-use-visual-studio-behind-a-firewall-or-proxy-server?view=vs-2019#use-visual-studio-and-azure-services](https://docs.microsoft.com/en-us/visualstudio/install/install-and-use-visual-studio-behind-a-firewall-or-proxy-server?view=vs-2019#use-visual-studio

[2019-08-30 11:31] dchaib commented on #3409
I have not been able to copy the file from my NuGet package to the root of the project so I'll be waiting for this feature request then! Thanks again for your help!

[2019-08-30 13:21] koszeggy opened #3844 "False alarm for serialization constructor - CA1801"
The serialization constructor should be an exception for this rule as well.
This way it conflicts also with CA2229.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5030cf5c-ae08-5a08-0b47-995006379292
* Version Independent ID: 9e1df70a-127c-eafc-e027-360797faf3a6
* Content: [CA1801: Review unused parameters - Visual Stu

[2019-08-30 13:28] koszeggy opened #3845 "False alarm if GetObjectData has a SerializationInfo.SetType call - CA2229"
If `ISerializable.GetObjectData` has a `SerializationInfo.SetType` call, then another type will be deserialized (often used for singletons along with `IObjectReference`).

Either fix the analysis or change the *"Do not suppress a violation of the rule."* part.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3fc2f617-a86

[2019-08-30 13:43] koszeggy opened #3846 "The new analyzer includes the complexity of local methods"
Earlier I refactored a lot of complex methods like this:

![Screenshot](https://i.imgur.com/MM4sh1m.png)

Now these kind of methods trigger CA1502 again. Moving the local methods solves the problem but then it wouldn't be obvious that they are used only from a single method.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2019-08-30 14:25] koszeggy opened #3847 "CA1062 - False alarm for switch pattern matching"
The following example triggers CA1062 mistakenly:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a80979f5-bdc4-f5c8-9adf-fea83bafaa7e
* Version Independent ID: a28c47de-cf33-0aff-cff2-e3da9c709623
* Content: [CA1062: Validate arguments of public methods - Visual Studio](https://docs.microsoft.com/en-us/visualst

[2019-08-30 16:13] koszeggy opened #3848 "False alarm - CA3077"
The following example triggers CA3077:

[code]

The warning does not go away even if I include `XmlResolver = null;` as it is suggested in `TestClass2`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 90516fdb-8445-97f4-364d-d59e4f07dca4
* Version Independent ID: 2d057d34-c44d-98ce-62c4-da3bc9a6564a
* Content: [CA3077: I

[2019-08-30 16:28] msebolt commented on #3841
@pwen090  Thank you for the feedback, assigning this to the author.

In the meantime, please check out [this blog post](https://devblogs.microsoft.com/premier-developer/debugging-asp-core-on-linux-with-visual-studio-2017/).

[2019-08-30 16:53] msebolt commented on #3843
@jesfer  Thank you for the feedback.

The documentation has been updated.

[2019-08-30 16:53] #3843 closed

[2019-08-30 17:03] koszeggy opened #3849 "The issue cannot be fixed when targeting earlier frameworks"
The rule should consider the version of the targeted frameworks.

For example, the `Rfc2898DeriveBytes(string, byte[])` constructor triggers the warning in .NET 4.5; however, the overload with the `HashAlgorithmName` argument requires at least .NET 4.7.2.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 491d8182-a4d8-91a

[2019-08-30 17:37] #3830 closed

[2019-08-30 18:16] WilliamAntonRohm commented on #3837
Thank you for your feedback.  I have updated the documentation and it should be live by tomorrow.

[2019-08-30 18:16] #3837 closed

[2019-08-30 22:12] msebolt commented on #1560
@robertlarkins Thank you for the feedback.

You are correct, the `Kind` attribute provides no restrictions on where to the code snippet.

The documentation has been updated accordingly.

[2019-08-30 22:12] #1560 closed

[2019-08-30 22:17] msebolt commented on #1581
Closing the issue due to inactivity.

If there are any concerns, please comment below.

[2019-08-30 22:17] #1581 closed

[2019-08-30 22:38] WilliamAntonRohm commented on #1654
I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2019-08-30 22:38] #1654 closed

[2019-08-30 22:40] WilliamAntonRohm commented on #1664
@rahulvmarathe -- Rahul, it looks like you’re having an issue with installation. If your Visual Studio installation fails, see [Troubleshooting Visual Studio installation and upgrade issues](https://docs.microsoft.com/visualstudio/install/troubleshooting-installation-issues) for step-by-step guidance.​

We also offer a [Live Chat](https://visualstudio.microsoft.com/vs/support/#talktous) (English o

[2019-08-30 22:40] #1664 closed

[2019-08-30 22:41] WilliamAntonRohm commented on #1887
@sp-stuart-harrison -- Stuart, thanks for your question. It looks like you're having an issue with the product itself, rather than an issue with the documentation. Here are a few options where you might consider asking your question:​

[https://social.msdn.microsoft.com/Forums/vstudio](https://social.msdn.microsoft.com/Forums/vstudio)

[https://www.stackoverflow.com](https://www.stackoverflow.com)

[2019-08-30 22:41] #1887 closed

[2019-08-30 22:42] WilliamAntonRohm commented on #1906
@baruchiro -- Baruch, thanks for your question. It looks like you're having an issue with the product itself, rather than an issue with the documentation. Here are a few options where you might consider asking your question:​

[https://social.msdn.microsoft.com/Forums/vstudio](https://social.msdn.microsoft.com/Forums/vstudio)

[https://www.stackoverflow.com](https://www.stackoverflow.com)

[https:

[2019-08-30 22:42] #1906 closed

[2019-08-30 22:44] WilliamAntonRohm commented on #1928
@marcobeninca71 -- Marco, thanks for your feedback; we appreciate it. To make sure that this is logged in the right place, please use the [Report a Problem](https://docs.microsoft.com/visualstudio/ide/how-to-report-a-problem-with-visual-studio) tool to report the issue. When you do so, your report becomes part of the work items that are listed in the in the [Visual Studio Developer Community](http

[2019-08-30 22:44] #1928 closed

[2019-08-30 22:45] WilliamAntonRohm commented on #1934
@fairjm -- Thanks for your question. It looks like you're having an issue with the product itself, rather than an issue with the documentation. Here are a few options where you might consider asking your question:​

[https://social.msdn.microsoft.com/Forums/vstudio](https://social.msdn.microsoft.com/Forums/vstudio)

[https://www.stackoverflow.com](https://www.stackoverflow.com)

[https://www.reddi

[2019-08-30 22:45] #1934 closed

[2019-08-30 22:49] WilliamAntonRohm commented on #2031
@SativaPhoenix -- Darryn, thanks for your feedback; we appreciate it. To make sure that this is logged in the right place, please use the [Report a Problem](https://docs.microsoft.com/visualstudio/ide/how-to-report-a-problem-with-visual-studio) tool to report the issue. When you do so, your report becomes part of the work items that are listed in the in the [Visual Studio Developer Community](http

[2019-08-30 22:49] #2031 closed

[2019-08-31 09:10] HansUXdev commented on #614
I used to know how to update my extension pack but A). MS documentation is trash and B). fuck this azure shit. Just pull from github or npm like normal people. My god this is completely unnecessary crap to update a goddamn json file...

[2019-08-31 11:10] yatagarasu25 commented on #3793
Interesting system you have created - people can open and create issues from your documentation pages, but you can not track which one it belong to.

https://docs.microsoft.com/en-us/visualstudio/install/update-a-network-installation-of-visual-studio?view=vs-2019
I am talking about updating network installer.

If i will launch layout update with command like this "vs_Community.exe --layout "E:\Vis

[2019-08-31 16:11] koszeggy opened #3851 "False alarm for generic types - CA2225"
The _"Do not suppress a warning from this rule"_ part is way too rigorous this way. Consider the following example:

[code]

As `Range<T>` is generic the "best" solution to satisfy the rule would be two `ToRange` extension methods on any `T` and on `ValueTuple<T, T>`, respectively. But that would introduce a `ToRange` on every object, which is insane.

Not mentioning that the main purpose of the o

[2019-09-02 07:36] AaronLS commented on #3434
I've been through several documents and as someone with 10+ years javascript and C# experience it's hard to believe that not a single one of them leads to a working solution.

[2019-09-03 10:06] ibelchamber opened #3852 "XAML debugging in a new view"
Hoe do you enable XAML debugging in a new view (window)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fd2baf39-d3c3-5d5a-d93c-f4040430c3dd
* Version Independent ID: c443e681-03f0-ea47-a09d-718693448b3d
* Content: [Inspect XAML properties while debugging - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/d

[2019-09-03 11:10] ardalon opened #3853 "I needed double quotes for more than 1 -clp:"parameter1;parameter2""
for example:
Does not work:
&gt; msbuild SolutionName.sln /p:NuGetRestorePackages=false /verbosity:quiet /p:WarningLevel=0 /clp:ErrorsOnly;Summary
Microsoft (R) Build Engine version 15.9.21+g9802d43bc3 for .NET Framework
Copyright (C) Microsoft Corporation. All rights reserved.

MSBUILD : error MSB1009: Project file does not exist.
Switch: SolutionName.sln

&gt; msbuild SolutionName.sln /p:NuGetRe

[2019-09-03 11:44] djfwalker opened #3854 "WHERE IS THE SEARCH"
This documentation needs to be searchable, otherwise it is just not fit for purpose. It is definitely harder to use than msdn

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0a9076d0-2cda-08cc-71e0-c1080a9fdd59
* Version Independent ID: b8caa4a1-f7ea-d439-4653-988dda48eebd
* Content: [Compiling building - Visual Studio]

[2019-09-03 18:22] justinpark01 commented on #3597
Seriously, why doesn't Microsoft support its own versioning control, this is ridiculous

[2019-09-03 19:26] gewarren commented on #3849
@EvaSchmotzerova Can you take a look at this feedback? Or let me know if you're not the right person.

[2019-09-03 19:29] TerryGLee commented on #427
@resun555 We have a fix in place to address the issue you brought up, which should go live by noon on 9/4/2019. Thanks for your help with improving our documentation!

[2019-09-03 19:29] #427 closed

[2019-09-03 19:48] EvaSchmotzerova commented on #3849
hi @gewarren,
I'm not the rule author, I'm merely responsible for publishing the documentation. please reach out to @filipsebesta as a PM for these rules - he can redirect you to the engineer who developed it

[2019-09-03 20:14] WilliamAntonRohm commented on #3852
@ibelchamber  Thanks for your question. It looks like you're having an issue with the product itself, rather than an issue with the documentation. Here are a few options where you might consider asking your question:
-	[https://social.msdn.microsoft.com/Forums/vstudio](https://social.msdn.microsoft.com/Forums/vstudio)
-	[https://www.stackoverflow.com](https://www.stackoverflow.com)
-	[https://www.

[2019-09-03 20:14] #3852 closed

[2019-09-03 21:00] AaronAtDuo opened #3856 "The Python development workload is no longer available for VS 2017"

[2019-09-03 21:05] AaronAtDuo commented on #3856
Per articles https://nicolaiarocci.com/python-workload-pulled-off-visual-studio-2017-rc3/ and https://nicolaiarocci.com/python-support-in-visual-studio-2017-or-the-lack-thereof/, the Python development workload was removed in RC 3 and never returned.  I can confirm that the 2017 Enterprise installer does not list the Python workload as available.

[2019-09-03 21:56] FrankHileman opened #3857 "What are the parameters for /catalogName?"
I am not sure what is correct for Visual Studio 2019, since the help viewer version did not change.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9932d702-581e-2183-2ea7-94e6973deedf
* Version Independent ID: 9fe7a5d4-81b2-884d-4fea-43e173a48e75
* Content: [Command-line arguments for the Help Content Manager - Visual

[2019-09-03 22:03] TerryGLee commented on #3856
@AaronAtDuo I took a look at the Visual Studio Installer and the Python workload is still there:

<img width="643" alt="python-workload" src="https://user-images.githubusercontent.com/23244653/64211271-7cf01c80-ce5a-11e9-9bf0-40484d32ef96.png">

Then, I added the Python workload and can see it in the Open Project dialog box:

<img width="341" alt="python-in-IDE" src="https://user-images.githubuser

[2019-09-03 22:03] #3856 closed

[2019-09-03 22:09] AaronAtDuo commented on #3856
Interesting, I've somehow got a slightly older version of 2017:
![Selection_013](https://user-images.githubusercontent.com/26978047/64211995-f6493880-ce75-11e9-8f13-7af3a26e3b12.png)
I'll pull down 15.9.15, thanks.

[2019-09-03 22:23] ghogen commented on #3857
The catalogName is VisualStudio15 and corresponds to the Catalogs subfolder on disk at C:\ProgramData\Microsoft\HelpLibrary2\Catalogs\VisualStudio15\

I will update these topics to reference this. I agree, it's not what you might expect.

[2019-09-03 23:29] jnpwly opened #3858 "Dismissing the legal disclaimer regarding software licensing, etc., and decompilation"
I understand that MS needs to ensure that IP is being honoured, and hence the need for the dialog warning about this when the ILSpy decompilation is used. I am finding, however, that each day, when I navigate to decompiled sources, I am shown this dialog. Is there a way to stop this dialog being shown permanently? I don't mind seeing it once... but to see it each day I use this feature gets, um, a

[2019-09-04 05:05] WilliamAntonRohm commented on #3854
@djfwalker  Thanks for your feedback; we appreciate it. You can submit issues related to overall site experience, or suggestions for improved site functionality or design, at [https://aka.ms/sitefeedback/](https://aka.ms/sitefeedback).

[2019-09-04 05:05] #3854 closed

[2019-09-04 05:08] WilliamAntonRohm commented on #3858
@jnpwly  It looks like you have product feedback rather than documentation feedback. If you are looking for functionality that isn’t currently provided by the product, please use our “Suggest a feature” option in the [Visual Studio Developer Community](https://developercommunity.visualstudio.com/). We’d be happy to have this on record, where others can view it and upvote it, too. For more informat

[2019-09-04 05:08] #3858 closed

[2019-09-04 05:10] WilliamAntonRohm commented on #3793
@yatagarasu25  It looks like you’re having an issue with installation. If your Visual Studio installation fails, see [Troubleshooting Visual Studio installation and upgrade issues](https://docs.microsoft.com/visualstudio/install/troubleshooting-installation-issues) for step-by-step guidance.
We also offer a [Live Chat](https://visualstudio.microsoft.com/vs/support/#talktous) (English only) support

[2019-09-04 05:10] #3793 closed

[2019-09-04 05:11] WilliamAntonRohm commented on #3084
@sergejkaiser  Thanks for your question. It looks like you're having an issue with the product itself, rather than an issue with the documentation. Here are a few options where you might consider asking your question:
-	[https://social.msdn.microsoft.com/Forums/vstudio](https://social.msdn.microsoft.com/Forums/vstudio)
-	[https://www.stackoverflow.com](https://www.stackoverflow.com)
-	[https://www

[2019-09-04 05:11] #3084 closed

[2019-09-04 05:14] WilliamAntonRohm commented on #2835
@fuzzifikation  Thanks for your question. It looks like you're having an issue with the product itself, rather than an issue with the documentation. Here are a few options where you might consider asking your question:
-	[https://social.msdn.microsoft.com/Forums/vstudio](https://social.msdn.microsoft.com/Forums/vstudio)
-	[https://www.stackoverflow.com](https://www.stackoverflow.com)
-	[https://ww

[2019-09-04 05:14] #2835 closed

[2019-09-04 05:15] WilliamAntonRohm commented on #2317
@szalkerous  Thanks for your question. It looks like you're having an issue with the product itself, rather than an issue with the documentation. Here are a few options where you might consider asking your question:
-	[https://social.msdn.microsoft.com/Forums/vstudio](https://social.msdn.microsoft.com/Forums/vstudio)
-	[https://www.stackoverflow.com](https://www.stackoverflow.com)
-	[https://www.r

[2019-09-04 05:15] #2317 closed

[2019-09-04 05:16] WilliamAntonRohm commented on #2298
@yanbingms  Thanks for your question. It looks like you're having an issue with the product itself, rather than an issue with the documentation. Here are a few options where you might consider asking your question:
-	[https://social.msdn.microsoft.com/Forums/vstudio](https://social.msdn.microsoft.com/Forums/vstudio)
-	[https://www.stackoverflow.com](https://www.stackoverflow.com)
-	[https://www.re

[2019-09-04 05:16] #2298 closed

[2019-09-04 05:51] tamatsuxyz opened #3859 "FQDN related Visual Studio installation"
From the following doc, snapshot debugger requests to msvsmon as DNS endpoint.
But this is not FQDN. (I can’t search IP address in WHOIS)

Install and use Visual Studio and Azure Services behind a firewall or proxy server:
https://github.com/MicrosoftDocs/visualstudio-docs/blob/master/docs/install/install-and-use-visual-studio-behind-a-firewall-or-proxy-server.md

Service   or scenario | DNS   end

[2019-09-04 06:38] AbhitejJohn commented on #2943
This would be better addressed by the test platform team. Tagging @cltshivash.

[2019-09-04 06:45] paul1956 opened #3860 "For VB Contract.ThrowIfNull does not supress CA1062"
Adding a Code.Contract Precondition as the error/warning instructions say does not suppress CA1062
[code]
The following does work to suppress the warning.
[code]
Also the message says Null Vs. Nothing where other messages gives separate instructions for VB

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* Content: [CA1062](ht

[2019-09-04 09:47] yatagarasu25 commented on #3793
I don't have issues with installation, I ask you to add flag to visual studio installer.

[2019-09-04 13:05] cfahrenholz opened #3861 "How to add a specific version of a component?"
The --add switch always adds the latest version of a workload or components.
How can I update to a specific (previous) version of a component?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ff556dcf-4de1-8483-702a-73699062be1f
* Version Independent ID: cba846ae-6af4-af49-b194-28b546169426
* Content: [Create a network-b

[2019-09-04 14:27] VanAwful opened #3862 "Reporting without VS"
My issue is such I can not access VS to report the issue. This page provides no information on how to report the issue.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7254052d-2d37-509e-e6c8-d5674ea775ca
* Version Independent ID: a2acc423-07d3-409c-7de1-21dd88e3cdcd
* Content: [Report a problem - Visual Studio](https:/

[2019-09-04 15:57] msebolt commented on #3859
@tamatsuxyz Thank you for the question.

**msvsmon** is an executable that needs to be run on the machine.  More information can be found [here](https://docs.microsoft.com/en-us/visualstudio/debugger/remote-debugging?view=vs-2019).

I'll update the documentation to clarify.

[2019-09-04 16:06] msebolt commented on #3860
@paul1956 Thank you for the feedback.

Can you verify if either of the following resolves the issue?

- https://stackoverflow.com/questions/15188631/code-analysis-rule-ca1062-behaviour (also points to https://github.com/dotnet/roslyn-analyzers/issues/2369)

- https://stackoverflow.com/questions/53448427/ca1062-not-evaluating-on-net-standard-2-0-class-library

[2019-09-04 16:27] msebolt commented on #3859
The documentation has been updated.

[2019-09-04 16:36] FrankHileman commented on #3857
You might want to explain as well that the catalog is shared (this is the first time two VS versions shared the same catalog, to my knowledge).

[2019-09-04 16:47] msebolt commented on #3861
@cfahrenholz Thank you for the question.

Workload components are tied directly to the version of Visual Studio you're using, so upgrades/rollbacks require you to install a different version of Visual Studio.

For Visual Studio upgrades (or previous versions), use the `--installPath` (see [command line parameters](https://docs.microsoft.com/visualstudio/install/use-command-line-parameters-to-insta

[2019-09-04 16:50] msebolt commented on #3862
@VanAwful  Thank you for the feedback.

Please refer to https://github.com/MicrosoftDocs/visualstudio-docs/issues/3245.

[2019-09-04 16:50] #3862 closed

[2019-09-04 16:55] #3405 closed

[2019-09-04 17:06] tydunkel commented on #1264
The doc has been updated to use certutil.exe which ships with Windows. #please-close

[2019-09-04 17:06] #1264 closed

[2019-09-04 17:40] #3409 closed

[2019-09-04 17:42] WilliamAntonRohm commented on #3793
@yatagarasu25 -- Igor, thank you for clarifying. It looks like you have product feedback rather than documentation feedback. If you are looking for functionality that isn’t currently provided by the product, please use our “Suggest a feature” option in the [Visual Studio Developer Community](https://developercommunity.visualstudio.com/). We’d be happy to have this on record, where others can view

[2019-09-04 18:14] haferburg opened #3864 "No entry "Visual Studio Package" under Extensibility"
Under "Create a VSPackage" in item 2, the page reads: "In the Add New Item dialog, go to Visual C# > Extensibility and select Visual Studio Package". But there is no such entry, I only have "Visual Studio AsyncPackage". How come? Do I need to install something? Or is the documentation outdated?

The page later instructs to replace some attributes, which won't work with an AsyncPackage. Also there

[2019-09-04 18:20] mikeblome commented on #2200
This topic now refers to the correct warning, albeit with minimal content. Should be live by Sept 6.

[2019-09-04 18:20] #2200 closed

[2019-09-04 20:43] msebolt commented on #3838
@davidekarasek

You need to create a Node.js solution from a new project or use the **From existing Node.js code** project template.

![Untitled](https://user-images.githubusercontent.com/6675884/64289217-b5563000-cf18-11e9-8534-17446b89fa8c.png)

The documentation is pending review.

[2019-09-04 20:50] msebolt commented on #3838
The documentation has been updated.

Please comment below if there are further issues.

[2019-09-04 20:50] #3838 closed

[2019-09-04 21:39] msebolt commented on #3815
This was mistakenly added, please refer to https://github.com/dotnet/roslyn/issues/35690.

[2019-09-04 21:45] #3815 closed

[2019-09-04 22:08] msebolt commented on #2073
@gewarren @SrinivasMSFT Is this still an issue?

According to [Validate code with layer diagrams](https://docs.microsoft.com/en-us/visualstudio/modeling/validate-code-with-layer-diagrams?view=vs-2019) .NET Core is now supported.

[2019-09-04 22:09] #2114 closed

[2019-09-04 22:23] msebolt commented on #2151
For now, please use the [C# Interactive walkthrough](https://github.com/dotnet/roslyn/wiki/C%23-Interactive-Walkthrough).

@gewarren  Is this a topic slated to be written?  There currently seems to be nothing in Microsoft Docs.

I would create this as a product issue, but not until there is something to redirect to.

[2019-09-04 22:26] msebolt commented on #2171
Closing the issue due to inactivity.

Please try to suppress the rule for now and comment below if there are any issues.

[2019-09-04 22:26] #2171 closed

[2019-09-04 22:46] #3249 closed

[2019-09-04 23:01] msebolt commented on #2276
You could try using `<TargetFrameworks>` and specifying both versions using the [framework versions monikers](https://docs.microsoft.com/en-us/dotnet/standard/frameworks).

[2019-09-05 03:39] paul1956 commented on #3860
@msebolt, not really. They are both C# issues,
1) C# and VB don't handle Null/Nothing Strings the same. In VB a Null/Nothing String = "" so it is valid to pass it to a function expecting a String.
2) I am using the recommended way to check for Null a Contract that shouldn't be necessary for a String.

[2019-09-05 07:00] paul1956 commented on #3860
There are 2 related issues, treatment of Null Strings and using Contract to address the issue.
[code]
[code]

[2019-09-05 07:56] maxcalvin opened #3865 "Add example for excluding all methods in an assembly"
It's useful to be able to exclude an entire assembly (for example, acceptance tests) that should not be included in live unit testing. I don't know of the ways to do it in the other test systems but with xUnit you can use:

[assembly: AssemblyTrait("Category", "SkipWhenLiveUnitTesting")]

It took way too much googling on bing to find this solution, so it would be nice to have it included here sinc

[2019-09-05 08:30] paul1956 opened #3867 "CA1824 Dropdown Grayed out in Application Section for VB Core 3.0"
Warning CA1824 Mark assemblies with NeutralResourcesLanguageAttribute, instructions don't work for VB Core 3.0 WinForm or SDK projects becuase the button is grayed out.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* Content: [CA1824](https://docs.microsoft.com/en-us/visualstudio/code-quality/ca1824-mark-assemblies-with-neu

[2019-09-05 13:56] adolabsnet opened #3868 "ask"
Then use this command to run the installation::
c:\vslayout\vs_community.exe --add Microsoft.VisualStudio.Workload.ManagedDesktop --add Microsoft.VisualStudio.Workload.NetWeb --add Component.GitHub.VisualStudio --includeOptional

my question: how, install , ALL layout that I already downloaded

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2019-09-05 14:10] heku opened #3869 "Directory.Build.targets seems not work?"
Hi, according to this doc, I think if I set `TargetFrameworkVersion` to different values in `Directory.Build.props`, `Directory.Build.targets` and project.csproj. I suppose the effective one is the one in `targets` file, but from my test, I found `targets` file never work. I checked the `Microsoft.Common.targets` files in `windows\Microsoft.NET\Framework\v4.0.30319`, I don't see it imports `Direct

[2019-09-05 14:13] AroglDarthu commented on #3230
**On a related note...**
It was possible to also suppress `CS1591:Missing XML comment for publicly visible type or member` for generated code via that properties page (Solution Explorer -> Properties -> Code Analysis Settings).

How can this be established now?
I have tried the following, but that does not seem to work, as it is a compiler warning and not a code analysis warning?
`[assembly: Suppr

[2019-09-05 16:01] gewarren commented on #3860
@paul1956 This sounds mostly like a problem with the analyzer itself rather than with the documentation, although we could add note to the "When to suppress warnings" section if the analyzer does not get changed. Can you please log an issue at https://github.com/dotnet/roslyn-analyzers/issues?

[2019-09-05 17:17] paul1956 commented on #3860
Both, I already filed #2815 against the analyzer as you asked, but you should always suppress this for VB and Strings (until fixed when it will not apear for strings). Your VB example using String and the test is always unnecessary. You do want an example but it should not use String.

[2019-09-05 17:18] WilliamAntonRohm commented on #3865
@maxcalvin -- Max, thank you for your feedback and providing an example.

@rpetrusha -- Ron, please look into his example.

[2019-09-05 17:19] WilliamAntonRohm commented on #3867
@paul1956  Thanks for your feedback; we appreciate it. To make sure we have all the information needed to triage your issue, please let us know which topic you’re referencing, or provide more context around the general task.

[2019-09-05 17:21] WilliamAntonRohm commented on #3868
@adolabsnet  Thanks for your question. It looks like you're having an issue with the product itself, rather than an issue with the documentation. Here are a few options where you might consider asking your question:
-	[https://social.msdn.microsoft.com/Forums/vstudio](https://social.msdn.microsoft.com/Forums/vstudio)
-	[https://www.stackoverflow.com](https://www.stackoverflow.com)
-	[https://www.r

[2019-09-05 17:21] #3868 closed

[2019-09-05 17:22] WilliamAntonRohm commented on #3869
@heku  Thanks for your question. It looks like you're having an issue with the product itself, rather than an issue with the documentation. Here are a few options where you might consider asking your question:
-	[https://social.msdn.microsoft.com/Forums/vstudio](https://social.msdn.microsoft.com/Forums/vstudio)
-	[https://www.stackoverflow.com](https://www.stackoverflow.com)
-	[https://www.reddit.

[2019-09-05 17:26] gewarren commented on #3860
Thanks, I agree the example for VB is bad. We'll also update the When to suppress section.

[2019-09-05 17:33] WilliamAntonRohm commented on #2943
@MicrosoftDocs/visual-studio-live-share -- please look into this aging issue.

[2019-09-05 17:55] AbhitejJohn commented on #2943
Searched around the test platform docs and found this: https://github.com/microsoft/vstest-docs/blob/master/RFCs/0024-Blame-Collector-Options.md. Hope that's useful.
As for a support matrix, I can get in touch offline with the team.

[2019-09-05 18:22] AroglDarthu opened #3871 "Suppress compiler warnings"
Related to: https://github.com/MicrosoftDocs/visualstudio-docs/issues/3230

It was possible to also suppress `CS1591:Missing XML comment for publicly visible type or member` for generated code via that properties page (Solution Explorer -> Properties -> Code Analysis Settings).

How can this be established now?
I have tried the following, but that does not seem to work, as it is a compiler warning

[2019-09-05 18:39] gewarren commented on #3849
@dotpaul Can you take a look and advise?

[2019-09-05 18:45] gewarren commented on #3848
@dotpaul Can you take a look at this one? It seems like there are two issues: 1) setting XmlResolver to null doesn't stop the warning and 2) the warning shouldn't fire if DtdProcessing is set to DtdProcessing.Prohibit.

[2019-09-05 18:47] TerryGLee commented on #3868
@adolabsnet You might also find what you need on the following Visual Studio installation-related pages on our site:

[Create an offline installation](https://docs.microsoft.com/en-us/visualstudio/install/create-an-offline-installation-of-visual-studio?view=vs-2019)

[Command-line parameter examples](https://docs.microsoft.com/en-us/visualstudio/install/command-line-parameter-examples?view=vs-2019

[2019-09-05 18:52] gewarren commented on #3847
@mavasani Should @koszeggy open an issue in the roslyn-analyzers repo about this? Also, there is a configuration option coming soon for CA1062 to exclude the 'this' parameter of extension methods.

[2019-09-05 18:56] gewarren commented on #3846
@koszeggy This issue belongs better in the roslyn-analyzers repo since you're requesting a change to the analyzer itself - https://github.com/dotnet/roslyn-analyzers/issues. If you're also requesting a documentation change, please comment here and we can reopen the issue.

[2019-09-05 18:56] #3846 closed

[2019-09-05 18:58] WilliamAntonRohm commented on #3745
@mavasani -- Manish, please update this issue's status.

[2019-09-05 19:13] mavasani commented on #3847
Yes, this looks to be a bug. Can you please port it to the analyzers repo? Thanks!

[2019-09-05 19:15] mavasani commented on #3745
Ah sorry. We decided to go ahead with @paulomorgado's original implementation. This issue is now unblocked.

[2019-09-05 19:22] WilliamAntonRohm commented on #3745
@mavasani -- thank you.

[2019-09-05 19:26] gewarren commented on #3871
Actually I believe this should go to @ghogen.

[2019-09-05 19:35] gewarren commented on #3849
@koszeggy I've been advised to ask you to log this issue in the [roslyn-analyzers repo](https://github.com/dotnet/roslyn-analyzers/issues), please. Unfortunately we don't have the ability to transfer the issue.

[2019-09-05 19:35] #3849 closed

[2019-09-05 19:36] gewarren commented on #3848
@koszeggy I've been advised to ask you to log this issue in the [roslyn-analyzers repo](https://github.com/dotnet/roslyn-analyzers/issues), please. Unfortunately we don't have the ability to transfer the issue.

[2019-09-05 19:36] #3848 closed

[2019-09-05 19:39] gewarren commented on #3847
@koszeggy Please log this issue in the [roslyn-analyzers repo](https://github.com/dotnet/roslyn-analyzers/issues), please. Unfortunately we don't have the ability to transfer the issue.

[2019-09-05 19:39] #3847 closed

[2019-09-05 19:41] gewarren commented on #3845
@mavasani Can you advise on this one whether an analyzer bug should be opened or if we should modify the "when to suppress" section of the docs?

[2019-09-05 20:06] gewarren commented on #3844
@koszeggy Since this is an issue with the analyzer itself and not the documentation, please log an issue over at [roslyn-analyzers](https://github.com/dotnet/roslyn-analyzers/issues).

[2019-09-05 20:06] #3844 closed

[2019-09-05 20:07] ghogen commented on #3871
@AroglDarthu Have you looked at https://docs.microsoft.com/en-us/visualstudio/ide/how-to-suppress-compiler-warnings?view=vs-2019 ?

[2019-09-05 20:10] gewarren commented on #3842
@singhsarab Could you help answer this question?

[2019-09-05 20:10] gewarren commented on #3825
@anfangda Can you clarify what you mean by the rule is not active?

[2019-09-05 20:37] esweet431 commented on #677
This [blog post](https://cognitivewaves.wordpress.com/cmake-and-visual-studio/) provides an [example](https://github.com/cognitivewaves/CMake-VisualStudio-Example) of a CMake project that uses CTest in Visual Studio.

It's possible you are missing the enable_testing() command which is mentioned in the [CTest documentation](https://gitlab.kitware.com/cmake/community/wikis/doc/ctest/Testing-With-CTe

[2019-09-05 20:37] mavasani commented on #3845
@gewarren Seems like another analyzer false positive. @koszeggy Can you please port it to roslyn-analyzers repo?

[2019-09-05 20:50] #3845 closed

[2019-09-05 21:16] #3861 closed

[2019-09-05 21:21] gewarren commented on #3867
@paul1956 Did you look on the Package tab of the properties pages? I was not able to create a VB WinForms .NET Core app, but this is what it looks like for a VB console app:

![image](https://user-images.githubusercontent.com/24882762/64381617-755e7e00-cfe8-11e9-9b60-62d8cbde75c3.png)

[2019-09-05 21:32] JoshuaPartlow commented on #2787
Closing issue pending more details.

[2019-09-05 21:32] #2787 closed

[2019-09-05 21:36] JoshuaPartlow commented on #2847
Feel free to reopen if you're able to duplicate the issue again. Thanks!

[2019-09-05 21:36] #2847 closed

[2019-09-05 21:37] JoshuaPartlow commented on #3015
@cbrauer hopefully the above helps, feel free to reopen if not.

[2019-09-05 21:37] #3015 closed

[2019-09-05 21:40] AroglDarthu commented on #3871
I did. But it doesn't help. That way warnings can only be suppressed for the entire project or for specific NuGet package references.
The aim is to suppress a specific warning, like CS1591, for generated code only. For instance a ServiceReference. It is not really an option to add `pragma disable` to the generated code, as it will be overwritten at the next generation.

[2019-09-05 21:48] mavasani opened #3873 "Mention embeded analyzer configuration files in FxCop analyzer NuGet package starting 2.9.5 release"
See https://github.com/dotnet/roslyn-analyzers/pull/2818

Starting 2.9.5 (not yet published), we will embed the analyzer configuration files in each analyzer NuGet package. This page can contain the set of available options in the latest packages. Users that are on older packages can use the embedded documentation file in the NuGet package to check the available options.

---
#### Document Details

[2019-09-05 22:14] gewarren commented on #3791
I tried this too and am seeing the same build errors when running the tests:

1>C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\MSBuild\Microsoft\VisualStudio\v16.0\AppxPackage\Microsoft.AppXPackage.Targets(1822,5): error APPX1101: Payload contains two or more files with the same destination path 'Properties\Default.rd.xml'. Source files:
1>C:\Program Files (x86)\Microsoft Visual Stu

[2019-09-06 01:24] paul1956 commented on #3867
Yes that is the information I was looking for. I missed the purple comment that it is under the package tab. The grayed out option confused me.

[2019-09-06 01:24] #3867 closed

[2019-09-06 01:46] JoshuaPartlow commented on #3049
Thank you for the feedback, the image has been updated in the topic.

[2019-09-06 01:46] #3049 closed

[2019-09-06 10:36] singhsarab commented on #3842
@mayankbansal018 Can you please take a look.

[2019-09-06 12:46] maxcalvin commented on #3865
Thanks William, after raising the issue I went and had a glance at the other test frameworks in the example, and thanks to their code being open source on Github I could see that their attributes were tagged as applicable to assemblies.

So I raised a PR with an update adding examples for assembly blocking based on those finds, but I've only checked the xUnit version. No worries if the PR is rejec

[2019-09-06 17:36] MadQ opened #3875 "Dictionary/Words/Compound/Term[@CompoundAlternate] Does Not Work"
In a legacy application, we have a lot of occurrences of the term "Username" (lower case "n"), which correctly causes CA1702 errors/warnings. i.e.:
     warning CA1702: Microsoft.Naming : The discrete term 'Username' in member name '[redacted]' should be expressed as a compound word, 'UserName'

Adding this:
    &lt;Term CompoundAlternate="Username"&gt;username&lt;/Term&gt;
to the Dictionary/Words

[2019-09-06 17:47] gewarren commented on #3737
@mavasani Is it possible to configure the severity of FxCop rules from .editorconfig for command line builds?

[2019-09-06 18:10] mavasani commented on #3737
This should be possible _very soon_ once Visual Studio VS2019 16.3 is released. You should be able to use the following syntax in your editorconfig file:

[code]

[2019-09-06 18:17] #3737 closed

[2019-09-06 18:25] gewarren commented on #3674
@chandrababumaddipatla - The best place to make product feature suggestions or provide feedback is on [Developer Community](https://developercommunity.visualstudio.com/spaces/8/index.html). Look for the "Suggest a Feature" button:

![image](https://user-images.githubusercontent.com/24882762/50102736-a7218180-01da-11e9-9aaf-ea3a99ccd030.png)

When you suggest a feature on Developer Community, you c

[2019-09-06 18:38] lds0m01 opened #3876 "No reference to program languages"
There should be a topic about program languages with a sub-topic for each language supported. This is the first topic from Visual Studio menu Help/view help so there needs to be a way to get to help with languages.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 38ae1727-4def-5921-86ec-bc65e9f0b8e4
* Version Independent

[2019-09-06 19:28] anfangda commented on #3825
Hi, I think the real problem is that it does not trigger in our VS 2019. When I found [Issue 476](https://github.com/dotnet/roslyn-analyzers/issues/476) being closed with a label called "Will-Not-Implement-Fixer", I thought it was not implemented yet. But now I see that all those Issues and versions are much more complex than I expected. It seems to be implemented and I have to find out why it doe

[2019-09-06 19:41] gewarren commented on #3876
Assigning this to Gordon who will make the VS hub page the new target page for the MSDNSTART F1 keyword, which maps to the Help menu entry.

[2019-09-06 19:46] gewarren commented on #3825
Got it - closing this issue in that case.

[2019-09-06 19:46] #3825 closed

[2019-09-06 19:57] gewarren commented on #2151
Yes, this does seem to be a hole in the docs.microsoft.com documentation. @chborl @mikadumont @kendrahavens Do you agree that the [C# interactive docs from the roslyn wiki](https://github.com/dotnet/roslyn/wiki/Interactive-Window) should be ported to docs.microsoft.com, somewhere in [this area](https://docs.microsoft.com/en-us/visualstudio/ide/reference/command-window?view=vs-2019) perhaps?

[2019-09-06 20:12] amunger commented on #3835
I think I figured out the source of my confusion. The `IsValidDynamicItem` predicate is used to establish a range of IDs by sending in each ID until the predicate returns false, and then one Command object is sent repeatedly to `OnBeforeQueryStatusDynamicItem`, with the selection of valid IDs in the `MatchedCommandID` field to set the text.
It wasn't clear that the Menu item would stop checking ID

[2019-09-06 20:15] gewarren commented on #2073
Yes dependency diagrams for .NET Core apps are supported starting in Visual Studio 2019 version 16.2. I'll update the note. Thanks @msebolt!

[2019-09-06 20:38] JoshuaPartlow commented on #3710
Hi @jcridgeNATS - Thanks for your feedback. Just to confirm, is the confusion that the step doesn't:
1.Talk about making a code file change that will result in a diff (the #Add a comment is only shown in the image)
2. Make it clear that the diff view image is meant to be prior to making the commit

[2019-09-06 20:58] gewarren commented on #3437
Closing this issue now.

[2019-09-06 20:58] #3437 closed

[2019-09-06 21:32] msebolt commented on #3875
@MadQ Thank you for the feedback.

This is product-related and might be better suited for the [Roslyn issues](https://github.com/dotnet/roslyn/issues) queue.

@gewarren Can the issue be transferred there?

[2019-09-06 21:43] AngelosP commented on #2270
https://github.com/MicrosoftDocs/visualstudio-docs/pull/3877

[2019-09-06 21:50] gewarren commented on #3875
My suggestion is to add `username` as a [Recognized word](https://docs.microsoft.com/en-us/visualstudio/code-quality/how-to-customize-the-code-analysis-dictionary?view=vs-2017#BKMK_DictionaryWordsRecognizedWord) instead of as a CompoundAlternate.

Note that this rule [CA1702 is deprecated](https://github.com/dotnet/roslyn-analyzers/issues/711) for FxCop analyzers.

[2019-09-06 22:21] gewarren commented on #3060
@corradin That's interesting, because the [documentation states](https://docs.microsoft.com/en-us/visualstudio/test/customizing-code-coverage-analysis?view=vs-2019#exclude-and-include) that only if Include is empty does it include all assemblies. If you specify an assembly, then the documentation implies that it only includes that one assembly. But that's not what you're seeing in practice. @mayan

[2019-09-06 22:32] #2073 closed

[2019-09-06 22:32] #3623 closed

[2019-09-06 22:32] #3674 closed

[2019-09-06 22:32] #3676 closed

[2019-09-06 22:32] #3754 closed

[2019-09-06 22:32] #3433 closed

[2019-09-06 22:32] #3537 closed

[2019-09-06 22:32] #3550 closed

[2019-09-07 00:06] gewarren commented on #3357
Comment to trigger priority label.

[2019-09-07 00:07] gewarren commented on #3418
Comment to trigger priority label.

[2019-09-07 11:12] colinkiama commented on #3791
I've done it here: https://developercommunity.visualstudio.com/content/problem/726688/uwp-unit-test-doesnt-build-after-adding-reference.html

[2019-09-07 12:05] NickCraver commented on #2270
@AngelosP please note from my comment above - the example in one screenshot was also wrong :) The conversion is much appreciated!

[2019-09-08 09:48] heku commented on #3869
@WilliamAntonRohm Thank you for your reply, I create a very simple [project](https://github.com/heku/DirectoryBuildTest) with structure below

Directory.Build.props

[code]

Directory.Build.targets

[code]

DirectoryBuildTest.sln
└───DirectoryBuildTest   : A default `Class Library` project created by VS2019 16.2.4
[code]

When build the project, I always get `DirectoryBuildTest.csproj.dll` (`.NET

[2019-09-09 02:15] MRatnam opened #3879 "How to uninstall with network disconnected device?"
Seems like the standard uninstall process doesn't work for a network disconnected machine. MAJOR oversight.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dac42ba7-edf2-06fb-dc6a-13a0c47b43c5
* Version Independent ID: 98b5c39a-ff89-f4c8-ef77-ae239564998a
* Content: [Uninstall Visual Studio](https://docs.microsoft.com/e

[2019-09-09 05:38] WilliamAntonRohm commented on #2232
@user905 Apologies for the lateness of this reply, and thanks for your question. It looks like you're having an issue with the product itself, rather than an issue with the documentation. Here are a few options where you might consider asking your question:
-	[https://social.msdn.microsoft.com/Forums/vstudio](https://social.msdn.microsoft.com/Forums/vstudio)
-	[https://www.stackoverflow.com](https

[2019-09-09 05:38] #2232 closed

[2019-09-09 05:41] WilliamAntonRohm commented on #3879
@MRatnam  Thanks for your question. It looks like you're having an issue with the product itself, rather than an issue with the documentation. Here are a few options where you might consider asking your question:
-	[https://social.msdn.microsoft.com/Forums/vstudio](https://social.msdn.microsoft.com/Forums/vstudio)
-	[https://www.stackoverflow.com](https://www.stackoverflow.com)
-	[https://www.redd

[2019-09-09 05:41] #3879 closed

[2019-09-09 06:10] thomasgalliker opened #3880 "Sample Solution for Code Analysis?"
Is there a sample solution somewhere on github which correlates with the documentation? That would be really nice...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c27ec225-8fc2-3578-05a0-a3e56e1c6510
* Version Independent ID: 186d9286-10db-6135-b542-81b1bf71575a
* Content: [Analyzer rule severity and suppression - Vis

[2019-09-09 07:38] Mikilll94 opened #3881 "Remote tools for Visual Studio 2019 - invalid link"
The link for remote tools for Visual Studio 2019 is invalid.

Here is the link:

https://visualstudio.microsoft.com/downloads#remote-tools-for-visual-studio-2019

It follows to Visual Studio 2019 download page, not to remote tools.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c4215ecb-721f-9b0b-66ae-042ffd7c9842
* Ve

[2019-09-09 08:35] MRatnam commented on #3879
Yes good point sorry!!!

On Mon, 9 Sep 2019 at 3:41 pm, William Anton Rohm <notifications@github.com>
wrote:

[2019-09-09 08:48] richard-ob opened #3882 "List of analyzers confusing"
The page lists three forms of analyzers: Microsoft's recommended analyzers, Visual Studio IDE analyzers, and Third party analyzers.

In other places of the documentation, the FxCop Analyzer is referred to as a "third party analyzer" - https://docs.microsoft.com/en-us/visualstudio/code-quality/analyzers-faq?view=vs-2019#code-analysis-versus-editorconfig

Furthermore, I find it unclear what the actu

[2019-09-09 14:02] MadQ commented on #3875
@gewarren <https://github.com/gewarren> I actually did try adding it as
a Recognized word, with the same result. I tried quite a few other things,
which are probably not relevant. Since it is a legacy application, we try
to touch it as little as possible; I just happened to be updating the
ruleset for the TFS project, and was trying to minimize the number of build
warnings. As it stands now, there

[2019-09-09 16:00] therealjohn commented on #1478
@bradweiers, I dropped the ball on this and would like to connect with you to see what we can do to document what's missing.

Could you send me an email johmil at microsoft on what you're thinking? Thanks!

[2019-09-09 16:03] shazam19 opened #3883 "Additional Info"
These assemblies are available as nuget packages. Which in fact you should use anyway if you have CI/CD implemented.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e97e75d6-dc3e-800e-7cff-d097023df034
* Version Independent ID: 89401b4f-16db-66ab-512c-cce9f949ac10
* Content: [How to: Install Office primary interop assem

[2019-09-09 16:07] Mikejo5000 commented on #3853
@rainersigwald Rainer, is it generally true that double quotes are needed for multiple parameter entries?

[2019-09-09 16:13] Mikejo5000 commented on #3841
@poppastring Mark, do you have any recommendations here?

[2019-09-09 16:13] gewarren commented on #3791
Thank you Colin. I'm closing this documentation issue now. On the off chance this comes back as a problem with the tutorial itself, please comment here and I'll reopen.

[2019-09-09 16:15] Mikejo5000 commented on #3804
@djohansing That is a current limitation of the feature. A custom build configuration name is not supported. We are currently updating these docs.

[2019-09-09 16:36] rainersigwald commented on #3853
It depends on your operating system and shell's escaping rules. `;` is a special character in many shells including PowerShell and bash, but it isn't in cmd.exe. The example command line given works fine in cmd:

[code]

Since other shells are becoming more common for MSBuild users, we should probably update the examples to add quotes around any command-line argument that contains a semicolon.

[2019-09-09 16:37] gewarren commented on #3875
Ah okay, sorry that didn't work either.

Since this is a product issue, you'd need to log it through "Report a Problem" in Visual Studio. However, as you noted, it's not likely to be fixed at this point.

I'm closing this issue now, but it will still appear associated with the referenced topic.

[2019-09-09 16:37] #3875 closed

[2019-09-09 16:38] Mikejo5000 commented on #3797
Yes, there seems to be a lack of .NET docs on TargetFrameworkProfile. I see a ref doc, but that doesn't appear very helpful. @rainersigwald Rainer, do you know if it is OK to remove the content on TargetFrameworkProfile?

[2019-09-09 17:08] Mikejo5000 commented on #3783
@rainersigwald This issue (and the content in general) seems like it might be easier for IDE folks to answer? It seems more about how the IDE works with MSBuild, rather than MSBuild specific issues. What do you think?

[2019-09-09 17:08] Mikejo5000 commented on #3853
Thanks, I'll plan to update the doc.

[2019-09-09 17:32] ardalon commented on #3853
Thanks, I was a bit frustrated when I wrote this initially, and should say i am not singling out msbuild only, this sort of thing crops up with other utilities and other shells and I feel this confusion could really be eliminated by linking to a page that keeps us weary of the different shells and contexts that we could be making calls from.  Would be a huge productivity boost.

For example, I sti

[2019-09-09 21:31] rainersigwald commented on #3797
@terrajobst, do you know who might be able to provide a definitive answer on this?

[2019-09-09 22:51] rainersigwald commented on #3783
Yes, this is a question about what the project system does with the information from the MSBuild project. @olgaark, do you know if there's a C++ equivalent to `Visible`?

[2019-09-09 23:08] WilliamAntonRohm commented on #3880
@thomasgalliker -- Thomas, thanks for your question. It looks like you're having an issue with the product itself, rather than an issue with the documentation. Here are a few options where you might consider asking your question:
-	[https://social.msdn.microsoft.com/Forums/vstudio](https://social.msdn.microsoft.com/Forums/vstudio)
-	[https://www.stackoverflow.com](https://www.stackoverflow.com)
-

[2019-09-09 23:08] #3880 closed

[2019-09-10 07:47] micheletolve opened #3886 "VS2019 Path too long exception when publish solution on FyleSistem."
When I publish solution on FyleSistem I receive this error

This is the detailed information about my installation
[code]
And this is my OS
[code]

[2019-09-10 11:45] b8adamson commented on #3632
Consider making it more prominent/evident that for the "Select Test Settings File" selection to persist across closing and re-opening Visual Studio that you must be working with (and saving) Solution (.sln) files.  For those of us that only want to work with project files it seems that we are stuck reselecting the the correct file via the menu bar every time we re-open Visual Studio.

[2019-09-10 14:12] jcridgeNATS commented on #3710
Hi Josh, It's been a while since I made the comment and I don't have access to VS at this moment, but looking again at :
-----
Step 6: Work with Git > (4) Select Changes (or the Git control with the pencil icon) to review uncommitted changes and to commit them when desired.
-----

the confusion arises I think because I think it would have been better to leave it as just the "review" element i.e.

[2019-09-10 14:20] poppastring commented on #3841
@Mikejo5000
For Linux based app service we do not have a built in solution like we do for Windows app services (as the customer provides their own container).

For debugging an app service the important part is getting an SSH port exposed (as noted in the previous article). With that set up they should be able to attach using the ssh connection type. One of our devs also [wrote up a blog post here

[2019-09-10 14:32] LirazShay commented on #3541
Is it applied also for running visual studio load test?
In the previous version we used mstest to run the load test but it doesn't work with on premise (test controller) in 2019, we don't know what is the problem.

[2019-09-10 14:39] artemis15 commented on #1909
It is changed, Now it does not offer free subscription.

[2019-09-10 15:20] IGx89 opened #3887 ""Test adapter NuGet reference" section missing"
Hello! The "Test adapter NuGet reference" section appears to be missing. It's in the latest document on GitHub (and wasn't added recently) but is completely missing here. HTML rendering issue perhaps?

Edit: it appears the issue is that I was looking at the VS2019 version of the page but that section is labeled for only VS2017. That topic is still very relevant for VS2019 however (following its in

[2019-09-10 15:51] msebolt commented on #3886
@micheletolve Thank you for the feedback.  We're sorry you're experiencing issues.

The filename appears to be 261 characters, for now you should just either publish directly to you the `C:\` or trim some characters from the project name `MySolutionCompiled-1060347077`.

The character length is a well-known limitation and nuget developers have an open issue on it [here](https://github.com/NuGet/Ho

[2019-09-10 16:21] AndrewCussons opened #3889 "from https://support.microsoft.com/help/4023619"
Product level descriptions - expand Unavailable support plans if you see  Support plan cannot be used for support on the specified product (Code:8). Your support contract cannot be used for the product version you selected.
...
Visual Studio Subscriptions (formerly MSDN)
Developer Tools such as the Visual Studio IDE and Team Foundation Services will receive both mainstream and extended support thr

[2019-09-10 16:30] WilliamAntonRohm commented on #3770
@madskristensen -- please consider this issue 3770.

[2019-09-10 16:47] Mikejo5000 commented on #2394
I'm told the attribute should win over an override of ToString on a subclass. So, this appears to be a product bug if that is not happening. I will plan to update the doc. @andysterland @leslierichardson95

Would you mind using the [Report a Problem](https://docs.microsoft.com/visualstudio/ide/how-to-report-a-problem-with-visual-studio) tool to report the issue? That way, your report becomes part

[2019-09-10 16:50] kule1015 opened #3891 "c# vsto outlook foreach don´t iterate over all items"
# issue foreach-loop of Outlook.Items
Problem: `items.Count = 10` the loop iterates only for example 6-times. Same contributions on Stack Overflow tend in the same direction [Link StackOverflow](https://stackoverflow.com/questions/5264478/outlook-add-in-unable-to-iterate-through-all-mailitems-in-outlook-folder-using).
Is my code wrong, or is really something wrong with the collection `Outlook.Item

[2019-09-10 17:09] msebolt commented on #3758
There is nothing further that can be done with the documentation.

Please use the link above to direct any further feedback.

[2019-09-10 17:09] #3758 closed

[2019-09-10 17:25] msebolt commented on #3889
@AndrewCussons Thank you for the feedback.

Are you suggesting we clarify our non-developer product support description or do you feel your subscription should qualify for extended support?

You can also try using the [activate benefits steps](https://docs.microsoft.com/en-gb/visualstudio/subscriptions/vs-tech-support#how-to-activate-the-benefit) and chat with a representative to get more details

[2019-09-10 17:48] msebolt commented on #3891
@kule1015 Thank you for the feedback.

This example looks like something that should be directed to the product team.  For these kinds of issues, please use the [Office Developer user voice](https://officespdev.uservoice.com/).

It sounds like COM objects are not be handled correctly, see this [post](https://social.msdn.microsoft.com/Forums/office/en-US/098769e9-14ce-45e8-a3af-8b6d2847c790/using-f

[2019-09-10 18:16] kule1015 commented on #3891
@msebolt Thanks for quick response!

[2019-09-10 18:16] #3891 closed

[2019-09-10 18:33] AndrewCussons commented on #3889
I suggest you mention that not all "supported products" are actually supported by visual studio
incidents and the error msg is hidden a bit see the Kb I referred to

Regards
Andrew Cussons
Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Matthew Sebolt <notifications@github.com>
Sent: Tuesday, September 10, 2019 6:25:43 PM
To: MicrosoftDocs/visualstudio-docs <

[2019-09-10 19:35] scout208 commented on #3791
Sorry for raising this again. But @colinkiama did you ever get a response to your feedback? I'm trying to follow the tutorial today and having the same issue.

[2019-09-10 19:44] scout208 commented on #3791
My solution was to remove `Default.rd.xml` file from the unit test project as similar to [this](https://github.com/MicrosoftDocs/windows-iotcore-docs/issues/1122) issue.