[2018-04-15 12:48] dotChris90 opened #809 "Missing tutorial for own SDKs"
This new SDK System is really interesting and makes MSBuild much more comfortable. Just one question : is there a tutorial, example or "how to do" for creating own SDK? just was thinking about a GCC or Clang SDK for myself so i was wondering how to make own SDK :D

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e8162092

[2018-04-16 11:42] ptoye opened #810 "This page does not correspond to reality!"
I want to ask a question - went to the dev community page - put in a search which didns't find anything related. So went to the bottom of the page as in the Report New Problem para here and there isn't a "Report New Problem" button. And when I click the "Report Problem" at the top of the page next to the search text I get a window with some very sketchy in formation on it, and when I click "Got it

[2018-04-16 13:20] kimrandell opened #811 "Missing description for $TICK"
Under "Breakpoint Actions and Tracepoints", there is no description for $TICK, and a duplicate entry for $TNAME.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f9da322b-ed73-b3e4-6fa0-e0ebd4a7475c
* Version Independent ID: dc0dbf50-e2e8-8dfc-0f0f-f0a86d31ea73
* Content: [Use Breakpoints in the Debugger in Visual Studio

[2018-04-16 13:45] YodasWs opened #812 "Stack Trace is Truncated"
:warning: The stack trace in IE11 is truncated to 1030 bytes, making this nearly impossible to use when you have a very long stack trace to comb through.

:warning: Even `console.trace()` outputs no more than 1031 bytes! That's so useless!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a75dd21d-d850-a972-3fde-7db8fec9b

[2018-04-16 17:07] gewarren commented on #808
@joellyons thank you, i'll take a look and fix as necessary.

[2018-04-16 17:09] gewarren commented on #809
@jeffkl or @Mikejo5000 can one of you address this issue?

[2018-04-16 17:53] Mikejo5000 commented on #809
@dotChris90 Did you see this topic?
https://docs.microsoft.com/en-us/visualstudio/msbuild/how-to-use-project-sdk

The Sdk element is mainly used by .NET Core projects currently. There is more info in their docs:
https://docs.microsoft.com/en-us/dotnet/core/packages
https://docs.microsoft.com/en-us/dotnet/core/tools/csproj

[2018-04-16 18:04] StingyJack opened #815 "There should be a list of language/frameworks supported by v15"
Like c#7 features can be built with v15, or what versions of .net can bu built with it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eb723883-dd62-0c53-8617-7bc867b9aaf3
* Version Independent ID: de1ff8ce-885c-9df0-077c-48c82f163c83
* Content: [What's New in MSBuild 15 - Visual Studio](https://docs.microsoft.com/en-u

[2018-04-16 18:28] dotChris90 commented on #809
@Mikejo5000  thanks for Reply. I know that there is possibility to specify a Folder e.g. "C:\Program Files\dotnet\sdk\2.1.300-preview1-008174\Sdks\Hello.World.Sdk\Sdk" with Targets and props. MSBuild even can find. But you Need admin rights for this. From the page you gave me there must be a "nuget" resolver - am I correct that resolver Looks for SDK in ".nuget" Folder and do I always have to defi

[2018-04-16 19:36] TerryGLee commented on #806
@chrisdr2 Thanks for your inquiry; we'll investigate and respond soon.

[2018-04-16 19:41] dotChris90 commented on #809
Ok - i think I found a good solution.

- Created a nuget package with dummy "SDK" (which contains props and targets).
- Started a Project with nuget.config and <add key="repositoryPath" Node (referencing my dummy SDK).
- created the global.json and modifed like on page you posted
- modifed msbuild Project file with SDK Attribut

everything worked! :D thanks for hint.

the ticket can be closed - bu

[2018-04-16 19:55] TerryGLee commented on #810
@ptoye Thanks for your inquiry. The feedback mechanics that we offer are two-fold:

1. You can [search for and "upvote" an existing problem](https://docs.microsoft.com/en-us/visualstudio/ide/how-to-report-a-problem-with-visual-studio-2017#search-and-vote-for-similar-problems-a-namesearchandvotea) or [report a new problem](https://docs.microsoft.com/en-us/visualstudio/ide/how-to-report-a-problem-wi

[2018-04-16 20:27] Mikejo5000 commented on #809
@dotChris90 What is the limitation you see for the global.json? @rainersigwald @jeffkl Per the question above, is global.json the only option?

[2018-04-16 20:37] dotChris90 commented on #809
@Mikejo5000 just curious if it is the official way or if user shall use other ways. No limitation - dont worry. I find it already very nice way. Thanks. :)

[2018-04-16 20:40] rainersigwald commented on #809
Jeff's on vacation this week. `global.json` is the way to go -- see https://github.com/Microsoft/msbuild/issues/2803 for some design notes until we get full documentation for NuGet-delivered SDKs.

[2018-04-16 21:02] dotChris90 commented on #809
@rainersigwald thanks for inform. :)

[2018-04-16 21:02] #809 closed

[2018-04-17 11:19] snalexp opened #818 "Sample code for EncodeData on DisassemblyData contains errors"
There is a missing brace after the namespace declaration.
The line
``for (int i = 0; i < guidDataLength; i++) ``
should be constrained by the sizeof char
``for (int i = 0; i < guidDataLength / sizeof(char); i++)``

Alex

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4328cd3f-fe0f-f0ee-4932-54b740f769db
* Version Indepe

[2018-04-17 15:23] wababa222 opened #819 "Visual studio"
can't install professional

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f307022f-0b34-372f-2185-b61227c110a7
* Version Independent ID: feabd94b-8396-4c5c-cbb4-cad94f2a476f
* Content: [Troubleshooting installation issues - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/install/troubleshooting-installatio

[2018-04-17 17:11] TerryGLee commented on #819
@wababa222 Thanks for contacting us. We're sorry that you're having troubles installing Visual Studio. However, this venue is meant to alert us to issues with the documentation. If you are having issues with installing the product itself, please see the "[More support options](https://docs.microsoft.com/en-us/visualstudio/install/troubleshooting-installation-issues#more-support-options)" section o

[2018-04-17 17:12] #819 closed

[2018-04-17 17:18] Adam-S-Daniel opened #820 "Explain variable substitutions in VSIX manifest sample"
The "Sample Manifest" includes `d:ProjectName="%CurrentProject%" Path="|%CurrentProject%;PkgdefProjectOutputGroup|"`. There is no explanation of where CurrentProject and PkgdefProjectOutputGroup come from. It appears that their build-time value substitutions are performed by the `ReadReferencesFromVsixManifest` and `DetokenizeVsixManifestSource` tasks in the `DetokenizeVsixManifestFile` target in

[2018-04-17 17:45] Seryi476 opened #821 "Seryi.04.02.1976"
---= explorer.exe =---

Attention!

All your files documents, photos, databases and other important files are encrypted and have the extension: .SETXQ

The only method of recovering files is to purchase a private key. It is on our server and only we can recover your files.

The server with your key is in a closed network TOR. You can get there by the following ways:

1. Download Tor browser - http

[2018-04-17 22:10] #821 closed

[2018-04-17 22:13] gewarren commented on #818
@snalexp Thanks for letting us know about these errors! If you'd like to take a stab at updating the topic yourself, there's an Edit button on the top right-hand side. Otherwise we can address it too.

[2018-04-17 22:46] TooManyDots opened #823 "Add an option to disable notifcations"
I don't mean "give me the ability to a disable notfication". I mean "never have any notifications". It is so annoying. I decide when I want updates, not you. Stop annoying me and everyone else.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: deb3386e-6b18-1cbd-9f1b-523b27b6521b
* Version Independent ID: 5ddf5e28-86d1-28

[2018-04-18 03:53] jotway opened #824 "Data Sources Window Icons"
What does the red no entry icon that shows up against some data items mean?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51391fb9-2aec-a122-ef69-1641a559f094
* Version Independent ID: 88c115d2-7c88-312e-650f-fa7db82e1a66
* Content: [Set the control to be created when dragging from the Data Sources window - Visual Stu

[2018-04-18 04:56] grantborthwick commented on #634
The following two wrong names still show up incorrectly in the list at the top.
dotnet_prefer_inferred_tuple_names
dotnet_prefer_inferred_anonymous_type_member_names

They are specified differently in the correct dotnet_style_prefer namespace later in the article.

[2018-04-18 08:06] snalexp commented on #818
Thanks @gewarren, I've opened https://github.com/MicrosoftDocs/visualstudio-docs/pull/825

[2018-04-18 10:12] r3m0t opened #826 "No indication of where the magic strings come from"
Where does ToolNumKeys, ToolDir0 etc come from? Are they documented? Do they match .vssettings files, if so what elements/attributes?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cda15bb6-a9d7-fbc7-fa47-c75ac51ccc88
* Version Independent ID: f0c858f7-c1fa-4c06-c394-d0de661ed7ee
* Content: [Writing to the User Setting

[2018-04-18 18:14] gregvanl commented on #826
@r3m0t These are the registries settings for adding an External Tool (Tools > External Tools... > Add) and is just being used as an example to illustrate the Settings Store API. They are an implementation detail of External Tools registration (they could change) and not an actual extension point.
You can check the latest version of the settings for your install per the registry path described.
![i

[2018-04-18 18:14] #826 closed

[2018-04-18 22:10] #818 closed

[2018-04-18 22:16] gewarren commented on #824
@jotway thanks, i will try to find out and let you know.

[2018-04-19 02:31] jotway commented on #824
Thank you Gennevieve.

I was puzzled by the meaning of the “No Entry” icon.  Maybe the documenters could a visual  like below with a brief explanation for the dummies like me.

Although any documentation is seldom has the piece of detail you need I think the Microsoft doco is superb.

I know how hard it is to produce material of this quality and I thank you for it.

Also, impressed by your respons

[2018-04-19 07:16] dozer75 opened #831 "Doesn't work in 17.6.4 - "Evaluating the function timed out" error"
I get this error all the time in the above mentioned version since it has inline variables, doing what the message says and this article doesn't fix the issue.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3cfd7078-683e-9fd6-247b-e75d4ed16a32
* Version Independent ID: ae3300c4-55a8-59b6-846b-50c48c88dcfe
* Content: [E

[2018-04-19 11:16] HppZ opened #832 "symbols locations does not work."
I add a location here:  D:\appsymbols\, but VS2017.15.6.2 can not find those pdbs in that folder.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1ce80d99-822d-3e3a-4c7f-6ec593029cef
* Version Independent ID: 61420028-368e-e122-1490-003b9340cb39
* Content: [Specify symbol (.pdb) and source files in the debugger - Visual

[2018-04-19 13:50] moerwald commented on #496
I'm also having the same problem.
Language: C#

Visual Studio version: 15.6.3

Editorconfig also doesn't work in this [lab environment](https://www.microsoft.com/handsonlabs/Account/SignIn?redirect=/handsonlabs/SelfPacedLabs?storyId=external://content-private/content/external/Microsoft-Virtual-Labs/DT00178) (which is MS official one).

[2018-04-19 15:14] tristanbarcelon commented on #783
Hi Terry,
     Are you able to confirm whether this is an installation issue or a documentation issue? In other words, can the workloads supplied at time of install be a subset of the workloads downloaded to an offline layout? Likewise, what's the likely explanation for the behavior I've observed? Thanks in advance.

[2018-04-19 15:24] kerrhome opened #833 "Missing C:\BuildTools"
I run this exactly as it is written, but when I start up a container there is no C:\BuildTools at all.  I look in C:\Program Files (x86) and visual studio isn't there either.

I'm running a powerful server with fresh installation of Windows 10 Pro for Workstations 1709 and the latest stable version of Docker, 18.03.0-ce-win59 (16762).  I have 14TB of disk space.  I have Docker configuration storag

[2018-04-19 16:12] gewarren commented on #496
@moerwald thanks for letting us know. Can you please log an issue at https://github.com/dotnet/roslyn/issues? I'm not sure if @regent logged one that you could upvote instead. IF you do log an issue, please add a link to this GitHub issue in it, so we know it's being tracked.

[2018-04-19 16:44] Regent commented on #496
I didn't had a chance to log it, I'm afraid

[2018-04-19 17:06] TerryGLee commented on #833
@kerrhome Thanks for your inquiry; we'll investigate and respond soon. (@heaths - FYI)

[2018-04-19 17:14] TerryGLee commented on #823
@TooManyDots Thanks for providing your feedback. As you've observed, we do document how to turn off the notifications, but it looks like you'd rather there be no notifications in the product at all. We've noted your input here, but if you'd like to provide this product-specific feedback in a venue that is designed specifically for that purpose, please consider adding your input to the [UserVoice](

[2018-04-19 17:15] #823 closed

[2018-04-19 19:08] kerrhome commented on #833
btw, I was able to use this dockerfile adding '--add Microsoft.VisualStudio.Workload.VCTools --includeRecommended to the vs_buildtools.exe execution and it does work:

https://blogs.msdn.microsoft.com/heaths/2017/09/18/installing-build-tools-for-visual-studio-2017-in-a-docker-container/

[2018-04-19 20:28] heaths commented on #833
The dockerfiles and instructions were tested, so it may be something specific to your configuration. If you start the container, and download and run https://aka.ms/vscollect, you can copy the logs out of the container for further analysis.

[2018-04-19 22:30] Mikejo5000 commented on #799
@PfhorSlayer Good catch, thanks. Fixing.

[2018-04-19 22:33] Mikejo5000 commented on #831
@dozer75 Thanks for reporting this. Have you been able to identify a fix that does work in your scenarios? I could update the doc.

[2018-04-19 23:41] Mikejo5000 commented on #811
@kimrandell Thanks for catching this. $TICK appears to be a timestamp in hex format, but I'm asking about it.

[2018-04-19 23:52] Mikejo5000 commented on #780
@miguelguzman Sorry for the slow response. I'm looking into it.

[2018-04-20 05:33] moerwald commented on #496
@gewarren: Raised new issue -> [https://github.com/dotnet/roslyn/issues/26276](https://github.com/dotnet/roslyn/issues/26276)

[2018-04-20 07:30] dragmz opened #837 "Second example not clear why SignFile is used"
The second Example states it uses Exec to sign files but I can see it uses SignFile task as well so it's not clear why SignFile is used.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c09ffd23-115c-368b-c17f-7d3af54f0a67
* Version Independent ID: b640eb45-9978-0a9e-f8dc-fd2581e84fb5
* Content: [SignFile Task - Visual S

[2018-04-20 07:30] dozer75 commented on #831
Unfortunately no I haven't. I was hoping that someone else had any suggestions.

[2018-04-20 08:18] nbwns opened #838 "Seems to re-download everything"
Hi,
I've followed the commands to create a layout and then launch the installer but it seems it downloads again everything even if all the required packages have been downloaded already ! What a waste of time and bandwidth... :(

Nicolas

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b2a7f87-7685-2618-9be0-f2286662342

[2018-04-20 08:57] nbwns commented on #838
Please ignore this comment, I think it's just downloading a couple of things that were not in the layout, it works fine after this initial download :)

[2018-04-20 11:08] tzuhsun opened #839 "Combination of switches give "Invalid project configuration" error"
"C:\Program Files (x86)\Microsoft Visual Studio\2017\Professional\Common7\IDE\devenv.com" ..\AllProject.sln /project ProjectA /rebuild UnitTest /projectConfig UnitTest

Above line give errors below:

Microsoft Visual Studio 2017 Version 15.0.27428.2037.
Copyright (C) Microsoft Corp. All rights reserved.

Invalid project configuration

Use:
devenv  [solutionfile | projectfile | anyfile.ext]  [switc

[2018-04-20 13:52] kerrhome commented on #833
Reinstalling HyperV and Docker resolved the issue.

[2018-04-20 13:52] #833 closed

[2018-04-20 16:39] TerryGLee commented on #838
@nbwns Thanks for your follow-up; we're glad to hear that everything works fine now for you. :)
We'll close this issue.

[2018-04-20 16:39] #838 closed

[2018-04-20 18:15] gewarren commented on #839
@tzuhsun I think you should be using devenv.exe instead of devenv.com.

[2018-04-20 18:52] louiskody opened #841 "Default Values would be helpful"
It would be great if the default value for each property was given. This can help devs who have tried various options but want to revert back to a default configuration. (For all the settings/options too).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c524aa1d-eec4-d776-8346-dfdc632eec76
* Version Independent ID: c0f6

[2018-04-20 19:32] Mikejo5000 commented on #780
@miguelguzman So, the Bootstrapper Manifest Generator is a quite old legacy tool, and looks like it's no longer available. Instead, you need to manually create the bootstrapper manifest:
https://docs.microsoft.com/en-us/visualstudio/deployment/how-to-create-a-product-manifest
https://docs.microsoft.com/en-us/visualstudio/deployment/how-to-create-a-product-manifest

I'll update the docs.

[2018-04-21 13:44] dazinator opened #842 "I can't report a problem, because the problem is with the report a problem!"
I wanted to report a problem with VS.

Everywhere I go to do this, it directs me to report the problem via the feedback tool. This seems to be the only mechanism.

However the problem is with the feedback tool itself - it isn't working.

So how do I report a problem with that?

Here is the problem. When I open the feedback tool I see this:

![image](https://user-images.githubusercontent.com/317663

[2018-04-21 18:13] ghost opened #843 "Installation Problems? Don't Worry install it, then sign in and then report the problem."
I am having trouble installing Visual Studio 2017(community). I had installed it earlier and but I have to install it again now in a new computer. Now, I have downloaded the installer and It opens up and says it needs to download some files and then it can start( it says:  Visual Studio Installer \n Just a moment ... Fetching your Files) and it just stays at 0% And I know my Internet is working an

[2018-04-22 03:55] IrishChieftain opened #844 "EF Power Tools for VS 2015"
Following Julie Lehrman's EF6 tutorial and her blog on installing EF Power Tools in VS 2015:

http://thedatafarm.com/data-access/installing-ef-power-tools-into-vs2015/

She says to update the version of VS in the SupportedProducts section. However, when I downloaded the exteension and followed the steps I saw that there is no Such section in the extension.vsixmanifet file anymore. Then I saw this

[2018-04-23 05:39] tzuhsun commented on #839
Hi @gewarren, even devenv.exe give same error, the different is the error message show in windows popup unlike the other show in console.

I found the root cause by read the message again, it says we need to include 'Platform' together with the setting name if there is multiple platforms, that solve my issue.

my batch file now become like this:
..\AllProjects.sln" /Rebuild "UnitTest|Win32" /Proje

[2018-04-23 09:36] TangoSensory opened #845 "And then what?"
What a useless document

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39d90aa3-99ab-1506-a311-5f79362abc3a
* Version Independent ID: 590e6716-7694-6082-9575-2ec262427acf
* Content: [How to: Create an Atom Feed for a Private Gallery - Visual Studio](https://docs.microsoft.com/en-gb/visualstudio/extensibility/how-to-cre

[2018-04-23 13:25] Misiu opened #846 "Support creating VSIX with WinForms Toolbox Controls targeting .NET 4.0"
When following steps from this guide:
https://github.com/MicrosoftDocs/visualstudio-docs/blob/master/docs/extensibility/creating-a-windows-forms-toolbox-control.md I was able to create VSIX with user control that targets .NET 4.5 (this framework version is default when creating new project).
As soon as I set target framework to 4.0 I can't add new controls using Add >New Item > Extensibility.

![s

[2018-04-23 15:30] ingconti opened #847 "LoadStdProfileSettings is NOT defined in VISUAL STUDIO 2017."
try to use an MFC app from Vs 2017: You got:

Error (active)	E0020	identifier "LoadStdProfileSettings" is undefined.

[2018-04-23 15:39] #800 closed

[2018-04-23 15:39] #799 closed

[2018-04-23 15:39] #811 closed

[2018-04-23 17:15] AaronValor commented on #783
Is there a command line option for 64 bit?

[2018-04-23 17:25] AaronValor opened #849 "Looking for command line installation option for 64 bit"
Command line installation defaults to 32 bit.
Is there an option for 64 bit?

[2018-04-23 18:39] heaths commented on #833
See https://docs.microsoft.com/en-us/visualstudio/install/workload-component-id-vs-build-tools for the individual component IDs you can pass to `--add`. We documented all the command line arguments including `--includeOptional` at https://docs.microsoft.com/en-us/visualstudio/install/use-command-line-parameters-to-install-visual-studio.

[2018-04-23 18:44] corob-msft commented on #847
@ingconti First things first: Have you installed MFC/ATL support in your copy of Visual Studio? If not, I'd expect other errors well before this one, and squiggles under all kinds of things, but it's the first place to start. Run the VS installer, choose the **Modify** button for your installation, choose the **Individual components** tab, scroll down to the **SDKs, libraries, and frameworks** sec

[2018-04-23 19:38] corob-msft commented on #847
@ingconti Why is LoadStdProfileSettings commented out in your headers? I created a new MFC app with the wizard, and it calls LoadStdProfileSettings in the main app class' InitInstance member function. If I put the cursor on the call to LoadStdProfileSettings and press F12, it takes me to the declaration in afxwin.h on line 5207, where it definitely is not commented out. If it's commented out for y

[2018-04-23 20:14] pkskelly opened #850 "VSTS licensing for Azure AD Linked MPN Accounts"
We recently went through connecting our Azure AD tenant to VSTS and this was still a VERY bumpy road.  We had to change the Azure subscription which was associated with the Azure AD directory and needed VSTS team support to unlink the subscription and link to a new subscription for billing.   Once the subscription associated with the directory issue was addressed, the documentation for linking Azu

[2018-04-23 21:27] gewarren commented on #839
@tzuhsun thank you for the info. I'm reopening the issue so i can track the work to update the topic with the info you provided. Thanks again!

[2018-04-23 22:01] bterlson commented on #812
Sorry for the delay. @Mikejo5000 you are correct in that the stack property is not a standard, so the overriding concern is interoperability with other implementations.

@liminzhu can comment on whether Chakra error.stack still exhibits this behavior. If it's just IE11, then as long as the limitation is documented, I think no action is required.

[2018-04-23 22:53] gewarren commented on #496
@moerwald thank you! I'm going to close this issue then.

[2018-04-23 22:53] #496 closed

[2018-04-24 00:38] liminzhu commented on #812
This behavior is gone in Edge/Chakra.

[2018-04-24 02:10] erickson-doug commented on #850
Hello! We will review this and update the VSTS documentation, and link to it from the VS Subscriptions docs. @chcomley @TerryGLee

[2018-04-24 02:10] #850 closed

[2018-04-24 02:34] tzuhsun commented on #839
You are welcome 😄

[2018-04-24 02:55] eschneider999 commented on #496
Why are we closing it if it's still broken!!!

Doesn't Microsoft fix anything anymore?
What do all you people at Microsoft Do?

[2018-04-24 03:26] gewarren commented on #496
@eschneider999 the product issue is being tracked by the [Roslyn issue](https://github.com/dotnet/roslyn/issues/26276) that @moerwald logged. This issues page is for the documentation, and since this is not a problem that the documentation can help with, we're tracking the bug via the Roslyn issue. If you are not using C#, then you might log a different issue for your scenario at https://github.co

[2018-04-24 07:05] ingconti commented on #847
I will delete and reinstall from scratch.
Also for me is strange, i never touch MS files.

[2018-04-24 07:36] malchera opened #851 "Adding unit test to project"
I want to add a unit test file to a Win32 Console Application (same project), as described in this document ("Right-click on the project node in Solution Explorer and choose Add | New Item | C++ Unit Test.").
Unfortunately, the "Add New Item" dialog does not provide any template for C++ Unit Tests. Am I missing something? My version is VS2015 Professional.

---
#### Document Details

⚠ *Do not edi

[2018-04-24 19:10] gewarren commented on #475
The original walkthrough topic has been deleted. The "Get started with WPF" topic [now links to](https://docs.microsoft.com/en-us/visualstudio/designers/getting-started-with-wpf#where-should-i-start) the same walkthrough over in the .NET docs, where the code has been verified to compile. Thanks again for alerting us to this problem. Closing this issue.

[2018-04-24 19:10] #475 closed

[2018-04-24 21:42] SwooshyCueb opened #853 "MSBuild common property (Base)IntermediateOutputPath documentation inaccuracy"
Common MSBuild Project Properties [\[GitHub link\]](https://github.com/MicrosoftDocs/visualstudio-docs/blob/master/docs/msbuild/common-msbuild-project-properties.md) [\[docs.microsoft.com link\]](https://docs.microsoft.com/en-us/visualstudio/msbuild/common-msbuild-project-properties) appears to make an incorrect statement regarding the `BaseIntermediateOutputPath` property.

The `IntermediateOutpu

[2018-04-24 22:52] #853 closed

[2018-04-24 23:57] gewarren commented on #729
It should at least link to this topic: https://docs.microsoft.com/en-us/visualstudio/ide/go-to

[2018-04-25 15:21] GregE123456 opened #856 "Architecture Dependency Validation/Layer diagram not working in .Net core (ie not show errors when dependency diagram is violated)"
I'm trying to setup a simple architecture layer diagram to validate that we don't break our layering rules by using namespaces/dll's from incorrect layers.

I setup a simple solution that has a console app, and 4 dll's (all using .Net Core). The console app calls into Dll1, Dll1 calls into Dll2, Dll2 calls into Dll3, etc. Then I setup a layer diagram to enforce this layering and try to have the co

[2018-04-25 17:38] shakanand opened #857 "Broken URL Link"
I am trying to run the sample R project from "samples zip file", it fails with the below error.
Looks like the repository URL link is broken.

Warning: unable to access index for repository https://mran.microsoft.com/snapshot/2018-01-01/src/contrib:
  cannot open URL 'https://mran.microsoft.com/snapshot/2018-01-01/src/contrib/PACKAGES'

---
#### Document Details

⚠ *Do not edit this section. It is

[2018-04-25 18:03] gewarren commented on #849
@TerryGLee can you take this one?

[2018-04-25 18:12] gewarren commented on #856
@GregE123456 thanks, I will try to find out the answer for you.

Topic: https://docs.microsoft.com/en-us/visualstudio/modeling/layer-diagrams-guidelines

[2018-04-25 18:13] gewarren commented on #856
@jmprieur would you be able to help out with this question?

[2018-04-25 18:46] #843 closed

[2018-04-25 18:49] TerryGLee commented on #842
@dazinator Thanks for your feedback. Are you still experiencing this problem with signing in to the [Visual Studio developer community](https://developercommunity.visualstudio.com/)? We'd like to verify that this isn't a temporary glitch.

[2018-04-25 19:12] AWulkan commented on #596
Even though I personally don't factorial stuff very difficult, it can definitely be for many that are young or just getting into programming. I know that I've gotten stuck a lot of times trying to decipher walls of code from Microsoft documentation.

@jakubrpawlowski is right. The Microsoft docs are infamous for creating very complex guides to make it more "realistic", instead of just explaining t

[2018-04-25 19:38] gregvanl commented on #845
Sorry that you were disappointed by the documentation. Have a look at the general Private Gallery topic https://docs.microsoft.com/en-gb/visualstudio/extensibility/private-galleries for more context.

[2018-04-25 19:38] #845 closed

[2018-04-25 19:44] Davsterl commented on #783
Hi Tristan,
This is an installation issue in particular with our use of the Anaconda package. We've fixed the bug in an upcoming release.
Thanks,
-David Sterling
Visual Studio Setup Team

[2018-04-25 20:40] solvingj commented on #833
Thank you very much.

[2018-04-25 21:29] dragmz opened #858 "Incorrect Value parameter description"
The 'Value' parameter does not seem to be 'the output file' as the doc says but the actual value instead.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ef0ef75-5fa0-55e2-415b-e7b3d0c79a56
* Version Independent ID: 5982f1be-d837-2296-9b12-0c353ff1a827
* Content: [XmlPoke Task - Visual Studio](https://docs.microsoft.co

[2018-04-25 22:31] dazinator commented on #842
Yeah still experience this issue.
On my windows 10 machine I sign in with a non admin (standard) user account. The problem then seems to occur if I Run VS as Administrator.

I opened two instances of vs2017 community side by side to test this, only difference was one was run as administrator. The one running as admin I could not sign with for the feedback tool. Same thing effects the installer.

[2018-04-26 14:13] Joe-Sewell-PreEmptive opened #860 "Reference-style links broken"
The [reference-style links](https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet#links) on pages in the `docs/ide/dotfuscator` directory are broken. Here’s what one page looks like on the rendered document:

![reference-links](https://user-images.githubusercontent.com/25648343/39311195-418eb95e-493a-11e8-8f06-dea86f3569e7.png)

It looks like the problem is that each page’s list of refe

[2018-04-26 18:11] kraigb commented on #857
@shakanand Can you be more specific which part of the sample you're trying to use? I just tried accessing the specific URL you gave above, and it works fine for me. I suspect that you just had a momentary glitch with accessing that data file.

Do note that "running the project" isn't meaningful in this context because the samples are individual R file that are best used by stepping through them, o

[2018-04-26 19:40] gewarren commented on #860
@Joe-Sewell-PreEmptive thanks, and sorry for breaking the links! next time i'll ask you to review it.

[2018-04-26 19:43] Joe-Sewell-PreEmptive commented on #860
No problem, and thanks for the quick turnaround on this issue.

[2018-04-26 19:43] #860 closed

[2018-04-26 20:14] solvingj commented on #833
I've installed the `build_tools` in a windows container with the following commands, but the build tools can't find the `v140` toolset.  Is there something we can set in our build server/image to help visual studio find the tools?  For example, set an environment variable?

Alternatively, is there a different/official process for automated downloading and installing the build tools which we can us

[2018-04-26 20:17] solvingj commented on #833
And i immediately found this article after posting the comment:
https://docs.microsoft.com/en-us/visualstudio/install/build-tools-container

[2018-04-26 20:36] mariaghiondea commented on #842
@dazinator Please visit https://www.visualstudio.com/subscriptions/support/ and select “Account, Subscription & Billing Support” under the “Contact Us!” heading. Follow the prompts that will connect you to a support agent who can help troubleshoot this issue with your account. You can set Issue to “Subscription sign in support” for issues signing into the product
Your second issue is similar to ht

[2018-04-26 20:39] solvingj commented on #833
Copied and pasted the dockerfile, replaced from with:
`FROM microsoft/windowsservercore-insider:10.0.17134.1`

Produces error on the `RUN C:\TEMP\vs_buildtools.exe` step:
`The token '||' is not a valid statement separator in this version.`

[2018-04-26 21:25] TerryGLee commented on #849
@AaronValor Thanks for your feedback. We'll investigate and report back.

[2018-04-26 21:26] #842 closed

[2018-04-26 21:46] heaths commented on #833
Can you copy/paste the exact error with formatting from the console output? A group does test a very similar Dockerfile with the insider builds and have not mentioned such an error.

Also make sure you have the back tick declared as the escape and that it's at the end of the line before `||`.

[2018-04-26 22:11] corob-msft commented on #847
Closing this, because it's not a documentation issue. For product issues, we recommend the Feedback control at the upper right in the Visual Studio IDE.

[2018-04-26 22:11] #847 closed

[2018-04-26 22:52] ingconti commented on #847
ok

[2018-04-26 23:46] jmarolf opened #863 "This article is effectively useless"
This article is effectively useless.  It tells be what the AppliesTo element does, but without a list of Capabilities there is no way for me to know how to author this correctly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 177e2c60-627c-a81e-d8a4-906c360a7e53
* Version Independent ID: 449e778c-7ac8-e8a7-16cd-16ddaa2

[2018-04-27 04:10] tristanbarcelon commented on #783
Thank you @Davsterl Is this fix in 15.6.7 or in the 15.7 preview?

[2018-04-27 04:41] Davsterl commented on #783
Hi Tristan,
15.7 Preview at the moment.

Thanks,
-David

[2018-04-27 10:13] ShengrenNiu opened #864 "Problem on making the DLL available to Python"
I‘m using the VS 2015. I've already made the DLL available to Python by the first method. But when I run the python file, an exception will be through out. "No module named 'superfastcode' ". There are  .pyd files in the solution folder under Debug and Release and the path of References is correct. However if I copy the .pyd files in the  Release to the subfolder of python solution, the python pro

[2018-04-27 14:58] Misiu commented on #846
@gregvanl any news about this?
I've tried creating `ProvideToolboxControl ` manually and adding it to my UserControll class but that didn't work.
Ideally after changing target to .NET 4.0 WinForms Toolbox Control should be available in Add New Item menu.

[2018-04-27 15:33] artl93 commented on #849
@AaronValor  - what do you mean by it defaulting to 32-bit? Visual Studio is a 32-bit application for all Windows platforms. Are you seeing 64-bit components missing in some cases (e.g. 64-bit ETW collectors or debugging?)

[2018-04-27 17:07] mikeblome commented on #851
@malchera. Sorry for the confusion. This feature was introduced in Visual Studio 2017.  This topic describes how to add a unit test project in VS 2015: https://msdn.microsoft.com/en-us/library/hh598957.aspx.

[2018-04-27 17:34] amelvill commented on #731
Has there been any progress on this? I have the same question.

[2018-04-27 18:57] jjgriff93 opened #867 "More troubleshooting examples, particularly for my issues below if possible :)"
Further troubleshooting examples would be really helpful as this is in private preview and theres nothing on Stack Overflow to help - having this issue below at the moment when running vsce env create when working from VS Code:

Error:
  An assembly specified in the application dependencies manifest (vsce.deps.json) was not found:
    package: 'Microsoft.VisualStudio.ConnectedEnvironment.Client',

[2018-04-27 19:25] ghogen commented on #867
What region are you using for your environments? If it's eastus, support there had to be taken down.  The other region, westeurope, should be OK.  As a private preview user, you can find out more on the Slack channel.

[2018-04-27 19:28] ghogen commented on #867
OK, I see you're already asking on the Slack channel.  Further discussion ongoing there on this issue.

[2018-04-27 19:57] BretJohnson opened #868 "Add instructions for how to find the tool"
We should add instructions to tell the user how to actually find and run this tool, as it's not at all obvious.
These are the steps, I believe: https://stackoverflow.com/questions/41105665/vsix-color-editor-tool
It's installed to a path like Microsoft Visual Studio\2017\Enterprise\VSSDK\VisualStudioIntegration\Tools\Bin\VsixColorEditor.exe
You have to find it there and run it.

---
#### Document D

[2018-04-27 23:26] gewarren commented on #774
@S-List were you seeing this warning from Roslyn-based FxCop analyzers, or the legacy FxCop?

[2018-04-28 00:51] ShengrenNiu commented on #864
@kraigb Thanks a lot. In order to make you reappear the same problem, I'd like to provide you the environment information. VS: VS2015 Community, Python 3.6 x64 built by Anaconda,  the Property Pages dialog setted Configuration to All Configurations and Platform to x64. In addition, there are .pyd and .lib file in the solution folder under Debug, but no DLL file. I just copy the .pyd and .lib file

[2018-04-28 03:38] PhilBarila commented on #659
@Mikejo5000, I tried that e-mail, but got a bounce that there is no such address at Microsoft.com.  Typo?

[2018-04-28 18:09] devovercome opened #870 "How to enforce anonymous member name to be defined?"
Hi!
I am working on setup which includes `dotnet_style_prefer_inferred_anonymous_type_member_names ` for asp.net solution.

Here is global problem - team used to abuse anon object in order to return JSON result. Hovewer, I want to enforce (or encourage at least) write anon object _properties_ of JSON repsonse explicitly. Why? Because if source field of anon object has been renamed - the JSON outpu

[2018-04-28 19:16] LeeC2202 commented on #607
Why not just state the real reason, which is "If we let people download an ISO, we wouldn't be able to collect the exact data about what applications they might be developing and collecting data is more important than your convenience".

VS2015 was a 3.6GB installer package, there is no way on this earth that you now need almost 15x that amount of data, for what is fundamentally the same product.

[2018-04-28 23:26] PhilBarila commented on #659
I found another post where the recommendation was to register the Intellitrace.Profiler DLL in order to get the CLSID.  That worked, the 2017 CLSID that worked for me is:  {BBB416E1-1473-4012-8081-C1DBF569AF1F}

[2018-04-29 06:09] ncarandini opened #871 "Side by side Stable and Beta/Alpha channels"
I think something has to be written about having different versions side by side, because it's not clear what happens when switching from stable to beta and vice versa, are the different channel versions still maintained side by side or downloading one channel version remove others?

As an example, suppose the developer is using Visual Studio for Mac with a Stable version on a Mac and a Visual Stu

[2018-04-29 18:37] gewarren commented on #450
@LiaoXP I agree it was a bit confusing as written, because that test method should never be using a valid debit amount - that's not its purpose. I've rewritten that section of the topic to be a bit less confusing.

[2018-04-29 19:15] KushajveerSingh opened #872 "Visual Studio 2017 stuck on Just a moment ... Fetching your files for Windows 10"
I downloaded the 886 Kn installer for visual studio. But when I run it keeps stuck on the above screen.
![capture](https://user-images.githubusercontent.com/24699564/39410075-b15b5774-4c0f-11e8-87a8-2f199215511d.PNG)

[2018-04-30 07:52] macmule opened #873 "Offline installer"
Any progress?

Or even progress for an installer that can be deployed programmatically to macOS clients with the SDK's installable in a central location.

[2018-04-30 17:31] #775 closed

[2018-04-30 17:31] #807 closed

[2018-04-30 17:31] #463 closed

[2018-04-30 17:31] #556 closed

[2018-04-30 17:31] #711 closed

[2018-04-30 17:31] #749 closed

[2018-04-30 17:31] #450 closed

[2018-04-30 17:44] gewarren commented on #870
@devovercome To clarify, are you saying that **dotnet_style_prefer_inferred_anonymous_type_member_names = false:error** is not producing the error you're expecting in the following code?

                        var foo = new
			{
				dateTime.Month // this should raise error.
			};

[2018-04-30 17:46] gewarren commented on #872
@KushajveerSingh Sorry to hear it is stuck. This page is intended for documentation support/issues. Could you file your issue over on [Developer Community](https://developercommunity.visualstudio.com/spaces/8/index.html) instead?

[2018-04-30 21:04] RoswellMiller opened #874 "Software Engineer"
I tried using the MockLanguageExtension and the types ProcessStartInfo and Process are no where to be found.  Ditto for the two class Attributes

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ff91657a-173a-0013-62e4-e7c8531b8240
* Version Independent ID: 27988cad-5114-41e3-c48a-357431af0fe1
* Content: [Adding a Languag

[2018-04-30 21:43] steampunk1 commented on #607
This is the stupidest idea ever! I can appreciate what you are trying to do but I've wasted a day now trying to just repair VS2017 because the Git extension doesn't want to play nice.  Then I come here and get sent in circles! Yay! ... Not Happy... Please, Please Fix This!! An offline full installer would be nice about now.. sigh...

[2018-04-30 22:27] gregvanl commented on #874
Hi @RoswellMiller, those types are in System.Diagnostics part of the .NET Framework.

[2018-04-30 22:27] #874 closed

[2018-04-30 23:57] gregvanl commented on #868
@BretJohnson Good suggestion. Feel free to submit a PR.

[2018-05-01 13:08] Joe-Sewell-PreEmptive commented on #860
@gewarren Do you know how soon these changes will go live on docs.microsoft.com?

[2018-05-01 15:39] vasiliy-kuznetsov commented on #815
Absolutely, basically I came to this page to figure out which minimum version of MS Build can build .net standart 1.3 project.

[2018-05-01 17:19] HL-1234 opened #875 "Big downloads could break!?"
If (A complete Visual Studio 2017 layout requires at least 35 GB of disk space) -  it would be nice if I could use a download manager to not start form the beginning when the internet connection breaks or does the vs_[sku].exe work in this way? I see no example for that option or a remark for that problem.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2018-05-01 17:43] mflanagan opened #876 "Developer"
I notice there's no separate section for step 7: "Check Coverage." Can I do this if my production code is in a DLL, AND my unit tests aren't in that same project? If not, any thoughts on what I'd need to do? I suspect I can change my production lib to be a static lib, but I have 30+ production dll's that I'd like to test. Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2018-05-01 18:29] gewarren commented on #860
@Joe-Sewell-PreEmptive They should have been live already but there is an issue with the sync between our public and private repos. Sorry; it should be fixed later today!

[2018-05-01 20:05] ghogen commented on #867
We're closing this as this is being dealt with on the Slack channel, and anyway these are temporary issues due to an unusual situation in the current phase of VSCE development.

[2018-05-01 20:06] #867 closed

[2018-05-01 22:50] Mikejo5000 commented on #858
@rainersigwald Rainer, is the Value always an output file for XmlPoke, or could it be any ITaskItem?

[2018-05-01 23:06] Mikejo5000 commented on #841
@louiskody Thanks for the feedback. That's a good idea. At times, the defaults change between VS versions, so the information could get out of date. You can reset your settings using Tools > Import and Export Settings. You can only limit the reset to debugger settings, however, if you save the current settings before you make changes (via the same Tools > Import and Export Settings option). It mig

[2018-05-01 23:17] Mikejo5000 commented on #837
@rainersigwald  Rainer, is the SignFile task redundant with Exec in the second example?

[2018-05-01 23:18] Mikejo5000 commented on #832
Need more info to help resolve issue

[2018-05-01 23:18] #832 closed

[2018-05-01 23:25] #812 closed

[2018-05-02 15:31] tomsku opened #877 "Main.xaml -> android:layout_below ??"
Warning: "The 'http://schemas.android.com/apk/res/android:layout_below' attribute is not declared."

Intellisense does not recognize some of the attributes. Can someone help how to fix, I think declarations are missing from two if the files:
'android-layout-xml.xsd'
'schemas.android.com.apk.res.android.xsd'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2018-05-02 15:33] tomsku commented on #877
typo: 'from two if the files:'
should be: 'from two of the files:'

[2018-05-02 17:01] rainersigwald commented on #858
`Value` should be something like `The value to be inserted into the specified path.`. Looks like a copy/paste error (in the doc comments in code) that propagated here.

[2018-05-02 17:07] rainersigwald commented on #837
It looks like it to me, too. I don't know why we'd have an example in the `SignFile` documentation that describes doing it manually. I think I'd just remove the second example entirely . . .

[2018-05-02 17:09] gewarren commented on #844
@IrishChieftain Anthony,

Julie links to a VSIX where she already made the modifications. You can grab it here http://1drv.ms/1IkWSkR.

The SupportedProducts element was deprecated in VS2017. Since, VS2012, you have been able to specify an InstallationTarget instead like this:

<Installation>
  <InstallationTarget Id="Microsoft.VisualStudio.Community" Version="[15.0, 16.0)" />
</Installation>

Doe

[2018-05-02 19:16] ryanjaeb opened #878 "Could the preview workloads be included in these docs?"
It would be useful to have a list of the workloads that are part of preview releases.  For example, the [upcoming release](https://docs.microsoft.com/en-us/visualstudio/releasenotes/vs2017-Preview-relnotes#BuildToolsUWP) includes a workload for UWP.  I would like to see what happens if I try to install that workload in a [Docker container](https://docs.microsoft.com/en-us/visualstudio/install/buil

[2018-05-02 20:41] ymeric opened #879 "Doesn't compile"
Followed instructions in VS 2017 Enterprise 15.6.6 and getting two errors:
Severity	Code	Description	Project	File	Line	Suppression State
Error		The "ValidateVsixParts" task could not be initialized with its input parameters.	VSIXProject1
Severity	Code	Description	Project	File	Line	Suppression State
Error		The "ContentManifest" parameter is not supported by the "ValidateVsixParts" task. Verify the

[2018-05-02 22:00] gregvanl commented on #879
Hi @ymeric Sorry to hear you are having trouble compiling the Hello World example. I tried with VS 2017 15.6.7 and didn't see your compiler error. Perhaps you could try updating your installation using the Visual Studio Installer and see if that helps. Another possibility is that you have a corrupt VS SDK  installation which you could try to repair by removing the "VS extension development" worklo

[2018-05-02 22:24] monarchdodra opened #881 "bad maximumFractionDigit field"
The `maximumFractionDigit` field in the code snippet should actually be `maximumFractionDigits` (plural).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d71e6f22-ce3f-9fc7-06aa-aca4cc38742e
* Version Independent ID: ba98a0d5-966c-2914-8768-67c434d35c41
* Content: [format Property (Intl.NumberFormat)](https://docs.micro

[2018-05-02 22:26] #798 closed

[2018-05-02 22:27] #732 closed

[2018-05-02 23:32] SQL-MisterMagoo opened #882 "Links to old MSDN documentation need updating"
There are links on this page to MSDN which either take a very long time to load or fail to load at all.
For example, the link to IVsTextBuffer is https://msdn.microsoft.com/en-us/library/microsoft.visualstudio.textmanager.interop.ivstextbuffer(v=vs.140).aspx
For me, this link is timing out, which makes it impossible to use the documentation.
If there are corresponding pages on docs.microsoft.com,

[2018-05-03 00:30] loschorts commented on #833
@heaths can you please provide more instructions on how to run `collect.exe`? i am having the same problems as the OP but a reinstall of Docker did not solve the problem.

[2018-05-03 05:08] heaths commented on #833
The updated Dockerfile examples show how to. You can also see https://aka.ms/vscollect for more information.

[2018-05-03 05:11] gregvanl commented on #882
Hi @SQL-MisterMagoo I am not able to reproduce your issue. The link to IVsTextBuffer goes to a docs.microsoft.com API reference topic https://docs.microsoft.com/en-us/dotnet/api/microsoft.visualstudio.textmanager.interop.ivstextbuffer?view=visualstudiosdk-2017 so redirection seems to be working. Can you try the page again? Perhaps there was an intermittent issue with redirection?

[2018-05-03 06:26] SQL-MisterMagoo commented on #882
Hi @gregvanl  - I've just noticed that is normal - the MSDN links redirect to docs, but when MSDN is slow and/or unresponsive you don't get that redirect. Is there a plan to just have these links go direct to docs?

Thanks

[2018-05-03 08:15] berneymark commented on #469
I don't see the menu option Version Control > Manage Branches and Remotes... so I am unable to change branches. I have no idea what to do from there and nobody has been able to answer my question.

[2018-05-03 09:14] MappingSteve opened #883 ""View Call Hierarchy" not "View Class Hierarchy""
Re "You can display the Call Hierarchy window by selecting a method (or property or constructor) and then choosing View Class Hierarchy ..." -- the correct menu item is View CALL Hierarchy.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b960c4e0-ac54-9e65-6397-44d7a5750764
* Version Independent ID: 224d2c57-b542-8030-6

[2018-05-03 09:56] MappingSteve opened #884 "Call Hierarchy window - clarify which languages and/or product versions show "Calls From""
It appears that managed languages (C#,VB), at least in Community edition, have "Calls To", but do NOT have "Calls From". Please state which languages (C++?) and/or product versions (Pro/Enterprise?) are required, to have this feature.  In the doc text, the relevant phrase is "... and lists the methods that are called from that method.".

---
#### Document Details

⚠ *Do not edit this section. It i

[2018-05-03 14:14] bbartling opened #886 "VS 2017, I dont have option to check a box to "Create a new Git repository.""
Hi, in my visual studio 2017... Im trying to follow all of the steps in 1.1 but I dont have option to check a box to "Create a new Git repository." Is there a setting in VS that I need to do in order to enable Git? Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 92bb4dc5-b036-60f4-37aa-8b28b092cac9
* Version Inde

[2018-05-03 15:07] asb3993 commented on #469
@berneymark can you tell me what options you do see? If the project is using version control, it _should_ look similar to this:
<img width="418" alt="screen shot 2018-05-03 at 11 05 43 am" src="https://user-images.githubusercontent.com/5012825/39585172-26bc8ff6-4ec2-11e8-940d-402168313740.png">

[2018-05-03 16:15] kraigb commented on #886
Ah, yes, thanks for pointing out that oversight in the pre-reqs. Open the VS installer, select Modify, and go to the "Individual components" tab. Scroll down to "Code tools" and check the options for "Git for Windows" and "GitHub Extension for Visual Studio". Let me know, though, if those are already selected and you still don't see the checkbox.

[2018-05-03 16:16] kraigb commented on #886
And thanks for filing the issue; I do need to update the article, so I appreciate knowing.

[2018-05-03 16:29] gewarren commented on #884
@MappingSteve Thanks, I will try to clarify the information.

[2018-05-03 16:30] gewarren commented on #883
@MappingSteve Thanks, I will fix this.

[2018-05-03 16:38] TerryGLee commented on #878
@ryanjaeb Thanks for your feedback. We'll investigate the possibility and report back soon.

[2018-05-04 00:40] gewarren commented on #844
@IrishChieftain awesome! Closing the issue then.

[2018-05-04 00:40] #844 closed

[2018-05-04 00:47] gewarren commented on #731
@PBoraMSFT can you clarify which tools .runsettings is used for, or point me to someone that could clarify?

[2018-05-04 07:52] Daedalus72 opened #888 "Missing setting."
You need to mention that the relative layout must have a height of 100dp because with the default setting (550dp) the controls beneath the relative layout are not visible.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 14465304-3ced-6b36-5054-a85ac11e667e
* Version Independent ID: 9d2d9ca3-8d71-b81c-dbbb-bf4b269db034
*

[2018-05-04 10:45] BorisBoyko commented on #412
@gewarren Did you close the ticket because you have solution? Can you share it?

[2018-05-04 12:38] VaclavK opened #889 "Type can more have values than the doco captures"
e.g. ProjectGroup

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae0aa369-2cc7-8452-dc52-e75f19ac6a5e
* Version Independent ID: 41e7734f-83ef-afa7-5e15-03b0a97929ab
* Content: [VSTemplate Element (Visual Studio Templates) - Visual Studio](https://docs.microsoft.com/en-ie/visualstudio/extensibility/vstemplate-element-vi

[2018-05-04 14:40] Joe-Sewell-PreEmptive commented on #860
@gewarren Do you have an updated ETA on this syncing problem? Should I file a new GitHub issue to track its progress?

[2018-05-04 17:33] gewarren commented on #412
@BorisBoyko Currently there is no support for custom code analysis dictionaries in .NET Core projects. There is work planned to port some of the code analysis naming rules from FxCop to Roslyn analyzers, so once that happens you'll be able to create a custom dictionary.

[2018-05-04 17:35] gewarren commented on #860
@Joe-Sewell-PreEmptive the syncing problem was resolved yesterday, however today's publish-to-live hasn't quite happened yet (it should happen in the next hour though). Once that happens, I think you'll see your updates. Sorry about this!

[2018-05-04 17:36] Joe-Sewell-PreEmptive commented on #860
@gewarren Great, thanks for the update.

[2018-05-04 21:08] gewarren commented on #860
@Joe-Sewell-PreEmptive look for this to be live in the next 30 minutes.

[2018-05-04 23:26] Joe-Sewell-PreEmptive commented on #860
This looks to be fixed. Thanks @gewarren!

[2018-05-05 01:57] #879 closed

[2018-05-05 12:34] devovercome commented on #870
**Yes**,
but it could be some other setting. For separation of concerns sake.
I really believe it should be separate setting.

[2018-05-07 00:56] berneymark commented on #469
I do not see any of the branches on the menu. It actually looks completely different. How do I upload pictures?

[2018-05-07 08:45] infinnie opened #894 "Will there be documentation for ECMAScript 7 and beyond?"
I want to see documentation for ES 7 features like `async` and `await` keywords. They have been supported by major browsers and non-browser environments like Node.js. Will there be any plans for that?

[2018-05-07 09:08] Misiu commented on #846
@gregvanl any news on this?

[2018-05-07 18:07] gewarren commented on #894
@Mikejo5000 can you help with this question?

[2018-05-07 18:19] Mikejo5000 commented on #894
@liminzhu Limin, do you have any thoughts about this? Thanks.

[2018-05-07 20:37] TerryGLee commented on #875
@HL-1234 Thanks for your feedback. I'll investigate and report back.

[2018-05-07 21:27] liminzhu commented on #894
Hey @infinnie . In general we're moving towards a direction that instead of keeping our own JS docs, we put effort into helping MDN better ([see blog](https://blogs.windows.com/msedgedev/2017/10/18/documenting-web-together-mdn-web-docs/#MCm7bpygMAFebh66.97)), so going forward you can find all the ES7 content there. We'll keep references to things specific to our implementation (mainly some legacy

[2018-05-08 07:36] swayson opened #897 "Visual Studio Installer Microsoft R Client very old"
Hi there,

I am trying to install a version of R. In particular, 3.4. However, the VS2017 installer dialog window only shows 3.3.2. This is a rather old version, how do I overcome this?

I have tried installing the Microsoft R Client directly from Microsoft. But offline installation keeps failing. I am behind corporate firewall, so need to install either offline or through VS installer.

Please ad

[2018-05-08 08:23] LukeOwlclaw opened #898 "False positive for CA2000"
Warning CA2000 is shown for:

            using (var writer = new Windows.Storage.Streams.DataWriter
            {
                ByteOrder = Windows.Storage.Streams.ByteOrder.LittleEndian
            }
            )
            {
                writer.WriteByte(data);
                return writer.DetachBuffer();
            }

Without simplified object initialization there is no warning:

[2018-05-08 08:51] nojaf opened #899 "The system cannot find the path specified."
I'm having trouble with running the container, after `docker run -it buildtools2017` I get `The system cannot find the path specified.`.
Are there any logs I can check somewhere?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b91a4a43-5353-97cf-7532-7644aa3b497f
* Version Independent ID: 858d9a5c-72f3-6a85-9270-0a0dd9e

[2018-05-08 10:26] LukeOwlclaw opened #900 "Confusing example for CS1816"
All code examples include

    GC.SuppressFinalize(this);

This is confusion as the correct and incorrect samples are identical. Only the correct sample should include it. The line could be commented out in the incorrect samples.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15926869-1ca4-46de-9552-f0c407ed8f80
* Vers

[2018-05-08 14:09] ShengrenNiu commented on #864
@kraigb Did you also meet this problem?

[2018-05-08 14:51] samsudeenks opened #901 "Not working in VS 2017"
Will this not work in VS 2017?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e9422755-824a-b8b0-3da4-063b10ecaf44
* Version Independent ID: d4bfd8d2-d97c-1a71-579f-d677cdae6b94
* Content: [How to: Build to a common output directory - Visual Studio](https://docs.microsoft.com/en-in/visualstudio/ide/how-to-build-to-a-co

[2018-05-08 15:47] bbartling opened #902 "Step 3 - Learn Django in VS Authenticate users"
Please delete post, I was looking at the documentation wrong..
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4286e07a-6d43-8800-fd06-be7f8ad21d20
* Version Independent ID: e6b188d8-adc0-cb16-cffa-63bfe2d3ecd4
* Content: [Tutorial - Learn Django in Visual Studio, step 5 - Visual Studio](https://docs.microsoft.com/en-us/

[2018-05-08 18:07] gewarren commented on #901
@samsudeenks I'll look into this and get back to you.

[2018-05-08 18:09] gewarren commented on #900
@LukeOwlclaw Thanks for the feedback. I think the incorrect example is trying to show that it's incorrect because it's passing something other than "this" to SuppressFinalize. It should be made more clear, however, so I'll address that.

[2018-05-08 18:12] gewarren commented on #898
@LukeOwlclaw Thanks for the feedback; I'll look into this.

[2018-05-08 18:26] gewarren commented on #897
@TerryGLee or @kraigb do you know how @swayson can install a newer version of R tools?

[2018-05-08 18:27] gewarren commented on #888
@Daedalus72 thanks for the feedback. @charlespetzold could you update the topic as necessary?

[2018-05-08 18:29] gewarren commented on #876
@mikeblome could you take a peek at this one?

[2018-05-08 18:29] kraigb commented on #897
@jflam Do you have suggestions?

[2018-05-08 18:30] gewarren commented on #873
@TerryGLee Do you know if there's an progress on this?

[2018-05-08 18:51] gewarren commented on #523
@PeterRockstars Thank you for the feedback. It looks like this has been fixed.

[2018-05-08 18:51] #523 closed

[2018-05-08 18:52] gewarren commented on #681
@evanwindom Can you take a peek at this question?

[2018-05-08 18:53] gewarren commented on #327
@phraemer Thank you for this feedback. Hopefully we can look into this soon (and sorry for the long delay!)

[2018-05-08 18:54] gewarren commented on #410
@watkinsmatthewp Thanks for the suggestion. I've added it to our backlog.

[2018-05-08 18:56] evanwindom commented on #681
The eligibility information has been corrected.  This issue can be closed.

[2018-05-08 18:56] gewarren commented on #792
This is fixed now. Thanks again!

[2018-05-08 18:56] #792 closed

[2018-05-08 18:56] #681 closed

[2018-05-08 18:56] stscholz914 commented on #681
Fixed

[2018-05-08 18:58] gewarren commented on #522
@PeterRockstars Thank you for noticing this. It looks like this has been fixed.

[2018-05-08 18:58] #522 closed

[2018-05-08 19:04] gewarren commented on #530
@nzigel Thank you for the feedback. @rloutlaw is there anyone I can assign this to to add the missing step?

[2018-05-08 19:06] gewarren commented on #555
@kendrahavens Is this something you can do, or do you need help from me?

[2018-05-08 19:44] TerryGLee commented on #873
@asb3993 I believe this is a Visual Studio for Mac question; would you take a look, please?

[2018-05-08 19:55] TerryGLee commented on #899
@heaths Could you look in to this, please?

[2018-05-08 20:30] kraigb commented on #886
Prereqs in the article are updated.

[2018-05-08 20:30] #886 closed

[2018-05-08 20:31] heaths commented on #899
@nojaf, please see https://docs.microsoft.com/en-us/visualstudio/install/advanced-build-tools-container for how to collect logs after a failed install. This is a slightly different Dockerfile that will make it easier.

[2018-05-08 20:31] kraigb commented on #857
Closing due to inactivity; the URL tests OK.

[2018-05-08 20:31] #857 closed

[2018-05-08 20:56] #899 closed

[2018-05-08 22:17] asb3993 commented on #873
I've contacted the engineering team to request more information on this.

In the meantime, I would suggest adding a vote and/or comment to this relevant uservoice: https://visualstudio.uservoice.com/forums/563332-visual-studio-for-mac/suggestions/33816103-visual-studio-for-mac-missing-offline-installer

[2018-05-08 22:34] kraigb commented on #864
@ShengrenNiu I've been able to reproduce the issue, so will start to investigate why the project to project reference doesn't work. It might take a bit, because most of the Python engineering team, who I need to consult with, are at PyCon as well. Stay tuned.

[2018-05-08 22:34] ChrisMaddock commented on #792
Thanks!

[2018-05-08 22:58] optikos commented on #589
@gewarren, it looks like a scroll bar has NOT, I REPEAT, NOT been added to the bottom of the table of [this WWWpage](https://docs.microsoft.com/en-us/visualstudio/msbuild/resolveassemblyreference-task.)  This issue should not have been closed.  Please re-open it.

[2018-05-08 23:17] gewarren commented on #589
Issue is resolved on Windows 10 on Edge, Chrome, and Firefox, with the addition of a horizontal scroll bar.

[2018-05-09 03:55] yilmazdurmaz opened #903 ""Device window" is not present. What is needed to be installed?"
I don't see "Device window" in my project.  There is only a drop-down list of screen sizes and orientation buttons. It seems it is not a standard part of design view and needs a touch to tell what should be installed to see it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eeeb6491-1f2c-73a7-fef2-afb69fd08948
* Versio

[2018-05-09 05:13] samsudeenks commented on #901
This happens only when connected to Mac agent for building Xamarin.Forms for iOS project.

[2018-05-09 05:15] yilmazdurmaz opened #904 "ZIndex for overlapping elements"
The following expression should use "higher" instead of "lower", or "back" instead of "front"

"An element that has a lower ZIndex value appears in front when elements overlap."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3bfd1636-a149-bcf7-823f-d2ecf0a0120f
* Version Independent ID: c65af203-fb57-0609-7f12-902bfb49

[2018-05-09 06:26] FlorianKugler42 commented on #589
Issue still persists with Firefox 59.0.3 on Windows 7. Please change the title accordingly. And in the future, before closing an issue, please spend at least a minimal amount of verifying on the reported systems. This is not a guessing game... Thank you very much!

[2018-05-09 07:48] keltik85 opened #905 "Chrome ok, Firefox ok, IE not ok"
Hi,

I get this error when testing with the IE. We are doing Cross Domain calls from/to an iframe. All other browsers work fine.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2c9101a1-5ee1-ab69-3182-0e7d6e1ea805
* Version Independent ID: 468c1fb7-f5f4-ccd8-682e-7092362e8167
* Content: [Access is denied](https://docs.m

[2018-05-09 08:08] #905 closed

[2018-05-09 09:47] mprevot commented on #607
I understand the depreciation of ISO file. Something would be neat: to create ISO **from Visual Studio Installer**, together with hash etc. This would ease the job.

[2018-05-09 09:54] mprevot opened #906 "Generation of command line from VSInstaller for offline installation"
Would it be possible to generate the command line from the GUI ? It's so much more practical than "searching for command options to match the installation scheme I found to be fine in the GUI" !

[2018-05-09 12:34] macmule commented on #873
Thanks, folks. Upvoted.

[2018-05-09 12:54] kraigb commented on #864
That's likely. The bit that seems to make it work in VS 2017 is that it sets a search path to ..\Debug or ..\Release, which is where the .pyd files get copied. Setting the same search path in VS 2015 manually doesn't work, which suggests that there's a deficiency or bug in the Python tools for that particular version.

As you have a workaround for now, I'm closing this issue. If I learn more I'll

[2018-05-09 12:54] #864 closed

[2018-05-09 16:31] TerryGLee commented on #906
@mprevot Thanks for your feedback; we appreciate your input. However, this forum is for documentation feedback. Please consider providing a [product suggestion](https://docs.microsoft.com/en-us/visualstudio/ide/how-to-report-a-problem-with-visual-studio-2017#reporting-alternatives-a-namealternatereportinga) such as this by using the **[UserVoice](https://visualstudio.uservoice.com/forums/121579-vi

[2018-05-09 16:32] #906 closed

[2018-05-09 16:37] #873 closed

[2018-05-09 16:57] charlespetzold commented on #888
@Daedalus72 , can you clarify what you mean? I assume that you're referring to the **WeatherApp** sample here:

https://github.com/xamarin/mobile-samples/tree/master/Weather

and the **Main.axml** file in the Android project here:

https://github.com/xamarin/mobile-samples/blob/master/Weather/WeatherApp.Android/Resources/layout/Main.axml

The `RelativeLayout` at the top does not have a height sett

[2018-05-09 17:43] yilmazdurmaz opened #908 "typo, use of the/an in "changing-the-an-elements-margins""
there is a typo in the heading "changing-the-an-elements-margins". either the or an should be used.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3bfd1636-a149-bcf7-823f-d2ecf0a0120f
* Version Independent ID: c65af203-fb57-0609-7f12-902bfb497fdd
* Content: [Working with elements in XAML Designer - Visual Studio](https

[2018-05-09 17:58] asb3993 commented on #871
Hi @ncarandini, I think the best place for this to be addressed is actually in the Xamarin docs, rather than in the IDE documentation. While there is [this](https://docs.microsoft.com/xamarin/ios/get-started/installation/windows/connecting-to-mac/#xamarinios) content in the Pair to Mac docs, I've spoken to the team who have agreed that there could be more clarification and an internal issue has be

[2018-05-09 17:58] #871 closed

[2018-05-09 18:30] gewarren commented on #903
@yilmazdurmaz Thanks for the feedback. I'll get an answer and update the topic as necessary.

[2018-05-09 18:39] gewarren commented on #904
@yilmazdurmaz Thanks for this feedback; I'll fix it in the next sprint. Also in case you didn't know about it, we do allow the public to edit the docs too, if you want to give that a go. There's an Edit button near the top right corner.

[2018-05-09 18:40] gewarren commented on #908
@yilmazdurmaz Thanks; I'll fix this in our next sprint.

[2018-05-09 19:09] gewarren commented on #824
@jotway Thanks for your nice response.

Regarding the icon, are you referring to the cursor icon that appears when you attempt to drag a data source control to a designer? This icon appears because some designers may not support dropping data source controls.

You can also post your question at https://developercommunity.visualstudio.com and we might be able to better answer your question there.

[2018-05-09 19:10] vyedin commented on #873
As a workaround, you can download the files listed in our manifest and use that to provision machines: https://www.xamarin.com/static/installer_assets/v4/Mac/Universal/InstallationManifest.xml. This will not install the Android dependencies or emulators, however.

[2018-05-09 21:05] mhyon opened #910 "Error in link for "download the full list""
There is a trailing underscore in the Excel file link that seems to prevent download.  https://download.microsoft.com/download/1/5/4/15454442-CF17-47B9-A65D-DF84EF88511B/Products_by_Benefit_Level.xlsx_

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 10ab4ecc-3cca-8224-8b30-7bccd1ebae31
* Version Independent ID: 2e89b277

[2018-05-09 21:34] yilmazdurmaz opened #911 ""Group Into" changes positions and "Ungroup" is a bit hard to find"
I have two overlapping button for test purposes. When I group them, VS moves them to some other location. Is this intentional or a bug?
Ungrouping is a bit painful though. For some types right clicking on one of the elements is enough to see "Ungroup" in the menu. But for others like "ViewBox", I have to get to "Document Outline" and right click on ViewBox to see "UnGroup" menu item. I must ask, i

[2018-05-09 22:29] gregvanl commented on #846
Hi @Misiu Unfortunately the product team says the Extensibility project templates required 4.5.

[2018-05-09 22:29] #846 closed

[2018-05-09 22:34] Mikejo5000 commented on #881
@monarchdodra Thanks for the feedback! I will plan to fix this

[2018-05-09 22:36] Mikejo5000 commented on #831
@andysterland Andy, do you know someone who might be able to help with this?

[2018-05-09 22:38] Mikejo5000 commented on #815
Sounds like the request is for a matrix of features and language/frameworks. @rainersigwald for comment.

[2018-05-09 22:42] Mikejo5000 commented on #805
@rainersigwald Looks like a doc update will be needed in this topic before long. There may be a need to document both methodologies for a period of time?

[2018-05-09 22:45] gewarren commented on #911
@yilmazdurmaz Thanks for this feedback. I'll find out whether it's a bug and let you know.

[2018-05-09 22:45] rainersigwald commented on #805
@jeffkl is working on this--Jeff, let's make sure we update docs when we've settled on a direction.

[2018-05-10 01:47] jotway commented on #824
Hello Genevieve.

I never seen the cursor icon that appears when you attempt to drag a data source control to a designer.

The Icon I meant is depicted in the list of data sources shown in the data Sources Window..

I know the icon’s meaning is described in the body of the document but maybe something like the following would be good too.

Short description of the functionality indicated by the ic

[2018-05-10 03:28] yilmazdurmaz opened #913 "Assets panel vs. Toolbox panel"
There are two places this line is in "You can find them all in the Assets panel".

At first, I could not find Assets panel and I thought my installation is broken. Then realized there are differences in "VS" and "Blend for VS". Since these parts are not Blend related alone,  I thought editing it in github but could not decide what to write. it should read something like this: "You can find them al

[2018-05-10 09:37] SachinCS1992 opened #914 "TFS doesn't load projects"
After you've entered the server URL, username, password, etc. and click next, it shows the 'Loading Projects' popup and just remains there forever and doesn't load the projects. I'm confirmed the details are correct - it just wouldn't load.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 87e2c464-3537-278a-da5a-5301af0f

[2018-05-10 09:38] #914 closed

[2018-05-10 11:13] nhanqv opened #915 "Support for shim of System.Windows.MessageBox"
I tried to create Fakes of System.Windows.MessageBox.
But It seems Microsoft Fakes not support System.Windows.MessageBox currently.
Can you tell me why Microsoft Fakes doens't support?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b356f491-a828-65ee-915b-b1ccdf71024c
* Version Independent ID: 3fa9dddf-b328-8e2f-c7b2-0

[2018-05-10 16:44] bbartling opened #916 "VS 2017 running Python scripts"
Hello... Great tutorials.. I am having an issue running my python code in VS and it may be just a setting issue.. I am used to IPython and I have an API type script to gather data, wait for a response, and a build pandas dataframe.. Except in VS nothing is happening when I run the same code in debug mode (F5), (it runs forever with no output) but it works just fine in Python IDLE 3.6 (I think its

[2018-05-10 20:12] chris-lauren commented on #530
@Genevieve Warren<mailto:Genevieve.Warren@microsoft.com> I believe this was the issue we just confirmed worked as documented and should be closed correct?

From: Robert Outlaw <notifications@github.com>
Sent: Thursday, May 10, 2018 1:11 PM
To: MicrosoftDocs/visualstudio-docs <visualstudio-docs@noreply.github.com>
Cc: Chris Lauren <Chris.Lauren@microsoft.com>; Mention <mention@noreply.github.com>
S

[2018-05-10 20:38] kraigb commented on #902
OK, will do! I appreciate the issue in any case. :)

[2018-05-10 20:38] #902 closed

[2018-05-10 20:44] kraigb commented on #916
I'm curious as to why python exited with a -1. In any case, can you create a minimal repro case that demonstrates this behavior? (e.g. a requirements.txt and .py file that you can attach here.) I don't know of a particular IPython setting that might affect this, but want to make sure I can repro before looping in the engineering team that would know.

[2018-05-10 21:01] tneward opened #917 "PDF link is broken"
Tried "Download PDF" link in lower-left; it fails, offers up no details.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed9dcc5d-ade9-c88a-76f6-538231671b0b
* Version Independent ID: 6d86c444-dba6-8d0e-4b2c-a4cc57c11365
* Content: [First look at the debugger - Visual Studio](https://docs.microsoft.com/en-us/visualstudi

[2018-05-10 23:20] gewarren commented on #913
@yilmazdurmaz Thanks so much for this clarification; the designers docs are going to be much better when all your feedback is addressed! :)

[2018-05-11 00:51] gewarren commented on #530
Ameya confirmed that the documented steps actually do work correctly. Closing this issue.

[2018-05-11 00:51] #530 closed

[2018-05-11 00:55] gewarren commented on #917
@tneward thanks for letting us know. I tried it too and it didn't work for me either. @dend do you know who to contact about a broken PDF? It's in this TOC https://docs.microsoft.com/en-us/visualstudio/debugger/debugger-feature-tour.

[2018-05-11 10:07] wernervn opened #919 "Incorrect case on $wizarddata$"
The content of the WizardData element is passed in the replacementsDictionary parameter of the RunStarted method using a lower case key: $wizarddata$. The dictionary is case-sensitive. Thus the statement "The parameter is named $WizardData$." should read "The dictionary key is named $wizarddata$."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2018-05-11 12:58] ro-jo opened #920 "VS 15.5.4 Call Hierarchy fails frequently and disastrously"
Solution with 100 projects, view call hierarchy hangs - status bar shows "Parsing files in solution..." (why?? how often does it need parsing?)

Any call that's reasonably abstract will crash intellisense.  From that point the search never completes.  Intellisense stops working properly.  The call hierarchy search cannot be cancelled.  Visual Studio cannot be closed - it sticks on 'Unloading the s

[2018-05-11 13:27] pachif opened #921 "Short Examples of Implementation"
I would like to see small code snippets on how to implement each solution

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3cfd7078-683e-9fd6-247b-e75d4ed16a32
* Version Independent ID: ae3300c4-55a8-59b6-846b-50c48c88dcfe
* Content: [Error: Evaluating the function 'function' timed out and needed to be aborted in an unsa

[2018-05-11 16:11] LukeOwlclaw commented on #900
Oops, you are right, it is `GC.SuppressFinalize(this);` vs. `GC.SuppressFinalize(true);`. So there *is* a difference. I did not see that. So, yes, a hint/explanation would be nice.

[2018-05-11 16:56] gewarren commented on #920
@ro-jo Thanks for the feedback. Would you mind logging this under "Product feedback" instead of "Documentation feedback" at the bottom of the Call Hierarchy topic? It will get better traction from the product team that way. Also, have you tried upgrading to the latest version, 15.7.1?

[2018-05-11 17:43] ro-jo commented on #920
Thanks, I couldn't sign in on Product feedback, or find anywhere else to report the issue.  I think here's a good place, other users who experience the problem need to know about it.

I installed 15.7.1 today.  It flickers a lot and disables the GUI during intellisense updates so prevents me from triggering a second search while it's already updating - and as such it hasn't blown up yet.

I just d

[2018-05-11 18:10] dasjestyr opened #922 "Parameters as custom parameters"
Should I be able to use a reserved parameter to set the value of a custom parameter? E.g. <CustomParameter Name="$MyParameter$" Value="$projectname$" />

I'm trying this but it doesn't seem to be working...

\<CustomParameter Name="$MyParameter$" Value="$projectname$" />

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5

[2018-05-11 18:51] bbartling commented on #916
When I ran the code in a non virtual environment in a different VS project it worked just fine… See attached zip for the .py file..

The code is for logging into a building automation system with a module called ‘pyhaystack’ to retrieve data.

Thanks, let me know if I can assist any further.

From: Kraig Brockschmidt [mailto:notifications@github.com]
Sent: Thursday, May 10, 2018 3:44 PM
To: Micros

[2018-05-11 19:12] Powerhelmsman opened #923 "Documentation suggestion"
# Idea Title
https://docs.microsoft.com/en-us/dotnet/api/microsoft.visualstudio.testtools.unittesting.dynamicdataattribute.-ctor?view=mstest-net-1.2.0#Microsoft_VisualStudio_TestTools_UnitTesting_DynamicDataAttribute__ctor_System_String_System_Type_Microsoft_VisualStudio_TestTools_UnitTesting_DynamicDataSourceType_

## Issue Details
Would be nice to have more of a description for the 3 arg constru

[2018-05-11 19:49] cassiomansini commented on #914
Did you fix it?

[2018-05-11 20:29] yilmazdurmaz opened #924 "some differences of WPF/UWP and VS/Blend"
XAML is in both WPF and UWP as far as I understand. But there are problems using resource dictionaries, and of course, VS and Blend behave a little different. Please tell me if this is something intentional, or let developers know the issue.

for WPF, everything is nice in Blend. It asks for and creates a new dictionary file, and includes it in App.xaml. But VS does not include a "new" button, and

[2018-05-11 20:38] yilmazdurmaz opened #925 "XAML, but WPF, UWP or both?"
I have begun reading these pages starting at "https://docs.microsoft.com/en-us/visualstudio/designers/designing-user-interfaces".

I sometimes have difficulties with the content. With the date it has, I assumed it is (and evolves to be) a part of Windows 10 related design.

I sometimes stumble upon links that go to W8.1 development pages. and sometimes things are not working for UWP apps.

How sha

[2018-05-11 22:27] TerryGLee commented on #910
@mhyon This has been fixed. Thanks for reporting it! And @evanwindom, thanks for fixing it. :)

[2018-05-11 22:27] #910 closed

[2018-05-12 01:27] yilmazdurmaz opened #927 "about "Tour of the Tools panel""
At first, I thought clicking on the arrow in the bottom-right corner of these tools, they would show the other elements of the category shown in A to F. But one needs to press and hold the mouse on the tool to show them. I think this would be nice to include in the paragraph.

And the video link at the end goes to a 6 years old tutorial of good old days. I guess it is time for a new series about t

[2018-05-12 02:37] dend commented on #917
@dastaffo can help with this task.

[2018-05-12 09:36] hucancode opened #928 "You still need internet to use offline installer"
Hi there,
There is a thing that the document is missing. That you still need internet to install offline installer.
Let's say that I have downloaded all the component you need using "Visual Studio Installer", and the cache located at C:\2017. But when I come to C:\2017, there is no exe to start the installer. I guess, with a clean machine, this cache are not enough, I need to install "Visual Studi

[2018-05-12 14:32] hucancode commented on #928
Sorry, I was wrong about this.
I will close this issue right here.

[2018-05-12 14:32] #928 closed

[2018-05-12 15:23] adriannadiaz opened #929 "Download PDF link is down."
The link

https://docs.microsoft.com/en-ca/scripting/opbuildpdf/javascript/TOC.pdf?branch=live

 to Download PDF documentation at

https://docs.microsoft.com/en-ca/scripting/javascript/advanced/recursion-javascript

Does not work.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e391bc6b-eb62-016e-7a19-137f9fdcfc1b
* Ver

[2018-05-12 18:26] mikehachen commented on #914
How did you fix it? I still have this problem...

[2018-05-12 19:11] binki opened #930 "Should describe behavior of existing item with ItemName parameter"
When using the `ItemName` parameter with an existing item, the output parameter values are added to the existing item. The documentation does not clearly specify this, leaving the reader wondering if the item is cleared first when written to.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5fcd9d10-b620-994d-a92e-3fe2ac

[2018-05-12 22:35] yilmazdurmaz opened #931 "expired(?) product content"
It seems there is a lot of work to be done in these documents here. Most of the content is linked to old "Expression Blend" series and does not reflect new "Blend for VS".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d1891f3-ab1c-7638-584e-2d32c6e974bc
* Version Independent ID: a8d765ba-3a89-4552-fd68-f0eac8b0b5d8
*

[2018-05-13 07:53] willnode opened #933 "How to update local cache?"
Does running the same arguments from existing local cache only update things that necessary? It shouldn't redownload everything, correct?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b2a7f87-7685-2618-9be0-f2286662342f
* Version Independent ID: 626a45d3-732a-6992-9f0c-bf06bc87fe1c
* Content: [Install on low bandwidt

[2018-05-13 15:04] StingyJack opened #934 "When its not a Visual Studio Extension, why does this show up?"
Souce control explorer, RDLC designer, etc. are part of visual studio, and aren't extensions like Markdown Editor, POSH tools, etc.

Why does VS notify me about these things instead of just reporting telemetry to you (so you can hopefully fix it)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6c50729d-6836-feee-b306-c

[2018-05-14 07:26] prebenh opened #936 "Missing code style for string interpolation"
It would be great to have a rule to enforce string interpolation.

Example:
<pre><code>string x = y + " more text"</code></pre>

Into this:
<pre><code>string x = $"{y} more text" </code></pre>

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 410f3156-99cc-2a5c-2696-9d354c4f34c7
* Version Independent ID: fe3c3dfe-251f-258

[2018-05-14 07:53] hernandoz commented on #914
I am also having this problems ... any updates ?

[2018-05-14 14:31] mwpowellhtx opened #937 "Include snippets of PropertyGroup (or other) Xml tags"
In other Xml dialects, it is possible to include snippets of common, boilerplate code from another file. Given the migration of bits from areas such as AssemblyInfo, where this was possible before, it would be great if we could do that in the CSPROJ format as well. Or, if it is already, I'm not aware how to do it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2018-05-14 16:33] gewarren commented on #934
@PooyaZv can you comment on this issue about extension unresponsiveness?

[2018-05-14 16:54] gewarren commented on #923
@jayaranigarg Jayarani, do you own the Microsoft.VisualStudio.TestTools.UnitTesting namespace? If so, can you address this issue? If not, can you let me know who I should assign this to? Thank you.

[2018-05-14 17:51] gewarren commented on #927
@yilmazdurmaz I apologize that many of these docs are out-of-date, and I thank you again for all your suggested improvements!

[2018-05-14 18:01] gewarren commented on #924
@yilmazdurmaz Thank you for the feedback!

[2018-05-14 18:06] gewarren commented on #936
@prebenh Thank you for the suggestions. It will get more traction with the product team if you are able to leave the suggestions on the "Product feedback" link at the bottom of the topic. This issues page is for problems with the documentation.

[2018-05-14 19:29] PooyaZv commented on #934
@StingyJack: We should not be showing notification for system extensions. Can you please report this through the feedback button if you run into it again? (More details on reporting feedback using the feedback tool: https://docs.microsoft.com/en-us/visualstudio/ide/how-to-report-a-problem-with-visual-studio-2017) Once you do, please reply to this with the DC link and I'll follow up with the produc

[2018-05-14 22:26] StingyJack commented on #934
There is little use logging anything on that site. At most, only about 20 percent of the issues I reported got a meaningful response, and the PEM running the show figured it was easier to suspend my accounts than to put some effort into resolving reported issues.

[2018-05-14 23:34] dastaffo commented on #917
@adkinn Can you help investigate?

[2018-05-15 00:25] yilmazdurmaz commented on #908
I did a correction as suggested on GitHub, and correction is now merged. Thanks

[2018-05-15 04:23] LukeOwlclaw opened #939 "CA1305 mention Invariant()"
Please consider adding a hint to the documentation about CA1305 that method [Invariant()](https://msdn.microsoft.com/en-us/library/system.formattablestring.invariant(v=vs.110).aspx) can be used for fixing. A quick action would be awesome as well!

Had to look [here](https://stackoverflow.com/questions/29333390/specifying-locale-for-string-interpolation-in-c6-roslyn-ctp6#answer-29338846) to find th

[2018-05-15 04:42] nschonni opened #940 "Dead link https://www.microsoft.com/info/nareturns.htm"
Found in subscriptions//vs-license-terms.md

[2018-05-15 04:43] nschonni opened #941 "Dead link http://go.microsoft.com/fwlink/?LinkId=523763&amp;clcid=0x409"
Found in subscriptions//vs-license-terms.md

[2018-05-15 04:46] nschonni opened #942 "Dead link http://microsoft.com/piracy/activation.mspx"
Found in subscriptions//vs-license-terms.md
The link markdown is also malformed `[microsoft.com/piracy/activation.mspx.[(http://microsoft.com/piracy/activation.mspx)]` should be `[microsoft.com/piracy/activation.mspx](http://microsoft.com/piracy/activation.mspx)`

[2018-05-15 04:48] nschonni opened #943 "Dead link https://www.microsoft.com/licensing/userights"
Found in subscriptions//vs-license-terms.md

[2018-05-15 04:48] nschonni opened #944 "Dead link http://aka.ms/georestrict"
Found in subscriptions//vs-license-terms.md

[2018-05-15 04:49] nschonni opened #945 "Dead link https://www.microsoft.com/products/ceip/EN-US/privacypolicy.mspx"
Found in subscriptions//vs-license-terms.md

[2018-05-15 04:49] nschonni opened #946 "Dead link http://o15.officeredir.microsoft.com/r/rlidIRMHelp?clid=1033"
Found in subscriptions//vs-license-terms.md

[2018-05-15 04:52] nschonni opened #947 "Dead link https://www.opsgility.com/Home/FAQ"
Found in subscriptions//vs-opsgility.md

[2018-05-15 04:56] nschonni opened #948 "Dead link https://www.microsoft.com/licensing/product-licensing/products.aspx"
Found in subscriptions//TOC.md

[2018-05-15 04:57] nschonni opened #949 "Dead link https://datacamp.groovehq.com/help_center"
Found in subscriptions//vs-datacamp.md

[2018-05-15 04:59] gewarren commented on #939
@LukeOwlclaw Thanks for this suggestion. I will add a mention of Invariant()!

[2018-05-15 05:03] gewarren commented on #949
@nschonni Thanks for letting us know about all of these broken links. @evanwindom can you take a look at this issue and the others like it?

[2018-05-15 05:16] nschonni opened #951 "What is the b362ae64-b1c1-4f4d-a0af-76fe2cfdbd70 folder for?"
Seems to just be boilerplate OpenPublishing files and no content. Just wondering if it has a purpose or should be deleted

[2018-05-15 05:57] jayaranigarg commented on #923
@gewarren : I would be the rightful owner for this. If I understand you correctly, you want me to provide more description of 3 arg constructor in a way stating that how is it different from a 2 arg constructor? Correct me If I am wrong. Arguments of the constructor are already described.

[2018-05-15 06:48] nschonni opened #952 ""Issue Reporting" link on index page points to old Connect site depreciation warning"
The link to https://go.microsoft.com/fwlink/?linkid=833104 resolves to https://docs.microsoft.com/en-us/collaborate/connect-redirect. Not sure if it should get updated to the devcommunity site or something else. It's a pretty prominent link and doesn't lead to an actionable issue reporting site.

[2018-05-15 14:33] prebenh commented on #936
@gewarren added a feature request: https://visualstudio.uservoice.com/forums/121579-visual-studio-ide/suggestions/34252420-support-for-more-new-editorconfig-rules-for-c

This can be closed.

[2018-05-15 16:37] LarsKemmann commented on #856
I'm running into the same issue in our solution -- .NET Core/Standard projects aren't seeing their dependencies validated. Is it because the current modeling SDK doesn't add the necessary NuGet packages & diagram links to those project types?

[2018-05-15 17:34] gewarren commented on #952
@nschonni Thanks for reporting this. We'll definitely get the link updated at https://docs.microsoft.com/en-us/visualstudio/.

[2018-05-15 17:38] gewarren commented on #923
@jchesshir can you take a look at the proposed change at Microsoft/testfx#422 and let us know if that is what you are looking for, or something different?

[2018-05-15 17:51] mickeyjf opened #955 "Format makes content nearly impossible to use"
With scrollable sidebars on either side, the main content is restricted to fewer characters than fit horizontally, but there is no way even to scroll sideways without first scrolling to the bottom of the document. At this point, you lose your place, and when you go back up you can no longer see the left most part of the line(s) you cared about anyway.  "Download PDF" fails with bad format. "Copy"

[2018-05-15 18:11] gewarren commented on #901
@conceptdev can you look into this Xamarin issue?

[2018-05-15 18:28] gewarren commented on #952
@TerryGLee has an idea to fix this.

[2018-05-15 18:40] kraigb commented on #916
Thanks. I may not get to working with this until next week (we're returning from PyCon), but it's on the radar.

[2018-05-15 19:15] PooyaZv commented on #934
If these are notifications regarding startup performance, this is by design. You can use the "Never show this again" button to stop seeing the notifications. However, if this is regarding unresponsiveness specifically, we should not be showing the notification and if you use feedback and include the link here, we can take a look (my team owns that feature).

[2018-05-16 00:28] StingyJack commented on #934
The problem with those "Never show this again" links is that they just show something else to me a few days later. or the just [never](https://developercommunity.visualstudio.com/content/problem/36322/dependency-validation-messages-wont-stop-bothering.html),  [go](https://developercommunity.visualstudio.com/content/problem/102206/one-or-more-projects-needs-to-be-updated-to-perfor.html),  [away](ht

[2018-05-16 00:48] PooyaZv commented on #934
@StingyJack: We are sorry for the inconvenience this has caused you. We do not use GitHub issues opened against docs.microsoft.com to track,/assess/resolve potential issues in Visual Studio performance notifications. Please use the developer community/feedback tool to report issues/provide suggestions. Thank you.

[2018-05-16 05:59] nschonni opened #958 "Dead link http://msdn.microsoft.com/en-us/3692355a-a703-4d43-8fb5-c03b4b7e8db1"
Found in scripting-docs//javascript/reference/for-dot-dot-dot-of-statement-javascript.md

[2018-05-16 09:11] shukla18 opened #959 "How do I know which exception will be thrown?"
In some cases, possible no of exceptions can be more than one. There are chances that we may leave one or some exceptions.

Is there a way to figure out all possible exception which can be thrown by code in try block?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d89b0f64-db03-af39-fdf7-ccb31c9ae01b
* Version Independ

[2018-05-16 09:26] nymbols opened #960 "Installing with commands produces error"
Running the installation with all the commands in step 3 produces an error (At most one command parameter can be specified.) Running just the exe is sufficient to install ONLY what is in the layout folder.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b2a7f87-7685-2618-9be0-f2286662342f
* Version Independent ID: 626a

[2018-05-16 09:28] nymbols commented on #933
Yes, it doesn't re-download everything. You can just run "vs_enterprise.exe --layout c:\VS2017Layout" to update. It remembers previous and subsequent settings.

[2018-05-16 09:30] nymbols commented on #806
Run the following command c:\vs2017layout\vs_community.exe

[2018-05-16 10:53] Owlinated opened #961 "Article is outdated."
According to [1] "Calls From" has been removed since VS 2015.
I am not a fan of that change, but I think the documentation should reflect it.

[1] https://developercommunity.visualstudio.com/content/problem/74344/in-call-hierarchy-windows-calls-from-is-missing.html

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 27ca4ce

[2018-05-16 16:33] thomb1 opened #962 "Helpful-looking link texts do not go to the referenced resources"
Clicking this link takes you to the Bootstrapper Packages to Redistribute Components website to check for updates.
No, it takes you to Microsoft.com/net  - This seems to be a common problem - links bouncing up to the "home" page throughout the new visual studio documentation. I've been trying to solve a Bootstapper package issue (Windows Installer 4.5 - on a newly installed Visual Studio 2017/Wind

[2018-05-16 17:54] gewarren commented on #958
@nschonni Thanks so much for reporting this. These type of broken links are hard to find because they don't result in a 404, so they look valid to our automation. @Mikejo5000 can you fix this one?

[2018-05-16 18:08] gewarren commented on #959
@shukla18 The documentation for .NET API methods tells you which exception(s) they throw - for example take a look at [FileStream.Lock()](https://docs.microsoft.com/en-us/dotnet/api/system.io.filestream.lock?view=netframework-4.7.1#System_IO_FileStream_Lock_System_Int64_System_Int64_) which throws three exceptions: ArgumentOutOfRangeException, ObjectDisposedException, and IOException.

For a good

[2018-05-16 18:10] gewarren commented on #961
@Owlinated Thank you Florian, I will update this.

[2018-05-16 18:12] Mikejo5000 commented on #958
Yes, I'll fix it. Thanks for letting us know!

[2018-05-16 19:09] thomb1 commented on #962
Hi Genevieve,
Thank you for this! I’ve been battling this stuff all morning – and its nice to hear my feedback may help me or someone else too someday!

Regards,
Thom

Thom C. Blackwell,  VP Technical Services
Boston Software Systems, Inc.
Phone: 866.653.5105 x807
Mobile: 508.423.8463
Fax: 508.319.3015
www.bostonsoftwaresystems.com<http://www.bostonsoftwaresystems.com/>

The information contained

[2018-05-16 19:46] cowlinator opened #963 "mention vs_installer"
This page (or another page) should make mention of vs_installer.exe and vs_installershell.exe .

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e97b834-fa82-6aa0-5913-4d5a8ed23366
* Version Independent ID: e988e3ea-8565-ca88-6ade-ab67425a51ae
* Content: [Use command-line parameters to install Visual Studio - Visual Stu

[2018-05-16 19:54] StingyJack commented on #934
Not sure if you read and are trying to sidestep, or didn't read.

Either way, this is one of those "could be docs or could be product" issues. Since you assert it's product, I'll leave this closed and wait for additional prepared pushoff statements from the Wangs until the RoiChen bot requests that I open a different request.

[2018-05-16 19:54] #934 closed

[2018-05-16 20:40] TerryGLee commented on #933
@nymbols Thanks for your input! I concur. @willnode, I'll close this now.

[2018-05-16 20:40] #933 closed

[2018-05-16 20:41] TerryGLee commented on #963
@cowlinator Thanks for your suggestion; we'll take this into consideration. :)

[2018-05-16 20:42] TerryGLee commented on #960
@nymbols Thanks for your feedback; we'll investigate this and make changes to the document as necessary.

[2018-05-16 21:40] thomb1 opened #964 "Documentation on Source Control options"
Cannot find any documentation on Tools -> Options  -> Source Control. What does "Independent Developer" vs "Custom" etc do? from what I can tell, it just causes checkboxes you've unchecked to magically check themselves. Note I'm using Dynamsoft as the source control provider.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2018-05-16 21:45] gewarren commented on #964
@thomb1 Thank you for the additional feedback. I will review the topic and get the missing content added.

[2018-05-16 21:58] thomb1 commented on #964
You’re probably going to hate me :)
I’ll likely be posting these regularly...

I’ve inherited an absurdly over engineered visual studio solution- folks used things just for the sake of using them .... and now I have to make it work moving forward .

so getting hung up on not finding an answer I’d rather help you all out vs just yelling at the screen :)

I write all of our documentation so I know i

[2018-05-16 22:03] gewarren commented on #964
@thomb1 Actually no, I truly appreciate feedback from the user perspective! Thank you.

[2018-05-17 01:44] yhjhoo opened #965 "Offline Required"
Please provide offline installer.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5cd139e6-bbd6-4c1a-1b40-5abd63031a9a
* Version Independent ID: bc91c619-c340-40e6-9c55-8c496eb24da5
* Content: [Create an Offline Installer for Visual Studio for Mac - Visual Studio for Mac](https://docs.microsoft.com/en-us/visualstudio/ma

[2018-05-17 08:35] wmolyneux opened #966 "buildtools container 'dotnet test' unable to find tests for Dotnet Core test project targeting framework 461"
I have a dotnet core test project using mstest and targeting framework 461 with runtime identifier of win7-x64 but it cannot locate the tests when the 'dotnet test' command is run.

Returning error: No test is available in <Path_To_Unit_Test_dll>. Make sure that test discoverer & executors are registered and platform & framework version settings are app

I am using the vsbuildtools2017 container f

[2018-05-17 08:57] wmolyneux commented on #966
Closing as incorrect repo.. Link was confusing on MS docs page.

[2018-05-17 08:57] #966 closed

[2018-05-17 11:50] swayson commented on #897
@kraigb yep, have tried following those direct links, however, they try and download more data from a server which the corporate firewall blocks. There are other instructions on how to install it in a offline fashion, but they also fail, because again, they try and download more data from a server, its like the offline mode doesn't activate. I have tried this with admin rights as well. Same story.

[2018-05-17 14:31] shahrouz9 opened #967 "Download PDF"
Download PDF link at the bottom left is not working.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5416573b-dd99-f3c9-1707-32fb38023788
* Version Independent ID: 45ebd856-0161-4ea2-2833-d1ec165ebc97
* Content: [Visual Studio testing tools - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/test/improve-code

[2018-05-17 15:40] elchido opened #968 "$if$"
Where is $if$ documented? I want to use something like:

$if$ ($targetframeworkversion$ >= 3.5)using System.Linq;
$endif$using System.Text;

but what kind of expression can be written in the $if$? What's the syntax?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 21714a79-85d5-7bc4-be1a-f8309ffbd15a
* Version Independen

[2018-05-17 16:52] gewarren commented on #967
@shahrouz9 Thanks for reporting that the PDF link is broken. We are looking into it.

[2018-05-17 19:27] TerryGLee commented on #965
@asb3993 Would you please field this request? It's for Visual Studio for Mac.

[2018-05-17 20:15] cowlinator opened #970 "Please correct description of --wait"
The "Visual Studio Team" at https://developercommunity.visualstudio.com/comments/26893/view.html stated that the description for --wait is incorrect:  "The Visual Studio team has determined that this issue is not a bug. The --wait option documentation may be misleading but it is for a different purpose.  When running from CMD or PS shell please use the call command which will wait for the process

[2018-05-17 20:18] gewarren commented on #967
The PDF is working now. Closing the issue. Thanks again for reporting it.

[2018-05-17 20:18] #967 closed

[2018-05-17 20:19] gewarren commented on #929
@adriannadiaz Thank you for reporting this! The PDF is working now. Closing the issue.

[2018-05-17 20:19] #929 closed

[2018-05-17 20:53] TerryGLee commented on #970
@cowlinator Thanks for your feedback; we'll investigate and report back.

[2018-05-18 02:39] kraigb commented on #897
Thanks. Am investigating.

[2018-05-18 05:45] gewarren commented on #446
According to the [issue](https://developercommunity.visualstudio.com/content/problem/77773/vs-2017-针对-aspnet-core-导出模版功能有问题.html) that @Matthew-Bonner 's issue was duped against, template export for .NET core has been fixed in an upcoming release. Since the work is being tracked there, and, once it's fixed the docs shouldn't need to mention the hand edit, I'm closing this docs issue.

[2018-05-18 05:45] #446 closed

[2018-05-18 10:20] IanKemp opened #973 "No indication that \s does not work the same as in .NET regexes"
https://docs.microsoft.com/en-us/visualstudio/ide/using-regular-expressions-in-visual-studio

In standard .NET regular expressions, `\s` matches any type of whitespace. Thus the following regex:

[code]

matches:

[code]

But in Visual Studio 15.7.1 this matches nothing, while the following regex does work in VS (and in .NET):

[code]

However, that regex does *not* match the following, while the

[2018-05-18 11:58] thomb1 opened #974 "Missing just one critical piece of information."
This is an excellent writeup - oh but it leaves out what for me is the hardest part: It starts out exactly as it should:
Replace the product code with the GUID for the redistributable component.
But then... how does one determine the GUID for the redistrutable? There are 2 main ways this process fails - you've got the URL wrong, or you have the GUID wrong - and none of the write ups anywhere on Mi

[2018-05-18 12:05] thomb1 commented on #974
This suggests the best approach would be to add the GUID/URL to the download page of any Microsoft redistributable - that's a lot of work just to set up a script that moves some files from point a to point b...
https://stackoverflow.com/questions/29937568/how-can-i-find-the-product-guid-of-an-installed-msi-setup

[2018-05-18 15:30] Mikejo5000 commented on #974
@thomb1 Thanks for the feedback! This does sound like arcane information. I'll inquire if there's an easier way.

[2018-05-18 15:53] thomb1 commented on #974
Just curious about the arcane comment why is it considered arcane?
You do a search on Bootstrap / clickonce and there’s thousands of folks out there with problems  of all sorts - either where vendors screwed up what this describes, or it’s a development problem  where I can’t find the proper information to fill out what this documentation describes.
In reality clickonce is SHOCKLY simple technolog

[2018-05-18 16:13] Mikejo5000 commented on #974
Looking at the article, I would also assume that getting the GUID would not be so hard. That's what I meant.

This stack post shows how to get it programmatically:

https://stackoverflow.com/questions/502303/how-do-i-programmatically-get-the-guid-of-an-application-in-net2-0

But posting the GUID and URL with the downloadable sounds easier, though outside of my area of influence (which is docs).

[2018-05-18 17:08] thomb1 commented on #974
Gotcha!
And hope I didn’t come across as venting on you personally or even to your organization in general. I am responsible for all the documentation of our software and I know it’s a thankless job.  I appreciate you replying to me; I know it helps when customer point things out to me even when I don’t necessarily like hearing it ☺

So please take my comments as simply trying to help!
Regards,
Th

[2018-05-18 17:14] Mikejo5000 commented on #974
Sure, no problem. I'm asking about it. At the moment, I don't have any contacts that could get that kind of info added to the download pages. There may also be a reason that info is not included, though I'm not sure what reason that might be.

[2018-05-18 17:46] #883 closed

[2018-05-18 17:49] gewarren commented on #959
@shukla18 Please reopen if you feel that updates need to be made to this topic.

[2018-05-18 17:49] #959 closed

[2018-05-18 19:00] gewarren commented on #920
@ro-jo If you are still experiencing problems with Call Hierarchy on the latest version, let me know and I'll transfer this issue to Developer Community (product feedback). For now, I'm closing this issue since it's not actionable from a docs perspective.

[2018-05-18 19:00] #920 closed

[2018-05-18 19:04] gewarren commented on #856
@BijuVenugopal can you provide any insight into why @GregE123456 and @LarsKemmann aren't seeing the expected validation errors in layer diagrams for .NET Core projects?

[2018-05-18 20:04] gewarren commented on #772
@colbroth I looked at this a little more closely, and while it probably could be made more clear in the code comments, I think the example was intentionally written that way. It's trying to show that if the collection property is *not* read only, the entire collection can be replaced in that line of code. I'll update the code comments to make this more clear.

[2018-05-18 21:29] Giffdev opened #976 "typo"
At the top it says (from left to write) and you meant (from left to right)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b25d4cd-0c3f-e9a6-6256-ea54d0972d4b
* Version Independent ID: babd49b7-8e18-13dc-99f2-6783495cb0dc
* Content: [Learn app-building basics with Xamarin.Forms in Visual Studio - Visual Studio](https:/

[2018-05-18 22:36] TerryGLee commented on #878
@ryanjaeb We appreciate your suggestion, but we respectfully decline to provide separate workload data for Preview releases. The reason? The workloads are generally static release to release right now. As for the Docker scenario that you describe: Although we’ve not published guidance on it yet, we plan to. Please stay tuned.

Cheers,
~ Terry

[2018-05-18 22:36] #878 closed

[2018-05-18 22:44] TerryGLee commented on #849
@AaronValor We haven't heard back from you re: @artl93's inquiry; we'll close this for now but if you do have further information for us, please feel free to add it later or open a new GitHub Issue.

Thanks,
~ Terry

[2018-05-18 22:44] #849 closed

[2018-05-18 23:02] PooyaZv commented on #934
@StingyJack just a clarification, different notifications (gold bars) are owned by different teams. The ones mentioned in this doc, are specifically crash notifications and unresponsiveness notifications, which our team owns. Other notifications like the ones you had the links to, are owned by a variety of teams. We currently do not have a feature to disable all gold bars. The reason I suggested D

[2018-05-19 00:18] TerryGLee commented on #952
PR in play: [https://github.com/MicrosoftDocs/visualstudio-docs-pr/pull/2062](https://github.com/MicrosoftDocs/visualstudio-docs-pr/pull/2062)

[2018-05-19 09:31] syedrashid47 opened #979 "I dont understand it,"
what would be the reason to not give me a straight forward iso, don't give me BS about how you have saved me from downloading a few Gb's of data,
as a developer we need our freedom, What to install when to install, and when to modify without being linked to Internet,
Give me a straign forward, TRUE answer , Why?????

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2018-05-19 10:07] syedrashid47 opened #980 "Not Offline,"
vs_Enterprise.exe --layout c:\vs2017layout --lang en-US

this downloads the installer not the actual packages,
only 67 mb downloaded,  and when you start install it requires internet access,
I DO NOT HAVE INTERNET ACCESS AT MY HOME>
HOW CAN I INSTALL

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b2a7f87-7685-2618-9be

[2018-05-19 18:47] sarmisen opened #981 "How can I download projects from TFS"
Hi

Just installed TFS addon for Visual Studio Community 2017 for mac.

I've already managed to connect to my remote TFS and to map it to a local folder. Already through the most difficult part.

However I don't see how to download last version from remote version to local workspace. In windows it would usually be right click and you'd see a contextual menu with all the version control features (G

[2018-05-20 08:44] nschonni opened #982 "Dead link https://anaconda.org/peterjc123/pytorch/0.2.1/download/win-64/pytorch-0.2.1-py35h24644ff_0.2.1cu80.tar.bz2"
Found on docs/ai/installation.md
It mentions there is no wheel package, but it does seem like there is one for 0.4.0 here https://www.lfd.uci.edu/~gohlke/pythonlibs/#pytorch
The official docs also mention running the pip commands depending on the Python version and package manger you select on their installer widget
[code]

[2018-05-20 09:04] nschonni opened #983 "Dead link http://go.microsoft.com/fwlink/p/?LinkId=536390"
Found in  docs/cross-platform//install-visual-cpp-for-cross-platform-mobile-development.md
Likely supposed to be pointing at https://marketplace.visualstudio.com/items?itemName=VisualStudioEmulatorTeam.VisualStudioEmulatorforAndroidVS2015RTM, but this topic may be out of date for VS 2017 since I think these tools are part of the VS installer.

[2018-05-20 09:05] nschonni opened #984 "Dead link https://www.visualstudio.com/explore/cplusplus-mdd-vs.aspx"
Found in https://docs.microsoft.com/en-us/visualstudio/cross-platform/install-visual-cpp-for-cross-platform-mobile-development

[2018-05-20 09:06] nschonni opened #985 "Dead link www.visualstudio.com/explore/xamarin-vs"
Found in docs/cross-platform//cross-platform-mobile-development-in-visual-studio.md

[2018-05-20 09:07] nschonni opened #986 "Dead link www.visualstudio.com/explore/msft-android-emulator-vs"
Found in docs/cross-platform//cross-platform-mobile-development-in-visual-studio.md

[2018-05-20 09:08] nschonni opened #987 "Dead link https://www.visualstudio.com/en-us/features/unitytools-vs.aspx"
Found in docs/cross-platform//cross-platform-mobile-development-in-visual-studio.md

https://docs.microsoft.com/en-us/visualstudio/cross-platform/cross-platform-mobile-development-in-visual-studio

[2018-05-20 09:18] nschonni opened #989 "Dead link https://www.visualstudio.com/features/azure-tools-vs.aspx"
Found in  docs/data-tools//accessing-data-in-visual-studio.md

[2018-05-20 17:07] nschonni opened #990 "Dead link http://msdn.microsoft.com/Library/a8737776-e545-4867-91ed-51c7f031fa19"
Found in docs/debugger//autos-and-locals-windows.md

[2018-05-20 17:09] nschonni opened #991 "Dead link http://www.microsoft.com/technet/security/tools/urlscan.mspx"
Found in  docs/debugger//error-the-web-server-could-not-find-the-requested-resource.md

[2018-05-20 17:33] nschonni opened #992 "Dead link http://msdn.microsoft.com/Library/e887a72d-ebe2-4253-a7e8-3d8d05154647"
Found in docs/debugger//expressions-in-the-debugger.md

[2018-05-20 17:35] nschonni opened #993 "Dead link http://go.microsoft.com/fwlink/?LinkId=168279"
Found in docs/debugger//attach-to-running-processes-with-the-visual-studio-debugger.md

[2018-05-20 17:43] nschonni opened #994 "Dead link http://www.visualstudio.com/get-started/find-performance-problems-vs.aspx"
Found in docs/debugger//using-the-microsoft-monitoring-agent.md

[2018-05-20 17:45] nschonni opened #995 "Dead link http://go.microsoft.com/fwlink/?linkid=1651"
Found in docs/debugger//how-to-attach-to-script.md

[2018-05-20 17:46] nschonni opened #996 "Dead link https://www.microsoft.com/en-us/download/details.aspx?id=48146"
Found in docs/debugger//just-in-time-debugging-in-visual-studio.md

[2018-05-20 17:49] nschonni opened #997 "Dead link http://www.microsoft.com/resources/sharedsource/ccp.mspx"
Found in docs/debugger//how-to-debug-with-code-center-premium-source.md

[2018-05-21 03:17] chucklu opened #998 "This week's solutions are not correct"
Hi team,
      It's 2018-05-21 11:14:00 +08:00, and it's Monday now.
      And I have set the first day of week to Monday on my computer.
      However you still show the solution I oepned last week, I  am not sure what's the default first day of a week by win10. I wonder you guys forgot to check the first day of week configured on computer, which show wrong solutions for this week.

---
#### Docu

[2018-05-21 08:49] jayaranigarg commented on #923
@jchesshir @gewarren : Any updates on the PR I raised?

[2018-05-21 12:19] swayson commented on #897
Any news on this?

[2018-05-21 12:21] avichaygrafi opened #999 "installed.packages() get packages list"
Hey, is there a way to get it by script/code? thanks,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 82bd11a6-536c-df58-14ae-b0d8daa62432
* Version Independent ID: 7837b036-cbd0-3fbe-bd65-2e7b7c0e1963
* Content: [Package manager for R - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/rtvs/r-package-manager

[2018-05-21 12:57] AaronValor commented on #849
This was a mistake in my understanding.  I thought there was a 64-bit version of visual studio.

[2018-05-21 15:24] markdcarringer opened #1000 "Typo"
"Looki" should be "Look". The error is found in the second paragraph of the section "Continue the analysis".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b98c1d2a-1393-21d2-58c1-ff01d9aec0be
* Version Independent ID: e109ff12-0172-f3ee-c10d-2e2e8a7aa699
* Content: [Create and run unit tests for managed code - Visual

[2018-05-21 15:53] kraigb commented on #897
Not yet...I'm still waiting to hear back from the engineering team.

[2018-05-21 16:00] jerryg78258 commented on #914
I'm also having this problem.  Using safari, I determined that I was able to access my TFS server web page, so it's not an authentication issue.

[2018-05-21 16:12] SachinCS1992 commented on #914
It's not fixed yet. Microsoft is currently looking into this at the moment
https://developercommunity.visualstudio.com/content/problem/248618/cant-connect-to-tfs-version-control-in-visual-stud.html

[2018-05-21 16:49] gkli commented on #856
+1... exact same issue, been there for months... is there a point when MSFT will start supporting their own tooling on what appears to be their own framework? This is silly... nothing in the enterprise dev stack works w/ net core... If you want unit tests, need to modify project xml so tools do what's needed, if you want dependency validation, it doesn't work...

GET YOUR ACT TOGETHER!!!!

[2018-05-21 17:07] gewarren commented on #1000
@markdcarringer Thanks for letting us know; I just fixed it. You should see the change later today. And congrats on issue no. 1000!

[2018-05-21 17:07] #1000 closed

[2018-05-21 17:16] #976 closed

[2018-05-21 17:19] gewarren commented on #983
@corob-msft Can you take a look at this link? @nschonni Thank you Nick!

[2018-05-21 17:20] gewarren commented on #984
@nschonni Thank you!

[2018-05-21 17:42] #808 closed

[2018-05-21 17:42] #884 closed

[2018-05-21 17:42] #729 closed

[2018-05-21 17:42] #772 closed

[2018-05-21 17:43] gewarren commented on #998
@abuchholtzau Do you know which solutions are supposed to display on the Start Page under "This week"? Is it from the last 7 days, or starting on Sunday, or ??

[2018-05-21 17:43] gewarren commented on #997
@Mikejo5000 can you take a look?

[2018-05-21 17:44] gewarren commented on #985
@charlespetzold can you take a look?

[2018-05-21 17:46] gewarren commented on #986
@asb3993 you are listed as the author for this topic. Can you take a look? @nschonni Thank you!

[2018-05-21 17:47] gewarren commented on #987
@asb3993 Can you take a look?

[2018-05-21 18:00] TerryGLee commented on #952
@nschonni Thanks; we've fixed this so that the Issues Reporting link points to our [Talk to Us](https://docs.microsoft.com/en-us/visualstudio/ide/talk-to-us) page. We appreciate your help with this. :)

[2018-05-21 18:00] #952 closed

[2018-05-21 18:05] gewarren commented on #989
@nschonni Thank you!

[2018-05-21 18:06] gewarren commented on #990
@Mikejo5000 can you take a look?

[2018-05-21 18:07] gewarren commented on #991
@Mikejo5000 can you take a look?

[2018-05-21 18:07] gewarren commented on #992
@Mikejo5000 can you take a look?

[2018-05-21 18:07] gewarren commented on #993
@Mikejo5000 can you take a look?

[2018-05-21 18:07] gewarren commented on #994
@Mikejo5000 can you take a look?

[2018-05-21 18:08] gewarren commented on #995
@Mikejo5000 can you take a look?

[2018-05-21 18:08] gewarren commented on #996
@Mikejo5000 can you take a look?

[2018-05-21 18:09] gewarren commented on #982
@chris-lauren is this your area now? @nschonni Thank you!

[2018-05-21 18:15] chris-lauren commented on #982
Yes @Genevieve Warren<mailto:Genevieve.Warren@microsoft.com> this is owned by my team, go ahead and assign to @Scarlett Li<mailto:scarli@microsoft.com>

From: Genevieve Warren <notifications@github.com>
Sent: Monday, May 21, 2018 11:09 AM
To: MicrosoftDocs/visualstudio-docs <visualstudio-docs@noreply.github.com>
Cc: Chris Lauren <Chris.Lauren@microsoft.com>; Mention <mention@noreply.github.com>
Su

[2018-05-21 18:16] genevieve commented on #982
Hey, using the @genevieve username will not notify Genevieve Warren.

[2018-05-21 18:16] gewarren commented on #982
@scarli2016 can you fix this one? Thanks!

[2018-05-21 18:17] gewarren commented on #982
@genevieve (cool user name!) - so sorry, i think when he replied to the email and it got pasted in here it resolved like that automatically.

[2018-05-21 19:01] TerryGLee commented on #979
@syedrashid47 We're sorry to hear that you're not happy with our installation experience. For the answers to your questions, please see @tedvz's response to [GitHub Issue #607 - This still needs an offline installer](https://github.com/MicrosoftDocs/visualstudio-docs/issues/607).

[2018-05-21 19:06] TerryGLee commented on #979
Meanwhile, please know that this page is meant for documentation issues. The best way to leave us product-specific feedback is by using the [UserVoice](https://visualstudio.uservoice.com/forums/121579-visual-studio-ide) venue. For more information about that and other ways to provide feedback, see the [Talk to Us](https://docs.microsoft.com/visualstudio/ide/talk-to-us) page.

[2018-05-21 19:06] #979 closed

[2018-05-21 19:49] Mikejo5000 commented on #958
Working on this

[2018-05-21 19:59] corob-msft commented on #983
Oh, if only that were the only dead link. Several others have problems as well, and the installation instructions are in fact quite outdated for VS2017. I'll take a look.

[2018-05-21 20:08] Mikejo5000 commented on #992
Looking into this one and the others...

[2018-05-21 20:47] Mikejo5000 commented on #997
@nschonni Nick, thanks for pointing out the bad links. I'm fixing a set of them in a PR right now. Were you running a link test tool on all the MSDN and FwLinks links in the repo, or only a subset?

[2018-05-21 20:53] nschonni commented on #997
Going by folder, so i'd be running something like `find docs/debugger/ -name \*.md -exec markdown-link-check {} \;`

[2018-05-21 21:08] corob-msft commented on #983
A fix is in progress and will probably go live tomorrow.

[2018-05-21 22:57] KingAndroid opened #1001 "VS download accelerate"
Whenever vs has been update, i need to take time to update / download them from server.
It consumes not so short time, and i want to save time.
1. could you provide any multi threading download method?
2. to save time, can you provide one archive formatted?
3. would update download only updated? - due every updates will download more than 3 gbs.
Thank you for your great support.

[2018-05-22 05:53] gewarren commented on #1001
@TerryGLee Can you take this one?

[2018-05-22 12:27] eric99r opened #1002 "Not able to see any projects from the server"
I'm able to connect to my VSTS server and enter the credentials correctly to see the next screen. But the right hand side of the dialog box where the projects are shown is empty. I do have projects that i want to access but i don't know what's going on.
![image](https://user-images.githubusercontent.com/35573343/40362224-83edfeb6-5d91-11e8-8bf9-20d76eea0c8a.png)

[2018-05-22 12:59] loicmorvan opened #1003 "New .Net Core csproj format"
In the section "Import the text transformation targets", it is said that we should put an Import markup after the `Microsoft.CSharp.targets` or the `Microsoft.VisualBasic.targets`.
But when using the new .Net Core csproj format, there are no more such lines.

Can you add a little explanation on what to do in this case?

I tested by importing the targets file at the end of the csproj (.Net Core for

[2018-05-22 13:27] DanTup opened #1004 "The server tracing option is incorrect"
The docs say you should set "foo.server.trace" but I had to set "foo.trace.server" to make it work!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ff91657a-173a-0013-62e4-e7c8531b8240
* Version Independent ID: 27988cad-5114-41e3-c48a-357431af0fe1
* Content: [Adding a Language Server Protocol extension - Visual Studio](

[2018-05-22 13:28] DanTup commented on #874
I had the same issue - the default VSIX template didn't have a reference to System. I also had to add a bunch of others (like Shell and CoreUtility) to get things working. This doc should be updated so there aren't missing steps the user has to figure out.

[2018-05-22 15:08] farisachugthai opened #1005 "Conda configurability in product tab"
Can you elaborate on how much we're allowed to modify Conda's behavior while installing new packages? I was downloading a few packages, and one of my modules was incompatible with a previously downloaded one. However with no prompt, conda simply uninstalled the first package and continued on.

In the bottom left of the screen, I noticed the command
install -p \path\to\env -y [package]

it seems th

[2018-05-22 15:40] asb3993 commented on #987
@nschonni This seems to redirect to https://www.visualstudio.com/vs/features/game-development/#tab-4b0d0be8de5f65564ad , which looks to be correct. What happens when you click the link?

[2018-05-22 17:41] #989 closed

[2018-05-22 17:41] #774 closed

[2018-05-22 17:41] #958 closed

[2018-05-22 17:41] #990 closed

[2018-05-22 17:41] #991 closed

[2018-05-22 17:41] #992 closed

[2018-05-22 17:41] #994 closed

[2018-05-22 17:41] #996 closed

[2018-05-22 17:41] #997 closed

[2018-05-22 17:59] gewarren commented on #1003
This is a bit related to #856 . @bijuvenugopal, do you know how to import the text transformation targets
in a .NET Core project, or can you point us to someone who can help with this? Thanks!

[2018-05-22 19:02] kraigb commented on #1005
Thanks @farisachugthai. I'll check with the engineering team whether there's any latitude here.

[2018-05-22 19:12] kraigb commented on #897
@swayson Ultimately what needs to change here is that the VS installer should reference the newer version. Because that's a product and not a documentation issue, please file issue on https://github.com/Microsoft/rtvs/issues (and refer to this present doc issue). That way you'll be in the conversation directly with the engineering team.

In the meantime, I'm closing this issue in the docs repo her

[2018-05-22 19:12] #897 closed

[2018-05-22 19:16] kraigb commented on #916
@bbartling I have time to look at this now, but your intended attachment didn't come through. Can you send it to me at kraigb -at- microsoft.com?

[2018-05-22 19:56] sbrickey opened #1008 "are they ALL REALLY necessary?"
are you really telling me that VS cannot be stable unless it's running 14 processes (VS + 13)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72292f7a-7616-4727-ccd3-cf44bb130477
* Version Independent ID: fe3cca82-dfd7-a85c-ab4f-014bc546d668
* Content: [Visual Studio unrecoverable process error - Visual Studio](https:/

[2018-05-22 20:07] nschonni commented on #987
@asb3993 it's working for me now too :+1:
Maybe someone fixed this up with the other debugger tools links that got flagged

[2018-05-22 20:07] #987 closed

[2018-05-22 20:08] MosCD opened #1009 ""Ambiguity between " issues when updating to latest VS Mac release"
"Ambiguity between " issues when updating to latest VS Mac release
https://developercommunity.visualstudio.com/content/problem/248182/xamarin-resources-indicate-duplicates.html

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1535449d-101b-e535-5b85-6c0417096760
* Version Independent ID: 8c6a261b-6b1f-cb9b-7901-1f19bde00

[2018-05-22 20:13] nschonni commented on #993
Thanks @Mikejo5000 ! Is it possible to get the fwlink fixed too?

[2018-05-22 21:47] TerryGLee commented on #1001
@KingAndroid Thanks for your feedback; we appreciated it. Please do know, however, that this venue is for documentation feedback, and it looks like you want to provide product feedback by way of feature requests. To be sure that it gets routed to the right place please consider submitting these sorts of feature requests to our [UserVoice](https://visualstudio.uservoice.com/forums/121579-visual-stu

[2018-05-22 21:49] #1001 closed

[2018-05-22 22:02] farisachugthai commented on #1005
No problem! If you don't mind me continuing to pester you, then I'd also note that if you download anaconda and set it up as a global environment, then create a new environment using a version of conda that isn't up to date, then the 2nd conda [or CONDASHLVL=2 if thats any more clear hahaha] can't update itself. you have to enter the global environment and then conda update conda for any changes t

[2018-05-22 23:11] Mikejo5000 commented on #993
I'll take a look at it.

[2018-05-22 23:43] kraigb commented on #1005
To answer your first question: you can specify arguments along with a package name in the search box on the Package (Conda) (and Packages (PyPI)) tabs in the Python Environments window. Without arguments, the search results show various matches to the search term, and the first results is "conda install (name)". If you include arguments, then the one result is "conda install (name) (args)". I've j

[2018-05-22 23:43] #1005 closed

[2018-05-22 23:43] AngelosP opened #1010 "File nesting in Solution Explorer"
It's a new feature that we recently shipped in Visual Studio 2017, but not documented anywhere except in [this blog post](https://blogs.msdn.microsoft.com/webdev/2018/02/07/file-nesting-in-solution-explorer/).

[2018-05-22 23:44] kraigb commented on #1005
PS, see the referenced commit above for the doc changes, which will take another day or two to migrate to the live site.

[2018-05-23 00:07] AngelosP commented on #1010
https://github.com/MicrosoftDocs/visualstudio-docs/pull/1011

[2018-05-23 03:59] nschonni commented on #995
@Mikejo5000 can the fwlink be updated too?

[2018-05-23 06:16] swayson commented on #897
Finally got this to work.

1. Copy the following files to your temporary directory.
	MLM_9.1.0.0_1033.cab
	SRS_9.3.0.0_1033.cab
	SRO_3.4.3.0_1033.cab

2. To access the temporary directory open windows explorer and enter the address %TEMP%. Now paste those files in there

3. Close any running visual studio 2017 process that may be open.

4. Now run the RCLientSetup.exe file.

5. After the installat

[2018-05-23 07:21] jsrdzhk opened #1012 "I setup visual studio 2017 professional offline and failed."
After i type the command and execute.The setup program stopped directly.It seems like the visual studio installer cannot work in my computer.Please give me an answer.Thanks!

[2018-05-23 10:04] jayaranigarg commented on #923
Pushed in the PR. Feel free to close this.

[2018-05-23 15:39] MJRomka opened #1017 "Can't fetch projects from TFS"
I use Visual Studio for Mac (latest version) with TFS extension installed. Once I provide my credentials it shows "Choose Projects" dialog box that never stops loading, see attached
![add remove server 2018-05-23 18-35-22](https://user-images.githubusercontent.com/3237392/40435107-97cddd5c-5eb8-11e8-8789-7799ae7a8ccc.png)

[2018-05-23 16:01] kraigb commented on #897
Glad to hear it, and thanks for writing all the details! Issues here do appear n the docs page, so others will benefit from your sharing!

[2018-05-23 17:22] gewarren commented on #923
@jayaranigarg Thank you so much!

[2018-05-23 17:22] #923 closed

[2018-05-23 17:51] asb3993 commented on #965
We understand this is a feature you care about, but unfortunately we have no additional information at this time.

To ensure your feedback is heard, please use the [Give product feedback](https://developercommunity.visualstudio.com/spaces/41/index.html) button. There you can vote for features and participate in the discussion on when and how they are implemented. Alternatively, you can also upvote

[2018-05-23 17:51] #965 closed

[2018-05-23 17:55] gewarren commented on #1002
@erickson-doug who on the VSTS team should I ask about this? Or, which issues page should this be logged at instead? (@eric99r this issues page is actually for the VS docs, so not really for VSTS, but we can help send you to the right place.)

[2018-05-23 17:57] gewarren commented on #1012
@TerryGLee Can you point @jsrdzhk to the right place to log his issue with installation?

[2018-05-23 17:57] gewarren commented on #1017
@asb3993 Can you help with this at all?

[2018-05-23 20:02] TerryGLee commented on #1012
@jsrdzhk We're sorry to hear that you are having problems installing Visual Studio. Unfortunately, this venue is meant for reporting problems with our documentation. To report a problem with the product itself, please use our "[Report a Problem](https://docs.microsoft.com/en-us/visualstudio/ide/talk-to-us#i-want-to-report-a-problem-with-visual-studio)" tool.

Please note that you can report a prob

[2018-05-23 20:05] #1012 closed

[2018-05-23 20:12] TerryGLee commented on #948
@nschonni Thanks for reporting this; we have this in our queue to fix.
@evanwindom Is this something that you can attend to? It's the "Volume License and Product Use Rights (PUR)" link in the Resources section of the TOC. If so, please let us know whence it's fixed by commenting as such in this GitHub Issue.
@prrana FYI.

[2018-05-23 20:13] TerryGLee commented on #949
@prrana FYI on this.

[2018-05-23 20:22] TerryGLee commented on #947
@nschonni Thanks for reporting this; we have this in our queue to fix.
@evanwindom Is this something that you can attend to? It's on the [Opsgility](https://docs.microsoft.com/en-us/visualstudio/subscriptions/vs-opsgility) page. If so, please let us know whence it's fixed by commenting as such in this GitHub Issue.
@prrana FYI.

[2018-05-23 20:27] TerryGLee commented on #946
@nschonni Thanks for reporting this; we have this in our queue to fix.
@evanwindom Is this something that you can attend to? It's on the [Visual Studio License Terms](https://docs.microsoft.com/en-us/visualstudio/subscriptions/vs-license-terms) page. If so, please let us know whence it's fixed by commenting as such in this GitHub Issue.
@prrana FYI.

[2018-05-23 20:29] TerryGLee commented on #945
@nschonni Thanks for reporting this; we have this in our queue to fix.
@evanwindom Is this something that you can attend to? It's on the [Visual Studio License Terms](https://docs.microsoft.com/en-us/visualstudio/subscriptions/vs-license-terms) page. If so, please let us know whence it's fixed by commenting as such in this GitHub Issue.
@prrana FYI.

[2018-05-23 20:29] TerryGLee commented on #944
@nschonni Thanks for reporting this; we have this in our queue to fix.
@evanwindom Is this something that you can attend to? It's on the [Visual Studio License Terms](https://docs.microsoft.com/en-us/visualstudio/subscriptions/vs-license-terms) page. If so, please let us know whence it's fixed by commenting as such in this GitHub Issue.
@prrana FYI.

[2018-05-23 20:30] TerryGLee commented on #943
@nschonni Thanks for reporting this; we have this in our queue to fix.
@evanwindom Is this something that you can attend to? It's on the [Visual Studio License Terms](https://docs.microsoft.com/en-us/visualstudio/subscriptions/vs-license-terms) page. If so, please let us know whence it's fixed by commenting as such in this GitHub Issue.
@prrana FYI.

[2018-05-23 20:31] TerryGLee commented on #942
@nschonni Thanks for reporting this; we have this in our queue to fix.
@evanwindom Is this something that you can attend to? It's on the [Visual Studio License Terms](https://docs.microsoft.com/en-us/visualstudio/subscriptions/vs-license-terms) page. If so, please let us know whence it's fixed by commenting as such in this GitHub Issue.
@prrana FYI.

[2018-05-23 20:31] TerryGLee commented on #941
@nschonni Thanks for reporting this; we have this in our queue to fix.
@evanwindom Is this something that you can attend to? It's on the [Visual Studio License Terms](https://docs.microsoft.com/en-us/visualstudio/subscriptions/vs-license-terms) page. If so, please let us know whence it's fixed by commenting as such in this GitHub Issue.
@prrana FYI.

[2018-05-23 20:32] TerryGLee commented on #940
@nschonni Thanks for reporting this; we have this in our queue to fix.
@evanwindom Is this something that you can attend to? It's on the [Visual Studio License Terms](https://docs.microsoft.com/en-us/visualstudio/subscriptions/vs-license-terms) page. If so, please let us know whence it's fixed by commenting as such in this GitHub Issue.
@prrana FYI.

[2018-05-23 20:40] asb3993 commented on #1017
Hi @MJRomka. Thanks for trying out this preview feature and reporting this issue. It looks like this is a known issue and has quite a number of followers on [this developer community ](https://developercommunity.visualstudio.com/content/problem/248618/cant-connect-to-tfs-version-control-in-visual-stud.html) issue. I would recommend upvoting and following this bug to be alerted of any potential wor

[2018-05-23 21:13] nschonni commented on #942
Oops, fixed in #969 but forgot to link it properly in the commit message
Might be good to fix the redirect though, so I'll leave it open for now.

[2018-05-23 21:14] MJRomka commented on #1017
Will track it there then. Thank you

[2018-05-23 21:14] #1017 closed

[2018-05-23 23:05] benmcmorran opened #1020 "Instructions for opening admin cmd are wrong"
Following the instructions, you end up at the run dialog with "cmd" typed in the Open box, but then there's no "Command Prompt" to right click on. Instructions should read:

On the Start menu, type cmd.
Right-click Command Prompt, and then click Run as administrator.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2a3b0

[2018-05-23 23:13] nschonni commented on #1002
Might be the same as this https://github.com/MicrosoftDocs/visualstudio-docs/issues/1017#issuecomment-391489044

[2018-05-23 23:28] heaths commented on #1020
@tglee I have a fix for this available.

[2018-05-23 23:57] TerryGLee commented on #1020
@heaths Please feel free to create a PR for the fix :)

[2018-05-24 00:28] TerryGLee commented on #1020
@heaths Thanks for the PR with the fix. :)
@benmcmorran Thanks for your feedback; the fix for the issue you noted should go live by noon tomorrow.

[2018-05-24 00:28] #1020 closed

[2018-05-24 11:32] evanwindom commented on #949
This is fixed.

[2018-05-24 12:00] nic-hartley opened #1021 "Why doesn't copying settings... actually copy settings?"
I'm trying to create an x64 configuration. Because it's not an entirely new project, I don't want to retype every single setting from scratch. However, when I try to copy settings from my existing configurations, the settings aren't actually copied, and they all have their default values instead of the values present in the other platform, which in theory should have been copied. Why is this and h

[2018-05-24 12:35] Regenhardt opened #1022 "Obsolete SuggestedActionSet ctor"
The constructor for SuggestedActionSet in the GetSuggestedActions snippet is obsolete and will result in a build error.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 128df8db-917f-1049-feff-52e861d7646a
* Version Independent ID: ef42a322-b94d-8d1a-13aa-e1e57d67b78f
* Content: [Walkthrough: Displaying Light Bulb Sugges

[2018-05-24 14:04] oopsaleem opened #1024 "Create an Offline Installer for Visual Studio for Mac - Visual Studio for Mac"
and lovely VS is available for mac os. What a surprise!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5cd139e6-bbd6-4c1a-1b40-5abd63031a9a
* Version Independent ID: bc91c619-c340-40e6-9c55-8c496eb24da5
* Content: [Create an Offline Installer for Visual Studio for Mac - Visual Studio for Mac](https://docs.microsoft.com

[2018-05-24 14:09] #1024 closed

[2018-05-24 14:10] oopsaleem commented on #1024
Not a big deal.

[2018-05-24 14:31] evanwindom commented on #948
Changed link in TOC to point to a new licensing terms page.  Added to PR.

[2018-05-24 14:32] evanwindom commented on #947
Removed reference to FAQ from resources section.  The FAQ page is no longer available on the Opsgility site.

[2018-05-24 14:33] evanwindom commented on #946
License Terms removed from resources in TOC.  Pending PR.

[2018-05-24 14:33] evanwindom commented on #945
License Terms removed from resources in TOC.  Pending PR.

[2018-05-24 14:34] evanwindom commented on #944
License Terms removed from resources in TOC.  Pending PR.

[2018-05-24 14:34] evanwindom commented on #943
License Terms removed from resources in TOC.  Pending PR.

[2018-05-24 14:35] evanwindom commented on #941
License Terms removed from resources in TOC.  Pending PR.

[2018-05-24 14:36] evanwindom commented on #940
License Terms removed from resources in TOC.  Pending PR.

[2018-05-24 18:20] gewarren commented on #1021
@nic-hartley I will try this out and let you know.

[2018-05-24 18:35] #949 closed

[2018-05-25 08:55] eriawan opened #1027 "The link of "Managed Package Framework for Projects" points to deprecated codeplex site"
The link on this paragraph points to deprecated (for viewing only?) site:

Has the link been migrated to other OSS repo such as Github? Please confirm.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e54b888-936c-aaff-c5f9-cd8d2324df39
* Version Independent ID: ad62b5a4-3198-b135-b7a1-9574cec41573
* Content: [Extending

[2018-05-25 08:57] eriawan commented on #1027
Here's the deprecated Codeplex link:

https://archive.codeplex.com/?p=mpfproj12

Is there any plan to move/migrate this mpf to Github or somewhere else? Otherwise this article contains link that looks stale.

[2018-05-25 16:24] wpoust opened #1028 "Obtaining thumbprint"
A word of caution about obtaining the thumbprint from the certificate using the 'Obtain the SHA-1 Hash of a Trusted Root CA Certificate 'in the Note.  On Windows Server 2016, select all, copy and paste from the certificate details included an extra (3F) invisible character that caused SignFile to be unable to find the certificate.

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2018-05-25 18:57] heejaechang commented on #1008
@sbrickey can you be more specific? are you asking whether you should have a way to decide what external process you want? or VS should keep working even though some of processes are killed?

[2018-05-25 20:32] gewarren commented on #1008
@sbrickey,

The error message mentioned in the topic isn’t shown for all of these processes, so the topic should be reworded a bit (I'll do that soon).

The processes listed in the topic includes processes that launch in specific workflows/scenarios, and so in most cases they won’t all be running at the same time. However, if any of these processes is running and then terminates unexpectedly, then

[2018-05-25 20:32] sbrickey commented on #1008
I very much want to reduce the number of processes running... I seem to (rather frequently) run into blocking issues whereby one of the compilers is locking the bin/debug output files (thus causing VS to be unable to build in-process), and my solutions include ZERO javascript whatsoever - no need for NPM, no node, no client-side web app, NOTHING.

[2018-05-25 20:43] heejaechang commented on #1008
@sbrickey I am not right person to say whether VS now moving from traditional 1 single process model to multiple process models is good thing or not. that probably for another person to answer. (but we are moving to that model, more and more features will be moved to dedicated its own process)

but I can help you on this - "I seem to (rather frequently) run into blocking issues whereby one of the

[2018-05-25 21:54] gewarren commented on #1021
@nic-hartley I tried this out and it seems to have copied the settings from the [Build tab](https://docs.microsoft.com/en-us/visualstudio/ide/reference/build-page-project-designer-csharp) of the project properties into the new configuration correctly. Which settings were you expecting to get copied that didn't?

[2018-05-25 21:55] gewarren commented on #1010
#2116 in the private repo was merged.

[2018-05-25 21:55] #1010 closed

[2018-05-25 21:56] gewarren commented on #961
The article has been updated. Thanks for noticing this @Owlinated .

[2018-05-25 21:56] #961 closed

[2018-05-26 03:35] nschonni opened #1031 "Dead link http://msdn.microsoft.com/Library/658af786-d893-4114-a3c5-31c7d586056a"
Found in docs/debugger/debug-using-the-just-in-time-debugger.md

[2018-05-26 03:36] nschonni opened #1032 "Dead link http://msdn.microsoft.com/en-us/771707fb-5f34-473d-9fdf-09a6a7f55ece"
Found in docs/vsto/outlook-object-model-overview.md
Maybe "xref-able" like you did on some of the other ones

[2018-05-26 03:38] nschonni opened #1033 "Dead link http://www.microsoft.com/technet/prodtechnol/WindowsServer2003/Library/IIS/cd72c0dc-c5b8-42e4-96c2-b3c656f99ead.mspx?mfr=true"
Found in docs/vsto/troubleshooting-office-solution-deployment.md
Maybe not fixable since Win2K3...

[2018-05-26 03:47] nschonni opened #1034 "Using ms-help protocol links"
EX: used in a few of the code quality descriptions https://github.com/MicrosoftDocs/visualstudio-docs/search?q=ms-help%3A%2F%2F&unscoped_q=ms-help%3A%2F%2F
Might work if people have the particular offline docs (I think ?), but probably a good idea to swap to published links if possible.

[2018-05-26 04:04] nschonni opened #1035 "Dead link roundup (no more spamming)"
Instead of posting individual issues I figure this might be easier for our inboxes.
Here is a gist of what I ran and what it found https://gist.github.com/nschonni/65167b88c4b187ba242c837e5ec6e666
Caveats:
- markdown-link-check has no concept of the redirect.json so there are false possitives
- can search in file for "dead" to see the flagged issues
- I've PR'd things for typo-ish ones, but a bunc

[2018-05-26 14:44] aprobinda opened #1036 "Error at the "Couple the test project to the app project" step"
Following these steps, I'm getting an error at step 4. Build the solution
and the `Rooter` gets highlighted in the `Maths.Rooter rooter = new Rooter()` line of the `public void BasicTest()` method.
[code]
What I tried:
* adding `[assembly: InternalsVisibleTo("RooterTests")]` to Maths\Maths\Properties\AssemblyInfo.cs  - didn't work

It only works if I use `public`  before the `class Rooter{...}`

-

[2018-05-26 15:36] aprobinda commented on #1036
Solved:
1. I had to add `[assembly: InternalsVisibleTo("Maths.RooterTests")]namespace Maths.RooterTests` to the Maths\Maths\Properties\AssemblyInfo.cs file
2. When created a Unit Test App, provide "Maths.RooterTests" as the the Assembly Name and Default Namespace.

[2018-05-26 15:36] nic-hartley commented on #1021
Er, all of them -- no settings are copied. Everything "resets" to its default value in the new platform.

I also realize that my initial description wasn't at all clear. I'm currently waiting for a video showing it to upload, but in the mean time, this is a step-by-step description of exactly what I'm doing:

1. Opening a solution with some projects in it
2. Right-clicking one of them (let's call

[2018-05-26 15:36] #1036 closed

[2018-05-26 20:09] sinapis opened #1037 "Documentation needs to state clearly if editor config styles can be enforced during build or not"
Many people are using CI/CD pipelines and need to know if they can rely on .editorconfig for enforcement  during build or not. Enforcement only using VS IDE is not enough - since anyone can use some other editor and bypass the style guidelines.

AFAIU this is still a work in progress: https://github.com/dotnet/roslyn/projects/18

[2018-05-27 16:36] Gav-Brown opened #1041 ".editorconfig settings web page does not include new "prefer readonly" setting."
In a recent Visual Studio update, a new "Field preferences" section was added to the C# Code Style options dialog. This included the new "**prefer readonly**" setting. This isn't yet described in the [.NET Coding Convention Settings](https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference) web page.

Can this be added so we can update our .editorconfig files wi

[2018-05-27 17:17] nschonni commented on #1041
Being done in #1039

[2018-05-27 19:10] #1041 closed

[2018-05-27 23:01] davkean opened #1043 "Change the layout of "editorconfig-code-style-settings-reference" to make it easier to apply rules to an editorconfig"
While I was making changes to my .editorconfig based on "editorconfig-code-style-settings-reference", I found the layout where the default value and the available values were in two different locations caused me to be constantly scrolling back up the page as I applied each rule. I propose a layout change that would resolve this. Here we remove the table that that lists all the like-kind rules, and

[2018-05-27 23:03] davkean commented on #1043
I think that the table would actually look better like:

![image](https://user-images.githubusercontent.com/1103906/40591513-fff5e2bc-6255-11e8-92bb-d1403cf8f372.png)

But cannot figure out how to do this in markdown.

Tag @kuhlenh.

[2018-05-28 02:55] eric645 opened #1044 "New features"
New features required/requested: Automatic updates, PHP, C+/BY projects
After VS2018 install done, type these commands on the administrative command line:
`@echo off`
`cd ..\..`
`cd "Program Files (x86)"`
`cd "Microsoft Visual Studio"`
`cd 2017`... then type the command of format "cd (msvs_edition)",  1 edition at a time.
After you do that, type these simple commands on the existing session of the

[2018-05-28 03:55] eric645 opened #1045 "New features"
at https://github.com/MicrosoftDocs/visualstudio-docs/issues/1044

[2018-05-28 04:02] eric645 opened #1046 "New features"
at https://GitHub.com/MicrosoftDocs/visualstudio-docs/issues/1045

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: deb3386e-6b18-1cbd-9f1b-523b27b6521b
* Version Independent ID: 5ddf5e28-86d1-28b6-80ef-332bf93e17ac
* Content: [Update Visual Studio 2017 - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/instal

[2018-05-28 09:18] k94ll13nn3 opened #1047 "Extract is not proposed when a class and a generic version of it are in the same file"
I have a file with two classes in it, with the second class being a generic version of the first (`Class1` and `Class1<T>` in a file named `Class1.cs`).

When i try to move the second class to a new file, the refactoring is not proposed. But if i change the name of the second class to `Class2<T>`, the refactoring is present.

I guess it has something to do with the fact that `Class1<T>` would be m

[2018-05-28 09:41] k94ll13nn3 commented on #1047
I realized that it is more a product feedback than a documentation feedback. I will close it and open a new ticket on the product feedback platform.

[2018-05-28 09:41] #1047 closed

[2018-05-28 09:43] henrygab opened #1048 "Need more examples / best practices."
Here are two example structures that are common complex structures in legacy C.

A) a variable-count final array element

[code]

B) a variable-length of data immediately follows the structure

[code]

It'd be great to provide examples of how to properly annotate these types of structures, so that the analysis tools will have an understanding of the length of a valid structure of each type.

For e

[2018-05-29 00:36] rolandh opened #1050 "Decompiler engine"
How does this compare to DotPeek etc? What are the advantages and disadvantages? It appears it uses ILSpy like the others on the market.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9f28ec7e-9069-4d36-632c-e195e7f6b21b
* Version Independent ID: ebe0a750-17c5-dfa7-f0c2-b35ebfdd45f6
* Content: [Viewing type definitions

[2018-05-29 04:03] StingyJack opened #1051 "Whats the diff between the two places you can set this?"
Asp.net Web Application (full framework) Project Properties -> Web  tab

Tools -> Options -> Debugging -> General

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d9c2f239-d577-fe61-fed2-4fff6d77a877
* Version Independent ID: c1f1d143-13e2-c58e-04b6-a1e0b822add4
* Content: [Edit and Continue (Visual C#) - Visual Studio](

[2018-05-29 06:35] SriharshaHack opened #1052 "Link broken"
"Defend your code with top ten security tips every developer must know" is broken in "Understand security".  Please fix.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b6663c0-8464-1363-9038-94df9f62b6f6
* Version Independent ID: 707fc083-a0b5-0f61-f6fe-e88bf1f0aee7
* Content: [Security in Visual Studio - Visual Studi

[2018-05-29 15:02] dwitsdev opened #1053 "OOPS! Your promo code is invalid or expired."
Greetings :)

I am receiving "OOPS! Your promo code is invalid or expired." every time I try active the benefit I never used the benefit before, is this benefit active yet?

Thanks for your answer.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce19f95f-b1b3-98d0-76c1-ae7bd64e3b50
* Version Independent ID: f5615c72-044

[2018-05-29 15:30] Mikejo5000 commented on #1051
@StingyJack Hi Stingy, Tools -> Options sets properties for all relevant projects. The project properties only apply to the project where you change the setting.

[2018-05-29 15:37] paulceli opened #1054 "To create and deploy functions"
Hey,
Nice introduction. Could you explain how to deploy to Azure?
We have this convenient 1 click "Publish" button that spoils us on Web Apps. And I can't find an easy way to deploy a function from VS on the Mac.

thanks, bye

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4caaf0cc-3cea-375a-1160-6540db5557f1
* Version

[2018-05-29 17:05] evanwindom commented on #1053
Hi dwitsdev,
Thanks for reaching out.  The DataCamp promo codes are dynamically generated, and have a very short expiration.  Once you activate the benefit on https://my.visualstudio.com, you have about 15 minutes before the code expires.  If you run into that, you should be able to return to the portal and activate again to generate a new token.

If you still encounter problems, I'd recommend rea

[2018-05-29 18:52] Mikejo5000 commented on #921
This enhancement will need to go on the backlog.

[2018-05-29 18:59] TerryGLee commented on #1045
@eric645 As this is a duplicate, I will close this particular GitHub Issue.

[2018-05-29 18:59] #1045 closed

[2018-05-29 19:12] wshall opened #1055 "Doesn't work if bootstrap installer is crashing"
I want to submit a post about the bootstrap installer crashing. Can't do that using the instructions above.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d648cd73-34e8-1a47-35cc-3c5a1ff9f8f5
* Version Independent ID: a02d528a-85f7-00f6-cf00-3416713ed4d9
* Content: [How to report a problem with Visual Studio 2017 - Vis

[2018-05-29 19:26] FBoyne opened #1056 "Full List of Primary Interop Assemblies Does Not include Office 2016?"
I may have my numbers mixed up but if Office 15.0 is Office 2013 then Office 2016 PIAs are missing from the list.  Even if PIAs don't exist in Office 2016 for some reason (seems unlikely) that should be explicitly called out so the reader knows where they stand wrt Office 2016.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2018-05-29 19:29] #1055 closed

[2018-05-29 20:29] Lamphi90 opened #1057 "error in the 3rd screenshot"
It should be #include ../ but the screenshot shows three dots .../ -> can be misleading.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c18bdf17-06e1-aaf2-b6ce-c606c0e260da
* Version Independent ID: bd627b8f-54f0-84e0-55cd-285597af022d
* Content: [Write unit tests for C/C++ in Visual Studio - Visual Studio](https://doc

[2018-05-29 21:19] Mikejo5000 commented on #993
I don't have perms on all of these links, but I updated these ones.

[2018-05-29 21:20] Mikejo5000 commented on #993
Closing this one

[2018-05-29 21:20] #993 closed

[2018-05-29 21:20] Mikejo5000 commented on #995
Sent a request

[2018-05-29 21:34] Mikejo5000 commented on #841
Adding the preceding info to the topic.

[2018-05-29 21:35] Mikejo5000 commented on #894
Closing, since we won't be doc'ing this info here

[2018-05-29 21:35] #894 closed

[2018-05-29 21:39] Mikejo5000 commented on #752
@rainersigwald Rainer, is there a good way to identify the default values?

[2018-05-29 21:43] rainersigwald commented on #752
No, only reading [the code](https://github.com/Microsoft/msbuild/blob/765affbc5c990d4a5690af1b348e2447609a769d/src/Tasks/Exec.cs). :(

However:

* `IgnoreExitCode` defaults to `false`
* `WorkingDirectory` defaults to the project's current working directory
* `Custom*RegularExpression` default to null (no custom processing)

[2018-05-29 22:19] Mikejo5000 commented on #703
@rkpatrick I took another look at this issue. If you click "Show properties", do the properties you are interested in show up in the Live Property Explorer? (It looks like properties that aren't directly specified in XAML can be found in the Live Property Explorer.) Also, if the DataContext object contains a large number of elements, maybe they are only added to the object as required, similar to

[2018-05-29 22:28] gewarren commented on #1002
@eric99r Are you using VS for Mac? If so, this is the same issue that @nschonni referenced above, and it's a known issue that's being tracked on [Developer Community](https://developercommunity.visualstudio.com/content/problem/248618/cant-connect-to-tfs-version-control-in-visual-stud.html). Please reopen this issue if this is not the case.

[2018-05-29 22:28] #1002 closed

[2018-05-29 22:30] gewarren commented on #1022
@Regenhardt Thanks for reporting this. @gregvanl could you add this to you or Mads' TODO list?

[2018-05-29 22:35] gewarren commented on #1027
@eriawan Thanks for the feedback about the stale link. @gregvanl do you know if MPF for Projects has been migrated off of CodePlex?

[2018-05-29 22:36] gewarren commented on #1052
@SriharshaHack Thanks for reporting this broken link. I'll fix it.

[2018-05-29 22:39] gewarren commented on #1050
@rolandh I assume you're talking about the View metadata as source feature? @kuhlenh can you answer Roland's questions? Thanks!

[2018-05-29 22:41] TerryGLee commented on #1056
@FBoyne Thanks for your feedback. I do believe you are correct in your assessment. This task is on our backlog and we will attend to it when time permits.

[2018-05-29 22:43] TerryGLee commented on #1032
@nschonni Thanks for reporting; I'll get this fixed, soon.

[2018-05-29 22:44] gewarren commented on #1043
@davkean Thanks, that's a good suggestion. Unless @kuhlenh is opposed to it, we can change it.

I don't think that you can do "row header" tables in Markdown, but it's possible we could do it in html...

[2018-05-29 22:50] gewarren commented on #1037
@sinapis Thanks for pointing this out. I'll find out and then clarify in https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference#language-conventions.

[2018-05-29 23:12] gewarren commented on #1035
@nschonni Thank you for reporting all of these! It will take us a while to get through them but this is a great help.

[2018-05-29 23:15] gewarren commented on #1034
@nschonni Thanks for reporting these. @mikeblome are links such as this kosher? They appear in four C++ code-quality topics.

Consider using ... [FAILED](ms-help://MS.VSCC.2003/MS.MSDNQTR.2003FEB.1033/com/htm/error_899v.htm)

[2018-05-29 23:16] gewarren commented on #1033
@nschonni Thanks for reporting this. @TerryGLee can you take this one?

[2018-05-29 23:43] FBoyne commented on #1056
@TerryGLee  Thanks but sadly I'm half right at best.  The "seems unlikely" comment is probably wrong because .NET 4 introduced the ["No PIA" feature](http://blogs.microsoft.co.il/sasha/2013/12/28/back-basics-com-interop-pia/) which I think eliminated the need to ship PIAs.

Assuming I'm more right now, it would still be good if the PIA documentation explained that PIAs were no longer needed and so

[2018-05-30 02:49] davkean commented on #1043
Yeah @kuhlenh is out right now, so I'll wait for her opinion before we do it.

How do you do it in HTML? Is there a way indicate that a section is HTML?

[2018-05-30 05:20] nschonni commented on #1035
@gewarren no problem, I'm trying to get this functionality built into Markdownlint in the long term so it's just another check for the tech writers before they publish.
I know a flood of issues can be annoying 😉

[2018-05-30 06:32] swiac commented on #713
To fix the broken image on first load you need to enter an image src in index.pug at:

a: img(id='myImage' height='200' width='200' src='')

The current code has src='' so no image will display thus showing missing image. You can fix this by adding one of the example image links:

a: img(id='myImage' height='200' width='200' src='http://public-domain-photos.com/free-stock-photos-1/flowers/cactus-7

[2018-05-30 07:21] #948 closed

[2018-05-30 07:27] TerryGLee commented on #946
@evanwindom Even though this is removed from the TOC, the file is still there on the repo. I suggest removing the vs-license-terms.md file from the repo.

[2018-05-30 09:38] digitus0 opened #1058 "VB code in C# example"
The code that it's asking you to create is VB and not C# so the entire documentation falls apart at that stage....

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 10a448aa-4d5d-f827-6511-6c4ac9528122
* Version Independent ID: 5a8e5560-40c3-3787-ae3c-ce84ed28cc79
* Content: [Walkthrough: Create a simple application with

[2018-05-30 10:51] evanwindom commented on #946
Will do.

[2018-05-30 12:33] skulas opened #1059 "Code concistensy"
Microsoft.Office.Core.DocumentProperties exists (as used in void TestProperties() )
But Office.DocumentProperties doesn't exist as used in ReadDocumentProperty(string propertyName)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b7941790-134c-39a5-d0e4-0df82f723870
* Version Independent ID: 11357b83-d186-2df2-f73e-adf79

[2018-05-30 14:02] dwitsdev commented on #1053
@evanwindom Apparently the issue is related with how my.visualstudio.com/benefits is generating the URL to activate the datacamp benefit, if you do a test you will notice that my.visualstudio.com/benefits generate an URL with a parameter called ?email= that has a value something like this: 6e59rp6gkztqmurcsw91go2g9uy9qdttod2xn2woy and that is causing datacamp reject the try, what I did is change ?

[2018-05-30 17:46] #841 closed

[2018-05-30 17:46] #881 closed

[2018-05-30 18:03] Stanley-G opened #1060 "Typo - wrong class name"
Refactor the code under test

"First, define two constants for the error messages at class scope. Put these in the class under test (Bank):"

This should be BankAccount

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b98c1d2a-1393-21d2-58c1-ff01d9aec0be
* Version Independent ID: e109ff12-0172-f3ee-c10d-2e2e8a7aa699
* Co

[2018-05-30 20:30] gewarren commented on #1043
I'm not sure how to create a table like that in html, but I believe you just insert the html directly into the markdown. We sometimes use html for line breaks and heading anchors in the markdown files.

[2018-05-30 21:04] davkean commented on #1043
Okay that's good to know.

[2018-05-30 21:07] TerryGLee commented on #1059
@skulas Thanks for letting us know. We've assigned this to our backlog for consideration and future updates.

[2018-05-30 21:08] #1059 closed

[2018-05-30 21:30] mikeblome commented on #1057
@Lamphi90 Thanks for catching this! I have fixed the image and it should be visible tomorrow May 31.

[2018-05-30 23:17] kendrahavens commented on #555
@gewarren It'd be great to get help on this. (Sorry for the slow response.)

Some of the wording like the "Show All" button does not exist in VS2017. All the screenshots are looking outdated. I haven't stepped through the whole doc, but wouldn't be surprised if the instructions for method and type generation from tests has changed a bit as well.

[2018-05-30 23:41] fchau-ralis opened #1061 "Cannot create the workspace. Please, try again."
Hi,

I'm able to connect to my VSTS team solution and see all the directories that lie within it. However, when I follow the steps for creating a workspace, I keep getting the error: Cannot create the workspace. Please, try again.

Can anyone help? My steps were:
1. Click on 'Manage Workspaces' button.
2. Click on 'Add'\
3. When the window pops up, I add a working folder and map the remote directo

[2018-05-31 04:31] gewarren commented on #1061
This could be related to the issues noted in #1017 and #981. @asb3993 what do you think?

[2018-05-31 09:17] EvanAnthony opened #1062 "Is this normal?"
Is this the most simple and common way of using ADO.NET in applications? I am from VBA programming and will convert some of our applications to SQL server and .NET. I'm initially thinking of using linked tables instead of stored procedure, data readers, and data tables.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0

[2018-05-31 13:48] StingyJack commented on #1051
The project setting is the priority?

(sorry if this seems tedious, but 15.7 broke debugging and turning this option off fixes it. i need to give proper and complete workaround instructions to teammates)

[2018-05-31 15:39] Mikejo5000 commented on #1051
@andysterland Andy, can you confirm that the project setting would always override a setting in Tools > Options?

[2018-05-31 16:51] hkdeven opened #1063 "Menu directions are incorrect (Mac vs. Windows)"
I'm setting up VS for the first time and perusing the docs.  There are a lot of references to navigate from Tools  to sub menu option 'Options' which doesn't exist for Mac users.  I believe this should simply be updated to 'Add Custom Tool' which does exist under the Tool menu.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2018-05-31 17:00] hkdeven commented on #430
+1

[2018-05-31 17:52] asb3993 commented on #1061
Hi @fchau-ralis thanks for trying out the preview! This can happen for several reasons. For example, invalid characters in the name, use of more than 64 characters in the name, the local path is used by another workspace, etc.

We're working to improve the error messages and logging for the next release of this preview, in the meantime, if you've double-checked the ideas above and are still unsucc

[2018-05-31 18:34] #493 closed

[2018-05-31 18:51] TerryGLee commented on #1056
@FBoyne Thanks for the update. We'll verify and then update the docs. But please be advised that this is in our backlog queue, so it won't happen right away.

[2018-05-31 19:15] #1061 closed

[2018-06-01 01:23] WayneXYZ opened #1065 "password part followed by sudo command does not function properly"
By the title I mean that whenever I paste lines with sudo, terminal asks for the Password, but as I type the first one or two letters it quickly enters the next line and says password incorrect. Thus all the sections with sudo lines cannot work on my Macbook.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 030a8363-a4d4

[2018-06-01 01:41] FBoyne commented on #1056
No problem.  I'm in the software business myself o I totally understand.  😊  I just didn't want to leave you with the mistaken idea that a 2016 PIA definitely existed.

From: Terry G. Lee
Sent: Thursday, May 31, 2018 11:51 AM
To: MicrosoftDocs/visualstudio-docs
Cc: Frank Boyne; Mention
Subject: Re: [MicrosoftDocs/visualstudio-docs] Full List of Primary InteropAssemblies Does Not include Office 201

[2018-06-01 02:20] abyteman opened #1066 "Where is the C# Code?"
Why would you place vb code when you started showing C# code?
Just another waste of time.  The object is to learn not just waste time building
forms.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0e2e854-d2d8-8ec2-ae41-beee6636fae3
* Version Independent ID: 2c1c8dae-ea87-e7a0-f0eb-7bc0b775f8d5
* Content: [Create a si

[2018-06-01 04:37] gewarren commented on #1066
@abyteman there is a language drop-down at the top right of the page, and you can choose between VB and C# code examples.

[2018-06-01 18:09] gewarren commented on #1063
@hkdeven Thank you for the feedback. I will try to come up with a strategy for making it more clear which docs apply to VS for Windows and which are for VS for Mac.

[2018-06-01 18:10] gewarren commented on #1066
If this doesn't solve the problem or you still aren't seeing the C# code, please let me know and I'll reopen this issue.

[2018-06-01 18:10] #1066 closed

[2018-06-01 18:27] gewarren commented on #951
@nschonni Thanks for noticing this folder. We do actually have a plan to give it a name and start putting docs in this folder, so I am going to close out your PR that removes it.

[2018-06-01 18:27] #951 closed

[2018-06-01 18:30] gewarren commented on #1062
@EvanAnthony Thank you for the thoughtful question. May I suggest that you ask your question on Stack Overflow instead? I do not know if this is the most common way of using ADO.NET in applications, and it seems like a good "crowd sourcing" question.

[2018-06-01 18:34] gewarren commented on #1058
@digitus0 Thank you for the feedback. There is a language drop-down at the top right of the page where you can select your code example language. Based on your feedback and others', it seems like this language selector is not obvious enough, so I'm going to see if we can do something to improve its discoverability.

@TerryGLee on a side note, we may want to revise this line slightly to say "Visual

[2018-06-02 14:12] MrFojo opened #1068 "Missing show group in ribbon"
I followed this walkthrough but I could not find the show group in the ribbon or the map it button in Outlook 2016
I also checked out the video and it uses Outlook 2010. Seems the walkthrough is outdated.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 55a77e0b-bbca-7721-d088-ba944ca76cc3
* Version Independent ID: 7b9995

[2018-06-02 20:27] cremor opened #1069 ""nse" (no side effect) format specifier is missing"
I've just learned from a video of a Microsoft Build 2018 talk that there is a "nse" format specifier that prevents side effects from debugger evaluations. Seems like that specifier is missing in the documentation.

References:
- Video of the talk where it is shown: https://youtu.be/yAZLibpil_c?t=11m30s
- Written documentation: https://github.com/Microsoft/vs-diagnostics-demo-recipe-app/blob/master

[2018-06-03 07:57] cremor commented on #634
@gewarren @fenxu Could you please reopen this issue? As written by @grantborthwick there are still wrong names left in the article.

[2018-06-03 08:12] cremor opened #1070 "Missing EditorConfig coding convention settings"
It seems like there are quite a few EditorConfig coding convention settings that are supported (see [1](https://github.com/dotnet/roslyn/blob/master/src/Workspaces/Core/Portable/Formatting/FormattingOptions.cs), [2](https://github.com/dotnet/roslyn/blob/master/src/Workspaces/Core/Portable/CodeStyle/CodeStyleOptions.cs), [3](https://github.com/dotnet/roslyn/blob/master/src/Workspaces/CSharp/Portabl

[2018-06-03 12:14] pavel-a opened #1071 "Debugger tutorials - needed a how-to on understanding unexpected exceptions"
In the debugger tutorials or Quick starts, please add a tutorial for debugging from "Exception thrown at ...". This is a frequent question from beginners.
See [this thread](https://social.msdn.microsoft.com/Forums/en-US/c35f4389-b084-4361-ba04-f8c451582a69/kernelbasedll-access-is-denied?forum=visualstudiogeneral#060fbe44-ea69-4a5a-88ad-f35198c5e600) for example.

Existing tutorials (Call stack, JI

[2018-06-04 00:57] Mikejo5000 commented on #1071
@pavel-a Thanks for the suggestion. I'll take a look at the thread.

[2018-06-04 01:16] Mikejo5000 commented on #1069
@cremor Thanks! I'll look into this.

[2018-06-04 04:33] wilFab opened #1072 "Several items seem to be incorrect/outdated"
*Adding a "custom command item" to the project required VS be launched with administrator privileges (this wasn't mentioned), otherwise a "No resource file set the resource merger." error occurs.
*VSPackage.resx needs to have the namespace (FileFilter) prepended to its name (e.g. FileFilter.VSPackage.resx), otherwise the .resources file generated by Resgen.exe won't contain the namespace.
*FileFil

[2018-06-04 08:28] paulceli commented on #1054
Hey, thanks Amy.
I created a fresh new "Azure Functions" project, but when I try to deploy, always get the msg "Error deploying app instance".
It manage to create an "App service plan" and a dedicated "Storage account" to my azure though.
Any idea what could go wrong? where I could see more log ?
bye

[2018-06-04 14:44] snowstormlife opened #1074 "Incorrect URL shown for Step 1 under "Add the Alternate Account""
Step 1 under "Add the Alternate Account" uses the wrong link. "Sign in to Visual Studio with your Microsoft account (https://{youraccount}.visualstudio.com)."

Signing in with {youraccount}.visualstudio.com logs into a VSTS account, not a person's Visual Studio account.

For people to be able to add an alternate account to their Visual Studio subscription, Step 1 should read "Sign in to your Visua

[2018-06-04 17:05] gewarren commented on #634
@cremor @grantborthwick Thank you both; I'll get it updated.

[2018-06-04 17:16] gewarren commented on #1070
@cremor Thanks for pointing these out. @kuhlenh Kasey should these be added?

[2018-06-04 17:35] gewarren commented on #1060
@Stanley-G Thank you for pointing this out. I'm fixing it today.

[2018-06-04 18:27] steveowen opened #1076 "mr"
Not an error just a wish list asks
Just a note to say it would be amazing to have a visual designer for Xamarin cross platform apps like the Xamarin android designer and of course the amazing windows universal app designer .  I had to go to Xamarin android designer to position buttons on my android phone app.
so I have to go to the windows designer for my universal apps. would be good to have  a c

[2018-06-04 18:34] gewarren commented on #1043
@davkean We can probably format the table in markdown like this:

[code]

[2018-06-04 19:17] TerryGLee commented on #1076
@steveowen It looks like you have a product feature request rather than an issue with documentation. To that end, this venue isn't the correct place for such requests. Instead, please share your product feature requests and suggestions with us on [UserVoice](https://visualstudio.uservoice.com/forums/121579-visual-studio-ide).

As an FYI, these alternative means of contacting us are documented in t

[2018-06-04 19:18] #1076 closed

[2018-06-04 19:21] TerryGLee commented on #1074
@evanwindom could you please take a look at this?
@prrana FYI

[2018-06-04 19:22] TerryGLee commented on #1068
@MrFojo Thanks for your feedback. We are aware that this documentation is due for an update; it's on our backlog to do so.

[2018-06-04 19:30] evanwindom commented on #1074
snowstormlife is correct.  I agree with the proposed changes.

[2018-06-04 23:20] evanwindom commented on #1074
#sign-off

[2018-06-04 23:21] kraigb commented on #999
@avichaygrafi Apologies for my delay in responding...was at PyCon, then had time off...you know how that goes.

I don't know of an API that gets you this information, but you should be able to write a simple script to enumerate the folders in the two install locations noted in the article: C:\Program Files\Microsoft\R Client\R_SERVER\library for packages installed with RTVS, and %userprofile%\Docu

[2018-06-04 23:21] #999 closed

[2018-06-04 23:35] TerryGLee commented on #1074
@evanwindom Please sign off on the actual PR, which is here: [https://github.com/MicrosoftDocs/visualstudio-docs/pull/1075](https://github.com/MicrosoftDocs/visualstudio-docs/pull/1075)

Thanks!
~ Terry

[2018-06-04 23:50] gewarren commented on #870
@devovercome This sounds like more of a feature request. If so, can you open a request at [Roslyn issues](https://github.com/dotnet/roslyn/issues) instead? It sounds like this is not a documentation issue.

[2018-06-05 08:36] pmisik opened #1078 "Unclear description of Modify Visual Studio in case of pending updates"
Hi,

We are situation we cannot upgrade to latest update due to already reported bug in c++ codegen.
I need to install new workload for UWP development that we didn't developed before.
What will happen if I choose Modify add new Workload and there are pending updates?
a) It will install pending updates and than new workload
b) It will install just selected workload without updating rest of Visual

[2018-06-05 08:47] MrFojo commented on #1068
@TerryGLee Is there an alternative walkthrough I can use that is recommended for the meantime?

[2018-06-05 13:23] rkindred opened #1079 "Quickstart: Use Visual Studio to create your first ASP.NET Core web app"
At the url  https://docs.microsoft.com/en-us/visualstudio/ide/quickstart-aspnet-core

This tutorial says to open the Pages folder, but the Pages folder does not exist in the solution explorer, at least not in Visual Studio 2017 Community edition.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2ab4333f-c992-f580-5a1f-cf

[2018-06-05 16:34] TerryGLee commented on #1079
@rkindred Thanks for letting us know; I'll investigate and report back soon.

[2018-06-05 16:40] TerryGLee commented on #1078
@pmisik Thanks for your feedback! We'll investigate and if necessary, we'll update the documentation. More, soon.

[2018-06-05 17:37] #1060 closed

[2018-06-05 17:37] #839 closed

[2018-06-05 18:57] #870 closed

[2018-06-05 19:56] asb3993 commented on #1054
@paulceli Once you managed to manually create the app and deploy to it, did it work as expected for you?

[2018-06-05 20:07] paulceli commented on #1054
Not on first try.
Like I said, I had to accept to change to beta version in a Visual Studio Pop-up.
Then project deployed but it wasn't working at first.
I also had to change the app setting FUNCTIONS_EXTENSION_VERSION value from "~1" to "beta" as mentioned here : [https://stackoverflow.com/questions/48952452/azure-function-implemented-locally-wont-work-in-the-cloud](https://stackoverflow.com/ques

[2018-06-05 20:44] gewarren commented on #731
@amelvill @mm6502 .runsettings files can be used to run tests from the command line, in the IDE, or as part of a CI/CI pipeline using the VSTest task. The topic should be updated by tomorrow. Sorry for the confusion this caused.

[2018-06-05 21:19] gosali opened #1081 "Tracking Points and Tracking Spans should reference SpanTrackingMode members"
@AdmiralSnyder commented on [Tue Jun 05 2018](https://github.com/MicrosoftDocs/visualstudio-docs.de-de/issues/8)

the following paragraph should reference SpanTrackingMode members:
An ITrackingSpan represents a range of characters instead of just one position. Its behavior is determined by its SpanTrackingMode. If the span tracking mode is SpanTrackingMode, the tracking span grows to incorporate t

[2018-06-05 23:02] #981 closed

[2018-06-05 23:30] #1074 closed

[2018-06-06 16:49] kadorken opened #1083 "MyTemplate.vstemplate versus ProjectName.vstemplate ?"
The first XML example shows a structure where the Project1\Project1.vstemplate file needs to exist. Yet when you export an existing project, the .vstemplate is called "MyTemplate.vstemplate" (not ProjectName.vstemplate).

The two project example shows the use of MyTemplate.vstemplate in the sample XML.

So which is it? (I suspect the latter)

---
#### Document Details

⚠ *Do not edit this section.

[2018-06-06 17:21] smitpatel opened #1084 "Broken link"
Link in point 3 under Mac setup is broken.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a045be07-cb8a-a83a-4c2d-4f6979910967
* Version Independent ID: 6e552735-c2db-fee0-1a66-f0912a054e00
* Content: [Install Xamarin for Visual Studio - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/cross-platform/setup-

[2018-06-06 17:51] kadorken commented on #889
Ha. Just figured this out and was going to make same comment. Should have scrolled to bottom first.

[2018-06-06 20:11] #731 closed

[2018-06-06 20:12] gewarren commented on #1083
@kadorken Thanks, I'll take a look and clarify.

[2018-06-06 22:22] CBrauer opened #1086 "This document does not tell me how to delete a bad environment"
I no longer use python 2.7.  I deleted it from Anaconda, but it still show up in Environments and I cannot delete it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 563f476d-a91b-58c7-9e32-b238756cc97d
* Version Independent ID: 0a0e9cac-a8dc-47a1-14e1-1dacc3441613
* Content: [Manage Python environments and interpreters

[2018-06-06 22:27] kraigb commented on #1086
When you say you deleted it from Anaconda, what does that mean, exactly? Did Anaconda uninstall that interpreter, or does it still exist on your computer? The reason I ask is that VS looks in the registry for installed interpreters, so if removing an interpreter from Anaconda changes a setting, but does not wholly remove the interpreter from the computer, then I imagine VS would still pick it up.

[2018-06-07 00:39] CBrauer commented on #1086
Here is what is on my machine now:

Microsoft Windows [Version 10.0.17134.81]

(c) 2018 Microsoft Corporation. All rights reserved.

H:\ML\BlogExperiments\Python\SKLearn>conda list | findstr python

ipython                   6.4.0                    py36_0    conda-forge

ipython_genutils          0.2.0                    py36_0    conda-forge

msgpack-python            0.5.6            py36he980b

[2018-06-07 01:00] gewarren commented on #1021
@nic-hartley I see what you're seeing too. I'll investigate a little more. We have a similar issue #667.

[2018-06-07 01:14] jkhoogland opened #1087 "Why is the docker image size so gargantuan ?"
Thanks for providing this example build.
Could you explain why this build should take up ~ 50 GB ?
Any linux/gcc is doable in a couple of GB as most...
Thanks

---
#### Documentdetails

⚠ *Dit gedeelte niet bewerken. Het is vereist om problemen te koppelen tussen docs.microsoft.com en GitHub.*

* ID: b91a4a43-5353-97cf-7532-7644aa3b497f
* Version Independent ID: 858d9a5c-72f3-6a85-9270-0a0dd9e0438

[2018-06-07 07:11] heaths commented on #1087
Because this has much more than just a C++ compiler. It contains compilers and toolsets for many workloads as documented in our linked workload documentation. This large size is why we haven't yet pushed an image to Docker Hub. Most people won't need everything in it, which is why we've published documentation about how to customize your own workload selection.

@TerryGLee, please feel free to clo

[2018-06-07 15:49] kraigb commented on #1086
Hi, your image didn't come through. Can you send it straight to me via email at kraigb at microsoft dot com? And also, how did you remove the environment from Anaconda (what command)?

[2018-06-07 15:52] jkhoogland commented on #1087
thanks for the clarification,
the image whith just C++ toolchain is indeed smaller, but still quite massive at ~9GB.

Looking at the resulting images, the folder C:\BuildTools contains all the compiler versions,
but there seems to be a bunch of folders added to C:\Program Files (x68) as well (see below).

Are the folders `Microsoft SDKs`, `Microsoft Visual Studio`, `Microsoft.NET`, `MSBuild` still

[2018-06-07 16:48] kraigb commented on #1086
Thanks for the email; I see now that those environments are marked with strikethrough, but still visible in the window. I'm investigating with the PTVS engineering team who should be able to advise. Stay tuned.

[2018-06-07 17:05] kraigb commented on #1086
OK, the environments shown with a strikethrough are those for which registry entries exist, but the paths specified in those entries do not exist, specifically the InstallPath\ExecutablePath value.

Check the registry entries under HKEY_LOCAL_MACHINE\SOFTWARE\Python (32-bit installs) and HKEY_LOCAL_MACHINE\SOFTWARE\WOW6432Node\Python (64-bit installs). In those nodes you should see nodes for the A

[2018-06-07 17:37] gewarren commented on #1021
@nic-hartley This certainly seems like a bug to me, and I think it is specific to C++ projects (I tried in a C# project and the settings were copied correctly). And thank you for providing the clear steps and even a video. Can you open an issue on [Developer Community](https://developercommunity.visualstudio.com/spaces/8/index.html)? I did a brief search there and didn't find any existing issues f

[2018-06-07 17:38] #1021 closed

[2018-06-07 17:46] kraigb commented on #1086
Excellent. I'll add notes to this effect in the docs. Thanks for filing the issue and bringing it to my attention.

[2018-06-07 18:14] #1086 closed

[2018-06-07 20:02] TerryGLee commented on #1087
@heaths There is a follow-up question from @jkhoogland; FYI.

[2018-06-07 20:19] heaths commented on #1087
If there is content in them, the development teams who own those features have reasons to do so. Deleting them may cause issues and is not supported if you modify your image beyond going through setup. What is supported is that you can use `--add` and `--remove` through the setup command line interface to customize the image for your needs.

[2018-06-07 20:27] TerryGLee commented on #1087
Thanks, @heaths. I'll close this issue now, per your earlier request. :)

[2018-06-07 20:27] #1087 closed

[2018-06-07 20:49] nic-hartley commented on #1021
I've reported this to Developer Community [here](https://developercommunity.visualstudio.com/content/problem/269259/settings-in-c-projects-arent-copied-with-the-confi.html). No need to reopen; you're right, this isn't a documentation issue. (I assumed I was missing a setting or something, which is why I posted it here.)

[2018-06-07 20:54] gewarren commented on #1021
@nic-hartley Thanks so much for reporting the issue!

[2018-06-08 00:46] #1084 closed

[2018-06-08 08:43] ReneSlowenski opened #1088 "Workload Microsoft.VisualStudio.Workload.ManagedDesktopBuildTools not found for 15.5.7"
.\vs_BuildTools_15.5.7.exe --layout C:\Storage\vs_BuildTools_15.5.7 --lang en-US --add Microsoft.VisualStudio.Workload.ManagedDesktopBuildTools --add Microsoft.VisualStudio.Workload.MSBuildTools --a
dd Microsoft.VisualStudio.Workload.NetCoreBuildTools --add Microsoft.VisualStudio.Workload.VCTools

leads to the following result:

Visual Studio Setup Command Line Utility, version 1.14.192.55101
Copy

[2018-06-08 16:31] asb3993 commented on #1054
@paulceli Thanks for your feedback, I really appreciate it. That definitely sounds like a bit of an obtuse workflow so I'll make sure to add this information to the guide. I've also spoken to the engineering team, particularly about the app setting issue and have been assured that they're fixing it.

[2018-06-08 18:30] asb3993 commented on #1065
Sorry to hear that you had issues with this @WayneXYZ.

This sounds like an issue with terminal. Have you tried quitting the terminal window (Cmd + Q) and opening it and trying again? Also, if you're using a trackpad make sure that nothing is touching it as you type. I've found that that can cause this type of unexpected behavior .

[2018-06-08 19:18] CeciAc opened #1090 "Missing docs for some Tools > Options options"
@SetTrend commented on [Sun Jun 03 2018](https://github.com/MicrosoftDocs/visualstudio-docs.de-de/issues/7)

This page is missing a bunch of options I see in Visual Studio 15.7 on the same Options page. Please add the corresponding documentation here. This is particularly important for translated versions of Visual Studio 2017 as the translation is often misleading and poor.

---
#### Dokumentdeta

[2018-06-08 20:27] Mikejo5000 commented on #930
@binki Thank you. I will plan to update the docs for this issue.

[2018-06-08 22:14] CeciAc opened #1091 "Das Tool ist nicht auffindbar"
@manuth commented on [Wed Jun 06 2018](https://github.com/MicrosoftDocs/visualstudio-docs.de-de/issues/9)

Ich habe, wie im Dokument "Installieren des Visual Studio SDKs" nachzulesen, die SDK installiert und kann das Tool, welches hier thematisiert wird über die Such-Funktion von Visual Studio 2017 nicht finden.
Im gesamten Dokument wird nirgends aufgezeigt, wie und wo sich das Tool finden lässt -

[2018-06-09 00:07] AraHaan opened #1092 "BuildTools 15.0: "The attribute "TaskName" in element <UsingTask> is unrecognized." in a c# project file."
I am getting this error above when loading my Core.props (which contains my task to locate the latest version of rc.exe to compile a resource script) makes my c# project then not load whenever I import the Core.props file. My version of vs2017 is 15.5.6. I would update but currently only my iPhone has internet unless there is a offline updater for my vs2017 install that I can transfer using iTunes

[2018-06-09 00:45] AraHaan commented on #1092
Apperently it only works in the project file, but seems in visual studio to not write to the output window with Log.LogMessage or System.Console.WriteLine for some reason.

[2018-06-09 01:40] aircatcher opened #1093 "Specifying exact path for temporary opc file"
Instead of deleting the temp file (%localappdata%\Temp\x.xxx\vs_installer.obc) after exiting the installer, what about allowing me to specify the custom path for it, so I don't have to re-download each time I want to relaunch my customized parameters in a batch file. I am trying to install for multiple computers, so I can save an extra 67 MB of bandwidth for each computer.

---
#### Document Detai

[2018-06-09 10:30] oooobi opened #1094 "How do you make a game"
Is there any tutorial on making a game

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a1daec8-269e-40fd-0cc3-6c38f9074399
* Version Independent ID: e9b4d9e3-8692-339b-e1f3-ff417d1a09cd
* Content: [Develop apps for the Universal Windows Platform (UWP) - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/cross

[2018-06-10 13:39] nathan130200 opened #1097 "Awesome article."
Nice!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c165c6c-3afb-ec14-fc40-13c504aa2492
* Version Independent ID: eb03852b-8ccf-a6f7-b62d-a6912a97430d
* Content: [Code Snippets - Visual Studio for Mac](https://docs.microsoft.com/en-us/visualstudio/mac/snippets)
* Content Source: [mac/snippets.md](https://github.com/M

[2018-06-11 06:00] TerryGLee commented on #1094
@oooobi Thanks for your inquiry. For more information about how to use UWP to create a game, please see the "Game development" section on the [Universal Windows Platform documentation](https://docs.microsoft.com/en-us/windows/uwp/index) page.

Cheers,
~ Terry

[2018-06-11 06:59] TerryGLee commented on #1033
@nschonni Thanks for reporting this; it's in our backlog queue to get fixed.

[2018-06-11 07:00] TerryGLee commented on #1088
@ReneSlowenski Thanks for your inquiry; we'll look into this and report back.

[2018-06-11 10:43] deltafsdevelopment opened #1098 "Documentation Website - Long tables on portrait monitor awkward to scroll"
Hello

My issue can be seen here: [https://docs.microsoft.com/en-gb/visualstudio/msbuild/msbuild-reserved-and-well-known-properties](https://docs.microsoft.com/en-gb/visualstudio/msbuild/msbuild-reserved-and-well-known-properties) but it is a general issue _with the documentation site_ which seems to have been designed with only landscape aspect ratios in mind:

* Monitor in portrait mode, browser

[2018-06-11 16:17] tg73 opened #1099 "There are no screenshots showing examples of the different kinds of extension points"
Generally in this section it would be helpful to have more screenshot examples of the different extension points. It would be great to have a couple of overview screenshots annotated to identify those extension points that have visible effect. Right now I'm trying to find out how to add to the codelens stuff above a method signature, and it's quite hard to work out what kind of extension point thi

[2018-06-11 17:09] gewarren commented on #1098
@deltafsdevelopment Thanks for these great suggestions. I agree the experience is not optimal. I've let the design team know about your issue and two suggested improvements.

[2018-06-11 17:20] gewarren commented on #1057
Verified the change.

[2018-06-11 17:20] #1057 closed

[2018-06-11 17:22] gewarren commented on #1028
@wpoust Thanks for mentioning this. @Mikejo5000 should we include this info in the topic?

[2018-06-11 17:26] gewarren commented on #1008
@sbrickey Closing this documentation issue in the hopes we can continue the investigation, if necessary, through Visual Studio's "[Report a Problem](https://docs.microsoft.com/en-us/visualstudio/ide/how-to-report-a-problem-with-visual-studio-2017)" feature (which syncs with Developer Community).

[2018-06-11 17:26] #1008 closed

[2018-06-11 17:30] gewarren commented on #955
@mickeyjf Thanks for reporting this. We had another complaint about this same issue recently #1098. I'm forwarding this feedback to the site design team.

[2018-06-11 17:36] gewarren commented on #790
@Nathan-Tarin Thanks for reporting this typo. @TerryGLee this is an easy fix if you get a chance.

[2018-06-11 17:43] gewarren commented on #102
@nokura or @CeciAc could one of you take a look at this? Should it be moved to the Japanese repo's issues page?

[2018-06-11 18:24] CeciAc commented on #102
Hello, @mutsun,

Your feedback is much appreciated.
Since your comments are specific to the localization of the documentation, we have moved this issue to the corresponding localization repository and we will close this one.

Please review the status of this issue here https://github.com/MicrosoftDocs/visualstudio-docs.ja-jp/issues/39

Kind regards,
Microsoft DOCS International Team

@gewarren #pl

[2018-06-11 18:25] gewarren commented on #102
@CeciAc Thank you so much for moving the issue. I'm sure it will get more attention over there.

[2018-06-11 18:25] #102 closed

[2018-06-11 18:40] TerryGLee commented on #790
@Nathan-Tarin Thanks for reporting this; we have a PR in play [https://github.com/MicrosoftDocs/visualstudio-docs-pr/pull/2249](https://github.com/MicrosoftDocs/visualstudio-docs-pr/pull/2249), which should get this fixed by tomorrow an noon.

Cheers,
~ Terry

[2018-06-11 18:42] #790 closed

[2018-06-11 18:44] TerryGLee commented on #1097
@nathan130200 We appreciate your positive feedback! We'll be sure that the author, @asb3993, sees this, too.

[2018-06-11 18:49] Mikejo5000 commented on #1028
Yes, I can plan to add a note about that. Thanks!

[2018-06-11 18:57] TerryGLee commented on #1093
@aircatcher Thanks for your feedback! It looks like you have a suggest to improve the product. This venue is meant to help improve the documentation, and so while we've noted your input, it would be best placed with us on our [UserVoice](https://visualstudio.uservoice.com/) page, where we collect product suggestions. (For more information about how and where to contact us, please see our [Talk to

[2018-06-11 18:58] #1093 closed

[2018-06-11 18:59] #1094 closed

[2018-06-11 21:37] arpitadessai opened #1100 "Incorrect file name mentioned in section "Set and hit a breakpoint in the client-side React code""
Section: Set and hit a breakpoint in the client-side React code
Point number: 3
Line: "Switch to Visual Studio and set a breakpoint in app-bundle.js code in"
Fix required: The file name is actually "app.tsx" instead of "app-bundle.js".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e5b3b809-00c3-5637-ab09-0180827ffe4c

[2018-06-11 21:55] Mikejo5000 commented on #1100
@arpitadessai Thanks for the feedback! I'll take a look at it.

[2018-06-11 21:55] phinneydad opened #1101 "Cannot uninstall .NET Core+ASP.NET Core workload - VS MAC"
On VS for Mac I ran uninstall scripts and everything was removed except for .NET Core + ASP.NET Core component.  Is there a separate script to uninstall this part?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 030a8363-a4d4-9391-0fc2-554656b905fc
* Version Independent ID: 4a056ae9-03cb-074f-cffa-037f780dfbaf
* Content