[2020-06-04 16:57] #4785 closed

[2020-06-04 17:15] ghogen commented on #5182
@tangruixun I was not able to reproduce this error, with a password-protected Access database and Visual Studio 2019 16.7 Preview build. Are you still getting this error? Make sure the database is not opened for exclusive use in Microsoft Access at the time you are trying to connect.

Note that if this is a product issue, you should enter it on the [DevCommunity](https://developercommunity.visuals

[2020-06-04 17:46] CeciAc opened #5436 "How to set up and verify PYTHONHOME settings?"
@GXY2017 commented on [Thu Jun 04 2020](https://github.com/MicrosoftDocs/visualstudio-docs.zh-cn/issues/196)

[在此处输入反馈]
I am stopped by  PYTHONHOME envar.  I installed the python in VS installer, not knowing how to make sure PYTHONHOME is set up.  There is not enough information provide about this point.

Thank you.

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: 40e

[2020-06-04 17:55] WilliamAntonRohm commented on #5422
@pedautreppe -- Pierre-Emmanuel, thank you for explaining further. It looks like you have product feedback rather than documentation feedback. If you are looking for functionality that isn’t currently provided by the product, please use our “Suggest a feature” option in the [Visual Studio Developer Community](https://developercommunity.visualstudio.com/). We’d be happy to have this on record, wher

[2020-06-04 17:55] #5422 closed

[2020-06-04 17:59] WilliamAntonRohm commented on #5413
@RikaEndo0 -- thank you for clarifying.

@mrbullwinkle -- please look into this issue.

cc @Mikejo5000 for awareness regarding this issue vs #5321

[2020-06-04 18:03] WilliamAntonRohm commented on #5045
@heiligerdankgesang -- thank you for your assistance.

@craigbrown -- the updates are now being reviewed and should be live in a day or so.

I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2020-06-04 18:05] #3050 closed

[2020-06-04 18:11] ghogen commented on #5425
@paulomorgado Thanks for filing this issue. Does my previous comment clarify? I think we can close this, unless I'm not understanding the problem.

[2020-06-04 18:11] #5425 closed

[2020-06-04 18:48] mrbullwinkle commented on #5321
@dcbrown16 Unfortunately I think the confusion lies in the naming choices made by Visual Studio and App Insights which at this point aren't going to be changed. To create an Application Insights  multi-step web test in Visual Studio you need to create what Visual Studio calls a "Web Performance and Load Test Project".

What we call the Performance Testing feature in App Insights is basically the l

[2020-06-04 18:59] mrbullwinkle commented on #5413
@WilliamAntonRohm I responded to the other GitHub issue that was referenced in this issue to provide some clarity. The owner of this Visual Studio doc would need to make the update if that source forge package is no longer available. If there are any changes needed to the application insights docs I would be able to make those changes, but the VS docs changes would need to be handled by that team'

[2020-06-04 19:03] WilliamAntonRohm commented on #5321
@mrbullwinkle -- thank you for answering.

I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2020-06-04 19:08] mrbullwinkle commented on #5321
And if it is something that we need clarity within the App Insights docs rather than simply linking to the VS doc, definitely let me know and I am happy to try making some modifications on the App Insights docs side

[2020-06-04 19:30] WilliamAntonRohm commented on #5428
@MikeMGW -- thank you for your feedback; we appreciate it. To make sure that this is logged in the right place, please use the [Report a Problem](https://docs.microsoft.com/visualstudio/ide/how-to-report-a-problem-with-visual-studio) tool to report the issue. When you do so, your report becomes part of the work items that are listed in the in the [Visual Studio Developer Community](https://develop

[2020-06-04 19:30] #5428 closed

[2020-06-04 19:33] WilliamAntonRohm commented on #5430
@russellgeraghty -- Russell, it looks like you’re having an issue with installation. If your Visual Studio installation fails, see [Troubleshooting Visual Studio installation and upgrade issues](https://docs.microsoft.com/visualstudio/install/troubleshooting-installation-issues) for step-by-step guidance.​

We also offer a [Live Chat](https://visualstudio.microsoft.com/vs/support/#talktous) (Engli

[2020-06-04 19:33] #5430 closed

[2020-06-04 20:19] paulomorgado commented on #5425
I don't think most of the examples, if any, are any exemplificative.

Better exemples would show an example file/directory structure and would show the values returned for the functions in the examples.

[2020-06-04 20:30] CeciAc opened #5437 "Can`t create superuser"
@teodred commented on [Thu Jun 04 2020](https://github.com/MicrosoftDocs/visualstudio-docs.ru-ru/issues/105)

[Введите отзыв здесь]
Well. I think it is just because i`m stupid but, I can`t create super user.
I have such rows:
You have 17 unapplied migration(s). Your project may not work properly until you apply the migrations for app(s): admin, auth, contenttypes, sessions.
Run 'python manage.py m

[2020-06-04 20:39] clisc commented on #4258
Any update on this?  In the meantime, what is the best reference to use?

[2020-06-04 22:22] WilliamAntonRohm commented on #5429
@SpiritBob -- thank you for your feedback. Here are a few options you might consider:​

- [https://social.msdn.microsoft.com/Forums/vstudio](https://social.msdn.microsoft.com/Forums/vstudio)
- [https://www.stackoverflow.com](https://www.stackoverflow.com)
- [https://www.reddit.com/r/VisualStudio/](https://www.reddit.com/r/VisualStudio)

You are also welcome to use the [Report a Problem](https://do

[2020-06-04 22:22] #5429 closed

[2020-06-04 22:30] WilliamAntonRohm commented on #5433
@kamyker -- Kamil, thank you for your feedback and question. Here are a few options where you might consider asking your question:​

- [https://social.msdn.microsoft.com/Forums/vstudio](https://social.msdn.microsoft.com/Forums/vstudio)
- [https://www.stackoverflow.com](https://www.stackoverflow.com)
- [https://www.reddit.com/r/VisualStudio/](https://www.reddit.com/r/VisualStudio)

As well, you mig

[2020-06-04 22:34] #2016 closed

[2020-06-04 22:34] #4859 closed

[2020-06-04 22:36] Mikejo5000 commented on #5433
@mavasani Is it correct yet for us to say that the VSIX is deprecated?

[2020-06-04 22:45] mavasani commented on #5433
@Mikejo5000 Yes, theoretically, the extension has very old CA rules (more then a year old) and we do not plan to support it further. In the very near future, these CA rules will be available in the .NET SDK itself, where users can turn them on by setting an MSBuild property on the project. Majority of them will be disabled/IDE suggestions by default to avoid noise, but users can easily enable/conf

[2020-06-04 22:53] WilliamAntonRohm commented on #5436
@CeciAc -- Cecilia, thank you for raising this.  Please convey the following to @GXY2017:
- The referenced topic says:

 - [How to install Python support in Visual Studio on Windows](https://docs.microsoft.com/en-us/visualstudio/python/installing-python-support-in-visual-studio?view=vs-2019#install-locations) says:

- In my fresh install of VS 2019 the Python interpreter `python.exe` is located he

[2020-06-04 22:54] #5436 closed

[2020-06-04 23:03] Mikejo5000 commented on #5405
Updating options to reflect 16.6

[2020-06-04 23:12] #5106 closed

[2020-06-04 23:12] #5434 closed

[2020-06-04 23:12] Mikejo5000 commented on #5405
The option referred to in the stack post will only show up in the VS 2017 view now.

[2020-06-04 23:14] WilliamAntonRohm commented on #5437
@CeciAc -- Cecilia, thank you for raising this issue.  Please convey the following to @teodred:

This software can be challenging for anyone.

Please see the following resources:
- [https://social.msdn.microsoft.com/Forums/vstudio](https://social.msdn.microsoft.com/Forums/vstudio)
- [https://www.stackoverflow.com](https://www.stackoverflow.com)
- [https://www.reddit.com/r/VisualStudio/](https://ww

[2020-06-04 23:14] #5437 closed

[2020-06-04 23:16] #5405 closed

[2020-06-04 23:43] #5409 closed

[2020-06-05 05:53] tangruixun commented on #5182
@ghogen I am using the latest stable version. This is still an issue. When I am trying to add a password-protected *.accdb DB connection as described in step 6, no matter what entered in the username/password fields, it always prompts a "can not open" error after click "Test Connection" button. If I replace it with *.mdb file, the test will is ok.

![image](https://user-images.githubusercontent.co

[2020-06-05 12:46] mrbullwinkle commented on #5413
#assign:Mikejo5000

[2020-06-05 17:38] ghogen commented on #5182
I think the critical piece is the Microsoft Access Database Engine.
https://www.microsoft.com/en-us/download/details.aspx?id=54920
What do you see at the registry key
HKEY_CLASSES_ROOT\Microsoft.ACE.OLEDB.16.0
or another version?
Is this with Office 365, 32 or 64 bit version?
Probably, we can't solve this here. You could contact product support, or enter a bug report at the Dev Community site (lin

[2020-06-05 18:22] swesonga opened #5440 "Update file nesting docs to indicate that all SDK-style projects now support file nesting"
This functionality is now available in 16.7 (currently still in Preview).

Relevant issue with instructions on how to enable file nesting for all (CPS) SDK-style projects: https://github.com/dotnet/project-system/issues/5722

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2d25dd44-f173-dd83-3afc-d6608613d450
* Version I

[2020-06-05 21:05] Mikejo5000 commented on #5332
@WardenGnaw Are all TFM values supported in the debuggee-side code?
Or only a subset?
https://docs.microsoft.com/en-us/dotnet/standard/frameworks

[2020-06-05 21:07] Mikejo5000 commented on #5325
@Duranom I'm looking at this. By "old format", what are you referring to? Updates to the project file, or and older version of vue.js? Please clarify. Thanks.

[2020-06-05 21:16] Mikejo5000 commented on #5317
Looks like the table needs an update. According to the first referenced doc, .NET 3.5 is required for general browser support. Updating.

[2020-06-05 21:38] #5317 closed

[2020-06-05 21:50] Mikejo5000 commented on #5215
@IngmarBitter Were you able to get this working? I suspect you need to install the "Game development with C++" Visual Studio workload to see the DirectX project templates.

[2020-06-05 22:23] ghogen commented on #4320
I think this can be done using a Condition on the $(MSBuildVersion) property.

[2020-06-05 22:28] Mikejo5000 commented on #5215
I added the Game development workload and the UWP workload, but it looks like the templates have been removed, so you need to start from a Direct3D sample.

[2020-06-05 22:41] WilliamAntonRohm commented on #5398
@eaydemir -- Emre, those links appear to be working on the live site:
- https://docs.microsoft.com/en-us/visualstudio/extensibility/internals/determining-which-editor-opens-a-file-in-a-project?view=vs-2019

Please let me know if you still see otherwise.

[2020-06-05 22:49] WilliamAntonRohm commented on #5399
@eaydemir -- Emre, those links appear to be working on the live site:

- https://docs.microsoft.com/en-us/visualstudio/extensibility/how-to-open-standard-editors?view=vs-2019

Please let me know if you still see otherwise.

[2020-06-05 23:18] #5287 closed

[2020-06-06 00:49] augustoproiete commented on #4320
Thank you @ghogen! Very helpful!

[2020-06-06 01:02] augustoproiete commented on #4319
Thanks @rainersigwald. This is helpful.

However, I don't think most developers know what "Visual Studio 15.8" means, to be honest. It would be more useful for everyone if the documentation said **Visual Studio 2017 15.8**.

On the C# version, it would also be very helpful to know what is the minimum version of C# one can use on a machine that has Visual Studio 2017 15.8 (or Visual Studio Build To

[2020-06-07 15:42] IngmarBitter commented on #5215
by now I found that the rest of the active community seems to have abandoned **Graphics Diagnostics** and is using **PIX** instead. Is that indeed the more recommended tool for graphics debugging?

[2020-06-07 21:54] MaDnKount-r opened #5443 "user install vs. system vs. zip"
Ok. So let me get this straight. Sure the user install is more efficient for the install and upgrades. But there's no guarantee I'd be the only user with access to the download. Where as the system install perhaps has some sort of parameters that I can set into place. Am I getting this right?

_Originally posted by @MaDnKount-r in https://github.com/MicrosoftDocs/sql-docs/issues/1657#issuecomment-

[2020-06-08 06:20] eaydemir commented on #5398
ok. it's my mistake, no problem.

[2020-06-08 06:20] eaydemir commented on #5399
ok. it's my mistake, no problem.

[2020-06-08 06:20] #5399 closed

[2020-06-08 06:20] #5398 closed

[2020-06-08 06:57] aravindsamy33 opened #5444 "CA1824"
Unable to find 'Application' tab or 'Package' tab in Solution Explorer Properties. kindly suggest.

I am following below link

https://docs.microsoft.com/en-in/visualstudio/code-quality/ca1824?view=vs-2017&redirectedfrom=MSDN

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 43e7c18d-51c4-2c20-9fa3-d95852d533fa
* Version

[2020-06-08 11:53] 0x0ade opened #5445 "MSBuild Conditions example assumes net5.0 is .NET Framework"
The example given on the MSBuild Conditions page currently assumes that any target framework that matches `^net[0-9\.]*$` (`net` + **numbers and dots**) must be a .NET Framework version. This isn't true with .NET 5.0, which (as far as I understand - please correct me if I'm wrong) isn't a version of .NET Framework, but rather a rebrand of .NET Core.

From my understanding, removing the dot should

[2020-06-08 11:55] 0x0ade commented on #5445
Nevermind, this is a dupe of https://github.com/MicrosoftDocs/visualstudio-docs/issues/5352 which I haven't seen before. I'm sorry.

[2020-06-08 11:55] #5445 closed

[2020-06-08 12:47] Gav-Brown commented on #4899
This setting is also not written to the .editorconfig file if you export from the Visual Studio - Tools - Options - Text Editor - C# - Code Style options dialog. Using VS 16.6.1 (or earlier).

[2020-06-08 15:12] gojimmypi opened #5446 "exec-task UseCommandProcessor="true" not working properly"
The [UseCommandProcessor](https://docs.microsoft.com/en-gb/visualstudio/msbuild/exec-task?view=vs-2019) appears to not be implemented properly.

When I turn it on like this:
[code]
Here's the diagnostic output:
[code]
Note that the `cmd` command seems to be missing, and instead the `/Q /D /C` are passed _first_ in the generated command.

[code]
Edit:
[code]

[2020-06-08 15:14] rainersigwald commented on #4319
I think you're right that `Visual Studio 2017 version 15.8` is the correct full name.

Do you mean minimum or maximum version? Support for C# 7.3 was introduced in Visual Studio 2017 version 15.7, so you can safely use C# features from 7.3 or lower in `RoslynCodeTaskFactory` cases.

If you are developing a build task for inclusion in a NuGet package, I strongly recommend that you build and distrib

[2020-06-08 15:24] Mikejo5000 commented on #5215
Thanks, I'll ask about it.

[2020-06-08 16:24] ghogen commented on #4572
Submitting fix in private repo. Thanks for your contribution.

[2020-06-08 16:24] #4572 closed

[2020-06-08 16:40] augustoproiete commented on #4319
Perfect. Thank you @rainersigwald!

I meant minimum and you answered my question: Ensuring we stick to C# 7.3 features means `RoslynCodeTaskFactory` code will compile on machines that meet the minimum requirement of `Visual Studio 2017 version 15.8`.

Point taken on the advantages of shipping a task assembly together with NuGet packages. The reason `RoslynCodeTaskFactory` caught my eye was the abi

[2020-06-08 16:53] #1495 closed

[2020-06-08 16:55] #5352 closed

[2020-06-08 17:07] #3687 closed

[2020-06-08 18:20] rainersigwald commented on #4340
That is indeed surprising, but evidently intentional:

https://github.com/microsoft/msbuild/blob/584ca5f11b28971f5651b4b8de5f173ad1cb2786/src/Utilities/ToolTask.cs#L753-L757

I agree that it should be documented (in the `ToolTask` doc section).

[2020-06-08 18:23] rainersigwald commented on #4340
Ah, it actually is:

https://github.com/MicrosoftDocs/visualstudio-docs/blob/fc3d3be2c6db14bd39ef3e6a37a7187bdc8e920d/docs/msbuild/includes/tooltaskextension-base-params.md#L17

[2020-06-08 18:25] DrPepperBianco commented on #3687
@megvanhuygen Hi, any reason that this is closed? There seems to be still no example in the doc file. Has this been rejected?
It's not clear to me, why this has been closed.

[2020-06-08 18:55] Mikejo5000 commented on #5215
Not sure about the preferred tool yet, but I could get the Graphics Diagnostics tools working using the sample here:
https://docs.microsoft.com/en-us/samples/microsoft/windows-universal-samples/simple3dgamedx/
I'll update the doc with current information.

[2020-06-08 19:57] #5215 closed

[2020-06-08 20:39] WilliamAntonRohm commented on #5446
@gojimmypi -- thank you for your feedback.  It looks like you're having an issue with the product itself, rather than an issue with the documentation. Here are a few options where you might consider asking your question:​

- [https://social.msdn.microsoft.com/Forums/vstudio](https://social.msdn.microsoft.com/Forums/vstudio)
- [https://www.stackoverflow.com](https://www.stackoverflow.com)
- [https:

[2020-06-08 20:39] #5446 closed

[2020-06-08 20:50] Tvalone opened #5448 "Does not discover service"
Working thru the documentation using Visual Studio 2017. I can create and run the WCF service and perform the hello test with getdata. However when I create the windows form app paste the url and click go then click discover I get

There was an error downloading 'http://localhost:55706/Service1.svc/$metadata'.
Unable to connect to the remote server
No connection could be made because the target ma

[2020-06-08 21:01] WilliamAntonRohm commented on #5443
@MaDnKount-r -- thank you for your feedback.  I am re-opening the original issue #1657, and closing this issue as a duplicate.

[2020-06-08 23:30] TerryGLee commented on #5383
@duaneking Following up with you... I can repro the issue that you reported; I downloaded the open-dyslexia font and installed it. While I can get that font to work in other Microsoft products (such as Word, Excel, PowerPoint, etc.), I cannot get it to work in Visual Studio.

So, this is indeed product feedback that we need to get to the product team, and the best way to do that is by using the "S

[2020-06-08 23:30] #5383 closed

[2020-06-09 00:50] WilliamAntonRohm commented on #5443
@MaDnKount-r -- thank you for your question.  We are looking into it.

Meanwhile, please see [Troubleshooting Visual Studio installation and upgrade issues](https://docs.microsoft.com/visualstudio/install/troubleshooting-installation-issues) for step-by-step guidance.​

We also offer a [Live Chat](https://visualstudio.microsoft.com/vs/support/#talktous) (English only) support option for installati

[2020-06-09 04:12] ghogen commented on #5240
According to the engineering team, yes, there are some environment variables, but these are intentionally not documented. They are created when behavior that is not thought to be significant is changed and we provide a way (by setting an environment variable) to return to the previous behavior if a compatibility scenario requires it.  Users can find these variables in the open source code, but I w

[2020-06-09 04:12] #5240 closed

[2020-06-09 04:13] swesonga commented on #5440
Note that the nesting implementation controlled by turning on the _Enable Configurable File Nesting_ feature flag does not have “Web” rules. Instead, the _Default_ nesting configuration for all SDK-style projects now contains the "Web" rules that were in the ASP.NET nesting implementation.

[2020-06-09 05:54] Nirmal4G commented on #5240
There is a general use case. i.e. Debugging.

MSBuild is not a predictable software. So we need certain env Variables to be set when debugging it. Searching in Docs is way easier than searching in the source code.

[2020-06-09 07:09] #3578 closed

[2020-06-09 10:46] aravindsamy33 commented on #5444
@Mikejo5000 any solution for this issue ?

[2020-06-09 11:12] Eliador opened #5452 "$ext_projectname$ as the value of the custom property didn't work"
I trying to create VS Template with several projects.
And in progress, I collided with problem related to the $ext_projectname$ template property by using it as Value of the custom property.

Here is a simple example of my issue: [TemplateExtPropertyIssue.zip](https://github.com/MicrosoftDocs/visualstudio-docs/files/4751675/TemplateExtPropertyIssue.zip)

As you can see I create a custom property T

[2020-06-09 12:54] ghogen commented on #5423
The purpose of the Label attribute is to allow you to express the intent of an ItemGroup, to make project files more readable and understandable. It is not used in MSBuild target files to control any build behavior.  What arguments are you having about this?

In principle, it is another available value that could be used to control behaviors, but that is not its primary intended purpose.

[2020-06-09 13:38] ghogen commented on #4230
The preferred separator is semicolon, but comma is supported for historical reasons. If it's not showing in Visual Studio, that may be a bug in Visual Studio.

[2020-06-09 13:38] #4230 closed

[2020-06-09 13:39] ghogen commented on #4230
Thanks for the feedback.  I sent the feedback to the Visual Studio engineering team to see if there's an issue there.

[2020-06-09 13:44] #4340 closed

[2020-06-09 13:49] ghogen commented on #3751
The info about the registry was out-of-date and I removed that.

[2020-06-09 13:52] #3751 closed

[2020-06-09 15:06] Nirmal4G commented on #5240
@ghogen

[2020-06-09 15:06] Nirmal4G commented on #5240
There is a general use case. i.e. Debugging.

MSBuild is not a predictable software. So, we need certain env Variables to be set when debugging it. Searching these in the Docs is way easier than searching in the source code.

[2020-06-09 15:51] Mikejo5000 commented on #5444
@aravindsamy33 What kind of project are you using, and what version of Visual Studio?

[2020-06-09 16:05] Mikejo5000 commented on #5444
I took a quick look at .NET Framework, .NET Core, ASP.NET, ASP.NET Core, and UWP, and they all have either the Application or Package tab in the project properties page.

[2020-06-09 16:10] #4320 closed

[2020-06-09 16:18] Mikejo5000 commented on #5325
@Duranom Do you have a link to info on a new project format? I've checked the release notes, and I don't see anything. Thanks.

[2020-06-09 16:44] Mikejo5000 commented on #5190
@AmazinJacks I'll add that info. You could use the Publish Wizard after making that change?

[2020-06-09 16:46] WilliamAntonRohm commented on #5443
@ornellaalt -- Ornella, please look into this potential documentation issue.

[2020-06-09 16:55] Duranom commented on #5325
Sorry for late response. I mean that the nsproj that is being created uses an old way to define files and folders in the structure unlike projects created for .net core which includes all code files immediately. This means if you use this way to create and/or manage a Vue.js project and you collaborate with developers who use edit or add files in another way can result in Visual Studio not showing

[2020-06-09 17:17] WilliamAntonRohm commented on #5448
@Tvalone -- thank you for your feedback.  Are you reading a particular docs.microsoft.com article?  Meanwhile, please consider these resources:
- [https://social.msdn.microsoft.com/Forums/vstudio](https://social.msdn.microsoft.com/Forums/vstudio)
- [https://www.stackoverflow.com](https://www.stackoverflow.com)
- [https://www.reddit.com/r/VisualStudio/](https://www.reddit.com/r/VisualStudio)

As we

[2020-06-09 17:20] WilliamAntonRohm commented on #5452
@Eliador -- thank you for your feedback. It looks like you're having an issue with the product itself, rather than an issue with the documentation. Here are a few options you might consider:​

- [https://social.msdn.microsoft.com/Forums/vstudio](https://social.msdn.microsoft.com/Forums/vstudio)
- [https://www.stackoverflow.com](https://www.stackoverflow.com)
- [https://www.reddit.com/r/VisualStudi

[2020-06-09 17:20] #5452 closed

[2020-06-09 17:20] Mikejo5000 commented on #5325
OK, thanks for the clarification. Yes, .NET Core uses a newer project format. This would require some updates to the product to support something similar for nsproj. If you don't mind, would you please use our new “Suggest a feature” option in the [Visual Studio Developer Community](https://developercommunity.visualstudio.com/spaces/8/index.html).
If the workaround doesn't fully resolve the issue,

[2020-06-09 17:20] #5325 closed

[2020-06-09 17:40] Mikejo5000 commented on #5134
Updating doc. Thanks!

[2020-06-09 17:54] #5134 closed

[2020-06-09 18:15] evanwindom commented on #5249
Merging a PR to replace one image and remove one.
#please-close

[2020-06-09 18:15] #5249 closed

[2020-06-09 18:23] RobLSDev commented on #2958
I think .NET Standard support should now be listed as in preview as well.

[2020-06-09 20:07] Tvalone commented on #5448
Thanks yes I was reading

https://docs.microsoft.com/en-us/visualstudio/data-tools/walkthrough-creating-a-simple-wcf-service-in-windows-forms?view=vs-2019

I am using VS2017. Not sure if that matters. What is skipped is the fact that you need to add two projects to the solution. Then of course this enables the client to discover the Service.  It is just not spelled out for people like me!

From: W

[2020-06-09 20:53] WilliamAntonRohm commented on #5360
@hnabbasi -- Hussain, are you referring to information in a specific docs.microsoft.com article?  If so, please provide the article's URL.

@cobey -- Cody, my research indicates that is still the current location but I don't have a Mac for a live test.  Is there a newer snippets location?

[2020-06-09 21:29] v-kydela opened #5455 "How can an attacker run malicious code during deserialization?"
If an attacker writes a C# class that's meant to run malicious code on your machine and includes the name of that class in the JSON, doesn't your machine only get the class name and not the code? Can't Newtonsoft only use type information for deserialization if the type has been loaded in the .NET runtime? How could malicious code be run if the code hasn't been transferred to the target machine?

[2020-06-09 21:48] WilliamAntonRohm commented on #5448
@Tvalone -- thank you for clarifying.

@ghogen -- please look into this issue.

[2020-06-09 21:59] WilliamAntonRohm commented on #5455
@v-kydela -- Kyle, thank you for your questions.  Please consider these resources:
- [https://social.msdn.microsoft.com/Forums/vstudio](https://social.msdn.microsoft.com/Forums/vstudio)
- [https://www.stackoverflow.com](https://www.stackoverflow.com)
- [https://www.reddit.com/r/VisualStudio/](https://www.reddit.com/r/VisualStudio)

@dotpaul -- Paul, please look into this issue.

[2020-06-09 22:21] Mikejo5000 commented on #5097
Asking about this now.

[2020-06-09 22:28] Mikejo5000 commented on #4985
Looks like interfaces are not currently mentioned in the doc, so it seems OK to me not to add any new information for this.

[2020-06-09 22:28] #4985 closed

[2020-06-09 22:35] dotpaul commented on #5455
Hi @v-kydela, your understanding of only type names appearing in serialized data is correct; an attack involves types that are already available to the attacked process.

[2020-06-09 22:38] Mikejo5000 commented on #5033
Updating doc.

[2020-06-09 22:42] Mikejo5000 commented on #5033
@Evangelink Is the configurability new starting in FxCop 3.0.0?

[2020-06-09 23:07] v-kydela commented on #5455
@dotpaul - The article says "An attack against an insecure deserializer could, for example, execute commands on the underlying operating system, communicate over the network, or delete files."

Are there any builtin .NET types that could be used to do that just by being constructed during deserialization?

[2020-06-09 23:23] Mikejo5000 commented on #5097
@daviddetweiler  From the product team:

For fastlink PDB, msdia140.dll will locate the relevant OBJs or LIBs (for the case where OBJ comes from static LIB) and find debug records for CompilandDetails.

But msdia140.dll won’t accept a generic query on fastlink PDB.  For example, if client is asking for CompilandDetails info for all the OBJs/LIBs that contribute to the binary, msdia140.dll would re

[2020-06-09 23:28] dotpaul commented on #5455
Yep, there are.

[2020-06-09 23:29] daviddetweiler commented on #5097
Thanks!

[2020-06-09 23:29] #5097 closed

[2020-06-09 23:52] #5033 closed

[2020-06-10 00:36] MichaelMacc opened #5457 "Documents are not accurate on how to activate account"
On the page for activating your windows developer account for visual studio, it says to click the link
https://developer.microsoft.com/ and then click signup. In the picture it shows Signup being part of a Store menu selection.

there is no such selection on it and no where to click sign up. Can you please update how you would do this please?

---
#### Document Details

⚠ *Do not edit this section

[2020-06-10 02:42] #5369 closed

[2020-06-10 03:44] kamyker commented on #5433
I've managed to get it working in Unity using https://github.com/tertle/com.bovinelabs.analyzers, could be added to docs.

[2020-06-10 08:38] ericmutta commented on #5134
Many thanks @Mikejo5000 :+1:

[2020-06-10 09:48] AmazinJacks commented on #5190
No.  I was eventually able to figure out how to get Publish Wizard and ClickOnce to work for web apps, but I was never able to figure out how to make it work for Unity apps and eventually wrote my own updater.

[2020-06-10 12:34] IanKemp opened #5459 "Add examples of using wildcards, and the DeletedFiles parameter"
As per title.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 22b02536-b99d-e0f5-165c-40c041b2178d
* Version Independent ID: 721b076f-0bab-642a-3754-fa7a2ad8f474
* Content: [Delete Task - Visual Studio](https://docs.microsoft.com/en-gb/visualstudio/msbuild/delete-task?view=vs-2019)
* Content Source: [docs/msbuild/delete

[2020-06-10 19:24] rainersigwald opened #5461 "[MSBuild] "Overridden tasks" is misleading or wrong"
It's possible to override a task that is defined in the default `Microsoft.Common.tasks` definitions (for example, one that is shipped with MSBuild):

![image](https://user-images.githubusercontent.com/3347530/84309528-db52d580-ab25-11ea-9288-190d7594f277.png)

So this is bogus:

I'm not sure what's right. I think it's

1. overridetasks
2. project file
3. default `.tasks`

but let's not commit to

[2020-06-10 19:31] elimuhub opened #5462 "Install Visual Studio"
[Install Visual Studio]

---
#### Install Visual Studio on android @tommorris

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9dd4d05c-4aa3-0376-f3a1-b0ea0793f482
* Version Independent ID: 7f1ff943-61b0-60e1-9ca3-d4a84bfdb068
* Content: [Install Visual Studio](https://docs.microsoft.com/en-us/visualstudio/install/install-visual-studio?view=vs-201

[2020-06-10 23:23] Mikejo5000 commented on #5455
@dotpaul Is there any doc clarification needed for this? Otherwise, I will close it.

[2020-06-10 23:25] #5332 closed

[2020-06-10 23:27] dotpaul commented on #5455
@Mikejo5000 no doc updates need. Thanks!

[2020-06-10 23:37] Mikejo5000 commented on #5455
Great, thx!

[2020-06-10 23:37] #5455 closed

[2020-06-11 00:06] WilliamAntonRohm commented on #5462
@elimuhub -- it looks like you’re having an issue with installation. If your Visual Studio installation fails, see [Troubleshooting Visual Studio installation and upgrade issues](https://docs.microsoft.com/visualstudio/install/troubleshooting-installation-issues) for step-by-step guidance.​

We also offer a [Live Chat](https://visualstudio.microsoft.com/vs/support/#talktous) (English only) support

[2020-06-11 00:06] #5462 closed

[2020-06-11 05:09] zspitz commented on #5332
@Mikejo5000 Any way I can see a diff of the changes?

[2020-06-11 07:05] aravindsamy33 commented on #5444
@Mikejo5000 i am using ASP.NET web application. Using Visual Studio 2017
i can see below options in properties page
![image](https://user-images.githubusercontent.com/66587314/84355267-eff3a400-abdf-11ea-8b47-f6e518245fca.png)

[2020-06-11 07:08] mayi-ask opened #5464 "Can I modify the default remote output directory?"
Whenever I build a new Linux project, the remote output directory set to "~/projects", I need to modify it every time. It's inconvenient.

[2020-06-11 12:56] robsoft opened #5465 "VS Templates - Mac templates a subset of Windows ones"
It's still the case that even having installed everything, and 'updated' the templates with
**dotnet new --update** (etc)....
the Mac thinks the templates are complete and up to date but there are some missing that are in the current Windows version, particularly with respect to Core ASP.Net, Razor type projects.

This is also true with some of the 'Add New.... Controller' and Razor stuff once you

[2020-06-11 15:35] Mikejo5000 commented on #5332
Yes, as soon as it goes live, which should be by noon today. Changes are in the create-custom-visualizers-of-data.md and how-to-install-a-visualizer.md. You can check the history for those topics.

[2020-06-11 16:50] Mikejo5000 commented on #5444
I see those properties for some ASP.NET Web Site templates in VS 2017, but I don't see them for any templates in VS 2019. So, it looks like that particular template was deprecated/removed. It doesn't include a project file, so no MSBuild integration. There's a possible workaround described here: https://stackoverflow.com/questions/4068360/c-sharp-warning-mark-assemblies-with-neutralresourceslangua

[2020-06-11 16:51] Mikejo5000 commented on #5444
You might also want to use the [Report a Problem](https://docs.microsoft.com/visualstudio/ide/how-to-report-a-problem-with-visual-studio) tool to report the issue. When you do this, your report becomes part of the work items that are listed in the in the [Visual Studio Developer Community](https://developercommunity.visualstudio.com/spaces/8/index.html), which allows you to engage directly with th

[2020-06-11 18:51] WilliamAntonRohm commented on #5464
@mayi-ask -- Mayi, thank you for your question.  Please clarify the docs.microsoft.com article you are reading.  Meanwhile, please consider these resources:
- [https://social.msdn.microsoft.com/Forums/vstudio](https://social.msdn.microsoft.com/Forums/vstudio)
- [https://www.stackoverflow.com](https://www.stackoverflow.com)
- [https://www.reddit.com/r/VisualStudio/](https://www.reddit.com/r/VisualS

[2020-06-11 18:54] WilliamAntonRohm commented on #5465
@robsoft -- Rob, it looks like you have product feedback rather than documentation feedback. If you are looking for functionality that isn’t currently provided by the product, please use our “Suggest a feature” option in the [Visual Studio Developer Community](https://developercommunity.visualstudio.com/). We’d be happy to have this on record, where others can view it and upvote it, too. For more

[2020-06-11 18:54] #5465 closed

[2020-06-11 20:26] Mikejo5000 commented on #5332
https://github.com/MicrosoftDocs/visualstudio-docs/commit/e2ed44c7a9bf463f68a261562d00ca0697270015#diff-234817d7e925d10670ca74586ed5ef78

and

https://github.com/MicrosoftDocs/visualstudio-docs/commit/e2ed44c7a9bf463f68a261562d00ca0697270015#diff-30adef46d3a9f3cc3bb5f2ab80035d3e

[2020-06-11 21:18] Mikejo5000 commented on #5034
Updating doc

[2020-06-11 21:20] Mikejo5000 commented on #5035
Updating doc

[2020-06-11 21:25] #1487 closed

[2020-06-11 21:27] Mikejo5000 commented on #5036
Looks like dotnet/roslyn-analyzers#3083 was closed as partially redundant.

[2020-06-11 21:27] #5036 closed

[2020-06-11 21:28] #5034 closed

[2020-06-11 21:28] #5035 closed

[2020-06-11 21:30] Mikejo5000 commented on #5037
dotnet/roslyn-analyzers#3360 is approved but note merged yet. @Evangelink Do you know what analyzer version this will get shipped in?

[2020-06-11 22:11] Mikejo5000 commented on #5234
@Evangelink How does this look?

### Exclude indirect base types

Starting in version 3.0.0 of the analyzers, you can configure whether to exclude indirect base types from the rule. By default, this rule is set to true, which restricts analysis to the current base type.

[code]

[2020-06-12 06:49] aravindsamy33 commented on #5444
@Mikejo5000 thank you for letting me know this.

[2020-06-12 08:52] Evangelink commented on #5234
@Mikejo5000 LGTM. It might be useful to indicate that this is a breaking change compared to behavior of previous versions. I don't know how you usually represent such breaking change.

[2020-06-12 08:53] Evangelink commented on #5037
Next one but I am not sure how things will be done. Tagging @mavasani as he will have the answer (could you proceed with the merge too please?).

[2020-06-12 08:55] Evangelink commented on #5035
@Mikejo5000 I can see the ticket closed but I cannot find the associated PR and as far as I can see the doc page is not (yet) updated.

[2020-06-12 08:56] Evangelink commented on #5034
@Mikejo5000 I can see the ticket closed but I cannot find the associated PR and as far as I can see the doc page is not (yet) updated.

[2020-06-12 08:57] Evangelink commented on #5036
Yes you are right, I forgot to close this ticket! Thanks

[2020-06-12 16:16] Mikejo5000 commented on #5034
@Evangelink Right, We are required to do PRs on the private repo, so the link to the PR can't be seen. The linked issue gets auto-closed when the PR is merged to master. I see that the change isn't live yet, it should go live by noon today (we publish twice daily). Please let me know if we need any changes.

[2020-06-12 16:44] Mikejo5000 commented on #5444
Closing this as a support request vs. a doc issue

[2020-06-12 16:44] #5444 closed

[2020-06-12 17:38] CeciAc opened #5469 "VERY USELESS THINGS"
I moved this from here: https://github.com/MicrosoftDocs/visualstudio-docs.it-it/issues/16
The comments below were machine-translated

@enzonoseda commented 12 hours ago
In so many years of programming, I have always wondered what these bogus examples of "how to make a program" useless because "console" applications are useless. Unnecessary because in this way people who would like to learn someth

[2020-06-12 17:43] TerryGLee commented on #4377
@StevenTCramer Thank for your feedback; we always appreciate information that helps us improve our documentation.

For this specific GitHub Issue, to make it actionable, we'd need a little more information about which defaults are missing, and perhaps some more context around your general task. We've requested such but haven't heard back, and so we'll close this issue for now.

Please feel free to

[2020-06-12 17:43] #4377 closed

[2020-06-12 19:24] Ur-Average-Programmer opened #5470 "Migrating SSIS Projects From Visual Studio 2008 to Visual Studio 2019"
In relation to this page, I'm seeking support and/or helpful guidance on what my options are in terms of migrating SSIS packages created in projected developed in Visual Studio 2008 to Visual Studio 2019.

Any help would be greatly appreciated. Is it at all feasible? If so, how? Is there documentation or reference guide or online support that can be leveraged to perform this kind of migration? Is

[2020-06-12 19:55] Mikejo5000 commented on #1979
Updating doc for VS 2019. Adding links to troubleshooting info as well.

[2020-06-12 20:16] ghogen commented on #4770
@shahabhijeet There's a [new doc](https://docs.microsoft.com/visualstudio/msbuild/build-process-overview) now that describes the MSBuild process, which includes information on when such things as item lists are evaluated.  When an ItemGroup is at the top level (not in a target), it gets evaluated during one of the initial evaluation phases, before any targets are run.  As such, yes, it includes th

[2020-06-12 20:41] ghogen commented on #5423
@chris-sekira It turns out that the Label attribute *is* used to control some build behaviors. It's used in C++ build system, and in certain non-SDK builds for .NET projects. The next update for this article will reflect this.

[2020-06-12 20:43] #5423 closed

[2020-06-12 20:47] ghogen commented on #5182
I think we'll need to close this as a documentation issue, as you'll need to investigate or work with support to figure out what the root cause it. Thanks.

[2020-06-12 20:47] #5182 closed

[2020-06-12 21:12] WilliamAntonRohm commented on #5469
@CeciAc -- Cecilia, thank you for forwarding this issue.  Please convey the following to @enzonoseda (machine-translated):

@enzonoseda, grazie per il suo suggerimento dettagliato. Per aggiungere questo, utilizzare l'opzione "Suggerisci una funzionalità" nella [Visual Studio Developer Community](https://developercommunity.visualstudio.com/). Saremmo felici di averlo registrato, dove gli altri poss

[2020-06-12 21:12] #5469 closed

[2020-06-12 21:59] WilliamAntonRohm commented on #5470
@Ur-Average-Programmer -- thank you for your questions.

Visual Studio 2008 is no longer supported.  See [Visual Studio Product Lifecycle and Servicing](https://docs.microsoft.com/en-us/visualstudio/releases/2019/servicing).

Please consider downloading the [latest preview](https://visualstudio.microsoft.com/vs/preview/) of Visual Studio and [latest version](https://www.microsoft.com/en-us/sql-ser

[2020-06-12 21:59] #5470 closed

[2020-06-12 23:41] #1979 closed

[2020-06-13 01:45] avbhardwaj opened #5473 "Typo in the documentation"
Maybe a typo
![cap](https://user-images.githubusercontent.com/21962284/84557065-9624d400-acdc-11ea-902b-367eb6993a1b.png)
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 73356ab4-87d3-09fb-557f-4533fc133156
* Version Independent ID: ce5ed4b4-1406-9126-832a-ddcdc5cf25bc
* Content: [Microsoft Azure benefit](https://docs.mi

[2020-06-13 23:28] as-srandall commented on #5067
I'm getting exactly the same issue when I'm editing razor pages in a Blazor server solution. Happens multiple times a day. Result is that it keeps trying to run task in the background that never finish and slow down VS. I'm running the latest VS update:

Microsoft Visual Studio Community 2019 Preview
Version 16.7.0 Preview 2.0

StreamJsonRpc.ConnectionLostException : The JSON-RPC connection with t

[2020-06-14 14:11] zspitz commented on #5346
I've implemented [this](https://github.com/zspitz/Periscope.Debuggee/blob/master/SubfolderAssemblyResolver.cs).

[2020-06-15 08:00] NerdToMars opened #5475 "open files with encoding"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 20c2f00d-6b28-2d09-9ab2-804b9c656794
* Version Independent ID: 2ebbc9a7-eeec-8788-68ea-5dcba844c5de
* Content: [How to: Save and open files with encoding - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/ide/how-to-save-and-open-files-wit

[2020-06-15 08:00] #5475 closed

[2020-06-15 10:22] thelosslessone opened #5476 "Error List scope filter"
Is it possible to have a filter that responds to "Scope to This" from Solution Explorer in dropdown list on the left side ( Entire Solution, Current Project, ... )?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 619b7785-c2cb-c582-6478-debc1d5e40d6
* Version Independent ID: 91e701f2-a959-e25b-d9cc-48d0b4e8ba50
* Conten

[2020-06-15 10:44] theatricshrink commented on #4629
Has someone figured that one out? I have exactly the same problem in a Win2019 Docker Cotainer when installing VS2019. Tried setting the proxy variables in various places (docker build argument, HTTP_PROXY env, netsh...) and it's not picked up correctly.

[2020-06-15 13:26] evanwindom commented on #5473
@avbhardwaj  -  Thank you for bringing our attention to the error.  I have submitted a PR to correct the typo.

[2020-06-15 16:01] egmkang opened #5477 ".NET Async profiler always Loading Data"
[Enter feedback here]
![image](https://user-images.githubusercontent.com/65175/84679783-4e17e280-af64-11ea-924e-3810b811c9d6.png)

![image](https://user-images.githubusercontent.com/65175/84679923-815a7180-af64-11ea-8069-fdf472583f68.png)

always Loading Data.
i never saw the profiling result....

how can i solve this problem.

thanks a lot

---
#### Document Details

⚠ *Do not edit this section.

[2020-06-15 21:59] WilliamAntonRohm commented on #5476
@thelosslessone -- it looks like you have product feedback rather than documentation feedback. If you are looking for functionality that isn’t currently provided by the product, please use our “Suggest a feature” option in the [Visual Studio Developer Community](https://developercommunity.visualstudio.com/). We’d be happy to have this on record, where others can view it and upvote it, too. For mor

[2020-06-15 21:59] #5476 closed

[2020-06-15 22:02] WilliamAntonRohm commented on #5477
@egmkang -- thank you for your question. It looks like you're having an issue with the product itself, rather than an issue with the documentation. Here are a few options where you might consider asking your question:​

- [https://social.msdn.microsoft.com/Forums/vstudio](https://social.msdn.microsoft.com/Forums/vstudio)
- [https://www.stackoverflow.com](https://www.stackoverflow.com)
- [https://w

[2020-06-15 22:02] #5477 closed

[2020-06-16 05:17] ccc0122000 opened #5480 "出問題"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7254052d-2d37-509e-e6c8-d5674ea775ca
* Version Independent ID: a2acc423-07d3-409c-7de1-21dd88e3cdcd
* Content: [Report a problem: States and FAQ - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/ide/report-a-problem?view=vs-2019#faq)
* Co

[2020-06-16 06:30] SLdragon commented on #4735
Hi, team, any update about why ILanguageClientCustomMessage not work?

[2020-06-16 06:42] Dylan-zhu opened #5481 "The SignTask can't support all file types."
[Enter feedback here]
The SignTask can't support all file types. For now, it seems that the task only supports exe and dll. Please add more to the usage conditions about SignTask.
Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c09ffd23-115c-368b-c17f-7d3af54f0a67
* Version Independent ID: b640eb45-9978-0a9e-f8d

[2020-06-16 11:55] kaby76 commented on #4735
I just retested the code with ILanguageClientCustomMessage with version 16.5.1063 of the LSP client and protocol packages and 16.6.2 of VS2019. It still does not call the ILanguageClient constructor. But, I now finally get an output message in VS at the top indicating this:

    System.TypeLoadException: Method AttachForCustomMessageAsync in type LspAntlr.AntlrLanguageClient from assembly AntlrVSI

[2020-06-16 13:36] evanwindom commented on #5473
#please-close

[2020-06-16 13:36] #5473 closed

[2020-06-16 14:49] WaqasAthar opened #5484 "It should be "Release". and not "Release.""
Under configuration it says
The configuration that you are building, either "Debug" or **"Release."** whereas it should be "Release".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9dbdd881-dc08-3ff7-d7f4-f9fa9373ea9b
* Version Independent ID: 23ee268e-c6fa-9420-3a8d-a52f81104da7
* Content: [Common MSBuild Project Prop

[2020-06-16 17:37] ghogen commented on #5484
@WaqasAthar Thanks - you can also contribute changes like this by clicking on the Edit button, editing the source in the browser, and then submitting the change using the buttons on that page.

[2020-06-16 17:38] WilliamAntonRohm commented on #5484
@WaqasAthar -- the existing punctuation is correct per the [Microsoft Style Guide](https://docs.microsoft.com/en-us/style-guide/punctuation/quotation-marks).

cc @ghogen for awareness

[2020-06-16 17:38] #5484 closed

[2020-06-16 17:58] SittenSpynne opened #5486 "The page has no resources regarding Visual Studio for Mac."
The only editor discussed is the version in Visual Studio for Windows. There's not even a "Mac" version in the drop-down on the side. I managed to find some documentation for VS for Mac, but I had to use Google, not MS's docs site, to find it.

This page should either walk through the VS for Mac XAML editor or link to portions of the site that do.

---
#### Document Details

⚠ *Do not edit this se

[2020-06-16 18:20] WilliamAntonRohm commented on #5480
@ccc0122000 -- for sign-in errors or for issues with the Feedback Tool in Visual Studio, please email us at vsfeedback@microsoft.com.

[2020-06-16 18:20] #5480 closed

[2020-06-16 21:51] LyalinDotCom commented on #5486
This documentation is for Visual Studio 2019 as indicated by the top-left version selector. I am not aware of any VS for Mac code editor documentation but we can at least link off to https://docs.microsoft.com/en-us/visualstudio/mac/xamarin?view=vsmac-2019 as a resource. Otherwise this is all by design right now.

[2020-06-16 23:03] luisquintanilla opened #5487 ".NET Project Debugging - Open as Project or Solution"
When working with a .NET project in Visual Studio, you have to Open as Project or Solution. Opening a folder, setting it as Startup item and running it won't work.

Choose either:

1. **File > Open > Project/Solution**
2. **Ctrl** + **Shift** + **O**
3. On launch screen *Open a project or solution*

  ![image](https://user-images.githubusercontent.com/46974588/84836404-afdb5980-b003-11ea-9cfb-7e69

[2020-06-17 01:10] OliaG opened #5489 "WinForms and WPF .NET Core designer experiences do not support DataSources Window at this moment"
For  the new .NET Core designers (both WPF and Windows Forms) the DataSources Window functionality has not been supported yet, so the experience is disabled at least for now. We need toadd the note about it in the documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f3411a8-f68c-9612-1b59-3b8db4c1556b
* Versi

[2020-06-17 02:37] RocketCityElectromagnetics opened #5490 "RegEx Capture Group Enumeration Not Working"
I am using MSVS 2019.  I try the exact example for using capture groups for the replace string in search and replace, and it does not work, and yes, I have RegEx ticked.  It is not liking assignment of a number to the regex capture group (the regex turns red).

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2020-06-17 06:50] TerryGLee commented on #5486
@SittenSpynne We've added two Mac links to the **[See also](https://docs.microsoft.com/en-us/visualstudio/xaml-tools/xaml-code-editor?view=vs-2019#see-also)** section that should help. We appreciate your helping us to improve the documentation!

[2020-06-17 06:50] #5486 closed

[2020-06-17 14:06] chris-sekira commented on #5423
@ghogen Awesome, thanks for the update!

[2020-06-17 15:02] nu8 opened #5491 "Cannot change SDK location"
If I run this:

[code]

Visual Studio is installed where expected, but the SDK is still installed to:

[code]

[2020-06-17 17:50] WilliamAntonRohm commented on #5491
@nu8 -- Steven, it looks like you’re having an issue with installation. If your Visual Studio installation fails, see [Troubleshooting Visual Studio installation and upgrade issues](https://docs.microsoft.com/visualstudio/install/troubleshooting-installation-issues) for step-by-step guidance.​

We also offer a [Live Chat](https://visualstudio.microsoft.com/vs/support/#talktous) (English only) supp

[2020-06-17 17:50] #5491 closed

[2020-06-17 17:54] gewarren opened #5494 "Typo in release notes"
---
**Issue moved from MicrosoftDocs/feedback#2852**
- Please respond to @msivia.

---

_From @msivia on Thursday, June 11, 2020 4:35:19 PM_

Typo in [Visual Studio 2019 version 16.6 Release Notes](https://docs.microsoft.com/en-us/visualstudio/releases/2019/release-notes#16.6.2)

Typo in [IntelliSense shows that "tilde-slash" (~/) points to ASP .NET Core 3.1 project root **instread** of wwwroot su

[2020-06-17 18:03] WilliamAntonRohm commented on #5490
@RocketCityElectromagnetics -- thank you for your feedback.  I have tested the example and it is working on my machine.  Please double-check the characters in your search and replace strings, and consider these resources:
- [https://social.msdn.microsoft.com/Forums/vstudio](https://social.msdn.microsoft.com/Forums/vstudio)
- [https://www.stackoverflow.com](https://www.stackoverflow.com)
- [https:/

[2020-06-17 18:03] #5490 closed

[2020-06-17 18:20] TerryGLee commented on #5494
@JaquelineWiddis FYI on this

[2020-06-17 18:27] WilliamAntonRohm commented on #5481
@ghogen -- Gordon, please review [private PR 6743](https://github.com/MicrosoftDocs/visualstudio-docs-pr/pull/6743).

[2020-06-17 18:37] JacquelineWiddis commented on #5494
A PR with the fix has been submitted.

From: Terry G. Lee <notifications@github.com>
Sent: Wednesday, June 17, 2020 11:21 AM
To: MicrosoftDocs/visualstudio-docs <visualstudio-docs@noreply.github.com>
Cc: Jacqueline Widdis <Jacqueline.Widdis@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/visualstudio-docs] Typo in release notes (#5494)

@JacquelineWiddis<https://na

[2020-06-17 18:53] TerryGLee commented on #5494
The PR is processed and the fix is live.
@msivia Thanks for helping us improve the documentation!
Closing this issue, now.

[2020-06-17 18:53] #5494 closed

[2020-06-17 19:22] gewarren opened #5495 "Visual Studio 2019 v16.6.1: Help missing for options dialogs"
---
**Issue moved from MicrosoftDocs/feedback#2828**
- Please respond to @SetTrend.

---

_From @SetTrend on Saturday, June 6, 2020 4:31:08 PM_

After updating to Visual Studio 2019 v16.6.1, again quite a number of help pages are missing.

Please, don't publish a new Visual Studio version to public without having help pages for all options available at the ready.

[2020-06-17 20:26] castaoh opened #5496 "Unabled to Download CloudPilot Trial"
I wasn't able to download the free trial. When I clicked the link it requested access to AAD that an admin needs to provide. Raised this to the publisher, but no response. Also a couple of customers with VSO Enterprise MSDN or Cloud Subscription have the benefit available on https://my.visualstudio.com/benefits

[2020-06-17 22:01] myialine commented on #5067
I just got this issue while coding on Net Framework. It has been two days since I have updated Visual Studio:
Microsoft Visual Studio Enterprise 2019
Version 16.6.2

Microsoft .NET Framework
Version 4.8.03752

Error:

StreamJsonRpc.ConnectionLostException : The JSON-RPC connection with the remote party was lost before the request could complete.
   at async StreamJsonRpc.JsonRpc.InvokeCoreAsync(<U

[2020-06-17 23:12] WilliamAntonRohm commented on #5496
cc @evanwindom for awareness

[2020-06-17 23:18] evanwindom commented on #5496
@WilliamAntonRohm  - Please assign these to me, not to Caity.

[2020-06-17 23:19] evanwindom commented on #5496
@castaoh - Thanks for bringing this issue to our attention.  What link are you clicking to download the trial?

[2020-06-17 23:33] WilliamAntonRohm commented on #5496
@evanwindom -- thank you for clarifying.

[2020-06-18 01:13] WilliamAntonRohm commented on #5457
@evanwindom -- I am unable to assign this issue to you, and it requires an assignee.

[2020-06-18 01:14] evanwindom commented on #5457
Caity it is, then.

From: William Anton Rohm <notifications@github.com>
Sent: Wednesday, June 17, 2020 6:14 PM
To: MicrosoftDocs/visualstudio-docs <visualstudio-docs@noreply.github.com>
Cc: Evan Windom <Evan@reddoorcollaborative.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/visualstudio-docs] Documents are not accurate on how to activate account (#5457)

@evanwindom<https:

[2020-06-18 01:20] pouyapalmerbet opened #5499 "Cannot find "View their request and respond""
Hey guys,

I am trying to follow [MS instruction for this but](https://developercommunity.visualstudio.com/content/problem/1050843/visual-studio-enterprise-crashes-intermittenly.html) cannot find the "View their request and respond" to provide further information. I think either this doc is not up-to-date or there is something else missing. Appreciate if you could help with this.

Regards
Pouya

-

[2020-06-18 01:21] #5499 closed

[2020-06-18 04:01] LastWordSword opened #5500 "Gift wrapping the toy"
So I followed the tutorial, but now I'd like to be able to use the app, if nothing more than a proof of concept. How can I build an publish it to my own computer, such that it shows up alongside other programs, can be pinned to start, etc.

In other words, just a normal program.

[2020-06-18 08:09] SLdragon opened #5501 "Which workload is for JSON intellisense for Visual Studio?"
Hi, team,
I cannot find any document about which workload is for JSON intellisense, I want to enable or disable this workload, but I cannot find what workload is indeed for JSON.

[2020-06-18 14:25] castaoh commented on #5496
According to this link https://docs.microsoft.com/en-us/visualstudio/subscriptions/vs-cloudpilot

1 Includes: Not for Resale (NFR), FTE, Most Valuable Professional (MVP), Regional Director (RD), Microsoft Partner Network (MPN), Visual Studio Industry Partner (VSIP), Microsoft Certified Trainer, BizSpark, Imagine

But FTE VSO Subscriptions in the field aren´t available to get the benefit, for this

[2020-06-18 14:27] castaoh commented on #5496
According to this link https://docs.microsoft.com/en-us/visualstudio/subscriptions/vs-cloudpilot

1 Includes: Not for Resale (NFR), FTE, Most Valuable Professional (MVP), Regional Director (RD), Microsoft Partner Network (MPN), Visual Studio Industry Partner (VSIP), Microsoft Certified Trainer, BizSpark, Imagine

But FTE VSO Subscriptions in the field aren´t available to get the benefit, for this

[2020-06-18 15:05] evanwindom commented on #5496
@castaoh - Thank you for the additional context.  I walked through the process, and got the same result I believe you were talking about.  It looks like permission from an Azure Active Directory administrator within @microsoft.com is required.  Unfortunately, AppSource is unrelated to the offers provided through the Visual Studio subscriptions, so I don't have any solutions to offer you from our s

[2020-06-18 15:05] evanwindom commented on #5496
#please-close

[2020-06-18 15:05] #5496 closed

[2020-06-18 19:06] Dima11235813 opened #5502 "Would be great to have docs for the ms build commands that can be used in Azure Dev ops pipeline tasks"
Specifically looking for info around Ms Build CLI parameters
/p:WebPublishMethod
/p:PublishUrl
/p:PrecompileBeforePublish
/p:DeployOnBuild
/p:PackageAsSingleFile
/p:SkipInvalidConfigurations
/p:PackageLocation
/p:DeployDefaultTarget
/p:DesktopBuildPackageLocation
For example, which commands override other commands.

When I changed p:PackageAsSingleFile to false, it still produced a zip.

When I re

[2020-06-18 19:55] #5459 closed

[2020-06-18 21:16] WilliamAntonRohm commented on #5501
@SLdragon -- Renlong, thank you for your question.  Can you provide any link to a docs.microsoft.com article that got you here?  Meanwhile, please consider these resources:
- [https://social.msdn.microsoft.com/Forums/vstudio](https://social.msdn.microsoft.com/Forums/vstudio)
- [https://www.stackoverflow.com](https://www.stackoverflow.com)
- [https://www.reddit.com/r/VisualStudio/](https://www.redd

[2020-06-18 22:14] ghogen commented on #5502
Properties can come from the various SDKs and not necessarily from MSBuild itself, so these properties are specific to the project types you are building.

See https://docs.microsoft.com/en-us/visualstudio/msbuild/common-msbuild-project-properties?view=vs-2019 for a list of *MSBuild* frequently used properties, but I only see SkipInvalidConfigurations there, not the others.

[2020-06-19 00:59] TerryGLee commented on #5421
@dlibor It looks like this page is misleading when it mentions the "Visual Studio family." While including the word "family" was true in the past, it's no longer true since the advent of Visual Studio Code and Visual Studio Codespaces.

To answer your direct question: Visual Studio settings aren't shared with Visual Studio Code or Visual Studio Codespaces.

FYI: We've got a PR merged that removes

[2020-06-19 00:59] #5421 closed

[2020-06-19 01:05] WilliamAntonRohm commented on #5500
@LastWordSword -- thank you for your feedback.  Which docs.microsoft.com tutorial were you following?  Meanwhile, please consider these resources:
- [https://social.msdn.microsoft.com/Forums/vstudio](https://social.msdn.microsoft.com/Forums/vstudio)
- [https://www.stackoverflow.com](https://www.stackoverflow.com)
- [https://www.reddit.com/r/VisualStudio/](https://www.reddit.com/r/VisualStudio)

[2020-06-19 01:12] TerryGLee commented on #5495
Related issues:
https://github.com/MicrosoftDocs/visualstudio-docs/issues/5158
https://github.com/MicrosoftDocs/visualstudio-docs/issues/1090

[2020-06-19 01:42] filjan opened #5504 "Mac Visual Studio Community Project Template File Location"
I have Mac Visual Studio 2019 installed but these folders are not on my computer

rm -rf ~/Library/Application\ Support/VisualStudio
rm -rf ~/Library/Application\ Support/VisualStudio/7.0/LocalInstall/Addins/
rm -rf ~/Library/Application\ Support/VisualStudio/8.0/LocalInstall/Addins/

Is this incorrect? It would be nice to know where the Addins folder is located.

---
#### Document Details

⚠ *Do

[2020-06-19 02:10] SLdragon commented on #5501
Thanks, from test we found the json intellisense is include in "Javascript and TypeScript language support" workload, and I think we can add some tips in this doc: https://docs.microsoft.com/en-us/visualstudio/install/workload-component-id-vs-enterprise?view=vs-2019

[2020-06-19 03:29] SLdragon opened #5505 "Json validation in Visual Studio 2019 do not validate comments"
Comments in JSON are not an official standard, and Visual Studio cannot detect this.
For example in VS, when a JSON with some comments, it doesn't show error message:
![image](https://user-images.githubusercontent.com/5545529/85093633-62d3cf00-b21f-11ea-8f6e-2536516ce56d.png)

And in VSCode, it can detect this:
![image](https://user-images.githubusercontent.com/5545529/85093766-b514f000-b21f-11ea-

[2020-06-19 08:58] idegugli commented on #4969
Greetings,
I have the same problem: any solution for this issue?
Thanks.

[2020-06-19 10:17] ellwoods commented on #5067
I get this issue repeatedly, it seems to be regardless of framework which for me is usually .net 4.7.1 or one of the .net core LTS versions

Microsoft Visual Studio Enterprise 2019
Version 16.6.2

It was certainly doing it in earlier versions of VS recently.

[2020-06-19 18:52] WilliamAntonRohm commented on #5501
@SLdragon -- Renlong, thank you for clarifying.

@ornellaalt -- Ornella, please look into this issue.

[2020-06-20 00:06] LastWordSword commented on #5500
https://docs.microsoft.com/en-us/visualstudio/ide/tutorial-1-create-a-picture-viewer?view=vs-2019

I understand that best practices are being taught here, but the lack of instruction, and the Pri3 designation here, both seem very patronizing and belittling. This is not the way to attract authentic talent to the field. It all seems more like Mel's "pessimum", rather than optimum.
P;D

[2020-06-20 00:13] LastWordSword commented on #5500
If you'd like someone who has the potential to understand Kunuth, maybe you ought to understand the whole spirit of Christmas trees a bit better.

[2020-06-22 08:35] mikolka221 opened #5508 "Typo in MSBuild command-line reference"
In this case the file is appended: msbuild myfile.proj -l:FileLogger,Microsoft.Build;logfile=MyLog.log;append=true
In this case the file is appended: msbuild myfile.proj -l:FileLogger,Microsoft.Build;logfile=MyLog.log;append=false

Last line should be:
In this case the file is overwritten: msbuild myfile.proj -l:FileLogger,Microsoft.Build;logfile=MyLog.log;append=false

---
#### Document Details

[2020-06-22 16:12] ghogen commented on #5508
Are you sure this is a typo?  I haven't tried this out yet, but did you observe that the log is overwritten in this case?  There's also a line in the doc that says: "If you include the append switch, no matter whether it is set to true or false, the log is appended."

[2020-06-22 16:32] Mikejo5000 commented on #5505
@SLdragon That's a good idea and thanks for bringing it up. It doesn't appear to be a doc issue though, which is what we are tracking here. To make sure that this is logged in the right place, please use the [Report a Problem](https://docs.microsoft.com/visualstudio/ide/how-to-report-a-problem-with-visual-studio) tool to report the issue. When you do this, your report becomes part of the work item

[2020-06-22 16:32] #5505 closed

[2020-06-22 16:33] tobyhu87 commented on #3733
Hi @mmaier2307 ,

Can you please share your command line for creating your layout?  and If you still have the client machine where you install VS to; can you please run collect.exe to collect the setup logs?  The logs will tell us why your update failed.

Collect instructions:
1) Download collect.exe from the link https://aka.ms/vscollect
2) You may choose to save the tool for later use, or to run

[2020-06-22 16:49] ghogen commented on #5508
@mikolka221 Tests show that append=false still appends. I'm working on a change that clarifies the counter-intuitive behavior.

@rainersigwald Is this a product bug?  Shouldn't append=false mean the log is not appended, but overwritten?

[2020-06-22 17:02] rainersigwald commented on #5508
🤦‍♂️

That sure would make sense, yeah. Filed microsoft/msbuild#5452.

[2020-06-22 17:04] #5375 closed

[2020-06-22 18:40] #5489 closed

[2020-06-22 19:29] #5508 closed

[2020-06-22 21:45] WilliamAntonRohm commented on #5504
@filjan -- Filjan, thank you for your question.  Please consider these resources:
- [https://social.msdn.microsoft.com/Forums/vstudio](https://social.msdn.microsoft.com/Forums/vstudio)
- [https://www.stackoverflow.com](https://www.stackoverflow.com)
- [https://www.reddit.com/r/VisualStudio/](https://www.reddit.com/r/VisualStudio)

@heiligerdankgesang -- Dominic, please look into this issue.

[2020-06-22 22:02] WilliamAntonRohm commented on #5500
@LastWordSword -- thank you for your followup.

@ornellaalt -- please look into this issue.

[2020-06-23 06:31] mmaier2307 commented on #3733
Hey, thanks for the reply,

I used this command to create the layout (Version 16.1.6):

`vs_buildtools.exe --layout "C:\Users\Administrator\Desktop\vs_buildtools_2019" --lang en-US --includeRecommended --add Microsoft.VisualStudio.Component.Roslyn.Compiler --add Microsoft.Component.MSBuild --add Microsoft.VisualStudio.Component.CoreBuildTools --add Microsoft.VisualStudio.Workload.MSBuildTools --ad

[2020-06-23 15:01] Ayanmullick commented on #4484
AzAD signin to AzVM requires the M365 licenses to be on the same tenant as the subscription.
https://docs.microsoft.com/en-us/azure/active-directory/devices/howto-vm-sign-in-azure-ad-windows
Having to create a new tenant beats the purpose.

[2020-06-23 16:36] mbecker-msft opened #5512 "Typo: See also DDebug Multithreaded Applications -> See also Debug Multithreaded Applications"
Is:       "See also **D**Debug Multithreaded Applications"
Must: "See also Debug Multithreaded Applications"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f8d3d7f7-e999-dc4f-daec-3508189612ef
* Version Independent ID: 1ad560e5-7c79-3331-d87d-080bd781e5cd
* Content: [How to: Set a Thread Name in Managed Code - Visual S

[2020-06-23 16:50] #5512 closed

[2020-06-23 18:07] ornellaalt commented on #5500
Hi @LastWordSword, the priority designation for GitHub issues in our repo is based solely on number of page views for the page on which the issue was filed.

To answer your question, you can check out the Deployment in Visual Studio documentation [here](https://docs.microsoft.com/en-us/visualstudio/deployment/deploying-applications-services-and-components?view=vs-2019). There are a variety of diff

[2020-06-23 18:07] #5500 closed

[2020-06-23 18:18] ornellaalt commented on #5501
Thank you for your feedback @SLdragon. The components in the component directories for Visual Studio Enterprise, Community, Professional, etc are automatically generated for each release. I will include a note to the engineering team that we should specify JSON support in the Javascript and TypeScript language support description.

Closing out this issue.

[2020-06-23 18:18] #5501 closed

[2020-06-23 18:34] #5443 closed

[2020-06-23 18:36] TerryGLee commented on #5487
@luisquintanilla We appreciate your pointing this out. To address the issue, we changed the text that said "You can open code into Visual Studio in _any_ of the following ways" to "You can open code into Visual Studio in the following ways" -- and then we added a note to the list item that mentions opening code by using "the Open Folder link on the start window," which explains that this method ca

[2020-06-23 18:36] #5487 closed

[2020-06-23 22:26] gojimmypi opened #5514 "PropertyGroup Example - Missing Closing Tag"
[Enter feedback here]

last XML example on the page is missing a closing `/` for `<PropertyGroup>` and should look like this:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1a80e5d7-2db7-48c0-e8b6-ca8c3ff30017
* Version Independent ID: ad64635b-06d5-1b87-8f02-80cf25c12520
* Content: [MSBuild Target Framework an

[2020-06-24 02:57] SLdragon opened #5516 "JSON intellisense sometimes do not show all the error / warning messages in Visual Studio 2019"
When Open a JSON file with some error / warnings, sometimes Visual Studio 2019 do not show all the errors / warnings.

![image](https://user-images.githubusercontent.com/5545529/85493342-a38c6900-b5ce-11ea-8dbe-f73ca7defb9b.png)

Related issue:
https://github.com/microsoft/vs-dtdl-language-support/issues/6

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2020-06-24 14:14] jamiebarrow commented on #5092
I created a feature request here, feel free to upvote:
https://developercommunity.visualstudio.com/idea/1090914/solution-filter-should-allow-for-includeexclude-ba.html

[2020-06-24 15:43] Mikejo5000 commented on #5516
@SLDragon Thanks for your feedback; we appreciate it. This looks like a product issue. To make sure that this is logged in the right place, please use the [Report a Problem](https://docs.microsoft.com/visualstudio/ide/how-to-report-a-problem-with-visual-studio) tool to report the issue. When you do this, your report becomes part of the work items that are listed in the in the [Visual Studio Develo

[2020-06-24 15:43] #5516 closed

[2020-06-24 16:15] WilliamAntonRohm commented on #5092
@jamiebarrow -- James, thank you for your contribution.

[2020-06-24 16:34] TerryGLee commented on #3563
@aardvarkkrill Thanks for your feedback; we appreciate it. To address your feedback, we added a Note to the [Solutions and projects in Visual Studio](https://docs.microsoft.com/en-us/visualstudio/ide/solutions-and-projects-in-visual-studio?view=vs-2019) page that includes a link that lists some of the icons that you're looking for, as follows:

"To view a list of some of the icons that appear in S

[2020-06-24 16:34] #3563 closed

[2020-06-24 19:34] ghogen commented on #4766
@RobertAcksel The MSBuild API reference was very outdated - it hadn't been updated since MSBuild was separated from the .NET Framework several years ago.  We've now published the MSBuild reference for MSBuild 15 and 16 (.NET Framework and .NET Core versions).  The APIs are available in the .NET API Browser, and we're also updating the MSBuild API article (https://docs.microsoft.com/en-us/visualstu

[2020-06-24 19:37] ghogen commented on #4766
The updated version of the topic you referred to is here:
https://docs.microsoft.com/en-us/dotnet/api/microsoft.build.tasks.writelinestofile?view=msbuild-16
WriteOnlyWhenDifferent is there and should work.

[2020-06-24 19:51] #4766 closed

[2020-06-24 21:56] yanxiaodi opened #5519 "Can I use "Assign unique names" feature for Xamarin.Forms?"
Hi, there, I have a Xamarin.Forms project and the target platform is UWP. I try to use "Assign unique names" to create the automation Id but I cannot find **Name Interactive Elements.** in the **Tool** menu. Can I apply it for Xamarin.Forms? Thanks.

![image](https://user-images.githubusercontent.com/3395915/85631616-fa2a9d80-b6c9-11ea-9711-39362de25e8d.png)

---
#### Document Details

⚠ *Do not e

[2020-06-24 22:04] Linc2GitHub opened #5520 "What about Iron Python?"
Is Iron Python a viable option to build a standalone app working with VS 2019?
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 22ccada0-aa56-4952-5ba5-3c39137f41e4
* Version Independent ID: 083f73fd-0085-e8a3-d451-1e78ea172ad4
* Content: [Python support in Visual Studio on Windows](https://docs.mic

[2020-06-24 22:41] WilliamAntonRohm commented on #5520
@Linc2GitHub -- thank you for your question.  Please visit this link:
- https://stackoverflow.com/questions/54275820/how-to-install-iron-python-in-visual-studio

cc @JoshuaPartlow for awareness

I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2020-06-24 22:41] #5520 closed

[2020-06-24 22:44] ornellaalt commented on #3022
Hi @nzubair and @castellcoch, the information in the document is correct in that "You can apply your product key programmatically as part of a script that is used to automate the deployment of Visual Studio." Keys obtained via the Volume Licensing portal function equivalently to the keys found in subscriptions and can be used interchangeably. If you have feedback about the product, please submit i

[2020-06-24 22:44] #3022 closed

[2020-06-24 22:47] ornellaalt commented on #4636
Hi @ducttapecoder-vt and @Anton-V-K, I believe you are looking for information on how to update a network installation of Visual Studio. See [here](https://docs.microsoft.com/en-us/visualstudio/install/update-a-network-installation-of-visual-studio?view=vs-2019#deploy-an-update-to-client-machines) for how to deploy an update to client machines.

[2020-06-24 22:47] #4636 closed

[2020-06-24 22:55] WilliamAntonRohm commented on #5514
@ghogen -- Gordon, please review [private PR 6775](https://github.com/MicrosoftDocs/visualstudio-docs-pr/pull/6775).

[2020-06-24 22:59] #5514 closed

[2020-06-24 23:34] TerryGLee commented on #5278
@mrlacey As this issue has been reported as a bug with the product, it's not one with the documentation. Therefore, we'll close this now. Thank you though for your feedback!

[2020-06-24 23:34] #5278 closed

[2020-06-25 02:33] ornellaalt commented on #5432
Hi @AndreyMlashkin, thanks for your question. cl.exe is the MSVC compiler and would be included in any of the MSVC labelled components (e.g.  Microsoft.VisualStudio.Component.VC.Tools.x86.x64). There are many components like that available depending on which version or target you are looking for. MSBuild.exe would be in Microsoft.Component.MSBuild. For information about nmake.exe, see the referenc

[2020-06-25 02:33] #5432 closed

[2020-06-25 10:15] mrlacey commented on #5278
Sad this doesn't seem worth noting in the docs :(

[2020-06-25 16:29] #5464 closed

[2020-06-25 19:24] WilliamAntonRohm commented on #5519
@yanxiaodi -- Yan, thank you for your question. Please consider these resources:​

- [https://social.msdn.microsoft.com/Forums/vstudio](https://social.msdn.microsoft.com/Forums/vstudio)
- [https://www.stackoverflow.com](https://www.stackoverflow.com)
- [https://www.reddit.com/r/VisualStudio/](https://www.reddit.com/r/VisualStudio)

As well, you might also consider using the [Report a Problem](http

[2020-06-25 19:24] #5519 closed

[2020-06-25 20:02] billvolt opened #5525 "Visual Basic *does* implement this implicit ToString() evaluation."
Page states:  Visual Basic does not implement this implicit ToString() evaluation.
Actually:  Visual Basic does implement this implicit ToString() evaluation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 653452d1-1586-e971-1f6c-370a91be613f
* Version Independent ID: 348f41ea-994c-7ed2-7af5-77077f2b5696
* Content: [Di

[2020-06-25 22:44] WilliamAntonRohm commented on #5525
@billvolt -- thank you for your feedback.

@Mikejo5000 -- please review [private PR 6785](https://github.com/MicrosoftDocs/visualstudio-docs-pr/pull/6785).

[2020-06-25 23:57] #5525 closed

[2020-06-26 14:21] Good-man opened #5529 "Assemblies Missing From Code Coverage; Exhausted All Troubleshooting Steps"
I have a solution with 4 assemblies, 2 of them MS test assemblies, 1 dll and 1 exe (console app).  The DLL and its test assembly show up in code coverage results, but the exe does not even though I have passing test runs on that assembly.  I added the sample .runsettings file and commented out all exclusions, leaving only include all exe and dll.

I have tried all of the relevant troubleshooting s

[2020-06-26 17:51] #4762 closed

[2020-06-26 20:37] TerryGLee commented on #4483
@esapilearn To get Solution Explorer back, click **Window** > **Reset Window Layout** from the menu bar. I'll add this info to the page.

[2020-06-26 20:55] #4483 closed

[2020-06-26 21:22] WilliamAntonRohm commented on #5529
@Good-man -- Mark, thank you for your question.  Please consider these resources:​

- [https://social.msdn.microsoft.com/Forums/vstudio](https://social.msdn.microsoft.com/Forums/vstudio)
- [https://www.stackoverflow.com](https://www.stackoverflow.com)
- [https://www.reddit.com/r/VisualStudio/](https://www.reddit.com/r/VisualStudio)

You are welcome to use the [Report a Problem](https://docs.micros

[2020-06-26 21:22] #5529 closed

[2020-06-26 22:35] Mikejo5000 commented on #5234
Fix is live now

[2020-06-26 22:35] #5234 closed

[2020-06-26 22:42] Mikejo5000 commented on #4402
LoggerRunSettings was added to the doc in MicrosoftDocs/visualstudio-docs#5483

[2020-06-26 22:42] #4402 closed

[2020-06-27 12:11] sdg002 opened #5532 "How do I use the Immediate window in Visual Studio to print out Lists vertically during unit testing"
Hi All,
I have written some Python code and some unit tests. While debugging the unit tests , I felt the need to print out the content of some of the variables in the Immediate Window. This is something very commonly done in the C# world.

I found that the Immediate Window does not print out the results.

Consider the following scenario.
- I am debugging an unit test by launching a specific unit t

[2020-06-27 22:01] macrakis opened #5533 "Problems getting started"
I'm an experienced C, Lisp, and R coder, and can do basic things in Python and Javascript, but I'm new to Visual Studio (I'm an Emacs guy).
I tried to follow the Quickstart for Node.js. I installed the LTS Node.js.
I created a new Blank Node.js Web application project and made the edit.
When I tried to run the code, I was prompted to install something from Chocolatey, which I did. (Is there a log

[2020-06-28 01:47] SLdragon commented on #5516
Thanks, I put the issue here: https://developercommunity.visualstudio.com/content/problem/1093682/json-intellisense-sometimes-do-not-show-all-the-er.html

[2020-06-28 18:22] DeborahK opened #5534 "Mention that a breakpoint cannot be set on a declaration."
[Enter feedback here]
I received a notice from someone taking one of my courses that they could not set a breakpoint on this line of code:

public event EventHandler<string> EnrollmentFull;

I explained that one cannot set a breakpoint on a declaration unless it's being assigned a value or has a getter/setters. I then went to this documentation to provide a reference to back up my statement, and w

[2020-06-28 22:25] Mikejo5000 commented on #5533
@macrakis What version of Visual Studio are you using? Also, did you install the Node.js development workload?
Also, to make sure that this is logged in the right place (rather than the docs feedback page), please use the [Report a Problem](https://docs.microsoft.com/visualstudio/ide/how-to-report-a-problem-with-visual-studio) tool to report the issue. When you do this, your report becomes part of

[2020-06-28 23:09] macrakis commented on #5533
Thanks for the answer, and sorry for the misplaced bug report -- I'm still finding my way around the system. I reported this in the docs because one possible explanation for the problem is that the doc was missing some important step for setting up the environment.
I'm using Microsoft Visual Studio Community 2019, Version 16.6.2.
I reported additional problems in https://developercommunity.visuals

[2020-06-29 03:24] v4n5h4j opened #5535 "Unable to open Diff view with double click."
Point 4 (part 2): "Double-click a file in the Changes list to open a diff view for that file."

1.  Nothing happens on double clicking the modified file in Changes list. However, clicking "Compare with Unmodified" in the right click menu for the file does open Diff view.
![Untitled Project](https://user-images.githubusercontent.com/60320402/85969664-f6f32280-b9e5-11ea-8e1d-7d96b8b26713.gif)

**UPD

[2020-06-29 15:43] Mikejo5000 commented on #5533
Yes, a doc might could be out of date and needs a fix. I am planning to retest it. This doc has been updated for VS 2019 already though.

[2020-06-29 16:16] Mikejo5000 commented on #5534
@DeborahK Thanks for the feedback. I'll plan to update the doc.

[2020-06-29 19:23] LastWordSword commented on #5500
Thank you for directing me to some resources. "In these challenging times"
I may not be able to look them over immediately, but I'm presuming that
they're more than likely to be helpful.

On Tue, Jun 23, 2020 at 2:07 PM Ornella Altunyan <notifications@github.com>
wrote:

[2020-06-29 21:15] Mikejo5000 commented on #5534
Updating doc. Fix should be live around 5 PM.

[2020-06-29 22:30] Mikejo5000 commented on #5533
@macrakis I took a look at this. I can't repro the issue, so it is likely some condition in your project or your environment. However, I notice that in the developercommunity issue that you opened, the dependent npm packages that you mention are all included in the Node.js "Express" project templates (debug, express, serve-favicon, morgan, cookie-parser, body-parser, and pug), not the "Blank Node.

[2020-06-29 22:30] #5533 closed

[2020-06-29 22:31] WilliamAntonRohm commented on #5532
@sdg002 -- Saurabh, thank you for your question. It looks like you're having an issue with the product itself, rather than an issue with the documentation. Here are a few options where you might consider asking your question:​

- [https://social.msdn.microsoft.com/Forums/vstudio](https://social.msdn.microsoft.com/Forums/vstudio)
- [https://www.stackoverflow.com](https://www.stackoverflow.com)
- [h

[2020-06-29 22:31] #5532 closed

[2020-06-29 22:55] ornellaalt commented on #3733
Thank you for your feedback! We've added the additional workaround to the documentation. Closing out this issue now.

[2020-06-29 22:55] #3733 closed

[2020-06-30 00:41] DeborahK commented on #5534
Was hoping for a bit more ... especially now reading this first paragraph:

`You can set a breakpoint on any line of executable code. For example, in the following C# code, you could set a breakpoint on the variable declaration, the for loop, or any code inside the for loop. You can't set a breakpoint on declarations for a namespace, class, or variable, or on the method signature.`

So we first sa

[2020-06-30 15:23] macrakis commented on #5533
Thanks so much for the detailed answer! -- this is my first time with VS
support, so I had no idea what to expect.

I'm very happy to have a real human helping out -- I've been thrashing on
my own....

It is perfectly possible that I mixed up the templates -- to my eye, they
are a maze of twisting passages, all different
<https://en.wikipedia.org/wiki/Colossal_Cave_Adventure#Maze_of_twisty_little_

[2020-06-30 15:45] Mikejo5000 commented on #5534
You're right. I missed that first sentence. I'll look at this a bit closer.

[2020-06-30 16:24] Mikejo5000 commented on #5533
@macrakis You're welcome! I'm not actually a support person though, but a content writer who is responsible for the Node.js / JS / TS docs for Visual Studio. The intent of this content set is to help people learn how to use VS with JS, TS, and Nodejs. There are a host of different JS frameworks and technologies, front-end and back-end frameworks, so it's not possible here to teach in depth on any

[2020-06-30 16:28] Mikejo5000 commented on #5533
Also, about PowerShell: https://docs.microsoft.com/en-us/powershell/scripting/overview?view=powershell-7

[2020-06-30 16:31] Mikejo5000 commented on #5533
Also, you asked about "Basic" vs. "Blank". Blank templates would have no code (or perhaps minimal code in some cases), where "Basic" would typically have a bunch of basic code that leverages the technologies. For example, the "Basic" express templates have a bunch of code that requires express and pug.

[2020-06-30 18:01] Mikejo5000 commented on #5534
I checked this. In the example, you can set the breakpoint because there's an assignment, so the line executes (you can pause on it while running code). You can't set a breakpoint on a variable declaration if there's no assignment. I'll edit this.

[2020-06-30 18:12] Mikejo5000 commented on #5534
Updating. It should be live around 5 PM. Added the getter/setter info, too.

[2020-06-30 18:16] #5534 closed

[2020-06-30 20:09] macrakis commented on #5533
Thanks again for all the help! It's a bit frustrating to have to assimilate
so much material, and I hope I haven't been too hard on you!

I remember taking an internal Python course a few years ago at Google which
had as an unstated (!) prerequisite understanding C++ function
declarations. Again, very frustrating....

              -s

On Tue, Jun 30, 2020 at 12:32 PM Mike Jones <notifications@git

[2020-06-30 21:48] Mikejo5000 commented on #5533
No, not too hard. You probably already found this, but I'd look here:
https://docs.microsoft.com/en-us/javascript/api/overview/azure/cognitive-services?view=azure-node-latest
There's a link to samples at the bottom which hopefully will have something helpful.

[2020-06-30 22:23] Mikejo5000 commented on #5413
Looking at this. I got a basic example working using the Web Service (ASMX) item template available for ASP.NET Framework Web Application projects. I'll update the note using some of the Azure text.

[2020-06-30 23:08] Mikejo5000 commented on #5413
Updates should be published live by noon on Wednesday.

[2020-07-01 16:53] kehollin opened #5545 "Doesn't seem to address repos NOT on an Asure DevOps server???"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 22f31dd7-e676-aa47-cb11-8ad77412fb5a
* Version Independent ID: 6cce7a4b-8f62-610d-f75f-fafc7b4c444a
* Content: [Connect to projects in Team Explorer - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/ide/connect-team-project?view=vs-2019)

[2020-07-01 18:02] jwisener opened #5547 "Not supported for Microsoft Professional."
It's unfortunate Fakes on are not supported for Microsoft Professional. That puts it out of reach for smaller development shops/teams.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 069d29c9-b269-6e1f-08af-91ac135ebb1e
* Version Independent ID: cd993f76-8077-d566-4c48-0ab425c62b83
* Content: [Isolating Code Under Test

[2020-07-01 21:25] helmesjo opened #5548 "Docker VS2017 instructions: installPath ignored & dev prompt errors out"
I copy-pasted the dockerfile shown [here](https://docs.microsoft.com/en-us/visualstudio/install/build-tools-container?view=vs-2017), and replaced:
`--add Microsoft.VisualStudio.Workload.AzureBuildTools`
with:
`--add Microsoft.VisualStudio.Workload.VCTools;includeRecommended`

So extremely minimalistic example.

**First issue** is that the `--installPath` is ignored (installs to default path nonthe

[2020-07-01 22:12] helmesjo commented on #5548
FWIW, [this](https://github.com/microsoft/vs-dockerfiles/blob/master/native-desktop/Dockerfile) example works (and shows correct "2017" command prompt)...

[2020-07-01 22:21] helmesjo commented on #5548
And `--installPath` stops working and the `Unknown parameter: path` error happens if I change base image from:
`microsoft/dotnet-framework:3.5-sdk-windowsservercore-1709`
to:
`mcr.microsoft.com/dotnet/framework/sdk:4.7.2-windowsservercore-ltsc2019`

[2020-07-01 23:11] WilliamAntonRohm commented on #5547
@jwisener -- Jason, it looks like you have product feedback rather than documentation feedback. If you are looking for functionality that isn’t currently provided by the product, please use our “Suggest a feature” option in the [Visual Studio Developer Community](https://developercommunity.visualstudio.com/). We’d be happy to have this on record, where others can view it and upvote it, too. For mo

[2020-07-01 23:11] #5547 closed

[2020-07-01 23:15] WilliamAntonRohm commented on #5545
@kehollin -- Kevin, thank you for your feedback.  Please consider these resources:
- [https://social.msdn.microsoft.com/Forums/vstudio](https://social.msdn.microsoft.com/Forums/vstudio)
- [https://www.stackoverflow.com](https://www.stackoverflow.com)
- [https://www.reddit.com/r/VisualStudio/](https://www.reddit.com/r/VisualStudio)

@TerryGLee -- Terry, please look into this issue.

[2020-07-02 08:20] helmesjo commented on #5548
Small note:
Using above base image I'm having trouble cloning repositories with git, which appears to be related specifically to the 1709 build:
https://github.com/git-for-windows/git/issues/1403

[2020-07-02 15:26] Caleb-D opened #5550 "indicate how to disable all assertions temporarily"
Many times I am debugging code partially written by someone else.  I get lots of unnecessary assertions (for one reason or another) and have to click past them all.  I finally found how to disable all assertions (temporarily).  Would be good to update this topic with a link to this page: https://docs.microsoft.com/en-us/previous-versions/visualstudio/visual-studio-2010/1y71x448(v=vs.100)?redirecte

[2020-07-02 19:12] jmatthiesen commented on #5504
Hi, @filjan – If you've opened Visual Studio 2019 for Mac, you should see those file paths, except for the "7.0" path. If you switch to the macOS Finder and choose the Go > Go To Folder... menu, enter "~/Library/Application Support/VisualStudio/" in the folder path, and click Go, does that take you to a folder? If you tried using that menu before, for example, and included the "\" in the Applicati

[2020-07-02 19:36] jmatthiesen commented on #5360
Hi, @hnabbasi – The default code snippets are packaged into the Visual Studio.app bundle. If you want to create your own Snippets you can either use the Visual Studio > Preferences... > Code Snippets menu, or you can create the `~/Library/VisualStudio/8.0/Snippets` on disk and copy your snippets directly into that folder.

Here's a nice article discussing this, by a member of our community: https:

[2020-07-02 19:57] heiligerdankgesang commented on #3080
@TerryGLee I don't have permissions to close this. Can you please help us get this closed, thanks?

[2020-07-02 20:05] jmatthiesen commented on #5139
Hello! This is an issue that should be fixed in an upcoming release as we increase support for Connected Services in ASP.NET Core projects. You can follow along with this item on our Developer Community site: https://developercommunity.visualstudio.com/content/problem/999064/connected-services-not-showing-up.html

[2020-07-02 20:10] TerryGLee commented on #3080
Closing per request. Thanks all for helping to improve our documentation!

[2020-07-02 20:10] #3080 closed

[2020-07-02 21:32] jmatthiesen commented on #5360
#please-close

[2020-07-02 21:32] #5360 closed

[2020-07-03 11:12] helmesjo commented on #5548
Update:
Changed to base image `mcr.microsoft.com/powershell:lts-windowsservercore-1809` and it solves above mentioned problems.

[2020-07-03 11:49] manishi2V opened #5553 "I used runsettings but it does not exclude given assemblies"
I questioned this issue in [stackoverflow.](https://stackoverflow.com/questions/62710466/runsettings-xml-file-not-working-with-dotnet-test-coverage-command)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 43dc6fcf-df9f-9d2a-5c6e-8da0f6925afc
* Version Independent ID: d0bf2cae-9b59-d537-7acb-7af5f560d8c1
* Content: [Cust

[2020-07-03 22:39] Legends opened #5555 "Example code for .net core should be added"
Section 3.) under: https://docs.microsoft.com/en-us/visualstudio/msbuild/walkthrough-using-msbuild?view=vs-2019&redirectedfrom=MSDN#build-the-target

example code for .net core should be added to the docs:
`msbuild buildapp.csproj -t:HelloWorld` --> dotnet core: `dotnet msbuild buildapp.csproj -t:HelloWorld`

I've prepended the ´HelloWorld´ target before `</Project>`, but I don't get to see the sp

[2020-07-03 23:06] Legends commented on #5555
Ok, I can now see the output of the `Message` task by adding the `-v:detailed` switch

[2020-07-06 04:18] duncanhunter opened #5556 "Unclear about pipeline access to non enterprise Visual Studio Subscriptions"
It is unclear if all Visual Studio Subscribers have rights to author release pipelines and manage releases as expressed on this other part of the docs https://docs.microsoft.com/en-us/azure/devops/organizations/security/access-levels?view=azure-devops.

Our large government customer read this as their Visual Studio Subscribers can not use pipelines.

I would suggest listing pipelines in the benefi

[2020-07-06 13:37] kingsimba opened #5557 "Needs update this page with VS2019 and TypeScript"
1. 'Run tests in Visual Studio 2017' should be updated to 2019
2. The table-of-contents on the left says "Unit testing JavaScript". But the title is "Unit testing JavaScript and TypeScript in Visual Studio".
3. According to my test. Breakpoints work well in "Debug Selected Tests". So the document may not mention this as a bug.
4. For TypeScript, the test result can not show the correct file&line.

[2020-07-06 15:29] Anton-V-K opened #5558 "Information is partially invisible at 1366x768"
Left column of the table is usually invisible when viewing in a browser at 1366x766 - it is covered by right floating-like area/panel with page content:
https://i.ibb.co/km5Z95J/2020-07-06-Visual-Studio-Community-component-directory-1366x768-Firefox.png
And there is no horizontal scrollbar.
There are 10%-like marging at left and right edges, which are just a waste of space.
You cannot hide the tre

[2020-07-06 17:49] Mikejo5000 commented on #5557
@kingsimba Thanks for your feedback! I tested this using the steps in the doc and the Mocha Unit Test File, and I get the same result. The test appears to run against the generated .js files instead of the .ts files, and reports against the .js file. This behavior might be by design, but I'm not certain. Please use the [Report a Problem](https://docs.microsoft.com/visualstudio/ide/how-to-report-a-

[2020-07-06 20:05] mikadumont opened #5560 "Add IDE0051 documenation"
Add IDE0051 documentation to .NET Language Conventions doc https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-language-conventions?view=vs-2019.

[2020-07-06 21:12] WilliamAntonRohm commented on #5555
@Legends -- thank you for your suggestion and followup.

@ghogen -- please look into this issue.

[2020-07-06 21:15] WilliamAntonRohm commented on #5556
@evanwindom -- please look into this issue.

[2020-07-06 21:24] WilliamAntonRohm commented on #5558
@Anton-V-K -- thank you for your feedback; we appreciate it. You can submit issues related to overall site experience, or suggestions for improved site functionality or design, at [https://aka.ms/sitefeedback/](https://aka.ms/sitefeedback).

[2020-07-06 21:24] #5558 closed

[2020-07-06 21:30] #5557 closed

[2020-07-06 21:31] WilliamAntonRohm commented on #5553
@manishi2V -- Manish, thank you for your feedback.  In addition to StackOverflow, please consider these resources:
- [https://social.msdn.microsoft.com/Forums/vstudio](https://social.msdn.microsoft.com/Forums/vstudio)
- [https://www.reddit.com/r/VisualStudio/](https://www.reddit.com/r/VisualStudio)

@Mikejo5000 -- Mike, please look into this potential documentation issue.

[2020-07-06 21:54] WilliamAntonRohm commented on #5346
@zspitz -- Zev, thank you for your followup.

@Mikejo5000 -- Mike, please look into this potential documentation issue.

[2020-07-06 22:09] mikadumont commented on #5560
@Mikejo5000

[2020-07-07 06:50] kingsimba commented on #5557
I believe it's indeed a problem. I found a report on
https://developercommunity.visualstudio.com/content/problem/1009131/typescript-test-file-go-to-definition-f12-should-g.html

[2020-07-07 08:13] shilpamalhotra-git commented on #1506
Is there any update on this? How are we usually doing Data Driven testing in .net core with MsTest

[2020-07-07 12:47] djsmith opened #5562 "Incorrect KB shortcut for Promote"
The KB shortcut for _Promote the definition window to a regular document tab_ is shown as **Shift+Alt+Home**, but on my computer with VS 2017 (15.9.24) it is **Ctrl+Alt+Home**.

I don't think I manually changed the KB mapping for this function.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5581850-0f4e-f0b4-21e9-ae6c

[2020-07-07 21:26] WilliamAntonRohm commented on #5562
@djsmith -- Dan, thank you for your feedback.  My Visual Studio 2019 agrees with your keyboard and I am updating this article.

[2020-07-07 22:28] Legends opened #5564 "Where is Output parameter described?"
https://docs.microsoft.com/en-us/visualstudio/msbuild/msbuild-inline-tasks?view=vs-2019#input-and-output-parameters

Where is Output parameter described?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d2edce4-67ce-e93c-269e-e4200895a1b9
* Version Independent ID: 4af4b53f-7103-e8b8-996f-79fbc71b83b6
* Content: [MSBuild

[2020-07-07 22:55] WilliamAntonRohm commented on #5562
@TerryGLee -- Terry, please review [private PR 6843](https://github.com/MicrosoftDocs/visualstudio-docs-pr/pull/6843).

[2020-07-07 22:56] #5562 closed

[2020-07-08 00:09] WilliamAntonRohm commented on #5564
@Legends -- thank you for your question.  That section describes parameters, each of which may be an input, an output, or both.  An output parameter, that is, a parameter that must have a value upon return, is defined with the optional `Output` attribute set to `true`:

[code]

I hope this helps to answer your question.
I am closing this issue now.  You are welcome to @ mention me for any followup

[2020-07-08 00:59] TerryGLee commented on #5545
@kehollin Thanks for contacting us. To answer your inquiry, we do support connecting to repos that are not hosted on Azure DevOps. The first paragraph on the page says "Team Explorer connects Visual Studio to Git and GitHub repositories, Team Foundation version control (TFVC) repositories, and projects hosted on Azure DevOps Services or an on-premises Azure DevOps Server (formerly known as TFS)."

[2020-07-08 00:59] #5545 closed

[2020-07-08 08:43] TJHeuvel commented on #5382
How do you actually disable this feature?

[2020-07-08 09:34] Legends commented on #5564
@WilliamAntonRohm

Yes, I have one further question. How do you consume the Output parameter?
For example I want to use it in another `Task` or print it to the console after execution.

[code]

[2020-07-08 15:17] JacquelineWiddis commented on #5222
Fixed duplicate issue.  #please-close

[2020-07-08 15:17] #5222 closed

[2020-07-08 16:35] babuqci opened #5566 "Add --noweb option to installation command"
Please add --noweb to the command line installation from local cache.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 228076d1-94bf-c502-c018-08f7c0faf377
* Version Independent ID: c64a5cd5-6236-4192-2bfc-923aa20c94da
* Content: [Create an offline installation - Visual Studio](https://docs.microsoft.com/en-us/visualstud

[2020-07-08 17:05] Coops9 opened #5567 "You say "change the size of text and buttons on toolbars" but you don't state how to change the toolbar button size itself"
You say "change the size of text and buttons on toolbars" but although you state how to add button text you don't state how to change the toolbar button size itself!?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 92d41f88-6985-358a-a61c-85c92b7bb54a
* Version Independent ID: fc7867aa-8d5d-023f-bee7-e454221841c5
* Cont

[2020-07-08 18:26] genlu commented on #5382
@TJHeuvel
![image](https://user-images.githubusercontent.com/788783/86956318-be51f800-c10d-11ea-8ef4-ef6e0e038d5a.png)

[2020-07-08 18:36] TJHeuvel commented on #5382
Thank you very much!

On Wed, 8 Jul 2020 at 20:26, Gen Lu <notifications@github.com> wrote:

--
Kind regards,
Tijmen van den Heuvel
Freelance Unity3D developer
Website <http://www.tjheuvel.net> | LinkedIn
<http://www.linkedin.com/pub/tijmen-van-den-heuvel/29/a2a/a23> | Twitter
<http://www.twitter.com/tjheuvel>

[2020-07-08 18:57] #5566 closed

[2020-07-08 19:16] WilliamAntonRohm commented on #5564
@Legends -- please see this section:
- https://docs.microsoft.com/en-us/visualstudio/msbuild/walkthrough-creating-an-inline-task?view=vs-2019#define-the-adder-task

The Output parameter C is consumed in this line:
[code]

Please let me know if this helps answer your question.

[2020-07-09 05:46] Nikhilpp26 commented on #5067
I was facing same issue recently with VS2019. Followed below step solved problem for me.
1. In Account Settings page, under All Accounts section remove each added account. Sign out any personalized account as well.
2. Restart the VS.
3. Sign-in under All Accounts section.
4. Here select Use Another Account option even if your account if prelisted. Complete sign-in process.
5. You can sign-in to pe

[2020-07-09 08:15] hodzanassredin commented on #3698
Just note about the same problem in ef core 3.1.5. Fixed by removing package Microsoft.EntityFrameworkCore.SqlServer.Design

[2020-07-09 08:35] Legends commented on #5564
Thanks for the link William, this is what I was looking for.

I guess it would be good to add it to:
docs.microsoft.com/en-us/visualstudio/msbuild/msbuild-inline-tasks?view=vs-2019#input-and-output-parameters

instead of going through the walkthrough. But this is up to you guys.

Thanks.

[2020-07-09 15:44] WilliamAntonRohm commented on #5564
cc @ghogen for awareness

[2020-07-09 16:52] ghogen commented on #5564
Thanks @WilliamAntonRohm - I will update the docs accordingly.

[2020-07-09 19:45] yaxum opened #5571 "Regarding publishing a rest API from Visual Studio to Azure App service."
Hi!

I have followed the guide:
https://docs.microsoft.com/en-us/visualstudio/deployment/quickstart-deploy-to-azure?view=vs-2019

However after publishing the app it does not work att all, I only get 404 and 500 in the error message.
The strange thing is that I get it to work when trying out the same thing with the default weatherforcast rest API but not with my own rest API that I made... Do you

[2020-07-09 20:47] mgoertz-msft commented on #4669
This is not a doc issue. There is a Developer Community ticket for this here: https://developercommunity.visualstudio.com/content/idea/881587/support-loading-of-net-core-libraries-in-t4-templa.html

[2020-07-09 20:48] JoshuaPartlow commented on #4669
Closing based on above.

[2020-07-09 20:48] #4669 closed

[2020-07-09 20:58] mgoertz-msft commented on #3565
The topic on customizing shapes is here: https://docs.microsoft.com/en-us/visualstudio/modeling/defining-shapes-and-connectors?view=vs-2019

[2020-07-09 20:58] #3565 closed

[2020-07-09 21:02] JoshuaPartlow commented on #3663
Not seeing content associated with this issue, so closing.

[2020-07-09 21:02] #3663 closed

[2020-07-09 21:08] mgoertz-msft commented on #3947
@Marraz Could you please help @JoshuaPartlow come up with an example for this?

[2020-07-09 21:22] JoshuaPartlow commented on #4313
The wording could be clearer here, but generally this is something you'll need to evalutate and code for your specific scenario.

[2020-07-09 21:22] #4313 closed

[2020-07-09 21:25] #4387 closed

[2020-07-09 21:27] JoshuaPartlow commented on #4387
Closed as this isn't a doc issue. If you'd like to suggest a change to the documentation, please feel free to open a GitHub pull request.

[2020-07-09 21:33] mgoertz-msft commented on #4388
AFAIK, this is only supported inside of Visual Studio, i.e. devenv.exe.

[2020-07-09 22:04] DaleStan opened #5572 "CA1724 documentation should describe the cases where naming collisions would cause confusion"
The documentation for CA1724 says "Before you suppress the warning, carefully consider how the users of your library might be confused by the matching name." However, there is no example of how the naming collision could cause confusion.

I understand that a class named `BusinessDomain.BusinessObjects.Display.Display` is a bad idea, but in my particular case, I am building a library for my busines

[2020-07-09 22:19] mgoertz-msft commented on #5177
FYI, `<Visible>false</Visible>` is being used to hide items from Solution Explorer in Visual Studio:
https://docs.microsoft.com/en-us/visualstudio/msbuild/visual-studio-integration-msbuild?view=vs-2019#display-properties-and-items

`Value` is the only attribute of value (pun intended). And while I agree that singular `T4ParameterValue` would have been a better name changing it would be a breaking

[2020-07-09 22:30] WilliamAntonRohm commented on #5571
@yaxum -- Yaxum, thank you for your question.  Please consider these resources:

- [https://social.msdn.microsoft.com/Forums/vstudio](https://social.msdn.microsoft.com/Forums/vstudio)
- [https://www.stackoverflow.com](https://www.stackoverflow.com)
- [https://www.reddit.com/r/VisualStudio/](https://www.reddit.com/r/VisualStudio)

You are also welcome to use the [Report a Problem](https://docs.micr

[2020-07-09 22:30] #5571 closed

[2020-07-10 08:22] StingyJack commented on #4387
@JoshuaPartlow  there is a section in the doc that lists default, but possibly incorrect pathing. This is a reliable way to get the path.

[2020-07-10 12:03] JeepNL opened #5574 "Multi-caret selection - Select All"
In the docs at https://docs.microsoft.com/en-us/visualstudio/ide/finding-and-replacing-text?view=vs-2019#multi-caret-selection it says:

`Ctrl+Shift+Alt+,`    Add all matching text as selections

That doesn't work (_Version 16.7.0 Preview 3.1_) but `Alt+Shift+;` does. (_Googled it_)

[2020-07-10 17:19] jdodds-air opened #5575 "Issue: Left side table of contents doesn't display in Microsoft Edge Browser"
Microsoft Edge 44.19041.1.0

Google Chrome and Edge Chromium don't have the issue.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 38ae1727-4def-5921-86ec-bc65e9f0b8e4
* Version Independent ID: aed7dda1-6bfd-945f-04a5-86ee0fe62d95
* Content: [Overview of Visual Studio](https://docs.microsoft.com/en-us/visualstudio/get-s

[2020-07-10 20:35] WilliamAntonRohm commented on #5575
@jdodds-air -- thank for your feedback; we appreciate it. You can submit issues related to overall site experience, or suggestions for improved site functionality or design, at [https://aka.ms/sitefeedback/](https://aka.ms/sitefeedback).

I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2020-07-10 20:35] #5575 closed

[2020-07-10 20:37] jdodds-air commented on #5575
I submitted this from one of the broken pages. I didn't pick this location.

[2020-07-11 03:34] daveime68 opened #5576 "Updating Visual Studio 2019 from 16.0 to 16.6"
There is no progress indicator on the update system. Just a message "this may take a few minutes", and a spinning indicator which has currently been spinning for and hour and a half. Would including a progress indicator be SO difficult???

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: deb3386e-6b18-1cbd-9f1b-523b27b652

[2020-07-11 13:35] Legends opened #5577 "Attribute `ConsoleToMsBuild` not shown by intellisense"
Attribute `ConsoleToMsBuild` of `exec` task is not available in my .net core 3.0 .csproj project ?
VS2019

Means: It's not shown by intellisense, but I can set it manually.

Something with the xsd ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bb479ee7-d34c-dd5d-6843-4abdec6c3894
* Version Independent ID: 40cd6644-b0

[2020-07-11 14:28] Legends opened #5578 "LastIndexOf"
----- sorry

[2020-07-11 17:18] #5578 closed

[2020-07-12 11:46] Legends opened #5579 "Folder exists?"
Is there a way to check if a folder exists or do I have to use a custom task?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 648f13eb-9141-a704-de36-74672a75f19b
* Version Independent ID: b641a5ab-5ea1-cae7-8a71-07ae2c161aed
* Content: [MakeDir Task - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/msbuild

[2020-07-12 11:58] Legends commented on #5579
Without doing this:

[code]

[2020-07-12 12:01] #5579 closed

[2020-07-13 05:20] Bosch-Eli-Black opened #5580 "Base class example in C#, derived class example in VB"
On this page, the code for the base class (`TypeA`) is written in C#, but the example for the derived class (`TypeB`) is in VB. This feels kind of odd.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 54561ecc-39fa-b5e3-d51f-e4725182eb4f
* Version Independent ID: ea8b6449-40aa-f4bc-d341-d636fe8c43c0
* Content: [CA2215: D

[2020-07-13 12:09] marcelwooga opened #5581 "The namespace name 'SyntaxTree' could not be found on MacOS"
# Tested with:
* Unity version: 2018.4.19f1
* Visual Studio for Mac version: 8.6.5 (build 23)
* MacOS 10.15.5

# Issue:
If Visual Studio for Mac is installed, the constant `ENABLE_VSTU` becomes active and breaks scripts which do project file customization because the namespace `SyntaxTree` can't be found on the Mac.

# Steps to reproduce:
1. Install Unity and Visual Studio for Mac
2. Copy example

[2020-07-13 15:38] imrizwanafzal commented on #4145
I am having the same issue, please confirm do you have a connection string that doesn't contain password to connection?

[2020-07-13 18:06] #5481 closed

[2020-07-13 20:48] evanwindom commented on #5457
@MichaelMacc - I apologize for the delay on this.  It turns out the path to the sign up page changed.  We've updated the article to reflect the new path, and should have the behavior of the tile in the benefits portal updated soon as well.  Thanks for flagging this issue for us.

[2020-07-13 20:49] evanwindom commented on #5457
#please-close

[2020-07-13 20:49] #5457 closed

[2020-07-13 21:37] WilliamAntonRohm commented on #5576
@daveime68 -- it looks like you have product feedback rather than documentation feedback. If you are looking for functionality that isn’t currently provided by the product, please use our “Suggest a feature” option in the [Visual Studio Developer Community](https://developercommunity.visualstudio.com/). We’d be happy to have this on record, where others can view it and upvote it, too. For more inf

[2020-07-13 21:37] #5576 closed

[2020-07-13 23:07] Forgind opened #5584 "This is four BuildEngines out of date"
Should be on IBuildEngine7

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3c479e76-fd43-499b-7ef1-dbf935224702
* Version Independent ID: 52955c08-25dc-ad9e-f610-6f3aecdd8fb3
* Content: [Task Base Class - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/msbuild/task-base-class?view=vs-2019)
* Content Source:

[2020-07-14 01:43] sivanathanb04 opened #5586 "Very Good Description"
All where properly explained.It would have better if **Automatically download updates** was shown with a red box in the image

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: deb3386e-6b18-1cbd-9f1b-523b27b6521b
* Version Independent ID: 5ddf5e28-86d1-28b6-80ef-332bf93e17ac
* Content: [Update Visual Studio](https://docs.

[2020-07-14 08:13] StingyJack commented on #4388
That's a shame. Anywhere that's documented?

[2020-07-14 14:42] lukasjuhrich opened #5588 "Substitution mechanism of e.g. `Condition=` values unclear"
The documentation is incomplete in the following aspects.

1. The example for string equality (`Condition="'$(Configuration)'=='DEBUG'"`) uses a dollar-construct. However, nowhere in this particular page of the documentation it is mentioned that any kind of preprocessing happens.

2. `Condition` values seem to be context sensitive: If I use a condition on an `Item`, appearently one cannot access m

[2020-07-14 18:02] pbarranis opened #5590 "Autorecover folder outdated for 2019 and a small typo for <=2017"
[Enter feedback here]
This appears to be outdated information for 2017 and prior.  In 2019 I'm finding the Autorecover documents stored at %localappdata%\Microsoft\VisualStudio\BackupFiles, as per the 2nd-most-upvoted answer provided at: https://stackoverflow.com/a/59277526/358578

Also, even for 2017 and prior, I believe there's a typo.  Instead of '%USERPROFILE%\Documents\Visual Studio\[version]

[2020-07-14 18:33] WilliamAntonRohm commented on #5577
@Legends -- thank you for your feedback. It looks like you're having an issue with the product itself, rather than an issue with the documentation. Please use the [Report a Problem](https://docs.microsoft.com/visualstudio/ide/how-to-report-a-problem-with-visual-studio) tool to report the issue.

cc @ghogen for awareness

[2020-07-14 18:33] #5577 closed

[2020-07-14 18:36] WilliamAntonRohm commented on #5580
@Bosch-Eli-Black -- thank you for your feedback.  I believe the different examples are to show the ideas as expressed in each language.

@Mikejo5000 -- please advise.

[2020-07-14 18:38] WilliamAntonRohm commented on #5581
@marcelwooga -- Marcel, thank you for your feedback.

@conceptdev -- Craig, please look into this issue.

[2020-07-14 18:39] WilliamAntonRohm commented on #5584
@Forgind -- thank you for your feedback.

@ghogen -- please look into this issue.

[2020-07-14 18:41] WilliamAntonRohm commented on #5586
@sivanathanb04 -- thank you for the compliment!  That setting was not highlighted in a red box because it is optional.

cc @ornellaalt for awareness

[2020-07-14 18:41] #5586 closed

[2020-07-14 18:42] WilliamAntonRohm commented on #5588
@lukasjuhrich -- Lukas, thank you for your detailed feedback.

@ghogen -- Gordon, please look into this issue.

[2020-07-14 18:45] Mikejo5000 commented on #5580
It's a little odd. Looks like the second example should be in C#, or both.

[2020-07-14 18:50] conceptdev commented on #5581
Unfortunately I no longer work in this area - I'll ping someone from the team to take a look. They should probably remove me from the metadata too.

[2020-07-14 22:16] WilliamAntonRohm commented on #5581
@conceptdev, thank you for your assistance.

[2020-07-14 22:45] gewarren opened #5592 "Release notes for VS 16.5 have 404 error"
---
**Issue moved from MicrosoftDocs/feedback#2884**
- Please respond to @ike2016.

---

_From @ike2016 on Monday, June 22, 2020 11:04:24 AM_

**Describe the bug**
Missing page. Noticed [here](https://docs.microsoft.com/en-us/visualstudio/releases/2019/history#installing-an-earlier-release)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://docs.microsoft.com/en-us/visualstudio/re

[2020-07-14 22:45] gewarren commented on #5592
---
**Issue moved from MicrosoftDocs/feedback#2884**
- Please respond to @welcome[bot].

---

_From @welcome[bot] on Monday, June 22, 2020 11:04:25 AM_

Thank you for creating the issue! One of our team members will get back to you shortly with additional information. If this is a product issue, please close this and contact the particular product's support instead (see https://support.microsoft.c

[2020-07-14 22:46] gewarren opened #5593 "Visual Studio 2019 > Publish > "Advanced Precompile Settings" - Help page end at "Unable to Service Request""
---
**Issue moved from MicrosoftDocs/feedback#2883**
- Please respond to @jsnelders.

---

_From @jsnelders on Monday, June 22, 2020 12:56:42 AM_

**Describe the bug**
Trying to view the help page in the "Advanced Precompile Settings" dialogue of Visual Studio 2019 Community (Version 16.6.2) and it leads to an "Unable to Service Request" page.

**To Reproduce**
Steps to reproduce the behavior:
1.

[2020-07-14 22:46] gewarren commented on #5593
---
**Issue moved from MicrosoftDocs/feedback#2883**
- Please respond to @welcome[bot].

---

_From @welcome[bot] on Monday, June 22, 2020 12:56:43 AM_

Thank you for creating the issue! One of our team members will get back to you shortly with additional information. If this is a product issue, please close this and contact the particular product's support instead (see https://support.microsoft.c

[2020-07-15 02:48] Bosch-Eli-Black commented on #5580
I suppose that ideally, each example would have both C# and VB variants, with the option for the user to choose which language he wants to view the samples in, as is done on some other pages :D

[2020-07-15 08:12] OliaG commented on #4123
@Tanya-Solyanik @merriemcgaw have we tried/tested  /noscale command for CLI to run in 100% scaling mode?

[2020-07-15 20:57] WilliamAntonRohm commented on #5593
Added question to the original poster in the incoming issue, to determine if there's a particular docs.microsoft.com article he has in mind.

cc @ghogen for awareness

[2020-07-16 04:30] jamescadd opened #5596 "Please link VS docs to VS Code docs"
The title of this doc is exactly what I'm looking for, but I need the VS Code version.  Bing brought me to the VS proper version, so it would be great if the docs could have a selector for VS Code (could be similar to selecting .NET Framework API versions).  Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 95bc6d

[2020-07-16 12:45] stanimiryakimov opened #5597 "How to open .slnf files with Visual Studio under macOS?"
I didn't find a way to open .slnf files with VS under macOS. Double click results in open the .slnf file as plain text in Visual Studio.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 108b5373-83a5-8d82-0414-939b0caf2866
* Version Independent ID: 9bb010ce-5641-c2a4-ce2a-d53943ac5432
* Content: [Load a subset of project

[2020-07-16 13:24] SolidRockProgrammer opened #5598 "Northwind Transact-SQL script - link fails"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bfe690a0-e17d-4a9c-a107-7189e29fe815
* Version Independent ID: 87bbbd28-a5a0-76dd-468d-52c4a930f8cd
* Content: [Walkthrough: Creating an N-Tier Data Application - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/data-tools/walkthrough-crea

[2020-07-16 15:34] sfoslund opened #5599 "Add documentation for MSBuild target framework functions"
Intrinsic functions for handling target framework and target platform values were added in microsoft/msbuild#5429 and microsoft/msbuild#5234

[2020-07-16 15:40] Rob190 opened #5600 "Instructions for installing NuGet in v16.3 already out of date"
"_In Visual Studio 2019 version 16.3 and later, you can install the Microsoft.CodeAnalysis.FxCopAnalyzers NuGet package directly from the project's Code Analysis properties page:  Right-click on the project node in Solution Explorer, select Properties, and then select the Code Analysis tab_."

In 2019 v16.7 it says: "_NOTE: This property page has been deprecated and will be removed in a future pro

[2020-07-16 16:06] JacquelineWiddis commented on #5592
This problem has been resolved.  Thank you for helping us constantly improve our documentation and release processes.  We appreciate it!  #please-close

[2020-07-16 16:06] #5592 closed

[2020-07-16 17:02] WilliamAntonRohm commented on #5598
@SolidRockProgrammer -- thank you for your feedback.  For me, that link opens this SQL source file:
- https://raw.githubusercontent.com/MicrosoftDocs/visualstudio-docs/master/docs/data-tools/samples/northwind.sql

Please clarify your issue.

[2020-07-16 18:02] ponderingprogrammer opened #5602 "Edit.SelectCurrentWord shortcut error"
Edit.SelectCurrentWord in default settings of Visual Studio 2019 is Ctrl+Shift+W, and not Ctrl+W which is a start of a chord.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23332067-130b-a343-b902-7d09680d3519
* Version Independent ID: 09bb5d36-f067-5422-2ab2-e4c7a8f1d6ed
* Content: [Default keyboard shortcuts - Visual

[2020-07-16 18:28] ghogen commented on #5598
@SolidRockProgrammer @WilliamAntonRohm
You should not have to be a member of any repo to access that script.
Perhaps this was a transient issue or you have some client-specific issue that's preventing the file from being dowloaded, perhaps a browser or firewall security setting.

In the meantime, here is a zip file that contains the SQL script:
[Northwind.zip](https://github.com/MicrosoftDocs/visu

[2020-07-16 19:23] WilliamAntonRohm commented on #5598
@ghogen -- thank you for your assistance!

I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2020-07-16 19:23] #5598 closed

[2020-07-16 19:33] WilliamAntonRohm commented on #5597
@stanimiryakimov -- Stanimir, thank you for your feedback. It looks like you're having an issue with the product itself, rather than an issue with the documentation. Here are a few options  you might consider:​

- [https://social.msdn.microsoft.com/Forums/vstudio](https://social.msdn.microsoft.com/Forums/vstudio)
- [https://www.stackoverflow.com](https://www.stackoverflow.com)
- [https://www.reddi

[2020-07-16 19:33] #5597 closed

[2020-07-16 22:28] jmaschle opened #5604 "where are my functions???"
Why are stored _functions_ not available in the dataset designer?  I see stored procedures in my packages, but no functions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e58075dd-0907-d5e2-ef0e-46bd705c6412
* Version Independent ID: a96641c0-88ce-0850-55d6-46219813183d
* Content: [Create and configure datasets - Visu

[2020-07-17 02:37] weitzhandler opened #5605 "Future version release dates?"
Hi,

Is there a roadmap or plan for expected release dates of future versions?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7ea27919-8e31-6592-9b9e-9a0cabb0a7ff
* Version Independent ID: 093eeeb2-0306-4af9-2bfc-6d4eefbebf9b
* Content: [Visual Studio build numbers and release dates](https://docs.microsoft.com/

[2020-07-17 08:56] michalkania opened #5606 "ViewBox is available in UWP"
ViewBox is available in UWP though the page states it's only available for WPF.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dbdaf3d5-a7bc-fb9f-9750-9aee54546670
* Version Independent ID: d0e43ac2-9a43-a803-93bd-720a4ebaf664
* Content: [Organize objects into layout containers in XAML Designer - Visual Studio](https:/

[2020-07-17 15:45] Mikejo5000 commented on #5596
@jamescadd This is a docs platform issue. Currently, VS Code docs have their own build/rendering system, so the two can't be easily integrated. It might be addressed in the future through other channels/discussions.

[2020-07-17 15:45] #5596 closed

[2020-07-17 16:15] jbockle opened #5607 "Live Unit Testing and code generation"
I'm using live unit testing with Microsoft Orleans, which has a Microsoft.Orleans.CodeGenerator.MSBuild package that generates code at build time.  This doesn't appear to be working with LUT, is there something I need to configure so that LUT runs the package targets during build?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2020-07-17 17:45] TerryGLee commented on #5606
@LyalinDotCom FYI on this.

[2020-07-17 17:58] LyalinDotCom commented on #5606
Yep seems true. What controls are available is a platform decision so at some point they must have added it:

https://docs.microsoft.com/en-us/uwp/api/Windows.UI.Xaml.Controls.Viewbox?view=winrt-19041

So we can accept the change

[2020-07-17 20:40] merriemcgaw commented on #4123
We use that from the Gold Bar to restart VS in 100% scaling mode. I think it would be great to doc it for people that would rather launch devenv.exe from the command line.

[2020-07-17 22:07] WilliamAntonRohm commented on #5604
@jmaschle -- thank you for your question.  You have probably already seen step 4 in this topic:
- [Create a new dataset by using the Data Source Configuration Wizard](https://docs.microsoft.com/en-us/visualstudio/data-tools/create-and-configure-datasets-in-visual-studio?view=vs-2019#create-a-new-dataset-by-using-the-data-source-configuration-wizard)

Please consider these resources:
- [https://soc

[2020-07-17 22:07] #5604 closed

[2020-07-17 22:14] WilliamAntonRohm commented on #5607
@jbockle -- thank you for your question.  Please consider these resources:
- [https://social.msdn.microsoft.com/Forums/vstudio](https://social.msdn.microsoft.com/Forums/vstudio)
- [https://www.stackoverflow.com](https://www.stackoverflow.com)
- [https://www.reddit.com/r/VisualStudio/](https://www.reddit.com/r/VisualStudio)

cc @Mikejo5000 for awareness

I am closing this issue now.  You are welcom

[2020-07-17 22:14] #5607 closed

[2020-07-17 23:07] WilliamAntonRohm commented on #5605
@weitzhandler -- Shimmy, thank you for your question.  There are no future release dates available.  I added a link to the current Visual Studio Roadmap to this article, and the change will be live tomorrow.

I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2020-07-17 23:07] #5605 closed

[2020-07-18 00:46] TerryGLee commented on #5606
@michalkania You're right; we've made the update that you recommended. Thanks for helping us improve the documentation! (@LyalinDotCom thanks to you, too.)

[2020-07-18 00:46] #5606 closed

[2020-07-18 08:45] jsnelders commented on #5593
To answer the questions I was asked on the original bug, I don't know what docs.microsoft.com URL would be required. All the information I have was provided in the original bug. Think of me as a dumb end user who hit a contextual help button in Visual Studio and ended up with a page saying it's not found.

Reply on original article is here: https://github.com/MicrosoftDocs/feedback/issues/2883#iss

[2020-07-20 11:25] karlamrock opened #5608 "The term version is used in the context of a version and a release"
Hi,

When I read the document, I cant' figure out if you're saying that, I can install multiple versions of VS, or that I can install multiple version and multiple releases of that version.

Please update the document to call out installing multiple releases of a version of VS.

Releases is the term Microsoft uses for an update to a VS Version.

**Version examples**
Visual Studio Enterprise 2019
V

[2020-07-20 14:50] ryanjmchale commented on #5067
I'm having the same issues with the Version 16.7.0 Preview 4.0 and .Net Core 5.0 Preview 8.0.
This occurs whilst editing the code and break intellisense after the error is thrown, so I'm forced to restart.

[Activity Monitor Log_xml.zip](https://github.com/MicrosoftDocs/visualstudio-docs/files/4948383/Activity.Monitor.Log_xml.zip)

[2020-07-20 16:39] Mikejo5000 commented on #5600
We have some doc updates planned around this.

[2020-07-20 16:49] Mikejo5000 commented on #4996
@Evangelink Do you have a link to the sanitizers? I'm unable to find them.

[2020-07-20 22:20] PGCCajb opened #5609 "Unable to identify which workloads correspond to older Visual Studio features"
I work in a moderately-large organization, which does automated software deployment over the network.

I inherited from one of my predecessors a network install source for Visual Studio 2012 which is less than 1.5GB in size. Documentation of how this was created, what choices were made in creating it, or anything along those lines, was not left behind along with this.

I am attempting to create a

[2020-07-20 23:01] WilliamAntonRohm commented on #5609
@PGCCajb -- thank you for your thorough feedback.

@ornellaalt -- please look into this issue.

[2020-07-21 02:37] TerryGLee commented on #5602
@ponderingprogrammer Thanks for letting us know; we'll check in to this and report back soon.

[2020-07-21 02:38] TerryGLee commented on #5590
@pbarranis Thanks for your feedback; we'll check in to this and report back soon.

[2020-07-21 02:38] TerryGLee commented on #5574
@JeepNL Thanks for letting us know; we'll check in to this and report back soon.

[2020-07-21 02:39] TerryGLee commented on #5567
@Coops9 Thanks for your feedback; we'll check in to updating the content and will report back.

[2020-07-21 04:06] TerryGLee commented on #5302
@Antonio-Kim Thanks for letting us know; we'll check in to getting this tutorial updated and report back soon.

[2020-07-21 07:25] Evangelink commented on #4996
@Mikejo5000 Here are the two lists of sanitizers for this rule: [general sanitizers](https://github.com/dotnet/roslyn-analyzers/blob/master/src/Utilities/FlowAnalysis/FlowAnalysis/Analysis/TaintedDataAnalysis/PrimitiveTypeConverterSanitizers.cs) and [xml specific sanitizers](https://github.com/dotnet/roslyn-analyzers/blob/master/src/Utilities/FlowAnalysis/FlowAnalysis/Analysis/TaintedDataAnalysis/

[2020-07-21 16:36] Mikejo5000 commented on #4996
@Evangelink So, to resolve this, can I add something like the following to the "How to fix violations" section?

Or, validate user input by using sanitizers for [primitive type conversion](https://github.com/dotnet/roslyn-analyzers/blob/master/src/Utilities/FlowAnalysis/FlowAnalysis/Analysis/TaintedDataAnalysis/PrimitiveTypeConverterSanitizers.cs) and [XML encoding](https://github.com/dotnet/rosly

[2020-07-21 16:58] Mikejo5000 commented on #5037
Looks like it was merged a while ago. I'm updating the table of Suffixes | Base classes with this entry:

Flag | Flags   System.Enum

Let me know if that seems good. Thanks!

[2020-07-21 16:59] Evangelink commented on #4996
LGTM, I don't think that was your plan but don't refer directly to the classes as they might move.

[2020-07-21 17:01] Mikejo5000 commented on #5037
It raises the question whether plural forms of all the entries are caught. Maybe I just need to say "Flag"?

[2020-07-21 17:02] Mikejo5000 commented on #4996
OK, thanks. I guess there's no official reference docs for these types.

[2020-07-21 17:16] Mikejo5000 commented on #5037
Updating. Doc should go live around noon PST. Please see my question above about plural forms in general. Thanks!

[2020-07-21 17:16] Mikejo5000 commented on #4996
Updating. Doc should go live around noon PST.

[2020-07-21 18:00] Mikejo5000 commented on #5572
@DaleStan It sounds like you have carefully considered whether users of your library might be confused, and you've concluded that they will not be confused. For a long discussion of the issue, I'd suggest this post: https://social.msdn.microsoft.com/Forums/en-US/86c94c19-8ba5-44db-84d6-61469b38c520/typenamesshouldnotmatchnamespaces-aka-ca1724?forum=vstscode

[2020-07-21 19:23] Evangelink commented on #5037
@Mikejo5000 Only `Flag` and `Flags` for enums.

Looking at the PR, I can see that we also added a new user option: https://github.com/dotnet/roslyn-analyzers/pull/3360/files#diff-1b5cdc4937a8cdfc79545945ad6c0783R697-R704

Do you want me to create a separate ticket or are you gonna handle it too?

[2020-07-21 19:29] ornellaalt commented on #5548
Hi @helmesjo, just to confirm, was your issue solved? If so, I'll close out this issue.

[2020-07-21 19:32] ornellaalt commented on #5609
@tobyhu87, can you please check out this issue? Thank you!

[2020-07-21 21:03] Mikejo5000 commented on #5037
I will add it. Looks like: **additional_use_results_methods**
Configure a string of allowed suffixes (separated by '|')

[2020-07-21 21:23] Mikejo5000 commented on #5037
Updating. Fix should go live around 5pm PST. Let me know if you see any issues.

[2020-07-21 21:23] #5037 closed

[2020-07-21 22:22] Mikejo5000 commented on #5572
I looked at this more closely to see whether it makes sense to add an example to show how confusion might result. Here's a naming collision, flagged in the IDE by CS0104, an ambiguous reference, in addition to CA1724.

[code]
The article doesn't actually mention "naming collisions", however, just confusion to users by the matching names, so I'm not sure this example ought to go in the docs. Closin

[2020-07-21 22:22] #5572 closed

[2020-07-22 08:42] qiuyangnie opened #5613 "Incorrect event handler when the VSTO Add-in is unloaded"
In the second row and second column of **ThisAddIn members to use for other tasks** section, the `ThisAddIn_Startup` seems incorrect, which should be replaced with `ThisAddIn_Shutdown`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2db2d7da-16be-b472-b1a3-c1cff6460226
* Version Independent ID: fb24e313-a9cf-58e1-b152-

[2020-07-22 09:32] Evangelink commented on #5037
@Mikejo5000 There seems to be a visual glitch in the table for the newly added `Flag`/`Flags` entry.

![image](https://user-images.githubusercontent.com/11340282/88160465-f463a180-cc0e-11ea-9677-80857513c32c.png)

[2020-07-22 10:28] kunal-chowdhury opened #5614 "Incorrect example in the page"
The doc topic is "How to: Programmatically search within a specific folder" but the content and the example describes "How to search a mail having a specific subject". So, the content is misleading.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b53cb97d-2c1f-8b19-1496-d91cf408e6d2
* Version Independent ID: c4f16638-df

[2020-07-22 13:09] DaleStan commented on #5572
@Mikejo5000 Your example doesn't answer the question I was trying to ask. It demonstrates confusion between two different types both named `Array`, and presents a strong case for "Do not use type names that are used in the System namespace." It also violates the guideline "Do not use the same name for a namespace and a type in that namespace."

As far as I can tell, CA1724 is not trying to enforce

[2020-07-22 15:08] Evangelink commented on #5037
Also the configurability section is not following the same structure as for some other rules (e.g. [ca1303](https://docs.microsoft.com/en-us/visualstudio/code-quality/ca1303)). Shall I open a different issue?

[2020-07-22 15:28] Mikejo5000 commented on #5037
Good catch. No, I'll make the fix now, and we can discuss here if there are more issues.

[2020-07-22 15:52] Mikejo5000 commented on #5037
On Configurability, do you mean make the phrasing consistent? ca1303 says this instead:

"If you're running this rule from FxCop analyzers (and not with legacy analysis), this rule is configurable."

I will update using this phrasing. Let me know if I'm missing anything here.

[2020-07-22 16:27] Mikejo5000 commented on #5037
I'll merge updates. Should be live around noon.

[2020-07-22 16:32] Evangelink commented on #5037
Sorry I meant that:

1/ The sentence you are mentioning is put only once as a kind of summary.

2/ Each option is put in a headered section:
![image](https://user-images.githubusercontent.com/11340282/88202776-a61fc400-cc49-11ea-8910-d4bbbf4efd93.png)

[2020-07-22 16:58] Mikejo5000 commented on #5037
Yes, that makes sense, of course! Thanks for the clarification.

[2020-07-22 17:28] Mikejo5000 commented on #5037
Should be live around noon.

[2020-07-22 17:40] evanwindom commented on #5324
@iamalexmang We've made some changes to the article to provide some clarity.   Remember that the content of the Basic plan is determined by Azure, not by the Visual Studio subscription.  Both Professional and Enterprise receive the Basic plan.  If there are question about the implementation and use of the Basic plan, those should be addressed with Azure support.

[2020-07-22 17:40] evanwindom commented on #5324
#please-close

[2020-07-22 17:40] #5324 closed

[2020-07-22 17:41] evanwindom commented on #5556
@duncanhunter  We've made some changes to the article to provide some clarity.   Remember that the content of the Basic plan is determined by Azure, not by the Visual Studio subscription.  Both Professional and Enterprise receive the Basic plan.  If there are question about the implementation and use of the Basic plan, those should be addressed with Azure support.

[2020-07-22 17:41] evanwindom commented on #5556
#please-close

[2020-07-22 17:41] #5556 closed

[2020-07-22 17:53] iamalexmang commented on #5324
Is the update not yet published? The article was last updated on March 24th. Are you sure we are referring to the same article?
I ask this specifically because the article has an eligibility section which enumerates the type of Visual Studio subscriptions, and yet in your last comment you're mentioned _the content of the Basic plan is determined by Azure, not by the Visual Studio subscription._
Wh

[2020-07-22 20:04] vistalogic opened #5616 "May want to clarify something..."
I worked through this and was getting network errors when the WebFrontEnd tried to communicate with the MyWebAPI project. The resulting errors were not helpful and sent me down a complicated road to try to resolve using Docker network settings, etc.

It turns out, the "WebFrontEnd" project was selected as the startup project instead of "docker-compose" (I think I set it to test the project before

[2020-07-22 20:59] Mikejo5000 commented on #5572
Thanks for clarifying. My impression of this rule, reading through the doc and various discussions, is that the level of confusion that results from this situation may vary quite a bit.

In the forums thread I linked to about CA1724, it is stated:

"Given that a type and a namespace are not likely interchangable, it's reasonable to expect that the namespace System.Security.Util, for example, would

[2020-07-22 21:36] evanwindom commented on #5324
The Azure team determines the contents of the “Basic” offer.  The PR has been submitted and merged but has apparently not gone live yet.

From: Alex Mang <notifications@github.com>
Sent: Wednesday, July 22, 2020 10:54 AM
To: MicrosoftDocs/visualstudio-docs <visualstudio-docs@noreply.github.com>
Cc: Evan Windom <Evan@reddoorcollaborative.com>; Assign <assign@noreply.github.com>
Subject: Re: [Micros

[2020-07-22 22:13] Mikejo5000 commented on #5553
@manishi2V Did you try using the Exclude element to exclude WC_ControllerTests.Common and WC_ExportTestCase?

[2020-07-22 22:19] evanwindom commented on #5324
Since the content hasn’t gone live yet, I’ve made a couple of additional updates and submitted a new PR.

From: Evan Windom
Sent: Wednesday, July 22, 2020 2:36 PM
To: MicrosoftDocs/visualstudio-docs <reply@reply.github.com>; MicrosoftDocs/visualstudio-docs <visualstudio-docs@noreply.github.com>
Subject: RE: [MicrosoftDocs/visualstudio-docs] Explain 'benefits' (#5324)

The Azure team determines the

[2020-07-22 22:42] Mikejo5000 commented on #5553
I would try using Exclude to resolve this. In addition, It sounds like you either have something in your runsettings file that's causing the unexpected behavior, or there's a bug in the product. If you think it's the latter, please log an issue by using the [Report a Problem](https://docs.microsoft.com/visualstudio/ide/how-to-report-a-problem-with-visual-studio) tool. When you do this, your report

[2020-07-22 22:48] Mikejo5000 commented on #5553
You might also test it as a regular expression instead of Exclude. Let me know if that works better.

<Include>
  <ModulePath>.*WCController.dll$</ModulePath>
</Include>

[2020-07-22 22:51] DaleStan commented on #5572
The section you bolded in the referenced thread is talking about "Do not use the same name for a namespace and a type in that namespace". I stand corrected; CA1724 does enforce this rule. I understand that rule, but I'm trying to understand a different rule that CA1724 is also enforcing.

I'm not entirely sure what Peter meant by "especially once a compile takes place." but I think that's the sort

[2020-07-22 23:00] Mikejo5000 commented on #5572
OK, although that makes sense to me, it's a change in rule implementation (vs. doc issues here). So, you could open the request here to move it forward:
https://github.com/dotnet/roslyn-analyzers

[2020-07-22 23:02] #5613 closed

[2020-07-22 23:03] WilliamAntonRohm commented on #5613
Thank you for your feedback.  I have updated the documentation and it should be live by tomorrow.

[2020-07-22 23:08] WilliamAntonRohm commented on #5616
@vistalogic -- thank you for your feedback; we appreciate it. To make sure we have all the information needed to triage your issue, please let us know which docs.microsoft.com article you’re referencing, or provide more context around your general task.

[2020-07-23 01:21] maidamai0 opened #5618 "Switch Sample is not a valid value for the START switch."
Test command error:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0d83d03-a6c7-9f13-c75d-b5abfe3286e8
* Version Independent ID: 8ac09799-df92-435a-afc6-9cc6f64ff760
* Content: [Start - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/profiling/start?view=vs-2017)
* Content Source: [docs/profiling/s

[2020-07-23 03:23] iamalexmang commented on #5324
Do you mind linking the PR? The article is still not uodated and shows March 24th as the last change. On GitHub, it shows as it was last updated on April 10th, without having the date updated.

Also, respectfully, please understand that I’ve never argued the content of the Basic plan. Quite the contrary, the purpose of the Issue is to emphasize the confusion of enjmearting Azure Pipeline as an exc

[2020-07-23 06:30] evanwindom commented on #5324
Okay, for clarity:

  1.  No, pipelines are not exclusive to Enterprise subscriptions.
  2.  No, if you downgrade, you will not be blocked from using pipelines.

Pipelines are included in the Basic plan.  So, if the subscription has Basic, it has pipelines.

From: Alex Mang <notifications@github.com>
Sent: Wednesday, July 22, 2020 8:24 PM
To: MicrosoftDocs/visualstudio-docs <visualstudio-docs@nore

[2020-07-23 07:19] iamalexmang commented on #5324
Thanks for clarifying.
That's exactly the point I'm making too, but not what the document article describes.
To its point, the article 'Azure DevOps **benefits** for Visual Studio subscribers' is listing the following **benefit** _exclusively_ available for Visual Studio Enterprise subscribers: **Azure Pipelines (self-hosted)**, which is, respectfully, simply incorrect and not the same as mentione

[2020-07-23 09:12] Evangelink commented on #5037
@Mikejo5000 Thank you! Everything looks good now :)

[2020-07-23 09:21] Evangelink commented on #4996
@Mikejo5000 Sorry to bother you but looking at the doc for this rule I think it would be better to have either a table listing the sanitizers or to have a separate documentation page to refer too.

Here is the list I have extracted from the code (note that I didn't put the url link to the documentation for each method but it might be nice to do so).

### XML sanitizers
Microsoft.Security.Applicati

[2020-07-23 12:24] Yang09701194 opened #5619 "Is there source code can download for the example in this page?"
Is there source code can download for the example in this page? or just read the article with only part of source code cannot practice by hand.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 66fe9e04-c830-3350-3ff9-9a3ecb7cfe5e
* Version Independent ID: e1063d2e-aace-86b2-a4b4-6378c45c55a0
* Content: [Unit testing fund

[2020-07-23 12:47] evanwindom commented on #5324
Ahh….  I see now.  My apologies for all the churn.  I’m not an Azure expert so I was struggling with the distinction.

Here’s a piece of content from Azure’s documentation that I think clarifies the issue.

As a Visual Studio Enterprise subscriber, do I get additional parallel jobs for TFS and Azure Pipelines?
Yes. Visual Studio Enterprise subscribers get one parallel job in Team Foundation Server

[2020-07-23 15:27] Mikejo5000 commented on #4996
No problem. Thanks! I'll re-open this for now and plan the updates.

[2020-07-23 19:29] vistalogic commented on #5616
I was completing the steps outlined in https://docs.microsoft.com/en-us/visualstudio/containers/tutorial-multicontainer?view=vs-2019

I am sure I did something that was not part of the instructions, but in general feel like it isn’t obvious that the startup project should be docker-compose (especially for developers who are very used to setting the web application as the startup project).  I just

[2020-07-23 20:53] derekgreer opened #5621 "Getting DDoS errors"
I'm following the tutorial for ASP.Net Core 3.1 and getting DDoS errors for the responseString coming back from http://mywebapi/WeatherForecast.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7aee46f8-9db1-33ef-b637-fc8e8881fab9
* Version Independent ID: 6c469f9f-9751-669f-3dd4-c4fb49c9ae19
* Content: [Multicontainer t

[2020-07-23 22:57] WilliamAntonRohm commented on #5619
@Yang09701194 -- thank you for your question.  This article is a conceptual overview with example code snippets, not a full working example.  Please see this section:
- [The MyBank solution example](https://docs.microsoft.com/en-us/visualstudio/test/unit-test-basics?view=vs-2019#the-mybank-solution-example)

cc @Mikejo5000 for awareness

I am closing this issue now.  You are welcome to @ mention m

[2020-07-23 22:57] #5619 closed

[2020-07-23 22:59] WilliamAntonRohm commented on #5621
@derekgreer -- Derek, thank you for your feedback.  It looks like you're having an issue with the product itself, rather than an issue with the documentation. Here are a few options you might consider:​

- [https://social.msdn.microsoft.com/Forums/vstudio](https://social.msdn.microsoft.com/Forums/vstudio)
- [https://www.stackoverflow.com](https://www.stackoverflow.com)
- [https://www.reddit.com/r/

[2020-07-23 22:59] #5621 closed

[2020-07-23 23:03] WilliamAntonRohm commented on #5616
@vistalogic -- Dan, thank you for clarifying.

@ghogen -- Gordon, please look into this issue.

cc @nishanil for awareness

[2020-07-24 02:20] tiny-dancer opened #5623 "Debugging in visual studio code for mac"
When performing these steps on latest visual studio code for mac, there was no seperate docker-compose project created for debugging.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 22e20f91-d94c-419c-3a64-7616af5e7429
* Version Independent ID: 0f4f0b1a-2506-ec3d-6bda-ccce7565cb64
* Content: [Get started with Docker - V

[2020-07-24 06:54] eelstork opened #5624 "Unclear, unsure if the document is usable."
There's a number of points that are really not clear in this article.

1. Space is wasted advertising built-in language support - please don't do this as the title clearly says "Add editor support for other languages.
2. It appears that textmate bundles are supported however this is not what the article describes. If I'm getting this right (still not sure, still didn't achieve what I came here for

[2020-07-24 18:10] WilliamAntonRohm commented on #5623
@tiny-dancer -- mg, thank you for your feedback.  Please consider these options:
- [https://social.msdn.microsoft.com/Forums/vstudio](https://social.msdn.microsoft.com/Forums/vstudio)
- [https://www.stackoverflow.com](https://www.stackoverflow.com)
- [https://www.reddit.com/r/VisualStudio/](https://www.reddit.com/r/VisualStudio)

@heiligerdankgesang -- Dominic, please look into this issue.

[2020-07-24 19:45] ornellaalt commented on #5608
Hi @karlamrock, thanks for your feedback. We recently updated the page to include more information about downloading minor versions side-by-side. It should go live this afternoon.

[2020-07-24 19:45] #5608 closed

[2020-07-26 11:46] CLIRResearch opened #5627 "We need some basic information on the ActionPanes collection."
This page implies that a ThisWorkbook class must be added to a VSTO object.  The BaseWorkbook class does not contain the ActionPanes collection.  What is the base class for ThisWorkbook that actually contains the ActionPanes collection?  How would I add a ThisWorkbook class to a VSTO for Excel in Visual Studio 2019?

Also, there is no such thing as Globals.ThisWorkbook.  There is only a Globals.Th

[2020-07-26 15:15] CLIRResearch opened #5628 "What is the difference between an AddIn and a Document?"
What is the difference between an AddIn and a Document?

Can a Document be used from an AddIn?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4c7a1da2-e11d-a8a6-f5df-c3db41df72ba
* Version Independent ID: f3a1171e-c739-185a-a7e9-f28f5b9881b1
* Content: [Create VSTO Add-ins for Office by using Visual Studio](https://docs

[2020-07-26 16:52] Evangelink opened #5629 "Rule CA1822 is missing api_surface configuration section"
The doc for rule CA1822 is missing the configurability section regarding the api_surface user option. See doc for https://docs.microsoft.com/en-us/visualstudio/code-quality/ca1000?view=vs-2019

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 73190016-ddef-0e31-ffb2-d72d551e0d0b
* Version Independent ID: 44822112-d0c7-3f5

[2020-07-26 16:54] CLIRResearch opened #5630 "Custom Task Pane is not visible. I followed this example exactly."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1f3eae76-f780-15a5-57ee-eba13d5ee20f
* Version Independent ID: b6b22852-a90c-3af7-3c71-d78206a2bbc4
* Content: [Synchronize custom task pane with Ribbon button - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/vsto/walkthrough-synchronizi

[2020-07-26 22:08] daniel-scholten opened #5632 "Even your Twitter account says, you're crazy :)"
"When you develop with Visual Studio, you read from and write to a lot of files, which increases the disk I/O activity. It's best to choose your fastest drive to handle the load." -- Says it all about you idiots. Took me a while and a little bit of Python scripting to remove the mess, the installation did on my system drive. If I had been on a laptop with one limited c drive, you crazy people woul

[2020-07-27 08:41] helmesjo commented on #5548
@ornellaalt Sorry for late response!
Well "not all", but yes it at least fixes the issues related to this issue so you can close it. :)

[2020-07-27 08:57] tiagoefreitas commented on #3841
Any updates on remote debugging with the default .net core linux container?

[2020-07-27 11:52] troygerton commented on #2592
I have the latest version of vs 2019 installed, and the extensions mentioned on this thread and still see no options for a report project.  Any idea how I can get this to work?
![image](https://user-images.githubusercontent.com/60740541/88538799-f7c7a600-cfdd-11ea-8b7a-4f188c630c9e.png)
![image](https://user-images.githubusercontent.com/60740541/88538832-0a41df80-cfde-11ea-87e5-bd39e3f60f00.png)
!

[2020-07-28 01:07] WilliamAntonRohm commented on #5627
@CLIRResearch -- thank you for your feedback.  Please consider these options:
- [https://social.msdn.microsoft.com/Forums/vstudio](https://social.msdn.microsoft.com/Forums/vstudio)
- [https://www.stackoverflow.com](https://www.stackoverflow.com)
- [https://www.reddit.com/r/VisualStudio/](https://www.reddit.com/r/VisualStudio)

@John-Hart -- please look into this issue.

[2020-07-28 02:30] inikityuk opened #5635 "Update / Add delete steps to include components folders"
Hi guys,
Was going through complete uninstall/install process of all related things to Xamarin recently as a last resort and eventually figured out that deletion of "components" folder does the job. Would be nice to update documentation to include the link to https://docs.microsoft.com/en-us/xamarin/cross-platform/troubleshooting/questions/component-storage page or include folder in one of the scr

[2020-07-28 15:24] gonz-kelv opened #5636 "incorrect url"
In the Service Fabric Row, it links to ocs.microsoft.com instead of docs.microsoft.com for Microsoft Documentation

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2957e994-0bc8-aeb6-0c54-f7d2a8ec9fe3
* Version Independent ID: ee2cad3d-41ce-bf5a-dd17-0886e526570e
* Content: [Install and use behind a firewall or proxy ser

[2020-07-28 19:13] Mikejo5000 commented on #4290
Adding docs on compile and build.

[2020-07-28 21:26] WilliamAntonRohm commented on #5636
@ornellaalt -- Ornella, please review [private PR 6931](https://github.com/MicrosoftDocs/visualstudio-docs-pr/pull/6931).

[2020-07-28 21:31] #5636 closed

[2020-07-28 23:21] John-Hart commented on #5630
It should be visible when you hit the toggle button and this event code is run:

private void toggleButton1_Click(object sender, RibbonControlEventArgs e)
{
    Globals.ThisAddIn.TaskPane.Visible = ((RibbonToggleButton)sender).Checked;
}

If it's not try setting a breakpoint on this line and inspect the visible property

[2020-07-28 23:26] John-Hart commented on #5628
The simple answer is:

Document-level customizations are associated with a specific document.

VSTO Add-ins are associated with the application itself.

please see https://docs.microsoft.com/en-us/visualstudio/vsto/office-project-templates-overview and https://docs.microsoft.com/en-us/visualstudio/vsto/office-solutions-development-overview-vsto for more information

[2020-07-28 23:26] #5628 closed

[2020-07-28 23:59] John-Hart commented on #5614
Thanks for the feedback.  I think the article does have a sample that shows how to search in the inbox which is an Outlook.Folder.

[2020-07-28 23:59] #5614 closed

[2020-07-29 06:08] Dragonsangel commented on #5593
As a note to this issue, it seems that many, if not all Help Indexes are also not working from within the Tools > Options Menu.
Some URLs that are all ending at "Unable to Service Request":
https://msdn.microsoft.com/query/dev16.query?appId=Dev16IDEF1&l=EN-US&k=k(VS.ToolsOptionsPages.Text_Editor.CSharp.General);k(DevLang-csharp)&rd=true

https://msdn.microsoft.com/query/dev16.query?appId=Dev16IDEF

[2020-07-29 09:11] stefanov-stefan opened #5639 "Missing details on how to add link instead of file when uploading extension"
Hi,

when uploading extension from the marketplace, there was an option to publish a link to an extension instead of the extension itself, as the docs state it: https://github.com/MicrosoftDocs/visualstudio-docs/blob/master/docs/extensibility/walkthrough-publishing-a-visual-studio-extension.md - see step 7

However, on the portal there is no longer such option. Can we elaborate on the docs how thi

[2020-07-29 16:42] WilliamAntonRohm commented on #5632
@daniel-scholten -- Daniel, thank you for your feedback.

[2020-07-29 16:42] #5632 closed

[2020-07-29 17:22] jtuliani opened #5640 "Clarify Azure roles able to purchase VS subscriptions"
This doc says: "You'll need to be an owner or contributor for an Azure subscription that was created for your EA" [to purchase a VS subscription]

But in https://docs.microsoft.com/en-us/visualstudio/subscriptions/vscloud-overview#who-can-buy-visual-studio-cloud-subscriptions it says: "Anyone with owner, service admin or co-admin access to the Azure subscription can purchase cloud subscriptions"

[2020-07-29 18:59] TerryGLee commented on #5165
@ortymd Thanks for bringing this issue to our attention. We've added a Note our documentation to let folks know about the issue. Meanwhile, to make sure that this product issue is logged in the right place, please use the [Report a Problem](https://docs.microsoft.com/visualstudio/ide/how-to-report-a-problem-with-visual-studio) tool to report it. When you do so, your report becomes part of the work

[2020-07-29 18:59] #5165 closed

[2020-07-29 20:02] WilliamAntonRohm commented on #5639
@stefanov-stefan -- Stefan, thank you for your question.  Please consider these resources:
- [https://social.msdn.microsoft.com/Forums/vstudio](https://social.msdn.microsoft.com/Forums/vstudio)
- [https://www.stackoverflow.com](https://www.stackoverflow.com)
- [https://www.reddit.com/r/VisualStudio/](https://www.reddit.com/r/VisualStudio)

@acangialosi -- Anthony, please look into this issue.

[2020-07-29 20:07] WilliamAntonRohm commented on #5640
cc @evanwindom for awareness

[2020-07-29 21:20] clisc opened #5642 "ProjectReference documentation appears to be missing item metadata"
There is definitely some missing item metadata like `<CopyLocal>` and `<CopyToOutputDirectory>`, for example.  I imagine a lot more is missing.  Can someone please add all the item metadata for the ProjectReference item?  Thanks!

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 97e663f7-3bac-61af-2

[2020-07-30 17:21] WilliamAntonRohm commented on #5642
@clisc -- thank you for  your feedback.  Please consider these resources:

- [https://social.msdn.microsoft.com/Forums/vstudio](https://social.msdn.microsoft.com/Forums/vstudio)
- [https://www.stackoverflow.com](https://www.stackoverflow.com)
- [https://www.reddit.com/r/VisualStudio/](https://www.reddit.com/r/VisualStudio)

@ghogen -- please look into this issue.

[2020-07-30 22:48] ornellaalt commented on #5300
Hi @Rick-Anderson, I just went through the tutorial and could not duplicate the following issues:

1. After generating an "API Control with actionstions, using entity Framework", my GetGame method does not have the [FromRoute] attribute and is missing the "if (! ModelState.IsValid)..." block. It also has "return game;" instead of "return Ok(game);"
2. Attributes [FromRoute] and [Frombody] are also

[2020-07-31 00:40] Rick-Anderson commented on #5300
@ornellaalt  thanks for the report.

[2020-07-31 00:40] #5300 closed

[2020-07-31 02:13] naughtyGitCat opened #5647 "Is there any way to create template on VS for mac 8?"
[Enter feedback here]

this page only works for vs, not vs for mac

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 99e16e6e-e5d1-964b-f220-cbb2c7e4b5e2
* Version Independent ID: 94f82ff9-c61f-31d1-df37-f5e4320daf1c
* Content: [Create project templates - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/ide/h

[2020-07-31 03:12] vnwonah opened #5648 "How to Remove AKS Support from Visual Studio Docker Compose Project"
The Documentation Below Tells you how to Add Helm/Kubernetes Support. When you follow it and try to run it prompts for an AKS resource in Auzre. How do you revert to just debugging locally with docker/docker-compose? simply removing the generated files don't work.

Would be great to include how to revert in the Documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required

[2020-07-31 03:29] vnwonah commented on #5648
For anyone hitting this issue, I solved by going into Properties/launchSettings.json and removed the Azure Dev Spaces Section

[2020-07-31 09:59] trivalik opened #5649 "bug Report outdated"
Since last VS2019 update the bug report feature opens always a browser window.

Aditional bug report:
**Can you please forward to VS2019 team that it is now for me not possible anymore to report bugs because the connection between VS2019 and browser does not work.**

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2386e6

[2020-07-31 10:21] ambikaarora2304 commented on #2274
Hi team, I'm not able to activate linkedin from Visual studio, when I'm clicking on it and adding credentials for lInkedin it's showing me the amount which I have to put. instead of 0 for 1 month. Could you please help here.

[2020-07-31 11:49] Mykeala opened #5650 "Where do I put the new code?"
The directions for all of the steps up until this point are perfectly laid out where you are supposed to write the code that is being given to you. However, with this step I have absolutley little of even half a clue know where I am supposed to write this

public void StartTheQuiz()
{...}
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2020-07-31 12:55] gregsohl opened #5651 "Page has incorrect context information"
The page content is about auto completing date and time format strings, not date and time literals.
References to 'literals' should be replaced with 'format strings'.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 305c7be4-2818-b3d4-ee50-c1d1ac126866
* Version Independent ID: 69c4a204-9b0f-a1e4-0f0b-7a122cf03006
* Cont

[2020-07-31 14:07] b-bly opened #5652 "Outdated code"
Looks like this tutorial needs to be updated.  TraceWriter is deprecated, and I think HttpRequest should be used instead of HttpRequestMessage.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7374155f-a387-9625-bc29-c38fd0c35bae
* Version Independent ID: dc64e04a-b1cf-3334-a5cc-65db6986f72a
* Content: [Tutorial: Azure F

[2020-07-31 15:50] mikadumont commented on #5651
I went ahead and updated the text: https://github.com/MicrosoftDocs/visualstudio-docs-pr/pull/6942

[2020-07-31 15:50] #5651 closed

[2020-07-31 18:32] WilliamAntonRohm commented on #5648
@vnwonah -- Vincent, thank you for your question and the answer.

@ghogen -- Gordon, please look into this issue.

[2020-07-31 18:35] WilliamAntonRohm commented on #5649
@trivalik -- Trivalik, thank you for your feedback here.  For issues with the Feedback Tool in Visual Studio, please email us at vsfeedback@microsoft.com.

cc @madskristensen for awareness

I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2020-07-31 18:35] #5649 closed

[2020-07-31 18:55] WilliamAntonRohm commented on #5650
@Mykeala -- thank you for your question.  You can add that code right after Step 4's integer variable declarations.  All the code in this example is inside the Form1 class.

@ornellaalt -- please look into this issue.

[2020-07-31 19:02] Mykeala commented on #5650
When I add it after the integer variable declarations Visual Studios throws back error "CS0106 C# The modifier 'public' is not valid for this item" as well as error "CS1061 C# 'Form1' does not contain a definition for and no accessible extension method accepting a first argument of type 'Form1' could be found (are you missing a using directive or an assembly reference?)"

[2020-07-31 19:06] WilliamAntonRohm commented on #5647
@naughtyGitCat -- thank you for your question.  Please consider these resources:
- [https://social.msdn.microsoft.com/Forums/vstudio](https://social.msdn.microsoft.com/Forums/vstudio)
- [https://www.stackoverflow.com](https://www.stackoverflow.com)
- [https://www.reddit.com/r/VisualStudio/](https://www.reddit.com/r/VisualStudio)

[2020-07-31 19:12] WilliamAntonRohm commented on #5650
@Mykeala -- thank you for clarifying.  We are investigating this issue.

[2020-07-31 19:16] sfoslund commented on #5599
Fixed with https://github.com/MicrosoftDocs/visualstudio-docs-pr/pull/6866

[2020-07-31 19:16] #5599 closed

[2020-07-31 19:18] sayedihashimi commented on #5652
This should be assigned to Jordan Matthiesen. I’m no longer of the Visual Studio for Mac team.

[2020-07-31 20:23] agocke opened #5654 "Document APIs incompatible with single-file publish and IL3000, IL3001 warnings"
See https://github.com/dotnet/roslyn-analyzers/pull/3921 for the analyzer warnings

[2020-07-31 20:27] agocke commented on #5654
+ @lakshanf

[2020-07-31 21:40] atniomn opened #5655 "MSBuild shipped with Visual Studio 2017 does not support graph build"
msbuild 15.9.21 does not display any information regarding the graph build option when running "/help"
Similarly, msbuild complains about not recognizing the the graph switch itself.
Therefore, information about the graph build should be limited to Visual Studio 2019

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e6254

[2020-07-31 22:18] Mykeala commented on #5650
The issue was that I deleted the button event from the primary Form1 code. I went into the Form 1 code and added this back at the bottom of the form1 code:
[code]
That solved the CS1061 Error.

After that, I was adding the
[code]
method into the
[code]
method, instead of inside the class:
[code]
Now my code looks like this and it works:
[code]

Thank you for taking the time to look into this. Also

[2020-07-31 22:29] TerryGLee commented on #5647
@naughtyGitCat Unfortunately, I don't have an answer for you on this; the page where you registered your question is specific to Windows. However, there is **[Visual Studio for Mac](https://docs.microsoft.com/en-us/visualstudio/mac/?view=vsmac-2019)** documentation set that you might want to visit for general info on that product.

Further info: While I did not see a topic there that addresses cus

[2020-07-31 22:29] #5647 closed

[2020-07-31 22:32] kumarmohe opened #5656 "You should see a clickable infobar at top of the ruleset editor. - is not shown"
Hi,

As per the list of instructions under the headline "Convert an existing Ruleset file to EditorConfig file", I don't see the "Clickable Info Bar"  (exact words: "**You should see a clickable infobar at top of the ruleset editor.**") in my "Microsoft Visual Studio Enterprise 2019 Version 16.6.5"

I know this can be done through command line using "**NuGet package Microsoft.CodeAnalysis.RulesetT

[2020-07-31 23:41] WilliamAntonRohm commented on #5650
@Mykeala -- I'm glad you've gotten it working, and kudos to your boyfriend as well.

I am closing this issue now.  You are welcome to @ mention me for any followup.  We hope to hear from you again.

[2020-07-31 23:41] #5650 closed

[2020-07-31 23:52] WilliamAntonRohm commented on #5654
@mavasani -- Manish, I'm assigning this issue to you because you approved that PR.  Please re-assign as needed.

[2020-07-31 23:55] mavasani commented on #5654
https://github.com/dotnet/roslyn-analyzers/blob/master/GuidelinesForNewRules.md has guidelines on adding documentation for new rules (see section `5. Documentation requirements` for details)

I believe @Mikejo5000 could help in documenting/reviewing these.

[2020-08-01 00:50] billybednar opened #5658 "Package version 2.9.10 is out"
Update package table row for Visual Studio 2017 version 15.9.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eee67c1d-5856-93e0-e2d3-e9551436aabc
* Version Independent ID: b756aa96-bbb1-40e8-34ca-97f9939bf7e9
* Content: [Install FxCop analyzers - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/code-quality

[2020-08-01 14:34] CLIRResearch opened #5659 "Custom Task Pane is instantiated but never visible."
The instructions on this page will instantiate an instance of a custom task pane.  However, it is never visible.  The code on this page does not work for Excel 2016.  I am currently working through some of the articles on Stack Overflow. This seems to indicate that the parent window for a custom task pane should be the ribbon.  The examples that seem to produce visible task panes are not instantia

[2020-08-01 16:42] B-54 opened #5660 "Bad reference"
The sentence:
"You must specify service locations on the **Services** page to use client application services.", should probably read
"You must specify service locations on the **References** page to use client application services."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4a8054d-d5f5-8fbb-119e-9080fb6c89bd
*

[2020-08-01 17:04] CLIRResearch commented on #5630
I am using the Microsoft Documentation at

 https://docs.microsoft.com/en-us/visualstudio/vsto/how-to-add-a-custom-task-pane-to-an-application?view=vs-2019.

- The task pane manager is never visible.  It is instantiated.

- The ribbon bar works without any issue.

- If I programmatically set the visibility of the task pane to true, it is still not visible.

- I can programmatically exchange data a

[2020-08-03 02:38] davkean opened #5662 "Need to document new HelpLink parameter"
HelpLink has been added to the Error task: https://github.com/dotnet/msbuild/pull/5488.

This should be documented.

Warning version of this issue is here: https://github.com/MicrosoftDocs/visualstudio-docs/issues/5663

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 92240a7d-b3d0-997d-4608-0cbf9b0772b8
* Version Indepen

[2020-08-03 02:39] davkean opened #5663 "Need to document new HelpLink parameter"
HelpLink has been added to the Error task: https://github.com/dotnet/msbuild/pull/5488.

This should be documented.

Error version of this issue is here: https://github.com/MicrosoftDocs/visualstudio-docs/issues/5662

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 62871e82-3b22-e086-0825-3592347b2d87
* Version Independe

[2020-08-03 02:44] Forgind commented on #5662
Note that the ordering of parameters was altered here:
[dotnet/msbuild#5572](https://github.com/dotnet/msbuild/pull/5572)

[2020-08-03 02:45] Forgind commented on #5663
Note that the ordering of parameters was altered here:
[dotnet/msbuild#5572](https://github.com/dotnet/msbuild/pull/5572)

[2020-08-03 17:19] msebolt commented on #5658
@billybednar Thank you for the feedback.

Compatibility will need to be confirmed, please note [version 3.0.0](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers/3.0.0) is the latest stable release.

Assigning this to the author for further review.

[2020-08-03 17:27] billybednar commented on #5658
From the release notes:
[v2.9.10](https://github.com/dotnet/roslyn-analyzers/releases/tag/v2.9.10) - "Works with VS 2017 15.9 or later."
[v3.0.0](https://github.com/dotnet/roslyn-analyzers/releases/tag/v3.0.0) - "Works with VS 2019 or later."

[2020-08-03 17:42] msebolt commented on #5658
@billybednar Thank you for the info, the documentation has been updated and is pending review.

[2020-08-03 18:42] msebolt commented on #5659
@CLIRResearch Thank you for bringint this to our attention.

Assigning this to the author for further review.

[2020-08-03 19:01] msebolt commented on #5660
@B-54  Thank you for the feedback.

Locations are set within the [Client Application Services settings](https://docs.microsoft.com/previous-versions/visualstudio/visual-studio-2010/bb384312(v%253dvs.100)).

Perhaps this wording should be `You must specify service locations in the Client Application Services settings.`?

[2020-08-03 19:32] CLIRResearch commented on #5659
The code to instantiate a custom task pane should be instantiated in an OnWindowActivate handler.  The Workbook associated with the custom task pane is still null in the `ThisAddIn_Startup` event handler.  The Custom Task Pane will be instantiated but not visible.

[2020-08-03 21:31] yaqiyang commented on #5659
[VSTOTaskPane.zip](https://github.com/MicrosoftDocs/visualstudio-docs/files/5018760/VSTOTaskPane.zip)
Can you build this project and  see if it can open a custom task pane in Excel?

[2020-08-03 22:19] tedhudek opened #5664 "Microsoft Doc Accessibility Workshop for Write the Docs, August 9, 2020"
# Microsoft Doc Accessibility Workshop for Write the Docs, August 9, 2020

We're so glad you could join us today!

We will be bringing the most frequently visited docs in the Visual Studio documentation repo into alignment with accessibility recommendations in the Microsoft Style Guide.  By doing so, we'll set a precedent for the community, as well as Microsoft's writers.

Specifically, we're goin

[2020-08-04 00:15] pchung13 opened #5666 "error MSB4066: The attribute "Text" in element <Message> is unrecognized."
I followed the example in trying to set up a message task in my build, but I am getting this error. Is Message no longer a supported way of logging in your MSBuild files?

[2020-08-04 00:22] pchung13 commented on #5666
⨯ pachun@PACHUN-DEVBOX1  D:\Fx\Main   FixVersioning ≢ +1 ~2 -0 !                                                                                                                                                       [17:21]
❯ msbuild /m
Microsoft (R) Build Engine version 16.6.0+5ff7b0c9e for .NET Framework
Copyright (C) Microsoft Corporation. All rights reserved.

Build started 8/3/2020 5:21:31

[2020-08-04 05:15] jillre commented on #5427
@TerryGLee can you take a look at this?

[2020-08-04 07:52] ricardo-nikolay2 opened #5667 "setup completed with warning visual studio community 2019"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 85fb6cbc-bab9-2aa9-d462-fad147bb0b6d
* Version Independent ID: 594fc9a0-560b-5672-7bc1-ff8406bdda0d
* Content: [Developer Community guidelines - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/ide/developer-community-guidelines?view=vs-20

[2020-08-04 12:02] CLIRResearch commented on #5659
Hi Yaqi - I will give this a try. However, this looks like the same code that is in the on-line documentation.  This instantiates a task pane but the task pane is not visible.  The Workbook window that the task pane is associated with is null in the `ThisAddIn_Startup` event.  The task pane will be instantiated but not visible.  You can programmatically set the task pane visible property from the

[2020-08-04 15:16] justinjinsukkim312 opened #5669 "Building ASP.NET Core applications in Visual Studio for Mac - Task 1 & 2 Outdated"
https://docs.microsoft.com/en-us/visualstudio/mac/building-asp-net-core?view=vsmac-2019
**Problem I found in Task 1**
When following the directions for 'Creating a new ASP.NET Core application' in Task 1 there is a problem at Step 3. It asks you to 'Select the .NET Core > App category and the ASP.NET Core Web App (C#) template. Click Next.'

**What is the problem with this? - Results in Task 2**
A

[2020-08-04 15:25] yaqiyang commented on #5659
![Taskpane](https://user-images.githubusercontent.com/14302929/89312077-ac3f7880-d62b-11ea-950e-d9c369e1a18f.png)
Yes, the code is the same as in the documentation, and it works for me. See attached image. If it does not work, in Excel, press ALT+F10, does it display a Task Pane with a title "Selection"?

[2020-08-04 19:27] michaelandsylas234 opened #5672 "Collect profiling data from the command line: how to examine output"
The document describes how to collect profiling data from the command line and says to load the file in visual studio to examine it, but it does not explain how to load the file into visual studio.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e998101e-f5d8-517a-7f74-356b973a2b07
* Version Independent ID: 36f07905-43e

[2020-08-04 20:12] michaelandsylas234 opened #5673 "how to specify configuration options for agent"
The page says:
Base/Low/High configurations refer to the sampling rate. For example, Low is 100 samples/second and High is 4000 samples/second. For the VSDiagnostics.exe tool to work with a collection agent, it requires both a DLL and a COM CLSID for the appropriate agent. **The agent might also have additional configuration options.** If you use an agent without a configuration file, use the form

[2020-08-04 21:03] yaqiyang commented on #5659
If that project does not work, try this one,
[VSTOTaskPaneMultiDoc.zip](https://github.com/MicrosoftDocs/visualstudio-docs/files/5024514/VSTOTaskPaneMultiDoc.zip)
I modifed it from the first project to make the task pane work for all instances of Excel files. The first project will only show the task pane for the first Excel file.

[2020-08-04 21:31] msebolt commented on #5666
@pchung13  Thank you for the feedback.

Please include a reference to the article in question and we can assign this to the author for further review.

[2020-08-04 22:16] pchung13 commented on #5666
@msebolt https://docs.microsoft.com/en-us/visualstudio/msbuild/message-task?view=vs-2019

[2020-08-04 22:30] msebolt commented on #5666
Great, thank you.  Assigning this to the author for further review.

The issues has also been reported [here](https://stackoverflow.com/questions/62518031/msbuild-the-attribute-text-in-element-message-is-unrecognized).

Perhaps try a hard-coded string, such as [this example](https://stackoverflow.com/questions/7557562/how-do-i-get-the-message-msbuild-task-to-show-up-in-the-visual-studio-project) t

[2020-08-04 22:43] pchung13 commented on #5666
Yes, I have also tried using a hard-coded string and it threw the same error as well.

[2020-08-05 00:16] evanwindom commented on #2274
@ambikaarora2304 - Thank you for reaching out.  The trial offer includes 30 days of free use, and then converts to a paid offering after the 30 days.  The offer is provided and managed by LinkedIn, so problems with activation of the trial should be referred to LinkedIn's support team.  https://www.linkedin.com/help/learning

[2020-08-05 00:31] Progbasic opened #5674 "Visual studio for mac integrated terminal : how to clear the content after each use or anytime"
Hi,

Visual studio for mac integrated terminal: anybody knows how to clear the content after each use or anytime I which to. I did not find any shortcut? It seems pretty basic necessity to me. I mean even after shutting down the app, the terminal brings back yesterday’s data? Very annoying. Still pleasant add up but…

Have a good one,

prog

[2020-08-05 16:17] SutarZeev opened #5675 "pylint not working"
Hey there,

if I try to run pylint as described on https://docs.microsoft.com/en-us/visualstudio/python/linting-python-code?view=vs-2019 I get the following error:

[...]\python.exe: No module named pylint.lint.__main__; 'pylint.lint' is a package and cannot be directly executed

Running pylint via console (using the python environment that visual studio uses) works as intended.

Visual Studio Inf

[2020-08-05 17:35] agocke commented on #5654
I tried some documentation here, but my PR was autoclosed (#5676) since I need to create it on the private repo, but I don't have permissions to access that repo.

[2020-08-05 17:54] msebolt commented on #5667
@ricardo-nikolay2 Thank you for the feedback.

For documentation concerns, please provide a reference to any necessary changes.

For product issues, please try soliciting feedback from the product team [here](https://developercommunity.visualstudio.com/spaces/8/index.html).

[2020-08-05 17:58] mavasani commented on #5654
@Mikejo5000 @mikadumont Can you please help @agocke get permissions to https://github.com/MicrosoftDocs/visualstudio-docs-pr? Once you have permissions, you can look at https://github.com/MicrosoftDocs/visualstudio-docs-pr/pull/6800 as a sample PR adding new rule documentation and links to various tables.

[2020-08-05 18:14] LSpencer777 opened #5678 "PowerShell example in the --wait section implies the wrong return type"
Thank you for adding the **Using --wait** section at the request of the development community. However, the PowerShell example there is misleading. It assigns the result of Start-Process to a variable called $exitCode. However, what Start-Process actually returns is a System.Diagnostics.Process object, which has a _member_ called ExitCode. So you should have something similar to

$proc = StartProc

[2020-08-05 19:05] evanwindom commented on #2274
@ambikaarora2304 - I should have mentioned that my previous response is based on the assumption that you are using a Visual Studio Dev Essentials membership to access the LinkedIn offer.  If that's not the case, please let me know.

[2020-08-05 19:16] evanwindom commented on #5640
@jtuliani - Hi Jonathan.  Thanks for bringing the issue to our attention.  I'm investigating this, and will post a clarification to both articles once I have a definitive answer.  Thanks again for highlighting the error.  --Evan

[2020-08-05 20:05] sayedihashimi commented on #5669
This should be assigned to @jmatthiesen, I am no longer on the Visual Studio for Mac team, and I don't have permission to re-assign.

[2020-08-06 08:12] ambikaarora2304 commented on #2274
Hi,

Thanks it's working now !!

Regards,
Ambika

On Thu, Aug 6, 2020, 12:35 AM evanwindom <notifications@github.com> wrote:

[2020-08-06 17:00] msebolt commented on #5675
@SutarZeev Thank you for the feedback, assigning this to the author for further review.

Any issues with the documentation can be addressed, however for issues regarding specific user scenarios, please direct this to one of the official support channels listed [here](https://visualstudio.microsoft.com/support/).

[2020-08-06 18:14] nirrave opened #5683 "CA1812: Avoid uninstantiated internal classes"
In Basic there is no shared class and module, which promoted, is a bad idea for a friend class to specific use. So do some about, because suppressing the message does not work.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4303a22-627d-4024-fee7-40db88a544ac
* Version Independent ID: 37cc2f4d-70

[2020-08-06 21:52] #5648 closed

[2020-08-06 22:28] John-Hart commented on #5630
Hi @CLIRResearch,

I believe this is a similar issue to this one (#5659), that you also opened that we're helping you with. So I'm going to go ahead and close this one issue. If I miss-understood just let me know.

thanks
John

[2020-08-06 22:28] #5630 closed

[2020-08-06 22:43] John-Hart commented on #5263
Thanks @hwkwicre for the feedback.

I believe you're right the applies to field on the SharePoint Page Types document hasn't been updated in a while.  I believe the information is still correct for SharePoint Solutions.  If you interested in more modern SharePoint technology please see: https://docs.microsoft.com/en-us/sharepoint/dev/spfx/sharepoint-framework-overview

[2020-08-06 22:43] #5263 closed

[2020-08-06 22:45] yaqiyang commented on #5627
This walkthrough only applies to document-level projects for Excel and Word which always have ThisWorkbook  or ThisDocument as the base add-in object.  See
![Annotation 2020-08-06 154259](https://user-images.githubusercontent.com/14302929/89589908-94b6ea00-d7fb-11ea-9330-43cd89a791c1.png)
It is not a problem of the documentation. You need to create a "Excel VSTO Workbook" or "Word VSTO Document" p

[2020-08-06 23:00] John-Hart commented on #4965
Thanks for the feedback @yunfeng2003.  Are you still having problems finding the templates?

This document does apply to older versions of Visual Studio.  Starting with VS 2017 the New Project dialog has been updated and the tree of nodes described here is no longer being used. The VSTO templates are still available.

Starting with VS 2017 you can filter the templates and find the Office templates

[2020-08-06 23:12] alexolog opened #5684 "Help menu does not show "send feedback""
[Enter feedback here]
There is no "send feedback" submenu under the "help" menu

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2386e67e-a67b-de55-db57-e29a83dcb410
* Version Independent ID: 6247fba9-4255-9a59-c206-0e8547e12335
* Content: [How to report a problem with Visual Studio - Visual Studio](https://docs.microsof

[2020-08-07 09:51] SutarZeev commented on #5675
I just installed the latest update and it looks like with Visual Studio Version16.7.0 it works again.

[2020-08-07 12:46] karlamrock opened #5687 "Exclude Command not in Visual Studio any more"
[Enter feedback here]
Please update this doc page to match Visual Studio 16.7.0.

This entire section is no longer correct, please fix.  Please open up your VS and correct these docs.  Exclude is not a menu option which changes the developers workflow completely from the docs.

Exclude all tests in a project or solution
To select the individual projects in unit tests, do the following after Live U

[2020-08-07 12:55] B-54 commented on #5660
Hi Matthew,

When I look at the services page, everything including the field “Enable client application services” is grayed out.

In the documentation for the Services page, it says. “You must specify service locations on the Services page to use client application services.”

My point was that I am on the Services page, and that is obviously not the page meant in the quote above.

I’m not trying

[2020-08-07 18:02] WilliamAntonRohm commented on #5658
@Mikejo5000 -- please review this update in [private PR 6948](https://github.com/MicrosoftDocs/visualstudio-docs-pr/pull/6948).

[2020-08-07 19:08] plangevin opened #5690 "Incomplete documentation. Only covers bare minimum."
This documentation is very incomplete.

It does not cover how to set up/tear down test cases.

It also omit how to configure a test project (Like tweaking parameters) like it is possible when having access to the "main" fonction.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0ee608ee-eb3f-e95d-1eea-d9e35a6e0bc0
* Vers

[2020-08-07 19:20] WilliamAntonRohm commented on #5684
For sign-in errors or for issues with the Feedback Tool in Visual Studio, please email us at vsfeedback@microsoft.com.

[2020-08-07 19:20] #5684 closed

[2020-08-07 19:23] WilliamAntonRohm commented on #5667
@ricardo-nikolay2 -- Ricardo, please consider these resources:

- [https://social.msdn.microsoft.com/Forums/vstudio](https://social.msdn.microsoft.com/Forums/vstudio)
- [https://www.stackoverflow.com](https://www.stackoverflow.com)
- [https://www.reddit.com/r/VisualStudio/](https://www.reddit.com/r/VisualStudio)

I am closing this issue now.  You are welcome to @ mention me for any followup.
We ho

[2020-08-07 19:23] #5667 closed

[2020-08-07 19:24] WilliamAntonRohm commented on #5674
@Progbasic -- Prog, please consider these resources:

- [https://social.msdn.microsoft.com/Forums/vstudio](https://social.msdn.microsoft.com/Forums/vstudio)
- [https://www.stackoverflow.com](https://www.stackoverflow.com)
- [https://www.reddit.com/r/VisualStudio/](https://www.reddit.com/r/VisualStudio)

I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear

[2020-08-07 19:24] #5674 closed

[2020-08-07 19:26] corob-msft commented on #5690
@plangevin
Yes, the simplicity of this article is intentional. Once you've hooked up the test automation, we expect you to learn about the details of [using Test Explorer](https://docs.microsoft.com/visualstudio/test/run-unit-tests-with-test-explorer) in the linked documentation, rather than duplicating it on this page.

[2020-08-07 19:26] #5690 closed

[2020-08-07 19:28] WilliamAntonRohm commented on #5683
@nirrave -- thank you for your feedback.  Please provide additional details and context for your request.  Meanwhile, consider these resources:

- [https://social.msdn.microsoft.com/Forums/vstudio](https://social.msdn.microsoft.com/Forums/vstudio)
- [https://www.stackoverflow.com](https://www.stackoverflow.com)
- [https://www.reddit.com/r/VisualStudio/](https://www.reddit.com/r/VisualStudio)

cc @

[2020-08-07 19:52] plangevin commented on #5690
@corob-msft So how can I specify that I want the xml output as I would do in the main like this:
::testing::GTEST_FLAG(output) = "xml:my_output.xml";

I am happy with the VS integration but when the same tests are ran on a build server, I might need to configure extra settings.

[2020-08-07 20:52] corob-msft commented on #5690
@plangevin
The short answer is, I don't know. The [test adapter readme file](https://github.com/microsoft/TestAdapterForGoogleTest) seems to indicate it's possible to use commands in the Test Explorer under **Tools > Options >Test Adapter for Google Test**, at least for some subset of options. Or, it also describes using the command-line test adapter driver, and using options flags there. That may

[2020-08-07 22:26] John-Hart commented on #4892
This should be fixed shortly

[2020-08-07 22:26] #4892 closed

[2020-08-07 22:26] John-Hart commented on #4855
This should be fixed shortly

[2020-08-07 22:26] #4855 closed

[2020-08-07 22:27] John-Hart commented on #4893
This should be fixed shortly

[2020-08-07 22:27] #4893 closed

[2020-08-07 22:27] #5627 closed

[2020-08-07 22:41] John-Hart commented on #5659
@CLIRResearch if the suggestion @yaqiyang made does not solve your problem I recommend sending us feedback via the Help->Send Feedback->Report a Problem menu in Visual Studio.  Just mention VSTO in the title and it will be routed to us.  It will be much easier to help you that way so I'm going to go ahead and close this issue.

[2020-08-07 22:41] #5659 closed

[2020-08-07 23:13] WilliamAntonRohm commented on #5678
@LSpencer777 -- you're welcome, and thank you for bringing this issue up.

@ornellaalt -- please review [private PR 6982](https://github.com/MicrosoftDocs/visualstudio-docs-pr/pull/6982).

[2020-08-08 02:38] coletrumbo-ss opened #5691 "Broken link in See Also section: "Packages, metadata, and frameworks""
When I clicked the link, I ended up at a 404 page, at this URL https://docs.microsoft.com/en-us/dotnet/core/packages
Is the article missing?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1927440c-08b4-d442-d315-24b677603034
* Version Independent ID: e334f0d3-627a-a3f6-cdfb-b3abfcccd1e7
* Content: [How to: Reference an

[2020-08-08 05:15] whiteboy19787bm opened #5692 "bang bang"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a5f13f80-a3b0-9602-db14-48130d47ef7c
* Version Independent ID: 96ee1b24-bc43-5e46-f645-f4ccfe9f1ba1
* Content: [Debug live ASP.NET Azure apps - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/debugger/debug-live-azure-applications?view=vs

[2020-08-08 13:25] CLIRResearch commented on #5659
Thank you, I will take a look at the VSTOTaskPanelMultiDoc solution.

[2020-08-08 13:25] CLIRResearch commented on #5659
Thank you, I will take a look at the VSTOTaskPanelMultiDoc solution.

[2020-08-08 13:25] CLIRResearch commented on #5659
Thank you, I will take a look at the VSTOTaskPanelMultiDoc solution.

[2020-08-08 13:25] CLIRResearch commented on #5659
Thank you, I will take a look at the VSTOTaskPanelMultiDoc solution.

[2020-08-08 13:26] CLIRResearch commented on #5659
Thank you, I will take a look at the VSTOTaskPanelMultiDoc solution.

[2020-08-08 14:27] Mimisss opened #5693 "Controllers need to be configured"
In Core 3.1 and Swagger 5.5.1 I had to add `services.AddControllers();` in `ConfigureServices` and `endpoints.MapControllers();` in `Configure` for this to work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 788828c4-74bc-1bcb-7480-38e490358f18
* Version Independent ID: d62da0a4-9a26-a89d-ff8f-d3314cf35724
* Content:

[2020-08-08 20:22] nirrave commented on #5683
William thank you for your the respond,

Replacing a friend class with a friend module, which is promoted and exposed outside the "everywhere", is a bad idea when it intended for specific use within a specific scope. Such as: Debugger Type Proxy class, helper class, class extensions or dependency property change methods, that are classes just to not exposed their methods outside their scope.

By t

[2020-08-09 17:22] tcmetzger commented on #5664
I'll tackle block 21!

[2020-08-09 17:22] AstroChoco commented on #5664
I'm working on block 1.

[2020-08-09 18:20] AlexB-SheldonMFG commented on #5664
I will take a shot at block 9.

[2020-08-09 20:08] caro-oviedo commented on #5664
HI! I'll take block #28.

[2020-08-09 20:43] AlexB-SheldonMFG commented on #5664
Finished block 9. I did not change designers\windows-forms-designer-overview file (line 200 in the files list). The procedure described in it seems to require exact knowledge the touchscreen UI to accurately describe. Cheers! -Alex.

[2020-08-09 20:44] technicaltidbits commented on #5664
I'll take block 18

[2020-08-09 22:25] irdublu commented on #5067
Took Nikhilpp26's advice and it worked.  Thank you.
Been having all sorts of issues with VS Community 2019 version 16.8.0 preview 1.0

[2020-08-09 22:46] tcmetzger commented on #5664
I'll get started on block 22.

[2020-08-10 09:32] wrkettlitz opened #5714 "'Make Object Id' is not available."
See link:
https://i.imgur.com/lhN6BQV.png

Why not?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72264f70-4d8e-7612-87c9-3dab87fb2f14
* Version Independent ID: b7b7d351-5d53-c225-47e4-5ae46d6afc75
* Content: [Set a watch on variables - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/debugger/watch-and-qu

[2020-08-10 20:33] WilliamAntonRohm commented on #5683
@nirrave, you're welcome!  Thank you for clarifying.

@Mikejo5000, please look into this issue.

[2020-08-10 20:40] #5692 closed

[2020-08-10 21:18] ornellaalt commented on #5693
Thanks for your feedback, @Mimisss. We're actually currently updating this tutorial to work for Core 3.1 and Swagger 5.5.1.

[2020-08-10 23:52] WilliamAntonRohm commented on #5714
@wrkettlitz -- thank you for your question.  Please consider these resources:
- [https://social.msdn.microsoft.com/Forums/vstudio](https://social.msdn.microsoft.com/Forums/vstudio)
- [https://www.stackoverflow.com](https://www.stackoverflow.com)
- [https://www.reddit.com/r/VisualStudio/](https://www.reddit.com/r/VisualStudio)

cc @Mikejo5000 for awareness

I am closing this issue now.  You are wel

[2020-08-11 16:18] Mikejo5000 commented on #5714
@wrkettlitz This could be a doc issue if the feature is not supported for your app type/project. What language and project type are you working with, and what version of Visual Studio? If it is a product bug, please use the resources mentioned above. Thanks!

[2020-08-11 17:01] Mikejo5000 commented on #5654
Looks like @agocke has opened a PR on the private repo: https://github.com/MicrosoftDocs/visualstudio-docs-pr/pull/696, for IL3000. I'll expect to see IL3001 before long.

[2020-08-11 17:42] kumarmohe commented on #5656
I see this is tagged as Document Bug. isn't a bug in VS 2019? If .editorconfig is the preferred way to go forward, why VS 2019 is not showing the option to convert the Ruleset to editorconfig file?

[2020-08-11 20:59] dershver opened #5719 "The operation did not complete within the time allotted."
[Enter feedback here]
The above message was not listed as one of the causes for 'Unable to connect to the Microsoft Visual Studio Remote Debugging Monitor." I am getting this error continuously when trying to deploy an app to HoloLens 2.
There is no info on this document page to guide me.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2020-08-12 05:18] DovahYol opened #5723 "DLL debugging: no guides on what if there are exceptions in calling app"
No guides on what if there are exceptions in calling app.
If you just specify the exe location, not the source location, you can't find the root cause in your code.

https://docs.microsoft.com/en-us/visualstudio/debugger/how-to-debug-from-a-dll-project?view=vs-2019#specify-a-calling-app-in-a-native-dll-project

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2020-08-12 05:40] mikko-pulli opened #5724 "Dependency validation 2019 support page not showing"
Hi
I tried to solve why I cannot open the dependecy validation diagram I made with visual studio 2019 Enterprise in visual studio 19 professional. This page has the information for 17 but when I change it to 19 nothing happens it stays in the support for 17 page

Thank you
Mkko
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2020-08-12 21:33] tedhudek commented on #5664
Thanks for everyone's time! We'll process these as soon as we can.

[2020-08-12 21:33] #5664 closed

[2020-08-13 09:30] weitzhandler opened #5728 "VS Command?"
What's the command name of this feature?
I accidentally messed up the shortcut and don't know what's the command to set the shortcut to.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e5b0abc5-a74f-4138-7608-6b4215bca8c0
* Version Independent ID: a16608ea-41ce-f2c2-dfd3-8ed50a5a083c
* Content: [Go To Line - Visual Stud

[2020-08-13 18:55] TerryGLee commented on #4944
@gusarov We've added both the 'disable map mode' and 'disable word wrap' info that you suggested; the updated page will go live after 4:00 P.M. Pacific Daylight Time today, 8/13/2020. Thanks for your help with improving our documentation!