[2018-06-12 01:52] kuzun9x opened #1102 "I cannot find TFS extension in Visual Studio Community"
Is TFS extension available in Visual Studio Community latest version?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 87e2c464-3537-278a-da5a-5301af0fb6d5
* Version Independent ID: 29cb95b8-5cc2-e816-2d2e-ea6945ae7a5d
* Content: [TF Version Control - Visual Studio for Mac](https://docs.microsoft.com/en-us/visualstudio/m

[2018-06-12 05:01] nschonni opened #1104 "Dead links on license terms"
The following links don't resolve in the license terms for VS
https://www.microsoft.com/info/nareturns.htm
http://go.microsoft.com/fwlink/?Linkid=104610
http://go.microsoft.com/fwlink/?Linkid=104611
https://www.microsoft.com/licensing/userights
http://aka.ms/georestrict
http://microsoft.com/products/ceip/EN-US/privacypolicy.mspx
http://o15.officeredir.microsoft.com/r/rlidIRMHelp?clid=1033

---
###

[2018-06-12 06:45] reednj opened #1106 "Incorrect registry key"
The registry key should be `\HKEY_LOCAL_MACHINE\SOFTWARE\MICROSOFT\.NETFramework\Security\TrustManager\PromptingLevel`

This older version of the article is more accurate: https://msdn.microsoft.com/en-us/library/ee308453.aspx?cs-save-lang=1&cs-lang=csharp#code-snippet-2

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d

[2018-06-12 15:33] Mikejo5000 commented on #1106
@reednj Thank you for pointing it out. I'll take a look.

[2018-06-12 19:39] TerryGLee commented on #776
@Nathan-Tarin Thanks for your inquiry and apologies for the late reply.
@evanwindom @prrana Is this something you could help with?

[2018-06-12 19:42] TerryGLee commented on #788
@Nathan-Tarin Thanks for your inquiry and apologies for the late reply.
@evanwindom @prrana Is this something that we could update the docs with?

[2018-06-12 19:43] TerryGLee commented on #789
@Nathan-Tarin Thanks for your inquiry and apologies for the late reply.
@evanwindom @prrana Is this something that we could update the docs with?

[2018-06-12 19:50] TerryGLee commented on #795
@Nathan-Tarin Thanks for your inquiry and apologies for the late reply.
@evanwindom @prrana Is this something that you could help the customer with?

[2018-06-12 19:51] TerryGLee commented on #940
@evanwindom @prrana If this doc is deprecated, we might consider removing it from the repo altogether...

[2018-06-12 19:51] TerryGLee commented on #941
@evanwindom @prrana If this doc is deprecated, we might consider removing it from the repo altogether...

[2018-06-12 19:52] TerryGLee commented on #942
@evanwindom @prrana If this doc is deprecated, we might consider removing it from the repo altogether...

[2018-06-12 19:52] TerryGLee commented on #943
@evanwindom @prrana If this doc is deprecated, we might consider removing it from the repo altogether...

[2018-06-12 19:53] TerryGLee commented on #944
@evanwindom @prrana If this doc is deprecated, we might consider removing it from the repo altogether...

[2018-06-12 19:53] TerryGLee commented on #945
@evanwindom @prrana If this doc is deprecated, we might consider removing it from the repo altogether...

[2018-06-12 19:55] TerryGLee commented on #1104
@evanwindom @prrana If this doc is deprecated, we might consider removing it from the repo altogether...

[2018-06-12 19:56] TerryGLee commented on #946
@evanwindom @prrana If this doc is deprecated, we should remove it from the repo altogether...please report back when this task is complete, as it's sparking more GitHub Issues of the same ilk. Thanks. :)

[2018-06-12 20:05] AraHaan commented on #795
It would be nice if github users could use their github accounts to log into VSTS as well. :thinking: Or even their microsoft accounts to log into github (like only if their microsoft account is linked to their github). Just a thought I am just placing here for now.

[2018-06-12 20:16] asb3993 commented on #1102
Hi @kuzun9x, The TFS extension is available in all versions of Visual Studio for Mac. You'll have to install the extension through the extensions gallery via **Visual Studio > Extensions...**  as described here: https://docs.microsoft.com/visualstudio/mac/tf-version-control#installation

[2018-06-12 20:38] mrward commented on #1101
There is an uninstall script provided for .NET Core available from the dotnet cli repository on GitHub:

https://github.com/dotnet/cli/blob/master/scripts/obtain/uninstall/dotnet-uninstall-pkgs.sh

You will probably need to give this script execute permissions using `chmod +x` to be able to run it. It also needs to be run as `sudo`.

[2018-06-13 07:15] TerryGLee commented on #1078
@pmisik The answer is that it will install just the selected workload without updating. On the [Modify Visual Studio](https://docs.microsoft.com/en-us/visualstudio/install/modify-visual-studio) page, Step 2 tells you how to modify Visual studio if you have an update pending. But, we've added more information to Step 2 that makes it clear that you can modify Visual Studio without updating it, if th

[2018-06-13 07:27] #1078 closed

[2018-06-13 07:35] TerryGLee commented on #1046
OK ... we'll close this one as a duplicate and place our reply in GitHub Issue [1044](https://github.com/MicrosoftDocs/visualstudio-docs/issues/1044) instead.

[2018-06-13 07:35] #1046 closed

[2018-06-13 07:40] TerryGLee commented on #1044
We'll let this one stand and mark [1046](https://github.com/MicrosoftDocs/visualstudio-docs/issues/1046) as a duplicate.

@eric645 Thanks for providing us with your feedback! It looks like you have a suggestion on how the product could be improved. Because this venue is meant to record how we can improve the documentation, we ask that you please consider resubmitting your suggestion to our [UserVo

[2018-06-13 07:41] #1044 closed

[2018-06-13 07:47] TerryGLee commented on #727
@heaths Is this updated? In other words, can we close this issue?

[2018-06-13 09:05] heaths commented on #727
Yes, the topic was updated to guide the user to create a layout.

[2018-06-13 12:04] iant-ee opened #1117 "Needs update"
This is written for Windows 8 and an old version of Visual Studio.
In my Windows 10 start menu I don't have an all programs option, but I do have Developer Command Prompt for VS 2017 and MSBuild Command Prompt for VS2015

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f41d57f6-25bf-bc84-7ba8-4cb4ecedac05
* Version Indep

[2018-06-13 14:50] Mikejo5000 commented on #1117
Thanks! I'll take a look at it.

[2018-06-13 16:33] #727 closed

[2018-06-14 03:19] RubixRevenge opened #1118 "What happened to ssdt unit test documentation"
I was about to read the ssdt unit test docs again... And they're gone. Will they be back?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5416573b-dd99-f3c9-1707-32fb38023788
* Version Independent ID: 45ebd856-0161-4ea2-2833-d1ec165ebc97
* Content: [Visual Studio testing tools - Visual Studio](https://docs.microsoft.com

[2018-06-14 05:08] JoepKillaars commented on #856
Having the same issue. @gewarren or @BijuVenugopal, any thoughts/fixes for this ?

[2018-06-14 11:26] DavidSwiss opened #1120 "Windows Forms - VB & C# - THE Solution"
The installer normally installs UWP.  To get Windows Forms, you must choose .Net Desktop Development.  The Forms App is then listed for both VB and C#.
It just isn't evident in the beginning

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d8d0cb94-2886-79ce-39dd-0336282369b9
* Version Independent ID: e8bcc58e-98af-e3ad-

[2018-06-14 12:07] SychevIgor opened #1121 "How we can get full list of workloads and components fast?"
If I wanna install only component I need to specify the list of workloads or components. But where and how I can get full list of components and workloads?
It's not mentioned in the article. It's also not mentioned in a commandline documentation https://docs.microsoft.com/en-us/visualstudio/install/use-command-line-parameters-to-install-visual-studio
Could you give direct links to https://docs.mic

[2018-06-14 14:28] michaelbaranov opened #1122 "What {0} should mean here?"
Looks like autogeneration artifacts

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1364960c-6182-b82a-a216-a4b4b27c5ebd
* Version Independent ID: c639343f-2346-9729-a781-317c0cc72e86
* Content: [CA1063: Implement IDisposable correctly - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/code-quality/ca1063-im

[2018-06-14 15:11] kuzun9x commented on #1102
Yup, I have seen and installed this plugin.
Some day ago, i cannot find it in market.

Thanks,

[2018-06-14 15:36] mrlimsllc opened #1123 "2-1 step 2"
File name is incorrect __init.py__ vs __init__.py

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b3acaa1b-ee19-c571-7c5c-8611722bc0ac
* Version Independent ID: 82c0c673-a82c-3443-0b9c-e30ef39bc894
* Content: [Tutorial - Learn Flask in Visual Studio, step 2 - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/

[2018-06-14 16:25] lmf-mx opened #1124 "Clarification that workloads/components should be targeted by the Build Tools installer needed"
The only direct reference to the Build Tools installer is the link to it in the "See also" section. The second link on the page, "Use Command-Line Parameters to Install Visual Studio 2017", refers to the installers for VS. While the syntax and switches of the installer are the same, this can imply that these components can be targeted from the VS installers.
The document could use some modificatio

[2018-06-14 16:58] TerryGLee commented on #1124
@lmf-mx Thanks for your feedback! We'll certainly take this under advisement for either improving this page, or creating a different experience with regard to documenting Build Tools. We'll place this in our backlog catalog for the moment, but will report back soon.

[2018-06-14 17:04] TerryGLee commented on #1121
@SychevIgor A great suggestion; we'll get it implemented. The doc fix should go live tomorrow. And thanks for your feedback!

[2018-06-14 17:27] gewarren commented on #1118
@stevestein I can't seem to find SSDT unit test docs either. Can you help? This link (https://msdn.microsoft.com/en-us/library/jj851212(v=vs.103).aspx) redirects to previous-versions but I can't seem to find the docs there.

[2018-06-14 18:39] TerryGLee commented on #1120
@DavidSwiss Thanks for your feedback! Actually, there isn't a default workload that installs; the UWP workload just happens to be the first workload listed, and would only install if you've selected it. But yes, you do need the .NET Desktop Development workload for [Windows Forms](https://docs.microsoft.com/en-us/visualstudio/ide/create-a-visual-basic-winform-in-visual-studio). For more informatio

[2018-06-14 18:41] #1120 closed

[2018-06-14 19:40] nhwilly opened #1125 "Step 9 didn't work for me."
&gt;"Select the base directory, and from the right-click or context menu, choose Send to &gt; Compressed (zipped) folder."

When I did that, I got a parent folder inside a zip file.  That didn't work, so I selected all the files in the base directory and sent them to a zip file and it worked.

Maybe I'm doing it wrong.  FWIW.

---
#### Document Details

⚠ *Do not edit this section. It is required

[2018-06-14 21:30] gewarren commented on #1118
@RubixRevenge I believe this happened accidentally, and we are hoping to resolve it soon. Thanks for alerting us to this!

[2018-06-14 21:31] gewarren commented on #1125
@nhwilly Thank you, I will see if the step needs to be modified.

[2018-06-14 21:33] gewarren commented on #1122
@michaelbaranov Hmm, very good question! I'll fix this, thanks.

[2018-06-15 03:03] evanwindom commented on #795
@Nathan-Tarin   Thanks for your question.  Here's some info from the Billing FAQ that answers your question:
Q: What kind of volume discounts are available for Visual Studio subscriptions?
A: You get a 5% discount on the 6th and all subsequent subscriptions within each type of subscription:
•Visual Studio Professional monthly
•Visual Studio Professional annual
•Visual Studio Enterprise monthly
•Vi

[2018-06-15 03:05] evanwindom commented on #795
@AraHaan Thank you for your suggestion.  I have forwarded your comment to the engineering team for their consideration.

[2018-06-15 15:15] kraigb commented on #1123
@mrlimsllc Thanks so much for pointing that out! It's a typo that I made in a couple of places, primarily because I haven't quite trained my brain and fingers to type the dunders in the middle of conversational text. :)

[2018-06-15 15:16] #1123 closed

[2018-06-15 16:45] CaspianCanuck opened #1129 "Problem encountered (and resolved)"
While following the doc's instructions I encountered the following problem in VS Community 2017:

The new files server.js, index.html, tsconfig.json and webpack-config.js added to the project were misidentified as TS. VS automatically changed their extension to .ts and created &lt;TypeScriptCompile&gt; nodes for them in the project file.  Project build then failed with errors:

"Build: File xxx ha

[2018-06-15 18:40] gewarren commented on #1118
@RubixRevenge We have removed the redirects that were causing those topics to "go missing". The links should all be working now. Thank you so much for letting us know!

[2018-06-15 18:40] #1118 closed

[2018-06-15 19:07] RubixRevenge commented on #1118
Google search results are still pointing me to the redirect pages. Assuming
it takes a while for the Google search results to update, how do I search
for the pages I need?

Henry Wyckoff
henry.wyckoff@gmail.com

On Fri, Jun 15, 2018 at 11:40 AM, Genevieve Warren <notifications@github.com

[2018-06-15 19:23] gewarren commented on #1118
Can you try this link and then navigate from there using the table of contents? https://msdn.microsoft.com/en-us/library/jj851200(v=vs.103).aspx

[2018-06-15 19:28] RubixRevenge commented on #1118
I"m still getting "Previous versions".

I've already tried the docs.microsoft search without success. And I don't
look forward to crawling through the site -- I've spent enough time on this
as it is. I already have my Google search terms set up for easy access.
I'll check next week in the hope that the Google search results are
refreshed.  If not, I'll drop a line here.

Henry Wyckoff
henry.wyckof

[2018-06-15 19:32] gewarren commented on #1118
Henry, I think this must be a caching issue for you because everything is working for me, including the Google search results. The docs are still on MSDN so you won't find them on docs.microsoft.com.

[2018-06-15 20:02] RubixRevenge commented on #1118
Good idea. I forced Chrome to clear the cache and the correct page is
loading now. Thank you for your help.

Henry Wyckoff
henry.wyckoff@gmail.com

On Fri, Jun 15, 2018 at 12:32 PM, Genevieve Warren <notifications@github.com

[2018-06-15 20:35] CoolDadTx opened #1130 "How to reference the name or location of the project file is missing some information"
The [title](https://github.com/MicrosoftDocs/visualstudio-docs/blob/master/docs/msbuild/how-to-reference-the-name-or-location-of-the-project-file.md) indicates that it will describe how to reference the name or location of the project file but the actual article only talks about and shows the project name. It does link to the reserved properties topic but doesn't provide an additional information.

[2018-06-17 09:00] AlWoj opened #1132 "Renewing the benefit"
What does renewable mean? Will I be ablke to renew it after subscription ends or is it renewing itself every year while I have subscription? Cheers

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 60b2872e-438a-b86e-9ff5-6dc0021f3fe8
* Version Independent ID: 8b9e935e-07ad-4992-edb9-e8361d867617
* Content: [EMS Benefit](

[2018-06-17 13:29] Korporal opened #1134 "CA1063 Contradicts VS Boiler plate comments - .NET Standard"
If a class is updated to implement `IDisposable` and then the VS 2017 prompt followed to insert default implementation code (_Implement interface with Dispose pattern_), then the comments in that inserted boiler plate code contradicts advice given by the analyzer.

The analyzer advice in this case is:

Modify `ExtendedFile.Dispose` so that it calls `Dispose(true)`, then calls `GC.SuppressFinalize`

[2018-06-17 16:17] AraHaan opened #1135 "How does one create an inline task that only executes after all projects."
So like I am not always sure on the build order to hard code the task to execute in a specific project because one can always add new projects that would make the task need to be moved to that project. Instead if would be nice if inline tasks can be coded in the solution file itself and configured to only execute after all projects even added ones are built. This would fix my issue I am facing.

-

[2018-06-17 22:25] drankinatty opened #1136 "Custom Build Documentation for "Open Folder" Lacks Example for Simple Single-Source Build"
The documentation pages for VS2017 "Open Folder", e.g.

https://docs.microsoft.com/en-us/visualstudio/ide/develop-code-in-visual-studio-without-projects-or-solutions
https://docs.microsoft.com/en-us/cpp/ide/non-msbuild-projects
https://docs.microsoft.com/en-us/dotnet/framework/tools/developer-command-prompt-for-vs
https://docs.microsoft.com/en-us/visualstudio/ide/customize-build-and-debug-tasks-in

[2018-06-18 03:33] subsri commented on #856
@GregE123456: My apologies for the delayed response.

We have removed support for dependency validation/layer diagrams from Visual Studio 2017. While removing support for this feature has been a hard decision, we want to ensure that our resources are invested in features that deliver the most customer value. If you are a significant user of the dependency validation, you can continue to use Visual

[2018-06-18 03:35] subsri commented on #1003
@loicmorvan : My apologies for the delayed response.

We have removed support for text transformation from Visual Studio 2017. While removing support for this feature has been a hard decision, we want to ensure that our resources are invested in features that deliver the most customer value. If you are a significant user of the text transformation, you can continue to use Visual Studio 2015 or ear

[2018-06-18 12:04] LarsKemmann commented on #856
@subsri Are you sure that's correct? Can you please point us to a blog post that mentions this? I know that the *UML modeling projects* were removed, but *dependency validation* is still very much supported in VS 2017 as of the last time I checked. Exhibit A: it works fine for full .NET Framework projects. :)

[2018-06-18 12:42] SeanHogg commented on #412
This issue should remain open until a solution has been implemented.

[2018-06-18 15:40] duncanp-sonar commented on #856
@LarsKemmann you're right: dependency validation works fine for old-style MSBuild projects, and the only reason it appears not to work for new-style MSBuild projects is that dependency validation designer doesn't add the NuGet package and the link to the model file because it doesn't recognise the new-style projects as being C#/VB projects.

This is purely an IDE issue - the dependency validation

[2018-06-18 16:05] duncanp-sonar commented on #1003
@gewarren I don't think this issue is related to #856. #856 is just an IDE issue - if you manually make the changes to the project file then everything works correctly at the MSBuild level.
This issue looks more like it's at the MSBuild level.

@subsri could you clarify what is meant by "removed support for text transformation in Visual Studio 2017" please? If I click _Add new item_, and search fo

[2018-06-18 16:46] evanwindom commented on #1132
@AlWoj Thanks for reaching out.  "Renewable" means that the benefit is renewed when you renew your subscription so that it's available as long as you have your subscription.  If you choose to let your subscription expire, you can switch EMS to a paid service if you wish to continue using it.

[2018-06-18 16:48] gewarren commented on #1134
@mavasani Manish, can you take a look at the customer's concern here? It seems like this may be an issue with the analyzer only in .NET Standard projects, and may be generating a warning when it shouldn't be.

[2018-06-18 17:12] mavasani commented on #1134
@Korporal Can you please confirm how are executing the analysis? Are you executing "Run Code Analysis" command or are you installing FxCop analyzers?

[2018-06-18 17:29] sscoleman opened #1138 "xUnit Does not work for Visual Studio 2017"
There is not a working extension for Visual Studio 2017

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30b8edaf-7667-a3e6-38dc-371c53bcd386
* Version Independent ID: 580e757e-8ce7-1437-3843-c88ff4f3ab54
* Content: [Generate unit tests for your code with IntelliTest in Visual Studio - Visual Studio](https://docs.microso

[2018-06-18 17:35] gewarren commented on #412
@SeanHogg You can log an issue over at the [Roslyn issues](https://github.com/dotnet/roslyn/issues) page, although they may already be tracking this work to port the naming rules to FxCop Roslyn analyzers. There is no plan to add support to binary FxCop analysis for .NET Core projects as far as I am aware.

[2018-06-18 18:35] TerryGLee commented on #1132
@evanwindom Thanks for your response; I will close the issue now as "asked and answered." (@AlWoj Even though we have closed the issue, you are more than welcome to add any follow-up comments that you might have.)

[2018-06-18 18:35] #1132 closed

[2018-06-18 19:12] jsuarezruiz commented on #1102
Hi @kuzun9x,

I'm not sure what it can be. I can see the addin with VS Community. Can you try to refresh the repositories, restart Visual Studio and try again?

![imagen](https://user-images.githubusercontent.com/6755973/41556897-4befde92-733c-11e8-8ff2-9d9a08c7e96e.png)

Regards.

[2018-06-18 19:57] duncanp-sonar commented on #1003
Fixing the targets file so that it also works with .NET Core projects is trivial.

### Fix

Change the _Microsoft.TextTemplating.targets.targets_ file as follows:

1. Change the line
```<Target Name="TransformDuringBuild" Condition=" $(TransformOnBuild)==true">```
to
```<Target Name="TransformDuringBuild" Condition=" $(TransformOnBuild)==true" BeforeTargets="BeforeBuild">```

2. (Optional) Delete

[2018-06-18 21:11] gewarren opened #1140 "Ambiguity in overriding ToolsVersion settings"
The "Order of Precedence" section should describe a 100% precise and unambiguous algorithm for determining the ToolsVersion to be used to build the given project.

Many of the cases mention extremely ambiguous terms "ToolsVersion" and "current ToolsVersion". The whole algorithm is about determining "the ToolsVersion value to use"; there is a "ToolsVersions" attribute in the project, "ToolsVersions

[2018-06-18 22:43] mikeblome commented on #1136
Thanks for reporting this @drankinatty. I'll follow up with the product team.

[2018-06-18 23:13] gewarren commented on #773
From a verbatim 5/2018:

Pressed F1 on the ViewBox property of an ImageBrush fields

[2018-06-19 01:03] PaulCapron opened #1141 "How event handling differs between .NET/C++ and JavaScript is unclear"
I am talking about the last paragraph of https://docs.microsoft.com/en-us/scripting/jswinrt/handling-windows-runtime-events-in-javascript

If by “event arguments” you mean “the parameters taken by an event handler”, then yes.

But if by  “**event arg**ument**s**”  you mean “a subclass of [**EventArgs**](https://docs.microsoft.com/dotnet/api/system.eventargs)”, then in VB/C#/C++ too this is a singl

[2018-06-19 09:16] Raulland opened #1143 "Minor typo: ArrangeOverride, and ArrangeOverride"
In Layout section: The Layout event accurately determines the cost of laying out each element (that is, the time spent in Arrange, Measure, ApplyTemplate, ArrangeOverride, and ArrangeOverride)

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 70bc0a73-a7f3-df8a-3c28-9be2f70638e3
* Version Independent ID: f83b9422-120d-576

[2018-06-19 11:25] wasigh opened #1144 "Typo: 'exisit'"
Under "Remarks" the second line of the second paragraph has a typo: 'exisit;

---
#### Documentdetails

⚠ *Dit gedeelte niet bewerken. Het is vereist om problemen te koppelen tussen docs.microsoft.com en GitHub.*

* ID: 62871e82-3b22-e086-0825-3592347b2d87
* Version Independent ID: f5b6192f-4daf-42c7-a6ac-60b307b5cb6e
* Content: [Warning Task - Visual Studio](https://docs.microsoft.com/nl-nl/visua

[2018-06-19 15:20] drwatson1 opened #1145 "The described way to change template location doesn't work"
I found a less complicated way to change the location. After I add project template zip file as a VSIX asset I have this folder tree:
&lt;VSIX Project Root Folder&gt;
/ProjectTemplates
/ProjectTemplates/ExampleTemplate.zip

The source.extension.vsixmanifest file contains these lines:

    &lt;Assets&gt;
        &lt;Asset Type="Microsoft.VisualStudio.ProjectTemplate" d:Source="File" Path="ProjectTe

[2018-06-19 15:39] Mikejo5000 commented on #1144
@wasigh Hello, thanks! I'll fix.

[2018-06-19 15:41] Mikejo5000 commented on #1143
@Raulland Thanks for pointing it out. I'll fix it.

[2018-06-19 15:51] Mikejo5000 commented on #1141
@PaulCapron Thanks for bringing this up. Reviewing the PR.

[2018-06-19 16:46] subsri commented on #856
@LarsKemmann , @GregE123456 : I am sorry for the confusion in my message. While Dependency validation/Layered diagrams are supported for .Net Framework in VS 2017, they are not supported for .Net core projects in any of the VS versions. I agree that currently it works for C#, Visual Basic and C# projects in VS 2017. What I meant was **there is no official support for DV in .Net Core**. I hope this

[2018-06-19 17:01] subsri commented on #1003
@duncanp-sonar : I am sorry for the confusion in my message. What I meant was there is no official support for T4 in .Net Core projects. Also, thanks for sharing a solution.

[2018-06-19 17:15] TerryGLee commented on #1121
The doc fix is live. Thanks again for the suggestion!

[2018-06-19 17:15] #1121 closed

[2018-06-19 17:40] Mikejo5000 commented on #1140
I'll take a look at this.

[2018-06-19 17:56] #1141 closed

[2018-06-19 17:56] #1130 closed

[2018-06-19 20:55] TerryGLee commented on #1104
FYI: We've removed the file that had the dead links and redirected to a more current version of the licensing information.

[2018-06-19 20:57] TerryGLee commented on #946
All: We've removed the deprecated doc and redirect to a current version of the information. Closing this issue accordingly.

[2018-06-19 20:57] #946 closed

[2018-06-19 20:58] TerryGLee commented on #945
All: We've removed the deprecated doc and redirect to a current version of the information. Closing this issue accordingly.

[2018-06-19 20:58] #945 closed

[2018-06-19 20:58] TerryGLee commented on #944
All: We've removed the deprecated doc and redirected to a current version of the information. Closing this issue accordingly.

[2018-06-19 20:58] #944 closed

[2018-06-19 20:58] TerryGLee commented on #943
All: We've removed the deprecated doc and redirected to a current version of the information. Closing this issue accordingly.

[2018-06-19 20:58] #943 closed

[2018-06-19 20:59] TerryGLee commented on #942
All: We've removed the deprecated doc and redirected to a current version of the information. Closing this issue accordingly.

[2018-06-19 20:59] #942 closed

[2018-06-19 20:59] TerryGLee commented on #941
All: We've removed the deprecated doc and redirected to a current version of the information. Closing this issue accordingly.

[2018-06-19 20:59] #941 closed

[2018-06-19 20:59] TerryGLee commented on #940
All: We've removed the deprecated doc and redirected to a current version of the information. Closing this issue accordingly.

[2018-06-19 20:59] #940 closed

[2018-06-19 21:10] nschonni commented on #1104
That one looks specific to Volume Licensing stuff, although the Visual Studio License whitepaper http://aka.ms/vslicensing points to http://www.microsoftvolumelicensing.com/userights/PUR.aspx (also dead) and http://www.microsoft.com/useterms/

The aka.ms link to the whitepaper PDF might be a more general link

[2018-06-19 21:19] TerryGLee commented on #1104
@evanwindom @prrana Can you verify if we need to make a change in our redirect strategy for license terms?

[2018-06-20 14:10] kelps opened #1146 "Documentation on how to create Solution Templates"
Documentation on how to create Solution Templates with pre defined structure (solution folders) and basic files in those folders (readmes, docs, scripts, .ignore...). Some companies and dev teams have their own standards and being able to create templates like this would be great. I know it is possible to create multi-project templates, but what I'm asking for is some documentation on how to creat

[2018-06-20 17:52] asb3993 commented on #1097
Hi @nathan130200, thanks for your kind feedback. I really appreciate it!

[2018-06-20 17:52] #1097 closed

[2018-06-20 18:12] gewarren commented on #1146
@kelps Thanks for the suggestion. I'll add this to our backlog.

[2018-06-20 21:39] gewarren commented on #810
@ptoye I think i see where the confusion came in. The "Report new problem" button appears in the Visual Studio UI, not on Developer Community itself. The steps in the article assume you are searching for issues through the Visual Studio interface, not through a web browser. I'll update the topic to make this clearer.

[2018-06-20 22:34] dannyspeagle opened #1147 "CEO"
I was on Microsoft Visual Studio working on a program when I noticed at the very bottom on the far right was an action that read " (uparrow) Add to Source Control".  Well, I don't know what Source Control is.  So, I came here.  And what do you know...There is no definition on the very page that is supposed to tell me about Source Control.  Ugh...  So, I still don't know.

Now, how can I determine

[2018-06-20 22:41] dannyspeagle opened #1148 "Source Control definition"
I came here to learn what 'Source Control' is.  But, there is no definition here.  On the very page that is supposed to discuss 'Source Control', I might add.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2d694b45-7f91-63cb-e02e-352af73e54a4
* Version Independent ID: 0162239a-2140-1f7f-2bc1-0e4686637621
* Content: [So

[2018-06-20 22:51] gregvanl commented on #1147
Hi @dannyspeagle, Sorry you landed on this topic which is for Visual Studio extenders wanting to provide source control (version control) plug-ins. We'll update the topic header to make this clearer.
For a general introduction to source control, you might try https://en.wikipedia.org/wiki/Version_control.  For Visual Studio supported source control systems, see https://docs.microsoft.com/en-us/vst

[2018-06-20 22:51] #1147 closed

[2018-06-20 22:51] gregvanl commented on #1148
Closing as duplicate of https://github.com/MicrosoftDocs/visualstudio-docs/issues/1147

[2018-06-20 22:51] #1148 closed

[2018-06-21 00:55] devluz opened #1149 "Unit test apps that use the camera?"
How can you run unit tests automatically that use video devices? By default UWP will ask the user to allow access thus stalling all tests.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06ad1796-f0fa-b93d-f885-542e7e50e3d2
* Version Independent ID: bacdf7a8-a577-bd17-769c-46397b5850b5
* Content: [Creating and Running U

[2018-06-21 05:04] Powerhelmsman opened #1150 "Error in EnvDTE.ToolBoxItems.Add code sample, no way to edit"
The issue is transferred from https://github.com/MicrosoftDocs/feedback/issues/246
In the second code sample under https://docs.microsoft.com/en-us/dotnet/api/envdte.toolboxitems.add#Examples, it has "C:\Libraries\ADotNetControl.dll(" where I believe it's supposed to just be "C:\Libraries\ADotNetControl.dll".
Why can't I submit a PR for this?

Migrated from MicrosoftDocs/Docs
Feedback from @jnm2

[2018-06-21 05:04] Powerhelmsman commented on #1150
Please assign this to @gregvanl

[2018-06-21 05:07] gregvanl commented on #1150
My mistake, this is code block is in the API reference and needs to be fixed elsewhere

[2018-06-21 05:07] #1150 closed

[2018-06-21 06:58] harshalsinha commented on #1125
@nhwilly Thank you for sharing, even I had been facing the same issue.

[2018-06-21 09:35] JamesItSolutionsLtd opened #1151 "Visual Studio for Mac"
What about an example of how to get this to work on visual studio for mac

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ca46de41-5103-a318-3553-3bf05c59751b
* Version Independent ID: 27b60762-dfe8-9320-c891-164e2f0ca980
* Content: [Code Generation in a Build Process in Visual Studio - Visual Studio](https://docs.micro

[2018-06-21 12:00] k-takai opened #1152 "Is the term correct ? (MVP and RD)"
There are written the above terms in some pages.
I think followings are correct, isn't it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 104e12fa-1d63-852f-1e4d-460d323fa3e9
* Version Independent ID: c9d28ce0-c253-05dc-0643-4474e454457a
* Content: [Visual Studio IDE Benefit in Visual Studio Subscription](https://docs.

[2018-06-21 12:54] anantharamakrishnans opened #1153 "Async Task intellitrace events"
If I create a async task in controller and hook up intellitrace standalone collector which just uses HttpClient to call a web service then would trace be collected? I tried and it didn't result in any trace file.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 995e3a2f-5674-63c4-5899-ba9a6b0e5da6
* Version Independent I

[2018-06-21 13:27] mwpowellhtx opened #1154 "How about Core or Standard Target Frameworks?"
Is that all the Target Frameworks that are supported? Surely ``netcoreapp`` or ``netstandard`` are also supported?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1a80e5d7-2db7-48c0-e8b6-ca8c3ff30017
* Version Independent ID: ad64635b-06d5-1b87-8f02-80cf25c12520
* Content: [MSBuild Target Framework and Target Platform -

[2018-06-21 15:13] Mikejo5000 commented on #1153
@andysterland Andy, who might best answer this question?

[2018-06-21 16:36] Mikejo5000 commented on #1154
Hi, you will want to use the Sdk element for .NET Core. For more info, see https://docs.microsoft.com/en-us/visualstudio/msbuild/what-s-new-in-msbuild-15-0. There are several links to more info on this page. Also, this page: https://docs.microsoft.com/en-us/visualstudio/msbuild/how-to-use-project-sdk

[2018-06-21 16:43] mwpowellhtx commented on #1154
Admittedly, I was "here" in the docs on something of a rabbit hole chasing the infamous ``Assets file doesn't have a target for '.NETCoreApp,Version=v2.0'. Ensure that restore has run and that you have included 'netcoreapp2.0' in the TargetFrameworks for your project`` error. Which I followed down the path of verifying my *MSBuild* options, potentially including ``TargetFrameworks``.

As it turns

[2018-06-21 18:03] gewarren commented on #1152
@k-takai I think you are correct Kazuki. @TerryGLee can you take a look?

[2018-06-21 18:04] gewarren commented on #1151
@asb3993 Amy, any idea if T4 text transformation is supported on VS for Mac?

[2018-06-21 18:06] gewarren commented on #1149
@PBoraMSFT do you know who can answer this question? Thanks!

[2018-06-21 18:11] evanwindom commented on #1152
@gewarren  Kazuki is correct.  I will take care of it.   @TerryGLee - FYI

[2018-06-21 18:11] TerryGLee commented on #1152
@evanwindom FYI.

[2018-06-21 21:03] TerryGLee commented on #1104
@nschonni Thanks for your additional suggestions, but after some discussion, we're happy with the linking strategy that we've chosen with regard to license terms.

[2018-06-21 21:03] #1104 closed

[2018-06-21 22:04] asb3993 commented on #1151
Yep, it's supported in Visual Studio for Mac. There are actually t4 templates built in, you can find these by right-clicking on your project and selecting "Add > New File". There are three templates under the "text templating" section.

[2018-06-22 07:22] #810 closed

[2018-06-22 10:06] ptoye commented on #810
Thanks.

[2018-06-22 17:20] Mikejo5000 commented on #1129
@CaspianCanuck Hi, what version of 2017 are you running? E.g., 15.7.2? Did you start with a JavaScript or TypeScript template? (Blank Node.js Web Application template under the JS or TS node?) I have not seen this problem as of yet.

[2018-06-22 17:41] Mikejo5000 commented on #1092
@AraHaan Are you still offline and can't update VS? I'm not sure if you can install offline via iTunes, but we have this offline installation topic: https://docs.microsoft.com/en-us/visualstudio/install/create-an-offline-installation-of-visual-studio

[2018-06-22 17:57] Mikejo5000 commented on #1069
Adding "nse" to this doc

[2018-06-22 18:00] Mikejo5000 commented on #1051
@StingyJack Sorry for taking a long while to get back to you. I absolutely would expect the project setting to override the general setting. Let me know if you find any different. Thanks!

[2018-06-22 18:00] #1051 closed

[2018-06-22 18:28] xm574 commented on #980
Hi, True.. please provide a solution as it is impossible to install the tool on a restricted network.
I have created the layout folder from a computer with internet access.. moved it to a computer with limited access and executed the installation.. then I had these message:
"Give us a minute...."
"Unable to download installation files. Check your internet connection and Try again".
It is supposed

[2018-06-22 18:52] speeder990 commented on #980
Hi, Downloading the Community version right now, No problems seems to present. You did get your spaces right, right? As for the installation, install security certificates provided, then execute the installer inside the cache folder.  You may need Internet connection for Android SDKs though.  Microsoft please confirm this as I have not installed Android development since last year I guess.

[2018-06-22 19:48] nicknick923 opened #1156 "Help"
ServiceProvider is a type, so when working with WPF, this doesn't work. How do I get this to work?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 226603ca-c2a0-46ae-daf9-c9f202f90df9
* Version Independent ID: f4ec9304-5c71-a2d3-a9cb-bbe704dd9118
* Content: [Using the Settings Store - Visual Studio](https://docs.microso

[2018-06-22 21:31] AraHaan commented on #1092
I am temporarily back online. However I do think I need to do a cache of all the components I got currently on my VS install in case it breaks for some unknown reason.

However not sure yet on the command currently for this layout:
![](https://i.alexflipnote.xyz/05788e.png)
![](https://i.alexflipnote.xyz/3284df.png)
![](https://i.alexflipnote.xyz/f565e4.png)
![](https://i.alexflipnote.xyz/47312f.p

[2018-06-22 23:55] Mikejo5000 commented on #1140
@rainersigwald Rainer, is "current ToolsVersion in steps 3, 4 and 6d in the Order of Precedence section ambiguous? And "ToolsVersion" in 6a?

[2018-06-23 00:00] Mikejo5000 commented on #995
Looks like this was fixed. Let me know if you still see the bad link. Thanks!

[2018-06-23 00:00] #995 closed

[2018-06-23 00:12] Mikejo5000 commented on #831
Sorry for the delayed response on this issue. I'm asking about it.

[2018-06-23 03:54] nschonni commented on #995
It resolves to https://www.microsoft.com/whdc/devtools/debugging/default.mspx which is a 404 for me

[2018-06-23 07:16] Wowotoe commented on #1102
The installation is fine. But after I downloaded the projects from TFVC, I'll get Load Failed: File Not Found error when trying to open the solution. The path in the error is the correct path.

[2018-06-23 11:52] dozer75 commented on #831
Sorry for the delay, an update on this from me, It seems that this was caused by a function in Resharper to watch variables inline in code together with VS on larger solution, by disabling that functionality the issue went away for me...

[2018-06-24 12:07] odyxanthi opened #1157 "needs proof-reading"
It looks like this tutorial needs proof-reading. There seem to be gaps in the instruction.

E.g. it says "In the FirstToolWindowCommand class, add the following code at the end of the ShowToolWindow() method. "   but when wast this method defined in the first place?

Also it suggests adding a button handler method
"private void ButtonHandler(object sender, EventArgs arguments)" but how it is invok

[2018-06-24 14:55] rshenkster opened #1158 "Incorrect Label Font Size"
Font size should be 48 for the form size of 550, 550.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7e62099-d6a5-a1d2-93cc-d89c51f7b9e7
* Version Independent ID: b942fc00-8b47-5a27-437c-d17708f26e37
* Content: [Step 1: Create a project and add a table to your form - Visual Studio](https://docs.microsoft.com/en-us/vis

[2018-06-24 21:14] gorangrubic commented on #651
Just to confirm +DrewBasher's solution: It works. (VS2017 Community 15.7.4)

[2018-06-25 12:07] datarelish opened #1160 "StoredProcedure.R or SqlSProc.R"
hi there, the documentation refers to StoredProcedure.R but the actual R template shows the file as SqlSProc.R.
It's a bit confusing, and it's not clear if you want someone to set up a new file or whether they should use the existing file in the template.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65ee57e7-f1a1-3ea

[2018-06-25 14:44] Mikejo5000 commented on #1106
Thanks!

[2018-06-25 14:44] #1106 closed

[2018-06-25 15:23] kraigb commented on #1160
OK, thanks for letting us know. I'll get it clarified.

[2018-06-25 15:56] jackhorton commented on #629
If you have a recent Insider build of Windows (anything greater than ~17670, I think), the correct answer is given in Edge, as we switched to using ICU for locale-sensitive methods. I will let @jefgen comment on the status of updating the NLS data, however my understanding is that such a fix likely would _not_ come to already-released versions of Windows.

[2018-06-25 16:23] kraigb commented on #1160
Just to note, the item template uses "SqlSProc.R" by default for the filename; the documentation indicates that you can change the name to anything you want, which is of course necessary if you have more than one such file.

[2018-06-25 16:32] kraigb commented on #1160
Edits made.

[2018-06-25 16:32] #1160 closed

[2018-06-25 18:23] jefgen commented on #629
The internal bug to change the NLS data should hopefully be in the next upcoming release of Windows.
However, as @jackhorton pointed out, locale data changes are generally not serviced down-level.
Unfortunately, this likely means that you will need to work around this issue.
(cc: @targetdev-bot as FYI.)

[2018-06-25 18:55] pmisik opened #1161 "Document XmlPoke Namespaces parameter"
https://github.com/Microsoft/msbuild/issues/3451

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ef0ef75-5fa0-55e2-415b-e7b3d0c79a56
* Version Independent ID: 5982f1be-d837-2296-9b12-0c353ff1a827
* Content: [XmlPoke Task - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/msbuild/xmlpoke-task)
* Content Sour

[2018-06-25 19:41] #1069 closed

[2018-06-25 19:41] #1143 closed

[2018-06-25 19:41] #1144 closed

[2018-06-25 19:41] #1031 closed

[2018-06-25 19:41] #930 closed

[2018-06-25 20:19] hollasch opened #1163 "Erroneous dialog text for Advanced Save Options"
The text in this dialog should be changed. For one, modern Windows is quite happy with LF line endings (even .bat and .reg files). Secondly, Macintosh systems have abandoned CR line endings since they migrated to OS X in 2001. This _could_ be replaced with "Legacy [pre-2001] Macintosh (CR)", but probably better to just leave it at CR.

---
#### Document Details

⚠ *Do not edit this section. It is

[2018-06-25 20:56] mairaw opened #1164 "Add a doc about DPI Awareness in Visual Studio"
Original GitHub issue https://github.com/dotnet/docs/issues/6123 from @OliaG

We need to create documentation that:

- Provides context about why this issue occurs.
- Showcases examples of what the issue might look like in real life.
- Explains how to resolve the issue (with either of the two current solutions outlined in the “Current Solution” section).
- Points out that the mode is only applicab

[2018-06-26 03:38] pcchannz commented on #980
The vs2017layout folder is not created upon running the command

vs_community.exe --layout c:\vs2017layout --add Microsoft.VisualStudio.Workload.ManagedDesktop --add Microsoft.VisualStudio.Workload.NetWeb --add Component.GitHub.VisualStudio --includeOptional --lang en-US

Am I missing something? Thanks

[2018-06-26 06:13] anantharamakrishnans commented on #1153
[HomeController.zip](https://github.com/MicrosoftDocs/visualstudio-docs/files/2135721/HomeController.zip)

[HomeController WebService.zip](https://github.com/MicrosoftDocs/visualstudio-docs/files/2135736/HomeController.WebService.zip)

The web application (MVC Application controller code snippet shared as HomeController.zip)- "WEBUI" calls Web Service "WEBSERVICE"(Again MVC application and control

[2018-06-26 07:54] syedrashid47 commented on #607
how stupid can the research team be, As tedvz mentioned, "We surveyed hundreds of people during the previews and RCs" in an ecosystem of more than a few millions your surveyed hundreds, there are more then a thousand reasons why we need ISO,
as LeeC2202 pointed out, Create a simple core with the framework and web/forms application, and then allow additional, options to download,

[2018-06-26 09:30] xenalite opened #1165 "Managing security"
A number of undesirable AAD identities have access to add / edit our cloud subscriptions.
I looked at subscription security. No identities have User Access Administrator role assigned, and yet they have access.
One identity is a Reader only on the subscription.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b4ff3400-d8

[2018-06-26 09:42] antonKrouglov opened #1166 "How to increase layout download timeout?"
In our corporate environment big downloads are slow to start due to proxy/antivirus. So the largest packages (i.e. Anaconda) constantly fail to download. Is there any workaround? Can timeout be increased?

I am able to download them manually. Is there a way to place downloaded files into approprilare layout folders?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2018-06-26 12:10] TerryGLee commented on #1165
@xenalite Thanks for your feedback; @evanwindom @lankaim FYI.

[2018-06-26 12:12] TerryGLee commented on #1166
@antonKrouglov Thanks for your inquiry; we'll investigate and report back.

[2018-06-26 12:15] #1058 closed

[2018-06-26 15:34] kwbskf opened #1168 ""largest" and "smallest" do not unambiguously convey ordering"
Wording choice:  highest or greatest is better than "largest", lowest or least is better than "smallest", since in most people's minds, the value of -98,765 is certain "larger" than 1.03612E-08, having a much larger *magnitude*, despite falling below it in the natural ordering of real numbers.  This is important, because when dealing with range a precision of a type (in a programming language) tha

[2018-06-26 16:30] anjalibapat opened #1169 "Where does App.config file get deployed when installing "published" Office solution by OneClick?"
I have and Excel Document Office solution, and in order to package it, I implemented the Publishing method.   My office solution also uses application configuration file.  Once setup is executed the Excel document customization functions as expected.  But when I want to make change to configuration setting sin config file, I am not able to locate it.  The only copies I find are OSolution.dll.confi

[2018-06-26 17:45] gewarren commented on #1163
@hollasch Are you referring to the "line endings" selections in the drop-down list? E.g.

Windows (CR LF)
Macintosh (CR)

[2018-06-26 18:10] hollasch commented on #1163
Yes, sorry about not being clear.

From: Genevieve Warren [mailto:notifications@github.com]
Sent: Tuesday, June 26, 2018 10:46
To: MicrosoftDocs/visualstudio-docs <visualstudio-docs@noreply.github.com>
Cc: Steve Hollasch <steve@hollasch.net>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/visualstudio-docs] Erroneous dialog text for Advanced Save Options (#1163)

@hollasch <https

[2018-06-27 08:06] nertilpoci opened #1171 "Samples"
Are there some working samples that go with the post? Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7bb17b17-4dc8-7ba1-0318-af21f9d5ac43
* Version Independent ID: f704dbc4-472c-0ba9-e867-3daf24ae7ab9
* Content: [Extending the Output Window - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/exten

[2018-06-27 16:53] mikeblome commented on #1136
@WillBuik do we have a good example for single-source task.json files?

[2018-06-27 17:40] hollasch commented on #1163
One additional note: for several years now developers have been asking for better line-ending control in Visual Studio. This might take several forms: an option to specify desired line endings, an option to detect and preserve line endings, and so forth. I'm not raising that issue in this one, but noting that there is likely another issue related to this one with respect to line endings and Visual

[2018-06-27 17:45] gewarren commented on #1163
@markw-t Can you take a look at this feedback about the Advanced Save Options dialog? Steve thinks that the following "line endings" selections in the drop-down list should be updated:

Windows (CR LF)
Macintosh (CR)

[2018-06-27 18:01] gewarren commented on #1164
@OliaG Can you provide me with the Disable DPI Awareness doc? Thanks!

[2018-06-27 20:05] OliaG commented on #1164
I also sent and email with the link and shared it with you.

[2018-06-27 23:29] vukelich opened #1176 "Solution Explorer filter buttons should have dynamic button visibility"
Change the button definition in the .vsct file to the following:

&lt;Button guid="guidFileFilterPackageCmdSet" id="FileFilterId" priority="0x0400" type="Button"&gt;
    &lt;Parent guid="guidSHLMainMenu" id="IDG_VS_TOOLBAR_PROJWIN_FILTERS" /&gt;
    &lt;Icon guid="guidImages" id="bmpPic1" /&gt;
    &lt;CommandFlag&gt;DynamicVisibility&lt;/CommandFlag&gt;
    &lt;CommandFlag&gt;DefaultInvisible&lt;

[2018-06-28 09:32] VinayGupta23 opened #1177 "Python environment wrongly detected after IronPython v2.7.8 upgrade"
Hi,

I have been using IronPython 2.7.7 with Visual Studio without any problem. For 32-bit, there was `ipy.exe` and 64-bit had `ipy64.exe`.
After updating to IronPython 2.7.8, there was a change where 32-bit was moved to `ipy32.exe` and 64-bit to  `ipy.exe`.
Since then, the Python environment configuration has broken.

## What I tried

1. Repair installation of IronPython 2.7.8
2. Search through r

[2018-06-28 14:16] habibcs opened #1179 "SolutionFolder"
I want to add custom items inside a solution folder created inside a solution - meaning I do not wish to add projects but some other usual directory with certain files.
Or say, I want to add a .nuget solution level folder which should also be present in the directory structure.
How to do that? It should have been specified on this page too, I suppose.

Thanks, Habib

---
#### Document Details

⚠ *

[2018-06-28 19:10] gewarren commented on #1177
@kraigb Can you take a look at this issue?

[2018-06-28 20:05] kraigb commented on #1177
@VinayGupta23 Thanks for the report. I suspect this is a product bug, but one that likely also needs some docs treatment, so I appreciate your filing an issue with PTVS as well.

[2018-06-28 21:59] gewarren commented on #1037
@sinapis You're correct that there is currently no support for .EditorConfig enforcement in CI/CD builds. There are plans to add this functionality in a future release. I'll make sure the documentation states this limitation.

[2018-06-29 03:48] nschonni commented on #964
@gewarren that option appears when you select "Visual Studio Team Foundation Server" and then look at the new node `Environment`. GH appears to refuse to upload my image, but you'll find it once you flip your plug-in selection 👍

[2018-06-29 05:27] MaskMaster4048 opened #1181 "Building improperly"
Microsoft Visual Studio (with no settings changed), builds my solution into a folder containing a dll that cannot be run through the command line. I cannot get it to build into an exe.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a5db8407-cc91-c741-6bc4-9d059ab40308
* Version Independent ID: 8d477def-5203-6085-915b-3

[2018-06-29 11:16] luckielordie opened #1182 "Utilities for modifying feed"
Are there any examples of how to modify this feed?

Do I need to write my own service so my users can update their extensions? Does one already exist?

[2018-06-29 13:04] nhristova opened #1183 "Code Map and Live Dependency Validation not available in Visual Studio Professional 15.7.1"
Clicking on Tools &gt; Get Tools and Features &gt; Individual Components &gt; Code Tools dose not have Code Map and Live Dependency Validation in the list.
Here is a link to a screen shot: https://drive.google.com/file/d/1n8k-xMRtKX071xkBdioycul9WIiWLZAe/view?usp=sharing

Has this been removed from VS Professional?
If not, how can I install it.
Thanks!

---
#### Document Details

⚠ *Do not edit th

[2018-06-29 14:37] gregvanl commented on #1182
Hi @luckielordie, there is not enough context in this issue for us to redirect it to the correct people. Can you provide the topic link and a brief description of the feed you want to modify. Thanks.

[2018-06-29 15:00] sm1th commented on #1054
Wow... Spent a whole day looking for why I can't publish functions from Mac, and then I finally see this little comment thread. Hope publishing makes it to public soon.

[2018-06-29 15:04] asb3993 commented on #1054
@sm1th The functionality is still in preview, which you can access through the Alpha or Beta channel. Feel free to try it out and provide feedback on [developer community](https://developercommunity.visualstudio.com/spaces/41/index.html).

[2018-06-29 15:11] sm1th commented on #1054
@asb3993 I've done that, thanks.

[2018-06-29 15:56] tgriff opened #1184 "Map of images/icons to their image IDs?"
I wish there was a map of images/icons to their image IDs so I can easily find the ID for the image/icon I want rather than having to do some trial and error until I find the right ID. If there is such a map, put a link to it on this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8c747e6f-61b3-430c-3432-133febdfb

[2018-06-29 16:39] kylejrp opened #1185 "Incorrect XML?"
This line seems strange:
    &lt;proxy bypassonlocal="True" proxyaddress=" HYPERLINK "http://&lt;yourproxy:port#" http://&lt;yourproxy:port#&gt;"/&gt;

Should this be:
    &lt;proxy bypassonlocal="True" proxyaddress="http://&lt;yourproxy:port#&gt;"/&gt;

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c02d9ac-3066-a613-

[2018-06-29 17:59] kraigb commented on #1177
Looks like the product issue was resolved for 15.8 (currently in Preview). I've added a few notes about registry locations for IronPython, which seems to be all that's needed doc-wise.

[2018-06-29 17:59] #1177 closed

[2018-06-29 18:21] gewarren commented on #964
@nschonni Ah, thanks! I see them now.

![image](https://user-images.githubusercontent.com/24882762/42108149-8f171c94-7b8e-11e8-8f8c-2bc801d3508b.png)

[2018-06-29 18:29] #962 closed

[2018-06-29 18:51] gewarren commented on #964
@thomb1 Did you see this? https://www.dynamsoft.com/help/SCM%20Hosted/Visual-Studio-Package-Plugin/Source-Control--Environment-Settings.htm It sounds like you're seeing something a little different though. It seems to me that "Team Foundation" and "Independent Developer" are just preconfigured profiles that check/uncheck boxes to set the check out behavior for that profile. Or, you can create your

[2018-06-29 19:05] thomb1 commented on #964
Hi Genevieve and all,
First of all, thank you for all the work you’ve put into this!

I am embarrassed to say that no didn’t really spend a lot of time looking at DynamSoft’s docs…mostly because as you said, its not the same screens – their docs are specific to older revs of Visual Studio.

Anyhow, I was able to get source control configured reasonably well using the below –  this is probably not

[2018-06-29 19:21] devesh95 opened #1186 "[VS2017] File.OpenSolution not a valid command?"
Context: Running devenv commands for Visual Studio Professional 2017.

When I tried to run `devenv /command "File.OpenSolution"` I was met with an error that stated the command does not exist. This was confirmed using the command window in the IDE itself.

Either the documentation here is incorrect or outdated.

![image](https://user-images.githubusercontent.com/6236599/42110887-8dcfb04a-7b97-11e8

[2018-06-29 20:22] TerryGLee commented on #1185
@kylejrp Thanks for your feedback! We'll investigate and report back.

[2018-06-29 21:31] gewarren commented on #1181
@MaskMaster4048 Can you open the project properties, Application page, and see what the "Output type" is? For an executable, you'll want output type to be Windows Application or Console Application.

![image](https://user-images.githubusercontent.com/24882762/42115728-0262cf8a-7ba9-11e8-8512-309c597ee3a1.png)

[2018-06-29 21:33] gewarren commented on #1183
@nhristova Thanks for this feedback. I'll try to find out what's going on for VS Professional edition.

[2018-06-29 23:11] MaskMaster4048 commented on #1181
@gewarren This is how the application page looked when I opened it. I went through Windows app, Console app, and class lib to see if that would change anything, but every one built a dll. Also, I did some digging and found that the dll file runs (when debugging) through `Program Files\dotnet\dotnet.exe`, in case that helps.
![capture](https://user-images.githubusercontent.com/28271645/42118131-863

[2018-06-29 23:21] gewarren commented on #1181
Ah, okay it looks like you have a .NET Core app with "framework-dependent deployment", which is the default. If you want to build an executable, you need "self-contained deployment". For more info see:

https://docs.microsoft.com/en-us/dotnet/core/deploying/index
https://stackoverflow.com/questions/39155571/how-to-run-net-core-console-app-from-the-command-line

[2018-06-30 14:40] galem2695 opened #1188 "Get started debugging multithreaded applications in Visual Studio"
Need to proof read tutorial better
Example, the lines (this refers only to the C++ version).
Thread::Sleep(3000);
Console.WriteLine();
do not exist in the c++ source code

The lines
std::this_thread::sleep_for(std::chrono::seconds(3));
std::cout &lt;&lt; "The function called by the worker thread has ended." &lt;&lt; std::endl;
the lines do, which I believe you meant.

You should include a line "us

[2018-06-30 17:28] AhmadKelany opened #1189 "Animate objects - no video link"
There is no video link at all.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0a762743-426f-ae8a-5c4a-fdb7fcfe250d
* Version Independent ID: b1ec684f-90fc-04f4-19cf-c6b6dce6d078
* Content: [Animate objects in XAML Designer - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/designers/animate-objects-in-xaml-

[2018-07-01 06:16] MaskMaster4048 commented on #1181
@gewarren I followed every article in that section, all failed me. I took several screenshots for you to look at. What confuses me the most is the output type is set to `Exe`, but it's outputting the dll instead. I tried to change that setting to see if there was any affect, but every option outputted a dll.
![inkedcommand prompt 01 07 2018 1_02_10_li](https://user-images.githubusercontent.com/282

[2018-07-01 06:30] RehanSaeed commented on #1070
You missed:

[code]

[2018-07-01 07:17] cremor commented on #1070
@RehanSaeed Those are documented. See ["This." and "Me." qualifiers](https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference#this_and_me)

[2018-07-01 08:08] fiksen99 opened #1190 "Include info on how to pass and use Output values"
None of the examples include outputs, it would be helpful to demonstrate how this is used.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1dbbe593-3f96-ce66-ceb3-0f7e6161dba9
* Version Independent ID: 3afb0fe4-6c5a-e899-61e1-37cd33963eba
* Content: [Task Writing - Visual Studio](https://docs.microsoft.com/en-us/visuals

[2018-07-01 09:07] thuru commented on #856
@SrinivasMSFT : Just to be precise, the dependency validation does not work any asp.net core / .net core templates, as mentioned by @duncanp-sonar. I checked this on an asp.net core project based on .net471, it didn't work.

[2018-07-01 15:10] RehanSaeed commented on #1070
So they are, apologies.

[2018-07-01 16:15] darrentraffk opened #1191 "Severity"
In Severity, for "none or silent", it states, "When this style is not being followed, do not show anything to the user; however, auto-generated code follows this style."  How do you define "auto-generated"?  If we're using a tt file that generates code, does that count as "auto-generated"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2018-07-01 17:55] timberzen opened #1192 "unable to reinstall after update destroys my Dev pc:("
I have wasted a day, just because I said 'OK' to the latest update, now my dev PC is fucked. Running   InstallCleanup.exe -i did not work, deleting the install folder did not work. What a mess.The product failed to install the listed workloads and components due to one or more package failures.

Incomplete workloads
    ASP.NET and web development (Microsoft.VisualStudio.Workload.NetWeb,version=15

[2018-07-01 21:56] Blonder opened #1193 "%ERRORLEVEL% == 1, I need to know the meaning, because ..."
I got it after updating from 15.5.7 to 15.6.7 see https://developercommunity.visualstudio.com/content/problem/273349/offline-update-of-visual-studio-2017-professional.html

[2018-07-02 03:58] sjointer opened #1194 "Registering the Project Template Failed"
The steps at issue:
1. "Creating a  Basic Project Type" | "Extensibility | Visual Studio Package" didn't exist as an option.  The only available option was "Visual Studio AsyncPackage", which was selected.

2. "Create a Basic Project Template", Step 6.  The code that was copied and pasted into Visual Studio contained MANY errors.  According to the note below the step, these errors would be fixed i

[2018-07-02 04:00] sjointer commented on #1194
I forgot to mention: I'm running Visual Studio 2017 Community Edition 15.7.4, updated 1 July, 2018.

[2018-07-02 10:58] nde-agridea opened #1195 "How can I link my VS Enterprise subscriber account to a local AD user?"
This article explains how to add an alternate account to a VS subscription, but only Azure AD is supported. How can I do the same with a local AD ? This is needed so that I can add more concurrent pipelines to my on premise TFS (one per Entreprise subscription as explained in this article https://docs.microsoft.com/en-us/vsts/pipelines/licensing/concurrent-pipelines-tfs?view=tfs-2018&viewFallbackF

[2018-07-02 17:54] gewarren commented on #1181
I'm not that familiar with .NET Core apps but I'm guessing this is expected behavior. Is there a reason you need a .NET Core app? If you create a .NET Framework app you can easily build an executable.

[2018-07-02 18:01] TerryGLee commented on #1195
@evanwindom @lankain FYI. Is this something we can clarify further in the documentation?

[2018-07-02 18:18] #900 closed

[2018-07-02 18:18] #939 closed

[2018-07-02 18:28] gewarren commented on #1191
@kuhlenh Do you tt files that generate code honor EditorConfig settings?

[2018-07-02 18:56] MaskMaster4048 commented on #1181
@gewarren I am just learning C# and I have no idea what the difference between the two are. I see that you are talking about `<TargetFramevork>netcoreapp2.0</TargetFramework>`, however. What do I change that to, and are there any other changes I need to make, in order to make it a .NET Framework app?

[2018-07-02 19:02] gewarren commented on #1181
.NET Core is useful for building cross-platform apps. See here for more info: https://docs.microsoft.com/en-us/dotnet/core/

It sounds like [it's possible to convert your project](https://stackoverflow.com/questions/42623103/convert-net-core-to-net-framework) to .NET Framework, but if you can, I'd highly suggest creating a new project and then copying your code/files into the new project.

This wo

[2018-07-02 19:18] MaskMaster4048 commented on #1181
@gewarren I had to open Visual Studio Installer and install the .NET Framework. It's compiling into an exe now, Thank you!

[2018-07-02 19:18] #1181 closed

[2018-07-03 00:15] Conway-Tse opened #1196 "Conflicts between different versions of Microsoft.CSharp"
Using Visual Studio 2017. Build fails with message:
Found conflicts between different versions of "Microsoft.CSharp" that could not be resolved.
It happens after step 8 of Write shared data service code in Learn app-building basics with Xamarin.Forms in Visual Studio.
I have tried to install all the version available, the results are:
version 4.0.0 The package may not be fully compatible with the

[2018-07-03 04:33] SeanHogg commented on #412
Not sure how to ask the question, or make a statement. .Net Standard projects which consume the stylecop.analyzers can customize the rules via adding a XXX.stylecop configuration/rule file. Since .net standard projects and the latest nuget/nuspec configuration doesn't allow external files to be added. However, based upon this documentation we can add linked files (in this example: added 'stylecop.

[2018-07-03 09:02] wschin opened #1197 "Useful page but not easy to be found"
Try to Google for "&lt;Complier Include=", you will see that it's impossible to find this page which explains the meaning of this syntax.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2d4c1957-1da1-073e-e5d2-b88dbb6e4f0c
* Version Independent ID: da079116-5827-d486-271b-9e2cb10bf063
* Content: [MSBuild Items - Visual

[2018-07-03 09:18] asb3993 commented on #1102
@Wowotoe This area is just for issues with the documentation. This sounds like a bug in the product, so I'd recommend creating an issue on [Developer Community](https://developercommunity.visualstudio.com/spaces/41/index.html)

[2018-07-03 09:18] #1102 closed

[2018-07-03 09:37] #1065 closed

[2018-07-03 10:05] #1101 closed

[2018-07-03 11:51] lukaszpitulski commented on #1183
Exactly the same here, VS17Pro 15.7.4
Based on : [https://docs.microsoft.com/en-us/visualstudio/modeling/map-dependencies-across-your-solutions]
in Visual Studio I don't have Architecture option in main menu and no Show on Code Map option in Solution Explorer at all.

I can create only empty .dgml file and add all things manually one by one :/ (without any links, dependencies etc.)

Regards,
Łukas

[2018-07-03 12:18] aderderian opened #1198 "Docker for Windows with Linux Container Issues"
This doesn't work with the latest docker for windows and linux containers. Docker fails on mounting drives. Is there a way around having it build your image locally with Docker?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25b96907-35cf-ff1f-d7ad-a231aa78418b
* Version Independent ID: 620e59a0-5658-9a05-c177-8d068765

[2018-07-03 13:22] DevilGale opened #1199 "Cannot use Debug"
Under 'Debug &gt; Start Debugging (F5)' and 'Debug &gt; Start without Debugging (Ctrl+F5)' are grayed out and I cannot use.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 40e3b6b1-a3d2-f4f2-b1ad-dd654a062343
* Version Independent ID: b2418b84-04f4-60d2-ec1d-291a5d4d0c51
* Content: [Working with C++ and Python - Visual

[2018-07-03 13:35] DevilGale commented on #1199
Following the instructions on the guide I can actually compile the python code it is just more of a hassle as I have to right click the python project/solution > 'debug > start new instatance' ![alt_option](https://user-images.githubusercontent.com/9125888/42222584-94b54528-7ea3-11e8-8502-083749448c7e.png)
I have created a python application with only the python code and can run it. I mostly want

[2018-07-03 15:15] Mikejo5000 commented on #1197
Thanks! I can make some SEO changes for this topic.

[2018-07-03 16:23] kraigb commented on #1199
Thanks for the issue. Can you tell me specifically which version of VS you're using, that is, the version number from the top left of the Help > About dialog?

[2018-07-03 16:37] kraigb commented on #1199
From your graphic, I think the problem is that you don't have a Startup project selected in the solution--that is, neither project is shown in bold. On the context menu for the Python project, select "Set as Startup Project". That should enable the Debug menu items.

[2018-07-03 16:38] SeanGephardt1 opened #1200 "Where is the actual Javascript language reference documentation?"
Where is the actual Javascript language reference documentation?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bdd1c8ed-73a2-a511-2d8e-7f0582d0a0ed
* Version Independent ID: 5f96f2ff-a494-3e00-e3bf-3689da9f1f0a
* Content: [JavaScript in Visual Studio](https://docs.microsoft.com/en-us/scripting/javascript/javascript-in

[2018-07-03 17:13] gewarren commented on #1196
@Conway-Tse Sorry that you are seeing that error. This issues page is not meant for product issues, it's for documentation issues. The best way to get help with your issue is to report the problem through VS, where it will be logged to Developer Community. See https://docs.microsoft.com/en-us/visualstudio/ide/how-to-report-a-problem-with-visual-studio-2017.

[2018-07-03 17:19] gewarren commented on #412
@SeanHogg Sorry to keep sending you off to other issues pages, but I think this is more a question for the StyleCopyAnalyzers repo. Here's the issues page for that: https://github.com/DotNetAnalyzers/StyleCopAnalyzers/issues

[2018-07-03 17:40] gewarren commented on #1200
Here? https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects @Mikejo5000

[2018-07-03 17:47] mobsoftware opened #1201 "MSBuildExtensionsPath32 paths are reversed"
The paths are as follows, "This path always points to the 32-bit \Program Files (x86) folder on a 32-bit machine and \Program Files on a 64-bit machine."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ab5a5a0e-ae03-1237-6ebe-743066f27fa9
* Version Independent ID: a342bfa4-4b0c-0a47-3695-858044f5aa5f
* Content: [MSBuild

[2018-07-03 18:20] Mikejo5000 commented on #1201
Thanks! I'll make the fix.

[2018-07-03 18:25] Mikejo5000 commented on #1200
Hi, please see this:
https://docs.microsoft.com/en-us/scripting/javascript/javascript-language-reference
and this:
https://blogs.windows.com/msedgedev/2018/06/26/chakra-docs-mdn-web-docs/

I probably need to add the note to the topic you are looking at...

[2018-07-03 20:15] SeanGephardt1 commented on #1200
Thanks, sorry to see it go!

[2018-07-04 09:41] RoyMalka opened #1202 "More Information about Custom Context GUIDs"
https://docs.microsoft.com/en-us/visualstudio/extensibility/adding-a-command-to-the-solution-explorer-toolbar

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f1723bf1-2209-4ea2-2072-8ea949a0585b
* Version Independent ID: 3cc58555-77e6-f50e-bb73-fdfb547b5d54
* Content: [Making Commands Available - Visual Studio](https://

[2018-07-04 15:18] bkietz opened #1203 "ImageWatch is dead"
Either maintain ImageWatch (please! I loved using ImageWatch) or remove it as an example of UIVisualizer (its marketplace page says it doesn't even support VS 2017)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e6335eb-8b73-9c11-2da7-4f397200ba0f
* Version Independent ID: af0eeed2-da17-ad14-98ce-0295afd5554b
* Conten

[2018-07-04 23:34] Conway-Tse commented on #1196
@gewarren Thanks a lot for pointing me to the right place.

[2018-07-04 23:34] #1196 closed

[2018-07-05 08:46] gitterman opened #1204 "built in text editor"
The drawback of most text editors is that you need the mouse or cursor keys to move around and manipulate things.
This is ergonomically worse than allowing to control everything with the keyboard alone.
Thus editors like emacs or vim are a superior solution.
I prefer vim as using always 2 keys to achieve an operation (meta+x) is more RSI stress than the vim model with two distinct modes (insert an

[2018-07-05 10:44] BarrieK opened #1205 "The priority support tile brings me to this page and not to the forum"
According to Step 2, above, clicking on the "Get Help" link should take me to the "Priority Support in Select Microsoft Forums" page. Actually the link takes me to this page, so you get into a bit of a loop.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 50d40a75-d2eb-44ab-656f-4ea80109c54d
* Version Independent ID: a0

[2018-07-05 10:47] Crisp771 opened #1206 "What is AddListToSiteHelper?"
In the line, SPList list = AddListToSiteHelper(site); in the second code snippet,  what is AddListToSiteHelper and what namespace does it live in?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 738e0793-372b-a9fd-feae-46f971652064
* Version Independent ID: 552fe8ea-6972-aa79-dbff-0b84e20a4638
* Content: [Using emulator

[2018-07-05 14:41] dburnison opened #1207 "Last update date is a future date"
Date at the top of the page is 11/12/2018 which is in the future.

dabu@microsoft.com

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f22a69a8-de38-2929-144a-0bd738f40a25
* Version Independent ID: a1d94b1f-c61e-df28-d412-1195aa9ace6d
* Content: [The Office 365 Developer Benefit in Visual Studio Subscriptions](https://do

[2018-07-05 17:08] darrentraffk commented on #1191
To add, we can mark files as autogen in the .csproj file:

`
<Compile Update="{GeneratedFile}.cs">
    <DesignTime>True</DesignTime>
    <AutoGen>True</AutoGen>
    <DependentUpon>{TTFile}.tt</DependentUpon>
</Compile>
`

So does this mean that {GeneratedFile}.cs should conform to .editorconfig settings?

[2018-07-05 17:28] Stephan500 opened #1210 "Default Value"
I just had a lot of headache about custom templates. It seems that the export of templates in VS 2017 does not create this tag. And if it is missing no files are created. So the default is obviously not "true".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1184788d-0428-d0df-fe5b-5fd3b482773e
* Version Independent ID:

[2018-07-05 19:12] heaths commented on #1192
For support, please use the Feedback tool from the Visual Studio installer to send necessary logs through the appropriate channel.

[2018-07-05 21:37] gewarren commented on #1204
@gitterman Thank you for this feedback about the VS editor. @markw-t @abuchholtzau for awareness.

[2018-07-06 09:04] 1123347cg119 opened #1211 "Tittle [letu]"
Leave a comment, Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d662deed-71c4-5823-2af3-0a982d90d33f
* Version Independent ID: 54f94e5f-d034-dfba-070f-ed4a4e0c8063
* Content: [Deployment manifests for Office solutions - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/vsto/deployment-manifests-for

[2018-07-06 09:05] 1123347cg119 commented on #1211
Title j

[2018-07-06 17:54] wkjau opened #1212 "How to resolve LNK2019 Error."
After following the instructions on this page I receive:

error LNK2019: unresolved external symbol "int __cdecl add(int,int)" (?add@@YAHHH@Z) referenced in function "private: virtual void __thiscall TestCaseName_TestName_Test::TestBody(void)" (?TestBody@TestCaseName_TestName_Test@@EAEXXZ)
2&gt;C:\Users\wjackson\Documents\GitHub\CppProjects\TicTacToe\Debug\TicTacToeTests.exe : fatal error LNK1120:

[2018-07-06 18:30] gewarren commented on #1211
@1123347cg119 This doesn't appear to be actionable feedback, so we are closing the issue. If I missed something, please provide more details and we can reopen the issue.

[2018-07-06 18:30] #1211 closed

[2018-07-06 18:33] nschonni commented on #1211
@gewarren  you might have already done it, but you can use this to report spam comments and PRs https://help.github.com/articles/reporting-abuse-or-spam/#reporting-an-issue-or-pull-request

[2018-07-06 18:34] gewarren commented on #1211
@nschonni Didn't know about that, thanks!

[2018-07-06 19:38] its4zahoor opened #1214 "Commands for Components"
This page should also contain the commands of C++, C# and other optional installation features of the Visual Studio 2017.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a6f80d9f-168b-e3cb-6499-e03a44206826
* Version Independent ID: 4b235b0d-1436-0a36-ef55-f76ba8d95bd1
* Content: [Visual Studio 2017 workload and compone

[2018-07-06 20:50] GravenImageRD opened #1215 "More robust options around indentation, braces?"
We have a fairly odd C# coding standard to keep it similar to our C++ standard including no indentation for namespace and indenting the closing brace. The latter is one I'm not expecting support for since it is incredibly non-standard, but the former is supported for C++ formatting but not C#. Would be great if it could be supported there as well.

---
#### Document Details

⚠ *Do not edit this se

[2018-07-06 21:00] gewarren commented on #1186
This command was combined with File.OpenProject. You should be able to just call File.OpenProject with your solution and it will work. I'll update the documentation. Thanks for letting us know!

[2018-07-07 06:50] edward-a commented on #831
I have the same problem with 15.7.4. Very annoying. Please fix!

[2018-07-08 03:41] fbrier opened #1216 "Sample command line invocation"
Because the CreatePkgDef utility is invoked by the VSiX compiler as part of the build process, no examples seem to exist on the Internet. There are several articles or blog posts that mention the CreatePkgDef utility, none have an example of it being invoked from a command window. As Visual Studio is reporting, "The specified task executable "CreatePkgDef.exe" could not be run. Access is denied",

[2018-07-08 14:36] Misha3739 opened #1217 "VS for Mac can't open .netstandard project (Net SDK issue)"
I have .csproj targeting .netstandard 1.1.
When I have changed project definition from
`<Project SDK="Microsoft.NET.Sdk">`
to
[code]
it becomes unsupported for VS for MAC (Load failed. Project does not support framework .NetStandard,version=1.1)
I am following https://docs.microsoft.com/en-us/visualstudio/msbuild/how-to-use-project-sdk and see that only first option is supported with VS for MAC.
N

[2018-07-09 03:37] davkean opened #1219 "Document the new terms added in 15.x timeframe"
This page is missing some of the new terms that were added in 15.x timeframes:

[code]

Also, it would be helpful with more examples of expressions - both as values of the terms, and usage within the "expression" argument. For example, it's not clear that you can write the following expression:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2018-07-09 06:07] gpadvorac opened #1220 "broken link to supporte forum listing page"
this link puts me in an endless loop back to the subscriber msdn page.
I'm trying to get to the listing of supported forums shown in this page
https://docs.microsoft.com/en-us/visualstudio/subscriptions/vs-priority-support
for several weeks now.  please let me know how to find it again

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2018-07-09 09:53] shaochun opened #1221 "How to probe Unity whether it has Visual Studio setup in Preference"
When Unity Preferences>External Tools>External Script Editor in Unity is not set to Visual Studio, the code

`using SyntaxTree.VisualStudio.Unity.Bridge;`

will fail. Is there any way to get around this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3255850c-b57f-3a66-a689-333e78e822e8
* Version Independent ID: efa896

[2018-07-09 16:47] mavasani opened #1223 "Create a new landing page for FxCop migration in 16.0"
Landing page should at least contain the following information:

1. Explain or have pointers to documentation on differences between legacy binary FxCop analysis and FxCop analyzers. This should include both functional and user experience differences.
2. Pointers to FxCop analyzers NuGet package and recommended analyzer versions to choose. We should consider moving the data from [here](https://git

[2018-07-09 16:48] mavasani commented on #1223
Tagging @gewarren @jinujoseph @kuhlenh

[2018-07-09 17:39] #1186 closed

[2018-07-09 19:16] conceptdev commented on #1221
@shaochun we are investigating. What exactly do you wish to achieve?

[2018-07-09 21:32] Jazzman123 opened #1225 "Where does MSBuild look for implicit imports?"
This says that the Sdk attribute/element is used "to create implicit Import statements that are added to the .proj file."  Where can I get more detail on how this works?  Based on the value of Sdk, what path and filename will MSBuild be importing?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9f2d4b23-f7b9-7f95-0690-7

[2018-07-10 00:09] paddymcd-MSFT opened #1226 "Documentation missing details on how to compile / link binaries such that VSInstr can process them"
Can't find any details on this page or searching docs.microsoft.com on what compiler / linker switches are required in order for VSInstr to be able to instrument a binary for a profile session

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aba0d313-eb56-c062-8e1f-9e51b784a236
* Version Independent ID: 789474e7-3460-28a

[2018-07-10 10:43] windson opened #1227 "Reset from Visual Studio to default settings from IDE"
Launch Visual Studio 2017 (may be same with 2015)
Menu
-&gt; Tools
-&gt; Import and Export Settings...
-&gt; Select 'Reset all settings' radio button
-&gt; Next
-&gt; Select 'No, just reset settings, overwriting my current settings' radio button if you want to reset VS to a fresh install settings
-&gt; Choose 'General' or setting you want to restore to.
-&gt; Finish

---
#### Document Details

⚠ *

[2018-07-10 17:28] gewarren commented on #1223
@mavasani when do you need the link by?

[2018-07-10 17:30] mavasani commented on #1223
Sooner the better, but it is not super urgent. We need to have the error messages blocking binary FxCop in Dev16.0 P1, and these messages would need to embed this link.

[2018-07-10 17:33] gewarren commented on #1227
@windson Thanks, this is a useful cross-reference to an alternative way of resetting.

[2018-07-10 18:37] LisandroSu commented on #964
Hi @gewarren can we close this issue?

Thanks!

[2018-07-10 18:50] #964 closed

[2018-07-10 19:18] altimmons opened #1228 "Documentation"
I have been searching how to open code documentation within VS.  It must be possible. It that feature not discussed anywhere?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6094a598-a7b5-b696-eb4e-fcd4adf4485b
* Version Independent ID: 53cd9992-470f-0a0f-f251-65a06606b9c2
* Content: [Advanced features of Visual Studio

[2018-07-10 19:30] gewarren commented on #1228
@altimmons Do you mean how to go directly to help for, e.g., a programming language keyword, or how to open help documentation within VS itself as opposed to in a browser? If the former, you position your cursor on the keyword and press F1. If the latter, this article should help: https://docs.microsoft.com/visualstudio/ide/microsoft-help-viewer

[2018-07-10 22:51] TerryGLee commented on #1220
@gpadvorac Thanks for your feedback! We'll investigate this and report back.
@evanwindom @lankaim @prrana Is this something we can clarify/fix in the documentation?

[2018-07-10 23:45] heaths opened #1230 "Newer tags for microsoft/dotnet-framework switch the SHELL"
If people use newer tags for `microsoft/dotnet-framework` (like `4.7.2-sdk-windowsservercore-1803`) the Dockerfile in the basic page will not work because it depends on batch processing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b91a4a43-5353-97cf-7532-7644aa3b497f
* Version Independent ID: 858d9a5c-72f3-6a85-9270

[2018-07-11 00:09] gewarren commented on #1052
I think this link has been removed as of June 1.

[2018-07-11 00:09] #1052 closed

[2018-07-11 00:37] TerryGLee commented on #1230
@heaths Thanks for the input; @gewarren have you run in to this?

[2018-07-11 00:39] TerryGLee commented on #1207
@dburnison Thanks for letting us know; we'll get this fixed.
@evanwindom Could you take a look? And thanks. :)

[2018-07-11 00:53] TerryGLee commented on #1185
@kylejrp We'll have this fixed with tomorrow's regularly scheduled publish at noon. Thanks again for reporting it!

[2018-07-11 00:55] TerryGLee commented on #1205
@BarrieK Thanks for letting us know! We'll investigate and report back.
@evanwindom Would you mind taking a look at this? Much appreciated!

[2018-07-11 01:00] TerryGLee commented on #1192
@timberzen Thanks for your feedback. You might have noted the response from HeathS, which is the best method of reporting errors to us so that it's routed to the right team. For more information about how to do this, please see the [How to report a problem with Visual Studio 2017](https://docs.microsoft.com/en-us/visualstudio/ide/how-to-report-a-problem-with-visual-studio-2017) page.

[2018-07-11 01:00] #1192 closed

[2018-07-11 01:04] heaths commented on #1230
I actually already fixed this, but did the PR all in the other repo. I keep forgetting we have two separate ones.

[2018-07-11 01:04] #1230 closed

[2018-07-11 01:08] Allann opened #1231 "ASP.NET Core 2.0 IIS Running"
This also occurs on a subsequent run of a solution when IIS Express was still running from the previous debug session.
Setup I am using is an ASP.NET MVC Core 2.0 and a WebAPI Core 2.0 project, both set as start with debugging enabled.  Neither references the other, but MVC calls Api via url (using Flurl).
For whatever reason IIS Express does not shutdown when you stop debugging, when you then res

[2018-07-11 14:25] lclaytont opened #1232 "Lots of love for TFVC, but lacking on TFS"
TFS information is not represented. In the source control explorer I cannot get any context actions to show up.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 87e2c464-3537-278a-da5a-5301af0fb6d5
* Version Independent ID: 29cb95b8-5cc2-e816-2d2e-ea6945ae7a5d
* Content: [TF Version Control - Visual Studio for Mac](https

[2018-07-11 14:37] bqstony opened #1233 "nuget"
how it works with a nuget package like xunit?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77c7c36c-84d9-9237-3d78-689e76d080f9
* Version Independent ID: 6584735a-e8db-429d-5427-687fc709e6f8
* Content: [Walkthrough: Create a code snippet - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/ide/walkthrough-c

[2018-07-11 14:40] evanwindom commented on #1205
@BarrieK
@TerryGLee
The link has been corrected to point to a list of the forums via the Support Team Blog as an interim fix.

[2018-07-11 15:07] evanwindom commented on #1220
@gpadvorac
@TerryGLee
The link in the tile has been redirected to a forum list on the MSDN Support Team Blog as an interim solution.  Thank you for the report.

[2018-07-11 15:35] shudson302 opened #1234 "Create unit tests - Where is this feature in VS 2017"
I have VS 2017 ver 15.7.4.  When I right click on a method or class, I do not have the option for Create Unit Tests.   Does this have to be enabled or installed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0a859ec6-03a2-2d8c-bcfe-c9499db55286
* Version Independent ID: 4ac4f045-660e-e159-edeb-315cf491568c
* Content:

[2018-07-11 17:08] #1205 closed

[2018-07-11 17:09] #1220 closed

[2018-07-11 17:39] #1083 closed

[2018-07-11 17:39] #1125 closed

[2018-07-11 18:19] WillJAU commented on #1212
I can not seem to find a solution on this anywhere within the testing documentation or online. Any help with this would be appreciated.

[2018-07-11 18:30] gewarren commented on #1234
@shudson302 Is your code in C#? Also, which Visual Studio workload(s) do you have installed? You can check in Visual Studio Installer. Also check if you have the "Testing tools core features" individual component installed.

![image](https://user-images.githubusercontent.com/24882762/42592223-bf30486a-84fd-11e8-833f-ab05099243ab.png)

[2018-07-11 20:09] shudson302 commented on #1234
No, it was not installed.  I will install it and verify that it is available afterward.  Thanks

[2018-07-11 20:23] lclaytont commented on #981
I find the documentation about checking in changes to be lacking. I alter a file and it lists the pending change in the source control explorer under the file. To get an option to check that in I have to go to the exact file rather than the parent solution or project file. And when I do check in I get a checked in message in the VC pallet - but then it never updates in either TFS or in my version

[2018-07-11 21:00] jchesshir commented on #923
@gewarren Sorry.  I've been out of this realm for a little while.

Looks good.  Thank you very much!

[2018-07-11 22:42] TerryGLee commented on #1193
@Blonder Thanks for your inquiry. It looks like this is being addressed in the proper place, which is through the [Developer Community](https://developercommunity.visualstudio.com/content/problem/273349/offline-update-of-visual-studio-2017-professional.html). We'll close this GitHub Issue for now (because it's designed specifically for documentation issues).

[2018-07-11 22:50] Blonder commented on #1193
It is a documentaion issue, https://docs.microsoft.com/en-us/visualstudio/install/create-a-network-installation-of-visual-studio

Value | Result
-- | --
0 | Operation completed successfully
3010 | Operation completed successfully, but install requires reboot before it can be used
Other | Failure condition occurred - check the logs for more information

What is Other? I always get a 1, I would like

[2018-07-11 22:53] TerryGLee commented on #1193
@Blonder Thanks for the further clarification re: the page you'd like to see updated. We'll investigate doing so and report back.

[2018-07-11 22:54] Blonder commented on #1193
Thanks a lot, this may help me with offline installation issues.

[2018-07-12 05:53] jaredreitzin opened #1237 "Amazon DL link for nod.js for iOS is broken"
Anyone else having this issue or have another link to the iOS download here ->

https://github.com/janeasystems/nodejs-mobile/releases/

[2018-07-12 12:45] shudson302 commented on #1234
I installed Testing tools core features, however it is still not available.  My code is C#

Info from the About Screen in VS:
Microsoft Visual Studio Professional 2017
Version 15.7.5
VisualStudio.15.Release/15.7.5+27703.2042
Microsoft .NET Framework
Version 4.7.03056

Installed Version: Professional

Visual C++ 2017   00369-60000-00001-AA441
Microsoft Visual C++ 2017

Application Insights Tools fo

[2018-07-12 13:09] philippecp opened #1238 "Can't Link"
With Visual Studio 15.7.5 I get the following error:
fatal error C1047: The object or library file 'C:\Program Files (x86)\Microsoft Visual Studio\2017\Professional\VC\Auxiliary\VS\lib\x64\VSCustomNativeHeapEtwProvider.lib' was created with an older compiler than other objects; rebuild old objects and libraries

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2018-07-12 15:31] cremor commented on #634
@gewarren I don't want to be annoying, but there are still wrong names left. To be more specific, it's in the [Example EditorConfig file section](https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference#example-editorconfig-file)

[2018-07-12 16:55] gewarren commented on #634
@cremor Thanks for catching that! It may have snuck in after I did a find/replace. This should be fixed later today.

[2018-07-12 16:57] gewarren commented on #1234
@kendrahavens Kendra do you have any insight into what shudson is missing in his VS installation to not get the "create unit tests" menu option?

[2018-07-12 16:59] shudson302 commented on #1234
I am using .Net Core, I believe maybe that is why the menu is not there.  Is that correct and is there a solution for that?

[2018-07-12 18:44] vanderleipires opened #1239 "Clarify how to use BindingContext"
Will help if a note is added informing how to configure binding, for example: "To bind property [Temperature] to respective value we should insert a label in the format &lt;Label Text="{Binding Temperature}" ...&gt;"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b25d4cd-0c3f-e9a6-6256-ea54d0972d4b
* Version Independe

[2018-07-12 21:38] r3m0t opened #1241 "Not updated for vs2017 and its private registry hive"
Regedit doesn't show the contents of the private hive

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cda15bb6-a9d7-fbc7-fa47-c75ac51ccc88
* Version Independent ID: f0c858f7-c1fa-4c06-c394-d0de661ed7ee
* Content: [Writing to the User Settings Store - Visual Studio](https://docs.microsoft.com/en-gb/visualstudio/extensibi

[2018-07-13 08:28] AlWoj opened #1242 "Amount of tickets left"
Is there a way to check how many ticket left of benefit from MSDN subscription?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2f79453c-3962-2f0c-5b99-4fbde91972f8
* Version Independent ID: c845c29e-dfd7-316e-81b2-ebe288a384c1
* Content: [Technical Support Benefit](https://docs.microsoft.com/en-us/visualstudio/subscrip

[2018-07-13 13:43] simmotech opened #1243 "Incomplete!"
Please add entries for all the options shown in Visual Studio options!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f41602f7-2c5e-bf2a-9eab-50740dd10784
* Version Independent ID: c6b1f7c4-eb2d-a62a-7e1b-eb32b8a88947
* Content: [Options, Text Editor, C#, Advanced - Visual Studio](https://docs.microsoft.com/en-us/visua

[2018-07-13 15:55] StevenTCramer opened #1244 "The "ZipDirectory" task was not found."
.net core 2.1 console app and added the example above and I get

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4c2cbd60-5d56-af4f-b196-4c9f190a1586
* Version Independent ID: 6408870a-85cd-428c-5ede-2338804481d6
* Content: [ZipDirectory Task - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/msbuild/

[2018-07-13 16:30] StevenTCramer commented on #1244
It is because 15.7 is the current released version and this is for 15.8.

Sorry!

[2018-07-13 16:30] #1244 closed

[2018-07-13 16:41] yilmazdurmaz commented on #903
it is 2017 versions, and true for both VS and blend for a UWP app.

[2018-07-13 16:42] evanwindom commented on #1242
@AlWoj  - Thank you for reaching out.  To find out how many incidents are available, you can contact Customer Service at the phone number for your country.  For a list of those phone numbers, please visit:  https://support.microsoft.com/help/4051701/global-customer-service-phone-numbers

[2018-07-13 18:42] TerryGLee commented on #1214
@its4zahoor Thanks for your feedback. Might I inquire, what is it exactly that you seek? Is it workload and component information for C++, such as is listed from the links for each release (i.e., were you to click [Visual Studio Community 2017](https://docs.microsoft.com/en-us/visualstudio/install/workload-component-id-vs-community), you'd see components for C++) -- or is it the command-line comma

[2018-07-13 19:32] TerryGLee commented on #1165
@prrana FYI on this.

[2018-07-13 19:46] kendrahavens commented on #1234
It's correct that this feature does not yet support .NET Core. This feature request is on our backlog. If you'd like to up vote and follow the [developer community feedback](https://developercommunity.visualstudio.com/content/problem/145930/create-unit-test-context-menu-missing-net-core-pro.html) tracking this it can help us prioritize it.

Thank you for taking the time to report the issue!

[2018-07-13 22:15] Mikejo5000 commented on #1244
No problem. Thanks for the follow up!

[2018-07-13 22:17] Mikejo5000 commented on #1238
@andysterland Andy, is there someone to advise on this? Thanks

[2018-07-13 22:20] #1200 closed

[2018-07-13 22:21] Mikejo5000 commented on #1203
I'll take a look at this. Thanks!

[2018-07-13 23:17] mpalladinru opened #1245 "In what component of VS is that editor?"
What component should be installed for that editor to appear? I don't have it in "Open with..." menu and I don't have "Graphics" item at "Add new item..." menu

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aa613491-943f-f0b4-f4ea-90e09f96f669
* Version Independent ID: ae52c49c-93b9-b907-5925-fff11e6cd324
* Content: [S

[2018-07-14 05:55] jselbie opened #1247 "Displaying Light Bulb Suggestions has null reference check bug (typo)"
On this page [Github here](https://github.com/MicrosoftDocs/visualstudio-docs/blob/master/docs/extensibility/walkthrough-displaying-light-bulb-suggestions.md) and [on MSDN](https://docs.microsoft.com/en-us/visualstudio/extensibility/walkthrough-displaying-light-bulb-suggestions).

The following code sample:
[code]

Should likely be:

[code]

The TestSuggestedActionsSource assumes that both textBuf

[2018-07-14 07:22] david-toro opened #1248 "Missing step to run C++ unit tests?"
After following this guide in every detail occurs the error "LNK2019: unresolved external symbol...", apparently the test project can not find the binary of the source file corresponding to the class being tested, after researching a bit in the web, i think that the simplest solution is to add the cpp file to the test project (context menu of test project -> "Add" -> "Existing Item ..."), after th

[2018-07-14 18:46] hacksoi opened #1249 "Override default keybinding?"
How would one go about overriding a default VS keybinding?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 03642526-b5f8-c874-6bc8-ecb7d4ebb239
* Version Independent ID: d26304d6-a361-5b33-6103-410d597c626c
* Content: [Binding Keyboard Shortcuts to Menu Items - Visual Studio](https://docs.microsoft.com/en-us/visualstudi

[2018-07-14 22:43] luhar opened #1250 "Installing Debugging Tools for Windows inside Docker Container"
As the title says, I am unable to install Debugging Tools into a Windows Container. I have followed [this](https://docs.microsoft.com/en-us/visualstudio/install/build-tools-container) guide and modified this:

[code]

to:

[code]

**AND** in another image

[code]
However, I am unable to find the Debugger folder that should be in  C:\Program Files (x86)\Windows Kits\10\Debuggers.

---
#### Document

[2018-07-15 04:24] zuluonezero opened #1251 "Typo in documentation for the Quick Shortcut"
"... the Quick MonoBehavior wizard puts them right at your fingertips. Press CTRL+ALT+Q."  should be CRTL + SHIFT + Q

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f27057a9-85be-f96c-29aa-0fa60b488f35
* Version Independent ID: cd80ccea-8ecd-d21f-08b8-af0a2ada7cf3
* Content: [Overview of Visual Studio Tools for Unity -

[2018-07-15 13:00] dexception opened #1252 "Forever clueless -> Microsoft"
As usual Microsoft seems to be clueless about the developer community. Not giving ISO just makes me want to switch to Linux completely.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 228076d1-94bf-c502-c018-08f7c0faf377
* Version Independent ID: c64a5cd5-6236-4192-2bfc-923aa20c94da
* Content: [Create an Offline Install

[2018-07-16 02:35] gregvanl commented on #1249
Hi @hacksoi You can use the Tools > Options > Environment > Keyboard dialog to override the default keybindings.

![image](https://user-images.githubusercontent.com/12818376/42741343-2ba64682-8866-11e8-8fba-b1e69c27e9d0.png)

[2018-07-16 02:35] #1249 closed

[2018-07-16 02:40] gregvanl commented on #1247
Thanks! I've approved your PR and it should be merged and published shortly.

[2018-07-16 02:40] #1247 closed

[2018-07-16 11:41] CaryFan commented on #815
Agree. For example, by default, which C and C++ versions and runtimes are supported. It can become confusing because MS is not the owner of C and C++, unlike C#.

[2018-07-16 14:47] rainersigwald commented on #815
Unfortunately, I don't think we can do this in a reasonable way. It's a very complicated question (despite being easy and reasonable to ask for!) because MSBuild is very general.

Even without getting into extreme edge cases (you can always call an executable from MSBuild, so you could theoretically use the first release of MSBuild from 10+ years ago to run the newest `csc.exe` on brand-new code),

[2018-07-16 18:29] dantogno commented on #1251
Hey @zuluonezero. This feature has actually been removed in the latest version of Visual Studio Tools for Unity, now that we have IntelliSense support for the Unity API. We're working on updating the documentation to reflect this. Thanks for the feedback!

[2018-07-16 19:04] gewarren commented on #1245
@mpalladinru You probably need the **Image and 3D model editors** component. Try following the steps in the blue box in this section and see if that gives you the graphics features you need. https://docs.microsoft.com/en-us/visualstudio/designers/model-editor#to-add-a-3d-model-to-your-project

[2018-07-16 19:42] TerryGLee commented on #1252
@dexception We appreciate your feedback. There is one specific GitHub Issue previously tendered to this topic that if you haven't already read it, you might want to take a look at it now: [https://github.com/MicrosoftDocs/visualstudio-docs/issues/607](https://github.com/MicrosoftDocs/visualstudio-docs/issues/607). Specifically, it includes a comment from @tedvz as to the reasons why chose not to r

[2018-07-16 19:42] #1252 closed

[2018-07-16 19:48] #1250 closed

[2018-07-16 22:45] #1122 closed

[2018-07-16 22:45] #1234 closed

[2018-07-17 19:15] relief12 opened #1257 "Help"
Will this work if I use Xamarin Android?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0686fa95-cbeb-1f4d-ceca-80c04255fb0e
* Version Independent ID: 68f4a465-066f-5cb8-ed0c-346dc9d38bd1
* Content: [Walkthrough: Creating a simple WCF Service in Windows Forms - Visual Studio](https://docs.microsoft.com/en-us/visualstud

[2018-07-17 19:29] #1161 closed

[2018-07-17 19:30] gewarren commented on #1257
@charlespetzold do you know if you can create a WCF service in a Xamarin app?

[2018-07-17 19:46] geeeyetee opened #1258 "Make suggested improvements to msbuild-task doc around properties"
1. Sections _Properties Metadata_ and _AdditionalProperties Metadata_ : Clarify that the difference between `Properties` metadata and `AdditionalProperties` metadata is that the presence of `Properties` metadata causes the `MSBuild` task to ignore its `Properties` attribute value.

1. Section _Parameters_ : Clarify the phrase "different global properties" in the sentence below. I observe consisten

[2018-07-17 20:40] SamuelEnglard opened #1260 "Only for Managed Builds"
It should be noted somewhere that this only works for Managed builds. VC++ does not call these targets

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d410ebeb-3841-a0a9-efb4-185823add4dc
* Version Independent ID: 7e397179-4ccc-054c-8137-5e8f2430d794
* Content: [Customize your build - Visual Studio](https://docs.microso

[2018-07-18 10:36] y6nH opened #1261 "Missing step: helm init"
Publishing to AKS, I got the error `Could not find tiller`. To get it working, I had to run `helm init` in PowerShell. I then ran `helm ls`, which opened a prompt to allow Helm through the Windows firewall. I think the init step needs to be added to the instructions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25b96

[2018-07-18 13:09] Juanpanaya commented on #1165
Hello @xenalite

Thank you for submitting this and I'll be more than glad to assist.

For future cases, quickest way to contact support is to create a support ticket via the following link:

- https://visualstudio.microsoft.com/subscriptions/support/

From my understanding, users which do not have administrator roles are still able to add/edit your purchased cloud subscriptions. In order to provid

[2018-07-18 16:32] dotpaul opened #1262 "Create documentation for Roslyn-analyzers CA3147 rule"
I'm adding a security check to Roslyn-analyzers (porting FxCop rule CA3147), and need to write documentation to provide guidance to developers encountering the security warning.

[2018-07-18 18:42] #1217 closed

[2018-07-18 18:45] asb3993 commented on #1232
@lclaytont thanks for report! What happens you you try to click on a mapped folder in the solution explorer?

[2018-07-19 19:34] #519 closed

[2018-07-19 20:02] brettjacobson opened #1264 "Useless script for installing required certificates"
The "batch" file (cmd) above in Option 3 (https://docs.microsoft.com/en-us/visualstudio/install/install-certificates-for-visual-studio-offline#option-3---install-certificates-as-part-of-a-scripted-deployment-of-visual-studio) is using a dependency (certmgr.exe) that you only have on your machine, after you have installed Visual Studio.  Since this is documentation for installing Visual Studio, OBV

[2018-07-20 05:07] taylorbindon opened #1266 "--wait help for layout installations"
Could the support article be updated to explicitly state that the --wait parameter must be used immediately after the executable. Eg. vs_Professional.exe --wait --norestart. Just to make it a little less ambiguous.
Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ff556dcf-4de1-8483-702a-73699062be1f
* Version Ind

[2018-07-20 15:57] Bebo2345 opened #1269 "Load/Performance testing on-premises?"
So is the only way to do load/performance testing on-premises is with 2013 Update 5 controller and agents? Documentation isn't definitive.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6edb165c-eeda-64cd-f34f-459f48ff9cb2
* Version Independent ID: 50e6d9fe-e48b-0824-bd9b-6a58e1482ab9
* Content: [Install test agents an

[2018-07-20 17:08] gewarren commented on #1269
@boraprachi Can you help to answer this question?

[2018-07-20 18:37] Nathan-Tarin opened #1270 "Lenght of benefit"
Hello,

I understand this benefit is included within the subscription however is this linked to the subscription status? I would like more clarification as to when this benefit expires or if I have to pay for it after the subscription expires, etc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f22a69a8-de38-2929-144a-

[2018-07-20 18:41] evanwindom commented on #1270
@Nathan-Tarin -- Thanks for your question.  The Office 365 Developer benefit is set to automatically renew as long as your subscription is active.  If your subscription expires, you have the option to purchase the service.

[2018-07-20 18:53] gewarren opened #1271 "test"
testing

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9290996a-853e-bfcc-5e4a-d8746f453620
* Version Independent ID: faae284e-2f81-6f6f-c437-0bd8c959dd2b
* Content: [Overview of Visual Studio 2017 - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/ide/visual-studio-ide)
* Content Source: [docs/ide/visual-s

[2018-07-20 20:35] gosali commented on #1271
@gewarren Can we close this issue?
CC @Sara-Nicolini , @nokura

[2018-07-20 20:42] #1271 closed

[2018-07-20 22:57] Mikejo5000 commented on #1260
Thanks, I'll make that change.

[2018-07-20 23:07] Mikejo5000 commented on #1225
Hi, did you already find this topic? https://docs.microsoft.com/en-us/visualstudio/msbuild/how-to-use-project-sdk
There's a section on how the project SDKs are resolved. There are links to additional .NET topics for the Sdk element at the bottom of the page.

[2018-07-20 23:10] Mikejo5000 commented on #1203
In the Q&A section on this ImageWatch, there's a comment pointing to the new version here:
https://marketplace.visualstudio.com/items?itemName=VisualCPPTeam.ImageWatch2017
Have you tried that?

[2018-07-21 00:41] #1270 closed

[2018-07-21 14:18] leifpe opened #1273 "gps"
[Skriv din feedback här]

---
#### Dokumentinformation

⚠ *Redigera inte det här avsnittet. Det krävs för docs.microsoft.com ➟ länkning till GitHub-problem.*

* ID: 38035aeb-b80c-dc79-47bf-e7e114c07fe1
* Version Independent ID: 4f0ed253-d5b4-dd06-216e-e24b9a37e8db
* Content: [Unblock the remote tools download - Visual Studio](https://docs.microsoft.com/sv-se/visualstudio/debugger/remote-debugging-

[2018-07-21 14:19] leifpe opened #1274 "gps"
[Skriv din feedback här]

---
#### Dokumentinformation

⚠ *Redigera inte det här avsnittet. Det krävs för docs.microsoft.com ➟ länkning till GitHub-problem.*

* ID: 75c19e4f-4623-c462-e399-008a85ea1523
* Version Independent ID: bc0b82bb-acc8-7438-7b18-5165de39d847
* Content: [Remote Debugger Port Assignments - Visual Studio](https://docs.microsoft.com/sv-se/visualstudio/debugger/remote-debugger-po

[2018-07-21 19:53] trosel opened #1275 "Installation paths are greyed out and unable to be changed"
Hey all, this article is very helpful except that nothing can be changed in these install paths.

Even in the screenshot, it shows the greyed out install locations that can't be changed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f065a76a-2046-ebfd-2aa2-ebb0afbc4110
* Version Independent ID: f3501eb1-bfa1-1c2e-9e05

[2018-07-22 17:59] solvingj opened #1277 "Qualify GetService() call"
It's not clear where GetService() comes from.  Snippit could provide the necessary using statement, or make it a fully qualified function call.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72794642-353e-46e5-c822-f471b5ef65b4
* Version Independent ID: 391aac5d-2695-9344-828e-8d5e8b9a334b
* Content: [How to: Use the A

[2018-07-23 03:35] mrduncle opened #1278 "Deletion of invalid environments or auto detected environments"
Deletion of invalid environments or auto detected environments is covered in the content on this page, but there is no heading that gives the game away (nor is there any mention in the "In this article section"....you actually have to read the docs).  Would be helpful to have a more obvious Deletion section or include it as a link in the "In this article" section.

Thank you for the improved Micro

[2018-07-23 05:58] jongdaelee commented on #795
So to confirm and clarify, "So, in short, the first five users are included with cloud subscriptions." means I only get 5 free access to VSTS just like anyone else who does not have paid MSDN subscription?

[2018-07-23 14:22] reiherric commented on #1183
Yep, couldn't find it on VS Professional 15.7.5 either :(

[2018-07-23 14:30] briman0094 opened #1279 "Build numbers do not match up when specifying VSIX supported version ranges"
I referenced this article when building a VSIX package so that I could specify the correct minimum Studio version for my extension. It requires at least 15.6.0, which maps to build number 15.6.27428.0 according to this article. If I specified that version in the VSIX manifest, however, the VSIX installer would report that it was not installable on any Studio versions (even above 15.6). I attached

[2018-07-23 17:44] #1188 closed

[2018-07-23 17:44] #1197 closed

[2018-07-23 17:44] #1203 closed

[2018-07-23 18:18] kraigb commented on #1278
@mrduncle Thanks for the feedback. Would it help if the heading "Fix invalid environments" was "Fix or delete invalid environments"? That heading does appear in the "In this article" section (which is auto-generated for all H2's in the article), so I'm thinking it just needs to include both scenarios of correcting and deleting.

[2018-07-23 18:19] mavasani opened #1280 "Add documentation for analyzer "AdditionalFiles""
See all the user comments in https://github.com/dotnet/project-system/issues/879. The current terminology seems confusing, with no documentation at all. We should add documentation for current concept of AdditionalFiles BuildAction, which is based upon the `/additionalFile:<File>` compiler switch that passes non-source additional files to analyzers. You can read more detailed documentation about a

[2018-07-23 18:19] mavasani commented on #1280
Tagging @gewarren

[2018-07-23 18:40] TerryGLee commented on #1275
@WildYorkies Thanks for your feedback; we appreciate it. Question: Are you trying to modify a previous installation? If so, please know that the **Installations locations** feature works only for *new* installations of Visual Studio. That being said, we can update the page to make this clearer, and we can update the screenshot accordingly.

[2018-07-23 18:44] TerryGLee commented on #1273
@leifpe Tack för din feedback; kan du ange mer information om doc-problemet som vi kan hjälpa dig med? (@Mikejo5000 - FYI.)

[2018-07-23 18:46] TerryGLee commented on #1274
@leifpe FYI: Avslutande eftersom detta är en dubblett av en tidigare Inlämnad fråga.

[2018-07-23 18:46] #1274 closed

[2018-07-23 18:47] TerryGLee commented on #1266
@taylorbindon Thanks for your feedback; we appreciate it! Your request is on record and in the queue. We'll report back soon.

[2018-07-23 18:58] TerryGLee commented on #1264
@brettjacobson Thanks for your feedback; we appreciate it! Your request is on record and in the queue. We'll report back on its status, soon.

[2018-07-23 19:42] petemillermultimedia opened #1281 "Relation between configuration and simulators?"
What is the relation between configurations and the simulators that become available under the configuration selection dropdown? I have two projects that are downloaded from Xamarin University tutorials; both have configurations called "Debug" and "Debug | iPhoneSimulator". Out of the four combinations, three offer simulators from Xcode, but the fourth only offers Generic Device. Where and how is

[2018-07-23 20:32] evanwindom commented on #795
@jongdaelee Thanks for your question.  I think my initial response may have caused some confusion.  There are volume discounts for cloud subscriptions, and a tiered pricing model for VSTS.  To answer your question directly, the number of users is the same, but the capabilities of VSTS in the paid subscriptions can vary from the free accounts.  Visual Studio Enterprise standard, as well as monthly

[2018-07-23 20:42] TerryGLee commented on #1281
@asb3993 FYI

[2018-07-23 21:39] mrduncle commented on #1278
Kraig,

Thank you for the prompt response. Your suggested solution would work
perfectly.

Regards,

Duncan

[2018-07-23 22:40] TerryGLee commented on #1262
@dotpaul Thanks for letting us know.

[2018-07-23 22:43] WildYorkies commented on #1275
Thanks @TerryGLee . I'm trying to change the install location for _new_ packages. For example, I don't want 20 gigs of xamarin files going on my C drive. I want them on my D drive instead.

However, because the locations are greyed out, I cannot change them. Not sure why.

[2018-07-23 22:52] kraigb commented on #1278
Thanks. Done.

[2018-07-23 22:52] #1278 closed

[2018-07-24 09:53] Mayitzin commented on #1275
I'm having the same problem. I already have the core installation of Visual Studio in my second drive (D), but the extra tools (Xamarin, dotnet, etc.) are set for my main drive (C) and cannot change them.

[2018-07-24 12:07] rich-newman opened #1282 "Document contradicts itself in successive paragraphs"
"The Office extensions for the .NET Framework 4 or later are not installed with Office,..."

Next paragraph":
"The Office extensions for the .NET Framework 4 are installed with Office."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 33168414-e535-551c-b501-3f9884b1281b
* Version Independent ID: 869b29bd-ac4f-107f-0da8-

[2018-07-24 13:53] ciphernemo opened #1283 "Thank you so much! Additional information:"
Works like a charm, but you might want to link to the entire command line reference: https://docs.microsoft.com/en-us/visualstudio/install/use-command-line-parameters-to-install-visual-studio

Also, do link to the workload reference for Visual Studio 2017 editions, but it would be helpful to mention that this guide uses the workload categories, not the individual workload components.

Thanks again

[2018-07-24 14:06] Jazzman123 commented on #1225
I hadn’t seen that page before.  Thanks; that’s very helpful.  I do wish there was more detail on SDK resolvers—how does the resolution process work? How does it decide which folder to look for sdk.props/targets?
But thanks for pointing me to this page.  It still has lots of useful information.

________________________________
From: Mike Jones <notifications@github.com>
Sent: Friday, July 20, 201

[2018-07-24 14:41] dantogno commented on #1251
@zuluonezero We've just finished a fairly large overhaul of the VSTU docs, including addressing this issue. Take a look at your convenience! https://docs.microsoft.com/en-us/visualstudio/cross-platform/visual-studio-tools-for-unity

[2018-07-24 16:04] #1251 closed

[2018-07-24 16:48] markbrents opened #1284 "Example"
It's great that you provide example code. But the example code relies on Visual Basic 6.0, which most people don't have installed. Can you provide a compiled version of the COM object for use in the example?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 24a7bafe-ebef-e897-cc0c-87e0ecd28c27
* Version Independent ID: c4

[2018-07-24 17:18] TerryGLee commented on #1282
@rich-newman Thanks for letting us know; this is in the queue to be addressed.

[2018-07-24 17:20] brettjacobson commented on #1264
I'm not sure how correct this is, but this is what I'm using
[code]

[2018-07-24 17:20] TerryGLee commented on #1283
@ciphernemo We appreciate your feedback; thanks! This is in the queue to be addressed.

[2018-07-24 20:42] TerryGLee commented on #1079
@rkindred I've reviewed this topic and updated it with current screenshots. I can verify that the **Pages** folder does exist in Visual Studio Community 2017 version 15.7.5, which is what I used to update the topic. (It is also the most current version of Visual Studio as I write this, per the [Visual Studio 2017 build numbers and release dates](https://docs.microsoft.com/en-us/visualstudio/instal

[2018-07-24 20:42] #1079 closed

[2018-07-24 20:44] #806 closed

[2018-07-24 21:28] sstcvetkov opened #1285 "EditorConfig naming VS 2017(15.7.5) doesn't work"
I try to use .editorconfig, the new VS feature to set up my own code styling. But part of it doesn't work. I heard about some Roslyn bugs, processing naming styles, but I don't know what the problem is. My .editorconfig:

[code]
Look at the section "# Naming" and at the screenshot below. As you can see "# Common rule" and "csharp_style_var_for_built_in_types" work fine - lines 17 and 21. But "# As

[2018-07-24 21:50] junrau opened #1286 "How can I create the installation command line for an existing installation?"
I have an on-premises TFS server.  It used to have internet access and I updated VS Build Tools interactively on the server.  The server no longer has internet access, so is there a way I can generate the layout command from my existing installation to be downloaded on another computer?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2018-07-24 22:07] controlaware opened #1287 "First code sample has an error"
The first sample [in the snippet walkthrough](https://docs.microsoft.com/en-us/visualstudio/ide/walkthrough-creating-a-code-snippet) is missing the ">" in the top of the snippet:

[code]

Line 2 should be `<CodeSnippets>`, it is missing the closing >.

[2018-07-24 22:49] Muzical84 opened #1288 "None of the docs support SSH repos"
I literally can't do any of this because it's not finding my SSH key!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5c1ebf72-a4ef-3b5f-99d5-95a0a83973d9
* Version Independent ID: b839d4b7-e42d-758c-2762-8fc7a93551e9
* Content: [Working with Git - Visual Studio for Mac](https://docs.microsoft.com/en-us/visualstudio/mac

[2018-07-24 22:49] #1288 closed

[2018-07-25 05:35] pranithan-kang opened #1289 "I have got Running transformation: System.NullReferenceException"
I constructed many .tt and .ttinclude files in my project.
Every T4 files work fine when saving.
However, the errors occur three records (equal to my .tt files) when building the project

Here is the error what I got.
Error		Running transformation: System.NullReferenceException: Object reference not set to an instance of an object.
   at Microsoft.VisualStudio.TextTemplatingAD26E64916BA06DE2CBBECE

[2018-07-25 07:55] eriawan opened #1290 "Inconsistent page title between content and the title on the TOC section (on the left)"
The page title on the content is "Visual Studio 2017 build numbers and release dates", but the title on the left TOC is "Visual Studio 2017 build numbers and release dates".
Based on the actual TOC on the left, I assume that _I expect to get_ or I will get the list of Visual Studio build numbers and release dates, not just Visual Studio 2017. But the actual content has this title: "Visual Studio 2

[2018-07-25 07:56] eriawan commented on #1290
This is the follow up screen capture:

![image](https://user-images.githubusercontent.com/8773147/43187116-d4395f8a-901a-11e8-9edb-4adc2b5fb1e1.png)

[2018-07-25 07:58] eriawan commented on #1027
hi @gewarren

Any updates on this issue?

cc @gregvanl

[2018-07-25 08:37] DoGauss commented on #1286
My findings for VS community - your mileage may vary depending on the actual product/edition.

VS caches information about my current VS setup in
`%programdata%\Microsoft\VisualStudio\Packages\_Instances\87dae128\`
Your instance ID will vary.
The file `state.packages.json` has information on all the packages currently installed.
When using e.g. PowerShell to read the file
`$a = Get-Content C:\Prog

[2018-07-25 11:25] r3m0t opened #1291 "Doesn't explain how to distribute the pkgdef file"
Is this only possible with a vsix, or are there other ways?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e45c1ad-ec51-d4ac-e312-aa3f00d1aa17
* Version Independent ID: ddf8b9a6-f8d9-2642-be36-0856e639ac85
* Content: [How to: Manage a Private Gallery By Using Registry Settings - Visual Studio](https://docs.microsoft.c

[2018-07-25 13:44] sessler opened #1292 "Running R code from windows forms app"
I have a windows Forms app in c#. I would like to perform some calculations in R. I tried to add an R project to the solution, but when I wanted to add a reference to the R project, I got the error message "A reference to RProject1 could not be added". How can this be overcome?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2018-07-25 14:54] MorphiksBuilder opened #1293 "Missing change log for VS Tools for Unity 3.8.0.X"
Title says it all.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fd09a24e-305b-bb2e-a8b5-9ea9c52fd8a4
* Version Independent ID: 83bf7326-a96c-3bc4-a2ff-b1f510ea9308
* Content: [Change Log (Visual Studio Tools for Unity, Windows) - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/cross-platform/change-log-v

[2018-07-25 15:17] jbevain commented on #1221
@shaochun the way to achieve this is to wrap that in the Unity defined constant `ENABLE_VSTU`, like this:

[code]

That's indeed something worth documenting.

[2018-07-25 16:33] TerryGLee commented on #1287
@controlaware Thanks for the heads-up; we'll take a look at this. @gewarren FYI.

[2018-07-25 16:36] TerryGLee commented on #1289
@pranithan-kang Thanks for your feedback. It looks like you're having an issue with the product itself, rather than an issue with the documentation. To report such an issue, consider using the [Report a Problem](https://docs.microsoft.com/visualstudio/ide/how-to-report-a-problem-with-visual-studio-2017) tool that appears both in the Visual Studio Installer and in the Visual Studio IDE.

[2018-07-25 16:40] TerryGLee commented on #1293
@MorphiksBuilder Thanks for your feedback; we appreciate it! @conceptdev FYI

[2018-07-25 16:51] kraigb commented on #1292
@sessler Thanks for your question. As written in the "Note" at the end of the docs page here, the R Tools for Visual Studio don't currently support direct C#/R integration (e.g. adding project references), but there are libraries available such as R.Net. See https://www.nuget.org/packages?q=R.Net for a variety of R.Net and related packages. R.Net (https://www.nuget.org/packages/R.NET/) is certainl

[2018-07-25 16:51] #1292 closed

[2018-07-25 16:55] TerryGLee commented on #1290
@eriawan Thanks for your inquiry! This is by design. We purposefully shorten titles in the TOC and then add more detail to the page names. We do this for several reasons:
1) Everything in the TOC refers to the most current version of Visual Studio (unless it's labeled specifically as belonging to a previous version) so there is no need to include the version number,
2) We want the shortest labels

[2018-07-25 17:01] conceptdev commented on #1293
Passed this on to the engineering team, thanks for letting us know.

[2018-07-25 17:05] TerryGLee commented on #1290
I'd like to add also that [Visual Studio 2017 build numbers and release dates](https://docs.microsoft.com/en-us/visualstudio/install/visual-studio-build-numbers-and-release-dates)  was a new page idea for Visual Studio 2017, and we do not typically add new pages for previous versions.

[2018-07-25 17:11] TerryGLee commented on #1285
@sstcvetkov  It looks like you're having an issue with the product itself, rather than an issue with the documentation. To report such an issue, consider using the [Report a Problem](https://docs.microsoft.com/visualstudio/ide/how-to-report-a-problem-with-visual-studio-2017) tool that appears both in the Visual Studio Installer and in the Visual Studio IDE. That way, the issue can be routed to the

[2018-07-25 17:22] conceptdev commented on #1221
We're looking to add this tip in the documentation too. Thanks for your feedback @shaochun.

[2018-07-25 17:22] #1221 closed

[2018-07-25 18:00] jbevain commented on #1293
We haven't shipped 3.8 out of preview yet, we'll update the changelog before it RTW.

[2018-07-25 18:25] conceptdev commented on #1293
Thanks @jbevain; hope that clarifies things @MorphiksBuilder.

[2018-07-25 18:25] #1293 closed

[2018-07-25 22:22] nschonni commented on #1287
The `xmlns` is the continuation of the first line  just wrapped to a second line
EX:
[code]

[2018-07-25 22:41] controlaware commented on #1287
You are right, not sure how I missed that, it would be better if it were on the same line.

[2018-07-26 04:03] sstcvetkov commented on #1285
Ok, thanks.

[2018-07-26 04:03] #1285 closed

[2018-07-26 05:06] #1290 closed

[2018-07-26 11:16] sessler commented on #1292
Thank you for the information

Kraig Brockschmidt <notifications@github.com> ezt írta (időpont: 2018. júl.
25., Sze, 18:51):

[2018-07-26 11:53] dueringa opened #1295 "Typo in section "To collect and view data at the command line""
Step 2 says to run VsPefCLREnv, but it should be VsPerfCLREnv

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 600aa596-eb13-980a-76a5-215c9c1352ca
* Version Independent ID: 50651218-3f4e-167b-2a44-d1acb7e5ff4f
* Content: [Walkthrough: Using Profiler APIs - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/pro

[2018-07-26 15:18] Mikejo5000 commented on #1295
@dueringa Thanks! I'll make that fix.

[2018-07-26 16:01] sebastianzolg opened #1296 "This benefit no longer shows up in the list of benefits on https://my.visualstudio.com/"
We have all developers assigned to Visual Studio Enterprise E6 subscription. However, the Enterprise Mobility & Security Benefit doesn't show up there.

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 60b2872e-438a-b86e-9ff5-6dc0021f3fe8
* Version Independent ID: 8b9e935e-07ad-4992-edb9-e8361d867617
* Content: [E

[2018-07-26 16:04] evanwindom commented on #1296
@BenAffleckIsBatman Thanks for reaching out.  We're working to resolve an issue with the EMS benefit on the my.visualstudio.com portal and hope to have it resolved soon.  We apologize for any inconvenience.

[2018-07-26 17:19] dangarbri commented on #1183
Just wasted a few hours here trying to figure out why I don't have it.
https://docs.microsoft.com/en-us/visualstudio/modeling/map-dependencies-across-your-solutions

[2018-07-27 03:51] moyanming opened #1299 "Is there docs about "Package.appxmanifest" of the UWP?"
Hi,
Is there detail docs about "Package.appxmanifest" of the UWP? I want to add some existing folder and files to my project, but there are no those folder and files after I deployment the app.
Add folder and files to my project (but I can't find those folder and files after deployment):
![qq 20180727114907](https://user-images.githubusercontent.com/13234209/43300708-47eb1530-9193-11e8-90b2-10ca29

[2018-07-27 03:52] moyanming commented on #1299
<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities" IgnorableNamespaces="uap mp rescap">
  <Iden

[2018-07-27 03:53] moyanming commented on #1299
![qq 20180727115337](https://user-images.githubusercontent.com/13234209/43300789-b1319122-9193-11e8-9988-a8e49f13c988.jpg)

[2018-07-27 11:53] mostafa8026 opened #1300 "talk more about replacing with regEx"
I think it is better to talk more about replacing with regEx especially replace a captured group with name like (&lt;pet&gt;dog|animal).
thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b53053a2-c37a-99a8-fdaf-7322de927cf8
* Version Independent ID: 55a43af3-3743-9c8f-bf24-50301db7c37c
* Content: [Use regular expr

[2018-07-27 13:11] sessler opened #1301 "Using R.net with C# from Visual Studio error The program '[11012] tryR.exe' has exited with code 2 (0x2)."
I have Visual Studio 2017, RdotNet version v4.0.30319, R version 3.4.1

Tried to create the example program:

using RDotNet;
namespace tryR
{
    class Program
    {
        static void Main(string[] args)
        {
            string result;
            string input;
            REngine engine;
            REngine.SetEnvironmentVariables(rPath:"P:\\Program Files\\R-3.4.1\\bin\\i386", rHome:"P:\\P

[2018-07-27 13:44] MaStr11 opened #1302 "Add parameter to existing constructor is also available for methods."
VS 15.8 extends the option *Add a parameter to an existing constructor* to methods. The corresponding PR can be found in the Roslyn repo dotnet/roslyn#22314.

The documentation should mention this new option. The [Generate overload](https://docs.microsoft.com/en-US/visualstudio/ide/reference/generate-override) chapter should also contain a description of the feature (or link to the description).

[2018-07-27 14:31] Mikejo5000 commented on #1299
@moyanming Yes, I think you want these docs: https://docs.microsoft.com/en-us/uwp/schemas/appxpackage/appx-package-manifest

[2018-07-27 16:07] geekycrooner opened #1303 "Please annotate tips with applicable Visual Studio 2017 versions"
It's disheartening to see a really cool feature in the docs and then go to use it only to have it not work because it is an Enterprise-only function and all I have is Professional (or Community). Could you please find some very obvious way to indicate Enterprise-only functions?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2018-07-27 16:09] geekycrooner commented on #1303
Examples on this page: Live Unit Testing (only Enterprise) and CodeLens (only Enterprise and Professional) bear no indication that they are version-specific until the links are clicked and the next page of documentation is read.

[2018-07-27 16:59] Linchy opened #1304 "Possible to hook into the C# Debugger Step In/Over/Out actions?"
Hi I would like to augment the current C# debugger, specifically when I am stepping over code with multiple threads running, I would like the plugin to manually check that I am in a specific thread id, and if not then automatically continue.

I need to be able hook into the 'break' event (that I hope is emitted by Visual Studio or the Debugger), and to get access to the current Thread Id, and fina

[2018-07-27 17:43] erhuan-msft opened #1305 "Does TargetFrameworkVersion work with .Net Core unit tests?"
Does runsettings work with test dll built with .Net Core? It would be nice to update this documentation to add examples of framework versions for .Net Core so we can specify which framework version tests will be running under.

If I keep TargetFrameworkVersion as Framework45, I will be getting the following error:

2018-07-20T21:40:49.4558296Z Starting test execution, please wait...
2018-07-20T21:

[2018-07-27 18:21] rainersigwald commented on #805
@jeffkl do we need more than #1080? If not I think we can close this.

[2018-07-27 19:05] sharkbit opened #1306 "Not every network is connected to the internet. Bring Back the ISO!"
I want the ability to download and install off line with out cert issues and crazy install scripts...  BRING BACK THE ISO.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 228076d1-94bf-c502-c018-08f7c0faf377
* Version Independent ID: c64a5cd5-6236-4192-2bfc-923aa20c94da
* Content: [Create an Offline Installation of Visu

[2018-07-27 19:40] Mikejo5000 commented on #1304
@Linchy Hi, you can set filters on breakpoints based on Thread ID:
https://docs.microsoft.com/en-us/visualstudio/debugger/using-breakpoints#filter
When you hit the breakpoint on the particular thread, you can then step through code on that thread.
Also see this:
https://docs.microsoft.com/en-us/visualstudio/debugger/get-started-debugging-multithreaded-apps#bkmk_follow_a_thread

It sounds like you

[2018-07-27 21:36] Linchy commented on #1304
Thanks for the reply @Mikejo5000, I have found though that even when stepping after a breakpoint the debugger still switches between threads. It never stays on one thread.

thank for the link to the docs, though I am having trouble understanding how to actually hook the step events? Is there any specific vsix c# sample code that I can use here?

[2018-07-27 22:07] Mikejo5000 commented on #1304
The trick--which seemed to work for me during some tests quite a while back--is to avoid breaking into code on any other threads while the app runs. So if you set a conditional breakpoint for a unique thread ID or for data that is unique to the thread, then you can continue stepping through code just that one thread (F10, F11...) after you hit the conditional breakpoint. If any other breakpoints a

[2018-07-27 22:09] Mikejo5000 commented on #1304
Put another way: The debugger is supposed to only break into code on a per-thread basis. If you never give it an opportunity to break into another thread, it's not supposed to do it.

[2018-07-27 22:59] PawelWMS opened #1307 "Unclear description of the "\w" special character"
The description of the "\w" character states that it matches "any alphanumeric character" and it is not entirely clear, which characters does the author have in mind. For instance "\w" matches the underscore "_" character from the standard ASCII set, which is neither a letter, not a digit. From the extended set the ordinal indicators (0x170 and 0x186) seem somewhat controversial or at least not in

[2018-07-28 00:18] Mikejo5000 commented on #1304
BTW, I don't know if you already saw this, but this looks like the main API for the task:
https://docs.microsoft.com/en-us/dotnet/api/microsoft.visualstudio.debugger.stepping?view=visualstudiosdk-2017

[2018-07-28 00:47] nGAGEOnline commented on #1306
The web-installer is seemingly taking forever to install VS2017 and freezes up my system for several seconds at a time. Please make .ISO available again.

[2018-07-28 19:59] dangarbri commented on #1183
Darn the fine print.

[2018-07-29 23:16] ddivito commented on #1306
https://downloadly.ir/software/programming/microsoft-visual-studio-5/

[2018-07-30 02:01] darrentraffk commented on #1191
Any updates @kuhlenh @gewarren ?

[2018-07-30 14:12] ciphernemo commented on #980
I just discovered a shortcut as well to include everything: --allWorkloads

Also, the examples use --includeOptional but they don't use --includeRecommended ... both should be used according to the installer's command options help.

[2018-07-30 14:40] spacecat opened #1309 "right-click on the Dockerfile and choose Build Docker Image does not exist"
"If you prefer to work directly with the Docker image, you can right-click on the Dockerfile and choose Build Docker Image."

I have all the prerequisites installed but I can't find this menu item?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25b96907-35cf-ff1f-d7ad-a231aa78418b
* Version Independent ID: 620e59a0-565

[2018-07-30 14:51] spacecat opened #1310 "best practice on how to deploy application updates using a chart using Visual Studio"
Can you post a best practice on how to deploy application updates using a chart using Visual Studio? Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25b96907-35cf-ff1f-d7ad-a231aa78418b
* Version Independent ID: 620e59a0-5658-9a05-c177-8d0687656e2a
* Content: [Kubernetes tools tutorial - Visual Studio](https://d

[2018-07-30 14:59] spacecat opened #1311 "System.Exception: Running the docker.exe tag command failed"
2018-07-30 16:56:46
System.Exception: Running the docker.exe tag command failed.
   at Microsoft.VisualStudio.Web.Azure.Publish.ContainerRegistryProfileVisual.DockerTag(ProcessStartInfo startInfo, String serverUrlString)
   at Microsoft.VisualStudio.Web.Azure.Publish.ContainerRegistryProfileVisual.&lt;PostPublishAsync&gt;d__24.MoveNext()
--- End of stack trace from previous location where exceptio

[2018-07-30 16:11] spacecat commented on #1311
Additional info:

I tested:

- run Visual Studio as Administrator
- Create a new ACR
- Use existing ACR
- Docker Hub

None of these work for me.

[2018-07-30 17:22] jeffkl commented on #805
Yeah this is now done.  Please close this issue.

https://docs.microsoft.com/en-us/visualstudio/msbuild/msbuild-roslyncodetaskfactory

[2018-07-30 17:53] #805 closed

[2018-07-30 17:58] #1183 closed

[2018-07-30 18:09] ciphernemo commented on #980
Wow, the vs installer is broken, or the help provided for it is broken. One of the two. Because...

--includeOptional does NOT include recommended as well and,
--includeRecommended does NOT include optional, yet,
both --includeOptional and --includeRecommended together do not work, and will pick the first option you use.

WTF, Microsoft? I'm going to have to experiment more with this myself, becau

[2018-07-30 18:16] ciphernemo commented on #980
One solved so far:

The -all option will install EVERYTHING, all workloads, all components

The -allWorkloads option will install all workloads and components, but NOT install any recommended or optional components.

So this article is correct: https://docs.microsoft.com/en-us/visualstudio/install/use-command-line-parameters-to-install-visual-studio

[2018-07-30 18:29] Keboo opened #1312 "SourceDirectory variable incorrect"
In the example code, the property group declares a variable `ZipOutputPath`, but the `ZipDirectory` task is expecting to take in a variable named `OutputPath`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4c2cbd60-5d56-af4f-b196-4c9f190a1586
* Version Independent ID: 6408870a-85cd-428c-5ede-2338804481d6
* Content: [Z

[2018-07-30 18:33] Keboo opened #1313 "Example description is incorrect"
The description for the example code states: "The following example creates a .zip archive from the output directory after building a project.". However it is using `$(MSBuildProjectDirectory)` which is [defined](https://msdn.microsoft.com/en-us/library/ms164309.aspx?f=255&MSPPError=-2147217396) as "The absolute path of the directory where the project file is located". This is highly misleading, s

[2018-07-30 18:55] Mikejo5000 commented on #1312
Thanks! I'll take a look at that.

[2018-07-30 19:45] ciphernemo commented on #980
It looks like there's no way to automatically install BOTH optional and recommended components of any workload through the command line options. Either you use -installOption to install optional and NOT recommend, -installRecommend to install recommended and NOT optional, or neither to perform the exact same function as -installRecommend. This seems broken.

The only workaround I see is to not inc

[2018-07-30 20:03] ciphernemo opened #1314 "Looks like there's an easier way to do this..."
For the most part you have the commands correct. However, they are not in their simplest form, and some are not functioning as intended.

For caching, this is all you need...
Caching: vs_[edition].exe --layout [destination_folder] --add Package1 --add Pacakge2[...]
Install: vs_setup.exe

The install should be run from within the newly created cache folder. Both a vs_[edition].exe and vs_setup.exe

[2018-07-30 20:51] gewarren commented on #1314
@ciphernemo Thanks for the feedback. Is this the topic you're referring to? @TerryGLee fyi.

[2018-07-30 20:54] gewarren commented on #1307
@PawelWMS Thanks for the feedback. I'll add this to our backlog for consideration.

[2018-07-30 20:59] gewarren commented on #1305
@erhuan-msft Thanks for the feedback, this looks like useful info to have in the doc. @pvlakshm can you answer this question about .NET Core framework version in .runsettings file?

[2018-07-30 21:01] gewarren commented on #1302
@MaStr11 Thanks for the heads up Martin!

[2018-07-30 21:03] gewarren commented on #1300
@mostafa8026 Thanks for the suggestion.

[2018-07-30 21:54] asb3993 commented on #1232
Closing this as it seems to be more of a product issue, which should be filed [here](https://developercommunity.visualstudio.com/spaces/41/index.html). If there is anything that should be updated in the docs, please feel free to reopen.

[2018-07-30 21:54] #1232 closed

[2018-07-31 14:24] SpeedHighway commented on #1279
Thank you so much for this.  I was trying to create an extension that didn't work without version 15.7.0 because it was templates requiring .netcore 2.1 and none of the versions on the build numbers page worked.  I appreciate you reporting this and also finding the version that I could finally use for my extension. :)

[2018-07-31 17:41] kraigb commented on #1301
@sessler It looks like your issue is with R.NET specifically, and not Visual Studio or the R Tools for Visual Studio (RTVS) (and especially not the documentation for VS/RTVS, which is what the present repo is for).

I suggest you should pursue the matter through https://github.com/jmp75/rdotnet/issues. If you think it is an RTVS issue specifically, then use https://github.com/Microsoft/rtvs/issues

[2018-07-31 17:41] #1301 closed

[2018-07-31 19:47] ciphernemo opened #1315 "I found the proper way to do this"
Article is a bit off. Here's what I discovered: use the ;includeRecommended suffix on each workload add, then do an --add for each optional component of that workload. That's the only way I was able to get both recommended and optional components of each workload.

So for Step 2 above in the first example, it should really be:

vs_community.exe --layout c:\vs2017layout --add Microsoft.VisualStudio

[2018-07-31 19:50] ciphernemo commented on #1315
Note: in the above example I removed FSharp from optional...

Microsoft.VisualStudio.Component.FSharp
Microsoft.VisualStudio.Component.FSharp.Desktop

Since I didn't want it in my deployment. Forgot to re-add for my post above.

[2018-07-31 20:03] TerryGLee commented on #1315
@ciphernemo Thanks for the feedback. I'll add this to our backlog for consideration.

[2018-07-31 20:16] spacecat opened #1316 "Publish to Azure AKS menu item missing"
I installed the AKS Publishing Tools but the menu item from the screenshot does not appear in my Visual Studio Community edition.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25b96907-35cf-ff1f-d7ad-a231aa78418b
* Version Independent ID: 620e59a0-5658-9a05-c177-8d0687656e2a
* Content: [Kubernetes tools tutorial - Vis

[2018-07-31 20:21] SidShetye opened #1317 "List all currently installed component id?"
How do we enumerate all the component IDs installed on a given machine? The idea is to replicate a known good install by dumping the component IDs from that install into a file/command line and feed it back to the installer on other machines (e.g. scripting it in with the `--add` arg)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2018-07-31 21:07] Mikejo5000 commented on #1304
@Linchy I have some comments from the product team:
- [It looks like you want] to be able to always step on the same thread in C# regardless of hitting a break condition in another thread or not
- [It looks like you want] to extend the current debugger just a tiny bit (not build a new debug engine)

One option is to look at the OnEnterBreakMode events that can be subscribed too:
https://docs.micro

[2018-07-31 21:14] Linchy commented on #1304
Thanks @Mikejo5000 I will look into this this week, but that definitely looks like what I'm after. I tested the conditional breakpoint filter and it does seem to work, though the cursor journey is a hassle enough to make me still think about writing this plugin. Thanks again for your responses.

[2018-07-31 22:40] kiranjulapalli opened #1320 "Docker build taking too long"
How long is docker build expected to take? It is stuck in preparing for almost 1/2 hr without any status updates..

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b91a4a43-5353-97cf-7532-7644aa3b497f
* Version Independent ID: 858d9a5c-72f3-6a85-9270-0a0dd9e0438b
* Content: [Install Visual Studio Build Tools into a conta

[2018-07-31 22:48] heaths commented on #1320
It can take hours depending on how many resources (CPUs, memory) you threw at the container build process. That output isn't displayed is because most of our installer is a window application (no attached stdout). We're considering a change for future releases to address this but is not in scope for Visual Studio 2017.

[2018-08-01 05:22] paul1956 opened #1323 "There instructions don't apply to VB."
Solution #3: Tools &gt; Options, and uncheck the setting Debugging &gt; General &gt; Enable property evaluation and other implicit function calls. does not exist in VB Settings but the crash still happens. Solutions 1 and 2 don't work when the issue is internal to VS.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3cfd

[2018-08-01 09:12] longtth opened #1324 "Our company's internet firewall blocked us from install Visual Studio using web installer"
Our company (and many others) has firewall that block massively downloaded files, and it's very hard to get Visual Studio downloaded and install to PC,
It would be very nice for us to have a simple ISO that we could request IT Dept to download, save on server and we only need to copy down, then install.
Please consider bring ISO back!
Many thanks.

[2018-08-01 15:40] sebastianzolg opened #1327 "Enterprise Mobility + Security (EMS) Benefit - What is included?"
According to the documentation there is no difference in enterprise vs. pro subscription regarding EMS.
However, it is nowhere stated what the benefit really includes?

Assuming it includes a free amount of EMS E3 (?) licences a developer could work with, then there is a difference between enterprise vs. pro in terms of licence amount.

We activated a pro subscription today and it only includes 1

[2018-08-01 18:09] #1295 closed

[2018-08-01 18:43] Mikejo5000 commented on #1323
@paul1956 Thanks, I will take a look at this.

[2018-08-01 20:10] sharkbit opened #1328 "Offline Install is not Offline...."
I Download the entire package of 38G of installs,   using the `vs_enterprise.exe --layout c:\vs2017layout --lang en-US`.  Moved it to my Closed Environment and it is still trying to go the internet to download things...
  Error :  "After 9 attempts,  there was a problem downloading the file:
'https://download.visualstudio.microsoft.com/download/pr/11659718/6596c40bbdf0e18301b66a1f7c1f28cf/payload.

[2018-08-01 20:59] marcelolr opened #1329 "C# Debut Tab"
F1 on the Debug tab of a C# app | Properties menu lands here (at least for the one that has Profile/Launch/Application arguments options). Looking for the mixed mode debugging option, as it's not obvious to me where that might be now.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a28ee58-bd99-e74a-0c0c-30f5a41da08e
*

[2018-08-01 23:55] JasonFevang commented on #1248
I tried this and it got me one step further, but on the added .cpp file I now get C1010, "unexpected end of file while looking for precompiled header. Did you forget to add '#include "stdafx.h"' to your source?" Any ideas why?

[2018-08-01 23:56] JasonFevang commented on #1248
Adding #include "stdafx.h" gives even more errors

[2018-08-02 08:49] Tragetaschen commented on #1070
I've just went through my .editorconfig and the first list seems to be reduced to
[code]
The remaining items have since found their way onto the page already.

[2018-08-02 10:16] victork00 commented on #888
The TextView items overlay. I followed the instructions step by step.
I think the problem is RelativeLayout.
I'll need to improve my design skills.

[2018-08-02 16:24] aendie opened #1331 "Typo on page"
Please correct typo in the hyperlink "Walkthrough: Create a site column, content type, and tist for SharePoint". tist => list
Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d8f996d-d327-4961-7582-d5716f559f24
* Version Independent ID: 0c77b628-0db6-2767-2a1c-c60716f56aca
* Content: [Create SharePoint Solutions

[2018-08-02 16:33] TerryGLee commented on #1331
@aendie Thanks for letting us know; we'll get this fixed.

[2018-08-02 16:41] jpreese commented on #1331
Echoing what @TerryGLee said, thanks @aendie! There's an open PR to fix this.

[2018-08-02 16:43] jpreese commented on #1312
Thanks for reporting this @Keboo! We have an open PR to resolve this issue.

[2018-08-02 16:46] jpreese commented on #1313
#1330 should resolve this as well.

We're not longer attempting to use the `ZipOutputPath` variable (resolving to MSBuildProjectDirectory) and instead are relying purely on the output directory which matches the example text.

[2018-08-02 17:00] jpreese commented on #1287
Thanks for pointing this out @controlaware. I would agree with you about keeping them on the same line, especially since the following line is kept together as well.

I've also gone ahead and cleaned up a couple other spots in the document.

[2018-08-02 17:07] #1287 closed

[2018-08-02 17:10] #1331 closed

[2018-08-02 17:16] #1312 closed

[2018-08-02 17:56] rmcdonald opened #1334 "Wording in file extension registration article has aged badly"
I would guess this MSDN article was created a long time ago, when Windows XP was the current version of Windows.  It says:

`The OpenWithProgids key is only supported in Windows XP. Because **other** operating systems ignore this key, do not use it as the only registration for file handlers. Use this key to provide a better user experience in Windows XP.` (my emphasis)

When this article apparentl

[2018-08-02 20:10] JasonFevang commented on #1248
I solved my problem, I needed to follow the instructions on this document: https://msdn.microsoft.com/en-us/library/hh419385.aspx?f=255&MSPPError=-2147217396#projectRef following the "To link the tests to the object or library files" instructions

[2018-08-02 21:07] mrlife opened #1336 "Saving Git Credentials in Visual Studio for Mac"
There does not appear to be a place in preferences to save Git credentials.

Here is the relevant part from the docs (step 7):

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 606d4c70-3daf-8b03-9c31-b690927a7136
* Version Independent ID: 24a13aaf-3d14-c810-182c-2c2d93fc299b
* Content: [Setting up a Git Repository - Visu

[2018-08-03 00:03] gewarren commented on #1329
@marcelolr Thank you for the feedback Marcelo.

[2018-08-03 04:02] reye opened #1337 "Other Child Elements"
Aren't ImportGroup and ItemDefinitionGroup also child elements of Project?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9f2d4b23-f7b9-7f95-0690-7d528fb4b323
* Version Independent ID: 2c45725e-2689-bfd3-001b-ea1f7043128a
* Content: [Project Element (MSBuild) - Visual Studio](https://docs.microsoft.com/en-us/visualstud

[2018-08-03 09:05] victork00 commented on #888
Don't worry I know now.

[2018-08-03 13:08] victork00 commented on #888
Another problem that I ran into is the lines after the </RelativeLayout>.
the xmlns:android line needs to be declared for the code to recognise it.
Since the RelativeLayout is closed it's not recognising anymore the android:"properties" from the TextView blocks.
What should I do?

[2018-08-03 13:10] victork00 commented on #888
*after the "</RelativeLayout>"

[2018-08-03 13:10] victork00 commented on #888
"RelativeLayout"

[2018-08-03 14:00] xenalite commented on #1165
@Juanpanaya
Cloud subscription GUID: 3ab753c1-6a9b-4b5e-8a53-b2591fb06b80
Non-Admin user UPN: oskar.mamrzynski@towerswatson.com

[2018-08-03 16:05] ddivito commented on #1306
The [.](https://downloadly.ir/software/programming/microsoft-visual-studio-5/)ISO is not officially on the microsoft website

[2018-08-03 17:06] condiosluzverde opened #1340 "Typo in SnippetType Element - Missing / in closing tag."
The XML current shows as:
&lt;SnippetType&gt;
    SurroundsWith/Expansion
&lt;SnippetType&gt;

It should be:

&lt;SnippetType&gt;
    SurroundsWith/Expansion
&lt;/SnippetType&gt;

The correction above adds a "/" before "SnippetType" in the closing tag.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 91faad91-f76f-1c35-3

[2018-08-03 17:31] AraHaan commented on #1092
Alright so I got that part working and I decided to also test creating an layout with the vs2017 preview installer to see if I can layout that version too, but seems the layout option instead does not run anything after it does the progress bar stuff.

[2018-08-03 17:37] Mikejo5000 commented on #1092
@TerryGLee Any suggestions, Terry? This appears to be more of an offline installation issue than an MSBuild issue.

[2018-08-03 20:52] gewarren commented on #1271
@SarikaCalla just testing, please ignore. I wanted to see if we can @mention Microsoft GitHub accounts that aren't part of MicrosoftDocs org.

[2018-08-03 21:41] TerryGLee opened #1343 "Test"
This is a test

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d8664d15-b038-4d16-3a83-c7c3354997c1
* Version Independent ID: 04a14caf-8611-d997-8ab7-9b4ac6db7730
* Content: [Create a Windows Forms app in Visual Studio with Visual Basic - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/ide/create-a-visual-b

[2018-08-03 21:43] TerryGLee commented on #1343
-

[2018-08-03 21:43] #1343 closed

[2018-08-03 23:07] #1340 closed

[2018-08-04 16:55] aendie opened #1344 "Requirements are outdated on this page"
I quote a requirement from this page : "Microsoft SharePoint Server 2010 installed on 64-bit Windows Server 2008 or 64-bit Windows Server 2008 R2". I have SharePoint Server 2016 installed on 64-bit Windows Server 2012 R2. Does this mean I cannot develop SharePoint Farm Solutions? Kind Regards.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2018-08-04 20:01] OscarFHenriquez commented on #1315
@ciphernemo Great man!! Thank you very much!! Regards!

[2018-08-05 05:40] jvlppm opened #1345 "This script deleted my keystore"
My Android app (that is on the store) was signed by a key generated by Visual Studio,
When my Visual Studio stopped working I had to uninstall it, and then reinstall it (just reinstalling didn't work).

I just found out that the Android signing keys generated by VS were stored by default under ~/Library/Developer/Xamarin/Keystore

And this directory was deleted by this script, now I can't update m

[2018-08-05 14:44] aendie opened #1346 "Deployment Errors with SharePoint 2016"
Error occured in deployment step 'Activate Features': Cannot complete this action ...
Please try again.
I tried this twice, obviously adapting the steps suitably to Visual Studio 2017 and SharePoint 2016.
Using DEBUG mode, I had an error on line 1647 of the ScriptResource:
if (Sys.__registeredTypes[name]) throw Error.invalidOperation(String.format(Sys.Res.typeRegisteredTwice, name));
I have no ide

[2018-08-05 21:12] DaanV2 opened #1347 "safeitemname and itemname usage"
safeitemname and itemname are based on my experience on the filename that gets added into the project. so when you added something onto the filename that same addition goes onto the parameters safeitemname and itemname

---
#### Documentdetails

⚠ *Dit gedeelte niet bewerken. Het is vereist om problemen te koppelen tussen docs.microsoft.com en GitHub.*

* ID: 5f4a0078-1a87-6e3a-791e-d3068fb7032c
*

[2018-08-05 21:12] DaanV2 opened #1348 "safeitemrootname"
safeitemrootname is not mentioned but used in the standard templates

---
#### Documentdetails

⚠ *Dit gedeelte niet bewerken. Het is vereist om problemen te koppelen tussen docs.microsoft.com en GitHub.*

* ID: 5f4a0078-1a87-6e3a-791e-d3068fb7032c
* Version Independent ID: 1d2d976d-2698-88d6-fac4-4d34e3855e2a
* Content: [Visual Studio project and item template parameters - Visual Studio](https://

[2018-08-05 22:57] henrygab opened #1349 ".requiredModifiers does not specify behavior of multiple values"
The document indicates that .requiredModifiers can specify multiple values.  However, it does not indicate which of the following behaviors is followed:

A. It requires ALL the listed modifiers to exist to match
B. It requires AT LEAST ONE OF the listed modifiers to exist to match

The first is expected, but the second is how the .applicable_accessibilities aspect is handled.  Can you clarify the

[2018-08-05 23:32] henrygab commented on #486
@RehanSaeed example is incomplete, at least as to **fields**.  Let me give some details....

### Foundational background
Protected fields should be [treated as public](https://docs.microsoft.com/en-us/dotnet/standard/design-guidelines/protected-members), according to .NET design guidelines.

The same .NET design guidelines drastically [limit allowed public fields](https://docs.microsoft.com/en-us/

[2018-08-05 23:36] henrygab commented on #486
OK, this should be a reasonable sample that more appropriately covers fields...

[code]

That should work, or at least be close enough to get you started.

[2018-08-05 23:49] mwpowellhtx opened #1350 "Where is the listing of MSBuild properties"
Those that can appear in a ``PropertyGroup`` for instance.

On one hand, I get it, that some can be user-defined. But where are the sort of boilerplate, built-in ones listed? Having a hard time finding that reference.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 73afcd0b-3717-082a-e429-428bfac1c826
* Version Independ

[2018-08-06 03:39] henrygab opened #1351 "Unclear ordering of dotnet naming rules across files"
### Background:

.editorconfig files are defined to allow overriding of values found in a common root location, by having a .editorconfig file "closer to" the source file being processed.

From https://editorconfig.org/#file-location:

https://editorconfig.org/#file-format-details

https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-naming-conventions

### Scenario
Directory Foo has def

[2018-08-06 08:35] RehanSaeed commented on #486
@henrygab My https://github.com/RehanSaeed/EditorConfig is based on the default StyleCop rules which is almost the same as the naming guidelines you listed with the biggest difference being the use of `this.` instead of `_`.

I'm not too clear on the difference in your rules and mine but if there is something off about the rules, feel free to submit a PR. I'm always interested in adding more usefu

[2018-08-06 13:11] Juanpanaya commented on #1165
Hello, @xenalite

Thank you for the response.

In this case after further investigation, I am able to see the email you provided as one of the emails that can manage the cloud subscription within the Manage portal.

In order to provide you with a better context as to why the user may be able the manage the subscription is due to one of the following reasons:

- The user has admin rights in the Azu

[2018-08-06 14:26] Mikejo5000 commented on #1350
Did you see this page?
https://docs.microsoft.com/en-us/visualstudio/msbuild/common-msbuild-project-properties
It would not include properties that are specific to certain app types.

[2018-08-06 15:59] mwpowellhtx commented on #1350
@Mikejo5000 Does not include references to things such as ``AssemblyVersion`` or ``FileVersion``, which is what I am chiefly after, and correspondence between the *CSPROJ* style specifications and the *AssemblyInfo* ``Attribute`` specs. I was able to uncover the actual ``MSBuild`` targets which make the mapping happen, which is helpful to me learning what the names should be.

[2018-08-06 15:59] #1350 closed

[2018-08-06 17:19] gewarren commented on #486
@kuhlenh added a small naming conventions section to the example EditorConfig at https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference#example-editorconfig-file. But it sounds like the request is for an official, complete naming conventions EditorConfig sample based on https://docs.microsoft.com/en-us/dotnet/standard/design-guidelines/naming-guidelines?

[2018-08-06 17:26] TerryGLee commented on #1344
@aendie Thanks for your feedback. This is in the backlog queue; FYI.

[2018-08-06 19:25] mwpowellhtx commented on #1350
@Mikejo5000 @rainersigwald I don't think it's a question whether you are. You are. The question is what you want to do about that lack of coverage.

[2018-08-06 22:08] dckrinke opened #1353 "Incorrect Example"
The HelloWorld code does not work. The Visual Studio 17 compiler gives:
1 Error: Severity	Code	Description	Project	File	Line	Suppression State
Error	CS0017	Program has more than one entry point defined. Compile with /main to specify the type that contains the entry point.	HelloWorld	C:\Users\dckri\Documents\Visual Studio 2017\Projects\HelloWorld\HelloWorld\Program.cs	7	Active

How do I get the mos

[2018-08-06 22:11] gewarren commented on #1353
@dckrinke I'm surprised you're getting this error. Can you paste the contents of your Program.cs file here?

[2018-08-06 22:13] dckrinke commented on #1353
using System;
namespace HelloWorld
{
    class HelloWorld
    {
        static void Main(string[] args)
        {
            Console.WriteLine("Hello World!");
        }
    }
}

On Mon, Aug 6, 2018 at 3:11 PM, Genevieve Warren <notifications@github.com>
wrote:

[2018-08-06 22:37] gewarren commented on #1353
When I create a new .NET Core console app the class is named Program, not HelloWorld, which might be the issue. Try renaming your class to Program and see if that fixes it. Do you have any other .cs files in your project?

[2018-08-07 01:31] dckrinke commented on #1353
You are right, that was it.
Thanks for your help,
Dennis Krinke

On Mon, Aug 6, 2018 at 3:37 PM, Genevieve Warren <notifications@github.com>
wrote:

[2018-08-07 03:31] StingyJack opened #1354 "Are there any drawbacks to using "Embedded" other than file size?"
"please fill out this field"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 56f58310-fec4-2374-f9b1-253ae98fccf9
* Version Independent ID: 38ebce67-8953-ce1b-a082-e39c936d5865
* Content: [Advanced Build Settings Dialog Box (C#) - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/ide/reference/advanced-build-

[2018-08-07 03:33] StingyJack opened #1355 "Are there any meaningful performance differences in assemblies for any of these choices?"
"Please fill out this field"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 56f58310-fec4-2374-f9b1-253ae98fccf9
* Version Independent ID: 38ebce67-8953-ce1b-a082-e39c936d5865
* Content: [Advanced Build Settings Dialog Box (C#) - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/ide/reference/advanced-build-

[2018-08-07 03:56] kasturi3k opened #1356 "Data binding in unit test?"
If I have a unit test that is part of the text mix in my load test, can I use data binding?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7520d8a3-ed9d-7f74-d948-09d1c8e1bd7b
* Version Independent ID: 00dfbec4-e63a-27d7-1935-8475ff770516
* Content: [Add a data source to a web performance test in Visual Studio - Visual

[2018-08-07 10:12] RCVarley opened #1357 "Solution Outline"
It would be helpful if, at the start, you could show a solution outline to give us an 'at a glance' overview of the solution structure.

Even more helpful, would be an interactive element that contains the file structure (similar to that of the Solution Explorer) of the finished product that can be downloaded.  Linking this to a GitHub repository would be the icing on the cake.

---
#### Document

[2018-08-07 15:08] drich-colorman opened #1359 "Where is the default projects folder?"
In ALL earlier versions of VS my new projects were always placed in a Projects folder in Visual Studio in My Documents.  Now, they are splattered all over my computer and most annoyingly in folders that I cannot even find with a search.  A search in HELP on how to setup or assign a default projects folder returns .. Nothing.  So not only have you changed how the Studio works you did not even both

[2018-08-07 16:53] gewarren commented on #1356
@boraprachi Can you help to answer this question please?

[2018-08-07 17:36] gewarren commented on #1353
You're welcome!

[2018-08-07 17:36] #1353 closed

[2018-08-07 18:01] LisandroSu opened #1360 "Update, please..."
@NakSuKao commented on [Tue Aug 07 2018](https://github.com/MicrosoftDocs/visualstudio-docs.it-it/issues/5)

This documentation is ok for old framework versions.

Please, update because the following configSections element in the app.config file isn't good for .Net Framework 4.6.1.

&lt;configSections&gt;
        &lt;section name="microsoft.visualstudio.testtools" type="Microsoft.VisualStudio.Test

[2018-08-07 18:02] LisandroSu commented on #1360
Hi team,

Can you check on this request for an update on the file?

Thanks!

[2018-08-07 19:06] gewarren commented on #1228
Please leave a comment if this doesn't address your question.

[2018-08-07 19:06] #1228 closed

[2018-08-07 19:15] gewarren commented on #1223
Not everything that Manish requested is there yet, but here's the (live) landing page: https://docs.microsoft.com/en-us/visualstudio/code-quality/fxcop-analyzers

[2018-08-07 20:09] TerryGLee commented on #1324
@longtth Thanks for your feedback. We do have a page that might help you mitigate firewall issues: [Install and use Visual Studio and Azure Services behind a firewall or proxy server](https://docs.microsoft.com/en-us/visualstudio/install/install-and-use-visual-studio-behind-a-firewall-or-proxy-server).

As for providing an ISO, we do not do so for the following reasons:

1. Visual Studio 2017 is a

[2018-08-07 20:09] #1324 closed

[2018-08-07 20:17] TerryGLee commented on #1306
@sharkbit, @nGAGEOnline, and @ddivito - Thanks for your feedback. We hear that you prefer an ISO, but we do not provide an ISO for the following reasons:

1. Visual Studio 2017 is a huge product that supports many types of development: from Android to UWP to C++ to Unity to Linux. If we were to still offer a 'full' install, it would come in at over 50GB. That's one huge ISO image!
1. We surveyed h

[2018-08-07 20:17] #1306 closed

[2018-08-07 20:32] #1328 closed

[2018-08-07 20:41] TerryGLee commented on #1214
@its4zahoor Feel free to comment again if you have further information for us, but we'll close this for now.

[2018-08-07 20:41] #1214 closed

[2018-08-07 21:12] TerryGLee commented on #1207
@dburnison This will be updated tomorrow; thanks again for bringing it to our attention. 👍

[2018-08-07 21:12] #1207 closed

[2018-08-07 21:17] TerryGLee commented on #1346
@aendie Thanks for your feedback. We are aware that the documentation is outdated; it's in our backlog queue at the moment. However, for immediate assistance, please consider using the [StackOverflow](https://stackoverflow.com/questions/tagged/sharepoint-2016) site (and note that the link I've included goes directly to a collection of questions and answers that are tagged with "SharePoint 2016").

[2018-08-07 21:26] TerryGLee commented on #1068
@MrFojo You might consider searching [StackOverflow](https://stackoverflow.com/questions/tagged/outlook-2016) to see if they've got an answers to any specific Outlook 2016-related questions that you might have.

[2018-08-07 21:30] TerryGLee commented on #980
@syedrashid47 Thanks for your feedback. And @ciphernemo, @speeder990 - Thanks for posting solutions. 👍

[2018-08-07 21:30] #980 closed

[2018-08-07 21:36] TerryGLee commented on #875
@HL-1234 Unfortunately, we don't offer a download manager; however, if that is something that you'd like to see us add, please consider suggesting this to us on our  **[UserVoice](https://visualstudio.uservoice.com/forums/121579-visual-studio-ide)** forum, where we collect product feature requests.

[2018-08-07 21:36] #875 closed

[2018-08-07 21:41] #783 closed

[2018-08-07 22:07] gregvanl commented on #651
User is happy with workaround to product issue.

[2018-08-07 22:07] #651 closed

[2018-08-07 23:05] mavasani opened #1362 "Legacy FxCop and FxCop analyzer implementation of this rule checks more than namespaces in .NET Framework class library"
See https://github.com/dotnet/roslyn-analyzers/issues/1753 and https://github.com/dotnet/roslyn-analyzers/issues/1673 for details. We should update the documentation to include the additional scenarios.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 91945e5b-8c25-f409-fc76-e57bdf58cb15
* Version Independent ID: 5cfb7f2

[2018-08-07 23:39] nGAGEOnline commented on #1306
@TerryGLee I've actually managed to solve my issue. Unfortunately it's more of a work-around that not everybody is willing to do. But here it is:

Recently, Microsoft has updated the content that is downloaded with the MediaCreationKit (or what it's called), for updating Windows or creating a bootable USB or ISO. The tool now (in my case) creates a bootable USB with a Windows 10 installer that inc

[2018-08-08 09:44] StevenTCramer opened #1366 "Symbols Local Variables"
trying to write a rule that says "local variables should be camelCase"

How do specify local variables in symbols?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b402d2e0-a53a-b61a-4da8-b5ee766d9301
* Version Independent ID: 612695df-5934-d967-d709-500ce02b1395
* Content: [.NET Naming Conventions For EditorConfig files

[2018-08-08 14:40] mavasani opened #1367 "Data transfer objects should be mentioned as candidates for suppressing the violations for this rule"
See https://github.com/dotnet/roslyn-analyzers/issues/1705. We should update https://docs.microsoft.com/en-us/visualstudio/code-quality/ca1819-properties-should-not-return-arrays#when-to-suppress-warnings and https://docs.microsoft.com/en-us/visualstudio/code-quality/ca2227-collection-properties-should-be-read-only#when-to-suppress-warnings to cover these cases.

---
#### Document Details

⚠ *Do n

[2018-08-08 16:26] StevenTCramer commented on #1366
https://github.com/dotnet/roslyn/blob/master/.editorconfig

Has an example of how to use locals but the docs still need updated to include local.

[2018-08-08 16:42] VincentDondain commented on #1281
Hi,

Simulators and devices do not require the same `csproj` properties (e.g: architecture) so we need independent configurations for them. In addition, the IDE uses the constant names of the configurations to determine if we need to show devices or simulators in the simulator/device toolbar.

So your fourth configuration that only offers "Generic Device" must be a **device only** configuration an

[2018-08-08 16:55] gewarren commented on #1366
@StevenTCramer Thanks, good suggestion.

[2018-08-08 17:16] JohnCOsborne opened #1369 "Debug -> Windows -> Modules"
This is not available with VS 2017 15.5.7

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 95bc6d7e-2b58-4755-4411-c5f369011a6c
* Version Independent ID: d5710161-bc97-6d33-6c6b-77fc9cfe9c62
* Content: [Troubleshoot Breakpoints in the Visual Studio Debugger - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/d

[2018-08-08 17:20] #1281 closed

[2018-08-08 18:55] #1262 closed

[2018-08-08 20:19] reisi1 commented on #1132
our subscription was renewed but not the EMS part. It's also not possbile to activate the service with following message.
It’s no longer offered by Microsoft.
You’ve already tried this service. You can sign up for a trial only once.
The beta or trial you’re requesting has expired.
The promotion code has already been used.

[2018-08-08 22:28] Nathan-Tarin opened #1371 "Benefit Accounts"
Hello,

Can it be possible to include a section that states that all the benefit accounts, such as Azure credits, Office 365 Developer and VSTS, are one time benefits that cannot be recovered after activated? So, for example if a VS subscription is assigned to user  "A" via Volume Licensing, and this subscription is reassigned to user "B". In the event that the "A" user activated all the benefit a

[2018-08-08 22:56] gewarren commented on #1164
Topic will now be added to the dotnet repo instead, to live alongside the other Windows Forms Designer topics at https://docs.microsoft.com/en-us/dotnet/framework/winforms/automatic-scaling-in-windows-forms.

[2018-08-09 13:16] StevenTCramer commented on #1366
while at it local_functions also :)

[code]

[2018-08-09 15:50] ingconti commented on #1315
it does NOT work (see around on the web).

I DID use the FULL installation, but no luck. (an many more combinations).

The solution does NOT work for vs 2017 installer. I DID followed all guidelines but no luck.
installer always wants to connect to download I got:

"attempting to download https://aka.ms/vs/15/release/installer/"

I succeded in installing vs2107 standalone in windows 7 after instal

[2018-08-09 16:11] ciphernemo commented on #1315
ingconti, if you're getting "attempting to download", then you missed something in my example.

Make sure you run the vs_setup.exe with --passive or --quiet, but more importantly make sure you run it from the newly created vs2017layout folder. Do not run the same vs executable that you used to download the layout.

I confirmed this works just fine with Visual Studio 2017 Professional. I did not te

[2018-08-09 16:13] ingconti commented on #1315
recap:
- I downloaded from scratch.
- I tried FULL install, too (53 GB..)

If installer tries to connect to the MS site, is a bug, I think.. :)

[2018-08-09 16:28] ciphernemo commented on #1315
If you perform exactly what I have, it will work. I did not test the "FULL" install. You obviously are using different syntax since you're doing a full install.

Also, testing with just one package is the quickest way to confirm this works. When connected to the Internet, try...

`vs_community.exe --layout c:\vs2017layout --add Microsoft.VisualStudio.Workload.NetWeb`

Then disconnect your network

[2018-08-09 16:54] Juanpanaya commented on #1165
Hello, @xenalite

Thank you for the response.

In regards to this case, please create a ticket with the Azure support team as they can further assist with the feedback you provided.

In order to create a ticket with them, please follow the next link:

- https://portal.azure.com/#blade/Microsoft_Azure_Support/HelpAndSupportBlade/overview

Kind regards,

Juan Anaya
Visual Studio Subscriptions Tier 3

[2018-08-09 17:27] TerryGLee commented on #1371
@Nathan-Tarin thanks for your feedback! @evanwindom FYI

[2018-08-09 22:28] TerryGLee commented on #1033
We've fixed this by deleting the broken link as there was no viable replacement.

[2018-08-09 22:28] #1033 closed

[2018-08-09 22:30] #795 closed

[2018-08-09 23:39] gewarren commented on #1164
@OliaG Can you review this new topic please? https://review.docs.microsoft.com/en-us/dotnet/framework/winforms/disable-dpi-awareness-visual-studio?branch=pr-en-us-6921

[2018-08-10 21:48] kvarkel opened #1375 "Not available on Windows 7"
The documentation should clearly state what the requirements are to run this. This feature is not available on Windows 7 (still used by much of corporate America ).  Windows 7 users see the message "CPU Profiling while debugging is not available on this version of Windows".
See https://developercommunity.visualstudio.com/content/problem/172052/diagnostic-tools-cpu-usage-doesnt-support-in-windo.htm

[2018-08-10 21:51] Mikejo5000 commented on #1375
Thank you for reporting this. I'll update the docs.

[2018-08-11 00:14] gewarren commented on #1366
@StevenTCramer Is it okay to close this issue now?

[2018-08-11 03:17] #1366 closed

[2018-08-11 14:16] 3121084329 commented on #1094
不懂

[2018-08-11 18:42] redoced commented on #1143
@Mikejo5000 you fixed it by removing it, but I think it's supposed to be
"(that is, the time spent in Arrange, Measure, ApplyTemplate, ArrangeOverride, and MeasureOverride)"

[2018-08-11 20:51] TerryGLee commented on #1094
@3121084329 谢谢你的反馈。请问, 你能提供更多的信息, 你不明白, 以便我们可以帮助？
(Thanks for your feedback. Please, can you provide more information about what you do not understand so that we can help?)

[2018-08-12 03:32] jrhawley commented on #1275
I have the same issue. I'd like to move the "Shared Components" location to a different hard drive, but it's just greyed out and I can't change it, without uninstalling/reinstalling Visual Studio entirely

[2018-08-12 04:33] Babster opened #1377 "Two additions - Build apps with native UI using Xamarin in Visual Studio"
Maybe it's worth to add information which can be useful for beginners
1. When you add NuGet packages to your solution, some errors appears across code within the projects' code. For example, LoadApplication(new App()); - Couldn't find App(). Building process returned success, but for novice developers (me) it was a serious issue. After IDE restart all errors disappeared
2. The main issue was: I us

[2018-08-12 09:37] ingconti commented on #1315
finely I did succeed.
Anyway for "future memory":

1) suggestion using "passive" works fine in windows 2012/2016 server
2) does not work in windows 7 64 workstation
3) Microsoft official docs is wrong... as does not say about passive
4) fro MFC (what i needed..) remember to add:
     --add Microsoft.VisualStudio.Component.VC.ATLMFC
5) even if I specified --addProductLang en-US , I can see a LOT of

[2018-08-13 03:39] olegburov commented on #1311
I'm getting the same exception when publishing to Azure Container Registry or Web App for Containers using both VS `15.7.6` or `15.8.0 Preview-5` Community Edition:

![exception](https://user-images.githubusercontent.com/2487951/44011755-318f0664-9e6f-11e8-81d0-56b6ee9495e7.PNG)

**File tmpDF4C.tmp:**
[code]
![docker](https://user-images.githubusercontent.com/2487951/44011778-639ee3ae-9e6f-11e8-9a

[2018-08-13 13:54] MrFojo commented on #1068
Ok. I will definitely try that

[2018-08-13 16:42] Infraton11 opened #1378 "Exception one"
customize a single storage device on xbox one using linux

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6c50729d-6836-feee-b306-cfab96b36d17
* Version Independent ID: afec4f9e-ac95-d414-62d7-c6a654721f5b
* Content: [Find and use Visual Studio extensions - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/id

[2018-08-13 17:47] #1375 closed

[2018-08-13 18:16] godefroi opened #1379 ".NET Core 2.1"
When will .NET Core 2.1 be available? .NET Core 2.0 will EOL in October, and 2.1 is not yet available in the build tools. Alternatively, how can I install the 2.1 SDK after the build tools are installed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e062363-94e9-f776-650f-a0723ab713a3
* Version Independent ID: 9181db

[2018-08-13 18:47] gewarren commented on #1377
@Babster Thanks for leaving this feedback. Can you let us know which article/tutorial this is in regards to so we can address it?

[2018-08-13 18:48] gewarren commented on #1378
@Infraton11 Can you provide some more details about your issue or request?

[2018-08-13 21:42] Mikejo5000 commented on #1143
@redoced Thanks! I'm making the fix.

[2018-08-14 03:52] Babster commented on #1377
Sure! It's about this tutorial:
https://msdn.microsoft.com/en-us/library/dn879698.aspx

[2018-08-14 11:49] renemadsen commented on #1305
Any news about the correct way of setting up runsettings for .Net Core?

[2018-08-14 15:15] nolme opened #1381 "Clean up offline folder from previous"
When running offline download every month (to get one location up to date for VS2017), it seems keeping previous package versions (Win10SDK, Xamarin, PortableFacades... and much more than these 3 ones).
How can we purge old not used packages ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b2a7f87-7685-2618-9be0-f2286

[2018-08-14 16:45] gewarren commented on #1377
@charlespetzold Charles, can you take a look at these suggestions?

[2018-08-15 10:58] apawsey opened #1384 "Give more detail on what repair will do"
When you click Repair you are presented with a warning... "Repairing visual studio will reset the environment...". It would be much more useful to explain the implications of that process in detail, rather than simply telling me where to find the button.

For example, will I need to repair other installs (like component packages, resharper, code rush, etc).  What files might it delete or reset? Is

[2018-08-15 13:31] BhaaLseN opened #1385 "Layout Update for 15.8 with --clean or --remove does not seem to work properly"
When trying to run `vs_enterprise.exe --layout "path\to\layout" --clean "path\to\layout\Archive\f7b494e1-bbf4-4630-91de-28d0087b60bc\Catalog.json"` on the old layout I had created for 15.7, it just told me the following:
[code]

As workaround, I tried to run `vs_enterprise.exe --layout "path\to\layout" --remove Microsoft.Net.Component.4.7.2.SDK` to get it out, try the `--clean` again and add it ba

[2018-08-15 17:54] gewarren commented on #1377
@Babster The MSDN topic has been revised at https://docs.microsoft.com/en-us/visualstudio/cross-platform/build-apps-with-native-ui-using-xamarin-in-visual-studio. You were probably seeing errors in your project because the MSDN topic is out of date. Sorry for the inconvenience this caused you. I'm closing the issue, but if you feel the newer topic needs to be updated, please comment and I'll reope

[2018-08-15 17:54] #1377 closed

[2018-08-15 18:19] Shawn1874 opened #1386 "Videos on Coded UI test walk through page cannot be played"
The issue is on the following page.
https://docs.microsoft.com/en-us/visualstudio/test/walkthrough-creating-editing-and-maintaining-a-coded-ui-test

The video links do not work.  Clicking the link results in "HTTP Error 503. The service is unavailable."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 449c8c80-5302-0d8b-

[2018-08-15 18:27] gewarren commented on #1386
@Shawn1874 Thanks for reporting this. Are you able to to access this link? It contains the videos that are linked to.

https://onedrive.live.com/?id=2DB0E1EFE1C1D3B8%21110&cid=2DB0E1EFE1C1D3B8

[2018-08-15 18:56] Dileep17 opened #1387 "Running unit tests as part of load test"
Below is mentioned as second line of this article.
"Load tests execute web performance or unit tests to simulate many users accessing a server at the same time."

I tried to find a tutorial on how to run unit tests as part of load tests (visual studio 2017). It would be of great help if you can provide/add an article on how to run unit tests as part of load test.

Reason I ask is, all the article

[2018-08-15 19:32] breyed opened #1388 "Incorrect callout format"
The callout "Because Source Link will download files using http or https, make sure you trust the .pdb file." is formatted as source code rather than as a callout.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c524aa1d-eec4-d776-8346-dfdc632eec76
* Version Independent ID: c0f65c4f-6369-10ce-5edc-0ab5fbae736a
* Content

[2018-08-15 19:38] Axemagus commented on #1293
Can this be reopened?  The 5.8 patch hit this morning, but but VSTU patch notes are still only up to 3.7.

[2018-08-15 22:56] Shawn1874 commented on #1386
Yes, thank you.

[2018-08-15 23:57] Shawn1874 opened #1389 "Types in Step 4.2"
The first two lines of coded are concatenated.   A carriage return after the first semi-colon would be helpful.  UIItemWindow21 needs to be changed to UIItemWindow2.  UIItem2TextDisplayText needs changed to UIItem3TextDisplayText .  If I follow all of the instructions exactly, the code won't compile in step 4.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2018-08-16 00:00] Shawn1874 opened #1390 "Q&A not detailed enough"
It would be nice to see an example or a link to where I can find an example data.xml.  The answer to the one question doesn't show an example of what data source files would look like.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c67f0f36-9638-5022-d856-721441de8892
* Version Independent ID: 389b1847-55a8-c97a-a562-1

[2018-08-16 06:01] gewarren commented on #1389
@Shawn1874 Thanks for the feedback on these issues in the topic. I'll add this to our backlog of things to fix.

[2018-08-16 06:03] gewarren commented on #1388
@breyed Thanks for pointing this out. BTW there's an Edit button near the top right of each Visual Studio topic if you ever want to fix things like this yourself.

[2018-08-16 06:38] LooWooL opened #1391 "Silverlight Project Support in VS2017"
It's really annoying that you don't support Silver-light projects in VS2017. You created this tech, and you dropped support for it. We depend on it, and we're forced to use an old version of VS to maintain it. This is irresponsible from your part towards developers that been working with your tools from the start for years and decades.
You should work on an extension that would support such projec

[2018-08-16 08:55] shadow-cs opened #1392 "Parentheses can be removed (IDE0047) false-positives"
Following code produces false-positive when `dotnet_style_parentheses_in_relational_binary_operators` is set to `always_for_clarity`.

[code]

Since the rule is set to always for clarity, my assumption is that the code is indeed fine as-is.

I understand that the analyzer cannot always guess the parenthesis right in these situations and should ignore the statement rather than producing the message

[2018-08-16 10:33] user2301 commented on #899
I also have the same issue "The system cannot find the path specified". So, I used the dockerfile mentioned in this link https://docs.microsoft.com/en-us/visualstudio/install/advanced-build-tools-container . When I build the docker image on Windows Server 2016, I get the following error:

[code]

[2018-08-16 11:29] user2301 commented on #899
@nojaf Hey what were the actual logs for "The system cannot find the path specified" issue?

[2018-08-16 11:47] nojaf commented on #899
I'm sorry I don't have those files anymore. I think there was a problem installing a specific component of Visual Studio.

[2018-08-16 13:14] jeffkotula opened #1393 "This doesn't actually work"
When selecting code analysis for solution through the Build or Tools menu, all projects are analyzed regardless of the check box on each project.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 573429a4-7c2d-5ede-9c34-934cc26a4045
* Version Independent ID: 351b628e-ff1c-7a64-0c46-74887a97cd0d
* Content: [How to: Enable

[2018-08-16 15:51] BhaaLseN commented on #1392
This sounds like it belongs to [dotnet/roslyn](https://github.com/dotnet/roslyn/issues) instead, as bug in the analyzer (rather than a documentation issue).

[2018-08-16 16:36] nickpainter opened #1394 "Clarification on the "Renewable" column"
Can you clarify if the "Renewable" column of the eligibility table indicates the number of times that the resource can be used within each one month period?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2f79453c-3962-2f0c-5b99-4fbde91972f8
* Version Independent ID: c845c29e-dfd7-316e-81b2-ebe288a384c1
* Content: [Tech

[2018-08-16 16:44] evanwindom commented on #1394
@nickpainter  - Thanks for your question.  The "renewable" indicates whether the benefit renews if the subscription is renewed.  For the technical support benefit, the number of incidents provided depends on the subscription level.  The incidents can be used at any time during the term of the subscription, but if they are used, they are not replaced until the subscription is renewed.  So, for exam

[2018-08-16 17:29] gewarren commented on #1391
@LooWooL Thanks for this feedback. Since your feedback is not about the documentation, you'll get more traction if you file a new report through [Report a Problem](https://docs.microsoft.com/en-us/visualstudio/ide/how-to-report-a-problem-with-visual-studio-2017) in Visual Studio. There could also be an existing issue that you could upvote instead.

[2018-08-16 17:32] gewarren commented on #1392
@shadow-cs I agree with @BhaaLseN this is not a documentation issue, and should be logged at https://github.com/dotnet/roslyn/issues instead.

[2018-08-16 17:38] gewarren commented on #1393
@jeffkotula It sounds like you probably have Roslyn analyzers installed, and that's what's producing the warnings at build time. The "Enable code analysis on build" checkbox doesn't have any effect on Roslyn analyzers - see the blue note box in this section https://docs.microsoft.com/en-us/visualstudio/code-quality/roslyn-analyzers-overview#roslyn-analyzers-vs-static-code-analysis. If you want to

[2018-08-16 18:29] pjmagee opened #1395 "Code metrics - command line alternative?"
Is there a way to calculate these without having to interact or use Visual Studio, so that it can be automated or used somehow as part of a build CI?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6b417a6f-2527-9ec4-7e00-a0ce8e55f997
* Version Independent ID: d250f719-b8d7-7b03-d883-968e0b961d49
* Content: [Calculate c

[2018-08-16 18:33] grantborthwick opened #1396 "Further Directory.Build.props/targets inclusion can be made more generic"
The current article recommends including the following Import to include subsequent Directory.Build.props files in your project's directory tree.
&lt;Import Project="$([MSBuild]::GetPathOfFileAbove('Directory.Build.props', '$(MSBuildThisFileDirectory)../'))" /&gt;

This can be made more generic to work for both Directory.Build.props and Directory.Build.targets
&lt;Import Project="$([MSBuild]::GetP

[2018-08-16 19:48] dparvin opened #1399 "Synchronized settings changed in VS 15.8"
It looks like this page has changed in VS 15.8 to the Accounts page. An addition of a new checkbox has also been added to the page and the page in VS 15.8 sends you here when you press F1, which means there might be a change to VS that needs to point to a new page if you make one.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2018-08-16 20:59] shadow-cs commented on #1392
Thanks I'll move it to Roslyn repo then, I wasn't quite clear on where to post it actually.

[2018-08-16 20:59] gewarren commented on #1395
@mavasani Manish, do you know if code metrics can be obtained at the command line?

[2018-08-16 21:01] gewarren commented on #1399
@dparvin Thank you David! I'll update this as time permits.

[2018-08-16 21:30] mavasani commented on #1395
Yes, we added support for both the following:

1. Metrics.exe tool to generate a metrics report file from command line
2. Code metrics analyzer rules that flag warnings when your code metrics go above the configured or default threshold values.

See the `UPDATE` sections in https://visualstudio.uservoice.com/forums/121579-visual-studio-ide/suggestions/33459643--netcore-code-metrics for details. @g

[2018-08-17 07:28] r3m0t commented on #706
This may be useful https://github.com/Microsoft/PTVS/blob/7f63190f02a7d3960851645a7ae592927b55b351/Common/Product/SharedProject/Wpf/Controls.xaml

[2018-08-17 07:29] KamarasV opened #1400 "Modifier not working correctly"
I have specified these two rules because I want the static fields to start with s_ and the other fields to start with m_

dotnet_naming_rule.rule1.symbols                      = rule1_symbol
dotnet_naming_rule.rule1.style                                           = rule1_style
dotnet_naming_rule.rule1.severity                                      = error
dotnet_naming_symbols.rule1_symbol.applicab

[2018-08-17 07:30] KamarasV opened #1401 "Modifier problem"
I have specified these two rules because I want the static fields to start with s_ and the other fields to start with m_

dotnet_naming_rule.rule1.symbols                      = rule1_symbol
dotnet_naming_rule.rule1.style                                           = rule1_style
dotnet_naming_rule.rule1.severity                                      = error
dotnet_naming_symbols.rule1_symbol.applicab